[2021-02-18 14:22] #4855 closed

[2021-02-18 15:45] #4102 closed

[2021-02-19 13:45] brminich commented on #6328
@rlgraham32, can we close it?

[2021-02-19 13:55] rlgraham32 commented on #6328
yes

From: Mikhail Brinskiy <notifications@github.com>
Sent: Friday, February 19, 2021 8:46 AM
To: openucx/ucx <ucx@noreply.github.com>
Cc: Richard Graham <richgraham@nvidia.com>; Mention <mention@noreply.github.com>
Subject: Re: [openucx/ucx] Segfault when using AM with alltallv algorithm (#6328)

@rlgraham32<https://github.com/rlgraham32>, can we close it?

—
You are receiving this because you w

[2021-02-19 14:04] haipeng31 opened #6370 "A few questions about ucp_tag_send_nb"
1. does I need to register the buffer(secod argument of ucp_tag_send_nb ) before I invoke ucp_tag_send_nb, if not, Is ucx do it for me?
2. If I invoke two upc_tag_send_nb on same ep one by one，Will these two send requests will be completed in the invoke order？Does it matter with whether I use RC or not?
3. if the message is large, ucx will use rdnv mode, this will lead to larger latency because it

[2021-02-19 14:08] yosefe commented on #6370
1. No, ucx will do it internally
2. They may be completed in a different order, but will be matched in the same order on receiver
3. yes, for large messages the latency of the control message is outweighed by the benefit of using zero-copy on the receiver

[2021-02-19 16:13] shamisp commented on #6370
adding to 3. We measure end to end (memory to memory latency). With RNDV you send additional messages on wire but avoid memory copy. The latency of memory copy is >> wire latency for the large messages. As a result RNDV protocol has better latency even with multiple messages on the wire.

[2021-02-20 03:56] haipeng31 commented on #6370
@shamisp
1. Does the extra memory copy you mean is come from send/receive mode compared to rdma write(send/receive mode has one more memory copy than rdma write on the receive side)，and is there any article give the concrete performance data?
2. if message size larger than zcopy_thresh, ucp will use zcopy rather than bcopy，The difference between bcopy and zcopy is that bcopy copy the data to a pre

[2021-02-20 06:58] dmitrygx opened #6377 "IO demo failed on sputnik1/sputnik2: completion with error"
[code]
https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=13829&view=logs&j=7b3f24ed-c9de-5cb6-fc71-0c2d50562947&t=7d1a39c0-d225-5e87-9bac-6f47001ee32a

[2021-02-20 07:45] haipeng31 commented on #6370
@yosefe for the second question, I see in RoceV2 wiki：
the RoCEv2 specification requires that packets with the same UDP source port and the same destination address must not be reordered

Which say packet order will be same with send order, but ucx ucp_tag_send_nb may be completed in different order, is this because a ucp_tag_send_nb may be implemented with multiple low level sends in hardware(for

[2021-02-20 10:40] brminich opened #6379 "udx/test_ucp_sockaddr_protocols.put_bcopy_small/0 fails on swx-rdmz-ucx-new-02"
### Describe the bug
[code]

[2021-02-20 12:23] yosefe commented on #6370
Yes, that is right

[2021-02-20 15:00] shamisp commented on #6370
1. Depends on you system. You actually can run ucx_perftest and measure the tradeoffs (BW/LAT) for various message sizes and protocols. There are tons of publications from MPI community in this space, for example:
 *  http://nbcl.cse.ohio-state.edu/static/media/publications/abstract/koop-ipdps08.pdf
2. There are many tradeoff in these protocols that we consider. bcopy has extra memory copy but it

[2021-02-20 19:43] petro-rudenko opened #6383 "Segfault on empty memhanlde in gdr_copy"
### Describe the bug
If buffer was allocated with (ucp_mem_map + mem_type CUDA) and `param.memory_type` is set for ucp operation.

### Steps to Reproduce
See #6382

[2021-02-21 20:22] vchuravy opened #6387 "Building UCX 1.10-rc4 with `-Werror` fails due to unused-function"
[code]

[code]

[2021-02-21 20:24] vchuravy commented on #6387
Mistake on my side. Needed to run `./autoconfig` again.

[2021-02-21 20:24] #6387 closed

[2021-02-22 08:39] haipeng31 commented on #6370
@shamisp thanks for your reply。
another question, if created endpoint is rc, and i invoke ucp_tag_send_nb to send a message, however, the data I just send may be received by not the corresponding endpoint(If i sent tag to 0, and receive request with tag 0)，why It's designed like this?

[2021-02-22 08:53] yosefe commented on #6370
@haipeng31 the tag matching semantics are designed according to [MPI specification](https://www.mpi-forum.org/docs/mpi-3.1/mpi31-report.pdf)
According to UCX semantics, the receive is per worker (not per endpoint), and the receiver tag/mask has to match the sender tag. As long as it doesn't match, the received message will be queued internally.

[2021-02-22 09:06] haipeng31 commented on #6370
I got it, thanks a lot.

[2021-02-22 09:06] #6370 closed

[2021-02-22 18:10] pentschev commented on #3192
This has been resolved in https://github.com/openucx/ucx/pull/5815 and https://github.com/openucx/ucx/pull/6360, and has been backported to 1.10 in https://github.com/openucx/ucx/pull/6364 . Alternatively, CUDA 11.2+ fixes this issue without any changes to UCX being required.

[2021-02-24 02:13] vchuravy opened #6394 "First AM with TLS posix get's dropped on 1.10-rc4"
### Describe the bug
The first active message that is send with `UCP_AM_SEND_FLAG_REPLY` after wireup is dropped.

I am sending active messages with `UCP_AM_SEND_FLAG_REPLY` using UCX 1.10-rc4 and I observe the following:

[code]
The full log is attached here: https://gist.github.com/vchuravy/bcffcc5a9d6e5b2af9ca6284ce0df797

Subsequent messages are received.

### Steps to Reproduce
- Command line

[2021-02-24 18:20] yosefe commented on #6394
@brminich IMO the issue is that we send short with reply ep message from ucp_am_try_send_short() before doing ucp_ep_resolve_remote_id(). should be easy to reproduce in a gtest which sends short-with-reply over mm transport.

[2021-02-24 18:31] brminich commented on #6394
no, we have such gtest
https://github.com/openucx/ucx/blob/master/src/ucp/core/ucp_am.c#L531

[2021-02-24 18:34] yosefe commented on #6394
it happens before taking proto:
https://github.com/openucx/ucx/blob/master/src/ucp/core/ucp_am.c#L927

[2021-02-24 18:39] brminich commented on #6394
reply proto uses this func https://github.com/openucx/ucx/blob/master/src/ucp/core/ucp_am.c#L930
resolving id is inside

[2021-02-24 18:41] yosefe commented on #6394
ohh the problem is you take am_ep before calling resolve id..

[2021-02-24 18:49] brminich commented on #6394
yeah and the tests are not initializing ep error handling

[2021-02-24 20:21] #6304 closed

[2021-02-24 23:30] vchuravy opened #6402 "CMA ignores memory type of active message buffer"
### Describe the bug

With `UCX_TLS=all UCX_MEMTYPE_CACHE=n` sending an active message with a CUDA allocation as a buffer, I receive a bad address error on the receiving side. Both processes are running on the same machine.

[code]
The message size is 49152bytes and setting `UCX_TLS=ib,self` works.

### Steps to Reproduce
- Version: 1.10-rc4

Haven written a C-reproducer yet, I can work on that if

[2021-02-24 23:40] vchuravy commented on #6402
I should add that initially I didn't set `memory_type` in the `ucp_request_param_t`. I am still seeing issue even with `memory_type` set.
One question that arose for me was in the active message handler callback, is the buffer pointer always in host memory? (ignoring RNDV). If not could we add memory_type to the param set?

[2021-02-25 05:16] brminich commented on #6402
the buffer pointer in active message callback is always in host memory

[2021-02-25 05:18] #6394 closed

[2021-02-25 08:03] brminich commented on #6402
@vchuravy, v1.10 does not support using CUDA memory with UCP AM, please see `ucp_am_send_nbx` description
https://github.com/openucx/ucx/blob/v1.10.x/src/ucp/api/ucp.h#L2758

[2021-02-25 13:43] vchuravy commented on #6402
@brminich thanks for pointing that out! I must have only checked the docs on master.

[2021-02-25 14:19] vchuravy commented on #6402
Can confirm `UCX_TLS=all` works on master.

[2021-02-25 14:19] #6402 closed

[2021-02-26 09:44] mkre commented on #6327
@bureddy, did you have a chance to look at my latest comment?

[2021-02-26 20:43] krakowski opened #6406 "Reading Memory Domain config fails with Project Panama Java bindings"
### Describe the bug

I use Oracle's [Project Panama](https://github.com/openjdk/panama-foreign) (which will replace JNI in the near feature) to generate Java bindings for ucp. Everything works pretty well until I try to switch to InfiniBand hardware (ConnectX-5). The weird thing I notice while running `ucp_init` from Java (in fact, I use `ucp_init_version` since `ucp_init` is inline and therefore

[2021-02-26 20:49] yosefe commented on #6406
@krakowski can you trace whether ucs_config_sscanf_time() function is being called to parse the '0.06ns' value? and if yes, on which line it fails?

[2021-02-26 21:03] krakowski commented on #6406
Don't really know how to do this at the moment (since this is running in the JVM), but I will try to find out and report back! :slightly_smiling_face:

[2021-02-26 21:45] krakowski commented on #6406
@yosefe Does [`ucs_config_sscanf_time`](https://github.com/openucx/ucx/blob/01a08661bd8dcfe921afd25c16d7e25d90639599/src/ucs/config/parser.c#L415-L446) return `1` on success? If so, it doesn't seem to fail in my case. `rax` contains `1` on return.

![gdb](https://i.imgur.com/1lIhAVW.png)

[2021-02-26 21:48] yosefe commented on #6406
@krakowski ucs_config_sscanf_time returns 1 on success. but it can be called several times. does it return 1 when the error shows up?
can you pls set UCX_LOG_LEVEL_TRIGGER=error and UCX_HANDLE_ERRORS=freeze env vars?
it would freeze the program when parser error happened, on `ucs_error("Invalid value for %s:...`
then, need to attach with gdb and print `*field`

[2021-02-26 22:02] krakowski commented on #6406
@yosefe Yes, you are right. This was probably one of the other Memory Domains being processed.

I tried your suggestion which is working until the point when gdb attaches. After this I am stuck inside `ucs_debug_freeze` and can't seem to print `*field` (`No symbol "field" in current context.`). I think this is caused because I don't have debug symbols?

![gdb](https://i.imgur.com/OYOU7zI.png)

[2021-02-26 22:05] yosefe commented on #6406
@krakowski need to to "thread apply all bt" and go to the thread which is calling ucs_config_parser_parse_field , and then go to relevant frame number by "frame N" (typically N would be 7 or so). The stack trace you've posted is from another Java thread which is also being stopped.

[2021-02-26 22:14] krakowski commented on #6406
@yosefe Sorry, haven't used gdb in a while :smile:

![gdb](https://i.imgur.com/MhJwGTn.png)

Unfortunately, I still can't print the parameter.

[2021-02-26 22:24] yosefe commented on #6406
no debug symbols :(
i'd suggest rebuilding UCX SRC RPM from https://github.com/openucx/ucx/releases/tag/v1.9.0 ("Assets" section) and reinstalling it. And installing also the "-debuginfo" RPM.

[2021-02-26 23:27] krakowski commented on #6406
I will get the debug symbols tomorrow and report back. Thanks for bearing with me! :)

[2021-02-27 00:31] bureddy commented on #6327
@mkre you need to install MOFED and GPUDirectRDMA plugin to enable GPUDirectRDMA.
I think can you smooth the default curve with UCX_RNDV_THRESH=64k.
default and  UCX_RNDV_SCHEME=get_zcopy are using different protocols here.   with get_zcopy, it is using small message fragmentation and gdr_copy is helping in this protocol.  the results should be worse if you remove gdr_copy with get_zocopy.

[2021-02-27 10:27] krakowski commented on #6406
Got the debug symbols :)

![gdb](https://i.imgur.com/yAlWaf4.png)

I also set a breakpoint inside `ucs_config_sscanf_time` when `0.06ns` is parsed. The weird thing here is, that after the call to `sscanf` the variable `units` seems to have a wrong value.

[code]

This is the state before calling `sscanf` whit `units` still having the old (correct) value.

![gdb](https://i.imgur.com/5SmHUgu.png)

A

[2021-02-27 11:38] krakowski commented on #6406
@yosefe Someone at the Project Panama mailing list pointed me in the right direction.

Seems this is caused by a wrong locale setting (when running from Java). Changing the system's locale to English solved the problem... Sorry for taking your time with such a stupid error :smile:

[2021-02-27 11:38] #6406 closed

[2021-02-28 11:18] yosefe commented on #6406
great, thanks for the update!

[2021-02-28 21:34] dmitrygx opened #6414 "rc/test_ucp_am_nbx.zero_send/0 fails on vulcan"
local protection error reproduced when running the following test on vulcan nodes:
[code]
started failing after #6308

[2021-03-01 05:32] #6414 closed

[2021-03-01 10:09] mkre commented on #6327
Okay, thanks. I'll try that.

That's correct, but it still declines for large messages:
![foo](https://user-images.githubusercontent.com/15332907/109481798-807b5880-7a7d-11eb-8976-b27605395b3d.png)

But maybe this is the trade-off in terms of bandwidth/latency and eager/rendezvous protocol we have to live with. I'll try again with MOFED and GPUDirectRDMA installed, maybe we are getting overall bet

[2021-03-01 17:29] SeyedMir opened #6420 "UCX ibv_fork_init() causes libfabric to fail in Open MPI"
### Describe the bug
When Open MPI is built with both UCX and OFI, it tries to load UCX PML and if UCX ends up not being used (because it did not load successfully, or because of priority), it causes libfabric (and hence CM PML) to fail too. This is because UCX makes a call to `ibv_fork_init()` https://github.com/openucx/ucx/blob/9c0104ec9a9863b863aa441690a8a935d7abb8a1/src/uct/ib/base/ib_md.c#L15

[2021-03-01 17:32] yosefe commented on #6420
why ibv_fork_init() is bad for EFA?

[2021-03-01 17:35] yosefe commented on #6420
According to https://github.com/ofiwg/libfabric/issues/6332, this seems more of a limitation of libfabric EFA provider, rather than incorrect behavior in UCX

[2021-03-01 18:18] bureddy commented on #6327
with MOFED, you will able to use the IB transport also for intra-node transports and GPUDirectRDMA.
I think it is most likely CPU LLC cache misses is the reason for drop in large messages

[2021-03-01 18:20] SeyedMir commented on #6420
@rajachan

[2021-03-01 18:50] rajachan commented on #6420
The limitation with the EFA provider is that it can not support MPI applications that also require fork support today. As for this issue itself, the UCX PML is initializing fork support even when it is not the chosen PML, so it is leaving state around that impacts another PML.  Any reason why `ibv_fork_init()` can not be called after a particular transport has been chosen successfully? In the OMPI

[2021-03-01 18:59] rajachan commented on #6420
From a quick read of the code, `uct_ib_md_open()` gets a list of RDMA devices with `ibv_get_device_list()`. It goes on to call `ibv_fork_init()` unless `UCX_IB_FORK_INIT=n` configuration is set. Then, for each device, it tries to open the device through one of the many underlying transports in UCX. `uct_ib_verbs_md_open()` does think it can talk to EFA with RC semantics and opens the device. Furth

[2021-03-01 19:03] yosefe commented on #6420
ibv_fork_init() has to be called before any other Verbs call which may trigger memory registration https://github.com/linux-rdma/rdma-core/blob/master/libibverbs/memory.c#L711
So, in order to check for UCX support, OpenMPI first need to initialize UCX, which includes calls to QP create, which also calls `ibv_donfork_range`.

adding @jgunthorpe
From rdma-core Verbs API perspective, it should be leg

[2021-03-01 20:00] pentschev opened #6424 "Build failure on `uct_ib_log_dump_sg_list`"
### Describe the bug
Build fails:

[code]

It seems that this was introduced today and the parameter `data_dump_sge` is missing in the call to `uct_ib_log_dump_sg_list` above.

### Steps to Reproduce
- `../contrib/configure-devel --with-valgrind=no && make -j`
- master branch on https://github.com/openucx/ucx/commit/ad463435c014f18e98be04e2f4d54f27d15cf0f8

### Setup and versions
- OFED 4.7-3.2.9

[2021-03-01 20:09] SeyedMir commented on #6420
This is what we use to decide whether RC is supported or not:
https://github.com/openucx/ucx/blob/ad463435c014f18e98be04e2f4d54f27d15cf0f8/src/uct/ib/rc/verbs/rc_verbs_iface.c#L494
if `ib_md->config.eth_pause` is set, then we don't check for port link layer type and assume RC is supported.
`eth_pause` is enabled by default through `UCX_IB_ETH_PAUSE_ON=y`

[code]

[2021-03-01 20:19] yosefe commented on #6420
UCX_IB_ETH_PAUSE_ON is no longer relevant and should be removed.

On other hand, we check if DC is supported by creating a DCT QP, which requires creating a CQ, which allocates a doorbell record page, which calls ibv_dontfork_range(). [ in uct_ib_mlx5dv_check_dc() ]

AFAIK the safe way is to call ibv_fork_init() before any other verbs function.

[2021-03-01 20:24] abellina opened #6426 "CUDA 11.0 support for 1.10.0"
UCX 1.10 RC5 currently publishes .deb and .rpm for: cuda 10.0, cuda 10.2, and cuda 11.1.

Could we publish the .deb and .rpm for cuda 11.0 and for 11.2? If the matrix is getting too large, I believe that cuda 11.1 can be removed from the list.

[2021-03-02 00:26] jgunthorpe commented on #6420
@yosefe doesn't look like an rdma-core issue, EFA provider looks like it will work with fork support, or at least it doesn't abort. The abort is coming from libfabric and I Gal once told me that is because the libfabric mr cacher is incompatible with EFA and fork support or something.

[2021-03-02 04:38] rajachan commented on #6420
Jason is mostly right, in that it has to do with EFA's use of a registration cache in libfabric. However, to prevent silent data corruption, the [libfabric EFA provider detects](https://github.com/ofiwg/libfabric/blob/fb06ca77ce4fe397890abb33d36f4d6a1fbcc070/prov/efa/src/efa_domain.c#L302) if ibv_fork_init() has been called and aborts with the error @SeyedMir posted under certain conditions. This

[2021-03-02 07:12] avildema opened #6430 "[mtt] UCX ERROR cannot add am_bw lane - reached limit (6)"
Configuration
[code]
 
MTT log:
http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20210302_033900_23185_27670_vulcan02.swx.labs.mlnx/html/test_stdout_U4gxCF.txt
 
Cmd:
`/hpc/local/benchmarks/daily/next/2021-03-02/hpcx-gcc-redhat7.6/ompi/bin/mpirun -np 48 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV,

[2021-03-02 07:20] brminich commented on #6430
`-x UCX_MAX_EAGER_LANES=4 -x UCX_MAX_RNDV_LANES=4`  are not supposed to work with `UCX_IB_NUM_PATHS=4`

[2021-03-02 07:30] avildema commented on #6430
before it works fine

[2021-03-02 13:44] #6424 closed

[2021-03-03 12:19] avildema opened #6437 "[mtt] hang on intel test"
Configuration
[code]
comment:

With `-mca coll ^hcoll`  hang too

 
MTT log:
http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/hcol/20210302_180630_80029_27834_jazz03.swx.labs.mlnx/html/test_stdout_ZEbwKK.txt
 
Cmd:
`/hpc/local/benchmarks/daily/next/2021-03-02/hpcx-gcc-redhat7.6/ompi/bin/mpirun -np 60 --display-map --bind-to socket --map-by node -mca op '^avx' -mca pml ucx -mca btl self -m

[2021-03-03 12:31] dmitrygx commented on #6437
not sure that this is related to UCX

[2021-03-03 19:59] krakowski opened #6439 "Potential memory leak coming from ucs_mpool_hugetlb_malloc during ucp_atomic_op_nbx"
### Describe the bug

I use Oracle's [Project Panama](https://github.com/openjdk/panama-foreign) (which will replace JNI in the near feature) to generate Java bindings for ucp. Right now I am in the process of benchmarking my implementation using [JMH](https://github.com/openjdk/jmh). Sending messages using `ucp_tag_send_nbx` and `ucp_stream_send_nbx` as well as accessing remote memory using `ucp_

[2021-03-03 20:09] yosefe commented on #6439
@krakowski is it possible there are many unexpected tagged messages which are not being received?
it's possible to heck this by probing with tag_mask=0 : call it repeatedly drain the unexpected queue.

[2021-03-03 20:10] yosefe commented on #6439
Also, it is possible some send/recv requests are not being released?
Is there any warning about leaked objects during ucp_worker_destroy()?

[2021-03-03 20:23] krakowski commented on #6439
Hi @yosefe,

Running the benchmark for a short amount of time works and no warnings about leaked resources are logged. Before running the benchmark I exchange some messages for setting up the environment and synchronization, but everything runs in a single thread, so these calls should not be reached a second time once setup (connection establishment and exchange of remote keys) is finished.

Does

[2021-03-03 20:26] yosefe commented on #6439
ucp_atomic_op_nbx does not send a tagged message..
can you double check that request_free is actually called the expected # of times?
another way - build ucx with debug mode (./contrib/configure-devel) and upload log file with UCX_LOG_LEVEL=data. Then we can see the lifetime of all objects and why they are not destroyed.

[2021-03-03 20:33] krakowski commented on #6439
Just checked this. The pointers I get from `ucp_atomic_op_nbx` are all `UCS_OK` (null pointers). From what I read this means that the request finished immediately. Do I have to call `ucp_request_free` on them, too? At the moment I check if the returned value/pointer is within the range of a status and only call `ucp_request_free` on it if it isn't.

[2021-03-03 20:43] yosefe commented on #6439
I think the issue is that too many requests are being queued internally.
Will try to provide a fix for it which will create some backpressure (so at some point, will return a request instead of UCS_OK)

[2021-03-03 20:54] krakowski commented on #6439
I can check this by waiting some amount of time between calls to `ucp_atomic_op_nbx` and see if the memory consumption reduces. Will report my results soon.

Do you still need the log output with debug mode? I could try to build the RPM packages in debug mode and run my benchmark with `UCX_LOG_LEVEL=data`.

[2021-03-03 20:56] yosefe commented on #6439
No need for now.
As another experiment, i'd suggest to try a blocking {ucp_ep_flush_nbx+poll_wait} every 1k iterations or so.

[2021-03-03 21:15] krakowski commented on #6439
@yosefe Your suggestion is working! :)

Calling `ucp_ep_flush_nbx` and waiting for it to complete after every 1000 invocations of `ucp_atomic_op_nbx` keeps the memory consumption steady. I also got better performance results (`~0.95 us` per atomic add) presumably by preventing new memory allocations.

Since I am already talking to someone knowing how ucx works I would like to ask another off-topic

[2021-03-04 14:59] shamisp commented on #6439
Writes completed locally the moment the user data is copied to the device or local bouncing buffer. For read to be completed (aka data delivered to the user) you have to wait for a full roundtrip.

[2021-03-04 15:07] #4988 closed

[2021-03-04 19:22] krakowski commented on #6439
@shamisp Thanks for the explanation! :)

I already thought something along those lines. Is it then somehow possible to measure write latency at the initiators side without adding extra overhead? Since the receiver is not aware of the RDMA write, I can only think of polling the memory region for changes and sending a message back if a change is detected. Unfortunately, this would add some considera

[2021-03-04 19:46] shamisp commented on #6439
@krakowski We already have such test implemented (for both uct/ucp layers) in ucx_perftest. UCT/UCP put latency test measures half round trip latency using ping-pong protocol, which is similar to what you describe.

[2021-03-04 20:09] krakowski commented on #6439
@shamisp Thanks, I will take a look at it and try to port it. I should have mentioned that I am using a [custom Java binding for UCX](https://github.com/hhu-bsinfo/infinileap) which I want to benchmark. This is why I search for a way to reliably measure the latency :slightly_smiling_face:

[2021-03-04 20:17] shamisp commented on #6439
Adding @petro-rudenko who implemented the Java binding. Maybe he has some benchmarks to share.

[2021-03-05 10:22] evgeny-leksikov opened #6451 "tcp/test_uct_sockaddr.err_handle/1 </lo> failure"
[code]
full log https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/14198/logs/298
occurred here https://github.com/openucx/ucx/pull/6427

[2021-03-06 11:21] dmitrygx opened #6457 "JUCX test fails on CM flow"
[code]
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/14337/logs/238

[2021-03-08 09:24] alinask commented on #6451
Ran on the same host 8.5 hours in a row without reproduction.

[2021-03-08 18:31] angainor opened #6469 "[Q] impact of UCX_NUM_PPN on performance"
While testing our UCX-based code (HPCX 2.7) and comparing it to the OpenMPI equivalent, I ran into some performance trouble. I've observed that the performance characteristics of the code change a lot for different values of `UCX_NUM_PPN`. In the header file I read that this variable `does not affect semantics, only transport selection criteria and the resulting performance.`. Since in the test I

[2021-03-09 07:30] avildema opened #6471 "[mtt] ucx-emulation-tcp: tcp_ep 0x37b76c0 (state=CONNECTED): recv(42) faile"
Configuration
[code]
 
MTT log:
http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/shmem/20210305_043538_172128_28209_jazz05.swx.labs.mlnx/html/test_stdout_o_g4qM.txt
 
Cmd:
`/hpc/local/benchmarks/daily/next/2021-03-05/hpcx-gcc-redhat7.6/ompi/bin/oshrun -np 112 --display-map --bind-to core -mca oshmem_proc_group_cache_size 10000 -mca sshmem ucx -mca atomic ucx -mca coll '^hcoll' -mca coll_h

[2021-03-10 14:46] dmitrygx opened #6479 "dcx/test_ucp_tag_match.send_recv_nb_partial_exp_medium/0 <dc_x/req_int> failed on sputnik4 after ~24k iterations"
[code]

[2021-03-10 17:30] miharulidze opened #6481 "Segfault in OSU benchmark with rocm_copy transport"
In case of tcp+rocm_copy or IB (disabled GPUDirect RDMA)+rocm_copy transports, the OSU benchmark fails with segfault on large message sizes.

###  IB+rocm_copy, GPUDirect RDMA disabled explicitly
 `mpirun -x UCX_TLS=ib,rocm -x UCX_IB_GPU_DIRECT_RDMA=no --host host31:1,host32:1 --mca pml ucx --mca btl ^openib osu_bw -d rocm D D`
[code]
### TCP+rocm_copy
`mpirun -x UCX_TLS=tcp,rocm -x UCX_NET_DEVICE

[2021-03-11 02:48] nhanford commented on #6207
This appears to be related to Issue #4489.
A temporary workaround for ROCm is to insert `--without-gdrcopy` in your config line so that the `rocm_gdr` transport doesn't get built in the first place.

[2021-03-11 08:33] dmitrygx opened #6482 "dcx/test_ucp_tag_match.send_recv_nb_partial_exp_medium/0 failed with warning on sputnik4 after > ~40k iterations"
[code]

[2021-03-11 09:20] dmitrygx opened #6483 "dc_mlx5/test_uct_peer_failure.peer_failure/0 <dc_mlx5/mlx5_bond_0:1> failed on sputnik4"
[code]
reproduced failure under Valgrind
Link to job: https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=14545&view=logs&j=236c0f87-ab16-521a-c1ed-5c1de69d18b1&t=200488d8-65b0-585a-aa79-9bc40e33de21
Link to log: https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/14545/logs/266

[2021-03-11 13:31] evgeny-leksikov commented on #6203
Reproduced again in https://github.com/openucx/ucx/pull/6262
[code]
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/14541/logs/266

[2021-03-11 13:34] dmitrygx commented on #6203
@evgeny-leksikov it seems to fail with another status

[2021-03-11 13:39] evgeny-leksikov commented on #6203
Yep

[2021-03-11 15:57] yosefe opened #6486 "Return correct thread mode from ucp_worker_query in case of SERIALIZED"
ucp_worker_create(SERIALIZED), then worker_query - returns SINGLE.
Expected result: SERIALIZED.

[2021-03-15 00:02] quildtide opened #6493 "openucx.org/documentation/ should use latest available docs instead of using broken links"
As of March 14th 2021:

# Steps to reproduce problem
- Visit https://www.openucx.org/documentation/
- Scroll down to the Documentation section, (or use https://openucx.readthedocs.io/en/master/#documentation)
- Click on the HTML and/or the PDF links for the API Doc
- Enjoy a beautiful 404 error

# Cause
Users are routed towards documentation for v1.10, but documentation for v1.10 does not yet exis

[2021-03-15 03:54] jlinford commented on #6223
It's working with 1.10.0.  Thanks!

[2021-03-15 03:54] #6223 closed

[2021-03-15 07:18] avildema opened #6494 "[MTT] Assertion `uct_ib_unpack_uint24(ctl->conn_req.ep_addr.ep_id) == ep->dest_ep_id"
Configuration
[code]
 
MTT log:
http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/hcol/20210313_033902_23164_29270_vulcan02.swx.labs.mlnx/html/test_stdout_0SRXkJ.txt
 
Cmd:
`/hpc/local/benchmarks/daily/next/2021-03-13/hpcx-gcc-redhat7.6/ompi/bin/mpirun -np 40 --display-map --bind-to core --map-by node -mca op '^avx' -mca pml ucx -mca btl self -mca btl_openib_warn_default_gid_prefix 0 -mca

[2021-03-15 09:36] yosefe commented on #6493
@Thalassocracy thanks for the report. The issue happened after we released v1.10 version last week and didn't upload the docs for it, and is fixed now.

[2021-03-16 02:26] shamisp commented on #6493
Seems like this issue was resolved ?

[2021-03-16 05:12] #6493 closed

[2021-03-16 07:13] avildema opened #6499 "[mtt] UCX-MT segfault on mtt-tests.git/thread-tests/overlap"
Configuration
[code]
 
MTT log:
http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20210315_072548_189022_29427_jazz29.swx.labs.mlnx/html/test_stdout_ozn2mS.txt
 
Cmd:
`/hpc/local/benchmarks/daily/next/2021-03-15/hpcx-gcc-redhat7.6/ompi/bin/mpirun -np 56 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV,S

[2021-03-17 19:51] #6257 closed

[2021-03-17 20:05] aruhela opened #6511 "UCX_TLS : Order of transport selection"
Hi UCX team,

When UCX_TLS is set to "knem,dc_x,rc", can we force the preference order of transport selection to dc_x when available over RC transport.  It seems RC transport is prioritized over dc_x even when dc_x is available.

[info.txt](https://github.com/openucx/ucx/files/6159416/info.txt)

Thanks,
Amit

[2021-03-17 20:23] dmitrygx commented on #6511
hi @aruhela

RC transport is preferable by default because it has better bw/latency characteristics for the number of processes = `1`.
The number of expected processes can be set by `UCX_NUM_EPS`. So, bw/latency characteristics will be calculated for `N` and DC will be selected after some `N`.
Also, it makes sense to set `UCX_NUM_PPN`.
If you have a way to specify PPN and the number of processes i

[2021-03-17 21:17] aruhela commented on #6511
Thanks Dmitry,

How does UCX_PPN=auto use the "auto" value?

[2021-03-17 21:37] dmitrygx commented on #6511
`auto` for `UCX_NUM_EPS`/`UCX_NUM_PPN` is `1` or value specified in `ucp_init()`.

[2021-03-17 21:47] aruhela commented on #6511
Hi Dmitry,

I set UCX_NUM_PPN and UCX_NUM_EPS to 1 but it looks like rc is used again. Any thoughts?

[code]

[2021-03-18 06:53] dmitrygx commented on #6511
It should be set to exact number of processes that will be used by you instead of `1`

[2021-03-18 10:53] yosefe opened #6514 "timeout in shm_ib/test_ucp_peer_failure_keepalive.kill_receiver/0 with valgrind"
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/14924/logs/303
[code]

[2021-03-18 13:52] mkre commented on #6327
@bureddy, we installed MOFED 5.2 and GPUDirectRDMA on the host but are still seeing the same behavior:
[code]

Do we need to change our command line in order to see a benefit?

[2021-03-18 20:37] bureddy commented on #6327
can you check what do you see with ` -x UCX_TLS=rc,cuda_copy -x UCX_IB_GPU_DIRECT_RDMA=yes`
Also, can you get` nvidia-smi topo -m` output

[2021-03-18 20:42] dfaraj opened #6522 "unhandled timeout error"
I am using latest UCX from master (even the release 1.10 gives same behavior) and running fftw (does lots of Sendrecv) on 65536 ranks (683 nodes and ppn=96). (AMD nodes with EDR NICs).
It is using MPICH over ucx.

below is the backtrace of the problem.
[x1000c5s2b1n0:83417:0:83417]       ud_ep.c:263  Fatal: UD endpoint 0x20c1da0 to <no debug data>: unhandled timeout error
[x1000c5s2b1n0:83361:0:83

[2021-03-19 00:04] #6514 closed

[2021-03-19 01:42] dfaraj commented on #6522
one thing to note, these errors are intermittent and they occur on random nodes

[2021-03-19 06:31] aprilweet opened #6523 "[UCX] ucp_ep_create() failed: Input/output error"
### Describe the bug
It failed when both client and server are on the ucx worker, a.k.a. (RoCEv2 on 127.0.0.1/out address). If they are different ucx worker, it successes.
So does ucx support both client and server on the same ucx worker? How to do that?

![image](https://user-images.githubusercontent.com/10728431/111740195-46a0b380-88bf-11eb-9ef9-d08b8063b219.png)
note: the masked area are the sa

[2021-03-19 08:27] mkre commented on #6327
The host-to-device bandwidth is better, but only for the largest messages:
![osu_bw-H_D](https://user-images.githubusercontent.com/15332907/111751468-d54c0b00-8894-11eb-82dc-32f83afe799d.png)

The device-to-device bandwidth is much worse for all message sizes:
![osu_bibw-D_D](https://user-images.githubusercontent.com/15332907/111751518-e563ea80-8894-11eb-8a65-b4160b632ee2.png)

[code]

[2021-03-19 09:24] ahmet-uyar opened #6524 "ucx component not found when using with OpenMPI and CUDA"
### Describe the bug
UCX v1.10 is compiled with CUDA 10.1 and GDRCopy as explained at https://www.open-mpi.org/faq/?category=buildcuda.

OpenMPI is compiled with CUDA 10.1 and UCX 1.10

When I run OpenMPI on CPU with ucx, it works fine:
mpirun -n 2 --mca pml ucx --mca btl_openib_allow_ib true ./ring

When I run OpenMPI without ucx but running CUDA code, it runs fine:
mpirun -n 3  --mca btl_openib_

[2021-03-19 09:35] hoopoepg commented on #6524
hi @ahmet-uyar
thank you for bug report

could you run your application with mpirun command line switch
```mpirun -x UCX_LOG_LEVEL=info```
and post output here?

thank you

[2021-03-19 09:43] ahmet-uyar commented on #6524
Sure @hoopoepg. I think it is the same output.

$ mpirun -n 3 -x UCX_LOG_LEVEL=info --mca pml ucx --mca btl_openib_allow_ib true --mca pml_base_verbose 10 --mca mtl_base_verbose 10 build/bin/gtable_test
A requested component was not found, or was unable to be opened.  This
means that this component is either not installed or is unable to be
used on your system (e.g., sometimes this means that shar

[2021-03-19 09:52] hoopoepg commented on #6524
hmmm... really strange...
could you run command
```ldd -r <OMPI-installation-path>/lib/openmpi/mca_pml_ucx.so```
and check if all dependencies are resolved?

[2021-03-19 09:56] ahmet-uyar commented on #6524
@hoopoepg I think they look ok.

$ ldd -r  /opt/openmpi-4.1.0/lib/openmpi/mca_pml_ucx.so
	linux-vdso.so.1 =>  (0x00007fff7e1df000)
	libmpi.so.40 => /opt/openmpi-4.1.0/lib/libmpi.so.40 (0x00007ffbef564000)
	libopen-rte.so.40 => /opt/openmpi-4.1.0/lib/libopen-rte.so.40 (0x00007ffbef2ad000)
	libmca_common_ucx.so.40 => /opt/openmpi-4.1.0/lib/libmca_common_ucx.so.40 (0x00007ffbef0a9000)
	libucp.so.0 =>

[2021-03-19 09:58] yosefe commented on #6523
@aprilweet can you pls fill in the issue details (UCX version, command line, env vars, etc.)?

[2021-03-19 10:01] yosefe commented on #6522
@dfaraj can you pls fill in issue details per the bug description template https://github.com/openucx/ucx/issues/new?assignees=&labels=Bug&template=bug_report.md&title= ?

[2021-03-19 10:08] hoopoepg commented on #6524
ok, thank you

is it possible to build debug version of UCX and run it with more detailed log level?

[2021-03-19 10:10] hoopoepg commented on #6524
if yes - I will provide instructions how to build and enable detailed logging

[2021-03-19 10:58] ahmet-uyar commented on #6524
@hoopoepg Sure. I can build that. I don't have the admin privilege but I will build on my home on NFS. That should be ok I guess. Otherwise, i need to ask the admin to do that.

[2021-03-19 11:03] dfaraj commented on #6522
Yossi,
I guess I would need to rebuild UCX with logging to get the details, but below is everything I can get right now.
Again, I get the behavior below whether with UCX from git master branch (pulled 4 days ago) or official UCX 1.10.0

-Daniel

### Describe the bug
running on 128 nodes, ppn=96
mpiexec --hostfile ./hosts -n 12288 -ppn 96 --cpu-bind list:0-15:16-31:32-47:48-63:64-79:80-95:96-111:11

[2021-03-19 11:13] hoopoepg commented on #6524
@ahmet-uyar great!!!

so, to build debug UCX from sources run commands:
[code]
it will build debug version of UCX and install it
to be sure that UCX is built correctly run command
[code]
all rependencies should be resolved and libucs/libuct/libucm modules should be loaded from same directory

to run OMPI with this version of UCX and enable logging add command line switches into run:
[code]

thank

[2021-03-19 11:19] dfaraj opened #6525 "ucp_worker.c:785 Assertion `progress_count == 0' failed"
### Describe the bug
I ran many instances of this app across various 64nodes partitions in the cluster, lots of runs went fine but about 22 runs resulted in below assertions.

running on 64 nodes, ppn=96
mpi cmd: mpiexec --hostfile ./hosts -n 6144 -ppn 96 --cpu-bind list:0-15:16-31:32-47:48-63:64-79:80-95:96-111:112-127 -v --no-transfer ../mpi-bench -v -v -v -v 6144x6144x10944

PE 0: MPICH process

[2021-03-19 11:41] ahmet-uyar commented on #6524
@hoopoepg
I have recompiled ucx with debug version. ldd command points to newly installed .so files for libucs/libuct/libucm modules.

I have rerun the mpi as:
[code]

[2021-03-19 12:03] hoopoepg commented on #6524
@ahmet-uyar hmmm, looks like something wrong with loader...
could you add variable
[code]
and re-run application?

[2021-03-19 12:05] hoopoepg commented on #6524
@ahmet-uyar note that LD_DEBUG prints output into stderr stream instead of stdout

[2021-03-19 12:26] ahmet-uyar commented on #6524
@hoopoepg
when I run the following command, the output file is around 1GB.
Should I filter out something and paste?

mpirun -n 3 -x LD_PRELOAD=${HOME}/romeo/ucx/build/lib/libucp.so:$LD_PRELOAD -x UCX_LOG_LEVEL=debug -x LD_DEBUG=all --mca pml ucx  --mca btl_openib_allow_ib true  --mca pml_base_verbose 10 --mca mtl_base_verbose 10 build/bin/gtable_test ../cylon/data/mydata/with-null-cities.csv  &> d

[2021-03-19 12:30] hoopoepg commented on #6524
try to grep by ucx ```grep -i ucx``` and look for loader exceptions

[2021-03-19 12:43] ahmet-uyar commented on #6524
@hoopoepg I filtered the output with ucx and exception.
cat debug.txt | grep -i -A 5 ucx | grep -i -A 5 exception > filtered-output.txt

the filtered output file is at: https://github.com/ahmet-uyar/scratch/blob/master/filtered-output.txt

thank you.

[2021-03-19 12:51] ahmet-uyar commented on #6524
there seems to be some references to another openmpi installation in the output:
symbol=_ZN3Aws5Utils5Event21EXCEPTION_TYPE_HEADERE;  lookup in file=/N/u/auyar/openmpi-4.0.2/build-gpu-gcc84/lib/libmpi.so.40 [0]

i am not using that openmpi. i am using the one at: /opt/openmpi-4.1.0/
that is kind of strange.
that openmpi is neither on $PATH nor on $LD_LIBRARY_PATH

[2021-03-19 12:54] hoopoepg commented on #6524
on which version of OMPI original issue was observed?

[2021-03-19 12:59] ahmet-uyar commented on #6524
the thing is that this openmpi at /N/u/auyar/openmpi-4.0.2/build-gpu-gcc84 does not have ucx component.
i am using the one at /opt/openmpi-4.1.0/ that ucx installed.

[2021-03-19 13:04] hoopoepg commented on #6524
just to be sure: you are using OMPI from ```/opt/openmpi-4.1.0/```, but some symbols are loaded from ```/N/u/auyar/openmpi-4.0.2/build-gpu-gcc84/```, right?
could you check if there are environment variables pointed to ```/N/u/auyar/openmpi-4.0.2/build-gpu-gcc84/```?

[2021-03-19 13:13] yosefe commented on #6522
@dfaraj can you pls try with "UCX_TLS=**dc**,self,sm"?

[2021-03-19 13:16] dfaraj commented on #6522
Yossi
yes actually I even tried that and I had instances of that failure.
And on the times where I did not have the failure with dc, the performance was slower.

[2021-03-19 13:21] yosefe commented on #6522
@dfaraj to confirm, did you see retry count exceeded with DC?
can you pls refer to https://github.com/openucx/ucx/issues/6000#issuecomment-747641976, and either configure the fabric to "lossy mode" and use rc/dc transports, or configure it to "lossless mode" and use any od rc/ud/dc?

[2021-03-19 13:28] ahmet-uyar commented on #6524
there is no reference to the openmpi at /N/u/auyar/openmpi-4.0.2/build-gpu-gcc84/ in environment variables, yet there are references to this opempi in logs. i need to figure this out.

[2021-03-19 14:34] ahmet-uyar commented on #6524
@hoopoepg a library that I was using was compiled against the other OpenMPI.
so, i recompiled it and now it is working.
many thanks.

[2021-03-19 14:40] hoopoepg commented on #6524
@ahmet-uyar thank you for update!!!
may I close the issue?

[2021-03-19 14:45] #6524 closed

[2021-03-19 23:31] bureddy commented on #6327
can you check what do you get with `-x UCX_TLS=rc,cuda_copy -x UCX_IB_GPU_DIRECT_RDMA=no` ?

In this topology, only one HCA (mlx5_0:1) is optimal for GPUDirectRDMA with GPU0 and GPU1.   All other GPU and HCA combinations are not good for GDR.

[2021-03-20 02:15] Seth5141 opened #6530 "Cannot Use CUDA Memory as local buffer to ucp_put_nbx()"
### Describe the bug
When attempting to use CUDA allocated memory (Allocated with CuMemAlloc) as the local buffer to ucp_put_nbx, I get memory access errors. Please see below for a detailed explanation of my configuration / reproduction. But my main question is: Do the ucp_put/get_nbx operations support GPU memory in the local buffer? If so, what configuration might I be missing out on that would

[2021-03-20 07:25] brminich commented on #6530
@Seth5141  ucp_put/get_nbx operations do not support GPU memory

[2021-03-20 15:55] shamisp commented on #6530
@bureddy maybe you can comment when the constrain will be addressed as well propose a strategy to workaround this ? thanks

[2021-03-20 18:07] Seth5141 commented on #6530
@brminich Thanks for clarifying that for me.

A couple follow up questions:
1. Which API families do support GPU memory? Is it just the tag and stream send/receive APIs? Or are there others?
2. I ran a little experiment where I mapped the local memory into the cpu process space with gdrcopy and passed the gdrcopy-mapped pointer into ucp_put_nbx. I had some success with that experiment before hitti

[2021-03-21 09:24] alinask commented on #6523
Hi @aprilweet Could you please try using UCX v1.10? the latest UCX release.
If it doesn't help, would you be able to share your reproducer for this issue please?
About the loopback IP (127.0.0.1), as far as I know, rdmacm does not support it. Is this a requirement for you?

[2021-03-21 20:59] Seth5141 commented on #6530
Hi all, I apologize for the confusion. I was going through an old e-mail thread with @yosefe and it appears that PUT/GET support is available in 1.10.0 with the UCX_PROTO_ENABLE environment variable. When I set that, I am able to get the behavior I need.

[2021-03-21 21:20] #6530 closed

[2021-03-22 08:40] mkre commented on #6327
It's a little better, but still worse than with default settings:

![osu_bw-H_D](https://user-images.githubusercontent.com/15332907/111962272-666bed80-8af2-11eb-8b06-a86a317592a8.png)
![osu_bibw-D_D](https://user-images.githubusercontent.com/15332907/111962268-65d35700-8af2-11eb-8282-e22f499ee392.png)

Just to understand, this is because only `mlx5_0 ` is having `PIX` connection with both `GPU0 an

[2021-03-22 18:41] krakowski opened #6537 "ucx_perftest generates malformed csv output"
### Describe the bug

The CSV output (using `-v`) generated by `ucx_perftest` is malformed and can't be parsed by standard CSV libraries when more than one thread (using `-T`) is used during the benchmark. Moreover, the string `"Final:    "` is placed inside the `iterations` column.

Here is some example output I get using 2 threads. You can see that some columns are missing instead of being empty

[2021-03-22 21:28] #6486 closed

[2021-03-22 22:08] dfaraj commented on #6522
Yossi
yes with DC there were the timeout errors too.
Can you describe how the retransmit logic function in UD if say UD packets get dropped?
is there a way to tell if UCX retransmits occurred and how many occurred? is there an env?

[2021-03-22 22:09] dfaraj commented on #6522
I saw also this in recent master branch:
RX_ASYNC_MAX_POLL

so I wonder if this has any impact, I am currently playing with it to see.

[2021-03-23 06:24] javion-z opened #6541 "[Q] Some question"

[2021-03-23 06:27] #6541 closed

[2021-03-23 07:40] javion-z opened #6542 "[Q] Unexpected performance with multi-thread mode"
Scenario：

Only *one* worker send seq and receive response with multi-thread mode.

[code]

The worker invokes the `ucp_worker_progress` function in either of the following methods.

1. Main process uses following code to progress the worker.

[code]

​	While Other processes use `ucp_am_send_nbx` and `ucp_am_recv_data_nbx` to concurrently receive and send messages with multi-thread.

2. Main proce

[2021-03-23 08:26] yosefe commented on #6542
@javion-z can you pls try UCX_USE_MT_MUTEX=y? it could work better when multiple threads try to acquire the lock at the same time

[2021-03-23 12:04] dmitrygx opened #6543 "ud/test_ucp_sockaddr.concurrent_disconnect_force/1"
[code]
http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/10957/pipeline/261

[2021-03-24 02:09] javion-z commented on #6542
@yosefe Thank you, we'll try that. But we still wonder is there a better way to improve the performance of the first theoretically better method?  We guess that we did't use it in a right way.

[2021-03-24 07:23] avildema opened #6547 "[mtt] fail sum_short on ucx-emulation"
Configuration
[code]
 
MTT log:
http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/shmem/20210323_220343_519_30875_jazz10.swx.labs.mlnx/html/test_stdout_DfxhXN.txt
 
Cmd:
`/hpc/local/benchmarks/daily/next/2021-03-23/hpcx-gcc-redhat7.6/ompi/bin/oshrun -np 280 --display-map --bind-to core -mca oshmem_proc_group_cache_size 10000 -mca sshmem ucx -mca atomic ucx -mca coll '^hcoll' -mca coll_hcol

[2021-03-24 15:13] dfaraj commented on #6522
Yossi,

is there a way to translate the endpoints from hex to hosts?
[x1001c1s7b0n0:248883:0:248883]       ud_ep.c:263  Fatal: UD endpoint 0x3adb9e0 to <no debug data>: unhandled timeout error

[2021-03-24 15:49] dfaraj commented on #6522
ok I enabled logging, let us see if that tells

[2021-03-24 17:13] yosefe commented on #6522
@dfaraj UD uses Go-back-N with exponential backoff. In addition, there are few optimizations to adjust the window size and amount of resends based on drops/acks, but it was not designed to handle a Lossy network.
So the recommendation is to either use DC/RC and a Lossy configuration as described [here](https://community.mellanox.com/s/article/How-to-Enable-Disable-Lossy-RoCE-Accelerations?), or UD

[2021-03-24 18:19] aruhela commented on #6511
Suppose, I want to use RC if processes per node is less than or equal to 1. Shouldn't I export UCX_NUM_PPN=1 and  UCX_NUM_EPS=1?

With this configuration, If I call "ucx_info -eptw -u tra -N 1 -n 1", the UCX should use RC, and for any value of N >1 should use DCT.

where
  -n <count>      Estimated UCP endpoint count (for ucp_init)
  -N <count>      Estimated UCP endpoint count per node (for ucp_i

[2021-03-24 18:58] dfaraj commented on #6522
Yossi,
I tried with UD, I get:
UCX_TLS                                        = dc,self,sm,cma

[x1005c4s5b0n0:37049:0:37049] ib_mlx5_log.c:147  Transport retry count exceeded on mlx5_1:1/RoCE (synd 0x15 vend 0x81 hw_synd 0/0)
[x1005c4s5b0n0:37049:0:37049] ib_mlx5_log.c:147  DCI QP 0x221d1 wqe[332]: SEND s-e [rqpn 0x2b99 rmac 00:00:00:00:00:00 sgix 3 dgid ::ffff:10.150.5.46 tc 106] [inl len 26] [v

[2021-03-25 07:35] Adahai opened #6556 "How to choose UCP context features?"
hi:
   I have got that there are four kinds of feature， such as  'a': atomic operations, 'r' : remote memory access, 't' : tag matching, 'w' :    wakeup. and i want to  Find out more about how they work?

  Looking forward to your answer
   best wishes!

[2021-03-25 12:26] petro-rudenko opened #6560 "cuda_ipc_cache on mt environment: failed to open ipc mem handle. addr:(nil) len:0 (Element already exists)")"
### Describe the bug

SparkUCX with active messages on raplab cluster:

[code]

[code]

[2021-03-25 13:13] shamisp commented on #6556
@Adahai This enum defines the features that you can pass as a parameter during context creation https://github.com/openucx/ucx/blob/b72fec8df4ac1ab14e5a3392183215164c7f07cf/src/ucp/api/ucp.h#L140

[2021-03-25 18:46] alinask opened #6568 "failure on ud/test_ucp_sockaddr.connect_and_fail_wireup/3 on swx-rdmz-ucx-gpu-02.rdmz.labs.mlnx"
[code]

[2021-03-25 22:10] Seth5141 opened #6571 "UCX Perftest doesn't support CUDA memory even with UCX_PROTO_ENABLE=y"
### Describe the bug
This is admittedly an enhancement request rather than a bug.
On UCX version 1.10 where put/get operations support CUDA memory (when UCX_PROTO_ENABLE=y), the UCX perftest fails to run with CUDA memory.

### Steps to Reproduce
./src/tools/perf/ucx_perftest [addr] -t ucp_put_bw -c 0 -m cuda -s 262144

### Setup and versions
UCX 1.10
CUDA 11.2

### Additional information (dependin

[2021-03-25 22:53] bureddy commented on #6571
RMA with Cuda memory is not fully supported.
can you with ucx master using flags  `-x UCX_ZCOPY_THRESH=0 -x UCX_TLS=rc`

[2021-03-25 23:02] Seth5141 commented on #6571
@bureddy Thanks for your quick response.

Just a couple of follow up questions:
1. Can you clarify a little bit more about `-x UCX_ZCOPY_THRESH=0 -x UCX_TLS=rc` are those arguments to ucx_perftest or configure?
2. Can you elaborate on "RMA with Cuda memory is not fully supported"?
    While not completely cogent to this specific issue, I am really curious to know to what extent I should expect RMA

[2021-03-26 02:51] Adahai commented on #6556
@shamisp That help me a lot ,  thank you very much.

[2021-03-26 03:09] Adahai commented on #6556
@shamisp   It helped me a lot to understand how these enums work. Thank you!
So, I want to go a little bit further to look at each of these ENUMs and what is their general function in UCX data transfer?   What are the similarities and differences between these features?

[2021-03-26 03:10] Adahai commented on #6556
@shamisp   It helped me a lot to understand how these enums work. Thank you!
So,  I want to go a little bit further to look at each of these ENUMs and what is their general function in UCX data transfer?   What are the similarities and differences between these features?

[2021-03-26 03:19] bureddy commented on #6571
these are workaround to skip inline/bcopy protocols RMA put/get  and use only IB WRIRE and READ.

@yosefe ?

[2021-03-26 13:22] petro-rudenko commented on #6560
Some cuda_ipc_cache error possible to reproduce on raplab cluster (A100 GPU, CX6-Roce):
[code]

[code]

Not sure whether it's the same problem

[2021-03-26 13:48] shamisp commented on #6556
@Adahai each one of the enum values represents a group of communication operations. Each one of the groups has different communication semantics. The semantics is documented as part of our API documentation which can be found here: https://openucx.github.io/ucx/api/v1.10/html/group___u_c_p___c_o_m_m.html

[2021-03-26 14:44] gnuoyd opened #6574 "library crashes in ucp_ep_close_flushed_callback when ucp_worker_destroy() is called"
My program calls ucp_ep_close_nbx(). Under the hood, ucp_ep_close_nbx() initializes a request with callback ucp_ep_close_flushed_callback. UCX does not call ucp_ep_close_flushed_callback until my program calls ucp_worker_destroy(). By then, it appears that UCX library state that the callback depends on may have been destroyed, because the program crashes:
[code]
I am using UCX 1.10.0. I configured

[2021-03-26 17:14] Akshay-Venkatesh commented on #6560
@petro-rudenko did you happen to try this issue on DGX-1V? I tried just now on master but I'm unable to repro the issue.

[2021-03-26 17:30] petro-rudenko commented on #6560
@Akshay-Venkatesh  yes on prm, but with 10 threads:
[code]

it doesn't reproduce each time, need to run several times

[2021-03-26 17:33] petro-rudenko commented on #6560
[code]

OK could be #6526

[2021-03-26 17:35] petro-rudenko commented on #6560
Yes on both machines it's 2.27

[2021-03-26 19:08] dfaraj commented on #6522
Yossi,
I dumped the counters on each NIC before and after the job completion across all nodes,  and see various values of out_of_buffer counters.
a) what does the out_of_buffer counter indicate here?
b) according to this link, https://community.mellanox.com/s/question/0D51T00006RVum8/rxoutofbuffer, it seems one can tune the NIC with the ethtool -G and adjust the rx and tx ring buffers, I did that

[2021-03-26 21:31] Akshay-Venkatesh commented on #6560
Ok so the issue shows up because of the locking bug? If so, can we close this bug when the fix gets approved?

[2021-03-27 11:41] dmitrygx commented on #6543
Fixed by #6401

[2021-03-27 11:41] #6543 closed

[2021-03-27 11:42] yosefe commented on #6525
@dfaraj can you pls try reverting https://github.com/openucx/ucx/pull/6384/commits/9a615a6b941a8d8113704aaec70d7272d67947bc and see if it resolves the issue?
thanks!

[2021-03-27 12:07] yosefe commented on #6571
UCX_PROTO_ENABLE=y is activating the experimental implementation of new protocols which would eventually have support for Cuda memory without specific tweaks.
However, this is still in development, so not everything is supported yet. I would expect it to materialize towards the end of this year.

[2021-03-27 12:09] yosefe commented on #6574
@gnuoyd can you pls try with UCX master branch? We had a few related fixes in this flow.
If doesn't help, can you pls share the test program, or some other reproducer of the issue?

[2021-03-27 12:19] yosefe commented on #6522
@dfaraj what is the reason to set UCX_TLS in the first place?
The recommendation is to let UCX select the transports, and configure RoCE fabric as described in https://github.com/openucx/ucx/issues/6000#issuecomment-747641976.
That being said, the UCX equivalent of increasing RX ring is setting "UCX_UD_RX_QUEUE_LEN=16000".

[2021-03-27 12:21] yosefe commented on #6560
@petro-rudenko the symptom of #6526 is a hang in "pthread_rwlock_rdlock", so maybe there is another issue here

[2021-03-27 13:21] yosefe commented on #5205
`-mca osc '^ucx'` is not supported

[2021-03-27 13:21] #5205 closed

[2021-03-27 13:22] yosefe commented on #5626
OMPI issue

[2021-03-27 13:22] #5626 closed

[2021-03-27 13:24] yosefe commented on #6361
Looks like setup issue or version mismatch " failed to open device mlx5_0 port 1"

[2021-03-27 13:24] #6361 closed

[2021-03-27 14:51] Adahai commented on #6556
@shamisp thank you very much!

[2021-03-28 02:43] dfaraj commented on #6525
unfortunately it did not.
[x1004c6s4b1n0:114645:0:114645]  ucp_worker.c:783  Assertion `progress_count == 0' failed
==== backtrace (tid: 114645) ====
 0  /p/app/ucx/master/lib/libucs.so.0(ucs_handle_error+0xe4) [0x1500cecbb934]
 1  /p/app/ucx/master/lib/libucs.so.0(ucs_fatal_error_message+0x60) [0x1500cecb8880]
 2  /p/app/ucx/master/lib/libucs.so.0(ucs_fatal_error_format+0xd6) [0x1500cecb89b6]
 3

[2021-03-28 17:40] gonzalobg opened #6576 "Fix NV HPC SDK warnings"
### Describe the bug
The NV HPC SDK 21.2 emits lots of warnings when compiling UCX.

These warnings should be investigated and either fixed in the source code, or if the warnings are incorrect, the suppression documentation should be extended with links to bugs reported to the NV HPC SDK (i.e. bugs should be filled, and linked here, so that the suppressions can be removed once these bugs are fixed

[2021-03-29 08:18] avildema opened #6579 "[mtt] Hung on UCX-CX6. test - mpi_test_suite"
Configuration
[code]
 
MTT log:
http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20210327_113416_27583_31188_jazz03.swx.labs.mlnx/html/test_stdout_Nb7o4m.txt
 
Cmd:
`/hpc/local/benchmarks/daily/next/2021-03-27/hpcx-gcc-redhat7.6/ompi/bin/mpirun -np 84 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV,SI

[2021-03-29 08:24] avildema commented on #6579
a same

oshmem_test
ucx-emulation-tcp

http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/shmem/20210327_000506_176795_31169_jazz17.swx.labs.mlnx/html/test_stdout_CjmY9W.txt

[2021-03-29 08:40] yosefe commented on #6525
@dfaraj can you pls try removing UCX_TLS, or changing it to UCX_TLS=dc,self,sm?

[2021-03-29 17:47] brminich commented on #6568
also happened here
`https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=15529&view=logs&j=f97d6e39-20b4-5224-cb57-ac6707fa3b18&t=9aa0588e-e45f-5107-dd19-ce374bb50cbe`

[2021-03-30 06:49] brminich commented on #6568
also happened here https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/15546/logs/311

[2021-03-30 14:46] dmitrygx opened #6587 "test_datatype.ptr_array_locked_perf failed on PPC"
[code]
log file: http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/11093/nodes/37/steps/229/log/?start=0
job: http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/11093/pipeline/

[2021-03-30 15:13] Blopeur opened #6588 "Upgrading UCX-1.9 -> UCX-1.10 breaks local communication (switch from TCP/IB to CMA)"
### Describe the bug

Upgraded to UCX-1.10 to use CMA for local coms breaks. The previous version worked fine over TCP/IB , 1.10 also works fine if CMA is disabled.
when using `UCX_TLS=sm,tcp` with 1.9 : CMA / local shared memory was never used
Switching to 1.10 : UCX started using CMA ( desired ) but UCX seems to get stuck
Same code but with only  `UCX_TLS=tcp` doesn't generate any issue

### Ste

[2021-03-30 15:19] yosefe commented on #6588
@Blopeur can you pls share the reproducer?

[2021-03-30 15:28] Blopeur commented on #6588
I ll try to see if i can recreate a lightweight version of it.. It's kind of heavily embedded with some other code.

[2021-03-30 18:35] dmitrygx commented on #6574
yes, it should be fixed by #6520 PR, i.e. moving purging outstanding requests from UD's `uct_iface_close()` to UD's `uct_ep_destroy()`

[2021-03-31 03:38] Seth5141 opened #6592 "UCX_ZCOPY_THRESH Doesn't Work On MLX5 Interfaces"
### Describe the bug
When setting UCX_ZCOPY_THRESH=0, one would expect it to work for both put and get operations, however, at least on mlx5_rc endpoints, this is not the case. It seems there is some kind of optimization in place to take advantage of inline data in puts and gets.

This is important for applications attempting to use CUDA memory with mlx5 but without cuda_copy. The bcopy operations

[2021-03-31 18:00] petro-rudenko opened #6596 "Segfault in recvAmData on error request"
### Describe the bug
[code]

[2021-03-31 18:27] brminich commented on #6596
is there a reproducer?

[2021-03-31 18:40] petro-rudenko commented on #6596
It's SparkUCX on prometheus. There are other issues that cause the request to fail with IO_ERROR.

[2021-03-31 18:54] brminich commented on #6596
what is the UCX version?

[2021-03-31 18:54] petro-rudenko commented on #6596
master

[2021-03-31 20:44] Seth5141 commented on #6592
@yosefe Perfect, thanks! Setting UCX_RX_TX_INLINE_RESP directly through the environment worked like a charm.

One follow up question. We are using the ucp APIs in our transport. Is it possible to query and modify the uct interface configuration while using UCP APIs, or is it necessary to rely on the environment to set that variable in this case?

It's not a big deal either way, I can push setting

[2021-03-31 20:46] #6592 closed

[2021-03-31 20:56] yosefe commented on #6592
Unfortunately, at present, the UCP API does not support forwarding configuration to UCT layer, but it's something that makes sense to add.

[2021-04-01 12:49] #6568 closed

[2021-04-01 22:01] pentschev commented on #3192
Can we close this?

[2021-04-02 14:56] dfaraj commented on #6525
Yossi
Any comments regarding my last post?

[2021-04-02 15:01] dfaraj commented on #6522
@yosefe the UCX_UD_RX_QUEUE_LEN does not exist, I searched the whole ucx code.  But I found these two below envs and I set them to 8K
export RX_QUEUE_LEN=8192
export IB_RX_QUEUE_LEN=8192
then I stopped seeing the ud timeout errors, and 50% of the time the job completes and other 50% I get the ucp assertion `progress_count == 0' failed which we have another ticket open for.

[2021-04-02 15:06] yosefe commented on #6522
@dfaraj UCX_UD_RX_QUEUE_LEN does not appear directly as is in the code since UCX_ and UD_ prefixes are added during the configuration parsing process.
"export RX_QUEUE_LEN" does not really affect, since all UCX environment variables start with UCX_ prefix.

[2021-04-02 15:47] dfaraj commented on #6522
@yosefe I just retried and it died and notice it says the env UCX_UD_RX_QUEUE_LEN is not used

[1617377763.555769] [x1001c2s3b1n1:159929:0]          parser.c:1776 UCX  WARN  unused env variable: UCX_UD_RX_QUEUE_LEN (set UCX_WARN_UNUSED_ENV_VARS=n to suppress this warning)
[x1001c2s3b1n1:159929:0:159929] ib_mlx5_log.c:147  Transport retry count exceeded on mlx5_0:1/RoCE (synd 0x15 vend 0x81 hw_synd

[2021-04-02 15:58] dfaraj commented on #6522
@yosefe I gave another try with these:
export RX_QUEUE_LEN=8192
export IB_RX_QUEUE_LEN=8192
I got:

PE 0:   rank 0 required = single, was provided = single
[x1001c5s1b1n0:157231:0:157231] ib_mlx5_log.c:147  Transport retry count exceeded on mlx5_0:1/RoCE (synd 0x15 vend 0x81 hw_synd 0/0)
[x1001c5s1b1n0:157231:0:157231] ib_mlx5_log.c:147  DCI QP 0x3d04 wqe[96]: SEND s-e [rqpn 0x5fa2 rmac 02:00:00:0

[2021-04-02 16:04] yosefe commented on #6522
@dfaraj the reason for "WARN unused env variable: UCX_UD_RX_QUEUE_LEN" is because UD transport is not being used (DC is used instead);
And the reason for "Transport retry count exceeded" failure with DC is probably packet drops on the RoCE fabric, so need to configure the fabric as described in https://github.com/openucx/ucx/issues/6000#issuecomment-747641976 to resolve it

[2021-04-03 16:00] shamisp commented on #6556
Closing for now. Feel free reopen if you have additional questions on the subject.

[2021-04-03 16:00] #6556 closed

[2021-04-05 18:16] petro-rudenko commented on #6560
Some strange segfault occured:
[code]

`dst` becomes corrupted on stack

[2021-04-05 18:33] petro-rudenko commented on #6560
Strange since on gdb for the crashed process it works:
[code]
So probably `md->uuid_map` is not thread-safe and other thread might modify it. Though it's running just with 2 threads and other thread in gdb is not doing anything with with it.

[2021-04-06 01:45] Akshay-Venkatesh commented on #6560
@petro-rudenko  does this patch help?
[code]

[2021-04-06 06:20] jakirkham commented on #4762
Am curious if any new CUDA features that are CUDA version dependent are being used? Asking since we are reevaluating if we can simplify our package builds

[2021-04-06 14:05] #5568 closed

[2021-04-06 17:29] petro-rudenko opened #6618 "ucp_ep_Create corrupted worker->all_eps"
[code]

To track issues in SparkUCX.

[2021-04-06 19:11] dmitrygx opened #6620 "tcp/test_uct_sockaddr.err_handle/10 failed on swx-rdmz-ucx-arm-hwi"
[code]
raw job: https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/15877/logs/287
job: https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=15877&view=logs&j=fa9b49c1-d497-5b0a-6030-ccf18faa6d8c&t=93e5fb16-3d78-5d11-31b7-7eefd335b140

[2021-04-07 09:02] petro-rudenko commented on #6618
Seems like MT issue

[2021-04-07 09:02] #6618 closed

[2021-04-07 15:58] raffenet opened #6628 "ucp_am_send_nb to self"
### Describe the bug
Sending a non-zero length active message to self causes the message handler to execute with a zero length message.

### Steps to Reproduce
- build and run this example (https://gist.github.com/raffenet/88d4577aa51d5f1121e6398a5112cbdf)
- ucx master branch revision 2823e3a
[code]
### Setup and versions
- CentOS Linux release 7.8.2003 (Core)
   - 3.10.0-957.27.2.el7.x86_64 #1 SM

[2021-04-07 16:19] raffenet commented on #6628
output from running the example on my system:
[code]

[2021-04-07 16:28] yosefe commented on #6628
The issue is backward compatibility break with AM and RNDV: the application sets an AM callback which does not support rndv, but is being called with a rndv-data descriptor (which it can't use). The solution would be to receive the message into a temporary malloc'ed buffer and then call user handler.

That being said - for performance reasons it would be better to switch to new AM API `ucp_worker_

[2021-04-07 16:46] yosefe commented on #6628
due to this issue, yes. can use `UCX_RNDV_THRESH=inf` as temp workaround

[2021-04-07 16:50] raffenet commented on #6628
I see. Is there some way I could have queried for that value beforehand? The failure behavior was less than ideal for someone who wasn't aware of the limitation.

The new AM APIs are >= 1.10x, yes?

[2021-04-07 16:56] yosefe commented on #6628
Yes, unfortunately, this made it to v1.10, and there is no good method to query the threshold. We would want to fix this behavior  in v1.11.

[2021-04-07 18:18] raffenet commented on #6628
Just so I'm understanding this fully, my issue is that the UCP ABI broke between versions and there is no way to request the old behavior? I'm sure glad I didn't merge this into MPICH 😅.

[2021-04-07 19:08] evgeny-leksikov commented on #6587
reproduced in https://github.com/openucx/ucx/pull/6617
http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/11242/nodes/247/log/?start=0

[2021-04-07 19:53] shamisp commented on #6628
@yosefe can we revert this in 1.10.1 ?

[2021-04-07 21:11] yosefe commented on #6628
It's not something that can be simply reverted. Need to add some backward compatibility logic and then backport it to v1.10.x branch.

[2021-04-07 22:14] dmitrygx opened #6630 "ud/test_ucp_tag_perf.multi_unexp/0 failed"
[code]
raw log: http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/11254/nodes/39/steps/167/log/?start=0
log: http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/11254/pipeline/162

[2021-04-08 12:44] huangvincent170 opened #6632 "Question regarding the ucp_client_server example"
I see in the [ucx quick start guide](https://www.openucx.org/documentation/) it says the client_server example should use a local IPoIB interface. Does the example also work with remote connections?

I have two devices on the same network, but attempting to run the server on one and the client on another fails with the following message:

server:
[code]

client:
[code]

I can ping the server just

[2021-04-08 12:46] yosefe commented on #6632
In general, the usage is correct. However it's possible the IPoIB is not setup correctly.
Does "ping 192.168.12.62 " work from client's machine?

[2021-04-08 12:50] huangvincent170 commented on #6632
Thank you for the response!

Yes, ping seems to work from the client's machine.

[code]

[2021-04-08 13:34] alinask commented on #6632
Hi @huangvincent170 ,
Do you have MLNX_OFED installed?
Does ib_write_bw work between your client and server?
Can you please send the output of ibdev2netdev on both sides and ifconfig of the client as well?
Also, since you are using the default port that the server is using, no need to specify it in the client's command line.

[2021-04-08 15:14] huangvincent170 commented on #6632
1. Yes, I believe I have MLNX_OFED installed on both the server and the client.
[code]

2. ib_write_bw seems to not be working
server:
[code]
client:
[code]

server ibdev2netdev
[code]

client ibdev2netdev
[code]

ifconfig of client:
[code]

[2021-04-08 17:22] alinask commented on #6632
Thanks for the info!
ib_write_bw should be working before attempting to use UCX.
Seems like something is misconfigured in your setup. I will consult with our dev-ops to check what could be the problem.
Btw, your MLNX_OFED is of an old version. Would you consider to upgrade?

[2021-04-08 19:20] huangvincent170 commented on #6632
Thank you so much for the help!

[2021-04-09 18:03] petro-rudenko commented on #6560
Seems like work with this patch. Will test more, but so far so good

[2021-04-11 10:47] alinask commented on #6632
I see. ib_write_bw doesn't work without -z or -R ?
Which UCX version are you using and where is it from?
Did you compile it? If so, what was your configure command line?

[2021-04-11 11:43] huangvincent170 commented on #6632
I am using ucx version 1.10.0, which I got from
[code]
I also tried directly cloning this repo and following the build instructions listed in the readme.

Sorry, I'm not too sure what you mean by configure command line.
I used the configure-release script, if that's is what you're asking.
[code]

[2021-04-11 11:47] alinask commented on #6632
Can you please add UCX_LOG_LEVEL=diag on each side (client and server) when running ucp_client_server and attach the logs?
[code]

ib_write_bw doesn't work without -z or -R ?

[2021-04-11 12:02] huangvincent170 commented on #6632
Yes, ib_write_bw does not work when I do not include either the -z or -R flag.

server:
[code]

client:
[code]

One interesting thing I found was that ucp_client_server does seem to work in version ucx 1.9.0

[code]

[2021-04-11 12:13] alinask commented on #6632
What is the value you have set in `/proc/sys/net/core/somaxconn` ?
If it's 128 can you please increase to 15000 on both sides and retest?

Also, what do you have set in `/proc/sys/net/rdma_ucm/max_backlog` ?

[2021-04-11 12:36] huangvincent170 commented on #6632
The initial value of somaxconn was indeed 128, so I changed it to 15000
Server
[code]
client:
[code]

[2021-04-11 12:39] yosefe commented on #6632
@huangvincent170 can you please run "show_gids" command on each of the machines and post the output?

[2021-04-11 12:41] huangvincent170 commented on #6632
server:
[code]

client:
[code]

[2021-04-12 08:17] mkre commented on #6327
Hi @bureddy, any ideas about my latest update?

[2021-04-12 11:11] alinask commented on #6632
@huangvincent170 since your MLNX_OFED is pretty old, would you be able to upgrade to MLNX_OFED 4.9 please and retest this?

[2021-04-12 18:43] bureddy commented on #6327
@mkre sorry to lost track of this issue.  Yes. GDR is not optimal for all the cases because only mlx5_0 is close to GPU 0 and GPU 1.
can you do one more experiment "-x UCX_TLS=rc,cuda_copy -x UCX_IB_GPU_DIRECT_RDMA=yes -x UCX_NET_DEVICES=mlx5_0:1 " ?

[2021-04-13 07:45] ingomueller-net opened #6647 "What is the (current) relationship to libfabric?"
The [FAQ](http://openucx.github.io/ucx/faq.html) and various copies of it suggest that UCX uses libfabric:

However, libfabric does not seem to be a dependency, the source code does not include `ofi.h` anywhere, and a [reply to a previous issue](https://github.com/openucx/ucx/issues/5927#issuecomment-730525289) was answered with the following:

What is correct? I suppose that libfabric is not used

[2021-04-13 08:48] mkre commented on #6327
@bureddy, it seems like something was odd with our system configuration. Our admins did some InfiniBand-related work on the node (not sure what exactly they did) and the behavior is now much different than it was before even with default settings. Host-to-device no longer has a drop for large message counts and it is maxing out close to the `bandwidthTest --htod` result of 12.4 GB/s unidirectional

[2021-04-13 11:55] Blopeur opened #6651 "UCX ERROR failed to unpack remote key from remote"
### Describe the bug
getting SIGSEV with UCX error failed to unpack remote key
Any idea what would be the reason for it?

### Steps to Reproduce
![image (4)](https://user-images.githubusercontent.com/494959/114547772-c3247900-9c56-11eb-92bf-10e4023ddade.png)

Server : loop : get direct buffer, register memory, get rkey , send key + address + size
Client : get rkey + size + address, unpack rkey , r

[2021-04-13 14:59] huangvincent170 commented on #6632
Hello,

After upgrading to MLNX_OFED 4.9, the client_server is still failing with the same error messages.

[2021-04-13 18:37] shamisp commented on #6647
Indeed the FAQ is a bit outdated. BTW, our up to date FAQ hosted here https://openucx.readthedocs.io/en/master/faq.html but it has the same question/answer.

For NICs with network offload capabilities we use Linux RDMA subsystem ([rdma-core](https://github.com/linux-rdma/rdma-core)) directly. We closely collaborate rdma-core community on interface requirements, etc.  Vendors that work with our com

[2021-04-14 06:47] dmitrygx opened #6656 "memory leak in UD detected on swx-rdmz-ucx-new-02"
[code]
raw log: https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/16291/logs/329
log: https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=16291&view=logs&j=c02db851-0d7a-5132-2265-ebd0aa7c6d37&t=a86ba9bf-30f1-543e-254c-1e7feba6151c

[2021-04-14 07:20] haipeng31 opened #6657 "how to safely close a ep and release all the outstanding requests"
when some network occur, I can know it from the cb I pass to the interface ucp_tag_send_nb, then I want to close the endpoint，my question is how to safely close a ep?

should I do as following:
1. cancel all outstanding requests(it's required? will ucp_close_ep_nb do it for me?)
2. ucp_close_ep_nb force(find no cb argument, so I should check the request unitl it finished? It's hard to use)

anothe

[2021-04-14 08:33] petro-rudenko commented on #6651
Does it reproduce with ucx-1.10 or master? Can you please check with master and `UCX_TLS=^posix` to see whether it's a posix transport issue. Meanwhile, i'll try to reproduce this scenario with our tests.

[2021-04-14 08:39] kihangyoun opened #6658 "Time-consuming problem at MPI_INIT funtion"
Hello All,

There is a problem that takes a lot of time during MPI startup(MPI_INIT) with a large number of MPI ranks.
The section that takes time is: "ucp_worker.c:1719 UCX  INFO  ep_cfg[0]~ep_cfg[2]"
When I use 76,000 MPI rank, it take 68~72 seconds in MPI startup(MPI_INIT).
Here is printed log and bold font is bottleneck(I guess).

*Intel MPI version is 2021.2.0, UCX is 1.10.0 & MOFED 5.2-1.0.4

[2021-04-14 08:57] brminich commented on #6658
Hi @kihangyoun,

- What is the startup time with smaller scale? Is there some number of ranks starting from which start-up time becomes unreasonably slow?
- What is the content of `/opt/local/mpi/2021.2.0/etc/tuning_icx_shm-ofi_mlx.dat`?

[2021-04-14 09:08] kihangyoun commented on #6658
Hi @brminich,
Thanks for your attention.

- In smaller scale, there are no startup time which is noticeable. I tested IMB test with 3 cases of MPI ranks (33,972 ranks, 67,944 ranks, 131,328 ranks), and it took about 33 seconds, 79 seconds and 131 seconds respectively. So, It increases linearly with the number of MPI ranks.
- The file "tuning_icx_shm-ofi_mlx.dat" is tuning profile which is offered

[2021-04-14 09:37] brminich commented on #6658
Were you able to get lower start-up times with any other than UCX transport?
For now I'd attribute this slowness to MPI_Init implementation and the collectives being used inside it

[2021-04-14 11:29] alinask commented on #6632
Does ib_write_bw pass? without -z or -R

[2021-04-14 11:32] ingomueller-net commented on #6647
Thanks, @shamisp, for confirming my impression. What is the up-to-date relationship between UCX and libfabric, then? Is it fair to say the UCX, or at least UCT, have similar goals in that they offer a low-level but hardware-agnostic interface for point-to-point communication (whereas rdma-core is even lower-level and RDMA-specific)?

[2021-04-14 11:33] petro-rudenko commented on #6651
Do you set something as `UCX_POSIX_DIR` ?

[2021-04-14 21:22] abellina opened #6662 "RPM packages for mofed 5.x depend on specific versions of mofed"
I am trying to install the UCX 1.10 RPM packages in centos 7.9 with MLNX_OFED:
[code]

But I see:
[code]

Not entirely sure why the `ucx` package requires libibverbs in the first place (I'd assume that to be the `ucx-ib` and `ucx-rdmacm` packages), so that's part of it. We want to be able to install `ucx`, even if MLNX_OFED is not installed.

`ucx-cuda` requires the CUDA runtime installed. This ma

[2021-04-15 00:26] huangvincent170 commented on #6632
It is still failing with the same error if I do not use -z or -R

[2021-04-15 05:54] #6628 closed

[2021-04-15 07:13] weiguangcui commented on #5199
I see the same problem with ucx 1.9.0. Is it possible to do reopen it and tracking the bug?? Thank you.

[2021-04-15 07:26] weiguangcui commented on #6377
I see the same error with ucx 1.9.0. Any possible simple fix?
Thanks.

[2021-04-15 10:29] yosefe commented on #6662
Seems 2 issues here:
1. UCX requires a strict version of MLNX_OFED/libibverbs, but it should require '>='
2. Verbs dependencies "crawled" into main UCX package, whereas they should have been only in ucx-ib subpackage

When we install UCX from RPM, all the dependencies should also come from RPM. If this is not the case on a particular system, then should build and install UCX from source tarball. T

[2021-04-15 10:33] yosefe commented on #5199
The "Transport retry exceeded error" is a very generic symptom indicating that for some reason many (or all of) RDMA packets did not reach their destination.
@afernandezody this particular issue seems like cluster connectivity problem between "master" and "compute". Are they physically connected to the same RDMA fabric and have same HCA model?
@weiguangcui it would be better to open a new issue, s

[2021-04-15 13:44] weiguangcui commented on #5199
@yosefe I agree that the same error can be caused by different reasons, especially mine was during a run in PMPI_Allreduce(), not in MPI_init(). Filed a new issue.

[2021-04-15 13:49] yosefe commented on #6662
Update on issue (1): strict verbs dependency was added as part of https://github.com/openucx/ucx/pull/5184
now that wit use backward compatible MOFED versions, it's not needed anymore

[2021-04-15 13:49] abellina commented on #6662
Agree on this 100%. After installing CUDA via RPM, the cuda part of it goes away. So back to the main issue (on the IB requirement)..

With the package the way it is (requiring 5.0-1) not only do I need to install MLNX_OFED for a system that may not need it, but it also forces me to pick a specific version of the driver, and in this case (Centos 7.9) there isn't a MLNX_OFED 5.0-1. This is likely d

[2021-04-15 13:55] yosefe commented on #6662
This is leftover from the days of MLNX_OFED < 5.0 and is not what we want. #6667 should fix it

[2021-04-15 15:18] weiguangcui opened #6669 "Transport retry count exceeded on mlx5_0:1/IB -- uct_ib_mlx5_completion_with_err()"
### Describe the bug
A clear and concise description of what the bug is.

[g07r1n14:27251:0:27251] ib_mlx5_log.c:143  Transport retry count exceeded on mlx5_0:1/IB (synd 0x15 vend 0x81 hw_synd 0/0)
[g07r1n14:27251:0:27251] ib_mlx5_log.c:143  DCI QP 0x10f3a wqe[446]: SEND s-e [rqpn 0x32ca rlid 19352] [inl len 20]
[i12r2n04:30536:0:30536] ib_mlx5_log.c:143  Transport retry count exceeded on mlx5_0:1

[2021-04-15 20:00] bureddy commented on #6327
Yes. It looks good, close to peak perf.

[2021-04-15 21:16] shamisp commented on #6647
@ingomueller-net I also cannot comment about 3rd party project goals, you would have to check it with their community.

Nevertheless, I can comment about UCT - unified communication transport API.  UCT is a relatively thin layer that abstracts a very simple set of basic operations (send/receive, one-sided, atomics, etc.). Typically, implementation of UCT implements a one-to-one mapping from UCT AP

[2021-04-15 21:19] Blopeur commented on #6651
we recompiled the following flag and the error disappeared .... .

./contrib/configure-devel --without-rdmacm --with-java --enable-mt --disable-numa --prefix=$PWD/install

[2021-04-15 21:19] #6651 closed

[2021-04-16 06:31] mkre commented on #6327
Thanks for your help!

[2021-04-16 06:31] #6327 closed

[2021-04-16 07:56] #6656 closed

[2021-04-16 11:05] yosefe commented on #6669
@weiguangcui
1. Are you setting any UCX environment variables? specifically, UCX_RC_MLX5_TM_ENABLE=y or UCX_DC_MLX5_TM_ENABLE=y?
2. Can you pls try adding "-mca coll ^hcoll" to MPI command line?
3. The FW, MLNX_OFED, and HPC-X versions are pretty old. Would it be possible to upgrade to MLNX_OFED 5.2-2.2.0.0 and HPC-X 2.8.1 ? this will also upgrade the FW (and requires reboot)

[2021-04-16 12:49] ingomueller-net commented on #6647
@shamisp Thank you so much, that was really helpful!

My specific questions are now answered. I am leaving the issue open as a reminder that the FAQs should be updated.

[2021-04-16 13:00] weiguangcui commented on #6669
1. not in my job submission bash script.
2. not possible, I only restricted to use srun, which doesn't accept that parameter.
3. I have asked the admin, which seems unlikely to do that in a short time...

[2021-04-16 13:10] yosefe commented on #6669
2. Can u pls try to set `OMPI_MCA_coll=^hcoll` environment variable for srun?

[2021-04-16 14:09] weiguangcui commented on #6669
Just get confirmed from the admin, both UCX_RC_MLX5_TM_ENABLE and UCX_DC_MLX5_TM_ENABLE are set to n by default. Does that matter? should I set them to y?

[2021-04-16 14:16] yosefe commented on #6669
No need to set to 'y', just trying to narrow down the issue: According to the backtrace, seems HW tag matching was enabled.
[code]

Also, what is the scale of the job?
Is it possible to try adding these env vars:
[code]

[2021-04-16 14:18] weiguangcui commented on #6669
The simulation is very large and running with 2048 nodes (32cpus per node)

[2021-04-16 16:04] J-shel opened #6672 "Transport retry count exceeded on mlx5_1:1/IB"
Hi,

I got the following error message using OpenMPI 4.1.1 and ucx 1.10 or OpenMPI 4.0.3 and ucx1.10.

[n07299:125295:0:125295] ib_mlx5_log.c:145  Transport retry count exceeded on mlx5_0:1/IB (synd 0x15 vend 0x81 hw_synd 0/0)
[n07299:125295:0:125295] ib_mlx5_log.c:145  DCI QP 0x13014 wqe[399]: NOP --- [rqpn 0x0 rlid 0]

I' ve searched and seen similar issues on openucx. As a first try, I installe

[2021-04-16 16:41] yosefe commented on #6672
@J-shel
1. Regarding libnuma: can you pls install numactl-devel rpm?
2. Regarding the transport error: can you pls try the following commands (on all compute nodes) and run the test again:
[code]

[2021-04-16 20:02] marishkinv opened #6673 "Retry exceed debuggability for RC QP - without rdma_cm"
### Describe the bug
A clear and concise description of what the bug is.
When any layer, like UCX, prints retry exceed error the next logical step is to see who is not responding.
In case of RC QP and without RDMA_CM this information is missing from UCX log.

In order to debug retry_exceed - will need to run some kind of log gathering on all the nodes of mpi to identify the relevant host. which is

[2021-04-18 21:27] huangvincent170 opened #6675 "UCX ERROR address version mismatch"
Hello,

When I attempt to create an endpoint with the following code, I get the error:

[code]
[code]

I was wondering what "address version mismatch" meant.

Many info would be much appreciated!

[2021-04-19 18:03] #6662 closed

[2021-04-20 07:47] J-shel commented on #6672
Hi yosefe,

Thank you for your reply. Our platform is under maintenance in these few days. I'll update later, maybe tomorrow or the day after tomorrow.

[2021-04-20 08:06] avildema opened #6679 "[mtt] ud_ep.c:270 Fatal: UD endpoint 0x973660 to jazz25:70567: unhandled timeout error"
Configuration
[code]
 
MTT log:
http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20210420_002601_55154_7291_jazz24.swx.labs.mlnx/html/test_stdout_0mN_d5.txt
 
Cmd:
`/hpc/local/benchmarks/daily/next/2021-04-19/hpcx-gcc-redhat7.6/ompi/bin/mpirun -np 56 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV,SIG

[2021-04-20 17:59] dmitrygx opened #6683 "valgrind detected a leak in test_uct_sockaddr_stress.many_clients_to_one_server"
[code]
job: https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=16630&view=logs&j=2a24149b-54e0-5984-9c93-20e052df9aa1&t=6985259c-90af-5b9c-3e23-537f385bafac
raw job: https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/16630/logs/329

[2021-04-20 18:01] hoopoepg commented on #6683
same in https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/16627/logs/313
it seems regression...

[2021-04-20 20:40] yosefe commented on #6683
@evgeny-leksikov can it be related to https://github.com/openucx/ucx/pull/6617?

[2021-04-21 05:36] evgeny-leksikov commented on #6683
yes, most likely

[2021-04-21 13:59] alinask commented on #6632
@huangvincent170 Can you please try running iperf?
Does it work?

On the server side:
[code]

On the client side:
[code]

Can install iperf with 'yum install iperf'

[2021-04-22 07:40] petro-rudenko commented on #6126
https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=16732&view=logs&j=cc064a77-22b5-56bf-ecc0-70b5fe764261&t=aedfd754-44a6-53e6-6843-8659d800fee2&l=99

Probably not need equals sign so far in this situation
[code]

[2021-04-22 13:53] alinask commented on #6632
@huangvincent170 seems that your setup is misconfigured. iperf is not related to MLNX_OFED or to UCX and when there is correct connectivity among the hosts, it should pass.
Can you please contact your network administrator for this?

[2021-04-22 21:07] abellina opened #6694 "JUCX 1.11 says it's not compatible with UCX 1.10"
I've noticed this in the logs. I know it is a warning, but the way it's stated makes me believe I am doing something wrong, where JUCX 1.11 and UCX 1.10 are actually compatible.

[code]

Filing this mostly for visibility, it's not a functional issue. Just trying to figure out if it's best to change the wording, or to perhaps widen the check so that JUCX 1.11+ can be flagged as compatible against d

[2021-04-22 21:38] abellina opened #6695 "UCX 1.10 with TCP-only is unable to reach destination"
[code]

But when I do the exact same command, by forcing the interface, I get:
[code]
I have the loopback interface, and also the `enp161s0` interface. Here's ifconfig for my client:

[code]

And my server looks the same, just with the other ip address. Any ideas?

[2021-04-23 00:52] huangvincent170 commented on #6675
This was caused by linking with ucx 1.9 but loading ucx 1.8 in /usr/lib

[2021-04-23 00:52] #6675 closed

[2021-04-23 07:28] petro-rudenko commented on #6694
So JUCX is backward compatible. You can run jucx, built with ucx-1.11 with UCX-1.10. This warning is useful sometimes, when we miss with ucx path and it uses some system path.

[2021-04-23 08:57] yosefe commented on #6694
i would recommend using such a combination (jucx v1.11+ucx v1.10) only for testing purposes in a controlled environment, and ignore this warning. For general use it would be safer to use v1.11 snapshort+jucx v1.11
@abellina do you think I would help to have ucx snapshots (say, src/binary rpm) same as we have for Java?

[2021-04-23 10:08] yosefe commented on #6588
@Blopeur can you pls try UCX master?
it could be fixed by https://github.com/openucx/ucx/pull/6384

[2021-04-23 17:38] Blopeur commented on #6588
@yosefe going to try it next week and get back to you

[2021-04-23 21:06] dmitrygx opened #6701 "tcp/test_uct_sockaddr.err_handle/12 failure"
[code]
the status provided to `client_connect_cb` is `UCS_ERR_NOT_CONNECTED`

[2021-04-23 21:10] dmitrygx commented on #6701
[code]

[2021-04-23 21:33] dmitrygx commented on #6695
The problem is the loopback interface which was introduced recently in TCP. It is selected for multirail.
@abellina there is a workaround - `UCX_MAX_RNDV_RAILS=1` until there is no fix in UCT/TCP.

[2021-04-24 10:56] yosefe commented on #6695
@dmitrygx @alinask maybe we can add (optional?) uint64_t machine-id to TCP iface address, so for loopback case we can check if they are on same machine (like we do for shared memory), WDYT?

[2021-04-24 11:05] #6701 closed

[2021-04-24 11:15] dmitrygx commented on #6695
good idea, will investigate it. I guess it can be optional (for all IP interfaces, except `lo`) and controled by flags in TCP iface address.
btw, I'm wondering if this machine-id is different for different docker containers running on the same machine. Probably, we can't communicate UCX's from different container using `lo` - but I'm not sure, need to check

[2021-04-24 11:18] yosefe commented on #6695
we can have the same solution as for shared memory (AFAIR passing boot_id as well, if namespace indicates we're in docker)

[2021-04-24 13:48] dmitrygx commented on #6695
I see, thanks!

[2021-04-24 16:32] yosefe commented on #6430
fixed by ##6590

[2021-04-24 16:32] #6430 closed

[2021-04-25 12:38] #6683 closed

[2021-04-26 07:55] avildema opened #6705 "[mtt] tcp_ep.c:1105 UCX ERROR tcp_ep"
Configuration
[code]
 
MTT log:

http://hpcweb.lab.mtl.com//hpc/mtr_scrap/users/mtt/scratch/shmem/20210425_201246_176469_8732_jazz01.swx.labs.mlnx/html/test_stdout_UCEL1O.txt
 
Cmd:
`/hpc/local/benchmarks/daily/next/2021-04-25/hpcx-gcc-redhat7.6/ompi/bin/oshrun -np 256 --display-map --bind-to core -mca oshmem_proc_group_cache_size 10000 -mca sshmem ucx -mca atomic ucx -mca coll '^hcoll' -mca coll_

[2021-04-26 08:10] avildema commented on #6705
one more
http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20210424_210235_133014_8428_jazz01.swx.labs.mlnx/html/test_stdout_rJ61Lr.txt

[2021-04-26 08:13] avildema commented on #6705
http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20210424_051629_138917_8228_jazz22.swx.labs.mlnx/html/test_stdout_6I6jmt.txt

[2021-04-26 08:20] avildema opened #6706 "[mtt] ucx-cuda segfault"
Configuration
[code]
 
MTT log:

http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20210423_145643_31475_8033_vulcan02.swx.labs.mlnx/html/test_stdout_CtRuwP.txt
 
Cmd:
`/hpc/local/benchmarks/daily/next/2021-04-23/hpcx-gcc-redhat7.6/ompi/bin/mpirun -np 72 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV,

[2021-04-27 12:04] bkmgit opened #6714 "Website is down"
### Describe the bug
The website http://www.openucx.org/ seems not to be available

### Steps to Reproduce

Try to view http://www.openucx.org/ in a web browser

### Setup and versions
Not applicable
### Additional information (depending on the issue)
Consider linking to https://openucx.github.io/ucx/  instead

[2021-04-27 12:17] yosefe commented on #6714
@bkmgit thanks for the report! it's a known issue and being taken care of

[2021-04-27 12:22] bkmgit commented on #6714
@yosefe Great

[2021-04-27 13:29] shamisp commented on #6714
@yosefe we shell remove https://openucx.github.io/ucx/.

[2021-04-27 13:33] yosefe commented on #6714
yes, it's no longer relevant
i suggest replace it by link/redirect to read-the-docs

[2021-04-27 13:39] shamisp commented on #6714
I think the URL still host the doxygen API, right ?

[2021-04-27 13:40] bkmgit commented on #6714
Having the site hosted in a git repository makes contributing easy. Please leave the information available until the main site  http://www.openucx.org/ is back up again.

[2021-04-27 14:05] shamisp commented on #6714
@bkmgit the same website is available here https://openucx.readthedocs.io/en/master/ and can be updated here https://github.com/openucx/ucx/tree/master/docs/source

We will update git website to redirect to  https://openucx.readthedocs.io

[2021-04-27 14:22] bkmgit commented on #6714
Thanks. Is a contributor agreement still required?

[2021-04-27 14:27] shamisp commented on #6714
@bkmgit - correct, we require if for any commits to the repo.

[2021-04-27 14:31] bkmgit commented on #6714
Where can it be found?

[2021-04-27 14:43] shamisp commented on #6714
@bkmgit on openucx.org which is down now. Once the web server is back I will post the link here. Apologies for inconvenience.

[2021-04-27 15:08] gnuoyd commented on #6574
The issue was fixed on `master` branch. So were a couple of other issues affecting EP shutdown. Thank you.

[2021-04-27 15:08] #6574 closed

[2021-04-27 15:38] dmitrygx commented on #6574
thanks for confirming

[2021-04-27 17:11] flxmr opened #6718 "Compilation from master with RDMA-transports errors with `: redefinition of 'uct_rc_mlx5_devx_init_rx_tm`"
I'm using Debian 10 and MLNX-OFED and while I'm sorting out some RDMA issues (dreaded `transport retry count`), I tried to compile master using spack and the MLNX-OFED-provided rdma-core packages.

Unfortunately I encounter the following error when trying to build with RDMA-transports enabled
[code]
Full log can be found here: https://gist.github.com/flxmr/ba9d4acac7e4969753b9ce0c38ca00a6

System:

[2021-04-27 17:48] brminich commented on #6718
@flxmr, can you please check whether #6719 resolves the issue?

[2021-04-27 18:07] flxmr commented on #6718
perfect, thanks a lot! (now I will check out OpenMPI ;))

[2021-04-27 18:07] #6718 closed

[2021-04-27 18:09] shamisp commented on #6714
@bkmgit - here we go https://www.openucx.org/license/ .

[2021-04-27 18:17] shamisp commented on #6714
Website is back !

[2021-04-27 18:17] #6714 closed

[2021-04-27 18:48] pentschev opened #6721 "First AM message is always received as eager"
When using the Active Message API in UCP with UCX master, the first message is always received as eager, even if it's larger than `UCX_RNDV_THRESH`.

After discussing this with @brminich , it became clear that this only happens for the first message exchanged between an EP pair, whereas subsequent messages -- after wireup completse -- respect rendezvous. It would be nice to have this documented if

[2021-04-27 19:43] dmitrygx opened #6723 "rc/test_ucp_sockaddr_protocols_err.tag_zcopy_64k_unexp/1 failed on swx-rdmz-ucx-arm-hwi"
[code]
log: https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=17044&view=logs&j=bfd425d1-f6a6-54ef-9af7-97843ff4e8c7&t=e0f90221-000b-5f04-c58a-9913fa39dc06
raw log: https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/17044/logs/273

[2021-04-27 20:02] yosefe commented on #6721
@pentschev the AM API does not guarantee that any specific protocol would be used, unless EAGER/RNDV send flags are passed to the active message send function.
A portable application should not rely on a particular value of UCX_RNDV_THRESH, which is indented for runtime tuning purposes.

[2021-04-27 20:45] pentschev commented on #6721
How come? Shouldn't it respect the `UCX_RNDV_THRESH`? In particular, we are interested in making sure that RNDV is used for transfers above that size to ensure CUDA IPC is used when available.

That makes sense, but in this case where I encountered this was when I was testing specifically for the RNDV behavior to ensure CUDA IPC is used when available.

[2021-04-27 23:36] shamisp commented on #6721
IMHO, there should be a better way to extract this info. Maybe some statistic about CUDA IPC usage.

[2021-04-28 06:29] dmitrygx opened #6726 "dc_mlx5/test_uct_peer_failure_keepalive failed on sputnik3"
[code]
log: https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=17052&view=logs&j=236c0f87-ab16-521a-c1ed-5c1de69d18b1&t=200488d8-65b0-585a-aa79-9bc40e33de21
raw log: https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/17052/logs/289

[2021-04-28 08:26] avildema opened #6727 "[mtt] fail on osu_micro_benchmark_collective on arm"
Configuration
[code]
 
MTT log:

http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20210426_112256_93096_8866_hpc-arm-hp02/html/test_stdout_ysC9r9.txt
 
Cmd:
`/hpc/local/benchmarks/daily/next/2021-04-26/hpcx-gcc-redhat7.6/ompi/bin/mpirun -np 32 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV,SIGBUS,SIG

[2021-04-28 08:52] pentschev commented on #6721
It's not only about extracting that information, in the UCX-Py case above where I first encountered this I was deliberately trying to test the rendezvous codepath with CUDA transfers. I could also set the RNDV flag to do that, but that wouldn't guarantee I'm testing the real condition, which today is not setting either EAGER or RNDV flags but letting UCX do that.

[2021-04-28 08:56] yosefe commented on #6721
@pentschev what happens if you do not set RNDV threshold? worse performance?
I would recommend to check the recv_attr in UCX-Py AM callback, regardless of UCX_RNDV_THRESH tuning:
`recv_attr & UCP_AM_RECV_ATTR_FLAG_RNDV`
https://github.com/openucx/ucx/blob/a08beda2d112cbdf52f6d57e0b11c8bb49e2f4bd/src/ucp/api/ucp.h#L1627

[2021-04-28 09:22] pentschev commented on #6721
Once wireup completes, whatever RNDV threshold is set (including the `8K` default) is respected, leading to what I expect. Before wireup, any message will be an EAGER transfer, implying a host copy, and then leading to worse performance.

We do that in the same way that the iodemo does: https://github.com/openucx/ucx/blob/01b4d70b4f01c539dee0a87b03d150b34da50fca/test/apps/iodemo/ucx_wrapper.cc#L76

[2021-04-28 14:52] bkmgit commented on #6714
Thanks for the prompt response.

[2021-04-29 02:45] J-shel commented on #6672
@yosefe Sorry for the delay. Issue #1 was solved following you suggestion. After the maintenance of our platform, however, I didn't meet issue #2 anymore. I'm not sure whether it has something to do with the OpenMPI mpirun parameters since I add "-x LD_LIBRARY_PATH -x UCX_NET_DEVICES=mlx5_0:1 -mca pml ucx -mca btl ^vader,tcp,openib,uct" after mpirun in the new run, while I use the default paramete

[2021-04-29 17:12] brminich commented on #5906
@dmitrygx, can we close it as not reproduced?

[2021-04-29 17:37] brminich commented on #6579
simplified cmd line to reproduce on Jazz:
[code]

Always hangs on bcast (but on different comms and datatypes). Passes with less 62 processes or less

[2021-04-29 17:53] brminich commented on #6579
with this one
`mpirun -np 63 --display-map -mca btl self  -mca pml ucx -mca coll '^hcoll'  --bind-to core -x UCX_NET_DEVICES=mlx5_0:1,mlx5_4:1 -mca osc ucx  -x UCX_UD_TIMEOUT=10m  -x UCX_IB_NUM_PATHS=2 -x UCX_MAX_EAGER_LANES=3 --map-by node /hpc/local/benchmarks/daily/next/2021-04-29/mtt-tests-gcc/installs/d2WB/tests/mpi-test-suite/ompi-tests/mpi_test_suite/mpi_test_suite  -t 30 -n 300`

always fa

[2021-04-29 21:29] shamisp commented on #6695
Do we have fix on master for this ? I'm hitting the same problem on my TCP setup.

[2021-04-29 21:59] abellina commented on #6694
Do you mean publishing to a repository deb/rpms `SNAPSHOT` a nightly that is in-sync with `jucx-[foo]-SNAPSHOT`? Or something that is published with calendar versioning (each night publish something?) I am not sure they would help with this particular issue, but...

In the past we've used something like this for cuDF to triage issues. I.e. it works with the SNAPSHOT 1 month ago, but not with the o

[2021-04-30 07:24] dmitrygx commented on #5906
yes, let's close and re-open, when it appears again

[2021-04-30 07:24] #5906 closed

[2021-04-30 18:00] SeyedMir opened #6738 "ucs_frag_list wrongfully merges the last list with queue head"
### Describe the bug
The merge logic in frag_list attempts to merge a list with the next one if possible. It finds the next list in: https://github.com/openucx/ucx/blob/be347182a15270ecaf1d3486a24c23865f1764a2/src/ucs/datastruct/frag_list.c#L298

But, if the current list is the last list, then `ucs_queue_for_each` has linked it to the queue head. See https://github.com/openucx/ucx/blob/be347182a15

[2021-05-01 11:51] yosefe opened #6740 "TCP sockcm received wrong data length"
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/17255/logs/319
[code]

[2021-05-01 13:05] yosefe commented on #6738
@SeyedMir  thanks for the analysis! your fix is correct - should not rely on NULL as an indicator of the last element.
We have some rare-to-reproduce failures #3897 which may be caused by this.
Do you have a method to reproduce the issue quicker? For example, I could not reproduce after 10k iterations of random_arrival

[2021-05-01 14:20] dmitrygx opened #6741 "rc/test_ucp_tag_match_rndv.bidir_multi_exp_post/3 failed after bad_alloc exception"
[code]
raw log: http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/11720/nodes/154/steps/166/log/?start=0
log: http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/11720/pipeline/154

[2021-05-01 14:24] yosefe commented on #6741
seems like out-of-memory issue
`[2021-05-01T14:14:45.447Z] C++ exception with description "std::bad_alloc" thrown in the test body.`

[2021-05-01 14:28] dmitrygx commented on #6741
yes, but I guess we shouldn't crash, i.e. no need to wait for request completion in this case in `cleanup()`

[2021-05-02 05:00] huangvincent170 commented on #6632
Resolved

[2021-05-02 05:00] #6632 closed

[2021-05-02 05:15] dmitrygx opened #6746 "wireup message leak detected by valgrind at the end of the gtest"
[code]
raw log: https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/17300/logs/311
log: https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=17300&view=logs&j=2a24149b-54e0-5984-9c93-20e052df9aa1&t=6985259c-90af-5b9c-3e23-537f385bafac

[2021-05-02 09:18] alinask commented on #6632
@huangvincent170 Could you please share what was the problem?

[2021-05-03 13:33] shamisp commented on #6647
Closing. Fixed in #6700

[2021-05-03 13:33] #6647 closed

[2021-05-03 15:10] SeyedMir commented on #6738
I made PR https://github.com/openucx/ucx/pull/6752 to fix the issue.
As you mentioned, it's very difficult to reproduce it in the unit test. But, with my SRD branch, it shows up almost every time when running OSU benchmarks.

[2021-05-04 10:41] krakowski opened #6755 "Segmentation fault when calling ucp_listener_create using IB-enabled library on non-IB machine"
### Describe the bug

Calling `ucp_listener_create` with a IB-enabled library on a **machine without InfiniBand adapters** leads to a segmentation fault due to a null pointer dereference in [`uct_listener_create`](https://github.com/openucx/ucx/blob/v1.10.0/src/uct/base/uct_cm.c#L210) (`cm` is null here). Debugging this issue I found out that this happens because the [Worker's Connection Manager a

[2021-05-04 10:42] krakowski commented on #6755
This may also be the cause of issue #6244

[2021-05-04 15:10] alinask commented on #6755
Hi @krakowski ,
can you please try setting the following environment parameter on both sides (client and server) to see it helps?
UCX_SOCKADDR_TLS_PRIORITY=tcp
(given that you are not setting any other UCX environment parameters)

[2021-05-04 15:49] krakowski commented on #6755
Hi @alinask,

yes, I can confirm that it works by setting `UCX_SOCKADDR_TLS_PRIORITY=tcp`.

[2021-05-04 16:57] alinask commented on #6755
Can you please use this environment parameter for UCX v1.10?
We will fix this issue for the next UCX release.
Thanks!

[2021-05-04 23:02] dmitrygx opened #6758 "frag_list.random_arrival failure"
[code]
raw log: https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/17495/logs/326
log: https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=17495&view=logs&j=60ca834c-21be-5ee9-f02d-d584a46cea66&t=35c1102b-9454-5224-3570-83496acb07e0

[2021-05-05 11:49] alinask commented on #6244
Hi @shuki-zanyovka , can you please check if the proposed environment parameter in https://github.com/openucx/ucx/issues/6755 resolves your issue as well?
`UCX_SOCKADDR_TLS_PRIORITY=tcp` on both sides.
Given that you are using UCX v1.10.

[2021-05-05 16:53] dmitrygx opened #6762 "udx/test_ucp_peer_failure.zcopy/3 failure"
[code]
raw log: https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/17568/logs/270
log: https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=17568&view=logs&j=fa9b49c1-d497-5b0a-6030-ccf18faa6d8c&t=93e5fb16-3d78-5d11-31b7-7eefd335b140

[2021-05-05 20:59] abellina commented on #6755
I just hit this also, and was about to file an issue @alinask thanks for jumping on it. `UCX_SOCKADDR_TLS_PRIORITY=tcp` also fixes it for me.

[2021-05-05 21:33] abellina commented on #6755
@alinask @yosefe do you think it's possible to get this into 1.10.1?

@petro-rudenko fyi.

[2021-05-06 06:14] #6695 closed

[2021-05-06 06:20] dmitrygx commented on #6695
@shamisp yes, we have - #6704, it was merged today (05/06)

[2021-05-06 20:51] alinask opened #6767 "failure on cma/test_ucp_peer_failure_rma_zcopy.put"
[code]

https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=17628&view=logs&j=da813497-1cca-54a8-f0a9-cb3fd519bc00&t=7dd3ffab-efd6-51e7-77f1-40598eb2014b

HOSTNAME=swx-rdmz-ucx-gpu-01

[2021-05-07 08:16] avildema opened #6770 "[mtt][ucx-cuda] ERROR in MPI_Sendrecv_replace: incorrect data"
Configuration
[code]
 
MTT log:
http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20210506_180449_17101_10487_vulcan03.swx.labs.mlnx/html/test_stdout_S8i_l3.txt
 
Cmd:
`/hpc/local/benchmarks/daily/next/2021-05-06/hpcx-gcc-redhat7.6/ompi/bin/mpirun -np 48 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV,

[2021-05-07 15:16] dmitrygx opened #6775 "shm_ib/test_ucp_am_nbx_dts.long_zcopy_send/4 failed on sputnik3"
[code]
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/17660/logs/304

[2021-05-08 17:18] #6746 closed

[2021-05-09 13:13] shamisp opened #6779 "Segfault in UCX master gtest on Bluefield-2"
### Describe the bug
Segfault in gtest
[code]
### Steps to Reproduce
I was able consistently reproduce the problem with gtest
[code]

[2021-05-09 13:24] yosefe commented on #6779
@shamisp pls fill system details according to issue template

[2021-05-09 13:26] shamisp commented on #6779
@yosefe what is missing  ? I went through the template.

[2021-05-09 13:29] shamisp commented on #6779
@yosefe it is `DOCA_v1.0_BlueField_OS_Ubuntu_20.04-5.3-1.0.0.0-3.6.0.11699-1-aarch64` - this is Mellanox OS that is used to identify bundle of MOFED+FW+BIOS (pretty much everything on BF2).

[2021-05-09 13:40] alinask commented on #6755
@abellina The fix was merged into the UCX v1.10.x branch.

[2021-05-09 14:33] shamisp commented on #6779
If I abort gtest post failure, the dmesg is full of:
[code]

The system becomes unstable post-failure and I had to reboot the nic.

[2021-05-10 10:53] yosefe commented on #6726
check if keepalive was run

[2021-05-10 12:15] alinask commented on #6755
@krakowski @abellina Following the fix in the UCX v1.10.x branch, can we close this ticket?

[2021-05-10 12:46] krakowski commented on #6755
From my side it can be closed. Thanks for the quick fix! :slightly_smiling_face:

[2021-05-10 13:22] abellina commented on #6755
Same for me. Thanks @alinask

[2021-05-10 13:46] #6755 closed

[2021-05-10 16:12] lyu commented on #5215
Fixed by #6782

[2021-05-10 16:12] #5215 closed

[2021-05-10 16:17] SeyedMir opened #6785 "ucs_frag_list assertion fails when comparing sequence numbers"
[code]

The sn comparison in the assertion should use `UCS_FRAG_LIST_SN_CMP`.

More detailed logs:

[code]
In line `frag_list.c:397  UCX  INFO  4: 65530-0 -65530/6` the value of last sn is 0 due to overflow and wrapping around. Also, the number of elements is shown to be a negative number.

[2021-05-12 14:48] #6767 closed

[2021-05-13 11:34] G3orge26 opened #6800 "shmem get throughput plummeting after 64KB get in IB"
## Description
I am running the benchmark attached, to calculate throughputs and latencies for the shmem_uint8t_get function with different sizes and after the 64KB mark the throughputs are plummeting, and I cannot deduct whether this is a configuration error or a possible bug in UCX.

## Compilation and run
The bench was compiled with the command ```oshcc -Ofast filename -o filename.out```
The ru

[2021-05-14 03:36] shuqianwang opened #6806 "Centos8 aarch64 ucx_perftest error libperf.c:1510 UCX ERROR Cannot use ud/hrn0_1:1"
### Describe the bug
./ucx_perftest 150.1.68.87 -t am_lat -d hrn0_0:1 -x rc -D short -f -c 18 -s 8
+--------------+-----------------------------+---------------------+-----------------------+
|              |       latency (usec)        |   bandwidth (MB/s)  |  message rate (msg/s) |
+--------------+---------+---------+---------+----------+----------+-----------+-----------+
| # iterations | typic

[2021-05-14 11:15] avildema opened #6808 "[mtt][ucx-emulation] Fail on oshmem_test"
Configuration
[code]
 
MTT log:
http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/shmem/20210513_125821_14623_11734_hpc-arm-hp02/html/test_stdout_n3eIGU.txt
 
Cmd:
`/hpc/local/benchmarks/daily/next/2021-05-13/hpcx-gcc-redhat7.6/ompi/bin/oshrun -np 224 --display-map --bind-to hwthread -mca oshmem_proc_group_cache_size 10000 -mca sshmem ucx -mca atomic ucx -mca coll '^hcoll' -mca coll_hcoll_

[2021-05-14 11:23] avildema opened #6809 "[mtt] UCX error: Invalid am_short length"
Configuration
[code]
 
MTT log:
http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20210513_054342_24454_11702_jazz15.swx.labs.mlnx/html/test_stdout_7kgT2X.txt
 
Cmd:
`/hpc/local/benchmarks/daily/next/2021-05-13/hpcx-gcc-redhat7.6/ompi/bin/mpirun -np 56 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV,SI

[2021-05-14 12:44] shamisp commented on #6806
I'm not familiar with this HRN NIC but @alex--m will know. `Cannot use transport rc on device hrn0_0:1` - I suspect that only UD transport is supported.

[2021-05-15 11:55] dmitrygx opened #6813 "shm_ib/test_ucp_sockaddr_destroy_ep_on_err.onesided_client_sforce/0 failed on r-vmb-ppc-jenkins"
[code]
log: http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/11998/pipeline/
raw log: http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/11998/nodes/38/steps/159/log/?start=0

[2021-05-15 17:32] #6579 closed

[2021-05-15 22:06] alex--m commented on #6806
hi @shuqianwang , I have experimental support for Hi1822 in my development branch (along with Hi1620), but it's not stable. Actually, I haven't tried it for a long time - I'll try it tomorrow on my setup and update.

[2021-05-17 01:07] oleotiger commented on #6806
Hi, @alex--m , what's the version of the OS and nic driver in you development environment? Do you think the bug matters with processors?  If you make some step forward, please let me knon.

[2021-05-18 06:20] brminich commented on #6328
added check for such faulty scenario in #6724

[2021-05-18 06:20] #6328 closed

[2021-05-18 11:56] brminich commented on #6706
duplication of #6579
fixed by #6802

[2021-05-18 11:56] #6706 closed

[2021-05-18 17:09] brminich commented on #6809
fixed by open-mpi/ompi#8897

[2021-05-18 17:09] #6809 closed

[2021-05-18 18:26] brminich commented on #6770
fixed by open-mpi/ompi#8897

[2021-05-18 18:27] #6770 closed

[2021-05-19 06:21] brminich opened #6824 "failure in rc_mlx5/test_tag_mp_xrq.zcopy_eager/0 on swx-rdmz-ucx-arm-hwi"
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/18179/logs/273
[code]

[2021-05-20 21:56] SeyedMir opened #6836 "Rndv pipepline fails if the iface does not support put_zcopy"
### Describe the bug
This issue showed up in my tests with SRD which only supports get_zcopy, and not put_zcopy. But, I can also reproduce it with RC on an IB cluster by manually removing `UCT_IFACE_FLAG_PUT_BCOPY` and `UCT_IFACE_FLAG_PUT_ZCOPY` flags in `uct_rc_iface_query`.

[code]
As far as I could figure out, a received rndv data _can_ correspond to a frag RTR, so I'm not sure why we have that

[2021-05-21 00:58] bureddy commented on #6836
@SeyedMir  PUT_ZCOPY is must for existing pipeline protocols.

[2021-05-21 08:11] dmitrygx commented on #6836
@bureddy shall we support RNDV over AM for pipeline protocols? or somehow show that sender doesn't support PUT_ZCOPY when sending RTS?

[2021-05-22 18:35] alex--m commented on #6806
@shuqianwang
I had it working a month or so ago, but I've changed the setup since then and now something is broken... I'm working on a fix. Since it's not thoroughly tested yet - I keep it in my [development branch](https://github.com/kunpengcompute/hucx/tree/huawei-dev-alex/src).

@oleotiger
My setup used to be CentOS, but for several reasons we've now moved to OpenEuler (kernel 5.10.0-4.17.0.28.

[2021-05-24 13:38] h2cw2l opened #6844 "How to build ucp_client_server in directory examples ?"
1、After I run cmds below, ucp_client_server is not compiled.
$ ./autogen.sh
$ ./contrib/configure-release --prefix=/where/to/install
$ make -j8
$ make install
2、When I run make in path example, it tell me as figure below.
![image](https://user-images.githubusercontent.com/58133919/119355762-3995ab80-bcd8-11eb-9488-280611cd0dbe.png)

How can I compile it ?

Any reply will be appreciated.

[2021-05-24 14:19] yosefe commented on #6844
please do `./contrib/configure-release --enable-examples`

[2021-05-24 16:45] evgeny-leksikov commented on #6740
seems like duplicate of https://github.com/openucx/ucx/issues/6451

[2021-05-25 05:43] karasevb commented on #5678
I ran the same cmd for 10K times, cannot repro.
@avildema any reproduction last time on MTT reports?

[2021-05-25 06:09] h2cw2l commented on #6844
Thanks.

[2021-05-25 06:09] #6844 closed

[2021-05-25 12:00] h2cw2l opened #6848 "What is the differences between "tag", "am" and "stream" ?"
Hello,

When I use ucx_perftest to do some tests，I see there are some options after -t, such as  "tag", "am" and "stream".
What is the differences between "tag", "am" and stream ? Is there any documentation explains this ?
![image](https://user-images.githubusercontent.com/58133919/119494135-8ab6a580-bd93-11eb-9454-f638bcd7a803.png)

Any reply will be appreciated.

[2021-05-25 13:00] yosefe commented on #6848
@h2cw2l please see https://openucx.github.io/ucx/api/v1.10/html/md__hpc_mtr_scrap_users_yosefe_ucx_docs_doxygen_design.html

[2021-05-25 13:10] h2cw2l commented on #6848
Thanks for reply.

But I want to know their features and applicable scenarios separately.
By reading the doc, I still can't understand it clearly.
Could tell me there feature and  applicable scenarios ?

Stream is reliable ? Others are not reliable ?
The size of a single send through Stream is not fixed ? Others need to be fixed ?

Thank you.

[2021-05-25 13:18] yosefe commented on #6848
Sure,

1. All UCP APIs are reliable and support any size
2. Tag and Active Message are message-oriented: the receive will be called once per sent message, and receive buffer must be >= send buffer size. Stream API, on other hand, is like TCP: multiple sends could be extracted by a single receive, and vice-versa.
3. Tag is intended mostly for MPI libraries since it has the same semantics as MPI. It

[2021-05-25 14:49] shamisp commented on #6848
@yosefe probably this shell go to FAQ

[2021-05-25 15:14] petro-rudenko commented on #6383
Fixed by #6778

[2021-05-25 15:14] #6383 closed

[2021-05-25 17:08] awlauria commented on #5302
Recently tried this and it is still an issue.

It makes debugging memory corruption related problems in ompi difficult. Is there any progress here or a possible work-around?

Thanks!

[2021-05-25 17:46] brminich commented on #6547
can repro with
[code]

[2021-05-26 02:54] #6848 closed

[2021-05-26 03:02] h2cw2l opened #6853 "When I test am_lat by ucx_perftest, what transport type should be when I want to use verbs ?"
Hello,

My dev is shown as below, I want to test am_lat.
I have tried "-x verbs", "-x dc_mlx5", "-x rc_verbs", "-x rc_mlx5". It always tell me this is can not use.
**Which transport type should follow after "-x" ?**
![图片](https://user-images.githubusercontent.com/58133919/119596192-4c5fcb80-be11-11eb-9da5-ccac4d6546e1.png)

![图片](https://user-images.githubusercontent.com/58133919/119596258-68636d0

[2021-05-26 14:10] abellina commented on #6694
For now, we've added a note to our documentation to say to disregard the WARN on startup. Just FYI. I think this one can be closed then, although not sure if @yosefe wants to keep it open for his other question.

[2021-05-26 14:45] brminich commented on #6547
the problem is short values overflow in `shmem_short_sum_to_all`

[2021-05-26 19:10] #6694 closed

[2021-05-27 08:37] dmitrygx commented on #6813
were able to reproduce the issue locally:
[code]

[2021-05-27 14:08] avildema opened #6865 "Build Fail on AMD"
### Describe the bug
Fail to build on AMD ubuntu

### Steps to Reproduce
[code]

### Setup and versions
swx-rdmz-instinct02

- Ubuntu 20.04
- x86_64
- 5.4.0-48-generic
- AMD EPYC 7702P 64-Core Processor

### Additional information (depending on the issue)

https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=18719&view=logs&j=f97760b2-5332-5514-7a21-2a026a1217cc&t=78fb67b3-8376-5236-7d82-14

[2021-05-27 17:36] Micket opened #6867 "Allow overriding framework module list at runtime via environment variables"
Currently, it's possible to specify a UCX_MODULE_DIR, but the list of ucs modules to load are hardcoded.
When packaging this in EasyBuild, we would like to make it possible to add on the CUDA modules at runtime so that component can be made opt-in (and can be added at a later time on top of an existing toolchain, since CUDA support for newer compilers are often delayed).

Looking at `ucs_load_modu

[2021-05-28 01:59] shamisp commented on #6867
Adding @yosefe. I think I understand the motivation behind this suggestion.  Nevertheless, there is an explicit assumption about ABI backward compatibility for the UCT API. There is no guarantee that the module was compiled within the same version of UCX release.

[2021-05-28 10:39] hoopoepg commented on #6813
same on rcx transport:
[code]

[2021-05-28 11:18] dmitrygx commented on #6853
Hello @h2cw2l,

You can't use dc_mlx5/rc_mlx5/rc_verbs transports over `eth0` which is IP interface. IB transports (dc/rc/ud) require to run only over `device:port` pair specified in `ibv_devinfo` output.
Please, change `-d eth0` to `-d mlx5_0:1`.

JFYI, `-d eth0` could be used along with `-t tcp`, i.e. TCP transport requires setting IP interface as a device input.

[2021-05-28 19:39] dmitrygx commented on #6836
@SeyedMir could you check if #6870 fixes the issue?

[2021-05-28 19:49] yosefe commented on #6867
The modules are using internal APIs which are not part of public UCP/UCT API. So it's not safe to use a module from a different UCX version or an unreleased version,  or even with different configure flags or compile-time configuration (config.h)

[2021-05-28 20:28] Micket commented on #6867
I don't expect ABI stability, and we have no plans to mix UCX versions here, linking the additional modules to the same libuct, libucm, libucs of our "base installation" (via a simple patch to the build system).
The reason we wish to do this
1. Allow software to opt in to a particular CUDA version through the environment modules with EasyBuild.
2. Allowing EasyBuild to build the CUDA components at

[2021-05-29 13:58] shamisp commented on #6867
@yosefe I'm okay this is if we explicitly state the requirement of using the same version. What config option would break this ?  (I guess debug ?)

[2021-05-29 20:21] Micket commented on #6867
I just want to mention a comment i received from another EasyBuild developer; instead of defining a list of modules at all, just list the files in the module directories at runtime. That would also solve our "packaging" issue. Preferably, such an approach would let you specify multiple paths as that would simplify the split installation in an environment module systems a lot (though I assume this

[2021-05-30 03:33] souravzzz commented on #6865
Fixed in #6851

[2021-05-31 06:32] chenyidu opened #6872 "Bug with replaying pengding request"
### Describe the bug
I changed the `examples/ucp_client_server.c` a little bit, let the server send message to client using `ucp_dt_iov_t`.
[code]
When I run it, i get the following backtrace:
[code]
After ep reconfiguration, the pending request is replayed.  However, during replay, the protocol is not reselected according to the new EP threshold. In my environment, it has TCP TL and IB TL. When s

[2021-05-31 06:42] chenyidu commented on #6872
It looks like just need to replace  `ucp_request_send()`  with `ucp_tag_send_req()`/`ucp_stream_send()`/`ucp_am_send_req` in `ucp_wireup_replay_pending_request()`, but some more information need to be added to `ucp_request_t`, like `dt_count`

[2021-05-31 19:26] miharulidze opened #6879 "Minimal UCT interface capabilities to bootstrap OpenMPI"
Dear UCX developers,

I'm working on a custom UCT transport and want to implement a UCT transport that will support running OSU P2P/Collectives benchmarks over OpenMPI PML UCX on top of it.

The following features are supported by my current prototype:
[code]

Attempt to run OSU latency with PML UCX and my UCT prototype with it ends up with this (while the TCP works fine):
[code]

---

PML UCX in

[2021-05-31 19:46] dmitrygx commented on #6879
Hello @miharulidze,

Please, make sure that `uct_base_iface_query()` is called inside `uct_<tl_name>_iface_query()`.
It sets `max_num_eps` UCT IFACE attribute which is checked during UCP/WIREUP transport selection procedure. Otherwise, if it is `0`, UCP couldn't find scalable enough transport, because OMPI sets `estimated_num_eps` parameter (it equals to the number of ranks).

[2021-06-01 00:30] changchengx commented on #6872
I'm working on changing ucp_client_server to support tag/iov operation:
https://github.com/openucx/ucx/pull/6838

[2021-06-01 00:41] chenyidu commented on #6872
@changchengx  It's not the solution to this problem. I modified the ucp_client_server just to reproduce the problem briefly for everyone, not to support tag/iov case.

[2021-06-01 00:57] changchengx commented on #6872
Not sure what you want to do ````let the server send message to client using ucp_dt_iov_t.``

[2021-06-01 01:08] chenyidu commented on #6872
@changchengx It shows that if server immediately send message(iov type) to client after creating EP by conn_request, an assertion error occurs. The reason is that the EP is reconfigured during CM link setup. As a result, when replaying the initial request, some conditions are not met. I'm working on to fix it #6876 , Thank you  for your reply.

[2021-06-01 06:56] miharulidze commented on #6879
@dmitrygx thank you very much for suggestion!

Yes, the `uct_<tl_name>_iface_query()` calls `uct_base_iface_query()` inside.
I also double checked that max_num_eps is not overwritten after `uct_base_iface_query()`.

BTW, the `ucx_perftest` works fine with `am_lat` for UCT and `tag_lat`/`tag_bw` for UCP tests.

[2021-06-01 07:28] dmitrygx commented on #6879
@miharulidze does it produce any UCX warning/diag messages? if not, is it possible to collect at least `UCX_LOG_LEVEL=info` for now?

[2021-06-01 14:05] SeyedMir commented on #6836
@dmitrygx It still fails, but for a different assertion.

[2021-06-01 17:35] dmitrygx commented on #6836
@SeyedMir thanks for checking!
we decided to change the implementation by just disabling PUT Zcopy pipeline protocol if it not supported - see #6881
could you test it on your setup, please?

[2021-06-01 17:47] SeyedMir commented on #6836
@dmitrygx testing with https://github.com/openucx/ucx/pull/6881
[code]

[2021-06-01 20:42] SeyedMir opened #6882 "RC verbs support check fails on EFA"
### Describe the bug
`uct_rc_verbs_query_tl_devices()` return success on an EFA device, even though EFA does not support RC. This leads to errors in `ucx_info -d`

[code]

[2021-06-01 23:30] dmitrygx commented on #6836
@SeyedMir thanks for checking it! Unfortunately, the fix was incomplete.
I managed to reproduce the issue in UCP gtests. Now we have stable reproducer for the problem in UCX testing.
@bureddy helped me to understand and fix what leads to the last issue. thanks @bureddy!

@SeyedMir could you check the changes from #6881 PR again, please?

[2021-06-02 05:55] sinzah opened #6884 "Question about rndv protocol selection when the length of tag_send data is larger than rndv_thresh"
### Describe the bug
While osu_bw (D-D) bandwidth test (inter-node), RMA (zcopy) is selected instead of rndv protocol.

### Steps to Reproduce
- UCX 1.10.1 (configure-devel) + OMPI 4.1.1
- osu benchmark v5.7

### Setup and versions
- RHEL 7.4 (Maipo), x86_64
- V100 (CUDA 11.0)
- MLNX_OFED_LINUX-5.3-1.0.0.1 (OFED-5.3-1.0.0)

### Additional information (depending on the issue)
Trace comparison with

[2021-06-02 07:15] hoopoepg commented on #6884
hi @sinzah

could you run command:
```ucx_info -pwe -D shm -u t```
on compute nodes using UCX 1.8 and 1.10 and provide output here

thank you

[2021-06-02 10:12] miharulidze commented on #6879
@dmitrygx It looks like the issue wasn't related to the UCT IFACE capabilities.

My target machine has an AMD GPU installed with ROCm support, so UCX compiled with rocm UCT support.

For some reason, it's necessary to specify a `rocm` TL in `UCX_TLS` variable among others. Otherwise it fails with the symptoms from my original post.

At the same time, an attempt to use IB without rocm in UCX_TLS wo

[2021-06-02 10:29] h2cw2l opened #6886 "I want to use gdb to debug example ucp_hello_world, but there are no symbols，what I need to do to use gdb ?"
![image](https://user-images.githubusercontent.com/58133919/120465255-59ac2580-c3d0-11eb-9a5a-66ad1369bd67.png)

[2021-06-02 10:50] h2cw2l commented on #6853
Thanks for reply.

What should follow -x ?
![image](https://user-images.githubusercontent.com/58133919/120468031-5e260d80-c3d3-11eb-96a5-aaca302f0296.png)

[2021-06-02 13:25] shamisp commented on #6886
The file that you use in your example is not a binary but libtool generated script, since you are running from build tree. GDB actually complained that the file is not an executable. This is useful educational link about debug: https://stackoverflow.com/questions/12148668/how-to-debug-a-program-wrapped-in-a-libtool-script

[2021-06-02 14:07] shamisp commented on #6879
Adding @souravzzz since this might be ROCM related.

[2021-06-02 15:02] shamisp commented on #6853
You can use `ucx_info -d | grep Transport` to get list of transports supported on your platform. Also please take a look at https://openucx.readthedocs.io/en/master/faq.html#selecting-networks-and-transports.

[2021-06-02 15:04] dmitrygx commented on #6853
`-x <transport>`, e.g. rc_verbs, rc_mlx5, tcp and etc

[2021-06-02 15:46] SeyedMir commented on #6836
@dmitrygx it is working fine now

[2021-06-02 15:57] dmitrygx commented on #6836
@SeyedMir thanks for the testing

[2021-06-02 16:49] bureddy commented on #6884
@sinzah it is doing RNDV in both cases. but using different rndv protocols/schemes/
 we have a GPU protocol revamp in 1.9.1 to use GPUDirectRDMA in an optimal way in most generic GPU platforms.
in 1.8.1, the default scheme is the sender-side pipeline, in this, it will stage GPU memory to host memory and then do GPUDirectRDMA to remote GPU memory.  we choose this as default because on a platform wh

[2021-06-02 17:53] alex--m commented on #4388
@devreal @yosefe I think RDMA device memory is underrated - so I submitted PR #6890 to make it easier to use.

[2021-06-03 01:01] sinzah commented on #6884
@hoopoepg
Please check ucx_info that you requested.
[code]

@bureddy
Thanks for clarification.

Implemetation assumed that GPU system architecture is both HCA and GPU are connected to same PCIX (PCIe switch).
But, some of GPU system architecture might have a single HCA within GPU node.
In this case, UCX_RNDV_SCHEME=get_zcopy might not be helpful to achieve full bandwidth in some case of GPU system

[2021-06-03 01:46] h2cw2l commented on #6886
Thanks.

[2021-06-03 01:46] #6886 closed

[2021-06-03 12:42] h2cw2l opened #6894 "Call back function: What is the request ? Is it a struct ? Where is its definition ?"
![image](https://user-images.githubusercontent.com/58133919/120646582-3e164d00-c4ac-11eb-92ea-71938bf3a24d.png)

[2021-06-03 12:47] h2cw2l commented on #6853
@shamisp @dmitrygx

Thanks.

[2021-06-03 12:47] #6853 closed

[2021-06-03 12:53] hoopoepg commented on #6894
@h2cw2l request from user's perspective is opaque object without any specific features. it is used to track operation progress and results (success/fail). internally this is wide structure declared in src/ucp/core/ucp_request.h. but note that location of request structure is not same as pointer: request pointer "points" to user's data, request structure located on memory buffer "before" of user's

[2021-06-03 12:55] pentschev opened #6895 "ERROR feature flags UCP_FEATURE_TAG were not set for ucp_init()"
Not enabling `UCP_FEATURE_TAG` prints error messages upon `ucp.init()`. I believe this shouldn't happen for cases where TAG isn't used (e.g., when relying on AM only). The complete error message is seen below:

[code]

This is reproducible with https://github.com/openucx/ucx/commit/74552f660066a1a7b7468901a34937724f221873 and a non-release build.

[2021-06-03 12:59] brminich commented on #6895
this message comes from `ucp_tag_probe_nb` which is TAG API call. It is illegal to invoke this func, if `UCP_FEATURE_TAG` is not specified in `ucp_init`

[2021-06-03 13:02] avildema opened #6897 "Fail on AMD GPU"
Setup:
swx-rdmz-instinct02
MLNX_OFED_LINUX-5.1-2.5.8.0
Desc: Mellanox Technologies MT28908 Family [ConnectX-6]
PN: MCX654106A-HCAT  rev. AC
PSID: MT_0000000228
SN: MT2019T03978
FW: 20.28.2006

https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=18930&view=logs&j=f97760b2-5332-5514-7a21-2a026a1217cc&t=78fb67b3-8376-5236-7d82-1487b2abec27
[code]

[2021-06-03 13:06] pentschev commented on #6895
Ah yes, you're right, I could confirm that on my end. The error message got me confused thinking it was happening _during_ `ucp_init()`. Anyway, sorry for the false alarm.

[2021-06-03 13:06] #6895 closed

[2021-06-03 13:22] h2cw2l commented on #6894
Thanks for reply.

But I still can not understand you clearly.
1、Is struct ucp_request in src/ucp/core/ucp_request.h the definition of the first input parameter "void *request" ?
2、“request pointer "points" to user's data”，as I understand, the last  input parameter points to the user's data, what do you mean by "request pointer", it also points to user's data ?
3、What do you mean by "user's data",

[2021-06-03 13:40] hoopoepg commented on #6894
the common request layout is like this:
[code]
look at the description of ucp_tag_send_nbr routine for details
size of payload is configured in ucp_params_t::request_size value of ucp_init routine

[2021-06-03 15:43] bureddy commented on #6884
@sinzah  can you share "`nvidia-smi topo -m`" output?
Looks like your setup is not optimal for GPUDirectRDMA.  Can you try option "`-x UCX_IB_GPU_DIRECT_RDMA=no`" ? it will fallback to pipeline protocol.

[2021-06-03 17:44] dmitrygx opened #6900 "rc/test_ucp_rma.get_blocking/2 failed on gpu"
[code]
Link to the log: https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/19162/logs/301

[2021-06-03 18:00] dmitrygx opened #6901 "tcp/test_uct_sockaddr_legacy.cm_open_listen_close/1 failed"
[code]

[2021-06-03 23:36] sinzah commented on #6884
@bureddy

Your comment is correct.  Our GPU system might not be optimal for GDR.
Ofcoursely, We have tried -x UCX_IB_GPU_DIRECT_RDMA=no case.
In this case, inter-node InfiniBand throughput is saturated when the large message size is used.
But the case of D-D each device is connected IB within same PIX shows slight performance degradation in comparison with GDR enabled case.
I want to ask you that

[2021-06-04 02:55] h2cw2l commented on #6894
As far as I know, the send/recv buffer is malloced by user, how can we place the request before the the user buffer ?

[2021-06-04 02:55] h2cw2l commented on #6894
As far as I know, the send/recv buffer is malloced by user, how can we place the request before the the user buffer ?

[2021-06-04 06:16] hoopoepg commented on #6894
user data here is not send/recv data. user may use request to store any operation context, for example in OMPI it used to store OMPI request.
good example of usage is in test/examples/ucp_hello_world.c

[2021-06-04 06:38] h2cw2l commented on #6894
Yes, I have read test/examples/ucp_hello_world.c.

My application scenario is to encapsulate some functions similar to socket apis based on ucx apis.
I will abstract an id similar to socket fd to represent a connection.
When recv or send a packet，the data buff is offerred by user.

**Every time before I call recv or send, I want to remember the id and buff address  in request_t, so that when the c

[2021-06-04 06:39] h2cw2l commented on #6894
Yes, I have read test/examples/ucp_hello_world.c.

My application scenario is to encapsulate some functions similar to socket apis based on ucx apis.
I will abstract an id similar to socket fd to represent a connection.
When recv or send a packet，the data buff is offerred by user.

**Every time before I call recv or send, I want to remember the id and buff address in request_t, so that when the ca

[2021-06-04 06:57] hoopoepg commented on #6894
hmm, you definitely may use ucp_tag_send_nbx/ucp_tag_recv_nbx functions, it allow to use own request which may be partially initialized prior to send/recv operation

[2021-06-04 07:09] h2cw2l commented on #6894
Now, I use ucp_stream_recv_nbx/ucp_stream_send_nbx, because they are similar to TCP.
Can I use request_t for each packet in this scenario ?

[2021-06-04 07:09] h2cw2l opened #6902 "Where is definition of ucp_address_t ?"

[2021-06-04 07:23] hoopoepg commented on #6894
no, you can't use it directly.
the right way to use own request is:
1. get UCX request size using ucp_context_query function
2. allocate buffer length request size + your custom data size
3. initialize pointer to buffer+request size - it will points into your custom data
4. initialize your custom data using pointer from previous item
5. use this pointer as user request in send/recv_nbx calls

in d

[2021-06-04 08:25] chenyidu commented on #6902
https://github.com/openucx/ucx/blob/74552f660066a1a7b7468901a34937724f221873/src/ucp/api/ucp_def.h#L112

Because only `ucp_address_t*` and `ucp_address_t**` , the definition of `struct ucp_address` is not required.

[2021-06-04 09:43] h2cw2l commented on #6902
It is difficult to understand the definition of struct ucp_address is not required, why ?

[2021-06-04 10:12] h2cw2l opened #6903 "If ucp_stream_send_nbx completed immediately, will the send_cb be called ?"
I see the cb of ucp_stream_send_nb will not be called if completed immediately.
But the description of ucp_stream_send_nbx does not say this, if it completed immediately, will its cb be called ?
Is the same condition exists in recv side ?
![图片](https://user-images.githubusercontent.com/58133919/120785378-a7a36380-c55f-11eb-90d5-3d0161072803.png)
![图片](https://user-images.githubusercontent.com/5813

[2021-06-04 11:03] hoopoepg commented on #6903
there is same behavior across all _nbx calls

[2021-06-04 12:48] avildema opened #6904 "[MTT] dc_mlx5_ep.c:1414 Assertion `uct_dc_mlx5_iface_dci_has_outstanding(iface, ep->dci)' failed: iface 0x24bbec0 ep 0x25a3090: dci leak detected: dci=6 fc_wnd=128"
Configuration
[code]
 
MTT log:
http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20210604_012514_102524_23116_jazz16.swx.labs.mlnx/html/test_stdout_AEhEKZ.txt
 
Cmd:
`/hpc/local/benchmarks/daily/next/2021-06-04/hpcx-gcc-redhat7.6/ompi/bin/mpirun -np 56 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV,S

[2021-06-04 15:09] abellina opened #6906 "Should there be a fallback when `mlx5dv_devx_create_event_channel` fails?"
We often (but not always) see errors like:
[code]
Which results in `Input/output error`, and our test application failing. We are using UCX 1.10.1 as released on an Ubuntu image.

In this environment we are using CX5 nics. The system is running MLNX_OFED 4, and we run within a docker container with MLNX_OFED 5 user-space libraries installed. The error doesn't happen always, which seems odd to me.

[2021-06-04 15:10] abellina commented on #6906
@Artemy-Mellanox I believe you may be familiar with devx, so pinging you here.

[2021-06-04 16:04] chenyidu commented on #6902
Size of pointer type is fixed, so pointer types can be used with only forward declaration. If you take a closer look at where `ucp_address_t` is used, you can find that it is treated as void type. `struct ucp_address` is just a more readable name, `typedef void ucp_address_t` is ok too. Here is the basic knowledge of C language.

[2021-06-05 19:36] yosefe commented on #6902
the ucp_address_t should be treated as void and the actual address size is returned from ucp_worker_query(). It's not possible to know the real address size in compile-time, but only in run time, since it depends on available communication hardware on the machine.

[2021-06-05 19:38] yosefe commented on #6906
It's not supported to run MOFED 5 userspace with MOFED 4 kernel. Both should use MOFED 5 (or a modern rdma-core and kernel).

[2021-06-06 10:28] h2cw2l commented on #6903
Thanks for reply.

Is the same condition exists in the recv side ?
That means, if ucp_stream_send_nbx/ucp_stream_recv_nbx complete immediately, the call back function will not be called ?

[2021-06-06 10:42] h2cw2l commented on #6902
Thanks.

[2021-06-06 10:42] #6902 closed

[2021-06-06 11:13] hoopoepg commented on #6903
right. for this purpose there is recv_info value in ucp_request_param_t structure to get received data info

[2021-06-06 11:30] h2cw2l commented on #6903
Thanks.

[2021-06-06 11:30] #6903 closed

[2021-06-06 16:40] abellina commented on #6906
@yosefe would both running MOFED 4 be supported? In this scenario, would the devx error be related?

[2021-06-06 19:14] yosefe commented on #6906
i would not expect to see this devx error if both run MOFED 4

[2021-06-07 00:57] chenyidu opened #6912 "Why does UCP PUT/GET not support iov ?"
It looks like the one-side operation API of UCT supports iov, so why UCP API  remove this part ? Is there any special consideration? Thanks in advance.
https://github.com/openucx/ucx/blob/d6d412e35d1541c8b9b05004c4113c3b1a639c03/src/uct/api/uct.h#L2779-L2782

[2021-06-07 02:36] h2cw2l opened #6913 "About ucp_stream_send_nbx/ucp_stream_recv_nbx ?"
When ucp_stream_send_nbx completes, the len of data sent is equal to the input param count ?
When ucp_stream_recv_nbx completes, the len of data recvd is  0 < length <= count ?

**Is my understand right ?**

ucp_stream_send_nbx(ucp_ep_h ep, const void *buffer, size_t count,
                                     const ucp_request_param_t *param);
ucp_stream_recv_nbx(ucp_ep_h ep, void *buffer, size_t

[2021-06-07 03:16] h2cw2l opened #6914 "As far as I know，Roce should work in lossless network，need ucx realize the backpressure ? How can it realize the backpressure ？"

[2021-06-07 06:45] hoopoepg commented on #6913
for sender side it is true: after **operation** is completed, not only call of send routine, send buffer may be reused.
for receiver side you should use flag UCP_STREAM_RECV_FLAG_WAITALL to force receiving of whole message

[2021-06-07 07:00] h2cw2l commented on #6913
Thanks for reply.
For the receiver side, I do not use flag UCP_STREAM_RECV_FLAG_WAITALL, if ucp_stream_recv_nbx  is completed immediately and returns UCS_OK, **is the length between 0 and count ?**

ucp_stream_recv_nbx(ucp_ep_h ep, void *buffer, size_t **count**,
size_t ***length**, const ucp_request_param_t *param);

[2021-06-07 07:18] hoopoepg commented on #6913
right, any value between 0 and length

[2021-06-07 07:24] h2cw2l commented on #6913
Thanks.

[2021-06-07 07:24] #6913 closed

[2021-06-07 08:00] yosefe commented on #6912
Right, currently UCP RMA operations do not support iov since it was not implemented. RMA supports only contiguous buffer since it the common use case for SHMEM/PGAS applicaitons.

[2021-06-07 09:09] chenyidu commented on #6912
@yosefe When will it be supported? Is there a plan?

[2021-06-07 10:03] robertsawko commented on #3386
Just to confirm. This is now working on the latest version of UCX and OpenMPI. Thanks.

[2021-06-07 10:03] #3386 closed

[2021-06-08 06:10] #6904 closed

[2021-06-08 11:48] #6914 closed

[2021-06-08 19:43] rajachan commented on #6420
Looks like https://github.com/openucx/ucx/pull/6883 fixes the RC QP detection issue I mentioned in the previous comment.

[2021-06-09 10:29] pentschev opened #6922 "TCP transport may cause `Connection reset by peer` when closing shortly after `ucp_tag_send_nb`"
### Describe the bug
Calling `ucp_ep_close_nb` with `UCP_EP_CLOSE_MODE_FORCE` immediately after `ucp_tag_send_nb` may cause `Connection reset by remote peer` on remote end with TCP transport.

### Steps to Reproduce
May be reproduced with UCX-Py `send-recv` benchmark:
[code]

### Setup and versions
- UCX at https://github.com/openucx/ucx/commit/8758853c91ff1726c3fe56ddc5011df17b34b522
- UCX-Py at

[2021-06-09 16:20] souravzzz commented on #6865
@avildema Can you please close the ticket? It has been fixed in #6851

[2021-06-10 05:40] avildema commented on #6865
Fixed

[2021-06-10 05:40] #6865 closed

[2021-06-10 17:25] SeyedMir opened #6925 "gtest build fails due to outside array bound access in test_bitops"
### Describe the bug
[code]

In test_ops.cc, there are cases where the buffer size is 20, and then there are assertions like `ASSERT_TRUE(ucs_bitwise_is_equal(buffer1, buffer2, 160));` which will result to accessing memory beyond the buffer allocation in ucs_bitwise_is_equal(), because 160 will result in an offset equal to 20.

The issue shows up when building with gcc 10.

### Steps to Reproduce

[2021-06-10 17:25] SeyedMir commented on #6925
@yosefe @alex--m

[2021-06-11 06:06] h2cw2l opened #6930 "How can I set ucs log level ?"
#include <ucs/debug/log_def.h>
#include <ucs/type/status.h>

To use ucs_xxx() to pring log, I know to include headers above.
How can I set log level except change origin code ?

[2021-06-11 06:37] #6930 closed

[2021-06-11 10:56] yosefe commented on #6925
@alex--m issue introduced by #5581 , shall we skip bitwise check in https://github.com/openucx/ucx/blob/master/src/ucs/arch/bitops.h#L186 if remainder==0?

[2021-06-13 07:54] #6925 closed

[2021-06-15 03:55] XCloudAI opened #6940 "What's the usage scenario difference between ucp_am_callback_t and ucp_am_recv_callback_t"
### Describe the bug
A clear and concise description of what the bug is.

### Steps to Reproduce
- Command line
- UCX version used (from github branch XX or release YY) + UCX configure flags (can be checked by `ucx_info -v`)
- **Any UCX environment variables used**

### Setup and versions
- OS version (e.g Linux distro) + CPU architecture (x86_64/aarch64/ppc64le/...)
   - `cat /etc/issue` or `cat

[2021-06-15 07:23] #6882 closed

[2021-06-15 08:14] #6940 closed

[2021-06-16 13:06] h2cw2l opened #6960 "Do you have customers whose application is developed by golang ?"
Hello, ucx team,

Do you have customers whose application is developed by golang ?
How is the performance about latency and throughput ?

[2021-06-16 13:22] shamisp commented on #6960
@petro-rudenko is leading the work on golang

[2021-06-16 14:26] petro-rudenko commented on #6960
Hi, we just started to implement go bindings. Soon should be functionality for endpoint, so you can measure latency/bandwidth. Let us know your use case, meanwhile, you can watch this folder: https://github.com/openucx/ucx/tree/master/bindings/go

[2021-06-16 14:58] Akshay-Venkatesh opened #6961 "Segfault when running with `UCX_PROFILE_MODE=accum`"
### Describe the bug
Seeing a segfault when running with `UCX_PROFILE_MODE=accum` and `UCX_PROFILE_FILE=%h-%p.prof`

[code]

### Steps to Reproduce
- Command line
[code]
- UCX version used: master @ 5e17dc9613eabed17b200d227126c8f3d45a1224; configured with contrib/configure-devel

[2021-06-16 15:03] yosefe commented on #6961
Can you pls check if reverting 2233c4a21332c447e7815868db7bc3cf6ed36b36 helps?

[2021-06-17 16:56] dmitrygx opened #6966 "tcp/test_ucp_sockaddr_destroy_ep_on_err.onesided_client_sforce/6 fails on sputnik3"
[code]
https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=19570&view=logs&j=7c8bfeef-839e-542c-7583-d350f4a310c0&t=c6310655-4648-579a-7a4e-2ab23c9d123f

[2021-06-17 17:36] dmitrygx opened #6968 "tcp/test_uct_sockaddr.err_handle/1 fails under valgrind on swx-rdmz-ucx-new-02"
[code]
https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=19815&view=logs&j=e478acae-f7e6-504c-74c3-c7a2ae7ed16d&t=fa79f956-22e9-5f3b-cb59-a6f2b0ec0774
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/19815/logs/339

[2021-06-17 17:48] dmitrygx opened #6969 "rc/test_ucp_sockaddr_destroy_ep_on_err.onesided_client_sforce/5 hangs sporadically on ppc"
[code]
http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/12482/pipeline/144
http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/12482/nodes/144/steps/150/log/?start=0

[2021-06-17 17:54] #6673 closed

[2021-06-18 17:18] lukasm91 opened #6972 "Self communication very slow for device buffers"
### Describe the bug

While for MPI_Send/recv it is very understandable that self-communication is slow, this is a very common and understandable pattern for Alltoall. Still, self communication seems very slow and seems it is not being handled by UCX.  Instead, MPI does zillions of small MemcpyD2D, causing performance to be very bad (4X slowdown compared to no self-to-self).

[image](https://user-

[2021-06-18 17:19] lukasm91 commented on #6972
@bureddy

[2021-06-19 03:01] #6960 closed

[2021-06-21 13:08] gvallee opened #6982 "Go bindings: `$GOPATH/go.mod exists but should not` compile error"
### Describe the bug
With Go installed, i always get the following error: `$GOPATH/go.mod exists but should not`
Adding `-with-go=no` disable the compilation of the Go bindings and avoid the problem since Go is installed but i do not need the Go bindings.

### Steps to Reproduce
- `./autogen.sh && ./configure && make`
- UCX version used (from github branch XX or release YY) + UCX configure flags (

[2021-06-21 21:46] tonycurtis opened #6985 "OpenMPI 4.1.0 compiled with gcc10 and ucx 1.10.1: hugepage problems"
### Describe the bug

Our z64fx cluster recently had its node images updated to set hugepage sizes in response to the fujitsu compilers.  OpenMPI/UCX are seeing problems related to hugepages.

### Steps to Reproduce

- UCX version used (from github branch XX or release YY) + UCX configure flags (can be checked by `ucx_info -v`)

1.10.1 originally, and others

### Setup and versions
- OS version (e

[2021-06-21 22:11] yosefe commented on #6985
@jgunthorpe could there be an issue in rdma-core not respecting `RDMAV_HUGEPAGES_SAFE`?

[2021-06-21 23:21] jgunthorpe commented on #6985
Haven't heard anything like that.. I would guess that the EINVAL is coming from something else not the fork saftey code.. strace it and see?

[2021-06-22 18:32] nsimakov commented on #6985
[stracefile_3441.log](https://github.com/openucx/ucx/files/6696624/stracefile_3441.log)
[stracefile_11170.log](https://github.com/openucx/ucx/files/6696627/stracefile_11170.log)

Here is strace for two ranks.

[2021-06-22 18:40] nsimakov commented on #6985
I think I uploaded incorrect straces, let me check on it

[2021-06-22 18:54] nsimakov commented on #6985
[strace_rank0.txt](https://github.com/openucx/ucx/files/6696744/strace_rank0.txt)
[strace_rank1.txt](https://github.com/openucx/ucx/files/6696746/strace_rank1.txt)

This is from proper pids.

[2021-06-22 19:22] yosefe commented on #6985
@jgunthorpe seems madvise fails, size is not 2m multiple (strace_rank1.txt line 35122)
[code]

[2021-06-22 20:21] jgunthorpe commented on #6985
strace says that directly before the madvise it read smaps which means huage page support is turned on. So something is busted, maybe it failed to parse the smap output properly. If you use a -s 2000 option you can capture the smap output before the failing madvise for the address range in question and perhaps learn something. It didn't run the file to exhaustion so it did find and match an addres

[2021-06-22 22:06] nsimakov commented on #6985
I am running intel MPI benchmark, which used to run fine before hugepage update.

The error happens during MPI_Sendrecv:

[code]
Some functions work fine (for example PingPong) others failed similarly.

Strace files with -s 2000 options:
[strace4_rank0.txt.gz](https://github.com/openucx/ucx/files/6697651/strace4_rank0.txt.gz)
[strace4_rank1.txt.gz](https://github.com/openucx/ucx/files/6697652/stra

[2021-06-23 12:59] jgunthorpe commented on #6985
Does look like some kind of bug, send it to Maor's group:
[code]

Are you running a rdma-core with Artemy's fixes in this area?

[2021-06-23 13:20] h2cw2l opened #6991 "Is this state exists such as a conn request has reached but the listener's conn call back function has not been called ?"
Hello, ucx team,
My doubt is described as the title.
Is this condition exists ? If it exists, how can I process this conn request before I destroy listener ?

As I test, I think this condition exists, have you ever met this condition ?

    params.field_mask         = UCP_LISTENER_PARAM_FIELD_SOCK_ADDR |
                                              UCP_LISTENER_PARAM_FIELD_CONN_HANDLER;
    param

[2021-06-23 13:37] yosefe commented on #6991
if a conn request is reached but listener is destroyed in same time, it will be rejected and dropped , see https://github.com/openucx/ucx/blob/ef4150e61a71156427a5edafafd02271b17ece57/src/ucp/core/ucp_listener.c#L362

[2021-06-23 16:49] tonycurtis commented on #6985
If that rmda-core question is to us, we have
[code]

[2021-06-24 03:18] h2cw2l commented on #6991
Thanks.

[2021-06-24 03:20] h2cw2l opened #6997 "Doubt about iodemo."
After create ep why call connect_tag() ?
This code not exists in ucp_client_server.

void UcxConnection::connect_common(ucp_ep_params_t &ep_params,
                                   UcxCallback *callback)
{
    _establish_cb = callback;

    // create endpoint
    ep_params.field_mask      |= UCP_EP_PARAM_FIELD_ERR_HANDLER |
                                 UCP_EP_PARAM_FIELD_ERR_HANDLING_MODE;

[2021-06-24 06:15] #6991 closed

[2021-06-24 06:38] evgeny-leksikov commented on #6997
it goes from TAG API semantic: send context is endpoint but receive context is worker,  so to identify "reply" endpoint we have to exchange IDs as part of connection establishment and use it on data path as part of tag

[2021-06-24 07:10] h2cw2l commented on #6997
I see STREAM also do this ？

[2021-06-24 07:26] evgeny-leksikov commented on #6997
stream API does receive on endpoint, so it matches send and receive (reply) endpoints, this is why we use it to exchange IDs for usage in TAG API

[2021-06-24 18:20] Akshay-Venkatesh opened #7001 "ucp_ep_config(ep)->key.err_mode == UCP_ERR_HANDLING_MODE_PEER assertion fail with GPU_DIRECT_RDMA=no"
### Describe the bug
On ucx master  I see the following error with UCX_IB_GPU_DIRECT_RDMA=no
mlx5: dgx-16: got completion with error:
00000000 00000000 00000000 00000000
00000000 00000000 00000000 00000000
00000002 00000000 00000000 00000000
00000000 9d005304 08009a07 4a81aad2

[dgx-16:51669:0:51669]      ucp_ep.c:1169 Assertion `ucp_ep_config(ep)->key.err_mode == UCP_ERR_HANDLING_MODE_PEER' faile

[2021-06-24 18:20] Akshay-Venkatesh commented on #7001
cc @dmitrygx

[2021-06-24 19:46] Akshay-Venkatesh commented on #7001
@dmitrygx I noticed that this problem goes away if UCX_TLS includes `sm` transport.

[2021-06-25 06:29] #7001 closed

[2021-06-25 08:11] h2cw2l commented on #6997
Thanks。

[2021-06-25 08:11] #6997 closed

[2021-06-25 08:22] h2cw2l opened #7005 "Doubt about request(ep close request, send/recv request, connection request) process"
Hello, ucx team,

1、I have learned the iodemo code. I see it processes requests(ep close request, send/recv request, connection request) very carefully.

2、I also see, there are some ucx functions can cleanup the unprocessed request automatically.
ucs_callbackq_cleanup(), ucs_callbackq_remove_if(), ucp_request_complete_stream_recv()

3、I have test locally, before I destroy the ep/listener/worker/c

[2021-06-25 08:47] evgeny-leksikov commented on #7005
assuming that you are using UCP, (2) - these are internal functions called from UCP to clean up UCP resources

 - in case of stream request it will be completed with status UCS_ERR_CANCEL
 - TAG request - you have to cancel it with ucp_request_cancel (see https://openucx.github.io/ucx/api/v1.10/html/group___u_c_p___c_o_m_m.html#ga3553f89a61d6b40af4633a2e7c84fc1d for details)
 - not "accepted" conn

[2021-06-25 08:52] h2cw2l commented on #7005
all endpoints, listeners and requests have to be released before destroying parent worker

I want to ask is that if recv/send requests can be processed automatically by ucx and user do not need to care this ?

[2021-06-25 09:29] h2cw2l opened #7006 "Can multi workers work with only one thread ?"
For example, one thread process 10 workers.

[2021-06-25 10:36] h2cw2l opened #7007 "Question about request and call_back_q"
ucs_status_ptr_t request = ucp_stream_recv_nbx();

Let us consider this condition:
After call ucp_stream_recv_nbx(), it return an request and it will add an event to the call back queue after the recv completed.

Can I cancel the request before the call back event be processed ?
If I do this, will the call back function be called ? It the call back function be called, the request is NULL ?

[2021-06-25 10:49] evgeny-leksikov commented on #7005
sure you can release or free request rigth after send/recv operation with `ucp_request_release`/`ucp_request_free`

in any case it's user responsibility to release requests back to UCP library

[2021-06-25 11:44] evgeny-leksikov commented on #7007
ucp_request_cancel works like "best effort" to cancel the operation without any guerantees and implemted only for TAG API

it depends on `ucp_stream_recv_nbx` parameters

[2021-06-25 12:12] #6982 closed

[2021-06-25 16:40] gvallee opened #7008 "Go bindings - compilation error"
### Describe the bug
I am not able to compile Go bindings which are enabled by default when Go is installed on the system:
[code]

### Steps to Reproduce
- `./autogen.sh && ./configure && make`
- UCX version used (from github branch XX or release YY) + UCX configure flags (can be checked by `ucx_info -v`)
[code]
- **Any UCX environment variables used**: None

### Setup and versions
- OS version (e

[2021-06-26 16:18] petro-rudenko commented on #7008
Can you please add a line `$(GO) env` before this line: https://github.com/openucx/ucx/blob/master/bindings/go/Makefile.am#L21
You should see something like this:

[code]

it should link go bindings with built directory of ucx, not the system one.
@yosefe we should probably return some verbose output to go builds, to see what it links to

[2021-06-27 00:55] gvallee commented on #7008
@petro-rudenko I added the line and cannot find any similar output.

[2021-06-27 01:45] wangvsa commented on #6922
Hi, I observed the same issue when running the example code `ucp_client_server.c`.
UCP_EP_CLOSE_MODE_FLUSH will also trigger this issue.

Any temporary fix or hack that I can try?

[2021-06-27 18:41] petro-rudenko commented on #7008
Need to rerun `./autogen.sh && ./configure && make`

[2021-06-28 03:00] gvallee commented on #7008
@petro-rudenko apologies, the problem is from a totally corrupted environment. I could see various libraries being picked up after moving `$(GO) env` from the `test` target to the `build` target. Sorry for the noise.

[2021-06-28 03:00] #7008 closed

[2021-06-29 06:06] #6836 closed

[2021-06-29 09:01] xuhan2019 opened #7021 "The ODP test Problem: when the data size is bigger than 1024KB, the single-side RDMA-READ does not work"
### Describe the bug
We integrate the UCX in our application and set the ODP model in two nodes environment. We meet the problem when running the single-side RDMA-READ operation, while the two-side operation is ok. The problems are that when the data size is bigger than 1024KB,  the single-size RDMA-READ does not work, and cannot get any respones【We can get request sending logs, but cannot get any

[2021-06-29 09:09] yosefe commented on #7021
1. does it work without NONBLOCK flag?
2. what is the MTU on both sides (from ibv_devinfo -v)?
adding @Artemy-Mellanox

[2021-06-29 09:17] xuhan2019 commented on #7021
@yosefe thanks for reply.
1. I am sure that ODP does not work without NONBLOCK flag.
2. the attached file is the full ibv_devinfo
![image](https://user-images.githubusercontent.com/81618801/123771629-cc3ff080-d8fd-11eb-99fe-7365cbd1ed35.png)
[ibv_devinfo.txt](https://github.com/openucx/ucx/files/6732101/ibv_devinfo.txt)
@Artemy-Mellanox

[2021-06-29 09:22] yosefe commented on #7021
1. does it work ok without ODP?
2. is the test running on 1 machine or 2 machines? if 2 machines, both have same active_mtu?
3. if I understand correctly, the original value of odp_max_size was 0 and HAVE_ODP is 0, which could mean ODP is not really supported on the system?

[2021-06-29 09:25] xuhan2019 commented on #7021
1. yeah, it works ok without ODP
2. run on 2 machines and both have the same active_mtu
3. yes, you are right

[2021-06-29 09:28] yosefe commented on #7021
3. can you please upload the full output of `ibv_devinfo -vv` to double-check?

[2021-06-29 09:32] xuhan2019 commented on #7021
@yosefe the attached file is the full "ibv_devinfo -vv". Both machines have same ibv_devinfo
[ibv_devinfo.txt](https://github.com/openucx/ucx/files/6732234/ibv_devinfo.txt)

[2021-06-29 09:55] h2cw2l opened #7024 "Can multi workers work with only one thread ?"
For example, one thread process 10 workers.

[2021-06-29 09:55] #7006 closed

[2021-06-29 10:00] yosefe commented on #7024
it's possible but not recommended since progress 10 workers takes more time

[2021-06-29 10:57] h2cw2l commented on #7024
If I create context, worker and listener in the main thread and after this the main thread do not do other things.
And later, I use a new thread to do the ucp_worker_process().

Can I use as this ?

[2021-06-29 11:00] yosefe commented on #7024
still will not be as good as one worker:
- would consumer more memory (allocate buffers for each worker)
- when message is received need to progress 5 workers on average before finding the message has arrived - so latency is worse

[2021-06-29 11:36] dmitrygx opened #7025 "rc/test_ucp_sockaddr_protocols_err.tag_zcopy_64k_unexp_sync/2 failed on GPU"
[code]
https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=20398&view=logs&j=f97d6e39-20b4-5224-cb57-ac6707fa3b18&t=9aa0588e-e45f-5107-dd19-ce374bb50cbe
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/20398/logs/282

[2021-06-29 14:02] pentschev opened #7026 "Performance regression after memory invalidation on error"
### Describe the bug
After https://github.com/openucx/ucx/pull/6854 was merged there was a considerable performance regression in CUDA memory transfers with UCX-Py, limiting both IB and NVLink transfers to around 5GB/s.

<details><summary>IB Bandwidth before PR 6854</summary>

[code]

</details>

<details><summary>IB Bandwidth after PR 6854</summary>

[code]
</details>

<details><summary>NVLink Ba

[2021-06-29 15:59] dmitrygx commented on #7026
@pentschev thanks for reporting this issue.
the problem is lack of `UCT_MD_FLAG_INVALIDATE` support in CUDA-IPC transport. So, it is just not selected for GPU_2_GPU communications.

[2021-06-29 16:20] pentschev commented on #7026
Interesting, thanks @dmitrygx for the details. After your comment I was also able to verify that setting `UCX_MAX_RNDV_RAILS=1` for IB resolves the issue, but `cuda_ipc` indeed doesn't get selected at all in any cases.

[2021-06-29 16:22] dmitrygx commented on #7026
yes, we should fix it in UCT level

[2021-06-29 17:22] yosefe commented on #7026
@Akshay-Venkatesh is there a way to remote-invalidate a Cuda-IPC memory handle, in case the connection is broken and we want to prevent the remote side from accessing our going-to-be-released buffer?

[2021-06-30 01:41] h2cw2l commented on #7024
Thanks.

[2021-06-30 01:41] #7024 closed

[2021-06-30 01:46] h2cw2l opened #7027 "For the client side, if ucp_ep_create() returns UCS_OK, ucx still can not guarantee the connection is created successfully ?"
Hello, ucx team，

As I test, I find that when ucp_ep_create() returns UCS_OK, the connection can still be created failed.
How can I judge the connection is created successfully ? Only by send or recv a packet ?

[2021-06-30 02:12] xuhan2019 commented on #7021
@yosefe hello, could you please give me a guideline about how to deploy  ODP in UCX? I don't find any useable materials on the internet

[2021-06-30 07:55] yosefe commented on #7027
Yes

[2021-06-30 08:02] yosefe commented on #7021
Hi, the test is correct but currently ODP is not supported by the RDMA layer in your environment, this is why configure check result is 0 and odp_max_size is 0.
Please contact NVIDIA support for further assistance, or email me privately.

[2021-06-30 12:02] brminich commented on #5678
@avildema, ping. Have you seen this fault recently?

[2021-06-30 12:03] brminich commented on #6437
@dmitrygx, were you able to repro this?

[2021-06-30 12:14] dmitrygx commented on #6437
need to try to repro again, I don't remember why I reported:

[2021-06-30 13:19] avildema commented on #5678
I did not see any more

[2021-06-30 22:18] dkokron commented on #5616
@brminich
I've been attempting to test your topic/ucx_van_using_am branch using ucx.git.  I can get charm to build using gcc (10.2.0), however, I need it to build with Intel compilers.  With Intel compilers (19.1.3.20200925) I get a complaint about the -fpic flag.  Have your modifications from topic/ucx_van_using_am branch made it into a charm release?

Charm++ 6.10.2 configuration:
  OS version:

[2021-07-01 02:05] xuhan2019 commented on #7021
@yosefe @Artemy-Mellanox I think it is not for this reason. Because，the ODP test is ok when the data size is smaller than 1KB, and the value of the HAVE_ODP and the odp_max_size are allowed for custom setting

[2021-07-01 06:45] brminich commented on #5616
@dkokron, no it is not in the release.
I'd need to discuss the plans for AM based machine layer with @nitbhat first

[2021-07-01 07:20] brminich commented on #5573
can't reproduce within 10 hrs.
closing until it is seen again

[2021-07-01 07:20] #5573 closed

[2021-07-01 12:50] alinask commented on #5351
The failure in this report - http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20210630_234309_59277_45160_jazz09.swx.labs.mlnx/All_phase-summary.html

[code]

Environment
SLURM JobId: 45160
Nodes: jazz x3 (ppn=28(x3), nodelist=jazz[09-10,25])
Module: hpcx-gcc (2021-06-30)

MLNX_OFED_LINUX-5.1-2.5.8.0:

Examples of a command line (with and without UCX_IB_NUM_PATHS=4) :

/hpc/local

[2021-07-01 15:59] pentschev opened #7043 "`ERROR ucp recv descriptor is not allocated` on TCP with large segment sizes"
### Describe the bug
UCX raises `ERROR ucp recv descriptor is not allocated` when using `UCX_TLS=tcp` and setting `UCX_TCP_{TX,RX}_SEG_SIZE` larger than `16MB`.

<details><summary>Server output</summary>

[code]
</details>

<details><summary>Client output</summary>

[code]
</details>

### Steps to Reproduce
- Command line for both server and client: `UCX_NET_DEVICES=enp1s0f0 UCX_TLS=tcp UCX_TCP_TX

[2021-07-01 19:31] brminich commented on #6679
can't reproduce in 10 hrs, closing

[2021-07-01 19:31] #6679 closed

[2021-07-01 19:34] brminich commented on #5351
Running HWTM job with UCX_IB_NUM_PATHS=4 may require too many QPs per HCA.
This job exceeded maximum allowed number of QPs per HCA.
Needs to be fixed in MTT to avoid tests with such configs

[2021-07-01 19:34] #5351 closed

[2021-07-02 07:20] alinask commented on #5351
@brminich what changes should be made in MTT?

[2021-07-02 07:35] dmitrygx opened #7050 "ud/test_ucp_perf.envelope/0 hangs on swx-rdmz-ucx-new-02"
[code]
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/20591/logs/331
https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=20591&view=logs&j=c02db851-0d7a-5132-2265-ebd0aa7c6d37

The issue looks related to the PR, need to be investigated.

[2021-07-02 13:26] brminich commented on #5351
to not run HWTM jobs with IB_NUM_PATH > 2

[2021-07-02 22:03] dkokron commented on #5616
Mikhail,
The slow startup issue has gone away.  I can still reproduce the issue on our system using the older executables based on
hpcx-2.7.0 (ucx-1.9.0) + charm-6.10.2 + NAMD-1.15a1

however, the issue is not present in with
hpcx-2.8.1 (ucx-git) + topic/ucx_van_using_am + NAMD-1.15a1
hpcx-2.8.1 (ucx-git) + charm-6.10.2 + NAMD-1.15a1
hpcx-2.8.1 (ucx-1.10.0 96422ce) + charm-6.10.2 + NAMD-1.15a1
hpc

[2021-07-02 22:21] tonycurtis opened #7053 "Run: hang at exit since specific commit"
### Describe the bug

Since git-pull got me 8ee0988824477efbbd053f3bb2c558c2c1a56b36, programs in my openshmem that have been working fine, are now hanging at exit.  Not always, but definitely with more than a few nodes.  Revert to 1 commit earlier (70b69fcb8b4afc1b0be5da2af1b38f8e68290086), and all is well.

### Steps to Reproduce
- UCX version used (from github branch XX or release YY) + UCX con

[2021-07-03 12:25] #7043 closed

[2021-07-04 09:22] alinask commented on #5351
@brminich what should be the value of this param then?

[2021-07-04 09:33] brminich commented on #5351
with HWTM can leave it to be default (i. e. 1)

[2021-07-04 09:36] alinask commented on #5351
@avildema please update the ucx-hwtm job to run with  UCX_IB_NUM_PATHS=1 (when hwtm is enabled)

[2021-07-04 12:54] hoopoepg commented on #7053
hi @tonycurtis
thank you for bug report.

could you provide some reproducer for issue?

[2021-07-04 17:14] tonycurtis commented on #7053
Its happening on any program when I go beyond 128 PEs/ranks (no matter no. of nodes)

[2021-07-05 12:29] hoopoepg commented on #7053
does issue reproduced if set UCX_TLS=dc ?

[2021-07-05 12:30] hoopoepg commented on #7053
how many CPU on your compute nodes?
does it reproduces on single node run?

[2021-07-05 13:44] tonycurtis commented on #7053
UCX_TLS=dc hangs beyond 128 ranks/PEs.  Tested on single node with 256 cores and across multiple compute nodes (48 core).

I'm only touching the UCP layer, BTW.  Did the commit change anything about the shut/tear down in dc?

[2021-07-05 13:48] hoopoepg commented on #7053
this commit fixes potential issue in DC transport and we didn't expect any changes in shutdown flow...

[2021-07-05 18:48] tonycurtis commented on #7053
I chased it down to presumably how I am using ucp_ep_close_nbx in a 2-phase ep disconnect loop.  It's something I am doing (surprise)  and will investigate more.  Thanks for helping.

[2021-07-05 18:48] #7053 closed

[2021-07-06 08:15] alinask commented on #5351
MTT was updated.

[2021-07-06 11:20] alinask opened #7062 "Failure on ucx-roce tests - tx wq overrun"
Job: ucx-roce

Configuration

[code]

MTT log:
http://hpcweb.lab.mtl.com//hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20210703_073428_161198_45947_jazz07.swx.labs.mlnx/html/test_stdout_lHq066.txt

Cmd:
`
/hpc/local/benchmarks/daily/next/2021-06-30/hpcx-gcc-redhat7.6/ompi/bin/mpirun -np 2 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=S

[2021-07-07 03:51] h2cw2l opened #7064 "I think it is very unfriendly to users for the recv function of tag/am are face worker other than ep."
ucs_status_ptr_t ucp_tag_recv_nbx(ucp_worker_h worker, void *buffer, size_t count,
                                  ucp_tag_t tag, ucp_tag_t tag_mask,
                                  const ucp_request_param_t *param);
ucp_am_recv_data_nbx(ucp_worker,
                                                        am_data_desc.desc,
                                                        msg, msg_length

[2021-07-07 15:56] mkre opened #7066 "Listing available UCX transports is taking a long time"
### Describe the bug
We need to find out the supported UCX transports, but listing them via the suggested `ucx_info -d` takes almost 30 seconds on our InfiniBand cluster. The output hangs for some seconds at
[code]
before continuing with
[code]
So, I suspect the delay might have to do with the performance tests being run. Can we somehow speed up the listing of supported transports (e.g., by skippi

[2021-07-07 16:18] yosefe commented on #7066
@mkre no performance tests are run but potentially some HW related operation is taking a while.
Is it possible to compile UCX [with logging enabled](https://github.com/openucx/ucx/wiki/Logging) and run the command with UCX_LOG_LEVEL=trace?

[2021-07-08 06:11] mkre commented on #7066
Please find the log file with tracing attached: [ucx_info-d_trace.txt](https://github.com/openucx/ucx/files/6781930/ucx_info-d_trace.txt)
The delay happens between the lines
[code]

[2021-07-08 08:33] #6894 closed

[2021-07-08 08:33] dmitrygx commented on #6813
[code]
http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/12879/pipeline/153

[2021-07-08 08:33] #7005 closed

[2021-07-08 08:33] #7027 closed

[2021-07-08 10:01] #7064 closed

[2021-07-08 10:07] h2cw2l opened #7074 "Qusetion about the *data of am_recv_callback() in iodemo."
As far as I know, if in the eager mode, the  recved data is stored in *data.This buffer of *data is managed by ucx.
**What I want to know is how can I config the buffer size and buff num and what its default value ?**

ucs_status_t UcxContext::am_recv_callback(void *arg, const void *header,
                                          size_t header_length,
                                          vo

[2021-07-08 10:14] brminich commented on #7074
In the eager mode, you get `length` parameter which defines the size of `data`. You will always receive all the data in one buffer. We are considering adding support for receiving data by chunks in eager mode, but it is not implemented yet.
What do you mean by default values for these buffers?

[2021-07-08 11:54] #7074 closed

[2021-07-08 12:27] #7007 closed

[2021-07-09 13:11] yosefe commented on #7066
maybe there was not enough free physical memory on the system and memory registration forced buffer cache eviction

[2021-07-09 15:26] mkre commented on #7066
Yeah, that might be the reason. Thanks for providing some background information. I will close this ticket and check the system status (and possibly reopen) should I see similar behavior again.

[2021-07-09 15:26] #7066 closed

[2021-07-13 05:08] gilbertlee-amd opened #7091 "dereg_bad_arg unit test requires --enable_params_check in order to pass"
The [dereg_bad_arg](https://github.com/openucx/ucx/blob/master/test/gtest/uct/test_md.cc#L703) unit tests appears to rely on the [UCT_MD_MEM_DEREG_CHECK_PARAMS](https://github.com/openucx/ucx/blob/master/src/uct/base/uct_md.h#L32) macro in order to properly produce expected results.  However, these expected results would only be produced if [parameter checking](https://github.com/openucx/ucx/blob/

[2021-07-14 21:20] rzambre opened #7102 "Running ucx_perftest with rocm<->rocm"
### Describe the bug
Running ucx_perftest with rocm memory is throwing an error.
I believe this check--- https://github.com/openucx/ucx/blob/master/src/tools/perf/lib/libperf.c#L409-#L425 ---is now outdated since UCP supports hip buffers?

### Steps to Reproduce
~/ucx/install/bin$ ./ucx_perftest -c 0 -t ucp_put_lat -m rocm
Waiting for connection...
+------------------------------------------------

[2021-07-14 22:09] rzambre commented on #7102
Hmm, I just read the FAQs and learned that only the tag and stream APIs are GPU-aware. I was under the wrong impression that all RMA and atomic operations are GPU-aware. In this case, the check would still hold then. Closing this issue.

[2021-07-14 22:09] #7102 closed

[2021-07-15 18:24] #6471 closed

[2021-07-15 18:24] #6705 closed

[2021-07-17 14:51] vchuravy opened #7110 "[CUDA] Support IPC for allocations created by `cuMemCreate`"
### Describe the bug

CUDA 10.2 introduced a new set of memory allocation routines (https://docs.nvidia.com/cuda/cuda-driver-api/group__CUDA__VA.html#group__CUDA__VA) which allow for pooled allocation and stream based allocation.

These allocation do not support `cuIpcGetMemHandle` as noted in https://developer.nvidia.com/blog/introducing-low-level-gpu-virtual-memory-management/

### Steps to Repr

[2021-07-18 08:53] yosefe commented on #7062
@vasilyMellanox

[2021-07-19 09:39] hongbilu commented on #4489
i have a question. how does gdrcopy work with rocm, gdrdrv seems only support nvidia

[2021-07-19 18:12] gggh000 opened #7127 "Build is failing"
### Describe the bug
Build is failing with log below:

[code]
### Steps to Reproduce
On ubuntu machine (18.04), just simply checkout and follow the first instruction: . ./autogen.sh caused this.
- UCX version used (from github branch XX or release YY) + UCX configure flags (can be checked by `ucx_info -v`)
master branch and v1.11

- **Any UCX environment variables used**
No that i know of
### Setu

[2021-07-19 18:22] gggh000 commented on #7127
After installing libtool, it worked. It may be good idea to add libtool installation as requirement.

[2021-07-20 17:36] souravzzz commented on #4489
@hongbilu gdrcopy is no longer required for rocm.

[2021-07-20 22:17] Akshay-Venkatesh commented on #7110
@vchuravy Is staging cuMemCreate/MallocAsync through cuMemAlloc/cudaMalloc memory not an option? Is it true that https://github.com/JuliaGPU/CUDA.jl/issues/1053 strictly needs to use  cuMemCreate/MallocAsync ?

[2021-07-21 07:33] vchuravy commented on #7110
Two notes:

1. I am only 90% sure that `cudaMallocAsync` uses `cuMemCreate` and had to infer that from the surrounding documentation.
2. That kinda highlights the point, the user doesn't necessarily know or needs to know what allocation method was used.

From the perspective of CUDA.jl we currently do not expose the different allocators to the user, the only option is whether the user configures t

[2021-07-21 20:35] pentschev commented on #6922
I also don't have a solution for this, but it would be great if it could be prioritized. Users started to report issues with Dask in https://github.com/rapidsai/dask-cuda/issues/677, as a workaround I added a 100ms sleep between `ucp_tag_send_nb` and `ucp_ep_close_nb`, for that one case it seems to be ok, but I imagine it may be problematic if the other endpoint takes longer than that to react and

[2021-07-26 06:09] AboorvaDevarajan opened #7151 "memory footprint is huge for short inlined - unexpected messages"
**UCX version** : master
**MPI** : OMPI master

Huge heap memory is allocated for short inlined - unexpected messages, which sometimes causes OOM (out-of-memory).

Here is the simplified test case used:

[code]

In the above program all the processes expect `rank 0` sends multiple small messages to `rank 0`, whereas rank 0 receives all the messages from the other tasks. This scenario could cause t

[2021-08-03 02:55] shamisp commented on #7127
@gggh000 AC_PROG_LIBTOOL is a "autotools" way to configure libtool. Checking for the presence of libtool binary with `which libtool`  is not a very robust way of checking the functionality of libtool installation since other parts of the tool can be missing. Executing the macro is a relatively reliable way to verify functionality of the tool.

[2021-08-03 14:51] shamisp commented on #7127
I'm closing for now. If you have an idea how libtool detection can be implemented in a robust way, please let us know.

[2021-08-03 14:51] #7127 closed

[2021-08-05 19:11] lfmeadow opened #7194 "process_vm_readv Bad Address causes abort with Cuda and OpenMPI on large application"
### Describe the bug
Running LAMMPS+KOKKOS compiled for KOKKOS cuda target using gcc and nvcc on 2x Nvidia A100 with OpenMPI and UCX results in:
[code]
If I set UCX_MEMTYPE_CACHE=n the code runs to completion with lots of messages like this:
[code]
The application used to run fine; some minor updates to the lammps and kokkos versions resulted in this failure. The SYCL targeting CUDA version of the

[2021-08-05 20:01] yosefe commented on #7194
@lfmeadow thank you for the report, it is very helpful!

1. is it possible the application is trying to transfer a buffer which was already released?
2. can you please run the test (with memtype cache enabled by default) with `-x UCX_MEM_LOG_LEVEL=trace` and attach the log?

[2021-08-05 21:34] lfmeadow commented on #7194
1. seems unlikely. I did spend some time trying to track down the allocation for the failing addresses but it is buried deep inside kokkos. The fact that it used to work and that no significant changes in allocation or communication occured also make it unlikely. I'll try again, though.
2.
[ucx-memtrace.log.gz](https://github.com/openucx/ucx/files/6941800/ucx-memtrace.log.gz)

@yosefe thanks.

[2021-08-05 22:58] yosefe commented on #7194
@lfmeadow can you pls check if https://github.com/openucx/ucx/pull/7195 helps?

[2021-08-05 23:45] lfmeadow commented on #7194
@yosefe no it didn't. Same error. I applied it to the ucx-1.11.0 source, it was the only change to src/ucm/bistro/bistro_x86_64.c
.
I could build from tip if you think that might help.

[2021-08-05 23:47] yosefe commented on #7194
any chance you could provide the log with `-x UCX_MEM_LOG_LEVEL=trace` and with that patch?

[2021-08-06 00:51] lfmeadow commented on #7194
I wonder if I did something wrong, this is much shorter. It looks like it failed at the same place in the app, though.
[ucx-memtrace-patched.log](https://github.com/openucx/ucx/files/6942342/ucx-memtrace-patched.log)

[2021-08-06 11:02] yosefe commented on #7194
@lfmeadow the log is shorter now because of a fix in installing cuda malloc hooks
can you please also add https://github.com/openucx/ucx/pull/7198, which prints more info for the cma failure, and collect the same trace with `-x UCX_MEM_LOG_LEVEL=trace -x UCX_LOG_LEVEL=data`?

[2021-08-06 14:15] lfmeadow commented on #7194
patch didn't apply perfectly but rejects were: one \#include in src/ucs/datastruct/string_buffer.h was easy, and one of the gtest files which I ignored, so I think it's all good. This one is quite large.
[ucx-trace3.log.gz](https://github.com/openucx/ucx/files/6946065/ucx-trace3.log.gz)

[2021-08-06 16:03] yosefe commented on #7194
@lfmeadow the log suggests that the problematic addresses (0x4157a4a80 and 0x4152cb680) were not allocated by cuda. can you please help to identify how this address was allocated:
1. run with `-x UCX_HANDLE_ERRORS=freeze` (no need to set the log flags)
   (when the process gets the error it will hang)
2. `cat /proc/<pid>/maps`
3. attach the output of the process (1) and maps file (2)

[2021-08-06 16:31] lfmeadow commented on #7194
It's weird, they are in the middle of nowhere:
[ed-dlgpu-168c:785955:0:785955]      cma_ep.c:83   process_vm_readv(pid=785956 {0x4157a4a80,524288}-->{0x4152cb680,524288}) returned -1: Bad address
402000000-17ce000000 ---p 00000000 00:00 0

I don't remember what ---p means.
UCX hooks mmap, right? So presumably they should be in some mmap range that we can print out. As far as I can tell KOKKOS just

[2021-08-06 16:46] yosefe commented on #7194
`---p` is private mapping w/o read/write permissions.
can you pls try this patch:

[code]

Yes, I think it maybe GPU memory which is not detected properly.
Is there NVlink connection on the server / are both processes using the same GPU? (to explain cuda-ipc errors)

[2021-08-06 17:18] lfmeadow commented on #7194
There are two GPUs, rank 0 uses the first and rank 1 uses the second.
`GPU 0: NVIDIA A100-PCIE-40GB (UUID: GPU-01682c7e-9442-1d6c-fd85-1f81cfd85b33)`
`GPU 1: NVIDIA A100-PCIE-40GB (UUID: GPU-ed7cdde5-5728-a2be-62dd-7873021b0bc8)`

I don't think we have nvlink, is there a way to check?
Here's the one Mellanox card just in case:
`41:00.0 Infiniband controller: Mellanox Technologies MT28908 Family [C

[2021-08-06 17:43] yosefe commented on #7194
According to the output of `nvidia-smi topo -m`

1. Can you please upload the log with `-x UCX_MEM_LOG_LEVEL=trace -x UCX_LOG_LEVEL=data -x UCX_MEMTYPE_CACHE=n`?
Would like to see what causes the cudaIpc failures

2. Do you happen to know which Cuda memory allocation API was used to allocate the buffer which failed to send?
Is the application using managed memory?

[2021-08-06 17:55] lfmeadow commented on #7194
I'll run nsys and get the list of cuda APIs.
That log file is probably going to be huge, but I'll see.
hang on.

[2021-08-06 18:15] lfmeadow commented on #7194
I just realized I can reduce the number of steps a lot so that will make the log file much smaller.
Here's the cuda API data for 5000 steps (both ranks are counted so it will be double the number of calls per rank). Of course with UCX_MEMTYPE_CACHE=n. I don't see any managed allocations.
[code]

[2021-08-06 18:20] yosefe commented on #7194
`cuMemAllocAsync` is interesting, since UCX does not handle it today. any change it was part of the recent changes in the application?

[2021-08-06 18:24] lfmeadow commented on #7194
I probably should have reduced the number of steps a lot more, but here is the log file. You probably only need the beginning.
[cache-off.log.gz](https://github.com/openucx/ucx/files/6947342/cache-off.log.gz)

[2021-08-06 18:39] lfmeadow commented on #7194
Could have been, there's a PR for Kokkos with MallocAsync  around July 1,and I could have easily not pulled that for a whille.
I wonder if I can just hack it out and see if the problem goes away.

[2021-08-06 18:47] yosefe commented on #7194
@Akshay-Venkatesh is there a known restriction of using MallocAsync with cuda ipc?

[2021-08-06 18:55] lfmeadow commented on #7194
Looks like cudaMallocAsync was the problem, good catch. There was already a pre-Cuda 11.2 codepath that just used cudaMalloc and when I revert to that application runs.
I'll have to talk to the Kokkos developers.
Do you have a timeline for supporting cudaMallocAsync?

[2021-08-06 19:04] lfmeadow commented on #7194
I actually think that cudaMallocAsync has been there for a while and just doesn't always cause the problem, maybe depending on memory layouts and so forth, because we've been running into this on and off for a month or two with various versions of UCX and OpenMPI. I just finally got around to trying to debug it when everything broke at once. Possibly there were other bugs too that got ironed out a

[2021-08-06 20:50] lfmeadow commented on #7194
OK, the performance degradation also occurs on a single rank, one of the kernels has slowed down (no idea why) so I think this fix is fine until you implement the cudaMallocAsync hooks. I'll notify the Kokkos developers.
Once I fix the kernel perf I'll recheck the MPI perf to make sure it gets back up to speed.
It would be nice to be able to give some timeline for supporting cudaMallocAsync.
I gue

[2021-08-07 15:58] yosefe commented on #7194
@lfmeadow #7204 adds the support for cudaMallocaAsync().
However, while working on it, turned out #7203 is also needed (as a follow-up for #7195) to fix an issue with binary patching.
So in summary all those 3 PRs should enable cudaMallocAsync() hook on Cuda 11.3.

[2021-08-08 07:02] dmitrygx commented on #6922
fixed by #7140 (master) and #7188 (v1.11.x)

[2021-08-08 07:02] #6922 closed

[2021-08-08 07:03] dmitrygx commented on #6922
@wangvsa could you check if the #7140 (master) or #7188 (v1.11.x) fix the issue observed by you? thanks!

[2021-08-09 11:30] pentschev opened #7210 "Segmentation fault after `UCM/BISTRO: Parse libcuda debug hooks`"
### Describe the bug
After #7195 / #7197 several of UCX-Py tests are failing with a segmentation fault, as well as all UCX-based Dask tests, regardless of being TCP-only, including `cuda_ipc` or `rc` transports, but in all cases tested with `cuda_copy`.

### Steps to Reproduce
- Simplest way to reproduce is run UCX-Py test: `py.test --ignore-glob debug-tests --cache-clear -vs tests/test_custom_sen

[2021-08-09 13:23] yosefe commented on #7210
@pentschev can you pls check with https://github.com/openucx/ucx/pull/7209? (on v1.11.x)

[2021-08-09 15:10] lfmeadow commented on #7194
Thanks. I guess I will leave this open until I have a chance to try those fixes.

[2021-08-09 15:53] Akshay-Venkatesh commented on #7194
@yosefe

cuda ipc is supported over MallocAsync but we don't have the support for it in UCX yet. We need detection of new handles and use the newer ipc import/export memory handle API. I think we've had a few requests for this now (#7110) and we should aim to add this in v1.12 (assuming that sync memops [CU_POINTER_ATTRIBUTE_SYNC_MEMOPS](https://docs.nvidia.com/cuda/cuda-driver-api/group__CUDA__TY

[2021-08-10 06:35] bernardshen opened #7215 "Questions about uct_ep_fence"
## Problem: Out-of-Order Execution of Requests in RNIC
According to Table 79 and Table 80 in the IB Specification and [link](https://learning.oreilly.com/library/view/infiniband-network-architecture/0321117654/0321117654_ch13lev1sec4.html), it is possible that a later RDMA WRITE request completes faster than its preceding RDMA READ. This happens a lot as I tested with libibverbs. This problem can

[2021-08-11 08:08] brminich commented on #6824
https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=22773&view=logs&j=91485d7f-07f8-5dc4-be43-59794e62e572&t=9aca67d2-2f0a-5509-6a19-ed5514a50604
[code]

[2021-08-12 11:39] bernardshen commented on #7215
![image](https://user-images.githubusercontent.com/23007708/129190339-fef1c303-8414-4fab-9005-f28cab492e73.png)
To be specific, no fence will be added to the latter uct_ep_put_bcopy under rc_verbs. This means that the former uct_ep_get_bcopy may get the value written by the latter operation.

[2021-08-12 14:28] chenyidu opened #7227 "Crash in multi-thread scenarios"
### Describe the bug
#6265 removed the following code so that `ucp_tag_probe_nb()` is no longer multithread safe, even if I configured `--enable-mt`.
![image](https://user-images.githubusercontent.com/69713632/129211975-0252c215-925e-4126-ae96-cbf957c06399.png)

In my case, there are multiple threads calling `ucp_worker_progress()`, and there is another thread executing `ucp_tag_probe_nb()`. Somet

[2021-08-12 14:28] chenyidu commented on #7227
@brminich Can you tell me why these codes were deleted?

[2021-08-12 15:26] brminich commented on #7227
#7228

[2021-08-12 15:36] gshamov opened #7229 "OpenMPI 3.1, 4.1 errors: ERROR mlx5dv_devx_create_event_channel() failed: Protocol not supported"
### Describe the bug

For UCX 1.10.1, compiled on CentOS7.9 against RDMA-core 33.1, OpenMPI (versions 3.1, and 4.1) gives the following error:

  rc_mlx5_devx.c:99   UCX  ERROR mlx5dv_devx_create_event_channel() failed: Protocol not supported
[yak.local:326074] ../../../../../openmpi-4.1.1/ompi/mca/pml/ucx/pml_ucx.c:309  Error: Failed to create UCP worker
------------------------------------------

[2021-08-12 15:41] gshamov commented on #7229
sorry for edits, tried to make ucx_info output look ok.

[2021-08-12 16:03] yosefe commented on #7229
@jgunthorpe what could be a reason for mlx5dv_devx_create_event_channel failure?

[2021-08-12 17:26] LazyCoder15 opened #7232 "ucx_info: symbol lookup error: ucx_info: undefined symbol: ucs_topo_sys_device_bdf_name"
I'm installing UCX on Ubuntu 20.04.1 inside a container. Although ucx installation ucx-1.11 and ucx-1.10 succeeds, ucx_info -b gives this error. The same installation works on ubuntu 18.04.

I use the following steps for installation:
$tar zxf ucx-1.11.0.tar.gz
$cd ucx-1.11.0
$./contrib/configure-prof --prefix=/usr --enable-examples --with-java=no --with-cuda=/usr/local/cuda
$make -j4 install

#uc

[2021-08-12 17:30] LazyCoder15 commented on #7232
So, I installed mellanox ofed driver before installing ucx. I believe that also installs ucx? How can I remove other versions and reinstall?

[2021-08-12 17:31] yosefe commented on #7232
try `sudo apt remove ucx` or similar

[2021-08-12 17:35] LazyCoder15 commented on #7232
Still see the same issue.

[2021-08-12 18:43] yosefe commented on #7232
what is the output of `ldd $(which ucx_info)`?
need to make sure UCX libraries, in particular libucs.so, is really loaded from /usr/lib

[2021-08-12 19:01] LazyCoder15 commented on #7232
You are right. It's not loaded from /usr/lib

ldd $(which ucx_info)
        linux-vdso.so.1 (0x00007ffea4c85000)
        /usr/lib/x86_64-linux-gnu/libgstbadvideo-1.0.so.0 (0x00007f963af14000)
        libucp.so.0 => /usr/local/ucx/lib/libucp.so.0 (0x00007f963ae53000)
        libuct.so.0 => /usr/local/ucx/lib/libuct.so.0 (0x00007f963ae0f000)
        libucs.so.0 => /usr/local/ucx/lib/libucs.so.0 (0x0

[2021-08-13 07:01] #7232 closed

[2021-08-13 14:17] angainor opened #7239 "segfault in MPI_Init with OpenMPI+UCX 1.10.0"
I am getting a segfault in MPI_Init with OpenMPI 4.0.5 and OpenMPI 4.1.1 compiled against UCX 1.10.0 and 1.10.1. When I load UCX 1.11.1 with the same binary and MPI, things work. This happens on our compute nodes, but not on the login node, so it might be something related to OS config. I guess something so basic would pop up earlier, but I didn't find any posts about it. Is this a know issue? Thi

[2021-08-13 14:18] angainor commented on #7239
And `mpihello` source code is

[code]

[2021-08-13 14:45] hoopoepg commented on #7239
hi @angainor
thank you for bug report.

it looks like known issue in system module loader.

could you try to run your application with environment variable
[code]
or
[code]

thank you

[2021-08-13 14:49] angainor commented on #7239
@hoopoepg Thanks for the hint! `UCX_MEM_MODULE_UNLOAD_PREVENT_MODE=none` did help, mode `now` did not.

[2021-08-13 16:59] yosefe commented on #7239
@angainor can you please provide more details on the system where this issue happens?

[2021-08-16 07:09] angainor commented on #7239
@yosefe This is a BullSequana XH2000 system with AMD EPYC 7742 64-Core Processor, running on Red Hat Enterprise Linux Server 7.7. The login nodes run the same OS as the compute nodes, but the problem is not observed there. One obvious difference is the fact that `/` is mounted `ro` on the compute nodes, and `rw` on the frontend nodes.

Let me know if you would like more specific in formation.

[2021-08-16 07:27] angainor opened #7245 "Low IB bandwidth with UCX 1.10 and 1.11"
I get very low OSU bandwidth results with the newest UCX versions on our BullSequana XH2000 system with AMD EPYC 7742 64-Core Processor and MT28908 ConnectX-6, running on Red Hat Enterprise Linux Server 7.7. Here are the results with HPCX 2.7 (UCX 1.9):

[code]
I guess the above is as expected. This is what I get with HPCX 2.8 (UCX 1.10):

[code]
And here are results obtained with manually compile

[2021-08-16 09:29] #7227 closed

[2021-08-16 11:06] angainor commented on #7245
It seems that IB is not recognized on this system with HPCX 2.8, or UCX 1.10 and above. This is `ucx_info -p -e -u t` with HPCX 2.8, and with manually compiled UCX 1.10.1

[code]
And this is what I get with HPCX 2.7:
[code]
I'd appreciate any suggestions.

[2021-08-16 11:11] angainor commented on #7245
Another observation is that the output of `ucx_info` is as expected on the front-end nodes. Only the compute nodes have this problem. Somehow this feels related to #7239, where I also see the same asymmetry.

[2021-08-16 12:30] yosefe commented on #7239
@angainor to make sure, is v1.11 resolving this segfault issue?
one change we made between v1.10 and v1.11 is to do the dlopen() above in library init instead of during ucp_init()

[2021-08-16 12:31] yosefe commented on #7245
@angainor can you pls run the ucx_info from v1.11 version with `UCX_LOG_LEVEL=trace`, on the compute node, and upload the log file - to figure out why IB does not initialize?

[2021-08-16 16:15] angainor commented on #7245
@yosefe I've done more testing. There is a difference whether I compile UCX on the login node, or whether I compile it on the compute node. When I compile on compute node, UCX 1.10 and 1.11 both find the `mlx5_0` interface, and 1.10 doesn't need the workaround discussed in #7239. When I compile on the login node and run `ucx_info` on the compute nodes, `mlx5_0` is not found, and UCX 1.10 additiona

[2021-08-16 16:15] angainor commented on #7245
@yosefe I've done more testing. There is a difference whether I compile UCX on the login node, or whether I compile it on the compute node. When I compile on compute node, UCX 1.10 and 1.11 both find the `mlx5_0` interface, and 1.10 doesn't need the workaround discussed in #7239. When I compile on the login node and run `ucx_info` on the compute nodes, `mlx5_0` is not found, and UCX 1.10 additiona

[2021-08-16 16:16] angainor commented on #7239
@yosefe yes, 1.11 works without the envar, but it's more complicated. The workaround is also not needed in 1.10 if I compile it on my compute node, as opposed to my login node. I've updated more logs in #7245

[2021-08-16 16:22] yosefe commented on #7245
@angainor is there a difference in rdma-core on MLNX_OFED libraries between login and compute nodes?

[2021-08-16 16:25] yosefe commented on #7245
It seems like the compute node has MLNX_OFED 4.x and login node is MLNX_OFED is MLNX_OFED 5.x

[2021-08-16 16:35] angainor commented on #7245
@yosefe hmm. `ofed_info` shows this on both nodes:
[code]

[2021-08-16 16:37] angainor commented on #7245
@yosefe you're right - things are not consistent. Compute node:
[code]
and login node
[code]
How come `ofed_info` shows the same version 5??

[2021-08-16 16:39] angainor commented on #7245
@yosefe thanks a lot for spotting this. I guess this explains then the difference. I guess your advise would be to upgrade compute nodes to OFED 5?

[2021-08-16 16:39] yosefe commented on #7245
maybe an incomplete/partial installation.. I'd recommend to upgrade to OFED 5.0 .

[2021-08-16 16:52] angainor commented on #7245
@yosefe This is strange. `ofed_info` on both nodes reports roughly the same stuff (attached). For example,

[code]
So although it`s `MLNX_OFED_LINUX-5.0-2.1.8.0`, it says it uses `librdmacm-41mlnx1`. While the actual RPM installed is `librdmacm-50mlnx1-1.50218.x86_64`.

Maybe also the dl problem is due to the fact that I'm trying to use HPCX compiled for MOFED 5 (since I thought that's what I have

[2021-08-16 17:02] yosefe commented on #7245
@angainor possible there is some issue with MLNX_OFED installation on the nodes
I'd recommend to install MLNX_OFED 5.0 (without special flags) and/or contact Nvidia NBU support if there is an issue with the installation.

[2021-08-17 05:53] bernardshen commented on #7215
This issue is related to [this](https://github.com/openucx/ucx/pull/4242) pull request.

[2021-08-17 13:49] #7245 closed

[2021-08-17 13:51] angainor commented on #7239
@yosefe do you think this can be closed, or do you want to keep this open? It seems that this error only occurred in my case when I was compiling for a different OFED (5) than I was in fact running on (4). I understand that you also observed such behavior, but maybe my case is not so useful in that regard?

[2021-08-17 13:55] yosefe commented on #7239
since this code path is also changed in v1.11 I think we can close it

[2021-08-17 13:59] #7239 closed

[2021-08-19 07:37] angainor opened #7257 "Q: performance of 1.11 vs 1.9"
In our code I observe worse bandwidth with 1.11 than with 1.9 for a certain range of message sizes. I measure bi-directional bandwidth between two compute nodes (single-threaded execution). I keep `n` inflight messages, i.e., I submit `n` tag recv requests, `n` tag send requests, and wait for completion. Here I've attached 2 plots for 1 and 100 inflight messages. The attached bandwidth measurement

[2021-08-19 13:13] angainor commented on #7257
I have now re-run the tests with `UCX_RNDV_THRESH=8k` and it improved the speed for that message size range. Figures attached. I do not know why it improved things. Since I'm using `ucp_tag_send_nb`, should it not be 8k anyway? looking at `ucx_info`:
[code]
![1_new](https://user-images.githubusercontent.com/11975720/130074587-cf97e0e7-d45a-4da4-9d63-8e07820d4627.png)
![100_new](https://user-images

[2021-08-19 13:22] yosefe commented on #7257
@angainor what is the output of `ucx_info -e -ut -D net`?

[2021-08-19 13:27] angainor commented on #7257
@yosefe with UCX 1.11.1:
[code]
and with UCX 1.9:
[code]
I guess that is the difference :) Was I looking at shared memory devices?

[2021-08-19 13:34] yosefe commented on #7257
Actually was looking on 'self' ` lane[0]:  2:self/memory0.0 md[2]          -> md[2]/self/sysdev[255] am am_bw#0`
We had some fixes between v1.9 and v1.11 related to PCI bandwidth calculation.
1. Is this a PCIe gen4 machine?
2. can you please post the output of `ucx_info -d` in bother versions? it can show if there is a difference in UCT-layer bandwidth estimations.

[2021-08-19 13:50] angainor commented on #7257
@yosefe IB card is connected through a 16GT/s link, so I guess it is gen 3? I used `lspci -vv`, but maybe you have a better way of checking? logs attached.
[code]
[ucx_info.tar.gz](https://github.com/openucx/ucx/files/7014827/ucx_info.tar.gz)

[2021-08-19 14:24] yosefe commented on #7257
16 GTs is PCIe Gen4
also according to ucx_info, the BW estimation was wrong in v1.9 (too high which led to lower rndv_thresh)
so, in order to fix the default threshold, we are working on new mechanism of protocol selection, also to in include user hint (see https://github.com/openucx/ucx/pull/7260) to prefer bandwidth over latency which could potentially help in this case (since as we can see from

[2021-08-19 14:33] angainor commented on #7257
@yosefe Yes, in our case you could say that the distinction boils down to choosing 'global' bandwidth over latency of individual messages. From our benchmarks it seems that the situation is similar in multi-threaded version.

Thanks for clarification. I know what to use for now.

[2021-08-20 14:06] MartynF opened #7269 "fp failures in ucs_time_from_sec()"
### Describe the bug

We observe very occasional failures at startup (1 in 10^3) with the following call stack

[code]

[code]
neither sec nor ucs_time_sec_value() appear invalid, but potentially the cast to unsigned long is problematic.

### Steps to Reproduce
- Command line : N/A
- UCX 1.10

### Setup and versions
- AMD 7742 x86_64
- Red Hat Enterprise Linux release 8.3 (Ootpa)
- Kernel 4.18.0-2

[2021-08-20 14:47] jgunthorpe commented on #7229
protocol not supported means lack of kernel support for the MLX5_IB_METHOD_DEVX_ASYNC_EVENT_FD_ALLOC

This was added on more recently, it wasn't in the first devx release.

[2021-08-20 16:09] yosefe commented on #7229
@jgunthorpe is there a way to test this support from userspace (except try and fail)?