[2018-04-05 08:47] alinask opened #2481 "failure on dc_mlx5/uct_p2p_rma_test_alloc_methods.xfer_reg_odp/0"
[code]
on ppc:
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/6687/label=clx-ppc-04.mtl.labs.mlnx,worker=1/console

[2018-04-05 09:04] amaslenn opened #2482 "[mtt] pml_ucx.c: Error: Failed to receive EP address"
Configaration:
[code]
MTT log: http://e2e-gw.mellanox.com:4080//mnt/lustre/users/mtt/scratch/ucx_ompi/20180404_173031_9317_72580_clx-hercules-075/html/test_stdout_MNR_FT.txt

Bug is hard to reproduce, I used loop to get this output.

Cmd:
`mpirun -np 1664 -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=mlx5_2:1 -x UCX_IB_REG_METHODS=r

[2018-04-05 09:10] yosefe commented on #2482
looks like pmix issue

[2018-04-05 10:37] amaslenn opened #2483 "[mtt] Transport retry count exceeded in mpich_tests_mpi_coll/nbicallgather on big scale"
Configuration:
[code]

MTT log: http://e2e-gw.mellanox.com:4080//mnt/lustre/users/mtt/scratch/ucx_ompi/20180405_060956_23068_72792_clx-orion-001/html/test_stdout_ek3Cux.txt

Cmd:
`mpirun -np 2716 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=mlx5_5:1 -x UCX_IB_ADDR_TYPE=ib_global -x UCX_IB_REG_METHODS=rcache,direct -x

[2018-04-05 10:41] alinask commented on #2483
could be related to https://github.com/openucx/ucx/issues/2461? although the opcode is different.

[2018-04-05 20:17] yosefe commented on #2481
duplicate of #2433

[2018-04-05 20:17] #2481 closed

[2018-04-06 14:14] brminich opened #2490 "Failed assertion with AMG (ep->dci == UCT_DC_EP_NO_DCI)"
The following assertion happens on ARM with AMG (problem 2):
`dc_ep.c:136  Assertion `ep->dci == UCT_DC_EP_NO_DCI' failed`

When running with release version (no assertions present), the following error arises:
[code]
Cmd line is:
[code]
Where:
[code]

[2018-04-06 14:30] gcstoianowski commented on #2490
Note:  The value of $NP must be equal to the product of the three integers that follow "-P".  In the above example, NP would have to be 7*6*4=168.  (In other words, -P specifies the decomposition.)

[2018-04-06 18:15] shamisp commented on #2478
@shahafsh - Maybe MLNX can document installation step for a setup where rdma-core verbs and extended verbs co-exist together

[2018-04-06 19:34] bureddy commented on #2475
couldn't reproduce.
4GB cudamalloc is failed.  node had GPU had 16 GB memory.  Not sure if multiple PRs and parallel workers triggered out of memory.

[2018-04-08 07:22] amaslenn opened #2492 "[mtt] hang in mpi-small-tests/alltoallv_rand with TLS=all"
Configuration:
[code]

MTT log: http://hpcweb.lab.mtl.com//hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20180406_044857_102086_933_jazz04/html/test_stdout_ENoxzz.txt

Cmd:
`mpirun -np 56 -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=mlx5_1:1 -x UCX_IB_REG_METHODS=rcache,direct -x UCX_IB_ETH_PAUSE_ON=y -x UCX_TLS=all -mca pmix_base_async

[2018-04-09 06:48] amaslenn commented on #2482
Found similar with `mpich_tests_mpi_datatype/dataalign`. Reproduces with NP=23 only.

Cmd:
`mpirun -np 23 -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to hwthread -x UCX_NET_DEVICES=mlx5_0:1 -x UCX_IB_REG_METHODS=rcache,direct -x UCX_TLS=rc_x -mca pmix_base_async_modex 0 -mca mpi_add_procs_cutoff 100000 -mca pmix_base_collect_data 1 --map-by node /hpc/mtr_sc

[2018-04-09 06:53] amaslenn opened #2494 "[mtt] errors in mpich_tests_mpi_datatype/dataalign"
Configuration:
[code]

Cmd:
`mpirun -np 24 -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to hwthread -x UCX_NET_DEVICES=mlx5_0:1 -x UCX_IB_REG_METHODS=rcache,direct -x UCX_TLS=rc_x -mca pmix_base_async_modex 0 -mca mpi_add_procs_cutoff 100000 -mca pmix_base_collect_data 1 --map-by node /hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20180408_113338_20778_1039_vulca

[2018-04-09 07:10] alinask commented on #2494
@amaslenn does this reproduce with the regular hpcx or only with cuda?
also, can you please post the mtt link?

[2018-04-10 10:04] alinask opened #2501 "transport error: Endpoint timeout on ud on a roce fabric"
Threre are several failures on a lossless RoCE fabric. Happen on different scales but have the same trace:

[code]

Command lines:

• Nodes: orion x14 (ppn=28(x14), nodelist=clx-orion-[090-096,106-112]):

/hpc/local/benchmarks/hpcx_install_2018-04-09/hpcx-gcc-redhat7.4/ompi/bin/mpirun -np 392 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core

[2018-04-10 16:24] shamisp commented on #2478
@raphaelcohn does it address your request ? Can we close this issue ?

[2018-04-11 07:06] alinask commented on #2501
On a slightly smaller scale:

• Nodes: orion x10 (ppn=28(x10), nodelist=clx-orion-[001-002,090-096,098]):

/hpc/local/benchmarks/hpcx_install_2018-04-10/hpcx-gcc-redhat7.4/ompi/bin/mpirun -np 280 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=mlx5_2:1 -x UCX_IB_REG_METHODS=rcache,direct -x UCX_IB_ETH_PAUSE_ON=y -x UCX_T

[2018-04-11 13:06] raphaelcohn commented on #2478
@shamisp @shahafsh Not really. It's not possible to statically link UCX and DPDK into one application and retain extended atomics (amongst other things). The correct solution is to fix UCX to be fully compatible, not partly compatible, with the version of libibverbs (and mlx5) present in the github version of rdma-core.

[2018-04-11 13:09] raphaelcohn commented on #2478
(or for that matter, dynamically)

[2018-04-11 14:08] shamisp commented on #2478
I do not think it is UCX problem.

UCX can be compiled with rdma-core verbs or inbox distro drivers. It also can be compiled with Mellanox MOFED verbs.

You are asking for ```HAVE_IB_EXT_ATOMICS``` feature, which is for now only present in MOFED verbs, which is incompatible with rdma-core verbs. So this is rather incompatibility issue between two variants of verbs. I'm not sure how this can be res

[2018-04-11 15:24] raphaelcohn commented on #2478
@shamisp I'm extremely disappointed, to say the least.

[2018-04-11 15:34] raphaelcohn commented on #2478
One possible route forward is to drop support for the legacy verbs `ibv_exp...` and implement `HAVE_IB_EXT_ATOMICS` on top of it. Without this it's impossible to implement most algorithms that use atomic ops.

And whilst at it, add support for remote persistent flushes (`psync`)...

[2018-04-11 16:02] alinask commented on #2470
An additional hang on osu - may be related:

mpirun -np 32  -mca btl self  -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=mlx5_0:1 -x UCX_IB_REG_METHODS=rcache,direct -x UCX_TLS=rc_x,sm -x UCX_RC_MLX5_TM_ENABLE=y -mca pmix_base_async_modex 1 -mca mpi_add_procs_cutoff 0 -mca pmix_base_collect_data 0 --map-by node /mnt/lustre/users/mtt/scratch/ucx_ompi/20180410_161318_13428_74745_

[2018-04-11 18:18] shamisp commented on #2478
Not sure if I understand the full picture here.

The "HAVE_IB_EXT_ATOMICS" API is a relatively new API that provides additional functionality, which is not present (at least at this moment) in upstream verbs. Hopefully it will be there one day...

Anyways HAVE_IB_EXT_ATOMICS is used for masked atomics that are used for implementation of swap and 32bit AMOs. 64bit AMOs (FADD, ADD, CSWAP) we can do

[2018-04-11 19:12] shamisp opened #2507 "iWARP support"
This is something that came up within OpenMPI [community](https://www.mail-archive.com/devel@lists.open-mpi.org/msg20556.html).
They aim to retire OpenIB BTL in 4.x and replace it is with "UCT" btl.
As for now, the only concern is  Iwarp support. I have no idea if we have somebody within community testing it...

[2018-04-12 04:27] yosefe commented on #2478
the legacy _exp APIs are in the process of being ported to rdma-core
also, the plan is to port UCX to use the upstream rdma-core APIs instead of _exp during the the next 6-12 months

[2018-04-12 09:01] raphaelcohn commented on #2478
@yosefe That's really good news.

@shamisp Persistent flush is a kind of memory barrier one needs to implement most persistent, non-blocking data structures. I probably shouldn't have mentioned it as it isn't 100% relevant to this issue, but it is going to become critical for implementing remotely-persistable data structures using the newer kinds of memory now arriving.  A bit more background is i

[2018-04-12 09:03] raphaelcohn commented on #2478
Just checked one of our persistent structures, and confirmed it needs a 64-bit swap (not cas). Darn...

[2018-04-12 16:05] yosefe opened #2513 "valgrind error from sysv block size cache in ucm"
[code]

[2018-04-13 09:11] raphaelcohn commented on #2478
Yep, same thing. I'd be happy if there was just something that'd work on 64-bit x86...

[2018-04-15 13:41] yosefe commented on #2501
need to use UCX_IB_GID_INDEX=3, orion cluster has r-RoCE between leaf switches

[2018-04-15 13:41] #2501 closed

[2018-04-15 13:53] yosefe commented on #2494
happens w/o UCX as well:
[code]

[2018-04-15 14:13] yosefe commented on #2483
there is a known issue with SD and SL=1: https://redmine.mellanox.com/issues/1317271
for now pls don't run on orion mlx5_5:1

[2018-04-15 14:16] yosefe commented on #2475
yeah, probably because GPU is out-of-memory

[2018-04-15 14:16] #2475 closed

[2018-04-15 14:26] yosefe commented on #2469
also reproduced by
`mpirun -np 32 -mca btl self -mca pml ucx -mca coll '^hcoll' -x UCX_NET_DEVICES=mlx5_2:1 -x UCX_TLS=rc_x,sm -mca pmix_base_async_modex 1 -mca mpi_add_procs_cutoff 0 -mca pmix_base_collect_data 0 --map-by node /mnt/lustre/users/mtt/scratch/ucx_ompi/20180409_113310_22596_74493_clx-hercules-001/installs/SR4R/tests/osu_micro_benchmark/osu-micro-benchmarks-5.3.2/mpi/collective/osu_ia

[2018-04-15 14:29] yosefe commented on #2461
duplicated by #2483

[2018-04-15 14:29] #2461 closed

[2018-04-15 15:05] yosefe commented on #2293
not reproduced for ~2 months, closing

[2018-04-15 15:05] #2293 closed

[2018-04-15 15:07] yosefe commented on #2347
not reproduced anymore, closing

[2018-04-15 15:07] #2347 closed

[2018-04-16 09:44] yosefe commented on #2494
bug in the test when comparing negative chars, fix:
[code]

[2018-04-16 13:17] yosefe commented on #2494
opened https://github.com/pmodels/mpich/issues/3095

[2018-04-17 08:31] yosefe commented on #1379
happened again with valgrind:
[code]

[2018-04-17 12:50] yosefe commented on #2483
closing issue due to configuration fix in MTT

[2018-04-17 12:50] #2483 closed

[2018-04-18 00:52] benmenadue opened #2526 "1.3.0: release .tar is missing ucm/cuda/cudamem.h"
The v1.3.0 pre-autoconf'ed release .tar (https://github.com/openucx/ucx/releases/download/v1.3.0/ucx-1.3.0.tar.gz) is missing `ucm/cuda/cudamem.h`, and so attempting to build it produces
[code]
That file _is_ in the un-autoconf'ed .tar files, though.

[2018-04-18 07:45] amaslenn opened #2529 "[mtt] mpi-test-suite crashes with segfault with HW TM enabled"
Configuration:
[code]

MTT log: http://e2e-gw.mellanox.com:4080//mnt/lustre/users/mtt/scratch/ucx_ompi/20180417_195937_33610_76729_clx-vega-059/html/test_stdout_Pho4Cd.txt

Issue doesn't reproduce with `UCX_DC_VERBS_TM_ENABLE=n`. Same for other transports: fails with TM enabled and passes with TM disabled.

Cmd:
`mpirun -np 2 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx

[2018-04-18 08:04] yosefe opened #2530 "failure in dc_mlx5/test_tag.tag_cancel_noforce"
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/6831/label=hpc-test-node3,worker=1/consoleFull
[code]

[2018-04-18 14:45] shamisp commented on #2526
Ouch... adding @bureddy

[2018-04-18 15:46] bureddy commented on #2526
Fixed with https://github.com/openucx/ucx/pull/2528

[2018-04-18 20:36] shamisp opened #2534 "UCX + RDMACM failure"
[code]
It fails here
[code]
Line
[code]

The bug:
[code]

so verbs is null and obviously  it segfaults .

[code]
at
[code]
I see that it fails on "lo" / loopback inteface:
[code]

So it is something between rdmacm and ucx. Apparently it does not like "lo" interface.

RHEL7.5, OFED-internal-4.3-1.0.1, UCX master

[2018-04-18 20:37] shamisp commented on #2534
@gmegan, FYI

[2018-04-18 20:46] shamisp commented on #2534
@gmegan temporary workaround ```--without-rdmacm```

[2018-04-19 07:39] amaslenn opened #2535 "[mtt] hang in intel tests with TLS=ud"
Configuration:
[code]

MTT log: http://e2e-gw.mellanox.com:4080//mnt/lustre/users/mtt/scratch/ucx_ompi/20180419_014319_12686_77129_clx-vega-001/html/test_stdout_RGEAUj.txt

Cmd:
`mpirun -np 6 -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=mlx5_0:1 -x UCX_IB_REG_METHODS=rcache,direct -x UCX_TLS=ud,sm -mca pmix_base_async_modex 1 -mca

[2018-04-19 08:33] amaslenn opened #2536 "[mtt] shmem verifier fails with spml=ucx"
Configuration:
[code]

MTT log: http://hpcweb.lab.mtl.com//hpc/mtr_scrap/users/mtt/scratch/shmem/20180419_062455_16191_2244_vegas06/html/test_stdout_m2J4YO.txt

Cmd:
`oshrun -np 128 --debug-daemons --display-map --bind-to core -mca oshmem_proc_group_cache_size 10000 -mca btl_openib_warn_default_gid_prefix 0 -report-bindings -mca sshmem_verbs_hca_name mlx5_0:1 -mca btl_openib_if_include mlx5_0:1 -x

[2018-04-19 10:47] yosefe commented on #2534
@shamisp @gmegan what is the command to reproduce?

[2018-04-19 11:00] #2526 closed

[2018-04-19 11:15] #2492 closed

[2018-04-19 11:15] yosefe commented on #2469
fixed by #2519

[2018-04-19 11:15] #2469 closed

[2018-04-19 11:17] #2530 closed

[2018-04-19 12:01] shamisp commented on #2534
Gtest fails immediately.

On Thu, Apr 19, 2018 at 05:47 Yossi Itigin <notifications@github.com> wrote:

[2018-04-19 14:57] shamisp opened #2537 "Hang in dcx/test_ucp_peer_failure_2pairs.status_after_error/0"
[code]

RHEL7.5, OFED-internal-4.3-1.0.1, UCX master

dc/test_ucp_peer_failure_2pairs.status_after_error/0 test runs fine.

[2018-04-19 14:57] shamisp commented on #2537
@gmegan - FYI

[2018-04-22 10:37] alinask commented on #2534
@shamisp @gmegan Seems that the 'null' field (evt->id_priv->id.verbs) should be set in:
[code]
from ucma_get_device() that is invoked in ucma_query_addr() that you posted above:
[code]

so either it's getting wrong values or it's not getting there at all for some reason.

Can you please post the output of the following commands on the host where it fails?
[code]

Also, can you please attached the

[2018-04-23 10:41] yosefe commented on #2494
closing this via https://github.com/pmodels/mpich/pull/3096

[2018-04-23 10:41] #2494 closed

[2018-04-23 14:28] yosefe commented on #2454
looks like deadlock because osc component is using blocking AMO
need to switch UCX/OSC component to use non-blocking AMOs only

[2018-04-23 16:44] yosefe commented on #2470
closing this issue, since the first osu_get_latency hang is a duplicate of #2454, and the other 2 hangs are a duplicate of #2469

[2018-04-23 16:44] #2470 closed

[2018-04-23 17:01] gmegan commented on #2534
Here is the command info. I will post the logging output asap.

$ ibdev2netdev
mlx5_0 port 1 ==> ib0 (Down)
mlx5_1 port 1 ==> ib1 (Up)
mlx5_2 port 1 ==> enp23s0f0 (Up)
mlx5_3 port 1 ==> enp23s0f1 (Down)
$ ibv_devinfo
hca_id:	mlx5_1
	transport:			InfiniBand (0)
	fw_ver:				12.20.1010
	node_guid:			98f2:b3ff:ffd2:d4e1
	sys_image_guid:			98f2:b3ff:ffd2:d4e0
	vendor_id:			0x02c9
	vendor_part_id:			411

[2018-04-24 08:42] amaslenn opened #2542 "[mtt] ERROR failed to open /sys/devices/virtual/dmi/id/board_vendor on ARM"
MTT log: http://hpcweb.lab.mtl.com//hpc/mtl_scrap/users/mtt/scratch/ucx_ompi/20180423_121719_24236_2550_swx-bw-01/html/test_stdout_twRxV7.txt

Example:
[code]

This error doesn't affect testing just looks confusing.

[2018-04-24 08:44] hoopoepg commented on #2354
can't reproduce on 6+ hours, 12000 iterations (different tests combinations)

[2018-04-24 08:48] alinask commented on #1977
Wasn't reproduced for a long time.

[2018-04-24 08:49] #1977 closed

[2018-04-24 12:58] amaslenn opened #2545 "[mtt] Transport retry count exceeded opcode RDMA_READ in ibm-tests on ARM"
Configuration
[code]

MTT log: http://hpcweb.lab.mtl.com//hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20180422_101224_59171_2408_hpc-arm-hp01/html/test_stdout_1Dzchj.txt

Sbatch reproducer:
[code]

Output:
[code]

[2018-04-24 14:38] yosefe commented on #2534
https://redmine.mellanox.com/issues/1369538 (Mellanox internal link)

[2018-04-24 16:41] shamisp commented on #2534
Sounds like RDMACM bug ?

On Tue, Apr 24, 2018 at 9:38 AM, Yossi Itigin <notifications@github.com>
wrote:

[2018-04-24 19:17] brminich commented on #2453
@amaslenn, @alinask  when did you see this problem last time?
checking whether it was fixed by #2457 or not

[2018-04-25 07:45] alinask commented on #2534
Yes, seems so.

[2018-04-25 07:49] amaslenn commented on #2453
@brminich no exact date. But I don't see it anymore, I think it is OK to close it.

[2018-04-25 10:57] yosefe commented on #2452
not reproduced after 11149 iterations
@amaslenn what do you think, did it happen recently?

[2018-04-25 11:01] amaslenn commented on #2452
Not `isendirecv`, but `rqfreeb` from `mpich_tests_mpi_pt2pt`: http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20180424_222717_176298_2753_jazz05/html/test_stdout_2xQr_a.txt

[2018-04-25 11:34] yosefe commented on #2452
yep, i reproduced it now with rqfreep after 89 iterations
details:
[code]
[code]

[2018-04-25 11:36] #2542 closed

[2018-04-26 07:40] #2452 closed

[2018-04-26 09:26] yosefe commented on #1955
added to UCP and UCT

[2018-04-26 09:26] #1955 closed

[2018-04-26 15:12] yosefe commented on #2354
similar failure:
[code]

probably also related to #2089

[2018-04-26 15:36] tonycurtis commented on #2449
Latest HEAD of github with basic hello world program run on single node with
[code]
 Crunches with
[code]
if I run with the any or all of the transports reported by UCX's configure
[code]
If I unset UCX_TLS or set it to "all", the program runs.  Is "all" doing something else?  Not seeing this kind of behavior with 1.3.0 release.  Thanks for any help

[2018-04-26 16:00] tonycurtis commented on #2449
Thanks.  Generally I do not touch UCX_ env. vars. but this was for debugging.   Think it might be a (local) progress issue.

[2018-04-26 16:00] #2449 closed

[2018-04-26 16:57] hoopoepg opened #2560 "test_rcache.release_inuse/mt_6 failed"
under valgrind, on hpc-test-node2
logs at http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/6896/label=hpc-test-node2,worker=3/console
[code]

[2018-04-26 20:53] shamisp commented on #2449
Since many users will not be able to use rc_x/dc_x we should remove those
from the list of required by default. Once emulation layer implemented we
can put those back.

On Thu, Apr 26, 2018 at 10:40 AM, Yossi Itigin <notifications@github.com>
wrote:

[2018-04-26 20:57] shamisp opened #2561 "Emulation layer for newly introduced AMOs"
Implement emulation layer (using 64bit CSWAP) based on the earlier discussion over the phone.

[2018-04-26 21:00] shamisp commented on #2561
Related to #2449

[2018-04-26 22:32] tonycurtis opened #2562 "UCP fetch op names, redundant "F"?"
Thought: the enumeration for fetch ops is currently of the form
[code]
Is the "F" in front of "OR" redundant here given the "FETCH" earlier?

[2018-04-28 16:05] #2354 closed

[2018-04-28 16:10] #2529 closed

[2018-04-28 16:11] yosefe commented on #2562
@tonycurtis @shamisp also raised this concern, but we can't change the names due to backward compatibility

[2018-04-28 16:12] tonycurtis commented on #2562
OK, not a problem.

[2018-04-28 17:33] shamisp commented on #2562
Let’s put it on todo list for 2.x

On Sat, Apr 28, 2018 at 11:12 tonycurtis <notifications@github.com> wrote:

[2018-04-29 05:51] amaslenn commented on #2535
Test passed here: http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20180427_072028_12390_3039_vegas25/All_phase-summary.html

[2018-04-29 06:09] amaslenn commented on #2454
Newer fail report: http://e2e-gw.mellanox.com:4080//mnt/lustre/users/mtt/scratch/ucx_ompi/20180429_032503_14764_84268_clx-hercules-113/Test_Run-osu_micro_benchmark_one_sided-ompi_installed-3.1.0rc4-ompi_installed.html

[2018-04-29 13:30] amaslenn opened #2568 "[mtt] mpich_tests_mpi_pt2pt fails with enabled lanes"
Configuration
[code]

MTT log: http://e2e-gw.mellanox.com:4080//mnt/lustre/users/mtt/scratch/ucx_ompi/20180427_020635_16343_83128_clx-hercules-005/html/test_stdout_CKV8QI.txt

Test passes without `-x UCX_MAX_EAGER_LANES=3 -x UCX_MAX_RNDV_LANES=3`.

Cmd:
`mpirun -np 2 -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=mlx5_0:1,mlx5_2:1 -x

[2018-04-29 16:09] yosefe opened #2569 "failure in ud_mlx5/test_ud_slow_timer.tick1/1"
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/6929/label=hpc-test-node2,worker=2/consoleFull
[code]

[2018-04-29 18:41] karasevb commented on #2482
https://github.com/openucx/ucx/issues/2482#issuecomment-379651834 there is test issue.
Following the [source code of the test](https://github.com/pmodels/mpich/blob/4578f54d171928a864224aba8bca95dc3b7fa535/test/mpi/datatype/dataalign.c#L73-L74), that failure is expected. That test works correctly only for even number of procs.
According to the file `dataalign.c`:
[code]
test tries to send msg to `

[2018-04-30 14:19] tonycurtis opened #2570 "UCT: Compilation failure on system without Infiniband"
Github HEAD master (as of a few minutes ago)

[code]

[code]

[2018-04-30 14:41] yosefe commented on #2570
what is the libibverbs version? is it MLNX_OFED / inbox? which distro?

[2018-04-30 14:43] yosefe commented on #2570
related to #2558

[2018-04-30 14:45] tonycurtis commented on #2570
Fedora 27, ARM: libibverbs-14-4.fc27.aarch64
CentOS 7, x86_64: libibverbs-13-7.el7.x86_64

no OFED at all (single machine with XPMEM).

[2018-04-30 16:36] shamisp commented on #2570
Looks like inbox cm install is different from one in MOFED ?

[2018-04-30 18:37] yosefe commented on #2570
@tonycurtis can you pls check also the RPM versions of libibverbs-devel and ibibcm-devel?
i suspect that libibcm-devel is installed but libibverbs-devel is not..

[2018-04-30 18:42] tonycurtis commented on #2570
Actually neither devel package is installed.  However, on both platforms, attempts to install them indicate they are provided by rdma-core-devel, which _is_ installed.

[2018-05-01 11:37] #2570 closed

[2018-05-01 11:39] alinask commented on #2482
@amaslenn Could you please make this test run only on even values of np, like @karasevb mentioned?

[2018-05-01 13:48] alinask opened #2575 "hang/segv on mpi_test_suite with ud"
Command line:

mpirun -np 288 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=mlx5_0:1 -x UCX_IB_REG_METHODS=rcache,direct -x UCX_TLS=ud,sm -mca pmix_base_async_modex 0 -mca mpi_add_procs_cutoff 100000 -mca pmix_base_collect_data 1 --map-by node /mnt/lustre/users/mtt/scratch/ucx_ompi/20180501_071025_21927_85403_clx-vega-

[2018-05-02 06:35] #2569 closed

[2018-05-02 07:49] shamisp commented on #2534
is there a way to workaround this without fully disabling rdmacm all together ?

[2018-05-02 09:04] yosefe commented on #2545
setup issue - lossless RoCE was not configured

[2018-05-02 09:04] #2545 closed

[2018-05-02 14:39] yosefe commented on #2336
happens because of false-error on 2nd pair in the test, because of smaller timeout and slow machine
in that stage, the receiver has not created ud_ep yet so the error is reported on private ud_ep which is not associated with any ucp_ep

[2018-05-02 14:40] yosefe commented on #2537
we saw this happen because of timeout on 2nd pair, so smoke_test wait-for-recv does not complete.
@shamisp do you see smoke_test() in the backtrace, if attaching with gdb?

[2018-05-02 19:46] shamisp commented on #2537
@gmegan can you please double check ?

[2018-05-03 06:06] amaslenn commented on #2482
@alinask sure, will do.
@karasevb what about original `atest` issue? It had even NP value (1664).

[2018-05-03 06:16] karasevb commented on #2482
@amaslenn  there are different issues, original has another cause and it still in investigating. So do not close this issue until the original issue will be solved.

[2018-05-03 07:44] hoopoepg commented on #2535
failed to reproduce on 1000+ launches (about 4 hours) with different NP
it seems issue is not relevant anymore

[2018-05-03 07:44] #2535 closed

[2018-05-03 11:41] hoopoepg commented on #2568
@yosefe issue is caused because OMPI can't process out-of-order portion of data on generic datatype (pml_ucx_generic_datatype_unpack callback used to handle custom data).

disable m-rail on for such cases?

[2018-05-03 11:56] yosefe commented on #2568
do you mean OMPI does not really support "offset" parameter for unpack?
e.g that `opal_convertor_set_position(&convertor->opal_conv, &offset);` does not work?

[2018-05-03 11:58] hoopoepg commented on #2568
as I can see it shift position to forward only

[2018-05-03 14:43] gmegan commented on #2537
Smoke test appears in the backtrace. For this test, it hung on udx/test_ucp_peer_failure_2pairs.status_after_error/0

----------------------

gtest --gtest_filter=*test_ucp_peer_failure_2pairs.status_after_error*
[     INFO ] checking dc: no
[     INFO ] checking dcx: no
[     INFO ] checking ud: yes
[     INFO ] checking udx: yes
[     INFO ] checking rc: yes
[     INFO ] checking rcx: yes
[

[2018-05-05 06:10] shamisp commented on #2568
Adding George to confirm this open mpi limitation.

On Thu, May 3, 2018 at 14:56 Yossi Itigin <notifications@github.com> wrote:

[2018-05-05 13:48] hppritcha commented on #2507
well we're not going to do that if UCX doesn't support connectx3

[2018-05-06 06:12] shamisp commented on #2507
You are saying we do not support cx3 ? @yossefe

[2018-05-06 07:54] miked-mellanox commented on #2507
ConnectX-3 is NOT i-warp capable device.
UCX supports ConnectX-3 device through verbs.
seems some kind of misunderstanding here.

[2018-05-06 09:47] yosefe commented on #2536
OOM on the server

[2018-05-06 09:47] #2536 closed

[2018-05-06 14:50] yosefe commented on #2537
@shamisp @gmegan can you pls check if it hangs on "udx/test_ucp_peer_failure_2pairs.status_after_error/0"?
i could reproduce and fix udx/test_ucp_peer_failure_2pairs.status_after_error/0 only for now

[2018-05-06 15:48] alinask opened #2582 "Assertion failure on malloc_hook"
Configuration:

•Nodes: vega x16 (ppn=36(x16), nodelist=clx-vega-[049-064])
•Module: hpcx-gcc (2018-05-04)

MLNX_OFED_LINUX-4.3-1.0.1.0

Command line:

/hpc/local/benchmarks/hpcx_install_2018-05-04/hpcx-gcc-redhat7.4/ompi/bin/oshrun -np 576 --debug-daemons --display-map --bind-to core -mca oshmem_proc_group_cache_size 10000 -mca btl_openib_warn_default_gid_prefix 0 -report-bindings -mca sshmem_ver

[2018-05-07 07:35] amaslenn commented on #2454
New results: http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20180506_221452_154415_3758_jazz17/html/test_stdout_wLgJjn.txt
[code]

[2018-05-07 08:18] yosefe commented on #2454
yep, this still isn't solved..

[2018-05-07 13:33] yosefe commented on #2582
OOM on the machine

[2018-05-07 13:33] #2582 closed

[2018-05-07 17:34] bosilca commented on #2568
Multi-rail is supported by the OB1 PML and as far as we know the code is working.

To answer @hoopoepg question moving the convertor backward is done in opal_convertor_set_position_nocheck (opal/datatype/opal_convertor.c), by rewinding the convertor at the beginning and then moving forward to the desired position. However, such rewinding only works on predefined datatype boundaries, condition resp

[2018-05-07 18:37] yosefe commented on #2568
@bosilca we use only opal_convertor on both sides so i think datatype boundary should be ok
IIUC, we should use `opal_convertor_set_position_nocheck()` instead of `opal_convertor_set_position()`, in pml_ucx code (https://github.com/open-mpi/ompi/blob/master/ompi/mca/pml/ucx/pml_ucx_datatype.c#L88), right?

[2018-05-07 18:43] bosilca commented on #2568
The nocheck function avoids some consistency checkings (position outside bounds, convertor already at the right position), and should not be used directly. The current usage in pml_ucx looks OK to me.

Another possible source of errors is the fact that the convertor can pack/unpack less data than requested (which explains why max_data argument is a pointer).

[2018-05-08 11:09] #2534 closed

[2018-05-08 14:50] yosefe opened #2588 "invalid error check in ucp_mem_map"
when ucp_mem_map is called with (addr=NULL, length=0, flags=0)
it should return dummy_mem_handle and not assume user is trying to allocate memory
see also https://github.com/open-mpi/ompi/issues/5083#issuecomment-383094506

[2018-05-08 14:50] yosefe commented on #2588
@xinzhao3 @jladd-mlx FYI

[2018-05-08 15:00] shamisp commented on #2534
@gmegan can you please confirm that it works now.

On Tue, May 8, 2018 at 14:09 Yossi Itigin <notifications@github.com> wrote:

[2018-05-09 18:26] mdidomenico4 opened #2592 "Assertion `qp_init_attr.cap.max_infline_data >= UCT_UD_MIN_INLINE"
I'm trying to run ucx_info -d on my node

when i do i get a bunch of output, but then it ends with

# transport: ud
# device: qib0:1
ud_iface.c:305 Assertion 'qp_init_attr.cap.max_inline_data >= UCT_UD_MIN_INLINE' failed
==== bactrace ====
0 /lib64/libucs.so.0(__ics_abort+0x105] [0x7f7569a62325]
1 /lib64/libuct.so.0(uct_ud_iface_t_init+0x76b) [0x7f756a2b951b]
2 /lib64/libuct.so.0(+0x24d1d)[0x7f756

[2018-05-10 07:02] shamisp commented on #2592
@yosefe is this the limitation that we have about min inline size ? time to remove it ?

[2018-05-10 09:35] yosefe commented on #2592
we have it in TODO list: #750

[2018-05-10 10:45] miked-mellanox commented on #2592
do you use qlogic HCA with ucx?
If so - currently it is unsupported and untested with ucx.

[2018-05-10 13:02] miked-mellanox commented on #2592
currently not in plans but contributions are welcome!

[2018-05-10 13:28] shamisp commented on #2592
There is not much difference API wise between OPA / Qlogic. The current
issue is related to the assumption that verbs/ucx developer made about min
inline size in order to avoid bounce buffer allocation. The fix is
relatively simple. Allocate bounce buffer and release it on local
completion. We have never had time to implemented. I would suggest to file
it as bug.

On Thu, May 10, 2018 at 15:53 mdi

[2018-05-11 08:44] brminich commented on #2453
closing, as not reproducible anymore.  Probably it was fixed by #2457

[2018-05-11 08:44] #2453 closed

[2018-05-13 19:34] yosefe opened #2598 "failure in cuda_ipc/uct_p2p_rma_test.get_zcopy/1"
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/7001/label=vulcan-jenkins,worker=0/console
[code]

[2018-05-13 19:35] yosefe commented on #2598
adding @Akshay-Venkatesh

[2018-05-13 21:20] agrippa opened #2601 "Bus error on UCX 1.3.0"
Hi all,

We're seeing the following error message during finalization of an OpenSHMEM program running on top of UCX 1.3.0:

Caught signal 7 (Bus error: nonexistent physical address)

The generated core dump contains the following stack trace:

#0  uct_mm_ep_update_cached_tail (ep=0x119dd020, ep=0x119dd020) at sm/mm/mm_ep.c:202
#1  uct_mm_ep_flush (tl_ep=0x119dd020, flags=0, comp=<optimized out>) a

[2018-05-13 21:50] yosefe commented on #2601
bus error usually means the remote segment was detached before another process finished writing.
probably deregister_memory_regions() should be called after some out-of-band barrier

[2018-05-13 22:38] tonycurtis commented on #2601
Related to https://github.com/openucx/ucx/issues/2050 ?

[2018-05-14 01:50] Akshay-Venkatesh commented on #2598
@yosefe I'm unable to see this error locally on both ```master``` and ```topic/cuda-ipc-uct-memhandle-hash``` branches. I see this:

[code]
Seeing that err != cudaSuccess, this has likely occurred at this line:
https://github.com/openucx/ucx/blob/master/src/uct/cuda/cuda_ipc/cuda_ipc_md.c#L149
(because it's the only place where cudaSuccess is checked in cuda_ipc path, and CUDA_SUCCESS is checked f

[2018-05-14 07:56] yosefe commented on #2598
@Akshay-Venkatesh i don't think it's this line; since the function eventually returns UCS_OK
it seems to be coming from `uct_test::entity::cuda_mem_alloc`:
[code]
[yosefe@vulcan-jenkins ucx]$ lspci|grep -i NVI
03:00.0 3D controller: NVIDIA Corporation GP100GL [Tesla P100 PCIe 16GB] (rev a1)
81:00.0 3D controller: NVIDIA Corporation GP100GL [Tesla P100 PCIe 16GB] (rev a1)
[code]

[2018-05-14 12:14] yosefe opened #2606 "failure on rc/uct_flush_test.am_zcopy_flush_ep_nb/1 (mlx4)"
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-test-node,worker=2/7015/console
[code]

[2018-05-14 17:06] Akshay-Venkatesh commented on #2598
Thanks for the clarification @yosefe Two Pascals on the node should work just fine.

It's surprising that the test is failing in cudaMalloc call. I tried to recreate the scenario of multiple tests running in parallel with 4 concurrent tests running on the same node. I haven't seen the error though.
There's always a chance that a cudaMalloc fails if there are enough parallel tests running at the sa

[2018-05-14 18:08] bureddy commented on #2598
the other cuda TL (cuda_copy, gdr_copy) can allocated maximum of  4GB buffers. so, its possible the cuda OOM if they there is mix of these tests running in parallel concurrently. we had seen same issue before even before cuda-ipc TL.

[2018-05-14 20:17] yosefe commented on #2598
ok, so closing this

[2018-05-14 20:17] #2598 closed

[2018-05-14 22:48] #2588 closed

[2018-05-15 15:14] hoopoepg commented on #2568
as I can see ```opal_convertor_unpack``` doesn't support out-of-order data at all: it uses call ```opal_convertor_get_current_pointer``` to get pointer for every portion of data, but ```opal_convertor_get_current_pointer``` just returns ```destination + converted_amount + lb``` and returned pointer could not handle out-of-order data at all

[2018-05-15 16:26] karasevb commented on #2482
@jladd-mlnx

[2018-05-16 07:28] amaslenn opened #2616 "[mtt] hang in osu_micro_benchmark_collective"
Configuaration
[code]

MTT log: http://hpcweb.lab.mtl.com//hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20180515_200343_133975_4568_jazz06/html/test_stdout_kHLnmZ.txt

Test takes ~3 min to finish without UCX (`-mca pml ^ucx`).

Cmd:
`mpirun -np 32 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=mlx5_1:1 -x UCX_IB_REG_METHODS

[2018-05-16 07:28] amaslenn commented on #2616
Can be related to #2469

[2018-05-16 07:44] alinask commented on #2616
@amaslenn this isn't one-sided, typo in the ticket's name?

[2018-05-16 07:50] amaslenn commented on #2616
This is another one. Both tests have hangs: http://hpcweb.lab.mtl.com//hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20180515_200343_133975_4568_jazz06/

[2018-05-16 07:54] alinask commented on #2616
yes but the name of the ticket indicates that the hang is in one-sided while the command line is from collective. I think we already have a ticket open for one-sided.

[2018-05-16 07:56] amaslenn commented on #2616
Yes, fixed. Thanks!

[2018-05-16 09:27] yosefe commented on #2616
need to run "mlnx_qos -i p1p2 --pfc 0,0,0,1,0,0,0,0" to configure lossless RoCE properly

[2018-05-16 10:35] yosefe commented on #2616
closing this since the problem is cluster misconfig

[2018-05-16 10:35] #2616 closed

[2018-05-17 08:47] #2575 closed

[2018-05-19 15:40] yosefe commented on #2482
closing this due to @artpol84 's comment

[2018-05-19 15:40] #2482 closed

[2018-05-20 12:29] amaslenn opened #2627 "[mtt] hang in imb with enabled HW TM"
Configuration
[code]

MTT log: http://e2e-gw.mellanox.com:4080//mnt/lustre/users/mtt/scratch/ucx_ompi/20180518_120911_35630_100603_clx-vega-025/html/test_stdout_wicnbn.txt

Works well with `-x UCX_DC_MLX5_TM_ENABLE=n`.

Cmd:
`mpirun -np 1440 -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=mlx5_0:1 -x UCX_IB_REG_METHODS=rcache,direct -

[2018-05-21 16:13] stowellm opened #2631 "Usage Documentation: manpages for ucx_info, ucx_perftest, ucx_read_profile"
Currently the three `ucx_*` utilities provided by the UCX package have no manpages written for them.  Expanded documentation on their usage, as well as a few examples, may help alleviate a lot of confusion with the abbreviated usage text currently provided by the utilities, which often are only single words or phrases that do not give much guidance to the user.

`ucx_read_profile` in particular is

[2018-05-21 16:15] stowellm opened #2632 "Usage Documentation: add -h/--help flags for ucx_info, ucx_perftest, ucx_read_profile to print usage"
There is no standard `-h` / `--help` flag available for any of the `ucx_*` utilities provided by the UCX package.  The only way to display their usage information currently is to deliberately pass an invalid flag (i.e. `-h`), get an error that the usage was incorrect, have the usage printed, and receive a non-zero exit code.

[2018-05-21 16:17] stowellm opened #2633 "Usage Documentation: ucx_perftest usage text has no mention of a --batch flag"
The `ucx_perftest` usage text mentions a short flag `-b` which takes a batchfile as input.  Presumably, this is the short version of the `--batch` flag, but it is not documented.  That said, `/usr/share/doc/ucx/perftest/README` only makes reference to a `--batch` flag, not `-b`.

[code]

This is a request to have the `ucx_perftest` thus inform the user of both short- and long-versions of flags ava

[2018-05-21 16:19] stowellm opened #2634 "Usage Documentation: ucx_info -n usage text does not document arguments required"
Currently the `ucx_info` usage text mentions a `-n` flag with no additional arguments passed to it:

[code]

However, the user will note that `ucx_info -n` does in fact require an argument:

[code]

What is this argument that is required?  This is a request to document it for the user.

[2018-05-21 17:08] yosefe commented on #2633
actually @shamisp this is your bug in README file :) there is no long `--batch` option..

[2018-05-21 17:12] shamisp commented on #2633
@yosefe last time I used it, it was there....

[2018-05-21 17:59] yosefe commented on #2633
@shamisp perftest never had long options, only short. anyway i will fix the README.

[2018-05-22 07:03] amaslenn opened #2636 "[mtt] Assertion `rc_iface->tx.cq_available <= rc_iface->config.tx_cq_len' failed"
Configuration
[code]

MTT log: http://hpcweb.lab.mtl.com//hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20180521_212759_20382_5004_vegas08/html/test_stdout_7NvhHM.txt

Cmd (no module load required):
`/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20180521_212759_20382_5004_vegas08/installs/Vez3/install/bin/mpirun -np 104 -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to

[2018-05-22 10:43] alinask commented on #2636
Emphasizing here that this occurred on a ucx multithreading testing.
Job: ucx-mt

[2018-05-22 11:12] yosefe commented on #2636
duplicates #2627 (when both use debug-mode ucx bothe show same assertion)

[2018-05-23 08:30] #2632 closed

[2018-05-23 08:30] #2633 closed

[2018-05-23 08:30] #2634 closed

[2018-05-23 13:04] shamisp commented on #2631
It would be nice to have man pages but we are not there yet. As for now we are mostly focused around proper API documentation.

[2018-05-23 14:23] yosefe commented on #2568
fix in https://github.com/open-mpi/ompi/pull/5179

[2018-05-24 09:12] #2336 closed

[2018-05-27 10:10] amaslenn opened #2649 "[mtt] fail in verifier with oshmem"
Configuration
[code]

MTT log: http://hpcweb.lab.mtl.com//hpc/mtr_scrap/users/mtt/scratch/shmem/20180525_004027_18346_5351_vegas08/html/test_stdout_yZ558C.txt

Cmd:
`oshrun -np 64 --bind-to core -mca oshmem_proc_group_cache_size 10000 -mca btl_openib_warn_default_gid_prefix 0 -mca sshmem_verbs_hca_name mlx5_0:1 -mca btl_openib_if_include mlx5_0:1 -x MXM_RDMA_PORTS=mlx5_0:1 -x UCX_NET_DEVICES=mlx5_

[2018-05-27 10:31] amaslenn commented on #2649
Disabling HCOLL doesn't help.

[2018-05-27 10:36] amaslenn commented on #2649
This fail might be related: http://hpcweb.lab.mtl.com//hpc/mtr_scrap/users/mtt/scratch/shmem/20180525_004027_18346_5351_vegas08/html/test_stdout_uLExkc.txt

Trace:
[code]

[2018-05-27 10:53] yosefe commented on #2649
first failure is OOM (@amaslenn pls check OOM if you see a message "exited on signal 9 (Killed)."
drop_caches on vegas07 fixed the issue

[2018-05-27 11:31] yosefe commented on #2649
After rebooting vegas07 (to release leaked memory), both issues go away.

[2018-05-27 11:31] #2649 closed

[2018-05-29 07:56] alinask commented on #2226
Reproduced again (on atest) :

Job: ucx

Environment
Nodes: hwi-arm x2 (ppn=64(x2), nodelist=hpc-arm-hwi[01-02])
Module: hpcx-gcc (2018-05-27)

/hpc/local/benchmarks/hpcx_install_2018-05-27/hpcx-gcc-redhat7.4/ompi/bin/mpirun -np 64 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=mlx5_0:1,mlx5_3:1,mlx5_4:1 -x UCX_IB_ADDR_

[2018-05-31 06:49] amaslenn opened #2654 "[mtt] UCX WARN got active message id 0, but no handler installed"
Configuration:
[code]

MTT log: http://hpcweb.lab.mtl.com//hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20180527_115701_42672_5517_hpc-arm-hwi01/html/test_stdout_2Zyotl.txt

Cmd:
`mpirun -np 64 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=mlx5_0:1,mlx5_3:1,mlx5_4:1 -x UCX_IB_ADDR_TYPE=ib_global -x UCX_IB_REG_METHODS=rcach

[2018-05-31 06:50] amaslenn commented on #2654
It could be unstable setup, but I was able to reproduce it at least once, so worth to mention.

[2018-05-31 08:20] yosefe commented on #2654
related to https://gitlab.com/Mellanox/huawei/issues/19

[2018-05-31 12:39] yosefe opened #2655 "warning from dc/test_tag.tag_rndv_zcopy_tag_mask/1 - rdnv_comp ptr_array not clean"
[code]

[code]

[2018-05-31 13:54] hoopoepg opened #2656 "[mtt] hang on MPI_Finalize"
originally reproduced on hercules 16 nodes x 32 ppn
may be reproduced on 2 nodes x 32 ppn (more iterations to reproduce)

investigations showed that on one of the processes routine ucp_disconnect_nb (called from MPI_Finalize) calling uct_flush which returns NO_RESOURCES error, after this EP is moved into pending queue and never come back from it

normal stack of application:
[code]

hanged stack:

[2018-05-31 23:13] tonycurtis opened #2657 "test/apps/test_tcmalloc.c compile error"
git master @ 1e613637fe79426a73b51a8f28f3b279f1725ce0

[code]

[2018-06-01 13:48] shamisp commented on #2657
Usual question - why we didn't step on this during regression ...

[2018-06-01 13:52] brminich commented on #2657
We have UCP installed in /usr with standard prefix

[2018-06-01 13:56] tonycurtis commented on #2657
Ah, it's only failing on machines that have tcmalloc installed (from package manager: gperftools).

[2018-06-01 15:14] shamisp commented on #2657
Why it would make difference in what prefix it is installed ?

On Fri, Jun 1, 2018 at 8:56 AM, tonycurtis <notifications@github.com> wrote:

[2018-06-01 16:18] brminich commented on #2657
Compilation fails if there are no UCX headers in /usr/include.  Also the test is compiled if tcmalloc lib is present only. On our machines we either have UCX headers in /usr/include or we do not have tcmalloc lib

[2018-06-01 16:27] tonycurtis commented on #2657
Shouldn't the tests be compiled against the (possibly new) headers provided by the source package they are part of?

[2018-06-01 19:00] brminich commented on #2657
That would be better.
#2658 should address this

[2018-06-01 21:52] tonycurtis commented on #2657
Then
[code]
should do the trick

[2018-06-01 21:58] tonycurtis commented on #2657
@brminich expecting headers in /usr/include for something you're building from source is a little Heller-esque I think :)

[2018-06-02 12:00] #2655 closed

[2018-06-03 09:08] yosefe commented on #2654
closing this since it's related to a particular setup

[2018-06-03 09:08] #2654 closed

[2018-06-03 09:10] Artemy-Mellanox commented on #2332
Not reproduced after 593 repetitions

[2018-06-03 09:11] yosefe commented on #2568
ompi master+v3.1 fixed

[2018-06-03 09:11] #2568 closed

[2018-06-03 13:23] amaslenn opened #2662 "[mtt] fail in imb"
Configuration
[code]

MTT log: http://hpcweb.lab.mtl.com//hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20180531_023427_22038_5859_vegas25/html/test_stdout_GS9jCy.txt

Test works with NP=117. Issue reproduces with `rc/rc_x/dc/dc_x/ud` tranports.

Cmd:
`mpirun -np 118 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=mlx5_0:1 -x

[2018-06-03 13:30] amaslenn commented on #2662
Yes, looks like OOM:
[code]

[2018-06-03 13:30] yosefe commented on #2662
OOM

[2018-06-03 13:30] #2662 closed

[2018-06-03 14:18] amaslenn opened #2664 "[mtt] segfault in mpich_tests_mpi_comm"
Configuration
[code]

MTT log: http://e2e-gw.mellanox.com:4080//mnt/lustre/users/mtt/scratch/ucx_ompi/20180603_083232_32203_107955_clx-hercules-030/html/test_stdout_6OKiqJ.txt

Cmd:
`mpirun -np 512 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=mlx5_0:1,mlx5_2:1 -x UCX_IB_REG_METHODS=rcache,direct -x UCX_TLS=rc_x,sm -mc

[2018-06-03 14:20] amaslenn commented on #2664
Couldn't reproduce it in 100 iterations.

[2018-06-03 14:44] yosefe commented on #2664
according to address, gdb trace is wrong, it's coming from uct_ep_connect_to_ep(), and ep is NULL
[code]

[2018-06-03 15:56] alinask commented on #2332
Closing since this doesn't reproduce.

[2018-06-03 15:56] #2332 closed

[2018-06-04 08:11] yosefe commented on #2664
repro after ~300 iters

[2018-06-04 21:01] shamisp opened #2667 "examples files installed without makefile"
It would be nice to provide the makefile as a part of example installation

[2018-06-05 12:16] hoopoepg commented on #2656
so, the issue is in processing of pending operations: async progress failed to send pending wireup messages (ud_mlx5 transport) to peer and peer who is waiting this message hangs

[2018-06-05 12:21] yosefe commented on #2656
was the peer endpoint, which was supposed to send the wireup message, flushed? if yes, how come the wireup message was not sent?

[2018-06-05 12:24] hoopoepg commented on #2656
it was flushed, but problem is there are uct_eps[DC and RC] + aux EP (UD), flush of EP calls flush for DC & RC only, UD is not under flush because EP is transferred into normal state (from wireup)

[2018-06-05 12:28] hoopoepg commented on #2656
will try... good idea

[2018-06-05 14:28] alinask commented on #2656
@hoopoepg Can you please try running with this fix on a large scale? as originally detected (in a long loop to make sure it's covered.)

[2018-06-05 14:32] hoopoepg commented on #2656
it is running right now on 16 herculesses x 32ppn, 250 iteration are completed for now (hang usually on ~10 iteration)

[2018-06-05 14:33] alinask commented on #2656
thanks!

[2018-06-07 06:01] amaslenn opened #2670 "[mtt] ERROR Failed to allocate memory pool chunk: Out of memory"
Configuration:
[code]

MTT log: http://e2e-gw.mellanox.com:4080//mnt/lustre/users/mtt/scratch/ucx_ompi/20180602_062851_15753_107513_clx-orion-005/html/test_stdout_1x6yiO.txt

The issue wasn't reproduced manually. It can be useful while we chase OOM issues.

Cmd:
`mpirun -np 2492 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DE

[2018-06-10 09:44] yosefe commented on #2656
should be fixed by https://github.com/open-mpi/ompi/pull/5248

[2018-06-10 14:04] yosefe opened #2678 "assertion failure in thread/test_async.many_timers/0"
(new test added by #2663
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/7175/label=hpc-test-node2,worker=3/console)
[code]

[2018-06-10 16:11] alinask commented on #2670
Reproduced manually with the following:

[code]

[2018-06-10 16:13] yosefe commented on #2670
@alinask i think it's worth adding the mpool name to the error message in mpool.c:176

[2018-06-13 09:33] amaslenn opened #2682 "[mtt] hang in mpich_tests_mpi_pt2pt/bsendalign"
Configuration
[code]

MTT log: http://e2e-gw.mellanox.com:4080//mnt/lustre/users/mtt/scratch/ucx_ompi/20180610_112216_17265_111378_clx-hercules-101/html/test_stdout_duah9r.txt

This issue is not always reproduced, I had to use loop, got it on 4-th iteration.

Cmd:
`mpirun -np 192 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_D

[2018-06-13 09:35] alinask commented on #2682
same as https://github.com/openucx/ucx/issues/2656 ?

[2018-06-13 09:44] hoopoepg commented on #2682
@alinask very similar symptoms

[2018-06-13 13:49] alinask commented on #2664
@yosefe closing this one as the fix was merged both to master and to v1.4.

[2018-06-13 13:50] #2664 closed

[2018-06-13 13:52] alinask commented on #2656
@amaslenn @hoopoepg closing this one since the fix was merged to all the relevant ompi branches.
Please reopen if it happens again.

[2018-06-13 13:53] #2656 closed

[2018-06-14 06:13] vspetrov commented on #2656
@alinask @hoopoepg This ticket opened for hcoll is very similar:
https://github.com/Mellanox/hcoll/issues/669

THe stack looks exactly the same. 1 process is left in del_procs while others are in pmix_fence. I could only reproduce it with hcoll at the given scale. Any ideas if this is related ?

[2018-06-14 06:17] hoopoepg commented on #2656
@vspetrov it could be similar issue. what build/branch failed in your ticket?

[2018-06-14 07:27] alinask commented on #2656
@vspetrov @hoopoepg I mentioned in here that it's probably the same - https://redmine.mellanox.com/issues/1425460
Today's build should have the fix since it was merged to ompi (v3.1) two days ago.

[2018-06-14 09:00] amaslenn opened #2684 "[mtt] FATAL: send completion with error: transport retry counter exceeded"
Configuration
[code]

MTT log: http://e2e-gw.mellanox.com:4080//mnt/lustre/users/mtt/scratch/ucx_ompi/20180612_175839_21610_112715_clx-orion-097/html/test_stdout_4DRzkN.txt

I couldn't reproduce the issue in 50 iterations (about 20 min). In newer runs this test fully passed.
E2E said that there were no changes in ROCE configuration, so it should still be configured as lossless.

Cmd:
`mpirun -np 4

[2018-06-14 09:30] andreid72 opened #2685 "[mtt] Fatal: transport error: Endpoint timeout"
Configuration:

[code]
MTT log: http://hpcweb.lab.mtl.com//hpc/mtr_scrap/users/andreid/scratch/ucx_ompi/20180613_152702_116398_92_r-hpc139/html/test_stdout_XsWEwM.txt

The issue was not reproduced manually.

Cmd:
`mpirun -np 20 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to hwthread -x UCX_NET_DEVICES=mlx5_0:1 -x UCX_IB_REG_METHODS=rcache,dire

[2018-06-14 10:11] galhe commented on #2685
reproduces on build from today
[log_repro.txt](https://github.com/openucx/ucx/files/2101807/log_repro.txt)

[2018-06-14 10:41] alinask commented on #2670
`mpool.c:176  UCX  ERROR Failed to allocate memory pool (name=rc_recv_desc) chunk: Out of memory`

[2018-06-14 21:28] hjelmn opened #2687 "ib: possible issue with UD"
I am trying to use UD through UCT to handle passing connection endpoint information. I can't seem to get it to work. I keep seeing errors of the form:

[code]

I have successfully used DC for this purpose but would like to get UD working for older hardware. Any thoughts.

This is with UCX 1.3.x master. On both Power 9 and ARM Thunder X.

[2018-06-14 21:28] hjelmn commented on #2687
Will test x86_64 as well. Need to check software availability.

[2018-06-14 21:37] shamisp commented on #2687
@yosefe - the error looks weird

[2018-06-15 21:08] artpol84 opened #2691 "OSHMEM put silent failure"
## Short description o the problem:
In OSHMEM applications the PUT8 operation performed to one process sometimes silently fails causing data to be ignored.

## Below is more detailed description of the problem:

### SW stack: HPCX

### Resources

### Reproducer program:
[code]
### Result:
[code]

[2018-06-15 21:08] artpol84 commented on #2691
@yosefe

[2018-06-17 07:52] alinask commented on #2685
Reproduced with mpi_test_suite as well:

`
mpirun -np 140 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=mlx5_0:1 -x UCX_IB_REG_METHODS=rcache,direct -x UCX_TLS=ud,sm -mca pmix_base_async_modex 1 -mca mpi_add_procs_cutoff 0 -mca pmix_base_collect_data 0 --map-by node /hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20180616_06

[2018-06-17 08:54] yosefe commented on #2687
this is not an error, it means UD cannot send at this moment, need to call uct_worker_progress() on both sides to make it work

[2018-06-17 13:31] alinask commented on #2685
Mellanox internal link - https://redmine.mellanox.com/issues/1427930

[2018-06-17 13:38] alinask commented on #2670
Probably due to enabled HW TM and the increased threshold for BCOPY:
[code]

[2018-06-18 07:57] evgeny-leksikov commented on #2691
@artpol84 seems like there is a bug in reproducer program - it uses 64 bits put/get and strcmp but hostname is longer than 8 bytes, need to use `strncmp(tmp, my_hname, 8)` or put/get with length `strlen(my_hname)`

[2018-06-18 09:11] yosefe commented on #2682
@hoopoepg can you pls check if it's solved by your worker_flush fix for ompi v3.1?

[2018-06-18 10:42] amaslenn commented on #2670
Found in `dmesg` on one of the host after the failure:
[code]

[2018-06-18 11:19] hoopoepg commented on #2691
@yosefe @artpol84 add barrier between memset & loop

[2018-06-18 13:53] hoopoepg commented on #2682
@yosefe issue is same, but my fix for worker slush is not enough: in case if 4+ processes are in state "close-before-wireup-complete" - it falls into deadlock on flush.

I will prepare more graceful fix today with non-blocking flush

[2018-06-18 14:40] artpol84 commented on #2691
@hoopoepg nice catch. Thank you!

[2018-06-18 14:41] #2691 closed

[2018-06-18 15:11] shamisp commented on #2687
hmm, we do have progress thread, right ?

[2018-06-18 15:13] hoopoepg commented on #2687
progress thread process receives only (it can't process pending send ops)

[2018-06-18 15:28] hjelmn commented on #2687
I don't see why this would be the case. I see the error on the very first message on the endpoint associated with this tl. I can try adding a loop that calls am_short + worker progress and see if that helps.

[2018-06-18 15:35] shamisp commented on #2687
@yosefe does post send fails in this case ? Can we return try again ?

[2018-06-18 15:36] yosefe commented on #2687
this is what we do, @hjelmn you are getting UCS_ERR_NO_RESOURCE right?

[2018-06-18 15:36] hjelmn commented on #2687
Yup. That is the error.

[2018-06-18 15:37] shamisp commented on #2687
@hoopoepg I asked about progress thread because @yosefe suggest to progress both sides. The sender send failure does make sense for me. Can we track the resource and return tryagain.

[2018-06-18 15:37] shamisp commented on #2687
okay, it just got answered :)

[2018-06-18 15:37] yosefe commented on #2687
is there code in btl ucx to retry in such case?

[2018-06-18 15:38] hjelmn commented on #2687
Not yet. I wanted to figure out this error before I finish that code. Was really surprised since, as mentioned, no messages had been sent yet. I will add the loop now.

[2018-06-18 15:39] hjelmn commented on #2687
That was more-or-less the last "bug" in the BTL that needed to be resolved. Will be spending the next couple of days cleaning up the code and testing with MTT then will update my PR for Open MPI.

[2018-06-18 15:59] shamisp commented on #2687
Awesome. thanks

[2018-06-18 16:00] #2687 closed

[2018-06-20 15:15] hjelmn opened #2700 "uct: performance issue with IB and multiple threads"
I am cleaning the uct btl up for release and ran into an issue on IB systems (tested with power 9, ARM Thunder X, and Intel Broadwell). The uct btl is using a separate worker per thread.

With multiple threads and the rma-mt benchmarks (http://github.com/hpc/rma-mt). The performance tanks as the thread count increases (this is a debug build so ignore absolute number, just the trend). These numbers

[2018-06-20 15:16] hjelmn commented on #2700
I should note that on IB the UCT btl is showing almost perfect scaling with threads. Also, the transport in use is DC on a ConnectX

[2018-06-20 15:17] hjelmn commented on #2700
Also, the protocols used are:

 - 1-64B: short
 - 128-4096B: bcopy
 - 4096+: zcopy

[2018-06-20 15:18] yosefe commented on #2700
@hjelmn can you test with https://github.com/open-mpi/ompi/pull/5285 and `-mca pml_ucx_opal_mem_hooks `

[2018-06-20 15:24] shamisp commented on #2700
@hjelmn - I guess you wanted to state that ugni UCT shows almost perfect scaling

[2018-06-20 15:25] hjelmn commented on #2700
@shamisp Yes, typo.

[2018-06-20 15:26] shamisp commented on #2700
@yosefe is there a problem with UCM malloc ?

[2018-06-20 15:28] hjelmn commented on #2700
@yosefe Will try that now and see what happens.

[2018-06-20 15:32] hjelmn commented on #2700
@yosefe I just put similar code in btl/uct and it helped *A LOT*:

[code]

[2018-06-20 15:44] hjelmn commented on #2700
@yosefe Is there a way to disable the rcache in UCT? I want to see if using only the OMPI one helps for the remaining performance issues.

[2018-06-20 15:45] yosefe commented on #2700
@hjelmn need to use the same way as the PR above

[2018-06-20 15:47] hjelmn commented on #2700
@yosefe But even with setting the VM munmap hook to the OMPI one the registration cache is still in use by tl/ib, correct?

[2018-06-20 15:47] hjelmn commented on #2700
That just changes the notification mechanism.

[2018-06-20 15:48] yosefe commented on #2700
yes, you can disable rcache by `UCX_IB_REG_METHODS=direct`

[2018-06-20 15:54] hjelmn commented on #2700
@yosefe Ok, that helped a little but not much. So that doesn't look to be a bottleneck. Will run through vtune again and see what pops up. I am setting the default for btl/uct (when used) to disable the UCX memory hooks.

[2018-06-20 18:56] shamisp commented on #2700
Regardless of the workaround we have to figure out why there is a lock in UCM

[2018-06-21 10:44] #2682 closed

[2018-06-23 14:19] amaslenn opened #2702 "[mtt] ERROR failed to register address in mpi-small-tests"
Configuration:
[code]

MTT log: http://e2e-gw.mellanox.com:4080//mnt/lustre/users/mtt/scratch/ucx_ompi/20180623_084048_26719_117558_clx-vega-025/html/test_stdout_G0xlOH.txt

Doesn't reproduce with `UCX_DC_VERBS_TM_ENABLE=n`. Same for `rc`, works without HWTM, fails with enabled HWTM. Can be related to Lustre issues on server.

Cmd:
`mpirun -np 305 -mca btl self --tag-output --timestamp-output -mca

[2018-06-24 14:41] alinask commented on #2670
Printed the chunk size as well:
`
mpool.c:177  UCX  ERROR Failed to allocate memory pool (name=rc_recv_desc) chunk: Out of memory. chunk_size 222006488`

[2018-06-25 06:39] amaslenn opened #2704 "[mtt] malloc(): memory corruption"
Configuration:
[code]

MTT log: http://hpcweb.lab.mtl.com//hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20180624_000757_44298_436_jazz07/html/test_stdout_3WNLut.txt

I unable to reproduce it manually, but see this issue from time to time.

Cmd:
`mpirun -np 112 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=mlx5_1:1 -x UCX_I

[2018-06-25 09:04] yosefe commented on #2704
adding @boriska, seems like the backtrace is coming from PMI-x

[2018-06-26 09:57] evgeny-leksikov opened #2706 "failure on rc/uct_p2p_rma_test_alloc_methods.xfer_reg_odp/3"
10:22:56 [ RUN      ] rc/uct_p2p_rma_test_alloc_methods.xfer_reg_odp/3
10:22:56 [     INFO ] memory_type:host 0 1073741824 1x{0..1073741824} nocomp 32768
10:23:00 [     INFO ] memory_type:host 65 mlx5: hpc-test-node3: got completion with error:
10:23:00 00000000 00000000 00000000 00000000
10:23:00 00000000 00000000 00000000 00000000
10:23:00 00000001 00000000 00000000 00000000
10:23:00 00000000 00

[2018-06-26 11:21] alinask commented on #2433
@yosefe @Artemy-Mellanox can we close this?
Mellanox internal issue: https://redmine.mellanox.com/issues/1337030

[2018-06-26 13:31] alinask commented on #2670
Didn't reproduce without HW TM:
`-x UCX_DC_MLX5_TM_ENABLE=n`

Didn't reproduce with HW TM but with a shorter value for TM_MAX_BCOPY:
`-x UCX_DC_MLX5_TM_ENABLE=y -x UCX_DC_MLX5_TM_MAX_BCOPY=8k`

[2018-06-26 14:36] #2706 closed

[2018-06-26 14:58] evgeny-leksikov commented on #2706
duplicate https://github.com/openucx/ucx/issues/2433

[2018-06-27 12:22] alinask commented on #2670
Will change mtt's config not to use the large bcopy threshold with HW TM on such a large scale.

[2018-06-27 12:22] #2670 closed

[2018-06-28 07:51] alinask commented on #2684
The ports' rates were not configured identically. Some of the HCA's on the hosts had one speed while the others had a different one. After resetting all the HCA's in the job to the same speed this test ran for 6 hours in a row (in a loop) on the same hosts that are mentioned in this ticket and passed. Before this change, it always reproduced within the first hour and a half.

[2018-06-28 09:20] alinask commented on #2685
The internal issue was fix and verified. Please reopen if this issue happens again.

[2018-06-28 14:55] yosefe opened #2709 "failure in gdr_copy/uct_p2p_rma_test.get_short/0 - invalid data"
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/7264/label=vulcan-jenkins,worker=1/console
[code]

[2018-06-28 15:52] #2684 closed

[2018-06-28 16:12] yosefe commented on #2678
fixed by 8ea081407379aa99679b204cb84e3da9f9765a05

[2018-06-28 16:12] #2678 closed

[2018-06-28 16:47] bureddy commented on #2709
will check it now.

[2018-06-29 02:26] vmaffione opened #2710 "Failed to allocate memory pool (name=ud_tx_skb)"
Hi,
  I have two machines connected back to back by two infiniband cards (Mellanox Technologies MT27500 Family [ConnectX-3]).
I'm trying to use openmpi over UCX, but I run into this error (repeating infinite times):
[code]
openmpi works correctly with other backends. Also, ibverbs applications are working correctly on my two machines testbed, e.g.
[code]
Any ideas?
(more info at https://github.com

[2018-06-29 06:46] karasevb commented on #2704
There is the same issue: https://github.com/open-mpi/ompi/issues/5336

[2018-06-29 13:33] yosefe commented on #2710
@vmaffione thanks for the report, we will check it

[2018-06-29 14:39] vmaffione commented on #2710
Thanks a lot. Please don't hesitate to ask me to do any test, hack or experiment that may help me solving this problem.

[2018-06-30 06:04] bureddy commented on #2709
@yosefe  should be fixed with https://github.com/openucx/ucx/pull/2711
Issue exposed with cuda-9.2 allocations  patterns (64K (gpu page) aligned and re-used virtual address after cudaFree)

[2018-07-01 10:50] yosefe commented on #2454
@hoopoepg is it fixed now?

[2018-07-01 10:52] hoopoepg commented on #2454
Unfortunately no, there are still issues in request processing

[2018-07-01 16:37] alinask commented on #2454
@hoopoepg Does it fail differently now? if so, can you please post the new failure?

[2018-07-01 16:42] hoopoepg commented on #2454
when I run it on debug build - it failed on double free, faired assert https://github.com/openucx/ucx/blob/dbf595a9e8e0e2ac004695115dbdddd3b17966ec/src/ucp/core/ucp_request.c#L76

[2018-07-01 18:38] vmaffione commented on #2710
So I figured out something new.
First of all, the error is not actually related to MPI.
The very same output shows up with your test program, e.g. running this on the first machine (`bach`)
[code]
and this on the second machine (`server`)
[code]

Then, the error disappears if I just use 'sudo' on the second machine:
[code]
And this looks like a reasonable output.
So it is apparently a permission p

[2018-07-01 20:02] yosefe commented on #2710
@vmaffione can you check the output of `ulimit -l` command?

[2018-07-01 21:15] vmaffione commented on #2710
Yes, it's `16384` on the "bad" machine and `unlimited` on the "good" machine.
So it must be it. I'm trying to change it, with no success so far.

[2018-07-02 07:55] yosefe commented on #2710
need to set it like this : https://linux.die.net/man/5/limits.conf
also it's possible some of the login scripts add this limit

[2018-07-02 13:58] amaslenn commented on #2454
Recent fail:
[code]
http://e2e-gw.mellanox.com:4080/mnt/lustre/users/mtt/scratch/ucx_ompi/20180701_221845_33760_120829_clx-vega-033/html/test_stdout_vjHvYJ.txt

[2018-07-03 02:50] vmaffione commented on #2710
Indeed, thanks!

[2018-07-03 02:50] #2710 closed

[2018-07-03 14:06] #2709 closed

[2018-07-05 12:53] amaslenn opened #2718 "[mtt] [pmix] rc_iface.c ERROR failed to create qp"
Configuration
[code]

MTT log: http://e2e-gw.mellanox.com:4080//mnt/lustre/users/mtt/scratch/ucx_ompi/20180702_181730_18777_121392_clx-hercules-007/html/test_stdout_u5nnsF.txt

Cmd:
`mpirun -np 3328 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=mlx5_0:1,mlx5_2:1 -mca osc '^ucx' -x UCX_IB_REG_METHODS=rcache,direct -x UC

[2018-07-05 21:39] vmaffione opened #2721 "Question: how to optimize MPI over UCX for small messages?"
Hi,
  I want to benchmark openmpi over UCX with short messages (8-32 bytes).

My MPI program uses two nodes A and B, with two simple test scenarios: (1) A sends messages in a very tight loop (`MPI_Send()`) and B receives messages (`MPI_recv`) in a very tight loop; (2) ping-pong, where A calls `MPI_Send()` and `MPI_Recv()` in a tight loop and B does the opposite.

Is there any way I can configure U

[2018-07-06 07:19] brminich commented on #2721
Hello,
For such benchmarks UCX should select the most optimal parameters by default.
BTW, do you want to optimize OMPI/UCX for your particular benchmarks or you want to create a benchmark which would show good values?

For message rate I'd use non-blocking MPI calls (`MPI_Isend/MPI_Irecv`), like osu_bw and osu_mbw_mr do.
(2) sounds like a typical ping-pong available in OSU or IMB MPI benchmarks

W

[2018-07-07 12:51] yosefe commented on #2721
@vmaffione the performance numbers you see look reasonable for the system. On newer NIC (ConnectX4/5 for example) we could expect better message rates.

[2018-07-07 16:50] yosefe commented on #2721
MPI_Send/MPI_Recv (blocking) usually work best since there is no extra overhead of allocating and waiting for a request.

[2018-07-09 03:01] vmaffione commented on #2721
That makes sense, thanks. In any case I think that MPI_Send over UCX (over ibverbs) does not wait for the transmission to complete before returning, but only queues to the SQ. Am I correct?

[2018-07-09 06:18] brminich commented on #2721
Yes, it should be this way for the message range you specified. However UCX may wait for transmission completion for relatively big message sizes.

[2018-07-09 16:37] shamisp commented on #2721
I was about to point out that it really depends on the underlaying network + message size. In most case the small message is copied to a bouncing buffer (or network device memory) and completed in place. A.k.a. user memory buffer is re-usable and it is valid to mark the message as completed. Larger messages in the case of blocking send can be blocked and in this case MPI_Send will be relatively sl

[2018-07-10 02:43] vmaffione commented on #2721
Thanks. I'm only interested in small messages (<32 bytes), and over ibverbs. I guess in this case UCX uses inline send which saves the latency of a DMA transaction on the sender side.

So you are saying that UCX decides which send/receive strategy to use depending on the message size. Are the size threshold(s) static (per backend) or dynamic? Where can I see the thresholds in the code (or within c

[2018-07-10 03:18] vmaffione commented on #2721
I have an additional question on UCX over ibverbs. How does UCX decide the type of QP to use, e.g. RC, UC or UD? What type of queue do you think it is used in my scenario?
Thanks for the help

[2018-07-11 03:38] vmaffione commented on #2721
Thanks for the help! It seems UCX does not support UC, I can only choose "rc" (which apparently corresponds to RC or UD).
Is there any reason for this limitation?

[2018-07-11 13:51] shamisp commented on #2721
@vmaffione we don't support it mostly because we don't have a use case for UC.
Why would we want to have unreliable connected transport ? It does not scale with number of connections + you have to manage reliability in software.

[2018-07-12 02:40] vmaffione commented on #2721
Thanks @shamisp ! I am just curious, I'm not suggesting the use of UC.
Forgive me for my limited of knowledge on ibverbs mode, but... my understanding is that both UC and RC do not scale with the number of nodes, because you need a pair of QPs for each couple of nodes at least. On the other hand, UD scales because you need one (or O(1)) QPs per node.
So RC is non-scalable and reliable, and UD is s

[2018-07-12 05:52] brminich commented on #2721
You need to specify `UCX_TLS=ud` to use UD transport. With `rc` you will always have RC QPs

[2018-07-13 03:40] vmaffione commented on #2721
That worked, thanks.
But then maybe the documentation is outdated? The `ud` transport is not reported as an option.
This is the filtered output of `ucx_info -f`
[code]
and the `ud` option is missing.

[2018-07-13 06:13] brminich commented on #2721
Yes, looks like documentation needs to be fixed. Thanks for reporting it

[2018-07-13 14:08] yosefe commented on #2721
The transports listed in this help message are aliases: "In addition it's possible to use a combination of the following aliases"
"ud" is a real transport name, not an alias, which can be shown by "ucx_info -d"

[2018-07-13 14:55] shamisp commented on #2721
@yosefe from usability perspective it would be nice to list all the available transport on the platform. Can we leverage the transport list that is returned by ucx_info ?

[2018-07-13 18:38] brminich commented on #2721
Also, `rc` is not an `rc or ud` now, because ud is used for wireup only (auxiliary)

[2018-07-13 19:08] shamisp commented on #2721
@brminich you confused me with the last statement ...

[2018-07-13 19:30] brminich commented on #2721
Now `rc` is an alias which means that `rc` will be used as transport and `ud` will be used for wireup process only (we added this restriction a while ago). So, `ud` is not used for payload, therefore `rc` does not mean `rc or ud` anymore

[2018-07-14 20:54] vmaffione commented on #2721
Can someone please point me at the code that backs MPI_Send() over UCX?
I'm quite lost in the code...

[2018-07-14 21:45] vmaffione opened #2727 "Deadlock with UCX_RC_VERBS_TX_CQ_LEN=1"
Hi,
  I'm doing some very simple experiments with MPI over UCX (see #2721).
I observe deadlock when setting `UCX_RC_VERBS_TX_CQ_LEN=1`, and this is an allowed configuration.
I'm not interested in such a configuration, but maybe you should prevent that?

Separate question: I'm interested to the `UCX_UD_VERBS_TX_CQ_MODERATION` parameter, but I'm not sure about its meaning. This is the description:
[

[2018-07-15 08:01] yosefe commented on #2727
@vmaffione the configuration is intended mostly for debugging/tuning and hence there is no check that it is workable, only some sanity checks.
The meaning is (1)
The WQEs are marked once per TX_CQ_MODERATION, or if it's zero-copy or RMA/AMO operation

[2018-07-15 08:07] yosefe commented on #2721
https://github.com/open-mpi/ompi/blob/master/ompi/mca/pml/ucx/pml_ucx.c#L771

[2018-07-15 14:12] #2702 closed

[2018-07-15 15:44] vmaffione commented on #2727
@yosefe  Did you mean that meaning is (2) (i.e. one WQE marked every 64)?

[2018-07-15 15:46] yosefe commented on #2727
Sorry for the confusion,
The meaning of UCX_RC_VERBS_TX_CQ_LEN is (1)
The meaning of UCX_UD_VERBS_TX_CQ_MODERATION is (2)

[2018-07-15 15:50] vmaffione commented on #2727
No worries, thanks.
The meaning of `UCX_RC_VERBS_TX_CQ_LEN` is clear from the documentation, btw.
You may want to clarify the meaning of `UCX_UD_VERBS_TX_CQ_MODERATION`, as it is a bit unclear imho.

[2018-07-15 15:50] #2727 closed

[2018-07-15 15:56] vmaffione commented on #2721
thanks

[2018-07-15 15:56] #2721 closed

[2018-07-16 18:14] Akshay-Venkatesh opened #2729 "Configure: Unable to configure ucx with PGI compiler"
Hello,

There was an error reported in NVIDIA with use of PGI compilers when attempting to build ucx. The following configure options are being used:

[code]

The following error shows up:
[code]
because this test fails in configure:
[code]

This error isn't because of the cuda build attempt because configure fails even with something simpler like this:
[code]
Can you suggest how this issue can be

[2018-07-16 18:21] shamisp commented on #2729
Generally speaking, we should add PGI to our regression testing.

[2018-07-18 00:32] paklui opened #2735 "ucx cm test failure"
observed some failures in UCX gtest on the HPCAC hali systems with MLNX_OFED_LINUX-4.4-1.0.0.0
According to Yossi, these will be fixed in upcoming MLNX_OFED

[code]

[2018-07-18 00:33] paklui opened #2736 "tcp/test_uct_pending.pending_ucs_ok_dc_arbiter_bug"
test failure in ucx, seen on HPCAC hali systems with MLNX_OFED_LINUX-4.4-1.0.0.0:

[  FAILED  ] tcp/test_uct_pending.pending_ucs_ok_dc_arbiter_bug/0, where GetParam() = tcp/eth0
[  FAILED  ] tcp/test_uct_pending.pending_ucs_ok_dc_arbiter_bug/1, where GetParam() = tcp/ib0

[2018-07-18 00:34] paklui opened #2737 "*/test_ucp_wireup_1sided test failure"
seen failure in HPCAC hali systems, using MLNX_OFED_LINUX-4.4-1.0.0.0. According to Yossi:
*/test_ucp_wireup_1sided - because UCX compiled in release mode - need to disable hostname check in release mode

[code]

[2018-07-19 13:01] #2736 closed

[2018-07-19 13:01] #2737 closed

[2018-07-20 11:30] nSircombe opened #2741 "Gtest communication failure due to "error: struct has size 0 in C, size 1 in C++" with armclang"
The structure ibv_exp_res_domain in /src/uct/ib/base/ib_verbs.h is empty.

When compiling the test suite with armclang this throws an error since empty structures are not permitted in C++.
Adding 'int :0;' into the struct as a work-around does not help, since the behaviour of a struct with no named member is undefined, and in clang, generates the same error as an empty struct.

Adding a named 'cha

[2018-07-20 14:07] shamisp commented on #2741
How we didn't catch this one in regression ? I would expect that any testing with inbox driver would step on this issue.

[2018-07-20 16:06] yosefe commented on #2741
we are setting x86 testing machine for upstream, we can make it run clang (but not arm-clang) compilation too.

[2018-07-20 21:53] shamisp commented on #2741
I would expect that you will see similar error with regular clang on any platform.

[2018-07-22 08:01] amaslenn commented on #2454
All cases passed with OMPI@mater: http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/andreyma/scratch/ucx_ompi/20180722_105831_26662_2301_jazz19/

[2018-07-23 09:46] brminich opened #2746 "failure on tcp/test_ucp_stream_many2one.drop_data/0"
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/7351/label=hpc-arm-cavium-jenkins,worker=0/consoleFull#-111310395944550c5d-247a-4f9d-bad5-5b93d2b6e2ac

[code]

[2018-07-23 17:20] Akshay-Venkatesh commented on #2729
@shamisp Any thoughts on who should I get in touch with to fix this issue?

[2018-07-23 19:00] shamisp commented on #2729
@Akshay-Venkatesh do you have an idea how you want to fix it ?

[2018-07-23 19:23] bureddy commented on #2729
@Akshay-Venkatesh  is "strdupa" only the issue? can you remove "strdupa" from config check(https://github.com/openucx/ucx/blob/master/config/m4/sysdep.m4#L18) and see if there is any other dependencies?

if "strdupa" is only issue, maybe we can use more portable "strdup" at https://github.com/openucx/ucx/blob/master/src/ucs/stats/stats.c#L440   (only used this place).

[2018-07-23 21:05] Akshay-Venkatesh commented on #2729
@bureddy  You're right. The following changes fix the issue:
[code]

Should I open a PR?

[2018-07-23 21:42] rzambre opened #2748 "Meaning of first column in UCX_PROFILE_MODE=log?"
What does the first column in the first column of `UCX_PROFILE_MODE=log` signify? I'm not able to wrap my head around it. For example, in
[code]

what does this column mean?
[code]

[2018-07-23 21:44] Akshay-Venkatesh commented on #2729
@bureddy Jumped to conclusion. Make still fails:
[code]
I use this configure:
[code]
I'm verifying internally if this is a problem in the way I'm using PGI compilers. I'll get back on this.

[2018-07-24 06:58] brminich commented on #2748
AFAIR it is time (in usec) elapsed from the previous event.

[2018-07-24 12:20] amaslenn opened #2749 "[mtt] rcache: failed to register region (hang in mpi-small-tests)"
Configuration:
[code]

MTT log: http://e2e-gw.mellanox.com:4080//mnt/lustre/users/mtt/scratch/ucx_ompi/20180723_204723_18050_139182_clx-vega-025/html/test_stdout_AoSiJQ.txt

Min NP to reproduce is 321, works fine with 320.
Test passes with original scale (np=1440) with disabled HW TM (`UCX_DC_MLX5_TM_ENABLE=n`).
Setting `UCX_DC_MLX5_TM_MAX_BCOPY` to 8k, 4k or 1k doesn't help.
Also note, that there

[2018-07-25 16:53] rzambre opened #2750 "uct_worker_progress returning 0 on aarch64 with UCTv1.5.0"
https://github.com/rzambre/ucx/blob/master/src/tools/perf/simple/mpi_uct_put_short.c

`uct_worker_progress` in the above benchmark does not complete (always returns 0) with UCT version=1.5.0 revision ca361cb on aarch64 but finishes successfully on x86. The same benchmark finishes successfully with UCT version=1.3.0 revision 0b45e29 on both aarch64 and x86.

What am I missing during resource setup?

[2018-07-25 17:40] snyjm-18 opened #2751 "uct_ugni_udt_ep_am_bcopy fails during wireup in ompi"
uct_ugni_udt_ep_am_bcopy has a maximum message length of 128, and that limit is exceeded during wireup in ompi because ugni_udt is used as the auxiliary transport to wireup ugni_smsg.

[nid00693:21251:0:21251] ugni_udt_ep.c:177  Assertion `msg_length <= 128' failed: msg_length=145
==== backtrace ====
    0  /global/homes/s/snyjm18/opt/ucx/lib/libucs.so.0(ucs_fatal_error+0x1d5) [0x2aaabe20476a]

[2018-07-26 17:25] Akshay-Venkatesh opened #2755 "memtype_cache detects cuda pointer as host pointer if cudaMalloc occurs before ucp_init"
[getel_cuda.c.txt](https://github.com/openucx/ucx/files/2232939/getel_cuda.c.txt)

This was discussed in #2753

The problem appears in MPI programs that call cudaMalloc before MPI_Init (and hence before ucp_init). Any subsequent ucp operation like ucp_tag_send incorrectly assigns host mem-type to even cuda buffers.

@bureddy Please let me know if I've missed out something.

Compile and run:
[code]

[2018-07-27 16:51] yosefe commented on #2749
@brminich shouldn't this be fixed by #2719 ?
also seems the regcache error is not causing the failure, it's just timeout because of the large scale

[2018-07-27 16:53] yosefe commented on #2454
@hoopoepg can we close this?

[2018-07-28 14:15] yosefe commented on #2750
it's incorrect to assume uct_worker_progress will return the number of completions. if you want to wait until ep_put completes remotely, need to use ep/iface_flush. Which transport is used?

[2018-07-28 14:18] yosefe commented on #2755
@Akshay-Venkatesh @bureddy do you know how it is handled in other MPIs?
Shall we also cache the memory type for host buffers ?

[2018-07-28 14:19] yosefe commented on #2490
@brminich can we close this?

[2018-07-29 05:56] bureddy commented on #2755
@yosefe OMPI do not have cuda allocation cache.  MV2 GDR package is closed source. so dont know.
I think caching host allocation might be performance overhead.
I think we can handle scenario if we setup the hooks on dlsym of cuda library and having global cache instead of in context object

[2018-07-29 09:02] yosefe commented on #2755
@bureddy not sure how global cache would help, since UCX is loaded during MPI_Init() (by MCA mechanism)

[2018-07-29 09:07] yosefe commented on #2735
Fix: http://l-gerrit.mtl.labs.mlnx:8080/#/c/upstream/linux/+/171670/ (mellanox internal link)

[2018-07-29 14:49] brminich commented on #2490
fixed by #2740

[2018-07-29 14:49] #2490 closed

[2018-07-29 15:22] amaslenn opened #2761 "[mtt] Fatal: transport error: Endpoint timeout"
Configuration
[code]

MTT log: http://e2e-gw.mellanox.com:4080//hpc/scrap/users/mtt/scratch/ucx_ompi/20180726_161326_18107_142626_clx-hercules-006/html/test_stdout_Z4o80u.txt

Some findings:
 - min np to reproduce is 306
 - it happens only when `mlx5_3` HCA is used (Ethernet one)
 - adding `-x UCX_IB_GID_INDEX=3` makes test pass (checked for `ud`, `rc` and `dc`)

HCAs:
[code]

Cmd:
`mpirun -np 800

[2018-07-30 04:35] bureddy commented on #2755
@yosefe you are right.
@Akshay-Venkatesh
- do we have real use case now to setup the device before MPI_init() other than this benchmark we are trying add into OMPI-tests?   if yes, is it an option to suggest turn off the cache?
- As there is currently an API cuMemGetAddressRange to get the allocation details, is cuda lib maintains any list of allocations in the process?  Is there exist (or future

[2018-07-30 08:20] alinask opened #2762 "Gtest tests don't run with valgrind properly in Jenkins"
Memory leaks are not detected.
May have been caused after 997f9c958045f8f19209fa7c7185a4f7d40a419c due to override of VALGRIND_EXTRA_ARGS.

[2018-07-30 08:57] amaslenn opened #2763 "[mtt] Segmentation fault: Sent by the kernel at address (nil)"
Configuration
[code]

MTT log: http://hpcweb.lab.mtl.com//hpc/mtr_scrap/users/mtt/scratch/hcol/20180730_095941_8514_2968_nemo01/html/test_stdout_2Bi2tI.txt

Cmd:
`mpirun -np 2 --bind-to core --map-by node -mca pml ucx -mca btl self -mca coll ^hcoll -mca btl_openib_warn_default_gid_prefix 0 -mca btl_openib_if_include mlx5_1:1 --timestamp-output -x HCOLL_IB_IF_INCLUDE=mlx5_1:1 -x UCX_SHM_DEVICES=all

[2018-07-30 08:59] yosefe commented on #2763
ofed version mismatch

[2018-07-30 11:23] alinask commented on #2718
The hercules setup changed and the current setup doesn't reproduce this issue.
Also, tried on the orion cluster (100 hosts), with 2 IB HCAs, on 2800 ranks and this same test passed many times in a row.
Both hcas are active, have the InfiniBand link layer, fw_ver: 16.22.1002, vendor_part_id: 4119.
MLNX_OFED_LINUX-4.3-3.0.2.1

Command line used with the hpcx-ga-gcc module (HPC-X v2.2):
`mpirun -np 2

[2018-07-30 11:54] alinask opened #2765 "failure on thread/test_async.ctx_timer_block/0"
[code]

http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/7372/label=hpc-test-node,worker=1/consoleFull

[2018-07-30 15:53] rzambre opened #2767 "Performance degradation on TX2 with UCXv1.5"
Comparing UCXv1.3.0 (stable release) and UCX's master branch:

On ThunderX2 set at 2.2GHz, the message rate of `ucx_perftest -c 0 -t put_bw -d mlx5_0:1 -x rc_mlx5` with UCXv1.3 is 3.4 million but with UCXv1.5 is 0.6 million.

Most likely BlueFlame is failing with v1.5.

Testbed information:
ConnectX-4
MOFED version: MLNX_OFED_LINUX-4.3-1.0.1.0 (OFED-4.3-1.0.1)
Kernel version: 4.11.0-44.el7a.aarch6

[2018-07-30 15:56] yosefe commented on #2767
@hoopoepg can you pls check?
@rzambre which device is it (ConnectX3/4/5/IB)? And what is the MLNX_OFED version?

[2018-07-30 16:01] rzambre commented on #2767
I have updated the first post with testbed information

[2018-07-30 22:05] rzambre commented on #2750
I tried with both `uct_ep_flush` and `uct_iface_flush` instead of `uct_worker_progress` bu ran into the same error: `uct_ep_put_short` fails on the 2041st post. Both `uct_ep_flush` and `uct_iface_flush` return `UCS_OK` but `count` in the completion handle does not decrement by 1.

[2018-07-31 13:54] rzambre commented on #2767
Hi @hoopoepg,

- For UCXv1.3, I tested with both prebuilt modules and with custom builds from source. For UCXv1.5, I tested only with a custom build from source (wasn't able to find a pre-built version)

- Could you point me to UCXv1.4? Wasn't able to find it in releases or tags.

[2018-07-31 13:57] hoopoepg commented on #2767
there is branch v1.4.x in UCX guthub repo: https://github.com/openucx/ucx/tree/v1.4.x

[2018-07-31 13:59] rzambre commented on #2767
Great, I'll test with it and get back to you. I have also updated my previous comment to show the command line I used to build the custom source.

[2018-07-31 14:10] rzambre opened #2770 "Profiling in release build with UCXv1.3"
Is they any option to profile with a release build in UCXv1.3? I see #2343 addresses this for UCXv1.5. What would enabling profiling in release mode for UCXv1.3 entail?

[2018-07-31 14:13] yosefe commented on #2770
profiling for UCX code is disabled in release build
#2343 allows profiling application code which uses UCX
to enable profiling need to ./contrib/configure-prof

[2018-07-31 14:16] hoopoepg commented on #2770
there is info:
https://github.com/openucx/ucx/wiki/Profiling

[2018-07-31 14:17] rzambre commented on #2767
The problem still exists in v1.4 as well.

[2018-07-31 14:56] shamisp commented on #2767
I just want to mentioned that it also was observed on 2.0Ghz configuration. So, you should be able to reproduce this in-house.

[2018-07-31 15:06] shamisp opened #2771 "uct_iface_flush - documentation is not clear about completion semantics."
uct_iface_flush() supposed to provide local and remote completion. Nevertheless only the UCT_FLUSH_FLAG_LOCAL is defined as an equivalent of local completion semantics. What is really confusing that the UCT_FLUSH_FLAG_LOCAL=0 and it is actually used by ucp_worker_flush as remote completion.

[code]

[2018-07-31 20:53] Akshay-Venkatesh commented on #2755
@bureddy Sorry for the late reply.

- Turning off the pointer cache is workaround that may suffice for OMPI-tests. I think we discussed this but if an external library ends up using MPI after some cuda activity before the library use, then the situation is the same. In other words, if any application decides to use MPI (either directly or through a library), then it should either initiate the libr

[2018-08-01 11:21] amaslenn opened #2773 "[mtt] gtest fails on polar-sriov"
Configuration
[code]

Several `gtest` cases fails on `polar-sriov`:

One of failing cases:
[code]

Output:
[code]

[2018-08-01 14:06] shamisp commented on #2767
@hoopoepg - did you test with TX2 socket or some other Arm ? There is no remote access to this platform. We observed the problem on multiple servers installed within various organizations (not just ours). It is very consistent. I can help to find you CX4 card within Mellanox if needed ;)

[2018-08-01 15:16] nSircombe opened #2777 "Graph500 failure when built with clang + OpenMPI + OpenUCX"
The popular data-intensive HPC benchmark Graph500 generates an apparent memory leak when built with clang, using OpenMPI and OpenUCX built with clang 5.0.2.

First identified with armclang 18.3 on AArch64 running RHEL7. Reproduced with clang 5.0.2 (http://releases.llvm.org/download.html) on x86 running Ubuntu 16.

Benchmark runs to completion and generates multiple warnings of the form...
mpool.c:

[2018-08-01 15:57] shamisp commented on #2777
@yosefe can you please take a look

[2018-08-01 16:39] shamisp commented on #2767
@yosefe it is a bit of pain. What was fixed in 4.3-2.0.2.0 ?

[2018-08-01 16:40] yosefe commented on #2767
resource domain

[2018-08-01 16:45] shamisp commented on #2767
in the driver ?

[2018-08-01 16:48] yosefe commented on #2767
yes

[2018-08-01 16:51] shamisp commented on #2767
You didn't make map it properly ?

[2018-08-01 16:51] yosefe commented on #2767
@rzambre pls let us know if upgrading MOFED fixes the problem for you

[2018-08-01 16:54] shamisp commented on #2767
@yosefe it is difficult. There are other deployments where it is even more difficult. I want to see the kernel patch before we even consider this direction. Also, probably we would have to provide backward compatibility patch for older MOFEDs

[2018-08-01 17:03] yosefe commented on #2767
@hoopoepg can you try repro the issue on our TX2 setup with older MOFED?

[2018-08-01 17:05] hoopoepg commented on #2767
Will try tomorrow

[2018-08-01 17:28] #2749 closed

[2018-08-01 17:29] #2762 closed

[2018-08-02 06:55] brminich opened #2780 "sockaddr/test_uct_sockaddr.many_clients_to_one_server/0 hangs on ARM"
http://bgate.mellanox.com/jenkins/job/gh-ucx-pr/4973/label=ARM_test_node,worker=3/console
[code]

[2018-08-02 07:31] hoopoepg commented on #2767
@rzambre new configuration will take time...
could you try this PR: https://github.com/openucx/ucx/pull/2781
it adds parameter to disable multiple IB resource domains.

add argument to your configure command line: --disable-res-domain
and try to run bench

thank you

[2018-08-02 13:08] yosefe commented on #2761
@amaslenn does it work with GID_INDEX=3? if so we should close this issue

[2018-08-02 13:09] #2773 closed

[2018-08-02 13:11] amaslenn commented on #2761
@yosefe yes, it works. Fix for MTT configuration is on review (https://github.com/Mellanox/hpc-mtt-conf/pull/182).

[2018-08-02 13:48] #2761 closed

[2018-08-02 14:06] rzambre commented on #2767
With `--disable-res-domain` the message rate is back to 3.5M, the same as that with UCXv1.3. So, resource domain usage is the problem.

@hoopoepg why does the PR say "multiple" IB resource domains? From my understanding of the changes in the PR, it is simply turning off the use of resource domain, single or multiple. Just clarifying to see if I am missing anything.

[2018-08-02 14:07] hoopoepg commented on #2767
I'm not best in IB internals, but by default there is used any default resource domain across all transports

[2018-08-02 14:11] yosefe commented on #2767
This patch for libmlx5 should fix the issue: [7e1d593.diff.zip](https://github.com/openucx/ucx/files/2253812/7e1d593.diff.zip)

[2018-08-02 14:13] shamisp commented on #2767
@hoopoepg we have to figure out how do we detect broken mlx5 lib (kernel module? ) and autodetect this.  There are external customer that will hit this bug very soon.

[2018-08-02 14:16] hoopoepg commented on #2767
@shamisp and what should be our action? multiple resources are used to fix data corruption issue when used both verbs/accel transports

[2018-08-02 14:20] shamisp commented on #2767
@hoopoepg I just saw the comment on PR. Short version - you screwed.
Was the domain libmlx5 code upstreamed to rdma-core ?

[2018-08-02 14:21] yosefe commented on #2767
yes, it's called "thread domain" in upstream, and it's fixed there.

[2018-08-02 14:29] shamisp commented on #2767
RHEL is a bit more strict but please check with your maintainer. SLES folks a very flexible....
So, if this is just broken MOFED. Can we ofed_info to disable/enable mlx5 transport on PPC/AARCH64 ?  Probably you have to print huge warning during configure about performance degradation due MOFED version and suggest how to fix it,

We would have to bring it with some of the core customers next week.

[2018-08-02 18:48] paklui opened #2784 "Shared memory performance in UCX (xpmem/knem) appears worse than vader btl (xpmem/knem)"
I compare the performance on vader BTL using XPMEM and KNEM, it shows that without UCX, vader BTL appears to show better shared memory performance than with UCX.

XPMEM's 4KB to 512KB is better than KNEM. Form my observation is UCX support for XPMEM and KNEM is always worse than vader BTL. (Note: I am NOT using HPC-X build, but building XPMEM/KNEM support directly from UCX)

Please look at the res

[2018-08-06 08:07] alinask commented on #2780
fixed with https://github.com/openucx/ucx/pull/2786

[2018-08-06 08:07] #2780 closed

[2018-08-08 12:05] amaslenn opened #2789 "[mtt] ud_iface.c Fatal: transport error: Endpoint timeout"
Configuration
[code]

MTT log: http://e2e-gw.mellanox.com:4080/mnt/lustre/users/mtt/scratch/ucx_ompi/20180807_014059_2854_155164_clx-hercules-001/html/test_stdout_sJedrE.txt

Test says "No errors" and the process hangs. Min NP to reproduce is 3.

`mpirun -np 1504 -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=mlx5_2:1,mlx5_3:1 -mca o

[2018-08-08 12:07] amaslenn commented on #2789
Similar issue: http://e2e-gw.mellanox.com:4080/mnt/lustre/users/mtt/scratch/ucx_ompi/20180806_173930_10097_154795_clx-hercules-002/html/test_stdout_8BByEv.txt

[code]

[2018-08-08 12:08] amaslenn commented on #2789
`ucx_perftest` http://e2e-gw.mellanox.com:4080/mnt/lustre/users/mtt/scratch/ucx_ompi/20180805_182956_18204_153283_clx-hercules-015/html/test_stdout_hlaP4v.txt:
[code]

[2018-08-08 12:12] alinask commented on #2789
@amaslenn isn't this the same as https://github.com/openucx/ucx/issues/2761?
does gid_index=3 help?

[2018-08-08 12:20] amaslenn commented on #2789
Yes, gid_index=3 helps. Should we use only 3 on Hercules?

[2018-08-08 13:00] #2789 closed

[2018-08-13 01:58] shamisp commented on #2777
@yosefe were you able to reproduce this ?

[2018-08-13 13:36] hoopoepg commented on #2777
@shamisp apply this patch to benchmark:
[code]

[2018-08-13 13:57] shamisp commented on #2777
@nSircombe can you please check ? Look's like application bug....

[2018-08-13 16:07] rzambre opened #2792 "Frequency read by UCS on x86 doesn't match actual CPU frequency"
`ucs_arch_get_clocks_per_sec()` in `src/ucs/arch/x86_64/cpu.c` reads the frequency using the CPU model instead of information from cpuinfo. This is incorrect when the user changes the frequency of the CPU to something other than the base frequency of the CPU. The correct CPU frequency will be read only from `ucs_get_cpuinfo_clock_freq` when the CPU frequency is different from the base frequency.

[2018-08-14 09:46] nSircombe commented on #2777
Graph500* works perfectly with AML patched as @hoopoepg suggests.
...I'll raise this with the Graph500 developers.

Thanks for you help!

(* AArch64, Arm HPC Compiler 18.4, OpenMPI 3.1.1 + OpenUCX 1.3)

[2018-08-14 09:46] #2777 closed

[2018-08-14 13:57] shamisp commented on #2777
@hoopoepg thanks for catching this.
@nSircombe probably we can post short FAQ about the issue + patch on UCX Wiki. I'm sure you are not the first one and not the last one. Probably we can open new application section under "Running UCX"

[2018-08-15 11:12] yosefe commented on #2792
@rzambre AFAIK for modern x86 models, the tsc frequency does not change when CPU clock is changed, it always uses the base frequency

[2018-08-15 14:10] shamisp commented on #2792
@yosefe they had issues with some cores where tsc changes with frequency. This is the reason why OpenMPI does not use it.

[2018-08-15 14:17] yosefe commented on #2792
is there constant_tsc flag for this CPU? maybe the fix should be to check for this flag in cpuid

[2018-08-15 14:18] #2763 closed

[2018-08-15 14:30] yosefe commented on #2777
the problem does not seem related to UCX, since according to MPI spec, the application must wait for non-blocking requests to complete. Section "8.7 Startup":

Before an MPI process invokes MPI_FINALIZE, the process must perform all MPI calls
needed to complete its involvement in MPI communications: It must locally complete all
MPI operations that it initiated and must execute matching calls neede

[2018-08-15 15:47] shamisp commented on #2792
@yosefe Not going to help. It was a bug in hardware. OpenMPI moved to get_clocktime on ALL x86.

[2018-08-15 16:43] yosefe commented on #2792
So can we check for the specific CPU model/revision(s) which have this bug?

[2018-08-15 18:29] shamisp commented on #2792
@yosefe not going to work... :-) Most reasonable approach for x86 is the one that ibv_perftest is using.

[2018-08-15 18:45] shamisp commented on #1379
Was it ever fixed ? In v1.4 branch it is still broken for sure ...

[2018-08-16 06:30] evgeny-leksikov commented on #2765
Seems like related failure:
[code]

[2018-08-16 07:49] yosefe commented on #1379
it wasn't fixed

[2018-08-16 12:43] amaslenn opened #2799 "[mtt] Hang in IMB/Allreduce (armcc)"
Configuration
[code]

MTT log: http://hpcweb.lab.mtl.com//hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20180811_002537_56700_4334_hpc-arm-hwi01/html/test_stdout_Hp8p46.txt

Note `hpcx-armcc` module usage. Test passes with `hpcx-gcc`.

Cmd:
`mpirun -np 64 --display-map -mca btl self,openib -mca btl_openib_allow_ib 1 --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_N

[2018-08-16 12:47] amaslenn commented on #2799
Looks similar, but is in `Gather`: http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/hcol/20180814_090737_42765_4584_hpc-arm-hwi01/html/test_stdout_NOmAv7.txt
[code]

Configuration:
[code]

[2018-08-16 13:55] yosefe commented on #2792
why is it not going to work?

[2018-08-16 14:05] shamisp commented on #1379
Consistently fails on TX2 and other arm boxes. What is the issue ? why we don't observe it everywhere else ?

[2018-08-16 14:06] shamisp commented on #2792
There is no public information on the subject.

[2018-08-16 14:11] yosefe commented on #1379
probably related to timing. BTW, i don't see failures on the HPCAC node

[2018-08-16 14:36] shamisp commented on #1379
Yes, for whatever reason it show up on TX2 and some other arm platforms.

[2018-08-20 07:40] karasevb commented on #2704
@amaslenn seems this failure has been fixed https://github.com/pmix/pmix/pull/789. Is there observe the issue now?

[2018-08-20 11:31] amaslenn commented on #2704
@karasevb seen it recently:
http://e2e-gw.mellanox.com:4080/mnt/lustre/users/mtt/scratch/ucx_ompi/20180820_091953_15262_169111_clx-orion-002/html/test_stdout_GuF6TA.txt:
[code]

[2018-08-20 11:33] yosefe commented on #2767
![](https://github.trello.services/images/mini-trello-icon.png) [UCX osu_bw result on shared memory/ARM is worse than OMPI/vader](https://trello.com/c/v9f8QpUG/10-ucx-osubw-result-on-shared-memory-arm-is-worse-than-ompi-vader)

[2018-08-20 11:35] yosefe commented on #2784
![](https://github.trello.services/images/mini-trello-icon.png) [UCX osu_bw result on shared memory/ARM is worse than OMPI/vader](https://trello.com/c/v9f8QpUG/10-ucx-osubw-result-on-shared-memory-arm-is-worse-than-ompi-vader)

[2018-08-20 15:39] shamisp commented on #2767
@yosefe @rzambre - tested with latest MOFED 4.4-1 and the problem is still present

[2018-08-20 16:06] yosefe commented on #2767
@shamisp we can reproduce it in-house too, with latest MLNX_OFED, @hoopoepg is looking into this

[2018-08-21 18:44] shamisp commented on #2792
@yosefe so... what do we want to do about this

[2018-08-21 18:55] rzambre opened #2813 "ucx_perftest throwing errors with multiple threads"
I am seeing the following issue on both UCXv1.3 and the current master branch and on both x86 and aarch64. I did make sure that I configured UCX with `--enable-mt`. Here is how I am calling perftest:

Receiver:

Sender:

Either the program stalls, or I get the "Aborted" message or I see the following:

[code]
cc @shamisp

[2018-08-21 20:11] yosefe commented on #2792
need more details/justification to what is being fixed and why

[2018-08-22 03:16] shamisp commented on #2792
https://github.com/open-mpi/ompi/issues/3847
https://github.com/open-mpi/ompi/issues/3003

[2018-08-22 18:26] yosefe commented on #2792
maybe we could have 2 flavors of timer:
- accurate clock_gettime - for perftest
- inaccurate and fast - for ud SW reliability

[2018-08-22 18:38] yosefe commented on #2751
@MattBBaker @snyjm-18 can you pls run `ucx_info -u t -pwe -D net` on the system?

[2018-08-22 19:54] rzambre opened #2815 "No unsignaled WQEs for puts?"
This is more of a question than an issue: from https://github.com/openucx/ucx/blob/master/src/uct/ib/rc/accel/rc_mlx5_common.h#L579-L614
I see that the WQEs are always signaled for puts but signaling is moderated for active messages (every 64 WQEs). What was the design motivation behind moderating signaling only for active messages not for puts?

[2018-08-22 19:57] yosefe commented on #2815
efficient shmem_quiet()

[2018-08-22 20:27] shamisp commented on #2792
Overall - sounds like a good idea to me.
clock_gettime is pretty fast on x86 unless you have static build, which most like will lead to system call.

[2018-08-22 20:33] shamisp commented on #2815
okay. Maybe for UCT level we should provide an option to disable this ?

[2018-08-23 07:42] yosefe commented on #2815
for UCT users?
would UCP set it always?

[2018-08-23 08:02] amaslenn commented on #2704
@karasevb I see similar issue, but with PMIx 3:
[code]
http://hpcweb.lab.mtl.com//hpc/mtr_scrap/users/mtt/scratch/shmem/20180823_081206_120733_5310_jazz19/html/test_stdout_Izs3kO.txt

Is it known?

[2018-08-23 11:54] shamisp commented on #2815
for UCT user and benchmarks.
UCP - this is good question....Maybe we should make it optional as well. It really depends on programming model. For shmem style quite it is easier to count acks.If you use barrier for synchronization, there is no need for acks.

[2018-08-23 13:27] snyjm-18 commented on #2751
@yosefe

[2018-08-23 13:33] snyjm-18 commented on #2751
@yosefe Sorry about closing and reopening, clicked the wrong button. Here is requested info.

snyjm18@nid00117:~/ucx-master/src/tools/info> ./ucx_info -u t -pwe -D net
#
# UCP context
#
#            md 0  :  tcp
#            md 1  :  ugni
#
#      resource 0  :  md 0  dev 0  flags -- tcp/ipogif0
#      resource 1  :  md 0  dev 1  flags -- tcp/rsip
#      resource 2  :  md 1  dev 2  flags -- ugni_r

[2018-08-23 13:36] yosefe commented on #2751
looks like it's because of TCP support, as WA can set UCX_TLS=ugni_rdma,ugni_udt,ugni_smsg
need to check if we can reduce 20 bytes of the total ugni address

[2018-08-23 13:38] snyjm-18 commented on #2751
``
snyjm18@nid00066:~/ucx-master/src/tools/info> ./ucx_info -u t -pwe -D net
#
# UCP context
#
#            md 0  :  ugni
#
#      resource 0  :  md 0  dev 0  flags -- ugni_rdma/ARIES:0
#      resource 1  :  md 0  dev 0  flags -- ugni_udt/ARIES:0
#      resource 2  :  md 0  dev 0  flags -- ugni_smsg/ARIES:0
#
# memory: 0.00MB, file descriptors: 2
# create time: 5.436 ms
#
#
# UCP worker 'nid00066:

[2018-08-25 00:54] keisukefukuda opened #2817 "iface_attr.cap.flags value on ib/ud"
I'm creating this issue instead of #2816 .

I think `UCT_IFACE_FLAG_CONNECT_TO_EP` and `UCT_IFACE_FLAG_CONNECT_TO_IFACE` of `iface_attr.cap.flags` are mutually exclusive.

However, in my environment, which has Mellanox Infiniband FDR HCA, both of the flags of `ib/ud/mlx4_0:1` are ON as shown below.

Here's a program to demonstrate the problem, which is a shorter version of `test/examples/uct_hello

[2018-08-25 15:14] shamisp commented on #2817
Thanks for bringing up this issue. FYI for code contribution we require sign contributor agreement which can be found here http://www.openucx.org/license/

You can email it to me.

[2018-08-26 09:38] yosefe commented on #2817
this is intentional, UD supports both connection modes

[2018-08-26 15:55] shamisp commented on #2817
@yosefe if user gets confused about this we have to document this explicitly. The flags are not mutually exclusive and some interfaces may support both. @keisukefukuda what kinda error it causes for you application ?

[2018-08-27 03:32] karasevb commented on #2704
@amaslenn
According to the OMPI configure line OMPI has built without pmi2 (`--with-pmi` is not set):
[code]
Here is the MTT cmd from the attached link:
[code]
This is expected failure, MTT tries to use `pmi2`, but OMPI has not this component.

[2018-08-27 07:08] yosefe commented on #2704
@karasevb what about https://github.com/openucx/ucx/issues/2704#issuecomment-414284903, it's with mpirun? is it fixed already in pmix?

[2018-08-27 07:28] keisukefukuda commented on #2817
I wrote code like this: https://github.com/keisukefukuda/flucx/blob/master/include/flucx/communicator/communicator.hpp#L82

(Although it was more than a week ago and I don't remember well...)
When I wrote the code first, the order the `if` blocks were `CONNECT_TO_IFACE` -> `CONNECT_TO_EP`, and I got an error `UCS_ERR_NO_RESOURCE =  -2` from `uct_ep_am_zcopy()`. Then I looked into the UCX internal

[2018-08-27 07:31] keisukefukuda commented on #2817
BTW, @shamisp I didn't find your email address, so could you obtain my CLA at https://www.dropbox.com/s/izl0v9dstjku4j4/20180827153549-0001.pdf?dl=0 ?

Thanks for your support!

[2018-08-27 07:33] keisukefukuda commented on #2817
@shamisp BTW, about CLA, I didn't find your email address. Do you mind telling me your address via twitter DM (@keisukefukuda) or [same account name]@gmail.com to me?

[2018-08-27 12:56] yosefe commented on #2817
so the code of https://github.com/openucx/ucx/blob/master/test/examples/uct_hello_world.c#L164 is not entirely correct, UCS_ERR_NO_RESOURCE is actually a valid error code which means the caller has to do some progress and then retry the operation. I guess uct_ep_connect_to_ep() just avoids this situation in the first place.
@evgeny-leksikov can you pls fix the uct_hello_world example to check for

[2018-08-27 15:20] shamisp commented on #2817
@keisukefukuda it is pasharesearch at gmail

[2018-08-27 16:04] shamisp commented on #2817
I checked the documentation and we do not state anywhere that UCT_IFACE_FLAG_CONNECT_TO_EP and UCT_IFACE_FLAG_CONNECT_TO_IFACE are mutually exclusive. As @yosefe mentioned we should fix the example

[2018-08-28 03:10] keisukefukuda commented on #2817
Thanks for the replies, but I'm afraid I'm still confused on this.

Now I understand that `UCT_IFACE_FLAG_CONNECT_TO_EP` and `UCT_IFACE_FLAG_CONNECT_TO_IFACE` are *NOT* mutually exclusive and `ib/ud` supports both of them.

Then, however, I believe that `uct_hello_world` should work regardless of the `if` block order (as I mentioned previously). I checked it again using the #2820.
https://github.c

[2018-08-28 06:16] evgeny-leksikov opened #2822 "ud/test_ucp_stream.send_iov_recv_data/0 fails"
[code]

[2018-08-28 06:26] evgeny-leksikov commented on #2817
@keisukefukuda thanks for details I'll continue to work with #2820 to have all related fixes in single PR.

[2018-08-29 13:26] yosefe commented on #2813
@rzambre rc_mlx5 transport does not support multi-threaded worker on UCT level, need to run UCP tests (-t ucp_put_bw)
i've added PR #2827 to fail when instantiating such transport on a MT worker

[2018-08-29 15:31] shamisp commented on #2817
@keisukefukuda please let me know if your problem was resolved

[2018-08-29 15:34] shamisp commented on #2813
Shell we modify the test to create multiple workers (worker per thread ?)

[2018-08-29 15:41] rzambre commented on #2813
@yosefe I ran `-t ucp_put_bw` with `-T 2` but saw slightly slower message rates than single-thread message rates. Is this because some serialization is happening internally within UCP since UCT doesn't support multi-thread within a memory domain?

But if I write a multi-thread benchmark in which each thread gets its own resources: worker, memory domain, iface, etc. (like what @shamisp is suggestin

[2018-08-29 15:59] yosefe commented on #2813
1. yes, there is extra lock
2. yes, but currently ucx_perftest does not do it. any chance you can fix perftest instead of writing a new MT benchmark?

[2018-08-29 23:38] keisukefukuda commented on #2817
I'm afraid the problem is not solved.

My understanding is that `ib/ud` supports both of `CONNECT_TO_EP` and `CONNECT_TO_IFACE`, so this code https://gist.github.com/keisukefukuda/da884c53610a6bb989472977b690170d#file-uct_hello_world-c-L564 should work.
The code is basically the same as `uct_hello_world.c` with a slight modification. In short, it does not use `CONNECT_TO_EP` for connection. I thin

[2018-08-30 06:53] evgeny-leksikov commented on #2817
@keisukefukuda please check if your repo is up to date against master. I have checked your patch applied to master and it works fine on my setup with all AM APIs (short/bcopy/zcopy) and UD transport.
(https://gist.github.com/keisukefukuda/da884c53610a6bb989472977b690170d#file-uct_hello_world-c-L564 is not updated)
If it's still not working by some reason, pls share how you run the test and output

[2018-08-30 07:48] keisukefukuda commented on #2817
Oops, my local master was not updated. my apologies.
I tried and it worked!! Thanks!

[2018-08-30 09:48] #2817 closed

[2018-08-30 15:12] jeffdaily opened #2831 "make -C test/gtest with -Werror fails to compile malloc_hook.cc"
Summary: -Werror causes gtest comparison of pointer to NULL to fail.  malloc_hook.cc: 765
`EXPECT_NE((uintptr_t)rp, NULL);`.

Recommended fix: See https://github.com/google/googletest/blob/master/googletest/docs/faq.md#why-does-googletest-support-expect_eqnull-ptr-and-assert_eqnull-ptr-but-not-expect_nenull-ptr-and-assert_nenull-ptr.

Branch: master.
Git hash: 0a79e67a43fde40ac4b6c670de5f9b1220c4b

[2018-08-30 15:15] yosefe commented on #2831
@hoopoepg pls take a look

[2018-09-03 07:34] karasevb commented on #2704
The original issue with backtrace coming from `pmix_ptl_base_process_msg` is should be fixed.
@amaslenn, please confirm, do we have any craches with the same (original) backrace?

[2018-09-03 17:30] hoopoepg commented on #2767
MOFED/kernel module should be updated, patch:
[code]

[2018-09-03 17:35] yosefe commented on #2767
@shamisp we confirmed that missing DEVICE_GRE for resource domain UAR is the cause of the issue. With the patch above, latency is as expected.

[2018-09-05 13:48] yosefe commented on #2813
@jiguanglizipao was ucx compiled with --enable-mt?

[2018-09-05 14:44] shamisp commented on #2813
@yosefe since perftest is build as part of the tree i would suggest to report an error if "T" was used but the main library was compiled without --enable-mt

[2018-09-05 14:51] jiguanglizipao commented on #2813
@yosefe Yes, I use the ./contrib/configure-release-mt script.

[2018-09-05 14:51] yosefe commented on #2813
ok, we will check this and update

[2018-09-05 14:52] jiguanglizipao commented on #2813
@yosefe The environments:
Linux gorgon1 4.4.0-116-generic #140-Ubuntu SMP Mon Feb 12 21:23:04 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

[2018-09-05 14:56] yosefe commented on #2813
Thanks! Which OFED/MLNX_OFED/libibverbs version was used?

[2018-09-05 14:58] rzambre commented on #2813
@yosefe I am wrapping some other work at the moment. I will most likely get to this next month.

[2018-09-05 15:06] jiguanglizipao commented on #2813
@yosefe Updated above.

[2018-09-05 15:16] jiguanglizipao commented on #2813
@rzambre I tried writing a tiny benchmark with 1 worker per thread and `mt_workers_shared = true`.
It seems correct but the performance is worse than 1 endpoint per thread under the mutex protection when thread numbers is larger than 2.

[2018-09-05 15:43] shamisp commented on #2813
If you allocate a worker per thread you should have no locks in the path...

[2018-09-05 16:03] jiguanglizipao commented on #2813
@shamisp Yes, no locks in the path.

[2018-09-05 16:06] yosefe commented on #2813
@jiguanglizipao what is the benchmark testing? can you share the code?

[2018-09-05 17:57] jiguanglizipao commented on #2813
@yosefe ucp_tag. I just keep the ucx part. It seems 1 worker per thread is better now. Maybe the performance is affected by cache locality of my deleted codes.
Code: [https://github.com/jiguanglizipao/UCXTagBench](https://github.com/jiguanglizipao/UCXTagBench)

[2018-09-06 09:10] akesandgren opened #2841 "Possible typo in ucs_config_parser_fill_opts"
In ucs_config_parser_fill_opts this code looks wrong.
[code]
It says "Apply env vars with custom prefix", but the env_prefix is attached after UCS_CONFIG_PREFIX.

[2018-09-07 06:16] keisukefukuda opened #2842 "Build failed on master/v1.4.x with an error "undefined reference to `mlx5dv_init_obj'""
Make fails on `master` and `v1.4.x` branch with the following error in my environment.

[code]

The full logs are:
 * master: https://gist.github.com/keisukefukuda/f93b291921ae22baf7b2cc6e48f756f8
 * v1.4.x : https://gist.github.com/keisukefukuda/87e0c2531d2ed35621ae96a5a7286c55
 * v1.3.x : https://gist.github.com/keisukefukuda/df4c05c419ef25c0cd09c8d0355b5e41

while `v1.3.x ` branch builds succes

[2018-09-07 10:49] brminich commented on #2842
Probably libmlx5.so or/and libmlx5-rdmav2.so is missing.
What does `ldd /home/kfukuda/ucx/src/uct/.libs/libuct.so` say?

[2018-09-07 11:30] hoopoepg commented on #2842
or libibverbs-dev package is missing

[2018-09-07 13:52] shamisp commented on #2842
@brminich @hoopoepg missing libraries should be detected by configure script and we should not fail during compilation - it is way too late to report missing library. IMHO mellanox verbs detection cofigury is broken and we should fix it.

[2018-09-07 13:52] shamisp commented on #2842
@yosefe - FYI

[2018-09-07 13:53] shamisp commented on #2842
BTW I don't think we have ubuntu in our testing - @keisukefukuda that a lot for catching this.

[2018-09-07 13:59] brminich commented on #2842
@shamisp, yes looks like a configure issue. Probably this can happen when mlx5dv.h is present but libmlx5 is not. Looks a bit strange, so we'd like to get more details about the configuration.

[2018-09-07 14:00] shamisp commented on #2842
@brminich - do we have any ubuntu boxes in regression ?

[2018-09-07 14:10] brminich commented on #2842
@shamisp, we have several virtual machines, but without any IB device configured

[2018-09-08 13:50] keisukefukuda commented on #2842
Thank you for your support, guys.

There are the configure logs.

master: https://gist.github.com/keisukefukuda/7742a8d51a00dd03ed5b24156bbfc982
v.1.3.x: https://gist.github.com/keisukefukuda/07953673a5ba7f30a09bebc855b998ee

@hoopoepg
I checked if `libibverbs` packages are installed.
[code]
so `libibverbs-dev` is installed.

@brminich `ldd` says:
[code]

[2018-09-09 11:57] amaslenn commented on #2704
Don't see it anymore.

[2018-09-09 11:57] #2704 closed

[2018-09-10 23:14] yosefe commented on #2842
@Artemy-Mellanox can you pls take a look? maybe something is missing from master

[2018-09-10 23:27] #2831 closed

[2018-09-11 12:30] yosefe commented on #2841
@akesandgren the "custom prefix" is supposed to be *after* the "UCX_" prefix, not instead of

[2018-09-11 13:15] akesandgren commented on #2841
It is a bit odd, but as long as it is well documented :-)
I would have expected it to be before UCX_, i.e., SLURM_UCX_TLS instead of UCX_SLURM_TLS.

I just noticed the code by accident and found it strange.

[2018-09-11 14:46] yosefe opened #2847 "timeout in ud/test_ud.crep_ack_drop/0 with valgrind"
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/7624/label=hpc-test-node3,worker=1/console
[code]

[2018-09-11 17:28] shamisp commented on #2841
Maybe the comment can be update to avoid the confusion ?

[2018-09-12 02:14] keisukefukuda commented on #2842
Forgot to mention that, as indicated by `ldd`, I could build it by

[code]
Although I'm not sure it is expected that `LD_LIBRARY_PATH` includes `/usr/lib/libverbs` in normal environment, I guess it should be taken care of in the  `configure` phase anyways.

[2018-09-13 18:57] yosefe opened #2855 "dc/test_tag.tag_rndv_zcopy_tag_mask/0 failed on hpc-arm-hwi-jenkins"
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/7645/label=hpc-arm-hwi-jenkins,worker=0/consoleFull
no valgrind
[code]

[2018-09-14 14:42] bbenton opened #2859 "Debug build on master, 1.4.x, and 1.3.x fails with undefined reference to symbol ibv_wc_status_str@@IBVERBS_1.1 error"
When configured with `--enable-debug`, make fails with the following error:

[code]

This occurs on master, v1.4.x, and v1.3.x.

I have only seen this on ubuntu-16.04, and only when configured with `--enable-debug`. In particular, it only occurs when compiling with `-O0`.  The problem does not show up when compiling with `-O1` or higher.  As for InfiniBand support, I see this with MOFED-4.3 and MO

[2018-09-14 19:21] hjelmn opened #2860 "Slow performance when using multi-rail RMA"
Not sure if this is a OpenUCX issue. Would be interested to know what the OpenUCX community thinks.

I am working on multi-rail support for osc/rdma in Open MPI. This support allows the component to make use of multiple BTL modules to support RMA. We have a single port ConnectX5 aarch64 system set up to split the bandwidth between two devices (mlx5_0, mlx5_3). When using a single BTL module (singl

[2018-09-14 20:02] hjelmn commented on #2860
Hmm, I don't see this issue with Power9.

[2018-09-14 20:51] bbenton opened #2861 "uct_hello_world segfaults over tcp"
uct_hello_world over a tcp transport appears to transmit data properly, but then segfaults when freeing resources.  This failure occurs with both master and v1.4.x.  UCX was configured with defaults  plus `--enable-debug-data` and uct_hello_world was built with `-O0 -g`.

Here is a stack backtrace of the failure

[code]

Is this supposed to work?  Or is it a known problem?

[2018-09-15 19:52] shamisp commented on #2860
What MOFED version ? Os ? It might be mofed related. Adding @yosefe

[2018-09-15 19:52] shamisp commented on #2861
Adding @hoopoepg

[2018-09-15 19:54] shamisp commented on #2859
@hoopoepg @yosefe FYI

[2018-09-16 14:29] yosefe commented on #2859
I could not reproduce the issue with UCX master, Ubuntu 16.04, x86_64, and "--enable-debug"
@bbenton can you pls add the full output from "ofed_info" to see which RPMs are installed?
The contents of "config.log" and the output of "make V=1" could also help
BTW it's possible to attach files to github issue by drag&drop

[2018-09-16 21:00] bbenton commented on #2859
Here are the requested files:

[ofed_info.txt](https://github.com/openucx/ucx/files/2387014/ofed_info.txt)
[config.log](https://github.com/openucx/ucx/files/2387015/config.log)
[make-V1.txt](https://github.com/openucx/ucx/files/2387016/make-V1.txt)

[2018-09-17 09:39] yosefe commented on #2859
@bbenton can you pls check if #2863 fixes the issue?
BTW i still could not reproduce; seems like libtool on your setup does not put the dependencies into libucp.la/libuct.la

[2018-09-17 14:01] bbenton commented on #2859
@yosefe #2863 fixes the issue for me!
As for libtool, I noticed that it was not installed on my setup.  But, after installing it (v2.4.6), I re-built everything from scratch, but still see the failure with master.

[2018-09-17 15:32] shamisp commented on #2860
Okay, sound like it is not the problem that I though. Do you pin threads to the socket or two different sockets ? If so, what socket was used.

[2018-09-17 19:07] #2859 closed

[2018-09-17 19:08] #2861 closed

[2018-09-19 10:29] hjelmn commented on #2860
Threads are pinned to socket 0. In this case there is a single thread.

[2018-09-19 14:24] shamisp opened #2872 "Failures on softiron (no IB/master)"
[code]
[code]
[code]

[2018-09-19 14:32] shamisp commented on #2860
Can you run the test using single rail going through the nic attached to socket 1 with process bind on socket 0 ?

FYI, my setup is a bit different so I have no way to reproduce it internally.

[2018-09-19 18:47] rzambre opened #2874 "uct_worker_progress required on receiver side for put_lat test"
Testbed: ThunderX2

In perftest's put_lat test, the receiver side still calls `uct_worker_progress` at https://github.com/openucx/ucx/blob/master/src/tools/perf/uct_tests.cc#L120. The ONESIDED flag is not set for `put_lat` in the benchmark.

We can force the ONESIDED flag to be set using perftest's `-o` flag so that `uct_worker_progress` is not called on the receiver for `put_lat`. Or we can simpl

[2018-09-19 19:14] shamisp commented on #2874
DMB is needed but ```uct_worker_progress``` is wrong place for it.

[2018-09-19 20:07] shamisp opened #2875 "cm/uct_flush_test.am_flush_ep_no_comp/0"
The test completely crushes on TX2 with MOFED 4.4. It appears to me as MOFED / firmware related.

[2018-09-19 20:22] shamisp opened #2876 "C++ failure on Ubuntu 18.04 / master"
[code]
[code]

[2018-09-19 21:09] #2876 closed

[2018-09-20 08:29] hjelmn commented on #2860
I can test that by using two threads and pinning them each to a rail and socket. Can test that when I get back from EuroMPI.

[2018-09-20 08:58] amaslenn commented on #2799
Reproduced in SHMEM testing. Cmd:
`/hpc/local/benchmarks/hpcx_install_2018-09-13/hpcx-armcc-redhat7.4/ompi/bin/oshrun -np 64 --debug-daemons --display-map -mca btl self --bind-to core -mca oshmem_proc_group_cache_size 10000 -mca btl_openib_warn_default_gid_prefix 0 -report-bindings -mca sshmem_verbs_hca_name mlx5_0:1 -mca btl_openib_if_include mlx5_0:1 -x MXM_RDMA_PORTS=mlx5_0:1 -x UCX_NET_DEVICES

[2018-09-20 09:00] hjelmn commented on #2860
Hmm, I misunderstood what you want to see. I can test that as well. I have looked at each rail with a process on socket 0, core 0. I can test with a process on socket 1, core 0.

[2018-09-20 11:07] yosefe commented on #2842
@Artemy-Mellanox need to check if mlx5dv_init_obj is used in any of the internal headers used by type_info.c, to reproduce need to remove deps from .la files

[2018-09-20 11:32] brminich commented on #2874
Can you please provide command line?
Also what HCAs do you use?

[2018-09-20 13:30] yosefe commented on #2874
it probably hangs because we don't have async wireup yet (@evgeny-leksikov is working on it now). It probably hangs on rc/rc_x but should work with dc/dc_x
this is also the reason that ONESIDED is not set currently

[2018-09-20 13:38] yosefe commented on #2875
what is the error? is it similar to #1379?

[2018-09-20 13:38] yosefe commented on #2875
BTW there was recent fix in MOFED 4.4 for cm, what is your exact version?

[2018-09-20 15:13] evgeny-leksikov commented on #2874
@rzambre could you check if https://github.com/openucx/ucx/pull/2864 helps?

[2018-09-20 16:00] evgeny-leksikov opened #2881 "add param check to flush APIs if RMA/AMO is not initialized"
According to ucp_<ep|worker>_flush documentation, the API is relevant only for RMA/AMO operations.

- [ ] add params check like in #2870
- [ ] cleanup gtests from extra flushes on closure replacing it with ucp_ep_close_nb

see discussion to #2871 for details

[2018-09-20 18:54] shamisp opened #2882 "Gtest errors with TCP"
Discussed with @yosefe . My understanding that with emulation error we not supposed to get the error:
[code]

[2018-09-20 21:10] rzambre commented on #2874
The command line for the test that hangs is `ucx_perftest -c 0 -t put_lat -x rc_mlx5 -o` on node-1 and `ucx_perftest -c 0 -t put_lat -x rc_mlx5 -o  node-1` on node 2.
The command line for the test that works fine (but with a call to uct_worker_progress on the receiver side) is the same as above but without the `-o` flag.

@evgeny-leksikov unfortunately, I don't have access to a TX2 cluster anymore

[2018-09-21 14:19] shamisp commented on #2872
With the patch it hangs in:
[code]

[2018-09-21 14:26] shamisp commented on #2875
[code]

[2018-09-22 21:05] yosefe commented on #2882
works on latest ucx master:
http://bgate.mellanox.com/jenkins/job/gh-ucx-pr/5243/label=ARM_test_node,worker=2/consoleFull
[code]

[2018-09-22 21:09] yosefe commented on #2875
can you pls upgrade to 4.4-2.0.7.0? http://www.mellanox.com/page/products_dyn?product_family=26&mtag=linux_sw_drivers

[2018-09-23 11:09] amaslenn opened #2885 "[mtt] hang with TLS=all (ROCE)"
Configuration
[code]

MTT link: http://hpcweb.lab.mtl.com//hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20180919_205705_89219_7174_jazz01/html/test_stdout_apt1iM.txt

Hang reproduces in different mpi-small-tests cases from time to time.

Cmd:
`mpirun -np 84 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=mlx5_1:1 -mca osc uc

[2018-09-23 11:13] amaslenn commented on #2885
Also reproduced in `mpich_tests_mpi_pt2pt`: http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20180922_234422_106458_7334_jazz20/html/test_stdout_wa66zn.txt
[code]

[2018-09-23 11:38] amaslenn opened #2886 "[mtt] error in intel tests when using ARMCC"
Configuration
[code]

MTT link: http://hpcweb.lab.mtl.com//hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20180919_175524_33298_7169_hpc-arm-hwi01/html/test_stdout_04pR63.txt

Reproduced with `np=2`.

Cmd (`hpcx-armcc` env module):
`mpirun -np 60 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=mlx5_0:1 -mca osc ucx -x UCX_IB_A

[2018-09-23 14:17] shamisp commented on #2886
@nSircombe FYI

[2018-09-24 00:47] benmenadue opened #2888 "Run-time failure in UCX 1.3.1 behind OpenMPI 3.1.2"
Hi,

(This is a cross-post from the OpenMPI user's mailing list)

A couple of our users have reported issues using UCX in OpenMPI 3.1.2 (at least two applications, one of which is from the PETSc test suite). It's failing with the message
[code]

The actual MPI calls provoking this are different between the two applications — one is an MPI_Bcast and the other is an MPI_Waitany — but in both cases i

[2018-09-24 15:27] shamisp commented on #2888
@yosefe does it looks any familiar ? thanks !

[2018-09-25 11:01] jiguanglizipao opened #2893 "How to check the ucp_ep connection status?"
I want to free the ucp_ep when the peer is crashed or disconnected but I don't find any interface can check the ucp_ep connection status. Whether I missed? How to implement it if not?

[2018-09-25 11:16] yosefe commented on #2893
if something was sent on the ep, the request may complete with error
also, it's possible to set error handler on the endpoint which will be called in case of peer failure

[2018-09-25 11:39] yosefe commented on #2893
@jiguanglizipao i don't see in the code above where is the ep released..

[2018-09-25 11:41] evgeny-leksikov commented on #2893
Also need to set `ucp_ep_params_t::err_mode = UCP_ERR_HANDLING_MODE_PEER` on ep creation to detect peer failure with `ucp_ep_params_t::err_handler`

[2018-09-25 11:48] jiguanglizipao commented on #2893
@yosefe I want to check the connection status after `ucp_worker_progress` because the `while (request->completed == 0) ucp_worker_progress(worker);` is a endless loop.

[2018-09-25 11:48] jiguanglizipao commented on #2893
The err_handler seems work.
Thank you @yosefe @evgeny-leksikov .

[2018-09-25 11:59] #2893 closed

[2018-09-25 14:44] #2433 closed

[2018-09-25 15:08] yosefe commented on #2855
fixed by #2857

[2018-09-25 15:32] shamisp commented on #2882
Re-run with clean check out from master. I don't see exactly the same error, but now it fails here:
[code]

[2018-09-25 15:32] shamisp commented on #2882
[code]

[2018-09-25 15:33] yosefe commented on #2735
fixed in MLNX_OFED-4.4-2.0.7.0

[2018-09-25 15:33] #2735 closed

[2018-09-25 15:36] yosefe opened #2894 "warning in cm/uct_p2p_am_test.am_bcopy - got active message id 11, but no handler installed"
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/7746/label=r-vmb-ppc-jenkins,worker=1/consoleFull
[code]

[2018-09-25 16:45] shamisp commented on #2872
[code]

I tried the latest master and it still hangs.
[code]

[2018-09-26 21:53] benmenadue commented on #2888
@yosefe It's UCX 1.3.1 (from the release tarball), OpenMPI 3.1.2. I think one application is multithreaded the other not, but I'm not 100% sure. At lease one of them is easy to share (it's part of the PETSc test suite), so I'll put together some instructions today and send them through.

[2018-09-27 13:38] yosefe commented on #2718
@amaslenn did you see this recently?

[2018-09-28 14:01] shamisp commented on #2842
@yosefe @Artemy-Mellanox : I think this is only the bug reports that holding of RC1 for v1.4.0. Do you have any update on this ?

[2018-09-30 09:06] yosefe commented on #2718
closing this for now

[2018-09-30 09:06] #2718 closed

[2018-10-02 12:02] tonycurtis opened #2910 "uct/ib/base/ib_md.c: compilation error @ strncat"
git master @ 6c091bd406834bd0be6d002308c659e9b13afca0

Fedora 28, gcc .8.1.1

[code]

[2018-10-02 13:16] hoopoepg commented on #2799
build module: module load arm-compiler/arm-hpc-compiler

[2018-10-02 17:57] shamisp commented on #2872
@yosefe apparently when UCX hangs we don't flush STDERR - something that we have fix.
It hangs because of the following error:
[code]

[2018-10-02 18:40] shamisp commented on #2872
@yosefe - Ouch. It appears that wireup test does not check if the connect was actually completed successfully (test_ucp_wireup.cc) ?! If connect fails (because you out of sockets in my case) it does not check the error code....

[2018-10-02 18:47] shamisp commented on #2872
On softiron it opens 2096 files and fails. As far as I can tell, ulimit is 1024.

[2018-10-02 18:52] shamisp commented on #2872
[code]

[2018-10-03 07:39] yosefe commented on #2872
@shamisp  - we DO flush the log buffer, something maybe wrong with your wrapper scripts / console app
anyway, i also saw this on Tony's machine, quick fix is to increase ulimit, then we can also fix the test to limit connections according to max open files

[2018-10-03 13:56] shamisp commented on #2872
@yosefe
* FLUSH issue - no scripts, just regular terminal. It appears as some sort issue with gtest itself. If I run just the rest using GTEST_FILTER, the error is reported. If I run full gtest the error does not show up :(

* Indeed the test has to fixed. I just was using regular ubuntu configuration. We want the test to pass out of the box.

[2018-10-03 13:57] shamisp commented on #2872
* the test has to handle error code that is reported and fail.

[2018-10-03 16:36] shamisp commented on #2882
I don't see it anymore on master. @yosefe resolved ?

[2018-10-03 16:48] yosefe commented on #2882
@shamisp are you talking about data check failure? i don't think anything relevant has changed in ucx master recently

[2018-10-03 17:48] evgeny-leksikov opened #2915 "dc_mlx5/uct_p2p_mix_test_alloc_methods.mix1000_odp/0 fails on arm"
[code]

http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-arm-hwi-jenkins,worker=2/7845/consoleFull#98030106524dff065-0424-4e55-b698-eb134734d522

[2018-10-03 19:40] shamisp commented on #2882
I don't see it anymore. Closing...

[2018-10-03 19:40] #2882 closed

[2018-10-04 05:44] brminich commented on #2915
Similar issue on vulcan:
 http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/7846/label=vulcan-jenkins,worker=0/consoleFull#-126891751844550c5d-247a-4f9d-bad5-5b93d2b6e2ac
[code]

[2018-10-04 14:33] yosefe commented on #2915
the issue is probably not in UCX, so we have to skip these tests until another team fixes it, or the regression will be unstable

[2018-10-04 15:58] shamisp commented on #2915
Let's keep the bug open. Probably we should list this in known issues ?

[2018-10-04 16:48] yosefe commented on #2915
yes, we will keep it open, but regardless need to skip the tests for now

[2018-10-04 18:35] bureddy opened #2919 "Segfault in CUDA support when KNEM not present and CMA is active intra-node RMA transport"
When KNEM is not present, CMA will be selected for RMA for which RKEY is not needed. When RKEY is not needed, it is wrongly selecting CMA lane for cuda mem type rma.

Workarounds:
    install KNEM
    (or)
    Disable CMA  (--disable-cma)
    (or)
    not select cma through UCX_TLS.

[2018-10-07 08:45] yosefe commented on #2915
https://redmine.mellanox.com/issues/1531217 (Mellanox internal link)

[2018-10-07 09:58] yosefe commented on #2855
@brminich can we close?

[2018-10-07 09:58] yosefe commented on #2875
@shamisp ?

[2018-10-07 11:25] #2872 closed, assigned to yosefe

[2018-10-07 11:44] yosefe commented on #2741
@nSircombe it should be already fixed, by #2743

[2018-10-07 11:48] yosefe opened #2921 "Memory leak with UCX and OpenMPI 3.1.x"
We are seeing a gaping memory leak when running OpenMPI 3.1.x (or 2.1.2, for that matter) built with UCX support.   The leak shows up
whether the “ucx” PML is specified for the run or not.  The applications in question are arepo and gizmo but it I have no reason to believe
that others are not affected as well.

Basically the MPI processes grow without bound until SLURM kills the job or the host me

[2018-10-07 12:34] amaslenn commented on #2885
Recent fail on Orion:
[code]
MTT report: http://e2e-gw.mellanox.com:4080/hpc/scrap/users/mtt/scratch/ucx_ompi/20181006_122941_926_202314_clx-orion-001

Timeout exceeded with `UCX_TLS=rc_x,sm` and `UCX_TLS=all`.

[2018-10-07 12:40] yosefe opened #2923 "shmem_verifier fail on arm"
[code]

[2018-10-07 12:40] yosefe commented on #2923
@amaslenn FYI

[2018-10-07 16:09] shamisp commented on #2923
I need a bit more details about the test itself. I the memory is updated by
some other PE ?

On Sun, Oct 7, 2018 at 10:23 Yossi Itigin <notifications@github.com> wrote:

[2018-10-07 16:36] yosefe commented on #2923
looks like we have to add datatype to shmem API

[2018-10-08 09:59] nSircombe commented on #2741
Yep, now compiles without issue, but fails during the test with the same issue I saw when I padded out the empty struct with a char.
Segfaults in the test_datatype.queue_iter test.

[2018-10-08 10:51] yosefe commented on #2842
@keisukefukuda can you pls check if it works for you now with latest UCX master?

[2018-10-08 10:53] yosefe opened #2928 "segfault in test_datatype.queue_iter with armclang"
follow up on https://github.com/openucx/ucx/issues/2741#issuecomment-427779263
reported by @nSircombe

[2018-10-08 10:53] #2741 closed

[2018-10-08 10:53] yosefe commented on #2741
opened #2928

[2018-10-08 11:34] nSircombe commented on #2928
Appears to occur at line 177 of test_datatype.cc
[code]
on the `push_back`.

[2018-10-08 13:11] ca-taylor commented on #2921
Running strace on one of the MPI processes shows a steady stream of brk() calls that is not present when running without UCX (PML=ob1).

[pid 11573]      0.011080 brk(NULL)     = 0x67dc000
[pid 11573]      0.000047 brk(0x67dd000) = 0x67dd000
[pid 11573]      0.000034 brk(NULL)     = 0x67dd000
[pid 11573]      0.000031 brk(NULL)     = 0x67dd000
[pid 11573]      0.000032 brk(NULL)     = 0x67dd000
[p

[2018-10-08 13:16] ca-taylor commented on #2921
Attaching to the same MPI process as in the previous comment with gdb and setting breakpoints on mmap, brk, and sbrk, shows...

(gdb) break mmap
Breakpoint 1 at 0x2b7a5c9befc0 (2 locations)
(gdb) break brk
Breakpoint 2 at 0x2b7a5c9bb440
(gdb) break sbrk
Breakpoint 3 at 0x2b7a5c9bb4b0 (2 locations)
(gdb) continue
Continuing.

Breakpoint 3, 0x00002b7a62311db0 in ucm_override_sbrk () from /lib64/libu

[2018-10-08 14:48] ca-taylor commented on #2921
Ok.  I have a git-clone of the repo so I can pull and test whenever you are ready.

[2018-10-08 15:48] shamisp commented on #2923
@yosefe I'm not sure if the test is SHMEM compliant. 1.4 suggest to use shmem_wait for local memory poll.

[2018-10-08 17:36] manjugv commented on #2923
@shamisp In the test that Yossi is mentioning, the local data is read by shmem_int_get operation. Why is it not complaint then ? I'm I missing something.

[2018-10-08 17:37] #2894 closed

[2018-10-08 17:42] yosefe commented on #2923
agree with @manjugv , out UCX implementation of shmem_get/put is not compliant, it does not access memory with the right granularity (which should be according to data-type , in this case - int)

[2018-10-08 22:16] benmenadue commented on #2888
Sorry, we got sidetracked with a maintenance period that didn't quite go accordingly to plan (Lustre...). I can easily reproduce this using PETSc, just download the latest version, build it against OpenMPI 3.1.2, and run the ex50 example:
[code]

That mpirun works find for 16 cores on our cluster (i.e. a single node), but fails at 32 cores (i.e. two nodes) -- which is perhaps expected given that i

[2018-10-09 07:33] hoopoepg commented on #2799
@amaslenn is it still reproducing?

[2018-10-09 07:53] yosefe commented on #2888
@benmenadue thanks! I forgot to ask, which version of OFED/MLNX_OFED/libibverbs is installed, and which distro?

[2018-10-09 08:05] amaslenn commented on #2799
Don't see it now. Let's wait for more results.

[2018-10-09 08:28] keisukefukuda commented on #2842
I checked and the problem was solved! :+1:
I'm closing the issue. Thanks a lot!

[2018-10-09 08:28] #2842 closed

[2018-10-09 13:09] amaslenn opened #2934 "[mtt] timeout exceeded in mpi-small-tests"
Configuration
[code]

MTT log: http://e2e-gw.mellanox.com:4080/mnt/lustre/users/mtt/scratch/ucx_ompi/20181005_205511_9823_201836_clx-hercules-036/html/test_stdout_sgzRIm.txt

It doesn't always reproduce.

Cmd:
`mpirun -np 1760 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll ^hcoll --bind-to core -x UCX_NET_DEVICES=mlx5_2:1 -mca osc ucx -x UCX_IB_REG_METHODS=rcach

[2018-10-09 19:43] hjelmn opened #2937 "Error using UCT short message protocol"
In btl/uct I am using ```uct_ep_put_short``` for small puts when ```size <= uct_iface_attr.cap.put.max_short```. This works with the dc transport but gives me the following error with using dc_mlx5:

[code]

I checked and the reported max short in the capabilities is 2048. For the dc transport it is 108. Looks like a bug to me.

[2018-10-09 20:04] benmenadue commented on #2888
@yosefe CentOS 6.10 user-land, CentOS 7.5 kernel, Mellanox OFED, Mellanox FDR IB
[code]
Come to think of it, we have some EDR HCAs. I'll see it the same issue occurs with them as well.

[2018-10-09 20:56] shamisp commented on #2923
it looks like you poll on the date with shmem_get while the address is updated by remote PE ? Do you expect atomic update ? if so, why ?

[2018-10-09 21:34] shamisp commented on #2875
it takes time to reinstall cluster...

[2018-10-09 21:43] shamisp commented on #2875
No change with ```MLNX_OFED_LINUX-4.4-2.0.7.0```

[2018-10-09 21:45] shamisp commented on #2875
Also getting:
[code]

[2018-10-10 07:53] yosefe commented on #2937
@hoopoepg looks like an issue with MEMIC

[2018-10-10 07:56] hoopoepg commented on #2937
@hjelmn what is HCA you got error?
and could you provide reproducer for issue?

thank you

[2018-10-10 07:57] yosefe commented on #2923
i would expect shmem_get() for basic types to see consistent data

[2018-10-10 07:59] yosefe commented on #2875
@shamisp what is the error now? any logs/dmesg?
pls open separate issue for https://github.com/openucx/ucx/issues/2875#issuecomment-428363786

[2018-10-10 14:20] shamisp commented on #2875
No error - it just hangs and kills the machine. I have to do hard reset.

[2018-10-10 14:21] shamisp opened #2939 "Malloc hooks failure on Arm/TX2"
Latest master:

[code]

[2018-10-10 14:38] shamisp opened #2940 "Ubuntu 18.04 inbox driver failure: ‘struct mlx5dv_cq’ has no member named ‘uar’"
[code]

[code]

[2018-10-10 14:39] shamisp commented on #2940
This is softiron machine

[2018-10-10 14:40] shamisp commented on #2940
I'm still puzzled why this is not something that we catch in regression.

[2018-10-10 14:41] hoopoepg commented on #2940
may be because ubuntu 18.10 was released just few days ago? :)

[2018-10-10 14:43] shamisp commented on #2923
@yosefe SHMEM spec does not define single copy operations. x86 and arm defines those on arch level but it is not obvious how it is maps to CCI, PCIe, NIC/HCA and other interconnects.

[2018-10-10 14:44] shamisp commented on #2923
Regardless, I still want to understand the memcpy issue

[2018-10-10 14:46] shamisp commented on #2940
my bad, it is 18.04

[2018-10-10 14:48] shamisp commented on #2940
[code]

[2018-10-10 15:15] shamisp commented on #2875
Apparently it is not built at all.

If ```--enable-gtest``` specified it is built and it is passing the test.
Otherwise the file is not created at all.

Since it is not consistent with the rest for gtests, which  do not require explicit enable flag, I would suggest to fix the makefiles.

[2018-10-10 15:16] shamisp commented on #2939
Apparently it is not built at all.

If --enable-gtest specified it is built and it is passing the test.
Otherwise the file is not created at all.

Since it is not consistent with the rest for gtests, which do not require explicit enable flag, I would suggest to fix the makefiles.

[2018-10-10 15:17] yosefe commented on #2939
basically this is oncorrect usage, but @hoopoepg  can you pls to fix "make test" target to fail if --enable-gtest was not specified

[2018-10-10 15:35] hjelmn commented on #2937
[code]

[2018-10-10 15:36] hjelmn commented on #2937
Reproducer is NetPipe with Open MPI master run with:

[code]

[2018-10-10 15:37] hjelmn commented on #2937
Reproducer is really RMA-MT run with:

```mpirun --mca pml ob1 --mca btl self,vader,uct --mca btl_uct_memory_domains ib/mlx5_0 -n 2 -N 1 ./rmamt_bw -o put -s flush_thread -x -t 32 -i 1000```

[2018-10-10 15:48] hjelmn commented on #2937
Also, this is interesting. ucx_info shows the correct short size for all tls. So the problem is attr.cap.put.max_short is wrong:

[code]

[2018-10-10 15:48] shamisp commented on #2939
@yosefe
If --enable-gtest is required, we should fail. As for now it is inconsistent and confusing.

[2018-10-10 15:49] hoopoepg commented on #2939
on the way: https://github.com/openucx/ucx/pull/2941

[2018-10-10 16:32] shamisp commented on #2875
No error. I'm not sure if we have syslog on this.

[2018-10-10 17:18] #2921 closed

[2018-10-10 17:51] yosefe commented on #2847
fixed in #2935

[2018-10-10 17:51] #2847 closed

[2018-10-10 20:16] yosefe commented on #2923
after chat with @shamisp we concluded that the test is not spec-compliant since it relies on shmem_get to wait for memroy update, which does not provide atomicity guarantee (need to use shmem_atomic_fetch or shmem_wait_until, for example)

[2018-10-11 05:35] Akshay-Venkatesh opened #2946 "Assertion failure (worker->inprogress == 0) when ucp_worker_progress is called from server accept callback"
I'm seeing this
[code]
issue with on a program that has a server listen for connections and calls `ucp_worker_progress` in the `accept_callback`  function that is passed as a listen parameter. Is this valid use of `ucp_worker_progress`?
I see that @yosefe has fixed a [bug](https://github.com/openucx/ucx/issues/607) with a similar error message but I don't the error is related.

I set the worker th

[2018-10-11 06:33] #2940 closed

[2018-10-11 06:33] #2939 closed

[2018-10-11 06:35] yosefe commented on #2946
ucp_worker_progress is not allowed to be called from callbacks

[2018-10-11 07:32] Akshay-Venkatesh commented on #2946
Thanks for the quick response @yosefe. I'll change the usage in the program.

[2018-10-11 08:55] yosefe commented on #2946
@Akshay-Venkatesh thanks, can we close this?

[2018-10-11 11:55] hoopoepg commented on #2937
@hjelmn I looked at ob1 implementation and found issue: assumption that all ifaces created for same device will have similar attributes is not correct: we have set of resources for optimization (Device Memory, MEMIC) which are shared across all infaces, and in case if you create several infaces then some of them will not able to allocate memory on device and will use different put/send short limit

[2018-10-11 13:37] shamisp commented on #2946
@yosefe do we have this document somewhere ?

[2018-10-11 15:36] manjugv commented on #2923
@yosefe @shamisp I'm not sure how shmem_atomic_fetch will help.

[2018-10-11 15:50] shamisp commented on #2923
@manjugv it will help. Implementation wise it will go through HCA loopback.

[2018-10-11 15:59] manjugv commented on #2923
@shamisp But, you are mixing atomic with non-atomic operation. I will IM you :)

[2018-10-11 16:11] shamisp commented on #2923
@manjugv - valid point. My assumption was that everything is replaced with AMOs.

[2018-10-11 16:12] yosefe commented on #2923
ok , so will replace it all with shmem_test or wait_until

[2018-10-11 16:45] hjelmn commented on #2937
@hoopoepg Thanks for the explanation. Didn't see that before commenting on the PR. Makes sense. I opened open-mpi/ompi#5901 to address the issue. Now storing attributes per TL instance.

[2018-10-11 16:47] yosefe commented on #2888
@benmenadue I've tried to run with same SW versions and didn't see any issue (except the applicaiton aborts if trying to run more than 32 ranks), it ran to completion and i saw some output with `-log_trace`

How was the ucx v1.3.1 configured? AFAIU it was built from source?

[2018-10-11 18:34] shamisp commented on #2875
I upgraded the firmware to 12_23_1020. It didn't resolve the problem.

[2018-10-11 20:44] shamisp commented on #2875
@yosefe I sent you kernel panic dump.

[2018-10-11 21:52] benmenadue commented on #2888
@yosefe Interesting... I'll see if I can find some combination here that works. Yes, UCX is from the 1.3.1 release tarball, configured with
[code]

[2018-10-11 22:08] benmenadue commented on #2888
Ahh -- does this crash for you?
[code]

[2018-10-12 10:58] rfehren opened #2951 "ucx_pertest fails on old mthca adapters"
* ucx 1.3.1 built against:
libibverbs-dev librdmacm-dev (both from rdma-core 18.1)
libnuma-dev (2.0.11)
nvidia-cuda-dev (CUDA 9.1)
Kernel 4.14.73
* Server output
ucx_perftest -c 0
Waiting for connection...
+------------------------------------------------------------------------------------------+
| API:          protocol layer                                                             |
| Test:

[2018-10-12 19:05] hjelmn opened #2953 "Incorrect warning with ucx master"
Seeing this when I set ```UCX_NET_DEVICES```:

[code]

If I set something that doesn't exist in that variable I get the expected warning so it **is** being used:

[code]

[2018-10-13 14:06] yosefe commented on #2953
command line?

[2018-10-13 14:10] hjelmn commented on #2953
Got it with both of these:

```mpirun -n 2 -N 1 --mca pml ucx ./NPmpi```
```mpirun -n 2 -N 1 --mca pml ob1 --mca btl self,vader,uct --mca btl_uct_memory_domains ib/mlx5_0 ./NPmpi```

[2018-10-13 21:01] yosefe commented on #2953
can you try passing "-x UCX_NET_DEVICES=mlx5_0:1,mlx5_3:1" to mpirun instead of "export"?
maybe the warning comes from "mpirun" process

[2018-10-14 03:56] Akshay-Venkatesh commented on #2946
@yosefe Sorry for the delay. Didn't see the notification. Please go ahead and close.

[2018-10-14 04:34] AdamSimpson commented on #2953
I've noticed this same issue regardless of how I set the variable.  It happens with the v1.4.x branch but not with master.

[2018-10-14 08:48] yosefe commented on #2937
closing this, fixed in OMPI

[2018-10-14 08:48] #2937 closed

[2018-10-14 08:50] yosefe commented on #2813
fixed by #2827

[2018-10-14 08:50] #2813 closed

[2018-10-15 11:11] yosefe commented on #2226
@amaslenn did we see this recently?

[2018-10-15 11:12] yosefe commented on #2111
still happens

[2018-10-15 11:16] yosefe commented on #2560
does not reproduce any more

[2018-10-15 11:16] #2946 closed

[2018-10-15 12:06] amaslenn opened #2955 "[mtt] segfault in mpi-small-tests (armcc)"
Configuration
[code]

MTT log: http://hpcweb.lab.mtl.com//hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20181012_012312_44776_8675_hpc-arm-hwi01/html/test_stdout_SQinap.txt

Cmd:
[code]
`mpirun -np 64 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=mlx5_0:1 -mca osc '^ucx' -x UCX_IB_ADDR_TYPE=ib_global -x UCX_IB_REG_METHODS=r

[2018-10-15 12:09] amaslenn commented on #2799
Now test fails with error:
[code]

Reproduction:
[code]
`mpirun -np 64 -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=mlx5_0:1 -mca osc '^ucx' -x UCX_IB_ADDR_TYPE=ib_global -x UCX_IB_REG_METHODS=rcache,direct -x UCX_TLS=all -mca pmix_base_async_modex 0 -mca mpi_add_procs_cutoff 100000 -mca pmix_base_collect_data 1 --map-by node /hpc/

[2018-10-15 12:12] hoopoepg commented on #2799
ob1 has similar failure?

[2018-10-15 12:15] amaslenn commented on #2799
@hoopoepg didn't check, using nodes for repro another issue now.

[2018-10-15 15:27] hjelmn commented on #2953
Actually, this might be v1.4.0 for me as well. I need to see if it was using the system one (v1.4.0) or my build (master).  Its most likely the later as v1.4.0 crashes with multi-threaded codes on aarch64 (the system tested).

[2018-10-15 16:15] shamisp commented on #2923
@yosefe @manjugv BTW, while in this particular shmem_test/wait_until will work it does not really resolve the issue. There is no guarantee that PCIe or IB will do single copy from the NIC to memory.

[2018-10-15 18:09] shamisp commented on #2955
@nSircombe FYI

[2018-10-15 18:38] yosefe commented on #2923
@sameerkm if shmem_test/wait_until wouldn't work, then it should be fixed in SHMEM library, not the test

[2018-10-15 18:42] manjugv commented on #2923
@shamisp I'm not sure what issue we are referring anymore. :) However, I don't think the test requires single copy guarantees.

[2018-10-15 18:44] shamisp commented on #2923
@manjugv memory model discussion.

[2018-10-15 21:16] nSircombe commented on #2955
@amaslenn, Which version of the Arm compiler are you using?
Does this only show up with the Open MPI 4.0.0 RC?
I've not built 4.0.0 with Open UCX yet...

[2018-10-15 22:18] benmenadue commented on #2888
@yosefe No, there's no GPU buffers in this case, the nodes it's running on don't even have GPUs. I've just configured UCX and MPI with CUDA just in case someone wants to use them on our GPU nodes.

It crashes when there's at least 2 ranks, and doesn't matter where the ranks are located (i.e. all on the same node, or on different nodes). But it only crashes when `UCX_TLS` is `rc` or `\rc`:

| `UCX_

[2018-10-15 22:39] benmenadue commented on #2888
On mlx5 hardware it's a bit different - I see 3 different failure conditions. But again, it's only if `shm` is not included. I'm going to do some more testing with just UCX, without MPI, and see if I can still provoke the issue.

| `UCX_TLS` | status |
| - | - |
| `all` | success |
| `rc` | failure 1 |
| `\rc` | failure 1 |
| `rc_x` | failure 2 |
| `\rc_x` | failure 2 |
| `ud` | failure 3 |
| `ud_

[2018-10-15 23:34] Akshay-Venkatesh commented on #2946
@yosefe I forgot to ask -- are other ucp communication calls allowed inside the callback? or is the requirement that no ucp calls be made from within callback functions?

[2018-10-16 07:48] yosefe commented on #2946
communication calls are allowed, but not progress calls

[2018-10-16 08:04] yosefe commented on #2885
opened RM  https://redmine.mellanox.com/issues/1537218 (Mellanox internal link)

[2018-10-16 08:14] amaslenn commented on #2955
@nSircombe
[code]
I don't have results for any other OMPI versions.

[2018-10-16 09:07] #2822 closed

[2018-10-16 22:10] yosefe opened #2963 "Failure to create ibv_context with dc_x/rc_x and 126 ppn"
- lots of hwthreads/node.
- MOFED 4.4 and UCX 1.4 (from the MOFED distro)
- Open MPI 3.1.2.

When running 126 or more MPI ranks/node:
[code]

Setting UCX_TLS to dc or rc - the problem vanishes.
Setting it to dc_x or rc_x the problem reappears.

[2018-10-17 06:43] hoopoepg commented on #2963
not sure about ring_c, but I run another application:
[code]
are there more details about environment?

[2018-10-17 07:36] #2746 closed

[2018-10-17 12:02] amaslenn opened #2964 "[mtt] segfault in hash test"
Configuration
[code]

MTT log: http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20181016_005308_18034_8970_jazz02/html/test_stdout_9B0rMD.txt

This bug is hard to reproduce. Looping the cmd helps (need at least 50 iterations).

Cmd:
`mpirun -np 224 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=mlx5_1:

[2018-10-17 12:03] rfehren commented on #2951
Any idea how I can debug this? This is on our test hardware and without this working we cannot include ucx as a transport for OpenMPI in Qlustar ...

[2018-10-17 12:17] yosefe commented on #2951
@rfehren we're trying to get a hold of mtcha HW to reproduce internally

[2018-10-17 22:09] yosefe commented on #2964
AFAIR this is a bug in the test, do we have the latest version?

[2018-10-17 22:45] yosefe commented on #2888
@benmenadue "failure2" is interesting, looks like the upper layer does not provide a memory key for zero-copy operation,
can you pls collect logs as follows (with np=2):
1. Make sure UCX is compiled without "--disable-logging"
1. When running, add something like this to mpirun: `-x UCX_LOG_LEVEL=data -x UCX_LOG_FILE=/tmp/ucx_%h_%p.log`
(%h will be translated by UCX to the hostname, %p->pid)
1. att

[2018-10-17 23:18] benmenadue commented on #2888
@yosefe Here's the output from one of the two ranks, and I've attached the logs and `ucx_info`.
[code]

[ucx_failure2.tar.gz](https://github.com/openucx/ucx/files/2489609/ucx_failure2.tar.gz)
[ucx_info.tar.gz](https://github.com/openucx/ucx/files/2489610/ucx_info.tar.gz)

[2018-10-18 07:09] yosefe commented on #2888
@benmenadue thanks, we have a bug of passing wrong md_index (always 0) to ucp_dt_iov_copy_uct, here: https://github.com/openucx/ucx/blob/master/src/ucp/proto/proto_am.inl#L191, will make a fix and update.
a quick check would be to replace the '0' in that line with `ucp_ep_md_index(ep, req->send.lane)`
@hoopoepg FYI

[2018-10-18 09:32] amaslenn commented on #2964
@yosefe what is the origin of this test?

[2018-10-18 10:35] amaslenn commented on #2964
@yosefe  Internally stored archive :) So it doesn't get any updates.

[2018-10-18 11:07] yosefe commented on #2951
@rfehren unfortunately it looks like we don't have such old adapters and cables available, can you pls run the test with `UCX_LOG_LEVEL=data` and attach the output?
UCX has to be configured without `--disable-logging`

[2018-10-18 12:08] brminich commented on #2934
New repro:
http://e2e-gw.mellanox.com:4080/hpc/scrap/users/mtt/scratch/ucx_ompi/20181015_205140_10701_208504_clx-hercules-002/

[2018-10-18 14:13] shamisp commented on #2888
@yosefe do we need to backport this to 1.4.x ?

[2018-10-18 14:14] hoopoepg commented on #2888
@shamisp https://github.com/openucx/ucx/pull/2967

[2018-10-18 14:30] shamisp commented on #2888
@hoopoepg , yes just noticed

[2018-10-18 15:48] #2923 closed

[2018-10-18 16:14] nSircombe commented on #2955
so, running with np .NE. 4 this is just calling...
[code]
...is the failure in the finalize?

does it run at 4 PEs

What's the machine this is being run on? ThunderX2?
I can't reproduce the same conditions on the TX2 test machine here, I'll have to move to a bigger machine and try again.

[2018-10-19 00:35] benmenadue commented on #2888
@yosefe #2966 applies cleanly to 1.3.1 and fixes all of the failures reported here. Thanks 😄

[2018-10-19 08:28] brminich commented on #2226
In both cases with log psn counters are: rx_psn=2 neth_psn=1.
This can happen when CREQ arrives after CREP (sent by reply to the own CREQ).
According to the code this should never happen (if no OOO and duplicates). However,  ep_flags=0x78 show that both sides send and received CREQ and CREP.

[2018-10-21 07:27] amaslenn commented on #2955
It was Huawei hosts.

[2018-10-22 10:59] yosefe commented on #2953
fix: #2972

[2018-10-22 13:30] yosefe commented on #2767
Will be fixed in MLNX_OFED 4.5 (fix merged to internal release branch)

[2018-10-22 14:07] brminich commented on #2934
=============================================================Mon Oct 15 21:12:00 2018[1,0]<stdout>:seed value: 1603678378
Mon Oct 15 21:12:00 2018[1,0]<stdout>:iter 0Mon Oct 15 21:12:02 2018[1,0]<stdout>:iter 1

[2018-10-22 14:18] amaslenn opened #2973 "[mtt] Transport retry count exceeded (synd 0x15 vend 0x81) opcode SEND"
Configuration
[code]

MTT log: http://e2e-gw.mellanox.com:4080/hpc/scrap/users/mtt/scratch/ucx_ompi/20181021_034001_6008_213001_clx-hercules-059/html/test_stdout_1vUZev.txt

Cmd:
`mpirun -np 1632 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll ^hcoll --bind-to core -x UCX_NET_DEVICES=mlx5_2:1,mlx5_3:1 -mca osc ^ucx -x UCX_IB_REG_METHODS=rcache,direct -x UCX_TLS=a

[2018-10-22 16:13] shamisp commented on #2767
@yosefe can you please share the release through Casey ?

[2018-10-23 10:47] yosefe commented on #2973
It's https://redmine.mellanox.com/issues/1534913

[2018-10-23 11:56] rzambre opened #2975 "ucx_info -d not showing rc_mlx5 transport"
x86 platform
MOFED 4.4-2.0.7

[code]

What could be the reason why the `rc_mlx5` transport isn't being set?

I configured ucx-master using `../contrib/configure-release --prefix=/home/rzambre/install/ucx-master` and this is the output
[code]

[2018-10-23 12:05] yosefe commented on #2975
@Artemy-Mellanox could it be the missing include in mlx5dv.h?

[2018-10-23 12:58] #2928 closed

[2018-10-23 13:03] rzambre commented on #2975
On the machine that I am running on, there is no mlx5dv.h file in the standard path

[code]

Does a default MOFED installation result in the mlx5dv.h file under the standard include directory?

[2018-10-23 13:11] Artemy-Mellanox commented on #2975
It should be there. Could you please upload config.log file created by configure. Also which linux distro are you using?

[2018-10-23 14:09] rzambre commented on #2975
Here is the log: [config.log](https://github.com/openucx/ucx/files/2506437/config.log)

The linux distro is RHEL 7.5
[code]

[2018-10-23 15:29] Artemy-Mellanox commented on #2975
can you please check what happens with mlx5 devel package
rpm -qil libmlx5-devel
looks like it's missing
maybe something wrong went with MOFED install

[2018-10-23 15:45] rzambre commented on #2975
Yes, libmlx5-devel is not installed on the system
[code]
I will get in touch with the system administrator. Thank you!

[2018-10-23 15:45] #2975 closed

[2018-10-23 17:40] Akshay-Venkatesh opened #2976 "Memory location of send buffer from ucp_tag_recv_info passed to ucp_tag_probe_nb"
Is there a way to query location from probe? I don't believe it's possible to do this with ucp_tag_recv_info alone.

After probing, I prefer to allocate some memory on the GPU or reuse some buffer on the GPU should I see that the source location is on the GPU as well. Then I want to call `ucp_tag_msg_recv_nb` or `ucp_tag_recv_nb`.  Especially when I can use NVLINK for device-to-device transport.

[2018-10-23 21:00] #2953 closed

[2018-10-23 21:00] yosefe commented on #2953
@hjelmn @AdamSimpson FYI should be fixed now with UCX master

[2018-10-23 21:19] rzambre opened #2979 "Question on perftest's design for tag_bw"
My understanding of the ucx_perftest design for the `tag_bw` test is that a posted receive is completed before the next receive is posted. This is unlike send requests where multiple are posted and are progressed only when the number of outstanding ones crosses the maximum allowed outstanding requests.

Why cannot the receives be posted in a similar fashion as the sends, that is, why cannot we pro

[2018-10-24 08:12] yosefe commented on #2885
to add AH cache

[2018-10-24 08:12] brminich commented on #2934
https://redmine.mellanox.com/issues/1537218

[2018-10-24 08:34] evgeny-leksikov opened #2981 "test_ucp_sockaddr_with_rma_atomic.wireup failure"
gtest test_ucp_sockaddr_with_rma_atomic.wireup fails when the node under high load

[2018-10-24 12:58] rfehren commented on #2951
Let's close this for now. I ran  with 1.3.1 under CentOS 7.5 and get the error below. I think even if we fixed the original error, we'd afterwards run into this as well. HW is just too old I guess ...

[beo-11:1532 :0:1532] rc_verbs_iface.c:63   FATAL: send completion with error: local QP operation error
==== backtrace ====
    0  /lib64/libucs.so.0(ucs_log_default_handler+0x1ff) [0x7f8a7d0f948f]

[2018-10-24 12:58] #2951 closed

[2018-10-24 21:52] shamisp opened #2985 "v1.4.0 gtest failure with tcp"
[code]

[2018-10-25 16:33] rzambre opened #2992 "Any way to get which thread is calling ucp_send_callback_t?"
If I have multiple threads calling independent `ucp_tag_send_nb` (i.e. on completely separate endpoints), and the send call returns in an outstanding request, is there a way for me to find out which thread is calling the send callback?

The goal is to have a max number of outstanding requests per thread. So, in the send callback I would want to decrement the outstanding-requests counter of the thr

[2018-10-25 19:46] shamisp commented on #2985
@yosefe , I was under impression we resolved this one:
[code]

[2018-10-25 23:15] minsii opened #2994 "Query supported features at UCP layer"
Hello, we are adding the atomics feature into MPICH/CH4/UCX.

We found that, on `mlx4` platform, the `UCP_FEATURE_AMO32` feature is not supported. If adding both `UCP_FEATURE_AMO32 | UCP_FEATURE_AMO64` at `ucp_init`, then `ucp_ep_create` fails with error `UCS_ERR_UNREACHABLE`.

To ensure our code can run on platform that may or may not support atomic or a subset of the atomic features, we will nee

[2018-10-26 08:06] brminich commented on #2992
In what thread do you call `ucp_worker_progress` function? This one should invoke comp callbacks.

As for request_init callback, it is invoked only once at the very beginning. You need to reset/reinit all the needed fields, before to release it back to UCX. Below is the relevant documentation:
[code]
You can check usage example [here](https://github.com/openucx/ucx/blob/0c86fc0e44d67636118702302b2

[2018-10-26 09:28] yosefe commented on #2985
@shamisp it may be smth else, can you pls post output with UCX_LOG_LEVEL=DEBUG?

[2018-10-26 09:32] yosefe commented on #2976
sounds like you are trying to run custom rndv protocol, maybe use ucp_get to transfer the data?

[2018-10-26 10:49] pavanbalaji commented on #2994
Thanks, @yosefe.  But perhaps the request here should be considered for all features, rather than just the atomic32 feature, but rather for any feature.  Unless there’s a commitment that every single feature is going to be supported on every hardware (potentially through software emulation), which is probably unrealistic, I think a query or fallback functionality, similar to what Min suggested, wo

[2018-10-26 16:16] shamisp commented on #2994
@pavanbalaji I think the goal from now and going on to cover all the gaps with the emulation layer.

[2018-10-26 16:32] shamisp commented on #2994
@pavanbalaji It will show up in v1.5.0.

We branched v1.4.x in August way before the emulation was introduced.
The good news - we plan to branch for 1.5.x shortly after 1.4.0 release.

Target release date for 1.5.0 is end of November / beginning of December.

[2018-10-26 18:05] Akshay-Venkatesh commented on #2976
So your suggestion is instead of

Scenario 1:
probe on the receiver side; tag_send on the sender side (with payload)

use

Scenario 2:
tag_send (payload_info) on sender side +  tag_recv (fin) ; tag_recv(payload_info) + ucp_get(payload) + tag_send(fin)

Is that right? This is rendezvous get protocol right? If so, that would work but the number of control messages have increased. Also, `ucp_get` wou

[2018-10-26 19:02] shamisp commented on #2985
Looks like the same:
[code]

[2018-10-26 21:15] bureddy commented on #2919
https://github.com/openucx/ucx/pull/2995

[2018-10-28 08:01] yosefe commented on #2973
closing per  https://redmine.mellanox.com/issues/1534913 (Mellanox internal link)

[2018-10-28 08:01] #2973 closed

[2018-10-29 12:58] yosefe opened #3000 "failure in test_rcache_stats.unmap_dereg"
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-test-node2,worker=1/8131/consoleFull
with valgrind
[code]

[2018-10-30 14:22] rzambre commented on #2992
Thank you, @brminich. A couple of follow-up questions.

(1) I can call `omp_get_thread_num` inside the callback and decrement the respective thread's counter of outstanding requests. But this works only when each thread has its own UCP worker. When the multiple threads have their own UCP endpoint but share the the UCP worker, the above approach cannot work since thread i could be reading thread j'

[2018-10-30 14:37] rzambre commented on #2979
Yes, you are right. Thank you, @yosefe.

[2018-10-30 14:37] #2979 closed

[2018-10-30 15:24] rzambre commented on #2992
If the request_init is being called on a chunk basis as opposed to a per-request basis, then it wouldn't be possible to propagate correct tag information for a future `ucp_tag_send_nb`, correct? If the `ucp_tag_send_nb` of thread_i results in chunk allocation of request objects, then thread_i doesn't know which thread will be calling `ucp_tag_send_nb` next and hence wouldn't know what tag informat

[2018-10-30 15:31] brminich commented on #2992
I meant that every time you get a request from `ucp_tag_send_nb` function, you'd need to save a tag in your part of the request, like below:
[code]

[2018-10-30 16:04] rzambre commented on #2992
Got it, makes sense. Thank you!

[2018-10-30 16:04] #2992 closed

[2018-10-31 08:37] #2981 closed

[2018-10-31 09:13] hoopoepg commented on #2799
fixed via https://github.com/openucx/ucx/pull/2969

[2018-10-31 09:13] #2799 closed

[2018-10-31 09:13] hoopoepg commented on #2886
fixed via https://github.com/openucx/ucx/pull/2969

[2018-10-31 09:13] #2886 closed

[2018-10-31 09:14] hoopoepg commented on #2955
fixed via https://github.com/openucx/ucx/pull/2969

[2018-10-31 09:14] #2955 closed

[2018-10-31 11:46] vmaffione opened #3004 "AUR package added for UCX"
If it can be of any interest, I just created an AUR package for Archlinux https://aur.archlinux.org/packages/openucx/

[2018-10-31 11:46] #3004 closed

[2018-10-31 12:50] shamisp commented on #3004
@vmaffione - thanks for doing this ! please let us know if you see any issues.

[2018-10-31 13:21] Artemy-Mellanox opened #3005 "failure in ud/test_ud_slow_timer.ep_destroy/0"
[code]

[2018-10-31 13:43] vmaffione commented on #3004
Sure. I did this because it's the only way I could find to make openmpi work over Infiniband.
The old "openib" openmpi backend does not work on Arch.

[2018-10-31 20:52] shamisp commented on #2985
@yosefe reminder

[2018-11-01 06:20] brminich opened #3007 "hang in dc_mlx5/uct_p2p_mix_test.mix_10000/0 on hpc-test-node-upstream,1"
[code]

[2018-11-01 06:33] brminich opened #3008 "hang in dc_mlx5/uct_amo_cswap_test.cswap64/0"
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/8153/label=hpc-test-node-upstream,worker=0/console

[code]

[2018-11-01 06:37] brminich opened #3009 "failure in rdmacm/test_md.sockaddr_accessibility/0"
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/8156/label=vulcan-jenkins,worker=0/console

[code]

[2018-11-01 07:07] yosefe commented on #2985
@shamisp can you please run with UCX_LOG_LEVEL=data and upload the log?

[2018-11-01 07:15] #2885 closed

[2018-11-01 07:38] yosefe commented on #3008
duplicate of #3007 - dci hang on upstream

[2018-11-01 07:39] #3008 closed

[2018-11-01 10:26] Artemy-Mellanox opened #3010 "failure in signal/test_async_timer_mt.multithread"
[code]

[2018-11-01 13:07] yosefe commented on #3005
@evgeny-leksikov looks like need to wait longer / for a condition in the test

[2018-11-01 13:57] yosefe commented on #2963
according to latest note from Howard, "we now think this is a Open MPI bug"

[2018-11-01 14:05] yosefe commented on #3009
closing, probably setup issue

[2018-11-01 14:05] #3009 closed

[2018-11-01 15:11] brminich commented on #2934
PFC was not configured properly. Needs to be checked with
/hpc/local/bin/lossless_roce_hca.sh script next time.  Need to be sure that the following line is shown:
`Priority trust state is cofigured to Lossless: dscp`

[2018-11-02 07:18] brminich opened #3014 "failure in rc/test_tag.tag_rndv_zcopy_expected/0"
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/8167/label=hpc-arm-hwi-jenkins,worker=1/consoleFull#-9377694544550c5d-247a-4f9d-bad5-5b93d2b6e2ac

[code]

[2018-11-02 09:48] #3000 closed

[2018-11-02 09:49] #2919 closed

[2018-11-04 13:49] #3010 closed

[2018-11-05 11:20] amaslenn opened #3020 "[mtt] Assertion `gid->global.interface_id != 0' failed"
Configuration
[code]

MTT log: http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20181104_102627_14859_11241_hpc-polar-01-vm001/html/test_stdout_JGyMwA.txt

Cmd:
`mpirun -np 2 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=mlx5_0:1 -mca osc ucx -x UCX_IB_ADDR_TYPE=ib_global -x UCX_IB_REG_METHODS=rcache,

[2018-11-05 12:10] amaslenn commented on #2934
See this one on Jazz as well: http://hpcweb.lab.mtl.com//hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20181102_132321_6230_11161_jazz23/html/test_stdout_XZb7E6.txt
Also reproduced manually, second run hung on `iter 412` (`seed value: 728689391`).
According to the script, jazz is lossless.

[2018-11-05 20:35] #3020 closed

[2018-11-05 21:14] shamisp opened #3023 "shmget(size=1044381696 flags=0xfb0) for uct_test failed: Operation not permitted"
On Softiron:

[code]

[code]

[2018-11-05 21:15] shamisp commented on #3023
@yosefe this error started to show up on master.

[2018-11-05 21:46] shamisp commented on #2985
It does not complain on master. So I'm closing this one for now.

[2018-11-05 21:46] #2985 closed

[2018-11-06 06:33] brminich commented on #2934
Did you check on all nodes?

[2018-11-06 07:38] amaslenn commented on #2934
Yes, all nodes in my allocation (reproduced manually) had lossless configured.

[2018-11-06 12:10] amaslenn commented on #2934
I also see a hang in `atest`. Usually test takes <5 min, but sometimes it doesn't finish in 10+ min.

Configuration
[code]

MTT log: http://hpcweb.lab.mtl.com//hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20181105_191717_143621_11334_jazz13/html/test_stdout_zscHGH.txt

Cmd:
`mpirun -np 280 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX

[2018-11-06 13:42] amaslenn opened #3025 "[build] failed to build on Ubuntu 17.10"
Configuration:
Ubuntu 17.10
MLNX_OFED_LINUX-4.4-1.0.0.0
UCX version (latest master):
[code]

Reproducation:
[code]

Output:
[code]

[2018-11-06 13:53] hoopoepg commented on #2964
fix:
[code]

[2018-11-06 16:59] yosefe commented on #2815
@rzambre @shamisp can you provide more details about the benchmark you are running? is it ucx_perftest? we want to look into optimizing this.

[2018-11-06 17:11] rzambre commented on #2815
@yosefe yes, it was the ucx_perftest benchmark. You can see the difference with `-t put_bw` and `-t am_bw`

[2018-11-06 17:15] shamisp commented on #2815
@rzambre I remember you did some benchmarking showing that after some threshold ```put_bw``` is always going through "retry" flow. AKA you have to pull CQ before you actually can post WQE.

[2018-11-06 17:21] rzambre commented on #2815
Yes, I had just used print statements in the benchmarks to verify. I had put a `printf("%d\n", m_send_b_count);` at https://github.com/openucx/ucx/blob/master/src/tools/perf/uct_tests.cc#L279. After a certain number of posts, the printf statement will show `status == UCS_ERR_NO_RESOURCE` after every post.

[2018-11-07 15:20] hanyunfan commented on #2702
What's the solution to this issue?

[2018-11-07 15:33] yosefe commented on #2702
@hanyunfan it's fixed in #2775

[2018-11-08 08:09] amaslenn opened #3027 "[mtt] Failed to resolve UCX endpoint"
Configuration
[code]

MTT log: http://e2e-gw.mellanox.com:4080/mnt/lustre/users/mtt/scratch/ucx_ompi/20181107_224813_28912_228223_clx-orion-051/html/test_stdout_HBEGX8.txt

Cmd:
`mpirun -np 2 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=mlx5_4:1 -mca osc ucx -x UCX_IB_ADDR_TYPE=ib_global -x UCX_IB_REG_METHODS=rcache,d

[2018-11-08 14:05] yosefe commented on #2964
@amaslenn can we close this since MTT is already running a fixed test?

[2018-11-08 14:42] #3005 closed

[2018-11-08 18:01] #3025 closed

[2018-11-09 02:30] Kur0x opened #3030 "No cudaIpcCloseMemHandle called in cuda_ipc"
cuda ipc failed after contiguous zcopy with increasing buffer size. Although I reg(`cudaMalloc ` `uct_md_mem_reg`) and dereg(`uct_md_mem_dereg` `cudaFree`) each loop, but it always fails after several loop.
![image](https://user-images.githubusercontent.com/9768369/48239299-53688f00-e409-11e8-80c0-a0bc0bc47ca3.png)
When I dig into the code, I found that there is no `cudaIpcCloseMemHandle` called i

[2018-11-09 10:14] #3027 closed

[2018-11-09 17:14] Akshay-Venkatesh commented on #3030
@Kur0x Can you please provide the code that you're using to reproduce this error? You're indicating you use `uct_md_mem_reg` to dereg. I hope that's a typo.

Also, we use driver API `cuIpcCloseMemHandle` in uct code. `uct_md_mem_reg` and `uct_md_mem_dereg` doesn't translate to opening and closing cuda ipc memory handles. Opening occurs when rkey is unpacked and deferred to the point of first trans

[2018-11-09 17:44] #2815 closed

[2018-11-12 12:44] amaslenn commented on #2964
Just updated on testing config.

[2018-11-12 12:44] #2964 closed

[2018-11-12 13:56] bertwesarg opened #3038 "Can't get KNEM to work"
UCX 1.4.0

I'm trying to get UCX working with knem on a single node.

# KNEM

Installing KNEM worked:

[code]

Running KNEM tests:

[code]

# UCX

Configuring UCX 1.4.0 with KNEM results in:

[code]

Full log here: https://gist.github.com/bertwesarg/5c7e9fecefa08d969f2f64e1dc2a3c5e

# Running

Running `ucx_perftest` in client/server mode without any env vars set result in very long run without any

[2018-11-13 10:49] Kur0x commented on #3030
`uct_md_mem_reg` is a typo.(fixed)

Here is the `nvprof` result. I called `cuMemAlloc` 101 times and `cudaFree` 113 times. But `cuIpc*MemHandle` shows much less.
[code]

[2018-11-13 13:43] yosefe commented on #3038
Without any special configuration, UCX would already pick up knem (assuming it's compiled with knem support). In order to force using knem, pls use: "UCX_SHM_DEVICES=posix,sysv,knem", because posix/sysv are also needed for small (eager) messages.

If this doesn't help, can you pls attack full command line for ucx_perftest, and the output of `env UCX_SELF_DEVICES="" ucx_info -d -epw -u t`

[2018-11-13 18:34] bertwesarg commented on #3038
As advertised by `README`.

[2018-11-13 18:38] bertwesarg commented on #3038
When using different CPU affinity, than at least the tests runs through _fast_:

[code]

But it still does not use knem.

[2018-11-14 00:29] Akshay-Venkatesh commented on #3030
@Kur0x `cuIpc*Mem*` is expected to be less than `alloc/free` because a caching mechanism avoids opening/closing of memhandles when it's possible to reuse an existing mapping.

[2018-11-14 01:41] Kur0x commented on #3030
@Akshay-Venkatesh It seems caching mechanism goes wrong. When the buffer size decreasing test goes fine, when the buffer size increasing test goes wrong. I think it may because when buffer increasing, mapping become invalid, but caching mechanism doesn't update it.
Here is the gtest case. `j *sizeof(float)` is the buffer size.
![image](https://user-images.githubusercontent.com/9768369/48453754-9e1

[2018-11-14 02:52] Akshay-Venkatesh commented on #3030
@Kur0x would it be possible to provide a small MPI reproducer?
I'm using the [following](https://gist.github.com/Akshay-Venkatesh/ff34ea8f190625917651d889e400717b) to reproduce your conditions but I don't see an error. Can you check at your end?
I run using:
[code]
where hostfile is:
[code]

[2018-11-14 03:16] yosefe commented on #3038
@bertwesarg the default size ucx_perftest uses is 8 bytes. it is not efficient to use knem for such small size, so it's not used by ucx. pls try passing "-s 327678" to perftest command line to use larger message size, which would use rendezvous protocol with knem.

[2018-11-15 03:45] Akshay-Venkatesh opened #3042 "ucp_listener_create doesn't work even though I have tcp transport running with UCX build"
I'm building UCX on my laptop and it has the following UCTs:
[code]
I compiled ucp_server_client.c in `test/examples` using the following command:
[code]
I see the following error when I try to start the server:
[code]
I should be able to listen with `tcp` UCT right? `ucp_hello_world` works BTW.

[2018-11-15 06:38] brminich commented on #3042
You would need rdmacm for client-server connection establishment. Below is an example of `ucx_info -d ` output on my machine:
[code]

[2018-11-15 07:35] Akshay-Venkatesh commented on #3042
Thanks @brminich

Does this mean that the feature is missing for `tcp` UCT?

[2018-11-15 07:46] brminich commented on #3042
yes

[2018-11-15 14:21] #2915 closed

[2018-11-15 15:02] Akshay-Venkatesh commented on #3042
Thanks. It would be very useful to have this feature.

[2018-11-16 16:02] shamisp commented on #3042
@brminich @yosefe - Yeah, I would consider this as a "hole" in emulation layer. We need to put this on features list.

[2018-11-18 04:19] amaslenn opened #3045 "[mtt] slow execution with lanes in OSU"
Configuration
[code]

MTT log: http://e2e-gw.mellanox.com:4080/mnt/lustre/users/mtt/scratch/ucx_ompi/20181116_231231_21435_232844_clx-hercules-031/html/test_stdout_dzA5OQ.txt

Works well with `-x UCX_MAX_EAGER_LANES=1 -x UCX_MAX_RNDV_LANES=1`.

Cmd (original NP=32):
`mpirun -np 4 -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=mlx5_2:

[2018-11-20 08:46] bertwesarg opened #3046 "CMA most likely requires changes to kernel.yama.ptrace_scope"
The `process_vm_readv`/`process_vm_writev` syscalls require permissions which are controlled by the `kernel.yama.ptrace_scope` sysctl. Though I could not find any hints to check this value in the documentation. Could you please mention them at least somewhere. Please note, that Open MPI checks the value at runtime, if it uses CMA directly, but not when implicitly using it through UCX.

I have a ba

[2018-11-20 09:34] yosefe commented on #3045
hercules was not lossless

[2018-11-20 09:34] #3045 closed

[2018-11-20 09:35] yosefe commented on #3014
probably need to increase timeout

[2018-11-20 09:37] yosefe commented on #3007
probably duplicate of #2934

[2018-11-20 13:43] angainor opened #3047 "Question about completion in UCP tag send/recv"
Hi!

I'm writing some simple UCX programs in a quest to understand how the library works. One thing I looked at in particular is bandwidth and progress of UCP tag send / recv requests on our ConnectX-4 system (UCX 1.4). This is the endpoints I create on two different compute nodes:

[code]
I'm allocating and registering a 10GB buffer `ptr`using `ucp_mem_map`, and send it in `nmsg` steps using `ucp

[2018-11-20 15:13] yosefe commented on #3047
@angainor i would suggest to run the test with UCX_LOG_LEVEL=data and observe the sent/received messages along with their timings to shed more light on this (UCX has to be configured in devel mode by ./contrib/configure-devel, or at least with --enable-logging). Can you pls attach the resulting log files (ranks0,1)?

[2018-11-20 19:41] angainor commented on #3047
@yosefe Here is the output of my progress loop with stamp time included

[code]
In the above test I've submitted 50 messages - all of them send / recv the same, 1GB buffer. Hope it does not matter - it was easier to test since I needed to allocate less memory. The `usleep` in the progress loop was set to 1s, which corresponds to ~10GB of data. You can see that each progress call reports 10 active

[2018-11-21 06:04] amaslenn opened #3049 "[mtt] OOM on SRIOV setup"
Configuration
[code]

MTT log: http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/shmem/20181119_184519_27486_12519_hpc-polar-01-vm001/html/test_stdout_X5NYvx.txt

Cmd:
`oshrun -np 24 -mca btl self --bind-to core -mca oshmem_proc_group_cache_size 10000 -x UCX_NET_DEVICES=mlx5_0:1 -mca osc ucx -x UCX_IB_ADDR_TYPE=ib_global -x UCX_RC_VERBS_TM_ENABLE=n -x UCX_DC_VERBS_TM_ENABLE=n -mca sshmem m

[2018-11-21 06:55] amaslenn opened #3050 "[mtt] ERROR: failed to create rc QP TX: Invalid argument"
Configuration
[code]

MTT log: http://e2e-gw.mellanox.com:4080/hpc/scrap/users/mtt/scratch/ucx_ompi/20181117_153304_6132_232975_clx-hercules-031/html/test_stdout_5ZroVS.txt

Cmd:
`mpirun -np 3136 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=mlx5_2:1,mlx5_3:1 -mca osc '^ucx' -x UCX_IB_REG_METHODS=rcache,direct -x UCX_T

[2018-11-21 10:18] yosefe commented on #3049
pls reboot polars, and check free mem is increased. it's rdmacm memleak to be fixed with mofed 4.5

[2018-11-22 05:27] brminich opened #3052 "failure in shm_ib/test_ucp_perf.envelope/0"
Happened with valgrind here: http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/8264/label=hpc-test-node-upstream,worker=0/consoleFull#-853622487b816df86-9afc-46eb-984f-1a9a125d73bb

[code]

Can be related to #2089 or #2354

[2018-11-22 05:43] amaslenn commented on #3049
Reboot added ~5-6 GB on each host.

[2018-11-22 08:37] #3049 closed

[2018-11-22 09:42] yosefe commented on #3052
@brminich seems it's without valgrind:
[code]
in case of valgrind it would have been `[test-valgrind]`

[2018-11-22 10:09] brminich commented on #3052
ok, did not notice that.

[2018-11-22 10:41] angainor commented on #3047
@yosefe I've had a closer look at this, this time on our older FDR system. I see a significant difference in behavior when allocating the buffer using `malloc`  vs `ucp_mem_map`. With the former method the send and recv completion callbacks are nicely interleaved, except for a long, initial stage where I only observe recv completion. With the latter buffer allocation the send completion is done ir

[2018-11-24 22:40] #3050 closed

[2018-11-26 00:04] #3052 closed

[2018-11-27 04:46] amaslenn opened #3063 "[mtt] UCX emulation: hang in oshmem_test"
Configuration
[code]

MTT log: http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/shmem/20181126_174635_147242_12791_jazz01/html/test_stdout_lC6y4d.txt

Doesn't always reproduce, had to put cmd in a loop.

Cmd:
`oshrun -np 168 --debug-daemons --display-map --report-bindings -mca btl self --bind-to core -mca oshmem_proc_group_cache_size 10000 -x UCX_NET_DEVICES=mlx5_0:1 -mca osc ucx -mca ssh

[2018-11-27 15:47] rzambre opened #3066 "Querying max number of entities in UCP?"
This is a question: is there a way to query the maximum number of UCP workers or UCP contexts I can create instead of finding out the limit programmatically? This could be useful when the UCX user needs to create a pool of resources during initialization.

[2018-11-29 10:19] angainor commented on #3047
@yosefe About the never arriving completion on the sender-side: it turns out that it was a problem with my progress loop. I had to flush the worker on the receiver after all receive requests completed. This made sure that, ultimately, all requests also completed on the sender.

But I still can't achieve a more regular rate of the send request completion. This is problematic for large messages. Is

[2018-12-01 14:52] yosefe commented on #3063
@amaslenn pls close if the issue is indeed fixed

[2018-12-02 03:44] amaslenn commented on #3063
Test passed with the fix.

[2018-12-03 05:27] amaslenn opened #3075 "[mtt] segfault in un_contiguous on Allgatherv 'MPI_DOUBLE_INT' test"
Configuration
[code]

MTT log: http://e2e-gw.mellanox.com:4080/mnt/lustre/users/mtt/scratch/ucx_ompi/20181130_102613_4654_241190_clx-hercules-037/html/test_stdout_V1n5bT.txt

Test fails on `Allgatherv 'MPI_DOUBLE_INT' with 1000 iterations`. Test passes with NP<=2040, or with NP=2041 and reduced number of iterations. Looks like test issue.

Original cmd:
`mpirun -np 2944 --display-map -mca btl self

[2018-12-03 21:02] #2792 closed

[2018-12-04 15:20] yosefe commented on #1247
fixed in perftest run_recurs

[2018-12-04 15:20] #1247 closed

[2018-12-04 15:21] yosefe commented on #2767
@shamisp @rzambre  MLNX_OFED 4.5 with the fix is available from Mellanox website

[2018-12-05 05:57] brminich opened #3081 "failure in test_ucp_peer_failure.zcopy/3"
happened in http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/8386/label=hpc-test-node3,worker=3/consoleFull#-853622487b816df86-9afc-46eb-984f-1a9a125d73bb

[code]
And

[code]

[2018-12-05 16:41] hjelmn opened #3084 "UCP Initialization Fail on Cray"
Right now UCP is trying to send a message of 145 bytes using the datagram protocol when the limit is 128 bytes. This leads to the following error:

[code]

Just documenting the bug. I will not try to fix it.

[2018-12-05 16:43] hjelmn commented on #3084
@yosefe Who can fix this? I plan to just document this in Open MPI and point users at the documentation if they try to use UCX on a Cray.

[2018-12-05 20:56] shamisp commented on #3084
@yosefe @MattBBaker we fixed it in the past ? Can we have hardcoded assert when people bloat it ?
@hjelmn FYI, LANL will be adding full UCX regression for Cray. One way or another we have to fix this.

[2018-12-06 13:18] yosefe commented on #2226
@amaslenn does it still happen after @brminich 's new assertion?

[2018-12-06 13:33] amaslenn commented on #2226
@yosefe no, haven't seen it for a while.

[2018-12-10 05:51] MattBBaker commented on #3084
Unfortunately the assert only helps if you're trying to hit it with ugni. The UCP wireup protocol will have to be fixed to do something smart when it's aux transport is too small. I see some code in there sketching out something for a multipart wireup?

[2018-12-10 06:22] amaslenn opened #3087 "[mtt] UCX Fatal: transport error: Endpoint timeout"
Configuration:
[code]

MTT log: http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/hcol/20181209_115212_20832_13447_hpc-polar-01-vm001/html/test_stdout_S5IxYH.txt

Issue doesn't always reproduce. Had to use at least 20-30 iteration with NP=12, with NP=24 it appears more often.

Cmd (original np=24):
`mpirun -np 12 -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll'

[2018-12-10 07:15] amaslenn commented on #3063
Cmd:
`oshrun -np 168 --debug-daemons --display-map --report-bindings -mca btl self --bind-to core -mca oshmem_proc_group_cache_size 10000 -x UCX_NET_DEVICES=mlx5_0:1 -mca osc ucx -mca sshmem mmap -mca spml_ucx_heap_reg_nb 0 -mca coll '^hcoll' -mca coll_hcoll_enable 0 -mca spml ucx -mca pml ucx -x UCX_TLS=ud_x --map-by node --mca scoll_basic_barrier_alg 2 --mca scoll_basic_broadcast_alg 0 --mca sco

[2018-12-10 07:45] amaslenn opened #3088 "[mtt] segfault in ibm/sendrecv_big test"
Configuration
[code]

MTT log: http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20181209_155831_117609_13454_jazz04/html/test_stdout__zwguI.txt

Cmd (original NP=84):
`mpirun -np 2  -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=mlx5_0:1 -mca osc '^ucx' -x UCX_IB_REG_METHODS=rcache,direct -x UCX_TLS=ud,self,sm -mca

[2018-12-10 07:47] amaslenn commented on #3088
This test is very new: https://github.com/open-mpi/ompi-tests/pull/93 && https://github.com/open-mpi/ompi-tests/pull/92

[2018-12-11 20:22] shamisp commented on #2700
@yosefe this is the ticket that @hjelmn just mentioned

[2018-12-11 22:19] minsii commented on #2994
@shamisp @yosefe I have one more question about the emulation layer for atomics in v1.5.0. According to the UCX 1.4 spec and source code of 1.4 release, an atomic operation is valid only when meet all the following conditions (please correct me if any of my assumption is wrong):
- Data size is 4 or 8 bytes
- Remote address is aligned with data size
- The combination of <datatype, op> can only be:

[2018-12-12 14:54] yosefe commented on #2994
@minsii  the emulation layer (which is already part of UCX v1.5.0) is not designed to remove these limitations, since it's more of an API specification limitation. The reason it's currently defined this way is to be compliant with OpenSHMEM specification, which defines only 4/8 byte atomics.
is there a need to have also 1-byte (or other) atomics in UCX?

[2018-12-12 15:00] yosefe commented on #2700
@hjelmn @shamisp the UCM global lock issue was fixed in latest UCX by using binary instrumentation based malloc hooks

[2018-12-12 15:00] #2700 closed

[2018-12-12 15:02] #2767 closed

[2018-12-12 16:10] minsii commented on #2994
In MPI standard, we do not have bytes-limitation for RMA atomics, but we limit the basic datatypes that can be used for each atomic operation. For 1-byte example, we support `cswap with byte type`. For larger bytes example, we support `add with arbitrary count of integers (or floating point)`.

I do not think UCX have to support all MPI-supported atomics in the emulation layer, instead, we would l

[2018-12-13 07:13] hoopoepg commented on #3088
@karasevb here is crash stack, could you look?
[test_stdout_3HwxUy.txt](https://github.com/openucx/ucx/files/2674846/test_stdout_3HwxUy.txt)

[2018-12-13 16:48] shamisp commented on #3084
It was discussed during f2f. I think we have path forward to fix this.

[2018-12-13 16:50] shamisp commented on #3046
I think we need to add similar permission check. @yosefe any thoughts ?

[2018-12-13 16:51] shamisp commented on #3038
Where are we standing on this issue ?

[2018-12-13 18:00] shamisp commented on #2994
@minsii are you asking about atomics supported by underlaying network devices or UCX ? UCX implements emulation layer (over active messages) which virtually can enable any atomic supported by underlaying CPU architecture ?

@yosefe I think for MPI_Info it might be useful to expose some of the underlaying capabilities (in hardware), emulation etc. We talked about this in early days of UCX.

[2018-12-13 18:51] minsii commented on #2994
@shamisp I was asking the atomics support/limitation in UCX since I am implementing MPICH's RMA atomics on top of UCX, thus we have to rely on the atomics semantics defined by UCX.

However, based on the above conversation, I am a little concerned about the emulation strategy in UCX. As you mentioned, the emulation layer can eventually support all atomics. But all of them have to go through active

[2018-12-14 00:46] shamisp commented on #2994
@minsii You are right to be concerned. It is even more complicated - once emulation was enabled, it must be enabled for all PEs, which we may not have control over.

@yosefe I don't remember how do we deal with this today ? I guess once emulation is enabled or HW offloads are disabled ?

@minsii during initialization we let the user pass a configuration argument (similar to MPI info) that let's re

[2018-12-14 12:56] hoopoepg commented on #3075
out-of-memory issue

[2018-12-14 12:56] #3075 closed

[2018-12-14 13:00] hoopoepg commented on #3088
out-of-memory, test requires 61Gbyte per rank of memory

[2018-12-15 03:42] shamisp commented on #2994
@minsii so, what we have today does not fit well with MPICH. We allow user to pass the information about AMOs during library initilization only. For MPICH you need something like this but on memory region (rkey) granularity. In theory , it can be done. The challenge is that all PEs accessing this region have to agree on the same path...

[2018-12-15 04:01] minsii commented on #2994
@shamisp maybe we can consider an alternative option:
- At UCX init time, MPICH tells UCX that only enable native atomics. Then UCX needs to return the list of enabled atomics (`ucx_enabled_atomics`).
- At MPICH window creation time, MPICH chooses native atomics (i.e., using UCP AMO API) or active message (i.e., using send/recv) for that window by comparing user info with `ucx_enabled_atomics`.

I

[2018-12-15 17:56] minsii commented on #2994
@shamisp Good point. We do also see similar situation in MPICH/OFI stack that both MPICH and OFI have their own internal active message. In MPICH, we disable OFI's progress thread, and let MPICH's progress engine to make progress for both layers' active messages.

[2018-12-16 09:33] yosefe commented on #2994
@shamisp @minsii the problem now is that UCX API atomics are following OpenSHMEM specification, rather than MPI RMA. Today, IMHO the way to go is to use UCX atomics for a particular MPI window if we know they are only going to be 32/64 bit, and fallback to active messages (on top of ucp_tag API) otherwise.
@shamisp We should think about extending UCX to support general atomics to fit MPI needs.

[2018-12-16 09:35] yosefe commented on #3075
@hoopoepg how can out-of-memory cause segfault? AFAIK OOM killer sends SIGKILL?

[2018-12-16 09:35] yosefe commented on #3088
@hoopoepg how can out-of-memory cause segfault? AFAIK OOM killer sends SIGKILL?

[2018-12-16 09:36] yosefe commented on #3038
@bertwesarg ping

[2018-12-16 09:38] yosefe commented on #3046
@shamisp agree, will add to TODO

[2018-12-16 09:44] hoopoepg commented on #3075
@yosefe test is failed to allocate memory and crashed on access to NULL pointer

[2018-12-16 09:46] hoopoepg commented on #3088
@yosefe we discussed this issue with Andrey, crash stack is not relevant for this issue: actual log is attached.

[2018-12-16 09:53] yosefe commented on #3075
@hoopoepg weird, why would allocation fail? AFAIK it should go to swap or invoke OOM killer if memory is locked/pinned. Hard to believe virtual memory is limited only 61GB..
see https://www.quora.com/What-are-the-possible-ways-malloc-might-fail-Consider-malloc-code-doesnt-have-any-bugs

[2018-12-16 09:55] yosefe commented on #3088
according to [latest log](https://github.com/openucx/ucx/issues/3088#issuecomment-446865789) there is heap corruption, not OOM

[2018-12-16 10:09] hoopoepg commented on #3088
right, mpirun crashed... as I can see one of ranks is called MPI_Abort and MPI tried to shutdown all other processes (not successful)

[2018-12-16 10:09] hoopoepg commented on #3075
no, in case if requested more than available memory (RAM + SWAP) malloc returns NULL

[2018-12-16 10:12] hoopoepg commented on #3075
at least corruption stack points to test itself where is invalid memory access which means failed to allocate memory

[2018-12-16 10:32] yosefe commented on #3075
if `dtypes = calloc(10, sizeof *dtypes);` had returned NULL, i would expect segfault to occur at a small address
but in fact the segfault is at 0x106e0
[code]

[2018-12-16 10:34] yosefe commented on #3075
if `calloc(total_count * size, extent);` returned NULL, why is the segfault at 0x106e0 and not 0?

[2018-12-16 10:35] hoopoepg commented on #3088
it was not killed... test is checking for available memory, and in case if there is no enough memory - it calls MPI_Abort, and this cause crash in mpirun (or other MPI components)

[2018-12-16 10:37] yosefe commented on #3088
@hoopoepg can you attach code snippet of where the test is checking for available memory?

[2018-12-16 10:39] hoopoepg commented on #3088
sendrecv_big.c:13
[code]

[2018-12-16 10:40] yosefe commented on #3088
ok, so why does it segfault in memcpy then and not just killed?

[2018-12-16 10:59] hoopoepg commented on #3075
it seems it failed to map buffer to memory (no free RAM available)

[2018-12-16 11:03] hoopoepg commented on #3088
it was trying to shutdown graceful, but without success

[2018-12-16 11:44] yosefe commented on #3075
does the test pass on a machine with more memory?

[2018-12-16 12:09] hoopoepg commented on #3075
hercules has 256Gb of memory, have you better system? :)

[2018-12-16 12:43] yosefe commented on #3075
sounds good, does it pass on hercules?

[2018-12-16 12:59] hoopoepg commented on #3075
memory required **(np * iterations * rand * datatype)** of memory per rank. it works fine on 2041- ranks, but after some np limit it fails

[2018-12-16 13:52] bertwesarg commented on #3038
I think it worked with `-s 32768`, but Open MPI did not picked up UCX with KNEM. I than tried xpmem and that worked.

[2018-12-17 14:20] hoopoepg commented on #3088
@amaslenn we should try to run it on hercules systems only

[2018-12-17 14:20] hoopoepg commented on #3075
@amaslenn let's limit np to 2041

[2018-12-18 16:31] minsii commented on #2994
@yosefe Thanks for the suggestion. I have similar plan that we can temporarily add UCP-based atomics in MPICH/UCX following this approach. This routine is enabled/disabled based on the conditions as required by UCX1.4.

Remote address is aligned with data size
The combination of <datatype, op> can only be: <integer, add>, <integer, logic>, <integer, bitwise>, <any type, cswap>, <any type, swap>, o

[2018-12-18 17:26] sasuke79 opened #3094 "Trouble building UCX (error utilizing binutils)"
I am trying to build UCX from source using gcc7 + binutils 2.27. Whenever I run `make`, I get the following:

In file included from debug/debug.c:31:0:
/apps/default/include/bfd.h:6588:3: error: expected specifier-qualifier-list before 'ENUM_BITFIELD'
   ENUM_BITFIELD (bfd_format) format : 3;
   ^~~~~~~~~~~~~
/apps/default/include/bfd.h: In function 'bfd_set_cacheable':
/apps/default/include/bfd.h

[2018-12-18 17:38] yosefe commented on #3094
Does your binutils compile with gcc7 (without UCX)?

[2018-12-18 19:39] sasuke79 commented on #3094
It does. All unit tests pass as well.

[2018-12-19 18:04] jithinjosepkl commented on #2963
We are seeing this issue with  OpenMPI 4.0 and UCX 1.4.0. Setting UCX_TLS=rc fixes the issue.

Do we know the corresponding OpenMPI issue that Howard is referring to ("according to latest note from Howard, "we now think this is a Open MPI bug"")?

[2018-12-20 18:08] jithinjosepkl commented on #2963
@hoopoepg , I had these already "-mca btl ^vader,tcp,openib".  UCX_TLS=rc fixes the issue though.
[code]

[2018-12-20 20:38] shamisp commented on #2963
@yosefe - should be reopen this ? Not sure how it can be OpenMPI bug. Just in case, I would suggest disable uct btl with ^uct.

[2018-12-21 06:43] jithinjosepkl commented on #2963
Btw, I confirm that this happens with MPICH (3.3) +UCX (1.4.0) as well. Please let me know if you need any additional details.

[2018-12-21 14:17] shamisp commented on #2963
It would be nice to introduce some unit test that will hit this flow. We do have machines with a lot of cores. With tx2 you can get to 224.

[2018-12-21 19:16] jithinjosepkl opened #3097 "Guidelines for scaling UCX/MPICH"
We are seeing some failures while running scaling experiments with UCX+MPICH.

``
[1545412068.478114] [hbd0000s7:106848:0]       rc_iface.c:968  UCX  ERROR failed to create qp: Resource temporarily unavailable
[1545412068.479402] [hbd0000q2:78300:0]       rc_iface.c:968  UCX  ERROR failed to create qp: Resource temporarily unavailable
[1545412068.483067] [hbd0000UA:106603:0]       rc_iface.c:968

[2018-12-22 00:21] shamisp commented on #3097
@yosefe . I'm not sure how to CC Tomy on this.

@jithinjosepkl UCX is running on Astra with > 120K ranks (Open MPI).  I think you can switch to UD or DCT (if your hardware support this) for InfiniBand, and this will reduce number of connections.

[2018-12-22 00:41] jithinjosepkl commented on #3097
Thanks @shamisp. I am explicitly setting  UCX_TLS=rc here, because of #2963.
I get the following error if I set UCX_TLS=ud_x

``
[1545439035.307281] [jijos-02:13266:0]         select.c:406  UCX  ERROR no remote registered memory access transport to <no debug data>: Unsupported operation
Abort(1094543) on node 20 (rank 20 in comm 0): Fatal error in PMPI_Init: Other MPI error, error stack:
MPIR_Init

[2018-12-22 00:53] jithinjosepkl commented on #3097
``
$ ofed_info | head
MLNX_OFED_LINUX-4.5-1.0.1.0 (OFED-4.5-1.0.1):
``

[2018-12-22 01:18] jithinjosepkl commented on #2963
Noticed these error logs in dmesg when I got the "Cannot allocate memory" error (Hoping this will give some hints.)

[code]

Corresponding UCX runtime error is:
[code]

[2018-12-22 02:45] shamisp commented on #3097
Is this UCX 1.5 branch or master ?

[2018-12-22 02:59] jithinjosepkl commented on #3097
@shamisp - This is with ucx-1.4.0 release.

[2018-12-22 03:19] shamisp commented on #3097
Okay , I think this is actually mpich issue. It ask for RDMA read write but is not actually required for send receive semantics. If you go with  1.5 tree or master, it should work, due to emulation layers. Either ud, dc, udx, dcx should work.

[2018-12-22 12:07] yosefe commented on #3097
@jithinjosepkl can you pls set UCX_TLS=dc_x,sm,self?
- rc transport would not scale to 7200 nodes with default firmware configuration
- MPICH requires rma/amo, they re supported on ud only starting with v1.5.x

[2018-12-22 12:13] yosefe commented on #2963
@jithinjosepkl can you post the output of `ibv_devinfo -v` ? Probably on SRIOV there is a lower on number of UARs (max_device_ctx)

[2018-12-22 18:16] jithinjosepkl commented on #2963
Thanks @yosefe. Indeed, it was set to 60.

[code]

That explains the "cannot allocate memory" errors while running more than 60 ranks per node (with UCX_TLS=rc).

But curious why it failed for lesser than 60 ranks per node, and worked when UCX_TLS=rc was set? Does UCX internally create more than one context per rank (probably for different transports)?