[2019-06-24 13:13] robertsawko commented on #3386
@bureddy progress!

The sysadmins have installed `nv_peer_mem` for memory and I am currently testing it. Unfortunately just straight recompilation of an OSU benchmark didn't seem to have done anything. Sometimes the benchmark works and sometimes it produces a core dump. I am attaching a working and non working tests below.

Few questions:
 * do I need to recompile ucx and openmpi consistently on t

[2019-06-24 13:19] robertsawko commented on #3386
I've been also looking through the new issues and this problem looks awfully similar to this one #3550 but the core dump occurs somewhat randomly.

[2019-06-24 15:20] bureddy commented on #3740
Fixed with https://github.com/openucx/ucx/pull/3750

[2019-06-24 16:05] tonycurtis commented on #3731
Still happening on standalone machine

[code]

[code]

[2019-06-24 17:28] dmitrygx opened #3769 "tcp/uct_p2p_mix_test.mix_10000/0 hangs on hpc_test_node_upstream"
[code]
[code]
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-test-node-upstream,worker=3/10793/console

[2019-06-24 20:32] yosefe commented on #3731
@tonycurtis do you mean it happens with the latest version of https://github.com/openucx/ucx/pull/3763?

[2019-06-24 20:35] tonycurtis commented on #3731
It was working again after a regular git-pull on our cluster, but then I tested it on a standalone machine.  I'll try patching that with the PR.

[2019-06-24 20:50] tonycurtis commented on #3731
PR looks good for me.

[2019-06-24 21:25] bureddy commented on #3386
@robertsawko
you don't need to recompile ucx and openmpi.  UCX figure it out if module is loaded or not during runtime.
nv_peer_mem will improve the performance of inter node case where IB communication is used.

Looks like crash is while initializing the CUDA context in the benchmark.  It seems more of CUDA setup issue than UCX. do you see any stale process hanging on the GPU when you see this. c

[2019-06-24 21:51] shamisp commented on #3748
Just to update everybody else -  @yosefe and I identified the bug in MOFED 4.6.

[2019-06-25 03:38] rkothako commented on #3722
Hi @yuq
Please update once the ROCm tests are implemented.
Thank you.

[2019-06-25 07:48] #3765 closed

[2019-06-25 08:31] #3756 closed

[2019-06-25 08:51] #3745 closed

[2019-06-25 08:55] yosefe commented on #3747
Fixed by #3749

[2019-06-25 08:55] #3747 closed

[2019-06-25 08:57] yosefe commented on #3730
cluster configuration fixed

[2019-06-25 08:57] #3730 closed

[2019-06-25 08:58] #3665 closed

[2019-06-25 09:07] yosefe commented on #3743
@tonycurtis regarding the original reported issues - are you sure you are running the same ucx_info which you have installed from source build?
i've tried ucx-v1.5.2 release and don't see an issue:
[code]

[2019-06-25 12:53] tonycurtis commented on #3743
@yosefe does it work for you with an out-of-source-tree build?

That's the only thing I can see making a difference here.

[2019-06-25 15:06] robertsawko commented on #3386
Yes, this might be a completely separate issue we are debugging here... I am seeing this random crash on any node with or without the `nv_peer_mem` module.

I have been checking `nvidia-smi` process section and I cannot see any processes there. Also, I know I am using the nodes in exclusive mode so I should be the only person touching these gpus. I think there might be a ganglia monitoring applica

[2019-06-25 15:06] yosefe commented on #3743
Looks like we have a problem creating dist tarballs by 'make dist', they already contain this file enen though  it should be generated only inside the build directory. checking ...

[2019-06-25 15:49] robertsawko commented on #3386
A colleague of mine also gave me an idea here that maybe the system is just outdated too much and the kernel-driver combination is no longer supported:
[code]
Is that a possibility? I've been playing in an interactive mode running same application time after time with no consistency. Sometimes segfault sometimes ok. What do you think about this?

[2019-06-26 08:40] yosefe commented on #2537
Test hangs with valgrind:
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/10817/label=hpc-test-node,worker=1/console
[code]

[2019-06-26 10:34] Sergei-Lebedev opened #3776 "segfault running osu micro benchmarks with cuda buffers"
The following command line fails with segfault

mpirun -np 2  -x UCX_TLS=rc,gdr_copy -mca pml ucx -mca btl self,tcp --host host1:1,host2:1 osu_latency -m 1:$((2**10)) -x 1 -i 1 -d cuda D D

If change UCX_TLS to rc,cuda_copy everything works fine. Looks like a regression after #3424
==== backtrace ====
    0  libucs.so.0(+0x20b1c) [0x7f1a9b56fb1c]
    1  libucs.so.0(+0x20d94) [0x7f1a9b56fd94]
    2

[2019-06-26 11:48] yosefe commented on #3748
Tracking by https://redmine.mellanox.com/issues/1802398 (Mellanox internal link)
For now, can use MLNX_OFED_LINUX-4.5-1.0.1.0 as workaround

[2019-06-26 14:49] yosefe commented on #3743
fixed by @amaslenn in 6c34a554c69ca9486e790610a5761e1aded44bdb, for v1.6.x

[2019-06-26 16:06] bureddy commented on #3776
-x UCX_TLS=rc,gdr_copy is not a valid configuration.  It can't support all cuda protocols with just gdr_copy.
cuda_copy is the basic TL must be exist for cuda support.   in #3424 we removed memory detection from gdr_copy and only basic cuda TL (cuda_copy)  MD  have a memory detection  API.

[2019-06-26 16:48] bureddy commented on #3386
what is your cuda version? You can check compatibility for your runtime with driver here : https://docs.nvidia.com/deploy/cuda-compatibility/

[2019-06-26 16:50] shamisp commented on #3748
I can confirm that `MLNX_OFED_LINUX-4.5-1.0.1.0 (OFED-4.5-1.0.1)` is okay. Let's re-open the ticket for now, since I would like to use this reference for external user.

[2019-06-26 18:51] brminich opened #3784 "tcp/test_ucp_wireup_1sided.send_disconnect_reply1/3 hangs on r-vmb-ppc-jenkins"
happened in http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=r-vmb-ppc-jenkins,worker=2/10838/console

[code]

[2019-06-26 19:00] bureddy commented on #3776
per dev call discussion, will print a warning if there is any TL with specific memtype without a memory domain to detect that memory.

[2019-06-26 19:05] brminich commented on #3784
Can reproduce on master as well
[code]

[2019-06-26 19:39] shamisp opened #3785 "UCX build against rdma-core fails in TCP UCT"
UCX master against RDMA-CORE master

[code]

[2019-06-26 19:59] shamisp commented on #3785
Why TCP TL needs include from RDMA-CORE to function ! This is really wrong...

[2019-06-26 20:01] shamisp commented on #3785
No `-I` is passed , so obviously it fails

[2019-06-26 20:04] dmitrygladkov commented on #3785
TCP needs it to calculate IPoIB header size (only if `HAVE_IB` defined). TCP uses constants like `UCT_IB_LRH_LEN`, `UCT_IB_GRH_LEN` and etc for this

[2019-06-26 20:16] shamisp commented on #3785
Well, it breaks TCP code because now you have to pass include pass for `infiniband/tm_types.h`

[2019-06-26 20:22] shamisp commented on #3785
Seems like this include is only required for BW estimate... Way too much hassle. I would use some static number once IPoIB is detected.

[2019-06-26 20:51] shamisp commented on #3785
And the other question - this is something that we should be easy to catch in CI build ...

[2019-06-26 21:12] shamisp opened #3787 "ThunderX2 failure in RC with master"
[code]
[code]

[code]

[2019-06-26 21:15] shamisp commented on #3787
@gmegan FYI

[2019-06-26 21:17] shamisp commented on #3787
Seems like it only fails with RC
[code]

[2019-06-26 21:18] shamisp commented on #3787
Passing with RCX
[code]

[2019-06-27 05:47] dmitrygladkov commented on #3784
I can't reproduce the bug w/ and w/o valgrind on master branch
Is there something missed on my side?

[2019-06-27 05:52] dmitrygladkov opened #3788 "cuda_cpy/test_md.reg_multi_thread/0 hangs under valgrind on vulcan-jenkins"
[code]
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/10852/label=vulcan-jenkins,worker=0/console

[2019-06-27 05:59] brminich commented on #3784
did you run on r-vmb-ppc-jenkins?

[2019-06-27 06:03] dmitrygladkov commented on #3784
yes

[2019-06-27 06:17] brminich commented on #3784
Just ran it with
 `time ./test/gtest/gtest --gtest_filter=tcp/test_ucp_wireup_1sided.send_disconnect_reply1/3 --gtest_repeat=1000`

Hang on 218-th iteration

[2019-06-27 06:30] dmitrygladkov commented on #3784
reproduced on 23th iteration
thanks

[2019-06-27 07:27] yosefe opened #3789 "rc/test_uct_ib_gid_idx.non_default_gid_idx fails on boo31"
https://gist.githubusercontent.com/mellanox-github/fbc3f13991c39e9f1a3a1354310756d5/raw/0b1285d6c1bbc9600d4020dedd208f2f8f85d956/boo31_W1
[code]

[2019-06-27 07:37] yosefe commented on #3785
@shamisp which rdma-core version do you have?
we have 25.0 (latest master) in CI

[2019-06-27 07:48] yosefe commented on #3785
@Artemy-Mellanox looks like something is wrong with HW_TM macros from configure
We try to include infiniband/tm_types.h even though it does not exist
@shamisp Even if we remove this from TCP, IB will fail to compile anyway

[2019-06-27 07:59] yosefe commented on #3787
cannot reproduce it on my TX2 system.. is it UCX master w/o any changes?

[2019-06-27 08:09] Sergei-Lebedev commented on #3776
@bureddy thanks for clarification, so I close the issue

[2019-06-27 08:09] #3776 closed

[2019-06-27 09:01] amaslenn commented on #3513
Reproduced on master:
[code]

MTT log: http://e2e-gw.mellanox.com:4080/mnt/lustre/users/mtt/scratch/ucx_ompi/20190626_223249_26692_401512_clx-orion-058/html/test_stdout_QRFS4X.txt

Cmd:
`mpirun -np 364 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=ens1f0 -mca osc ucx -x UCX_IB_REG_METHODS=rcache,direct -x UCX_TLS=tcp -

[2019-06-27 10:42] #3789 closed

[2019-06-27 11:03] yosefe commented on #3752
could be related to fabric issues on hpe-test-node4

[2019-06-27 11:04] yosefe commented on #3743
@tonycurtis can we close since it's fixed for v1.6.x?

[2019-06-27 11:56] tonycurtis commented on #3743
@yosefe  sounds like a plan!

[2019-06-27 12:26] #3743 closed

[2019-06-27 14:34] shamisp commented on #3787
@yosefe UCX master as it is.

[2019-06-27 14:36] yosefe commented on #3787
What is FW version? Any error in dmesg?

[2019-06-27 14:36] shamisp commented on #3787
Also, I can reproduce the problem very consistently.

[2019-06-27 14:38] yosefe commented on #3787
also
- can you pls run with UCX_IB_ASYNC_EVENTS=y and see if there is more info?
- what was ./configure command line? any env params or gtest?

[2019-06-27 14:42] #3731 closed

[2019-06-27 14:52] shamisp commented on #3787
[code]

[2019-06-27 14:53] shamisp commented on #3787
[code]

[2019-06-27 14:59] shamisp commented on #3787
`UCX_IB_ASYNC_EVENTS=y` makes no difference.
I don't see any errors in dmesg.

[2019-06-27 15:09] alinask commented on #3752
Ran on the vulcan-jenkins host for 3 hours with valgrind - 100 iterations and didn't reproduce.

[2019-06-28 12:36] dmitrygladkov commented on #3607
[code]

http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/10887/label=r-vmb-ppc-jenkins,worker=0/

[2019-06-29 10:47] #3785 closed

[2019-07-01 08:23] #3752 closed

[2019-07-01 08:28] brminich commented on #3708
duplicate of #2934
PI and CI are different one some qps

[2019-07-01 08:28] #3708 closed

[2019-07-01 17:05] dmitrygladkov commented on #3784
[code]
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=r-vmb-ppc-jenkins,worker=1/10953/console

[2019-07-03 13:22] hiroyuki-sato opened #3823 "[Propose] Add example usage in uct_hello_world command."
What do you think to add  `Example` part in `uct_hello_world ` command usage?
It may help for beginners.

If it is OK, I'll create PR later.

[code]

Sample output.

[code]

[2019-07-03 14:15] shamisp commented on #3823
👍

[2019-07-04 08:53] amaslenn opened #3826 "[mtt] libibverbs: resolver: Neighbour doesn't have a hw addr"
Configuration
[code]

MTT log: http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/shmem/20190703_221405_135493_25572_jazz01/html/test_stdout_zQgda0.txt

Looks similar to #1462 (refers internal issue [828609](https://redmine.mellanox.com/issues/828609), closed now) and #1005.

Cmd:
`oshrun -np 4 --bind-to core -mca oshmem_proc_group_cache_size 10000 -mca sshmem ucx -mca atomic ucx -mca coll

[2019-07-04 09:08] amaslenn opened #3827 "[mtt] crash with HW TM enabled"
Configuration
[code]

MTT log: http://e2e-gw.mellanox.com:4080/mnt/lustre/users/mtt/scratch/ucx_ompi/20190703_053156_10551_407297_clx-orion-050/html/test_stdout_cqV5_S.txt

Doesn't reproduce with `UCX_RC_MLX5_TM_ENABLE=n` and in debug mode (with enabled HW TM).

Cmd:
`mpirun -np 224 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NE

[2019-07-04 09:09] amaslenn commented on #3827
Same with DC HW TM: http://e2e-gw.mellanox.com:4080/mnt/lustre/users/mtt/scratch/ucx_ompi/20190703_002147_30338_407116_clx-hercules-002/html/test_stdout_C4SbVM.txt

[2019-07-04 09:45] yosefe commented on #3826
invalid ip address on jazz08
[code]

[2019-07-04 10:28] hiroyuki-sato commented on #3823
Implement #3825

[2019-07-04 10:28] #3823 closed

[2019-07-04 12:20] yosefe commented on #3826
closing as this is a setup issue; test passed on other set of nodes

[2019-07-04 12:20] #3826 closed

[2019-07-04 12:21] yosefe commented on #3739
closing it per  #3763

[2019-07-04 12:21] #3739 closed

[2019-07-04 15:07] raffenet opened #3831 "segfault with MPICH + UCX 1.6.0 and malloc hooks"
How to reproduce:
MPICH master: https://github.com/pmodels/mpich

Segfaults go away if malloc hooks are disabled with `UCX_MEM_EVENTS=n`.

[2019-07-04 15:09] hoopoepg commented on #3831
@raffenet could you copy backtrace here?
thank you

[2019-07-04 15:13] raffenet commented on #3831
[backtrace.txt](https://github.com/openucx/ucx/files/3359833/backtrace.txt)

[2019-07-05 19:28] hoopoepg commented on #3831
hi @raffenet
could you try to test this PR: https://github.com/openucx/ucx/pull/3836

thank you

[2019-07-08 05:55] dmitrygladkov opened #3849 "assertion in shm_ib/test_ucp_stream.send_recv_iov/0"
[code]
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/11070/label=vulcan-jenkins,worker=1/

[2019-07-08 15:06] dmitrygx opened #3851 "rc/test_ucp_rma.nbi_med/1 WR Flushed Error on hpc-test-node-new"
[code]
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-test-node-new,worker=0/11094/console

[2019-07-08 19:48] shamisp commented on #3787
@yosefe we updated FW to:
[code]

The previous failure disappeared, nevertheless we have some other & new failure:
[code]

[2019-07-08 21:50] yosefe commented on #3787
@shamisp is it possible there is some missing lid-based multi-host configuration in OpenSM?
can you try with UCX_IB_ADDR_TYPE=ib_globa?

[2019-07-08 22:31] shamisp commented on #3787
AFAIK, we have never had any special OpenSM configuration there.

[2019-07-08 22:46] shamisp commented on #3787
It also fails with v1.6.0

[2019-07-08 22:47] shamisp commented on #3787
`UCX_IB_ADDR_TYPE=ib_global` - the same failure

[2019-07-09 14:11] shamisp commented on #3787
@yosefe Any suggestions ? If you think this is opensm miss-configuratiom, how do I identify one ?

[2019-07-09 14:13] yosefe commented on #3787
@shamisp does ib_send_lat work on the system?

[2019-07-09 14:20] shamisp commented on #3787
@yosefe yep, works as expected.
[code]

[2019-07-09 14:22] yosefe commented on #3787
are there any errors in dmesg?

[2019-07-09 14:24] shamisp commented on #3787
@yosefe - as I run the benchmark - now

[2019-07-09 14:25] yosefe commented on #3787
BTW, i think it fails on mlx5_2 device (gtest tries to run on all devices)
Does ib_send_lat over mlx5_2 work?

[2019-07-09 14:25] shamisp commented on #3787
mlx5_2 is ROCE device

[2019-07-09 14:26] yosefe commented on #3787
right, this may be part of the problem

[2019-07-09 14:26] shamisp commented on #3787
Works as well
[code]

[2019-07-09 14:29] yosefe commented on #3787
hmm.. looks like it uses different GID index
can you pls send the output of 'show_gids' command?
and try running gtest with 'UCX_IB_GID_INDEX=0'?

[2019-07-09 14:54] shamisp commented on #3787
[code]

[2019-07-09 14:55] shamisp commented on #3787
`UCX_IB_GID_INDEX=0` - does not make any difference.

[2019-07-09 14:57] yosefe commented on #3787
what is the error message from the test 'ud/test_uct_ib_gid_idx.non_default_gid_idx/1' with UCX_IB_GID_INDEX=0?

[2019-07-09 15:06] shamisp commented on #3787
[code]

[2019-07-09 18:33] shamisp commented on #3787
Seems like #3858 cleans this up

[2019-07-10 07:50] dmitrygladkov opened #3862 "cuda_cpy/test_md.reg_multi_thread/0 hangs"
[code]

[2019-07-10 07:52] #3831 closed

[2019-07-10 14:51] dmitrygladkov opened #3866 "dc_mlx5/test_uct_perf.envelope/0 hangs"
[code]
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-test-node-new,worker=0/11154/console

[2019-07-10 14:59] yosefe commented on #3866
this is DCI stuck issue

[2019-07-10 15:02] dmitrygladkov commented on #2934
[code]
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-test-node-new,worker=0/11154/console

[2019-07-10 15:03] dmitrygladkov commented on #3866
@yosefe

Thank you

[2019-07-10 15:03] #3866 closed

[2019-07-10 18:24] afernandezody opened #3868 "Questions about UCX transports and OpenMPI"
Hello,
I'm trying to run some OSU microbenchmarks (http://mvapich.cse.ohio-state.edu/benchmarks/) on a NVIDIA P4 using UCX and OpenMPI. To achieve this, I'm building OpenMPI as cuda-aware against CUDA 10.1. I also installed MOFED (4.5), gdrcopy and nv_peer_memry(1.0.8). UCX is built with:
`./configure --prefix=/usr/local/ucx-cuda-install --with-cuda=/usr/local/cuda-10.1 --with-gdrcopy=/home/odyhpc

[2019-07-10 18:41] #3787 closed

[2019-07-11 05:21] Akshay-Venkatesh commented on #3868
Hi.

Your problem points to the right version of ucx not being used for openmpi build. I see that your openmpi configure command doesn't point to the ucx library that you built. I.e no --with-ucx=/usr/local/ucx-cuda-install. Have you already tried that or am I missing something?

[2019-07-11 14:25] afernandezody commented on #3868
Hi Akshay,
Thank you for your input. I kind of messed up as was getting several error messages while using different compilation flags. Somehow, I managed to erase the --with-ucx flag while building OpenMPI for no good reason. After fixing it and rebuilding everything, I'm back to where I was a couple of days ago as the system is complaining about shared memory:
sys.c:618  UCX  ERROR shmget(size=2

[2019-07-11 18:30] dmitrygladkov commented on #2934
[code]

[2019-07-11 20:24] gaby7646 opened #3871 "Invalid value of canonical build"
Hi there!. I'm configuring `openmpi-4.0.1` before to installing it. I did `sudo ./configure --prefix= /usr/local` and I obtain the following error:
`*** Startup tests`
`checking build system type ../usr/local`
`configure:error:invalid value of canonical build`

[2019-07-12 00:11] hiroyuki-sato commented on #3871
Hello, @gaby7646

Could you try `./configure --prefix=/usr/local`
You don't need space between `=` and `/`

[2019-07-12 05:52] gaby7646 commented on #3871
Thanks!

[2019-07-12 14:34] shamisp commented on #3871
I guess we can close this one

[2019-07-12 14:34] #3871 closed

[2019-07-12 23:51] tonycurtis opened #3879 "OpenMPI from github + UCX 1.5.2 has suddenly broken"
Local GPFS weirdness?  ignore...can I just delete this?

[2019-07-13 00:34] #3879 closed

[2019-07-13 21:45] yosefe opened #3882 "failure in ud_mlx5/uct_p2p_am_test.am_async_response"
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/11230/label=hpc-arm-hwi-jenkins,worker=3/consoleFull
[code]

[2019-07-14 10:22] dmitrygladkov commented on #2934
[code]
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-test-node-new,worker=2/11236/consoleFull (reproduced on `hpc-test-node-4` node)

[2019-07-14 10:39] dmitrygladkov commented on #2934
[code]
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-test-node-new,worker=0/11238/console (reproduced on `hpc-test-node4` node)

[2019-07-14 14:42] yosefe opened #3884 "hang in rc/test_uct_event_ib.txrx_cq on arm"
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-arm-cavium-jenkins,worker=3/11243/console
no valgrind
[code]
could be related to #3127

[2019-07-15 06:37] dmitrygladkov commented on #2934
[code]
[ RUN      ] dc_mlx5/uct_p2p_mix_test_alloc_methods.mix1000_rcache/1
/scrap/jenkins/workspace/hpc-ucx-pr-4/label/hpc-test-node-new/worker/1/contrib/../test/gtest/common/test_helpers.cc:46: Failure
Failed
Connection timed out - abort testing
[hpc-test-node4:13312:0:13312] Caught signal 6 (Aborted: tkill(2) or tgkill(2))

/hpc/local/oss/gcc-8.2.0/include/c++/8.2.0/bits/stl_vector.h: [ uct_tes

[2019-07-15 14:08] dmitrygladkov commented on #3784
[code]
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=r-vmb-ppc-jenkins,worker=1/11262/console

[2019-07-15 17:29] dmitrygladkov commented on #3862
[code]
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/11263/label=hpc-test-node-gpu,worker=1/console

[2019-07-15 17:50] leofang commented on #3480
Hello, just found this issue using the same error message (`UCX  FATAL could not find address of original cudaMalloc(): Unknown error`). I am using UCX v1.6.0rc5 + Open MPI v4.0.1 + CuPy v6.1.0 + CUDA v10.0, and I still need to apply the patch by @yosefe (https://github.com/openucx/ucx/issues/3480#issuecomment-483454374) to avoid this error. I wonder if this will be fixed in the master soon or I a

[2019-07-16 08:36] yosefe commented on #3480
@leofang this was fixed in master, but not a part of v1.6

[2019-07-16 18:45] leofang commented on #3480
@yosefe I see, thanks for your reply. I wasn't able to compile Open MPI v4.0.1 against the UCX master:
[code]
Perhaps I should wait for upstream to fix it, or try the Open MPI master?

[2019-07-17 07:50] yosefe commented on #3480
@leofang pls see https://github.com/openucx/ucx/wiki/OpenMPI-and-OpenSHMEM-installation-with-UCX#openmpi-and-openshmem-installation for disabling btl uct

[2019-07-17 08:43] alex--m opened #3892 "No check for missing header "sys/capability.h""
Red Hat Enterprise Linux Server release 7.4 (Maipo, Kernel 3.10.0-693.21.1.el7.x86_64)

[code]

[2019-07-17 08:45] #3892 closed

[2019-07-17 08:46] alex--m commented on #3892
My bad - bad build-system configuration caused the check to be different from the actual build...

[2019-07-17 11:59] alinask commented on #3607
[code]

http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/11300/label=hpc-test-node-gpu,worker=1/consoleFull

on label=hpc-test-node-gpu

[2019-07-18 08:09] yosefe opened #3897 "failure in frag_list.two_holes_advanced"
https://gist.githubusercontent.com/mellanox-github/4fd4df08ee70b818c365a8b24e8e5b39/raw/df65c01a247069f44a016bdb83972f35f59b4ad0/hpc-test-node-gpu_W1
[code]

[2019-07-18 08:47] hoopoepg commented on #3897
@yosefe I can't find failure of frag_list.two_holes_advanced in log by link...

[2019-07-18 08:49] yosefe opened #3898 "GPU optimizations when gdrcopy is not present"
1. When no gdrcopy, prefer rndv for small messages
1. Avoid calling cuda copy for 0-size messages

[2019-07-18 08:51] yosefe commented on #3897
wrong link, updated

[2019-07-18 09:38] dmitrygx commented on #3851
The failure was reproduced when nodes with `hpc-test-node-new` label were added to Jenkins (other Jenkins jobs were failing) - now it is ok

[2019-07-18 09:38] #3851 closed

[2019-07-18 09:42] orangebook commented on #334
hi, macosx support it
[code]

[code]
macosx version: 11.14.5

[2019-07-18 12:52] hiroyuki-sato commented on #334
Hello, @orangebook
Thank you for your information.
I'm porting OpenUCX to macOS. It helps for me.
https://github.com/hiroyuki-sato/ucx/issues/4

But, macOS doesn't support `timer_create` function which use `timer_t` data type.

[2019-07-18 13:04] hiroyuki-sato opened #3900 "[Q] epoll keyword in comments."
Hello, @dmitrygx

As you know, we eliminate epoll function in many files.
Does this comment are still correct or should we fix it?

Best regards.

[code]

[2019-07-18 13:12] dmitrygx commented on #3900
Hello @hiroyuki-sato

Yes, they are no longer valid
Do you mind preparing a PR to fix it? Thank you!

[2019-07-18 14:06] hiroyuki-sato commented on #3900
Hello, @dmitrygx . Thank you for your reply.

Created PR #3901.
Please take a look when you get a chance.

[2019-07-18 14:06] #3900 closed

[2019-07-18 15:16] leofang commented on #3480
@yosefe Thank you. I misunderstood that section and thought that's optional. Adding `--enable-mca-no-build=btl-uct` works.

[2019-07-18 21:15] afernandezody commented on #3868
Hi,
I finally found the time to circle back to this issue. I'm unsure why of the error message 'UCX ERROR shmget" but noticed that it doesn't show up if I source and reboot the system (once the installations for all components are completed). I'm closing this ticket and would open a new one providing details if the shared memory problems reappear again.
Thanks.

[2019-07-18 21:15] #3868 closed

[2019-07-19 05:44] orangebook commented on #334
@hiroyuki-sato
your provide code have no `time_t` in any function.
so you use it to check system `have time_t` right?
if you want to check which header file have `time_t` , then
run here bash code
[code]

[2019-07-19 05:48] orangebook commented on #334
suggest you add here code
[code]

and add -I/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/System/Library/Frameworks/Kernel.framework/Versions/A/Headers/

or you can try gnulib

[2019-07-19 06:07] hiroyuki-sato commented on #334
Hello, @orangebook. Thank you for your comment.

My point was

* `timer_create` function use `timer_t` data type.
* macOS doesn't support timer_create
* So `timer_t` data type will solve, but I have to use an alternative function
* [gnulib](https://www.gnu.org/software/gnulib/manual/html_node/timer_005fcreate.html) may solve the missing function, but I don't want to use external libraries as much

[2019-07-19 08:49] orangebook commented on #334
Year, I found 'timer_t' not supported on osx. only have `time_t`.
sorry for it .here is no here to fix it from before answer.

[2019-07-19 18:09] #3784 closed

[2019-07-19 18:16] dmitrygx commented on #3769
Fixed in #3859

[2019-07-20 09:28] dmitrygx commented on #3897
[code]
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-arm-hwi-jenkins,worker=1/11367/console

[2019-07-20 11:29] #3827 closed

[2019-07-21 08:34] #3607 closed

[2019-07-22 03:24] hiroyuki-sato opened #3928 "[Q] mimimizing pthread_spinlock dependency."
Hello, developers.

What do you think to use `ucs_spinlock` instead of `ptread_spinlock_t` in the following files?
I want to minimize `ptread_spinlock` dependency because macOS doesn't have `pthread_spinlock`.
If this idea is good, I'll create PR later.

Best regards.

[code]

[2019-07-22 07:38] brminich opened #3929 "log_test_print.print_off failure on hpc-arm-hwi-jenkins"
happened here: http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/11415/label=hpc-arm-hwi-jenkins,worker=2/consoleFull#1664427763b7949d9e-3f09-4d9b-9be7-3ff694c6afcd

[code]

[2019-07-22 07:46] dmitrygx commented on #3928
👍
@hiroyuki-sato
how `ucs_spinlock` will be implemented on macOS?
I think implementing it over non-reentrant `pthread_mutext_t` (i.e. simple mutex w/o `PTHREAD_MUTEX_RECURSIVE`) is applicable here, wdyt?

[2019-07-22 08:34] hiroyuki-sato commented on #3928
Hello, @dmitrygx . Thank you for your comment. I'll create a PR later.

I and @keisukefukuda think two candidates.

* Use `pthread_mutex_lock` instead of `pthread_spinlock`. We are worrying about reentrant. But Almost user doesn't use UCX hard on macOS.(Maybe). So It was the first choice. ([commit](https://github.com/hiroyuki-sato/ucx/commit/173bd39efc65771487885b0f12d19965bd07e7a6))
* Use `os_unf

[2019-07-22 09:04] dmitrygx commented on #3928
`pthread_mutex_t` should be non-reentrant by default

`os_unfair_lock` is a replacement for `OSSpinLock` - I think it should be non-reentrant.

We could add macOS-specific implementation under `#ifdef __APPLE__`:
[code]

Also, we can consider something like (not tested):
[code]

[2019-07-22 09:29] hiroyuki-sato commented on #3928
Hello, @dmitrygx. Thank you for your help.

The following code succeed compile in my macOS.
(I changed `tab` to space and add `typedef`)

I'll use this code as pthread_spinlock on macOS.

[code]

[2019-07-22 09:44] dmitrygx commented on #3928
btw, pls use `ucs_memory_cpu_fence()` instead of `__asm__ __volatile__ ("" ::: "memory");`

[2019-07-22 11:16] hiroyuki-sato commented on #3928
Hello, @dmitrygx. Thanks! I'll use this function on macOS specific branch until PR ready.

[code]

[2019-07-22 11:17] hiroyuki-sato commented on #333
@dmitrygx implemented the alternative function. Thanks!
https://github.com/openucx/ucx/issues/3928#issuecomment-513749335

[2019-07-22 11:28] dmitrygx commented on #3928
also pls use architecture-independent `ucs_atomic_cswap32` instead of `__sync_bool_compare_and_swap`

try-lock is also needed for `ucs_spinlock`, here the implementation:
[code]
[code]

[2019-07-22 11:32] dmitrygx commented on #3928
btw, I'm still not sure that is an optimal implementation
can we use it if no (pthread_spinlock_t & os_unfair_lock & OSSpinLock) are available on a system where we are running on

[code]

[2019-07-22 12:07] hiroyuki-sato commented on #3928
Hello, @dmitrygx.
Thank you for the comment.

Does this mean, that macOS 10.14(with os_unfair_lock) use os_unfair_lock (`#elif defined(HAVE_SO_UNFAIR)`) part?

[2019-07-22 12:25] dmitrygx commented on #3928
yep, we need to identify whether `pthread_spinlock_t`/`os_unfair_lock`/`OSSpinLock` available or not at configure step - it can be done by means of `AC_CHECK_DECLS`.
If nothing is available, we can use our naive implementation

[2019-07-22 12:29] dmitrygx commented on #3928
something like can work:
[code]
(not tested)

[2019-07-22 12:56] hiroyuki-sato commented on #3928
Hello, @dmitrygx. Thank you for your comment.

* I think we don't need to care `OSSpinLock`. Because It's already depreciated over two years before.
* I'm not sure that whether [os_unfair_lock](https://developer.apple.com/documentation/os/1646466-os_unfair_lock_lock) is an optimized solution for __spinlock__ on macOS or not. And I thought compare-swap operation` is locking mechanism is for that.

[2019-07-22 13:04] hiroyuki-sato commented on #3928
We already implement `pthread_spinlock` check function.
https://github.com/hiroyuki-sato/ucx/commit/67ae96a96698a70f9337da9a117394eb8b8940ba

So, It is easier to use `os_unfair_lock` check.

But I'm thinking when I create this PR.

[2019-07-22 13:06] dmitrygx commented on #3928
Ok, I agree

`os_unfair_lock` is a not a spinlock (the Apple Developer doc says "`... This function doesn't spin on contention, but instead waits in the kernel to be awoken by an unlock. ...`").

[2019-07-22 13:35] hiroyuki-sato commented on #3928
Could you double-check?

* As you know ` os_unfair_lock` isn't a spinlock.
* So I think we'd better use `compare-swap` lock.
* But we are not sure `compare-swap` is an optimal implementation yet.
* So we'll prepare to use both functions. (First, try `os_unfair_lock`. if it does not work well, switch to `compare-swap` version).

Is this correct?

[2019-07-22 13:39] dmitrygx commented on #3928
sounds like a good plan
Thank you 👍

[2019-07-22 15:17] shamisp commented on #3928
This is very nice library that our guys released some time ago:
https://github.com/ARM-software/progress64

It has spin lock implementation and bunch of other useful locks and algorithms:
https://github.com/ARM-software/progress64/blob/master/src/p64_spinlock.c

[2019-07-23 01:32] hiroyuki-sato commented on #3928
Hello, @shamisp. Thank you for your comment.

It seems a nice library. I want to know the possibility of timer usage too.
(macOS doesn't support `timer_create`)

* Does this library already production level(Does OpenDataPlane use this library?)
* Do you have any plan to replace to this library in the future?
* It seems that it requires modification if I use this library on macOS.

I got the follow

[2019-07-23 04:01] hiroyuki-sato commented on #3928
Hello, @dmitrygx.

What do you think the following change?

`src/ucm/event/event.c`

https://github.com/openucx/ucx/blob/658bcde0ecef12cf338ce9ab964b0eb1bbde0f28/src/ucm/event/event.c#L605

`pthread_spin_init` use the second argument like the below.

[code]

It needs to extend ucs_spin_init, because now it accepts one argument only.
For example

[code]

Best regards.

[2019-07-23 04:23] dmitrygx commented on #3928
Hello @hiroyuki-sato

IIRC, the default value of a process shared attribute is `PTHREAD_PROCESS_PRIVATE`.
So, I guess we could just use `ucs_spin_init(&ucm_kh_lock);`

Once some UCX service needs `PTHREAD_PROCESS_SHARED`, we can extend `ucs_spin_init` to accept the process shared attribute.

[2019-07-23 04:25] dmitrygx commented on #3928
What [Oracle Multi Programming Guide](https://docs.oracle.com/cd/E37838_01/html/E61057/ggecq.html) says about spinlocks:
[code]

[2019-07-23 05:10] hiroyuki-sato commented on #3928
Hello, @dmitrygx. Thanks! I got it. I created #3939.

[2019-07-23 14:48] naughtont3 opened #3940 "autogen.sh fails on AS_IF in v1.6.0 configury"
When running `autogen.sh` from a v1.6.0 Git tag I get an error on `AS_IF` (see below), but the same setup works fine for v1.5.1 and earlier with same Autotools/setup.

Note, I found  #3540 that appears to be related to this topic, but that was closed and not exactly sure how it would fix the problem.  I used same Autotools setup w/ and w/o pkg-config on older v1.5.1 and v1.5.0 UCX tags and the `au

[2019-07-23 16:06] yosefe commented on #3940
looks like missing pkg-config

[2019-07-23 16:13] yosefe commented on #3940
probably the self autotools is not picking up neither system not self pkg-config because they have different installation prefix
what is the result of `grep  pkg.m4 aclocal.m4` in UCX directory, after running autogen?

[2019-07-23 18:20] naughtont3 commented on #3940
@yosefe  In all my `FAILS` cases the `aclocal.m4` does not include any mention of `pkg.m4`.  However, if I create a 4th setup as you suggested where `pkg-config` is at the same installation prefix (so paths are the same for Autotools) I get the mention of `pkg.m4`.

Note, this only occurs in the ucx-1.6.0 tree and is new compared to <= v1.5.1, where I do not see the `pkg.m4` checked.  So it looks

[2019-07-23 19:04] naughtont3 commented on #3940
Adding info for last test to ticket trails...

[code]

[2019-07-23 19:04] #3940 closed

[2019-07-23 20:15] shamisp commented on #3928
I don't know but @WonderfulVoid may help to answer this.

I think the library was design to make easy to borrow ideas. Since most of the code inline it is easy to copy-n-past some of the functions.

I don't think it was tested on OSX

[2019-07-23 23:07] WonderfulVoid commented on #3928
No, I am pretty sure OpenDataPlane doesn't use this library. It was written after I stopped participating in ODP development.

Production level is a good question. Most data types have tests so I am pretty happy with the quality of the implementation. I was thinking of making a few more (incompatible) API changes but might have to start with some real version management.

I use Progress64 in an in

[2019-07-23 23:10] WonderfulVoid commented on #3928
The fix is to remove the 'D' option to ar in Makefile.
-ARFLAGS = -rcD
+#ARFLAGS = -rcD
+#Deterministic option not supported by macOS
+ARFLAGS = -rc

But then the linker complains on aligned_alloc missing(). However I don't think this function is required for simple locks like the basic spin lock.

[2019-07-24 01:34] hiroyuki-sato commented on #3928
Hello, @WonderfulVoid, @shamisp. Thank you for your comment.

I'll try to build it on macOS again. I'm not familiar about C11 much.
How about `posix_memalign`?
* https://github.com/hiroyuki-sato/ucx/pull/12/commits/7b51c03f8ab34e54d9c0981683734af16bd73301

from macOS man page.

[code]

[2019-07-24 05:45] keisukefukuda opened #3945 "[Q] Remove SHM_REMAP dependency"
Hi,
As part of the efforts of porting UCX to MacOS, that @hiroyuki-sato and I are working on, I'd like to remove SHM_REMAP dependency.
I’d like to check if my understanding is correct and I’m on the right track. Any comment or advice is welcome.

macOS does not have SHM_REMAP constant for the SYSV shared memory
(`SHM_REMAP` is actually Linux-specific), and we need to make it optional.

In the `src

[2019-07-24 06:32] hiroyuki-sato commented on #3945
Just sharing previous discuss in private mail(@yosefe and @kostikbel).

[2019-07-24 07:12] hiroyuki-sato commented on #3682
All works completed. Thank you @dmitrygx!

[2019-07-24 07:12] #3682 closed

[2019-07-24 07:38] dmitrygx commented on #3682
@hiroyuki-sato Thank you too!

[2019-07-24 07:49] keisukefukuda commented on #3945
Thanks Hiroyuki.

So, which is better in this case, to fix each item (such as `SHM_REMAP`) one by one, or totally bypass sysv method? (I don't know mmap method works on MacOS, though).

[2019-07-24 10:10] WonderfulVoid commented on #3928
posix_memalign should work I assume. But aligned_alloc() is part of C11. The Makefile specifies -std=c99 but actually we do need C11 (e.g. the atomics support). Specifying -std=c11 (supported by both GCC and clang) doesn't make any difference though.

On macOS Mojave, the file /Library/Developer/CommandLineTools/usr/include/c++/v1/stdlib.h includes this line:
void *aligned_alloc(size_t alignment,

[2019-07-24 11:52] hiroyuki-sato commented on #3928
Hello, @WonderfulVoid. Thank you for your comment.

I think so too.

I found this article. boost...
https://stackoverflow.com/questions/52777209/compiler-cant-find-aligned-alloc-function

[2019-07-24 12:07] keisukefukuda commented on #3928
@WonderfulVoid Are you working on implementing a fall-back on `posix_memalign()`? I'm willing to do so if you are not.

[2019-07-24 12:28] tjcw opened #3950 "ucp active message call gets segv when used with ucp_dt_iov_t"
I'm submitting an active message call, but I'm getting a segmentation violation. The call looks like
[code]
and the trace and backtrace I get are
[code]
Do you know what is going wrong ? I am new to ucx, so this could easily be a usage error. I am using ucx from 'master' branch downloaded on 23 July 2019.

[2019-07-24 13:01] tjcw opened #3951 "Add a 'void *' application cookie to ucp request"
I need to pass a 'void * cookie' from the site of an active message call, to the callback function which runs in the client when the active message is complete. This 'void *' would be used to carry application context to the callback.
I think the right way to do this would be to add a 'void *' to the ucp request type, and add 2 functions to set and get this field. Code using this function would th

[2019-07-24 15:01] WonderfulVoid commented on #3928
I will do this. The progress64 project does not yet have a contributor's agreement so it will be faster if I write the code myself (or someone from Arm). Expect something tomorrow.

[2019-07-24 15:03] keisukefukuda commented on #3928
Great. 👍

[2019-07-24 20:27] shamisp commented on #3945
@yosefe this is all malloc hooks related as far as I can tell. Why would care about this on OSX ?

[2019-07-24 20:34] shamisp commented on #3951
@snyjm-18 FYI

[2019-07-24 20:59] snyjm-18 commented on #3950
I will look into this further, but I think it has something to do with the iovec[1].buffer being NULL. I will confirm. @yosefe is this something that it should be able to handle?

[2019-07-24 21:06] yosefe commented on #3950
i also though so, but length is zero (according to the log)
do we have any test of UCP AM with datatype IOV?

[2019-07-24 21:07] yosefe commented on #3950
@tjcw do you know if __memcpy_power7() is able to ignore src=NULL,length=0?

[2019-07-24 21:13] snyjm-18 commented on #3950
Yes, the gtest has an iov test, but does not use a NULL buffer or length 0. I try this and confirm it is the issue. I am assuming that __memcpy_power7() has to do with a the IBM architecture, and I don't believe I have access to any Power7 machines if I can't reproduce on my system.

[2019-07-24 21:37] snyjm-18 commented on #3950
Did a test with a NULL buffer and 0 length on an ARM system and everything worked fine. So either that is not the problem or it is power7 specific. I'll try on x86 as well.

[2019-07-24 22:36] snyjm-18 commented on #3950
Worked on x86 as well.

[2019-07-24 23:16] WonderfulVoid commented on #3928
I have Progress64 working on macOS now, with both GCC and Clang. I need to copy files to my local Linux machine and do some internal management before uploading the changes to Github. Too late for that now however, I will be back tomorrow.

[2019-07-25 00:19] hiroyuki-sato commented on #3928
@WonderfulVoid Thank you for your working!

[2019-07-25 10:21] tjcw commented on #3950
The active message is being called now, so it looks like my problem was some kind of finger trouble. The only relevant change I know I made was to add UCP_FEATURE_AM to the initialise call. Closing.

[2019-07-25 10:21] #3950 closed

[2019-07-25 12:02] tjcw opened #3954 "ucp active message with iovec"
I'm making a ucp active message call with an ucp_dt_iov_t paramater (2 elements). I'm assuming that the internals of UCX flattens the ucp_dt_iov_t on the way to the server and passes the address of the first byte of the flattened structure, and the total length, to the active message function; but this does not seem to be what the server receives. The length is what I expect, but the data is not w

[2019-07-25 13:05] tjcw commented on #3954
In some special cases of my active message call, iovec[1].length is zero. I have special-cased the client code for this
[code]
and in this case the data appearing at the server is what I expect. So there is something going on that I don't expect with ucp_dt_make_iov .

[2019-07-25 15:21] klipto opened #3956 "UCX cuda_ipc transport slower than expected with NVLINK"
Hi UCX devs.

I installed ucx-1.6.0 in addition to the latest (as of yesterday) from master.  I compiled ucx with cuda-10.0 and gdrcopy (from git master)

When I run ucx_perftest I am getting very poor performance.
[code]

If I explicitly set the transport to not use gdrcopy
[code]
I do get slightly better performance.  However, clearly not what NVLINK (or even PCIE) is capable of on this machine.

[2019-07-25 16:21] snyjm-18 commented on #3954
Yes, you are correct in your assumption. Have you run the ucp_am gtest? Could you let me know the results?

[2019-07-25 17:00] snyjm-18 commented on #3954
I tried sending a struct similar to that which you sent, and got a correct result. Hopefully the gtest on your system will expose the issue.

[2019-07-25 17:22] snyjm-18 commented on #3950
@yosefe Do I need to do anything with this? It makes sense that not having UCP_FEATURE_AM caused an error, but do we want something more informative. I don't know how the other features handle this.

[2019-07-25 22:23] WonderfulVoid commented on #3928
https://github.com/ARM-software/progress64/commit/3ebdd9119d9cf1b2ef32fc788d8ed0a189b97620
Builds and runs on MacOS (10.14.5) with both GCC and Clang, with and without (address and UB)) sanitizers (found and fixed an unrelated bug!).

[2019-07-26 02:15] hiroyuki-sato commented on #3928
Hello, @WonderfulVoid. Thanks! I succeed Progress64 on macOS.

@shamisp, @dmitrygx  Do you have any concern OpenUCX use PROGRESS64 library?
If it's OK, I'll try to use this library.

I'm thinking to use `spinlock` and `timer` in PROGRESS64 on macOS.
Additionally, I'm looking for `futex` alternative.

I updated the previous plan.

* As you know ` os_unfair_lock` isn't a spinlock.
* So I think we'd

[2019-07-26 06:14] hiroyuki-sato opened #3959 "[Q] futex, Does TODO use pthread_cond mean?"
I found the message `TODO use pthread_cond` message in `src/ucs/async/async.c`.
Does this mean that OpenUCX want to replace `futext` to `pthread_cond` on Linux?

I'm looking for `futex` alternative because macOS doesn't support it.
Fortunately, `pthread_cond_wait` and some functions available on macOS.

[code]

[2019-07-26 08:42] tjcw commented on #3954
I think the problem is that ucp_am_send_nb doesn't make a copy of the ucp_dt_iov_t array. In my case, the ucp_dt_iov_t[2] is a local variable on the caller's stack, and it seems that by the time the ucp active message runtime refers to it, some parts have been reused for other purposes by the caller.
I will run the ucp_am gtest on my system.

[2019-07-26 09:15] tjcw commented on #3954
Yes, I have confirmed that this is the problem. 'gtest --gtest-filter=*ucp_am*' runs cleanly, but when I change the test to
[code]
I get a segmentation violation in the internals of libucs.so, at libucs.so.0(+0x2c308) .
So it looks like ucx requires the 'iovec' to be in storage which is stable until the completion callback is driven.
Is it possible to remove this restriction ?

[2019-07-26 13:16] WonderfulVoid commented on #3928
Note that the P64 timer support requires some thread to periodically call p64_timer_expire().

Futex is an OS service, something user space code can utilise. Linux is not going to provide an alternative service. What are you really after here?

[2019-07-26 14:23] hiroyuki-sato commented on #3928
Hello, @WonderfulVoid Thank you for your comment.

I'm thinking of using `p64_timer` instead of `timer_create`.
I'll take a look code later.

I'm not familiar `futex` yet. I created issue #3959.
Maybe, It relates to PROGRESS64.

[2019-07-26 16:21] snyjm-18 commented on #3954
Because it is a nb call, the iovec is not available for reuse until the completion callback is called. I do not believe there is a way to remove this restriction. @yosefe or @shamisp might be able to add more context as this is not an issue specific to AMs.

[2019-07-26 17:57] klipto commented on #3956
A bit of an update here.

It turns out our VMs were not assigning physical GPUs to the correct logical ones at boot time (i.e., physical GPU0 was not necessarily GPU0 as per nvidia-smi topo -m).

We used CUDA_VISIBLE_DEVICES to reorder them and UCX was then able to correctly exploit our NVLINK hardware.

Closing this issue as we have a fix for now.

[2019-07-26 17:57] #3956 closed

[2019-07-26 18:28] shamisp commented on #3956
Thanks for the update

[2019-07-26 18:30] shamisp commented on #3954
Is the request to cache the iovec structure itself ? Are you allocating it on stack or something ?

[2019-07-27 00:04] snyjm-18 commented on #3954
When I had to do something similar, I dynamically allocated the memory or used a memory pool and then attached it to the request and then freed/released it in the completion callback.

[2019-07-27 14:03] shamisp commented on #3954
I would expect that this is something that is cached on the user level (MPI request?)

[2019-07-27 14:23] #3748 closed

[2019-07-29 02:09] hiroyuki-sato commented on #3945
Hello, @yosefe Could you comment about this?

Question is follows.

* Which method(SYSV or mmap) is better on macOS? (macOS doesn't support SHM_REMAP)
* If we choice mmap, is it possible to disable SYSV in the _current_ implementation?
* If that feature not available yet, Could you tell me _how to_ implement it?

Best regards.

[2019-07-29 09:23] tjcw commented on #3954
I have found a suitable structure that I can extend to hold the iovec, and now things are working. Closing.

[2019-07-29 09:23] #3954 closed

[2019-07-29 10:23] hoopoepg commented on #3945
@yosefe btw it seems bistro mode should be disabled on freebsd & macOS - it is based on direct syscals which may be different on non-linux OSes

[2019-07-29 15:53] yosefe commented on #3959
@hiroyuki-sato it means we could potentially use either futex of pthread_cond. since we now care about FreeBSD and MacOS, it will probably be pthread_cond and not futex.

[2019-07-29 15:54] yosefe commented on #3951
@tjcw can we close this ?

[2019-07-29 15:55] tjcw commented on #3951
Yes. Closing.

[2019-07-29 15:55] #3951 closed

[2019-07-29 16:03] yosefe commented on #3945
adding @kostikbel who is already working on this AFAIK
we have 2 main use-cases of SHM_REMAP in the code:
1. in UCM module (malloc hooks). We can undefine/disable all SHM_REMAP-related flows here: since it doesn't exist, no need to catch it.
2. In UCS module: it's used for allocating shared memory at fixed address. Here' it's not so simple. We should probably return UCS_ERR_INVALID_PARAM if we hav

[2019-07-29 20:31] kostikbel commented on #3945
I simply implemented SHM_REMAP for FreeBSD, it was the simplest way out.

What you can do if you need SHM_REMAP and accept some not 100% reliable hack is to call munmap(2) before shmat(2).  Fixed-address mappings are somewhat risky anyway, if you do not control the whole address space, and the difference between shmat(SHM_REMAP) vs. munmap/shmat() is that somebody else might mmap into the space be

[2019-07-30 00:34] keisukefukuda commented on #3945
Thanks for all of your comments and advice.

I think it is acceptable to return `UCS_ERR_INVALID_PARAM` from `ucs_sysv_alloc()` when `SHM_REMAP` is used on MacOS, because it is obvious from the name that the functions is a very thin wrapper of the SYSV system call and thus platform-dependent.

I will write a patch to do that, as a basis for further discussion.

[2019-07-30 08:52] hiroyuki-sato commented on #3959
Hello, @yosefe. Thank you for your comment.

I got it
* Linux -> `futex`
* FreeBSD, macOS -> `pthread_cond` or something.

I'll talk @kostikbel  about implementation.
@kostikbel, Could you cooperate with me when I porting futex alternative?

[2019-07-30 08:53] yosefe commented on #3959
@hiroyuki-sato if we can make it work with pthread_cond, better use it on Linux as well ..

[2019-07-30 09:05] hiroyuki-sato commented on #3959
@yosefe Those functions are available on macOS and FreeBSD too.
(I looked up FreeBSD and macOS manual)

I'll try to replace `futex` using `pthread_cond`.

* pthread_cond_destroy
* pthread_cond_init
* pthread_cond_signal
* pthread_cond_timedwait
* pthread_cond_wait

[2019-07-30 10:38] kostikbel commented on #3959
See https://github.com/kostikbel/ucx/commits/freebsd, commit Futexes are only available on Linux.
I did not tested it for known reasons.

[2019-07-30 11:32] hiroyuki-sato commented on #3959
Hello, @kostikbel. Thank you for your reply.
I found [this commit](https://github.com/kostikbel/ucx/commit/6ea631a30987253e793a6f410e4d817dcd735c85)
I'll take a look later.

For avoiding duplicate works, we need to share macOS/FreeBSD specific issues.
I'll prepare it.

[2019-07-30 12:31] kostikbel commented on #3959
Just look at the freebsd branch, and perhaps base your work on it and not on the ucx/master.  I am trying to push all of this into mainstream as soon as I can given that the work is background.

[2019-07-30 13:56] shamisp commented on #3928
@hiroyuki-sato I don't have any concerns, it is BSD code so we have no license conflicts. You would have to deal with some of the C11 dependencies, but it should be fixable.

[2019-07-30 13:56] tjcw opened #3977 "Assertion `(arbiter)->guard == 0' failed during ucp Active Message processing"
I am porting an application from IBM PAMI to UCX. The application uses ucp active messages. I am running on 1 node with 4 processes. I am seeing an assertion failure in UCX with the following trace:
[code]
This is process 3 attempting to send an active message to process 1 during a ucp_worker_progress call. Process 1 gets a similar error; it is attempting to send an active message to process 3 dur

[2019-07-30 14:22] tjcw commented on #3977
I'm not sure how many outstanding ucp_am_send calls there will be; it will be somewhere from 1 to 4 (if you count a possible self-send). The application is doing a 4-process 'allreduce' but I'm not sure if it will be doing this with a 4-way all-to-all exchange or some other algorithm. I get the error during ucp_worker_progress, where this calls the application to drive an AM completion upcall, and

[2019-07-30 14:35] snyjm-18 commented on #3977
I am trying to reproduce the issue and have been unable to. I am using the following code. The variable "i" goes above 512kB.
`        sstatus[0] = ucp_am_send_nb(receiver().ep(), am_id,
                                 buf.data(), 1, ucp_dt_make_contig(i),
                                 (ucp_send_callback_t) ucs_empty_function,
                                 send_reply);

        sstatus[1] =

[2019-07-30 14:36] snyjm-18 commented on #3977
Can I also see your sender completion callback?

[2019-07-30 15:01] shamisp commented on #3945
There are users that care about OpenSHMEM on OSX.

For symmetric heap OpenSHMEM should use UCX allocator and the base address does *not* have to be the same.

For static and global variables on OSX we can switch to RMA emulation since we don't really care about performance. This is mostly for people developing on their laptops. It just have to function.

For Freebsd, I guess you do care about perf

[2019-07-30 15:12] snyjm-18 commented on #3977
Could you also set "export UCX_LOG_LEVEL=poll", run it, and attach the output, probably as a text file because it'll be a lot of output.

[2019-07-30 15:15] snyjm-18 commented on #3977
Based on the assertion and where it is, it looks like the completion callback is calling something that it should not. For example, ucp_worker_progress() cannot be called within ucp_worker_progress(). Although I don't think thats the issue because it gives a different error message. @yosefe may be able help as well.

[2019-07-30 15:28] tjcw commented on #3977
I am making additional active message calls in the completion callback. Is this allowed ?
Take a look at the stack trace above to see what is going on. I'll also add the trace from process 3 ( the target of the active message) which also fails the same assertion at the same time.

[2019-07-30 15:31] tjcw commented on #3977
Process 3 trace
[code]
[code]

[2019-07-30 15:37] snyjm-18 commented on #3977
Yes, you should be able to do an active message send from a completion callback. Although I'll have to think about it. Can you set "export UCX_LOG_LEVEL=poll" and send me the trace. This will help me see how the arbiter value is changing.

[2019-07-30 15:40] tjcw commented on #3977
I turned trace on. The test case ran cleanly 2 times, then trapped on the 3rd run in the same way. I have 69 MB of trace; how can I get this to you ?

[2019-07-30 15:43] snyjm-18 commented on #3977
You can email it to me jms285@duke.edu

[2019-07-30 15:43] tjcw commented on #3977
[run.log.zip](https://github.com/openucx/ucx/files/3447584/run.log.zip)
Here is the trace, compressed with 'zip'

[2019-07-30 16:07] kostikbel commented on #3945
Resolved in which way ?  FreeBSD does have SHM_REMAP, I implemented it, see above.

[2019-07-30 16:13] tjcw commented on #3977
@snyjm-18 You asked for the completion callback, but it isn't very revealing unless I give you the whole application ; and that isn't open source. So I think we'll have to try debugging this with the aid of whatever trace can be turned on and by writing scaffolding code to mimic what the application does.

[2019-07-30 16:21] snyjm-18 commented on #3977
@tjcw I understand. I'm at sort of a loss for what could be causing this, so I may have to wait for input from @yosefe before I continue. Can you try using a different transport for intranode communication and see if that helps? And just to double check, you are not also using any uct calls with the ucp calls?

[2019-07-30 16:27] tjcw commented on #3977
How do I select s transport to use for intranode communication ? ( This test case runs all 4 processes on 1 node )

[2019-07-30 16:43] snyjm-18 commented on #3977
export UCX_TLS=name_of_transport1,name_of_transportn
This should help as well:
https://github.com/openucx/ucx/wiki/UCX-environment-parameters

[2019-07-30 17:32] tjcw commented on #3977
No, I am not making any UCT calls

[2019-07-30 17:36] yosefe commented on #3977
@tjcw it's not allowed to make additional send calls from send completion callback. the intent was to allow it, but it's not really supported now.

[2019-07-31 00:28] hiroyuki-sato commented on #3959
@kostikbel Thank you for your comment. I'll take a look at your branch.

I'm developing macOS porting on this branch.
https://github.com/hiroyuki-sato/ucx/tree/osx_fixes
I create PR as soon as possible if a modification relates to a Linux platform.
But, I don't create a PR about macOS(and FreeBSD) specific, because I'm not sure whether those changes are properly or not yet.

[2019-07-31 00:45] snyjm-18 commented on #3977
Sorry, my mistake on that. However, you can make additional ucp_send_am calls from active message handlers.

[2019-07-31 09:58] tjcw commented on #3977
I have found a way of deferring the application's completion callback (and hence the active message calls) until after the ucp completion callback returns. This makes my test case pass. A possible unfortunate side effect of this is that I now refer to the ucp request structure after I make a ucp_request_free call for it, but this may be OK since I don't think the ucp request structure can be reuse

[2019-07-31 12:33] angainor opened #3984 "Question: UCX + CUDA performance"
I am using OSU benchmarks to understand the performance of OpenMPI+UCX with CUDA+Infiniband transfers. I see some numbers that I do not understand, and would appreciate some guidance. I am running on CentOS 7.6.1810 with a stock OFED (not MOFED), FDR interconnect, UCX from HPCX 2.4, OpenMPI 4.0.1, and gdrcopy module (git master). I test inter-node transfer bandwidth, running one rank per compute n

[2019-07-31 13:32] shamisp commented on #3977
@yosefe In UCP.H we don't state anywhere that we have this contain. Sounds like temporary (?) issue but this is something that has to be documented

[2019-07-31 13:37] snyjm-18 commented on #3977
@tjcw if you do any ucp sends between the the ucp_request_free call and the further referencing, then the request may be reused. If you don't make any send calls, it is still not guaranteed to be safe to use. @yosefe correct me if I am wrong.

[2019-07-31 13:39] yosefe commented on #3977
@snyjm-18 you are right. according to UCP API, must not use the request after calling ucp_request_free.

[2019-07-31 14:23] tjcw commented on #3977
OK, I have revised my code to defer freeing the request until after I have finished using it. So now I am in conformance with the UCP API.

[2019-07-31 14:47] bureddy commented on #3984
@angainor
Can you get "nvidia-smi topo -m" output on both nodes?
gdr_copy is optimal for only small messages. it is not complete alternative for cuda_copy.  you need both for optimal performance.
is GPUDirectRDMA plugin (nv_peer_mem) installed on both nodes?

[2019-07-31 18:19] lyu opened #3987 "Performance regression introduced by #3973"
Since #3973, I am seeing a significant reduction in all-to-all performance in our OpenSHMEM implementation.

OS: CentOS 7.5.1804 x86_64
Network: Connect-IB MT27600
[OSSS-UCX](https://github.com/openshmem-org/osss-ucx/): Master HEAD

Test program:
[code]

Run on two nodes: `oshrun -n 32 --map-by node:span ./a.out`

UCX: b121067
`0.0620651`

UCX: acf0152
`0.0335261`

Edit: Simple point-to-point test

[2019-07-31 18:52] shamisp commented on #3987
@yosefe , FYI

[2019-07-31 19:36] shamisp commented on #3928
@yosefe It seems like glibc lock compiled with LSE disabled (disabled atomics), even on fedora 30. I think it actually makes sense to bring over progress64 spin lock (or the one from DPDK)

[2019-07-31 19:56] shamisp commented on #3928
@yosefe I think It make sense to enable c11 features (atomics, barriers) on the platforms that support c11.

[2019-08-01 04:45] hiroyuki-sato commented on #3928
@shamisp Thanks! I'll try to use PROGRESS64 and compare-swap spinlock on macOS.
(I replied to him this message on twitter)

[2019-08-01 06:59] angainor commented on #3984
@bureddy Both compute nodes display the same info:
[code]

Regarding `gdr_copy` vs `cuda_copy` - performance with `gdr_copy` is consistently high (~6GB/s) when I run `osu_bw H D`. It is also consistently low (~400MB/s) when I run `osu_bw D H`. By 'consistently' I mean that I see no difference between the compute nodes: I get the same results whether I run, say, `mpirun -np 2 -H node1,node2`, or `m

[2019-08-01 08:19] angainor commented on #3984
@bureddy One more thing: when I use `-x UCX_TLS=rc,sm,gdr_copy,cuda_copy` (so both `gdr_copy` and `cuda_copy`), the results are the same as with `gdr_copy` only:

[code]
So it appears that there is no switch of transport for small -> large messages.

[2019-08-01 08:58] hoopoepg commented on #3987
really strange: how pointer to datatype instead of set of parameters may affect to performance?

[2019-08-01 13:01] yosefe commented on #3987
@lyu i could not reproduce the difference on my setup..
1. What is the output of "rpm -q libibverbs" and "ucx_info -v -b -d" on your machine?
1. the test should initialize pSync to _SHMEM_SYNC_VALUE
1. I guess you increase the symmetric heap size when running on 32 PEs?
1. Can you still see performance difference with less PEs, e.g 8 or 16?

[2019-08-01 13:04] bureddy commented on #3984
@angainor you need GPUDirectRDMA(nv_peer_mem) plugin for getting better performance where HCA can read/write directly from GPU. Otherwise, it has to use staging protocols ( copy to/from host memory at both source and destinations), which is not optimal

Yes, currently nv_peer-mem is supported only with MOFED.

In your case it is using host staging protocols where gdr_copy is optimal only when writ

[2019-08-01 13:19] hoopoepg commented on #3987
@lyu and one more test: try to set
```UCX_BUILTIN_MEMCPY_MIN=inf```
and test degradation

thank you

[2019-08-01 13:27] lyu commented on #3987
[code]
[info.txt](https://github.com/openucx/ucx/files/3456912/info.txt)

Oops, fixed. But this didn't affect the performance difference.

I have `SHMEM_SYMMETRIC_SIZE=2048M` for all my tests.

8 PEs & acf0152: `0.00317`

8 PEs & b121067: `0.00331`

16 PEs & acf0152: `0.0094`

16 PEs & b121067: `0.0135`

Like I said this is not just all-to-all. I discovered this issue in other benchmarks with comp

[2019-08-01 13:39] yosefe commented on #3987
@lyu sorry, one more question: can you see the difference when running on single node, 16 PEs, and setting UCX_TLS=rc_x?

[2019-08-01 13:46] lyu commented on #3987
@yosefe Aha! On a single node and 16 PEs, UCX acf0152

With `UCX_TLS=rc_x`: `0.02548`

Without `UCX_TLS=rc_x`: `0.00787`

[2019-08-01 14:48] yosefe commented on #3987
@lyu that narrows down the problem (looks like shared memory is not being used), but i still can't reproduce it.. can you pls try the following:
1. Run b121067 with UCX_TLS=sm
1. Run `<ucx>/src/tools/info/ucx_info -m 2048M -u ar`. What is the output?

[2019-08-01 14:51] shamisp commented on #3987
@lyu I guess you are running with xpmem ?

[2019-08-01 14:53] lyu commented on #3987
Single node, 16 PEs

acf0152: `0.01219`

b121067: `0.01306`

@shamisp We don't have xpmem on our cluster

[2019-08-01 14:55] lyu commented on #3987
@tonycurtis Could you please try to reproduce this?

[2019-08-01 15:04] yosefe commented on #3987
@lyu can you pls check if #3991 fixes this?

[2019-08-01 15:14] lyu commented on #3987
@yosefe Yes, it fixed the issue for both single and double nodes. Thank you!

Closing.

[2019-08-01 15:14] yosefe commented on #3987
(reopening until fix is merged)

[2019-08-01 20:35] Akshay-Venkatesh opened #3993 "ucp_tag_send_nbr fails when ucp_datatype is generic for cuda buffers"
Hi,

We're seeing an error in IMB with cuda extensions (https://github.com/Akshay-Venkatesh/mpi-benchmarks/tree/cuda-extensions) when run in the following way:

[code]

[code]

The error goes away when tuned collective component is disabled through `--mca coll ^tuned` because `ompi_coll_base_allgatherv_intra_neighborexchange` isn't called and a path with uses generic ucp datatypes isn't stressed.

[2019-08-02 06:40] angainor commented on #3984
@bureddy Thanks for this explanation, clears up a lot! Indeed, this is what the `gdrcopy` benchmark shows here
[code]
which is consistent with the results I see in my OSU tests.

I'll try to test with MOFED + `nv_peer_mem` and report back here.

Thanks again!

[2019-08-02 10:10] #3987 closed

[2019-08-02 12:14] angainor commented on #3984
@bureddy So I installed MOFED and `nv_peer_mem`, and re-ran the tests. Indeed, the performance is **much** better. Results for `D D`:

[code]
The performance jump at 262144 looks rather big and arbitrary, but the bandwidth for large buffers is perfect.

However :) The above test was ran with `-x UCX_TLS=rc,sm,gdr_copy,cuda_copy`. When I only use `gdr_copy`, the benchmark segfaults with the 262144-

[2019-08-02 12:44] bureddy commented on #3984
@angainor Its protocol switch at 256K. you can tune this with like -x UCX_RNDV_THRESH=8096.
you need both gdr_copy and cuda_copy to support all protocols.  gdr_copy is used in eager protocol(small messages) and cuda_copy is used in rndv protocol to stage at sender side to overcome GPUDirectRDMA read limitations on Intel chipsets.

[2019-08-02 12:49] angainor commented on #3984
@bureddy Just saying that a segfault is probably not the best behavior ;) Worked fine (although slow) regardless of the buffer size when I didn't have `nv_peer_mem` installed. If you really have to have `cuda_copy`, then maybe it shouldn't be allowed to turn it off?

Anyway, thanks for your explanations!

[2019-08-02 12:56] bureddy commented on #3993
@Akshay-Venkatesh can you try this?

[code]

[2019-08-02 12:56] bureddy commented on #3993
@Akshay-Venkatesh  I'm assuming you compiled OMPI with cuda for cuda dt pack/unpack. correct?

[2019-08-02 12:59] bureddy commented on #3984
@angainor thanks. will fix the behavior.

[2019-08-02 14:45] Akshay-Venkatesh commented on #3993
That's correct, Deva.

On Fri, Aug 2, 2019, 5:57 AM Devendar Bureddy <notifications@github.com>
wrote:

[2019-08-02 15:37] tjcw commented on #3977
No longer a problem since I am deferring the active message call until after the callback completes. Closing.

[2019-08-02 15:37] #3977 closed

[2019-08-02 15:48] tjcw opened #3998 "Segmentation violation using ucp active messages to implement 4MB broadcast"
I am porting an application from IBM PAMI to UCX, and using the Intel MPI Benchmarks to test it. I am running on 6 nodes at 20 processes/node. IMB runs fine to begin with, but then I get a segmentation violation when doing a 4MB MPI broadcast. The backtrace of the segmentation violation is
[code]
The abbreviated log from the IMB run going up to the failure is
[code]
How should I go about diagnosin

[2019-08-02 15:56] tjcw commented on #3998
The error repeated in the same place in a second IMB run

[2019-08-02 16:29] snyjm-18 commented on #3998
I'll take a look.

[2019-08-02 16:32] snyjm-18 commented on #3998
@tjcw Does it fail every time on the first iteration at 4MB? I am trying to figure out the best way for me to reproduce this, so any information related to that would be fantastic.

[2019-08-02 16:47] tjcw commented on #3998
It failed 3 times out of 3 tests. I don't know if it is the first iteration at 4MB that fails, but I suspect the failure is within the first 20 iterations at 4MB. Each failure was on rank 20, which would be the lead rank of the second node in the broadcast. I think the algorithm would be a hybrid broadcast, which involves a point-to-point send from the root rank to the lead rank on each node, and

[2019-08-02 16:54] yosefe commented on #3998
@tjcw just to make sure, the iov array itself (passed to ucp am send) stays intact until the send operation is completed?

[2019-08-02 16:56] tjcw commented on #3998
@yosefe Yes, the iov array stays intact until the sender gets the completion callback.

[2019-08-02 17:06] yosefe commented on #3998
@tjcw thjanks. can you pls send the binaries for this kind of ppc system?
[code]

[2019-08-02 18:40] snyjm-18 commented on #3998
@yosefe Is there anything you'd like me to look at with this? I don't have access to a POWER system.

[2019-08-03 02:10] Akshay-Venkatesh commented on #3993
@bureddy The change you provided resolved the issue. Thanks for the fix!

Can you explain the change a bit more? You're altering the zero_copy threshold only if datatype is UCP_DATATYPE_CONTIG. Does this mean that mem_type_pack path is no longer taken?

[2019-08-03 06:43] hiroyuki-sato commented on #3959
Hello, @kostikbel

What do you think to create a new PR on this branch?
https://github.com/hiroyuki-sato/ucx/commit/82697be73aa3a6a11fa457e234d8d3c744d8a8d6

It based on your change.
As @yosefe's comment, I change from futex to pthread_cond.

Please let me know if create a new PR for yourself. Or, Should I change something.
(Commit message and so on.)

[2019-08-03 07:49] kostikbel commented on #3959
I will create the push request later today, myself.

[2019-08-03 07:52] hiroyuki-sato commented on #3959
@kostikbel Thank you!

[2019-08-03 11:00] vchuravy opened #4001 "dlopen hijacking ignores `rpath`"
We are using CUDA-aware OpenMPI and run into the following failure scenario:

[code]

Looking at the output of `LD_DEBUG=all`.
When loading MPI:
[code]

Without loading MPI:
[code]

The loader is attributing the `dlopen` to `libucm.so.0` instead of  `libjulia.so.1`.
The `RPATH` of `libjulia.so.1` is `$ORIGIN:$ORIGIN/julia`, the second of which is the installation location of `libopenlibm`. Normall

[2019-08-03 14:23] shamisp commented on #4001
@yosefe seems like ucm is breaking rpath

[2019-08-03 18:01] yosefe commented on #4001
when using cuda, it's requred to override dlopen() to hook cudaMalloc/Free etc. and cache the correct memory type (host/device) for all future loaded libraries
probably need to make dlopen aware of the rpath pf the original binary

[2019-08-03 19:45] Keno commented on #4001
So the problem is that the CUDA libraries don't have an appropriate interface? With the recent NVIDIA acquisition of Mellanox, isn't there a way to work out a better interface here than trying to re-implement a dynamic linker in a message passing library?

[2019-08-03 20:39] vchuravy commented on #4001
I was wondering if one couldn't use (and cache) the result of `cudaPointerGetAttributes`

[2019-08-04 17:38] bureddy commented on #4001
@vchuravy we  use cudaPointerGetAttributes when we disable  pointer cache. we are using cache for better performance because of cudaPointerGetAttributes can have 0.2-05 us of overhead.

[2019-08-04 17:39] bureddy commented on #3993
@Akshay-Venkatesh  its a bug.  zcopy supposed to disabled for non-contig dt to use bcopy with external pack/unpack functions.

[2019-08-04 17:45] Akshay-Venkatesh commented on #3993
Got it

[2019-08-04 17:55] vchuravy commented on #4001
Sure that make sense, but you could cache the results of `cudaPointerGetAttributes` instead of hijacking `mmap` and `malloc.`

[2019-08-04 19:00] bureddy commented on #4001
@vchuravy It may not be reliable.  if cudaFree() happens and same virtual address could be different memory type.

[2019-08-05 09:39] tjcw commented on #3998
I tried running with a development build if UCX, and got a 'segv' at the same place with the same backtrace but on rank 100. This would be the lead rank on the last node in the broadcast.
I have not yet been able to get the use of some x86 nodes to see if this issue is reproducible there.

[2019-08-05 09:54] amaslenn opened #4008 "[mtt] UCX TCP ERROR recv() failed: Connection reset by peer"
Configuration
[code]

MTT log: http://hpcweb.lab.mtl.com/hpc/mtl_scrap/users/mtt/scratch/ucx_ompi/20190803_032317_46379_27966_jazz28.swx.labs.mlnx/html/test_stdout_UlfPMh.txt

Cmd (original np was 56):
`mpirun -np 10 -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=p2p2 -mca osc ucx -x UCX_IB_REG_METHODS=rcache,direct -x UCX_TLS=tcp -m

[2019-08-05 12:04] tjcw commented on #3998
I have been running some more exploration. Getting the fault requires running with the "I0:HybridMultiColor:Shmem:P2P" algorithm; I am now running IMB for just 4MB broadcasts, and the fault occurs in approximately 80% of the IMB runs that I do.
When I run with Electric Fence , I get a trap in rank 0 ( probably the root of the broadcast ) with backtrace
[code]
I think this is the same backtrace as

[2019-08-05 12:53] nitinpatil1985 commented on #3513
trying to run application usin openmpi 2.0.2 and ucx 1.6 in the following way:

mpirun -v -np 2000 -npernode 40 -mca pml ucx -x UCX_NET_DEVICES=mlx5_0:1 -x PATH -x LD_LIBRARY_PATH -x OMP_NUM_THREADS=1 -machinefile $PBS_NODEFILE ./a.out

error is:
select.c:410  UCX  ERROR no active messages transport to <no debug data>: mm/posix - Destination is unreachable, mm/sysv - Destination is unreachable, se

[2019-08-05 13:03] snyjm-18 commented on #3998
Could you try running the test and starting at 4MB? I am wondering if this is a resource issue. Or the AM may think it has more space than it actually does and is writing beyond the length allocated by the descriptor.

[2019-08-05 13:06] tjcw commented on #3998
I still get the trap when I run just 4MB messages

[2019-08-05 13:20] hiroyuki-sato commented on #3959
PR #4002 is created. I'll close this issue after merge.

[2019-08-05 13:27] snyjm-18 commented on #3998
Is there a possibility that the ucp_request could be released before the completion callback runs?

[2019-08-05 13:49] tjcw commented on #3998
I think I'm reusing the structure containing the 'iovec' earlier then I expect to reuse it. So by the time UCP comes to look at the iovec for sending the data, its contents are different from what they were at  the time of the active message call in the client.
This makes it my fault for driving UCP in an invalid way.
I will have to look at my code to find another place to keep the iovec. IBM PAMI

[2019-08-05 14:05] snyjm-18 commented on #3998
The UCT AM short API has something similar to that, although that doesn't really help here. I'll yet @yosefe answer the question about whether we can extend the API. It would just seem odd to internally cache 2 element iov for UCP AMs and no other part of the API, it would also make the semantics confusing.

[2019-08-05 15:17] tjcw commented on #3998
I have re-implemented my code to keep the 'iovec' elsewhere, at the cost of 1 malloc/free pair per active message. This works around this issue. Closing.

[2019-08-05 15:17] #3998 closed

[2019-08-05 15:26] yosefe commented on #3998
@snyjm-18 i don't think it makes sense to add such support: UCX would have to do malloc/free anyway to duplicate the iovec, and pay the performance overhead for this. whereas the user can have more efficient storage, because of example the user knows his iovec's are always up to 2 elements, or the request is blocking, etc.

[2019-08-05 16:08] snyjm-18 commented on #3998
Agreed, I will not worry about it.

[2019-08-05 17:06] #4008 closed

[2019-08-05 18:17] shamisp commented on #3998
If this is just two-field iovec it can resided in the upper layer request. If it is completed in place, you don't have to do much. If it is not completed in-place, you have to manage this but you already have some sort of request in your layer to do this. I don't see why it would require malloc/free in your library. Seems like a very expensive solution for iovec[2]

[2019-08-05 18:19] shamisp commented on #4001
@bureddy I think the check in Cuda also was very expensive (system call?), this is not something that we can do in communication path.

[2019-08-05 18:38] tjcw commented on #3998
The upper layer request can get reused promptly for an active message to another rank. So I have to malloc the iovec and set a pointer to it in the request if one is returned. If this becomes a performance problem I could implement a caching scheme for them.

[2019-08-05 19:39] shamisp commented on #3998
@tjcw In case of MPI I don't think you will be able to reuse it, unless it is completed.
You have to do something similar to https://github.com/open-mpi/ompi/blob/master/ompi/mca/pml/ucx/pml_ucx.c#L765

[2019-08-05 19:49] tjcw commented on #3998
This is the IBM collectives library. It is called from a version of OpenMPI rather like hcoll, but operates at a higher level than the point to point calls which implement 'basic' collectives in OpenMPI. I tried putting the iovec in the higher level structure but tracing ( and segmentation violations ) showed that this did not work.

[2019-08-05 19:54] snyjm-18 commented on #3998
I dont know how much it would help, but ucs has memory pools you can use. They operations are in ucs/datastruct/mpool.inl .

[2019-08-05 20:26] shamisp commented on #3998
My guess that you have a top level "Collective" request that caches the information about the collective, like source buffer, datatype etc. The number of outstanding messages is somewhat limited per collective. You should be able to pre-allocate the iovec.

BTW, how big is the header ?

[2019-08-05 20:53] tjcw commented on #3998
The header is 32 bytes.
I will look to see if I can precalculate the number of active messages that a rank will send in support of a collective. I am porting an application from IBM PAMI where the active message call takes a 2-element iovec by value so the application does not need to cache it.

[2019-08-05 21:04] shamisp commented on #3998
@yosefe I'm thinking out loud here.
Maybe we should consider a new datatype, something like header + payload ? The header of pre-defined size is cached on the request.

[2019-08-05 21:10] tjcw commented on #3998
I think some collectives have 16-byte headers -- 32 bytes is the maximum. If you are going to offer me something cached in the request, a 2-element iovec there might be best.

[2019-08-05 21:51] shamisp commented on #3998
It is a "new" request where only the header and the pointer to payload are cached. The pointer is already cached today. We just need to add the header.  Looking at ucp_request, I don't see that this will bloat the structure beyond what we have today.

[2019-08-06 00:04] simonbyrne commented on #4001
Is there a way to hook into the cache, or another way for programs to provide the device/host info themselves?

[2019-08-06 10:52] denisbertini opened #4014 "Minimal Linux Kernel version"
We have some issues running openMPI 4.0 with UCX  with  Debian Kernel 3.16.0-8 at initialisation of MPI jobs.
It seems to work fine for the upper minor version 0.9 0.10. Did you encounter some
issue with this particular kernel. Is there a minimal version of the linux Kernel in order to
use openMPI with UCX ?
Thanks in advance

[2019-08-06 12:38] snyjm-18 commented on #3998
@shamisp , I don't think it would be that intrusive or hard to implement. Although, it would still go on the slow path, but that shouldn't matter much b/c the iov is already on the slow path.

[2019-08-06 13:52] tjcw opened #4016 "UCX WARN : destroying inuse region, and heap corruption"
I am porting an application to use UCP active messages, and I am getting 3 messages from UCX when the application terminates. Each rank in the application gets these messages.
[code]
I am terminating the application with a call to ucp_cleanup. This issue looks similar to https://github.com/openucx/ucx/issues/1098 , but that issue has been resolved.

[2019-08-06 13:57] yosefe commented on #4016
usually it happens when program exits without calling ucp_cleanup
in any case i've removed these prints from latest master

[2019-08-06 14:05] shamisp commented on #4014
@denisbertini UCX uses cross-memory-attach but this is standard within 3.16.x. Also it may depend on interconnect that you use.

[2019-08-06 14:07] yosefe commented on #4014
@denisbertini which issues are you seeing?
UCX should auto-detech CMA support based on glibc headers

[2019-08-06 14:15] shamisp commented on #4001
@simonbyrne Even if we introduce some sort of interface that will let us to indicate what memory type is used, there is no way to pass this through MPI interface. Let's assume for a second that you use UCX directly. The allocation of memory can happen in 3rd party library (that the language has no control) and you may not know origins of the memory.

[2019-08-06 14:38] tjcw commented on #4016
I confirmed that I am calling ucp_cleanup.
I fetched the current 'master' from git, and built a release version. Now I get messages at termination
[code]
and failures with corrupted heap
[code]
I will try switching to a development build of UCX, and turning on Electric Fence, to try and catch the first error.

[2019-08-06 14:45] denisbertini commented on #4014
The problem is linked certainly to a buggy Kernel version:
During the MPI initialisation, we get systematically a Kernel Oops see:

Aug  6 13:12:43 lxbk0538 kernel: [6502193.052726] hugetlbfs: cactus_bns_inte (26849): Using mlock ulimits for SHM_HUGETLB is deprecated
Aug  6 13:12:43 lxbk0538 kernel: [6502193.055667] PGD 107fff1067 PUD 0
Aug  6 13:12:43 lxbk0538 kernel: [6502193.056842] Oops: 0000

[2019-08-06 14:51] tjcw commented on #4016
A development build of UCX fails this assertion during ucp_cleanup processing
[code]
All 120 ranks in the MPI job fail the same assertion. Electric Fence does not indicate an invalid heap access.

[2019-08-06 15:06] hoopoepg commented on #4016
@tjcw is it possible that some memory region used in send/recv operations was not destroyed before ucp_cleanup?

[2019-08-06 15:12] tjcw commented on #4016
This application doesn't use send/recv; it uses ucp active messages only. So all memory regions used would be allocated internally by ucp.

[2019-08-06 15:14] tjcw commented on #4016
The application worked ( except for the spurious messages on termination ) with UCX 'master' from about a week and a half ago. So the assertion failure is the result of a recent commit.

[2019-08-06 15:21] tjcw commented on #4016
Commit 8abf1d5 works ; commit c3dd28c gives this error.

[2019-08-06 15:28] yosefe commented on #4016
adding @bureddy
@tjcw are you using GPU buffers?

[2019-08-06 15:30] yosefe commented on #4014
@denisbertini is there a kernel backtrace following the Oops to see which syscall was causing this?

[2019-08-06 15:31] tjcw commented on #4016
No, this is a CPU-only test. I am using the Intel MPI Benchmarks, running a 4MB broadcast around 120 ranks on 6 nodes. The test case involves IBM Spectrum MPI, which is a version of OpenMPI , using an IBM-proprietary collectives library (similar to hcoll) which has been ported from IBM PAMI to UCX.

[2019-08-06 15:33] yosefe commented on #4016
@tjcw is it possible some of UCP requests were not completed and released before ucp_cleanup?

[2019-08-06 15:34] hoopoepg commented on #4016
and one more idea: can you run app with variable ```UCX_MEM_MMAP_HOOK_MODE=none```?

[2019-08-06 15:36] tjcw commented on #4016
@yosefe I don't think so. All ranks failed the assertion during MPI_Finalize processing, and a rank doesn't get to MPI_Finalize until all the active messages are complete and the requests released.
@hoopoepg I will set that up now.

[2019-08-06 15:40] yosefe commented on #4016
@tjcw do you still see warning like this:
[code]
If yes, it means some requests were not released..

[2019-08-06 15:46] tjcw commented on #4016
@hoopoepg  I tried running with UCX_MEM_MMAP_HOOK_MODE=none, and got the same result.
@yosefe I don't get any of those warnings running with a development build of UCX. When I got those warnings, it was with a release build of UCX; maybe the assertion fails before the warnings would be issued. I will try a release build.

[2019-08-06 15:57] tjcw commented on #4016
@yosefe with a release build, I am getting many of those messages
[code]
Should I trace the application to check whether I free all the requests that get allocated ?

[2019-08-06 16:01] yosefe commented on #4016
yes

[2019-08-06 16:06] tjcw opened #4018 "ucp active messages"
In active message such as ucp_am_send_nb, the dispatch is triggered on receiving the entire message. This means that if I am sending 16MB, the dispatch will be triggered when 16MB is received in its entirety? Also, internally in the implementation, is there a switch between FIFO mode to RDMA mode based on message size?
@sssharka wants to know ...
We are porting an application from IBM PAMI to UCX.

[2019-08-06 16:42] snyjm-18 commented on #4018
Yes, the callback will only run once all the data has arrived, in this case 16MB. It was discussed having letting the callback be invoked for the arrival of each packet, but it has not been implemented. If you would like that feature as well as the informed data placement, we could discuss adding it, although I'm not entirely sure how without changing the definition of a ucp_am_callback_t.

I don'

[2019-08-06 16:44] yosefe commented on #4018
@tjcw If i understand the question correctly - there is no RDMA support in UCP AM today. Onle send/receive.

[2019-08-06 16:57] shamisp commented on #3998
@tjcw if you want to proceed with this direction, you can make a proposal PR and we will discuss this.

[2019-08-06 16:59] shamisp commented on #4018
@snyjm-18 I think with steam API the callback is triggered on arrival of each packet.

[2019-08-06 17:08] snyjm-18 commented on #4018
I believe so as well. That change is easy. The harder change is having all future messages with that same ID being placed into an application specific buffer once the first callback has run.

[2019-08-06 17:16] sssharka commented on #4018
Let me first explain what we mean by FIFO vs RDMA. In PAMI, even the send can be implemented using RDMA where the header is sent first and in the dispatch the user callback sets the final destination then the whole message is delivered using RDMA. This is not the default though... The default is using packets (FIFO mode). On the delivery of the first packet (which is header+data), the user callbac

[2019-08-06 17:23] snyjm-18 commented on #4018
That makes sense, thank you for the explanation. I think that would be difficult to implement currently. However, if it helps, you can keep the buffer allocated by UCP by returning UCS_INPROGRESS, so you don't necessarily have to copy out the contents of the message.

[2019-08-06 18:28] afernandezody opened #4019 "Error incompatible types when assigning to type ‘gdr_mh_t’ from type ‘int’ while building UCX"
Hello,
I'm trying to install UCX in order to facilitate CUDA+MPI jobs. I'm using a configuration with OFED (4.17-1-rc2) and an Ethernet card. After installing CUDA and gdrcopy, I'm trying to build UCX (1.6.0) with:
[code]
However, I'm getting the following error message:
[code]

The error seems to be related to gdrcopy. Any suggestion on what is going on or how to troubleshoot it? Thanks.

[2019-08-06 18:41] dmitrygx commented on #4019
@afernandezody Hello!

Thank you for reporting this to us!
This is related to UCT/CUDA/GDR_COPY transport.
It has been already fixed in the master branch - #3964.
Please, let me know if this fixes the compilation issue reported by you

[2019-08-06 19:47] shamisp commented on #4018
@sssharka So, as you dispatch the first fragment in the software, the second fragment is cached somewhere in the NIC memory, since you cannot really dispatch it ? With PAMI over IB, how exactly you avoid intermediate copy. For the second packet to be processed on the NIC there must pre-posted receive for both header and payload.

[2019-08-06 20:04] afernandezody commented on #4019
Hi @dmitrygx,
Thank you for the feedback. Is there any timeline on the release of 1.6.1 or 1.7.0? The release schedule on the website indicates August for 1.7.0. I tried the master branch but it has fewer components than the stable release, and lacks the 'configure' file.

[2019-08-06 20:51] dmitrygx commented on #4019
@yosefe @shamisp could help us with the release schedule?

@afernandezody is it possible to use v1.6.x branch?
BTW, pls try to run ./autogen before configuring master

[2019-08-06 21:10] mmikailov opened #4020 "uct_ep_create_connected() undefined"
Dear Sir/Madam:

When trying to build OpenMPI 4.0.1 with UCX I get:
../../../opal/.libs/libopen-pal.so: undefined reference to `uct_ep_create_connected'

I have already successfully installed UCX before trying to build OpenMPI 4.0.1.

I can not find uct_ep_create_connected () function definition anywhere

.Anyone's help is greatly appreciated.

Thanks,
-Mike

[2019-08-06 21:24] shamisp commented on #4019
I think we will have 1.6.1 release out before 1.7.0. On master you have all the same components as in 1.6.x tree. If you download the code directly from git you have to run autogen.sh to generate configure.

[2019-08-06 21:26] shamisp commented on #4020
Mike,
What is the configure cmd and where ucx is installed ?

[2019-08-06 21:54] mmikailov commented on #4020
Thank you for the quick reply. Here it is:
./configure --with-ucx=/projects/mikem/applications/ucx --enable-mpi-cxx --enable-orterun-prefix-by-default \
--enable-openib-rdmacm-ibaddr --enable-static --prefix=/projects/mikem/applications/openmpi4 --enable-mpi-fortran \
--with-x --with-sge 2>&1 | tee ../configure.log

UCX is installed under: /projects/mikem/applications/ucx
I also run the below comm

[2019-08-06 22:00] yosefe commented on #4020
@mmikailov can you pls follow the instructions on https://github.com/openucx/ucx/wiki/OpenMPI-and-OpenSHMEM-installation-with-UCX#openmpi-and-openshmem-installation to disable OpenMPI's btl/uct compilation?

[2019-08-06 22:05] yosefe commented on #3993
@bureddy @Akshay-Venkatesh can we close this per #4011?

[2019-08-06 22:07] Akshay-Venkatesh commented on #3993
I checked the issue with the PR and it seems to go away. Closing for now.

[2019-08-06 22:07] #3993 closed

[2019-08-06 22:28] afernandezody commented on #4019
Hi. I tried the master and 1.6.x branches but got the following error message.
[code]
Although not the same, it looks like related to the previous error. Thanks.

[2019-08-06 22:29] mmikailov commented on #4020
Thank you very much! Done!

[2019-08-06 23:04] bureddy commented on #4019
@afernandezody It looks like you have installed  "master" branch of gdrcopy on your setup, which have API change and UCX is not adapted to it yet. Can you please install latest release version (v1.3) of gdrcopy (https://github.com/NVIDIA/gdrcopy/tree/v1.3)

[2019-08-06 23:06] raffenet opened #4021 "BUILD/xpmem: pkg.m4 dependency"
This dependency was removed from the ugni configure, but still exists for xpmem. https://github.com/openucx/ucx/blob/8e9d28d1ba1c94f230ab65a6e5b67840dacc1a08/src/uct/sm/mm/xpmem/configure.m4#L16

[2019-08-07 00:16] afernandezody commented on #4019
Hi @bureddy,
The version of gdrcopy v1.3 that I was able to download is 1+ years old and giving me errors during compilation. The error is connected to libgdrapi.so.1.2, and I believe that you commented on it (https://github.com/NVIDIA/gdrcopy-build failure on power PC #27) although I'm not using PowerPC.

[2019-08-07 00:36] bureddy commented on #4019
@afernandezody
it seems above reference issue link is incorrect. I guess you are referring https://github.com/NVIDIA/gdrcopy/issues/27
Can you open an issue in gdrcopy github with build error and your CPU model details?

[2019-08-07 00:42] afernandezody commented on #4019
Correct. I didn't post the link to the specific issue but to the website. Let me work on the other ticket.

[2019-08-07 08:12] denisbertini commented on #4014
Here is the complete dump :

Aug  6 13:12:43 lxbk0538 kernel: [6502193.052726] hugetlbfs: cactus_bns_inte (26849): Using mlock ulimits for SHM_HUGETLB is deprecated
Aug  6 13:12:43 lxbk0538 kernel: [6502193.055667] PGD 107fff1067 PUD 0
Aug  6 13:12:43 lxbk0538 kernel: [6502193.056842] Oops: 0000 [#1] SMP
Aug  6 13:12:43 lxbk0538 kernel: [6502193.058114] Modules linked in: squashfs loop osc(O) mgc(

[2019-08-07 08:48] yosefe commented on #4014
seems like shmget(HUGETLB) is broken..

[2019-08-07 08:54] denisbertini commented on #4014
OK thanks
Can you give me some hints about how to proceed ?
What can be the reason for that ?

[2019-08-07 09:07] yosefe commented on #4014
Seems like kernel bug, if it works on a newer kernel i'd suggest to use it..
Also, can check if a small program which does only the following fails, if yes it pinpoints the problem so it can be reported to debian:
`shmget(IPC_PRIVATE, 2 * 1024 * 1024,IPC_CREAT | SHM_R | SHM_W | SHM_HUGETLB);`

[2019-08-07 09:53] tjcw commented on #4016
@yosefe @hoopoepg I have adjusted my tracing so that I can see request structures as they come and go. I picked one rank which issued the "was not returned" messages, and in that rank all request structures were freed as expected; in fact one request structure was reused for all the active message calls issued. So I don't know what is allocating the request structures that are being indicated as n

[2019-08-07 10:31] tjcw commented on #4016
With the release build, Electric Fence indicates that memory is being referenced after it has been freed. The backtrace is
[code]
This trap may be a consequence of trying to clean up inuse regions.

[2019-08-07 10:42] yosefe commented on #4016
@tjcw this is already too late..
are you sure all requests are also **completed**?
can you pls run with UCX devel mode, and with:
`mpirun ... -x UCX_LOG_LEVEL=data -x UCX_LOG_FILE=/tmp/ucx_%h_%p.log -x UCX_MPOOL_FIFO=y`
then upload one rank's log file which has warnings about unreleased requests
this should give more insight on used and released requests

[2019-08-07 11:16] tjcw commented on #4016
With a development build and those env vars, Electric Fence halts the application (accessing freed memory) here
[code]
Here is the log file. I will try running without Electric Fence and see if anything more is forthcoming.
[ucx_c712f6n06_60498.log](https://github.com/openucx/ucx/files/3476681/ucx_c712f6n06_60498.log)

[2019-08-07 11:32] tjcw commented on #4016
With the devel build and without Electric Fence, I get
[code]
instead of messages about requests not being freed. Here is the log file
[ucx_c712f6n05_38791.log](https://github.com/openucx/ucx/files/3476734/ucx_c712f6n05_38791.log)
The application's request pointers were 0x10005ad5ce8 0x10005ad5b68 0x10005ad59e8 0x10005ad5868 0x10005ad56e8 0x10005ad5568 0x10005ad53e8 0x10005ad3768 .
Yes, all the re

[2019-08-07 12:02] yosefe commented on #4016
@tjcw seems like you are not destroying the ucp_worker before destroying the context

[2019-08-07 12:05] denisbertini commented on #4014
OK i tried what you suggested and it seems  i am hitting a kernel bug here :

[ 7102.537122] ------------[ cut here ]------------
[ 7102.537955] kernel BUG at /build/linux-3W25dF/linux-3.16.64/arch/x86/mm/pageattr.c:217!
[ 7102.538769] invalid opcode: 0000 [#2] SMP
[ 7102.539585] Modules linked in: xt_mark xt_owner iptable_mangle osc(O) mgc(O) lustre(O) lmv(O) fld(O) mdc(O) fid(O) lov(O) ko2iblnd(

[2019-08-07 12:20] tjcw commented on #4016
Yes, I don't have a call to ucp_worker_destroy. I'll add this and retest.

[2019-08-07 12:34] tjcw commented on #4016
I added a call to ucp_worker_destroy just before the call to ucp_cleanup, and now I get segmentation violations with backtrace
[code]
I'll add the env vars for ucx tracing, and get a log file.

[2019-08-07 12:42] tjcw commented on #4016
Here is the log file from a run with the segmentation violation
[ucx_c712f6n03_119911.log](https://github.com/openucx/ucx/files/3477017/ucx_c712f6n03_119911.log)

[2019-08-07 12:50] tjcw commented on #4016
With Electric Fence, the run traps during startup; the backtrace is
[code]
This looks like a use-after-free problem, and may be due to having UCX tracing on. I will try it again without UCX trace.

[2019-08-07 12:57] tjcw commented on #4016
With UCX tracing off, Electric Fence stops the program with backtrace
[code]
This looks like a use-after-free error in UCX.

[2019-08-07 14:25] shamisp commented on #4020
I guess we can close this one.

[2019-08-07 14:25] #4020 closed

[2019-08-07 14:28] yosefe commented on #4016
@tjcw can you pls check if #4025 fixes the issue?

[2019-08-07 14:29] shamisp commented on #4021
@raffenet I suggest to go ahead and update this configure based on Yossi's example

[2019-08-07 14:44] tjcw commented on #4016
Yes, that fixes the issue. I get messages
[code]
but they seem to be warnings only; my application uses active message support and would trap ar runtime if the version was really 1.3 .

[2019-08-07 14:52] yosefe commented on #4016
Thanks. maybe some other component in OpenMPI loads UCX v1.3 ?

[2019-08-07 14:54] mmikailov commented on #4020
Yes, thank you very much for the great support!

Sent from my iPhone

[2019-08-07 14:54] tjcw commented on #4016
@yosefe Apologies, I don't think I ran your code (or if I did, it reported that it was version 1.3, failed to initialise, and I would have been using OMPI 'basic' to run the collectives). Let me check what is going on and try again.

[2019-08-07 14:57] sssharka commented on #4018
no pre-post in active message... You only have the dispatch... but since the progress loop will not continue until the dispatch returns, dispatch will set the destination ... Any application layer, be it MPI for this example, will always have an early arrival buffer in case the receive is not posted yet.. In such case, final destination will be early arrival buffer...

[2019-08-07 15:10] tjcw commented on #4016
@yosefe When I build your code, I get ucp_version.c set up like
[code]
This causes the ucp_init call to fail (because it requires 1.7), and things go downhill from there. How do I set up the build so your code will indicate the correct version ?

[2019-08-07 15:13] yosefe commented on #4016
@tjcw how are you building my code?

[2019-08-07 15:17] tjcw commented on #4016
@yosefe I see the problem; I have checked out the 'master' branch, where I need the 'topic/rcache-fix-error-flow' branch. Let me check out the right branch and build again.

[2019-08-07 15:22] tjcw commented on #4016
@yosefe Code rebuilt and re-run; yes, it fixes the issue.

[2019-08-07 15:23] yosefe commented on #4016
@tjcw Thanks. FYI, this means some other component is setting malloc hooks, which prevents UCX from using registration cache and zero-copy.

[2019-08-07 15:26] tjcw commented on #4016
I was using Electric Fence, which replaces malloc/free and friends by setting LD_PRELOAD. Let me try running without Electric Fence.

[2019-08-08 01:26] shamisp commented on #4018
@sssharka but in this case you have to allocate separate queue just for this ?

[2019-08-08 10:01] hiroyuki-sato commented on #3959
#4002 has been merged!

[2019-08-08 10:01] #3959 closed

[2019-08-08 12:32] #4016 closed

[2019-08-08 12:57] #4021 closed

[2019-08-08 13:16] snyjm-18 commented on #4018
@shamisp @sssharka @tjcw Should I implement a streaming version, where the callback is invoked for each segment? However, if you want to avoid multiple copies, you can just use the buffer allocated by UCP. The posting of an application buffer is a much larger undertaking.

[2019-08-08 13:50] alinask opened #4034 "failure on mem_type/test_memtype_cache.basic/0"
[code]

http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/11795/label=r-vmb-ppc-jenkins,worker=2/console

[code]

http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/11795/label=hpc-test-althca,worker=0/console

[2019-08-08 14:22] sssharka commented on #4018
multiple callback will actually have a negative effect...
@shamisp the application layer needs to allocate the queue... The dispatch should be ready all the time regardless of a receive being posted or not...

[2019-08-08 14:25] yosefe commented on #3940
pkg.m4 deps removed in UCX master and v1.6.x

[2019-08-08 14:26] yosefe commented on #3550
@nmhamster this issue should be fixed now in latest master

[2019-08-08 14:26] #4019 closed

[2019-08-08 14:27] yosefe commented on #4014
closing this since the issue is not related to UCX, and reproduced with standalone test

[2019-08-08 14:27] #4014 closed

[2019-08-08 14:27] yosefe commented on #3928
@hiroyuki-sato can we close this, since your ucs_spinlock PR was merged?

[2019-08-08 14:28] #3664 closed

[2019-08-08 14:29] yosefe commented on #3737
@petro-rudenko is this issue still relevant?

[2019-08-08 14:30] brminich commented on #3390
duplicate of #3305

[2019-08-08 14:31] brminich commented on #3390
https://redmine.mellanox.com/issues/1706553
(MLNX internal link)

[2019-08-08 14:36] hiroyuki-sato commented on #3928
@yosefe, Thanks. PR #3931, #3939 was merged.

[2019-08-08 14:36] #3928 closed

[2019-08-08 14:37] naughtont3 commented on #3940
Ref #4027

[2019-08-08 15:12] tjcw commented on #4016
I have run the IMB test case on the current openucx/ucx master, to confirm that this issue is resolved.

[2019-08-08 15:27] shamisp commented on #4018
@sssharka so it can scale only with UD. Sounds like RNDV protocol over UD. You have to send a message back to the initiator with the number of the queue ? Overhead for this is going to be pretty bad ?

[2019-08-09 06:35] fantastic2085 commented on #3664
Thank you!

[2019-08-09 06:40] fantastic2085 commented on #3665
Thank you very much!

[2019-08-09 10:50] brminich commented on #3390
closing it as duplicate of #3305

[2019-08-09 10:50] #3390 closed

[2019-08-09 12:10] tjcw opened #4036 "ucp active messages take an excessive number of ucp_worker_progress calls"
I have a test case which calls MPI_Ibcast to do a nonblocking broadcast of a 32MB buffer around 4 ranks on 4 nodes, over Infiniband. I wait for completion of the MPI_Ibcast with a loop which does some floating-point work and then calls MPI_Testall. I am using an IBM proprietary collectives library which works by sending active messages, which can run over either IBM PAMI or UCP.
By comparison with

[2019-08-09 13:50] snyjm-18 commented on #4036
I agree that seems like an excessive number of calls. Are you checking the return value of ucp_worker_progress?

[2019-08-09 13:54] tjcw commented on #4036
I'm currently ignoring the return value. What would you like me to do with the return value ?

[2019-08-09 14:02] snyjm-18 commented on #4036
The return value indicates how much work it did. I believe if it returns 0, no work was done, so the send has completed, so there is not reason to keep calling it. @yosefe @shamisp please confirm.

[2019-08-09 14:32] tjcw commented on #4036
I am now reporting how many times ucp_worker_progress comes back with a non-zero return code; see 'progressedCount' in the new trace file here [run_abbrev_2.log](https://github.com/openucx/ucx/files/3486731/run_abbrev_2.log) . The 'progressedCount' values are much lower than the 'advancecount' values.
The application keeps calling ucp_worker_progress (each time after doing its floating-point work)

[2019-08-09 14:49] snyjm-18 commented on #4036
I'm interested in where the time is going. It doesn't seem like its on the send side and may be on the receive side. If its on the receive side, it may be related to your other open issue.

[2019-08-09 15:19] tjcw commented on #4036
Here is the trace from the same test but using IBM PAMI [run_pami_abbrev.log](https://github.com/openucx/ucx/files/3486932/run_pami_abbrev.log) . I haven't annotated it with 'advance' counts because in this case progress is done by a different method which makes it difficult to count. The trace shows that transfers over the IB are being done in 32MB units, i.e. the application broadcast buffer is

[2019-08-09 15:25] snyjm-18 commented on #4036
The iovec will not be transferred as one chunk because 32MB won't fit in a single packet. It should not require a ucp_worker_progress call for each packet. If it required a call for each packet, the number of non-zero ucp_worker_progress calls would be much higher than those in run_abbrev_2.log. I am not 100% on this and @yosefe or @shamisp should confirm.

[2019-08-09 21:01] yosefe commented on #4036
Each ucp_worker_progress call processes a single packet. 32MB would be split to ~4000 packets of 8k over a typical IB transport.
However, the mere overhead of progress function call is very small compared to the time it takes to receive a 8k message, so i highly doubt this is the root cause.
If the frequency of calling progress/advance is too low, that is - a better overlap between communication a

[2019-08-09 22:32] shamisp opened #4040 "Address documentation comments"
https://github.com/openucx/ucx/pull/4004

Reminder to address pending documentation comments.

[2019-08-10 17:43] shamisp commented on #4036
@yosefe on sender side you don't have to generate completion for every send

[2019-08-11 07:38] #3550 closed

[2019-08-11 07:39] yosefe commented on #3453
Fixed in MOFED 4.6

[2019-08-11 07:39] #3453 closed

[2019-08-11 07:40] yosefe commented on #3007
duplicate of #2934

[2019-08-11 07:40] #3007 closed

[2019-08-11 07:41] #3737 closed

[2019-08-11 07:42] yosefe commented on #3213
closing due to no response from issue author

[2019-08-11 07:42] #3213 closed

[2019-08-11 07:45] yosefe commented on #2755
fixed in #4022

[2019-08-11 07:45] #2755 closed

[2019-08-11 07:45] yosefe commented on #3030
closing due to no response from issue author

[2019-08-11 07:45] #3030 closed

[2019-08-11 19:04] nmhamster commented on #3550
@yosefe - thanks for the update.

[2019-08-12 07:19] #3882 closed

[2019-08-12 11:39] dmitrygx commented on #3513
PMIx fails with the same status. Checking PMIx code, `connect()` call fails with unreachable error
So, looks like this is not UCX error

[2019-08-12 11:40] yosefe commented on #3513
@dmitrygx i think TCP should not check subnet prefix for reachability anyway

[2019-08-12 11:44] dmitrygx commented on #3513
@yosefe I agree with you.
We discussed it with @brminich. What do you think about using the same approach as ping IP utility does? i.e. create RAW socket and do sendto-recvfrom ICMP packet to check reachability.

[2019-08-12 11:47] dmitrygx commented on #3513
or is_reachable method must be static check?

if you are OK, there is one problem with this approach - if it isn't allowed by firewall, we should fallback to another method

[2019-08-12 11:47] yosefe commented on #3513
i'm not sure we need to go there, i would just return true
because is-reachable should be relatively fast function and it cannot wait for icmp response/timeout..

[2019-08-12 11:50] dmitrygx commented on #3513
imo, it sounds as a good plan (anyway we don't check the reachability of a concrete port right now). The best indicator of addr:port reachability is `connect()` here

[2019-08-12 17:27] #3513 closed

[2019-08-13 09:18] dmitrygx commented on #3487
@yosefe @brminich can we close the issue? I haven't seen this failure since it was reported and unable to reproduce locally

[2019-08-13 20:00] ca-taylor opened #4059 "UCX on EL 7.5 and EL 7.6"
We'd like to upgrade to EL 7.6.  All of our current hosts are running EL 7.5 with ucx-1.4.0.  That works fine with various builds of OpenMPI on our Mellanox (connect-IB, connectX-4, connectX-5) fabric.

However, if we upgrade any of our hosts to EL 7.6 and install the same ucx 1.4.0 (built on an EL 7.6 host), and try to run an existing app (OpenMPI 3.1.0 in this case but I've tried others) we get

[2019-08-13 20:08] ca-taylor commented on #4059
This looks similar to,
    https://github.com/openucx/ucx/issues/2685
which references an internal Mellanox ticket and says was fixed.

If so, what was the fix and how do we get it?

[2019-08-13 20:24] brminich commented on #4059
It also similar to #3087.
Can you please check whether #3090 fixes the issue? (it should be included starting from UCX 1.6)

[2019-08-13 20:30] ca-taylor commented on #4059
Thanks.  I'll give 1.6 a try and post back.

[2019-08-14 00:43] ca-taylor commented on #4059
Indeed, 1.6 appears to work on both EL7.5 and EL7.6 with existing binaries compiled against ucx 1.4.0.
Thanks!

[2019-08-14 17:12] shamisp commented on #4059
I guess we can close this one .

[2019-08-14 17:12] #4059 closed

[2019-08-14 18:16] ca-taylor commented on #4059
Yes.  My testing is not very thorough yet but if it turns out that there is still an issue, I will come back and re-open this but I don't think that is going to happen.

[2019-08-14 22:46] shamisp commented on #4040
Fixed by #4046

[2019-08-14 22:46] #4040 closed

[2019-08-15 13:01] #4001 closed

[2019-08-16 09:10] tjcw commented on #4036
As @yosefe suggested, I think I need to implement large UCP active messages over RDMA. I think the way to do this is to take a copy of src/ucp/tag/rndv.c and revise it so that it works for active messages. I have started a branch here https://github.com/tjcw/ucx/tree/tjcw-am-rdma for this work.
I am interested in implementing for the case where the client passes an 'iovec' to the active message ca

[2019-08-16 10:17] evgeny-leksikov opened #4068 "test_uct_cm_sockaddr failures"
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-arm-hwi-jenkins,worker=1/11932/consoleFull#1664427763b7949d9e-3f09-4d9b-9be7-3ff694c6afcd
[code]

http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-arm-hwi-jenkins,worker=3/11932/consoleFull#56854126544550c5d-247a-4f9d-bad5-5b93d2b6e2ac
[code]
@alinask could you pls take a look? seems like timeout is small

[2019-08-16 10:21] evgeny-leksikov opened #4069 "log_test_info.hello"
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-arm-cavium-jenkins,worker=2/11932/consoleFull#1664427763b7949d9e-3f09-4d9b-9be7-3ff694c6afcd
[code]

[2019-08-16 12:46] snyjm-18 commented on #4036
I am assuming that more frequent ucp_worker_progress() calls did not solve the performance issue.

If you need any help, please let me know.

[2019-08-16 12:54] tjcw commented on #4036
For many applications, it will not be practical to call ucp_worker_progress() more frequently; the application will be coded to do a certain amount of work, then call MPI_Test*() which will call opal_progress() which will call ucp_worker_progress() amongst other things.

[2019-08-16 14:26] evgeny-leksikov commented on #4068
Another failure
[code]
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-arm-hwi-jenkins,worker=3/11938/consoleFull#-853622487b816df86-9afc-46eb-984f-1a9a125d73bb

[2019-08-18 06:57] alinask commented on #4068
I've increased the timeout for the new stress tests here - https://github.com/openucx/ucx/pull/4074
The timeout in the last issue reported in this ticket is not from the new tests, so it's possible that there was an unusual load on the server during these jenkins jobs.

[2019-08-19 06:08] brminich commented on #4068
One more issue happened here: http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/11950/label=hpc-arm-hwi-jenkins,worker=2/consoleFull#1664427763b7949d9e-3f09-4d9b-9be7-3ff694c6afcd

[code]

[2019-08-19 11:48] yosefe opened #4077 "failure in rcx/test_ucp_tag_mt.send_recv on upstream"
http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/1398/nodes/112/steps/508/log/?start=0
[code]

[2019-08-19 13:19] yosefe commented on #4077
devx dbrec not returned mpool

[2019-08-20 09:36] yosefe commented on #4077
fixed by #4079

[2019-08-20 09:36] #4077 closed

[2019-08-20 10:31] tbiedert opened #4081 "Binary portability (OpenMPI + UCX)"
How portable would a binary distribution of OpenMPI + UCX be (on Linux)?

I guess the dynamic module loading helps, but in the case of CUDA-aware MPI with potentially RDMA, to what degree does it rely on specific versions of MOFED/OFED or CUDA for instance?

Thanks!

[2019-08-20 10:33] yosefe commented on #4081
if the application is build over MPI interface, it's binary portability is by OpenMPI rules, which is AFAIK for a major release version (e.g OpenMPI 4.0 should be compatible with OpenMPI 4.1)

[2019-08-20 10:36] yosefe commented on #4081
Also, a binary build of OpenMPI+UCX is generally NOT compatible across different versions of Cuda and OFED.

[2019-08-20 11:33] tbiedert commented on #4081
Ok, thanks!  I'm actually talking about the portability of OpenMPI+UCX itself.  So compile both on system A, and use both on system B.

So we basically depend on binary compatibility of CUDA and OFED?

[2019-08-20 11:35] yosefe commented on #4081
yes
OFED and rdma-core are supposed to be backward compatible but to be on the safe side i would not mix different versions
Cuda - maybe @Akshay-Venkatesh or @spotluri can tell

[2019-08-20 12:51] spotluri commented on #4081
CUDA driver provides binary backwards compatiblity, UCX only uses CUDA driver API, So, should be OK to reuse on systems with newer CUDA drivers.
https://docs.nvidia.com/deploy/cuda-compatibility/index.html#binary-compatibility

[2019-08-20 13:42] Akshay-Venkatesh commented on #4081
@spotluri This is mostly true. There are a few calls runtime calls also made from some of the cuda components.

[2019-08-20 13:43] brminich opened #4083 "failure in thread_mutex/test_async.ctx_event_block/0"
Happened here:

http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/11986/label=hpc-test-node-legacy,worker=2/consoleFull#1664427763b7949d9e-3f09-4d9b-9be7-3ff694c6afcd
[code]

[2019-08-20 13:43] brminich commented on #4083
can be relevant to #3107

[2019-08-21 14:36] dmitrygx commented on #3769
reproduced on hpc-test-node-upstream02 under valgrind:
[code]
http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/1424/pipeline/112

[2019-08-22 05:45] brminich opened #4088 "failure in dcx/test_ucp_peer_failure.bcopy_multi/2"
happened here: http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/12004/label=hpc-test-node-legacy,worker=2/consoleFull#571846247b7949d9e-3f09-4d9b-9be7-3ff694c6afcd

[code]

[2019-08-23 13:52] marmistrz opened #4094 "Debian build instructions are inaccurate"
README tells to use `dpkg-buildpackage` but this won't work, because there exists no debian/control & debian/changelog. debian/control.in & debian/changelog.in exist instead.

How should one actually build the Debian package?

[2019-08-23 14:47] shamisp commented on #4094
I don't think we actually test Debian packages. @yosefe may know.

[2019-08-23 15:49] mike-dubman commented on #4094
We test with debian.
Files you mention are generated by configure process.
Once autogen and configure are done - you can use dpkg

[2019-08-24 20:54] shamisp commented on #4094
@marmistrz can you please confirm. Thanks @mike-dubman .

[2019-08-24 21:01] shamisp commented on #4081
Can we close ?

[2019-08-24 21:18] marmistrz commented on #4094
Thanks, I will, probably on Monday.

[2019-08-25 08:40] yosefe opened #4095 "valgrind error in tcp/test_ucp_wireup_1sided.disconnect_nb_onesided/3"
https://gist.githubusercontent.com/mellanox-github/e0d5322f62e58f6325b8c73639cee945/raw/52fcaafd160f6c96d875172c59bcaccd3dfa9890/hpc-test-node-gpu_W3
[code]

[2019-08-25 10:12] #4081 closed

[2019-08-26 07:20] marmistrz commented on #4094
This is right. Thanks. But it appears that even with `DEB_BUILD_OPTIONS='parallel=4'` only one gcc process is spawned. (i.e. make is not parallel)
Probably using `dh --parallel` or bumping `debian/compat` to `10` should do the trick, according to this [AskUbuntu post](https://askubuntu.com/questions/337093/how-to-run-parallel-make-with-debuild)

[2019-08-26 12:22] PaulKarlshoeferBULL commented on #2729
Hello,
it seems to me that this issue persists. Any update?
Thank you in advance!

[2019-08-26 15:22] mike-dubman commented on #4094
@yosefe

[2019-08-26 21:12] #4095 closed

[2019-08-27 01:11] afernandezody opened #4102 "Loss in performance as core count increases"
Hello,
I'm combining UCX 1.6.0 with OpenMPI (4.0.1) in clusters created with instances from AWS. I have no issue compiling and building everything. The jobs run fine but the performance is just not there. Small clusters (72 cores) exhibit the expected performance but increasing the core count (288) leads to performance deterioration (around 20%) versus standard clusters, which use BTL components.

[2019-08-27 07:21] yosefe opened #4103 "failure in rcx/test_ucp_rma.nonblocking_stream_put_nb_flush_ep"
https://gist.githubusercontent.com/mellanox-github/a4b282cc4ea532feb6693f445e5dff3b/raw/81e39b12d7704ab21328b4b05d60c14397efeacd/hpc-arm-cavium-jenkins_W3
[code]

[2019-08-27 07:25] yosefe commented on #4102
@afernandezody i guess the transports in use are TCP and shared memory?
Can you provide one example of a benchmark and number of cores where you see the most difference vs BTL components (command line, number of nodes, and number of cores per node)?
thank you!

[2019-08-27 08:00] yosefe commented on #2729
@hoopoepg can you pls add configure check for that compiler flag? 10x

[2019-08-27 13:31] amaslenn opened #4105 "[mtt] segfault in verifier"
[code]

MTT log: http://e2e-gw.mellanox.com:4080//hpc/scrap/users/andreyma/scratch/shmem/20190826_114504_5522_446824_clx-hercules-001/html/test_stdout_6wGhD_.txt

Notes:
 - Reproduces without HCOLL (`-mca coll_hcoll_enable 0 -mca coll ^hcoll`).
 - Reproduces with `UCX_UNIFIED_MODE=n`.
 - Reproduces with `UCX_DC_MLX5_TX_POLICY=dcs_quota`.

`oshrun -np 129 --display-map --bind-to core -mca oshmem_pr

[2019-08-27 13:35] marmistrz commented on #2507
At @golemfactory we're testing the rxe and siw drivers for MPI with RDMA over 1GigE/10GigE. When iWARP support is implemented in UCX, we'll be happy to test this feature and its performance in comparison to rxe+ucx.

[2019-08-27 14:12] yosefe commented on #2507
currently the main missing items for iWarp support are:
- boostrap RC transport over rdma_cm instead of over UD
- use RC without shared receive queue

[2019-08-27 14:16] yosefe commented on #4102
thanks , it seems mostly related to TCP performance then. adding @dmitrygx

[2019-08-27 14:25] dmitrygx commented on #4102
@afernandezody do you have those benchmarks available for free?

[2019-08-27 14:28] yosefe commented on #4102
i guess it's https://www.nas.nasa.gov/publications/npb.html

[2019-08-27 14:43] dmitrygx commented on #4102
@yosefe @shamisp thank you!

[2019-08-27 15:17] hoopoepg commented on #2729
hi
PGI compiler has few limitations in preprocessor, like incorrect processing of ```##__VA_ARGS__``` variadic macro arguments which makes impossible compilation of UCX by it (tested on PGCC 19.7)

[2019-08-27 15:22] PaulKarlshoeferBULL commented on #2729
Is there a way to make it work? Having a MPI based code which uses OpenACC managed memory would depend on a cuda-aware MPI (which in turn needs UCX, right?)

[2019-08-27 15:34] yosefe commented on #2729
you can compile UCX with GCC, and compile OpenMPI and the application with PGI

[2019-08-27 15:36] hoopoepg commented on #2729
@shamisp incorrect: it ignores ## prefix/postfix at all and expand ```(a,b,##__VA_ARGS__)``` construct into ```(a,b,)``` in case if __VA_ARGS__ is empty. It cause incorrect processing of ARG_NUM macroses and tons of incorrect auto generated functions

[2019-08-27 17:45] mike-dubman commented on #2729
@hoopoepg plz send me repro .c and will ask nvidia folks.

[2019-08-28 08:25] Sergei-Lebedev opened #4107 "Data corruption with gdr_copy"
I faced with data corruption when using ucx gdrcopy transport with nccl-ucx plugin. It appears as wrong allreduce result in nccl tests for some message sizes. I see wrong result every time when I run test with gdrcopy and I've never seen error when only cuda_copy is used.

Steps to reproduce
1. Clone and build nccl-ucx
git clone https://github.com/Sergei-Lebedev/nccl.git
cd nccl
git checkout ucx
m

[2019-08-29 11:05] angainor opened #4118 "[Q] THREAD_MODE_MULTI performance"
I'm trying to understand performance implications of using `MPI_THREAD_MULTIPLE` with OpenMPI. As far as I understand, currently it is implemented using a single worker per rank, and `UCX_THREAD_MODE_MULTI` - more or less what `ucx_perftest` does, right?

Running a simple bandwidth test with `ucx_perftest` I do not really understand the results I see. First of all, it is hard to bind the threads t

[2019-08-29 12:54] dmitrygx opened #4121 "udx/test_ucp_rma.nonblocking_stream_get_nb_flush_ep/1 failed on hpc-test-node3"
[code]

http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-test-node-legacy,worker=1//12115/console

[2019-08-29 13:50] shamisp commented on #4118
Thanks you for sharing the results. Can you please provide us with some background about system, interconnect, UCX version, etc.

[2019-08-29 14:02] dmitrygx opened #4122 "shm_ib/test_ucp_atomic64.atomic_fand_nb/0 failed with "got active message id 2, but no handler installed""
[code]

http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-test-node-legacy,worker=2//12115/console

[2019-08-29 14:05] dmitrygx commented on #4122
@yosefe @brminich @amaslenn it seems that we saw smth like that in mtt?

[2019-08-29 14:22] amaslenn commented on #4122
Yes, looks similar to http://e2e-gw.mellanox.com:4080//hpc/scrap/users/mtt/scratch/ucx_ompi/20190827_092245_11423_450003_clx-orion-010/html/test_stdout_ONThpo.txt

[2019-08-29 14:53] angainor commented on #4118
@shamisp Of course, forgot about that.. This is an EDR system (MT27700 Family [ConnectX-4]), I used HPCX 2.4 with it's UCX (1.6?). MOFED 4.4.2.0.7.1 on Centos 7.5.1804.

[2019-08-30 13:16] dmitrygx opened #4126 "Assertion failure when running ucx_info with unified mode enabled on r-vmb-ppc-jenkins machine"
[code]

The issue is only seen when running ucx_info with `UCX_TLS=rc,dc` and `UCX_NUM_EPS >= 60` and `UCX_UNIFIED_MODE=y`  on PPC setup. Other combinations work fine

`find_better` routine reports that DC_MLX5 is better than RC_MLX5 starting from `UCX_NUM_EPS=60`

[2019-08-31 10:20] bureddy opened #4128 "incorrect UCS_PTR_STATUS(request) behavior"
`(UCS_PTR_STATUS(request) == UCS_OK)` check is ~failing~ false positive if last byte of the inprogress request object address bits are 0.

[code]

[2019-08-31 12:17] shamisp commented on #4128
This is really cool bug ! I guess it casts to short because of enum.

[2019-09-01 10:22] yosefe opened #4129 "COMPILER_OPTION macro in configure.m4 is broken"
building ucx with `--enable-optimizations` does not really enable cpu optimizations, since the optimization flags are not added to BASE_CFLAGS/BASE_CXXFLAGS

Also, need to rename this macro to COMPILER_ARCH_OPTION or similar

[2019-09-01 10:41] yosefe commented on #4128
@bureddy the expected usage is to check `UCS_PTR_IS_ERR(self->reply)` before doing UCS_PTR_STATUS(_ptr)
even if the enum was full in, we could have a 32-bit aligned ptr

[2019-09-01 18:51] bureddy commented on #4128
@yosefe  If that is the case, we have used it wrongly in some places. for example,
https://github.com/openucx/ucx/blob/master/test/examples/ucp_hello_world.c#L208

Not sure if this is valid usage. for example,  in ucp_hello_world.c, it is checked UCS_PTR_IS_ERR before UCS_PTR_STATUS. but resulted in a error because request is not progressed.
https://github.com/openucx/ucx/blob/master/test/examples

[2019-09-01 18:52] bureddy commented on #4128
https://github.com/openucx/ucx/issues/3849

[2019-09-01 23:51] azrael417 opened #4130 "crash in libucs in UCX 1.5.2 or 1.6 with OpenMPI 4.0.1 and mpi4py rdma tests"
I have built openmpi 4.0.1 against UCX 1.5.2 (and also 1.6) and get segmentation faults in libucs in mpi4py when it is compiled against this MPI. Here are my configure flags for UCX and OpenMPI:

[code]

When I build the OSU MPI single sided benchmarks with this MPI directly I can run them without any issues. That makes me think this has to do with the python bindings to MPI are achieved, potentia

[2019-09-02 06:51] hoopoepg commented on #4129
@yosefe I will look

[2019-09-02 07:12] yosefe commented on #4128
@bureddy where did you see this error? but https://github.com/openucx/ucx/blob/master/test/examples/ucp_hello_world.c#L208 does check UCS_PTR_IS_ERR a few lines before...

[2019-09-02 07:16] yosefe commented on #4129
@hoopoepg thanks, but no need - i have patch to fix it (not submitted yet), will ask u to review ..

[2019-09-02 07:18] yosefe commented on #4130
@azrael417 can you please check with UCX master? there were a few fixes related to cuda, malloc hooks, and python bindings.

[2019-09-02 07:20] yosefe commented on #4130
@azrael417 actually, i see the problem is coming from mca_btl_vader.so, which means OpenMPI uses osc/rdma instead of osc/ucx. Can you please run with "env OMPI_MCA_osc=ucx" ?

[2019-09-02 07:48] bureddy commented on #4128
I see this in jenkins of my WIP PR: https://github.com/openucx/ucx/pull/4123 , where I have added few fields in ucp_request struct which changed the size of struct from 232 Bytes to 256 Bytes.  Because of this alignment now I see more user requests ptr are 256B aligned.
jenkins log:  http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-test-node-gpu,worker=1//12153/console

I tried https://

[2019-09-02 10:02] dmitrygx opened #4134 "failure in host/test_ucp_mem_type_alloc_before_init.xfer/0 with UCX_RNDV_SCHEME=put_zcopy under valgrind"
[code]

Reproduced on hpc-test-node-upstream02

[2019-09-02 10:49] hoopoepg commented on #4122
can't reproduce issue

[2019-09-02 13:00] amaslenn opened #4138 "[mtt] atest: double free or corruption"
Configuration
[code]

MTT log: http://hpcweb.lab.mtl.com/hpc/mtl_scrap/users/mtt/scratch/ucx_ompi/20190831_032456_51115_715_jazz23.swx.labs.mlnx/html/test_stdout_DM5DKi.txt

Couldn't reproduce manually, but it fails in MTT from time to time.

Cmd
`mpirun -np 56 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV,SIGBUS,SIG

[2019-09-02 14:21] shamisp commented on #4128
@yosefe I don't think we explicitly document this. In UCP.H we have some examples how to check request status but I think we should explicitly state this.

[2019-09-02 14:38] yosefe commented on #4128
@shamisp agree. I want to change ucp.h that we should check for NULL, since comparing to UCS_OK 1st could be misleading. Maybe even dedicate a small text section for this.

[2019-09-02 15:40] azrael417 commented on #4130
Hello Yosefe,

that helped a bit, now the error is:

[code]

[2019-09-02 15:42] yosefe commented on #4130
It's a problem in osc/ucx which passes 1/2 byte atomics to UCX,
@janjust was it fixed in OpenMPI master?

[2019-09-02 15:56] tjcw commented on #4036
I have started work on active messages via RDMA. Code is in https://github.com/tjcw/ucx/tree/tjcw-am-rdma .
I am intending to implement UCP AM as 3 UCT active messages; a 'request' flowing from the client to the server, a 'response' flowing from the server to the client; and a 'completion' flowing from the client to the server. The client will perform an RDMA write between the 'response' and 'comp

[2019-09-02 16:17] snyjm-18 commented on #4036
Looks mostly fine. Couple small things.
packed_rkey_max_size -> UCP_PACKED_RKEY_MAX_SIZE
There are some other style things that need to be changed:
https://github.com/openucx/ucx/blob/master/doc/CodeStyle.md

For ucp_am_rdma_client_unfinished_t, this is to maintain a list of requests inbetween request and response messages on the client side? If so, it all makes sense to me.

Yossi is probably the

[2019-09-02 21:00] janjust commented on #4130
@yosefe no this issue is not resolved, I thought there was talk of supporting non 32/64 bit atomics in ucx sw atomics, if not, then we need to address this as part of the openmpi implementation
tagging @artpol84

[2019-09-03 06:37] evgeny-leksikov opened #4141 "GTEST: tcp/test_ucp_tag_xfer failures"
[code]
full log http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-test-node-legacy,worker=3/12181/consoleFull#-853622487b816df86-9afc-46eb-984f-1a9a125d73bb

@dmitrygx

[2019-09-03 10:48] evgeny-leksikov commented on #4141
looks related:
[code]
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-test-node-legacy,worker=1/12187/consoleFull#-853622487b816df86-9afc-46eb-984f-1a9a125d73bb

[2019-09-03 11:22] yosefe commented on #4130
@janjust yes, OpenMPI OSC/UCX implementation should fallback to active messages if it's non 32/64. I think this is considered a bug because currently UCX API explicitly states that atomics are only 32 or 64bit (by ucp_init feature flags).
in addition, we can update UCP API (and sw atomics) to support non 32/64, but that's a new feature..

[2019-09-03 14:54] yosefe commented on #4122
per offline talk with @brminich :
- add 64 byte data dump when getting invalid active message
- the mtt failure and gtest failure seem different

[2019-09-03 15:34] shamisp commented on #4130
Original 32/64 was driver by SHMEM spec. Probably for MPI we can try to expose more.

[2019-09-03 17:35] #4126 closed

[2019-09-04 07:48] #4141 closed

[2019-09-04 08:00] yosefe commented on #4138
ref: https://redmine.mellanox.com/issues/1898636

[2019-09-04 09:26] dmitrygx commented on #3758
number of ranks = 1024, number of nodes = 32
fails with:
[code]

[2019-09-04 11:54] ca-taylor opened #4152 "ucx 1.6.1 failes to configure/build on RHEL 7.6"
I'm trying to build UCX 1.6.1 on  RHEL 7.6.  However, there is an explicit requirement for libibcm.so on the configure script.   Trying to install libibcm on 7.6 yields,

I patched the configure script to omit the libibcm check, but end up with,

Processing files: ucx-ib-cm-1.6.1-1.el76.x86_64
error: File not found by glob: /home/chasman/rpmbuild/BUILDROOT/ucx-1.6.1-1.el76.x86_64/usr/lib64/ucx/lib

[2019-09-04 11:55] ca-taylor commented on #4152
FWIW, I googled this issue a good but and came up dry.

[2019-09-04 11:55] ca-taylor commented on #4152
Also, it builds without issue on RHEL 7.5

[2019-09-04 12:28] yosefe commented on #4152
@ca-taylor pls upload full command line and output of rpmbuild
it can happen if you configured UCX from RHEL7.5 by trying to run ./buildrpm.sh on RHEL7.6 from same directory

[2019-09-04 13:18] ca-taylor commented on #4152
No, I do not run "./buildrpm.sh".   I use the provided .spec file and build the RPMs with,

`export VERSION=1.5.2
export VERSION=1.4.0
export VERSION=1.6.1
export DIST="el75"
export DIST="el76"

CFG_OPTS=""
CFG_OPTS="$CFG_OPTS --with-avx "
CFG_OPTS="$CFG_OPTS --with-verbs "
CFG_OPTS="$CFG_OPTS --with-rc "
CFG_OPTS="$CFG_OPTS --with-ud "
CFG_OPTS="$CFG_OPTS --with-dc "
CFG_OPTS="$CFG_OPTS --with-rd

[2019-09-04 13:19] ca-taylor commented on #4152
In other words, it does not appear that the current ucx-1.6.1 spec file and configure script work on EL7.6

[2019-09-04 13:23] yosefe commented on #4152
@ca-taylor can you pls upload full command line and output of this script when it fails?

[2019-09-04 14:43] ca-taylor commented on #4152
Sure, but let me set it up "clean" again so you don't have any of my changes to worry about.

[2019-09-04 15:49] ca-taylor commented on #4152
Here you go...

[chasman@c1a-s1 SPECS]$ uname -a
Linux c1a-s1.ufhpc 3.10.0-957.27.2.el7.x86_64 #1 SMP Tue Jul 9 16:53:14 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
[chasman@c1a-s1 SPECS]$ cat /etc/redhat-release

[openUcx-4152.tar.gz](https://github.com/openucx/ucx/files/3575378/openUcx-4152.tar.gz)

To summarize,
`#/bin/bash
#
#export VERSION=1.4.0
#export VERSION=1.5.2
export VERSION=1.6.1
#export

[2019-09-04 15:51] ca-taylor commented on #4152
In the meantime, I'll try the "buildrpm.sh" script and see what happens.

[2019-09-04 16:04] ca-taylor commented on #4152
Actually, can't do that because,
`[chasman@c1a-s1 ucx-1.6.1]$ pwd
/home/chasman/rpmbuild/SOURCES/ucx-1.6.1
[chasman@c1a-s1 ucx-1.6.1]$ ./contrib/buildrpm.sh
+ '[' -z '' ']'
+ case "$-" in
+ __lmod_vx=x
+ '[' -n x ']'
+ set +x
Shell debugging temporarily silenced: export LMOD_SH_DBG_ON=1 for this output (/apps/lmod/8.1.7/init/bash)
Shell debugging restarted
+ unset __lmod_vx
+ PACKAGE=ucx
+ WS=/hom

[2019-09-04 16:32] ca-taylor opened #4156 "OpenMPI 4.0.1 fails to build against ucx-1.6.1"
[chasman@login4 SPECS]$ rpm -qa | grep ucx
ucx-cma-1.6.1-1.el75.x86_64
ucx-ib-1.6.1-1.el75.x86_64
ucx-ib-cm-1.6.1-1.el75.x86_64
ucx-devel-1.6.1-1.el75.x86_64
ucx-rdmacm-1.6.1-1.el75.x86_64
ucx-1.6.1-1.el75.x86_64

  $ ./configure --build=x86_64-redhat-linux-gnu --host=x86_64-redhat-linux-gnu --program-prefix= --disable-dependency-tracking --prefix=/apps/mpi/intel/2018.1.163/openmpi/4.0.1 --exec-pr

[2019-09-04 16:44] yosefe commented on #4156
duplicate of #4020

[2019-09-04 16:44] #4156 closed

[2019-09-04 16:55] ca-taylor commented on #4156
Hmmm.  I read through #4020 and can't really say I understand.  I filed the bug here because OpenMPI 4.0.1 (and 4.0.0) built without issue with ucx-1.4.0 so it seemed like a UCX issue to me.

The issue doesn't appear fixed in the OpenMPI bug so it appears we are just disabling the code with the issue.   I'm hoping that won't affect existing apps but I guess we'll find out.

[2019-09-05 00:32] hiroyuki-sato commented on #4152
Hello, @ca-taylor

Could you try `yum install librdmacm-devel`

Additionally, try`yum groupinstall 'Infiniband Support'`
(Maybe you don't need to execute this command)

After that, execute `buildrpm.sh`

Best regards.

[2019-09-05 00:39] ca-taylor commented on #4152
Thank you for the suggestion.  I tried that already.  On EL7.6 you get,

[2019-09-05 00:46] ca-taylor commented on #4152
The routine that the configure script checks for is "ib_cm_send_req" which I can't find in any library under RHEL 7.6 and the configure script specifically references libibcm which does not exist under 7.6 so I don't see how you would ever get an ucx-ib-cm-1.6.1 on EL7.6.

Additionally, there is this in the distributed .spec file.

`%if 0%{?fedora} >= 30 || 0%{?rhel} >= 7
%bcond_with ib_cm
%else
%

[2019-09-05 03:27] hiroyuki-sato commented on #4152
I reproduced it with the following command.

[code]

It may related https://patchwork.kernel.org/patch/10132535/
It seems that `libibcm` already removed on RHEL7.6(CentOS7.6)

@ca-taylor BTW, Do you want to use `--with-cm` instead of `--with-ib`?

I can succeed to build RPM on CentOS7.6 with the following command.

[code]

[2019-09-05 07:34] amaslenn opened #4160 "[mtt] SHMEM/UNIFIED on CX6: Fatal: endpoint reconfiguration not supported yet"
Configuration
[code]

MTT log: http://hpcweb.lab.mtl.com/hpc/mtl_scrap/users/mtt/scratch/shmem/20190903_150831_60396_916_jazz05.swx.labs.mlnx/html/test_stdout_6jLVgJ.txt

Doesn't reproduce with unified_mode disabled (`-x UCX_UNIFIED_MODE=n`).
Doesn't reproduce on CX5 (`mlx5_2`).

Cmd:
`oshrun -np 15 --bind-to core -mca oshmem_proc_group_cache_size 10000 -mca sshmem ucx -mca atomic ucx -mca coll_hc

[2019-09-05 07:56] amaslenn opened #4161 "[mtt] TCP ERROR: Got wrong received message"
Configuration:
[code]

MTT log: http://e2e-gw.mellanox.com:4080/hpc/scrap/users/mtt/scratch/ucx_ompi/20190903_115756_29727_453312_clx-orion-044/html/test_stdout_FTOB0b.txt

Cmd:
`mpirun -np 10 -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV,SIGBUS,SIGFPE,SIGABRT --bind-to core -x UCX_NET_DEVICES=ens1f0 -mca osc ucx -x UCX_IB_REG_MET

[2019-09-05 08:18] brminich commented on #4160
reproduced with 2 processes if mapped by socket

oshrun -np 2 --report-bindings --bind-to core -mca oshmem_proc_group_cache_size 10000 -mca sshmem ucx -mca atomic ucx -mca coll_hcoll_enable 0 -mca coll ^hcoll -x HCOLL_POLLING_LEVEL=1 -x HCOLL_ENABLE_MCAST_ALL=0 -x HCOLL_BCOL=basesmuma,ucx_p2p -x HCOLL_SBGP=basesmsocket,p2p -mca spml ucx -mca pml ucx -x UCX_TLS=rc_x,self,sm -x UCX_NET_DEVICES=mlx5_

[2019-09-05 11:23] hoopoepg commented on #4122
https://github.com/openucx/ucx/pull/4153

[2019-09-05 13:41] yosefe commented on #2934
Fixed in FW 16.26.0276

[2019-09-05 13:41] #2934 closed

[2019-09-06 10:07] tjcw commented on #4036
I have a first pass at the code, but it fails an assert in the AM server where it tries to find the endpoint of the client to save context and with a view to replying. My code is here https://github.com/tjcw/ucx/blob/tjcw-am-rdma/src/ucp/core/ucp_am.c ; the assert message is
[code]
and the piece of my code which trips the assert is
[code]
@yosefe @snyjm-18 I could do with some help figuring out wh

[2019-09-06 11:13] dmitrygx commented on #3107
[code]
reproduced on hpc-test-node-gpu02
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/12265/label=hpc-test-node-gpu,worker=2/

[2019-09-06 11:45] #4160 closed

[2019-09-06 12:28] tjcw commented on #4036
It looks like the problem is that I didn't understand what ucp_worker_get_ep_by_ptr does. So @yosefe @snyjm-18 how does the server of an AM find the endpoint of the client, if it needs to reply ?

[2019-09-06 12:41] snyjm-18 commented on #4036
@tjcw that is what ucp_worker_get_ep_by_ptr does. There are examples to use it in the current ucp_am implementation, and also in eager_send.c for implementing ssend. I looked at your branch, where does rdma_hdr->ep get set before sending?

[2019-09-06 12:48] tjcw commented on #4036
@snyjm-18 I have this code
[code]
at line 652 of ucp_am.c, but this sets the 'ep' field to the server's endpoint in the client address space --- which is wrong. It needs to be the client's address in the server address space. How do I find this value ?

[2019-09-06 12:51] snyjm-18 commented on #4036
`    reply_hdr->ep_ptr              = ucp_request_get_dest_ep_ptr(req);`
on the client and then
`    reply_ep = ucp_worker_get_ep_by_ptr(worker, hdr->ep_ptr);
` on the server.

[2019-09-06 14:14] tjcw commented on #4036
I've made the change for
[code]
but ucp_request_get_dest_ep_ptr is coming back with '0', and so in the AM server I am failing the assert at line 306. What should be setting up the value in the 'req' ?

[2019-09-06 14:20] snyjm-18 commented on #4036
Just try
`    status = ucp_ep_resolve_dest_ep_ptr(ep, ep->am_lane);
`
on the client side before calling ucp_am_send_req. It's used line 455 in ucp_am.c

[2019-09-06 14:39] tjcw commented on #4036
My code looks like
[code]
( https://github.com/tjcw/ucx/blob/tjcw-am-rdma/src/ucp/core/ucp_am.c#L642 ) . but I'm still getting ep_ptr being 0. What could make ucp_ep_resolve_dest_ep_ptr not to its job but still come back with UCS_OK ?

[2019-09-06 14:50] tjcw commented on #4036
Does the worker progress function need to be called a few times for the wireup to complete and the destination ep_ptr to become valid ? In my case I'm trying to do the AM-over-RDMA as the first application communication to be done between these communication partners.
I'll try making a modification to the active message 'gtest' to flow a test active message over RDMA, to give you a test case.

[2019-09-06 14:55] snyjm-18 commented on #4036
That is a question for Yossi, but I think if wireup is not completed, it may not know the ep_ptr yet.

[2019-09-06 15:00] tjcw commented on #4036
@snyjm-18 I have revised test_ucp_am::do_send_process_data_iov_test to add an AM-over-RDMA test. I'm running all the gtests at the moment; how can I run just the active message gtest ?

[2019-09-06 15:03] snyjm-18 commented on #4036
./gtest --gtest_filter=*ucp*_am*

[2019-09-06 15:10] tjcw commented on #4036
I've figured out how to run just the ucp am tests
[code]
does it. Running this with my modified gtest fails the same assert that I reported above;
[code]
@yosefe what do I need to do so that the ep_ptr will be set non-zero when I need it ?

[2019-09-06 15:27] tjcw commented on #4036
@snyjm-18 assuming we solve the ep_ptr problem, I'm expecting to run into another problem. At the moment, I issue a uct active message call in the completion callback of the ucp_put_nb call. In previous usage of ucx, when I issued a ucp active message call in the completion callback of another ucp active message call, I got an assertion failure. Will I fail the same assertion again ?
I can think o

[2019-09-06 15:46] tjcw commented on #4036
In branch tjcw-am-rdma-deferred-test, I have moved the AM-over-RDMA tests after the AM tests . With this branch, I no longer get ep_ptr zero, but the test fails with
[code]
I'll try and find the place in gtest where I need to add UCP_FEATURE_RMA.

[2019-09-06 16:07] tjcw commented on #4036
After a few more revisions, in branch tjcw-am-rdma-deferred-test the gtest is getting as far as trying to register the active message buffer in preparation for RDMA. I'm now getting
[code]
which I'm not expecting; I'm setting up the call to ucp_mem_map with
[code]
and I have previously displayed that rdma_hdr->total_size is '64'. So what is the problem here ?

Altogether I now have 2 problems; bra

[2019-09-07 16:53] cponder commented on #3550
Is the fix in the v1.6.1-rc1, or will it wait for the final v1.6.1?

[2019-09-07 17:02] cponder commented on #2755
On this issue:

When we use OpenACC, some CUDA allocations can occur before the main part of the program begins executing. We use the `ACC_DEVICE_NUM` to assign the GPU to the process so the GPU will have been selected, since an explicit `acc_set_device()` in the main program won't have been executed in this phase.
It looks like UCX adds another problem that the `MPI_Init` won't have occurred unti

[2019-09-07 18:03] cponder commented on #2729
@hoopoepg I'm building UCX v1.6.1-rc1 with GCC and OpenMPI 4.0.4 with PGI 19.7.
The regression-tests all pass, but I'm seeing intermittent execution-errors with my application.

[2019-09-08 08:30] cponder opened #4173 "Valgrind messages with v1.6.1-rc1"
I'm building a fairly complex stack of I/O libraries
```CUDA -> GDR -> UCX -> OpenMPI -> HDF5 -> NetCDF/PNetCDF -> PIO```
to support work with the MPAS-A weather model.
I'm seeing some intermittent failures on our cluster, in spite of the fact that the regression-tests look good.
I re-ran the PIO regression-tests with Valgrind enabled and produced some messages that may-or-may-not indicate some fi

[2019-09-08 08:33] cponder commented on #4173
[code]

[2019-09-08 08:34] cponder commented on #4173
[code]

[2019-09-08 08:39] cponder commented on #4173
[code]

[2019-09-08 08:40] cponder commented on #4173
[code]

[2019-09-08 08:41] yosefe commented on #4173
@cponder which OFED/MLNX_OFED version is used?

[2019-09-08 08:46] cponder commented on #4173
Can you give me a command to read this?

[2019-09-08 08:47] yosefe commented on #4152
@ca-taylor there should not be a ib-cm for RHEL 7.6, it was obsoleted by rdma-core
your RPM build script is invalid because it sets `CFG_OPTS="$CFG_OPTS --with-cm"` so it requires the presence of ib-cm
instead of forcing with/without configure options, need to let configure auto-detect

[2019-09-08 08:50] yosefe commented on #4173
`ofed_info -s`

Now thinking of it, all these valgrind errors seems bogus. Need to add /usr/lib64/mlnx_ofed/valgrind to LD_LIBRARY_PATH to use Valgrind-enabled driver.

What are the symptoms of "some intermittent failures " ?

[2019-09-08 08:54] yosefe commented on #3769
@dmitrygx is this still relevant?

[2019-09-08 08:56] cponder commented on #4173
I don't see a `mlnx_ofed/` directory, going down 1-5 levels from `/`.
We're running Ubuntu 16.04 on the cluster, would it be somewhere else?
The `ofed_info -s` command gives me
[code]

[2019-09-08 09:16] yosefe commented on #4173
Unfortunately, MLNX_OFED valgrind libs are not supported on Ubuntu.
What are the symptoms of "some intermittent failures " ?

[2019-09-08 09:16] dmitrygx commented on #3769
@yosefe I can't reproduce this issue. Hope it can be fixed by #4163
Let's close and re-open it when it appears again

[2019-09-08 09:20] cponder commented on #4173
Here's a common case:
[code]
Also, on the Valgrind side, there was a memory-leak message that may have been correct, do you want to look at it?

[2019-09-08 10:08] cponder commented on #4173
Here's another intermittent failure:
[code]

[2019-09-08 10:31] yosefe commented on #4173
@cponder can you pls attach the valgrind leak message, and the backtrace from the segfault above?

[2019-09-08 10:52] #3769 closed

[2019-09-08 10:58] yosefe commented on #3386
@robertsawko ping

[2019-09-08 15:28] justbennet opened #4175 "UCX warn object not returned to mpool ucp_am_bufs"
I am installing parallel HDF5, and I get a fairly large number of warnings that look like

[code]

What do those warnings mean, exactly?  They are warnings, so are they benign in this context?

Is there an environment variable that I can set to suppress printing of those warning?

I am using OpenMPI 3.1.4 compiled with GCC 8.2.0.

[2019-09-08 15:35] yosefe commented on #4175
it can mean some unexpected eager messages were not released
all warning can be suppressed by UCX_LOG_LEVEL=error
how can we reproduce this problem?
is it possible to try with OpenMPI 4.0.2rc1?

[2019-09-08 15:37] shamisp commented on #4175
Most likely it means that  some MPI requests were not completed. Typically cause but MPI application code that does not manage resources carefully. @yosefe , maybe we should disable this warning by default ?

[2019-09-08 16:19] cponder commented on #4173
Here's the message:
[code]
Here's the code snippet:
[code]
If this one isn't legit either, I'll go ahead and close the whole ticket.
I'll be moving to a CentOS system later, it has the `/usr/lib64/mlnx_ofed/valgrind` so i can do a better job triaging,

[2019-09-08 16:19] justbennet commented on #4175
@yosefe and @shamisp Thanks for the very quick responses.

I will set UCX_LOG_LEVEL=error and give it another try.

@yosefe The short answer is that we installed OpenMPI 3.1.4 using

[code]

We add that to the PATH and LD_LIBRARY_PATH, then I am testing by using the hdf5-1.10.5.tar.gz distribution of HDF5 using the following

[code]
The warnings are issued with the test for `ph5diff`, so perhaps t

[2019-09-08 16:33] yosefe commented on #4173
this one is from libibverbs driver, not a real leak..

[2019-09-08 16:35] cponder commented on #4173
Ok, thanks.
I'm closing this ticket out then.
Sorry to bug you with this....

[2019-09-08 16:35] #4173 closed

[2019-09-08 16:36] yosefe commented on #4175
@justbennet perhaps the test/hdf5 is not matching all unexpected messages before exiting the application. we should probably avoid printing that warning in UCX (at least by default)

[2019-09-08 16:58] shamisp commented on #4175
Probably we should check with MPI spec, but I don't think MPI has to drain the queue in all cases.

[2019-09-08 17:13] justbennet commented on #4175
Setting `UCX_LOG_LEVEL=error` to suppress the warning messages during testing of `ph5diff` enables the tests to pass for HDF5 1.10.5 and so the whole test suite finishes with no errors.

There are still some remaining errors, it seems, for HDF5 1.8.2, but I believe the remaining errors are not to do with UCX.  I will take those up with the HDF5 developers.

@yosefe Yes, the differences that were b

[2019-09-09 06:33] hoopoepg commented on #2729
hi @cponder
do you see such errors when you build all libraries by GCC?

[2019-09-09 06:56] cponder commented on #2729
Here are my build-script an the log-file from the build.
I'm using the native GCC 5.4.0 compiler on Ubuntu 16.04.
I haven't built the OpenMPI part with GCC, I use PGi for that.

[Install.script.txt](https://github.com/openucx/ucx/files/3589018/Install.script.txt)
[Install.summary.txt](https://github.com/openucx/ucx/files/3589019/Install.summary.txt)

[2019-09-09 11:23] yosefe commented on #4105
Happens because uct_iface_fence() semantics are not correct on adaptive routing

[2019-09-09 11:34] amaslenn commented on #4138
Another issue with `atest`:
[code]

Cmd:
`mpirun -np 112 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV,SIGBUS,SIGFPE,SIGABRT --bind-to core -x UCX_NET_DEVICES=mlx5_2:1 -mca osc ucx -x UCX_IB_REG_METHODS=rcache,direct -x UCX_TLS=dc_x,self,sm -mca pmix_base_async_modex 1 -mca mpi_add_procs_cutoff 0 -mca pmix_base_colle

[2019-09-09 13:29] dmitrygx opened #4176 "rcx/test_ucp_atomic32.atomic_swap_nb/1 failed on hpc-test-node3"
[code]

http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-test-node-legacy,worker=0//12302/console

[2019-09-09 22:20] cponder commented on #2755
This happens in CUDA C as well:
[code]
causes the space on the GPU to be allocated at program load time, before the `MPI_Init` could be executed in the program statements.

[2019-09-09 22:25] Akshay-Venkatesh commented on #2755
@cponder can you provide a repro?

[2019-09-09 22:35] cponder commented on #2755
I don't have a repro case of this breaking UCX, if that's what you mean.
But you made a statement that cudaMalloc-before-MPI_Inig wasn't a supported use-case, right?
Is this expected to fail?
If so, I could probably slap a simple example together.

[2019-09-10 02:14] Akshay-Venkatesh commented on #2755
https://github.com/openucx/ucx/issues/2755#issuecomment-520207734

This should support that case.

[2019-09-10 08:40] cponder commented on #2755
What did you mean when you said this?

[2019-09-10 08:55] yosefe commented on #2755
@cponder cudaMalloc before init should be fixed in latest UCX master
if you still see the issue with latest UCX master please reopen this issue with repro details

[2019-09-10 09:05] cponder commented on #2755
Ok, so this is not going to be a problem going forward.
I'm good with this staying closed.
Will the fix be in the final v1.6.1?

[2019-09-10 09:05] #4128 closed

[2019-09-10 09:07] #4161 closed

[2019-09-10 09:08] #4134 closed

[2019-09-10 09:12] tjcw commented on #4036
Both the 'gtest' and my application fail the assert with "Assertion `ep != ((void *)0)' failed" in ucp/core/ucp_worker.h:306 . @yosefe , what do I have to do so that the ep_ptr is set in the AM client so that it can be passed to the server ?

[2019-09-10 09:19] yosefe commented on #4036
@tjcw please see the comment inside `ucp_request_get_dest_ep_ptr`
it means you need to call this function again inside progress function to update rdma_header

[2019-09-10 09:21] yosefe commented on #2755
@cponder the fix is targeted for v1.7.0 and later since it's a relatively big change

[2019-09-10 11:18] tjcw commented on #4036
@yosefe How do I get called again inside the progress function ?

[2019-09-10 11:46] yosefe commented on #4036
the request should be added to pending queue since RTS send would return UCS_ERR_NO_RESOURCE because ucp_request_resolve_dest_ep_ptr() temporarily replaces the uct_ep with wireup proxy ep
The pending callback should probe ucp_request_get_dest_ep_ptr() before sending the RTS and not cache this on the request
To put it simply, just get rid of rdma_header field and build it on the fly

[2019-09-10 13:54] tjcw commented on #4036
I made that change; my sending function now looks like
[code]
Now I'm getting past the problem of the initial send having no reply endpoint; but the RDMA write is coming back with an Infiniband error. The error message is
[code]
and the backtrace is
[code]
@yosefe What is this error message telling me, and how do I make it not happen ?

[2019-09-10 14:00] yosefe commented on #4036
@tjcw pls check that va and rkey are correct and valid when the rdma write arrives
also
why rdma write and not rdma read?

[2019-09-10 14:36] yosefe commented on #4036
yes, for rdma_read will need to do the equivalent of ucp_mem_map on sender side
the tag matching protocol today uses rdma_read (by default) with uct active message for notification
rdma_read can be better because it does not require 2nd progress on sender side to start the data transfer

[2019-09-10 23:10] Akshay-Venkatesh opened #4181 "Build issues with top of the tree v1.6.x"
Hi,
I went through the usual `autogen.sh/configure/make` steps. I'm using the following configure parameters:

[code]

But I see the following build error:
[code]

cc @yosefe I saw similar issues on #4098 before you applied some fixes in UCS. Not sure if they're related.

[2019-09-10 23:47] Akshay-Venkatesh commented on #4181
Please ignore this.

[2019-09-10 23:47] #4181 closed

[2019-09-11 07:07] amaslenn commented on #4138
More verbose output here: http://hpcweb.lab.mtl.com/hpc/mtl_scrap/users/mtt/scratch/ucx_ompi/20190909_153103_160229_1457_jazz18.swx.labs.mlnx/html/test_stdout_r5ktc2.txt

Cmd:
`mpirun -np 84 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV,SIGBUS,SIGFPE,SIGABRT --bind-to core -x UCX_NET_DEVICES=mlx5_0:1,mlx5_4:1 -mca os

[2019-09-11 11:05] cponder commented on #2755
Can you give me a tentative target-date for 1.7.0?

[2019-09-11 11:29] dmitrygx commented on #3758
[code]

[2019-09-11 11:32] yosefe commented on #2755
~October 2019

[2019-09-11 13:58] amaslenn opened #4182 "[mtt] Fatal: transport error: Endpoint timeout"
Configuration
[code]

MTT log: http://e2e-gw.mellanox.com:4080/hpc/scrap/users/mtt/scratch/shmem/20190908_053108_32103_455724_clx-orion-010/html/test_stdout_Y7SFe2.txt

Cmd:
`oshrun -np 1148 --display-map --bind-to core -mca oshmem_proc_group_cache_size 10000 -mca sshmem ucx -mca atomic ucx -mca coll '^hcoll' -mca coll_hcoll_enable 0 -mca spml ucx -mca pml ucx -x UCX_TLS=ud_x -x UCX_IB_SL=2 -x UCX

[2019-09-11 14:04] amaslenn opened #4183 "[mtt] timeout exceeded if TLS=tcp is used"
Configuration
[code]

MTT log: http://e2e-gw.mellanox.com:4080/hpc/scrap/users/mtt/scratch/shmem/20190907_213216_880_455359_clx-orion-001/html/test_stdout_u9pKJM.txt

Cmd:
`oshrun -np 448 --display-map --bind-to core -mca oshmem_proc_group_cache_size 10000 -mca sshmem ucx -mca atomic ucx -mca coll '^hcoll' -mca coll_hcoll_enable 0 -mca spml ucx -mca pml ucx -x UCX_TLS=tcp -x UCX_NET_DEVICES=ens1f0

[2019-09-11 14:06] amaslenn commented on #4183
[code]

Cmd:
`mpirun -np 504 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV,SIGBUS,SIGFPE,SIGABRT --bind-to core -x UCX_NET_DEVICES=ens1f0 -mca osc ucx -x UCX_IB_REG_METHODS=rcache,direct -x UCX_TLS=tcp -mca pmix_base_async_modex 1 -mca mpi_add_procs_cutoff 0 -mca pmix_base_collect_data 0 --map-by node /hpc/local/benc

[2019-09-11 14:09] yosefe commented on #4182
i see same timeout failure without SL=2:
http://e2e-gw.mellanox.com:4080//hpc/scrap/users/mtt/scratch/shmem/20190908_053108_32103_455724_clx-orion-010/html/test_stdout_52ILDb.txt

@brminich in both case we have UNIFIED_MODE=y

[2019-09-11 14:25] amaslenn opened #4184 "[mtt] transport retry count exceeded on (synd 0x15 vend 0x81 hw_synd 0/0)"
[code]

MTT log: http://e2e-gw.mellanox.com:4080/hpc/scrap/users/mtt/scratch/shmem/20190908_022600_5788_455545_clx-orion-031/html/test_stdout_LceVNV.txt

Cmd:
`oshrun -np 672 --display-map --bind-to core -mca oshmem_proc_group_cache_size 10000 -mca sshmem ucx -mca atomic ucx -mca coll_hcoll_enable 1 -x HCOLL_POLLING_LEVEL=1 -x HCOLL_ENABLE_MCAST_ALL=0 -x HCOLL_BCOL=basesmuma,ucx_p2p -x HCOLL_SBGP=

[2019-09-11 14:25] brminich commented on #4183
@dmitrygx, plz check cmd lines which do not contain UCX_UNIFIED_MODE=y
Some of the failures occurred with quite old HPCX which does not contain all unified mode related fixes.

[2019-09-11 14:30] dmitrygx commented on #4183
ok

btw, the first test failed with:
[code]
i.e. ECONNRESET, loos like SYN queue was full and connection was dropped

[2019-09-11 14:40] dmitrygx commented on #4183
created #4185 to improve error message

[2019-09-12 07:38] brminich commented on #4182
There are several failed tests in this report:
1. shmemAtomicBug01 1000 30 0:
It failed with unified mode + with/without AR (IB_SL=2). Did not manage to reproduce on Orion (5 attempts for both cases passed). Most probably the failure is not related to unified mode being enabled, otherwise it would have failed every time during connection establishment   (which was the case for all previous unified

[2019-09-12 07:59] brminich commented on #4182
2. Three SHMEM verifier tests (one with disabled unified mode):
[code]
AND
[code]
AND
[code]
None of them is reproduced on Orion (5 attempts for each case)

[2019-09-12 11:04] angainor opened #4187 "in-place / immediate ucp_tag_recv_nb?"
I see that in certain cases UCX 1.6 (HPCX 2.4) is calling the `ucp_tag_recv_callback_t` directly inside the `ucp_tag_recv_nb`. Consider the following scenario: both sender and receiver are submitting subsequent 1 byte requests with the same tag. The first recv request is scheduled as expected and only completed (and callback-called) after I progress the worker. The second request is progressed imm

[2019-09-12 23:23] tonycurtis opened #4189 "configure option: --with-numa= ?"
How about a —with-numa[=DIR] configure option?  We've got --disable-numa but no way to indicate a non-standard location for numactl through configure.

(Using LDFLAGS and friends for now.)

[2019-09-13 01:46] Akshay-Venkatesh opened #4190 "py_dl_open calls ucm_dlopen which causes a segfault on master"
I see this issue on 5cc6282 and it may be related to https://github.com/openucx/ucx/issues/564
In this test, UCX is called from python. The test goes through listener creation and endpoint setup fine but seems to crash just before an attempt to send is made but even before we get into UCX because py_dl_open traps into ucm_dlopen where a segfault occurs (maybe because of `filename=0x0`?). I can sen

[2019-09-13 14:58] brminich commented on #4184
Did not manage to reproduce but looks very similar to #3305
https://redmine.mellanox.com/issues/1706553 (mlnx internal link)

This issue was seen on both IB and RoCE. It is not fixed yet

[2019-09-13 14:58] brminich commented on #4184
duplicate of #3305

[2019-09-13 14:59] #4184 closed

[2019-09-13 18:04] Akshay-Venkatesh commented on #4190
Thanks a lot @hoopoepg . That worked!

[2019-09-15 08:55] #4190 closed

[2019-09-15 10:57] yosefe commented on #4129
fixed by #4157

[2019-09-15 10:57] #4129 closed

[2019-09-15 15:56] yosefe commented on #4183
@dmitrygx are above settings enough to resolve the hang?

[2019-09-16 06:29] dmitrygx commented on #4183
@yosefe from my testing experience - yes

[2019-09-16 12:01] tjcw commented on #4036
I got my application test case working. Now I'm trying to get my 'gtest' working. The first AM-via-RDMA (which connects the endpoints) works, but the second AM-via-RDMA (which runs over already-connected endpoints) fails with
[code]
This is in the AM server, where it is trying to reply to the AM client with a message which includes the 'rkey' for the memory region in the server where the AM data i

[2019-09-16 12:52] amaslenn commented on #4183
The most recent repro:
[code]
http://e2e-gw.mellanox.com:4080/hpc/scrap/users/mtt/scratch/shmem/20190915_014307_31200_459646_clx-orion-002/html/test_stdout_ErXtZA.txt

[code]

[2019-09-16 14:55] snyjm-18 commented on #4036
There are already some functions to help with this. ucp_am.c it occurs in ucp_am_send_req() and then the decision is made within ucp_request_send_start().

[2019-09-16 16:15] tjcw commented on #4036
I have revised my code to use a version of ucp_am_bcopy_single_reply for the 'reply' active message. Now, the dcx/test_ucp_am.send_process_iov_am/0 test runs, but the ud/test_ucp_am.send_process_iov_am/0 test hangs. I get messages
[code]
from the first test; I presume 'gtest' thinks the test fails because I am using 'ucs_warn' to issue trace messages.
The 'not returned to mpool' messages are relat

[2019-09-16 17:26] snyjm-18 commented on #4036
I can look later this week.

[2019-09-17 06:25] brminich commented on #4122
Happened here:
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/12356/label=hpc-test-node-legacy,worker=1/console

[code]

[2019-09-17 07:01] brminich commented on #4182
could not reproduce any of the issues with timeout threshold bigger than 5 sec.
Also, no any similar issues popped up in the latest testing.
@amaslenn, please consider increasing UD timeout for MTT up to 10 mins  with
`UCX_UD_TIMEOUT=10m`

[2019-09-17 07:01] #4182 closed

[2019-09-17 11:53] tjcw commented on #4036
I have plugged some leaks, but I still get messages about request structures not being freed. I think the problem is that I don't understand the 'flags' in a request; what is supposed to set them, and which functions take what action when they are set. @yosefe how do I turn on trace so that 'ucs_trace_req' (UCS_LOG_LEVEL_TRACE_REQ) messages will be displayed ? I think with that trace on I might un

[2019-09-17 12:43] tjcw commented on #4036
I turned trace on with "export UCX_LOG_LEVEL=req", and got the following trace from running gtest.
[gtest.txt](https://github.com/openucx/ucx/files/3621263/gtest.txt)
Hunting through this for a leaked 'req' gives
[code]
It looks to me that this 'req' is being allocated and then freed; so @yosefe why is ucx indicating that the 'req' was not returned to the mpool ?

[2019-09-17 13:14] tjcw commented on #4036
Running 'gtest' with "export UCX_LOG_LEVEL=req" seems to show that the reqs are leaked when they are used for ucp_put_nb. Searching for a couple of leaked addresses in a trace shows
[code]
Looking at file rma.inl shows
[code]
which looks correct, the 'req' is returned to the pool with ucs_mpool_put. So why is the 'req' leaking ?

[2019-09-17 15:20] tjcw commented on #4036
I found a problem; I was reusing a 'req', and ended up freeing it twice. I'm working on fixing that; the current problem is a hang. But I think the problem is in my code at the moment.

[2019-09-17 16:16] tjcw commented on #4036
I have my code functional now, both for the application and the 'gtest'. As an aside, the 'gtest' for active messages doesn't actually test that the callback works; it relies on ucp_request_check_status to determine whether the AM is still in progress.
Next to explore whether the code performs the way I want for nonblocking MPI collective calls, and to clean the code up so that it conforms with UC

[2019-09-18 11:18] amaslenn opened #4199 "[mtt] atomic tests fails in oshmem_test"
Configuration
[code]

MTT log: http://e2e-gw.mellanox.com:4080/hpc/scrap/users/mtt/scratch/shmem/20190917_002501_27577_460954_clx-orion-036/html/test_stdout_MXsFM2.txt

Details:
- Reproduces with and without HCOLL
- Reproduces with and without `UCX_UNIFIED_MODE`
- Passes with np=256

Cmd:
`oshrun -np 257 --bind-to core -mca oshmem_proc_group_cache_size 10000 -mca sshmem ucx -mca atomic ucx -mca co

[2019-09-18 14:33] dmitrygx commented on #4183
Also, need to set
`$ sysctl -w net.core.netdev_max_backlog=65535` (the number of incoming connections that can be put to a queue (of incoming connections) before they are dropped)

[2019-09-18 15:03] tjcw commented on #4036
I'm doing some more testing. Trying active message over RDMA  and using ucp_put_nb for a 1-byte memory region, I find that often the target byte is not written with the correct value. @yosefe are there any restrictions on the lengths that can be carried correctly by ucp_put_nb ?

[2019-09-18 18:33] chhu opened #4201 "Cannot build with gdr_copy on v1.6.x branch"
Hi,
Compiled latest gdr_copy from nvidia repo with master from ucx and was happy that everything worked. Then I was not so happy to see that UCX API changed so it cannot compile against ompi master. That forced me to go back to v1.6.x branch, now gdr_copy does complain because of new API... How can I resolve this? What version of gdr_copy do I need to check out to be compatible with v1.6.x?
Thanks

[2019-09-18 18:42] brminich commented on #4201
Can you please try to disable building UCT btl  by adding `--enable-mca-no-build=btl-uct` to your configure?

Described here: https://github.com/openucx/ucx/wiki/OpenMPI-and-OpenSHMEM-installation-with-UCX

[2019-09-18 19:20] chhu commented on #4201
That did work indeed.
Thanks!!

[2019-09-18 19:20] #4201 closed

[2019-09-19 12:00] amaslenn commented on #2226
Reproduced again.

Configuration
[code]

MTT log: http://e2e-gw.mellanox.com:4080/hpc/scrap/users/mtt/scratch/ucx_ompi/20190919_062200_6666_462158_clx-orion-001/html/test_stdout_MDiQEb.txt

Couldn't reproduce it manually in 1000 iterations.

Cmd:
`mpirun -np 1540 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV,SIGBUS,S

[2019-09-19 16:09] tjcw commented on #4036
After more testing, and some fixing of my code, I think there is a problem with in-memory transport when doing RDMA 'put'. I have added a checker in the server, to look at the first byte and the last byte of the memoty block transferred; this checker is telling me that the fist byte is not what it should be. The assert message is
[code]
and the backtrace is
[code]
The test is failing close to the

[2019-09-19 20:20] robertsawko commented on #3386
I am really sorry guys. This dropped under my radar due to a mix of commitment and fulfilled holiday plans. I will definitely test it over the next week and get back to you.

[2019-09-20 07:45] brminich opened #4207 "Failure in sockaddr/test_uct_sockaddr.connect_client_to_server/13"
happened here: http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/12376/label=hpc-test-node-legacy,worker=2/consoleFull#1664427763b7949d9e-3f09-4d9b-9be7-3ff694c6afcd

[code]

[2019-09-20 09:24] tjcw commented on #4036
I turned on UCX logging to investigate. The failing transfer was a 1-byte 'ucp_put_nb' over the in-memory (knem) transport. The data was either not written, or written to a different address than that specified by the ucp_put_nb. The ucp_put_nb returned with result UCS_OK, indicating that the 'put' had been done synchronously and ucp_put_nb thought it had succeeded.
The receiving side had a memory

[2019-09-20 10:00] tjcw commented on #4036
With some further testing, it looks like there is some threshold length between 4096 bytes and 65536 bytes such that 'knem' ucp_put_nb transfers shorter than this length are either not done or are misdirected, and 'knem' transfers longer than or equal to the threshold are done correctly. If this is the problem, I can code around it. @yosefe @snyjm-18 do you know where I can report issues, for 'kne

[2019-09-20 13:09] angainor commented on #4187
@brminich I have a followup question: how do I update my custom request structure in a multi-threaded environment? Consider the following scenario:

1. thread1 calls `ucp_tag_recv_nb`, which does not finish early and returns the request pointer
2. thread2 calls `ucp_worker_progress` on the same worker as thread1 used to post the recv. This progress call completes the request returned earlier to th

[2019-09-20 13:19] angainor commented on #4187
@brminich I guess with OpenMP I can enclose the call to `ucp_tag_recv_nb` together with the request update in a named critical section, and then use the same critical section name to lock the `ucp_worker_progress` call. That seems to work, but I'm not sure this is best performance-wise.

[2019-09-20 13:46] tjcw commented on #4036
When I scale up my test case to 120 processes on 6 nodes, I get a segmentation violation in one rank. The message is
[code]
and the backtrace is
[code]
Looking in the UCX logs for 0x451d287067bdf51c shows that this is the msg_id of an active message which is in progress; it occurs in the data field of a 'reply' active message sent to the failing process. It is in the first active message which get

[2019-09-20 13:54] brminich commented on #4207
Also, similar (but not exact the same) error: http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/1786/pipeline/

[code]

[2019-09-20 14:45] tjcw commented on #4036
Adding trace to ucp_rma_basic_progress_put
[code]
shows that this value is in the 'rkey', i.e. req->send.rma.rkey . The req is from the mpool and has been used before, but I think it has been correctly allocated and freed, and I don't think my code is overwriting this value.

[2019-09-20 15:05] tjcw commented on #4036
I've found the immediate cause of this problem; it's that my code has
[code]
i.e. I'm writing into the 'send.am' field of a req, when the req is of an 'send.rma' type. I need to pass a msg_id (64-bit value) to the completion callback of ucp_put_nb; is there a suitable field in a 'req' to do this ?

[2019-09-20 15:24] tjcw commented on #4036
I introduced a 'message_id' into the 'send.rma' field of the request structure; i.e. now I have
[code]
and made appropriate changes in my code to use it; now the AM-over-RDMA seems to be working properly for 120 processes on 6 nodes. I don't think this extra field bloats the 'request' structure, since the rma struct is shorter than some of the other structs in the union.
I will check again that uc

[2019-09-20 15:37] tjcw commented on #4036
Now, with trace off and using RDMA for 65536 bytes and longer, I fail another assert
[code]
The implication of this failure is that a knem 'put' for 65536 bytes was partial; i.e. the first byte was transferred but the last byte was not transferred.

[2019-09-20 15:49] tjcw commented on #4036
Yes, I still have the problem of knem copies of 4096 bytes failing.

[2019-09-21 11:12] #3758 closed

[2019-09-21 11:12] #4183 closed

[2019-09-22 08:40] hiroyuki-sato opened #4208 "[Q] spinlock using __sync_bool_compare_and_swap implementation"
Hello, @dmitrygx

As we discussed [before](https://github.com/openucx/ucx/issues/3928#issuecomment-513706788), I'm trying to implement `pthread_spinlock` alternative, because macOS doesn't support it.
This branch is the `__sync_bool_compare_and_swap` implementation.
https://github.com/hiroyuki-sato/ucx/commit/32f853e346cf52c97d3dc7cfb6818604444d2d84

Could you check this change when you get a chan

[2019-09-23 12:11] brminich commented on #4187
@angainor, if you do not use UCX multi-threading, you would need to invoke all UCP API functions with lock held (call to progress should be guarded with locks as well).  Also you can try using multi-threading support in UCX, by creating UCP worker with thread mode UCS_THREAD_MODE_MULTI

[2019-09-23 12:31] angainor commented on #4187
@brminich @yosefe I do use `UCS_THREAD_MODE_MULTI`, this is not the problem. Or I am missing something fundamental here. Calls to UCX are thread safe, the problem is that between the call to `ucp_tag_recv_nb` and me updating the `req` structure returned from `ucp_tag_recv_nb` another thread can run `ucp_worker_progress` and complete this request (i.e., call the callback). Hence, in the callback I

[2019-09-23 13:02] brminich commented on #4187
@angainor, i see your use case, thanks. Yes, you have to implement your own locking, like you already did. We will think on how this flow can get enhanced.

[2019-09-23 13:11] angainor commented on #4187
:) Uff. Thanks! I was really thinking that I miss something here. It would be very nice to have this. It makes handling of the request completion really simple on the user side, and more efficient. I don't have to search for any data related to the completed request - UCX has it in O(1) time and simply gives it to me.

Anyway, please let me know about any developments.

[2019-09-23 17:37] Akshay-Venkatesh commented on #4207
@brminich @yosefe I'm unable to view the links on hpc-master.lab

Can you provide the repro details and point me to the commit/PR that introduced the error?

[2019-09-23 17:53] brminich commented on #4207
There are two tests which spontaneously fail (mentioned in this issue). Not sure about exact PR/commit, since the tests failed in unrelated PRs. Failed tests are:
` sockaddr/test_uct_sockaddr.connect_client_to_server/13`
`sockaddr/test_uct_sockaddr.conn_to_non_exist_server/4`

[2019-09-23 17:54] Akshay-Venkatesh commented on #4207
Sorry, I meant what was the configure parameters used to build UCX to get this test to fail? Was it `contrib/configure-devel` ?

[2019-09-23 18:24] brminich commented on #4207
yes,
jenkins use this script to run tests: https://github.com/openucx/ucx/blob/master/contrib/test_jenkins.sh

[2019-09-23 18:35] Akshay-Venkatesh commented on #4207
I don't see the issue on the latest master but this is probably expected. Can you point to the changes that was added to master to get this error to show up?
[code]

[code]

[2019-09-24 10:52] jakirkham commented on #3391
@bureddy, is this issue still live? Noticed your xref'd PR was merged. Unclear if there was more to do here or not.

[2019-09-24 11:51] jakirkham opened #4218 "Linker error when building 1.6.1"
Am able to build 1.5.1 without issues. However when trying to build 1.6.0 and more recently 1.6.1, have ran into build issues. Appears there is some sort of linker error, but am unclear on the cause or how to fix it. Here's the [build log]( https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=74876&view=logs&jobId=90682b30-d652-55a6-6545-e470106c30b8 ) from the changes in PR (

[2019-09-24 13:20] yosefe commented on #4218
@jakirkham can you please change "make VERBOSE=1" to "make V=1" so we can see the full link command?

[2019-09-24 13:58] tjcw commented on #4036
I have a version of my code which does an RDMA 'get' rather than a 'put' in branch https://github.com/tjcw/ucx/tree/tjcw-am-rdma-get . I find that sometimes the callback for the ucp_get_nb si driven with code -80, UCS_ERR_ENDPOINT_TIMEOUT . @yosefe Why is this happening ? Is it possible for the application to recover ?

[2019-09-24 16:03] yosefe commented on #4218
@jakirkham seems like linker flags for nested convenience libraries are not passed by libtool. Also the path seems very long "_h_env_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_p"

is it possible to make it shorter?

[2019-09-24 16:18] brminich commented on #4207
not sure, would need to reproduce/bisect

[2019-09-24 16:24] Akshay-Venkatesh opened #4221 "Low performance with UCT TCP on AWS compared to TCP BTL (not using UCX)"
Hi,

I'm using UCX 1.6.1 and OpenMPI 4.0.1 for this measurement. I see the following performance in using UCX between a pair of p3.x16 large EC2 instances (peak bandwidth is 25 Gigabit/s). Performance is capped at 10Gigabit/s most likely due to a single socket being used for a single UCP endpoint:
[code]

With TCP BTL, the initial performance was only slightly better but increasing `tcp_links` to

[2019-09-24 16:29] yosefe commented on #4221
@Akshay-Venkatesh currently this is not possible

[2019-09-24 16:38] shamisp commented on #4221
@yosefe - seems like very reasonable implementation to have. Change the EP to allocate multiple sockets ? Can we achieve similar effect with multiple workers ?
@Akshay-Venkatesh I'm not familiar with recent changes in UCT btl ? How do they achieve multiple streams ? do they allocate multiple BTLs ?

[2019-09-24 17:50] Akshay-Venkatesh opened #4222 "Still seeing issues with UCX_MEMTYPE_CACHE"
Hi,

I'm seeing issues with `memtype_cache` usage where pointers are detected incorrectly. I'm using `ucx_perftest` to provide a repro but I've seen the issue with multiple other tests (IMB/OMB). I'm using the following configuration at commit c0e2625 (ToT master at posting time):
[code]

I run ucx_perftest on the same node where there are at least two GPUs:
[code]

Things work as expected when UC

[2019-09-24 18:01] Akshay-Venkatesh commented on #4221
@shamisp I'm not familiar with UCT BTL changes either but the above performance improvement isn't from UCT BTL (I explicitly disable UCT BTL BTW). It comes from just using the existing TCP BTL. I believe OB1 PML is used if I negate UCX (with `--mca pml ^ucx`) . All I noticed with TCP BTL was that increasing `btl_tcp_links` increased the number of `mca_btl_tcp_module_t` structures (`opal/mca/btl/tc

[2019-09-24 23:57] cponder opened #4223 "Incompatibilty building UCX 1.6.1 with GDRcopy 2.0"
I'm running these commands
[code]
on Ubuntu 18.04 with GCC 7.4.0 and am getting these errors
[code]

[2019-09-25 00:13] cponder commented on #4223
Using this setting didn't help
[code]
just moved the error deeper:
[code]

[2019-09-25 00:13] bureddy commented on #4223
@cponder ucx-1.6.1 is not compatible with gdrcopy 2.0.  Can you please use v1.7.x or master?

[2019-09-25 00:16] bureddy commented on #3391
Issue is fixed.

[2019-09-25 00:16] #3391 closed

[2019-09-25 01:13] cponder commented on #4223
Ok -- it looks like the trunk code built (though I'll revert to 1.7.* when it comes out).
Trying to build the tests, I get this
[code]
I'm going to close the issue for now though, thanks!

[2019-09-25 06:06] jakirkham commented on #3391
Thanks for confirming. Is this in a release? If so, which one?

[2019-09-25 06:32] adrianreber opened #4224 "Open MPI with UCX breaks in user namespaces"
Trying to run a UCX based Open MPI with each process in a user namespace (container) breaks UCX completely it seems:

[code]

I fixed a similar thing recently in Open MPI vader: https://github.com/open-mpi/ompi/pull/6844

Autodetect that each process is running in a different user namespace and do not use `ptrace()` based copy mechanisms.

This can be easily reproduced on Fedora 31 with:
[code]

[2019-09-25 06:52] #4199 closed

[2019-09-25 07:04] jakirkham commented on #4218
Hmm...is that something I'm actually able to affect or is that more internal to UCX's build process?

The path length is made quite long intentionally to ensure the binaries are relocatable. IOW the path can be replaced easily when a user installs this package somewhere else on their own system.

What I find interesting is these problems did not exist in 1.5.1. For instance here is [a recent build

[2019-09-25 07:04] jakirkham commented on #4218
cc @Akshay-Venkatesh

[2019-09-25 08:04] yosefe commented on #4224
@adrianreber this is known limitation and this is something that will be fixed in next UCX release.
For meantime, can you try `mpirun ... -x UCX_POSIX_USE_PROC_LINK=n ...` as workaround?

[2019-09-25 09:24] yosefe commented on #4224
i'd like to keep this open to make it work out-of-box

[2019-09-25 09:25] yosefe commented on #4224
adding @hoopoepg to be handled as part of docker support feature

[2019-09-25 09:27] adrianreber commented on #4224
Sure, just sounded like it is already tracked somewhere.

I was actually using Open MPI with Podman when it failed. I am using the following command on Fedora 31:

[code]

[2019-09-25 09:29] hoopoepg commented on #4224
@yosefe as short plan we may block CMA on different EP namespaces (have to add namespace ID to system GUID generation)

[2019-09-25 09:31] yosefe commented on #4223
@cponder regarding the test build issue above: can you pls try to run "make V=1" and post the output? and also upload config.log file?
thanks

[2019-09-25 09:36] yosefe commented on #4218
the change in v1.6 is that we added new test (test_link_map) which uses libtool convenience libraries.

[2019-09-25 09:47] jakirkham commented on #4218
Ah ok. Thanks for spelling that out.

Does this require `.la` files (libtool archive files)?

[2019-09-25 10:10] hoopoepg commented on #4224
hi @adrianreber
thank you for bug report & link to OMPI fix

could you try this PR: https://github.com/openucx/ucx/pull/4225
unfortunately right now we have no environment to test this functionality

thank you again

[2019-09-25 10:43] yosefe commented on #4218
yes
we tell libtool to use libucp.la, and it should also pick up its dependencies (libucs, libuct). for some reason on that system the dependencies are not picked by libtool

[2019-09-25 12:30] bureddy commented on #3391
its in 1.7.x

[2019-09-25 12:47] adrianreber commented on #4224
@hoopoepg Can you provide a patch against 1.6.1? Then I could patch the Fedora RPM and try it out.

[2019-09-25 13:11] hoopoepg commented on #4224
[git-diff.txt](https://github.com/openucx/ucx/files/3652609/git-diff.txt)
here is git diff patch

[2019-09-25 13:12] shamisp commented on #4221
@yosefe , sounds like something that can be done in UCX as well. You just multiplex interfaces (report few tcp tls, instead of one) and UCP will do the rest ?

[2019-09-25 13:25] angainor opened #4226 "[Q] UGNI transport not visible"
I compiled UCX 1.6.1 on Piz Daint (Cray XC50) with ugni support. It seems that it worked, since I do see the following libs after installation:
[code]
But it also seems that UCX can't find ugni at runtime, and only sees the tcp interface. Is this due to some local system configuration / permissions? Do you know if I need to do anything specific on the system to make sure UCX can work with Aries?
[

[2019-09-25 13:45] yosefe commented on #4221
i guess we can add configuration of how many instances to create for each device/transport.
@Akshay-Venkatesh I hope we don't need as much as 36? what is the minimal number we need on AWS?
Also, our multi-rail scheme today is not optimized for messages < 2*MTU. To have that would probably need to introduce sequence numbers (which add overhead)

[2019-09-25 13:49] adrianreber commented on #4224
@hoopoepg Thanks for 1.6.1 based patch. It works.

I added the patch to the Fedora 31 RPM https://koji.fedoraproject.org/koji/taskinfo?taskID=37856715

I rebuilt my test container with it (quay.io/adrianreber/mpi-test:31) and now I can run podman with UCX based Open MPI without errors:

[code]

Thanks for the quick fix!

@yosefe I see your name in the Fedora UCX spec file. Would it be okay for you

[2019-09-25 13:53] yosefe commented on #4224
@adrianreber this fix appears to block shared memory between containers completely, i'm not sure it's desired. can we wait with this patch for now?

[2019-09-25 13:57] adrianreber commented on #4224
Sure. In my setup I am sharing the IPC namespace between all containers, so shared memory should work. Running podman with --ipc=host mounts /dev/shm from the host.

[2019-09-25 14:01] jakirkham commented on #4218
We typically strip libtool `.la` files from packages. Is it possible for us to just disable this test? I think it's just going to point out we don't provide `.la` files.

[2019-09-25 15:29] yosefe commented on #4218
these are .la files which are not park of packages, but used internally during UCX build process..
@jakirkham can you pls check if changing top_builddir to abs_top_builddir in https://github.com/openucx/ucx/blob/master/test/apps/Makefile.am#L36 helps?

[2019-09-25 16:34] shamisp commented on #4226
@MattBBaker can you please check if you see the same issue on your system ?

[2019-09-25 16:39] shamisp commented on #4221
I think this is exactly what TCP btl is doing. Most of the difference in performance observed with large messages.

Also, probably for smaller messages you can do round robin as long as tag is different ?

[2019-09-25 16:57] cponder commented on #4223
[config.log](https://github.com/openucx/ucx/files/3653775/config.log)

Here's running with `V=1`:
[code]
One question on this MPI test, though: I build the UCX before I use it to build the MPI, so am I supposed to finish that before coming back to the UCX regression-tests?

[2019-09-25 17:17] jakirkham commented on #4218
I see.

That's a good lead. Gave it a try. Unfortunately it's [still failing]( https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=75334 ). Here's [the patch]( https://github.com/conda-forge/ucx-split-feedstock/blob/fafedc58b4e85aabc4960b2194605575e93f8333/recipe/fixes_4218.patch ) used in the build.

[2019-09-25 17:32] Akshay-Venkatesh commented on #4221
@yosefe @shamisp I'm including performance differences in `osu_bw` from varying `btl_tcp_links` here:

msg_size | tcp_links=4 | tcp_links=8 | tcp_links=16 | tcp_links=32 | tcp_links=36 | tcp_links=64
-- | -- | -- | -- | -- | -- | --
4096 | 735.46 | 699.19 | 775.28 | 751.6 | 757.89 | 637.62
8192 | 1107.25 | 989.31 | 1123.19 | 1100.19 | 1078.29 | 918.69
16384 | 1216.9 | 1227.8 | 1215.92 | 1215.4 | 1

[2019-09-25 18:02] cponder commented on #4223
Here's something related: building with GCC 9.2 (instead of the system base compiler 7.4.0) I got this problem during the `make -k `all` process:
[code]
I could build the UCX in spite of this.

[2019-09-25 19:37] shamisp opened #4228 "Clarify message context documentation"
See my notes here https://github.com/openucx/ucx/pull/4180

[2019-09-25 21:41] lyu opened #4230 "Could not get ucp_rkey_ptr to work with mapped global/static variables"
UCX: master branch

Test program: [test_ucp_rkey_ptr.cpp](https://gist.github.com/lyu/be7510c2860d853db13c1f738fe36dc5)

In OpenSHMEM all the global/static variables must be remotely accessible. While we were able to map them by mapping the .data and .bss sections using ucp_mem_map and have them exposed to the network, we could not get valid pointers to these variables using ucp_rkey_ptr, even wit

[2019-09-26 00:47] tonycurtis commented on #4228
uct_def.h

If the UCT_CB_PARAM_FLAG_DESC flag is enabled, then the data is part of a descriptor
that includes the user-defined rx_headroom, and the callback may return
UCS_INPROGRESS and hold on to that descriptor.  Otherwise, the data can't be used outside of the callback.
If needed, the data must be copied out.

“May return” implies other value(s) might be returned - should they be enumerated?

[2019-09-26 06:22] dmitrygx commented on #4208
Hello @hiroyuki-sato

Posted comments to use UCS alternatives (wrappers) for atomic compare-and-swap and fence operations instead

[2019-09-26 06:47] evgeny-leksikov commented on #4207
Another failure with UCT/sockcm:
[code]
PR https://github.com/openucx/ucx/pull/4090
log https://gist.githubusercontent.com/mellanox-github/0c33ae3646128838b520fa1a55824e1a/raw/14bd27b83c068f46604f803efa90b28ac89469e1/hpc-arm-cavium-jenkins_W1

[2019-09-26 07:19] angainor commented on #4226
@shamisp I got further with this. The problem occurs when I run `ucx_info` directly in the job script, or as a command in an interactive job - then ARIES is not visible. But when I run it with `srun` from within the job script, then it works. However, the problem now is the previously reported #2751 and #3084 - too large message size at init:

[code]
So I understand that at this point UCX is not w

[2019-09-26 08:33] brminich commented on #4230
That is not supported by UCX.
`ucp_rkey_ptr` works for the allocated shared memory only.

[2019-09-26 09:01] yosefe commented on #4218
@jakirkham is it possible to recreate the build environment outside of Azure CI to debug this?
Or alternatively can we pull all intermediate build files from Azure to inspect them? Specifically, i'd like to see libucp.la and libtool script

BTW seems like there is a typo in libibverbs rpm name here:
https://github.com/conda-forge/ucx-split-feedstock/blob/51664397134e62f679f4990ab49b7ae02c9994f1/.a

[2019-09-26 09:15] yosefe commented on #4223
@cponder `make -C test/mpi` should not be done like this. This directory will be built only if MPI is configured. It fails with `libtool:   error: unrecognised option: '-DHAVE_CONFIG_H'` because $(MPICC) resolved to an empty string.

Regarding `Makefile:594: recipe for target 'test_link_map' failed`, seems same issues as #4218,

[2019-09-26 09:48] jakirkham commented on #4218
Yeah if you clone my branch, you can run `python build-locally.py` and this will run the build on your machine. It builds within a Docker container (so you will need Docker installed). The container is left around after the build (even if it fails) so you can inspect it more closely.

Ah thanks for catching that. Will submit a fix. 🙂

[2019-09-26 10:37] cponder commented on #4223
Ok, thanks. I'm going to close this issue then.
I can get it to build ok now by suppressing the error.
I still don't know how to get the tests to actually run, but I'll revisit that later.

[2019-09-26 10:37] #4223 closed

[2019-09-26 11:14] lyu commented on #4230
Thanks! Closing.

[2019-09-26 11:14] #4230 closed

[2019-09-26 11:42] hiroyuki-sato commented on #4208
Hello, @dmitrygx. Thank you for your reply. I'll fix it.

P.S.
I realized that compare-and-swap and progress64 spinlock are easy to test on macOS and Linux.
`os_unfair_lock` work on macOS only. So, It is hard to test on both platforms.

P.S2
I'm not sure yet but, [progress64](https://github.com/hiroyuki-sato/ucx/blob/topic/use-progress64/src/ucs/type/spinlock.h) spinlock failed on gtest. I'll inve

[2019-09-26 11:42] #4208 closed

[2019-09-26 16:00] yosefe commented on #4218
@jakirkham I see this issue too. Can you try with this patch in UCX:
[code]

[2019-09-26 16:06] MattBBaker commented on #4226
I was about to suggest the aprun/srun thing. Yes, UCX will only see the Cray NIC when it's running on a compute node.

To fix the second problem you mentioned you will need to set `export UCX_UNIFIED_MODE=1` Then that will reduce the message size enough to run.

[2019-09-26 16:17] jakirkham commented on #4218
Should I be using both patches or can I drop [the other one]( https://github.com/openucx/ucx/issues/4218#issuecomment-535078115 )?

[2019-09-26 16:18] angainor commented on #4226
@MattBBaker Yey! worked, or at least `ucx_info` managed to create an endpoint this time. I'll test more on a real comm code, but this certainly looks promising! thanks a lot!
[code]

[2019-09-26 16:19] yosefe commented on #4218
drop the previous one

[2019-09-26 17:10] jakirkham commented on #4218
Looks that [fails too]( https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=75576 ). Let me know if there are more flags you'd like me to set to provide more info in these logs.

[2019-09-26 17:22] yosefe commented on #4218
@jakirkham are you pulling UCX from github repo or from dist tarball? if the latter, need to re-run ./autogen.sh

[2019-09-26 17:22] jakirkham commented on #4218
Of course. Thanks for the reminder. Will retry and report back.

[2019-09-26 17:46] shamisp commented on #4226
@MattBBaker is there a way to automate this ? If ugni was enabled by default go with UCX_UNIFIED_MODE

[2019-09-26 17:53] brminich commented on #4228
It is storage for the context. UCT provides a storage where UCP keeps message context.
UCP sets it to some value when the first fragment arrives, and then uses it for assembling the message when the rest of fragments arrive

[2019-09-26 18:23] jakirkham commented on #4218
Yep, [the `configure.ac` patch works]( https://github.com/openucx/ucx/issues/4218#issuecomment-535572106 ). Thanks for putting that together, @yosefe! 😄

[2019-09-26 18:31] rzambre opened #4235 "Possible to get user information in callback of ucp_tag_recv_nb before it returns?"
Occasionally, I notice that the callback of `ucp_tag_recv_nb` gets called before `ucp_tag_recv_nb` returns. In such cases, is there any way to access any "user information" related to the operation? For example, when I have multiple UCP workers that use the same callback for receives on all UCP workers, I would like to know which worker was used for the operation that the callback is associated wi

[2019-09-26 18:41] brminich commented on #4235
Please check discussion in #4187. With the current API it is not so easy. You may use some specific var/flag indicating whether your request info was filled. Then you would be able to distinguish immediate and regular completions

[2019-09-26 19:26] MattBBaker commented on #4226
@shamisp I keep wondering about that too. The main problem in my mind is that if you have a node connecting off the Cray network and you want to use UCX, it would have to be able to know that you're skipping the use of the Cray network before wireup. Maybe some mechanism where it can figure out it is running under something like srun/aprun/orterun and figure, "I'm running in a homogeneous cluster,

[2019-09-26 19:40] angainor commented on #4226
Until a good solution is found, it would at least be useful to see this information together with the assert error message. If I saw a hint, which tells me to set `UCX_UNIFIED_MODE=1` if it suits my case, then I would be happy. Otherwise I have to come here and bother you ;)

[2019-09-26 19:59] shamisp commented on #4226
Cray/UGNI is not designed to work in non-homogenous environment. I would say if ugni is present and active - enable unified mode. For ugni, because of header problem we do not support anything else.

[2019-09-27 03:59] Akshay-Venkatesh commented on #4207
Hi @evgeny-leksikov Do you see the error on cavium machines only? I don't have access to such a machine but on Intel machines I didn't see an issue:

https://gist.github.com/Akshay-Venkatesh/d35791abb12ce9285dea3a83784d2dbb

Can you see if I'm missing something here ^

[2019-09-27 06:13] evgeny-leksikov commented on #4207
Hi @Akshay-Venkatesh I see failures on x86 too, pls find one from last failures here https://gist.github.com/evgeny-leksikov/5f1cde09a5b8bbf6ce13b648b118fb52

[2019-09-27 06:20] evgeny-leksikov commented on #4207
I see these failures occasionally, so try to run tests in the loop (can use ) and several instances on the hosts. Also randomization of tests helps sometime. gtest args example:
`--gtest_break_on_failure --gtest_filter=*test_uct_sockaddr* --gtest_shuffle --gtest_repeat=<N>`

[2019-09-27 11:18] brminich commented on #4228
@shamisp clarification that the message is sent by a single call looks important to me.
@tonycurtis, do you have edits to the description proposed by @shamisp?
The final text would be :
[code]

[2019-09-27 13:44] shamisp commented on #4228
@brminich looks good to me.

[2019-09-27 13:56] shamisp commented on #4226
Meanwhile I update our documentation:
https://github.com/openucx/ucx/wiki/OpenMPI-and-OpenSHMEM-installation-with-UCX#running-on-cray-systems-with-aries-and-gemini-interconnect

[2019-09-27 15:01] tonycurtis commented on #4228
I'd just add articles/plural-fix in:

… allocate the context object and use the context as a token…by the user… subsequent …

… in the case of a single …

Otherwise fine!
Tony

[2019-09-28 03:54] Akshay-Venkatesh commented on #4207
@evgeny-leksikov I'm finally able to repro the error with 1000 iterations of the command you've given above:
[code]

I'll take a look and try to update here with my findings as soon as possible.

[2019-09-28 06:13] hoopoepg opened #4237 "tcp_ep.c:555 UCX ERROR try to increase "net.core.somaxconn", "net.core.netdev_max_backlog", "net.ipv4.tcp_max_syn_backlog" to the maximum value on the remote node"
output: http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/12459/label=hpc-arm-hwi-jenkins,worker=3/console
[code]

[2019-09-28 10:40] brminich commented on #4228
#4238

[2019-09-29 09:28] cponder commented on #2729
Back to the " Akshay-Venkatesh commented on Jul 23, 2018" comment about the compilation errors
[code]
These should be downgraded to warnings if you add the flag
[code]
which is generally used to tolerate build processes that have hard-coded GNU- or Intel- flags.
Given that the discussion moved forward with " hoopoepg commented on Aug 27" I'm guessing that you already have this in place. But I want

[2019-09-29 09:31] hoopoepg commented on #2729
hi
these errors are fixed in master branch
we are working over compilation of UCX by PGI compiler and hopefully it will be completed in few weeks :)

[2019-09-30 13:34] shamisp commented on #4228
Fixed

[2019-09-30 13:34] #4228 closed

[2019-10-01 11:25] tjcw commented on #4036
I'm doing some more testing, this time with 8 ranks on a single POWER9 node. Most of the time the test case passes, but occasionally it hangs or gets a UCS_ERR_ENDPOINT_TIMEOUT. I wasn't expecting the test case to use IB (since it is all on a single node). The last few lines of UCX trace on the failing rank are
[code]
and the backtrace is
[code]
Why is the transfer being done with IB ? I was expec

[2019-10-01 21:57] Akshay-Venkatesh opened #4241 "Questions on Java bindings"
Hi,

I'm trying to build UCX with Java bindings using `--with-java` configure parameter but I fail in the make step with the following error:

[code]

I have the following java compiler and use the following configure option:
[code]

Do you see an immediate issue?

Also, are there any test programs like `ucp_client_server`/`ucp_hello_world`/`ucx_perftest` to evaluate the bindings? Thanks in advanc

[2019-10-02 08:10] petro-rudenko commented on #4241
I saw this issue when using old maven. I'll check how to deal with older maven, meanwhile you can try to build, downloading maven-3.6.2: https://maven.apache.org/download.cgi

Regarding examples - here they are: https://github.com/openucx/ucx/tree/master/bindings/java/src/main/java/org/openucx/jucx/examples

There's a POC branch of SparkUCX: https://github.com/openucx/sparkucx/pull/6 - where it co

[2019-10-02 08:54] madsbk opened #4243 "Error in ucs_socket_send_nb results in an infinite loop"
As far as I can see, [`uct_tcp_ep_send()`](https://github.com/openucx/ucx/blob/master/src/uct/tcp/tcp_ep.c#L491) translate any error returned by [`ucs_socket_send_nb()`](https://github.com/openucx/ucx/blob/a5225ac407f8939c85d57ab9c190eba9fe43767a/src/ucs/sys/sock.h#L143) as a zero progress count.

Thus, when [`ucs_socket_handle_io_error`](https://github.com/openucx/ucx/blob/master/src/ucs/sys/sock

[2019-10-02 09:30] tjcw opened #4244 "UCX application link fails missing libbfd symbols"
I am trying to build a modified IBM Spectrum MPI (based on OpenMPI) on top of UCX. The 'make conf' for the Spectrum MPI is failing when testing for the presence of one of the IBM libraries. On investigating, I find that the link for the ''conftest' is failing with indications that all the symbols from libbfd are missing in libucs.so . Here is the compile line and some of the error messages.
[code]

[2019-10-02 11:52] dmitrygx commented on #4237
[code]
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-arm-cavium-jenkins,worker=3//12478/console

[2019-10-02 13:37] shamisp commented on #4241
@petro-rudenko Is it possible to "catch" old version of maven with configure scripts, so we report user friendly error - please upgrade you maven version to XXX

[2019-10-02 13:40] petro-rudenko commented on #4241
With this PR #4245 should be fixed and works on old maven versions as well.

[2019-10-02 14:34] dmitrygx commented on #4243
@madsbk yes, you're right
Unfortunately, we don't have an error handling enabled in UCT/TCP

btw, even if we enable error handling when sending data from AM functions (when we may return an error to a user), we still don't a way to report an error from `uct_iface_progress()` when progressing user's data that weren't sent thru AM function

[2019-10-02 16:22] madsbk commented on #4243
Is it possible to _flag_ the send message as finished/canceled so it won't be scheduled again?

[2019-10-02 16:52] dmitrygx commented on #4243
yes, it is possible - we should close a broken socket as communications are impossible anymore to not handle events from `epoll_wait()` for it as they just report us about an error on a fd
but, this UCT Endpoint is non-operational anymore and should be closed by a user

[2019-10-02 17:40] dmitrygx commented on #4243
@madsbk is it possible to fetch and test #4248 PR in order to evaluate the solution with your application? thank you in advance!

[2019-10-02 17:41] shamisp commented on #4243
@dmitrygx - this is true not just TCP. This is generally necessary for FT support. We should be able to detect and close EP that entered error state for whatever reason.

[2019-10-02 17:45] Akshay-Venkatesh commented on #4241
Thanks for the pointers @petro-rudenko. After the applying changes in #4245 I was able to build successfully and run the example provided.

[2019-10-02 17:47] dmitrygx commented on #4243
@shamisp we have plans on error handling support enabling in TCP, but for now, I think it would good to just close a TCP socket for a given EP to avoid receiving `EPOLLOUT`/`EPOLLIN` events on that socket from `epoll_wait()`  - this is what #4248 PR does

[2019-10-02 17:51] shamisp commented on #4243
@dmitrygx makes sense.

[2019-10-02 23:43] tonycurtis opened #4251 "Question about UCP version message during "make gtest""
I see this while testing the current (and some previous) git HEAD

[code]

Anything to worry about?

[2019-10-03 07:25] evgeny-leksikov commented on #4207
#4249 fixes only `sockaddr/test_uct_sockaddr.conn_to_non_exist_server` case
failure of `sockaddr/test_uct_sockaddr.connect_client_to_server still happens`:

[code]
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-test-node-legacy,worker=2/12491/consoleFull#-53877839544550c5d-247a-4f9d-bad5-5b93d2b6e2ac

[2019-10-03 07:25] alinask commented on #4251
@tonycurtis Can you please provide your setup details, how ucx was configured and how this can be reproduced?