[2021-08-20 16:10] jgunthorpe commented on #7229
No, try and fail. It is a fairly easy try and fail, just call it and immediately close the fd after.

[2021-08-20 16:12] yosefe commented on #7229
@Artemy-Mellanox we need to test for DevX async event support and do not create a devx qp if do not have it (use mlx5dv instead)

[2021-08-20 16:30] MartynF commented on #7269
On our platform is appears that /proc/cpuinfo is giving a variable output for "cpu MHz" - and it sometime spike much higher than the apparent maximum for the processor - I've seen 11GHz reports. That can combine with a large "secs"  argument to ucs_time_from_sec() - for example from stat()

[2021-08-20 16:55] yosefe commented on #7269
@MartynF can you pls post the contents /proc/cpuinfo on your machine?

[2021-08-20 17:06] MartynF commented on #7269
[cpuinfo.txt](https://github.com/openucx/ucx/files/7023092/cpuinfo.txt)

This is a "normal" one - no surprising values.

[2021-08-20 19:13] yosefe commented on #7269
@MartynF can you please try this [patch](https://gist.github.com/yosefe/39a1f3658bb237b7000d50f087f24fb0) for v1.10 ?

[2021-08-21 03:28] devszr opened #7273 "Question on using UCX+CUDA on machines with more than four IB HCAs and multiple GPUs"
This is not necessarily a bug report, but I am new to the UCX+CUDA world and wanted to get your thoughts on whether it should be possible to use UCX+CUDA for GPU direct operations on two machines which have more than 4 IB HCAs?

Lets say we have two machines which have 8 active IB ports and multiple GPU devices, for example 8, should it be possible to run an MPI CUDA application with OpenMPI-4.x c

[2021-08-21 07:11] alex--m commented on #5749
@yosefe it reproduces on the course setup in HUJI (I can give you access to it, it's 4 hosts with CX3). Looks like UCX incorrectly detects DC is supported on the device when in fact it isn't, and fails the entire worker when DCT creation fails.

BTW - a simpler workaround (without rebuilding UCX) would be setting UCX_TLS (this is what I do on that setup until this is resolved).

[2021-08-21 07:36] Akshay-Venkatesh commented on #7273
@devszr Most common case we test with is each of the 8 processes using a dedicated GPU. For this case, as long as the GPU context is initialized before UCP, the closest NIC to the GPU should be selected automatically. If you're trying to use 8 GPUs from the same process, then it's still possible have the closest NICs be bound to each of the GPUs but done additional binding scripts would likely be

[2021-08-21 08:00] devszr commented on #7273
@Akshay-Venkatesh

Thank you for the quick response.

This is something we are testing at a cloud vendor and the instance is a VM. I am not sure the mapping of the topology returned within the OS is correctly representing the physical hardware (something that is being looked into).

As an example, with 8 GPUs and 8 IB HCAs on the VMs (two VMs being used and each VM having 8 GPUs and 8 IB HCAs), if

[2021-08-21 12:02] yosefe commented on #5749
@alex--m can you pls upload the output of "ucx_info -dvb" command, with UCX_LOG_LEVEL=data?

[2021-08-21 20:04] Akshay-Venkatesh commented on #7273
@devszr In the past we've used a script as follows on [DGX-1](https://developer.nvidia.com/blog/dgx-1-fastest-deep-learning-system/) which has 8 GPUs and 4 NICs:

[code]
The above scriptmakes the assumption that each process uses a GPU as dictated by OMPI_COMM_WORLD_LOCAL_RANK (that is the rank within the node). If the process to GPU mapping is different, you'll need to adjust that as well.

The s

[2021-08-21 20:12] devszr commented on #7273
@Akshay-Venkatesh Thank you so much for this explanation. I will try this out, experiment a bit and let you know how it goes.

From my understanding, for all GPU-GPU RDMA ops with new versions of OpenMPI, UCX is the way to go, since that is the one which will be developed and recommended for the foreseeable future.

Looking forward to all the optimizations coming in the future.

[2021-08-22 02:00] devszr commented on #7273
@Akshay-Venkatesh This worked. We are now able to see all the 8 IB interfaces being used and we are also able to use all the GPUs! This was great info to get started and we can do some further analysis for fine tuning UCX and try out different settings.
Thanks.

[2021-08-22 07:08] alex--m commented on #5749
[code]

[2021-08-22 07:09] alex--m commented on #5749
Also, this ibstat output may be helpful:
[code]

[2021-08-22 08:57] yosefe commented on #5749
@alex--m i see there is a COnnect-IB card (which supports DC) and DC iface create does not have any error

[2021-08-22 10:35] alex--m commented on #5749
@yosefe this looks problematic (and also OMPI crashes during MPI_Init() on worker creation following a similar DCT failure):
[code]

[2021-08-22 11:27] yosefe commented on #5749
@alex--m seems it could be issue with scatter-to-cqe initialization on DC
What is the version of rdma-core and kernel / MLNX_OFED in the machine?

[2021-08-22 11:55] alex--m commented on #5749
Kernel 5.4.81, no MOFED, rdma-core version unclear (no privs to check, ofed_info not installed) - any Ideas how to query?
I got this from ibstat, if it helps: `/sbin/ibstat BUILD VERSION: 2.1.0 Build date: Dec 14 2018 07:54:41`

P.S. I can help you or a member of your team to connect to those servers, if it helps.

[2021-08-22 12:07] yosefe commented on #5749
`rpm -q rdma-core`
`rpm -q libibverbs`
`rpm -q libmlx5`

Yes can u pls send access info by mail?

[2021-08-22 12:14] alex--m commented on #5749
I don't have access to 'rpm' executable (it's a netboot image). I'll send info shortly.

[2021-08-22 15:24] shamisp commented on #7273
@Akshay-Venkatesh @yosefe It would be useful to dump this in FAQ

[2021-08-23 02:58] KOBAYASHI-Hiro opened #7283 "Caught signal 11 (Segmentation fault: address not mapped to object at address (nil)) : UCX 1.9.0 or higher"
### Describe the bug
Caught signal 11 (Segmentation fault: address not mapped to object at address (nil)) occurs at 20-30% when running mpirun on UCX 1.9.0 or higher. There are no issues with UCX 1.7.0.

==== backtrace (tid: 100539) ====
 0  /hoge/apps/rhel79/ucx/1.9.0-cuda10.2/lib/libucs.so.0(ucs_handle_error+0xe4) [0x2b19bd0b4444]
 1  /hoge/apps/rhel79/ucx/1.9.0-cuda10.2/lib/libucs.so.0(+0x2476c

[2021-08-23 19:43] devszr commented on #7273
@Akshay-Venkatesh

We have been doing a few tests with this setup and it looks very encouraging. However, we seem to hit some kind of limit when we try to place 8 processes on each GPU and each IB HCA.

When we try a run with 32 processes on each node and place 4 processes on each of the 8 GPUs and HCAs everything works fine, but, when we increase this to 64 processes on each node, i.e 8 processes

[2021-08-23 23:33] Akshay-Venkatesh commented on #7273
@devszr I'm guessing you're already using [MPS](https://docs.nvidia.com/deploy/pdf/CUDA_Multi_Process_Service_Overview.pdf) to oversubscribe the GPUs on the system.

The document linked specifies that on Volta architecture, up to 48 clients are supported on each GPU so 8 processes per GPU should be ok. You may be hitting memory limits though. Have you tried to see where the performance cliff start

[2021-08-24 00:26] devszr commented on #7273
@Akshay-Venkatesh Yes MPS is running on the nodes, but these are A-100 and not V100's. I see now in this [document](https://docs.nvidia.com/datacenter/tesla/mig-user-guide/#cuda-mps) it states **CUDA MPS is supported on top of MIG. The only limitation is that the maximum number of clients (48) is lowered proportionally to the Compute Instance size**.

Could that be limiting something? However, we

[2021-08-24 11:24] MartynF commented on #7269
So far looks good - no huge values arrived in ucs_time_from_sec() as expected and no other failures

[2021-08-24 11:25] MartynF commented on #7269
The patch doesn't apply to 1.11  -but I see its already merged to go into the 1.11.1  ?

[2021-08-24 11:36] yosefe commented on #7269
Yes, I merged the fix to v1.11.1

[2021-08-24 12:13] chenyidu opened #7290 "Question about ucp_request_free()"
### Describe the bug
My project needs to have a timeout feature. When a timeout occurs, I call `ucp_request_free()` to release the request returned by `ucp_tag_recv_nbx()` and free receive buffer. However, when the message arrives, UCP does not check the request flag(UCP_REQUEST_FLAG_RELEASED) and still uses the buffer in the request to receive data.
https://github.com/openucx/ucx/blob/7dd8a0638a8

[2021-08-24 21:44] dmitrygx opened #7294 "test_ucp_wireup_asymmetric.connect test failure on swx-ucx/swx-rain nodes"
[code]
[code]

[2021-08-29 00:25] goduck777 opened #7316 "MPI_Comm_Spawn is not working as endpoint reconfiguration is not supported"
### Describe the bug
When using MPI_Comm_Spawn function, the endpoint configuration can always change, which can trigger UCX to exit due to the following code in src/ucp/wireup/wireup.c
[code]
For example, in issue open-mpi/ompi#9316, the configuration has cma before the spawn but no cma after spawn. In some other tests, the configuration has dc before the spawn but rc after spawn.

Commenting thi

[2021-08-30 15:27] tonycurtis commented on #6985
Hi, any update on this?

[2021-08-30 15:41] tonycurtis commented on #6985
ok, working on that with yossi, thanks

[2021-09-01 17:52] kloczek opened #7329 "1.11.1: build fails with `[-Werror=odr]` when LTO is used"
### Describe the bug
Looks like LTO exposes some issues.
Build fails with `[-Werror=odr]` when LTO is used.
I'm using gcc 11.2.1.
[code]

[2021-09-01 17:53] kloczek commented on #7329
Just checked and when LTO is disabled build fails but with other issues
[code]

[2021-09-01 17:59] kloczek commented on #7329
Just in case I'm setting source code tree with:
[code]

[2021-09-02 13:09] #7329 closed

[2021-09-02 16:16] dmitrygx commented on #7316
@goduck777 could you pls check if #7335 helps to resolve the issue?
btw, pls note that there is a bug in your `main.c` source file on `assert(k == 2)` line. it is necessary to handle generic case and have `assert(k == (size + 1))`.

[2021-09-03 10:09] kisisjrlly opened #7336 "how to use ucx for non-root user"
when i use ucx in non-root user, some errors occurred, for example,
when run ucx_info -d:
[code]
it is because rdma need to lock memory but non-root users can not opeate....

How to use UCX gracefully with ordinary users?

[2021-09-03 11:07] yosefe commented on #7336
need to either increase max locked memory for non-root user, or disable RDMA transports in UCX by setting `UCX_TLS=^ib`

[2021-09-03 11:49] kisisjrlly commented on #7336
thank you！

[2021-09-03 11:49] #7336 closed

[2021-09-03 19:01] carns opened #7340 "undefined sigaction() symbol"
### Describe the bug

UCX 1.10.1 produces the following error at runtime on the Summit system at the OLCF following the recent upgrade to RHEL8:

[code]

### Steps to Reproduce

This can be reproduced with gcc (9.1 or 11.1), spack origin/develop as of September 1, 2021, and UCX version 1.10.1 (the default version supplied by the spack package).  UCX, and programs linked against it, compile and lin

[2021-09-04 13:13] goduck777 commented on #7316
I have tried the master branch with PR #7335 and it solves my issue. However, I got some error message,
[code]
The output result seems correct any way.

Thank you for pointing out the problem in my example code. This is copied from a previous issue and I forgot to change the assert command. In my real test I have that line commented.

[2021-09-08 16:17] dmitrygx opened #7363 "test_ucp_tag_xfer.send_generic_recv_generic_unexp_rndv fails when UD is used on swx-rain nodes"
[code]

after some debugging it was found that if fails, since polling RX CQ returns some operation that were received:
[code]
`cq_ci` is `1`, but it is the very begging of the test when UCP worker and UCT ifaces are created.
So, probably some message from the previous run is received. The issue is reproduced after a large number of iterations.

[2021-09-09 13:22] pentschev commented on #7210
Forgot to close this before, but https://github.com/openucx/ucx/pull/7209 fixed this issue.

[2021-09-09 13:22] #7210 closed

[2021-09-09 15:11] nspark commented on #4388
Is it expected that `uct_ib_md_alloc_device_mem` will only be part of 1.6.x? Is some alternative API proposed or expected?

[2021-09-09 17:22] yosefe commented on #4388
adding @shamisp
uct_ib_md_alloc_device_mem was only part of v1.6.x, the plan is to provide a new API that allows allocating device memory but does not allow the application to access it directly. It would need to do something like `ucp_mem_copy_from_device(buffer, device_mem_handle, count)`

[2021-09-10 12:49] mkre opened #7369 "Please help understanding the performance of AmgX with GPUDirect communication"
### Describe the bug
We are in the process of evaluating the performance of AmgX on our GPU cluster. AmgX has an optional setting to enable GPUDirect MPI communication. However, it seems like enabling this causes a performance _decline_ instead of an increase, compared to the vanilla implementation using host staging.
I added a simple timing instrumentation to these two AmgX functions (one of whic

[2021-09-10 15:47] dmitrygx commented on #4534
fixed by https://github.com/openucx/ucx/pull/4692

[2021-09-10 15:47] #4534 closed

[2021-09-10 16:15] raffenet opened #7371 "compile error with NVIDIA HPC SDK on aarch64"
### Describe the bug
[code]
### Steps to Reproduce
- Command line: `./configure CC=nvc CXX=nvc++ && make`
- UCX version used: v1.11.1 and master (41315896e3532723724ec1d0625a1727f2015e53)

### Setup and versions
- Ubuntu 20.04 + aarch64
- NVIDIA HPC SDK 21.7

[2021-09-10 16:43] raffenet commented on #7371
Adding `__attribute__((unused))` allows the library to compile, so this appears to be the only issue currently.

[2021-09-11 03:58] #7371 closed

[2021-09-13 02:53] benmenadue opened #7391 "Segmentation fault in HCOLL/UCX"
### Describe the bug
Some applications are failing with a segfault in hcoll callback `mcast_ucx_recv_completion_cb`. Reported to Mellanox Support (since that's part of hcoll, case 00956842), and they suggested opening this here as well. Traceback is
[code]

### Steps to Reproduce
For the above traceback:
- Command line:
```mpirun -np 256 --map-by numa:SPAN --bind-to numa --mca pml ucx ...```
- UCX

[2021-09-13 12:06] mkre opened #7392 "Segfault with explicit ud_mlx5 transport setting"
### Describe the bug
Our application is giving a segfault when setting `UCX_TLS=self,sm,ud_mlx5`. Everything is working fine when replacing `ud_mlx5` with `ud_verbs` or `ud`. Interestingly, setting `UCX_LOG_LEVEL=Info UCX_TLS=self,sm.ud` shows that `ud` seems to be translated to `ud_mlx5` (but this setting is _not_ giving a segfault as stated above):
[code]
So, maybe this is not an issue with the

[2021-09-13 12:12] hoopoepg commented on #7392
@mkre thank you for bug report
is there any backtrace of segfault?

[2021-09-13 12:12] yosefe commented on #7392
@mkre is it a correct understanding that this is the stack trace and the segfault is in starccm?

[code]

[2021-09-13 12:17] mkre commented on #7392
Right @yosefe, it's in a routine doing MPI communication, so it might be that the UCX setting corrupts some memory buffers or something along these lines...?

[2021-09-13 12:58] yosefe commented on #7392
@mkre according to the log file of ud_mlx5, the application creates ucp_context_h and immediately destroys it, without creating worker or endpoints. Does it make sense according to the stack trace of the application?

[2021-09-13 13:06] mkre commented on #7392
@yosefe not sure if that makes sense. We are not using UCX directly, but only through Open MPI, so I'm not sure about much of the UCX function call specifics. I'm also not sure why the behavior should be different depending on the selection of `ud` or `ud_mlx5`.

[2021-09-13 13:43] yosefe commented on #7392
@mkre maybe OpenMPI unloads UCX component.
Can you pls run the failing case with "-mca pml_base_verbose 100 -mca pml_ucx_verbose 100" ?

[2021-09-13 14:08] mkre commented on #7392
@yosefe

[ucx-1.11.1-ud_mlx5-ucxverbose.txt](https://github.com/openucx/ucx/files/7154848/ucx-1.11.1-ud_mlx5-ucxverbose.txt)

Good point! The failure also happens when UCX is disabled. So it might not be an UCX issue in the end...? I'm still confused about the different behavior with `ud`/`ud_mlx5` though...

[2021-09-14 09:28] dmitrygx commented on #7316
@goduck777 I'll take a look why you get these errors

[2021-09-14 10:55] yosefe commented on #7363
closing - FW issue (internal ref https://redmine.mellanox.com/issues/2727998)

[2021-09-14 10:55] #7363 closed

[2021-09-14 10:56] yosefe commented on #7294
resolved by using same roce subnet

[2021-09-14 10:56] #7294 closed

[2021-09-14 10:58] yosefe commented on #7290
in order to implement a timeout feature, need to use ucp_request_cancel(), and then wait for the request callback to be called. it would either be completed successfully or fully canceled.

[2021-09-14 11:00] yosefe commented on #7283
@KOBAYASHI-Hiro
1. is the program using GPU memory?
2. segfault seem to be coming from `_ZSt14__convert_to_vIdEvPKcRT_RSt12_Ios_IostateRKP15__locale_struct` which is not UCX code
3. does the problem happen with UCX v1.11.1?

[2021-09-14 11:05] yosefe commented on #7392
1. UCX component disqualifies itself because ud_mlx5 was missed from https://github.com/open-mpi/ompi/blob/29b4b984766eb1151c377d4dc60c1315f44009ba/opal/mca/common/ucx/common_ucx.c#L48. as workaround, can add `-mca pml_ucx_tls rc_verbs,ud_verbs,rc_mlx5,dc_mlx5,cuda_ipc,rocm_ipc,ud_mlx5`
@karasevb can you pls fix this in Open MPI (all relevant branches)?

2. UCX_TLS=ud enabled both ud_verbs and ud_

[2021-09-14 11:08] yosefe commented on #7391
@benmenadue For now, we'll continue working on it through Mellanox support as an HCOLL issue

[2021-09-14 11:23] chenyidu commented on #7290
@yosefe Thank you for your reply, we noticed the function. Looks like it's just a matter of usage, I'll close this issuse.

[2021-09-14 11:23] #7290 closed

[2021-09-14 11:50] mkre commented on #7392
Thanks @yosefe. I just realized that the segfault actually seems to be related to Libfabric/OFI, which was selected because the Open MPI bug you pointed out prevented UCX from being used. Everything makes sense now. Thanks for your help! Feel free to close this issue. I guess there is no need for opening a ticket at the Open MPI bug tracker since @karasevb is already aware of the bug, right?

[2021-09-14 12:01] yosefe commented on #7392
Yes, that is right. Let's keep this one open for now.

[2021-09-14 19:38] dmitrygx commented on #7316
@goduck777 did you see these errors when running the test from the ticket?
could you share `ucx_info -eptw -u t` output, please?

[2021-09-15 02:50] changliu777 commented on #7316
Yes I still see these errors. Here is the output
[code]

[2021-09-15 02:51] goduck777 commented on #7316
Yes I still see these errors. Here is the output
[code]

[2021-09-16 01:46] paboyle opened #7416 "Transport retry count exceeded on mlx5_2:1/IB"
### Describe the bug

Runtime errors stopping jub
[code]

### Steps to Reproduce

Non-reproducible, intermittent running "Grid" code on Booster at Juelich in production jobs.

### Setup and versions

Linux jwlogin23.juwels 4.18.0-305.10.2.el8_4.x86_64 #1 SMP Tue Jul 20 17:25:16 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

[code]

[2021-09-16 01:57] paboyle commented on #3192
I hit this issue under Cuda 11.3 ?

[2021-09-16 06:53] pentschev commented on #3192
This issue was actually resolved by https://github.com/openucx/ucx/pull/5815, which is in UCX 1.10.0 and above. Could you try that? Although CUDA 11.2 had that fixed as well, I don't know why you see it in CUDA 11.3.

Since UCX fixed the problem regardless of the CUDA version, I also propose closing this issue.

[2021-09-16 07:33] brminich opened #7417 "dc_mlx5/test_tag_mp_xrq.zcopy_eager_only/0 failure on swx-rdmz-ucx-arm-hwi"
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/25722/logs/359
### Describe the bug
[code]

[2021-09-16 09:41] yosefe commented on #7417
similar to #6824

[2021-09-16 09:56] #7417 closed

[2021-09-16 10:05] yosefe commented on #7416
@paboyle Is there any other failure, except the "retry exceeded" error?
On how many nodes does the issue happen? are there any UCX environment variables used?
Is the application using MPI-RMA?
It is likely this issue is related to fabric configuration/health, so should be taken with Mellanox/NVIDIA support

[2021-09-16 16:08] maddyscientist commented on #3192
@paboyle the issue is fixed in the CUDA 11.2 driver, I suspect you are perhaps using a driver from 11.0 or 11.1 timeframe, but are running with the 11.3 toolkit using forwards compatibility?

[2021-09-17 05:13] yiyuanliu commented on #6872
I encountered a similar problem with UCX 1.11.1. This is what my program does：
1. Create two workers in a single thread, one as server and another as client.
2. Server worker create a socket listener.
3. Client worker create a endpoint and connect to sever.
4. Server worker accept connection
5. Send 4k tag msg from client to server.

then I got such error:
[code]

I am not familiar with the intern

[2021-09-17 08:47] chenyidu commented on #6872
@yiyuanliu You can run `ucx_info -d` to check the available TLS(transport resource) on your node. I guess it's the same problem,
1. When creating ep by `ucp_ep_create()`, the am_lane is TCP TL.
2. The max short of TCP TL is 8K, so the short mode is selected when sending the 4K data,
3. After the ep is reconfigured in `ucp_worker_progress()` , the new am_lane is MM TL whose max short is 100 bytes.

[2021-09-17 09:10] yosefe commented on #6872
fixed by #7403

[2021-09-17 10:05] chenyidu commented on #6872
#7403 seems just fix the zcopy problem.
1. before ep reconfiguration: zcopy on TCP TL that does not need reg_mr.
2. after ep reconfiguration: zcopy on IB that need reg_mr, but gets empty reg_mr (assertion failed)

The problem @yiyuanliu mentioned doesn't seem to be solved.
1. before ep reconfiguration: short on TCP TL to send 4K data.
2. after ep reconfiguration: short on MM TL to send  4K data. (

[2021-09-17 13:47] paboyle commented on #7416
Hi,
Christoph Lehner is hitting the problem, and will put his environment into this message thread
Thanks !

[2021-09-17 14:27] willliu opened #7422 "Possible cgo memory leak in golang binding"
### Describe the bug
The functions `SetName` in `UcpParams, UcpEpParams, UcpWorkerParams` call the `C.CString`, which  allocates the c memory, which does not get freed in the current code base.

In addition, using the `runtime.SetFinalizer` might still incur memory leak, if `SetSocketAddress` are called twice for any reason.

As a result, does the development team think the introduction of a `Rele

[2021-09-17 15:00] lehner commented on #7416
Thanks for getting back to us quickly!  There are no other failures but typically a large (factor of 2) fluctuation in network performance prior to the errors.  Application is not using MPI-RMA.  UCX environment:

export UCX_MEMTYPE_CACHE=n
export UCX_RNDV_SCHEME=put_zcopy

I tried export UCX_IB_SL=1 as well but the problem persisted in this case as well.  Thanks!

[2021-09-17 15:02] lehner commented on #7416
It happened on 256 nodes

[2021-09-17 16:16] paboyle commented on #7416
We're using MPI_Sendrecv and MPI_Isend / Irecv pairs + all_reduce in code.

Whether software or hardware ... we don't know, hoped you could steer based on the nature of error reported.

[2021-09-17 16:17] paboyle commented on #7416
gdr_copy, RNDVZ put_zcopy, many of transfers are GPU-GPU

[2021-09-17 16:17] paboyle commented on #7416
OpenMPI 4.1.1

Christoph - UCX version?

Cuda version?

[2021-09-17 16:42] lehner commented on #7416
Cuda 11.4
UCX:
ucx_info -v
# UCT version=1.10.1 revision 6a5856e
# configured with: --prefix=/p/software/juwelsbooster/stages/2020/software/UCX/1.10.1 --build=x86_64-pc-linux-gnu --host=x86_64-pc-linux-gnu --with-verbs --without-java --disable-doxygen-doc --enable-optimizations --enable-mt --disable-debug --disable-logging --disable-assertions --disable-params-check --disable-dependency-tracking -

[2021-09-17 17:32] yosefe commented on #7416
For now, it looks like a HW issue.
As an experiment, can you pls try with `UCX_RNDV_SCHEME=get_zcopy` and `UCX_TLS=dc` (each one separately)?
Is there adaptive routing enabled on the cluster (can make sure it's disabled by setting `UCX_IB_AR_ENABLE=n`)

[2021-09-20 10:15] lehner commented on #7416
Thank you, I have jobs in the queue to conduct both experiments.

[2021-09-21 08:11] AndiH commented on #7416
We are seeing similar error messages on JUWELS Booster for other applications as well.

Could you also, separately, set `UCX_RC_TIMEOUT=4s` as an additional experiment?

[2021-09-21 12:31] lehner commented on #7416
Hi @AndiH, will do

[2021-09-21 18:11] paboyle commented on #7416
Hi AndiH,

a minor issue - we bought a similar system in Edinburgh, and with more recent firmware (not sure HFI's only or HFI's and switches) ATOS got significantly more out the network on Quad HDR than Booster does.

187 GB/s bidirectional per node over 4 HFIs vs 168 on 16 nodes.

Should probably ask them about firmware updates and any performance gains.

[2021-09-22 06:31] AndiH commented on #7416
@paboyle Let's talk about that point via email to focus this Github issue here on the UCX retry count.

[2021-09-22 19:33] avildema opened #7441 "[mtt] Fail in build gtest from UCX source"
UCX source: /hpc/local/benchmarks/daily/next/2021-09-22/hpcx-gcc-redhat7.6/sources/ucx-1.12.0.tar.gz

[code]

error:

[code]

[2021-09-22 19:41] sudheer9 opened #7442 "Performance issue for certain message size range on AMD gpus using MPICH-UCX"
### Describe the bug

Running latency benchmark between two nodes with AMD gpus using MPICH with its embedded UCX results in an odd performance issue, the latency gets higher for a certain message size range before lowered to a more acceptance numbers.

Specifically, the numbers are

`mpirun -bind-to gpu -ppn 1 -gpus-per-proc 1 -prepend-rank -n 2 install/libexec/osu-micro-benchmarks/mpi/pt2pt/osu_

[2021-09-23 17:35] lfmeadow opened #7449 "Unexpectedly low MPI bandwidth between Connectx-6 HSAs on two multisocket Dell R7525 servers"
### Describe the bug
We have two 2-socket Dell servers with two AMD EPYC 7402 (24-core) processors each and two Connect-6 cards each. The HSAs are each on a separate PCI bus corresponding to each processor. Each HSA is connected to the same IB switch.  I ran an MPI PingPong (from Intel IMB benchmarks) in all 4 combinations of mlx5_0:1 and mlx5_1:1 on the two servers using UCX_NET_DEVICES and bindi

[2021-09-23 17:56] yosefe commented on #7449
Can you pls try the following:

1. Run [ib_read_bw](https://community.mellanox.com/s/article/ib-read-bw) benchmark on mlx5_0 (both sides) and message size 512k and report the result? should be something like this:
Server: `taskset -c 0-23 ib_read_bw -s $((512*1024)) -D 5 -d mlx5_0`
Client: `taskset -c 0-23 ib_read_bw -s $((512*1024)) -D 5 -d mlx5_0 ed-dlgpu-168c`

2. IMB Pingpong with `UCX_LOG_LEV

[2021-09-23 19:14] lfmeadow commented on #7449
Will do. However, now I'm thinking it may be a firmware issue. Card 0 has a PSID DEL0000000010 and the firmware tools won't let me update the firmware. So our system guy is talking to Dell. I'll keep you informed.
Thanks for the quick response.

[2021-09-23 20:47] lfmeadow commented on #7449
Upgrading to FW 20.31.1014 made the problem go away. Sorry for the noise.

[2021-09-23 20:47] #7449 closed

[2021-09-23 21:16] MaskRay commented on #4549
`--dynamic-list-data` is not useful. If the intention is to make variable interposable in the presence of `-Bsymbolic`, just use `-Bsymbolic-functions` instead. I don't think ld.lld should add this option.

[2021-09-24 05:12] mkre commented on #7369
Anyone got an idea about this? Pinging @bureddy...

[2021-09-26 15:48] lfmeadow opened #7462 "How to disable NVIDIA GPU device-to-device copy"
### Describe the bug
Not a bug, a question. I'm getting about 7% better performance using two A100 GPUs on two different nodes connected by ConnectX-6 HSAs, vs. two A100 GPUs on the same node but on separate sockets.
Hardware and software  are the same as described in https://github.com/openucx/ucx/issues/7449: 2 socket AMD EPYC 7402 from Dell.
I see cuda device-to-device copies taking place. I'm

[2021-09-26 16:06] yosefe commented on #7462
pls set `UCX_IB_GPU_DIRECT_RDMA=n`

[2021-09-27 14:56] lfmeadow commented on #7462
I'l try it but this isn't IB, this is GPU to GPU on the same node.

[2021-09-27 16:54] lfmeadow commented on #7462
UCX_IB_GPU_DIRECT_RDMA=n made no difference in the runtime.

[2021-09-27 17:33] Akshay-Venkatesh commented on #7462
@lfmeadow

For which message range? Would be useful to provide the mpi command and show the difference to repro.

Can you elaborate on device-to-device copies? Did you run with nvprof or nsys and notice `D2D` transfers or did you see `D2H/H2D` transfers? Also, I don't see if there are NVLINKs connecting the two GPUs within the node. Would be useful if you could provide the output of `nvidia-smi to

[2021-09-27 19:53] pentschev opened #7465 "Segmentation fault with global memtype cache instance"
### Describe the bug
After global memtype cache instance from #7270 , we now see a segmentation fault on Dask workflows with UCX when InfiniBand is active.

### Steps to Reproduce
- Simplest way to reproduce is run Dask cuDF benchmark using UCX-Py:
  - `python dask_cuda/benchmarks/local_cudf_merge.py -d 0,1,2,3,4,5,6,7 --runs 5 -c 50_000_000 -p ucx`
  - Additionally `--disable-nvlink` can be speci

[2021-09-27 19:53] pentschev commented on #7465
cc @Akshay-Venkatesh for visibility as the author of the PR.

[2021-09-27 19:54] lfmeadow commented on #7462
There are no nvlinks.
I disabled cuda transport by not listing any of the cuda transports in TLS.
`-x UCX_TLS=self,knem,cma,sm,rc,dc,ud,cuda_ipc`

Yes, I see D2D (called P2P by nsys) in nsys:
[code]
topology
[code]

run commands and times:
[code]

Finally, trying --mca btl ^ucx on a single node with 2 gpus, I'm not convinced this is working, because I don't get any output with `--mca bvtl_smcuda_c

[2021-09-27 20:03] Akshay-Venkatesh commented on #7462
@lfmeadow

Can you also post results of lammps with  `-x UCX_TLS=self,knem,cma,sm,rc,dc,ud,cuda_copy`

[2021-09-27 20:18] pentschev opened #7466 "Segmentation fault with CQ overrun check in assert mode"
### Describe the bug
After CQ overrun check in assert mode from #7143 , we now see a segmentation fault on Dask workflows with UCX devel build when InfiniBand is active with MOFED 4.7-3.2.9 (MOFED 5.x isn't affected).

### Steps to Reproduce
- Simplest way to reproduce is run Dask cuDF benchmark using UCX-Py:
  - `python dask_cuda/benchmarks/local_cudf_merge.py -d 0,1,2,3,4,5,6,7 --runs 5 -c 50_00

[2021-09-27 20:18] pentschev commented on #7466
cc @brminich for visibility as the author of the PR.

[2021-09-27 20:19] lfmeadow commented on #7462
1 node 2 gpus: `Loop time of 167.52 on 2 procs for 20000 steps with 6504048 atoms`
2 node 2 gpus: `Loop time of 165.353 on 2 procs for 20000 steps with 6504048 atoms`

So I guess this (mostly) fixes the problem and also shows that cuda-ipc is a bad idea when the GPUs have to go through the system socket interconnect.
Fascinating.

[2021-09-27 20:34] Akshay-Venkatesh commented on #7462
@lfmeadow Right. Some GPU devices have peer to peer capability even when separated by the socket domain. Out of curiosity, is the bandwidth the two GPUs close to PCIe peak bandwidth? Would you mind posting the results of https://github.com/NVIDIA/cuda-samples/tree/master/Samples/p2pBandwidthLatencyTest for write (default) and read (`--p2p_read`) operations?

[2021-09-27 20:54] Akshay-Venkatesh commented on #7462
Also,

`--mca btl smcuda` will not work because openmpi needs `--mca btl self,...` to be included for all jobs. I normally don't set `--mca btl` for non-ucx jobs. That said, for intra-node jobs, `--mca btl self,smcuda,tcp,vader` should suffice.

[2021-09-27 21:27] lfmeadow commented on #7462
Thanks for the tip. I really don't like OpenMPI's habit of silently ignoring parameters it doesn't like.

This is PCIe gen 4 so the bandwidth numbers are way low I think. I'd expect 20-ish.
This https://www.nas.nasa.gov/hecc/support/kb/amd-rome-processors_658.html seems to suggest that there's plenty of inter-socket BW so there must be some other inefficiencies. I suppose I could run some MPI sock

[2021-09-27 21:37] Akshay-Venkatesh commented on #7462
On PCIe gen4, I guess it should be closer to 25 GB/s. Also this result doesn't make sense because bidirection more than doubles unidirectional:
[code]
If IB provides > 16.5 GB/s then that would explain why disabling cuda_ipc improves performance for the intra-node test.

Also, can you also post the results of `./p2pBandwidthLatencyTest --p2p_read` ?

[2021-09-27 21:40] lfmeadow commented on #7462
For large messages I saw IB as high as 20GB/sec if I recall correctly.
[code]

[2021-09-28 13:49] nirandaperera opened #7467 "UCG component release"
Hi,
I am looking for collective operations on top of UCX and I believe this falls under xucg. But I couldn't find a release of the xucg yet. Is it managed separately or is it released under ucx?

[2021-09-29 11:35] hoopoepg commented on #7441
fixed by https://github.com/openucx/ucx/pull/7444

[2021-09-29 11:35] #7441 closed

[2021-09-29 18:17] Akshay-Venkatesh commented on #7465
@pentschev Can you include env vars for the run? Is `UCX_MEMTYPE_CACHE=n` set?

[2021-09-29 18:20] pentschev commented on #7465
@Akshay-Venkatesh we are, but since that PR we started getting a warning as if the variable doesn't exist anymore:

[code]

But `ucx_info -f` still shows it:

[code]

[2021-09-29 19:03] Akshay-Venkatesh commented on #7465
@pentschev The warning above is unexpected.
Running current master doesn't show the warning. I used these options:
[code]

[2021-09-29 19:19] pentschev commented on #7465
I just built latest master again with:

[code]

But the issue persists:

[code]

[2021-09-29 19:43] Akshay-Venkatesh commented on #7465
is it possible that some other version of UCX is being picked up by dask?

[2021-09-29 19:51] Akshay-Venkatesh commented on #7465
[code]

[2021-09-29 20:03] pentschev commented on #7465
Ok, I created a new environment and rebuild UCX from source again, but I still see the same issue even with `ucx_info` on both sides:

<details><summary>Server</summary>

[code]

</details>

<details><summary>Client</summary>

[code]

</details>

[2021-09-29 20:10] Akshay-Venkatesh commented on #7465
So we have simpler test which shows that the test works on prom but not on your cluster. Would be good to get backtrace for perftest where ucx function calls below ucx_handle_error are shown.

[2021-09-29 20:18] Akshay-Venkatesh commented on #7465
@pentschev Can you also try on Prom to rule out potential cluster issues?

[2021-09-29 20:37] pentschev commented on #7465
Sorry Akshay, the segfault above is actually the issue of https://github.com/openucx/ucx/issues/7466 which only affects MOFED 4.x, I forgot I needed to revert that change. Doing so allows `ucx_perftest` to pass without any issues. However, the issues on Dask persist on both the cluster I was testing above (after reverting https://github.com/openucx/ucx/issues/7466) without any changes.

<details><

[2021-09-29 20:57] Akshay-Venkatesh commented on #7465
Would it be possible for you try this test on Prom to guarantee that the above error comes  36e8999878aad9a7d4c88906fbddcc5684b5392b but not with 1688c11f50a079f3f46d5a9d5d95e6c7dd1c7a8f

[2021-09-29 21:30] pentschev commented on #7465
Starting from https://github.com/openucx/ucx/commit/4e6204c5901c19bd0f5ccac7a2980c48deb708e9 for each step below:

- `git revert -m1 1688c11`: same issue happens;
- `git revert -m1 36e8999`, then resolve conflict: Dask test passes again.

[2021-09-30 17:42] sashakot opened #7483 ""make distcheck" fails in UCX 1.11 (#6031c98))"
Error:
[code]

How to reproduce:
[code]

Mellanox OFED version:
[code]

[2021-09-30 18:38] brminich commented on #7483
did you run ./autogen.sh on the same machine?

[2021-10-01 00:56] bureddy commented on #7369
@mkre the first transfer with GPUdirect is expected to high overhead with GPUDirectRDMA because it invloves cuda memory registration with IB HCA.  is it possible to reuse the buffer from the application ?

[2021-10-01 13:25] pentschev commented on #6721
I was working on support AM in UCX-Py without a listener (today the only way to establish connections using AM), by allowing creating an endpoint directly to a remote worker via its address, but the behavior is different from the above.

When a listener is involved, after sending a wireup message, messages larger than `UCX_RNDV_THRESH` will be received via rndv. By looking at logs with `UCX_LOG_LE

[2021-10-01 13:31] yosefe commented on #6721
it's expected that before wireup is complete, messages with RNDV would be sent as eager since at that point it's not yet known if rdma is possible. It should not impact overall performance since it's just the first message.
To ensure RDNV flow is tested, cand send small active message and do the large RNDV after it arrived.
if no EAGER/RDNV flag is passed, UCX will decide the threshold internally.

[2021-10-01 13:37] pentschev commented on #6721
That works, but only if I have a listener, without the listener UCX doesn't seem to respect it at all.

How can I verify what should be the threshold decided internally? As per the second piece of log above it seems to be defined as `rndv_thresh=18446744073709551615`, which effectively means rndv will never be used.

To add one more data point, I would just like to mention that I hacked `ucp_am_rn

[2021-10-01 13:50] brminich commented on #6721
do you mean you have to have a listener on client side as well for rndv to be selected?

[2021-10-01 14:07] pentschev commented on #6721
No, I have two setups, the first one (where rndv works) is as follows:

- Server:
  - Start worker and install AM callback;
  - Start listener with `ucp_listener_create`;
  - Create endpoint from `conn_request` and send on this endpoint, but receives directly on the worker and received messages can be mapped to this particular endpoint via `reply_ep`;
- Client:
  - Create endpoint to listener usin

[2021-10-01 14:27] brminich commented on #6721
in the second case, is it server who always use eager or client? or both?

[2021-10-01 14:29] pentschev commented on #6721
Both of them always use eager in that case.

[2021-10-01 14:40] brminich commented on #6721
can you please collect traces with debug UCX version and UCX_LOG_LEVEL=data and share it somehow?

[2021-10-01 14:49] pentschev commented on #6721
Sure @brminich , I was doing exactly that when you typed. You'll find both traces in
[am_logs.tar.gz](https://github.com/openucx/ucx/files/7268052/am_logs.tar.gz). Sorry I had to compress the file, one of them was too large for GH.

[2021-10-01 15:10] brminich commented on #6721
The problem is that rndv protocol is completely disabled when error handling is requested, but connection is not established in cm mode.
@evgeny-leksikov, are we going to get rid of this limitation?
https://github.com/openucx/ucx/blob/master/src/ucp/core/ucp_ep.c#L2862

[2021-10-01 16:18] lfmeadow commented on #7462
I consider this issue closed, though I'm curious why we aren't getting better inter-socket P2P BW.

[2021-10-01 16:18] #7462 closed

[2021-10-03 10:21] yosefe opened #7490 "dummy QP Leak in rdmacm"
https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=27266&view=logs&j=fe065d53-24bf-55d6-97e1-9993908ec8ed&t=114a1b43-c954-5d07-f25a-fbdb5ef7ffa0
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/27266/logs/481

Could be because of missing locks (UCS_ASYNC_BLOCK) in several places in rdmacm , for example:

* `UCS_CLASS_INIT_FUNC(uct_rdmacm_cm_ep_t`
*

[2021-10-03 18:30] yosefe commented on #7026
@dmitrygx how `UCX_MAX_RNDV_RAILS=1` helps resolve IB issue? Is it IB on the same node so cuda-ipc was also used?

[2021-10-03 19:22] dmitrygx commented on #7026
@yosefe `UCX_MAX_RNDV_RAILS=1` helps to resolve another issue - selecting closest NIC to GPU.
here is another problem - cuda-ipc wasn't selected, since cuda-ipc doesn't have `UCT_MD_FLAG_INVALIDATE=1`

[2021-10-03 19:27] yosefe commented on #7026
Do you know why "IB Bandwidth before PR 6854" was good then? Was it run with this variable?

Yep, this is a missing support in cuda-ipc

[2021-10-03 19:45] dmitrygx commented on #7026
Interesting, I don't know the reason...
it will be useful to check with @pentschev by adding `UCX_LOG_LEVEL=info` - it should show the selected configuration

[2021-10-04 07:43] evgeny-leksikov commented on #6721
@brminich sure, we have to add "keep alive" check to this condition

[2021-10-04 07:48] yosefe commented on #6721
@evgeny-leksikov @dmitrygx  isn't this "indirect id" condition which causes UCP EP to go over outstanding requests and purge them during ep close?

[2021-10-04 07:59] evgeny-leksikov commented on #6721
IIRC, we disable RNDV in case of err handling mode peer to make all requests completed in finite time. On other hand, if err is detected, user can close the failed EP and all outstanding requests will be completed during EP close. IMO this behavior is not well defined/documented.

[2021-10-04 08:03] zabara123 opened #7495 "What's the meaning of lane ? Is there any docs can help me understand it ?"
Hello, ucx team:

I have referenced 'VERBS_RDMA_Aware_Programming_user_manual.pdf' and 'ucx-v1.10.pdf', but I still don't understand what does lane[x] mean.
What's the relationship between lane and ep ?  lane and worker ? lane and md ?

![image](https://user-images.githubusercontent.com/91873501/135814652-b5953558-1779-457e-bb45-7266dcf15de4.png)

[2021-10-04 08:09] #7422 closed

[2021-10-04 08:11] zabara123 opened #7496 "By defaultly, in what situations does ucx use all devices and what situations not ?"
As I known,  CM_USE_ALL_DEVICES=n can diable ucx use all devices.

I also find that when CM_USE_ALL_DEVICES=y, ther are some situations ucx use all devices and some others not.

I want to know details of this rule,  when CM_USE_ALL_DEVICES=y, in what situations does ucx use all devices and what situations not ?

[2021-10-04 08:12] yosefe commented on #7495
ucp endpoint contains one or more lanes . each lane is a uct endpoint owned by this ucp endpoint.
a uct endpoint is just one transport/device, but ucp endpoint can use multiple transports and devices.

[2021-10-04 08:25] zabara123 commented on #7495
Thanks very much.

[2021-10-04 08:25] #7495 closed

[2021-10-04 09:04] dmitrygx commented on #7496
`UCX_CM_USE_ALL_DEVICES=y` selects not only device on which IP address specified for the connection is bound in case of CM, but also other devices. But not all devices could be selected, since:
- they may have low bw/latency characteristics
- only 2 devices are selected for rendezvous by default even if all devices are the same

Could you pls post the output of `ucx_info -eptw -u t` and `ucx_info

[2021-10-04 10:34] h2cw2l commented on #7496
Is this mean, if I use tag_send, it will use mlx5_0 and mlx5_4 ?

[2021-10-04 10:34] dmitrygx opened #7499 "dc_mlx5/test_uct_peer_failure_keepalive.killed/0 failed on swx-rdmz-ucx-arm-hwi"
[code]
https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=27453&view=logs&j=a8ad21f3-bb3c-54eb-5b05-b96f3d2cc414&t=b1c0c7ae-0a18-5a1b-2951-7424deacbc90
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/27453/logs/325

[2021-10-04 10:36] h2cw2l commented on #7496
[root@A03-R05-I58-35-3F004YJ ~]# ucx_info -eptw -u t
...
# UCP endpoint
#
#               peer: <no debug data>
#                 lane[0]:  2:self/memory0.0 md[2]          -> md[2]/self/sysdev[255] am am_bw#0
#                 lane[1]: 15:cma/memory.0 md[6]            -> md[6]/cma/sysdev[255] rma_bw#0
#                 lane[2]:  6:rc_mlx5/mlx5_0:1.0 md[4]      -> md[4]/ib/sysdev[255] rma_bw#1 wire

[2021-10-04 10:42] h2cw2l commented on #7496
my machine:

[code]

[code]

[2021-10-04 19:15] pentschev commented on #7026
Indeed, setting `UCX_MAX_RNDV_RAILS=1` resolves to IB performance issue in that case. However, I found out that the issue with IB when I we don't set `UCX_MAX_RNDV_RAILS` went away with the merging of #7390 . Finally, as I mentioned in the description the performance impact affected _IB and CUDA IPC both_, and the CUDA IPC issue remains, it's still limited to now just over 10GB/s (meaning it's act

[2021-10-04 19:22] dmitrygx commented on #7026
@pentschev thanks for the information!

[2021-10-07 12:17] goduck777 commented on #7316
I just tried the latest release version (1.11.2) and found that the problem still exist.

In fact it becomes worse. In previous version (1.11.0), the code can run if I just comment out the ucs_fatal part in wireup.c. In the new version, the code just freezes when running MPI_Intercomm_merge.

[2021-10-07 19:07] pentschev commented on #7465
@Akshay-Venkatesh I've been running nightly tests on that branch for a few days now, last night's test results in: https://github.com/pentschev/ucx-py-ci/issues/321 . The only strange issue is that `UCX_MEMTYPE_CACHE=n` is failing, we read that with `ucp_config_read`, was it moved out of UCP?

[2021-10-07 19:26] raffenet commented on #7442
Any comment on this? @sudheer9 is testing out MPICH on AMD GPU systems here are at ANL.

[2021-10-07 19:36] Akshay-Venkatesh commented on #7465
Yes UCX_MEMTYPE_CACHE now belongs to UCS global options.

[2021-10-07 20:59] pentschev opened #7512 "Update latest docs to 1.11"
### Describe the bug
Docs in https://openucx.github.io/ucx/api/latest/html/index.html are pointing to 1.10, but latest should be 1.11.

[2021-10-07 23:17] Akshay-Venkatesh opened #7513 "GTEST/IB: MD_INVALIDATE support may not be present with IB_REG_METHODS=direct"
[code]
cc @yosefe @hoopoepg

Looking at IB rcache ops, it seems refcounting is missing for direct dereg. cuda transport also needs something similar to IB direct dereg.

[2021-10-08 09:52] loveshack opened #7518 "configuring --without-mlx5-dv fails"
### Describe the bug

If you lack the necessary support, and configure with
--without-mlx5-dv (which Spack does by default), the build fails with

[code]

Just omitting the option works.

I haven't tried to debug configure.

### Steps to Reproduce

[code]
With UCX 1.11.2

### Setup and versions

RHEL 8 with
[code]

[2021-10-08 10:17] pentschev opened #7519 "ucp_config_modify doesn't return UCS_ERR_NO_ELEM anymore"
### Describe the bug
After the UCT caching changes in `ucp_config_modify` from https://github.com/openucx/ucx/pull/7019, it's not possible anymore to check whether a wrong/mistyped option was set. In UCX-Py we use `UCS_ERR_NO_ELEM` return status to identify a wrong user-specified option, but now all we get is a warning that doesn't really reflect the actual issue:

[code]

### Steps to Reproduce
-

[2021-10-13 11:44] avildema opened #7536 "[mtt] Fail in gtest"
Configuration
[code]
 
MTT log:
http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/anatolyv/scratch/ucx_ompi/20211013_122257_180728_75792_jazz26.swx.labs.mlnx/gtest/1634117230-498089076/

http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/anatolyv/scratch/ucx_ompi/20211013_122257_180728_75792_jazz26.swx.labs.mlnx/gtest/1634117230-498089076/3.log
 
Cmd:
`cd /hpc/mtr_scrap/users/anatolyv/scratch/ucx_ompi/2021

[2021-10-14 06:13] avildema opened #7538 "[mtt] Fail in one-sided/osu_put_bibw on UCX + UCC + OMPI5x + CUDA"
Configuration
[code]
 
MTT log:
http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/anatolyv/scratch/ucc/20211013_193107_15542_75841_vulcan02.swx.labs.mlnx/html/test_stdout_Q2QozI.txt

build:
[code]

Cmd:
`/hpc/mtr_scrap/users/anatolyv/scratch/ucc/20211013_193107_15542_75841_vulcan02.swx.labs.mlnx/ompi_src/install/bin/mpirun -np 2 --display map --mca coll_ucc_enable 1 --mca coll_ucc_priority 100 --map-b

[2021-10-14 13:49] sudheer9 commented on #7442
@bureddy thanks, it looks that fixes the issue.
##### the default run
# OSU MPI-ROCM Latency Test v5.8
# Send Buffer on DEVICE (D) and Receive Buffer on HOST (H)
# Size          Latency (us)
0                       1.66
1                       2.53
2                       2.52
4                       2.52
8                       2.52
16                      2.53
32                      2.60
64

[2021-10-14 16:26] phil-blain commented on #5611
Hi, just a small datapoint, but I  have a different behaviour than @mathomp4  gets:
[code]

Just like @mathomp4, I get *both* backtraces, with either of
- `mpirun ...`
-  `UCX_HANDLE_ERRORS=none mpirun ...`
-  `mpirun -genv UCX_HANDLE_ERRORS none ...`.

But, the GNU backtrace does have subroutine and file information:
[code]

[2021-10-14 16:57] phil-blain commented on #5611
With `UCX_HANDLE_ERRORS="" mpirun ...` or `mpirun -genv UCX_HANDLE_ERRORS "" ....`, I confirm I get only the Intel traceback.

I have to say I think prefer the GNU traceback now since I get the full subroutine name and the full path to the source file, with `:line` syntax :P

Any idea why I would get this info in the GNU traceback but not @mathomp4 ? One thing I notice is that my glibc is more rec

[2021-10-15 20:37] phil-blain commented on #5611
Yes, I understand that now. In fact, I had a look at the code, and I understand that the traceback generated by UCX will have detailed information (line number, source file, function name) only if `HAVE_DETAILED_BACKTRACE` is defined at compilation. This is set by autoconf based on availability of symbols found in package `binutils-devel`, from what I could grasp.

I checked that my version of UCX

[2021-10-16 12:56] yosefe commented on #5611
At the time, the error handler in UCX did not save and call the previously installed error handler (such as the one from Fortran runtime library)

[2021-10-16 13:22] yosefe commented on #7512
@pentschev should be fixed now

[2021-10-16 19:43] pentschev commented on #7512
I can confirm, thanks for fixing this @yosefe !

[2021-10-16 19:43] #7512 closed

[2021-10-18 08:23] yosefe commented on #7538
@janjust WDYT, can it be issue in OMPI (osc/ucx) ?

[2021-10-18 08:31] Honggang-LI opened #7547 "ucx_perftest always segfault with loopback connection"
### Describe the bug
[code]

### Steps to Reproduce
- Command line
- UCX version used (from github branch XX or release YY) + UCX configure flags (can be checked by `ucx_info -v`)
[code]
- **Any UCX environment variables used**
[code]

### Setup and versions
- OS version (e.g Linux distro) + CPU architecture (x86_64/aarch64/ppc64le/...)
   - `cat /etc/issue` or `cat /etc/redhat-release` + `uname -

[2021-10-18 18:37] brminich commented on #5678
closing as not reproducible. @avildema, please reopen if happens again

[2021-10-18 18:37] #5678 closed

[2021-10-19 20:29] yosefe opened #7558 "failure in ud/test_ucp_sockaddr.ep_query/7"
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/28902/logs/371
[code]

[2021-10-20 07:11] avildema opened #7559 "[MTT] lost backward compatibility for DCI_FULL_HANDSHAKE variables"
http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/shmem/20211019_030416_3622_77365_hpc-polar-02-vm001/All_phase-summary.html

[code]

[2021-10-20 13:53] angainor opened #7564 "segfault with versions 1.10 +"
I have a particular code scenario, in which I started to see segfaults every time I run. Any UCX version above and including 1.10 crashes. If I use the same compiled binary, but load a 1.9 module instead, the library complains about an incompatible version, but the code runs fine.

I am not sure whether this is due to something in UCX. It could well be our fault, just did not show earlier. Just wa

[2021-10-20 16:38] angainor commented on #7564
@yosefe thanks! I will look at the object lifetime, as you suggest, as of course there could be bugs there.
This however does  seem too systematic for a random memory error. And I've never seen this on the older UCX version.
I know that doesn't prove anything :)

I recompiled with debugging, and got some more info. Plenty of those messages:
[code]
and one segfault:
[code]

[2021-10-20 17:24] yosefe commented on #7564
Do you still see the assertion `dc_mlx5_ep.h:370  Assertion `iface->tx.dcis[dci_index].pool_index < 8' failed` after this code change?
if yes, can you pls convert it to
[code]

[2021-10-20 18:03] angainor commented on #7564
@yosefe Here is a print out of
[code]
after the init loop in `uct_dc_mlx5_iface_create_dcis`. mostly you're right:
[code]
so all `pool_index` values are initialized to 0. But in some cases I get this:

[code]

[2021-10-20 18:38] angainor commented on #7564
@yosefe I moved it before the `ifdef` (not sure, you do return a few times in the inactive code path, so I decided to initialize before those `return` statements)

[code]
and my code went through! So I guess that's it. Thanks for the help!

btw. I would really like to upgrade to a newer MOFED, but our vendor is not cooperative. Seems we might be stuck for a while. Good to have a fix!

[2021-10-20 20:13] gleon99 commented on #7559
https://github.com/openucx/ucx/pull/7562

[2021-10-20 20:13] #7559 closed

[2021-10-22 07:53] #7564 closed, assigned to nobody

[2021-10-22 21:27] pentschev opened #7575 "`RDMA_READ` errors without `UCX_MEMTYPE_CACHE=n`"
### Describe the bug
After whole alloc and memtype_cache changes from https://github.com/openucx/ucx/pull/7128 , we should now not need to set `UCX_MEMTYPE_CACHE=n` anymore. In most cases that works fine, but for some Dask workflows we see RDMA_READ errors such as bellow when we don't set any `UCX_MEMTYPE_CACHE`.

[code]

### Steps to Reproduce
- Simplest way to reproduce is run Dask cuDF benchmar

[2021-10-27 09:36] angainor opened #7586 "Transport retry count exceeded with UCX 1.9+"
We've been struggling with random `Transport retry count` errors for a while now, but today I've found what could be a reproducible case for us. A specific user code is able to reliably trigger this:
[code]
on our AMD-based BullSequana system with MT28908 ConnectX-6.

The error pops up around 15 minutes into a 128-node run. What's interesting is, it managed to get through the run with UCX 1.8. Any

[2021-10-28 08:29] avildema opened #7594 "[MTT][ucx-hwtm][mpich_tests_mpi_coll] Fail test"
Configuration
[code]
 
MTT log:
http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20211027_154031_73142_78539_jazz06.swx.labs.mlnx/html/test_stdout_uWBdfB.txt

Cmd:
`/hpc/local/benchmarks/daily/next/2021-10-27/hpcx-gcc-redhat7.6/ompi/bin/mpirun -np 168 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV,SI

[2021-10-28 08:43] avildema opened #7595 "[mtt][ucx-emulation] Fail test mpp_pingpong"
Configuration
[code]
 
MTT log:
http://hpcweb.lab.mtl.com/hpc/mtl_scrap/users/mtt/scratch/shmem/20211026_233453_64762_78449_hpc-arm-hp01/html/test_stdout_Rq3WIW.txt

Cmd:
`/hpc/local/benchmarks/daily/next/2021-10-26/hpcx-gcc-redhat7.6/ompi/bin/oshrun -np 224 --display-map --bind-to hwthread -mca oshmem_proc_group_cache_size 10000 -mca sshmem ucx -mca atomic ucx -x UCX_DC_MLX5_DCI_FULL_HANDSHAKE=of

[2021-10-28 10:28] #7586 closed, assigned to nobody

[2021-10-28 12:59] avildema opened #7596 "[mtt][ucx-hwtm][imb] Test hung"
Configuration
[code]
 
MTT log:
http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20211028_000104_76589_78596_jazz13.swx.labs.mlnx/html/test_stdout_W2aefH.txt

Cmd:
`/hpc/local/benchmarks/daily/next/2021-10-27/hpcx-gcc-redhat7.6/ompi/bin/mpirun -np 112 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV,SI

[2021-10-29 15:54] abellina opened #7599 "UCX 1.11.2 is not working between two AWS EC2 instances over TCP"
This can be easily reproduced by creating 2 EC2 instances in AWS and making sure that the security group allows the eth0 ip address in both.

The key seems to be that on a machine with both loopback and a NIC (lo and eth0) and if both interfaces are allowed, UCX is able to establish a connection between the NICs according to the DATA logs, but then it tries to connect eth0 -> lo. This second attem

[2021-10-30 08:21] #7599 closed

[2021-10-30 11:46] yosefe commented on #7536
@avildema can you please update on reason for failure (2) ?

[2021-10-30 11:48] yosefe commented on #6727
closing the issue since it cannot be reproduced

[2021-10-30 11:48] #6727 closed

[2021-10-31 13:58] yosefe commented on #7519
How about:
"[1633640648.678052] [dgx13:79435:0]      ucp_worker.c:1972 UCX  WARN  Invalid configuration: UNKOWN_OPTION=VALUE"

[2021-10-31 16:20] yosefe commented on #6808
seems similar to #7595

[2021-10-31 16:21] yosefe commented on #6499
Seems similar to https://redmine.mellanox.com/issues/2836524 (Internal link)

[2021-10-31 17:40] pentschev commented on #7519
That's a better error message. Would be also useful if there's a UCP API we can use to validate whether a configuration option is valid, is there something like that we could use today?

[2021-11-01 02:47] changchengx commented on #7519
@pentschev
Currently, there's no such API. As being said by Yossi, ```it's not possible to validate the values during ucp_config_modify() because it happens before UCT transports are loaded```.
For the ```reword the above warning message```, it's WIP: https://github.com/openucx/ucx/pull/7605

[2021-11-01 07:09] avildema commented on #7536
@yosefe
http://hpcweb.lab.mtl.com//hpc/mtr_scrap/users/anatolyv/scratch/ucx_ompi/20211019_130638_70129_77507_jazz03.swx.labs.mlnx/gtest/1634638197-441831575/1.log
test passed

[ RUN      ] test_config.test_config_file_parse_files <> <>
[       OK ] test_config.test_config_file_parse_files (2 ms)

[2021-11-01 07:47] yosefe commented on #7536
@avildema so can we close this issue?

[2021-11-01 08:01] avildema commented on #7536
may be yes
but currently gtest fails in mtt with:

http://hpcweb.lab.mtl.com//hpc/mtr_scrap/users/anatolyv/scratch/ucx_ompi/20211019_130638_70129_77507_jazz03.swx.labs.mlnx/gtest/1634638197-441831575/1.log

[code]

mofed problem?

[2021-11-01 08:10] yosefe commented on #7536
This could be the IB subnet prefix issue

[2021-11-01 08:25] avildema commented on #7536
right, because mofed issue
can close

[2021-11-01 09:49] avildema opened #7607 "Fail gtest on GPU docker"
### Describe the bug
Fail udx/test_ucp_sockaddr_protocols.tag_zcopy_64k_unexp/0 test

[code]

### Steps to Reproduce
- launch docker centos7-mofed5.4-cuda11 on swx-rdmz-gpu-01
[code]
- launch gtest
[code]

[2021-11-01 12:42] pentschev commented on #7519
Can we use the output from `ucp_config_print` to validate those options that exist? Or is there some situation where existing options do not show up there?

[2021-11-01 12:44] changchengx commented on #7519
@pentschev  As being said by Yossi ```it's not possible to validate the values during ucp_config_modify() because it happens before UCT transports are loaded```

[2021-11-01 12:52] changchengx commented on #7519
To validate configurations in ```ucp_config_print```, it also requires to load UCT transports.

[2021-11-01 12:53] pentschev commented on #7519
@changchengx Can you explain how we're supposed to interpret the output of `ucp_config_print` then? We have it implemented in UCX-Py that we parse its output to show the current UCP configurations, for example:

[code]

If an option isn't there, for example `[UCX_]UNKNOWN_OPTION`, can we assume it's an invalid UCP option?

[2021-11-01 13:06] changchengx commented on #7519
@pentschev I didn't understand the question well. Could you explain the question with more information?

[2021-11-01 13:18] pentschev commented on #7519
Assume I'm only interested at UCP configurations at this point. When calling `ucp_config_print` it should print some UCP configurations. For example, because `UCX_TLS` is a valid UCP configuration it's printed there, and therefore I know `UCX_TLS` is a valid configuration option for UCP. However, if I'm trying to figure our whether some arbitrary option, say `UCX_UNKNOWN_OPTION`, can I assume it i

[2021-11-01 13:22] pentschev commented on #7519
Or to put it more simply: will `ucp_config_print` _ ALWAYS_ print _ALL_ existing _UCP_ configs, or are there situations where even UCP configs will be omitted from it?

[2021-11-01 13:23] yosefe commented on #7519
ucp_config_print will always print all supported UCP configs

[2021-11-01 13:24] pentschev commented on #7519
I understand now, thanks both for help understanding!

[2021-11-02 06:55] oleotiger opened #7613 "ib_device.c:475 UCX WARN IB Async event on mlx5_0: GID table change on port 1"
### Describe the bug
When I run benchmark osu compiled with hpcx, I got warnings:
`[1635835013.823013] [node181:6471 :async]       ib_device.c:475  UCX  WARN  IB Async event on mlx5_0: GID table change on port 1`

But if I run osu compiled with openmpi, it works well. No warning message is printed. I

I have find the issue 1845. Someone said it's not a bug.  Why there is warning message with hpc-x

[2021-11-02 14:22] #3192 closed

[2021-11-02 15:33] shamisp opened #7617 "Gtest failure on master"
### Describe the bug
gtest fails on our setup
[code]

### Steps to Reproduce
-  ```make -C test/gtest/ test GTEST_FILTER=*test_ucp_wireup_asymmetric.different_ppn_connect*```
-  master 2bd17dee4f1fe0e37a2a1e5905db4e6afba89d5a

### Setup and versions
- Ubuntu 20.04.3 LTS
- Linux n2rd 5.4.0-cmnwc+  (custom kernel)
- MLNX_OFED_LINUX-5.4-1.0.3.0 (OFED-5.4-1.0.3)

### Additional information (depending

[2021-11-02 15:41] yosefe commented on #7617
are there different IB fabrics with same subnet_prefix?

[2021-11-02 15:42] shamisp commented on #7617
Yes. Is the test trying to match based on subnet prefix ?

[2021-11-02 18:13] jchensw opened #7618 "compiling error"
make install
Making install in src/ucm
make[1]: Entering directory '/home/jinchen/TEST/ucx-1.11.2/src/ucm'
Making install in .
make[2]: Entering directory '/home/jinchen/TEST/ucx-1.11.2/src/ucm'
  CC       event/libucm_la-event.lo
  CC       malloc/libucm_la-malloc_hook.lo
  CC       mmap/libucm_la-install.lo
  CC       util/libucm_la-replace.lo
  CC       util/libucm_la-log.lo
  CC       util/lib

[2021-11-02 19:37] jchensw commented on #7618
would you please take a look and give me a hint to fix it?''

Thanks,

-- Jin

[2021-11-02 19:54] dmitrygx commented on #7618
@jchensw this is a compilation problem in UCM/PPC64-related code.
could you verify if #7619 PR fixes the issue, please?

[2021-11-02 21:02] jchensw commented on #7618
@dmitrygx Thanks. it's fixed. But now I'm getting the following errors. Do you have any idea?

make[2]: Entering directory '/home/jinchen/TEST/ucx-1.11.2/src/tools/info'
  CC       ucx_info-build_info.o
  CC       ucx_info-proto_info.o
  CC       ucx_info-sys_info.o
  CC       ucx_info-tl_info.o
  CC       ucx_info-type_info.o
  CC       ucx_info-ucx_info.o
  CCLD     ucx_info
ucx_info-proto_info.

[2021-11-02 21:29] dmitrygx commented on #7618
thanks!
it seems that you're compiling UCX without glibc, right? do you use another C library - e.g. musl?
could you pool the latest changes from the PR and check if they help you?

[2021-11-02 21:49] jchensw commented on #7618
I'm not using gnu c library. If I do want to use it, how to specify it on the configuration step? Thanks.

[2021-11-02 22:15] dmitrygx commented on #7618
@jchensw e.g. specify CC=gcc when launching configure.

btw, did you check the PR without glibc?

[2021-11-02 22:18] jchensw commented on #7618
Not yet. I will do it right now.

[2021-11-03 13:48] jchensw commented on #7618
@dmitrygx It could not fix the issue. Maybe I missed something here. Would you please give me more specific suggestions? Thanks.

[2021-11-03 13:51] dmitrygx commented on #7618
did you run `./autgen.sh && ./configure` prior to compiling the UCX when the changes from the PR were taken?

[2021-11-03 14:00] jchensw commented on #7618
I checked out the master branch, and did

   993	18:24	./autogen.sh
   994	18:24	./contrib/configure-release --prefix=`pwd`/build/test
  1013	9:40	make -j8 install

[2021-11-03 14:03] dmitrygx commented on #7618
do you mean that you checked out changes from https://github.com/openucx/ucx/pull/7619 instead of the master branch?

[2021-11-03 14:05] dmitrygx commented on #7618
[code]

[2021-11-03 14:26] jchensw commented on #7618
I did followed #7619, but the error is still there. So I followed your instruction one more time to be sure. And I'm still getting them

make  install-am
make[2]: Entering directory '/TEST/ucx/src/tools/info'
  CC       ucx_info-build_info.o
  CC       ucx_info-proto_info.o
  CC       ucx_info-sys_info.o
  CC       ucx_info-tl_info.o
  CC       ucx_info-type_info.o
  CC       ucx_info-ucx_info.o

[2021-11-03 14:27] jchensw commented on #7618
~/TEST/ucx$git branch
* (HEAD detached at dmitrygx/topic/ucm/bistro_ppc_fix)
  master

[2021-11-03 14:51] jchensw commented on #7618
We have /usr/lib64/libc.so.6

But I'm not using gcc compiler. Then how do I let ucx know and use libc? Is there a way to specify at configuration?

Thanks,

[2021-11-03 14:57] jchensw commented on #7618
Here is what I have

nm /usr/lib64/libc.a | grep -i ppc_get_timebase
0000000000000000 W __ppc_get_timebase_freq

[2021-11-03 17:29] yosefe commented on #7618
@jchensw can you pls re-run ./autogen.sh after applying the changes in #7619 ?

[2021-11-03 17:36] jchensw commented on #7618
I did and here is what I got:

~/TEST/ucx$./autogen.sh
autoreconf: Entering directory `.'
autoreconf: configure.ac: not using Gettext
autoreconf: running: aclocal -I config/m4
autoreconf: configure.ac: tracing
autoreconf: running: libtoolize --copy
autoreconf: running: /usr/bin/autoconf
autoreconf: running: /usr/bin/autoheader
autoreconf: running: automake --add-missing --copy --no-force
autorecon

[2021-11-03 17:40] dmitrygx commented on #7618
@jchensw could you pls share the output of the following command launched from UCX root directory:
[code]

[2021-11-03 17:43] wlepera commented on #7618
I just completed two successful builds on Power9 ppc64le, first using `dmitrygx/topic/ucm/bistro_ppc_fix` and again using `master`.  Not seeing these problems in either build

[2021-11-03 17:44] jchensw commented on #7618
ls -ltr config.h
-rw-r--r--. 1 jinchen pppl 32449 Nov  3 10:21 config.h
~/TEST/ucx$grep "HAVE_DECL___PCC" ./config.h

[2021-11-03 17:49] dmitrygx commented on #7618
hmm, interesting.
it should be:
[code]

[2021-11-03 17:51] dmitrygx commented on #7618
@jchensw sorry, I made a mistake, it should be "HAVE_DECL___PPC" instead of "HAVE_DECL___PCC":
[code]

[2021-11-03 17:53] jchensw commented on #7618
~/TEST/ucx$grep "HAVE_DECL___PPC" ./config.h
#define HAVE_DECL___PPC_GET_TIMEBASE 1
#define HAVE_DECL___PPC_GET_TIMEBASE_FREQ 1

[2021-11-03 17:58] yosefe commented on #7618
@jchensw can you pls the output of lscpu command on your machine?
@dmitrygx I think the issue is we check for decl but not the function (use AC_CHECK_FUNCS)

[2021-11-03 18:01] jchensw commented on #7618
~/TEST/ucx$which lscpu
/usr/bin/lscpu
~/TEST/ucx$ lscpu
Architecture:        ppc64le
Byte Order:          Little Endian
CPU(s):              128
On-line CPU(s) list: 0-127
Thread(s) per core:  4
Core(s) per socket:  16
Socket(s):           2
NUMA node(s):        6
Model:               2.3 (pvr 004e 1203)
Model name:          POWER9, altivec supported
CPU max MHz:         3800.0000
CPU min MHz:

[2021-11-03 18:02] dmitrygx commented on #7618
yes, it sounds like a good suggestion

[2021-11-03 18:15] dmitrygx commented on #7618
@jchensw could you pls pull the latest changes from the #7619 PR and check the compilation?
also, could share the output of the following command, pls:
[code]

[2021-11-03 18:21] jchensw commented on #7618
~/TEST/ucx$ git fetch dmitrygx
From https://github.com/dmitrygx/ucx
   ac6bc9751..45d536797  topic/ucm/bistro_ppc_fix -> dmitrygx/topic/ucm/bistro_ppc_fix

~/TEST/ucx$ git checkout dmitrygx/topic/ucm/bistro_ppc_fix
M	src/ucm/bistro/bistro_ppc64.c
Previous HEAD position was ac6bc9751 CONFIG/UCS/SYS: Check _ppc_get_timebase declaration
HEAD is now at 45d536797 CONFIG/UCS/ARCH: Check for __ppc_get_ti

[2021-11-03 18:22] dmitrygx commented on #7618
this should be checked after ./autogen && ./configure

[2021-11-03 18:30] jchensw commented on #7618
Here is what I have after ./autogen && ./configure

~/TEST/ucx$grep "HAVE___PPC" ./config.h
/* #undef HAVE___PPC_GET_TIMEBASE */
#define HAVE___PPC_GET_TIMEBASE_FREQ 1

[2021-11-03 18:47] wlepera commented on #7618
my env:
glibc-2.28-151.el8.ppc64le
libgcc-8.4.1-1.el8.ppc64le
gcc-8.4.1-1.el8.ppc64le
gcc-c++-8.4.1-1.el8.ppc64le

Architecture:        ppc64le
Byte Order:          Little Endian
CPU(s):              176
On-line CPU(s) list: 0-175
Thread(s) per core:  4
Core(s) per socket:  22
Socket(s):           2
NUMA node(s):        8
Model:               2.3 (pvr 004e 1203)
Model name:          POWER9, altive

[2021-11-03 18:53] jchensw commented on #7618
I'm using nvhpc compiler, not gcc compiler, but we do have glibc.

[2021-11-03 19:07] dmitrygx commented on #7618
thanks for the additional information.

@jchensw could you pull the latest changes from my PR and try "./autogen && ./configure && make" again?
thanks in advance!

[2021-11-03 19:47] wlepera commented on #7618
@jchensw which nvhpc version are you using?

[2021-11-03 21:40] jchensw commented on #7618
Sorry for the late response.

The errors are still there :

  1028	17:25	git fetch dmitrygx
remote: Enumerating objects: 288, done.
remote: Counting objects: 100% (146/146), done.
remote: Compressing objects: 100% (35/35), done.
remote: Total 83 (delta 55), reused 63 (delta 41), pack-reused 0
Unpacking objects: 100% (83/83), 11.64 KiB | 170.00 KiB/s, done.
From https://github.com/dmitrygx/ucx
   4

[2021-11-03 21:51] jchensw commented on #7618
I'm using

 1) nvhpc/21.5   2) cudatoolkit/11.4   3) cmake/3.19.7

[2021-11-03 22:30] dmitrygx commented on #7618
@jchensw could you try the latest state of the PR, pls?

[2021-11-03 22:54] jchensw commented on #7618
I did a fresh start:
  1066	18:40	git clone https://github.com/openucx/ucx.git
  1067	18:40	cd ucx
  1071	18:40	git remote add dmitrygx https://github.com/dmitrygx/ucx.git
  1072	18:40	git fetch dmitrygx
  1074	18:40	git checkout dmitrygx/topic/ucm/bistro_ppc_fix
  1076	18:41	./autogen.sh
  1078	18:49	./contrib/configure-release --prefix=`pwd`/build/test
  1080	18:51	make -j8 install

and I'm stil

[2021-11-03 22:56] jchensw commented on #7618
Should I try #7620?

[2021-11-04 12:29] pentschev commented on #7519
This has been addressed in https://github.com/openucx/ucx/issues/7519 and https://github.com/rapidsai/ucx-py/pull/804 . Thanks @yosefe and @changchengx for the help here. Closing.

[2021-11-04 12:29] #7519 closed

[2021-11-04 12:30] pentschev commented on #7026
This is now resolved by https://github.com/openucx/ucx/pull/7522 . Thanks @Akshay-Venkatesh , @dmitrygx and @yosefe for helping with this!

[2021-11-04 12:30] #7026 closed

[2021-11-04 15:18] dmitrygx commented on #7618
@jchensw we got an answer from nvc++ compiler folks that it doesn't fully support some built-ins, especially on PPC.
can you pls use gcc/clang instead?

[2021-11-04 15:22] wlepera commented on #7618
fyi, this is my build config (from the tail of the configure output):
[code]

[2021-11-04 15:39] pentschev commented on #7575
I confirmed with @yosefe offline that leaving `UCX_MEMTYPE_CACHE=n` set for the 1.12 release is ok, we only need to reorder the variable setting, which is being addressed in https://github.com/rapidsai/ucx-py/pull/807 . This issue can then be moved to the 1.13 milestone.

[2021-11-04 15:47] jchensw commented on #7618
Thanks. gcc works.

[2021-11-04 15:53] dmitrygx commented on #7618
thanks for confirming it.

[2021-11-04 23:25] #7618 closed

[2021-11-05 07:02] brminich opened #7624 "failure in mem_type/test_memtype_cache.update_non_contig_regions_and_remove_subintervals/2"
happened on swx-rdmz-ucx-gpu-01
### Describe the bug
[code]

[2021-11-06 06:16] #7151 closed

[2021-11-06 07:25] zhmlcg opened #7627 "./autogen.sh errors "Can't locate Autom4te/ChannelDefs.pm in @INC""
### Describe the bug
When I run `./autogen.sh`, it errors:

I'm not a root user. Can I install `ucx` in my user space? In the past, I can run `./configure` directly, but now this file is removed and I am forced to run `./autogen.sh`. But it can do nothing but error. Is there a single-line (less than 10 lines is also ok) command that I can run to make `./autogen.sh` happy and working?

PS, what is

[2021-11-06 10:09] #7536 closed

[2021-11-06 10:13] yosefe commented on #7627
1. There is probably an issue with autotools installation so that ./autogen.sh does not work on that system
2. UCX source .tar.gz always contains `./configure `, for example : https://github.com/openucx/ucx/releases/download/v1.11.2/ucx-1.11.2.tar.gz

[2021-11-06 10:19] zhmlcg commented on #7627
I got it. Thank you, yosefe.

[2021-11-07 09:29] yosefe commented on #7627
@zhmlcg ok to close the issue?

[2021-11-07 09:30] yosefe commented on #7617
@shamisp ok to close the issue?

[2021-11-07 09:33] yosefe commented on #7613
@oleotiger if there is a change in the IP configuration of the RoCE network device, it may be causing a GID_CHANGE event.
Some changes may cause running applications using UCX to stop working, in case the IP/GID it was using is affected.

[2021-11-07 15:22] #7617 closed

[2021-11-07 15:27] zhmlcg commented on #7627
ok.

[2021-11-07 15:35] #7627 closed

[2021-11-07 20:55] #7062 closed

[2021-11-08 12:13] oleotiger commented on #7613
I'm sure that during the running of the application there is no change of IP configuration of the RoCE netowrk device.
May there be any other reasons that cause UCX to print the warning?

[2021-11-08 12:24] yosefe commented on #7613
can you try to capture dmesg log from the time period the UCX application was running?

[2021-11-08 22:03] BKitor opened #7635 "UCX error in cudaEventRecord, and in rndv.c"
### Describe the bug
I'm trying to run an MPI application called Horovod with UCX and UCC, but it's crashing at runtime within UCX. I was hoping to get some pointers on debugging it.

I'm getting a ucx error
`[1636407160.851549] [ng30802:671180:0]    cuda_copy_ep.c:82   UCX  ERROR cudaEventRecord(cuda_event->event, iface->stream[id])() failed: invalid resource handle`
But it's also failing on an a

[2021-11-09 07:36] avildema opened #7636 "[mtt][ucx-hwtm][mpich_tests_mpi_pt2pt] Hung many_isend test"
Configuration
[code]
 
MTT log:
http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20211108_202535_190904_80562_jazz17.swx.labs.mlnx/html/test_stdout_dvtMAT.txt

Cmd:
`/hpc/local/benchmarks/daily/next/2021-10-29/hpcx-gcc-redhat7/ompi/bin/mpirun -np 112 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV,SIG

[2021-11-09 13:19] eisenhauer commented on #7340
A little bit more information about this problem, which I am also encountering.

First, the root of the issue seems to be the failure of dlsym(RTDL_NEXT, symbol) in ucs_debug_get_orig_func().  Rather than failing quietly and returning NULL, it is generating the "symbol lookup error:" output and calling exit().  It *looks* like that is because it's not the system dlsym(), but instead some wrapper f

[2021-11-09 17:29] bureddy commented on #7635
[code]
any reason why GPU Direct RDMA is not enabled on the setup?

[2021-11-09 18:20] BKitor commented on #7635
I don't have admin access to the cluster.
Is there some way I can load drivers in userspace?

[2021-11-10 06:41] oleotiger commented on #7613
Firstly I cleaned the dmesg log with `dmesg -C`.
Then I start the UCX application and warning `ib_device.c:482  UCX  WARN  IB Async event on mlx5_0: GID table change on port 1` was printed.

`dmesg -T` shows empty dmesg log.

[2021-11-10 08:27] yosefe commented on #7613
@jgunthorpe why could such event be generated without any network change?

[2021-11-10 12:43] jgunthorpe commented on #7613
Most likely there is a configuration change. For instance an IPv6 temporary privacy address roll over. Monitor for changes with iproute to confirm.

[2021-11-11 07:07] oleotiger commented on #7613
I don't think there is  IPv6 temporary privacy address roll over during UCX runing.

I disabled ipv6 with setting `net.ipv6.conf.all.disable_ipv6=1`. But warning didn't disappear.

[2021-11-11 07:59] yosefe commented on #7613
well, we can reduce the log level of these warnings to DIAG (hidden by default).

[2021-11-11 08:15] brminich commented on #7594
fixed by #7637

[2021-11-11 08:15] #7594 closed

[2021-11-11 08:59] #6547 closed

[2021-11-11 09:32] oleotiger commented on #7613
We can disable the log by setting log level. But I want to find the real reason that  cause ucx to print warnings. Any other ideas or ways that I can locate the problem?

[2021-11-11 09:45] yosefe commented on #7613
According to the previous comments, there is no obvious reason for these warnings.
Please open a case for Nvidia networking support.

[2021-11-11 12:15] dmitrygx commented on #7496
@zabara123 sorry, missed your reply.

it is determined by our internal selection logic which check performance characteristics of all devices and select most suitable for Eager/RNDV operations.
also, you could control how many Eager and RNDV rails should be created:
- `UCX_MAX_EAGER_LANES` (`1` is the default value)
- `UCX_MAX_RNDV_LANES` (`2` is the default value)

[2021-11-11 18:33] tonycurtis opened #7647 "Compile error during Go interface build"
### Describe the bug

Compile fails with unrecognized name from C FFI

### Steps to Reproduce

### Setup and versions

git master @ 68fa8ee661deafc826716a72be88d629e5f41f38

### Additional information (depending on the issue)

[code]

[2021-11-11 20:29] yosefe commented on #7596
fixed by #7604 7637

[2021-11-11 20:29] #7596 closed

[2021-11-12 06:38] oleotiger commented on #7613
Ok, I have opened a case in Mellonax community. This issue can be closed. Thank you for your reply.

[2021-11-12 06:47] brminich commented on #7636
fixed by #7637

[2021-11-12 06:47] #7636 closed

[2021-11-12 09:41] petro-rudenko commented on #7647
Can you please share what's the `./configure` params did you use?

[2021-11-12 12:12] brminich opened #7648 "failure in tcp/test_ucp_sockaddr.concurrent_disconnect/7 on swx-rdmz-ucx-new-02"
### Describe the bug
Happened here: https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/30728/logs/409

[code]

[2021-11-12 23:26] tonycurtis commented on #7647
[code]

[2021-11-12 23:30] BKitor commented on #7635
Got it working, but it's still kinda wonky.
UCX-1.11.2 is failing in MPI_Bcast (on GPU buffers I think), for both mca_coll_tuned mca_coll_ucc.
I can get my application to run if I: 1. Disable broadcast in UCC, 2. Disable pml_ucx in OMPI.

Here's a gist with my workaround:
https://gist.github.com/BKitor/04f18f8a075641c2d3a0409be975821a

[2021-11-12 23:30] #7635 closed

[2021-11-12 23:31] tonycurtis commented on #7647
Note this is a VPATH out-of-source-tree build, might be relevant

[2021-11-12 23:55] tonycurtis commented on #7647
If I do `make` in the build directory, I get this issue.  If I do `make install`, all is good

[2021-11-13 06:52] dmitrygx commented on #7648
happened here: http://hpc-master.lab.mtl.com:8080/job/ucx//15104/console

[2021-11-13 15:22] petro-rudenko commented on #7647
Can you please try with #7651

[2021-11-14 08:32] #7648 closed

[2021-11-14 08:32] #7647 closed

[2021-11-14 08:43] yosefe commented on #6437
not reproduced after 11292 iterations and ~11 hours on 3*jazz
test from https://github.com/open-mpi/ompi-tests/blob/master/intel_tests/src/MPI_Type_size_types_c.c
[code]

[2021-11-14 08:43] #6437 closed

[2021-11-14 10:18] yosefe commented on #6494
The issue cannot be reproduced (after ~1000 iterations) with :
[code]

[2021-11-14 10:18] #6494 closed

[2021-11-14 10:23] yosefe opened #7653 "atest iallgather wrong result"
- vulcan02
- HPC-X 2021-10-29
- ucx-master  1.12.0 (cc55acb)

[code]

* Also reproduced if replacing `UCX_NET_DEVICES=mlx5_0:1` by `UCX_TLS=mm`
* ~~Not reproduced when replaced `-mca pml ucx` by `-mca pml ob1 -mca btl self,vader`~~

[2021-11-14 13:14] dmitrygx commented on #7607
[code]

[2021-11-14 13:29] yosefe commented on #7653
The issue also reproduced without UCX:
[code]

[2021-11-14 14:43] dmitrygx commented on #7607
it could be fixed by using `send_recv()` infrastructure from #7639 and applying the following changes before `do_unexp_recv()`:
[code]

[2021-11-14 14:52] yosefe commented on #7607
@dmitrygx what is the reason for the failure?

[2021-11-14 15:52] dmitrygx commented on #7607
the reason is no IB devices available, so it tries to connect and send completed with `UCS_ERR_UNREACHABLE`.
so, we should add the same check as we have in other sockaddr tests:
https://github.com/openucx/ucx/blob/9b41ab63855fe3db4801dcc53b0d3718ac1a8580/test/gtest/ucp/test_ucp_sockaddr.cc#L354

[2021-11-15 05:18] changchengx commented on #1375
Solve build UCX/1.11.2 on CentOS6.10
https://gist.github.com/changchengx/f19c6de30b9a57d44edadf593f892122

[2021-11-15 06:41] evgeny-leksikov commented on #7607
this is related to infrastructure issues, lets stabilize the infra then fix gtest. skipping missed IB device will hide it.

[2021-11-16 11:08] dmitrygx commented on #7607
@avildema could you check why no IB devices are listed in the Docker container pls?
and we will provide a patch to skip the test in such cases.

[2021-11-16 12:18] bmb commented on #7613
Also seeing this issue on a fresh Centos Stream 8 host with same UCX version installed. Warnings are output to terminal only when an MPI application is running. Using system provided Open MPI 4.1.1. Another weird thing is that MPI is using `--mca btl self,vader`, so not even using the Mellanox device in this system

[2021-11-17 20:30] tonycurtis opened #7669 "Compile: error building go interface"
### Describe the bug

Compile fails with

[code]

### Setup and versions

ucx @ master ef9b1906d3598f67ba7cfb6e0894b3882e7e5db1

go version go1.13.3 linux/arm64 (from CentOS)

- OS version (e.g Linux distro) + CPU architecture (x86_64/aarch64/ppc64le/...)
   - `cat /etc/issue` or `cat /etc/redhat-release` + `uname -a`

[code]

[2021-11-18 07:27] vspetrov commented on #7391
@benmenadue is that possible to get reproducer? How many nodes are used in the run?

[2021-11-18 07:46] BenWibking commented on #7391
You should be able to reproduce this by running https://github.com/BenWibking/quokka/blob/development/scripts/shell-64nodes.pbs (without the flag to disable hcoll multicast, of course). This was a 64 node run, 4x GPUs per node.

[2021-11-18 08:00] vspetrov commented on #7391
is it possible to run the app on CPU? is it only reproduced when running on GPU?

[2021-11-18 08:02] BenWibking commented on #7391
It can be run on CPU as well. I haven't tried running at that scale on CPU. The crashes also appear to be somewhat nondeterministic.

[2021-11-18 09:19] yosefe opened #7670 "Port #7667 to v1.12.x"

[2021-11-18 12:23] petro-rudenko commented on #7670
But we didn’t port perf benchmark to 1.12

[2021-11-18 12:27] yosefe commented on #7670
right.

[2021-11-18 12:27] #7670 closed

[2021-11-19 03:48] opoplawski opened #7674 "mpi4py test segfaults in UCX - ucp_mem_unmap"
### Describe the bug
[code]

### Steps to Reproduce
This is on fedora rawhide with openmpi 4.1.2-0.1.rc1 and ucx-1.11.2-1 and building mpi4py 3.1.2

### Setup and versions
- OS version (e.g Linux distro) + CPU architecture (x86_64/aarch64/ppc64le/...)
   - `cat /etc/issue` or `cat /etc/redhat-release` + `uname -a`
[code]

### Additional information (depending on the issue)
[code]

valgrind doesn't

[2021-11-19 04:19] opoplawski commented on #7674
[code]

[2021-11-19 04:23] opoplawski commented on #7674
[ucx-trace.log](https://github.com/openucx/ucx/files/7567726/ucx-trace.log)
UCX_LOG_LEVEL=data output with current ucx git head.

[2021-11-19 08:21] yosefe commented on #7674
@opoplawski seems like the issue is in osc/ucx that is passing memh=NULL

[2021-11-19 15:17] opoplawski commented on #7674
That much is clear, what isn't clear to me is where that originates - ucx, openmpi, or the application code.

[2021-11-19 15:19] yosefe commented on #7674
i'd start with tracking how it becomes NULL in osc/ucx layer

[2021-11-19 21:06] dmitrygx opened #7680 "rdmacm dummy qp leak"
[code]
[rdmacm_failure_log.txt](https://github.com/openucx/ucx/files/7572917/rdmacm_failure_log.txt)
Link to the AZP job: https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=31511&view=logs&j=022a669b-8da8-5bd8-ffff-0833ae356793&t=96c9d53b-7615-5c60-4a61-fe385025d0cc
Link to the raw log of the AZP job: https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds

[2021-11-21 13:23] yosefe commented on #7669
Looks like flag.CommandLine.Func is not supported in older Go versions
need either use other compatible method, or require minimal version in configure

[2021-11-22 06:34] zabara123 opened #7686 "What's the difference between mlx5 and verbs ? And is there any material about mlx5 ?"
![image](https://user-images.githubusercontent.com/91873501/142812714-c4e4dbfd-fcac-4440-b073-3ceccbb5b29f.png)

[2021-11-22 07:35] #7686 closed

[2021-11-24 03:51] karasevb commented on #6499
Fixed with https://github.com/open-mpi/ompi/pull/9691

[2021-11-24 06:19] #6499 closed

[2021-11-24 15:51] #7669 closed

[2021-11-24 16:30] shamisp opened #7705 "Gtest build failure on Fedora 35 with inbox gcc"
### Describe the bug
Gtest build failure on Fedora 35 with inbox gcc
[code]

### Steps to Reproduce
- ``../configure --enable-gtest --enable-examples --with-valgrind --enable-profiling --enable-frame-pointer --enable-stats --enable-memtrack --enable-fault-injection --enable-debug-data --enable-mt --with-xpmem=/home/pavsha01/work/xpmem-install/ --prefix=/home/xxx/xxx/ucx-install/ --with-ugni PKG_CO

[2021-11-24 16:42] shamisp commented on #7705
I don't see the same issue with inbox clang. @yosefe  do we have F35 in CI ?

[2021-11-24 18:28] hoopoepg commented on #7705
it seems this is compiler bug: ```struct pollfd``` is declared as
[code]
which is 8 bytes length, but compiler lost ```events``` and ```revents``` values

[2021-11-24 18:55] shamisp commented on #7705
@hoopoepg Agree with you point but we still have to figure out how to deal with this.

[2021-11-24 19:58] yosefe commented on #7705
Seems like bug in GCC thinking that wakeup_fd only contains "fd" .
I think it can be solved by moving wakeup_fd to be a local variable instead of class member

[2021-11-25 12:05] avildema opened #7708 "[mtt] Pls try adding --mca opal_common_ucx_opal_mem_hooks 1 to mpirun/oshrun"
Configuration
[code]
 
MTT log:
http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/pmi/20211125_083438_20540_82569_jazz15.swx.labs.mlnx/html/test_stdout_3FZ5Tt.txt

Comment:
See a same message on other tests
ex:

http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucc/20211124_142110_30826_82498_vulcan02.swx.labs.mlnx/html/test_stdout_UhdMKX.txt
http://hpcweb.lab.mtl.com/hpc/mtr_scrap

[2021-11-25 12:22] brminich commented on #7708
Checking whether it is regression:

[code]

[2021-11-26 14:09] lcebaman commented on #5545
So, how can this be bypassed then?
With AOCC3.1.0 and AOCC3.1.1 I get:

`CC=clang CXX=clang++ FC=flang  ./configure --prefix=$UCX_DIR --with-rocm=/opt/rocm-4.5.0 --without-knem --without-cuda --enable-gtest --enable-examples --enable-devel-headers --enable-optimizations`

[2021-11-29 12:09] Honggang-LI opened #7722 "bad functions"
rpminspect version: 1.9-0.1.202111151640git.el9 (with data package: 1.7)
rpminspect profile: rhel-9-devel
new build: ucx-1.11.2-2.el9
old build: ucx-1.11.2-1.el9 (found in rhel-9.0.0-pending brew tag)

Test description:
Check for forbidden functions in ELF files.  Forbidden functions are defined in the runtime configuration files.  Usually this inspection is used to catch built packages that make

[2021-11-29 17:11] thomasgillis opened #7725 "MPICH + UCX 1.9 - MPI_Win_create fails with win_allgather Input/output error"
EDIT: I have an issue with the combination of UCX + MPICH but I am unsure if it's on the MPICH side or the UCX side.
Thanks for your help!

### Describe the bug
Depending on the TLS chosen `dc_mlx5` or `ud_mlx5` I get different runs, all failing with the same error:
[code]
and
[code]

I couldn't get all the needed runs to finish with the same setting.

### Steps to Reproduce
- version: UCT version

[2021-11-29 17:13] yosefe commented on #7725
Maybe there is some issue with xpmem on this system.
Can you try `UCX_TLS=^xpmem` as a workaround?

[2021-11-29 17:18] yosefe commented on #7725
In addition, the UCX version is pretty old.
I would recommend trying the latest v1.11 release:  https://github.com/openucx/ucx/releases/tag/v1.11.2
maybe there is some system security or limits config that prevents xpmem from attaching peer process memory?

[2021-11-29 17:20] thomasgillis commented on #7725
@yosefe thanks a lot for the very quick answer! I have just submitted with `UCX_TLS=^xpmem`.

I would love to update to the latest version but unfortunately I am a limited in what I can do/not do on the machine.
I will request the update to the sys-admins but they are still testing it so I am unsure it's gonna happen anytime soon unfortunately

[2021-11-29 17:24] yosefe commented on #7725
In meantime, let's understand how UCX_TLS affects the error message: it's unexpected that when setting `UCX_TLS=dc_mlx5` or `UCX_TLS=ud_mlx5` we would still see errors from xpmem. Is this really the case?

[2021-11-29 17:24] dmitrygx commented on #7725
@yosefe can it be a problem trying to do `xpmem_attach()` for 0-size region?
[code]

it seems that RCACHE reports that this is a 4096-length region (it aligns by system page size):
[code]

If I'm not mistaken, we've already fixed PageTable granularity issue.

[2021-11-29 17:27] yosefe commented on #7725
@dmitrygx good catch! i guess we should just ignore 0-size regions and create some kind of dummy rkey for them

[2021-11-29 17:29] thomasgillis commented on #7725
Yes, it's what I get when using `export UCX_TLS=dc_mlx5,sm,self`.

[2021-11-29 17:30] thomasgillis commented on #7725
What is the minimum memory I need to dedicate to the window so that it works? 4096 bits?

[2021-11-29 17:45] thomasgillis commented on #7725
@yosefe  I get this weird error message with `export UCX_TLS=^xpmem,dc_mlx5,sm,self`:

[code]

What did I do wrong?

[2021-11-29 18:00] dmitrygx commented on #7725
yes, 4096 bytes could be ok.
but is there any chance to check UCX v1.11 as proposed by @yosefe?

[2021-11-29 18:42] #5404 closed

[2021-11-29 18:45] thomasgillis commented on #7725
I will try the 4096 thingy, thanks!
I requested an update of the UCX, I will keep you posted

[2021-11-29 18:53] dmitrygx commented on #7725
@thomasgillis btw, it is interesting why you didn't get the error from UCT MD when trying to register 0-byte buffer - https://github.com/openucx/ucx/blob/6ee161f0e720551f9affafc9b05acddb9cd55355/src/uct/base/uct_md.c#L437
BTW, do you use MPICH/CH4 UCX netmod?

[2021-11-29 19:43] jli111 opened #7726 "Question: one server connects with multiple clients in parallel"
### Describe the bug
I am building a client-server system with UCX apis in my project, and encountering some questions and confusions. I have spent some time on this but still cannot solve my problem, would like to seek for kind advice and help.

Following the client-server example code, I notice that there is one server context, one listener worker and one  data worker to handle communications be

[2021-11-30 08:43] hoopoepg opened #7729 "[CI] all/test_ucp_sockaddr_protocols_err_sender failed"
from logs [internal] https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/32308/logs/474:
[code]

[2021-11-30 09:16] evgeny-leksikov commented on #7726
Hi @jli111, according to code from the description I think server gets 2 connection requests and stores them to the same memory `context->conn_request[context->num_conn]`, so it creates endpoint only for the last one but others are lost
can you try to change related code like this:
`context->conn_request[context->num_conn++] = conn_request;`
and then need to progress incoming connection requests i

[2021-11-30 09:22] evgeny-leksikov commented on #7726
Forgot to mention that [ucp_client_server.c ](https://github.com/openucx/ucx/blob/master/examples/ucp_client_server.c) example does not support concurrent connection establishment from multiple clients on server side to keep it simpler:
https://github.com/openucx/ucx/blob/6ee161f0e720551f9affafc9b05acddb9cd55355/examples/ucp_client_server.c#L827

[2021-11-30 19:31] shamisp commented on #5322
@vchuravy  FYI this issue was addressed

[2021-12-01 04:10] chenyidu commented on #7726
In ucp_client_server.c, only one thread is performing the following operations
1. Receive a conn_request.
2. Create a ucp ep based on the conn_request,
3. Execute the receiving/sending task.

Currently, UCX doesn't seem to support REUSE_PORT, so you can only get an fd for the listening address, and you can only execute op 1 in one thread. If I understand your needs correctly, all you need is to qu

[2021-12-01 06:08] #7729 closed

[2021-12-01 12:38] evgeny-leksikov commented on #7726
it's unrelated to REUSE_PORT since every endpoint created on server side gets its own port.
you can use any number of threads and/or workers but container where connection requests are stored should be thread safe or separated.
In initial issue all connections requests are stored at the same pointer, there is a race.

[2021-12-01 19:23] thomasgillis commented on #7725
@yosefe @dmitrygx
I looks like the runs with `UCX_TLS=dc,self,posix,sysv,cma` could complete normally.
For the rest, I will request the update of the packages asap but at least now I can run.

If something else shows up I will reopen the issue.
Thanks a lot for your (very prompt) help, much appreciated!

[2021-12-01 19:28] yosefe commented on #7725
xpmem is actually an open source and we maintain a clone of it in http://github.com/openucx/xpmem
even though we have a workaround i think better keep this issue open since we don't expect 0-size buffer to be passed to xpmem

[2021-12-01 19:41] angainor opened #7738 "mlx5dv error: mlx5dv_devx_obj_create(DCT) failed"
I am testing MLNX_OFED_LINUX-5.4-3.1.0.0 on our Bull sequana XH2000 system, which we want to upgrade next week. I have installed the newest HPCX binary I found (hpcx-v2.9.0-gcc-MLNX_OFED_LINUX-5.4-1.0.3.0-redhat7.7-x86_64.tbz), which is not exactly for this version, but it's the closest I get at this moment. I should also add that the FW version on our ConnectX-6 cards is older than it should (20.

[2021-12-01 19:43] yosefe commented on #7738
It could be a FW issue. Recommend upgrading to latest one.
For reference, is there any mlx5-relater error in dmesg?

[2021-12-01 20:25] #7705 closed

[2021-12-01 21:13] angainor commented on #7738
@yosefe Thanks! I will re-test once we get the new FW. You are right, there are a few nodes with `dmesg` issues, e.g.,
[code]
I'll update next week when we get the new FW.

[2021-12-02 01:40] chenyidu commented on #7726
I agree with you that conn_request must be queued, not stored in one place. I mention REUSE_PORT to show that it is not possible to receive conn_requests in parallel because there is only one listener. Actually, you can only run op 2 and op 3 in parallel using multiple ucp worker (because of the ucp worker lock, multiple ucp workers are needed).

[2021-12-02 08:56] evgeny-leksikov commented on #7726
@chenyidu thanks for clarification! Now I see your point, you are right.
In addition to above - if `ucp_ep_create` was called on different workers which are progressed from different threads, then connection establishment will be performed in parallel, the only serialized place is connection request queue on server.

[2021-12-02 14:18] shamisp commented on #7725
The version of XPMEM used by Cray is not exactly the same version as open source, which is based on some older revision of Cray version.  @yosefe is the issue that XPMEM does not handle 0 size mapping ?

[2021-12-02 14:44] thomasgillis commented on #7725
If it helps, the Cray version is `xpmem/2.2.40-7.0.1.0_3.1__g1d7a24d.shasta`

[2021-12-02 15:14] shamisp commented on #7725
@thomasgillis It does not really help :( it is proprietary code, versioning, etc. We have no idea what it really maps to.

[2021-12-02 15:31] dmitrygx commented on #7725
@shamisp @thomasgillis I'd start checking if taking the latest UCX helps to fix @thomasgillis's issue.
is it possible to download UCX by following the instruction (see below)?
[code]
So, let's if we will find more information running the devel version of UCX. If it helps, then you could switch to UCX release mode by reconfiguring it using `./contrib/configure-release` instead of `./contrib/configu

[2021-12-02 16:05] vchuravy commented on #5322
Would be good to close this then :)

[2021-12-02 16:14] brminich opened #7742 "failure in tcp/test_ucp_sockaddr.concurrent_disconnect/1 on r-vmb-ppc-jenkins"
### Describe the bug
happened here http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/15412/nodes/38/steps/259/log/?start=0
[code]

[2021-12-02 19:57] thomasgillis commented on #7725
@dmitrygx okay will try.
What is the best way to know what version of UCX is taken by MPICH? is there any verbose variable I can use?

[2021-12-02 20:22] jli111 commented on #7726
Wonderful! Many thanks to @chenyidu and evgeny-leksikov for answering my question and the demo code!
All questions are clear now, closing the issue.

[2021-12-02 20:22] #7726 closed

[2021-12-02 23:27] dmitrygx opened #7744 "rc/test_ucp_perf.envelope/3 hangs on swx-rdmz-ucx-new-01"
[code]
Log file: [rc_test_ucp_perf_envelope.txt](https://github.com/openucx/ucx/files/7645722/rc_test_ucp_perf_envelope.txt)
CI job: https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=32679&view=logs&j=c02db851-0d7a-5132-2265-ebd0aa7c6d37&t=a86ba9bf-30f1-543e-254c-1e7feba6151c
Raw CI job: https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/32679/logs/4

[2021-12-03 01:30] #5322 closed

[2021-12-03 07:13] dmitrygx opened #7745 "mem_type/test_memtype_cache.update_non_contig_regions_and_remove_subintervals/2 failed on GPU node"
[code]
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/32739/logs/377

[2021-12-03 07:30] chenyidu opened #7746 "Why disable RNDV when err_mode is UCP_ERR_HANDLING_MODE_PEER ?"
[code]
When a ucp ep is created by client/server mode, `UCP_ERR_HANDLING_MODE_PEER` is usually specified (such as `example/ucp_client_server`). In this case, cm_lane is not UCP_NULL_LANE, so RNDV is enabled. It seems that `UCP_ERR_HANDLING_MODE_PEER` has nothing to do with RNDV, so why disable RNDV when specify `UCP_ERR_HANDLING_MODE_PEER`.

[2021-12-03 07:34] chenyidu commented on #7746
@evgeny-leksikov I see that you have added `config->key.cm_lane  != UCP_NULL_LANE` in #4702. Do you know the reason?

[2021-12-03 08:00] evgeny-leksikov commented on #7746
@chenyidu what's the UCX version you are exploring? This check was deleted recently in https://github.com/openucx/ucx/pull/7530. It was actual when keep alive was not implemented and RDNV protocol could stuck waiting for ACK from failed peer, but CM lane is able to notify remote failure.

[2021-12-03 08:30] chenyidu commented on #7746
I'm using the latest v1.11.x code, maybe I should move on to the updated code☺.
I've thought about the reason, but what puzzles me is that when err_mode is `UCP_ERR_HANDLING_MODE_NONE`, It just means not detecting remote failure, RDNV may still suck waiting for ACK if an error occurs, but RNDV is enabled.

[2021-12-03 08:37] chenyidu commented on #7746
My intuition is that RNDV can be turned on only when  err_mode is `UCP_ERR_HANDLING_MODE_PEER` or CM lane is not NULL, so that the remote failure can be sensed when it occurs and the RNDV can be ended properly.

[2021-12-03 08:52] evgeny-leksikov commented on #7746
right, if err handling is disabled we guarantee nothing in case of peer or network failure, RNDV is enabled and can be selected as most performing protocol

Actually wise versa, without keep alive we cannot guarantee completion of requests (this is requirement of UCP_ERR_HANDLING_MODE_PEER - to complete requests in finite time) which is waiting for ACK because remote side can become unucessible or

[2021-12-03 09:51] chenyidu commented on #7746
I understand why RNDV is enabled for `UCP_ERR_HANDLING_MODE_NONE`, it's user's choice, and we don't guarantee anything. In the new version, the RNDV is always enabled, and if the problem occurs because the user disables the KA, it's also user's choice. So we don't need to check whether KA is enabled when set RNDV thresh, just a diag message.

Maybe I misunderstood what `UCP_ERR_HANDLING_MODE_PEER`

[2021-12-03 11:06] evgeny-leksikov commented on #7746
yes, you are right. By default setting of `UCP_ERR_HANDLING_MODE_PEER` enables KA configuration, if all EPs are created with `UCP_ERR_HANDLING_MODE_NONE` KA can be disabled for performance reason, so err handling is an part of API to define EP dehavior, KA is a one from many possible mechanisms to detect error

[2021-12-03 22:29] raffenet opened #7754 "Incorrect datatype setting in ucp_tag_send_nbx"
### Describe the bug

https://github.com/openucx/ucx/blob/c2fc7bd5654f0cd2c252f719b7e71ba39067ea82/src/ucp/tag/tag_send.c#L251-L270

If the user sets both the datatype flag and no immediate completion flag, the else branch in this conditional incorrectly assumes that the data is contiguous.

[2021-12-03 22:39] yosefe commented on #7754
nice :)
i guess line 259 should be changed from == to &. does such change fix the issue for you?

[2021-12-04 01:01] chenyidu commented on #7746
Thank you @evgeny-leksikov

[2021-12-04 01:01] #7746 closed

[2021-12-04 02:52] raffenet commented on #7754
It does, but we also never supply a contig datatype parameter. I think using `&` could cause the no immediate parameter to be ignored if the datatype is contiguous. Line 261 in the snippet above.

[2021-12-04 11:50] yosefe commented on #7754
guess need another branch :(

[code]

[2021-12-04 13:30] raffenet commented on #7754
If you want to keep the first 2 branches the same, this could also work:
[code]

[2021-12-04 20:15] dmitrygx commented on #7496
@zabara123 is the answer ok? can we close the issue?

[2021-12-05 08:10] yosefe opened #7756 "go test failure "panic: send on closed channel""
https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=32853&view=logs&j=3326af28-725b-5a76-d9b2-a6afcb2c442d&t=7704eb91-d2f0-594b-7192-7aca9f7d6696

https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/32853/logs/225

[code]

[2021-12-05 12:40] #7742 closed

[2021-12-05 19:44] #7745 closed

[2021-12-06 08:58] mostcute opened #7759 "how to enable RDMA with IB in go binding ?"
I want to use RMDA in golang and i found the project , i just run the goperftest and the result is 15-20Gb/sec/thread and 55Gb/sec/40thread  .my network is Mellanox EDR100G .
I think the default test does not use RDMA ,just TCP through the speed/thread and the CPU usage.
SO ...
i wonder how to use RDMA in go binding.
thanks !

[2021-12-06 09:04] petro-rudenko commented on #7759
Hi,
1. Can you run `ucx-info -d` to see what transport do you have
2. What message size are you using? Try bigger one: `-s=125000000`.
3. Run with `UCX_LLOG_LEVEL=info` you'll see what transport is ep using, like `ep_cfg[4]: am(rc_mlx5/mlx5_0:1)`

[2021-12-06 11:43] mostcute commented on #7759
ucx_info -d

`#
# Memory domain: posix
#     Component: posix
#             allocate: <= 528389608K
#           remote key: 24 bytes
#           rkey_ptr is supported
#
#      Transport: posix
#         Device: memory
#           Type: intra-node
#  System device: <unknown>
#
#      capabilities:
#            bandwidth: 0.00/ppn + 12179.00 MB/sec
#              latency: 80 nsec
#             overh

[2021-12-06 11:52] mostcute commented on #7759
i am using `./goperftest -i 4.4.4.94 -p 36459 -s 409600 -t 1` so the block size is 409600, if i use a bigger one ,the goperftest program will have some issue,like crashed,and the result will be wrong, ex: 1000Gb/s

[2021-12-06 11:55] mostcute commented on #7759
3 seems it use tcp
[code]

[2021-12-06 12:00] mostcute commented on #7759
i install the ofed by `./mlnxofedinstall --enable-affinity --enable-mlnx_tune --all -vvv` so i think i already install the rdma drivers, so how to enable the rmda in ucx-go binding

[2021-12-06 12:22] petro-rudenko commented on #7759
Rebuild ucx, check `ucx_info -d` and rerun benchmark

[2021-12-06 15:31] raffenet commented on #7754
Actually this line crashes with a non-contig datatype, so I guess there needs to be some more logic to handle everything correctly.

[2021-12-06 20:17] #7756 closed

[2021-12-07 10:43] mostcute commented on #7759
ok ,my step is
1 `make clean`
2 `./autogen.sh`
3 ./contrib/configure-release --prefix=/where/to/install
result :
[code]
4 `make -j8`
5 `make install`
6 cd to install dir and scp the dir to another machine

7 run `./ucx_perftest 4.4.4.56  -t tag_lat  -s 2048  -c 1`

[code]

8 run `./ucx_perftest 4.4.4.56  -t put_bw -d mlx5_2:1 -x rc_mlx5  -s 2048 -c 1`
[code]

step 7 & 8 just run server and client

[2021-12-07 10:45] mostcute commented on #7759
new ucx info

[code]

[2021-12-07 12:15] petro-rudenko commented on #7759
1. You need to use parameter for goperftest as `-i=4.4.4.56  -p=36459 -s=40960`
2. So it's using rc - RDMA for goperftest
3. Are you running goperftest server and client on the same node?
4. You have 2 MLX cards, so it may use multi-rail (utilize them both).

[2021-12-07 19:38] yosefe opened #7774 "Failure in rc/test_ucp_tag_match_rndv.bidir_multi_exp_post/6 with proto_v2"
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/33182/logs/439
[code]

[2021-12-07 22:08] dmitrygx opened #7775 "rc_mlx5/test_tag_mp_xrq.zcopy_eager_only/0 failed on swx-rdmz-ucx-arm-hwi"
[code]
Link to the job log: https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=33229&view=logs&j=bfd425d1-f6a6-54ef-9af7-97843ff4e8c7&t=e0f90221-000b-5f04-c58a-9913fa39dc06
Link to the raw job log: https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/33229/logs/363
[rc_mlx5_tag_hwi_arm.txt](https://github.com/openucx/ucx/files/7671908/rc_mlx5_tag_hwi_ar

[2021-12-08 03:01] mostcute commented on #7759
1. ok, i will use -s=40960 as the parameter in the next tests
2. yes, now it seems use the rc-RDMA in the test , but the first time it is using the TCP , the rc-RDMA is 5Gb/s faster than the TCP,but how to make 50Gb/sec~100Gb/sec happen? the 25Gb/s in the 100Gb network seems still not the ceiling and my app needs more speed too.
3&4. yes, i run the server and client on the same node just to make s

[2021-12-08 03:04] mostcute commented on #7759
two nodes test ,the result is same
[code]

[2021-12-08 04:13] mostcute commented on #7759
i add the parameter -n and the result seems better,the speed is 16Gb/s now
`./goperftest -i 4.4.4.56  -p 36459 -s 40960 -n 1000000`

[code]

[2021-12-08 05:16] mostcute commented on #7759
i use 10 progress to test,got 92Gb/sec total,seems thread will be useful too.

[2021-12-08 05:18] mostcute commented on #7759
now can close the issue,thanks for support.
hope the go bindings can have more example to show how to use ucx.

[2021-12-08 05:18] #7759 closed

[2021-12-08 06:58] brminich commented on #7775
duplication of #6824

[2021-12-08 09:25] #7754 closed

[2021-12-08 15:55] dmitrygx commented on #7680
found by @hoopoepg that it happens again - https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/33387/logs/351

[2021-12-09 07:23] angainor commented on #7738
@yosefe We've upgraded the FW on the HCAs and I've not seen the problem again. thanks for your help!

[2021-12-09 07:23] #7738 closed

[2021-12-09 16:01] brminich opened #7782 "rc/test_ucp_am_nbx_seg_size.multi/1 fails on swx-rain04"
### Describe the bug
Happened here:
https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=33463&view=logs&j=022a669b-8da8-5bd8-ffff-0833ae356793&t=96c9d53b-7615-5c60-4a61-fe385025d0cc

[code]

[2021-12-09 18:05] evgeny-leksikov commented on #7680
another repro in https://github.com/openucx/ucx/pull/7709

[code]
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/33479/logs/398

[2021-12-09 18:08] evgeny-leksikov commented on #6357
another repro in https://github.com/openucx/ucx/pull/7709

[code]
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/33479/logs/368

[2021-12-11 05:23] Nreyab opened #7785 "ucx_perftest tag-lat : ud endpoint timeout"
### Describe the bug
Fail to run ucx_perftest on a cluster, the program block after header of table displayed.
mu01:
[code]
at cu01
[code]

### Steps to Reproduce
- Command line
   - at mu01: ucx_perftest -c 0
   - at cu01: ucx_perftest mu01 -t tag_lat -c 0
- UCX version used (from github branch XX or release YY) + UCX configure flags (can be checked by `ucx_info -v`)
   - ucx_info -v:
[code]
- **

[2021-12-11 15:49] yosefe commented on #7785
@Nreyab can you pls attatch output of "ibv_devinfo -vv"?
Are you able to run basic IB benchmark, such as "ib_send_bw -c UD" between these machines?
It could be some issue with the setup.

[2021-12-11 16:04] Nreyab commented on #7785
Thanks for your reply very much!

Output of ibv_devinfo -vv:
[code]

ib_send_bw at mu01:
[code]
at cu01:
[code]

[2021-12-11 16:18] yosefe commented on #7785
Can you try setting env var `UCX_IB_GID_INDEX=3` for ucx_perftest (on both sides)?
If the above does not help, then most likely the RoCE fabric was not configured for lossless mode.
Please refer to https://community.mellanox.com/s/article/howto-configure-roce-v2-for-connectx-3-pro-using-mellanox-switchx-switches for more information

[2021-12-12 02:50] Nreyab commented on #7785
It finally worked after I set UCX_IB_GID_INDEX=0, I found that the gid array is different between two nodes, but every GID[0] has same prefix :
mu01:
[code]
cu01:
[code]
Thanks again for your time!

[2021-12-12 08:11] yosefe commented on #7782
another repro:
https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=33670&view=logs&j=74876da5-c0e8-5509-4929-d550f147815a&t=ad691f47-6e94-5716-c2cf-10e47f6207fd
[code]

[2021-12-12 08:13] yosefe commented on #7782
[code]

[2021-12-12 15:07] #7785 closed

[2021-12-14 06:46] #7782 closed

[2021-12-14 08:54] brminich opened #7798 "udx/test_ucp_sockaddr.err_handle/8 failure on swx-rdmz-ucx-arm-hwi"
### Describe the bug
Happened in https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/33798/logs/353

[code]

[2021-12-14 09:02] mostcute opened #7799 "Some gobindding program question"
I am try to use the ucx-go to handle the network transfer,and have some questions

1. i want to send a large msg (example: large file),it need to send more than once from server to client
At first   i write the code as below
[code]

After i wrote the code,I suddenly realized that  <SendAmNonBlocking> is not a sync func, therefore, the order of sending cannot be guaranteed. am i right?

so i think

[2021-12-14 09:06] mostcute commented on #7799
This issue is not a bug report ,i want to change the label ,but i don't know how for now

[2021-12-14 09:08] mostcute commented on #7799
this is not a bug report , i don't know how to change the label

[2021-12-14 09:39] petro-rudenko commented on #7799
Hi, yes the order of amSends is not guaranteed. So you need to transfer large file by chunks? Then yes, your solution to read from header is quite good. If it's possible to allocate on a client buffer for the whole file, then you can use randevouz protocol and send the whole file (ucx internally will split by chunks based on the transport capabilities).

[2021-12-14 10:10] mostcute commented on #7799
the filesize is too big (30-60GiB) , read it all in mem is not ok. but i still give it a try

i set ulimit -l unlimited and it still report err
[code]
i don't want to transfer the file by chunks, i use the http to tranfer it before i know ucx ,so it is a stream . when i start to use the ucx, i use SendAmNonBlocking func to send the msg ,it seems more like udp style rather than http/tcp style .

an

[2021-12-14 10:40] mostcute commented on #7799
and is there a problem with the code
[code]
i think  the send imight not finished when FreeNativeMemory is called, so how to release the source in time

[2021-12-14 13:29] petro-rudenko commented on #7799
Yes, stream API is not optimal, no RDMA or GPU memory is supported. There are plans/discussions to include chunk API and send order guarantees (cc @brminich ) for active messages. Then it would have all the functionalities as a streaming API.
How much RAM do you have? 30 GB mem registration is working for me, you can try:
[code]

[2021-12-14 13:31] petro-rudenko commented on #7799
You can pass a callback to send function, it'll call when it's safe to free send memory.

[2021-12-15 06:06] mostcute commented on #7799
There is a problem confused me

i call the process func in a go routine

[code]

then send or receive data noblocking

[code]
the code can work well
but when i call the request.getstatus() func the weird thing happed,

[code]

the code is still work ,but if i remove the  process line `for bclient.sendworker.Progress() != 0{}`

the send or receive will be blocked,and never be send or received

[cod

[2021-12-15 09:02] petro-rudenko commented on #7799
Can you please send whole your code? Do you do progress for receiver worker?

[2021-12-15 09:23] mostcute commented on #7799
ok .let me simplify the code,then i post here

[2021-12-15 11:06] mostcute commented on #7799
ok the code is post here [ucxdemo](https://github.com/mostcute/ucxdemo/tree/main)

[2021-12-15 11:41] EladgNext opened #7805 "/contrib/test_jenkins.sh — doesn't work out of the box on clean Debian 10 \ Ubuntu 20"
### Describe the bug
/contrib/test_jenkins.sh — doesn't work out of the box, mostly due to missing Linux-Utils package.
this fails over `./contrib/test_jenkins.sh: line 409: rename: command not found`, which o.c. could be installed, but could also get replaced with a more out-of-the-box alternative.

### Steps to Reproduce
- `./contrib/test_jenkins.sh`, on a clean Debian

### Setup and versions
-

[2021-12-15 12:34] petro-rudenko commented on #7799
Ok, here's an issue:
You are creating new worker per connection. While in progress thread you are progressing only listener worker.

[2021-12-15 13:28] mostcute commented on #7799
not reall, please see the initListener func and there is a func `w.progressWorker(ucfg)` ,it run a new thread for the new worker

[2021-12-15 14:53] mostcute commented on #7799
so the weird thing i said is ,i have a thread to handle the process func for worker ,the receive work well
but if i add another call  `req.GetStatus() == UCS_INPROGRESS {}` after send,the send will be block. but if i add  `req.GetStatus() == UCS_INPROGRESS {for bclient.sendworker.Progress() != 0 {}}` it work well again

[2021-12-16 10:01] petro-rudenko commented on #7799
Seems like you have somewhere race condition or something, so client thread doesn't progress. If you decided to progress from another thread, I wouldn't do any other progresses. Just submit requests and always have progress thread.

[2021-12-16 10:06] petro-rudenko commented on #7799
Also for cllient context you diidn't set `EnableSharedWorkers()` and for worker you've set: `.SetThreadMode(UCS_THREAD_MODE_SINGLE)` so it means that you can use worker exclusively from a single thread.

[2021-12-20 11:48] EladgNext commented on #4549
note that [PR-7778](https://github.com/openucx/ucx/pull/7778) replaces  `--dynamic-list-data` with `--export-dynamic`, and thus solves this issue (or at least should)
 :)

[2021-12-20 19:35] Seth5141 opened #7813 "ucp_get_nbi fails with device memory on latest master"
### Describe the bug
When attempting to use device memory for the local and remote buffers on device memory, the command fails with a segmentation fault.
Note, this occurs even when UCX_PROTO_ENABLE=y is set in the environment.
My understanding is that on latest master, this feature is meant to be supported on latest master.
I also spoke with @Akshay-Venkatesh about atomics operations, and he ment

[2021-12-21 08:24] yosefe commented on #7813
@Seth5141 can you pls share details how to reproduce?

[2021-12-21 15:26] yosefe commented on #7813
BTW, I was able to see such error when `UCX_PROTO_ENABLE=y`. Maybe it's not propagated correctly?

[2021-12-21 21:22] Seth5141 commented on #7813
Hi Yossi,
I have confirmed that the env is propagating through slurm on my setup.
In order to reproduce the bug, you will need access to two machines with Tesla GPUs connected over infiniband.
I have access to a cluster behind the NVIDIA firewall with the proper characteristics. If you'd like, I can give you access to that configuration.
Beyond that, you will just have to build nvshmem and the tes

[2021-12-22 08:43] mostcute commented on #7799
how to transfer a C *char pointer to unsafe.pointer and then use in SendAmNonBlocking?
i want to send somebytes from a C buffer

[code]

result
[code]
seems i  know Cgo and ucx  not enough

[2021-12-22 09:15] petro-rudenko commented on #7799
So:
1. `Cpointer:=unsafe.Pointer(Cbuffer)` will take a pointer to a pointer.
2.  It's better to use https://github.com/openucx/ucx/blob/master/bindings/go/src/ucx/utils.go#L22
3.  You can transfer any go data to C using https://github.com/openucx/ucx/blob/master/bindings/go/src/ucx/utils.go#L66

[2021-12-22 09:31] mostcute commented on #7799
emmm, i do not want to transfer go data to C since i found it has a lot  of performance lost(because of go to C or C to go memcopy),i just want to have a C buffer and filled the Cbuferr in C ops,and then get the pointer of Cbuffer and send it by go `SendAmNonBlocking` func

[2021-12-22 09:36] mostcute commented on #7799
maybe i should use Cpointer:= unsafe.Pointer(*Cbuffer)?

[2021-12-22 12:46] petro-rudenko commented on #7799
Here's how you can do:
[code]

[2021-12-23 05:53] mostcute commented on #7799
thanks for show me the way how to use cbuffer without copy,but the problem now is the sender crashed when i send the Cbuffer

[code]
result :
[code]

i do not understand the err `UCX  ERROR failed to register address 0x7fca65813010 mem_type bit 0x1 length 4096000 on md[6]=mlx5_2: Input/output error (md reg_mem_types 0x1)`

[2021-12-23 06:14] mostcute commented on #7799
seems it is not the Cbuffer's problem ,i will do more test

[2022-01-01 17:21] yosefe opened #7822 "v1.13 ABI break"
PR #7623 breaks UCX ABI because the new field `local_sockaddr` was added to the middle of `ucp_ep_params_t` struct. Need to move it to the end.
It will ABI-break any application that uses `conn_request` or `name` fields (so pretty much any client/server application)

cc @leibin2014 @shamisp @tonycurtis @brminich

Update: The PR was merged after v1.12.x branch-off so it doesn't affect v1.12 series

[2022-01-01 19:26] shamisp commented on #7822
@yosefe ouch ... we need some unit testing for this

[2022-01-02 09:30] dmitrygx opened #7825 "1.5 MBytes AM send operation never completed if submit it on EP with WIREUP in-progress"
The following scenario leads to the sender's hanging:
1. Create UCP EP.
2. Send 1.5 MBytes AM send operation right after `ucp_ep_create()`. The operation uses Eager/Bcopy/Multi protocol, since EP isn't fully configured.
3. The AM operation won't be completed.

[2022-01-02 12:57] #7822 closed

[2022-01-03 09:01] yosefe commented on #7708
1. In UCC, the message `Warning: UCX is unable to handle VM_UNMAP event. This may cause performance degradation or data corruption` seem to be caused by the presence of btl_uct.
   * Adding `--mca btl ^uct` to the command removes the message
   * OpenMPI in UCC MTT should be configured with ` --with-platform=contrib/platform/mellanox/optimized` to disable build of btl_uct
2. The logs of PMI MTT ar

[2022-01-04 17:18] Akshay-Venkatesh commented on #7575
@pentschev Assuming that the bug here gets fixed at some point in UCX (and potentially in lower layers as well), what is the plan for ucx-py to use whole allocation registration feature for DGX machines vs T4 GPUs? For DGX, I see that the default value of UCX_CUDA_COPY_MAX_REG_RATIO (0.1 by default) has to be bumped up to between 0.9-1.0 to avoid repeated registrations with RMM sub-allocated memor

[2022-01-04 19:57] pentschev commented on #7575
@Akshay-Venkatesh thanks for the ping. I worked yesterday on new defaults for `UCX_CUDA_COPY_MAX_REG_RATIO` in https://github.com/rapidsai/ucx-py/pull/824 . In summary what that change does is setting `UCX_CUDA_COPY_MAX_REG_RATIO=1.0` if BAR1 >= TotalGPUMemory, otherwise leaves it to UCX default (currently `UCX_CUDA_COPY_MAX_REG_RATIO=0.1`), but we could in the future set a smarter ratio if that's

[2022-01-04 20:37] Akshay-Venkatesh commented on #7575
@pentschev Thanks for the pointer. https://github.com/rapidsai/ucx-py/pull/824 could be simpler and avoid nvml barinfo calls given the code above but IMO I don't think it hurts assuming that nvml query is onetime and given that some logic in ucx may change in the future.

Also, we had logic similar to https://github.com/rapidsai/ucx-py/pull/824 in the past but we removed that in favor of not havin

[2022-01-04 21:06] pentschev commented on #7575
In our case, we may generally assume that a user importing UCX-Py for GPU usage will have pynvml installed, so that's less of a concern for us, and it only runs at import time anyway. Plus, querying the BAR1 size allows us to be future-proof to some extent, as we would prefer not to special-case GPUs by some of its characteristics (e.g., name).

[2022-01-05 13:02] zerothi commented on #5749
I have the same problems, let me know if further details are required.

UCX version: 1.11.2

Error:
[code]

<details>
<summary>
Output of `lsb_release -a`
</summary>

[code]
</details>

<details>
<summary>
Output of `ibstat`
</summary>

[code]
</details>

<details>
<summary>
Output of `ucx_info -dvb`
</summary>

[code]
</details>

[2022-01-05 14:33] Artemy-Mellanox commented on #5749
could you please check dmesg for syndrome - this is how-to do it
https://github.com/openucx/ucx/wiki/How-to-get-FW-syndrome-when-using-DEVX

[2022-01-05 21:20] zerothi commented on #5749
Thanks, but I don't have sudo access, so changing the dynamic debug isn't going to work?

[2022-01-09 02:47] h2cw2l opened #7831 "When send data by zcopy/rndv there is data error occurs."
I test use my app with the latest ucx master.

When I send by zcopy(UCX_ZCOPY_THRESH=1k UCX_RNDV_THRESH=102400k) or rndv(UCX_ZCOPY_THRESH=1k UCX_RNDV_THRESH=1k) there is data error occurs probabilistically.
I print the data before call ucp_am_send_nbx() and after the send call back, the data has no error.

When I send by bcopy(UCX_ZCOPY_THRESH=102400k UCX_RNDV_THRESH=102400k), there has no data er

[2022-01-10 09:38] yosefe commented on #7813
@Seth5141 can you pls run with debug logging enabled (see https://github.com/openucx/ucx/wiki/Logging):
1. Configure UCX by `./contrib/configure-devel` to enable full debug log
1. Export `UCX_LOG_LEVEL=data`
1. Export  `UCX_LOG_FILE=/tmp/ucx_%p.log`
1. Upload files from `/tmp/ucx_*.log`

[code]

[2022-01-10 17:41] dmitrygx commented on #7825
Found out that 1.5 MBytes case works fine, added gtests for AM RNDV in #7838.

[2022-01-10 22:05] zerothi commented on #5749
@Artemy-Mellanox I got help from our sys-admin, here is the attached output:
<details>
<summary>
Output of dmesg
</summary>

[code]

</details>

[2022-01-11 04:37] Artemy-Mellanox commented on #5749
was there some problem with enabling dynamic debug?
in attached output I see command `file drivers/infiniband/hw/mlx5/* +p` while we need `func mlx5_cmd_check +p` to get syndrome

[2022-01-11 05:41] karasevb commented on #7708
To avoid this failure: following the commit https://github.com/Mellanox/hpc-mtt-conf/commit/af74e721d9a207e4d44b7dbcb17ecf3607ffeb38, the run cmd should contain the env: `PMIX_MCA_gds=^ds12,ds21`, that is not presented in the mtt's cmd line:
[code]
The dstor component is no longer supported for OMPI starting with version 5.x, which caused issues for async modex.

[2022-01-11 05:41] karasevb commented on #7708
@avildema please fix

[2022-01-11 07:08] zerothi commented on #5749
I am not sure :) I'll ask again.

[2022-01-13 03:54] tomeybest opened #7845 "openmpi-4.1.2 with ucx-1.13.0 got Segmentation fault: invalid permissions for mapped object"
### Describe the bug

run mpi job as follows
[code]

got Segmentation fault after normally run a few minutes ：

backtrace:

### Steps to Reproduce
ucx information:

openmpi compiled by pgi , detail infromation :
ompi-info

### Setup and versions
- OS version centos7+x86_64
- For RDMA/IB/RoCE related issues:
    - Driver version: MLNX_OFED_LINUX-5.4-1.0.3.0
   - HW information 8 * ConnectX6 200Gb/s

[2022-01-13 05:57] Seth5141 commented on #7813
[nvshmem_get_log.txt](https://github.com/openucx/ucx/files/7860285/nvshmem_get_log.txt)
Thanks @yosefe Please see the log attached. Note - the 0: and 1: before each log line indicate the process from which that line was derived (I took the liberty of rearranging the file so all output from PE 0 comes first and PE 1 comes later).

[2022-01-13 07:05] yosefe commented on #7845
Pls try remove UCX_TLS from the command line

[2022-01-13 07:08] karasevb commented on #7708
should be fixed by https://github.com/Mellanox/hpc-mtt-conf/pull/739

[2022-01-13 07:28] yosefe commented on #7813
@Seth5141
`0: [1642052992.941987] [gc01:53423:0]          parser.c:1916 UCX  INFO  UCX_* env variable: UCX_LOG_LEVEL=debug`
can you pls set `UCX_LOG_LEVEL=data` (and make sure UCX is configured in debug mode)?

[2022-01-13 07:34] sb22bs commented on #5749
Hi

here is the "sys-admin".
the dynamic debug on functions doesn't seem to work (for me).
The problem seems to got introduced in ucx-1.10.0 and the problem only
happens on x86-64 without ofed. (but maybe I'm missing something.)

aarch64 without ofed: okay
x86_64 with ofed: okay
x86_64 without ofed: ucx-1.9.0: okay
x86_64 without ofed: ucx-1.10.0: problem

Hope it helps..... Best regard, Sebastian

[2022-01-13 10:45] tomeybest commented on #7845
Hi,
Removing UCX_TLS from the command line leads to  the same segmentation fault as above. Any other comments about this problem?
Thanks!

[2022-01-13 11:02] brminich commented on #7845
with what UCX version did it pass? Was UCX built with CUDA support?

[2022-01-13 11:08] nmorey commented on #5644
This should probably be fixed. I'm getting a deadlock with it enabled:
#0  0x00007f9eef53fc07 in sched_yield () from /lib64/libc.so.6
#1  0x00007f9eed3c320e in ?? () from /usr/lib64/libucm.so.0
#2  0x00007f9eed3c483f in ucm_dlmalloc () from /usr/lib64/libucm.so.0
#3  0x00007f9eed3bc24d in ?? () from /usr/lib64/libucm.so.0
#4  0x00007f9ef056a7f8 in _dl_exception_create_format () from /lib64/ld-linu

[2022-01-13 13:34] Multhree opened #7846 "A simple question about Multi-rail"
Hello,
I have a simple question about **Multi-rail**, that is when we use 2 network devices for communication **if one network device goes to an error during data transfer, what would happen**? Can UCX handle this situation?

[2022-01-13 17:52] Seth5141 commented on #7813
[ucx_20986.log](https://github.com/openucx/ucx/files/7864871/ucx_20986.log)
Apologies, new log file attached. And here is the stack trace for both processes:
[code]

[2022-01-13 18:08] yosefe commented on #7813
[code]
Is `0x101175d0600` a valid GPU memory pointer? seems it was not detected as GPU memory.
Can you pls try to set `UCX_MEMTYPE_CACHE=n`?

[2022-01-13 18:16] Seth5141 commented on #7813
Same error:
[code]
[ucx_21264.log](https://github.com/openucx/ucx/files/7865073/ucx_21264.log)
The thought crossed my mind, is there a flag I need to pass in when registering the memory region to let UCX know it is device memory? I feel like I remember seeing that UCX has automatic detection, but thought I'd check.

[2022-01-13 19:08] yosefe commented on #7813
@Seth5141 can you pls remove the code setting "TLS"?
it's effectively disabling cuda transports and preventing from GPU memory detection
see https://openucx.readthedocs.io/en/master/faq.html#i-m-running-ucx-with-gpu-memory-and-geting-a-segfault-why

[2022-01-13 22:09] Seth5141 commented on #7813
Thanks @yosefe by either removing my TLS selection code or adding cuda to the list,  I am able to eliminate the segfault.
Unfortunately, the application hangs now.
I don't know if it's something happening in UCX yet, or just a bad interaction iwth the new code paths and how NVSHMEM is using UCX.
Since the original segfault is fixed, would you like me to close this bug and open another one if/when

[2022-01-13 22:31] shamisp commented on #7813
@yosefe can we detect that the app is linked to cuda and check if TLS excludes CUDA and print a warning that the configuration may result in unexpected behavior ?

[2022-01-14 11:25] yosefe commented on #7845
@tomeybest can you pls provide the output of "ucx_info -bd" ?

[2022-01-14 11:26] Multhree commented on #7846
Thank you for your quick reply!

[2022-01-14 11:26] #7846 closed

[2022-01-14 11:28] yosefe commented on #7813
If this code is running on GPU the hang can happen because of deadlock with Cuda API calls
@shamisp I think a better solution is to separate memory detection from transports, so that memory can be detected regardless of UCX_TLS configuration.

[2022-01-14 14:38] shamisp commented on #7813
@yosefe a.k.a. wait for rcache move to PML ?

[2022-01-14 15:38] yosefe commented on #7813
Keep around memory domains that can detect memtype even if their corresponding transports ate disabled

[2022-01-14 17:06] Seth5141 commented on #7813
@yosefe Yes, you are right. I forgot about that. That's why we had to disable it in the first place.

[2022-01-14 17:38] yosefe commented on #7813
@Seth5141 can you pls try the below patch, keeping the TLS setting in nvshmem:
[code]

[2022-01-14 18:26] Seth5141 commented on #7813
@yosefe With that patch applied I am also seeing the segfault.
[code]
Log File:
[ucx_14016.log](https://github.com/openucx/ucx/files/7872445/ucx_14016.log)

[2022-01-14 19:31] shamisp commented on #7813
@yosefe is this even possible ? I guess there is an implicit assumption that you don't have to do any CUDA or ROCM calls to detect this ?

[2022-01-14 19:32] shamisp commented on #7813
@yosefe I guess there is an implicit assumption that you do *not* have to do any CUDA or ROCM calls to detect memory type ?

[2022-01-15 10:48] tomeybest commented on #7845
[ucx_info_bd_output.txt](https://github.com/openucx/ucx/files/7874783/ucx_info_bd_output.txt)
Thanks!

[2022-01-15 10:51] tomeybest commented on #7845
Try uxc 1.10 1.11. 1.12  1.13, all fail.

[2022-01-15 13:59] yosefe commented on #7845
Seems UCX was built without Cuda support.
Can you pls pass "--with-cuda=<path-to-cuda-install>" to ./configure when building UCX?

[2022-01-15 14:02] yosefe commented on #7813
It's assuming just memory detection would not cause a deadlock.
@spotluri @Akshay-Venkatesh WDYT?

[2022-01-15 22:31] Akshay-Venkatesh commented on #7813
Memory detection shouldn't deadlock as it wouldn't involve interaction with GPU queues.

[2022-01-16 13:49] brminich commented on #7708
@avildema, closing this one, as it is fixed in MTT config

[2022-01-16 13:49] #7708 closed

[2022-01-17 07:12] tomeybest commented on #7845
Rebuild ucx with cuda support and it really works. Thanks for your help and also thanks @yosefe.

[2022-01-18 11:50] karasevb commented on #7653
Refs https://github.com/open-mpi/ompi/issues/9884

[2022-01-20 10:11] angainor opened #7861 "Bus error and crashes due to memory exhaustion on one NUMA node"
With the newest HPCX 2.10.0 we see problems that very often result in user MPI applications crashing with
[code]
This is reproducible, we now have a simple way to trigger the above issue, and it seems to me it is related to UCX. The following tests have been performed on 32 compute nodes (128 ranks per node) running MLNX_OFED_LINUX-5.5-1.0.3.2, but the same holds for MLNX_OFED_LINUX-5.4-3.1.0.0. H

[2022-01-20 10:23] yosefe commented on #7861
@angainor if the user application uses up all ram on NUMA node 0, and OSU benchmark is run without UCX (OpenMPI TCP for example), does it still crash?

[2022-01-20 10:38] angainor commented on #7861
@yosefe Thank you! I did not think about that test. I run
[code]
and it crashes with the following:
[code]
I guess it's deeper than I thought.. Any ideas what that could be?

[2022-01-20 10:41] angainor commented on #7861
Although to be honest, I am not sure that the TCP transport works as it's supposed to. `osu_barrier` hangs forever. I think there is a connection issue. But the Bus error still happened.

[2022-01-20 10:41] yosefe commented on #7861
i would guess it has something to do with memory binding that mpirun might be doing. for the TCP connection issues, can try to use "-mca btl_tcp_if_include " filter.

[2022-01-20 10:44] angainor commented on #7861
@yosefe yes, `-mca btl_tcp_if_include ib0` works. The bus error is still triggered:
[code]

[2022-01-20 10:49] angainor commented on #7861
@yosefe The binding has not changed, and this crash only showed up after our December upgrade to MLNX_OFED_LINUX-5.4-3.1.0.0, new Lustre client, and HPCX 2.10.0. I don't think user-space application should be able to cause this. Don't you think this must come from the kernel somewhere? I mean, whatever the binding is, the default Linux allocation strategy is that if the code runs out of RAM on one

[2022-01-20 10:53] angainor commented on #7861
@yosefe and the second question remains: why does UCX allocate all of RAM from NUMA node 0 and 1 when I use the DC transport? Do you think I can somehow diagnose that better?

[2022-01-20 11:45] yosefe commented on #7861
Can you pls capture the following:
1. Set `UCX_HANDLE_ERRORS=freeze` to hold the process in bad state

Then, when it fails and freezes:
1. `for p in $(pgrep test_reg_mr); do echo $p; cat /proc/$p/numa_maps; done > numa_maps.txt` on one failing node
1. `cat /sys/class/infiniband/*/fw_pages > fw_pages.txt`
1. `odp_stat.sh > odp_stat.log`
1. Upload the 3 logs above

[2022-01-20 11:53] angainor commented on #7861
@yosefe The first line does not produce any output. `pgrep test_reg_mr` is empty.

2.
[code]

3.
[code]

[2022-01-20 11:56] angainor commented on #7861
@yosefe I guess you wanted the maps for a crashed process? This is from one that sent the Bus fault.

[numa_maps.txt](https://github.com/openucx/ucx/files/7904870/numa_maps.txt)

[2022-01-20 12:00] yosefe commented on #7861
@angainor sorry about that, it should be osu_alltoall and not test_reg_mr.
can you pls collect numastat:
`for p in $(pgrep osu_alltoall); do echo $p; numastat -p $p; done > numastat.txt`

Anyway, it seems FW is consuming the NUMA0 memory, which kinda makes sense since it's not aware of which process runs on each NUMA node, and probably tries to allocate memory closest to NIC.
If we can also confir

[2022-01-20 12:07] angainor commented on #7861
@yosefe Here is the output of the `numastat`. Note that I think this is dependent on the problem size. `osu_alltoall` triggers this for arrays of size 32k+, not for smaller ones. So it seems there are some data size-dependent communication buffers allocated here.

[numastat.txt](https://github.com/openucx/ucx/files/7904938/numastat.txt)

[2022-01-20 12:23] yosefe commented on #7861
according to this log, no process allocates more than 3MB of VM outside of its assigned NUMA node. So it must be coming from fw_pages.

[2022-01-20 12:28] angainor commented on #7861
@yosefe ok, thanks a lot! I will take this up with the vendor and Mellanox.

Thanks a lot for your help in diagnosing this, and for the `UCX_HANDLE_ERRORS=freeze` option - it's absolutely brilliant!

[2022-01-21 12:42] cgorac opened #7863 "ucx_perftest crash in uct_ib_mlx5_completion_with_err"
I have MLNX_OFED installed on a couple of RH 7.9 machines, with ConnectX-5 (MT27800 Family) adapters.  Machines also have 4 V100 GPUs, and have `gdrcopy` and `nvidia_peermem` (tried with `nv_peer_memory` instead, with the same outcome) drivers loaded.  The UCX version is 1.12.0, I tried with both the version that is pre-built and delivered along with MLNX_OFED, and one that I've built from source

[2022-01-21 12:49] yosefe commented on #7863
@cgorac seems there is problem with GPU direct on this setup.
Can you pls check if ACS is enabled? see https://docs.nvidia.com/deeplearning/nccl/user-guide/docs/troubleshooting.html#pci-access-control-services-acs

[2022-01-21 13:04] cgorac commented on #7863
Indeed that's it.  I've used `setpci` to turn off ACS on PLX PCI bridges that had it on, and now `ucx_perftest` works without crashing.  The bandwidth is not where I'd like to see it, but that's another topic.  Many thanks for your help!

[2022-01-21 15:54] cgorac commented on #7863
One more question here:  I realized later that MPI programs (it's OpenMPI in particular) that are linked with static version of CUDA runtime library still crash, with the same error, even if I turned off ACS on all PLX PCI bridges.  If I add UCX_MEMTYPE_CACHE=0, they they work (but performance this way is visibly worse than even if program copy data between GPU and host memory itself, and then pas

[2022-01-21 19:57] petro-rudenko opened #7864 "ucx.1.12 and master continuously trigger worker->event_fd"
### Describe the bug

### Steps to Reproduce

1.  Context and worker with WAKEUP_FEATURE .
2.  Reproduces on jazz with `UCX_TLS=rc UCX_NET_DEVICES=mlx5_4:1`
2.  Listener that creates backward endpoint on connection request + all endpoints with peer error handling mode. (Probably that's why doesn't reproduce with ucx_perftest since there's no sockaddr connection).
3.  Create connection from client

[2022-01-21 21:06] yosefe commented on #7863
@cgorac does it happen only with statically linked programs (so dynamic link of the same program works fine)?
does the program use cuda stream memory allocation (cudaMallocAsync)?

[2022-01-21 21:06] yosefe commented on #7864
@petro-rudenko maybe bisect to find the cause?

[2022-01-21 22:21] cgorac commented on #7863
Yes, the program in question crashes with the same error as mentioned above only if linked statically with CUDA runtime library.  It doesn't use cudaMallocAsync().

[2022-01-22 14:58] yosefe commented on #7863
@cgorac thanks for the clarification,
1. can you pls run the program with `export UCX_MEM_LOG_LEVEL=debug` and upload the resulting log?
2. do you know which Cuda API are used to allocate and release memory?

[2022-01-22 18:57] cgorac commented on #7863
Sure, the log is below (note that I removed function names etc. from the program itself in the stack traces etc., as these are not relevant anyway).  The program in question uses just couple of cudaMalloc() calls to allocate memory, actually it pre-allocates most of the memory needed by one of these calls, and then implements own pool allocator.

At the moment of crash, the program issues some MPI

[2022-01-22 19:16] yosefe commented on #7863
@cgorac unfortuantely the log above does not indicate a problem with memory hooks; is it possible to upload a reproducer code?
if not, can you pls rebuild UCX with debug log enabled and collect log file file `UCX_MEM_LOG_LEVEL=trace UCX_LOG_LEVEL=data` (can be big)? see also https://github.com/openucx/ucx/wiki/Logging

[2022-01-23 12:05] yosefe commented on #7653
closing as external

[2022-01-23 12:05] #7653 closed

[2022-01-24 09:41] cgorac commented on #7863
Tried to create minimal example with MPI_Isend()/MPI_Irecv() from/to GPU memory buffers and then MPI_Waitall(), but it won't crash even if linked with static version of CUDA runtime library, and even if it allocates much more GPU memory than actually needed.  So I'm attaching the log, with above mentioned logging options turned on, of the offending program.
[crash.log](https://github.com/openucx/u

[2022-01-24 12:53] yosefe commented on #7863
seems there is a mismatch betwen memory region range
`[1643015174.601669] [node1:19319:0]          rcache.c:957  UCX  TRACE mlx5_1: created region 0x239b6710 [0x7f4e42f37800..0x7f4e42f3c780] gt rw ref 2 lkey 0x23c43e rkey 0x23c43e atomic_rkey 0xffffffff`
and send operation buffer:
`[1643015174.601719] [node1:19319:0]       rc_mlx5.inl:482  UCX  DATA  QP 0x9b2 [494] SEND s-- [inl len 26] [va 0x7f4e

[2022-01-24 14:10] petro-rudenko commented on #7864
Caused by #7531

[2022-01-24 14:19] yosefe commented on #7864
if it causes wakeup once per 20 sec it should ok. is it more than that?

[2022-01-24 14:22] petro-rudenko commented on #7864
[code]
No it happens in 11 microseconds

[2022-01-24 14:28] yosefe commented on #7864
Not so good.. maybe need to change epoll on this fd to be edge triggered, or somehow clear events from it

[2022-01-24 14:55] petro-rudenko commented on #7864
With `UCP_WAKEUP_EDGE` the same.  Checking why it's triggering keepalive_fd not every 20 seconds as it should be:
[code]

[2022-01-24 15:43] cgorac commented on #7863
I confirm that it fixes it.

Just to clarify it: that is an issue with UCX itself, right?

[2022-01-24 16:02] dmitrygx commented on #7864
@yosefe @petro-rudenko we should do `read()` when the timer expired

[2022-01-24 16:33] yosefe commented on #7863
Thanks! Yes, it's an issue with UCX memtype cache logic

[2022-01-24 17:07] cgorac commented on #7863
Good, I hope then the fix lands in the next release.  I have now performance issues to examine, but I'm closing this one.  Many thanks for all your help!

[2022-01-24 17:11] yosefe commented on #7863
Thank you for reporting the issue! we plan to have the fix in v1.13.0 and v1.12.1.

[2022-01-24 17:12] yosefe commented on #7863
reopening the issue ; will close when PR is merged

[2022-01-24 17:58] petro-rudenko commented on #7864
Here's how to reproduce with file transfer demo:
1. Build code from #7859
2. On a server run: `./test/apps/file_transfer_demo/file_transfer_demo -f /hpc/local/tmp/prudenko/conf/container-executor.cfg -s 100 -n 1 -w`
3. On a client: `./test/apps/file_transfer_demo/file_transfer_demo -s 100 -n 1 -w -a 172.24.1.19` (replace IP with corresponding server IP).

[2022-01-24 22:17] vchuravy commented on #7110
This remains an issue https://discourse.julialang.org/t/cuda-aware-mpi-works-on-system-but-not-for-julia/75060/20?u=vchuravy and we have to tell users to explicitly disable CUDA mempool's support.

[2022-01-26 11:41] skypexu opened #7874 "ucs_sys_get_lib_path(）"
### Describe the bug
Does ucs_sys_get_lib_path() really return dir path ? it seems function ucs_config_parse_config_files() calling the ucs_sys_get_lib_path(）wants it return dir path but not a file path.

[2022-01-27 11:27] #7575 closed

[2022-01-27 15:52] lidavidm opened #7880 "ucx_perftest: TCP transport is slower when CUDA support enabled"
### Describe the bug

We noticed in an application that running with `UCX_TLS=tcp,cuda` is slower than running with just `UCX_TLS=tcp` (by about 25-75%) and were able to reproduce this with `ucx_perftest`.

### Steps to Reproduce

UCX version: 1.11.1, compiled from the GitHub release. (I can upgrade to 1.12 and re-test if desired.)
[code]

UCX flags used: `UCX_TLS=tcp` (baseline case), `UCX_TLS=tc

[2022-01-28 09:07] stdweird commented on #7861
@angainor we have been seeing this as well. can you share any updates/feedback/fixes from mellanox here when they get back to you? or if you have a case number, i can open my own case and refer then to yours (maybe to bump the prio a bit ;)

[2022-01-28 09:16] angainor commented on #7861
@stdweird we have a case through the vendor, so unfortunately I don't have direct access to Mellanox and I don't know their case number. What I've figured out is that

1. the Bus error was related to the Lustre client. We had version 2.12.6. Now that we upgraded to 2.12.8 the Bus error is gone.
2. the memory exhaustion is still not pinned, but I do know that it's somehow related to HPCX. When I ru

[2022-01-30 18:03] #7845 closed

[2022-01-31 06:28] #7874 closed

[2022-01-31 14:27] proutrc commented on #6264
I am curious if the recommended change helped for this issue. We are running into something seemingly similar with our WRF code.

What we see in UCX debug output:

[code]

The above error appears to happen during the MPI_IScatterv collective.

[2022-01-31 15:58] amirpavlo opened #7882 "rndv.c:1719 Assertion `sreq->send.rndv.lanes_count > 0' failed"
### Describe the bug
When running osu_bibw or osu_bw Host to Device with 2 processes on the same node, I get the assert:
rndv.c:1719 Assertion `sreq->send.rndv.lanes_count > 0' failed
The other process dies with a bad address error right after or with process not found
Device in this case is AMD GPU

### Steps to Reproduce
- mpirun --verbose --report-bindings --mca btl ^tcp,ofi,vader --mca pml ucx

[2022-01-31 21:53] proutrc commented on #6264
Unfortunately, this did not appear to help us

[2022-02-01 11:20] angainor opened #7885 "Q: HPCX and current state of DC and UD transports"
We are running HPCX 2.10 on our ConnectX-6 cluster. Recently we have switched to the UD transport as the default, because of various issues we've seen with DC. Things seem mostly fine, but one user reports seeing random events as follows:
[code]
I saw a number of similar reports here, and some of them have apparently been fixed. But it seems there are more outstanding issues of this type? When I l

[2022-02-01 11:33] yosefe commented on #7885
@angainor does it always happen during MPI finalize?
in general such timeout may suggest a problem within the fabric level, such as excess congestion, or packet drops

[2022-02-01 13:04] yosefe commented on #7885
Exactly, these errors are equivalent. I would suggest working with NVIDIA/Mellanox support to make sure the fabric is clean (for example no bad cables/ports).

[2022-02-01 14:41] dmitrygx opened #7886 "rc/test_ucp_wireup_errh_peer.stress_connect_force_disconnect/3 fails on hwi"
[code]
https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=36060&view=logs&j=fa9b49c1-d497-5b0a-6030-ccf18faa6d8c&t=93e5fb16-3d78-5d11-31b7-7eefd335b140&l=39417
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/36060/logs/445

[2022-02-01 16:40] #7864 closed

[2022-02-02 08:46] yosefe commented on #7863
Fixed by #7881 and #7791

[2022-02-02 08:46] #7863 closed

[2022-02-02 09:10] dmitrygx opened #7890 "tcp/test_ucp_peer_failure_keepalive.kill_receiver/1 fails on hwi"
[code]
https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=36089&view=logs&j=91485d7f-07f8-5dc4-be43-59794e62e572&t=9aca67d2-2f0a-5509-6a19-ed5514a50604
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/36089/logs/368

[2022-02-02 14:43] #7890 closed

[2022-02-03 11:09] rakhmets commented on #6808
The issue is fixed in frames of another issue. Here is a link to the corresponding issue: https://redmine.mellanox.com/issues/2865981 (NVIDIA internal link).

[2022-02-03 11:09] #6808 closed

[2022-02-03 11:09] rakhmets commented on #7595
The issue is fixed in frames of another issue. Here is a link to the corresponding issue: https://redmine.mellanox.com/issues/2865981 (NVIDIA internal link).

[2022-02-03 11:09] #7595 closed

[2022-02-04 07:50] dmitrygx opened #7898 "`progress_count == 0' assertion failed on UD during deactivating iface"
[code]
UD receives some data before being deactivated during `ucp_worker_create`.

[2022-02-04 12:33] dmitrygx commented on #7886
[code]

[2022-02-06 23:41] PHHargrove opened #7912 "Can I expect `ucp_{get,put}_nb()` to work on GPU memory?"
I am a developer on GASNet-EX, a communication library used by non-MPI programming models including UPC++, Legion and Chapel, among others.  We refer to our backends for individual network APIs as "conduits" and this is a report of a problem we have encountered trying to use GPUDirect RDMA (GDR) in our "ucx-conduit", with Nvidia GPUs and Mellanox InfiniBand HCAs

Summary of the problem:
- We are u

[2022-02-07 15:50] lyu opened #7914 "Compilation fails when CFLAGS contains -Og"
### Describe the bug
As of d756ea0, UCX fails to compile with GCC 11.2.0 and `CFLAGS="-Og"`.

### Steps to Reproduce

`./configure CFLAGS="-Og" && make`
- UCX version d756ea0

### Setup and versions
- OS version: CentOS 8.1.1911 AArch64
- GCC 11.2.0

### Additional information (depending on the issue)
Error Message:
[code]

[2022-02-07 18:59] yosefe commented on #7912
@PHHargrove currently GPU memory is not fully supported with the default protocols we have for ucp_put*, ucp_get*, and atomics. Indeed the workarounds you mentioned above would force zero-copy and GPU-direct will kick in.
Another option is to use the (currently experimental) support with protocols v2 by setting `UCX_PROTO_ENABLE=y`. This would make sure to use correct memory copies [such as gdrcop

[2022-02-07 21:49] PHHargrove commented on #7912
@yosefe Thanks for the quick response.
I have confirmed that with UCX 1.11.x and 1.12.0, use of `UCX_PROTO_ENABLE=y` appears to be an effective solution on both our local development cluster and OLCF's Summit.

I look forward to learning when this support is considered stable enough to be the default.
Is there an open issue for making `UCX_PROTO_ENABLE=y` the default?
I'd like subscribe to notific

[2022-02-08 04:47] vitduck opened #7917 "[GDR_COPY] Failure to detect gdr_copy during runtime"
### Describe the bug
OpenMPI/UCX failed to utilized gdr_copy despite being successfully built against it

### Steps to Reproduce
[code]
- UCX version
[code]
- UCX environmental variables: none

### Setup and versions
- OS version: CentOS Linux release 7.9.2009 (Core)
- MLNX_OFED version: 5.4-3.1.0.0
- HW information
[code]
 - GPU type: NVIDIA A100 80GB PCIe
 - Drivers version: 470.57.02
 - nv_peer

[2022-02-08 10:31] yosefe commented on #7917
@vitduck maybe the drive is not loaded? what is the output of `ls -l /dev/gdrdrv` and `lsmod|grep gdr`?

[2022-02-08 11:10] yosefe commented on #7912
@PHHargrove there are no currently open issues for RMA/AMO, but there are some incomplete features for tag and active messages API, and in general - need more perf tuning to ensure no degradation for different use cases before making it default.
You are welcome to subscribe to ucx-dev [mailing list](https://elist.ornl.gov/mailman/listinfo/ucx-group) for updates on new releases.

[2022-02-08 11:49] vitduck commented on #7917
Yes it was a puzzle to me since everything lined-up.
[code]
[code]
Yet it seems that ```ucx_perftest``` does not link to libgdrapi.so
[code]

[2022-02-08 13:09] yosefe commented on #7917
ucx_perftest would not link directly to gdrapi; it would load /usr/lib64/ucx/libuct_cuda_gdrcopy.so
Can you pls try the following steps:
1. Double check /dev/gdrdrv has access permissions
2. Run `env UCX_LOG_LEVEL=debug ucx_info -d` and post the resulting output

[2022-02-08 15:34] yosefe commented on #7917
@vitduck you can set UCX_LOG_LEVEL=info, and it will short a shortlist of transport that are actually going to be used for UCX communications. In addition, from OpenMPI side, can set "-mca pml ucx" to force using UCX component only.

[2022-02-08 20:55] lidavidm opened #7921 "ucx_perftest: UCP_REQUEST_FLAG_RNDV_FRAG assertion failure with `-m host,cuda`"
### Describe the bug

When running ucx_perftest and specifying `-m host,cuda` to receive data to GPU memory, the test hangs. (For our application, `ucp_am_recv_data_nbx` never completes when given a CUDA-allocated destination buffer. I didn't check if this is also the case in ucx_perftest.) If using a debug build of UCX, this assertion failure is also shown:

<details>
<summary>(expand) <tt>rndv.c

[2022-02-09 12:23] vitduck commented on #7917
We are conducting more tests and it seems that OpenMPI/UCX is now working well. We could also confirm the transport protocols via log options. I will close the this issue for now. Once again, thanks for your suggestions.

[2022-02-09 12:23] #7917 closed

[2022-02-09 18:50] lidavidm commented on #7921
And for what it's worth, setting `UCX_TLS=tcp,cuda_copy,cuda_ipc` does not run into this problem, nor does `UCX_TLS=ud_mlx5,cuda_copy,cuda_ipc`.

<details>
<summary>UCX_TLS=tcp</summary>

[code]

</details>

<details>
<summary>UCX_TLS=ud_mlx5</summary>

[code]

</details>

[2022-02-09 18:58] thomasgillis opened #7924 "OpenMPI `--mca osc ucx` fails with `Assertion `!(ep->flags & UCP_EP_FLAG_FLUSH_STATE_VALID...`"
### Describe the bug

I am using a PSCW synchronization with OpenMPI 4.1.2 and UCX 1.12

Sporadically (one or two runs out of 50) the programs stopped with an assertion error in UCX:

[code]

### Steps to Reproduce
- OpenMPI:
[code]
- UCX version: 1.12.0 from the tar (`wget https://github.com/openucx/ucx/releases/download/v1.12.0/ucx-1.12.0.tar.gz`)
- drivers: `rdma-core-17.2-3.el7.x86_64` and `li

[2022-02-11 17:27] dmitrygx commented on #7914
@lyu thanks for discovering this issue!
is it possible to check whether #7932 helps to fix all compiler warnings or not?

[2022-02-11 18:09] lyu commented on #7914
@dmitrygx Thank you! #7932 fixes the issue and all warnings are gone, ucx installed successfully.

[2022-02-11 18:18] dmitrygx commented on #7914
great! thanks for your testing!

[2022-02-12 07:04] #7914 closed

[2022-02-13 23:32] yosefe commented on #7921
@lidavidm can you pls check with https://github.com/openucx/ucx/pull/7936?

[2022-02-14 14:21] #7921 closed

[2022-02-14 18:50] edgargabriel commented on #7882
@amirpavlo Thank you for reporting. I can confirm that I can reproduce the problem. A quick fix for resolving the issue is to add the UCX_RNDV_SCHEME=put_zcopy environment variable to your command line, e.g.

```mpirun -x UCX_RNDV_SCHEME=put_zcopy -np 2 ./mytest ```

I will post a more detailed analysis of the problem shortly.

[2022-02-15 15:26] johnmoore4 opened #7945 "How to specify process to rail mapping for multi-rail"
Hello,

I am trying to run multi-rail bandwidth benchmarks across two nodes on a DGX-2 A100 system, using osu_micro_benchmarks. I am getting much lower bandwidth than expected between the GPUS, using the osu_mbw_mr test with eight pairs of processes, performing a ping/pong bandwidth test.

I expect that this is because the processes are not mapped to the rails in such a way that the GPU lies on th

[2022-02-15 16:43] tonycurtis opened #7946 "RUN: performance hit from ucx 1.11 to 1.12 with OMPI & OSU benchmarks"
### Describe the bug

Running v5.8 of the OSU benchmarks: here's the MPI pt2pt bidirectional b/w (2 nodes, 1 rank per node)

With Open-MPI 4.1.2 + UCX 1.11.2

[code]

With Open-MPI 4.1.2 + UCX 1.12 (.0 and .1-rc2)

[code]

UCX_LOG_LEVEL=info shows rc_mlx5 is being used inter-node

### Setup and versions
- OS version (e.g Linux distro) + CPU architecture (x86_64/aarch64/ppc64le/...)
   - `cat /etc/

[2022-02-15 16:43] tonycurtis opened #7947 "RUN: performance hit from ucx 1.11 to 1.12 with OMPI & OSU benchmarks"
### Describe the bug

Running v5.8 of the OSU benchmarks: here's the MPI pt2pt bidirectional b/w (2 nodes, 1 rank per node)

With Open-MPI 4.1.2 + UCX 1.11.2

[code]

With Open-MPI 4.1.2 + UCX 1.12 (.0 and .1-rc2)

[code]

UCX_LOG_LEVEL=info shows rc_mlx5 is being used inter-node

### Setup and versions
- OS version (e.g Linux distro) + CPU architecture (x86_64/aarch64/ppc64le/...)
   - `cat /etc/

[2022-02-15 16:48] tonycurtis commented on #7946
No idea why this got posted twice

[2022-02-15 17:26] tonycurtis commented on #7947
@yosefe that worked.  Setting THRESH=4m reproduces the original behavior

[2022-02-15 17:40] yosefe commented on #7947
And RNDV_THRESH=16k with 1.12 was still bad perf?

[2022-02-15 18:27] tonycurtis commented on #7947
Sorryr, wasn't cklear.   The 16k setting was back where I expected it to be (same as 1.11)

[2022-02-16 19:35] tonycurtis commented on #7947
Just as sanity check: with 1.12.x, on ThunderX2, `ucx_info -c` shows RNDV_THRESH=16k as before.  But on a64fx, RNDV_THRESH=auto.  UCX 1.11 has 16k on both.

[2022-02-17 00:12] vanzod commented on #4224
A very similar issue also happens outside a containerized environment.
Moreover, it seems to be transient since not all MPI runs end in an error as shown below for two consecutive MPI launches on the same system.

- OpenMPI 4.1.1
- UCX 1.11.2
- OSU Micro Benchmarks 5.7.1

[code]

[2022-02-17 00:32] zasdfgbnm opened #7955 "UCS: linking failed due to libiberty.a"
I am getting the following error when compiling UCX:

[code]
The command used to build UCX is:
[code]

[2022-02-17 08:29] yosefe commented on #7955
@zasdfgbnm Can you please provide more system details according to the bug template ?https://github.com/openucx/ucx/blob/master/.github/ISSUE_TEMPLATE/bug_report.md

[2022-02-17 18:49] zasdfgbnm commented on #7955
Hi, @yosefe a large portion of system info in that template is unrelated because I don't have anything like an IB network card, and this is a build issue. I think the related information is: Archlinux + GCC 11.2. You can reproduce the build issue in my environment using the following Dockerfile:
[code]

[2022-02-18 14:21] yosefe commented on #7955
@zasdfgbnm UCX currently does not fully support archlinux.
as a workaround for this specific issue, can add `--without-bfd` to the configure command

[2022-02-18 15:50] jw292 opened #7960 "ucx_perftest. UCP tests work. UCT tests fail. "no such device""
### Describe the bug
ucx_perftest works for UCP tests .  But fails on UCT tests  with "no such device" even though I'm specifying the same device.   I am using the device name as reported by ucx_info -d | grep Device

### Steps to Reproduce
Run UCP test:

[code]

From second node
[code]

But UCT tests such as am_lat fail :

`    ucx_perftest -t am_lat -c 0 -d mlx5_0:1 -x rc`

From second node:

[c

[2022-02-18 16:27] brminich commented on #7960
for UCT tests you'd need to use UCT tl names, like you can find in output of `ucx_info -d  | grep Transport`
Can you please try `rc_verbs` or `rc_mlx5`?

[2022-02-18 16:31] yosefe commented on #7960
hi @jw292 ,
when running UCT layer tests, the name of the transport has to be exactly as appears in "ucx_info -d" in "Transport: " section.
for example, try using "-x rc_mlx5" instead of "-x rc".
(UCP layer has aliases for some transports; that's why UCX_TLS=rc works)

[2022-02-18 17:29] jw292 commented on #7960
Yes, that works.   @brminich and @yosefe thanks for the quick response.

[2022-02-18 17:29] #7960 closed

[2022-02-19 08:30] alex--m opened #7964 "activate_count assertion fails on event-based interfaces"
### Symptom
[code]
### Probable Cause

Looks like a simple bug to me: UCP tries to deactivate the _tcp/lo_ interface in `ucp_worker_iface_deactivate`, after **NOT** being activated in `ucp_worker_iface_check_events_do` (it was armed in ucp_ep.c:639). This causes the assertion to fail, since `activate_count` is zero.

### Steps to Reproduce
- Can be reproduced with my client/server tester - ["ucg_h

[2022-02-19 08:32] alex--m commented on #7964
Forgot to mention: this happens with UCX master.

[2022-02-20 10:59] yosefe commented on #7964
@alex--m was the issue introduced by https://github.com/openucx/ucx/pull/7819?

[2022-02-20 12:17] yosefe commented on #7964
Also, any chance you can try with this patch, that has more fine-grained assertion (to check if the problem is with progress_ep calls):
[code]

[2022-02-20 12:32] alex--m commented on #7964
I'll check later today

[2022-02-20 13:25] jsofri opened #7968 "ucp_ep_create fails when ep_params.err_mode = UCP_ERR_HANDLING_MODE_NONE"
### Describe the bug
UCP endpoint is created with `ep_params.err_mode = UCP_ERR_HANDLING_MODE_NONE` fails, but the same app runs successfully when `ep_params.err_mode = UCP_ERR_HANDLING_MODE_PEER`.

### Steps to Reproduce
- This happens in an inner application, see UCX logs/contact me to reproduce
- UCX version used : 1.12 debug version, taken from [HPC-X](https://developer.nvidia.com/networking/h

[2022-02-20 13:27] yosefe commented on #7968
@jsofri it seems the "aggreggator" is disconnecting from the "collector" in a one-sided manner, which is supported only with `UCP_ERR_HANDLING_MODE_PEER`

[2022-02-20 14:03] jsofri commented on #7968
@yosefe Thanks for the fast reply. My final goal is to to run over TCP connection. As far as I know `UCP_ERR_HANDLING_MODE_NONE` should be used instead of `UCP_ERR_HANDLING_MODE_PEER` (and also exporting `UCX_TCP_CONN_NB=y`). So the question is how can one set a stable UCP connection without Infiniband?

[2022-02-20 16:07] yosefe commented on #7880
The issue is because cuda_ipc transport is also present, it forces a low value of UCX_RNDV_THRESH (switching from eager to rendezvous protocol) - which is better for Cuda memory, but less optimal for Host memory.
A workaround would be to either set `UCX_TLS=tcp,cuda_copy` (to remove cuda_ipc), or tune `UCX_RNDV_THRESH=128k`

[2022-02-20 18:41] yosefe commented on #7968
@jsofri UCP_ERR_HANDLING_MODE_NONE should not be needed for TCP. What was the initial reason to use it? Is there any use case (with TCP) that fails with UCP_ERR_HANDLING_MODE_PEER ?

[2022-02-21 07:56] jsofri commented on #7968
@yosefe Actually yes, I am testing TCP since the real issue is when the collector runs on an ethernet DPU.
here are the logs:

[x86_1.12_aggregator.txt](https://github.com/openucx/ucx/files/8107272/x86_1.12_aggregator.txt)
[arm_1.12_collector.txt](https://github.com/openucx/ucx/files/8107273/arm_1.12_collector.txt)

**Details** -
aggregator is the same as in original post.
collector:
is a DPU
ubun

[2022-02-21 08:33] hoopoepg commented on #4224
hi
does setting ```UCX_POSIX_USE_PROC_LINK=n``` helps?

[2022-02-21 15:44] shamisp commented on #7880
@yosefe I don't think host memory is used in this case since only TCP is explicitly listed. What is the default threshold for cuda_ipc ? I suspect it goes back to the same issue that we discussed earlier - there is no easy way to detect if cuda is actually used by the application ?

[2022-02-22 07:22] brminich opened #7977 "rc_verbs/test_uct_loopback.envelope/1 failed on swx-rdmz-ucx-new-02"
### Describe the bug
https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=38079&view=logs&j=2a24149b-54e0-5984-9c93-20e052df9aa1&t=dd21d9cb-1523-5d6f-1ce5-be729ddf5100

[code]

[2022-02-22 17:55] alex--m commented on #7964
Ran a patched version (without my fix), got the following:
[code]

[2022-02-22 18:07] puneet336 opened #7978 "UCX ERROR mlx5dv_devx_obj_create(QP) failed, syndrome 0: Cannot allocate memory"
While trying to run an application, i get following issue  -
[0] MPI startup(): libfabric provider: mlx
[1645552289.027611] [m7-31:723275:0]      ib_mlx5_dv.c:161  UCX  ERROR   mlx5dv_devx_obj_create(QP) failed, syndrome 0: Cannot allocate memory
Abort(1091215) on node 5 (rank 5 in comm 0): Fatal error in PMPI_Init: Other MPI error, error stack:
MPIR_Init_thread(138)........:
MPID_Init(1139)......

[2022-02-22 18:09] alex--m commented on #7964
tried with my fix, just to be sure, and it's the same output.

[2022-02-22 18:10] petro-rudenko opened #7979 "Memh request params on am_data_recv + multi lane assert on UCP_MAX_OP_MDS"
### Describe the bug
SparkUCX, setting memh request parameter to ucp_am_recv_data request causes assertion error.

### Steps to Reproduce
1. dt transport is used
2. memh request parameter. W/o it it works.
3. memh was obtained from ucp_mem_map (Alloc flag)

[code]

error happens here: https://github.com/openucx/ucx/blob/master/src/ucp/core/ucp_request.inl#L537
[code]

From the log:
[code]

so it d

[2022-02-22 18:29] alex--m commented on #7964
@yosefe Re. #7819 - No. I checked with revision 91f01783a (the one before that PR was merged) and the output is the same (assertion error).

[2022-02-22 19:27] lidavidm commented on #7880
@yosefe thank you! I can confirm that either workaround restores performance:

<details>

[code]

</details>

[2022-02-22 20:51] Artemy-Mellanox commented on #5749
Maybe you can attach from old kernel fw config:
`sudo mlxconfig -d /dev/mst/mt4115_pciconf0 q`

[2022-02-23 09:02] yosefe commented on #7968
@jsofri
1. can you keep using `ep_params.err_mode = UCP_ERR_HANDLING_MODE_PEER`?
2. the above failure can be a connectivity or setup issue. does basing `ping` test work (using ip addresses)?

[2022-02-23 09:10] yosefe commented on #7978
@puneet336 can you please run the test with UCX_LOG_LEVEL=info and provide the output?

[2022-02-23 09:43] sb22bs commented on #5749
Hi

okay...here you go... - installation is without ofed and a fresh
installation of mft-4.5.0-31.x86_64
(Linux n-62-31-24 3.10.0-1160.53.1.el7.x86_64 #1 SMP Tue Jan 11 08:25:52 CST 2022 x86_64 x86_64 x86_64 GNU/Linux)

[code]

[2022-02-23 10:01] jsofri commented on #7968
@yosefe the last example is with `ep_params.err_mode = UCP_ERR_HANDLING_MODE_PEER`. `ping` works on both directions

[2022-02-23 18:03] petro-rudenko commented on #7979
Trasport doesn't matter here. Reproduces on rc. Only multilane. With a single lane it works.

[2022-02-24 07:48] Artemy-Mellanox commented on #5749
Can you please run failing ucx_info with strace `UCX_LOG_LEVEL=debug strace -o ./strace.log -s 256 ucx_info -d`
and attach ./strace.log

[2022-02-24 07:57] sb22bs commented on #5749
Yes....attached.
[strace.log](https://github.com/openucx/ucx/files/8130663/strace.log)

Thanks :)

[2022-02-24 08:12] Artemy-Mellanox commented on #5749
Can you please send output of `rpm -qi libibverbs`

[2022-02-24 08:13] sb22bs commented on #5749
here it is:
[code]

[2022-02-24 10:23] Artemy-Mellanox commented on #5749
Can you please verify that in this case it's still same libibverbs version and not some other, probably installed by OFED

[2022-02-24 11:02] sb22bs commented on #5749
This machine is and was OFED-free.

Just compiled a fresh openucx on this box....

[code]

[2022-02-24 11:11] Artemy-Mellanox commented on #5749
please try `ldd ~/local/openucx-test-1.12.0-n-62-31-24/lib/ucx/libuct_ib.so`

[2022-02-24 11:24] sb22bs commented on #5749
[code]

[2022-02-25 12:42] yosefe commented on #7880
Actually this problem is solved with protocols v2: the rndv threshold is per memory type (which is detected per operation)
In protocols v1, however, the rndv threshold is global. So even though the test uses host memory (and eventually TCP), the rndv threshold is according to cuda_ipc.

[2022-02-25 13:38] brminich commented on #4224
@vanzod, can you please check whether setting UCX_POSIX_USE_PROC_LINK=n environment variable helps?

[2022-02-26 14:38] shamisp commented on #7880
@yosefe excelent !

[2022-02-28 12:11] yosefe commented on #7979
Fixed by #7987

[2022-02-28 12:11] #7979 closed

[2022-02-28 12:48] Artemy-Mellanox commented on #5749
Looks like this libibverbs version has bug, could you please update it, version 22.4-2 or later should have a fix to this.

[2022-02-28 18:02] sb22bs commented on #5749
Yes.... thanks a lot...confirmed....

using the updating the infiniband-packages which are coming with Scientific-Linux-7.9 are
fixing the issue....:

[code]

Case closed.... (at least from our side...)

Thanks again + Best regards, Sebastian

[2022-02-28 22:02] SeyedMir opened #7989 "ucp_mem_map returns success even if NIC registration fails"
### Describe the bug
ucp_mem_map returns success as long as some memory domain succeeds to register the given region. This is misleading for the caller of ucp_mem_map because for instance, if the NIC (ib memory domain) fails to register cuda memory but the cuda memory domain succeeds with its registration, ucp_mem_map will still return success.

More specifically, I ran into this issue on a system

[2022-02-28 22:07] SeyedMir commented on #7989
@Akshay-Venkatesh @yosefe @bureddy

[2022-03-01 12:14] OneOfStep opened #7991 "RoCE/ucp_client_server: Destination is unreachable"
### Describe the bug
hi, I'm running ucp_client_server with rdma, but I see the following error by client
[code]
Is there another env parameter not export?

### Steps to Reproduce
- **commond line**
**server**
[code]
**client**
[code]

- **commond  output**
**server**
[code]
**client**
[code]

- **ucx version**
[code]

- **gid info**
[code]

[code]

- **OS version + CPU architecture (x86_64/aarch6

[2022-03-01 17:55] yosefe commented on #7991
@OneOfStep can you pls run the same test after doing `export UCX_LOG_LEVEL=data` and upload the resulting log file (rebuild UCX with something like `$ucx_dir/contrib/configure-devel --prefix=$PWD/install`)?
another thing - try basic `ib_send_lat` test with rdma_cm. server: `ib_send_lat -R`, client: `ib_send_lat -R 108.80.25.56`

[2022-03-02 02:00] OneOfStep commented on #7991
### ib_send_lat test is OK.
**server**
[code]
**client**
[code]

**ucx_client_server log**
[ucx_client.log](https://github.com/openucx/ucx/files/8165992/ucx_client.log)
[ucx_server.log](https://github.com/openucx/ucx/files/8165993/ucx_server.log)

[2022-03-02 09:04] jsofri opened #7996 "assertion after connection made with ethernet DPU"
a UCP endpoint is created between an ethernet DPU and an x86 server. `UCX_NET_DEVICES` points to ethernet devices on both machines, soon after the connection, program aborts, probably because [this assert](https://github.com/openucx/ucx/blob/488cb507f12dbb6904bd7e7058bb1e7206ddc525/src/uct/ib/ud/base/ud_ep.c#L824):
[code]
### Steps to Reproduce
- UCX environment variables used:
   - UCX_LOG_LEVEL=

[2022-03-02 11:50] puneet336 commented on #7978
I have changed the compiler to openmpi 4.1.2, and i get same issue with UCX_TLS=self,sm,rc_x.
error log is here-

[2022-03-02 13:28] dmitrygx commented on #7996
what is the UCX version used by you?
I think that the `neth->psn < ep->rx.ooo_pkts.head_sn` (i.e. `1` < `3`) case should be handled here:
https://github.com/openucx/ucx/blob/488cb507f12dbb6904bd7e7058bb1e7206ddc525/src/uct/ib/ud/base/ud_ep.c#L815
see https://github.com/openucx/ucx/pull/7353 PR description which fixes the issue.

[2022-03-02 15:30] shimmybalsam opened #7997 "Incorrect op for ucs_memory_bus_fence() in aarch64"
### Describe the bug
Could not compile on arm machine due to non-existent op (based on [arm developer documentation](https://developer.arm.com/documentation/100941/0100/Barriers) in src/ucs/arch/aarch64/cpu.h, where:

#define ucs_aarch64_dmb(_op)          asm volatile ("dmb " #_op ::: "memory")
#define ucs_memory_bus_fence()        ucs_aarch64_dmb(oshsy)

### Steps to Reproduce

### Setup and vers

[2022-03-02 16:03] yosefe commented on #7997
can you please post details of CPU and compiler?

[2022-03-02 17:01] shimmybalsam commented on #7997
CPU:

![image](https://user-images.githubusercontent.com/38699071/156410543-399f6403-dbef-4d9d-85bb-dfe8b94b05ee.png)

Compiler:

![image](https://user-images.githubusercontent.com/38699071/156410722-d4d16416-13f0-4790-9685-8ea4512ec6f1.png)

[2022-03-02 18:07] shamisp commented on #7997
@yosefe looks like a typo. I think CI does not catch this because the macro `ucs_memory_bus_fence` is not used anywhere (at least I cannot find). If it is not used, I think we should just remove it.

[2022-03-02 18:08] yosefe commented on #7997
+1 to remove it

[2022-03-02 18:47] shamisp commented on #7997
ok, I will prepare patch later today

[2022-03-02 23:58] yosefe commented on #7991
It seems UCX was configured `--without-rdmacm`, but on other hand trying to connect to RDMA IP address and force `UCX_NET_DEVICES=mlx5_bond_0:1`. This is not a valid combination;
Is it possible to build UCX with default configure flags (that enable rdmacm)?

[2022-03-03 02:37] OneOfStep commented on #7991
ucx_client.log
[code]
using tcp cms failed.

if export UCX_TLS=rc,tcp; export UCX_NET_DEVICES=mlx5_bond_0:1,fsb_data0，run OK.

[2022-03-03 02:44] OneOfStep commented on #7991
ucx_client.log
[code]
using tcp cms failed.

if export UCX_TLS=rc,tcp; export UCX_NET_DEVICES=mlx5_bond_0:1,fsb_data0，run OK.
**server**
`export UCX_LOG_FILE=./ucx_server.log;export UCX_TLS=rc,tcp; export UCX_NET_DEVICES=mlx5_bond_0:1,fsb_data0;export UCX_LOG_LEVEL=DATA;./ucp_client_server -c am -s 102400 -l 108.80.25.56`
**client**
`export UCX_LOG_FILE=./ucx_client.log;export UCX_TLS=rc,tcp; expo

[2022-03-04 09:14] #7955 closed

[2022-03-05 18:19] tonycurtis commented on #7947
Issue still present in 1.12.1-rc3

[2022-03-05 18:25] yosefe commented on #7947
@tonycurtis can you pls confirm if adding https://github.com/openucx/ucx/pull/7967 on top of v1.12.x fixes the issue?

[2022-03-05 18:43] tonycurtis commented on #7947
Applied patch (hunk #11 rejected), same problem and same fix

[2022-03-06 12:39] #7977 closed

[2022-03-07 11:10] yosefe commented on #7947
@Artemy-Mellanox can you pls port the fix to v1.12.x? please refer to this issue in PR description.

[2022-03-09 16:10] BKitor opened #8022 "UCX AMO fails when LOG_LEVEL set to debug"
### Describe the bug
Running UCX with atomics enabled and UCX_LOG_LEVEL=debug fails on an assert in `ucp_worker_print_used_tls()`

Log output and `ucx_info -d`:
https://gist.github.com/BKitor/a0500c14c27d022eaea03e50883293f3

### Steps to Reproduce
I can reproduce it with `ucx_perftest localhost -t ucp_fadd`
[code]
ppc64le
Red Hat Enterprise Linux release 8.2 (Ootpa)

libibverbs-41mlnx1-OFED.4.9.0

[2022-03-09 22:22] BKitor commented on #8022
nvmd, upgraded to 1.12.1 and it's fixed, I'm silly...

[2022-03-09 22:22] #8022 closed

[2022-03-10 12:33] petro-rudenko opened #8024 "Segfault in ucp_worker_print_used_tls"
### Describe the bug
[code]

### Steps to Reproduce

[code]

Seems like no varargs are passed to `ucs_string_buffer_appendf`

[2022-03-11 08:00] OneOfStep opened #8027 "V1.12.0 --without-go build error"
[configure.log](https://github.com/openucx/ucx/files/8230292/configure.log)
### Describe the bug
when configure-release --without go，buildrpm.sh -t -b fail
[code]

### Steps to Reproduce
- Command line
[code]

[code]

- Command line
[code]

[code]

[configure.log](https://github.com/openucx/ucx/files/8230355/configure.log)

[2022-03-11 08:25] OneOfStep commented on #8027
[configure.log](https://github.com/openucx/ucx/files/8230298/configure.log)

[2022-03-14 18:25] #8027 closed

[2022-03-16 06:19] #8024 closed

[2022-03-16 09:15] dmitrygx commented on #7996
@jsofri did you have a chance to check v1.12 or master branch?

[2022-03-16 12:22] #5749 closed

[2022-03-16 17:35] janjust commented on #7674
Can we try rerunning once the PR is in? Should be fixed with open-mpi/ompi#10126

[2022-03-16 22:33] vanzod commented on #4224
@hoopoepg @brminich Unfortunately even with that environment variable the error still occurs sometimes.
One thing that I noticed is that this issue presents itself only on AMD Epyc Milan processors (7V12, 7V13).
I have a working test environment so happy to run more tests if needed.

[2022-03-17 04:13] BKitor opened #8048 "Question: When is target size progress required for RMA operations?"
I'm working on a project involving RMAs and GPU buffers. As per #7912, I've been using `UCX_PROTO_ENABLE=y` in order to get RMAs working with GPU buffers, but I'm now running into issues because certain transports seem to need target side progress in order complete. Can anyone confirm this? Plus, is there any way to guarantee the selection of a transport that doesn't require target side progress.

[2022-03-17 11:53] cgorac opened #8049 "UCX ERROR ibv_reg_mr failed: Bad address"
### Describe the bug

(I think [this](https://github.com/openucx/ucx/issues/4513) issue is relevant to my problem, in particular the part about handling GPUs with limited BAR size.)

So: I have a code that is passing GPU pointers to MPI calls.  The details of the setup are provided below, but in general most of the machines on the network have V100 GPUs, and everything is working fine in this case

[2022-03-18 23:27] dmcdougall opened #8054 "MPI_Init segfaults with UCX v1.12.0"
### Describe the bug
A call to `MPI_Init` gives this error message:
[code]

This worked in UCX v1.11.2 and fails in UCX v1.12.0.  Here is a backtrace:

[code]

### Steps to Reproduce
- Command line

[code]

- UCX version used (from github branch XX or release YY) + UCX configure flags (can be checked by `ucx_info -v`)

[1.12.0](https://github.com/openucx/ucx/releases/tag/v1.12.0) tarball built lik

[2022-03-19 12:05] yosefe commented on #8054
I think we fixed it with 1.12.1. Can you pls try with https://github.com/openucx/ucx/releases/tag/v1.12.1-rc4?
cc @edgargabriel

[2022-03-20 00:41] dmcdougall commented on #8054
Confirmed.  UCX v1.11.2 works, UCX v1.12.0 segfaults, and UCX v1.12.1 works.

Thanks!

[2022-03-20 00:41] #8054 closed

[2022-03-23 10:03] yosefe commented on #8048
By default transports that do not require target side progress are selected, unless no such transports are found, in which case there is a fallback to transports that require it.
Can you pls provide more details about the issue?
Also, could run with "env UCX_LOG_LEVEL=debug UCX_PROTO_INFO=y" and upload the output to understand why target side progress was needed .

[2022-03-23 18:46] BKitor commented on #8048
Thanks for looking into this for me.
Here's the UCX debug log [dbg_out.txt](https://github.com/openucx/ucx/files/8335631/dbg_out.txt)

Some other details:
[code]

[code]

[code]

[2022-03-24 11:54] jsofri commented on #7996
@dmitrygx not fully, we are restricted by a specific mofed version.. Need to further investigate this

[2022-03-24 12:05] yosefe commented on #7996
we believe the error should be fixed by the PR above, in UCX v1.12.x

[2022-03-26 14:04] yosefe commented on #8048
It seems the currently selected transports (shared memory and RC) should work w/o target side progress in most cases.
Which kind of operation and memory types are being used for source and target buffers?
Is it possible to upload the test code?

Alternatively, can try UCX from master branch, along with "UCX_PROTO_INFO=y" and "UCX_LOG_LEVEL=data" to create a more detailed log file to see why target

[2022-03-30 15:48] thomasgillis opened #8079 "installation fails in ucxperftest when no mpi available"
Dear UCX team,

I am trying to build UCX (1.12.1) in order to build openMPI right after (I have no mpi available at the moment).
However, the installation fails when compiling `ucx_perftest`:

[code]

I tried to disable the perftests with
[code]
but it still tries to build them.

What is the correct way of not building the perftest?

Thanks for your help!

[2022-03-30 16:38] yosefe commented on #8079
pls try "--without-mpi"
[code]

[2022-03-30 17:45] thomasgillis commented on #8079
Thanks for your answer, I have just tried both `--with-mpi=no` and --without-mpi` but the configuration still produces
[code]
Is there anything that you have in mind and that could prevent the command line to be correctly processed?

[2022-03-30 17:47] yosefe commented on #8079
can you pls upload the full output of configure command, and also config.log?

[2022-03-30 17:48] yosefe commented on #8079
BTW, maybe MPICC or MPIRUN environment variables are set?

[2022-03-30 17:51] thomasgillis commented on #8079
Ha yes, indeed!
Let me fix that and try again

[2022-03-30 19:32] shamisp commented on #8079
@yosefe if a user explicitly requests through the configure not to use MPI, we probably should not pickup the environment variables.

[2022-03-31 13:47] #8079 closed

[2022-04-01 11:29] brianjmurrell opened #8087 "ABI compatibility?"
Using the very handy abipkgdiff I compared the ABI from a 1.9.0 build of libucs.so.0.0.0 on Leap 15 to a 1.11.1 build on the same platform.  The report output was:

[code]

The 5 added variables would explain the "undefined symbol: ucs_thread_mode_names" that I got when trying to run a binary created with libucs0 1.11.1 on a system with libucs0 1.9.0.

But my understanding is that ABI versioning i

[2022-04-05 14:02] lidavidm opened #8092 "dlopen of libucm_cuda fails due to symbols from libucs not being found"
### Describe the bug

When initializing the memtype cache, UCX fails to dlopen libucm_cuda because it depends on symbols from libucs, but does not actually link to it. Normally this is fine. However if UCX was itself dlopened, which happens in cases like Python loading an extension module, libucs won't be in ld.so's scope. This generates a log message like

[code]

In our environment, this leads t

[2022-04-06 13:28] awlauria opened #8100 "Segmentation fault with UCX v1.12.1 with OpenMPI v5.0.x"
### Describe the bug

I am able to hit a consistent segv with UCX v1.12.1 with a simple MPI init/finalize app. The segv happens in `MPI_Init()` with OMPI `main` or `v5.0.x` branches, I have not tried with the `v4` series. The issue does not reproduce with UCX `v1.11.2`.

The segv only happens when passing nothing to the configure line except `--prefix`. Configuring with `contrib/configure-release`

[2022-04-06 13:34] yosefe commented on #8100
@awlauria latest UCX releases no longer support MLNX_OFED_LINUX-4.x versions.
is it feasible to upgrader to MLNX_OFED 5.x series?

[2022-04-06 13:50] awlauria commented on #8100
Thanks for the quick response @yosefe . Not for these machines, no. We keep them at the current 4.9 levels.

If it's not supported I don't mind closing this issue. However, it could be a real bug considering the difference in configure line is what causes it to manifest. configure-release only adds ```--disable-logging --disable-debug --disable-assertions --disable-params-check ```

[2022-04-06 14:33] shamisp commented on #8100
@yosefe Also, IMHO it should not segfaul in a runtime - configure or runtime should detect and complain about older version. If it works with one configure and does not work with another, it is definitely a but.

[2022-04-06 14:35] yosefe commented on #8100
@Artemy-Mellanox can you pls add a minimal change that disables mlx5 over exp verbs during configure time?
cc @gleon99

[2022-04-06 14:36] yosefe commented on #8100
regarding this specific issue - it's a debugging code that was added recently (to detect CQ overrun)

[2022-04-06 14:42] shamisp opened #8101 "RFC: uct_md_mem_dereg_v2 - arg list revision"
Current function signature is not consistent with API guide lines:
[code]

where:
[code]

The `uct_mem_h                    memh` is mandatory field for the call and should be part of argument list and not `uct_md_mem_dereg_params`.
I suggest to change the current api to
`ucs_status_t uct_md_mem_dereg_v2(uct_md_h md, uct_mem_h memh, const uct_md_mem_dereg_params_t *params)`

[2022-04-11 07:43] abhishek-ml-ai commented on #2188
Hi,
I have the following questions on RDMA write operations..
I have the following questions on the same.
1. What is the difference between RDMA write and RDMA write with immediate?
2. Can we process the received data from the buffer using RDMA write method? [Assuming client sends data to server using RDMA write method and I want to process the data from the server side buffer]
3. Can we process t

[2022-04-11 13:25] shamisp commented on #2188
@abhishek-ml-ai Since it is IB standard related question I believe it will be best to refer to the standard https://www.afs.enea.it/asantoro/V1r1_2_1.Release_12062007.pdf
Page  (129)

[2022-04-13 19:08] evgeny-leksikov commented on #6194
also reproducible on jazz

[2022-04-15 13:37] jjhursey commented on #8100
I've hit this too. I would have thought that configure would tell me that this configuration is not supported rather than a segv at runtime.

Can you all clarify the last release UCX release that supports MOFED 4.9? Is it UCX 1.11?

[2022-04-15 15:40] yosefe commented on #8100
It's UCX v1.10.

[2022-04-20 08:16] hoopoepg commented on #4224
hi @vanzod
sorry for late response - we are in release process.

is it possible to build UCX with debug info (add `--enable-debug` tp configure arguments) and run failed test with debug log level `env UCX_LOG_LEVEL=debug`?

thank you

[2022-04-20 13:35] haampie opened #8139 "ucx hangs when compiling with nvhpc and anything above -O1, assertion triggered"
### Describe the bug
When compiling ucx with NVHPC compilers v22.3, and using mlx5_0:1, ucx_perftest hangs, and when `^C`'ing, the server triggers an assertion. The exact same setup with GCC works fine.

### Steps to Reproduce

I've built ucx with Spack, using the following environment

<details>
<summary>Spack environment</summary>

[code]

</details>

<details>
<summary>Concretized environment:<

[2022-04-20 13:47] haampie commented on #8139
To complicate things, it does not always hang or trigger the assertion :(. Maybe undefined behavior / compiler bug?

[2022-04-20 16:41] hoopoepg commented on #4224
hmmm, as I can see there is POSIX SHM infrastructure in inaccessible from process for some reasons.
let's try to force sysV shm transport: cat you add variable `UCX_TLS=sysv,cma,ib` to test run?

thank you

[2022-04-22 14:50] vanzod commented on #4224
@hoopoepg Here is the log you asked for:

https://gist.github.com/vanzod/cddbda25b9674a38de5b6e886db255da

[2022-04-22 14:56] hoopoepg commented on #4224
does it works as expected?

[2022-04-22 14:58] hoopoepg commented on #4224
I don't see there any critical errors

[2022-04-22 15:04] vanzod commented on #4224
No, now it fails consistently.
For some reason the previous gist does not provide the full file view. Please find the full log at:

https://gist.github.com/vanzod/ce6cfc5b823bfe5d71f4e1c8097a1e43

[2022-04-22 15:18] hoopoepg commented on #4224
I see from logs that endpoint is created and UCX is able to allocate shared memory, still don't see any issues. non-complete log file?
could you zip log file and send it to sergeyo@nvidia.com ?
thank you

[2022-04-22 15:45] hoopoepg commented on #4224
thank you for logs.
so, as I can see UCX was able to startup, but process exit with error.

could you run ucx_perftest application (installed with UCX package) to check if UCX is able to run on your system? run commands on compute nodes:
[code]

and in case if it failed set UCX_LOG_LEVEL=debug and send logs to me

thank you

[2022-04-22 17:48] vanzod commented on #4224
@hoopoepg ucx_perftest completed successfully. Here is the output:

[code]

[2022-04-23 06:18] hoopoepg commented on #4224
looks like OMPI is trying to use posix SHM and failed to initialise.

[2022-04-23 14:36] #4549 closed

[2022-04-24 07:10] hoopoepg commented on #4224
@vanzod could you run OMPI application with parameter `--mca opal_common_ucx_verbose 9` to enable UCX PML debug output. may be it help to get source of issue

thank you

[2022-04-26 17:34] dmitrygx opened #8170 "Assertion failed when unpacking memory key"
[code]
log file: /hpc/mtr_scrap/users/dmitrygla/io_demo/evgeny_dc_swx_ucx_timeout_waiting_for_replies/1646100816-748783185/1650993531-467005081/iodemo_swx-ucx01_client_11.log
core file: /hpc/mtr_scrap/users/dmitrygla/io_demo/evgeny_dc_swx_ucx_timeout_waiting_for_replies/1646100816-748783185/1650993531-467005081/core.62906
binary file: /hpc/mtr_scrap/users/dmitrygla/io_demo/evgeny_dc_swx_ucx_timeou

[2022-04-26 20:37] dmitrygx commented on #8170
[code]

[2022-04-26 23:08] yosefe commented on #8170
any chance it's "resolved" by #8117?

[2022-04-26 23:11] yosefe commented on #8170
is it reproducible?
any chance it's resolved by #8117?

[2022-04-27 07:23] dmitrygx commented on #8170
yes, it was reproduced 4 times

I could test it

[2022-04-28 13:59] yosefe commented on #6264
@satishskamath is there any mlx5-related error in dmesg?

[2022-04-28 14:25] satishskamath commented on #6264
@yosefe :

Yes. There are repetitions of these errors:
[code]

[2022-04-28 14:45] yosefe commented on #6264
so this error comes from the underlying mlx5 driver, and not something that can be resolved on UCX layer. I suggest to take it further with NVIDIA networking support.

[2022-04-28 14:56] jeffhammond opened #8178 "io_demo fails: /usr/bin/ld: ../../../src/ucs/.libs/libucs.so: undefined reference to `ucm_set_global_opts'"
### Describe the bug

[code]

### Steps to Reproduce
- Command line

[code]

- UCX version used (from github branch XX or release YY) + UCX configure flags (can be checked by `ucx_info -v`)

a2f342be0ff0940a6996296241a5d9327b0d2b04

### Setup and versions
- OS version (e.g Linux distro) + CPU architecture (x86_64/aarch64/ppc64le/...)

AArch64, Ubuntu 20.04.4 LTS, 5.4.0-109-generic, Ampere Altra Q8

[2022-04-28 16:24] hoopoepg commented on #8178
hi @jeffhammond

thank you for bug report
could you test this PR: https://github.com/openucx/ucx/pull/8179
it seems Ubuntu autotools have bit different behavior from RH

[2022-04-28 17:45] krakowski opened #8180 "Failed assertion using active messaging in multi-threaded environment"
### Describe the bug

Using active messaging (`ucp_am_send_nbx`) on the same (TCP) endpoint from withing two different threads results in a failed assertion, although the library is compiled with multithreading support and all corresponding flags are set.

[code]

`Context Parameters`
[code]

`Worker Parameters`
[code]

### Steps to Reproduce
- UCX version 1.12.1
- Configured with `contrib/configu

[2022-04-29 08:26] satishskamath commented on #6264
@yosefe : Thank you for confirming that this is a driver issue. We will take it up with Nvidia Networking support.

[2022-04-29 11:13] gkatev opened #8183 "XPMEM bus error during MPI_Finalize"
Hi, I'm encountering an XPMEM-related bus error crash during the finalization of MPI applications. I can reliably reproduce it with 16+ ranks.

Versions:
[code]

Error log:
[code]
FWIW, similar past problem in Open MPI: https://github.com/open-mpi/ompi/issues/9868

Please let me know if someone can reproduce it and/or if I should provide additional information.

[2022-04-29 14:37] satishskamath commented on #6264
@yosefe : I found this work around online but it is not recommended I guess. Can you comment?

[code]

[2022-04-29 15:52] krakowski commented on #8180
I created a small minimal working example program where each of two threads sends messages using `ucp_am_send_nbx`.

https://gist.github.com/krakowski/8a30c6bf3e94b727e9e1ac268cbb8045

The assertion does not always fail, as it works most of the time. If it fails, then it is almost always at the beginning of the program which makes me think if this is related to connection establishment happening a

[2022-04-29 16:44] yosefe commented on #6264
right, this is expected to have a performance impact. Also, with latest versions, it's not enough: need to add also UCX_RCACHE_ENABLE=n

[2022-04-29 17:56] heitorPB commented on #7229
I am also hitting this same error. Is there a workaround for the issue?

Seen on CentOS 7, ucx 1.10 and 1.11, mlnx-ofed 5.3 and 5.4.

[2022-04-29 18:12] #8178 closed

[2022-04-29 18:22] dmitrygx commented on #8170
@yosefe #8117 is a w/a of the issue.
can we close the issue?

[2022-04-29 18:26] yosefe commented on #8170
sure

[2022-04-29 18:26] #8170 closed

[2022-04-29 18:47] heitorPB commented on #6906
Is there any advances in this issue? We started seeing this problem as well. Running CentOS7, ucx 1.10, mlnx-ofed 5.3. We updated to ucx 1.11 and mlnx-ofed to 5.4 and the problem is still there. Kernel 3.10.0-1160

[2022-04-29 19:30] yosefe commented on #6906
@heitorPB is the loaded mlx5_ib kernel module coming from mlnx-ofed 5.4?
what is te output of `cat /proc/kallsyms |grep DEVX_ASYNC`?

[2022-04-29 19:40] heitorPB commented on #6906
@yosefe:

There's no `DEVX_ASYNC` there :/

It appears that the mlx5_ib module did not come from mlnx-ofed:

[code]

It appears that we are using the wrong modules? Do you know how to get the correct ones?

[2022-04-29 19:52] dmitrygx commented on #8180
@krakowski I tried to reproduce the issue using you reproducer and setting `UCX_TLS=tcp`. But it works fine with 1.12.1 and master.

[2022-04-29 19:53] yosefe commented on #6906
assuming mlnx_ofed 5.4 was really installed with its kernel modules (`ofed_info|grep kernel`), pls try `service openibd restart` or machine reboot

[2022-04-29 19:57] heitorPB commented on #6906
Ouch, it appears that mlnx-ofed did not install the modules. Trying to start openibd fails and I see many messages like `openibd: ERROR: Module mlx5_ib belong to kernel which is not a part of MLNX_OFED, skipping...` for other modules as well...

Do you know what is the procedure/package to install to get the kernel modules from mlnx-ofed?

[2022-04-29 19:59] krakowski commented on #8180
@dmitrygx Thanks for looking into this!

It works for me most of the time, too. I'm not really sure how I can reproduce this reliably. If I hit the right timing it crashes with the mentioned failed assertion.

I noticed that the connection gets established as soon as the first message is sent out. Could there be some synchronization error regarding connection establishment happening in two separat

[2022-04-29 20:03] yosefe commented on #6906
@heitorPB the default installation command should install kernel module as well. pls see more info here: https://docs.nvidia.com/networking/display/OFED510660/Installing+Mellanox+OFED, or reach out to NVIDIA networking support for further assistance with MLNX_OFED installation.

[2022-04-29 20:14] dmitrygx commented on #8180
how many iterations does it take to catch this?

yes, it could be, but I checked that we acquire locks when processing connection packets and as a result reposting user's AM operations.

[2022-04-29 20:16] heitorPB commented on #6906
Thanks for the help @yosefe. We did follow that guide, but something is not right...
I will continue digging.

[2022-04-29 20:26] krakowski commented on #8180
@dmitrygx I just updated my gist. This version crashes every time I try to run it.

https://gist.github.com/krakowski/8a30c6bf3e94b727e9e1ac268cbb8045

Things I changed:

  * Use the same buffer for `ucp_am_send_nbx`s `header` and `buffer` parameters. In the first version I just sent the header.
  * Use 8 Threads for sending messages.
  * Make all threads wait just in front of the first `ucp_am_se

[2022-04-29 20:48] dmitrygx commented on #8180
@krakowski thanks!
but it still works fine using this dc9243556ec10178fc9fc2f8be5e17f2bf79cd19 commit.
see the output of the client (it is mixed due to threads contention):
[code]

[2022-04-29 20:58] krakowski commented on #8180
Strange... I will try to debug it further tomorrow to see why the assertion fails on my machine.

I also could not really find out what `max_iov` stands for. Can you please explain briefly what the assertion checks? This could help me in tracking down what is happening. Thanks for helping out! 🙂

[2022-04-30 08:10] krakowski commented on #8180
@dmitrygx I managed to narrow down the problem a bit more. The crash does only occur, when UCX chooses `shm` and `tcp` as transports. Running the demo app with `UCX_TLS=tcp` works for me, too. As soon as I add `shm` (`UCX_TLS=shm,tcp`), it crashes immediately. Is this expected to happen with this kind of configuration? I started the demo app without explicitly specifying the transport (assuming it

[2022-04-30 08:19] dmitrygx commented on #8180
it expects that transport's supported number of IOVs will be greater than `1`, since we need to pack user's header to the IOV.
but the problem not in the `max_iov`, the problem is in EP reconfiguration from one thread while another thread relies on the previous configuration.

I tried `UCX_TLS=shm,tcp`, but it still works fine :)
[code]

Could pls send an output with `UCX_LOG_LEVEL=info` set? I'm

[2022-04-30 09:38] krakowski commented on #8180
Sure, here is the output:

`Client Side`
[code]

`Server Side`
[code]

[2022-05-01 01:21] shamisp opened #8186 "UCX compilation failure on Fedora 36"
### Describe the bug
UCX compilation fails on Fedora 36 (beta) with gcc `gcc (GCC) 12.0.1 20220413 (Red Hat 12.0.1-0)`

[code]

[2022-05-01 08:55] dmitrygx commented on #8180
@krakowski thansk for collecting inforamtion and helping me with the reproduction!
I still can't reproduce the issue locally, but I understand what's wrong now.
Actually, it seems that it is not related to the multi-threaded usage of UCX. The problem is reconfiguration from TCP to SHM transport which don't support ZCOPY protocol. So, messages submitted before recinfiguring to SHM choose ZCOPY. bec

[2022-05-01 14:34] krakowski commented on #8180
@dmitrygx Your solution works! I noticed that the first transport lane after reconfiguration changed from `posix/memory` to `sysv/memory`. Here's the output:

`Client Side`
[code]

`Server Side`
[code]

[2022-05-02 10:31] dmitrygx commented on #8180
@krakowski thanks for testing it!
I'll think about upstreaming it.

yeah, interesting...
I compared locally outputs of the master branch and https://github.com/dmitrygx/ucx/tree/topic/ucp/ep_reconfig.
Thay both provide me the same transports.

Is it possible to collect the output from the following command for master, v1.12.1, and my changed on your machine, pls?
[code]

It should help me to under

[2022-05-02 11:22] krakowski commented on #8180
Sure, I'm glad I can help :slightly_smiling_face:

`master`
[code]

`v1.12.1`
[code]

`topic/ucp/ep_reconfig`
[code]

[2022-05-02 12:00] dmitrygx commented on #8180
@krakowski  thanks you! It is very helpful.
yes, v1.12.1 has a difference with selection between sysv and posix in compare to master and my local branch.
It seems that something was changed in the latest UCX.

[2022-05-02 20:18] #8186 closed

[2022-05-06 13:24] AlexNinaber opened #8200 "Extremely low collective performance on UCX IB but not PSM3 when using HDR HCA / FDR switch combinations"
### Describe the bug

During analyses of figuring out low StarCCM application performance, we did some testing with IMB-MPI1 AlltoAll and noticed extremely low performance with UCX communication. Both OpenMPI and IntelMPI, any version of UCX, native RH7 IB and Mellanox OFED.

What's special is that the hosts have either EDR or HDR cards and the switch is FDR. Tried various cables, copper/fibre, ot

[2022-05-08 08:18] yosefe commented on #8200
@AlexNinaber can you pls try adding `-x UCX_RC_RETRY_COUNT=0` to mpirun?
If this causes application to crash, it would mean the problem is with packet drops and retransmissions when having mixed port speeds.

[2022-05-08 14:28] tonycurtis opened #8202 "1.12.1: knem registration cost reported by ucx_info -d is huge"
### Describe the bug

`ucx_info -d` output for knem shows a bizarrely huge registration time cost

not seen in git HEAD version

### Setup and versions
- OS version (e.g Linux distro) + CPU architecture (x86_64/aarch64/ppc64le/...)
   - `cat /etc/issue` or `cat /etc/redhat-release` + `uname -a`

[code]

### Additional information (depending on the issue)

[code]

[2022-05-09 21:53] tonycurtis opened #8206 "a64fx: knem registration cost increased going from ucx 1.12.1 -> git with Rocky 8.4"
### Describe the bug

`ucx_info -d` reports much slower registration cost for `knem` on a64fx platform after an upgrade from CentOS 8.4 to Rocky 8.4.  Not seen with released ucx versions.

### Steps to Reproduce
- UCX version used (from github branch XX or release YY) + UCX configure flags (can be checked by `ucx_info -v`)

[code]

- **Any UCX environment variables used**

### Setup and versions
-

[2022-05-10 13:25] lyu opened #8208 "Asymmetric GPU<->host tag match performance"
### Describe the bug
UCP tag match performance of host-to-GPU is 1/5 than that of GPU-to-host, for both intra-node and inter-node.

### Steps to Reproduce
- Command line
[code]
- UCX version
[code]

### Setup and versions
- OS version: Fedora 35 x64
- For GPU related issues:
  - RTX 2080 x 2
  - Cuda: 11.4.100
      - Drivers version: 470.57.02
      - Check if peer-direct is loaded: NO

### Addit