[2019-10-03 10:50] dmitrygx commented on #4243
@madsbk can you confirm whether it fixes your application or not?

[2019-10-03 11:15] madsbk commented on #4243
It works, thanks!

[2019-10-03 13:52] tonycurtis commented on #4251
git @ 079359fcc9011efe547833c36072cf203a1d5d90

[code]

[2019-10-03 14:10] alinask commented on #4251
@tonycurtis which test did it fail on?

[2019-10-03 15:05] tonycurtis commented on #4251
[code]

[2019-10-03 22:42] tonycurtis commented on #4251
Aha

In test/gtest/ucp/test_ucp_context.cc

[code]

[2019-10-04 11:34] tjcw commented on #4036
I have another similar failure, this time with 40 ranks on a single POWER9 node and UCX trace turned off. The backchain is
[code]

[2019-10-04 12:57] brminich commented on #4237
Also happened in http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/12504/label=hpc-arm-cavium-jenkins,worker=3/consoleFull#98030106524dff065-0424-4e55-b698-eb134734d522
[code]

[2019-10-04 13:40] tjcw commented on #4036
I have another error with 40 ranks on a single IBM POWER9 node, with ucx trace on. Trace leading up to the error is
[code]
and backtrace is
[code]
Again the transfer seems to be using IB, where I was expecting knem.
This error is repeatable. The application performs various collectives over the 40 ranks, with various algorithms, and for increasing data sizes. The error occurs on an Allgather colle

[2019-10-04 14:54] shamisp commented on #4251
I guess it is done intentionally to verify that version check actually works.

[2019-10-04 18:27] brminich commented on #4251
Yes, but this warning should not be printed by `test_async.warn_block`.
#4254 should fix it

[2019-10-07 10:34] #4251 closed

[2019-10-07 20:19] ca-taylor opened #4259 "UCX 1.6.1: Host memory exhaustion under RHEL 7.6 + OpenMPI 4.0.1"
We are upgrading our hosts to RHEL 7.6 with UCX 1.6.1 and have at least one MPI application (VASP 5.x) where within a minute or two of launch via srun, the free memory on the hosts is rapidly exhausted at which point they lock up and must be rebooted.

The scenario is extremely reproducible.

Some details:
----------------
Distro: RHEL 7.6
Kernel: 3.10.0-957.35.2.el7.x86_64, 3.10.0-957.27.2.el7.x8

[2019-10-07 20:23] ca-taylor commented on #4259
Some additional information.

1. It does not seem to matter which configure options I specify.  I've tried just defaulting everything and letting "configure" decide and I've tried explicitly setting everything applicable.  The behavior doesn't change.
2. The same build configuration works fine on RHEL 7.5 with MLX4 drivers (FDR IB).

[2019-10-07 20:24] ca-taylor commented on #4259
Although I've tried many combinations, my most recent build script looks like this...
#/bin/bash
#
#export VERSION=1.4.0
#export VERSION=1.5.2
export VERSION=1.6.1
#export DIST="el75"
export DIST="el76"

CFG_OPTS=""
CFG_OPTS="$CFG_OPTS --with-avx "
CFG_OPTS="$CFG_OPTS --with-verbs "
CFG_OPTS="$CFG_OPTS --with-rc "
CFG_OPTS="$CFG_OPTS --with-ud "
CFG_OPTS="$CFG_OPTS --with-dc=NO "
CFG_OPTS="$CFG_OP

[2019-10-07 21:36] ca-taylor commented on #4259
Whoops, forgot one of the most important details....

When running with OpenMPI 3.1.2, if I add the following to the job script,

   export OMPI_MCA_pml="^ucx"
   export OMPI_MCA_btl="self,vader,openib"

the application runs without issue.

[2019-10-08 16:12] brminich commented on #4259
Can you please check the following cases?
- Running with UD: need to add `-x UCX_TLS=self,sm,ud` to the mpi command line
- Running with DC and limited TX and RX pools, need to add the following:
`-x UCX_DC_MLX5_TX_MAX_BUFS=65536 -x UCX_DC_MLX5_RX_MAX_BUFS=65536 -x UCX_TLS=self,sm,dc_x`

Also collecting UCX statistics would really help to investigate the issue. This can be done by the following way

[2019-10-08 18:04] jakirkham opened #4262 "1.7.0 Release Timeline?"
Am interested to know what the (approximate) timeline is for the 1.7.0 release (if known). Also am would be interested to know if any alphas, betas, or release candidates would be planned.

[2019-10-08 18:19] shamisp commented on #4262
I think in two weeks we will have RC1. We target release by end of the month. Generally speaking our release branches and relatively stable. We are running thousands of test for each pull request.

[2019-10-08 18:49] jakirkham commented on #4262
Thanks @shamisp! That's useful info.

My interest is in building a UCX package. Though the packaging ecosystem I'm working within prefers using an RC or final release in general (even if things seem pretty stable now). So looking forward to RC1 🙂

[2019-10-08 19:25] ca-taylor commented on #4259
The above made no difference.

I can't test the above since I do not have a dc or dc_x transport.   Here are the transports and devices I end up with..
[root@c40a-s21 ~]# ucx_info -d | egrep "Transport|Device"
#   Transport: mm
#   Device: posix
#   Transport: mm
#   Device: sysv
#   Transport: self
#   Device: self
#   Transport: tcp
#   Device: ib0
#   Device: p3p2
#   Device: p3p1
#   Transport

[2019-10-08 20:13] ca-taylor commented on #4259
Stats files from one of four hosts in failing run is attached as a compressed tar file.  I cancelled the job before the memory was completely exhausted.
[ucxStats-c40a-s21.tar.gz](https://github.com/openucx/ucx/files/3704336/ucxStats-c40a-s21.tar.gz)

[2019-10-09 12:51] ca-taylor commented on #4259
I've now run my test case on a RHEL 7.6 host (3.10.0-957.35.2.el7.x86_64) with mellanox connectX-3 FDR cards and mlx4 drivers.  The job runs without issue with OpenMPI 4.0.1 and UCX 1.6.1

So the issue described here appears specific to UCX 1.6.1 and EDR/MLX5 hardware and drivers.   The hosts themselves are Intel Skylake machines (dual-socket).

[2019-10-09 13:13] tjcw commented on #4244
The application build is working now; I'm not sure what has changed, the only thing I know I have done is to rebase to a newer openucx 'master' branch level. Closing.

[2019-10-09 13:13] #4244 closed

[2019-10-09 14:09] ca-taylor commented on #4259
If I add,
  `export UCX_TLS=self,sm,ud`
to the job script, the job runs normally (no host memory exhaustion).

If I add
`export UCX_TLS=self,sm,rc`
to the job script, the job fails with the previously noted host memory exhaustion.

Setting RX/TX_MAX_BUFS=65536 makes no difference.

[2019-10-09 14:17] brminich commented on #4259
just to clarify, did you set UCX_RC_VERBS_RX_MAX_BUFS/UCX_RC_VERBS_TX_MAX_BUFS?
The vars I mentioned before were relevant for dc transport only.

[2019-10-09 14:18] brminich commented on #4259
Thanks for the stats, will check it soon

[2019-10-09 14:18] mike-dubman commented on #4259
what number of nodes and ppn used to reproduce issue with RC?

[2019-10-09 15:37] ca-taylor commented on #4259
VASP INCAR file attached...
[INCAR.txt](https://github.com/openucx/ucx/files/3708244/INCAR.txt)

[2019-10-10 10:02] tjcw commented on #4036
I added a 'fflush' to flush the trace. Now I can see the hang reported here https://github.com/openucx/ucx/issues/4036#issuecomment-539997107 . One of the ranks does a ucp_get_nb for a 4-byte region on a different node. The return value is a pointer (not UCS_OK or an error indication), but the completion callback for this req is never driven. A relevant section of the trace on this rank is
[code]

[2019-10-10 10:41] tjcw commented on #4036
I have adjusted my ucp so that active messages transferring less than 65536 bytes will flow over the old protocol. Now, with my 120-rank 6-node test case, I get the send callback for the ucp_am_send_nb driven with status=-3 (UCS_ERR_IO_ERROR). ucx trace shows the error occuring while ucx is wiring up connections on behalf of the application; the last several lines from the trace are
[code]
I think

[2019-10-10 12:17] petro-rudenko opened #4267 "[SparkUCX] Arbiter assertion when submitting requests from ep_flush callback"
Here's pseudocode what happens at the heart of [SparkUCX](https://github.com/openucx/sparkucx/pull/6/files#diff-fae1b3825d9911fcacb67248ff4093a3R114-R170):
[code]

When a number of nodes > 23-25 it starts to fail with a next exception:
[code]

[2019-10-10 13:31] tjcw opened #4268 "ucp active messages give I/O error under load"
I am using ucx built from 'master' 6110727f8de09703e0f4cde4977fa7e22f0349c5 . I have a test case using a development version of IBM Spectrum MPI (based on OpenMPI), and Intel MPI Benchmarks. The development version of IBM Spectrum MPI communicates using ucp active messages. When I run this on 120 ranks (6 nodes at 20 ranks/node), I sometimes get the send completion callback of a ucp_am_send_nb cal

[2019-10-10 14:49] ca-taylor commented on #4259
Just checking in to see if there is anything else you need from me on this issue.

[2019-10-10 14:49] madsbk opened #4269 "[Q] How to interpret the put region range?"
While debugging a problem I noticed that when receiving data to memory address X, I some times encounter put region ranges that that ends at X. I would expect that the put range would go from X to X+nbytes?

Example calling `ucp_tag_recv_nb(..., data=0x7fc115a02000, ...)` could result in:
[code]
Is that expected behavior or am I doing something wrong?

cc @Akshay-Venkatesh, @MattBBaker

[2019-10-10 14:51] petro-rudenko opened #4270 "[SparkUCX] Assertion ep_ptr == ucp_ep_ext_gen(ep)->dest_ep_ptr"
UCX master. Happens when running on big number of nodes (30 nodes - 32 cores - worker / core - approx 900 connection / node).

[code]

GDB trace:
[code]

[2019-10-10 16:00] ca-taylor commented on #4259
Actually, no.  The nodes tend to go completely unresponsive if the job is not cancelled prior to total exhaustion.

Just tried the above.  It made no difference.

Yes, you will need additional files.   I'll get them to you.   Also, if it would be easier to look at this on our system, that can be arranged.

[2019-10-11 08:27] angainor opened #4272 "segfault in ucx_perftest + cuda memory"
I compiled 1.6.1 with GCC/7.3.0-2.30 and CUDA/9.2.88. When I try to run the `ucx_perftest` on our InfiniBand cluster with `-m cuda` or `-m cuda-managed`, I see the following segfault:

[code]
Similar segfault is seen with the UCX shipped with HPCX 2.4. Here is the backtrace from that one:
[code]

The same test runs fine with `-m host`. Do I need anything special to run with `-m cuda`, or is this a

[2019-10-11 08:42] hoopoepg commented on #4272
hi

it seems this is bug in libperf module, will fix

thank you for help

[2019-10-11 08:47] angainor commented on #4272
@hoopoepg Great, thanks! Please let me know when you commit a fix, I'd like to test this here..

[2019-10-11 10:03] pentschev opened #4273 "Documentation for environment variables"
I have been trying to understand what the various environment variables options mean, but this seems to be mostly undocumented, with the exception of a few that I could find on the wiki [here](https://github.com/openucx/ucx/wiki/UCX-environment-parameters) and [here](https://github.com/openucx/ucx/wiki/NVIDIA-GPU-Support).

Only as examples, I can't find documentation on what `rdmacm` and `sockcm`

[2019-10-11 11:54] angainor opened #4274 "OSU bw fails with cuda device - device transfers on Cray / UGNI"
I compiled OpenMPI 3.1.4 with UCX 1.6.1 + CUDA on a Cray XC50. When I try to run the OSU benchmarks with `D D` arguments, I see the following failed assertion

[code]
The test works fine when I turn off the ucx pml. This seems to be ugni related - I was previously running the same tests on an IB cluster, and that worked.

[2019-10-11 12:56] mrocklin commented on #4273
This is especially important as we start to broaden the use of UCX to less-sophisticated Python users with UCX-Py and Dask.  If this is successful then we might get many more folks with much less experience asking questions like "What does UCX_TLS mean?" and "How do I set up my environment variables so that things work?".  I anticipate getting a lot of these questions on the Dask issue tracker (we

[2019-10-11 13:06] brminich commented on #4273
You can use:
- `ucx_info -f` - it'd print all possible env variables with brief description and their possible values
- build doxygen documentation by `./configure --with-docs-only && make docs`

[2019-10-11 13:13] mrocklin commented on #4273
I'm glad to hear it and thank you for the timely response.  However, the potential users that we're talking about may not be sufficiently technical to do even this.  For them, it would be best to point them to a public webpage.

Is serving online documentation in-scope for the UCX project?

[2019-10-11 13:15] brminich commented on #4273
@shamisp, can you please comment?

[2019-10-11 13:47] brminich commented on #4259
Tried to run it on our local cluster (4 broadwell nodes with CX-5, 256 GB RAM) with various parameters. Did not caught any errors (was waiting ~15-20 mins after the start each time).
BTW, how much memory do you have? I noticed that running with RC takes ~100GB per node, while running with UD takes ~10GB less.
Did you try to monitor memory consumption somehow (e.g. `free -g -l`)? Would be interesti

[2019-10-11 13:57] #4243 closed

[2019-10-11 14:37] pentschev commented on #4273
Thanks for the reply @brminich. I was looking through the output of `ucx_info -f` and the docs, and while they are helpful, I would say they are both incomplete. For instance, none of them really answer what is `rdmacm` or `sockcm`, nor if they can be used together or they are exclusive. Please note that I'm not trying to make a case for these two parameters in particular, I'm only using them as e

[2019-10-11 15:04] ca-taylor commented on #4259
Interesting.  No, the problem shows up on our system within a few minutes (3 or so) of job launch.  Our skylake/mlx5 nodes have 192GB of RAM.   Each MPI task runs initially using about 1.5GB/task and grows to about 1.8 GB/task a few minutes into the run.  At that point the RSS of the tasks does not change but the free memory on the system _rapidly_ (gigabytes/sec) declines to the point of exhausti

[2019-10-11 15:10] brminich commented on #4259
Red Hat Enterprise Linux Server release 7.5, 3.10.0-862.el7.x86_64, MLNX_OFED_LINUX-4.6-1.0.1.1 (note another FW (16.25.1020))

@Artemy-Mellanox, can you please help to analyze it? The target FW is 16.25.4062

[2019-10-11 15:39] dmitrygx opened #4275 "Eager tag send inline ucp_tag_send_inline is not called on a systems with CUDA/RoCM by default"
UCP has two max shorts (for different memory types: ON and OFF). They are set here:
https://github.com/openucx/ucx/blob/b987de5027ceeb0a690eadc1239e9cfdfbf68689/src/ucp/core/ucp_ep.c#L1085
[code]
`max_short::memtype_off` is `-1` if there are CUDA or RoCM MDs.

UCP checks those values when trying to do tag send operation using UCT AM Short or UCT TAG offload Eager Short:
https://github.com/openucx/

[2019-10-11 15:47] ca-taylor commented on #4259
Nod.  We never saw this under EL 7.5.  On the other hand, we did not run EL 7.5 + UCX 1.61 on our CX-5 skylake hosts.  We went to EL 7.6 and UCX 1.6.1 at the same time and that is when this started showing up.
If it would be helpful, I can downgrade the 4 skylake hosts I'm using to EL 7.5 + UCX 1.6.1 and see if that makes any difference.

I never posted our HCA FW revision.  It is below.  All of t

[2019-10-11 15:50] brminich commented on #4259
You posted IB info in the beginning of this thread.
Let us check the difference in FW versions

[2019-10-11 16:03] ca-taylor commented on #4259
Ah, yes I did.  Sorry for posting it again.

[2019-10-11 16:07] brminich commented on #4259
np, just explain where I found you FW version :)

[2019-10-11 16:28] tonycurtis opened #4276 "Behavior change after recent commit (passive progress)"
Until recently, I was able to get passive progress, e.g. as in

https://github.com/openshmem-org/openshmem-examples/blob/master/C/ptp.c

where one rank/PE makes no SHMEM calls.

Since commit 7dc71b3a9b70a0ca3a6e2fb36b67466d0eac934b, the program now hangs.

Interconnect is

[code]

(mlx5 driver).  Same thing seen on another IB cluster.  With an added progress thread it works (as for older MLNX IB m

[2019-10-11 16:35] brminich commented on #4276
what is your command line? Can you please post output of UCX_LOG_LEVEL=info?

[2019-10-11 16:40] tonycurtis commented on #4276
Should see

[code]

or similar.  buggy behavior is

[code]

Here's the LOG_LEVEL output

[code]

Same log output in both cases

[2019-10-11 16:41] brminich commented on #4276
thanks, checking

[2019-10-11 16:43] tonycurtis commented on #4276
just updated the log messages

[2019-10-11 17:12] dmitrygx commented on #4275
ok, now I see - it will be used
we calculate it here:
https://github.com/openucx/ucx/blob/b987de5027ceeb0a690eadc1239e9cfdfbf68689/src/ucp/proto/proto_am.inl#L404
[code]

when doing send with UCP request allocated in `ucp_tag_send_req`

[2019-10-11 18:05] brminich commented on #4276
it was broken by c0e8ee1
fixed in #4277

[2019-10-11 18:06] tonycurtis commented on #4276
Just patched with the PR, it's working again.  thanks.

[2019-10-11 20:25] evgeny-leksikov commented on #4276
@brminich maybe make sense to change `UCP_ADDRESS_PACK_FLAG_DISABLE_HW_AMO` to `UCP_ADDRESS_PACK_FLAG_ENABLE_HW_AMO`? it would make possible to pass `-1` by default as before

[2019-10-11 20:40] jakirkham commented on #4218
@yosefe, I went ahead and submitted your patch as PR ( https://github.com/openucx/ucx/pull/4279 ) and gave you credit. Hope that is ok. :)

[2019-10-11 22:24] rzambre opened #4280 "Message rate depends on number of messages?"
I am trying to understand the behavior of UCX for `ucp_get_nbi`. The graph is the message rate (average of at least 3 trials) reported by an OSU_MBW_MR -style benchmark with 16 process pairs using windows of `MPI_Get-MPI_Win_flush`. Each window is 64 `MPI_Get`s (8 bytes) followed by an `MPI_Win_flush`.  On the x-axis I am just varying the number of messages between each process-pair. Ideally, the

[2019-10-11 22:26] rzambre commented on #4280
If you need any more information or the microbenchmark, please let me know.

[2019-10-11 22:34] rzambre commented on #4235
Hmm, I am able to detect whether or not the completion is immediate or regular. What I need is some information about the operation being completed in the completion callback. Anyways, I read through the discussion in the issue and it seems like it is not straightforward to get this kind of information with the current API without some additional overheads.

To get my user-information about which

[2019-10-12 14:14] shamisp commented on #4273
Indeed we can do better job in respect to documentation. Historically we have been very focused on API documentation and documentation of the library parameters is a bit neglected.

Generally speaking, UCX supposed to pick up connection manager (rdmacm/socketcm), and other “best” tunings automatically without user intervention. First of all I would like to figure out why users have to select CM ex

[2019-10-12 14:24] shamisp commented on #4274
Adding @Akshay-Venkatesh . @Akshay-Venkatesh do we support interconnects that don’t support GPU Direct ? In theory it should copy-in/out GPU memory. You can pass custom copy function to copy.

[2019-10-12 14:38] shamisp commented on #4235
Are you trying to map worker to MPI session from the Callback  ? I’m just trying to figure out what is the high level issue that we are trying to resolve ?

[2019-10-12 15:00] mrocklin commented on #4273
Agreed.  I raised a similar issue downstream here:
https://github.com/rapidsai/ucx-py/issues/245

Sounds good.  Eventually, you might also consider hosted docs somewhere.  Personally, I and much of the Python community enjoy using readthedocs.org .  It's pretty trivial to turn markdown or rst files into hosted documentation that gets updated whenever you push to github.  I find that it's about a 2

[2019-10-12 22:15] tonycurtis opened #4281 "tools/profile/read_profile.c should check env for PAGER?"
Currently blindly uses "less" as pager.  Should read_profile.c check for env(PAGER) ?

[2019-10-13 02:39] bureddy commented on #4274
@shamisp  it should work.
 @angainor  Can you check with master branch?

[2019-10-13 18:42] yosefe commented on #4267
seems like a bug in UCP flush implementation that progress callback calls user callback instead of scheduling it as a deferred callback on the progress queue

[2019-10-13 18:52] yosefe commented on #4269
@madsbk please attach full trace file

[2019-10-13 19:01] yosefe commented on #4273
UCX environment variables are intended mostly for expert/intermediate level debugging and tuning, or as workarounds for issues found by users. The general approach is that users should not set any environment variables to make UCX work. For example, regular users should not set UCX_TLS and should not be aware of sockcm/rdmacm existence.

@mrocklin @Akshay-Venkatesh did you have cases where UCX wou

[2019-10-13 19:02] yosefe commented on #4275
Inline send should be used after checking the memory type and allocating UCP request. Did you see that it's not happening?

[2019-10-13 20:20] dmitrygx commented on #4275
@yosefe

Yes, inline send is used after checking memory type, i.e. in `ucp_tag_send_req`. But why we need to check MemType Cache emptiness? It's always not empty when CUDA memory is used. So, this is excessive branch on a fast path

[2019-10-13 21:46] yosefe commented on #4275
it's an optimization to avoid checking memory type for small messages if cuda is not used.
if cuda is used, we have to check the memory type anyway

[2019-10-13 22:33] shamisp commented on #4274
We can ask @MattBBaker to give it a try since ORNL supposed to have similar setup unless they retired the system

[2019-10-14 01:48] dmitrygx commented on #4275
@yosefe thank you! Got it

[2019-10-14 07:57] angainor commented on #4274
@bureddy Alas, apart from the line number I get the same assertion error with UCX master and OpenMPI 4.0.2:
[code]

[2019-10-14 08:02] madsbk commented on #4269
Sure, here is the trace: [trace.txt](https://github.com/openucx/ucx/files/3723481/trace.txt)
Notice, the `tag_recv() - data: 0x56161005b240, nbytes: 8` prints are the calls to `ucp_tag_recv_nb`.

[2019-10-14 08:31] hiroyuki-sato commented on #4273
I'm creating OpenUCX glossaries.
https://github.com/hiroyuki-sato/openucx-docs/blob/master/glossaries.txt

(And also I'm creating `ucx_info` example output)
https://github.com/hiroyuki-sato/openucx-docs/blob/master/ucx_info.md

These document are always PR ready.
If anyone want to use it, Please let me know.

[2019-10-14 10:34] hoopoepg commented on #4269
hi @madsbk
as I can see from trace:
[code]

address of buffer at 0x7f589da01000 is displayed as end of buffer of previous operation.
```put region``` trace entry is not data region for RDMA PUT operation, is it debug short meaning that any region of memory is **registered** for HW RDMA PUT operations

[2019-10-14 12:13] dmitrygx opened #4285 "ud/test_ucp_tag_xfer.send_contig_recv_generic_exp_rndv_truncated_zcopy/1 failed on hpc-test-node3"
[code]

http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/12594/label=hpc-test-node-legacy,worker=1/console

[2019-10-14 13:01] mrocklin commented on #4273
@pentschev maybe you can say a bit here about what you've had to specify to make things work?

[2019-10-14 13:19] pentschev commented on #4273
Yes, here's a list of what we have to specify right now (and my understanding of their functionality):

* `UCX_TLS=rc` (enables InfiniBand)
* `UCX_TLS=tcp,sockcm UCX_SOCKADDR_TLS_PRIORITY=sockcm` (allows establishing connection via TCP sockets)
* `UCX_TLS=cuda_copy` (allows CUDA transfer)
* `UCT_TLS=cuda_ipc` (enables NVLink)
* `UCX_NET_DEVICES=mlx5_X:1` (where `X` is the InfiniBand interface numb

[2019-10-14 13:21] mrocklin commented on #4273
Do you have a sense of why these are necessary?  For example, what happens if we specify `UCX_TLS=all` or don't specify `UCX_NET_DEVICES` at all?

[2019-10-14 13:24] pentschev commented on #4273
I don't recall the exact behavior with `UCX_TLS=all`, so I will need to check that again. Without specifying `UCX_NET_DEVICES` and with InfiniBand enabled, there would be no transfer at the expected interface, but rather a random one which would change depending on the machine.

[2019-10-14 13:28] mrocklin commented on #4273
My sense is that if we give the OpenUCX team more detailed feedback about what fails when we don't specify environment variables then they might be able to help us understand why that is, or hopefully fix things upstream.

[2019-10-14 13:33] brminich commented on #4280
The performance drop at 8KB can be explained by switching to another protocol (e.g. bcopy to zcopy).
For get operations the threshold is 16K. Since you see the drop starting at 8K, I'd assume that SW RMA emulation is used instead of real RDMA (we use 8K segments for active messages).
Can you please collect UCX debug traces by setting UCX_LOG_LEVEL=trace? You'd need to build debug UCX version for t

[2019-10-14 13:51] pentschev commented on #4273
Totally, and that's part of why I'm asking about documentation. I feel that if I understand what the parameters really mean, I could be more specific on tests I do and whether the behavior matches what we would expect to happen.

[2019-10-14 15:59] rzambre commented on #4280
@brminich note that the x-axis is not the message size. The x-axis is just the number of messages. Each message is 8 bytes. So for each message, UCX would be using the same `short` protocol.

I can check with UCX-1.6.0 to see if this issue still exists.

[2019-10-14 16:17] rzambre commented on #4235
@shamisp In our experimental MPICH version, we are maintaining a pool of UCP workers (each worker could map to different MPI objects -- could be MPI sessions, MPI communicators, MPI windows, or anything else). Each worker is associated with a cache of MPI requests. So, during the creation and freeing of an MPI request, we use the cache of the worker used for the operation of that request. One of t

[2019-10-14 16:30] brminich commented on #4280
oh, right. What is the message rate when warmup is done?

[2019-10-14 18:02] rzambre commented on #4280
Here is the same graph as above which also includes a line with a `warmup` of 1 million messages. In the case of `warmup`, the initial incline is not present, stating that there is some overhead occurring for the first messages. But the `warmup` still includes the drop around 4k messages.

![get_message_rate_versus_messages_with_and_without_warmup](https://user-images.githubusercontent.com/1503760

[2019-10-14 18:19] ca-taylor commented on #4259
Any more thoughts on this.  Is there anything else I can do to help?

[2019-10-14 18:27] brminich commented on #4259
checking FW differences. Will get back in a couple of days

[2019-10-14 18:30] rzambre commented on #4280
Also, the reason why the performance `without warmup` is important is that applications typically do not have any notion of warmup in their runs. They might finish before the underlying mechanisms have "warmed up" and would hence observe slow performance.

[2019-10-14 20:44] evgeny-leksikov commented on #4280
@rzambre I think you can get some better numbers increasing these parameters:
[code]

[2019-10-14 21:10] yosefe commented on #4273
@pentschev I think that UCX_NET_DEVICES is the only variable needs to be documented for users (we should probably improve [this](https://github.com/openucx/ucx/wiki/UCX-environment-parameters) page. Can you try **not** specifying UCT_TLS? the default value is "all", which means all transports are enabled by default.

BTW what is the use case for selecting specific devices? If the intent is to use

[2019-10-14 21:13] Akshay-Venkatesh commented on #4273
+1

[2019-10-14 21:21] yosefe commented on #4269
@madsbk here it's a coincidence: the region created by previous tag_recv ends at address X, and during the next operation the previous one is completed so its region is unregistered
for example: region `0x561610fbbb80` which ends at `0x7f589da01400` belongs to the first tag_recv
[code]

[2019-10-14 21:21] yosefe commented on #4269
BTW are you suspecting the local protection error is bug in UCX? does it happen with upstream version?

[2019-10-15 07:32] madsbk commented on #4269
I see, thanks.
While developing [Python bindings for UCX](https://github.com/rapidsai/ucx-py), we encounter this error. We don't know if it is a problem in the bindings, UCX, or our hardware setup -- it only happens on our DGX machines with InfiniBand.

Is there a way to get UCX to report exactly where the error happens and why?

[2019-10-15 07:55] yosefe commented on #4269
The problem is the memory key is not valid from HCA perspective. Is this GPU memory? it possible GPU direct drivers are not loaded/enabled/configured properly?
Is it possible to upload a reproducer for this?

[2019-10-15 10:37] brminich commented on #4259
BTW, what was the configuration where VASP was working correctly with CX-5?
Was FW version the same? Did you change just Linux/kernel and UCX?

[2019-10-15 10:53] madsbk commented on #4269
Yes, it is GPU memory; running CPU-only works.
The only way I have been able to reproduce the problem is with [UCX-Py](https://github.com/rapidsai/ucx-py) and only after several GPU messages back and forth.
If I resets the CUDA context between communication it works, if I don't re-use memory allocations (not calling free) it also works.

[2019-10-15 11:52] tjcw commented on #4268
I now have access to x86 servers. This test still fails with status -3 (I/O error), but IMB gets further before the error happens. The error occurs repeatably when IMB tries an 'Allreduce' for 2048 bytes; this may be where the collectives library starts using a different algorithm for the allreduce, which could cause new ranks to start communicating (and therefore ucx wireup processing). It would

[2019-10-15 12:34] lytofd opened #4288 "How can i get binary test file for module test"
After I open  installed the ucx with open gtest flag in configure-release file, i found that in /ucx/test/gtest,there exist a Makefile and a binary file named gtest.
     There are some unit test case in this folder, for example, ucm,ucs,uct. etc
     But i just want a binary test file for unit test, for example,  gtest-test_ib_md  in
     /ucx/test/gtest/uct/ib, but there only exist gtest-test_ib

[2019-10-15 12:36] yosefe commented on #4288
do `# ./contrib/configure-release --enable-gtest`

[2019-10-15 12:46] lytofd commented on #4288
Sorry， it does not works.
in /ucx/test/gtest/uct/ib
There exists  xxxxxx.o    xxxxx.cc ,but  binary file not exists.

[2019-10-15 13:00] madsbk opened #4289 "[Q] How to get the received nbytes by ucp_tag_recv_nb() when it completes immediately"
Is it possible to get the number of bytes received by `ucp_tag_recv_nb()` when the return status is `UCS_OK` i.e. `ucp_tag_recv_nb()` completes immediately without calling the callback function.

In my callback function I check if the `ucp_tag_recv_info_t.length` is as expected but how to do that when `ucp_tag_recv_nb()` completes immediately?

Notice that `ucp_tag_recv_nb()` returns `UCS_OK` even

[2019-10-15 13:06] yosefe commented on #4288
it's in /ucx/test/gtest/gtest

[2019-10-15 13:07] yosefe commented on #4289
because of this, for tag_recv_nb, the callback is called also for immediate completion

[2019-10-15 13:55] madsbk commented on #4289
I see thanks!
I confused the semantic of `ucp_tag_send_nb()` with `ucp_tag_recv_nb()`.

[2019-10-15 13:55] #4289 closed

[2019-10-15 14:25] lytofd commented on #4288
This the directory tree,gtest does not exists

apps
examples
gtest
     |
     | ----common
     |----ucm
     | ----ucp
     | ----ucs
     ----uct
mpi

[2019-10-15 14:27] yosefe commented on #4288
@lytofd the binary path itself is  /ucx/test/gtest/gtest
if still not there, can you post output of "make clean && make V=1", and config.log?

[2019-10-15 14:30] lytofd commented on #4288
OK,l will try it tomorrow,thx.

[2019-10-15 15:26] #4218 closed, assigned to nobody

[2019-10-15 15:40] #4241 closed

[2019-10-15 17:14] Akshay-Venkatesh commented on #4269
@yosefe @bureddy I've not looked at the problem that madsbk is pointing to in detail but this

suggests that address recycling is taking place and it's possible that the registration cache that UCX uses may not account for the fact. I could be wrong about this but is it possible that the cache entry is stale because UCX thinks that pointer being viewed and the associated registration entry is vali

[2019-10-15 17:32] madsbk commented on #4269
Yes to `UCX_MEMTYPE_CACHE=n`

[2019-10-15 17:51] bureddy commented on #4274
@angainor  Can you please UCX debug build with options `-x UCX_LOG_LEVEL=data -x UCX_LOG_FILE=/tmp/ucx_%h_%p.log `  and attach logs

[2019-10-15 17:58] bureddy commented on #4269
any reason for not using UCX_MEMTYPE_CACHE=y ?

[2019-10-15 18:03] bureddy commented on #4269
@Akshay-Venkatesh  we don't associate cuda mem hooks with MEMTYPE_CACHE on/off.  cuda mem event should be there even when cache is off. we need to understand why cudaFree() not cleared the reg cache entry if that is the case.

[2019-10-15 18:16] Akshay-Venkatesh commented on #4269
Mostly because of these two:
https://github.com/openucx/ucx/issues/4222
https://github.com/openucx/ucx/pull/4261

[2019-10-15 18:18] Akshay-Venkatesh commented on #4269
@bureddy Do you mean cu*Malloc/cu*Free are intercepted even if they're not cached? If so, then thanks for the clarification and in that case I agree that we need to find why the stale entry isn't removed.

[2019-10-16 03:26] lytofd commented on #4288
``

- [ ]

1.

-

I do make clean && make V =1 >> clean.log
then l got next two files.
[clean.log](https://github.com/openucx/ucx/files/3732310/clean.log)
[config.log](https://github.com/openucx/ucx/files/3732311/config.log)

[2019-10-16 03:27] lytofd commented on #4288
Do  'make clean && make V=1 >> clean.log'，
[clean.log](https://github.com/openucx/ucx/files/3732315/clean.log)
[config.log](https://github.com/openucx/ucx/files/3732316/config.log)

[2019-10-16 07:53] yosefe commented on #4288
according to clean.log the binary path should be /home/centos/ucx/test/gtest/gtest

[2019-10-16 08:10] lytofd commented on #4288
Well,

Well，that‘s weird, the directory does not exists yet.
My purpose is to communicat between two server with gpu-direct rdma technology by UCX，so l am reading your source code to find how to use gpu-direct rdma.( nv_peer_memory has been installed)
I found that ib_md.c looks relative to it, so l am tring to  find binary file of test_ib_md.c.
Would you like to tell me whether  my  idea is right？

[2019-10-16 10:51] #4276 closed

[2019-10-16 11:42] amaslenn commented on #4237
Reproduces in MTT.

Configuration
[code]

MTT log: http://hpcweb.lab.mtl.com/hpc/mtl_scrap/users/mtt/scratch/shmem/20191016_035908_36509_9638_jazz01.swx.labs.mlnx/html/test_stdout_K_CodZ.txt

Reproduces on Jazz and Orion.

Cmd:
`oshrun -np 196 --display-map --bind-to core -mca oshmem_proc_group_cache_size 10000 -mca sshmem ucx -mca atomic ucx -mca coll '^hcoll' -mca coll_hcoll_enable 0 -mca spml u

[2019-10-16 13:36] angainor commented on #4274
@bureddy Done some tests now, and I see two problems when running the OSU bw benchmark:

1. D D transfers fail with the assertion mentioned above. The logs for this case, together with a slurm job output are attached here [DD.zip](https://github.com/openucx/ucx/files/3734549/DD.zip)
2. H H transfers work for small messages, but also fail above 1024 bytes. Logs attached here [HH.zip](https://github

[2019-10-16 16:58] bureddy commented on #4274
[code]
From above, it seems following sequence of events in BCOPY protocol causing the failure.

-  uct_ugni_smsg_ep_am_bcopy called data pack_cb.  the callback will update `sate.dt.offset` with packed size ( https://github.com/openucx/ucx/blob/master/src/ucp/dt/dt.c#L140)
- UGNI TL failed to send the data.  request is added to pending queue
- Later, while processing the sending queue, it called p

[2019-10-16 21:45] pentschev commented on #4273
First, sorry for the delay to reply here. I had the chance to try this now, and using `UCX_TLS=all` works. However, there's a difference in bandwidth, with `ucx_perftest`, I see that `UCX_TLS=all` is faster than when specifying all variables (`UCX_TLS=tcp,cuda_copy,cuda_ipc,sockcm` to keep it minimalistic):

[code]

[code]

Interestingly, @quasiben has been updating a benchmark we have for UCX-Py

[2019-10-16 22:16] Akshay-Venkatesh commented on #4273
One of the differences is that ucxpy runs in blocking mode where as ucx_perftest runs in polling mode. Maybe you can report blocking ucx_perftest with a patch I've given previously.

[2019-10-16 23:15] jakirkham commented on #4273
Pasting the link to Akshay’s patch for completeness.

ref: https://gist.github.com/Akshay-Venkatesh/f7ba35d13410da60f5e131afa0a738eb

[2019-10-17 01:07] jakirkham opened #4300 "API/ABI compatibility between build variants"
Am curious from a building/packaging perspective how the API/ABI is affected by different compilations. For instance if CUDA is disabled/enabled, how does that affect the API/ABI available for other libraries to link against? Though this could be asked for other options as well. Asking as I'd like to know if other libraries built against UCX should be tracking/depending on these options somehow. O

[2019-10-17 07:02] yosefe commented on #4300
UCX API/ABI does not depend on ./configure result such as cuda on/off detection

[2019-10-17 08:41] pentschev commented on #4273
Using the blocking mode patch, this is what I get now:

[code]

[code]

Just as in the non-blocking mode, `UCX_TLS=all` performs better than `UCX_TLS=tcp,cuda_copy,cuda_ipc,sockcm`.

I think the more important thing is first to understand why specifying `UCX_TLS=all` for `ucx_perftest` is so much faster, this may help us in understand if we're doing something wrong in UCX-Py.

I don't know if this

[2019-10-17 10:57] brminich commented on #4259
@ca-taylor, can you please update about your previous configuration?
 `What was the configuration where VASP was working correctly with CX-5?
Was FW version the same? Did you change just Linux/kernel and UCX?`

[2019-10-17 11:28] evgeny-leksikov commented on #4207
Caught the failure with UCX_LOG_LEVEL=trace
[code]

[2019-10-17 12:04] ca-taylor commented on #4259
I'm not sure that there ever was one but I'm going to verify that and get back to you later today.

[2019-10-17 14:08] Akshay-Venkatesh commented on #4273
UCX_TLS=all being faster isn't surprising because rc, am transports will be used for control message exchange for rndv messages. Otherwise just tcp is used.

Cudamalloc isn't in the critical path of bandwidth measurement and there are just 2 calls. Ignore the difference.

Nvprof ucxpy benchmark maybe able to point to why you get 23GBps without tls=all as opposed to 19GBps with it.

[2019-10-17 17:47] ca-taylor commented on #4259
Under RHEL 7.5 with UCX 1.6.1 the problem is reproducible.   Here is the mlx5_core module info...
filename:       /lib/modules/3.10.0-862.9.1.el7.x86_64/kernel/drivers/net/ethernet/mellanox/mlx5/core/mlx5_core.ko.xz
version:        5.0-0
license:        Dual BSD/GPL
description:    Mellanox Connect-IB, ConnectX-4 core driver
author:         Eli Cohen <eli@mellanox.com>
retpoline:      Y
rhelversio

[2019-10-17 18:04] ca-taylor commented on #4259
running with,
ucx-static-1.4.0-1.el7.x86_64
ucx-devel-1.4.0-1.el7.x86_64
ucx-1.4.0-1.el7.x86_64

on

[2019-10-17 21:46] pentschev commented on #4273
Is it possible to simulate that by passing the proper variables so we can really see how they affect execution and perhaps understand them better?

Sure, I don't think they are the critical path either, I just found it curious that there's a substantial and consistent difference among multiple runs on the `cudaMalloc` time, as I wouldn't expect to see any changes in memory allocation time.

I just

[2019-10-17 21:56] jakirkham commented on #3042
I see this is on the `v1.7.0` milestone. Is that still accurate? Is there a PR related to this?

[2019-10-17 22:08] jakirkham commented on #3196
I see this is on the `v1.7.0` milestone. Is that still accurate? Is there a PR related to this?

[2019-10-17 22:08] jakirkham commented on #4138
I see this is on the `v1.7.0` milestone. Is that still accurate? Is there a PR related to this?

[2019-10-17 23:32] gcca opened #4306 "Question about tag send/recv and CUDA pointers"
Hi. I'm writing a UCX program to understand how the library works. One thing I looked is _ucp_tag_send_nb_ and _ucp_tag_msg_recv_nb_ works fine when the buffer pointer is created using _cudaMallocHost_, but when the pointer is created using _cudaMalloc_ I get the message
```cuda_copy_ep.c:158  UCX  ERROR cudaMemcpyAsync(buffer, (void *)remote_addr, length, cudaMemcpyDeviceToHost, iface->stream_d2h

[2019-10-18 01:22] yali25 opened #4307 "OpenMPI 4.0.2 configured with UCX and CUDA-10.1-update2 crashes on DGX2/V100 platform"
Hi,

we build OpenMPI 4.0.2 with UCX and CUDA-10.1-update 2 on a DGX2 machine but our application crashes.
OpenMPI 4.0.2 with CUDA-10.1-update2 but without UCX runs correctly.

The error message is:
`[jdgx2:97984:0:97984] Caught signal 11 (Segmentation fault: invalid permissions for mapped object at address 0x149698ea0a00)
==== backtrace ====
[jdgx2:97982:0:97982] Caught signal 11 (Segmentation fa

[2019-10-18 01:37] Akshay-Venkatesh commented on #4273
It may be possible but I don't know how straight-forward that is.

Interesting but not sure why.

Wait. Are you saying `UCX_TLS=all` is faster than `UCX_TLS=tcp,cuda_copy,cuda_ipc,sockcm` now for the ucxpy benchmark? The original issue says `UCX_TLS=all`  is slower.

If you meant `UCX_TLS=all`  is slower, I just recollected that previously we had seen cases within the node (where NVLINK was applic

[2019-10-18 03:06] bureddy commented on #4307
can you check with option ` -x  UCX_MEMTYPE_CACHE=n` ?
is basic OS microbenchmarks working fine?
is  GPUDirectRDMA plugin installed?

[2019-10-18 03:09] bureddy commented on #4306
@gcca there is no restriction in using TAG feature of UCP layer with CUDA pointers. what version of UCX you are using? is basic OSU microbenchmarks working with CUDA buffers?

[2019-10-18 03:13] bureddy commented on #4274
@angainor we have known issue here, it is not specific to CUDA.

[2019-10-18 04:36] yali25 commented on #4307
When using `-x UCX_MEMTYPE_CACHE=n` it runs correctly.
No GPUDirectRDMA plugin is not installed, does it make sense to install it? It is a single node machine with 16 GPUS and no inter-connect.

Which basic OS microbenchmarks do do you mean?

[2019-10-18 05:56] hoopoepg commented on #4138
@jakirkham issue is in processing "packed" datatype (in test there is derived datatype used as "packed") in OMPI. this is not UCX issue.

[2019-10-18 06:19] pentschev commented on #4273
Sorry, my mistake. `UCX_TLS=all` is slower for ucx-py, but faster for `ucx_perftest`.

Thanks for the hint, I will try that out today and report results back here.

[2019-10-18 09:06] ivyJchen opened #4309 "cannot use ibv_exp_reg_mr why？"
Hi,
We build OpenMPI3.1.1 with openucx1.6。I want use ibv_exp_reg_mr instead OF ibv_reg_mr 。
so ADD “-DHAVE_DECL_IBV_EXP_REG_MR=1 -DHAVE_DECL_IBV_EXP_ODP_SUPPORT_IMPLICIT=1” to CCASFLAGS 、CFLAGS、CPPFLAGS in Makefile。

run the comman ：
set ：export UCX_IB_REG_METHODS=odp
mpirun --allow-run-as-root -np 2  --mca pml ucx -x UCX_TLS=rc_x osu_bw

first we got what we expected：
#0  **ibv_exp_reg_mr** (in=0

[2019-10-18 12:17] brminich commented on #4259
@ca-taylor, I installed RHEL7.6, ics-2017-u4, OMPI4.0.x, UCX 1.6.1 and FW 16.25.4062, but could not reproduce the issue. The job goes smoothly, taking ~90GB per node (with either of the transports).
So, I have a couple of more questions:
- In your last experiment, did you change just UCX? Did you specify any UCX option for UCX-1.4 run?
- How do you build vasp? Do you use `-heap-arrays` option, lik

[2019-10-18 13:20] ca-taylor commented on #4259
Yes, just UCX.

I run all of the tests with the exact same job script.
export UCX_TLS=self,sm,rc
export UCX_MM_RX_MAX_BUFS=65536
export UCX_IB_RX_MAX_BUFS=65536
export UCX_IB_TX_MAX_BUFS=65536
export UCX_RC_VERBS_TX_MAX_BUFS=65536
export UCX_RC_VERBS_RX_MAX_BUFS=65536
export UCX_ZCOPY_THRESH=-1

No, I do not use --heap-arrays for the build.  However, I want to emphasize that this does not look lik

[2019-10-18 15:38] pentschev commented on #4273
@Akshay-Venkatesh have you used nvprof's cpu-profiling with UCX before? If so, could you tell me whether I should set any specific flags? I've been trying for quite some time already with `--cpu-profiling on` and the process always hangs. I've been trying now with `ucx_perftest`, additionally I've tried decreasing the sampling frequency and exporting results to file, but the process always hangs.

[2019-10-18 15:54] gcca commented on #4306
Hi @bureddy. I'm have the version 1.6.1. I paste my configuration.
'''UCX_NET_DEVICES=all
UCX_SHM_DEVICES=all
UCX_ACC_DEVICES=all
UCX_SELF_DEVICES=all
UCX_TLS=all
UCX_ALLOC_PRIO=md:sysv,md:posix,huge,thp,md:*,mmap,heap
UCX_SOCKADDR_TLS_PRIORITY=rdmacm,*
UCX_SOCKADDR_AUX_TLS=ud,ud_x
UCX_WARN_INVALID_CONFIG=y
UCX_BCOPY_THRESH=0
UCX_RNDV_THRESH=auto
UCX_RNDV_SEND_NBR_THRESH=256K
UCX_RNDV_THRESH_FALLB

[2019-10-18 16:42] bureddy commented on #4307
@yali25 is your application statically linked to cuda runtime? if yes, we have one known issue here : https://github.com/openucx/ucx/issues/3210

You dont need GPUDirectRDMA if you are using single node.

sorry, I meant to say OSU microbenchmarks : http://mvapich.cse.ohio-state.edu/benchmarks/

[2019-10-19 10:09] #4207 closed

[2019-10-21 04:52] yali25 commented on #4307
Thank you for your answer!

[2019-10-21 10:43] ca-taylor commented on #4259
I just confirmed (again) the following:

1. Running with RHEL 7.6 + UCX 1.4.0 - No issue
2. Running with RHEL 7.6  UCX 1.6.1 - Host memory exhaustion occurs and begins about 4 minutes into the run.

I changed _nothing_ other than to upgrade UCX from 1.4.0 to 1.6.1.

I did not recompile OpenMPI nor VASP against UCX 1.6.1.  However, doing so makes no difference.  The problem still occurs.

[2019-10-21 11:04] brminich commented on #4259
Also the issue is not seen with UD transport using either UCX, right?
Since I was not able to reproduce it locally, can you please collect statistics with UCX 1.4 as well, so I could compare it with UCX1.6 results?

[2019-10-21 13:59] ca-taylor commented on #4259
Right.

I'll do that as soon as I can.  In the meantime, will you provide me with the kernel and MLX5 driver versions on the hosts where you were unable to reproduce the problem?

[2019-10-21 14:41] bureddy commented on #4307
@yali25  can you confirm if your application linked statically?

[2019-10-21 18:16] ca-taylor commented on #4259
Hmmm.  I'm trying to test this under MOFED...

MLNX_OFED_LINUX-4.7-1.0.0.1-3.10.0-957.35.2.el7.x86_64, ucx-cma-1.7.0-1.47100.x86_64
ucx-knem-1.7.0-1.47100.x86_64
ucx-1.7.0-1.47100.x86_64
ucx-ib-1.7.0-1.47100.x86_64
ucx-rdmacm-1.7.0-1.47100.x86_64
ucx-devel-1.7.0-1.47100.x86_64
ucx-ib-cm-1.7.0-1.47100.x86_64

However, "ucx_info -d" doesn't show the mlx5 rc,ud devices?   I'm not sure why at the mome

[2019-10-21 18:41] ca-taylor commented on #4259
Please disregard.  I got it.  Sorry for the wasted BW.

[2019-10-21 19:10] shamisp commented on #4235
Why do you create request ? Is this unexpected message ?

[2019-10-21 19:22] brminich commented on #4259
I used RHEL7.6 with 3.10.0-957.el7.x86_64. Installed inbox rdma-core, libibverbs (utils|devel), librdmacm, UCX 1.6, OMPI4.0.x.

[2019-10-21 19:24] shamisp commented on #4274
@yosefe do we have any plans to resolve this ? UGNI post may fail at the very late stage.

[2019-10-21 19:30] ca-taylor commented on #4259
Interesting.  That is pretty much exactly what we had on our hosts when we first observed the problem.  We used UCX 1.6.1.  I built the RPMs here but I tried multiple builds with multiple options including all defaults and it made no difference.

Hmmm.

[2019-10-21 19:40] brminich commented on #4259
The difference between UCX 1.4 and UCX 1.6.1 (wrt RC verbs transport) is quite subtle. Double checking it. Stats with UCX1.4 may help

[2019-10-21 19:58] jakirkham commented on #4262
@shamisp, are we still on track for an RC1 tomorrow?

[2019-10-22 09:37] dmitrygx opened #4316 "tcp/test_zcopy_comp.issue1440/0 failure on hpc-arm-hwi-jenkins"
[code]
https://gist.githubusercontent.com/mellanox-github/0e1669be918a335e6e0928ac3e812860/raw/ffbee88b00b4afcc8deed5b7c780b96e642fe0e0/hpc-arm-hwi-jenkins_W1

[2019-10-22 12:15] jerwin66 commented on #3196
Intel does not recommend running OPA with UCX because it will run over verbs, and the higher performing API is PSM2. With Open MPI you should use either psm2 or ofi mtl. Will this work for you?

[2019-10-22 12:38] xtus commented on #3196
The final aim, on my side, was:
- use gdrcopy via UCX for a CUDA-aware build of OpenMPI
- use UCX for OpenSHMEM on OpenMPI

For the former I might need to look at hfi1/psm2 with CUDA support; for the latter not sure about.

[2019-10-22 13:51] ca-taylor commented on #4259
After installing MOFED (4.7.1) which includes UCX 1.7 on the hosts in the vasp_noz reservation and running the test case, the memory host memory exhaustion does NOT occur.  The job is still running just normally after over 20 minutes.

Note that I did not recompile VASP nor OpenMPI - just using the executables that were already built and that reproduced the problem.

[2019-10-22 14:05] brminich commented on #4259
Can we try to isolate that (for instance check UCX1.7 with upstream)?
The problem can be with upstream inbox driver + UCX.
So either MOFED driver or UCX1.7 helped.

[2019-10-22 14:10] yosefe commented on #4288
@lytofd all UCX unit tests are compiled to single binary, whose path is /home/centos/ucx/test/gtest/gtest

[2019-10-22 14:16] yosefe commented on #4309
@ivyJchen UCX v1.6 calls ibv_reg_mr and not ibv_exp_reg_mr if there are no "experimental" flags (e.g ODP)
see https://github.com/openucx/ucx/blob/v1.6.x/src/uct/ib/base/ib_md.c#L453
any reason that you need to use ibv_exp_reg_mr instead of ibv_reg_mr?

[2019-10-22 14:18] yosefe commented on #4306
@Akshay-Venkatesh what reason could be that cudaMemcpyAsync failed?

[2019-10-22 14:21] ca-taylor commented on #4259
Right.  My opinion (not worth much) at the moment is that the MOFED driver is the difference simply because the issue appears to be in kernel rather than user space.

I'm going to restore the nodes to their non-mofed (inbox RHEL 7.6) state and build UCX 1.7 (assuming I can).   I don't see a 1.7 release or tag on the github site so I'll have to use the MOFED sources unless you can point me to a 1.7

[2019-10-22 14:26] brminich commented on #4259
for newer UCX, you can just take master branch
*_mlx5 transports are accelerated transports, which provide better performance than regular verbs ones.
dc_mlx5 is scalable transport which provides very good performance (close to rc)

[2019-10-22 14:27] bureddy commented on #4306
@gcca do you see this issue only with your program?  is it possible to share your program?

[2019-10-22 15:03] Akshay-Venkatesh commented on #4306
@gcca I shared this with you earlier:
https://gist.github.com/Akshay-Venkatesh/cfc0d46846fb356ad871acda98a74c0d
Did this work for you? I got a thumbs up on the last exchange so I assumed things worked.

If it's not working, we need to see the difference in your usage and that's not possible without the repro program and repro details.

[2019-10-22 22:55] rzambre commented on #4235
The logic is not related to handling unexpected messages. Actually, I am not sure why we create a request there.

@raffenet would we break anything if we switch to always creating the request after `ucp_tag_recv_nb` returns?

[2019-10-23 01:20] yali25 commented on #4307
We are linking with the nvcc. According to the NVIDIA doc the default option for linking the cudart is static. That seems to happen in our case.

[2019-10-23 12:17] amaslenn opened #4323 "[mtt] hang in ctxalloc"
Configuration
[code]

MTT log: http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20191022_184249_74836_10464_hpc-arm-hp01/html/test_stdout_f34QOO.txt

Cmd:
`mpirun -np 168 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV,SIGBUS,SIGFPE,SIGABRT -x UCX_HANDLE_ERRORS=bt --bind-to hwthread -x UCX_NET_DEVICES

[2019-10-23 12:31] dmitrygx opened #4324 "rcx/test_ucp_perf.envelope/0 failure on hpc-test-node4 (Jenkins label: hpc-test-node-new)"
[code]

http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-test-node-new,worker=0//12724/console

[2019-10-23 12:40] madsbk opened #4325 "[Q] Is it legal to fork after initialization?"
After creating `ucp_context_h` and `ucp_worker_h`, is it legal to fork the process? If yes, what is the semantic? Is it as if they were created separately?

What about forking after calls to `ucp_ep_create()` and `ucp_listener_create()`?

cc @pentschev

[2019-10-23 13:06] yosefe commented on #4324
it was stale processes on the test node, killed them now should be OK
[code]

[2019-10-23 13:07] yosefe commented on #4325
@madsbk it's OK to fork as long as no RDMA or UCX API are used in the child process

[2019-10-23 13:07] dmitrygx commented on #4324
@yosefe thank you!

[2019-10-23 13:07] #4324 closed

[2019-10-23 13:12] madsbk commented on #4325
Thanks for the clarification!

[2019-10-23 13:12] #4325 closed

[2019-10-23 20:19] ca-taylor commented on #4259
I just confirmed that UCX 1.7.0 built from the MOFED sources exhibits the same issue as UCX 1.6.1 i.e. host memory exhaustion.

I think we can conclude at this point that the problem is not UCX but the something in the RH MLX5 driver.  I'll compare the sources if I get a chance.

[2019-10-24 03:32] lytofd commented on #4272
l hava met the same error,waiting for response ~

[2019-10-24 06:35] brminich commented on #2560
Happened in http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/12763/label=hpc-test-node-legacy,worker=1/consoleFull#98030106524dff065-0424-4e55-b698-eb134734d522
[code]

[2019-10-24 07:53] evgeny-leksikov opened #4327 "RMA issues with UD transports"
[code]
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-test-node-new,worker=1/12758/consoleFull#-120873193144550c5d-247a-4f9d-bad5-5b93d2b6e2ac

@dmitrygx pls add failures which you have seen

[2019-10-24 09:03] dmitrygx opened #4329 "cm/test_uct_pending.pending_async/0 failed on"
[code]
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/12765/label=hpc-test-node-new,worker=2/consoleFull

[2019-10-24 11:52] yosefe commented on #4323
duplicate of https://redmine.mellanox.com/issues/1608258 (Mellanox internal link)

[2019-10-24 13:45] shamisp commented on #4323
@yosefe do you see the same problem with clang ?

[2019-10-24 13:47] yosefe commented on #4323
it's not related to compiler
its rh 7.6 bug in rhashtable rht_deferred_worker kworker taking 100% cpu

[2019-10-24 14:22] shamisp commented on #4323
Ah, let's remove Armcc from the title, otherwise it is confusing.

[2019-10-24 15:12] rzambre commented on #4235
There might be a way we can rework logic in MPICH to prevent the creation of a Request in the callback, which would get rid of our need for user-information in the callback. So I'll close this issue for now.

[2019-10-24 15:12] #4235 closed

[2019-10-25 03:25] shamisp commented on #4300
Since the question was addressed, I will go ahead and close the ticket

[2019-10-25 05:13] #4300 closed

[2019-10-25 05:13] jakirkham commented on #4300
Thanks!

[2019-10-25 08:18] yosefe commented on #4327
probably happened because of zombie process

[2019-10-25 08:18] #4327 closed

[2019-10-25 08:20] yosefe opened #4331 "failure in sockaddr/test_uct_cm_sockaddr.connect_client_to_server_with_delay"
https://gist.githubusercontent.com/mellanox-github/99f634a7e62eec1d21b5546408eb52fe/raw/8e0ba350d0c20344ddb608e5579851b10b740750/hpc-test-node-legacy_W0
[code]

[2019-10-25 14:31] evgeny-leksikov commented on #4331
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-arm-hwi-jenkins,worker=3/12802/consoleFull#-853622487b816df86-9afc-46eb-984f-1a9a125d73bb

[code]

[2019-10-25 16:02] dkokron commented on #2729
Can you provide an estimate for when the UCX package will fully support being compiled with the PGI compiler?

[2019-10-25 22:20] shamisp commented on #4262
We are a bit behind. Once news RC is merged I will tag RC1.

https://github.com/openucx/ucx/pull/4338

[2019-10-25 22:35] jakirkham commented on #4262
No worries. Thanks for the update! 😄

[2019-10-27 19:46] #4138 closed

[2019-10-28 19:30] shamisp commented on #4262
here we go https://github.com/openucx/ucx/releases/tag/v1.7.0-rc1

[2019-10-28 19:36] jakirkham commented on #4262
Thank you! 😄

[2019-10-29 08:09] yosefe commented on #4103
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/12865/label=hpc-arm-cavium-jenkins,worker=1/consoleFull
[code]

[2019-10-29 08:11] #4222 closed

[2019-10-29 09:05] lytofd opened #4342 "How does env variable such as UCX_RNDV_SCHEME affect UCX?"
For example, while doing ucx_perftest , l should add "UCX_NET_DEVICES=mlx5_0:1   UCX_TLS=rc  "
before  ./ucx_perftest.
     But after searching the whole project, l only find UCX_NET_DEVICES in test_jenkins.sh and test_ucx_tls.py, this seem can not determine the way UCX runs.
    So how does the env variable such as UCX_RNDV_SCHEME ,UCX_TLS affect UCX?
    Thx.

[2019-10-29 09:56] yosefe commented on #4342
UCX_TLS: https://github.com/openucx/ucx/blob/master/src/ucp/core/ucp_context.c#L76
UCX_RNDV_SCHEME : https://github.com/openucx/ucx/blob/master/src/ucp/core/ucp_context.c#L153

[2019-10-29 12:22] dmitrygx opened #4346 "sockaddr/test_uct_sockaddr.err_handle/4 failed on hpc-test-node-gpu02"
[code]

http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/12875/label=hpc-test-node-gpu,worker=3/console

[2019-10-29 12:24] yosefe commented on #4346
hopefully `sysctl net.core.somaxconn=2048 net.core.netdev_max_backlog=10000 net.ipv4.tcp_max_syn_backlog=10000` should resolve this

[2019-10-29 12:26] dmitrygx commented on #4346
yes, I agree.
maybe add retries for connection establishment in SOCKSM as well as we have in TCP? wdyt?

[2019-10-29 12:27] yosefe commented on #4346
Good idea, but let's do this in next revamp of sockcm, when we move it to use new connection establishment API in UCT

[2019-10-29 12:29] dmitrygx commented on #4346
Sure. Since we will fix it by increasing system limits, should I close this ticket then?

[2019-10-29 12:30] yosefe commented on #4346
Let's close it if we don't see this issue again for a while

[2019-10-29 12:31] dmitrygx commented on #4346
👍

[2019-10-30 07:22] alinask commented on #4331
happened while opensm was down. might be related.

[2019-10-30 07:47] #4237 closed

[2019-10-30 11:05] evgeny-leksikov commented on #4331
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=r-vmb-ppc-jenkins,worker=0/12914/consoleFull#-853622487b816df86-9afc-46eb-984f-1a9a125d73bb
[code]

[2019-10-30 16:36] gmegan opened #4353 "Problem with client/server connection when atomics feature requested"
I am working on a bluefield development system running CentOS 7.6 with kernel version 5.2.1. When I try to run a simple server/client connection with atomics ucp feature requested, I get errors on the client side about no support for atomics on the transport to the server. I have tried with different UCX_TLS options but so far have not found any that work.

I am using the newest master branch of u

[2019-10-30 20:43] yosefe opened #4354 "segfault inudx/test_ucp_stream.send_recv_data_recv_16/0 from rdmacm"
[code]

[2019-10-30 22:31] shamisp commented on #4353
Looking at the code. Apparently inorder to enable AMO emulation you have to make sure that `ucp_wireup_ep_params_is_err_mode_peer()` passes through, which requires to set `UCP_EP_PARAM_FIELD_ERR_HANDLING_MODE` and `UCP_ERR_HANDLING_MODE_PEER`.

Example can be found here: `test/examples/ucp_client_server.c:142`

@yosefe it is not documented anywhere the AMO enablement depends on error handling mode

[2019-10-31 06:01] leeQT opened #4356 "Question about CUDA send/recv limit"
Hi, I'm writing a UCX program and encountered some problem. When I was using CUDA devices, I found `ucp_tag_send_nb` and `ucp_tag_recv_nb` didn't work when the buffer is large. If the length of message exceeds 8167, the received message length is always 8167. However when I wasn't using CUDA devices, everything worked fine.
So I'm wondering is there limitation of CUDA send/recv?

[2019-10-31 06:13] brminich opened #4357 "failure in sockaddr/test_uct_sockaddr.err_handle/4"
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/12930/label=hpc-test-node-gpu,worker=1/consoleFull#-853622487b816df86-9afc-46eb-984f-1a9a125d73bb

[code]

[2019-10-31 06:21] brminich commented on #4357
should be fixed by #4352

[2019-10-31 08:22] yosefe commented on #4357
fixed by #4352

[2019-10-31 08:22] #4357 closed

[2019-10-31 15:33] MartinHilgeman opened #4365 "UCX ERROR Failed to allocate memory pool with SMT enabled"
I am using UCX 1.5.1 with MLNX HDR-200. When I enabled SMT on our AMD EPYC 7742 nodes, my GROMACS job crashes right after startup:

  % module load openmpi/intel19/4.0.1
  % mpirun --bind-to none --mca pml ucx --mca osc ucx --mca spml ucx --mca btl ^vader,tcp,openib,uct --mca MCA_coll_hcoll_enable 0 -x UCX_NET_DEVICES=mlx5_2:1 -x UCX_TLS=sm,rc_x gmx_mpi mdrun -s bench.tpr ...

...
  [1572531563.96

[2019-10-31 17:24] gmegan commented on #4353
Removing the peer error handling mode from the client connection will allow the client to create an ep to the server which uses atomics emulation.

However, due to the use of 'UCP_FORCE_MODE', the client will fail to close its ep to the server.

[code]

[code]

[2019-10-31 17:36] brminich commented on #4353
With error handling SW emulation is disabled, because it implies messages exchange between sender and receiver. Since we do not have any `keep alive` mechanism yet, we would not be able to detect peer failure if it dies right after receiving SW emulation request (without sending a reply back). So several protocols are not supported with error handling (including RNDV and sync send)

[2019-10-31 18:46] shamisp commented on #4353
@brminich the constrained is not documented anywhere and no sensible error returned.
Can we opt to not handle errors and use emulation ?

[2019-10-31 18:50] shamisp commented on #4353
It would be useful to add some trace to see why exactly it fails

[2019-10-31 18:51] shamisp commented on #4365
pinned memory limit ?

[2019-10-31 18:56] MartinHilgeman commented on #4365
ulimit -l is set to 'unlimited'.

[2019-10-31 19:49] brminich commented on #4353
Without error handling you will get some indication when some process fails (in most cases), but you may not be able to recover. Can you avoid using `UCP_FORCE_MODE` close mode and use `FLUSH` instead?

@evgeny-leksikov, @alinask is `UCP_ERR_HANDLING_MODE_PEER` is required when connecting with sock addr? Or is it just a limitation in our example?

[2019-10-31 20:11] evgeny-leksikov commented on #4353
without error handling mode peer and ep_close in force mode, UCP clean up requires out of band sync, today there is no difference how connection was established because we use RDMA_PS_UDP.

@shamisp exactly

No, there is a chance that TX WQs are completed successfully, receiver (or network) dies and initiator hangs waiting ACK, network is silent. TCP socket is signaling error due to keep alive pro

[2019-10-31 20:16] brminich commented on #4353
so, as a conclusion, no need to use error handling and use FLUSH close mode instead of force?

[2019-10-31 20:17] evgeny-leksikov commented on #4353
that example does not have out of band TCP connection like hello_world has

[2019-10-31 20:26] shamisp commented on #4353
@evgeny-leksikov if you close connected QP, the other side will receive an event through async event handler. For UD, it is different story, but since you already have all the retransmission logic and progress thread, keep alive should be somewhat simple...

[2019-10-31 20:27] shamisp commented on #4353
@brminich - we can potentially use flush, but @gmegan hitting some other error in flush mode (she can comment here).No RNDV, No AMO , No Sync send  - kinda very constraining. We want to use more and more server/client. I think Java/Python users also will use mostly server client mode.

[2019-10-31 20:32] evgeny-leksikov commented on #4353
what is async event handler in this context? As I know IB does'n report such error if there is no traffic.

[2019-10-31 20:59] shamisp commented on #4353
@evgeny-leksikov Do you close the QP ?

[2019-10-31 21:12] shamisp commented on #4353
IBV_EVENT_QP_FATAL, but I think you are right about the fact that some WQE has to fail. Now, I recall that in my mvapich version of similar logic I had retransmit on timeout.

What about rdma_disconnect() ? If one side issues rdmacm disconnect, does it generate event on the other side ?

[2019-10-31 21:15] evgeny-leksikov commented on #4353
yep, this is what we are working on... using RDMA_PS_TCP + rdma_disconnect in UCT + close protocol in UCP

[2019-10-31 21:27] shamisp commented on #4353
@evgeny-leksikov make sense. What about use case when you don't have rdmacm ?

[2019-10-31 21:48] evgeny-leksikov commented on #4353
@shamisp Need to add the same approach to UCT/sockcm

[2019-10-31 23:22] pentschev opened #4367 "UCM/CUDA: failure in ucm_cudafree_dispatch_events when there is no context"
When `cudaFree` is called, `ucm_cudafree_dispatch_events` will call `cuMemGetAddressRange` to attempt to find the base pointer and its size. If there's no CUDA context set in the thread, the call to `cuMemGetAddressRange` will fail and consequently the assertion https://github.com/openucx/ucx/blob/master/src/ucm/cuda/cudamem.c#L117 as well.

For a bit more context on when this issue happens, it ma

[2019-10-31 23:58] bureddy commented on #4367
@pentschev I think assertion should be only when cuMemGetAddressRange
And also I think we can downgrade the warning

[2019-11-01 03:43] Keepmoving-ZXY opened #4368 "Can mempool of ucx manage cuda memory?"
These days  I want to mange cuda memory in my code, and I find that ucx has implemented mempool,  but I can't make sure whether ucx's mempool can manage cuda memory or not due to too many code file in ucx project. So can mempool of ucx manage cuda memory, and can you give me some instructions to help me manage cuda memory in ucx?

[2019-11-01 06:32] leeQT commented on #4356
I'm trying to make a stand-alone example by modifying the ucp_hello_world.c and I encountered following error:
`gdb$
#7  __memcpy_avx_unaligned () at ../sysdeps/x86_64/multiarch/memcpy-avx-unaligned.S:136
136     ../sysdeps/x86_64/multiarch/memcpy-avx-unaligned.S: No such file or directory.
gdb$ up
#8  0x00007fa7fa99bd03 in memcpy (__len=<optimized out>, __src=<optimized out>, __dest=<optimized ou

[2019-11-01 06:42] dmitrygx commented on #4356
Do you set `UCX_TLS`?
If yes, please, make sure that you're setting cuda TLs for doing memory transfers from/to device memory. e.g. `UCX_TLS=rc,cuda_copy`
BTW, could you share full gdb backtrace, please?

[2019-11-01 08:07] leeQT commented on #4356
I didn't set UCX_TLS, but since the default value of it is "all", I think that's ok.
My full backtrace is as follows:
[bt.txt](https://github.com/openucx/ucx/files/3797093/bt.txt)

[2019-11-01 08:44] dmitrygx commented on #4356
I wasn't able to reproduce this issue when running the provided test w/o setting `UCX_TLS`
When I'm setting `UCX_TLS=rc_x` , it crashes when trying to do `memcpy()` for CUDA buffer when doing calling UCT AM Short from UCP TAG operation.

Also, the similiar error can occur if you configured UCX w/o CUDA support. Please, make sure that you configure UCX with CUDA by setting:
`./contrib/configure-rel

[2019-11-01 09:10] yosefe commented on #4368
it's not possible because mpool metadata is also on the backing storage

[2019-11-01 09:13] yosefe commented on #4365
is there any mlx5 error in dmesg from same time the failure happens in the application?
looks like get_user_pages() failed for some reason.
Can you please attach the full output?

[2019-11-01 09:13] Keepmoving-ZXY commented on #4368
ok, and does rcache can manage cuda memory of different gpu devices?

[2019-11-01 09:14] #4083 closed

[2019-11-01 10:42] MartinHilgeman commented on #4365
This is in dmesg:

[code]

[2019-11-01 10:48] MartinHilgeman commented on #4365
I am running latest firmware at the moment:

[code]

[2019-11-01 11:17] yosefe commented on #4368
Yes

[2019-11-01 11:57] Keepmoving-ZXY commented on #4368
thank you, I have a detailed watch to rcache.

[2019-11-01 14:43] gmegan commented on #4353
@brminich When changing to FLUSH mode, the client can close the ep. However, the server encounters an error trying to close its ep. In my tests, this error occurs consistently the second time a client connects. The error is only on the server, and both server and client attempt to close the ep in FLUSH mode.

[code]

[2019-11-01 16:33] pentschev commented on #4367
Thanks for the reply @bureddy. I opened https://github.com/openucx/ucx/pull/4374 to address this.

[2019-11-01 19:39] yosefe commented on #4365
@MartinHilgeman this seems like FW issue

[2019-11-02 08:57] #4367 closed

[2019-11-03 07:30] alinask commented on #4353
@gmegan Which changes did you make to the code? Can you please add the 'git diff' output here?
Also, which ucx branch are you using?

[2019-11-04 07:58] alinask commented on #4354
Ran on the same host, 2 simultaneous launches in a loop, more than 60000 iterations on each without reproduction.

[2019-11-04 10:16] yosefe commented on #4354
@alinask can it happen when SM is down?

[2019-11-05 09:26] devreal opened #4388 "How to use uct_ib_md_alloc_device_mem?"
I came across the PR for Open MPI that added `shmemx_malloc_with_hint`, implemented in terms of `uct_ib_md_alloc_device_mem` (https://github.com/open-mpi/ompi/pull/6641). I would like to give this shmem function a try but I cannot seem to get it to work properly. First, it seems that `uct_ib_md_alloc_device_mem` is only available in the `v1.6.x` branch (@artpol84 confirmed that). Second, even on t

[2019-11-05 09:28] yosefe commented on #4388
@devreal in order to install that file, need to configure UCX with `--enable-devel-headers`

[2019-11-05 14:45] shamisp opened #4390 "Remove UCX_TLS rc alias or rename rc TL to rcv"
So, I checked few people outside of Mellanox about their understanding what "rc" in UCX_TLS actually means. As expected, nobody had an idea that rc is an alias that silently enables rc_mlx5. The actual name for rc transport is rc_v and not rc. My suggestion is to remove rc alias and map it back to an actual rc TL.  Alternative is rename rc TL to rcv.

[2019-11-05 14:55] devreal commented on #4388
@yosefe Thanks, that did the trick :) Closing

[2019-11-05 15:33] yosefe commented on #4390
We can rename "rc" transport to "rc_verbs" and "rc" alias will enable both.
This will prevent situation where users who are not aware of mlx5/verbs difference will select "rc" transport, and will get worse performance.

[2019-11-05 16:03] shamisp commented on #4390
Rename to rc -> rc_verbs transport works for me.

[2019-11-05 17:25] shamisp commented on #4390
BTW, the same goes for UD.

[2019-11-05 18:26] yosefe commented on #4390
Of course.

[2019-11-06 07:40] Keepmoving-ZXY commented on #4368
Does `ucp_mem_map` can allocate cuda memory

[2019-11-06 07:40] #4368 closed

[2019-11-06 08:15] Keepmoving-ZXY opened #4392 "Does ucx support allocate and register cuda malloc?"
These days I want to find out how to allocate cuda memory in ucx. In `libperf.c`, I find ucx use `cudaMalloc` as cuda memory allocator,  and no rcache to manage cuda memory as below:
[code]
In my project, I want to allocate cuda memory then register memory to RDMA NIC with `rdma_reg_read` as well as host memory. And these days I have a look at `ucp_mem_map`, it seems that  `rcache` has already man

[2019-11-06 08:26] yosefe commented on #4392
Yes, ucp_mem_map() can register cuda memory and manage it in rcache just like host memory

[2019-11-06 08:29] Keepmoving-ZXY commented on #4392
ok, I will have a more careful look at parameter of `ucp_mem_map`  to find out how to allocate cuda memory with `ucp_mem_map`.

[2019-11-06 08:30] yosefe commented on #4392
ucp_mem_map() can **register** cuda memory. it can't allocate cuda memory

[2019-11-06 08:38] Keepmoving-ZXY commented on #4392
thank you, let me have a try.

[2019-11-06 08:41] Sergei-Lebedev opened #4393 "cudaHostRegister invalid argument in uct_cuda_copy_mem_reg"
ucp_mem_map fails to register cuda memory.
The exact error:
[code]
uct_cuda_copy_mem_reg first checks memory type and then if it's not a host pointer it calls cudaHostRegister. But cudaHostRegister in turn works only for host memory and it doesn't make sense to pass cuda pointer to it, probably that's why ucx prints "invalid argument" error.

[2019-11-06 08:51] Sergei-Lebedev commented on #4393
UPD: there are no errors If memtype cache is disabled

[2019-11-06 09:06] devreal commented on #4388
I have to reopen this ticket as I am unable to allocate device memory. The call to `uct_ib_md_alloc_device_mem` returns `UCS_ERR_NO_RESOURCE`. Digging into it, it seems that `ibv_exp_alloc_dm` returns `NULL`. Is there any way to find out why the allocation fails?

The output of ucx_info (I don't see information on device memory though):

[code]

And `ibv_devinfo`:
[code]

[2019-11-06 09:16] yosefe commented on #4388
@devreal Connect-IB does not support device memory, it's only for ConnectX-5 and above

[2019-11-06 09:32] devreal commented on #4388
Argh, I was under the assumption that that machine had ConnectX-5 NICs but I checked back with support and was told that it's Connect-IB. How unfortunate. Anyway, thanks for the help :)

[2019-11-06 09:56] dmitrygx commented on #4393
@Sergei-Lebedev could you share `params` that you pass as an argument, please?

[2019-11-06 14:40] bureddy commented on #4393
@Sergei-Lebedev the check(https://github.com/openucx/ucx/blob/master/src/uct/cuda/cuda_copy/cuda_copy_md.c#L76)  is to prevent double registration. cuPointerGetAttribute() return CU_MEMORYTYPE_HOST only if the memory is already registered or allocated with cudaMallocHost(0 which is already registered.

if memory is allocated with malloc() and friends, then cuPointerGetAttribute() return NULL

[2019-11-06 14:48] bureddy commented on #4393
look like memtype cache not detected the type correctly
 for ucp_mem_map memory https://github.com/openucx/ucx/blob/master/src/ucp/core/ucp_mm.c#L329

[2019-11-06 14:59] dmitrygx commented on #4393
@bureddy yes, this is a case
we have a fix for this

[2019-11-07 00:24] Akshay-Venkatesh opened #4403 "ERR_MODE_PEER and ucp_ep_close_nb"
Probably a question for @petro-rudenko

I noticed that java bindings uses [`ucp_ep_destroy`](https://github.com/openucx/ucx/blob/master/bindings/java/src/main/native/endpoint.cc#L88) but the api documentation says this:

[code]
Will this be updated soon?

This came when were trying to get examples running on a machine we have access to where ucp_client_server example was failing without ep_params

[2019-11-07 09:03] petro-rudenko commented on #4403
Yes, working on having this in JUCX.

[2019-11-07 09:36] akesandgren opened #4406 "Assert hdr->length <= (iface->am_ buf_size - sizeof(uct_tcp_am_hdr_t))"
Just got hit by the above when running IOR on a single node. Quite unexpected since I've been running it a fair amount of times without seeing it.

Any thoughts on what might be triggering this?

Any other info you want?

[2019-11-07 10:03] dmitrygx commented on #4406
@akesandgren
Neither master nor v1.7.x branches have this assertion. Could you try master or v1.7.x, please?

[2019-11-07 10:05] akesandgren commented on #4406
You mean that the assert itself is no longer there?

I can try but it will take a while before I have time and I don't have an easy reproducer.

[2019-11-07 10:06] dmitrygx commented on #4406
yep

thank you!

[2019-11-07 20:52] pentschev opened #4410 "UCM/CUDA: NVLink double free and cache not cleaned"
I've been debugging for some time an out of memory error in UCX-Py which I managed to trace down to the CUDA IPC cache. When setting `UCX_CUDA_IPC_CACHE=n` there's no out of memory error anymore, but in some circumstances the application crashes in https://github.com/openucx/ucx/blob/master/src/uct/cuda/cuda_ipc/cuda_ipc_iface.c#L206-L209 due to an attempt of unmapping the same memory address mult

[2019-11-07 22:13] bureddy commented on #4410
@pentschev
1) yes, there is a possibility that cache may never get cleanup if there is no conflict in the opened mappings, @Akshay-Venkatesh  @ssaulters  maybe we need some kind limit here ( # entries?)

2) It looks to me that reusing the same address is the issue here.  this could happen if there are multiple simultaneous transfers with the same address on the fly.  assuming cuda driver don't mai

[2019-11-07 22:48] pentschev commented on #4410
That makes sense. I think we do need a limit and perhaps a safe cleanup as well, i.e., if a `cudaMalloc` fails, clean cache and try again.

I think they don't maintain a refcount, but I may be mistaken. Regardless of that, what would you say is the correct solution? Not reusing the same addresses or something else?

[2019-11-07 23:17] bureddy commented on #4410
@pentschev does it make sense to reusing the same addresses in multiple outstanding transfers.  data won't be consistent right?

[2019-11-08 02:10] quasiben commented on #4390
something to be aware of @pentschev

[2019-11-08 03:01] lytofd opened #4411 "Can ucp_mem_map register cuda memory?"
Can ucp_mem_map register cuda memory  ?
If it can achives, must i install nv_peer_memory？
Thx.

[2019-11-08 03:41] bureddy commented on #4411
yes

from API perspective, it will work irrespective of nv_peer_memory presence. it registers with IB transports and caches the registration if nv_peer_memory exist

[2019-11-08 04:10] ivyJchen commented on #4309
@yosefe  thanks

[2019-11-08 04:10] #4309 closed

[2019-11-08 08:59] pentschev commented on #4410
It depends, the design may decide to enqueue transfers and reuse the same mapping. If it was over PCIe, that could be ok performance-wise to do that, since we couldn't have multiple transfers in a direction at the same time, I don't know if that's the case for NVLink though. But based on the way you formulated your comment, I assume you're saying we shouldn't reuse a memory address, which makes se

[2019-11-10 07:42] alinask opened #4419 "failure on tcp/uct_p2p_mix_test.mix_10000/0 with valgrind"
[code]

http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/2518/pipeline/113

[2019-11-10 08:30] yosefe opened #4420 "hang in rc_mlx5/uct_p2p_rma_test_alloc_methods.xfer_reg_odp on upstream"
http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/2520/nodes/113/steps/1242/log/?start=0
[code]

[2019-11-10 08:51] yosefe commented on #4419
potentially duplicate of #3769

[2019-11-10 09:41] yosefe opened #4421 "hang in dcx/test_ucp_perf.envelope on upstream"
Firmware: 16.26.0174
kernel 5.3.0-rc7
[code]

[2019-11-10 13:56] #4390 closed

[2019-11-10 15:53] alinask commented on #4420
same with dc_mlx5:

[code]

http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/2528/pipeline/114

[2019-11-11 07:30] brminich opened #4425 "failure in sockaddr/test_uct_cm_sockaddr.cm_server_reject/13 <sockaddr/ib0>"
happened here: http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/2546/pipeline/

[code]

[2019-11-11 08:27] yosefe commented on #4425
SM was down. Let's check it before opening an issue, with `sudo sminfo` command.

[2019-11-11 08:27] yosefe commented on #4425
closing because it's setup issue

[2019-11-11 08:27] #4425 closed

[2019-11-11 13:20] Sergei-Lebedev opened #4426 "rndv send hangs for gpu buffers with ucx_rndv_scheme auto"
After #4123 host to gpu send hangs if default rndv scheme is used. No freezes with UCX_RNDV_SCHEME=get_zcopy or UCX_RNDV_SCHEME=put_zcopy
@bureddy could you please check?

[2019-11-11 20:34] souravzzz opened #4430 "ucp_tag_send_nbr() does not use calculated rendezvous threshold"
In both `ucp_ep_config_set_rndv_thresh()` and `ucp_ep_config_set_am_rndv_thresh()`, we have

[code]

Consequently, `ucp_tag_send_nb()` uses a rendezvous threshold calculated based on the interface characteristics while `ucp_tag_send_nbr()` uses a hard-coded value of 256K. Since MPI libraries use `ucp_tag_send_nbr()` if available, rendezvous thresholds are not getting automatically calculated. Is t

[2019-11-11 21:11] abellina commented on #4356
I can reproduce this issue. Stack below. I can't send using the tagged interface above 8K or so. I took the benchmark BW sender/receiver, and made the tag buffer larger (1MB in the receiver, and 10K in the sender), and the pointer is from cudaMalloc.

Could there be an example of using the tagged interface using a cudaMalloc pointer? I am able to send smaller payloads using tags (~8 KB), but when

[2019-11-11 22:34] abellina opened #4432 "cuda zero-copy device to device (intra host or inter host)"
Is there currently a way to get a buffer allocated via cuda copied to either:

1. The same machine, different GPU
2. Different machine

Without a copy to the host memory?

[2019-11-11 22:35] abellina commented on #4356
related question: https://github.com/openucx/ucx/issues/4432

[2019-11-11 23:52] bureddy commented on #4432
Yes if you have a transport Like IB that can do zero-copy transfer from CUDA memory using GPUDirectRDMA.
you need to set  following parameters
[code]

is your GPUs with in the same machine are  Cuda IPC accessible?

[2019-11-12 00:36] bureddy commented on #4356
can you check with
[code]

you can check Basic OSU microbenchmarks  latency, bw test with cudaMalloc pointer with tag API
http://mvapich.cse.ohio-state.edu/benchmarks/

[2019-11-12 04:26] paklui opened #4433 "TOOLS/PERF: rocm perf modules not available"
The ucx_perftest for rocm cannot run because the perf modules for rocm are not available.

[2019-11-12 05:19] paklui commented on #4433
The proposed changes in PR #4434 should provide the ucx_perftest for rocm and rocm-managed.
[code]

[2019-11-12 06:11] brminich commented on #4430
Yes, it is expected. MPI libraries use `ucp_tag_send_nb()` also.
`ucp_tag_send_nbr()` mostly used for blocking MPI_Send()

[2019-11-12 06:21] abellina commented on #4432
Yes to both questions. I will test IB also, does Cuda IPC just get enabled via `UCX_TLS=cuda_ipc`? Do I need IB for it?

Currently I am running a test where I send and received tagged between two processes in the same machine, with send/recv buffers in two different gpus connected over PCIe.

[2019-11-12 11:39] evgeny-leksikov commented on #4420
with rc_verbs:
[code]
http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/2597/pipeline/

[2019-11-12 12:29] lytofd commented on #4411
l did a experiment  aiming at registering cuda memory.
After allocating cuda memory , its value is  0x7f93b7a00000.
But when using this value to register into UCX  like this
`ucs_status_t status;
    ucp_context_h ucp_context;
    ucp_context = get_ucp_context();
    ucp_mem_map_params_t mem_map_params;
    memset(&mem_map_params, 0, sizeof(ucp_mem_map_params_t));
    mem_map_params.field_mask = U

[2019-11-12 12:31] dmitrygx commented on #4411
@lytofd do you use the latest UCX?

[2019-11-12 15:46] bureddy commented on #4356
[code]

@dmitrygx  what protocol is being used here with tcp,sockcm ? it is a bit strange that it called dt pack with 10000 bytes. shouldn't it bcopy-multi abive 8K?

[2019-11-12 15:55] souravzzz commented on #4430
@brminich Indeed. But doesn't this mean that blocking MPI sends will always use a rendezvous threshold of 256K regardless of the performance characteristics of the underlying transport, unless overridden by the environment variable? Is there any particular reason this value was chosen?

[2019-11-12 15:55] dmitrygx commented on #4356
yes, it has to be multi-Bcopy or Zcopy (Zcopy protocol can be used up to 64Kb)

[2019-11-12 16:15] abellina commented on #4411
Given this comment by @yosefe (https://github.com/openucx/ucx/pull/4416#issuecomment-552519913), I don't know what the benefit is of registering cuda memory (not yet anyway). Can someone explain that?

[2019-11-12 16:48] dmitrygx commented on #4411
@abellina to force registering of CUDA memory during initialization - it will be cached, i.e. it will not register memory on a fast path. But UCX has RCACHE, so the benefits will be imperceptible

[2019-11-13 06:06] lytofd commented on #4411
[](url)

If ucp_mem_map can register cuda memory, it means that i can pass a cuda memory address to function ucp_mem_map, and registeration could be done?
But l have met the error  as  above.
Even if the cuda memory has been registered in server side (l have tried with ucp_mem_rereg_mds instead  of ucp_mem_map,  and it returned UCS_ OK), but client side can not using ucp_put to put msg to remote c

[2019-11-13 06:07] lytofd commented on #4411
-----------------------------------------------------------------------------
If ucp_mem_map can register cuda memory, it means that i can pass a cuda memory address to function ucp_mem_map, and registeration could be done?
But l have met the error as above.
Even if the cuda memory has been registered in server side (l have tried with ucp_mem_rereg_mds instead of ucp_mem_map, and it returned UCS_

[2019-11-13 07:05] lytofd commented on #4411
Emm，not the lastest, but not too old, l will try it again.

[2019-11-13 08:46] dmitrygx commented on #4411
@lytofd yes, right

yes, pls try latest UCX after #4400 gets merged (this PR fixes `ucp_mem_map()`)

[2019-11-13 12:17] lytofd commented on #4411
Latest version actually fixed the cuda registeration problem.
Server could register its cuda memory address and pack  rkey infomation, but  when client get remote rkey info and unpacking with  ucp_ep_rkey_unpack,error  happends as below:
-------------------------------------------------------------------------------------------
[1573646897.304744] [gpu2:177186:0]    cuda_ipc_md.c:130  UCX  ERROR c

[2019-11-13 12:18] lytofd commented on #4411
Latest version actually fixed the cuda registeration problem.
Server could register its cuda memory address and pack rkey infomation, but when client get remote rkey info and unpacking with ucp_ep_rkey_unpack,error happends as below:
[1573646897.304744] [gpu2:177186:0] cuda_ipc_md.c:130 UCX ERROR cuCtxGetDevice(&this_device) is failed. ret:invalid device context
[1573646897.304766] [gpu2:177186:0]

[2019-11-13 12:31] dmitrygx commented on #4411
@lytofd this seems to be another issue.
could you try your example with cuda_ipc disabled, e.g. `UCX_TLS=rc_x,sm,cuda_copy`

[2019-11-13 13:21] dmitrygx commented on #4356
@leeQT
I can't reproduce the issue locally on my setups.
Could you pls try the latest UCX (master branch) with `UCX_LOG_LEVEL=data` set?

[2019-11-13 14:37] #4269 closed

[2019-11-13 19:36] #4393 closed

[2019-11-14 09:56] leeQT commented on #4356
Thank you so much for your reply, I found that problem is caused by static compilation. I re-compiled with dynamic linking and problem solved.

[2019-11-14 11:43] dmitrygx commented on #4356
yes, that's the problem
we have a documentation for this case - [NVIDIA GPU support "Known issues"](https://github.com/openucx/ucx/wiki/NVIDIA-GPU-Support#known-issues)
thank you!

@leeQT could you confirm that we can close the issue?

[2019-11-14 15:25] lytofd commented on #4411
Thx

[2019-11-14 15:30] dmitrygx commented on #4411
@lytofd does it help you?

[2019-11-14 16:32] amaslenn opened #4447 "[mtt] hang in verifier"
Configuration:
[code]

MTT log: http://e2e-gw.mellanox.com:4080/hpc/scrap/users/mtt/scratch/shmem/20191112_114842_24544_496584_clx-orion-002/html/test_stdout_Va93Qr.txt

The hang doesn't always reproduce. Test takes about 2min to finish or hangs (waited for an hour).

Cmd:
`oshrun -np 784 --display-map --bind-to core -mca oshmem_proc_group_cache_size 10000 -mca sshmem ucx -mca atomic ucx -mca coll

[2019-11-15 00:08] paklui commented on #3722
#4376

[2019-11-15 00:10] paklui commented on #3722
#4376

[2019-11-15 00:27] paklui commented on #3722
The gtest for rocm appears to be enabled again by #4376 I am able to run the gtest now.
@stanleytsang-amd , do you think we can close this issue?
Here's the (incomplete) log:
[Uploading log.gtest.daytona32.191111_003510.txt…]()

[2019-11-15 00:57] paklui commented on #3722
I see from #4376 , the rocm gtest has been enabled again.
Running the command like this generates some runs.
[log.gtest.daytona32.191114_185244.txt](https://github.com/openucx/ucx/files/3849324/log.gtest.daytona32.191114_185244.txt)
[out.gtest.daytona32-list.txt](https://github.com/openucx/ucx/files/3849325/out.gtest.daytona32-list.txt)

``
ucx/test/gtest/gtest --gtest_filter=*rocm*
``
@stanleytsa

[2019-11-15 07:16] lytofd commented on #4411
it works for regsteration and  l had tried with  ucp_tag_recv_nb & ucp_tag_send_nb
Server started first  with calling  ucp_tag_recv_nb and waiting for  client  sending msg with ucp_tag_send_nb.
But  signal 11 has been catched when entering  ucp_tag_recv_nb .
-------------------------------------------------------------------------------------------
`const ucp_tag_t TAG = 0x1337;
request = ucp_tag_

[2019-11-15 15:09] tonycurtis opened #4449 "git master compile errors with newer compilers"
master @ 803b4026c5c0a78ceda24a2ecc03c995ab613d96 with newer compiler versions, e.g. gcc 9.2.1, clang 8.0.0

[code]

[2019-11-15 19:14] stanleytsang-amd commented on #3722
Agreed.  Closing

[2019-11-15 19:14] #3722 closed

[2019-11-15 21:19] abellina opened #4454 "Crash at ucp_init_version from java api"
When trying to initialize a context via the jni api, I am getting the following segfault. Wonder if anybody else has run into it?

My java code looks like:
[code]

[code]

[2019-11-15 22:18] tonycurtis commented on #4449
Yep, #4451 looks like it is working.  thanks.

[2019-11-15 22:30] abellina commented on #4454
I ran this with `UCX_TLS=tcp`

[2019-11-15 23:00] yosefe commented on #4454
I've tried to reproduce this with UCX_TLS=tcp and didn't see a failure,
how was UCX built? Which version? Maybe need to cleanup build and installation directory?
Can you please post output of `/home/abellina/ucx/build/bin/ucx_info -v`?

[2019-11-16 04:33] abellina commented on #4454
@yosefe this issue was on my end, I had a missing symbol that caused one of the dynamic libraries to fail to load. Thanks, closing.

[2019-11-16 04:33] #4454 closed

[2019-11-16 22:04] yosefe opened #4458 "segfault in UcxEndpointTest, uct_rc_iface_tx_ops_cleanup"
http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/2692/nodes/108/steps/1102/log/?start=0
[code]

[2019-11-18 02:16] leeQT commented on #4356
Yes,  closing now.

[2019-11-18 02:16] #4356 closed

[2019-11-18 08:22] yosefe opened #4461 "hang in tcp/test_uct_ep.disconnect_after_send/0"
https://gist.githubusercontent.com/mellanox-github/99220674013875e95eaebf42550e9138/raw/976333edce7344b6fc593a87c912b45fcc501c52/hpc-arm-hwi-jenkins_W3
[code]

[2019-11-18 12:13] dmitrygx commented on #4461
related to #4237

[2019-11-18 15:58] dmitrygx commented on #4411
@lytofd did you ask UCP to support TAG-matching?
i.e. have to specify `UCP_FEATURE_TAG` bit to `ucp_params::features` in order to enable TAG-matching in UCP, e.g.:
[code]
could you check it pls?

[2019-11-19 08:42] dmitrygx commented on #4461
fixed by #4463

[2019-11-19 11:54] #4458 closed

[2019-11-19 12:45] amaslenn opened #4474 "[mtt] hang in mpi-small-tests/misc/collmeas with TLS=tcp"
Configuration
[code]

MTT log: http://hpcweb.lab.mtl.com//hpc/mtl_scrap/users/mtt/scratch/ucx_ompi/20191118_080139_90265_12330_jazz06.swx.labs.mlnx/html/test_stdout_W9e2EX.txt

Waited for 18 hours.

Cmd:
`mpirun -np 56 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV,SIGBUS,SIGFPE,SIGABRT -x UCX_HANDLE_ERRORS=bt --bind-

[2019-11-19 18:17] abellina commented on #4403
@petro-rudenko any news on this patch? Could we get it into 1.8.0?

[2019-11-19 19:36] yosefe commented on #4403
@Akshay-Venkatesh @abellina we discussed this today with @evgeny-leksikov , and it seems like we can enable error handling mode with new connection establishment method (because we can detect remote disconnect event). currently it's in plans for v1.8.0 release.

[2019-11-20 13:45] amaslenn opened #4480 "[mtt] Error: ucp_ep_create() failed: Destination is unreachable with TLS=tcp"
Configuration
[code]

MTT log: http://e2e-gw.mellanox.com:4080/mnt/lustre/users/mtt/scratch/ucx_ompi/20191120_042620_21302_500343_clx-orion-077/html/test_stdout_44A778.txt

Works well with `np=156`.

Cmd:
`mpirun -np 252 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV,SIGBUS,SIGFPE,SIGABRT -x UCX_HANDLE_ERRORS=bt --bin

[2019-11-20 13:45] amaslenn commented on #4480
Can be related to #3513

[2019-11-20 22:34] #4449 closed

[2019-11-21 08:55] angainor opened #4482 "bug: pending request should have been flushed"
In my benchmark code I quite often see the following bug reported by UCX 1.6.1:

[code]
This is a multi-threaded benchmark, in which two ranks with `nthr` threads both send and receive messages to/from each other. Each thread keeps `inflight` messages posted at a time. Each rank  submits in total roughly `nmesg` send and recv requests, and when the ranks notice that they have sent and received at

[2019-11-21 09:01] yosefe commented on #4482
@angainor all outstanding requests must be completed before destroying the worker

[2019-11-21 09:04] angainor commented on #4482
@yosefe Thanks! This might be difficult in some situations in practice. Is there some way to cancel all posted requests? The problem is that when using the callback interface I currently don't keep track of the returned requests, and only free them in the callback itself. So when threads submit a bunch of requests, I currently have no means to cancel them before I quit.

[2019-11-21 09:11] yosefe commented on #4482
@angainor currently there is no such option, because it will add more overhead for cases where a user does not have leftover requests. I think it makes sense that the application would track the requests in such case, similar to the requirement to free() all pointers that one would malloc()..

[2019-11-21 09:14] angainor commented on #4482
@yosefe OK, thanks for the clarification. Could you also clarify how the `ucp_worker_flush_nb` works exactly? If two peers each submit a different number both matching, and non-matching send_tag and recv_tag requests, what will be the outcome of a flush? I suspect I do not full understand what it does..

btw, I see now that I get the above 'bug' message when running within one compute node. I do n

[2019-11-21 09:16] yosefe commented on #4482
@angainor the effect of ucp_worker_flush_nb() on send/recv requests is undefined. It only guarantees both local and remote completion of RMA and AMO operations.

[2019-11-21 09:18] angainor commented on #4482
ah! that explains a lot! thanks!

[2019-11-21 09:18] #4482 closed

[2019-11-21 18:04] abellina commented on #3192
@bureddy, we are running into this issue or a related issue in the same machine (running two processes in different GPUs, or the same GPU), and using a pooled allocator (https://github.com/rapidsai/rmm)

The `cuda_ipc` transport is trying to open a handle, and errors with "invalid device context". Is the fix to intercept mem handles still happening?

[code]

[2019-11-21 18:09] abellina commented on #3192
Follow up, do we need the `cuda_ipc` transport for memcpys device-to-device?

[2019-11-21 22:32] bureddy commented on #3192
It seems a different issue.  is this application multiple device(context)s from the same process?  It seems either you do not  have device context (or) changed the device when you are using allocated memory in the UCX communication

cuIpcGetMemHandle is called to enable cuda IPC communication is possible.

[2019-11-21 22:35] bureddy commented on #3192
cuda_ipc gives better performance if two GPU connected by PCIe or NVLink.

[2019-11-22 05:29] bureddy opened #4489 "RoCM build failure with GDRCOPY 2.0"
[code]

 @paklui @yuq  ROCM gdr_copy build is failing after upgrading nvidia gdr copy userspace to 2.0.  is RoCM expected to work with new NVIDIA gdrcopy userspace library?

[2019-11-22 11:49] angainor opened #4490 "Canceling a request fails: tag_match.c:79 expected request not found"
I am having trouble canceling submitted non-blocking tag send/recv requests with UCX 1.6.1 on our EDR platform. I start two ranks on different compute nodes. The attached test routine does the following:

- allocate 2 large buffers (10mb) on each rank
- submit non-blocking send / recv of the buffers to/from peer
- submit non-blocking send / recv of  a small (1b) messages to/from peer
- wait for th

[2019-11-22 23:41] abellina commented on #4403
Thanks @yosefe, just fyi for my local hacked up version of ucx, I ended up with the diff below in order to get it to work for now, which really was suggested by @Akshay-Venkatesh. So as long as the real version allows NONE, or works around this by the detection logic, then that should work.

[code]

[2019-11-23 09:24] petro-rudenko commented on #4403
@abellina :
[code]

So if you don't set `setPeerErrorHadnlingMode` it would be `UCP_ERR_HANDLING_MODE_NONE`

[2019-11-23 09:43] brminich commented on #4490
you are canceling `sreq`, not a receive request: `  ucp_request_cancel(ucp_worker, srequests[0]);`
It should not fail anyway, so looking into this.
Why do you call `ucp_worker_fence`? Tag API guarantees that the message matching on the receiver will be done in order, but it does not guarantee actual message arrival order.
To separate communication flows you would need to call flush. But why would

[2019-11-23 10:25] angainor commented on #4490
@brminich

Sorry, that's a typo. I was testing both to see, which one fails, and pasted the working code. It is the recv request that fails.

The problem arose in a benchmark, where I first send `n` messages of some size, and then want to synchronize the ranks on a simple barrier. The small messages were the barrier messages. I assumed that when the barrier `recv` requests complete, then all prior

[2019-11-23 10:45] brminich commented on #4490
ok, anyway mentioned bug should not have happened, so needs to be analyzed.
No, completion order is not guaranteed either. In your case small message will arrive earlier, because large messages transfer implies several stages based protocol.
 You can be sure that receive buffers will be consumed in the order posted. Thus, you may use the same tag for sending small and large messages, but still be

[2019-11-23 10:52] angainor commented on #4490
Thanks for the clarification.

This happens in 100% of the cases, but the requirement is that the large message is large enough so that the small one arrives and is completed before. The only change was to cancel the recv request. Otherwise the rest of the `test()` routine is accurate.

[2019-11-24 09:04] yosefe commented on #4103
Similar failure:
https://gist.githubusercontent.com/mellanox-github/ce35dd3cc53447ebca4db5f10e23e5be/raw/ceebc9f2d8fc98b07f0279c2f1ef0e7b9c831833/hpc-arm-cavium-jenkins_W0
[code]

[2019-11-24 13:51] #4490 closed

[2019-11-25 08:05] brminich commented on #4331
also happened here:http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-arm-cavium-jenkins,worker=2/13494/console
[code]

[2019-11-25 09:18] alinask commented on #4331
the last hang (ib0 is IPv6) -
hangs here (line 181 in test_sockaddr.cc) - https://github.com/openucx/ucx/blob/master/test/gtest/uct/ib/test_sockaddr.cc#L181
but seems that there was an error:
[code]
which should be 0.
the server didn't get the connect request from the client so seems that there was an error on the client side while connecting.

SM seems to be up for a while:
[code]

[2019-11-25 10:10] evgeny-leksikov commented on #4331
@alinask let's add error printing to error callback to see why it happens
https://github.com/openucx/ucx/blob/00c849f88e2ca8c72eda79923d7abea2323b8938/test/gtest/uct/ib/test_sockaddr.cc#L138

[2019-11-25 10:37] brminich commented on #4331
also failed here (with a bit other output):https://gist.githubusercontent.com/mellanox-github/f39cd443c17edcec376d6849c08af539/raw/2d29564192641e1d7e2a8c7996fb941123f5cbe0/r-vmb-ppc-jenkins_W3
[code]

[2019-11-25 10:38] alinask commented on #4331
this fails both with rdmacm and sockcm

[2019-11-25 16:04] amaslenn opened #4503 "[mtt] address.c:842 Assertion `ep_addr_len > 0' in SHMEM tests"
Configuration
[code]

MTT log: http://hpcweb.lab.mtl.com/hpc/mtl_scrap/users/mtt/scratch/shmem/20191123_134338_160152_12839_jazz13.swx.labs.mlnx/html/test_stdout_6WqC21.txt

Reproduced with `np=4`.

Cmd:
`oshrun -np 64 --display-map --bind-to core -mca oshmem_proc_group_cache_size 10000 -mca sshmem ucx -mca atomic ucx -mca coll_hcoll_enable 1 -x HCOLL_POLLING_LEVEL=1 -x HCOLL_ENABLE_MCAST_ALL=0 -x

[2019-11-25 18:44] evgeny-leksikov commented on #4331
also for IPv4
[code]
https://gist.githubusercontent.com/mellanox-github/d3d0732aec2ffb52f8482f62ea738115/raw/278fc097c703c8d4111908b99e9f51aba61aeee2/r-vmb-ppc-jenkins_W0

[2019-11-25 22:50] hkasivis opened #4505 "ucx fails with MPI_Comm_connect"
UCX fails when using the new inter-communicator MPI_Comm_connect/accepts

For the test openmpi was used. The failure log is shown here. The sample code is attached.

[ixt-rack-110:36457] ../../../../../../ompi/mca/pml/ucx/pml_ucx.c:175  Error: Failed to receive UCX worker address: Not found (-13)
[ixt-rack-110:36457] [[4464,1],0] ORTE_ERROR_LOG: Error in file ../../../ompi/dpm/dpm.c at line 495
[i

[2019-11-25 23:43] paklui commented on #4489
We are using gdr copy 1.3 for now. I checked with @souravzzz and he is working in this area, he should have a fix about this soon.

[2019-11-26 09:00] lytofd opened #4506 "Features about ucp_tag_send_nb/ucp_tag_recv_nb"
I have used tag api in my project recently  to  accelarate msg send rates,but l does not realize the  scenes to be used and the underlying mechanism of tag api.
      1，After tracing the source code of ucp_tag_send_nb,l've found  under the premise that nv_peer_memory has been loaded, function uct_rc_mlx5_ep_am_short , uct_ib_mlx5_post_send will be called,but I am puzzled because ibv_post_send not

[2019-11-26 09:02] #4506 closed

[2019-11-26 09:10] lytofd opened #4508 "Features about ucp_tag_send_nb/ucp_tag_recv_nb"
I have used tag api in my project recently  to  accelarate msg send rates,but l does not realize the
scenes to be used.
1，After tracing the source code of ucp_tag_send_nb,l've found  under the premise that nv_peer_memory has been loaded, function uct_rc_mlx5_ep_am_short , uct_rc_mlx5_txqp_inline_post,uct_ib_mlx5_post_send will be called,but I am puzzled because ibv_post_send not be called in sendi

[2019-11-26 12:03] brminich commented on #4508
gpu-direct communication is supported with TAG API out of the box (any message size can be used).

[2019-11-26 13:35] angainor commented on #1162
@yosefe I have also stumbled upon this one, with UCX 1.7.1. Has there been any development in this case? Just as OP describes, canceling of `send` requests doesn't work for large messages, and finalizing the UCP worker and context results in segfaults - especially when the transfer has been initiated and I cancel it when it is ongoing.

[2019-11-26 13:36] yosefe commented on #1162
@angainor unfortunately, at the moment canceling send requests is not supported

[2019-11-26 18:04] yosefe opened #4512 "disable connection between different roce versions"
UCX/ib selects gid index automatically with highest roce version
in some case peers can use different roce version on diff. devices so they can't send packets to each other
for example on hpc-test-node2 between mlx4_0:2 and mlx5_0 (which mlx5_0:2 has IP address)

https://gist.githubusercontent.com/mellanox-github/8bf930b14e303e4176e1e758f3799e81/raw/a7e4faea3dc7a8ad6754b67a42389d1fa520ee11/hpc-tes

[2019-11-26 20:13] shamisp commented on #4512
another good reason to introduce wire protocol.

[2019-11-26 21:41] abellina opened #4513 "ibv_exp_reg_mr failed bad access (input/output error)"
Hello, I see the following issue with the IB transport. I am trying a cuda memory transfer (between two hosts), and I am seeing the registration issue below.

I don't know why the error occurs since the amount of memory is below the max size (1GB) for the IB interface. The maximum I can set `-s` to is ~220MB (`230700000` or so). Is this expected? Below this, it works.

Note I picked a mlx device h

[2019-11-26 22:34] souravzzz commented on #4489
Hi @bureddy rocm_gdr won't work with the new version of gdrcopy. We are planning to deprecate the rocm_gdr transport.

[2019-11-26 22:40] yosefe commented on #4513
@abellina pls provide more details according to bug report template https://github.com/openucx/ucx/blob/master/.github/ISSUE_TEMPLATE/bug_report.md
also is there any mlx5 error in dmesg?

[2019-11-26 23:41] abellina commented on #4513
@yosefe, sorry about that, I updated the data. On dmesg, I cleared dmesg before running, and then ran after the error, no output.

[2019-11-27 07:38] hoopoepg commented on #2729
hi @dkokron
could you try to build UCX master using PGI compiler?

note that valgrind headers are not supported, so add ```--without--valgrind``` parameter to configure run.
and one more limitation: for now only pgcc18 compiler is supported, add command line argument ```CC=pgcc18``` to configure run

[2019-11-27 07:48] alinask commented on #4068
The failure is:
[code]

https://github.com/openucx/ucx/pull/4395 rewrites this test.

[2019-11-27 08:14] alinask commented on #4331
https://github.com/openucx/ucx/pull/4514 should fix the first error in this ticket.

[2019-11-27 15:07] yosefe commented on #4513
@abellina this seems like a driver issue (MLNX_OFED/cuda/nv_peer_mem). I should have a dgx setup tomorrow to reproduce this issue. What is the Cuda version?

[2019-11-27 15:33] abellina commented on #4513
- Cuda runtime version: `10.0` (that's what the rest of my code links against)
- Cuda Driver Version: `418.87.01`. Note `nvidia-smi` claims: `CUDA Version: 10.1`. Since UCX uses the driver api, and the rest of our code uses the runtime api (linked against cudart 10.0), could that be related?
- nv_peer_mem: `1.0-8`

[2019-11-27 18:23] hppritcha opened #4517 "interoperability problem with ARMie instruction emulator"
We are noticing a problem trying to run apps under [ARMie](https://developer.arm.com/tools-and-software/server-and-hpc/arm-architecture-tools/arm-instruction-emulator/get-started) when built against an Open MPI that includes UCX support.  It doesn't matter whether the application was built with SVE instruction generation enabled.

We have been seeing this problem with UCX 1.6.0 and Open MPI 3.1.x

[2019-11-27 21:11] abellina commented on #4513
@yosefe In the meantime I'll try downgrading the mellanox driver. The firmware I have is less than the recommended minimum for the driver, additionally I can't seem to find a way to download firmware for this card (so that's why I'll downgrade for now)

[2019-11-27 21:15] afernandezody opened #4518 "Error in perftest"
Hello,
I'm getting errors in perftest during UCXv1.6.1 installation. The only new element is that CUDA is v10.2 (10.2.89.444.33.01). Could this be causing the issue or is it something else? The OS is ALinux, gdrcopy is v1.3, and compilation/build is pretty standard (`./configure --prefix=/usr/local/ucx-cuda-install --with-cuda=/usr/local/cuda-10.2  --with-gdrcopy=/home/ec2-user/gdrcopy; sudo make

[2019-11-28 01:33] afernandezody commented on #4518
It seems that the problem is caused by Alinux2 as switching back to CentOS seems to be the error.

[2019-11-28 01:34] paklui commented on #4489
suggest asmall  correction in title: RoCM should be ROCm

[2019-11-28 07:03] abellina commented on #4513
I tried downgrading OFED to `4.4-2.0.7` (which claims support for `ubuntu 18.04`, the card I am using, and the driver `14.24.8000`.

At this stage, I am not seeing it in the same machine anymore. I see it when I try to talk to a different machine. The second machine is running a different OS (`ubuntu 16.04.6`), and version of OFED (`4.6-1.0.1.1`), but the error shows on the side of the original `u

[2019-11-28 09:14] yosefe commented on #4518
looks like openmp is not supported by the compiler

[2019-11-28 10:38] AssadHashmi commented on #4517
ArmIE emulates all SVE2 instructions and some v8.2 and v8.3 instructions. It looks like the UCX build is generating v8.x instructions which ARMie can't handle. The next ARMie release will include a SIGILL handler which will dump out any instructions which it can't emulate. This will enable us to release a patch fix for missing instructions.

However, in the meantime, a possible workaround might be

[2019-11-28 18:43] hppritcha commented on #4517
We are using the UCX rpms that came with our RHEL distro.   I'll rebuild UCX  with your recommended options and see if that helps.

[2019-11-29 00:21] afernandezody commented on #4518
Hi @yosefe,
Thanks. Sometimes it's hard to figure out the twists of ALinux; they have gcc 7.1.2 but why did they leave openmp out? Anyway, I'm closing this ticket (as it's not a UCX problem) and will open one in the ALinux forum.
P.S. I didn't label the thread as "bug," at least not intentionally.

[2019-11-29 00:21] #4518 closed

[2019-11-29 14:21] cponder commented on #2729
The PGI 18 compilers aren't interesting. What happens different with the 19 compilers?

Also, are you going to have a new UCX drop in December? I've been stuck using "trunk" code up until new, I'd like to get back on track with regular releases.

[2019-11-29 15:02] hoopoepg commented on #2729
@cponder 19 compilers? we have info about pgcc18 only

[2019-11-29 15:24] cponder commented on #2729
The 18.* compilers are from a year ago. The 19.1 - 19.9 compilers are from 2019.
Maybe I can just sub them in, the PGI compiler is selected using module-loads so the default pgcc/pgc++ will be the 19.9 compiler for example.

[2019-11-29 15:57] dkokron commented on #2729
Sergey,

I myself am using the PGI 19.5 compiler for this work.  I prefer not to
regress to an older compiler.  When do you expect that UCX will work with
the PGI 19.5 and newer compilers?

Dan

On Fri, Nov 29, 2019 at 9:02 AM Sergey Oblomov <notifications@github.com>
wrote:

[2019-12-01 08:59] yosefe opened #4523 "failure in test_rcache_stats.basic"
http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/2902/nodes/115/steps/466/log/?start=0
[code]

[2019-12-02 07:01] akesandgren commented on #4406
Finally got a case that some what reliably show the above problem using UCX 1.6.1.
Running with 1.7.0-rc1 I instead got this, in one run so far.
[code]

[2019-12-02 07:11] akesandgren opened #4525 "1.7.0-rc1 showing tcp_ep.c:739 Assertion hdr->length <= (iface->config.rx_seg_size - sizeof(uct_tcp_am_hdr_t))"
### Describe the bug
Got a sporadic
tcp_ep.c:739  Assertion `hdr->length <= (iface->config.rx_seg_size - sizeof(uct_tcp_am_hdr_t))' failed
when chasing issue #4406

Could this be caused by outside connection attempts by port sniffers?

[code]

### Steps to Reproduce
- Command line
- UCX version used 1.7.0-rc1
- **Any UCX environment variables used**

### Setup and versions
- OS version (e.g Linux

[2019-12-02 09:57] angainor commented on #4274
@shamisp @yosefe Is there maybe any work-around, which I could use? Currently UCX is not working for me on Cray for messages above ~1Kb. I'd really like to use UCX on this platform due to nice multi-threaded performance. It would be at least good to know what are your plans here..

[2019-12-02 15:16] Akshay-Venkatesh commented on #4513
This is expected because managed-memory buffers aren't registered and go through a staging protocol of about 8k-bytes sized segments.

@yosefe  If at all this helps -- I'm not using a system identical to @abellina by any means but running ucx_perftest with 1GB messages using rc,sm,cuda_copy passes between 2 DGX-1 machines. Unlike @abellina setup, my setup isn't in RoCE mode either.

[code]

[code]

[2019-12-02 15:26] shamisp commented on #4274
@bureddy @MattBBaker what it will take to resolve this one ? #2077 related

[2019-12-02 15:27] shamisp commented on #4517
I will be super surprised to see that RHEL UCX was build with armv8.0+ versions. Most likely it is local install.

[2019-12-02 16:36] MattBBaker commented on #4274
Looking at #2077 it is definitely the same error. Looking at master it looks like adding `ucp_request_send_state_advance()` in `src/ucp/proto/proto_am.inl` at lines 30, 65, and 76 will fix it.

At current my last UGNI machine was carted off. I can make a branch to test this. @angainor would you be willing to test this?

[2019-12-02 16:45] angainor commented on #4274
@MattBBaker of course! Just let me know

[2019-12-02 17:07] shamisp commented on #4274
@MattBBaker - so they retired even the small system ?

[2019-12-02 20:09] akesandgren commented on #4525
Managed to trigger it again.

[2019-12-03 06:55] alinask opened #4534 "Segv in ucp_worker_create after OOM"
### Describe the bug
Segmentation flow in the error handling flow when OOM occurs in ucp_worker_create().

### Steps to Reproduce
- Command line:
./src/tools/info/ucx_info -s -f -c -v -y -d -b -p -w -e -uart -m 20M
- UCX version used - master (1.8)
- Configure with: contrib/configure-release

### Setup and versions
CentOS release 6.7 (Final)
Linux boo31 2.6.32-573.el6.x86_64

### Additional inform

[2019-12-03 11:18] angainor commented on #4274
@MattBBaker I have applied https://github.com/MattBBaker/ucx/commit/f9293e4159fdceaea27280f3e9d260db526e6a3c to master and recompiled OpenMPI to test. Unfortunately, this did not solve the issue, but the stack seems a bit different:

[code]

[2019-12-03 15:35] MattBBaker commented on #4274
Can you post the full log? I'm getting some other wonky behaviors on a non-ugni system using the master branch that I'm trying to pin down. Are you using master or a release branch?

[2019-12-03 15:54] angainor commented on #4274
@MattBBaker The above is from `master`, but I have applied your patch to 1.6.1 and got the same behavior. What do you mean by full log? Should I compile with debug and run with `-x UCX_LOG_LEVEL=data`?

[2019-12-03 17:01] quasiben opened #4537 "Webex/Remote Viewing of Hackathon"
UCX is organizing an [upcoming hackathon](https://github.com/openucx/ucx/wiki/UCF-Hackathon-2019) next week.  Would it be possible to setup a webex (or equivalent) for others to join in remotely during presentations ?

[2019-12-03 17:17] shamisp commented on #4537
This is not a bug but a feature request :-)

Probably we can arrange something. Part of challenge here is that based on the last year meeting experience most of our talks are inteructive board discussions. In this room I don't have digital board :-( Otherwise, I should be able to add Skype call in option to the room.

[2019-12-03 18:00] MattBBaker commented on #4274
@angainor `UCX_LOG_LEVEL=trace` will likely be enough, though you will need to rebuild with debug flags. I'm trying to trace out the path that takes you to the arbiter. Also, how hard would it be to get a login to the machine? I may be able to spend some cycles debugging that way.

[2019-12-03 18:11] angainor commented on #4274
@MattBBaker I'll rebuild and ask about the access early tomorrow morning (it is night here already). Thanks!

[2019-12-04 07:24] amaslenn opened #4538 "AZP CI fails when running on direct pushes"
### Describe the bug
AZP CI is triggered by both PRs and direct pushes to the master and release branches. A "Codestyle commit title" check expects `System.PullRequest.TargetBranch` to be set while it is not.

### Steps to Reproduce
Trigger AZP CI in a branch manually or push commits directly so it will be triggered automatically. Example: https://dev.azure.com/ucfconsort/ucx/_build/results?buildI

[2019-12-04 08:58] yosefe commented on #4538
@amaslenn  there should not be direct pushes to master and release branches.. did you see that happen?

[2019-12-04 11:04] amaslenn commented on #4538
No, I haven't seen any direct pushed. But once commit is merged it triggers `push` event and AZP runs on this merged commit.

[2019-12-04 12:08] amaslenn commented on #4474
Reproduced with this cmd:
`mpirun -np 140 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV,SIGBUS,SIGFPE,SIGABRT -x UCX_HANDLE_ERRORS=bt --bind-to core -x UCX_NET_DEVICES=p2p2 -mca osc ucx -x UCX_IB_REG_METHODS=rcache,direct -x UCX_TLS=tcp -mca pmix_base_async_modex 1 -mca mpi_add_procs_cutoff 0 -mca pmix_base_collect_d

[2019-12-04 12:15] angainor commented on #4274
@MattBBaker Attached [ucx.log](https://github.com/openucx/ucx/files/3921705/ucx.log) gathered with level `trace`, your patch with todays `master`. Getting you access to Piz Daint should be doable. I've talked to people at CSCS - they will hopefully contact you on your ORNL email, if that's ok.

[2019-12-04 18:13] Akshay-Venkatesh opened #4540 "Does CUDA memtype cache handle applications or other librariies that also intercept cu*alloc?"
@bureddy @yosefe

Users of applications which have their own memory pools (which internally intercept cudaMalloc for example) have seen crashes with memtype cache. Some examples include users of [rapidsai/rmm](https://github.com/rapidsai/rmm), and [AMGX](https://github.com/NVIDIA/AMGX/blob/b3101ffaaddee71c32ad53a151cf0e87a31b59a8/base/src/resources.cu#L37).  I know that recent changes to memtype c

[2019-12-04 20:13] bureddy commented on #4540
@Akshay-Venkatesh can you point me intercepting code in these libs? I could not find it.

[2019-12-04 20:33] bureddy commented on #4540
probably cuda runtime func symbol names might have mangled by C++ compiler in these libs.  ucx might have failed to intercept these mangled sym names with dlsym().
can you check if cuda* symbol names mangled in these libraries?

[2019-12-04 20:43] Akshay-Venkatesh commented on #4540
@marsaev can you point to the interception code?

[2019-12-04 20:43] Akshay-Venkatesh commented on #4540
Will try and find and reply back here

[2019-12-04 20:56] bureddy commented on #4540
can you also check  if these libs are statically linked to libcudart_static.a?  I see following in the instructions

AFAIK, nvcc statically links cuda runtime, if yes, we have known issue in intercepting in this case (

[2019-12-04 22:24] marsaev commented on #4540
@Akshay-Venkatesh
https://github.com/NVIDIA/AMGX/blob/b3101ffaaddee71c32ad53a151cf0e87a31b59a8/base/include/global_thread_handle.h#L232
Just to be clear - we intercept calls on _source_ level in the separate namespace, internally we call same cudaMalloc from global namespace that is intended to call CUDA runtime (like this: https://github.com/NVIDIA/AMGX/blob/b3101ffaaddee71c32ad53a151cf0e87a31b59

[2019-12-05 09:50] jirikraus commented on #4540
I tried to link AMGX with the shared CUDA Runtime and can confirm that this is indeed the issue. When the static CUDA Runtime is avoided the UCX pointer cache no longer causes issues with AMGX.

[2019-12-05 12:15] alinask commented on #4331
fixed in https://github.com/openucx/ucx/pull/4520

[2019-12-05 12:15] #4331 closed

[2019-12-05 19:12] Akshay-Venkatesh commented on #4540
@bureddy As @jirikraus confirmed, this does fall into the known issue case. Can you link that github issue here so that we can close both when the issue gets fixed?

[2019-12-05 19:19] bureddy commented on #4540
related to https://github.com/openucx/ucx/issues/3210

[2019-12-06 11:10] yosefe opened #4543 "segfault in JUCX unit test"
http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/2957/nodes/108/steps/1202/log/?start=0
[code]

[2019-12-06 19:47] shamisp commented on #4540
@bureddy please bring this up during f2f. The issue of static builds is not going to disappear .....

[2019-12-07 11:16] cponder opened #4548 "Empty initializer error in src/ucs/datastruct/pgtable.c with PGI compiler"
Building UCX with the PGI 19.10 compiler gives these errors:
[code]
The corresponding source lines are these (this is using the trunk/master code dated 2019-12-05):
[code]
This for in GNU-compatible but isn't legal C/C++.
A legal form is to use
[code]

[2019-12-07 11:18] cponder commented on #4548
Here is the relevant part of the C standard
[code]
By this description, the initiializer-list can't resolve to an empty string.
Changing to ```{0,};``` qualifies as a non-empty list (and not merely a zero expression).

[2019-12-07 12:01] cponder commented on #4548
Note that these forms
[code]
are already used in ```src/ucs/debug/log.c```.

[2019-12-07 18:32] spikebike opened #4549 "UCX fails to compile with clang-9"
### Describe the bug

Compiling with clang-9 fails with:
[code]

### Steps to Reproduce
[code]

### Setup and versions

I'm using Ubuntu 18.04 and clang version 9 (as packaged from AMD with AOCC-2.1)

I manually removed "-Wl,-dynamic-list-data" from various make related files and it seems to compile fine.

[2019-12-07 18:32] spikebike commented on #4549
This happens in the 1.7.0 RC as well.

[2019-12-08 00:40] yosefe commented on #4549
`-Wl,-dynamic-list-data` was needed for memtype support in ucx_perftest, because the global array of memory type handlers should be visible from loaded modules

[2019-12-08 18:56] cponder opened #4552 "Hard-coded GCC flags"
Trying to build the UCX master/trunk code (dated 2019-12-05) I get these messages:
[code]
This isn't a show-stopper because the flag `-noswitcherror` causes these other flags to be ignored and downgraded from Errors to Warnings.
But a different set of flags ought to be used with the PGI compiler than with the GNU compiler.

[2019-12-09 09:04] alinask opened #4554 "failure on log_test_backtrace.backtrace on hpc-arm-cavium-jenkins"
### Describe the bug
A failure on log_test_backtrace.backtrace on the hpc-arm-cavium-jenkins host during a Jenkins job.

### Steps to Reproduce
Happened when gtest was running (without valgrind).
ucx was compiled with armclang:
`module load arm-compiler/arm-hpc-compiler`

`armclang -v`
`Arm C/C++/Fortran Compiler version 19.0 (build number 69) (based on LLVM 7.0.2)`

`../contrib/configure-devel --

[2019-12-09 11:52] hoopoepg commented on #4549
hi @spikebike
could you run your version of compiler with parameter ```--version``` & provide output here?

thank you

[2019-12-09 14:10] alinask commented on #4419
[code]

[2019-12-09 16:39] schluenz opened #4556 "no ucx with connectx-6"
### Describe the bug
ucx_info -d
shows various errors (depending on the ucx version) on nodes with connectx-6 hca. I tried several versions of ucx but didn't succeed using it with connectx-6. Before posting lots of details: is connectx-6 supported at all?

[code]

[2019-12-09 17:19] yosefe commented on #4556
@schluenz can you pls provide OS and driver information as described in the GH issue template

[2019-12-09 17:25] quasiben opened #4557 "DGX2 exceeds max resources"
### Describe the bug
On a DGX2 the maximum number of TlS resources is exceeded.   The limit (perhaps reasonably at one point) is 64:
https://github.com/openucx/ucx/blob/48e371a36fe7f6ee25faceac7f4c8cdb3a03c8f6/src/ucp/core/ucp_types.h#L21

A DGX2 has 70.  Note this issue can be avoided if the user defines specific TLS method

### Steps to Reproduce

 Process 1
[code]

Process 2
[code]

cc @MattBBa

[2019-12-09 19:09] schluenz commented on #4556
ok, more complete info:

CentOS Linux release 7.7.1908 (Core)
Linux max-exfl200.desy.de 3.10.0-1062.4.1.el7.x86_64 #1 SMP Fri Oct 18 17:15:30 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

rdma-core-22.1-3.el7.x86_64
libibverbs-22.1-3.el7.x86_64
ibv_devinfo at the end

[code]

[2019-12-09 19:19] yosefe commented on #4556
Thanks, it seems similar to the issue reported on the mailing list , @Artemy-Mellanox pls take a look

[2019-12-09 22:58] lyu commented on #4549
Please allow me to chime in since I have encountered this exact problem before.

This probably has nothing to do with the version of clang since it's the LLVM's LLD used during linking that doesn't support `-dynamic-list-data`, even for the latest 9.0.0 version.

I had to work around this by specifying `-fuse-ld=bfd` or `-fuse-ld=gold` in `LDFLAGS` to force the use of the GNU linkers.

However, `c

[2019-12-10 01:24] Artemy-Mellanox commented on #4556
@schluenz could you please also check `ulimit -a`

[2019-12-10 08:22] schluenz commented on #4556
[code]

[2019-12-10 08:47] Artemy-Mellanox commented on #4556
Need to collect some debug info:
enable dynamic debug `echo module mlx5_ib | sudo tee /sys/kernel/debug/dynamic_debug/control`
run ucx_info with strace `strace /software/ucx/1.7.0/bin/ucx_info -d`
please collect ucx_info output and dmesg and send us

[2019-12-10 12:10] dmitrygx commented on #4525
@akesandgren is it possible to reproduce this with UCX master branch? could you check it pls?

[2019-12-10 12:35] schluenz commented on #4556
I did
echo "module mlx5_ib +p" | tee /sys/kernel/debug/dynamic_debug/control
strace -o ucx_info.strace.txt /software/ucx/1.7.0/bin/ucx_info -d > ucx_info.out.txt
dmesg -T | grep "everything after adding mlx5_ib" > ucx_info.dmesg.txt

outputs are attached. dmesg contains three ucx_info -d runs.

[ucx_info.dmesg.txt](https://github.com/openucx/ucx/files/3944820/ucx_info.dmesg.txt)
[ucx_info.out.txt]

[2019-12-10 12:37] akesandgren commented on #4525
I can try. It takes anywhere from .5h to 2d before it happens. And it'll take a while before I have time to look at it but not too long.

[2019-12-10 12:41] dmitrygx commented on #4525
thank you! good to know.
btw, it would be great to try to reproduce the bug with #4559 (PR on top of the master) that could check my assumption about the possible cause of the problem. Can you checkout changes from my PR and try with it? Thank you in advance!

[2019-12-10 12:53] Artemy-Mellanox commented on #4556
thanks. Could you please repeat it with more debug: `echo "module mlx5_core +p" | tee /sys/kernel/debug/dynamic_debug/control` and `strace -s2048 ...`

[2019-12-10 13:02] schluenz commented on #4556
attached, just the strace -s2048 output

[ucx_info.strace-2048.txt](https://github.com/openucx/ucx/files/3944931/ucx_info.strace-2048.txt)

[2019-12-10 13:10] Artemy-Mellanox commented on #4556
mlx5_core dynamic_debug dmesg actually would be more informative

[2019-12-10 13:16] schluenz commented on #4556
sorry, attached

[ucx_info.dmesg-2048.txt](https://github.com/openucx/ucx/files/3944976/ucx_info.dmesg-2048.txt)

[2019-12-10 15:15] quasiben commented on #4537
Hackathon can be remotely viewed with skype: https://meet.lync.com/armh/kelly.lane/BJC7T667

[2019-12-10 21:46] aror92 opened #4563 "Power9 RDMACM issues"
Our group has been trying to use UCX’s client-server communication with rdmacm on Power9 with an infiniband adapter. We’ve tried it on two different Power9 clusters, one with RHEL 7.6 (Maipo), and one with Centos7. In each case, the memory domain for the Infiniband NIC seems to be incorrectly detected, and for Memory domain: rdmacm we get a `< no supported devices found >` message. Then running UC

[2019-12-10 22:08] yosefe commented on #4563
@aror92 did you try to run a client which would connect to the running server?

[2019-12-10 22:21] shamisp opened #4564 "Move FAQ/HOWTOs to readthedocs"
Move FAQ/HOWTOs to readthedocs

[2019-12-10 22:22] Akshay-Venkatesh opened #4565 "ucp_hello_world with MPI"
Sharing an MPI bootstrapped ucp hello world that I had written a while ago

https://gist.githubusercontent.com/Akshay-Venkatesh/ec9fa444d870e08f6fde92fe9b70891d/raw/20f4e74152e39479fa0189ca8ea771879c857f7c/ucp_hello_world_mpi.c

cc @shamisp @yosefe

[2019-12-10 22:24] shamisp opened #4566 "Add MPI + UCP examples"
MPI + UCX example. MPI code is used to bootstrap UCX library and connect endpoints and this is it

[2019-12-10 22:27] shamisp opened #4567 "Man pages"
Add code that generated man pages from doxygen and adds this to install

[2019-12-10 23:08] yosefe commented on #4564
https://ucx.readthedocs.io/en/latest/

[2019-12-11 03:18] shamisp commented on #4564
I feel like we should take both openucx and ucx. OpenUCX is aligned with project name on GitHub. Probably the main page should be openucx and the ucx is redirection to openucx.

[2019-12-11 03:23] shamisp opened #4568 "Symbol version"
https://doc.dpdk.org/guides-16.04/contributing/versioning.html

I suggest to adopt similar guidelines. @yosefe - it actually inline with the API versioning that we discussed today. Sympbo.map just automates the process and will provide us with much more flexibility on ABI side.

@jgunthorpe - is this similar to what you have in rdma-core.

[2019-12-11 03:59] shamisp commented on #4564
this is pretty cool actually https://devblogs.microsoft.com/cppblog/clear-functional-c-documentation-with-sphinx-breathe-doxygen-cmake/

a workflow for doxygen -> Sphinx

[2019-12-11 08:15] jakirkham opened #4570 "Moving libnuma portions into a module"
It would be useful in package management contexts for `libnuma` to be an optionally used dependency at runtime (similar to how other modules are handled now). This would allow packagers to build `libnuma` support for UCX, but not force users of those packages to acquire `libnuma` (if they are unable).

[2019-12-11 08:26] Artemy-Mellanox commented on #4556
Could you please do following check:
look at dmesg snap
`dmest | tail -500 | grep INPUT`

From log you attached output is:

`
[Tue Dec 10 12:14:03 2019] mlx5_core 0000:5e:00.0: dump_command:772:(pid 239539): dump command MODIFY_CQ(0x403) INPUT
`
`
[Tue Dec 10 12:14:03 2019] mlx5_core 0000:5e:00.0: dump_command:772:(pid 239539): dump command MODIFY_CQ(0x403) INPUT
`
`
[Tue Dec 10 12:14:03 2019] mlx

[2019-12-11 08:59] schluenz commented on #4556
[3086989.576394] mlx5_core 0000:5e:00.0: dump_command:772:(pid 33983): dump command MODIFY_CQ(0x403) INPUT

ps auxww | grep 33983
root      33983  0.0  0.0      0     0 ?        S    09:51   0:00 [kworker/u592:1]

[2019-12-11 09:13] Artemy-Mellanox commented on #4556
May it be that second port is in RoCE mode and is active?
Can we check it ibv_devinfo and ifconfig and shut it down - to silence it's debug traffic so we could see debug output related to ucx_info command.

[2019-12-11 10:39] schluenz commented on #4556
not sure I understand the question correctly.

It's a single-port adapter:
Product Name: ConnectX-6 VPI adapter card, 100Gb/s (HDR100, EDR IB and 100GbE), single-port QSFP56,
The nodes are connected to HDR200 switches over split-port cables (hdr200->2x100).
I don't see any indication for RoCE being active.
We unavoidably use ipoib.

[code]

[2019-12-11 15:15] yosefe commented on #4564
https://openucx.readthedocs.io/en/master/

[2019-12-11 16:55] jgunthorpe commented on #4568
rdma-core doesn't have so much for deprecating symbols, we are a system library so symbols are forever.

But that is a good explanation how to use symbol versions. Both dpdk and rdma-core have the various macros to make it work.

[2019-12-11 19:32] shamisp commented on #4568
@jgunthorpe - we do have deprecated APIs that we will want to remove at some point...hopefully. Macro - we would probably prefer to borrow it from RDMA core.

[2019-12-12 06:57] dmitrygx commented on #3487
@yosefe I haven't seen this issue for a while. Can we close the ticket?

[2019-12-12 12:42] hppritcha commented on #4517
our admin is building OMPI+UCX using the system RPMs:
ucx-cma-1.6.0-1.46101.aarch64
ucx-ib-1.6.0-1.46101.aarch64
ucx-knem-1.6.0-1.46101.aarch64
ucx-devel-1.6.0-1.46101.aarch64
ucx-ib-cm-1.6.0-1.46101.aarch64
ucx-1.6.0-1.46101.aarch64
ucx-rdmacm-1.6.0-1.46101.aarch64

[2019-12-12 14:44] #4419 closed

[2019-12-13 06:50] akesandgren commented on #4525
Master (4f90824302ab91530d0ac706b68257c26ccf2427) still fails with:
Assertion `hdr->length <= (iface->config.rx_seg_size - sizeof(uct_tcp_am_hdr_t))' failed

Will try with 4559 on top of that, but it takes a long time...

[2019-12-13 07:02] akesandgren commented on #4525
Hmmm, that one doesn't even build:
[code]

[2019-12-13 07:05] akesandgren commented on #4525
(I was a little lazy and just took tree at that commit instead of applying 4559 on top of the master tree i had tested with)

[2019-12-13 07:21] dmitrygx commented on #4525
yes, picking up the commit has to work.
sorry for the inconvenience, the tree of this PR contains the compilation error (due to race in PR merging) that was fixed in the master recently

[2019-12-13 07:25] akesandgren commented on #4525
So your PR needs a merge with master.... I picked the changes manually instead and it's now running...
Don't expect any results until after the weekend. (Or saturday after lunch local time)

[2019-12-13 07:34] dmitrygx commented on #4525
@akesandgren thank you!

great! hope this gives us more information to investigate the problem

[2019-12-13 08:49] hoopoepg commented on #4224
hi @adrianreber

we pushed few changes into UCX master branch for containers support. for now only IPC namespace should be shared across containers to allow SHM devices to be used. If you have time it would be great if you try it on your environment

thank you

[2019-12-13 13:41] shamisp commented on #4224
@hoopoepg @yosefe - please create PR for 1.6.x branch with the patch. Who knows, maybe at some point we will be asked to do 1.6.2

[2019-12-13 15:50] aror92 commented on #4563
@yosefe Yes, we were trying that, but after seeing your reply, we took a look at the client again and realized that we weren't giving it the right IP address for the server. One of the difficulties was that the two different Infiniband switches used a common IP address which was showing up in a different place than the instructions for finding the IP address suggested. Once we noticed that and gav

[2019-12-13 15:50] #4563 closed

[2019-12-14 11:04] akesandgren commented on #4525
With 4559 on top of master commit 4f90824302 I still get:
tcp_ep.c:891  Assertion `hdr->length <= (iface->config.rx_seg_size - sizeof(uct_tcp_am_hdr_t))' failed

[2019-12-14 18:31] #4537 closed

[2019-12-14 19:04] jakirkham commented on #4537
Thanks all for supporting people viewing remotely. It was greatly appreciated. 😄

[2019-12-16 09:23] alinask opened #4584 "valgrind errors on tcp tests when ucx is configured with --enable-debug"
### Describe the bug
Several tcp gtests are failing on valgrind if ucx is compiled with --enable-debug (and configure-devel).
without this flag, they pass.

### Steps to Reproduce
- Command line for example:
[code]
- UCX master at 13624a0436093c76066a8d4916f03c6480fd60e5

[code]

Additional tests fails, can run with \*tcp\* to view all.

[2019-12-16 12:50] #4538 closed

[2019-12-16 23:19] #4584 closed

[2019-12-17 05:29] akesandgren commented on #4525
Both my test runs got the same asssert as above.

[2019-12-17 05:56] dmitrygx commented on #4525
@akesandgren thank you for testing this!
Unfortunately, our internal tests and UCX CI don't show that problem.
Could you explain a little about the problem?
- Is it some publically available benchmark or test?
- Do you run into this issue every time when running this application?
- How many MPI ranks are launched?
- Do you set any UCX environment variables?

Thank you in advance for answering!

[2019-12-17 06:55] akesandgren commented on #4525
It's not a benchmark but rather user code. And I'm fairly sure it's not a problem with the user code as such. We've seen the original problem, #4406, on multiple codes, including IOR as mention in that issue.
It has, so far, happened every time I run the code, but it varies from a few hours to >3 days before it happens.
The user code I've been using has been running with 56 tasks spread over two 2

[2019-12-17 07:16] dmitrygx commented on #4525
The messages come from OMPI/BTL/TCP module and it's not related to the UCX
Do you see these messages before or after the `assert()` happens?

[2019-12-17 07:48] akesandgren commented on #4525
Yeah, I know, I was just venting frustration a bit :-)

We get a lot of these before the assert. And usually not related in time, though it's a bit hard to tell with a 3 day job...

[2019-12-17 22:47] cparrott73 opened #4592 "UCX trunk fails to compile with stock gcc-4.8.4 on Ubuntu 14.04 on ppc64le"
### Describe the bug
I get a compilation failure with the stock gcc-4.8.4 included with the Ubuntu 14.04 distribution on ppc64le.  My own gcc-5.5.0 build on the same system works fine.  Not sure if this is a UCX issue, or an issue with gcc-4.8.4.  It is not a problem for us to use gcc-5.5.0 instead, but I am just noting the issue here as FYI.

Here is the error:

[code]

### Steps to Reproduce
- C

[2019-12-18 05:25] brminich commented on #4592
should be fixed by #4590
@hoopoepg, plz confirm

[2019-12-18 05:41] dmitrygx commented on #4525
yes, I see. Thank you!
I'm going to prepare the patch with traces that should help me to investigate the issue.

[2019-12-18 07:19] hoopoepg commented on #4592
@cparrott73 there is PR https://github.com/openucx/ucx/pull/4590 with fix of this issue
could you try it?

thank you

[2019-12-18 10:19] Artemy-Mellanox commented on #4556
Could you please try simple ibv_rc_pingpong loopback test

[2019-12-18 12:16] schluenz commented on #4556
output looks like this:
  local address:  LID 0x0068, QPN 0x002035, PSN 0xefdd06, GID ::
  remote address: LID 0x0068, QPN 0x002035, PSN 0xefdd06, GID ::
  remote address: LID 0x0068, QPN 0x002034, PSN 0xd4cad5, GID ::
8192000 bytes in 0.01 seconds = 11336.45 Mbit/sec
8192000 bytes in 0.01 seconds = 11793.41 Mbit/sec
1000 iters in 0.01 seconds = 5.78 usec/iter
1000 iters in 0.01 seconds = 5.56 use

[2019-12-19 09:03] akesandgren commented on #4525
Let me know when it's ready and I'll kick off a new build/run... Going on holiday trip tomorrow though, so latency will be somewhat higher...

[2019-12-19 11:03] hiroyuki-sato opened #4595 "[Doc] UCX glossary"
A few days ago, ucx-py community [added](https://github.com/rapidsai/ucx-py/pull/374) my [openucx glossary](https://github.com/hiroyuki-sato/openucx-docs/)
https://ucx-py.readthedocs.io/en/latest/glossary.html
I think It's time to contribute it to ucx-core.

Questions

- What do you think to merge my glossary?
- If It's OK, Could you tell me the following?
  - File place
  - PR branch?(read-the-do

[2019-12-19 12:00] hiroyuki-sato commented on #4595
Sorry, I overlooked `Don’t see your issue here? Open a blank issue.` when I create a new issue. Please remove Bug label.

[2019-12-19 13:14] dmitrygx commented on #4406
closing this issue as it is duplication of #4525

[2019-12-19 13:14] #4406 closed

[2019-12-19 13:15] dmitrygx commented on #4525
@akesandgren thank you! let you know when it's ready

[2019-12-19 14:31] dmitrygx commented on #4525
Could you check out the following changes from my GitHub UCX fork:
https://github.com/dmitrygx/ucx/tree/topic/uct/tcp_am_debug
The branch was prepared on top of the UCX master
It has to give us more information for further investigations.

Thank you in advance for the help in the debugging of the issue!

[2019-12-19 15:44] brminich commented on #4508
@lytofd, can we close it?

[2019-12-19 19:55] akesandgren commented on #4525
Tests running, I'll return with results when they show up...

[2019-12-20 12:11] akesandgren commented on #4525
First crash:
[code]

[2019-12-20 13:32] apachexm opened #4600 "Problem of "offset" in ucp_do_am_bcopy_multi"
When UCX_RNDV_THRESH=inf, ucp_do_am_bcopy_multi() will be used to transfer long tag message. In ucp_do_am_bcopy_multi() function, req->send.state.dt.offset will be updated after a successful pack_first() or pack_middle() callback.

But in some UCT am_bcopy implementations, such as uct_tcp_ep_am_bcopy() or uct_ugni_smsg_ep_am_bcopy(), am_bcopy may failed with NO_RESOURCE return code after pack_cb()

[2019-12-20 13:39] dmitrygx commented on #4525
@akesandgren great! thank you so much for collecting this trace!
It seems that the following flow happens:
- A user creates EP (and socket - `fd1`) to `node1` from `node2`
- A user creates EP (and socket - `fd1`) to `node2` from `node1`
- TCP iface listener `accept()`ed on `node1` a connection from `node2` - creates `fd0`; it closes its client socket `fd1` to the same peer, because its addr < then

[2019-12-20 14:26] akesandgren commented on #4525
Ok, test running. If it works it will take several days before it finishes.

[2019-12-20 18:05] bureddy commented on #4600
known issue https://github.com/openucx/ucx/issues/2077

[2019-12-21 00:06] akesandgren commented on #4525
FYI, second crash (running without the fix) was the same. So at least nothing else has popped up yet.

The runs with the fix are still running.

[2019-12-21 01:40] lyu opened #4602 "dlopen tests fail if CFLAGS contains -O2/-O3"
### Describe the bug
When building UCX, if `CFLAGS` contains `-O2` or `-O3` then some of the dlopen tests will fail. However, setting the optimization level with `--enable-compiler-opt` doesn't have such effect.

### Steps to Reproduce
- Clone UCX master branch bd64e3d
- Build and run tests with:

[code]
- Error message
[code]

### Setup and versions
- Fedora 30 x86_64
- GCC 8.3.0

[2019-12-21 05:33] dmitrygx commented on #4525
@akesandgren thank you! waiting for the test result

[2019-12-21 17:07] dmitrygx commented on #4525
@akesandgren if the crash still persists with the provided fix, let's try to use v1.5.x UCX branch where there is no ring buffer that used to avoid excessive `memmove()` that we had in v1.5.x. If v1.5.x works for you, I should deeper investigate our ring buffer implementation (currently, it looks good to me)

[2019-12-21 19:16] paklui commented on #4433
It is fixed in #4587

[2019-12-21 19:16] #4433 closed

[2019-12-21 19:39] #4474 closed

[2019-12-22 22:45] akesandgren commented on #4525
One test run with the fix has crashed with:
[code]

[2019-12-23 19:17] dmitrygx commented on #4525
@akesandgren thank you for updating me!
It seems that an unexpected connection request from non UCX process is received during your test. So, we should prevent UCX from crashing when receiving data from an unknown sender.
I’ve reproduced something similar simulating this issue in UCX gtest. Looking for a good solution for this problem.

[2019-12-23 21:42] artpol84 opened #4609 "Question/Request for comments: Flaw in MT support?"
### Problem description

Consider the following example,

[code]

In the single threaded case, the order of operations is always correct:

| Thread1  |
| ------------- |
| `req = ucp_put_nb(...,cbfunc)`  |
| `internal_init(&req->x)` |
| `ucp_worker_progress()` -> `cbfunc()` |

However, in a multi-threaded case, it is possible for `ucp_worker_progress()` to be called on another thread:

| Thread1

[2019-12-23 21:44] artpol84 commented on #4609
@yosefe, @karasevb, @jladd-mlnx FYI

[2019-12-23 22:55] akesandgren commented on #4525
The next crash (with the fix in place) shows
[code]

130.239.242.221 == b-cn1433

[2019-12-23 23:18] yosefe commented on #4609
#4187

[2019-12-25 14:55] dmitrygx opened #4616 "posix/test_uct_mm.alloc/0 fails on PPC"
[code]
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=r-vmb-ppc-jenkins,worker=3/13887/console

Perhaps, this is a configuration issue

[2019-12-25 16:46] yosefe commented on #4616
looks like the first descriptor in mpool was overrun by 0's.
so far could not reproduce it by standalone test.

[2019-12-26 05:49] dmitrygx opened #4619 "UCP doesn't call an error handler callback if can't connect using sockaddr"
[code]
Jenkins job: http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/13880/label=hpc-test-node-legacy,worker=2/console
GitHub gist: https://gist.githubusercontent.com/mellanox-github/ff69caea75532eb074233fd9fa37ef4c/raw/9f7aec51af95edfe42204f425f4930cba8ee5db3/hpc-test-node-legacy_W2

@alinask @evgeny-leksikov do you think this is a real bug or not?

[2019-12-26 06:42] evgeny-leksikov commented on #4619
@dmitrygx test was failed by timeout, this is why CB wasn't invoked. There is some host specific (hpc-test-node3) issue which affects all UCP sockaddr tests. @alinask do you have any update on this?

[2019-12-26 06:48] dmitrygx commented on #4619
@evgeny-leksikov thank you for the explanation
[code]
do you mean UD timeout (1 minute?)?

[2019-12-26 07:04] alinask commented on #4619
none of the ucp sockaddr tests pass on this host, i'll update once there is new info.

[2019-12-26 07:12] evgeny-leksikov commented on #4619
@dmitrygx `wait_for_server_ep` has timeout to indicate hang. The test expects that ep should be successfully created or err handling should be invoked after with call.

[2019-12-26 09:33] alinask commented on #4619
The client has a large worker address so it packs one resource to send to the server:
[code]

the server selects:
[code]
to send the pre-request message to the client.

the server 'thinks' that ud_verbs/mlx5_0:1 is reachable to ud_verbs/mlx4_0:2 in https://github.com/openucx/ucx/blob/master/src/uct/ib/base/ib_iface.c#L387 since both are Ethernet.
But, since they have different RoCE versions, they

[2019-12-26 10:51] brminich opened #4620 "failure in shm_ib/test_ucp_rma.nb_small/0 <shm,ib>"
### Describe the bug
Happened here:
https://gist.githubusercontent.com/mellanox-github/e3fc7a32ffcb8bccfa9ed9106a0e6834/raw/164dc25069ca8309751351e638720273b7c88bb8/hpc-arm-cavium-jenkins_W0
[code]

[2019-12-26 20:35] brminich opened #4623 "jucx.UcpListenerTest failed"
### Describe the bug
Happened here:
https://gist.githubusercontent.com/mellanox-github/b9d9ba48a5b7b5f5e657ff90fc9bb500/raw/9d60894edba1791546fce306c8cb13bb0eb6eeda/hpc-test-node-gpu_W0

[code]

[2019-12-27 04:20] EmmaJaneBonestell opened #4624 "Failure to Compile Sockaddr - Undefined Reference Symbol Error With ICC/ICPC IPO"
### Describe the bug
Enabling IPO/interprocedural optimization/link time optimization with ICC/ICPC results in an unresolved/undefined reference symbol error for sockaddr. Using "-flto" in gcc does not produce this error. Appears to be related to libstdc++.
[code]

### Steps to Reproduce
- Command line:
[code]
- UCX version used: Tested on git master, 1.6.1, and 1.7.0-rc1
- UCX configure flags: `.

[2019-12-30 12:54] alex--m commented on #4556
@Artemy-Mellanox @schluenz  I've got the same problem - let me know if there's anything I can do to help debug this...
BTW reproduces with Ethernet (RoCE) on the latest CX6 firmware (20.26.4012) and UCX version (master).

[2019-12-31 07:38] Artemy-Mellanox commented on #4556
Could you please build UCX from this debug branch and try again: https://github.com/Artemy-Mellanox/ucx/tree/dbg-4556

[2019-12-31 12:07] alex--m commented on #4556
[code]

[2019-12-31 13:48] Artemy-Mellanox commented on #4556
@alex--m , could you please try again, force-pushed more debug

[2019-12-31 14:32] alex--m commented on #4556
@Artemy-Mellanox
[code]

[2019-12-31 14:36] Artemy-Mellanox commented on #4556
@alex--m please try `echo "module mlx5_core +p" | sudo tee /sys/kernel/debug/dynamic_debug/control` , run command and send me dmesg

[2020-01-01 10:34] alex--m commented on #4556
[dmesg_afer_ucx_info.thunder6.txt](https://github.com/openucx/ucx/files/4013946/dmesg_afer_ucx_info.thunder6.txt)
[dmesg.thunder6.txt](https://github.com/openucx/ucx/files/4013947/dmesg.thunder6.txt)

[2020-01-01 14:40] Artemy-Mellanox commented on #4556
С новым годом! ;)
please send output of `sudo find /sys/kernel/debug/mlx5/ -path *EQ* -type f -print -exec cat {} \;`

[2020-01-01 15:50] alex--m commented on #4556
@Artemy-Mellanox
[output.txt](https://github.com/openucx/ucx/files/4014220/output.txt)

[2020-01-01 16:36] Artemy-Mellanox commented on #4556
please add `UCX_IB_MLX5_DEVX=n` environment variable and rerun the command

[2020-01-01 16:42] alex--m commented on #4556
@Artemy-Mellanox Do you mean the ucx_info command? (see below)
[code]

[2020-01-01 17:19] Artemy-Mellanox commented on #4556
@schluenz Ok, that was the problem - on centos7.7 kernel UCX wrongly detects DEVX support.
@yosefe We will come with proper fix, meanwhile `UCX_IB_MLX5_DEVX=n` is workaround.
@alex--m Please pull master branch to remove my debug prints.

[2020-01-02 07:57] yosefe commented on #4556
Thanks @Artemy-Mellanox !

[2020-01-03 10:16] lytofd commented on #4508
Yes,thanks

[2020-01-03 10:23] #4508 closed

[2020-01-07 01:50] Akshay-Venkatesh opened #4652 "Minor: fxn prototype defined twice in wireup_cm.h"
@evgeny-leksikov Seems like there's a repetition
https://github.com/openucx/ucx/blob/master/src/ucp/wireup/wireup_cm.h#L29
https://github.com/openucx/ucx/blob/master/src/ucp/wireup/wireup_cm.h#L36

[2020-01-07 06:58] adrianreber commented on #4224
Last time I tried to test the master branch it required a lot of rebuilds as I was just adding patches to the distribution packages. I have not created a environment where I can install all necessary libraries and packages based on the latest version of UCX. If there are patches against 1.6.x (without SO name changes) it would be easier for me to test.

[2020-01-08 18:29] bureddy opened #4657 "segfault in ucs_sysv_shmget_format_error"
seen it only once. not able to reproduce.

IP0ac71017:23093:0:23985] Caught signal 11 (Segmentation fault: address not mapped to object at address 0x340)
==== backtrace (tid:  23985) ====
0 0x000000000003926d __GI_getenv()  :0
1 0x0000000000030dde __dcigettext()  :0
2 0x000000000008cbfe __GI___strerror_r()  :0
3 0x000000000008cb3f strerror()  ???:0
4 0x0000000000059038 ucs_sysv_shmget_format_error

[2020-01-09 05:37] brminich opened #4660 "failure in shm_ib/test_ucp_rma.nonblocking_stream_put_nb_flush_worker/0"
happened here:
https://gist.githubusercontent.com/mellanox-github/68d7ce1d0cbfc98832dffbd46886b82c/raw/0844c14c35921269c566982313a5aa0b397109f5/hpc-arm-cavium-jenkins_W0

[code]

[2020-01-09 12:30] hoopoepg commented on #4224
hi
unfortunately this fix is based on another set of fixes which is hard to backport into 1.6 branch

[2020-01-09 12:57] #4525 closed

[2020-01-13 02:25] #4652 closed

[2020-01-13 13:03] hoopoepg commented on #4624
hi @EmmaJaneBonestell

thank you for bug report

did you try to use older ICC? could it be regression in ICC?
we will try to reproduce it in our environment

[2020-01-14 07:46] amaslenn opened #4671 "[mtt] could not find a lane to send CONN_REP with UNIFIED_MODE=y"
Configuration
[code]

MTT log: http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/shmem/20200114_043841_14851_16815_jazz30.swx.labs.mlnx/html/test_stdout_p3zTOg.txt

Notes:
 - Reproduced with `np=2`
 - Works OK with `UCX_UNIFIED_MODE=n`

Cmd:
`oshrun -np 56 --display-map --bind-to core -mca oshmem_proc_group_cache_size 10000 -mca sshmem ucx -mca atomic ucx -mca coll_hcoll_enable 1 -x HCOLL_

[2020-01-14 18:44] dmitrygx commented on #4274
@angainor is it possible to run your test with the changes from #4666 PR? most likely it should fix the problem found by you.

[2020-01-15 08:20] dmitrygx commented on #4503
this is a configuration issue
closing this GH issue

[2020-01-15 08:20] #4503 closed

[2020-01-15 08:48] angainor commented on #4274
Thanks, @dmitrygx! There definitely is improvement! `osu_bw` runs through. However, the bandwidth  for large messages is quite a bit lower than expected:
[code]
I reach ~10GB/s with `-mca pml ^ucx`.

Another - possibly unrelated problem - is that the bi-directional `osu_bibw` doesn't even go through the 1 byte message. The test just hangs there, seems like the messages are not arriving. The test r

[2020-01-15 08:54] hoopoepg commented on #4616
failed to reproduce:
10 iterations by gtest_repeat=1000, about 6 hours run gtest_filter=posix/test_uct*

[2020-01-15 09:10] dmitrygx commented on #4274
@angainor Thank you for sharing the results!

yes, I'm sure that these are separate issues that should be handled in new GitHub tickets.
btw, could pls share `ucx_info -e -u t` output? pls set all relevant transports (ugni and cuda) to your `UCX_TLS="ugni,cuda"` when running `ucx_info` tool.
Thank you in advance!

[2020-01-15 09:25] angainor commented on #4274
@dmitrygx Right now I only run with ugni:
[code]

[2020-01-15 09:38] dmitrygx commented on #4274
@angainor looks good to me, RNDV has to be used for large messages, but it doesn't perform well. could you prepare GitHub issue for this performance issue? Thank you!

[2020-01-15 09:45] angainor commented on #4274
@dmitrygx I will do that. I also managed to run the `bibw` test through: it runs correctly after I exported `UCX_TLS=ugni`. Which is strange: `osu_bw` doesn't need the export, nor does it care if it's there. Do you know why would that matter, or how I could diagnose the problem? Was another transport (e.g., `tcp`) used instead?

The performance problem is still there, whether I export `UCX_TLS` or

[2020-01-15 09:47] dmitrygx commented on #4274
@angainor it should work with TCP as well. Could you try to run `osu_bibw` with `UCX_TLS=tcp` exported, pls?

[2020-01-15 09:50] angainor opened #4673 "Low bandwidth with Cray ugni transport"
I am running on Cray XC50 with OpenMPI 4.0.2 compiled against ucx master, with https://github.com/openucx/ucx/pull/4666 applied. The OSU `bw` and `bibw` benchmarks run through, but the large message bandwidth is quite much lower than expected. For `osu_bibw`:
[code]
and for `osu_bw`:
[code]
The same benchmarks with `-mca pml ^ucx`:
[code]
[code]

[2020-01-15 09:52] dmitrygx commented on #4671
This is not a UCX issue. The cluster, where the test was run, was not configured as homogeneous. Some node has PCI atomics that are preferred over the HCA atomics, but others have only HCA atomics. So, UCX over IB with `UCX_UNIFIED_MODE=y` can't be used on such configuration.

[2020-01-15 09:52] #4671 closed

[2020-01-15 09:54] dmitrygx commented on #4673
@MattBBaker could take a look pls?

[2020-01-15 10:02] angainor commented on #4274
@dmitrygx With `UCX_TLS=tcp` (without ugni) I get this
[code]
Surprisingly, the bandwidth is much better with TCP, at least for large messages.
[code]
However, I often get the following assertion with `osu_bibw` (doesn't seem to happen with `osu_bw`):

[code]

[2020-01-15 10:05] angainor commented on #4274
@dmitrygx Should I open another ticket for that assertion on the tcp path? Also unrelated to this issue.

[2020-01-15 10:13] dmitrygx commented on #4274
@angainor yes, please. open it with all available information. Could you pls configure your UCX as follows:
[code]
in order to collect more info in backtrace?

[2020-01-15 10:57] angainor commented on #4274
@dmitrygx Guess what - it works fine when I configure using `./contrib/configure-devel`. Not sure what else it does, but there is a difference wrt. standard `configure` in compile flags: `devel` adds `-fno-omit-frame-pointer`.

`osu_bibw` fails with standard `configure` even when I use `--enable-debug`. I'll submit a new issue.

[2020-01-15 11:10] angainor opened #4676 "Assertion failed on Cray with TCP transport"
I am running on Cray XC50 with OpenMPI 4.0.2 compiled against ucx master (`./contrib/configure-devel --without-valgrind --enable-debug --enable-mt`). When using the TCP transport, `osu_bibw` often, but not always experiences the following problem:

[code]
It happens at different (large) message sizes.

I have not managed to reproduce this with the uni-directional test `osu_bw`.

[2020-01-15 11:12] angainor commented on #4676
Running with
[code]

[2020-01-15 11:16] dmitrygx commented on #4274
@angainor thank you!
BTW, currently, it is enough info for me. so, there are no need to configure with devel now

[2020-01-15 13:06] shamisp commented on #4673
@MattBBaker I'm not positive, but I think we don't use Cray's registration cache feature. I think they have separate Cray API for this. Potentially we can check if we can "transparently" leverage UCX registration cache.

[2020-01-15 13:18] dmitrygx commented on #4673
@shamisp if I'm not mistaken, Cray has their own proprietary mechanism for memory changes notification - `/dev/kdreg` that can be used just as a notifier that some memory address is not valid anymore (i.e. can use it instead of UCM memhooks)

[2020-01-15 13:59] shamisp commented on #4673
@dmitrygx Correct. Back in the days when I have been working on the first version of the BTE transport, it was a new feature and we have never had a chance actually integrate it. If we decide to address the issue I would look for the simplest/low effort  approach. I think the problem for now is the access to Cray machine. ORNL retired their Cray system. Matt will know better.

[2020-01-15 14:02] angainor commented on #4673
@shamisp @MattBBaker has now access to PizDaint.

[2020-01-15 14:10] dmitrygx commented on #4673
@shamisp I think, using UCS RCACHE + UCM KDREG notifier would be the simplest one.

[2020-01-15 14:48] MattBBaker commented on #4673
@shamisp @angainor Yes, I got access to PizDiant, just in time for the holidays. Fixing the SMSG bug is actually high on my priority list right now.

@dmitrygx Agreed that the RCACHE and KDREG mechanisms would be simplest. That's been a side plate topic, but I'll promote it.

[2020-01-15 20:51] EmmaJaneBonestell commented on #4624
While I did try it with different c standard libraries, I haven't tried an older ICC version -- I will check the previous version within the next day or two and let you know if it's a problem with ICC, in which case, I will submit a bug report to them.

[2020-01-16 02:39] Akshay-Venkatesh opened #4680 "Seeing an error with osu_bw from OSU microbenchmarks using TCP transport at 4MB size"
Hi,

Any thoughts on what this error is pointing to? I used master @  ac88b4246660cc9aeb8914f06142232339fc3c72 ./contrib/configure-devel with cuda support build and ran this between two VMs:
[code]

[code]

[2020-01-16 04:26] dmitrygx commented on #4680
@Akshay-Venkatesh thank you for sharing this info. It will be fixed by #4678

[2020-01-16 04:29] dmitrygx opened #4681 "memory hook test failure on PPC"
[code]
Gist: https://gist.githubusercontent.com/mellanox-github/97347b6cb34c7babc9cefc1b0e2593ce/raw/4732a3049c45d2f440d31f30a38ac5f98f9bad64/r-vmb-ppc-jenkins_W0
Jenknins job: http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/14092/label=r-vmb-ppc-jenkins,worker=0/console

[2020-01-16 13:48] #4602 closed

[2020-01-16 19:14] jaysullivan opened #4684 "UCX ERROR Failed to allocate Issues with mlx4_0"
Hi All,

At one point in time, when my applications does a write operation, it pulls from all the ranks and consolidates down. When this happens I get the following printed to STDOUT:
[1579192987.880374] [HOSTNAME:440443:0] sys.c:619 UCX ERROR shmget(size=4263936 flags=0x7b0) for mm_recv_desc failed: No space left on device, please check shared memory limits by 'ipcs -l'
[1579192987.880437] [HOSTN

[2020-01-16 20:30] jaysullivan commented on #4684
# ipcs -l

------ Messages Limits --------
max queues system wide = 32768
max size of message (bytes) = 65536
default max size of queue (bytes) = 65536

------ Shared Memory Limits --------
max number of segments = 65536
max seg size (kbytes) = 67108864
max total shared memory (kbytes) = 17179869184
min seg size (bytes) = 1

------ Semaphore Limits --------
max number of arrays = 128
max semaphore

[2020-01-16 20:32] jaysullivan commented on #4684
Examples of what that ipcs output gives

# ipcs -m |grep identifier |wc -l
32768

# ipcs -m |grep identifier
<SNIP>
0x00000000 112459751  identifier    660        4263936    2          dest
0x00000000 112492520  identifier    660        4263936    3          dest
0x00000000 112525289  identifier    660        4263936    2          dest
0x00000000 112558058  identifier    660        4263936    5

[2020-01-17 03:53] EmmaJaneBonestell commented on #4624
@hoopoepg

After testing, it does appear to be a regression in the 2020 version.

I tested the final releases of the 2019 and 2018 editions, and it compiled just fine with the "-ipo" flag set. I noticed the compiled sa file did not even contain the std::_Function_base::_M_max* symbols according to nm.

Of course removing the "-g" flags from the sockaddr makefiles results in a successful compilatio

[2020-01-17 07:14] hoopoepg commented on #4624
@EmmaJaneBonestell thank you for the update
we will look at this issue too after our environment is ready (it takes time)

thank you again

[2020-01-17 10:23] angainor commented on #4609
@artpol84 FYI, for now we ended up locking all calls to UCX and initializing the library with `UCS_THREAD_MODE_SERIALIZED`.

btw., @yosefe is there a significant difference between this and `UCS_THREAD_MODE_SINGLE`? If we anyway have to lock calls to UCX, is it OK if I compile without multithreading and use external locks?

[2020-01-17 16:20] knweiss commented on #4365
@MartinHilgeman Did you find a solution? Does the problem not occur if you disable HT?

I see similar page reclaim errors on a ConnectX-6 IB-HCA on a AMD EPYC 7402 (unrelated to UCX though!).

[2020-01-17 16:25] MartinHilgeman commented on #4365
@knweiss Yes, my issue was fixed by enabling IOMMU and setting iommu=pt on the kernel boot line.

[2020-01-17 16:29] artpol84 commented on #4609
Yes, we use it that way in multiple codes.

[2020-01-18 15:13] yosefe commented on #4609
UCS_THREAD_MODE_SINGLE and UCS_THREAD_MODE_SERIALIZED is mostly the same, except UCS_THREAD_MODE_SERIAZIED also forces BlueFlame flush. And for your use case, this is also the right thing to do.

[2020-01-20 09:55] #4676 closed

[2020-01-20 09:55] #4680 closed

[2020-01-20 14:48] yosefe commented on #4267
@petro-rudenko can u pls add all stack frames from gdb?

[2020-01-21 11:10] kayog96 opened #4689 "osu build issue"
I am getting this error while building OSU microbenchmark for ROCm: WARNING: unrecognized options: --enable-rocm, --with-rocm.

I am running this command for building OSU:
./configure --enable-rocm --with-rocm=/opt/rocm CC=$OMPI_DIR/usr/bin/mpic++ CXX=$OMPI_DIR/usr/bin/mpicxx LDFLAGS="-L$OMPI_DIR/lib/ -lmpi -L/opt/rocm/lib/ -lhip_hcc" CPPFLAGS="-std=c++11"

Also, i am having doubt that without doi

[2020-01-21 11:15] dmitrygx commented on #4689
@kayog96 thanks for reporting the issue
but are you sure that the issue should be reported to OpenUCX community? Should it be reported to OSU instead?

[2020-01-21 11:52] #2077 closed

[2020-01-21 11:52] #4274 closed

[2020-01-21 11:52] #4600 closed

[2020-01-21 20:27] jakirkham commented on #3192
FWIW we are also running into this problem. Will see if we can share a reproducer.

cc @pentschev @madsbk @quasiben

[2020-01-22 09:56] hoopoepg commented on #4624
we reproduced this issue even without UCX building (using simple reproducer). It seems this is issue in ICC 2020. Closing issue for now

[2020-01-22 09:56] #4624 closed

[2020-01-23 04:10] #4689 closed

[2020-01-23 17:27] jaysullivan commented on #4684
Hi All,

One thing I've noticed is that if i cut the number of cores used for the job from 896 to 448, this problem goes away.

-Jay

[2020-01-24 15:20] souravzzz opened #4697 "Creating a dockerfile for running the CI locally"
It is generally a good idea to be able to run the CI tests locally on developer systems. Some of the benefits are:
 * Fewer broken commits and related fixes
 * Less stress on the CI pipeline
 * Faster turnaround for PRs

While the file `contribs/test_jenkins.sh` is a good start, it also requires very specific packages and modules to be present in the system to work properly. A docker file containi

[2020-01-24 15:51] mike-dubman commented on #4697
@souravzzz - it is very good idea. we may already have it (azure ci uses docker files to package PR into docker image and test it).
You can find azure dockerfiles and test.xml here https://github.com/openucx/ucx/tree/master/buildlib

@amaslenn - lets check how we can have wiki page with howto run CI in developers shell via dockers and publish it. (our local module files will be missing and coverit

[2020-01-24 17:02] shamisp commented on #4697
@souravzzz - it actually was brought up during F2F. @jgunthorpe has this awesome script in rdma-core that generates docker images that we can potentially leverage: https://github.com/linux-rdma/rdma-core/blob/master/buildlib/cbuild

I used previous version of this for rdma-core development, cross-compilation, etc and it worked awesome.

[2020-01-24 19:00] mike-dubman commented on #4697
very nice script indeed and useful. we should adopt and document how to run "ucx ci in a shell"

[2020-01-25 17:36] dmitrygx opened #4700 "tcp/test_uct_tcp.listener_flood_connect_and_close/0 hangs on hpc-test-node-upstream-02"
[code]
hpc-test-node-upstream-02
http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/3441/nodes/115/steps/1045/log/?start=0

[2020-01-25 20:35] shamisp commented on #4697
@jgunthorpe I'm always confused a bit about rdma-core licensing. Is it BSD3 ?

[2020-01-26 11:08] yosefe commented on #4323
doesnt hang after patching th ekernel

[2020-01-26 11:08] #4323 closed

[2020-01-26 11:51] yosefe commented on #4684
@jaysullivan what is the result of `ipcs -m|wc -l` during job run?
Can you try setting `UCX_TLS=posix,knem,cma,self,ib` as potential workaround?

[2020-01-27 13:21] jaysullivan commented on #4684
Hi,

Thanks for the information!!

Here is an example of the behavior. That 602 is the last step of the job before it starts writing output:

602
18207
31660
32768
32768

This is only on the "mother" node. The rest of the nodes show similar behavior, just at a less aggressive pace.

I'll try that setting and let you all know.

-Jay

[2020-01-27 16:04] jaysullivan commented on #4684
Hi,

Setting the environment variable, worked at 896 cores, but interestingly the job ran slower than if I ran it at 448, by about 30minutes.

What did this setting change in the behavior to slow it down? I'm expecting, going from 448 to 896 should reduce runtime from 52minutes (448 cores) to around 40ish minutes for 896. it's possible this job isn't large enough for 896cores, but would expect to

[2020-01-27 16:06] yosefe commented on #4684
@jaysullivan is it also slower on 448 cores?

[2020-01-27 16:31] jaysullivan commented on #4684
Ha. yeah thought of that after I submitted. Re-running now, should know within the hour.

-Jay

[2020-01-27 17:58] jaysullivan commented on #4684
448 with the UCX_TLS=posix,knem,cma,self,ib setting put the job at 90 minutes, about 45 minutes slower.

-Jay

[2020-01-27 18:17] yosefe commented on #4684
@jaysullivan can you pls post the output of "ucx_info -d"?

[2020-01-27 18:29] jaysullivan commented on #4684
# ucx_info -d
#
# Memory domain: self
#            component: self
#             register: unlimited, cost: 0 nsec
#           remote key: 8 bytes
#
#   Transport: self
#
#   Device: self
#
#      capabilities:
#            bandwidth: 6911.00 MB/sec
#              latency: 0 nsec
#             overhead: 10 nsec
#            put_short: <= 4294967295
#            put_bcopy: unlimited
#            ge

[2020-01-27 18:31] jaysullivan commented on #4684
`# ucx_info -d
#
# Memory domain: self
#            component: self
#             register: unlimited, cost: 0 nsec
#           remote key: 8 bytes
#
#   Transport: self
#
#   Device: self
#
#      capabilities:
#            bandwidth: 6911.00 MB/sec
#              latency: 0 nsec
#             overhead: 10 nsec
#            put_short: <= 4294967295
#            put_bcopy: unlimited
#            g

[2020-01-27 18:35] jaysullivan commented on #4684
Sorry I couldn't figure out how to format it properly. The preview kept showing it bolded.

[2020-01-27 18:39] yosefe commented on #4684
@jaysullivan can you please try UCX_TLS=posix,knem,cma,self,ib,**tcp** ?
Also, can you pls post the output of `ucx_info -u t -D net -e` and `ucx_info -u t -D shm -e`? It would show the actual transports used for communication

[2020-01-27 18:49] jaysullivan commented on #4684
Running now.

`# ucx_info -u t -D net -e
#
# UCP endpoint
#
#               peer: <no debug data>
#                 lane[0]:  2:rc/mlx4_0:1 md[1]           -> md[1] rma_bw#0 am am_bw#0 wireup{ud/mlx4_0:1}
#
#                tag_send: 0..<egr/short>..79..<egr/bcopy>..5560..<egr/zcopy>..170483..<rndv>..(inf)
#            tag_send_nbr: 0..<egr/short>..79..<egr/bcopy>..262144..<rndv>..(inf)
#

[2020-01-27 18:57] tonycurtis opened #4705 "UCX_SHM_DEVICES environment variable setting confusion"
### Describe the bug

Unexpected (?) behavior when setting UCX_SHM_DEVICES

### Steps to Reproduce
- Command line

Single rank (PE) hello world OpenSHMEM program.  Own implementation, not OMPI/OSHMEM.

- UCX version used (from github branch XX or release YY) + UCX configure flags (can be checked by `ucx_info -v`)

[code]

- **Any UCX environment variables used**

UCX_SHM_DEVICES

### Setup and ver

[2020-01-27 20:54] jaysullivan commented on #4684
Hi,

Executing with 'UCX_TLS=posix,knem,cma,self,ib,tcp' at 448 cores did not make a different, still around 90minutes to complete.

-Jay

[2020-01-27 21:03] jgunthorpe commented on #4697
The cbuild script is:

# Licensed under BSD (MIT variant) or GPLv2. See COPYING.

So you may take it under the BSD clause if you like, however the code remains with its original ownership and you have to follow the guidance from the UCX CLA for submitting code that is not yours.

Ensure you copy the original 'BSD (MIT varient)' copyright text into the top of cbuild before you put it in ucx.

[2020-01-27 21:14] evgeny-leksikov commented on #4681
similar on x86: http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-test-node-gpu,worker=0/14208/consoleFull#-853622487b816df86-9afc-46eb-984f-1a9a125d73bb

[2020-01-28 09:42] yosefe commented on #4705
@tonycurtis this is intentional. If a user provides an explicit list of transports, we print a warning if some of them are not available.

[2020-01-28 10:03] yosefe commented on #4684
weird, seems like posix is slower than sysv..
@jaysullivan can you try `UCX_MM_RX_BUFS_GROW=2048` instead of `UCX_TLS=posix,knem,cma,self,ib`? it should use less shared memory segments

[2020-01-28 10:10] #4426 closed

[2020-01-28 14:49] tonycurtis commented on #4705
Ah, OK :)

[2020-01-28 15:09] tonycurtis commented on #4705
But...still confused...

I  have programs hanging if I set `UCX_SHM_DEVICES` to an explicit full list from the warning message, whereas they run with `all`.

[2020-01-28 15:14] yosefe commented on #4705
`UCX_SHM_DEVICES=cma,knem,posix,sysv` is an invalid full list. It should be `UCX_SHM_DEVICES=memory`

In order to manipulate different shared memory transports need to use UCX_TLS

[2020-01-28 15:32] tonycurtis commented on #4705
I think the message might need to be tweaked, then.  It reads to me (and another) that knem and co. are the values that should go in the list.

[2020-01-28 15:40] yosefe commented on #4705
@tonycurtis for example:
[code]
this means "cma" is for UCX_TLS (transports)
and "memory" is for UCX_SHM_DEVICES

[2020-01-28 16:01] tonycurtis commented on #4705
I think it's the "one or more of" that's throwing things: if all the items listed start with "memory" then "one or more of" presumably applies to the items in parens...maybe add

[code]

?

[2020-01-28 16:06] yosefe commented on #4705
i see, the message should probably list only devices, not transports

[2020-01-28 17:54] jaysullivan commented on #4684
@yosefe, this change worked UCX_MM_RX_BUFS_GROW=2048. The 896cpu job ran in 43minutes, which is roughly what I was expecting.

So, now what. Is this a setting I need to consider for all my MPI work and just include as a default ENV variable? Any advice on how to proceed is greatly appreciated.

-Jay

[2020-01-28 17:58] yosefe commented on #4684
@jaysullivan how about increasing number of segments limit on the cluster?
`echo 262144 | sudo tee /proc/sys/kernel/shmmni`

[2020-01-28 18:02] shamisp commented on #4705
The message is misleading, if we use terms from ucx_info:
```WARN  intra-node device 'cma' is not available, please use one or more of: 'memory'(cma), 'memory'(knem), 'memory'(posix), 'memory'(sysv)``

cma is not a device, is not it ?  I think it will be more informative to user to report that shared-memory device is not available, please use one or more transports...

[2020-01-28 18:03] shamisp commented on #4705
For self we can probably report loopback-memory

[2020-01-28 18:14] jaysullivan commented on #4684
This is my current setting:
# cat /proc/sys/kernel/shmmni
65536

I read here: https://serverfault.com/questions/371068/shared-memory-shmget-fails-no-space-left-on-device-how-to-increase-limits, that the kernel itself limits to 32768, this is from the header file in the kernel packages:

./include/linux/ipc.h:#define IPCMNI 32768  /* <= MAX_INT limit for ipc arrays (including sysctl changes) */

So

[2020-01-29 04:28] sparticlesteve opened #4707 "PyTorch+OpenMPI+UCX broadcast giving invalid device context"
I’m hoping someone on here can help me out with this issue as I’m a bit lost with all the UCX-related concepts, terminology, and parameters. It's probably just a problem on our end rather than a bug.

I have a simple 2-rank pytorch + OpenMPI + UCX example which creates some gpu data, attempts a broadcast, and gives these errors:
UCX ERROR cuCtxGetDevice(&cu_device) is failed. ret:invalid device co

[2020-01-29 07:40] brminich commented on #4707
@sparticlesteve, can you please try UCX 1.7 (or even master branch)?
A bunch of CUDA IPC bugs were fixed since UCX 1.6.
To do that you can just build UCX locally and add `export LD_PRELOAD=${PATH_TO_UCX}/lib/libucp.so` to the environment setup script (where `${PATH_TO_UCX}` is the folder where UCX is installed)

[2020-01-29 09:24] yosefe commented on #4684
@jaysullivan yes, it makes sense. So for for now need to use UCX_MM_RX_BUFS_GROW=2048 for all your MPI jobs. We can consider adding exponential mpool growth in future UCX version to avoid the need for this "workaround".

BTW, any chance you can try `UCX_TLS=posix,knem,cma,self,ib` with **latest** UCX version (master branch) to see if it still suffers from a performance issue?

[2020-01-29 12:14] dmitrygx opened #4710 "MPI application that uses XPMEM catches "Bus error: nonexistent physical address""
When using MPI application with `UCX_TLS=sm` (and XPMEM is available for RNDV):
[code]
it fails with the following backtrace:
[code]

It works fine w/o XPMEM (i.e. `UCX_TLS=posix`/`UCX_TLS=posix,cma,knem`)

[2020-01-29 12:59] jaysullivan commented on #4684
I'll need to figure out how, but should be do-able.

In the meantime, can you explain more what UCX_MM_RX_BUFS_GROW=2048 does? At initial testing, it does not appear to have any issues with our codes at any scale, I just want to know what it changes with a little more detail, so if I see anything out of the ordinary I might be able to back trace to this.

-Jay

[2020-01-29 13:06] yosefe commented on #4684
It increases the size of each shared memory segment so less segments are required for same amount of buffers, and will not the system limit of 32k segments.

[2020-01-29 13:52] jaysullivan commented on #4684
Out of curiosity, what are we increasing that value from or what's the default size of the shared memory segment?

-Jay

[2020-01-29 15:27] dmitrygx commented on #4710
[code]

[2020-01-29 15:52] jaysullivan commented on #4684
Performance problem is gone with UCT Version=1.8.0 and setting UCX_TLS=posix,knem,cma,self,ib

Output of ucx_info:
# UCT version=1.8.0 revision
# configured with: --disable-logging --disable-debug --disable-assertions --disable-params-check

-Jay

[2020-01-29 16:47] sparticlesteve commented on #4707
Thanks, @brminich , I will give that a shot and report back.

[2020-01-29 17:31] shamisp commented on #4705
@tonycurtis - do you want to go ahead and submit PR for the messages. You have been very helpful in improving error "messages" to the user. Thanks

[2020-01-30 00:19] sparticlesteve commented on #4707
I tried UCX 1.7 as suggested and seem to get the same result:
https://github.com/sparticlesteve/pytorch-cuda-mpi-error/compare/test-ucx-1.7

[2020-01-30 02:19] Akshay-Venkatesh commented on #4707
@sparticlesteve Will give the repro a shot and update by tomorrow.

[2020-01-30 03:47] sparticlesteve commented on #4707
Thanks! I still think it's somehow an issue on our end, but if the check could help point in the right direction then I'll appreciate it.

[2020-01-30 07:38] amaslenn opened #4713 "[mtt] osu_alltoall hangs with HW TM TX_POLICY=dcs_quota"
Configuration:
[code]

MTT log: http://e2e-gw.mellanox.com:4080/mnt/lustre/users/mtt/scratch/ucx_ompi/20200127_063413_684_534429_clx-hercules-001/html/test_stdout_BU5DSK.txt

The bug is sporadic, but 2-4 runs are enough to catch it. Couldn't reproduce with HW TM disabled and TX_POLICY=rand.

Cmd:
`mpirun -np 32 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hc

[2020-01-30 12:22] dmitrygx commented on #4710
[code]

[2020-01-30 13:03] dmitrygx opened #4714 "*/test_ucp_tag_match.send_recv_unexp/0 hangs when UCX_RNDV_THRESH=0"
`*/test_ucp_tag_match.send_recv_unexp/0` test hangs for ud/udx/tcp/shm_ib when `UCX_RNDV_THRESH=0` set

[code]

[2020-01-30 15:45] dmitrygx commented on #4480
Please set the follwoing parameters in order to prepare nodes for large scale where UCT/TCP is running:
[code]

[2020-01-30 16:29] quasiben commented on #4707
We saw a lot of this during the development of ucx-py and testing with dask.  I recall many of the issues coming down to thread/fork management and when the cuda context was created (before/after forking and spawning)

xref: https://github.com/rapidsai/ucx-py/issues/102

[2020-01-30 17:45] brminich commented on #4713
Can reproduce with:
 mpirun -np 32  -mca btl self -mca pml ucx -mca coll '^hcoll'  --bind-to core -x UCX_NET_DEVICES=mlx5_2:1 -mca osc ucx -x UCX_IB_REG_METHODS=rcache,direct -x UCX_TLS=dc_x,self,sm -x UCX_DC_MLX5_TM_ENABLE=y --map-by node -x UCX_RNDV_THRESH=16K  /hpc/local/benchmarks/daily/next/2020-01-27/hpcx-gcc-redhat7.4/ompi/tests/osu-micro-benchmarks-5.3.2/osu_alltoall

[2020-01-30 18:07] brminich commented on #4713
Also hangs on 1K messages with
[code]

[2020-01-30 18:35] Akshay-Venkatesh commented on #4707
Good point @quasiben !

@sparticlesteve do you know if the thread that initializes MPI/UCX is different from the thread that initializes the CUDA device? If the CUDA context is stored in TLS of a different thread from the one that access UCX, then this error is expected. The way that rapids got around the problem was to initialize CUDA device before touching UCX. Looking at the python script you h

[2020-01-30 18:52] sparticlesteve commented on #4707
Interesting thought and a good test I will run. @pietern might be able to comment on whether the threading in pytorch could produce this.

[2020-01-30 21:33] sparticlesteve commented on #4707
Ok I tried the test:
https://github.com/sparticlesteve/pytorch-cuda-mpi-error/compare/ucx-test-2

This did change the output, but now gives:
[code]

[2020-01-31 00:05] Akshay-Venkatesh commented on #4707
Still seems like there's a mismatch in context that was touched in UCX and the context that was created when a device is initialized here:
[code]

At least that's one explanation of why you would see:
[code]
Is it possible to report the number of active CUDA contexts on the process when the error is thrown?

[2020-01-31 02:39] quasiben commented on #4707
You could also trying creating the context directly before the torch call.  We do this in dask/dask-cuda with numba:

https://github.com/rapidsai/dask-cuda/blob/96a43b7483b9bed941add352ed46de42fa255745/dask_cuda/initialize.py#L45

[2020-01-31 13:22] brminich commented on #4713
looks like duplicate of #2934, reproduced on relatively old FW.
Could not reproduce on jazz, where  16.26.0276 FW is installed

[2020-02-01 00:00] sparticlesteve commented on #4707
I had a minor error in my last test; need to use the slurm env variables instead of OpenMPI env variables. Once I fixed that, I recovered the original reported error message.

I ran another test now in which I explicitly allocate small arrays on all GPUs before the MPI initialization, to ensure all cuda contexts are constructed (this was suggested by @pietern before but I did it after MPI init). T

[2020-02-01 01:12] Akshay-Venkatesh commented on #4707
@sparticlesteve

Can you try with setting env var `UCX_IB_GPU_DIRECT_RDMA=no` and see if that helps?

[2020-02-03 09:55] #4480 closed

[2020-02-03 17:42] abellina commented on #4513
Just wanted to comment on this issue. The reason for this issue appears to be the limited size of the BAR for T4 (256MB), as other devices like the V100 (BAR == gpu mem size). During the UCX hackathon we discussed detecting this and falling back to a pipelined copy potentially. I'd like to know if that's still the way forward. I know @yosefe was going to think about ways to handle this.

[2020-02-03 17:44] Akshay-Venkatesh opened #4722 "Host -> Device fails when rendezvous put_zcopy protocol is attempted"
### Describe the bug

See an assertion failure with send buffer registration. It seems cuda_ipc md is considered for registration on host buffer.

[code]

### Steps to Reproduce

Using current master with contrib/configure-devel --with-cuda, and osu benchmarks:

[code]

Within the node:
[code]

Across nodes:
[code]
cc @bureddy @brminich

[2020-02-03 17:59] yosefe commented on #4513
@abellina yes, i think this is still the way forward. however i'm concerned about the performance implications: we would never hit the registration cache and would have to attempt registration for every message..

[2020-02-03 19:40] Akshay-Venkatesh commented on #4722
@bureddy What's happening is that receiver side goes ahead and calls ipcgetmemhandle on the receive buffer which resides on the GPU. When the sender gets this, it tries to use cuda_ipc transport (send.lane is set to cuda_ipc) and tries to register buffer. Looks like protocol selection path in rndv.c ignores the mem_type at sender side somehow. This is strange because `ucp_rkey_find_rma_lane` calls

[2020-02-03 20:31] abellina opened #4723 "Exposing ucp_tag_probe_nb in JUCX"
`ucp_tag_probe_nb` would be quite useful in JUCX for messages whose size is not known on the receiver end.

This is a feature request to include it in JUCX.

[2020-02-03 20:38] abellina opened #4724 "Dynamic configuration in JUCX/UCX"
There are some flags that we would love to be able to set at runtime. Or at least be able to set them in a constructor, or via some other programmatic way.

The settings we set via environment variables right now are:
- UCX_TLS
- UCX_TCP_SENDV_THRESH
- UCX_MEMTYPE_CACHE
- UCX_RNDV_SCHEME
- UCX_ZCOPY_THRESH
- UCX_BCOPY_THRESH
- UCX_RNDV_THRESH
- UCX_LOG_FILE
- UCX_LOG_LEVEL

We plan on running with

[2020-02-03 20:48] abellina opened #4725 "Improving message traceability"
This is an issue that was discussed a bit in the hackathon. The question is, could UCP produce a small status "receipt" when a message is completed (at the callback likely), with basic information on what happened to the message.

I think that the minimum thing we'd want to see is what transport was used (e.g. cuda_ipc), was it pipelined? what rendezvous scheme was used?

I could see wanting to kn

[2020-02-03 21:05] bureddy commented on #4722
@Akshay-Venkatesh looks like a regression from 3-stage pipeline changes.
Also need to check why it didn't catch in Jenkins gtest, as we are testing host to device with ipc.
will look into it.

[2020-02-03 21:06] souravzzz commented on #4513
I see a very similar error with Rocm memory on inter-node transfers. Details:

[code]

[code]

[2020-02-03 21:20] bureddy commented on #4513
@souravzzz It seems that reason in your case if different.  it is failed to register a smaller size(1K)
how much BAR is exposed on RoCM GPUs?

[2020-02-03 23:13] souravzzz commented on #4513
Hi @bureddy 16GB

[code]

[2020-02-04 16:34] souravzzz opened #4730 "IB Registration error (Input/output error) with MPI collectives on ROCm"
### Describe the bug
IB Registration error with ROCm memory for certain inter-node transfers.

### Steps to Reproduce
I have not been able to reproduce it with `ucx_perftest`. However, it is reproducible with a number of different collectives and with OpenMPI. Switching up the algorithms didn't work. From what I've observed, the sends are always small (<=1KB) and starts at some offset from the beg

[2020-02-04 16:35] souravzzz commented on #4513
Moved the ROCm issue to its own (https://github.com/openucx/ucx/issues/4730)

[2020-02-04 16:46] souravzzz commented on #4730
@yosefe @bureddy Any thoughts on where to look?

[2020-02-04 16:54] dmitrygx commented on #4730
@souravzzz could you try `UCX_MEMTYPE_CACHE=n` pls?

[2020-02-04 16:59] souravzzz commented on #4730
@dmitrygx Same error with `UCX_MEMTYPE_CACHE=n`

[2020-02-04 17:15] bureddy commented on #4730
@souravzzz do you have ib perf tests with rocm support to validate GPUDirectRDMA on the setup? if yes, can you try?

[2020-02-04 17:34] souravzzz commented on #4730
@bureddy IB perftest with ROCm is working.

[code]

[2020-02-04 19:21] yosefe commented on #4730
@souravzzz any errors in dmesg?
if not:
[code]

[2020-02-04 19:43] souravzzz commented on #4730
@yosefe I got this error in dmesg:

[code]

Full log: https://gist.github.com/souravzzz/787d9a13804b2eb6f6f8b9773e5f94d6

[2020-02-04 20:11] yosefe commented on #4730
@souravzzz thanks, any chance you have the matching UCX log from the application, userspace side? to match the virtual addresses reported by the kernel

[2020-02-04 20:24] yosefe commented on #4730
@souravzzz it seems like peer_mem->get_pages function (which is calling ROCm driver i guess) is returning zero size sg list. is it possible to get more debug info from ROCm driver?
Could it be a problem if the same page is registered more than once?
Also, if you can pls attach full UCX log - we can try to narrow down what UCX is doing differently than ib_send_bw

[2020-02-04 20:48] souravzzz commented on #4730
@yosefe The debug logs from the ROCm driver are not as descriptive but I see some output related to the address range (0x7ffbd5600400) in question. Here are the full logs:

https://gist.github.com/souravzzz/bddfeaa9590f1929cc1923d44172b3e4

[2020-02-04 22:18] yosefe commented on #4730
from dmesg log may be rocm driver rounding up the size but now rounding down the address?
is ROCm driver i see that aligned size but original address are passed to rdma_interface->get_pages:
https://github.com/RadeonOpenCompute/ROCK-Kernel-Driver/blob/39acb1a0709b9d595d4368d5d53ca05b02e3b0f7/drivers/gpu/drm/amd/amdkfd/kfd_peerdirect.c#L266

[code]

[2020-02-05 15:10] tonycurtis opened #4735 "Compile error in UCP using Intel ONE clang (beta)"
### Describe the bug

Trying out the Intel ONE (https://software.intel.com/en-us/oneapi) suite.  Got error in UCP compile.

(Not sure if UCX issue, or the compiler)

### Steps to Reproduce

Compiler version
[code]
### Setup and versions

Seen on CentOS 7.5, Fedora 30 and Ubuntu 18

### Additional information (depending on the issue)

[code]

[2020-02-05 16:35] souravzzz commented on #4730
Thanks @yosefe, this looks promising. Looks like the rounding was being done due to this:
[code]
https://github.com/RadeonOpenCompute/ROCK-Kernel-Driver/blob/39acb1a0709b9d595d4368d5d53ca05b02e3b0f7/drivers/gpu/drm/amd/amdkfd/kfd_peerdirect.c#L213

Do you know of any such limitations? The fix would probably be the same regardless (align down the address to page boundary).

[2020-02-05 16:37] yosefe commented on #4730
yes, the retuned scatterlist has to be in page granularity
just aligning up the size is not correct
need to align down the start, align up the end, and recalculate the size as end-start

[2020-02-05 16:43] souravzzz commented on #4730
@yosefe Thanks for confirming. I will work with the appropriate team to get it resolved.

[2020-02-05 19:14] bureddy commented on #4722
cuda_ipc is not triggered in ucp_tag_mem_type tests because cuda_ipc iface reachability condition (https://github.com/openucx/ucx/blob/master/src/uct/cuda/cuda_ipc/cuda_ipc_iface.c#L68 ). here, we have PID should mismatch condition to prevent cuda_ipc in local mem_type EP used for memtype staging.
in gtest same gtest process(PID) is connecting to EP. this prevented cuda_ipc in selected to memtype

[2020-02-05 19:16] bureddy commented on #4722
@Akshay-Venkatesh can you check with https://github.com/openucx/ucx/pull/4736

[2020-02-05 23:42] Akshay-Venkatesh commented on #4722
Change fixes OSU benchmarks. Will report back from the application developer who reported this issue

[2020-02-06 05:41] dmitrygx opened #4737 "frag_list.two_holes_advanced failure on hpc-test-node-upstream-02"
[code]
http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/3601/pipeline/114/

[2020-02-06 08:06] evgeny-leksikov opened #4739 "GTEST/UCP/SOCKADDR: missed loop around UCS_ERR_BUSY from ucp_listener_create"
### Describe the bug
CI can fail if addr/port is busy/in_use

### Steps to Reproduce
run many instances of
`gtest --gtest_filter=*ucp_sockaddr* --gtest_repeat=N`
on the same host

[code]
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-test-node-new,worker=2/14354/consoleFull#71504791244550c5d-247a-4f9d-bad5-5b93d2b6e2ac

### Additional information (depending on the issue)
We already ha

[2020-02-06 08:52] yosefe commented on #4722
@bureddy  can we fix cuda_ipc is_reachable test so it will return 0 when used on same process?
this way no need to change/hack it for every use case..

[2020-02-06 09:38] #4722 closed

[2020-02-06 11:46] yosefe commented on #4737
seems duplicate of #3897

[2020-02-06 11:51] dmitrygx commented on #3897
[code]
http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/3601/pipeline/114/

[2020-02-06 11:51] dmitrygx commented on #4737
@yosefe didn't notice #3897, closed this issue as duplicated

[2020-02-06 11:51] #4737 closed

[2020-02-06 15:50] ddutile commented on #4365
enabling IOMU and then setting iommu=pt means.... all transactions go through the IOMMU check, but are just passed through, as if no IOMMU was enabled.... this is just adding some minor delay, which must be hiding a race condition, or .... the bios is not providing the proper reserved-region information to the OS, and some memory region is being used by the kernel & being stomped on by the system

[2020-02-07 09:22] yimin-zhao opened #4742 "UCX ERROR no active messages transport"
### Describe the bug
When I try to run a mpi application - ior, it threw those error messages:
[code]
### Steps to Reproduce
- Command line
[code]
- UCX version used
ucx 1.4 and ucx 1.7 (Found a similar question in this repo, so I switch to ucx1.7 but got same errors)
- **Any UCX environment variables used**
No

### Setup and versions
- OS version (e.g Linux distro) + CPU architecture (x86_64/aarc

[2020-02-07 10:22] brminich commented on #4742
the errors come from `Intel MPI`->`OFI`->`UCX`.
Looks like inter nodes transports, such as IB or tcp, are disabled(not available?).
Worth checking Intel MPI and OFI settings, which could set some UCX env vars

[2020-02-07 10:36] dmitrygx commented on #4742
https://github.com/ofiwg/libfabric/pull/5281
It seems that OFI community no longer supports libfabric over UCX

[2020-02-07 10:53] yosefe commented on #4742
@yimin-zhao pls see https://openucx.readthedocs.io/en/master/running.html for details how to run OpenMPI with UCX.

[2020-02-07 14:36] #4447 closed

[2020-02-07 20:00] jdinan opened #4747 "NULL Send Callback Seg. Faults"
### Describe the bug
Providing NULL to the send callback of `ucp_put_nb` leads to a seg. fault.

From looking at the code with @shamisp the problem appears to be that `ucp_request_set_callback` unconditionally sets `UCP_REQUEST_FLAG_CALLBACK`.

[2020-02-07 20:23] yosefe commented on #4747
@jdinan a NULL callback is an illegal parameter.

[2020-02-07 20:55] dmitrygx commented on #4747
@jdinan We have no-op callback that can be passed by user to the function if they don't require a callback on a completion.
I also think that it's not good idea to have an extra branch on the critical path. Better to just have "a contract" with a user - they should not pass illegal parameters.
I think it's better to just add `ucs_assert()` to self-document the code if don't have it.

[2020-02-07 21:34] shamisp commented on #4747
@yosefe @dmitrygx today it is not documented.
Looking at the code checking UCP_REQUEST_FLAG_CALLBACK it is easy to make an assumption that it technically supported.

BTW, one branch (unlikely on null point) will not make much difference and will make it much more programmable.

[2020-02-07 22:05] yosefe commented on #4747
Unless explicitly noted, all pointers passed to UCX must be valid. This is relevant for memory buffer pointers, request pointers, handles, and also callback functions. The new request API will allow NOT having a callback by not passing a flag. But if that flag is set, the callback pointer must be valid.

[2020-02-08 02:10] shamisp commented on #4747
@yosefe callback is quite different. It is quite common to pass a NULL to avoid callback invocation. Regardless, it has to be documented. If it changes with new request format there is no point updating this now.

[2020-02-08 21:17] #4556 closed

[2020-02-08 21:19] #4735 closed

[2020-02-08 21:31] yosefe commented on #4747
We can document this explicitly in the new API.

[2020-02-08 21:38] yosefe opened #4752 "failure in ud/test_ucp_sockaddr.onesided_disconnect_c2s/3"
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/14415/label=hpc-test-node-gpu,worker=2/console

[code]

[2020-02-08 22:03] yosefe commented on #4752
repro:

`taskset -c 0,1 make -C test/gtest test GTEST_FILTER=dc_ud/test_ucp_sockaddr.concurrent_disconnect_c2s/4 UCX_LOG_LEVEL_TRIGGER=error GTEST_REPEAT=100000`
[code]

backtrace for thread which prints the error:
[code]

[2020-02-09 23:15] #4752 closed

[2020-02-10 02:53] yimin-zhao commented on #4742
So if I understand correctly, OFI removed the Mellanox (using ucx) provider in the latest release, but how does that explain I was able to run Intel MPI just before I installed the OpenMPI. Anyway, thanks for the info.

[2020-02-10 03:42] dmitrygx commented on #4742
Actually, this is not a good idea mixing two MPIs, better to run them in different terminals to avoid any potential errors.

@yimin-zhao do you have any other questions regarding OMPI or UCX? if not, is it ok to close the issue?

[2020-02-10 04:12] yimin-zhao commented on #4742
Sure, no more questions so far, I will just close this issue for now.

[2020-02-10 04:12] #4742 closed

[2020-02-10 04:17] dmitrygx commented on #4742
thank you!

[2020-02-10 04:21] dmitrygx commented on #4714
since the test uses `send_b()` for the 8-byte message, it hangs when we sending this message thru RNDV protocol. it can be fixed, a workaround - set `UCX_RNDV_THRESH >= 8`

[2020-02-10 04:21] #4714 closed

[2020-02-10 04:22] dmitrygx commented on #3487
we don't see the failure of this test for 10 months (looks like it was system configuration issue), can be closed

[2020-02-10 04:22] #3487 closed

[2020-02-10 10:39] ddurnov commented on #4742
IMPI 2019 U6 uses dc transport by default. Unfortunately we faced with a set of issues related to unexpected fallback from dc to ud at scale so we had to force it. According to provided ucx_info output you don't have the transport available. You may try to set UCX_TLS=ud,sm,self

[2020-02-10 17:35] dkokron opened #4756 "SIGSEGV one MPI_Isend between ranks on a single GPU"
I get the following stack trace from the attached reproducer.

[pgi_ucx_reproduce.f.gz](https://github.com/openucx/ucx/files/4182132/pgi_ucx_reproduce.f.gz)

gdb) where
#0  0x00002aaaae889ae7 in __memcpy_avx_unaligned () from /lib64/libc.so.6
#1  0x00002aaabb8b884e in uct_am_short_fill_data (length=<optimized out>, payload=<optimized out>, header=<optimized out>, buffer=<optimized out>) at /noback

[2020-02-10 17:47] dmitrygx commented on #4756
Please, set `UCX_TLS=rc,shm,self,cuda_copy`, UCX requires some `cuda_copy` to detect memory type and do h2d and d2h memory copies

[2020-02-10 18:48] dkokron commented on #4756
Same result after adding cuda_copy.

Here is a trace using a debug build of UCX.

0  0x00002aaaad8e35fd in pause () from /lib64/libpthread.so.0
#1  0x00002aaabbb76fd2 in ucs_debug_freeze () at debug/debug.c:710
#2  0x00002aaabbb77458 in ucs_error_freeze (message=0x2aaabbb96650 "invalid permissions for mapped object") at debug/debug.c:829
#3  0x00002aaabbb77a72 in ucs_handle_error (message=0x2aaabb

[2020-02-10 18:55] dmitrygx commented on #4756
Ok, how the CUDA library is linked with your application? Statically or dynamically?
If it's linked statically, we don't support this case (it's in our TODO list) by default with Memory Type Cache enabled (to speedup memory type detection). Can you please disable Memory Type Cache and try again (set UCX_MEMTYPE_CACHE=n to disable it)
JFYI, we have a wiki for UCX/CUDA - https://github.com/openucx/u

[2020-02-10 19:01] dkokron commented on #4756
Ahhh, setting UCX_MEMTYPE_CACHE=n does allow it to run.  I just noticed that this issue is mentioned in the "Known issues" section of
https://github.com/openucx/ucx/wiki/NVIDIA-GPU-Support

Many thanks
Dan

[2020-02-10 19:01] #4756 closed

[2020-02-11 00:40] EmmaJaneBonestell commented on #4624
Intel doesn't admit the regression (for no particular reason); Not necessarily ideal, but for anyone else that comes across this, it can be made to compile by adding -Wl,-E to the makefile for sockaddr, without having to remove -g, -Werror, etc. (Though an ipo_out.optrpt will still show it did not perform whole-program optimizations as previous versions of the Intel compiler will say they did).

[2020-02-11 02:55] yimin-zhao commented on #4742
I see, will try it later. Thank you!

[2020-02-11 03:08] dmitrygx commented on #4756
@dkokron you're welcome! Let us know if you see any other issues

[2020-02-11 19:17] jakirkham opened #4762 "[QST] UCX dependence on CUDA versions"
I'm trying to understand in what ways UCX is sensitive to the CUDA version it is built against. Does it have certain compile time checks that get enabled for different CUDA versions? If so, what CUDA versions are significant? Is there a particular minimum CUDA version, which would enable all UCX features?

[2020-02-11 19:57] jakirkham commented on #4762
@Akshay-Venkatesh, would you be able to advise? 🙂

[2020-02-11 20:03] bureddy commented on #4762
@jakirkham   CUDA transports in UCX are building as separate shared libraries. It will fail to load the CUDA transports if you try to use it in a  runtime version environment which is different from built version environment,  and  CUDA support will be disabled in that case.
Currently, there is only one place UCX is using version dependent feature i.e streamcallback
https://github.com/openucx/ucx/

[2020-02-11 20:15] jakirkham commented on #4762
Thanks for the context Devendar! 😄

Yep learned about `dlopen` during the Hackathon. So that makes sense.

So there are some features that require CUDA 10.0 that won't be built/used on CUDA 9.2.

Are there plans to use any CUDA 10.1 specific features as well?

[2020-02-11 20:28] bureddy commented on #4762
There is no cuda version specific features in UCX. It just uses different API in > 10.1 to achieve the same effect.

so far no such requirement

[2020-02-11 20:48] jakirkham commented on #4762
Right. Was more interested in the later.

So what is being used that is 10.1+ only? (I saw the 10.0 lines. Guessing I'm missing something.)

Great, thanks!