[2020-02-12 10:40] angainor opened #4767 "[Q] CUDA and memtype cache problems"
I have found a problem with the memtype cache, which happens in 1.7.0, but seems to be gone in the master. Since I have not found an issue, which would report this I wanted to ask, if this is known and has been solved, or is there another reason why I'm not seeing it in master.

The point of the attached code is to allocate a number of CUDA buffers with different sizes, one after another. This - a

[2020-02-12 11:07] dmitrygx commented on #4767
@angainor yes, these are known issues with Memtype Cache that were solved in the master:
#4293 #4400 #4466 PRs

I've ported them into v1.7.x branch in my fork. Could you [the branch from my fork](https://github.com/dmitrygx/ucx/tree/topic/v1.7.x/memtype_cache_fixes), please?

[2020-02-12 11:14] angainor commented on #4767
@dmitrygx Oh, great! I will have a look, hopefully quickly.

[2020-02-12 11:31] angainor commented on #4767
@dmitrygx sorry, did not compile (gcc 8.2)

[code]

[2020-02-12 11:54] dmitrygx commented on #4767
@angainor sorry, we had changed declarations for Memtype Cache API functions in #4290, forgot about it. Fixed and re-pushed.  Please, do `git fetch <dmitrygx_fork>` `git checkout <dmitrygx_fork>/topic/v1.7.x/memtype_cache_fixes` and re-test. Thank you in advance!

[2020-02-12 12:11] angainor commented on #4767
@dmitrygx That fixed it. My reproducer runs, and the production code does not experience this problem anymore, so the fix worked!

I do see one other problem with `gdr_copy` transport, which I cannot get rid of by master/your branch, nor by turning memtype cache off, so I guess it is something else. In 1.7.0 I see this in one or our applications:

[code]
while the master segfaults in addition:
[co

[2020-02-12 12:18] dmitrygx commented on #4767
@angainor thank you! should we port it to v1.7.x branch?

I don't know what it could be. Could you share with me what the version of gdr is used by you?

[2020-02-12 12:25] angainor commented on #4767
It is not critical for me personally, I can work with the master.

I use GDR 2.0. I guess I could try an older version if you think it's worth it. I just thought it might also be related to the memory identification somehow. I do see gdr being used in the simple benchmark, but for some reason it fails in the production code. I might need to dig deeper.

[2020-02-12 15:23] alinask opened #4768 "failure on no_ud_ud_x/test_ucp_sockaddr.onesided_disconnect_s2c/7"
### Describe the bug
failure on no_ud_ud_x/test_ucp_sockaddr.onesided_disconnect_s2c/7

[code]
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/14476/label=hpc-test-node-gpu,worker=3/consoleFull

HOSTNAME=hpc-test-node-gpu02

[2020-02-12 15:25] evgeny-leksikov commented on #4768
should be fixed by https://github.com/openucx/ucx/pull/4761

[2020-02-12 16:05] alinask commented on #4739
Failed here as well:

[code]

http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-arm-cavium-jenkins,worker=3/14476/consoleFull

[2020-02-12 16:06] alinask commented on #4739
status (-15) is UCS_ERR_BUSY

[2020-02-12 16:17] petro-rudenko commented on #4724
Do you want these params to changed at context initing or at runtime. I was thinking to add to `UcpParams` parameter `Map<String, String> additionalParams`:
```UcpContext context = new UcpContext(new UcpParams().setAdditionalParams(Map(LOG_FILE->"log"))```

[2020-02-12 17:06] dmitrygx commented on #4767
ok, great

We support GDR 2.0. Maybe you could try disabling Memory type cache by setting `UCX_MEMTYPE_CACHE=n` and check if it helps you? Wrong memory detection can be a case when your application is linked with CUDA library statically (we are not able to intercept `cudaMalloc`/`cudaFree`/etc calls to insert/remove them to/from Memory type cache in this case) - disabling Memory type cache should

[2020-02-12 18:28] bureddy commented on #4767
@angainor Can you do some sanity tests for gdr copy environment.
please refer to  "tests" section @ https://github.com/NVIDIA/gdrcopy

[2020-02-12 18:54] angainor commented on #4767
@bureddy Thanks! all seems fine:

[code]
But I can't find the `copylat` test. Seems not to be present in the package.

[2020-02-12 20:35] drmichaelt7777 opened #4770 "UCX / OMPI 4.0.2 drops performance significantly when MOFED is installed with upstream userspace RDMA-core libs"
### Describe the bug
A clear and concise description of what the bug is.

Performance of OMPI 4.0.2 (from HPC_X 2.5 or source) drops ~ 6X as shown by running OSU benchmarks (5.6.2) on Zen2 AMD nodes with MOFED 4.7-1.0.0.1 installed with the "Upstream userspace RDMA-core libs" under RHEL7u7. When MOFED is installed with the Mellanox Legacy libs OMPI performs well.

UCX generates "ib_verbs.h:84   UC

[2020-02-12 21:15] bureddy commented on #4767
@angainor  can you check if there gdr_copy errors in dmesg?

[2020-02-13 12:35] angainor commented on #4767
@bureddy Nothing in the dmesg. Moreover, all other codes I tried work. This problem happens 100% of the time, but only with this one code we have here. I will close this issue for now, as it seems unrelated, and I will try to trace the gdr problem when I have some time. Thanks!

[2020-02-13 12:35] #4767 closed

[2020-02-13 13:00] Artemy-Mellanox commented on #4770
Do you rebuild HPC-X to be compatible with MOFED upstream?
Error message hints you running HPC-X compiled for MOFED legacy.
https://docs.mellanox.com/pages/viewpage.action?pageId=19798273#Running,ConfiguringandRebuildingHPC-X%C2%AE-rebuildingopenmpifromhpc-xsourcesRebuildingOpenMPIfromHPC-X%C2%AESources
Please try to rebuild HPC-X, see instructions in this manual.

[2020-02-13 18:55] drmichaelt7777 commented on #4770
Are you implying that HPC_X 2.5 is built to expect the "Mellanox Legacy rdma-core userspace" s/w stack but it cannot work if we install with the "upstream "? Since MOFED installation guide recommends the upstream rdma userspace, shouldn't HPC_X get built or at least get tested to work against the upstream packages?

I did not rebuild OMPI. It is the one in HPC_X 2.5. that matches our MOFED 7.4-1.0

[2020-02-13 20:44] drmichaelt7777 commented on #4770
It appears that this issue surfaces when the host list also includes the current host (i.e., the host where mpirun is issued on). If mpirun runs on host _A_ and asks for ranks to launch on hosts other than _A_ , OMPI performance is good. Can you pls review the ucx_info -d from the host with "upstream rdma"  I'v provided above?

[2020-02-13 20:46] drmichaelt7777 commented on #4770
Please note that this is an AMD Zen2 host:

[code]

[2020-02-13 21:05] jdinan commented on #4747
@dmitrygx You could introduce a constant for the user to provide when they don't want the callback. In the current implementation, you can assign the value of the nop function pointer to the constant. That would allow you to add the check if you see a reason for it in the future (in such a situation, you could instead assign NULL to the constant). Currently, I have my own nop function, which UCX c

[2020-02-13 21:06] drmichaelt7777 commented on #4770
When we explicitly specify a UCX transport (eg, rc_x) in mpirun, UCX cannot connect, but w/o command line options, communication performs very poorly:

[code]

[2020-02-13 21:07] jdinan commented on #4747
Also, +1 to documenting this in the code via assert and in the doxygen where possible.

[2020-02-14 09:59] jsboer opened #4774 "when compile from source,can't find "numa.h" though i have set head file path by "LDFLAGS..""
### Describe the bug

[code]

"### Steps to Reproduce
1.cd ucx
  ./autogen.sh
 mkdir build
 cd build
2. set some env:
[code]
and then
[code]
what should i do ?

### Setup and versions
- OS version (e.g Linux distro) + CPU architecture (x86_64/aarch64/ppc64le/...)
Linux mu01 3.10.0-862.el7.x86_64 #1 SMP Fri Apr 20 16:44:24 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
CentOS Linux release 7.5.1804 (Core)

[2020-02-14 12:01] jsboer commented on #4774
I’m sorry,i should check the "./configure -h"carefully,it tell me everything
[code]

[2020-02-14 12:01] #4774 closed

[2020-02-14 17:21] EmmaJaneBonestell commented on #4624
While probably not suitable for adding to ucx, for anyone who comes across this:

I've finally found that including the following from the std_function.h resolves the issue when using icpc with any #include <functional> call, and allows for full IPO to take place vs. ignoring the symbol. **In addition to including the following, you must compile the object using the "-ansi" flag, and the flag _mus

[2020-02-14 17:42] jakirkham commented on #4762
@bureddy? 😉

[2020-02-14 18:15] bureddy commented on #4762
sorry, I had a typo.  it should be `>= 10.0`  .  It uses cuLaunchHostFunc (instead of cuLaunchHostFunc) API for cuda >= 10.0

[2020-02-14 18:18] jakirkham commented on #4762
No worries. 😉 Thanks for the clarification. 😄

[2020-02-14 21:28] sparticlesteve commented on #4707
sorry, forgot to report back. I tried it, and the job still ends with the invalid device error.
https://github.com/sparticlesteve/pytorch-cuda-mpi-error/commit/d62e254dd5115caf2b497324b4c1a3cd331aef89

[2020-02-15 16:48] shamisp commented on #4747
@dmitrygx @yosefe I like this.

[2020-02-15 22:16] tonycurtis commented on #4774
numactl=$HOME/opt/numactl/2.0.13

CFLAGS="-I$numactl/include"
LDFLAGS="-L$numactl/lib -Wl,-rpath,$numactl/lib"
export CFLAGS LDFLAGS

Worked for me

Tony

[2020-02-16 01:29] jsboer commented on #4774
@tonycurtis tthank you very much!

[2020-02-16 11:50] Artemy-Mellanox commented on #4770
UCX message indicated that ibv_exp_query_device() verb is not supported which makes all IB transport unavailable. When you explicitly request IB transport it can't communicate, otherwise it falls back to another one, TCP most likely.
We don't have HPC-X to work with upstream out-of-box yet, so the only option is the rebuild.

[2020-02-16 13:55] #4619 closed

[2020-02-16 14:13] yosefe commented on #4543
http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/3710/pipeline/108
[code]

[2020-02-16 14:57] petro-rudenko commented on #4543
[code]

Strange, run the same command now on the same path (it's not deleted yet) - no problem

[2020-02-16 16:11] yosefe commented on #4543
@petro-rudenko can you try many iterations, it could be a race. even in jenkins, it doesn't happen all the time.

[2020-02-17 11:03] petro-rudenko commented on #4543
Ok, catched this bastard:
[code]
[code]

[2020-02-17 11:07] yosefe commented on #4543
are we using fork()? The BZ issue describes a deadlock between fork and malloc
maybe we should update/switch JVM version?

[2020-02-17 13:15] petro-rudenko commented on #4543
Yeah, with jdk8u242-b08 so far so good. Will ask to update java to this version.

[2020-02-17 16:19] #4739 closed

[2020-02-18 07:30] evgeny-leksikov commented on #4768
@alinask the issue is fixed by https://github.com/openucx/ucx/pull/4761, I think we can close it.

[2020-02-18 07:59] #4768 closed

[2020-02-18 08:03] alinask commented on #4512
Fixed in https://github.com/openucx/ucx/pull/4688

[2020-02-18 08:03] #4512 closed

[2020-02-18 11:55] dmitrygx commented on #3897
[code]

http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-arm-hwi-jenkins,worker=3/14565/console

[2020-02-18 19:34] petro-rudenko opened #4786 "JUCX: tests on boo31 issues"
### Describe the bug
Collect issues when running infinite jucx tests on boo31

### Steps to Reproduce
- Command line
UCX master (commit sha: c9e384f2c0630db8000c0bc12b8b88274149cd52)
[code]

### Setup and versions
Linux boo31 2.6.32-573.el6.x86_64 #1 SMP Thu Jul 23 15:44:03 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

Happens very rarely (1 of the 400-500 iterations):
[code]

[2020-02-19 12:33] drmichaelt7777 commented on #4770
Do I rebuild ompi or UCX ?

[2020-02-19 12:35] Artemy-Mellanox commented on #4770
UCX

[2020-02-19 18:41] dmitrygx commented on #4700
[code]
http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/3744/nodes/112/steps/1092/log/?start=0

[2020-02-20 06:45] brminich opened #4789 "failure in udx/test_ucp_sockaddr.onesided_disconnect_bidi/3 <ud_x>"
### Describe the bug
[code]

happened here
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/14587/label=hpc-arm-cavium-jenkins,worker=1/consoleFull#-853622487b816df86-9afc-46eb-984f-1a9a125d73bb

[2020-02-20 15:16] alinask commented on #4681
Same on hpc-test-node-gpu02:

[code]

[2020-02-21 11:12] planetA opened #4794 "Running UCX only with ibverbs RC"
Hello,

for developing my small project, I would like to test MPI library support. I compiled OpenMPI with UCX 1.6.1. Due to limitations of my project, I need to make sure that among all ibverbs primitives UCX only uses Reliable Connections (RC). Namely, I want to make sure, that UCX does not rely on UD, DC connection types, or RDMA CM (librdmacm).

So far, I've been unsuccessful in making this se

[2020-02-21 11:17] brminich commented on #4794
When you select RC, UCX would use UD anyway as an auxiliary transport (to wireup RC connection)

[2020-02-21 15:19] planetA commented on #4794
@brminich When I compile UCX, I disable quite a lot of stuff:

[code]

The question is, would it break UCX, or make UCX use only RC and TCP?

[2020-02-21 15:45] dmitrygx commented on #4794
unfortunately, RC can't use TCP as an auxiliary transport for wireup procedure due to lack of `UCT_IFACE_FLAG_CB_ASYNC` support in TCP.

[2020-02-21 15:52] planetA commented on #4794
@dmitrygx Just to be clear, is there any other auxiliary transport that is not ibverbs, but can be used by RC?

[2020-02-21 16:18] dmitrygx commented on #4794
@planetA
intra-node - yes, this is `MM` transports (e.g. posix/sysv/xpmem)
inter-node - no, only `UD` transports (e.g. ud_mlx5/ud_verbs)

[2020-02-21 16:24] planetA commented on #4794
OK. Thank you for the clarification.

[2020-02-21 17:30] dmitrygx commented on #4794
@planetA we could consider adding support for `UCT_IFACE_FLAG_CB_ASYNC` in UCT/TCP as feature request for the next releases to allow using UCT/TCP as an auxiliary transport in UCP and `UCX_TLS=rc_verbs,tcp` or `UCX_TLS=rc_mlx5,tcp` case will be possible (`rc_verbs`/`rc_mlx5` will be used on data path, `tcp` - as an auxiliary transport to setup connections)

[2020-02-23 05:37] drmichaelt7777 commented on #4770
Will HPC_X 2.6 be able to use either MOFED installation (upstream and legacy mellanox) out of the box?

[2020-02-23 08:51] yosefe commented on #4770
@drmichaelt7777 HPC-X is built to use the default mode of MLNX_OFED installation. starting from next release, which is MLNX_OFED 5.0, the default will be upstream. Therefore the next HPC-X version, 2.6, will also be built to use the upstream libs of MLNX_OFED 5.0 by default.
Unfortunately same binary cannot support both modes in same time since the API is different.

[2020-02-23 10:04] alinask opened #4798 "failure on udx/test_ucp_tag_mem_type.xfer_mismatch_length"
Failure on:
[code]
on hpc-test-node-gpu02

http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/14637/label=hpc-test-node-gpu,worker=0/console

failed when running with valgrind

[2020-02-23 10:20] yosefe commented on #4798
missing gpu mem support in UD for resend flow

[2020-02-23 17:36] planetA commented on #4794
@dmitrygx How do I make this kind of feature request? Open another issue?

[2020-02-24 12:53] dmitrygx commented on #4794
@planetA I think this issue contains enough info - I've reopened it and marked with the "Feature" label.
thank you!

[2020-02-25 18:14] tonycurtis opened #4808 ""make gtest" freezes"
### Describe the bug

`make gtest` freezes

### Steps to Reproduce
- Command line

`make gtest`

(run a number of times to make sure it is reproducible)

- UCX version used (from github branch XX or release YY) + UCX configure flags (can be checked by `ucx_info -v`)

github master @ dcee8c62550b7697f307377e67e7a83b01f52dff

[code]

- **Any UCX environment variables used**

None

### Setup and vers

[2020-02-26 20:37] #4786 closed

[2020-02-26 22:17] evgeny-leksikov commented on #2560
Seems related, under valgrind:
[code]

[2020-02-28 01:33] lytofd opened #4827 "Can ucx packaged in rpm format?"
As title said, so we can install ucx by command such as rpm -i xxx.
Can ucx support this way?

[2020-02-28 11:19] yosefe commented on #4827
Yes, the contrib/buildrpm.sh script can produce UCX rpm, you can also download SRC RPM of latest release: https://github.com/openucx/ucx/releases/download/v1.7.0/ucx-1.7.0-1.fc30.src.rpm

[2020-03-02 09:02] evgeny-leksikov commented on #4808
this test requires newer rdmacm:
[code]
need to skip if `HAVE_RDMACM_QP_LESS` is not defined until TCP implementation is not ready.
@alinask do we have something in configure/runtime to detect TCP/CM readiness?

[2020-03-03 18:02] brminich opened #4838 "failure in signal/test_async.modify_event/0"
### Describe the bug
happened in http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/3866/nodes/114/steps/843/log/?start=0
[code]

[2020-03-03 18:03] abellina commented on #4723
Thanks @petro-rudenko!

[2020-03-03 18:03] #4723 closed

[2020-03-03 21:14] cjnolet commented on #3192
@jakirkham, I'm running in to this problem as well. Current reproducer for me is the `test_nearest_neighbors.py` in `cuml.dask` [1]. It seems to happen after about the 5th time running `test_cuml_against_sklearn `

I swear I don't recall ever having seen this issue before. We don't have a multi-GPU CI running yet, and unfortunately this means I don't have a roundabout time at which this started. I

[2020-03-04 17:12] drmichaelt7777 commented on #4770
Thanks Yosi! In the meantime, would rebuilding UCX on an "upstream" based MOFED should cure all the problems? Any caveats or things to watch out for?

[2020-03-04 19:51] dmitrygx commented on #4838
http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/3887/nodes/114/steps/1518/log/?start=0
[code]

This happens with v1.8.x branch on `hpc-test-node-upstream-2`

[2020-03-04 19:51] pentschev opened #4842 "Private data length on a DGX-2 exceeds sockcm's maximum"
### Describe the bug
Private data length on a DGX-2 exceeds maximum `sockcm`'s maximum of 1024.

### Steps to Reproduce
- I'm currently only able to reproduce this with UCX-Py, but can try to work on an example that depends only on UCX core;
- UCX versions: `v1.7.0`, `master`:
- UCX environment variables: `UCX_MEMTYPE_CACHE=n UCX_TLS=rc,sockcm,tcp,cuda_copy UCX_SOCKADDR_TLS_PRIORITY=sockcm`.

###

[2020-03-04 19:52] pentschev commented on #4842
cc @quasiben @Akshay-Venkatesh

[2020-03-04 20:40] yosefe commented on #4770
@drmichaelt7777 this would work. I'd suggest just taking UCX source RPM and rebuilding it on a system with upstream libs.
BTW MLNX_OFED 5.0 and HPC-X 2.6 were just released and are available for download from Mellanox website, and are all based on upstream libs by default: maybe it would be easier to just use latest binary versions of both.

[2020-03-05 01:57] bureddy commented on #3192
@Akshay-Venkatesh  will this be fixed with CUDA-11? does it return the existing mapped address for the already mapped handle?

It seems intercepting cudaIPCOpenMehandle() will not work as we do not know source device address and length used in cudaIPCGetMemHandle() which we used to lookup in the cuda IPC  cache.

[2020-03-05 11:47] alinask commented on #4808
@evgeny-leksikov we check for the rdma_init_qp_attr function in configure - https://github.com/openucx/ucx/blob/master/src/uct/ib/rdmacm/configure.m4#L41

[2020-03-05 11:49] evgeny-leksikov commented on #4808
yes, my question was about TCP CM readiness for UCP

[2020-03-05 15:50] #4838 closed

[2020-03-05 15:56] dmitrygx commented on #4710
fixed by https://github.com/hjelmn/xpmem/pull/31

[2020-03-05 15:56] #4710 closed

[2020-03-06 10:42] lytofd commented on #4827
thanks

[2020-03-06 17:33] shamisp commented on #4827
@lytofd I guess we can close this for now. Feel free to re-open if it does not work for you.

[2020-03-06 17:33] #4827 closed

[2020-03-08 12:25] olejorgenb commented on #3540
Thank you @hzhou . I think this is the first post I've found on the problem that actually explains what's going on instead of just suggesting installing something seemingly unrelated (like autoconf-archive or pgk-config)

[2020-03-09 11:54] drmichaelt7777 commented on #4770
Thanks Yossi. One issue we discovered is that with upstream packages, Intel MPI +MOFED works OK, but OpenMP not. With the legacy rdma packages OpenMPI works well but IntelMPI has the same reduction in performance.  We have some apps that use IntelMPI and some OpenMPI. If i just rebuilt UCX with the upstream dependencies under MOFED 4.7.x would both Intel and Open MPI work well? or should we wait f

[2020-03-09 12:00] yosefe commented on #4770
@drmichaelt7777 MLNX_OFED 5.0 and HPC-X 2.6 already released and using upstream packages. I suggest to use them instead of rebuilding 4.7.

[2020-03-09 14:44] souravzzz opened #4855 "ROCm IPC transfers getting broken up into multiple chunks"
### Describe the bug
ROCm IPC transfers are getting broken up into multiple transfers leading to bad performance

### Steps to Reproduce
[code]

[code]

Full logs: https://gist.github.com/souravzzz/4d22017e379361ef614714eb68f21a62

### Additional information
[code]
[code]

[2020-03-09 15:33] drmichaelt7777 commented on #4770
Thanks, I'll give 2.6 a try! Btw, I understand that intelMPI is out of the scope of UCX, but do you know if IntelMPI stack performs well or just OK  with MOFED 5.0 ?

[2020-03-09 15:34] yosefe commented on #4770
@drmichaelt7777 I can't comment about Intel MPI support scope

[2020-03-09 15:47] alinask commented on #4808
No, but tcp_sockcm is currently excluded from the list of hardcoded cm transports.
UCX_SOCKADDR_TLS_PRIORITY=rdmacm,sockcm

[2020-03-09 15:51] mike-dubman commented on #4770
@ddurnov - can you please comment

[2020-03-09 16:19] alinask commented on #4713
@brminich @amaslenn The duplicate issue was closed. Did this issue reproduce since? Can we close this ticket?

[2020-03-09 17:06] #4489 closed

[2020-03-09 18:02] souravzzz commented on #4855
@yosefe Any thoughts on what could be going on?

[2020-03-09 19:20] bureddy commented on #4855
@souravzzz can you attach log with UCX_LOG_LEVEL=DATA.

it seems GET ZCOPY is enabled in case of RoCM ( https://github.com/openucx/ucx/blob/master/src/ucp/tag/rndv.h#L69)
currently, get zcopy protocol is multi-rail aware and it splits data across all available lanes. It seems it is splitting the data across two rocm capable lanes( romc_zcopy and IB)

[2020-03-09 20:40] bureddy commented on #4855
@souravzzz  can you also try w/o these changes: https://github.com/openucx/ucx/pull/4759
seems IB is added intra-node lanes because both can support register rocm memory

[2020-03-09 21:28] yosefe commented on #4855
@souravzzz can you pls upload the logs with UCX_LOG_LEVEL=data?

[2020-03-09 22:43] Akshay-Venkatesh commented on #3192
@bureddy I believe cuda 11.1 will allow opening a handle multiple times.

[2020-03-10 06:56] amaslenn commented on #4713
I haven't seen it for a while.

[2020-03-10 07:11] brminich commented on #4713
should not be reproducible on "fresh" FW

[2020-03-10 08:45] #4713 closed

[2020-03-10 18:13] pentschev commented on #4842
This would address #4557 .

[2020-03-10 19:11] souravzzz commented on #4855
@bureddy I tried it without the patch but it still breaks up the message. I think this change was introduced before this. Is there a way to disallow multi-rail for ROCm memory or for intra-node transfers?

@yosefe  Updated logs: https://gist.github.com/souravzzz/2e5b535fcbafbe42ca60ac4dae613fb5

Commands used:
[code]

[2020-03-10 19:38] bureddy commented on #4855
@souravzzz  I see that 4M message split across IB(2 splits) and ROCM_IPC.
[code]
are you sure there is split w/o patch? can you recheck? because IB should not have added to bw lanes w/o patch.

why is rocm_ipc bandwidth published only 1 GB?  it is correct?
`  iface_attr->bandwidth.dedicated     = 10240 * 1024.0 * 1024.0; /* 10240 MB*/`

may be correct rocm_bw BW setting,  the split might be correc

[2020-03-10 19:56] souravzzz commented on #4855
@bureddy Sorry about the confusion. Without this patch it doesn't use IB but still splits the message (4MB -> 3MB + 1MB)

[code]

The published value (10 GB) is probably from PCIe. Increasing it changes the split ratio but doesn't prevent it.

[2020-03-11 08:27] dmitrygx commented on #4700
[code]

[2020-03-11 09:01] dmitrygx opened #4864 "dc_mlx5/test_tag_stats* and rc_mlx5/test_tag_stats* fail with `-fsanitize-address` enabled"
[code]
[code]
[code]

it fails with the following output:
[code]

Separately, `rc_mlx5/test_tag_stats.tag_rndv/0` and `dc_mlx5/test_tag_stats.tag_rndv/0` work fine

[2020-03-11 14:44] mkre opened #4866 ""Warning: UCX is unable to handle VM_UNMAP event" with UCX 1.7.0 and Open MPI 4.0.3"
### Describe the bug
We started seeing the error message
[code]
as we are Open MPI 4.0.3 with UCX 1.7.0. We are hesitating to apply the proposed workaround (`--mca opal_common_ucx_opal_mem_hooks 1`) as we are not sure about possible negative consequences and would rather understand the root cause of the issue. Note that we have MOFED 4.6 installed, but we are explicitly using an UCX 1.7.0 distribu

[2020-03-11 14:53] yosefe commented on #4866
@mkre can you pls try running
`mpirun -np 2 -mca btl self ./a.out`

[2020-03-11 14:59] mkre commented on #4866
@yosefe, same issue when running with `-mca btl self`. The warning do not appear when running with `-mca btl ^uct`. But I'm not sure if disabling BTL/uct is a viable option.

[2020-03-11 15:09] dmitrygx opened #4868 "ucx_info fails with fail with `-fsanitize-address` enabled"
[code]

[2020-03-11 15:15] abellina opened #4870 "Sefault when starting the worker context in JUCX"
### Describe the bug
When creating a UCX context with JUCX I see segfaults fairly regularly. I have been meaning to dig into this further, but I have not been able to. This is a bad issue for a while at least in 1.8.0:

[code]
### Steps to Reproduce
[code]

### Setup and versions
- OS version (e.g Linux distro) + CPU architecture (x86_64/aarch64/ppc64le/...)
   - Ubuntu 18.04.3 LTS

[2020-03-11 15:15] abellina commented on #4870
@petro-rudenko  fyi

[2020-03-11 15:21] petro-rudenko commented on #4870
Thanks, will check. Can you please try to run with `UCX_MEM_EVENTS=no`

[2020-03-11 15:33] abellina commented on #4870
Seems like `UCX_MEM_EVENTS=no` disables memory alerts. Is that what we really want? E.g. are there cases where there is a memory event that is not valid?

[2020-03-11 15:38] petro-rudenko commented on #4870
`UCX_MEM_EVENTS=no` will disable ucx memory hooks (intercept of malloc/free calls to speedup in some cases memreg). But if you register memory explicitly via `context.memoryMap` it shouldn't make big difference.

But yes, would need to find a cause.

[2020-03-11 16:07] dmitrygx commented on #4176
[code]

[2020-03-11 16:27] dmitrygx opened #4872 "shm_ib/test_ucp_atomic32.atomic_cswap_nb/1 fails with `-fsanitize=address` enabled"
[code]

[2020-03-12 08:36] hoopoepg commented on #4866
hi @mkre
could you try to reproduce this issue using UCX master branch or v1.8.x branch?
we made some optimization since release 1.7 which may resolve issue

thank you

[2020-03-12 10:10] mkre commented on #4866
@hoopoepg I am still seeing the warning message when using UCX 1.8.0-rc1 at run time. However, we are still building Open MPI against UCX 1.7.0. Do I also need to build Open MPI against UCX 1.8.0-rc1 in order to see this resolved?

[2020-03-12 11:18] hoopoepg commented on #4866
@mkre
yes, please...
BTW, how you replace UCX built with OMPI by UCX 1.8?

[2020-03-12 12:34] mkre commented on #4866
@hoopoepg, same issue when building Open MPI against UCX 1.8.0-rc1. We are building our own Open MPI distribution, so we can choose freely which versions of other libraries we are building against...

[2020-03-12 12:45] hoopoepg commented on #4866
@mkre thank you
does launch parameter ```--mca opal_common_ucx_opal_mem_hooks 1``` resolves issue?

[2020-03-12 12:50] mkre commented on #4866
Yes, it does. But does this setting have any negative effects on performance? We are a bit hesitant to override the default settings....

[2020-03-12 12:58] hoopoepg commented on #4866
it forces use some remory registration optimizations which improve performance.
by default PML UCX is trying to identify situation when such optimization is required using some heuristic algorithm, but it seems in your case it failed due to possible conflict with BTL UCT.

so, I see 2 options to resolve issue:
1. update your command line to add switch ```--mca opal_common_ucx_opal_mem_hooks 1``` o

[2020-03-12 13:01] mkre commented on #4866
What do I need BTL/uct for? We are using PML/ucx for InfiniBand systems, but our Open MPI distribution should also work well on all other kinds of systems (TCP, OmniPath, you name it). Can we safely disable BTL/uct without any negative effects?

[2020-03-12 13:04] hoopoepg commented on #4866
BTL UCT is alternative transport based on subset of UCX (UCT is one of modules in UCX), in case if you use PML UCX - it is not needed

[2020-03-12 13:16] mkre commented on #4866
Thanks, @hoopoepg. In that case we will just add `-mca btl ^uct` to the command line but keep building BTL/uct into our Open MPI distribution. That way, we can still enable it explicitly on the command line if that ever becomes necessary.

[2020-03-12 13:44] HndrkMkt opened #4876 "UCP: stream_send fails to correctly send messages of certain sizes using IB"
### Describe the bug
When sending messages of 57 or more bytes via IB, ucp_stream_send_nb fails to do so correctly with
`stream_send.c:195  Assertion 'req->send.length > length' failed.`

### Steps to Reproduce

This issue can be reproduced using the [ucp_client_server.c](https://github.com/openucx/ucx/blob/master/test/examples/ucp_client_server.c) example.

- Replace [test_message](https://github

[2020-03-12 16:25] #4868 closed

[2020-03-12 16:26] #4872 closed

[2020-03-12 16:28] #4700 closed

[2020-03-12 20:50] pentschev commented on #3192
On writing some small UCX-Py tests, @quasiben was able to reproduce this. My understanding is that this is happening in our case when a new endpoint is opened in a process that has already opened (and potentially closed) an endpoint in the past. The new endpoint will try to map again the CUDA IPC handle, ultimately failing in there. We don't have a C reproducer, but at least we now have a simple o

[2020-03-13 17:41] kcgthb opened #4883 "libuct_ib.so.0: undefined symbol: uct_ib_exp_qp_fill_attr"
Hi!

I'm trying to install UCX 1.7.0 and although compilation doesn't report any error, I got an error about an undefined symbol when running `ucx_perftest` or even `ucx_info`:

[code]

I just tried version 1.6.0 on the same machine, with the exact same compilation environment, and `ucx_info` doesn't generate any symbol error.

Is it a know issue?

Thanks!

[2020-03-13 18:20] yosefe commented on #4883
@kcgthb probably UCX was compiled with MLNX_OFED legacy libs, but ran on a machine with MLNX_OFED upstream libs or Inbox drivers

[2020-03-13 18:31] kcgthb commented on #4883
@yosefe thanks for the suggestion!

Unfortunately, the error actually happens on the same machine UCX was compiled on, right from the building directory:

[code]

So it doesn't look like a lib mismatch between building and running host.

[2020-03-13 21:51] yosefe commented on #4883
@kcgthb what is the output of `rpm -q libibverbs` and `ofed_info -s` ?
can you pls also upload the full config.log file?

[2020-03-13 23:45] shamisp opened #4884 "Configure does not check for presence of g++"
### Describe the bug
Configure supposed to check if g++ is available. Seems like the check does not work.
[code]

### Steps to Reproduce
- install os with gcc but no g++
- ../contrib/configure-devel && make
- master

### Setup and versions
- Ubuntu 19.04 with no g++ installed

[2020-03-15 14:06] tonycurtis opened #4886 "Compile error on ThunderX2"
### Describe the bug

Compile error on ThunderX2

### Steps to Reproduce

github master @ 62751a4bea975668d56e4ced0fb39743d07b6210

`make`

### Setup and versions
- OS version (e.g Linux distro) + CPU architecture (x86_64/aarch64/ppc64le/...)
   - CentOS 7.5

### Additional information (depending on the issue)

[code]

[2020-03-15 14:22] yosefe commented on #4886
@hoopoepg can you pls take a look

[2020-03-15 18:06] shamisp commented on #4886
@yosefe any idea why we didn't catch this in CI ?

[2020-03-15 18:08] yosefe commented on #4886
@shamisp currently we don't have ThunderX 2 in CI..

[2020-03-15 18:09] shamisp commented on #4886
@yosefe ouch, my understanding that you used to have. Do you have any other Arm in CI ?

[2020-03-15 18:12] yosefe commented on #4886
yes, we have TX1 and Huawei 1616 ARM today

[2020-03-15 18:18] shamisp commented on #4886
This is good but my guess that most of Arm + UCX deployments out there are TX2 based. So we shell figure out how to cover this gap.

[2020-03-15 18:20] shamisp commented on #4886
@tonycurtis do you have some TX2 that you can hookup to Azp CI. They have headless client for Arm. I have not tried it yet but this is the way to go if we want expand CI.

[2020-03-15 18:25] tonycurtis commented on #4886
I’m using machines at LANL and ORNL at present.  I don’t expect to have any thunder nodes I can direct the use of.

Tony

[2020-03-15 19:25] shamisp commented on #4886
@tonycurtis got it. thanks

[2020-03-16 03:24] shamisp commented on #4884
Ouch, autoconf is busted !
http://gnu-autoconf.7623.n7.nabble.com/AC-PROG-CXX-should-have-a-way-to-not-fall-back-to-g-td21034.html

[2020-03-16 04:27] drmichaelt7777 commented on #4770
Updates:

We installed MOFED 5.0 with the upstream rdma userspace libs and used HPC_X 2.6-upstream. Overall things work well for both OpenMPI 4.0.3 and IntelMPI 2019.06. There are some issues with OMPI in the HPC_X. Specifically

- **OpenMPI**
Using the MT version of HPC_X for the osu_latency_mt test, results in very large latencies

[code]

Also the multi-rank osu_mbw_mr is only reaching around 4

[2020-03-16 10:04] #4886 closed

[2020-03-16 20:41] akesandgren opened #4894 "Use of bfd_get_section_flags fails with binutils 2.34"
### Describe the bug
The symbol bfd_get_section_flags does not exist in binutils 2.34.

### Steps to Reproduce
- Build master against binutils 2.34
Configure flags used: --enable-optimizations --enable-cma --enable-mt --with-verbs --without-java --disable-doxygen-doc

It seem to be replaced with bfd_section_flags which have a single argument. bfd_get_section_vma has also been removed/replaced and

[2020-03-16 20:51] yosefe commented on #4894
@akesandgren what is the outcome in UCX? does it fail during configure or fails to build?

[2020-03-16 21:21] akesandgren commented on #4894
It fails during build:
[code]

[2020-03-16 21:22] akesandgren commented on #4894
There are currently no configure detected HAVE_xxx around the uses of those.

[2020-03-16 21:54] kcgthb commented on #4883
@yosefe Sure!
[code]

And here's the [`config.log`](https://github.com/openucx/ucx/files/4340571/config.log) file.

[2020-03-17 06:51] amaslenn opened #4896 "[mtt] Assertion `address->num_ep_addrs < UCP_MAX_LANES' failed: num_ep_addrs=6"
Configuration
[code]

MTT log: http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/shmem/20200316_121518_121067_22326_jazz10.swx.labs.mlnx/html/test_stdout_giryDB.txt

Couldn't reproduce the original issue: `wireup.c:74   Fatal: ep 0x7fe87830c580 to <no debug data>: could not find a lane to send CONN_REP. try to set UCX_UNIFIED_MODE=n.`.

Cmd:
`oshrun -np 8 --bind-to core -mca oshmem_proc_gr

[2020-03-17 07:36] amaslenn opened #4897 "[mtt] UCX ERROR Unsupported: got software atomic request while device atomics are selected on worker"
Configuration
[code]

MTT log: http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/shmem/20200314_174407_171065_22174_jazz10.swx.labs.mlnx/html/test_stdout_0_iVHK.txt

Cmd:
`oshrun -np 252 --display-map --bind-to core -mca oshmem_proc_group_cache_size 10000 -mca sshmem ucx -mca atomic ucx -mca coll_hcoll_enable 1 -x HCOLL_POLLING_LEVEL=1 -x HCOLL_ENABLE_MCAST_ALL=0 -x HCOLL_BCOL=basesmuma,uc

[2020-03-17 10:06] yosefe commented on #4896
PCI atomics were enabled only on jazz30, so mode was not unified

[2020-03-17 10:10] dmitrygx commented on #4896
duplicate of https://github.com/openucx/ucx/issues/4671?

[2020-03-17 10:10] yosefe commented on #4897
PCI atomics were enabled only on jazz16, so mode was not unified

[2020-03-17 12:12] Artemy-Mellanox commented on #4883
@kcgthb OFED-internal-4.7-1.0.0 is early development version, not fully UCX compatible.
Could you please upgrade to official version from  [MLNX_OFED](https://www.mellanox.com/products/infiniband-drivers/linux/mlnx_ofed)

[2020-03-17 12:20] amaslenn commented on #4897
Can MTT check it before test run?

[2020-03-17 12:25] yosefe commented on #4897
it would require root permissions..

[2020-03-17 12:44] dmitrygx commented on #4897
what about checking `ucx_info -d -t rc_mlx5` output?

-	jazz30:
[code]
-	jazz24:
[code]

this shows a different set of supported AMOs

[2020-03-17 17:27] drmichaelt7777 commented on #4770
Thanks for looking into this issue. MOFED 5.0+ HPC_X 2.6 upstream configuration is the way forward. Pls also look into the multi-threaded MPI calls and the multi-rank BW as described above.

[2020-03-17 17:27] #4770 closed

[2020-03-17 17:29] kcgthb commented on #4883
Oh ok. Our MOFED installation comes directly from the Mellanox RPM repository at
http://linux.mellanox.com/public/repo/mlnx_ofed/4.7-1.0.0.1/, esp. `libibverbs-41mlnx1-OFED.4.7.0.0.2.47100.x86_64` and `ofed-scripts-4.7-OFED.4.7.1.0.0.x86_64` (which provides `ofed_script` both come from http://linux.mellanox.com/public/repo/mlnx_ofed/4.7-1.0.0.1/rhel7.6/x86_64/MLNX_LIBS/

Does that mean this reposi

[2020-03-17 18:45] Artemy-Mellanox commented on #4883
Looks like your setup missing module  [libmlx5-devel](http://linux.mellanox.com/public/repo/mlnx_ofed/4.7-1.0.0.1/rhel7.6/x86_64/MLNX_LIBS/libmlx5-devel-41mlnx1-OFED.4.7.0.3.3.47100.x86_64.rpm), installing and automake/rebuild UCX should be sufficient.

I would recommend latest version  [MOFED 4.7-3.2.9](http://linux.mellanox.com/public/repo/mlnx_ofed/4.7-3.2.9.0/rhel7.6/x86_64/MLNX_LIBS/), though

[2020-03-17 20:25] kcgthb commented on #4883
Ah yes, that did the trick, thank you!

Thanks for the pointer, we'll consider upgrading our environment to that version.

Is 5.0-1.0.0.0 worth considering at this time, or should it be considered an early development verion, like 4.7-1.0.0 was?

[2020-03-18 18:22] yosefe commented on #4842
@pentschev can you try adding `UCX_SOCKADDR_AUX_TLS=ud_verbs`?

[2020-03-19 00:04] pentschev commented on #4842
@yosefe I don't know if you still wanted me to test `UCX_SOCKADDR_AUX_TLS=ud_verbs`, but just for future reference, that didn't solve the issue.

As per our conversation during the UCX call earlier today, I filed #4905 increasing `UCT_SOCKCM_PRIV_DATA_LEN` to `2048`, and a backport of that to v1.8 in #4906.

[2020-03-20 10:02] akesandgren commented on #4894
Is anyone looking into this in the near future? We could really use a fix.

[2020-03-20 11:44] #4842 closed

[2020-03-20 14:16] quasiben commented on #4557
closed by https://github.com/openucx/ucx/pull/4905

[2020-03-20 14:16] #4557 closed

[2020-03-22 12:22] petro-rudenko commented on #4267
Still reproduces from master:
[code]

[code]

[2020-03-22 14:25] yosefe commented on #4267
thanks @petro-rudenko , i'll work on additional fix

[2020-03-22 14:39] yosefe commented on #4896
@amaslenn the cluster configuration has been fixed. pls close the issue if it doesn't happen again

[2020-03-22 14:39] yosefe commented on #4897
@amaslenn the cluster configuration has been fixed. pls close the issue if it doesn't happen again

[2020-03-22 16:03] yosefe commented on #4883
@kcgthb MLNX_OFED 5.0 is GA level and recommended to use, it was tested and certified with latest UCX (v1.8 which is now in rc1 and will be released soon).
In any case, @Artemy-Mellanox also fixed UCX to handle the intermediate MLNX_OFED version. @Artemy-Mellanox can you pls like to the fix PR?

[2020-03-22 16:04] yosefe commented on #4884
@shamisp can we close this? do we need it in v1.8?

[2020-03-22 16:05] yosefe commented on #4866
@mkre can we close the issue?

[2020-03-23 06:26] dmitrygx commented on #3897
failure on `hpc-test-node-gpu02`:
[code]
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-test-node-gpu,worker=0/15058/console

[2020-03-23 07:27] amaslenn commented on #4896
Got another fail.

[code]

Cmd: `oshrun -np 8 --bind-to core -mca oshmem_proc_group_cache_size 10000 -mca sshmem ucx -mca atomic ucx -mca coll '^hcoll' -mca coll_hcoll_enable 0 -mca spml ucx -mca pml ucx -x UCX_HANDLE_ERRORS=bt -x UCX_TLS=all -x UCX_UD_TIMEOUT=10m -x UCX_NET_DEVICES=mlx5_2:1 -x UCX_UNIFIED_MODE=y
 --map-by node -x SHMEM_SYMMETRIC_HEAP_SIZE=256M /hpc/mtr_scrap/users/mtt/scratch/shm

[2020-03-23 07:31] amaslenn commented on #4897
Can't reproduce.

[2020-03-23 07:31] #4897 closed

[2020-03-23 07:59] mkre commented on #4866
@yosefe, yes, I'll close it. Thanks for your help everyone!

The exact reasons and coherencies (I have investigated with different configurations a bit more on my side) are still a bit obscure to me, but disabling BTL/uct seems to be a reasonable workaround, and something which doesn't look like it hurts anyway...

[2020-03-23 07:59] HndrkMkt commented on #4876
After spending some time debugging this, it seems to be race condition within the code.

[2020-03-23 08:09] evgeny-leksikov commented on #4876
kind of but not exactly, if client-server connection is not established, EP is not completely configured then first pending request is configured incorrectly. this causes protocol mismatch when EP is configured and tries to send pending request.

[2020-03-23 08:29] HndrkMkt commented on #4876
What's the best way to solve this? Is there a way to make sure the client-server connection is established before sending the first request or should I first send a small intro message to ensure the configuration for any following requests?

[2020-03-23 08:37] evgeny-leksikov commented on #4876
this should work as workaround, also need to recv small message from the peer to make sure the client-server connection is established since small message send will be buffered and completed immediately. bidirectional message exchange will guarantee that connection establishment is finished.

[2020-03-23 11:50] HndrkMkt commented on #4876
@evgeny-leksikov Thanks a lot, this does the trick for me. Would it make sense to integrate the EP configuration/waiting for its success into the general connection establishment instead of relying on a workaround? If provided some guidance, I could try to create a PR for this.

[2020-03-23 11:55] amaslenn opened #4922 "[mtt] errors in mpich_tests/redscatinter benchmark"
Configuration
[code]

MTT log: http://e2e-gw.mellanox.com:4080/hpc/scrap/users/mtt/scratch/ucx_ompi/20200319_193937_18116_567706_clx-hercules-006/html/test_stdout_obpvhs.txt

Cmd:
`mpirun -np 257 -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV,SIGBUS,SIGFPE,SIGABRT -x UCX_HANDLE_ERRORS=bt -x UCX_IB_PCI_RELAXED_ORDERING=off --bind-to

[2020-03-23 12:25] evgeny-leksikov commented on #4876
@HndrkMkt  we can't do it the same way inside UCP because UCP API should stay non-blocking.
the easiest way to fix it is to create such dummy EP configuration as its thresholds would be compliant with all available transports for the simplest available protocol like am-bcopy-single.

the wrong configuration is created here https://github.com/openucx/ucx/blob/f97ae3b1978d42abccd207919e6228d9e76a600

[2020-03-23 14:24] souravzzz commented on #4855
@bureddy @yosefe Any thoughts on how to prevent the messages from getting broken up into multiple chunks? The D2D latency numbers I get with master is much worse compared to earlier. Increasing the BW declared in ROCm IPC TL didn't change the numbers (since both pieces are going over ROCm IPC).

[code]

[2020-03-23 17:29] shamisp commented on #4884
fixed

[2020-03-23 17:29] #4884 closed

[2020-03-23 18:00] yosefe commented on #4896
@amaslenn wehn running with `UCX_UNIFIED_MODE=y`, the number of processes for each node must be the same (otherwise it's not really "unified"). In this case since it's NP=8 and NNODES=6 it's not same PPN.
Did you see a failure in MTT, or in any other case where the PPN is same on all nodes?

[2020-03-23 18:45] abellina opened #4924 "Question: Memory mapped file protection settings READ_ONLY vs READ_WRITE"
I am trying to figure out why the following seems required.

For a memory mapped file, protection settings (`prot` argument in `mmap`: http://man7.org/linux/man-pages/man2/mmap.2.html) seem to be required to be `READ_WRITE`, rather than `READ_ONLY` while registering memory in the `rc` TLS.

Is this expected?

Note: the failure is:

[code]

[2020-03-23 18:46] petro-rudenko commented on #4870
Investigating issue. Solution, for now, is to set `.UCX_ERROR_SIGNALS=""` . For some reason `ucs_debug_disable_signal` doesn't disable sigaction  for ucx catcher.

[2020-03-23 18:47] yosefe commented on #4924
@abellina where do you see it's READ_ONLY for rc ?

[2020-03-23 18:48] yosefe commented on #4924
do you mean that UCX fails to register a read-only memory mapping?

[2020-03-23 18:58] abellina commented on #4924
yes that's what I mean @yosefe. sparkucx is also using READ_WRITE, if I read this correctly:

https://github.com/openucx/sparkucx/blob/9b6d5185db0dd44639332a2afbad360122aa5ff3/src/main/java/org/apache/spark/shuffle/ucx/UnsafeUtils.java#L48

Before this I was trying with `READ_ONLY` and saw the errors, and noticed that switching to `READ_WRITE` made it work.

[2020-03-24 03:55] abellina commented on #4870
@petro-rudenko are you thinking these are JVM segfaults that UCX is handling by mistake? Just trying to understand the reasoning behind disabling error signals.

What kind of side effects will this have for normal operation of UCX?

[2020-03-24 04:35] abellina commented on #4870
@petro-rudenko I tried setting `UCX_ERROR_SIGNALS` to "", but I still see the error. Just letting you know I don't think this is it.

[2020-03-24 06:08] amaslenn commented on #4896
That was a manual reproduction with a smaller NP, so we can ignore it.

I'm not sure that MTT always follows this restriction. It should be OK in the majority cases, but may still be not true in some others. I will be aware of this from now on. I think we can close this for now.

[2020-03-24 09:05] petro-rudenko commented on #4870
The issue is that
[code]

[2020-03-24 09:12] #4896 closed

[2020-03-24 10:45] #4894 closed

[2020-03-24 10:58] brminich commented on #4660
[code]

http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/15084/label=hpc-arm-cavium-jenkins,worker=0/consoleFull#-853622487b816df86-9afc-46eb-984f-1a9a125d73bb

[2020-03-24 11:49] akesandgren commented on #4894
Thanks, much appreciated.

[2020-03-24 12:28] Keepmoving-ZXY opened #4929 "How to see which NIC ucx choose?"
Hello, today I run TensorFlow MPI which support send Tensor content with OpenMPI. And I found that ucx's is the default transfer component of OpenMPI. And  my script is:
[code]
content of `worker.sh` is:
[code]
In my scripts, I don't set `UCX_NET_DEVICE`, and in theory ucx should choose the NIC that has the max transfer speed, but ucx don't output the selected device. So how can I see which NIC th

[2020-03-24 12:31] yosefe commented on #4929
add `export UCX_LOG_LEVEL=info`

[2020-03-24 12:31] dmitrygx commented on #4929
@Keepmoving-ZXY pls set `UCX_LOG_LEVEL=info`

[2020-03-24 12:43] Keepmoving-ZXY commented on #4929
This is all outout:
[code]
[code]
The log shows that train determinted normal, but I can't see any output about the selected NIC by ucx, my script is:
[code]
The UCX installed in GPU server come from Mellanox OFED driver.

[2020-03-24 12:47] yosefe commented on #4929
which UCX version is used?

[2020-03-24 12:52] Keepmoving-ZXY commented on #4929
This is the output of `ucx_info -v`:
[code]

[2020-03-24 13:20] yosefe commented on #4929
I see, so printing the selected devices feature exists only since UCX v1.8.0

[2020-03-24 14:45] hoopoepg commented on #4922
issue is in test:
[code]

[2020-03-24 14:49] yosefe commented on #4922
huh. nice catch!
@amaslenn are we taking these tests from mpich upstream repo?

[2020-03-24 14:54] amaslenn commented on #4922
@yosefe nope, internal. Might need to sync from time to time :)

@hoopoepg could you please create an MR with the fix?

[2020-03-24 15:07] hoopoepg commented on #4922
https://gitlab.com/Mellanox/mtt-tests/-/merge_requests/9

[2020-03-24 17:48] bureddy commented on #4855
@souravzzz how about with UCX_RNDV_SCHEME=put_zcopy?

[2020-03-24 20:23] souravzzz commented on #4855
@bureddy put_zcopy gives the expected performance

[code]

[2020-03-25 00:27] Keepmoving-ZXY commented on #4929
ok, I will upgrade ucx to v1.8.0 or later.

[2020-03-25 06:51] evgeny-leksikov opened #4931 "failure in ud/test_ucp_sockaddr.concurrent_disconnect_c2s/8"
sporadic failure on arm machine `hpc-arm-cavium-jenkins`
[code]

[2020-03-25 08:42] evgeny-leksikov commented on #4842
@pentschev is there any practical reason to listen and connect with sockcm but communicate with IB/RC? why not rdmacm?
UCX_TLS=**rc**,sockcm,tcp,cuda_copy
UCX_SOCKADDR_TLS_PRIORITY=**sockcm**

[2020-03-25 08:58] lytofd opened #4932 "ucp_put_nb not works when msg size less than specific size"
l have two nodes installed with ucx,now l want to send a msg with size less than 17000 bytes like this.
[code]
After this block returns UCS_OK, client would send a corresponding  tag to server let it know data addrived(of course, server always checking whtherthe tag has been posted in a loop).
Now l want to try different size of data block, when its size larger than 17000 bytes, it woks normally,b

[2020-03-25 09:01] yosefe commented on #4932
@lytofd can you pls upload a reproducer program for this issue?
also, pls fill out the details of ucx version, setup, etc. in the issue template.
Thanks!

[2020-03-25 09:17] lytofd commented on #4932
### Steps to Reproduce
- Command line
[code]
ucx_info -d  link:    https://paste.ubuntu.com/p/QcH9Tjhbqj/
ucx_info -b  link:    https://paste.ubuntu.com/p/bRy5HmFHHX/

### Setup and versions
- OS version (e.g Linux distro) + CPU architecture (x86_64/aarch64/ppc64le/...)
   -  uname -a:  uname -a
[code]
- For RDMA/IB/RoCE related issues:
    - Driver version:
        -  rpm -q libibverbs  :     lib

[2020-03-25 09:51] lytofd commented on #4932
Node1:
[code]

Node2：
[code]

[2020-03-25 09:58] yosefe commented on #4932
@lytofd in order to ensure remote data delivery with ucp_put, need to use ucp_ep_flush or ucp_worker_flush

[2020-03-25 10:26] lytofd commented on #4932
problem solved, thanks.

[2020-03-25 11:28] #4932 closed

[2020-03-25 11:35] pentschev commented on #4842
To be honest, I'm not quite sure why we can't do that. What I know is that using `rdmacm` won't open TCP ports we need to establish connections with Dask/UCX-Py. @Akshay-Venkatesh I think you know more details, could you briefly explain why that's not possible today?

[2020-03-25 15:45] mkre commented on #4866
I need to reopen this issue, as it is still haunting me... As proposed previously, I now have an Open MPI distribution built without BTL/uct (`--enable-mca-no-build=btl-uct`). This avoids the warning, **as long as we do not specify any BTL-related MCA parameters**. For example, we want to disable BTL/openib in some instances, which brings back the warning messages despite non-existing BTL/uct. So,

[2020-03-26 06:50] abellina commented on #4870
Yes you are absolutely right. Turns out I had a typo in my setting, since I saw this message (which is produced by the signal handling code).

I've run for some hours today and yesterday without the startup crash. So this looks to be a good workaround @petro-rudenko. Given that java is going to use its own signals, I think signal catching by UCX is likely to cause all kinds of trouble in jni land

[2020-03-26 07:01] hoopoepg commented on #4866
hi @mkre
as I can see you build OMPI excluded btl-uct, right?

we can't reproduce your issue. so, could you provide build command lines for all modules you built, command line to run, and output for commands ```ompi_info -v``` and ```ucx_info -v``` used in your test. we will try to reproduce same environment

thank you

[2020-03-26 08:28] petro-rudenko commented on #4870
JUCX disables all signals at load time: https://github.com/openucx/ucx/blob/master/bindings/java/src/main/native/jucx_common_def.cc#L30

Trying to figure out why it still happens that signal handler is ucx.

[2020-03-26 09:42] lytofd opened #4940 "Can ucx support interprocess communacation？"
If  serveral  programs runs in a single node, each program has inited ucx environment,such as ucp_init,ucp_worker_create,etc,and this node has not any net card,
how can these programs commucate with each other by ucx?  Can ucx support it？
Thanks.

[2020-03-26 10:03] mkre commented on #4866
Yes, that is correct.

I just learned another thing: When requesting PML/ucx explicitly, the warning does not appear. So I can update my table posted above:

| Command line | Result |
| --- | --- |
| `mpirun -np 2 ./a.out` | :heavy_check_mark: (no warning) |
| `mpirun -np 2 ./a.out -btl ^openib` | :x: `VM_UNMAP` warning |
| `mpirun -np 2 ./a.out -btl self` | :x: `VM_UNMAP` warning |
| `mpirun -np

[2020-03-26 10:26] yosefe commented on #4866
@mkre in addition, can you pls run one of the cases which shows VM_UNMAP warning with `-mca btl_base_verbose 999` and attach the output?

[2020-03-26 10:33] mkre commented on #4866
@yosefe, here you go: [btl_verbose.txt](https://github.com/openucx/ucx/files/4386563/btl_verbose.txt) (obtained with `-mca btl_base_verbose 999 -mca btl ^openib`)

[2020-03-26 10:38] yosefe commented on #4866
@mkre can you pls try `-mca btl_base_verbose 999 -mca btl ^openib,vader` ?

[2020-03-26 10:43] mkre commented on #4866
Looks pretty similar: [btl_verbose2.txt](https://github.com/openucx/ucx/files/4386615/btl_verbose2.txt)

[2020-03-26 11:04] yosefe commented on #4866
@mkre can you pls try `-mca btl_base_verbose 999 -mca btl ^openib,vader -mca pml ^mxm`

[2020-03-26 11:37] mkre commented on #4866
@yosefe, I suppose you meant `-mca pml ^yalla`. That seems to do the trick 👍 :
[btl_verbose3.txt](https://github.com/openucx/ucx/files/4386852/btl_verbose3.txt)

We include Yalla/MXM support in our Open MPI distribution mainly for debugging/compatibility reasons. But of course we are using UCX by default on all Mellanox IB systems. Seems like our path forward will be to disable Yalla by default, a

[2020-03-26 13:13] JuliaRS opened #4941 "UCX_TLS=rc"
In your documentation mentioned that when i set UCX_TLS=rc it means thst will select rc and ud.
How exactly rc or ud is chosen?
Based on what is this or that transport selected?

[2020-03-26 13:18] yosefe commented on #4941
ud is used for bootstrap and rc is used for real data communication

[2020-03-26 13:21] yosefe commented on #4883
fixed in #4900

[2020-03-26 13:21] #4883 closed

[2020-03-26 13:28] JuliaRS commented on #4941
Ok, what happens if i set UCX_TLS=rc,ud?
Do you have priority in list of transport?

[2020-03-26 13:34] yosefe commented on #4941
in this case, rc would be selected for small scale, and ud for large scale
in both cases ucx provides a reliable layer: for ud, there is internal reliability mechanism, parallel to TCP

[2020-03-26 13:38] JuliaRS commented on #4941
@yosefe, thanks a lot.

[2020-03-29 11:00] #4941 closed

[2020-03-29 11:01] yosefe commented on #4940
@lytofd on single node, UCX will use shared memory communication by default.

[2020-03-29 13:33] yosefe commented on #4866
@mkre i could not reproduce the same issue with btl params on may machine..
can you pls attach the output for
[code]

[2020-03-29 14:56] yosefe commented on #4922
@amaslenn test fix is merged, can we close this?

[2020-03-29 21:35] yosefe commented on #4267
@petro-rudenko can you pls test with https://github.com/yosefe/ucx/tree/topic/arbiter-sched-self ?

[2020-03-30 06:23] mkre commented on #4866
@yosefe, here you go:
[out_1.txt](https://github.com/openucx/ucx/files/4401109/out_1.txt)

[2020-03-30 08:26] amaslenn commented on #4922
Got fully passed test run, closing.

[2020-03-30 08:26] #4922 closed

[2020-03-30 10:10] yosefe commented on #4866
@mkre i see that "yalla" is opened which is probably causing the warning..
can you pls upload same log for :
`mpirun -np 2 -mca btl_base_verbose 99 -mca rcache_base_verbose 99 -mca pml_base_verbose 99 ./a.out` - to see why if btl is not specified, yalla is not opened

[2020-03-30 11:02] Keepmoving-ZXY commented on #4929
ucx v1.8.0 works, thank you.

[2020-03-30 11:02] #4929 closed

[2020-03-30 11:15] mkre commented on #4866
@yosefe: [out_2.txt](https://github.com/openucx/ucx/files/4402298/out_2.txt)

[2020-03-30 22:36] Akshay-Venkatesh opened #4954 "cuda_copy component not tested in gtest/uct/test_md for uct_md_detect_memory_type check"
### Test conditions
Was expecting that `cuda_copy` would be run against different kinds of memory allocations and `uct_md_detect_memory_type` would be tested to essentially check cuPointerGetAttributes works as expected in UCX. It seems like cuda_copy is being ignored for test_md tests. Can someone help enable this?

@bureddy @dmitrygx @yosefe

For instance, I was expecting to see `cuda_copy/test_

[2020-03-30 23:16] bureddy commented on #4954
@Akshay-Venkatesh is it cuda build and GPU machine?
I see test running in jenkins
[code]

[2020-03-30 23:54] Akshay-Venkatesh commented on #4954
Yes. This is on a machine with GPUs. Do I need to pass specific options to gtest to run this? Do you mind sending me the link to this? I'll try and follow along to see if I can get this to work. If not, I'll try running without filters to see if that helps.

[2020-03-31 10:55] evgeny-leksikov commented on #4842
@Akshay-Venkatesh could you please describe a use case why does Dask/UCX-Py establish connection to TCP port and not using rdmacm when IB fabric is available?

[2020-03-31 12:51] pentschev commented on #4842
Just to be more specific, if I specify `rdmacm` in replacement of `sockcm`, the error I get is:

[code]

[2020-03-31 13:06] evgeny-leksikov commented on #4842
@pentschev seems like there is no either IPoIB or RoCE configured iface... can you share `ifconfig` output or check it by yourself?

[2020-03-31 13:25] pentschev commented on #4842
We do have 4 IPoIB interfaces, this is a a DGX-1, they're all configured the same way, as below:

[code]

[2020-03-31 13:42] evgeny-leksikov commented on #4842
@pentschev thanks! could you also share logs with `UCX_LOG_LEVEL=trace` ? thanks in advance!

[2020-03-31 15:19] pentschev commented on #4842
After a bit more testing, it seems that this was my mistake since in UCX-Py we currently preset `UCX_SOCKADDR_TLS_PRIORITY=sockcm` and I didn't realize my configurations weren't overriding that before. Now after switching to `UCX_TLS=rc,rdmacm,tcp,cuda_copy UCX_SOCKADDR_TLS_PRIORITY=rdmacm` things seem to work, I can have dask workers connect to dask scheduler that way. However, this only works wi

[2020-03-31 15:24] evgeny-leksikov commented on #4842
nice progress :) pls check that workers connect to IP address associated with IB iface on node A

[2020-03-31 15:59] pentschev commented on #4842
I double checked it, but the IP and port are correct. In the same node, connection is successful:

[code]

If I try to connect to the same dask scheduler but from a different node it fails:

[code]

What's interesting is that I can confirm transfer between these two nodes with `ucx_perftest`.

[2020-03-31 18:49] bureddy commented on #4954
@Akshay-Venkatesh no specific option is needed.

[code]

[2020-03-31 19:04] Akshay-Venkatesh commented on #4954
Strange. I ran the full test and I still don't see test run against cuda_copy. I'm trying now with current master. Will update shortly

[2020-03-31 19:07] Akshay-Venkatesh commented on #4954
Able to see the tests run on master. I think my current working branch is behind. I'll update and check and reopen this if the issue isn't resolved. Thanks for the help

[2020-03-31 19:07] #4954 closed

[2020-04-01 11:46] qianzhang613 opened #4966 "Did ucx need ever node has same the device name"
### Describe the bug
A clear and concise description of what the bug is.
when i run  /hpcx/ucx/bin/ucx_perftest  the device name is  different between sever and client ,  server is mlx5_2:1 and client is mlx5_3:1  an error came out that:

[code]
so ucx need the same device name  between nodes?

### Steps to Reproduce
- Command line
- UCX version used (from github branch XX or release YY) + UCX con

[2020-04-01 14:05] pentschev commented on #4842
I'm trying to compare the trace logs now to establish where the issue seems to be coming from, and everything seems to happen the exact same way in both local and remote until `RDMA_CM_EVENT_UNREACHABLE`. I also looked at the `ucx_perftest` logs to compare, but connection seems to be happening in a different way as I don't see any mentions of the processes' IP addresses in that log, even when runn

[2020-04-01 17:08] yosefe commented on #4966
@qianzhang613 currently ucx_perf does not support different device name on client and server when running UCT level test.
It's possible to run UCP level test like this:

server:
[code]
client:
[code]

[2020-04-01 18:44] evgeny-leksikov commented on #4842
@pentschev thanks for investigation!
 - you can try to run `ib_send_lat` test (https://github.com/linux-rdma/perftest/blob/master/src/send_lat.c, most likely it's already installed on your system) to check rdmacm setup correctness on the same devices and hosts with ` --rdma_cm` parameter
 - could you please share full UCX logs from both server and client? `test/examples/ucp_client_server.c` may be

[2020-04-01 22:49] pentschev commented on #4842
Thanks @evgeny-leksikov , I can reproduce the same issue with `test/examples/ucp_client_server.c`. I've uploaded logs for client and server in both single node and multinode configurations in https://gist.github.com/pentschev/a64d669760192ac94ef874aba127d2ba.

With `ib_send_lat` I am able to run it without any options:

[code]

[code]

If I try with `-R` it fails (see below), I'm not sure whether

[2020-04-02 04:07] qianzhang613 commented on #4966
thanks for @yosefe , that `/hpcx/ucx/bin/ucx_perftest` works well.
but we want to use `mpirun --mca pml ucx -mca osc ucx` ,  the  UCX_NET_DEVICES seem like take no effect as the error also cames when i run
[code]
the error logs:
[code]

so how can i run ucx at  `uct level`  with openmpi ?
thanks for u  instruction

[2020-04-02 07:57] yosefe commented on #4966
@qianzhang613 MPI uses UCP level so need to run like this:
`mpirun --allow-run-as-root -np 2 -H 192.168.0.1:1,192.168.0.2:1 --mca pml ucx -mca osc ucx  -mca coll_hcoll_enable 0 -x coll_hcoll_np=0 -x UCX_IB_GID_INDEX=3 -x UCX_NET_DEVICES=mlx5_2:1,mlx5_3:1  -x UCX_TLS=rc_mlx5  /nv-tools/all_reduce_perf -g 1 -t 1`

This would restrict the devices to either mlx5_2 or mlx3_1, per what is available on t

[2020-04-02 10:51] alinask commented on #4842
@pentschev Do you have rdmacm loaded on your hosts?
What is the output you get for:
`ls /dev/infiniband/rdma_cm`

[2020-04-02 11:25] pentschev commented on #4842
Yes, I checked each host and see the same for all:

[code]

[2020-04-02 13:08] evgeny-leksikov commented on #4842
@pentschev behaviour of `ib_send_lat -R` and UCX/rdmacm are the same - client can't reach server but according to UCX logs addr and route are resolved. looks like firewall...
can you `ping` server IP bound to IB device from client node?

[2020-04-02 14:10] pentschev commented on #4842
Yes, I can ping each other and I can run `ib_send_lat` as long as I don't include `-R`. I tested client/server in both ways on these two hosts and it seems to work without `-R`.

I'm sorry about my ignorance of rdmacm, I tested `ib_send_lat -R` in hosts of 3 different DGX-1 clusters we have, 2 of them fail and the third succeeds. It does sound like we have configuration issues in the two failing c

[2020-04-02 14:24] evgeny-leksikov commented on #4842
@pentschev thanks for update! i hope you can find something useful [here](https://community.mellanox.com/s/article/How-To-Enable-Verify-and-Troubleshoot-RDMA ) or [here](https://community.mellanox.com/s/question/0D51T00006RVtlUSAT/rdmacm-connection-setup-issues)

[2020-04-02 14:33] pentschev commented on #4842
Thanks @evgeny-leksikov and @alinask , I'll try to figure that out and report back as soon as I find something.

[2020-04-03 03:04] qianzhang613 commented on #4966
@yosefe  i had try wrap.sh the run command with this
[code]
and the mpirun: `mpirun --allow-run-as-root -np 2 -H 192.168.0.1:1,192.168.0.2:1 --mca pml ucx -mca osc ucx -mca coll_hcoll_enable 0 -x coll_hcoll_np=0 -x UCX_IB_GID_INDEX=3 -x UCX_TLS=rc_mlx5  bash /nv-tools/wrap.sh  /nv-tools/all_reduce_perf -g 1 -t 1`

it look like from the error log, UCX not found the write devices:

[code]

[2020-04-03 11:33] yosefe commented on #4966
@qianzhang613 can you pls try to replace "UCX_TLS=rc_mlx5" by "UCX_TLS=rc"?

[2020-04-03 12:36] dmitrygx opened #4975 "hang of dc_mlx5/test_uct_perf.envelope/0 on swx-rdmz-ucx-new-01"
[code]
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/5194/logs/135

[2020-04-03 14:56] yosefe commented on #4866
@mkre i've finally been able to reproduce the problem, by changing the order of mca_pml_yalla.so and mca_osc_ucx.so files in lib/ompi directory, to have the same component load order as you have.

So, pml_yalla triggers the problem when it's unloaded during MPI_Init (because it's unselected). It causes patcher component to be closed (by closing opal_memory_base_framework), which "restores" malloc

[2020-04-03 15:22] petro-rudenko commented on #4267
@yosefe  it works!

[2020-04-03 15:38] evgeny-leksikov commented on #4616
happened again on worker_1@hpc-test-node-ppc
[code]

[2020-04-03 15:44] yosefe commented on #4267
Thanks! i'll start pushing it to UCX master..

[2020-04-04 02:21] qianzhang613 commented on #4966
thanks  @yosefe use UCX_TLS=rc   mpirun all_reduce_perf ok.
but i found that there is rc_verbs rc_mlx5 two Transport from `ucx_info -d` ,  how can i use  `rc_mlx5` explicitly ?

[2020-04-04 12:02] dmitrygx commented on #4966
@qianzhang613 `rc_mlx5` transport will be chosen by UCP layer implicitly, since it has better performance characteristics. In order to make sure selecting accelerated RC transport, you could set `UCX_TLS=rc_x`. Verbs transport can be selected by setting `UCX_TLS=rc_v`.
BTW, this information and more can be found by running `ucx_info -cfa`. It will give all configuration parameters (with descriptio

[2020-04-04 12:32] qianzhang613 commented on #4966
@dmitrygx  i got it, thanks very much.

[2020-04-04 12:32] #4966 closed

[2020-04-06 05:37] mkre commented on #4866
Awesome, thanks for being so persistent, @yosefe!

One last question: How can I change the load order of these libraries? I'd like to test this locally, because this warning message started appearing at some seemingly random point with our Open MPI distribution, without changing anything obvious to it. I have two versions of `lib/openmpi` directories here with exactly the same contents (same md5su

[2020-04-06 08:17] yosefe commented on #4866
@mkre the load order is according to the order of SO files in lib/ompi directory (as you would see with unsorted file list - `ls -U`). I changed the order by creating a new directory, copying lib/ompi/*.* files to it in the order i wanted to "force", and eventually replacing the lib/ompi directory itself by the new one.

[2020-04-06 08:41] mkre commented on #4866
That's something I totally wasn't ware of, thanks a lot for the explanation! Learning never stops :-).

[2020-04-06 12:01] amaslenn opened #4986 "[mtt] mlx5dv_devx_qp_modify(503) failed, syndrome 0: Invalid argument when UCX_IB_SL=2"
Configuration:
[code]

MTT log: http://e2e-gw.mellanox.com:4080/mnt/lustre/users/mtt/scratch/ucx_ompi/20200406_092051_8583_576753_clx-hercules-019/html/test_stdout_rtymMk.txt

Only 3 nodes are required to reproduce.
It doesn't reproduce with `UCX_IB_SL=0` (and without `UCX_IB_SL` explicitly set).

Cmd:
`mpirun -np 3 -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x U

[2020-04-06 12:35] amaslenn opened #4987 "[mtt] Assertion `ctl->type == UCT_UD_PACKET_CREQ' failed"
Configuration:
[code]

MTT log: http://e2e-gw.mellanox.com:4080/mnt/lustre/users/mtt/scratch/ucx_ompi/20200406_063708_26167_576663_clx-hercules-002/html/test_stdout__IrO4B.txt

Hard to catch, doesn't always reproduce.

Cmd:
`mpirun -np 256 -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV,SIGBUS,SIGFPE,SIGABRT -x UCX_HANDLE_ERRORS=bt

[2020-04-06 22:29] afernandezody opened #4988 "Segmentation fault while mapping"
Hello,
I have a box running on Ubuntu 18.04 where OMPI v4.0.3 has been built withe CUDA awareness and UCX support. Most apps work fine with this combination but one keeps breaking down with a segmentation fault (11). The developer is able to run the app in his system, which does not have UCX, without any issue. After isolating other potential problems, my suspicion is that there might be some type

[2020-04-07 12:14] evgeny-leksikov opened #4991 "rc_verbs failure under valgrind - Use of uninitialised value of size 8"
[code]

[2020-04-07 14:16] shamisp commented on #4988
@yosefe seems like it is coming from ucm.

[2020-04-08 07:08] alinask commented on #4991
On swx-rdmz-ucx-legacy-01:

[code]

On swx-rdmz-ucx-legacy-02:
[code]

[2020-04-08 10:01] lytofd commented on #4940
Hi,we have tried in a node by method mentioned above and set ucx log level to TRACE.
Here are logs:
 server :    https://paste.ubuntu.com/p/nkf4vG6fDS/
 client:     https://paste.ubuntu.com/p/h7pnHgR5XD/
The two services bind to sepicfic port in common node, each service   inited ucx environment with ucp_init,ucp_worker_create,ucp_ep_create, etc, after initing ucx(of course, exchange of  worker ad

[2020-04-08 13:00] yosefe commented on #4940
yes:
[code]

[2020-04-08 14:21] yosefe opened #4996 "Failure in thread_mutex/test_async.modify_event/0"
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/5303/logs/75
[code]

[2020-04-08 18:23] dmitrygx opened #5001 "shm_ib/test_ucp_rma_mt.put_get/1 failure on legacy test node"
[code]
https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=5326&view=logs&j=88d29b50-4e11-53d5-399b-e634502852e6&t=cb773578-1ba5-52b8-cb10-437b22e73aab
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/5326/logs/95

[2020-04-09 09:17] dmitrygx commented on #4991
@Artemy-Mellanox @yosefe looks like it has already been fixed in the master, right?

[2020-04-09 10:42] amaslenn opened #5009 "[mtt] Assertion `(address - address_list) < UCP_MAX_RESOURCES' failed"
Configuration
[code]

MTT log: http://e2e-gw.mellanox.com:4080/mnt/lustre/users/mtt/scratch/ucx_ompi/20200406_232115_31376_577306_clx-hercules-021/html/test_stdout_5uXUPV.txt

Doesn't always reproduce, had to run 4 iterations to catch.

Cmd:
`mpirun -np 256 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV,SIGBUS,SIGFPE,

[2020-04-09 10:57] amaslenn commented on #3305
Configuration
[code]

MTT log: http://e2e-gw.mellanox.com:4080/mnt/lustre/users/mtt/scratch/ucx_ompi/20200406_144228_5979_577228_clx-hercules-003/html/test_stdout_9SqwzJ.txt

Doesn't always reproduce, had to run 4 iterations to catch.

Cmd:
`mpirun -np 256 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV,SIGBUS,SIGFPE,S

[2020-04-09 12:45] pentschev commented on #4842
Just a quick feedback about the previous discussion here @evgeny-leksikov , our devops team has still not been able to work on fixing the rdmacm issue on the cluster we normally use for UCX-Py development, but I was able to run UCX-Py with rdmacm enabled on a different cluster. In this other cluster my brief testing has shown no problems using rdmacm.

With the above said, I will add support for r

[2020-04-09 14:01] evgeny-leksikov commented on #4842
@pentschev thanks for update and especially for adding rdmacm support to UCX-Py!
I started this conversation to make sure we don't miss something critical in new client-server connections management engine. sockcm will continue to be supported until we can replace it with new sockcm_cm.
We expect that migration should be transparent for users since it's API/ABI backward compatible.
The only known

[2020-04-09 18:46] yosefe commented on #4866
@mkre np, can we close this issue then?

[2020-04-09 23:22] pentschev commented on #4842
Thanks @evgeny-leksikov for clarifications.

Does that mean that to use IB we will absolutely need rdmacm_cm, meaning we won't be able to use sockcm_cm (as we do with sockcm today) for IB?

[2020-04-10 06:18] evgeny-leksikov commented on #4842
@pentschev Not sure if absolutely but rdmacm/IB will work definitely better vs sockcm/IB. Also need to clarify if we really need sockcm/IB. It would be extremely helpful if you can find and share why rdmacm is not working on some DGX systems.

[2020-04-10 08:18] pentschev commented on #4842
Thanks for clarifying.

Will do once our devops team has the chance to work on that, I can't promise it will be very soon though, perhaps that won't happen until May.

[2020-04-11 06:43] dmitrygx opened #5017 "configure.ac: need to fix SCM_BRANCH"
when configuring UCX on a system with aged GIT (e.g. `boo31` - mlx internal machine), got the following:
[code]
So, `SCM_BRANCH` will be invalid.
Need to adopt `configure.ac` to not specify `--short` argument to `git symbolic-ref HEAD` command. It is unsupported in GIT 1.7.1 (and older, need to check other versions. GIT v1.8.x supports it).

[2020-04-11 10:17] Keepmoving-ZXY commented on #3156
I have successfully run `ucx_perftest` with cuda, my command line is:
client:
[code]
server:
[code]
Output of client can be found at https://paste.ubuntu.com/p/YRrt5xNdtN/, and output of server can be found at https://paste.ubuntu.com/p/yc67KFMPDT/.

Even though I have Mellanox NIC, but I don't want to use RDMA feature because I want to import ucx to my project and I want use ucx to solve the the

[2020-04-11 12:43] #4987 closed

[2020-04-11 12:43] #5009 closed

[2020-04-11 15:08] yosefe commented on #4991
fixed in master and v1.8.x

[2020-04-11 15:08] #4991 closed

[2020-04-11 15:43] yosefe commented on #4988
@afernandezody can you pls try with `mpirun -x UCX_MEM_EVENTS=no -np 1 -mca pml ucx ./app.exe`?
Also, it it possible to provide the application itself or another reproducer?

[2020-04-11 19:49] yosefe commented on #3305
seems to be fixed by #5016 :
-default ucx - fails after ~5 iterations
-with fixes - passes 38 iterations (for now..)

[2020-04-11 21:02] #3305 closed

[2020-04-11 22:31] afernandezody commented on #4988
Hi @**yosefe**,
The app now returns
[code]
plus some info from OpenMPI
[code]

You can find the app at https://github.com/CEED/Laghos.
Thanks

[2020-04-12 01:01] #4986 closed

[2020-04-12 16:22] yosefe commented on #4988
@afernandezody can you pls try with UCX master branch?
Also, i've tried to run Laghos, so far the issue did not reproduce, is this the right way?
[code]

[2020-04-13 03:49] Keepmoving-ZXY opened #5022 "make sure whether ucx use cuda_ipc and shared memory to communicate inter-node or not."
My project want to use shared memory and cuda ipc technology to the limit of NIC that don't support communicate of processes inter-node. And what I first recall is ucx, so I use `ucx_perftest` to have a simple test. The `ucx_perftest` can run well, but I can't make sure whether ucx use cuda ipc or shared memory to communicate, so I paste the cmdline and log output, see below.
client cmd:
[code]
se

[2020-04-13 05:48] dmitrygx commented on #5022
As far I can see from your logs, CUDA_IPC is used for TAG/RNDV protocol:
[code]
You could check when RNDV protocol will be used by running:
[code]
where `-e` shows EP configuration, `-u t`  means requesting `UCP_FEATURE_TAG` feature, `-D shm` emulates intranode communication.
for more information, pls, check
[code]
Also, you could try to play with `UCX_RNDV_THRESH` environment variable to find the

[2020-04-13 05:56] dmitrygx commented on #5022
Also, you could try different message sizes with `ucx_perftest`:
[code]

[2020-04-13 06:35] amaslenn opened #5023 "[mtt] Assertion `worker->context->tl_bitmap & UCS_BIT(rsc_idx)' failed: rsc_idx=0"
Configuration
[code]

MTT log: http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/shmem/20200409_173125_147874_24871_jazz01.swx.labs.mlnx/html/test_stdout_3bxVtR.txt

Cmd:
`oshrun -np 168 --display-map --bind-to core -mca oshmem_proc_group_cache_size 10000 -mca sshmem ucx -mca atomic ucx -mca coll_hcoll_enable 1 -x HCOLL_POLLING_LEVEL=1 -x HCOLL_ENABLE_MCAST_ALL=0 -x HCOLL_BCOL=basesmuma,uc

[2020-04-13 06:41] amaslenn commented on #5023
Another repro.

Cmd:
`oshrun -np 140 --display-map --bind-to core -mca oshmem_proc_group_cache_size 10000 -mca sshmem ucx -mca atomic ucx -mca coll_hcoll_enable 1 -x HCOLL_POLLING_LEVEL=1 -x HCOLL_ENABLE_MCAST_ALL=0 -x HCOLL_BCOL=basesmuma,ucx_p2p -x HCOLL_SBGP=basesmsocket,p2p -mca spml ucx -mca pml ucx -x UCX_HANDLE_ERRORS=bt -x UCX_TLS=rc_x,self,sm -x UCX_NET_DEVICES=mlx5_0:1,mlx5_4:1 -x UCX_UN

[2020-04-13 07:26] Keepmoving-ZXY commented on #5022
ok, I will have a try, and does tag_bw support host memory?

[2020-04-13 07:34] dmitrygx commented on #5022
sure, you could set the required memory type for send/recv buffers:
[code]
e.g. `-m host:host` or `-m host:cuda` or `-m cuda-managed:host` or etc

[2020-04-13 13:59] afernandezody commented on #4988
Hi @**yosefe**,
After recompiling everything with the master branch, the same errors keep popping up. I'm using cloud-based vms so it might be something related to the virtualized environment. However, the confusing part is that it's the same problem for AWS and Google cloud, which use quite different setups. Out of curiosity, which OS are you using?
Thanks.

[2020-04-14 08:34] angainor commented on #4673
@MattBBaker @dmitrygx Have there been any developments with this recently? Or any plans for the future? Thanks!

[2020-04-14 15:39] MattBBaker commented on #4673
@angainor Progress has been slow and a lot of my bandwidth is being sucked up by current events. I plan on getting back to this soon though.

[2020-04-14 15:50] mkre commented on #4866
Sure, thanks again!

[2020-04-14 15:50] #4866 closed

[2020-04-14 17:24] angainor commented on #4673
@MattBBaker OK, thanks for the update!

[2020-04-14 22:20] pentschev opened #5027 "Endpoint failures are treated as fatal by mlx5"
### Describe the bug
Endpoint failures are treated as fatal by mlx5, even if `UCX_FAILURE` (or inherited variables) are set to a different level.

### Steps to Reproduce
- UCX version 1.8
- Environment variables: `CUDA_VISIBLE_DEVICES=0 UCX_NET_DEVICES=mlx5_0:1 UCX_FAILURE=WARN UCX_TLS=rc,tcp,sockcm,cuda_copy UCX_SOCKADDR_TLS_PRIORITY=sockcm`
- Run `ucx_perftest -m cuda -t tag_bw -n 100 -s 1000000

[2020-04-15 10:29] #5017 closed

[2020-04-15 17:42] dmitrygx opened #5030 "malloc_hook.asprintf fails with OOM when running with ASan"
[code]

[2020-04-15 17:47] dmitrygx commented on #4864
the following patch (disabling malloc hook when running under ASan) fixes the test:
[code]

[2020-04-15 17:59] dmitrygx opened #5031 "{rc_mlx5.rc_verbs,ud_mlx5_ud_verbs,dc_mlx5}/test_uct_ib_addr.address_pack/0 fails under ASan"
[code]

[2020-04-15 20:48] kpamnany commented on #3305
Hi @yosefe. We're seeing this error intermittently with our runs, but it doesn't seem as though the fix made it into 1.8.0. Will you be tagging a new release that includes this fix?

Cc: @simonbyrne

[2020-04-15 20:51] yosefe commented on #3305
@kpamnany the issue didn't exist in 1.8.0. Transport retry exceeded is a generic error which means you could be seeing a different issue.
I'd suggest to file a new bug report for the issue you see, with all system details, and additional symptoms if any.

[2020-04-15 20:57] kpamnany commented on #3305
Thanks @yosefe. We'll try with 1.8.0 and see if it recurs. We only see it intermittently which makes it difficult to track down. I'll open a bug report if we see it again.

[2020-04-16 07:59] dmitrygx opened #5038 "alloc_methods/test_mem.* fails under ASan"
[code]

[2020-04-16 08:02] dmitrygx opened #5039 "test_rcache fails under ASan"
[code]

[2020-04-16 08:14] hoopoepg commented on #5039
it is same issue as https://github.com/openucx/ucx/issues/5038

[2020-04-16 14:32] yosefe commented on #4876
fixed by #4955

[2020-04-16 14:32] #4876 closed

[2020-04-16 14:33] yosefe commented on #4660
seems related to #4620

[2020-04-16 14:35] yosefe commented on #4798
fixed by #4958

[2020-04-16 14:35] #4798 closed

[2020-04-17 09:09] petro-rudenko commented on #4543
Reproduces on MTI cluster:
[code]

[2020-04-17 11:28] yosefe commented on #4543
Looks like heap corruption in random places..
can you try running with valgrind?

[2020-04-17 13:18] jwest75674 opened #5045 "Assertion `local_gid_u16[5] == 0xffff' failed || IB Device not able to activate ucx"
### Preface
I recognize that this channel is meant for bug reports, but I have the sense that I am not experiencing a bug, just a lack of understanding. Instead of me cluttering up your git with beginner issues which are probably more directly related to my own lack of knowledge during my IB network setup; Can you recommend a better channel to work with the community for this learner level support

[2020-04-17 13:57] petro-rudenko opened #5046 "SparkUCX: Assertion `(max_timers * sizeof(*expired_timers)) <= 1200' failed: alloca(1208) on big number of threads"
### Describe the bug
[code]

### Steps to Reproduce
Works on 8,18,28 threads. With threads > 35 fails. Happens in the connection establishment phase. Setting `UCX_NET_DEVICE` *and disabling* `UCX_SOCKADDR_CM_ENABLE` works correctly.

### Setup and versions
SparkUCX + # UCT version=1.9.0 revision fef6bd3
No CM params or *with* `UCX_SOCKADDR_CM_ENABLE y`

[2020-04-17 17:17] #4267 closed

[2020-04-17 17:25] afernandezody commented on #4988
Hi @**yosefe**,
I finally did what I had been postponing for a few days and switch to CentOS. The app is now working and will have to retrace all the steps to check why of the difference in response. I'll close the ticket this weekend if no further issue comes up.
Thanks.

[2020-04-17 17:28] yosefe commented on #4988
Thanks @afernandezody, i'm also using CentOOS (7.6) for my tests, on an IB-based system.

[2020-04-17 21:08] yosefe commented on #5023
issue is xpmem returning invalid data, fixed in https://github.com/hjelmn/xpmem/pull/31

[2020-04-17 21:18] #5039 closed

[2020-04-18 08:31] #5031 closed

[2020-04-18 08:32] #4996 closed

[2020-04-18 14:21] jwest75674 commented on #5045
Resolved by removing my opensm/partitions.conf file completely (rolling to defaults) and erasing all settings from opensm.conf which I was not 1000% certain of (rolling to defaults)

Thank you for your time regardless, and I hope this log helps someone else in future.

[2020-04-18 14:21] #5045 closed

[2020-04-18 14:36] petro-rudenko opened #5053 "SparkUCX: UCX_SOCKADDR_CM_ENABLE + UCX_NET_DEVICES segfault null ep"
### Describe the bug
[code]

### Steps to Reproduce

Set both `UCX_SOCKADDR_CM_ENABLE` and  `UCX_NET_DEVICES`.

[2020-04-18 14:44] #5023 closed

[2020-04-18 14:48] yosefe commented on #5027
@pentschev need to create UCP endpoint with ERR handling mode PEER and install an error callback
https://github.com/openucx/ucx/blob/master/src/ucp/api/ucp_def.h#L585
pls reopen if this does not help

[2020-04-18 14:48] #5027 closed

[2020-04-19 11:20] dmitrygx commented on #4975
[code]
reproduced on `hpc-arm-cavium-jenkins`:
http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/4565/nodes/121/steps/461/log/?start=0
http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/4565/pipeline/121

[2020-04-19 16:52] #5001 closed

[2020-04-20 01:57] Keepmoving-ZXY commented on #5022
ok, I already have a try, all seems good.

[2020-04-20 01:57] #5022 closed

[2020-04-20 08:46] Keepmoving-ZXY commented on #5022
@dmitrygx Can you provide me a example of ucp stream api?

[2020-04-20 09:04] dmitrygx commented on #5022
@evgeny-leksikov if I'm not mistaken we don't have a small example for UCP Stram API, right?
@Keepmoving-ZXY you can try to check UCX perftest code - e.g. https://github.com/openucx/ucx/blob/d07461e54dfaaa9c40823cfae08511847a2656af/src/tools/perf/lib/ucp_tests.cc#L180
there we have UCP stream implementation for perftest

[2020-04-20 09:07] Keepmoving-ZXY commented on #5022
ok，thank you.

[2020-04-20 10:24] evgeny-leksikov commented on #5022
https://github.com/openucx/ucx/blob/d07461e54dfaaa9c40823cfae08511847a2656af/test/examples/ucp_client_server.c#L276

[2020-04-20 11:52] pentschev commented on #5027
Thanks for the clarification @yosefe . I'll try that and reopen if it doesn't work.

[2020-04-20 12:15] amaslenn opened #5059 "[mtt] Assertion `tmh->opcode == IBV_TMH_EAGER' failed: Unsupported packet arrived"
Configuration
[code]

MTT log: http://e2e-gw.mellanox.com:4080/hpc/scrap/users/mtt/scratch/ucx_ompi/20200418_014608_14983_584971_clx-hercules-006/html/test_stdout_jKXfsz.txt

Cmd:
`mpirun -np 256 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV,SIGBUS,SIGFPE,SIGABRT -x UCX_HANDLE_ERRORS=bt -x UCX_IB_PCI_RELAXED_ORDERING

[2020-04-20 18:05] Akshay-Venkatesh commented on #4924
@yosefe Want to check if this problem been resolved. We have another user who's run into this issue but we've not confirmed yet if the buffer being passed is mmap'ed with `READ_ONLY` flags.

[2020-04-21 11:40] yosefe commented on #4924
@Akshay-Venkatesh it hasn't been resolved yet

[2020-04-21 17:58] pentschev commented on #5027
@yosefe this seems to work for `ucp_ep_create`, I'm having some trouble in figuring how to do the same for endpoints created via `ucp_listener_create`. It seems that one alternative is to modify parameters with `ucp_ep_modify_nb`, but it seems for that I would have to pass modify the `ucp_conn_request_h->sa_data->err_mode` in the listener callback function. However, both `ucp_conn_request_t` and `

[2020-04-21 18:35] yosefe commented on #5027
https://github.com/openucx/ucx/blob/master/test/examples/ucp_client_server.c#L567

[2020-04-21 23:38] simonbyrne opened #5061 "Segmentation fault with CUDA-aware MPI in Julia"
### Describe the bug
Attempting to use UCX CUDA-aware MPI in Julia without `UCX_MEM_EVENTS=no` results in a segfault.

Downstream issue: https://github.com/JuliaParallel/MPI.jl/pull/370

### Steps to Reproduce
Install Julia (https://julialang.org/downloads/) and run the following:
[code]
This results in a `ERROR: LoadError: ReadOnlyMemoryError()` (which is Julia's report of a `SIGSEGV`). Running i

[2020-04-22 08:20] bureddy commented on #5061
@simonbyrne can you check with option -x UCX_MEMTYPE_CACHE=n.

[2020-04-22 08:52] amaslenn opened #5063 "[mtt] Assertion `worker->context->tl_bitmap & UCS_BIT(rsc_idx)' failed: rsc_idx=0 tl_bitmap=0xff4"
Configuration:
[code]

MTT log: http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/shmem/20200420_150454_19127_25876_jazz15.swx.labs.mlnx/html/test_stdout_A6BY3f.txt

Cmd (reproduces with `np=48`):
`oshrun -np 84 --display-map --bind-to core -mca oshmem_proc_group_cache_size 10000 -mca sshmem ucx -mca atomic ucx -mca coll '^hcoll' -mca coll_hcoll_enable 0 -mca spml ucx -mca pml ucx -x UCX_H

[2020-04-22 15:49] simonbyrne commented on #5061
That runs correctly.

[2020-04-23 05:52] #4609 closed

[2020-04-23 18:01] simonbyrne commented on #5061
What is the difference between `UCX_MEMTYPE_CACHE=n` and `UCX_MEM_EVENTS=n`?

[2020-04-23 19:57] bureddy commented on #5061
UCX intercepts cudaMalloc/cudaFree calls and saves allocations in the cache to know memory location.
these hooks are disabled with UCX_MEM_EVENTS=n, hence it can't find cuda allocation in the cache.
we will fix this behavior to disable the cache with UCX_MEM_EVENTS=n by default.

[2020-04-23 20:01] simonbyrne commented on #5061
Is there a way that we could manually notify the cache when an array is on the device? If so, I could add these to the Julia MPI bindings, which would avoid the need to intercept cudaMalloc.

[2020-04-24 00:46] bureddy commented on #5061
may I know what is the reason for running with UCX_MEM_EVENTS=n?
cache is just optimization. library will call cuda api internally to detect memory type if cache is not enabled.
for the temporary workaround, it is acceptable to add UCX_MEMTYPE_CACHE=n along with UCX_MEM_EVENTS=n?  in the next release, will autodetect it and disable cache internally.

[2020-04-24 04:50] simonbyrne commented on #5061
We had just copied what [Slurm did](https://github.com/SchedMD/slurm/blob/5fe040f0cca02c8dc92e733e7b10d0067a9fed8a/src/plugins/mpi/pmix/pmixp_dconn_ucx.c#L151-L162) to fix another issue (#4001).

Should we set both `UCX_MEMTYPE_CACHE=n` and `UCX_MEM_EVENTS=n`, or is the former sufficient?

[2020-04-24 06:26] bureddy commented on #5061
As issue #4001 is resolved, do you still need to set UCX_MEM_EVENTS=n,  if not, can you remove both options and try

[2020-04-24 14:16] petro-rudenko commented on #5053
Seems like doesn't reproduce any more with latest master. Closing for now, will reopen if will appear.

[2020-04-24 14:16] #5053 closed

[2020-04-24 14:17] petro-rudenko commented on #5046
Seems like doesn't reproduce with the latest master. But any case let's merge #5055

[2020-04-24 15:59] simonbyrne commented on #5061
I did, and I got the segfault that this issue is about.

[2020-04-24 18:40] dmitrygx opened #5083 "ud/test_ucp_sockaddr_destroy_ep_on_err.s2c/3 failure with valgrind"
[code]
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/5666/logs/133
host: swx-rdmz-ucx-new-02

[2020-04-24 20:16] simonbyrne commented on #5061
To clarify:

- it runs correctly with just `UCX_MEMTYPE_CACHE=n` set
- it runs correctly with just `UCX_MEM_EVENTS=n` set, but prints a warning "UCX  ERROR failed to set UCM memtype event handler: Unsupported operation"
- it produces a segfault (detailed at the top) if neither is set.

[2020-04-25 02:15] bureddy commented on #5061
Ah. Sorry, I misunderstood the issue.  UCX_MEM_EVENTS=n is actually disabling memtype cache because it can't intercept the cuda calls.
ok. may I know how cuda memory allocated in the application? and how it is linked to cuda runtime?
currently, we also have an issue with mem type cache if the application is statically linked to cuda runtime

[2020-04-25 02:19] simonbyrne commented on #5061
That I’m not sure, but @vchuravy might be able to provide more information.

[2020-04-25 08:00] #4808 closed

[2020-04-25 16:57] vchuravy commented on #5061
We `dlopen` `libcuda` directly and use the driver API to allocate memory. We don't go through the runtime `libcudart`, (see https://docs.nvidia.com/cuda/cuda-driver-api/driver-vs-runtime-api.html#driver-vs-runtime-api for the difference between the two).

For memory allocation we directly call `cuMemAlloc` (or sometimes `cuMemAllocPitch`).

[2020-04-25 20:36] yosefe commented on #4975
seems like excessive slowness with ARMCC and shared memory

[2020-04-26 07:38] #4975 closed

[2020-04-26 10:33] yosefe commented on #4421
fixed in fw

[2020-04-26 10:33] #4421 closed

[2020-04-26 17:14] JinBoZi opened #5087 "use JUCX in HDFS but NativeLibs have problem"
### Describe the bug
Caused by: java.lang.NullPointerException
	at org.openucx.jucx.NativeLibs.extractUCTLibs(NativeLibs.java:85)
	at org.openucx.jucx.NativeLibs.<clinit>(NativeLibs.java:30)

NativeLibs.java:85 is
URI uri = NativeLibs.class.getClassLoader().getResource("ucx").toURI();

### Steps to Reproduce
use JUCX(1.8.0) in HDFS

### Setup and versions
- Ubuntu 16.04.5 LTS + x86_64

### Additio

[2020-04-26 19:50] petro-rudenko commented on #5087
Hi, need to add path to ucx install to classpath. How do you run jucx with hdfs?

[2020-04-27 03:28] JinBoZi commented on #5087
Thanks your reply

I just add jucx-1.8.0.jar to pom file and use maven make hdfs.
then add jucx-1.8.0.jar to ${HADOOP_HOME}/share/hadoop/hdfs/lib
but I find there is no "uxc" folder in jucx-1.8.0

change "hadoop-2.9.0-src/hadoop-hdfs-project/hadoop-hdfs/pom.xml" like this.
<dependency>
        <groupId>jucx</groupId>
        <artifactId>jucx</artifactId>
        <version>1.8.0</version>
        <s

[2020-04-27 06:31] petro-rudenko opened #5091 "AZP not triggers on master update"
### Describe the bug
`A container resource with name fedora could not be found. The container resource does not exist. If you intended to specify an image, use NAME:TAG or NAME@DIGEST. For example, ubuntu:latest`

After we changed to use centos7 in https://github.com/openucx/ucx/pull/5066

### Steps to Reproduce
https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=5710&view=results

[2020-04-27 06:48] petro-rudenko commented on #5087
Hi, in jucx we include only libjucx.so (JNI wrapper). You have to install and build UCX on every node in the cluster. Then you need to add path to `UCX_INSTALL/lib` to the classpath for your java application.
We're working on to load UCX from `LD_LIBRARY_PATH` not from classpath.

Do you plan to accelerate HDFS with UCX?

[2020-04-27 20:36] bureddy commented on #5061
@vchuravy  do you dlsym cuMemAlloc to get function pointer and use it? this could be a problem.
ucx can intercept drive API cuMemAlloc,cuMemAllocPitch if it linked to at runtime.

[2020-04-28 09:23] lytofd opened #5098 "time cost about ucp_mem_map"
Hi，l have find that interface ucp_mem_map cost  551ms  in the progress of allocating host memory, so,how can i accelerate this progress?
Because we just use it for host momory allocating, can we specific some environment variables to avoid unnecessary steps?
Thks.

[2020-04-28 13:06] petro-rudenko commented on #5046
Steps to reproduce:
set https://github.com/openucx/ucx/blob/master/test/gtest/ucp/ucp_test.h#L22 MT_TEST_NUM_THREADS       28 (number of cores on jazz machine)

`GTEST_FILTER=*test_ucp_rma_mt* ./gtest`

[code]

[2020-04-28 14:20] shamisp commented on #5098
Does the system have InfiniBand or ROCE HW ? The cost of memory allocation + pinning with HW can be expensive.

[2020-04-28 15:32] vchuravy commented on #5061
Yes we use `dlsym` to obtain the pointer.

[2020-04-28 19:07] bureddy commented on #5061
@vchuravy unfortunately, ucx can't handle this scenario.  please continue with workaround (
https://github.com/JuliaParallel/MPI.jl/blob/5ae9eb8dc2885b8624fe48952c4791977ee0fac5/src/MPI.jl#L85 ) for now.

[2020-04-29 03:31] shamisp commented on #5061
@bureddy - it seems like the language is aware about type of the pointer but with MPI you cannot really pass this through.

[2020-04-29 06:31] Keepmoving-ZXY commented on #5098
I encounter  a similiar problem, `ucp_mem_map` in my code seems cost more time, so I let `ucp_mem_map` repeat 10 times and output the time of each invoke in three software project, and compare the time `ucp_mem_map` cost, result is below:

Case 1, time of `ucp_mem_map` in `ucx_perftest`:
[code]

Case 2, time of `ucp_mem_map` in a project，and this project is warpped by SWIG, then a python unittest

[2020-04-29 06:32] Keepmoving-ZXY commented on #5098
In addition, My workstation has ROCE NIC and rdma is used in my project, so the `ucp_mem_map`  should register memory block to NIC.

[2020-04-29 10:48] amaslenn opened #5103 "[mtt] ERROR failed to unpack address, resource[0] is not valid"
Configuration
[code]

MTT log: http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/shmem/20200427_063030_129021_26624_jazz03.swx.labs.mlnx/html/test_stdout_WRljRK.txt

Need to run in a loop to reproduce (up to 7 iterations or even more).

Cmd:
`oshrun -np 32 --display-map --bind-to core -mca oshmem_proc_group_cache_size 10000 -mca sshmem ucx -mca atomic ucx -mca coll_hcoll_enable 1 -x HCOLL_

[2020-04-29 15:53] vchuravy commented on #5061
We would be happy to call a `ucx` function an inform you of the memory kind we are passing in, but yes MPI is not the ideal programming interface for this.
We are also looking into using UCX directly, like PyUCX.

[2020-04-29 16:12] JinBoZi commented on #5087
Thanks for your help! HDFS cant't load the CLASSPATH of system,so I add it to `$HADOOP_HOME/libexec/hadoop-config.sh`

Now,I can use it. But I found it's too slower than 1.7.0, I don't know the reason.Maybe is my code have some problem.

We plan to accelerate HDFS with JUCX(RDMA),datanode read data from client by RDMA.

[2020-04-29 16:12] #5087 closed

[2020-04-29 16:54] JinBoZi commented on #5087
The problem is in my code. 1.8.0 is same as 1.7.0 in my code.I will continue debugging and optimization.

[2020-04-29 19:13] #5091 closed

[2020-04-29 20:28] petro-rudenko commented on #5087
#5105 will allow to load ucx from `-Djava.library.path` or `LD_LIBRARY_PATH`

[2020-04-30 05:23] brminich commented on #5083
also happens in  http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/4721/pipeline/120
[code]

[2020-04-30 08:56] alinask commented on #5083
@evgeny-leksikov could you please check this?

[2020-05-01 09:07] yosefe opened #5112 "Failure in ud_verbs/test_ud.ca_md"
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/5806/logs/111
without valgrind
[code]

[2020-05-01 11:18] yosefe opened #5114 "Hang in ud/test_ucp_tag_match_rndv.exp_huge_mix"
https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=5795&view=logs&j=73bd2a9e-6688-5c22-d122-7b1a0b6cbb81&t=cd3d3953-51ff-5d5c-c5ca-2864f3c1d670

swx-rdmz-ucx-gpu-01

[code]

[2020-05-01 11:53] yosefe commented on #5103
duplicate of #5063, probably related to old xpmem

[2020-05-02 15:41] shamisp commented on #5061
@vchuravy as for now ucx does not accept memory type as a parameter but this can be introduced. @bureddy If you will let user to pass datatype + stream it will open a lot of opportunities for non-MPI applications. Seems like majority of apps well aware about origin of the memory.

[2020-05-03 05:41] bureddy commented on #5061
@shamisp yes. in the last f2f meeting, we briefly discussed to enhance UCX API to pass mem type + stream.  I think this will get enough priority going forward.

[2020-05-03 20:16] aasraoui opened #5126 "UCX ERROR try to increase "net.core.somaxconn", "net.core.netdev_max_backlog", "net.ipv4.tcp_max_syn_backlog" to the maximum value on the remote node or increase UCX_TCP_MAX_CONN_RETRIES (=25)"
### Describe the bug
A clear and concise description of what the bug is.
mpirun failing for more than 360 tasks scheduled on 10 clients:

### Steps to Reproduce
- Command line
mpirun -v --oversubscribe --allow-run-as-root -x LD_LIBRARY_PATH --hostfile mfile.1 -np $NP ./mdtest -F -n $NF -i 1 -d "$TESTDIR"

- UCX version used (from github branch XX or release YY) + UCX configure flags (can be checke

[2020-05-04 08:25] #5112 closed

[2020-05-04 08:25] #5114 closed

[2020-05-05 19:01] yosefe opened #5134 "Failure in test from ud_verbs/test_uct_perf"
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/5894/logs/155
[code]

[2020-05-06 08:28] #5134 closed

[2020-05-07 08:42] #5083 closed

[2020-05-08 07:36] hoopoepg opened #5145 "Fatal: unsupported endpoint reconfiguration from 2 to 1 lanes during flush"
log link: http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/4838/pipeline/

[code]

[2020-05-08 09:06] jussienko opened #5146 "Random message corruption with knem"
There seem to be random corruption of intranode MPI messages with `knem`. Problem has been observed when running the test set of GPAW software. Problem does not appear when running single tests, but only when large enough (~10 tests) subset of the whole set is run. Failures do not appear every time, but only 1-3 times out of ten, also the actual point where failures occur seem to vary, but at leas

[2020-05-08 17:01] edofrederix opened #5148 "create qp: failed on ibv_cmd_create_qp with 22"
### Describe the bug

I'm trying to get UCX going with OpenMPI so that I can use my QLogic FastLinQ QL41000 cards with RoCE. OpenMPI without UCX and with just libverbs does not fly -- we have very inconsistent behavior with that. Maybe the issue I'm posting here is related to that, I don't know.

Compilation of UCX is going well, but using the UCX PML in OpenMPI gives problems, namely:

[code]

An

[2020-05-08 17:14] yosefe commented on #5148
@edofrederix which UCX version are you using?
can you pls try with following patch + set `UCX_UD_RX_INLINE=0`?
[code]

[2020-05-08 19:17] dmitrygx commented on #5126
@aasraoui I see a lot of errors from UCX's shared-memory transport, but don't see the error from the title of the issue. Could you check pls?

[2020-05-08 19:20] edofrederix commented on #5148
UCX-1.8.0, and I also tried with the latest master.

Thanks for the suggestion. I applied your patch. Doesn't change anything though, I get the same error.

Not sure how to set UCX_UD_RX_INLINE though -- cannot find any documentation about that variable. I did set UCT_UD_MIN_INLINE to zero , in src/uct/ib/ud/base/ud_def.h. Doesn't make a difference. Its only occurrence is in an assert anyway. Can

[2020-05-08 19:35] edofrederix commented on #5148
Very similar error with UCX-1.4.0 btw:

[code]

[2020-05-08 20:08] yosefe commented on #5148
Sorry, this is an **environment** variable. Need to set it to 0, along with applying the patch above

[2020-05-08 20:27] edofrederix commented on #5148
Same thing

[code]
is my UCX-related environment. Still I get:

[code]

Btw, to make things more confusing: the error from 1.4.0 was actually on a different machine. It has the same hardware but some different configurations.. On the original machine with 1.4.0 when doing ucx_info -d I get:

[code]

[2020-05-09 10:00] yosefe commented on #5148
@edofrederix can you pls provide the output of `ibv_devinfo -vv`?

[2020-05-09 13:50] edofrederix commented on #5148
[code]

[2020-05-09 14:00] edofrederix commented on #5148
FYI, the qedr0 device is connected using 25 Gbps via a router and the qedr1 using 10 Gbps directly to another similar second node on which I'm testing.

[2020-05-09 19:28] petro-rudenko commented on #4725
https://github.com/openucx/ucx/wiki/Statistics
You can get  something like this:
[code]

[2020-05-11 15:14] abellina commented on #4725
Will try this @petro-rudenko, thanks for the info on the "release mode" version of this, that was my next question.

[2020-05-11 15:44] yosefe commented on #5148
@edofrederix can you pls try `UCX_UD_TX_MIN_INLINE=0` (instead of UCX_UD_RX_INLINE=0)
are there any errors in dmesg?

[2020-05-11 16:23] edofrederix commented on #5148
@yosefe thanks. Same error with that environment variable. In dmesg I do see:

`hugetlbfs: ucx_info (4790): Using mlock ulimits for SHM_HUGETLB is deprecated`

Not sure if that's related?

[2020-05-11 16:43] yosefe commented on #5148
it's not related..
in the previous error message:
`[1588969380.594241] [hostname:17141:0]       ib_iface.c:623  UCX  ERROR iface=0x729c40: failed to create UD QP TX wr:256 sge:2 inl:64 RX wr:4096 sge:1 inl 0: Invalid argument`
there was `inl:64`

Does `inl:64` appear in the error message when adding `UCX_UD_TX_MIN_INLINE=0`?

[2020-05-11 18:39] edofrederix commented on #5148
@yosefe no it turns to `inl:0`, i.e.,

[code]

[2020-05-11 18:56] yosefe commented on #5148
@edofrederix in this case some other UD QP parameter is not accepted by QLogic driver..
Are you able to run basic ib_send_lat test on the setup? Can you pls post its output?
server: `ib_send_lat -c UD`
client: `ib_send_lat -c UD localhost`

[2020-05-11 19:47] edofrederix commented on #5148
@yosefe here's the output on both ends:

[code]

It does work for the RC connection type. I tried different GIDs and also for the other device (qedr0), but those also fail to create the queue pair.

We've been testing connections with other `ibv_*` tools (`ib_send_bw`, `ibv_ud_pingpong`) before, but never for the UD connection type. Rerunning those tests for UD fails with the same error as for `ib

[2020-05-11 19:54] yosefe commented on #5148
@edofrederix my knowledge on QLogic devices is limited, but it seems this device doesn't support UD transport, only RC. UCX, on other hand, requires UD transport, at least as method to bootstrap RC.

[2020-05-11 20:16] shamisp commented on #5148
@yosefe I think something else is going on. I don't think @jgunthorpe accepts rdma-core providers with no UD support, which sounds like basic feature to have.

[2020-05-12 10:13] edofrederix commented on #5148
@yosefe, thanks a lot for your support so far. Assuming that this device indeed lacks UD support, would you expect OpenMPI performance to slow down or break, even without the UCX PML? Maybe a bit of an off-topic question for this issue, but this is where my motivation came from for looking at UCX to begin with.

Can somebody else maybe shed some light on this issue? Thanks!

[2020-05-12 10:15] yosefe commented on #5148
@edofrederix i think it would be better to ask this question on OpenMPI community (devel list or github)

[2020-05-12 17:11] alinask opened #5154 "failure on ud_*/test_uct_peer_failure_multiple.test"
[code]

http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/4877/pipeline/

[code]

https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=6036&view=logs&j=2a24149b-54e0-5984-9c93-20e052df9aa1&t=6985259c-90af-5b9c-3e23-537f385bafac

[2020-05-12 19:57] tonycurtis opened #5156 "Compile: XL compile warnings/error on Summit"
### Describe the bug
Compile of gtihub version fails on Summit.

### Steps to Reproduce
- Command line
- UCX version used (from github branch XX or release YY) + UCX configure flags (can be checked by `ucx_info -v`)

master @ 1a4906a947590de08983ed48a07260933d005a77

[code]

### Setup and versions
- OS version (e.g Linux distro) + CPU architecture (x86_64/aarch64/ppc64le/...)
   - `cat /etc/issue`

[2020-05-12 22:37] dmitrygx commented on #5156
can be related to https://www.ibm.com/support/pages/apar/LI74419

[2020-05-12 22:38] tonycurtis commented on #5156
Sounds like the same thing

[2020-05-13 06:59] angainor commented on #4657
@bureddy @yosefe I see this quite often running OSU benchmarks with HPCX 2.6 on an EDR system with AMD cpus. I sometimes see this error when I set `UCX_TLS=self,shm,rc`. Do you have any ideas?

[code]

[2020-05-13 07:08] angainor commented on #4657
These are followed by some hcoll init errors:
[code]

[2020-05-13 07:22] benmenadue opened #5158 "1.8.0: segfault in test_memtype_cache_deferred_create.allocate_and_update"
### Describe the bug
Running `make gtest` crashes with a segmentation fault:
[code]
This is from a node without a GPU, hence the failure of `cudaMalloc` here (we have some nodes with GPUs and some without).

Attaching a debugger gives this stack trace:
[code]

The call to `ucs_memtype_cache_destroy` with `self=0x0` doesn't look right.

### Steps to Reproduce
- Command line

[code]

- UCX version u

[2020-05-13 18:11] avildema opened #5159 "UD endpoint: unhandled timeout error"
Comment
[code]

Configuration
[code]

Cmd:
[code]

Output:
[code]

[2020-05-13 18:14] yosefe commented on #5159
@avildema it should be fixed by #5153

[2020-05-14 07:28] alinask opened #5162 "failure on test_ucp_sockaddr.onesided_disconnect_c2s"
[code]

http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/4898/nodes/121/steps/1092/log/?start=0

[code]

http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/4900/nodes/121/steps/1427/log/?start=0

both failures are on :
HOSTNAME=r-vmb-ppc-jenkins

[2020-05-14 07:29] brminich commented on #5162
also happened in http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/4900/nodes/121/steps/1427/log/?start=0

[code]

[2020-05-14 08:38] alinask opened #5163 "falilure on malloc_hook_cplusplus.remap_override_single_thread"
[code]

https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=6069&view=logs&j=f97d6e39-20b4-5224-cb57-ac6707fa3b18&t=9aa0588e-e45f-5107-dd19-ce374bb50cbe

 HOSTNAME=swx-rdmz-ucx-gpu-01

[2020-05-14 08:47] alinask opened #5164 "failure on sockaddr/test_uct_cm_sockaddr_multiple_cms.server_switch_cm"
[code]

https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=6069&view=logs&j=884078f4-671c-5322-e5bc-e5721e095a77&t=38df2706-fb7d-56b7-e03a-996a04e623e0

 HOSTNAME=swx-rdmz-ucx-legacy-02

[2020-05-14 13:05] #5154 closed

[2020-05-14 13:48] yosefe commented on #5162
bot:pipe:retest

[2020-05-14 17:31] alinask opened #5167 "failure on shm_ib/test_ucp_wireup_1sided.send_disconnect_onesided/1"
[code]

HOSTNAME=swx-rdmz-ucx-althca

https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=6080&view=logs&j=087a5e36-b289-5cda-d2a1-de6f38127104&t=74a0144d-32ec-5074-48ed-ec52d134df76

[2020-05-14 18:00] Akshay-Venkatesh opened #5168 "Vector datatype MPI send/recv fails with rc or dc but not tcp or ud for host buffers"
### Describe the bug
The bug was originally reported to not occur with UCX 1.7 but I've not confirmed this. I'm able to repro on 1.8.x and master

### Steps to Reproduce
Makefile and source here: https://gist.github.com/Akshay-Venkatesh/e33a9088ec9cfeb2cd052c106dabd821

[code]
### Setup and versions
- OpenMPI master, UCX master with configure-devel

### Output
Passing case:
[code]
Failing case:
[c

[2020-05-14 18:11] yosefe commented on #5168
@Akshay-Venkatesh seems like send type and recv type are created with different 'count' (1024 vs 512), is this expected?

[2020-05-14 18:12] yosefe commented on #5168
i don't think OpenMPI supports it, and it works with tcp/ud only because their segment size is a power of 2

[2020-05-14 22:30] jgunthorpe commented on #5148
No UD is fine, providers just have to provide some level of RDMA capability, like RC is fine. iWarp for instance doesn't support UD. I also know nothing about qedr to tell if it even should support UD.

[2020-05-15 01:14] shamisp commented on #5148
@yosefe is wire up over tcp  not supported for now ?

[2020-05-15 06:59] Akshay-Venkatesh commented on #5168
@yosefe sorry missed this earlier.

The send side stride and receive side strides are different. Send side is stride of 512 elements and receive side has a stride of 1024 elements but the sizes in terms of bytes match at both ends and so do the corresponding basic element types. Basically (512 * sizeof(double) ) * 512 bytes at both ends but receive side has gaps because stride is 1024 between 512-

[2020-05-15 07:32] yosefe commented on #5168
@Akshay-Venkatesh this is because the segment size has changed with UCX v1.8.0. Anyway, i think this is an OpenMPI issue and not UCX.

[2020-05-15 07:32] yosefe commented on #5148
@shamisp it's not supported today

[2020-05-15 09:14] #4864 closed

[2020-05-15 09:14] #5030 closed

[2020-05-15 09:14] #5038 closed

[2020-05-15 11:22] bosilca commented on #5168
@yosefe taking in account that OMPI works with several flavors of PML (including an older UCX version), the issue might be on UCX side. More specifically, this error indicates that a partial data has been received, something that the datatype tries hard to prevent. So, either some bytes got lost, or the sender is doing a fragmentation that is not coming from the OMPI datatype engine.

[2020-05-15 11:45] yosefe commented on #5168
@bosilca i think what happens here is that receive stride is larger than sender stride, so the packer side packs by a 512-byte granularity (for example), but the receive expects to unpack by 1024-byte granularity, and fails. Does OpenMPI support such case?

[2020-05-15 12:08] bosilca commented on #5168
Definitively, as @Akshay-Venkatesh mentionned earlier, communications with datatypes with the same type signature, aka. same sequence of predefined types ignoring the memory displacement, is an MPI requirement. In fact, in terms of communication MPI forbids little: truncation (receiving less than sent), and type conversion (send a float and receiving an int as an example).

Vectors with different

[2020-05-15 19:00] Akshay-Venkatesh commented on #5168
@bosilca Added debug output of the test from pack/unpack here: https://gist.github.com/Akshay-Venkatesh/e33a9088ec9cfeb2cd052c106dabd821#file-ddt-debug-txt

[2020-05-16 11:21] Keepmoving-ZXY opened #5175 "Does tag match operation support the same tag value but used in different endpoint?"
![ucx_tag_match](https://user-images.githubusercontent.com/19542656/82118264-9ba80080-97a8-11ea-9fa1-4bcc5b06e419.png)

In my project, there is a special case that a process create two ucp endpoints to another two different process which are in the same server, and must use ucx tag match operation  with the same tag value  to finish communicate,  and the picture above show the special case.
In the

[2020-05-16 11:22] Keepmoving-ZXY commented on #5175
I am very excited that github's issue support picture.

[2020-05-16 16:02] tonycurtis opened #5176 "Compile: UCT error in rc_mlx5_devx.c (Fedora 32, GCC 10)"
### Describe the bug

Compile (warning as) error in rc_mlx5_devx.c.

### Steps to Reproduce
- `make`
- UCX version used (from github branch XX or release YY) + UCX configure flags (can be checked by `ucx_info -v`)

github master @ 2b51ec57589994f482e9c8caa15cd1ce637ea76b

- **Any UCX environment variables used**

### Setup and versions
- OS version (e.g Linux distro) + CPU architecture (x86_64/aar

[2020-05-16 16:38] dmitrygx commented on #5176
@tonycurtis thank you for catching this!
it was not detected by our CI, since PR #5138 added the new parameter `int events` to `ucs_async_event_cb_t`, and PR #5144 implements this callback with outdated parameter set. And they were merged simultaneously w/o re-run of CI testing

[2020-05-16 19:43] shamisp commented on #5175
The tag_receive operation is posted on a worker and not endpoint. So it is associated with a "nic", but it is a bit more complicated, since we also handle multi-nic, etc: https://github.com/openucx/ucx/blob/master/src/ucp/api/ucp.h#L2818

As for detection of sender, you can allocate certain bit on the tag, to identify the sender of the message. It is very similar to what MPI is doing here:
https:/

[2020-05-17 07:36] #5176 closed

[2020-05-17 08:54] yosefe commented on #5103
fixed by updating to latest xpmem, @amaslenn pls reopen if you see it again

[2020-05-17 08:54] yosefe commented on #5063
fixed by updating to latest xpmem, @amaslenn pls reopen if you see it again

[2020-05-17 08:55] yosefe commented on #5159
Fixed by #5153 and #5165

[2020-05-17 08:55] #5159 closed

[2020-05-17 11:51] #5158 closed

[2020-05-18 06:38] Keepmoving-ZXY commented on #5175
so the tag recv operation with tag value 0x11 do not distinguish the matched messages should be delivered to which process even if there are multiple messages with tag value 0x11, and when a application issue tag recv operation with tag value 0x11, all messages can match even when some of them should be delivered to another application in theory.

[2020-05-18 07:05] mike-dubman commented on #5175
@Keepmoving-ZXY - the effect that you are after can be achieved with help of Active Messaging API which is WIP. Also, we plan to introduce feature which will enable definition of tag scope (per client or global). btw, what integration are you working with UCX? @yosefe

[2020-05-18 07:43] Keepmoving-ZXY commented on #5175
ok, I will have a try

[2020-05-18 09:02] #5059 closed

[2020-05-18 10:28] yosefe commented on #5175
@Keepmoving-ZXY when tag receive operation is posted, it will match with the oldest incoming message with same tag. The message can be matched with any of the connections (either process1 or process2, in the drawing). In will not be just "any" application - only applications which connected previously by "ucp_ep_create()".
In order to distinguish between process1 and process2, can add process numb

[2020-05-18 10:40] Keepmoving-ZXY commented on #5175
In my picture, job id of process 1 in Server 1 is 2, and job id of process 2 in Server 1 is 4, and job id of process 1 in Server 1 is 0, so I decide add job id of sender and job id of receiver to tag value to help distinguish which tag belong to which process. I am writing a demo as picture shows, thank you for help.

[2020-05-18 10:48] yosefe commented on #5175
@Keepmoving-ZXY probably, receive job id is not needed: the tag will always be received on the worker to which ucp_ep_h is connected to.
See more example code in : https://github.com/openucx/ucx/blob/master/test/apps/iodemo/ucx_wrapper.cc#L501

[2020-05-18 11:03] Keepmoving-ZXY commented on #5175
ok, I will skip receive job id.

[2020-05-18 14:09] angainor opened #5181 "UCX ERROR cuMemGetAddressRange_v2"
I am trying to use UCX 1.8 compiled with CUDA and multi-threading for GPU-GPU transfers over NVlink. This is a Power9 based system, in which pairs of GPUs are connected with 3 NVlink channels.

I have a custom application, which simply tests tagged send/recv between two ranks. I allocate the buffers on two different GPUs (each rank has it's own device) using `cudaMalloc` and submit them to UCX. Wh

[2020-05-18 14:51] bureddy commented on #5181
@angainor is it possible to share a repro?

[2020-05-18 17:00] angainor commented on #5181
@bureddy Yes, but it is technically a bit complicated to compile/debug. The application is written in C++, so the entire UCX layer is wrapped in (quite) a few classes. Example user code is [here](https://github.com/angainor/GHEX/blob/cuda/benchmarks/transport/ghex_p2p_bi_ft_wait_mt.cpp). The interesting part is the loop in lines 146-173, which submits the send/recv requests. The error pops up in t

[2020-05-18 23:46] bureddy commented on #5181
From error it looks like it it cuda context issue in the on of the calling thread.
In a single thread case, there is an implicit association of the cuda context used for the cuda allocation with the calling thread.  In multi-thread case, both threads need to have valid cuda context before calling any cuda api if both threads calling into UCX.  is it possible to thread not have a valid context when

[2020-05-19 03:55] dmitrygx commented on #4616
[code]
http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/4972/pipeline

[2020-05-19 08:43] angainor commented on #5181
@bureddy I ran `cudaSetDevice(rank);` before the parallel region. When I moved it into the parallel region, the error is gone :) Do you think this is the correct way to do this?

[2020-05-19 09:22] Keepmoving-ZXY commented on #5175
Does ucx support multithreading tag match on a single  ucp_worker and each thread use different tag value with a mask of all bit is 1 ?

[2020-05-19 09:47] brminich commented on #5175
yes, you will have to build UCX with multi-thread support and create UCP worker with multi-thread mode  enabled. You can use any tags then.

[2020-05-19 10:33] Keepmoving-ZXY commented on #5175
ok, thank you.

[2020-05-19 14:10] bureddy commented on #5181
yes. I'm assuming all threads in the process are using the same GPU based on the rank info. correct?
BTW, is rank is MPI rank or node-local rank? make sure rank is valid GPU index

[2020-05-19 17:53] angainor commented on #5181
@bureddy yea, that's a simple run with 2 ranks on the same node with 4 GPUs, so rank/gpu mapping is OK. Thanks for your help, I guess that's closed :)

[2020-05-19 17:53] #5181 closed

[2020-05-19 20:05] Akshay-Venkatesh opened #5183 "UCT zcopy performance of CMA in large message range"
### Describe the bug
Noticed that bandwidth starts to drop for large message zcopy operations on DGX-1 with the following Intel CPU:
[code]
Perf is as follows:
[code]
Is this expected? Is CMA known to have some overheads after 1MB? I noticed the same when using openmpi vader and see something similar with [MVAPICH](https://mvapich.cse.ohio-state.edu/performance/pt_to_pt). This seems to make a case

[2020-05-20 13:19] Keepmoving-ZXY commented on #5175
When a ucp worker is created,  I can get the ucp worker's address and length of the address, and I want to use ucp_put to directly write address content to peer, and this claim that peer must prepare a memory chunk. So the problem is that  peer don't know the length of address of this side's ucp_worker, so does the address of ucp_worker have the max length, such as 1k or 10k ?

[2020-05-20 14:42] brminich commented on #5175
For calling `ucp_put_nb` you need to have endpoint corresponding to the peer. To create that endpoint you need to exchange worker addresses using some out of band mechanism (e.g. TCP). Then create endpoint with `ucp_ep_create`

[2020-05-20 14:52] Keepmoving-ZXY commented on #5175
The peer's address comes from gRPC request, so the main problem is length of ucp address.

[2020-05-20 16:11] shamisp commented on #5175
You can query worker address: https://github.com/openucx/ucx/blob/master/src/ucp/api/ucp.h#L885

Here is an example how address is exchanged in Open MPI using their modes out of band service https://github.com/open-mpi/ompi/blob/b61bf9a00afae110d4aedbf2fc91c0170e3cc781/ompi/mca/pml/ucx/pml_ucx.c#L106

Here is similar example in UCX perf test:
https://github.com/openucx/ucx/blob/755be4911a9894995fe

[2020-05-21 17:16] yosefe commented on #5183
per discussion with @Akshay-Venkatesh this is most likely CPU LLC misses

[2020-05-22 02:25] Keepmoving-ZXY commented on #5175
ok, thank you.

[2020-05-22 02:25] #5175 closed

[2020-05-24 06:00] alinask commented on #4789
there was a failure on this test but with the output of bug - https://github.com/openucx/ucx/issues/5162

[code]

http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/5021/nodes/122/steps/1382/log/?start=0

@evgeny-leksikov  would it be fixed by https://github.com/openucx/ucx/pull/5166 as well?

[2020-05-24 06:07] alinask opened #5192 "failure on dc_ud/test_ucp_sockaddr_destroy_ep_on_err.onesided_s2c_cforce"
[code]

http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/5032/pipeline/

[2020-05-24 18:24] #5063 closed

[2020-05-24 18:24] #5103 closed

[2020-05-25 07:10] evgeny-leksikov commented on #4789
@alinask most likely - yes, I'll check

[2020-05-25 11:37] brminich commented on #5192
Can be related (http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/5059/nodes/121/steps/1266/log/?start=0)
[code]

[2020-05-26 01:11] afernandezody opened #5199 "Error: Transport retry count exceeded on mlx5_0:1/IB"
Hello,
Some other posts mention that this is a relatively general error so I'm not sure how to begin troubleshooting it. The MPI wrapper is OpenMPI v4.0.3, UCX is 1.8.0, and the command is:
`mpirun -np &&& --mca btl ^openib --mca pml ucx -mca call_hcoll_enable 1 -H master,compute001 executable
`

The error reads:
[code]
Thanks.

[2020-05-26 08:02] #5162 closed

[2020-05-27 06:46] avildema opened #5205 "[mtt] OSU hang with osc-ucx = off"
Description:
[code]

Configuration
[code]
 
Cmd:
`/hpc/local/benchmarks/daily/next/2020-05-26/hpcx-gcc-redhat7.6/ompi/bin/mpirun -np 2 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV,SIGBUS,SIGFPE,SIGABRT -x UCX_HANDLE_ERRORS=bt -x UCX_IB_PCI_RELAXED_ORDERING=off --bind-to core -x UCX_NET_DEVICES=mlx5_2:1 -mca osc '^uc

[2020-05-27 09:51] brminich commented on #3618
@yosefe, can it be fixed by #5016 or #5118?

[2020-05-28 03:19] Keepmoving-ZXY opened #5209 "Does ucx support tag match offload in RoCE?"
These days I have intergated ucx's tag match api to my project, and after a few performance test, I find the speed of tag match is slow,  I doubt there maybe some problem in my code, so I have two question now:
1. Does multiple thread greatly impact tag match's performance?
In my project there are at least two loop thread action of which like above:
[code]
The two loop thread use different tag val

[2020-05-28 06:16] dmitrygx opened #5210 "Memory leak of UCT request in pending test"
[code]
http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/5135/nodes/128/steps/674/log/?start=0

[2020-05-29 07:32] #5209 closed

[2020-05-29 17:11] lyu opened #5215 "configure reports "NUMA support is disabled" no matter what"
### Describe the bug
configure reports "NUMA support is disabled" no matter what

### Steps to Reproduce
- Clone UCX from GitHub master branch
- Run configure with `--enable-numa` or `--disable-numa`
- It always reports: `NUMA support is disabled`

### Setup and versions
- CentOS 7.5 x86_64
- autoconf 2.69

[2020-05-29 20:23] drossetti opened #5218 "on certain platforms, gdrcopy could be used to accelerate the tx path when the source buffer is backed by GPU device memory"
For example on IBM AC922, reading off the GPU memory has quite good performance, see below.
Hence it should be good for the inlined small message size case.
It could also be good in the medium size case.
[code]

[2020-05-29 20:47] drossetti commented on #5218
GPU device memory being cached by the CPU, latency should be as good as with CPU memory within a certain working set:
[code]
[code]

[2020-06-01 03:09] Keepmoving-ZXY opened #5226 "Performance of multiple thread tag match with one ucp worker and multiple ucp workers."
These days I spend some work time to complete a communicate demo with ucx tag match feature, and there are three threads in my demo: ```one for tag match recv```, ```one for ucp worker address tag match recv```, and ```one for tag send```.  And my demo has two version: three threads use __the same ucp worker(single ucp worker version)__,  and three threads use __different ucp worker(multiple ucp w

[2020-06-01 19:11] dmitrygx commented on #5210
fixed in #5211

[2020-06-01 19:11] #5210 closed

[2020-06-02 14:10] shamisp commented on #5226
@Keepmoving-ZXY can you please share details about your setup ? Do you know if hardware offload was used for tag matching ?

[2020-06-02 14:49] yosefe commented on #5226
@Keepmoving-ZXY can you pls try more iterations, for example 1,000,000 ?

[2020-06-03 07:39] Keepmoving-ZXY commented on #5226
In my demo, there will be two process in two different workstation, and each process will run tag send or tag recv simulately (during my run, I only let one process run tag send and another process run tag recv).  Below is what my single ucp worker version demo do during run:
1.create a ucp worker, and all operation below use the this ucp worker;
2.create a thread to run tag match recv operation,

[2020-06-03 07:46] Keepmoving-ZXY commented on #5226
@shamisp  I don't know how to check my NIC is support hardware tag match, below is output of `ibdev2netdev -v`:
[code]
The datasheet of  `MCX516A-CCAT`' can be seen at [here](https://www.mellanox.com/related-docs/prod_adapter_cards/PB_ConnectX-5_EN_Card.pdf), and I find `MPI Tag Matching` in `Enhanced Features` in datasheet.

[2020-06-03 07:58] Keepmoving-ZXY commented on #5226
@yosefe  the chart shows performance result of 1,000,000 transfer each of which is 100 bytes:
|  version | round 1 | round 2 | round 3|
|  ----  | ----  | ----  | ----  |
| single ucp worker | 5.516429 sec| 5.566268 sec| 5.034538 sec|
| multiple ucp worker |0.882731 sec| 0.884603 sec|1.040820 sec|

[2020-06-03 08:07] Keepmoving-ZXY commented on #5226
multiple ucp worker version is so fast when run 1,000,000 transfer each of which is 100 bytes.

[2020-06-04 03:57] drmichaelt7777 opened #5238 "Does UCX support plain Ethernet with TCP or UDP/IP ?"
### Describe the bug
A clear and concise description of what the bug is.
Simply speaking, does UCX support plain TCP/IP on common Ethernet networks? **Not** RoCE.
If yes, does ompi4 that came with HPC_X 2.6 can use plain Ethernet? Or do I need to recompiler OMPI to enable TCP

### Steps to Reproduce
- Command line
- UCX version used (from github branch XX or release YY) + UCX configure flags (can

[2020-06-04 08:53] avildema opened #5240 "[mtt] UCX-CUDA: Segmentation fault: address not mapped to object at address (nil)"
Configuration
[code]

Comment
[code]

Cmd:
`/hpc/local/benchmarks/daily/next/2020-06-03/hpcx-gcc-redhat7.6/ompi/bin/mpirun -np 2 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV,SIGBUS,SIGFPE,SIGABRT -x UCX_HANDLE_ERRORS=bt -x UCX_IB_PCI_RELAXED_ORDERING=off --bind-to core -x UCX_NET_DEVICES=mlx5_0:1 -mca osc '^ucx' -x

[2020-06-04 09:09] brminich commented on #5240
we do not support all atomic cases on cuda yet

[2020-06-04 11:14] brminich opened #5241 "log_test failures on hpc-test-node-roce"
### Describe the bug
log test failures
[code]
[code]

### Steps to Reproduce
Happened in
http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/5271/nodes/131/steps/645/log/?start=0

[2020-06-04 17:29] dmitrygx commented on #5238
@drmichaelt7777 UCX supports commodity Ethernet through TCP transport

[2020-06-04 17:33] dmitrygx commented on #5238
from your description, I see that TCP can be used on your system:
[code]

[2020-06-04 22:31] pentschev commented on #5027
Just wanted to thank you @yosefe for the help here, I finally got it all working!

[2020-06-04 23:32] drmichaelt7777 commented on #5238
Thanks, I have managed to start using TCP over IB or over Ethernet since that time. Just to verify, when we use " -mca pml ucx -x UCX_TLS=tcp" it will use the IPoIB if IB is available but if we add the adapter " -mca pml ucx -x UCX_TLS=tcp -x UCX  UCX_NET_DEVICES=_someeth_" it will just use the TCP over Ethernet ?

[2020-06-04 23:32] #5238 closed

[2020-06-05 03:06] dmitrygx commented on #5238
@drmichaelt7777 yes, it will use this IP interface. By default, TCP chooses the fastest interface comparing their BW characteristics.
Also, if multiple interfaces are specified thru `UCX_NET_DEVICES` or nothing is specified, UCP will choose several IP interfaces for multi-lane RNDV (by default, 2 lanes) and AM Zcopy protocol (by default, 1 lane) unless other was not asked thru RNDV/EAGER multi-lan

[2020-06-05 08:39] lytofd opened #5245 "Questions about ucp_get"
l have witen a demo for getting remote data by ucp_get,but  two stange results confused me .Could you answer my question.
1, In this picture,ucp_get spend  0.1 s to get remote data in first time ,but in next loop cost turns to be 0.00036 s  .
   why  it can  decreases so fast ? Can we avoid the cost of first time?

![image](https://user-images.githubusercontent.com/20499026/83855967-6d846380-a74b-

[2020-06-05 09:22] avildema opened #5246 "[mtt] ud_ep.c:672 Assertion `uct_ib_unpack_uint24(ctl->conn_req.ep_addr.ep_id) == ep->dest_ep_id' failed"
Configuration
[code]

Cmd:
`/hpc/local/benchmarks/daily/next/2020-06-05/hpcx-gcc-redhat7.6/ompi/bin/mpirun -np 56 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV,SIGBUS,SIGFPE,SIGABRT -x UCX_HANDLE_ERRORS=bt -x UCX_IB_PCI_RELAXED_ORDERING=off --bind-to socket -x UCX_NET_DEVICES=mlx5_3:1 -mca osc '^ucx' -x UCX_IB_REG_ME

[2020-06-05 09:58] avildema commented on #5240
I see a lot a same problem in mtt testing with different tests.
Falls have common parameters such as: `-x UCX_IB_NUM_PATHS=4 -x UCX_MAX_EAGER_LANES=4 -x UCX_MAX_RNDV_LANES=4 ` and `-mca osc ^ucx`

[2020-06-05 09:59] yosefe commented on #5245
@lytofd can you pls attach source code snipped of ucp_get and which UCX version is used?
what is the network setup?

[2020-06-05 10:31] brminich commented on #5240
can you reproduce some fail manually? If yes, pls add the details here

[2020-06-05 20:51] shamisp commented on #5245
@yosefe Maybe this is the first request on EP + connection setup ?

[2020-06-07 05:46] alinask commented on #5246
@avildema Can you please add to the ticket:
1. the output of the test - the part before the failure (without the display-map output).
2. what is the name of the job? is it ucx_roce testing?
3. which hosts were used in this job?

Thanks!

[2020-06-07 15:27] #5246 closed

[2020-06-07 15:56] stevenybw opened #5252 "UCX performance on TCP/IP is not good"
AWS provides 100 Gbps networking bandwidth for its I3en instances. However, it only provides TCP/IP
protocol. In order to investigate UCX's performance under TCP/IP, I tried to measure the performance on a cluster with IB EDR (100Gbps) and specify IPoIB as the transport as follows:
`UCX_NET_DEVICES=ib0 ucx_perftest -t tag_bw -s 65536 -M multi ${HOSTNAME}`

However, the result is unsatisfactory, le

[2020-06-08 06:17] lytofd commented on #5245
code:
[code]
UCX Version:

[2020-06-08 06:31] avildema commented on #5240
Yes, I can

`sh
salloc -p vulcan -N 2 -t 360
module load hpcx-gcc
module load hpcx-env/cuda
module load hpcx-env/gdrcopy

/hpc/local/benchmarks/daily/next/2020-06-07/hpcx-gcc-redhat7.6/ompi/bin/mpirun -np 2 -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV,SIGBUS,SIGFPE,SIGABRT -x UCX_HANDLE_ERRORS=bt -x UCX_IB_PCI_RELAXED_ORDERING=of

[2020-06-08 10:31] yosefe commented on #5245
@lytofd let's make sure which devices and transports UCX actually uses for communication.
Can you pls run with "export UCX_LOG_LEVEL=info" ? UCX will print several "INFO" log lines to stdout , can yous pls copy paste them to to ticket?

[2020-06-08 10:59] yosefe commented on #5252
@stevenybw UCX TCP bandwidth is limited by system TCP socket bandwidth.
How much BW are you getting with iperf TCP benchmark?

[2020-06-08 12:14] lytofd commented on #5245
server:
[code]

client
[code]

[2020-06-09 03:29] lytofd commented on #5245
l am sorry, l made a wrong reproduction yesterday,  the  phenomenon actually occured  on cluster environment.
This is the debug level log of ucx on server node:
https://paste.ubuntu.com/p/khV5GvXV3v/
client node:
https://paste.ubuntu.com/p/dJzSJsvyt7/

info level log on server node:
[code]

info level log on client node
[code]

[2020-06-09 05:08] brminich opened #5260 "Failure in rc/test_ucp_tag_mem_type.xfer_mismatch_length/55"
### Describe the bug
Happened here: https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/6805/logs/155 on swx-rdmz-ucx-gpu-02

[code]

[2020-06-09 06:50] brminich commented on #5145
also happened here http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/5344/pipeline/121

[2020-06-09 07:06] yosefe commented on #5245
@lytofd in this case TCP is not expected to be used by UCX, so the wireshark dump is probably unrelated

[2020-06-09 09:07] lytofd commented on #5245
Emm，it seems that l didn't explain it clearly.
First of all, my test aims to measure time cost of ucp_get. before getting remote data, different nodes shoud exchange own infomation such as work address and rkey , this routine  was implemented by tcp/ip stack。
Second， after exchanging informations,  client side will  invoke  ucp_get  to get  remote data, the picture above shows time cost of this in

[2020-06-09 09:11] yosefe commented on #5245
This is expected, some buffer resources are allocated on-demand during first iteration

this is weird, are you sure wireshark captured get() traffic and not something else?
does it show as RDMA_READ packet?

[2020-06-09 12:12] lytofd commented on #5245
1,Reproceding   one loop test  guarded  by wireshark,  the phenomenon does not appear.
2,  I am profoundly sorry  that l hava founded the log given to you is not correct. l have modifyed test case to get ten times.
server log  in debug level:
https://paste.ubuntu.com/p/GxTY7QhBPn/
client log in debug leve:
https://paste.ubuntu.com/p/J2RxyckSvt/

server log in info level:
[code]
client log in info

[2020-06-10 09:45] evgeny-leksikov opened #5271 "sockaddr/test_uct_sockaddr.err_handle/2 failure"
### Describe the bug
gtest failure on swx-rdmz-ucx-gpu-01:
[code]
full log: https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/6844/logs/127
accured here https://github.com/openucx/ucx/pull/5244

### Steps to Reproduce
configured with `./contrib/configure-devel`

[2020-06-11 06:03] Artemy-Mellanox commented on #5146
We will try to reproduce it on our site. Could you please attach gpaw failure logs - though it's not stable reproducer it still can give some hint.

[2020-06-11 11:12] talalmarouane opened #5280 "sys.c:762 UCX mm_sysv.c:75 UCX ERROR shmget(size=262144 flags=0x7b0) for user allocation failed"
### Describe the bug
[1591868130.001133] [orion1072:15407:0]            sys.c:762  UCX  ERROR shmget(size=262144 flags=0x7b0) for user allocation failed: No space left on device, please check shared memory limits by 'ipcs -l'
[1591868130.001140] [orion1072:15407:0]        mm_sysv.c:75   UCX  ERROR failed to allocate 262144 bytes with mm for user allocation
[1591868130.001143] [orion1072:15407:0]

[2020-06-11 11:30] talalmarouane commented on #5280
i need some help plz to fix this error i m available for any Additional information  .ty

[2020-06-11 11:33] yosefe commented on #5280
@talalmarouane can you try setting env var `UCX_TLS=tcp,self,posix`?

[2020-06-11 16:54] afernandezody commented on #5199
I was not able to make this work. However, I'm closing the ticket as I'm no longer troubleshooting it. Do not hesitate to reopen it if it's still of interest or someone else runs into the same issue. Thanks.

[2020-06-12 08:43] talalmarouane commented on #5280
hi @yosefe and i thank you for your reply on my post .i tried what you suggested and yet i still get the same error.

[2020-06-12 08:59] yosefe commented on #5280
@talalmarouane are you sure the env var propagated correctly? `UCX_TLS=tcp,self,posix` should disable mm_sysv completely...

[2020-06-12 09:10] talalmarouane commented on #5280
can you tell me plz how can i make sure that, the  env var propagated correctly?
by using **ucx_info - optoin** ?

[2020-06-12 09:12] #5145 closed

[2020-06-12 09:20] yosefe commented on #5280
`strings /proc/<pid>/environ|grep UCX_` where the pid is of on the running process

[2020-06-12 15:19] talalmarouane commented on #5280
the output is empty and i repeat eat time UCX_TLS=tcp,self,posix

[2020-06-15 03:20] #5226 closed

[2020-06-15 08:49] BookChan opened #5284 "ucx not work with openmpi4.0.3:No components were able to be opened in the pml framework."
### Describe the bug
command:
[code]
 error:
[code]

**How should I fix this problem?**

 ###
ucx version=1.8.0
openpmi version=4.3.9
[code]

**ompi_info:**
[code]

**mpi-demo.py**
[code]

[2020-06-15 20:50] rroohhh opened #5291 "ibv_reg_mr: Resource temporarily unavailable"
Running ChaNGa with `charm++` built with `ucx` machine layer fails after some time with
[code]

### Steps to Reproduce
Compile `charm++` using
[code]

Compile `ChaNG` against it and run it using
[code]

[code]

### Setup and versions
[code]

OpenMPI version:
[code]

[2020-06-16 00:01] ophirmaor commented on #5291
Hi,
Let us check this

+ @yosefe

[2020-06-16 05:32] brminich commented on #5291
@rroohhh, can you please also provide output of `ulimit -a` command?

[2020-06-16 08:51] yosefe commented on #5291
@rroohhh are there any mlx5-related errors in dmesg?

[2020-06-16 12:39] rroohhh commented on #5291
@brminich:
[code]

@yosefe this is at the bottom of dmesg:
[code]

[2020-06-16 12:54] yosefe commented on #5291
@rroohhh unfortunately dmesg on rhel6 does not have timestamps..
can you pls clear dmesg before the run, run again, and see if the message "ib_umem_get: failed to get user pages, nr_pages=6" appears during the run?

[2020-06-16 13:02] rroohhh commented on #5291
@yosefe I am just a user, so I don't have the necessary access privileges to clear dmesg.

[2020-06-16 14:05] yosefe commented on #5291
@rroohhh maybe compare dmesg before/after the run without clearing it?

[2020-06-16 17:02] rroohhh commented on #5291
@yosefe Ok I did that, the only new lines are
[code]

This is again the output produced by `ChaNGa`:
[code]

[2020-06-16 17:07] yosefe commented on #5291
@rroohhh got it. what is the MLNX_OFED / libibvers version on the machine?

[2020-06-16 17:29] rroohhh commented on #5291
@yosefe :
[code]

And ucx is compiled against `rdma-core` version `20`, which seems to be `libibverbs` version `1.5`.

[2020-06-16 17:31] yosefe commented on #5291
@rroohhh is it possible to recompile UCX with same MLNX_OFED version which is being used at runtime?
in general, there is no compatibility between rdma-core and MLNX_OFED

[2020-06-16 19:28] rroohhh commented on #5291
@yosefe That doesn't seems to change anything, apart from the problem now being with `ibv_exp_reg_mr` instead of `ibv_reg_mr`

[code]

[2020-06-17 07:30] BookChan commented on #5284
add  --mca pml_base_verbose 10 --mca mtl_base_verbose 10
and get more logs:

[code]

[2020-06-17 07:31] jussienko commented on #5146
Problem should be possible to reproduce with GPAW version 20.1.0 when running a subset of test set as follows:
[code]
Typical failure is `AssertionError:  0.061108274763993047 != 0.06110838525960683` from the last test, but sometimes code just deadlocks (individual test should take no more than 3 s, and the whole subset around 20 s). The deadlock is partly caused because testing framework does not

[2020-06-17 10:53] yosefe commented on #5291
@rroohhh can you pls try with the UCX patch below:
[code]

[2020-06-17 16:13] rroohhh commented on #5291
@yosefe unfortunately that doesn't help either:
[code]

[2020-06-18 02:58] lytofd opened #5300 "Question about segment fault"
While ucx encounts segment fault,  output on screen  will be blocked unless  pressing enter button to print details of error stack.But sometime  it does not work , whatever l pressed(even Ctrl+Z), the program still stayed on the blocking stage.
How to make ucx ignoring segment fault or how can i handle this error.
info of ucx
[code]

[2020-06-18 08:25] #5260 closed

[2020-06-18 09:13] yosefe commented on #5300
@lytofd build UCX with ./contrib/configure-release or set UCX_HANDLE_ERRORS="" env var

[2020-06-18 09:52] stevenybw commented on #5252
Server side: `iperf -s --bind 192.168.141.6`
Client side: `iperf -c 192.168.141.6 -parallel $T`

The result of iperf TCP benchmark is as follows. A single client thread can utilize 0.58GB/s bandwidth. When 8 client threads are used, the bandwidth reaches about 1.05GB/s.

[code]

[2020-06-18 10:10] yosefe commented on #5252
@stevenybw seems iperf results match UCX TCP results, right?

[2020-06-18 10:23] stevenybw commented on #5252
Not exactly. UCX TCP result matches single-thread performance, but slower than the optimal 1GB/s performance. I guess UCX TCP uses a single thread with a single pair of TCP/IP connection to communicate (I'm not sure, does it?). If so, it is the user's responsibility to parallelize the communication (multiple threads, multiple UCX workers, ...). I thought UCX would hide such detail because it is po

[2020-06-18 10:52] alinask commented on #5252
@stevenybw Which version of UCX are you using?
Can you try testing ucx_perftest with the UCX master branch please?
We've made some changes to ucx_perftest that might help.
Also, can you set the number of threads you want to use with -T ?

[2020-06-18 12:37] stevenybw commented on #5252
Result of UCX master (5bdaaedb6e095d30cd4e9b162540b5f86b787658)

[code]

Result of our currently used UCX Version: ucx-1.8.0 (Installed from spack with configuration `~assertions~cuda~debug~gdrcopy~java~logging~optimizations~parameter_checking+pic+thread_multiple cuda_arch=none`)

[code]

[2020-06-18 12:37] stevenybw commented on #5252
Result of UCX master (5bdaaedb6e095d30cd4e9b162540b5f86b787658)

[code]

Result of our currently used UCX Version: ucx-1.8.0 (Installed from spack with configuration `~assertions~cuda~debug~gdrcopy~java~logging~optimizations~parameter_checking+pic+thread_multiple cuda_arch=none`)

[code]

[2020-06-18 14:42] yosefe commented on #5252
@stevenybw currently the user has to create multiple threads and use multiple workers to get more BW with TCP transport (as demonstrated by ucx_perftest). So far a multi-threaded TCP transport in UCX was not implemented, but contribution are always welcome :)

[2020-06-18 19:19] awlauria opened #5302 "Assertion when running under valgrind"
### Describe the bug
Running ompi master compiled with external ucx master running under valgrind hits an assert:

[code]

As a possibly unrelated issue - it seems that the assert will trigger a segv.

### Steps to Reproduce
- $. mpirun --prefix `pwd`/exports -np 2 --host "f8n02:1,f8n03:1"  valgrind --log-file=./output.%p ./hello
- Current master branch for ucx and ompi
- Compiled ucx with and wit

[2020-06-18 21:29] awlauria commented on #5302
Note - that on v1.8 (using the mpi installed from mofed 4.9-0.1.7.2) I run into a different error:

[code]

[2020-06-19 07:07] stevenybw commented on #5252
Is this okay in ucx-1.8? Or I should use the master branch? The ucx_perftest result of ucx-1.8 shows that it has a scalability issue. I'm not sure it's the problem of the benchmark itself or from UCX.

[2020-06-19 19:58] yosefe commented on #5252
The performance is the same in master and v1.8.x, master just fixed ucx_perftest measurement for multiple threads.

[2020-06-20 17:15] yosefe commented on #5291
Escalated the issue internally, reference [2209700](https://redmine.mellanox.com/issues/2209700)

[2020-06-22 09:40] Keepmoving-ZXY opened #5312 "why there must be a copy after tag match recv?"
Today I encounter a segment fault error after recv with tag match,  I find that there is something strange in tag match, so I have a detailed look at the tag match usage example in `ucp_hello_world.c`, and a question comes when see below code:
[code]
the `msg` is a argument of `ucp_tag_msg_recv_nb`, see below code:
[code]

What I don't understand is that why there must be a copy from `msg` to `str

[2020-06-22 10:38] yosefe commented on #5312
@Keepmoving-ZXY the copy is not necessary, probably there is some other issue

[2020-06-22 10:50] Keepmoving-ZXY commented on #5312
ok, and is there anything worse to notice when run tag match recv in a while (1) loop?

[2020-06-22 10:59] yosefe commented on #5312
@Keepmoving-ZXY if you can post a reproducer and the backtrace of the segfault, we may be a able to see where the problem is

[2020-06-22 11:13] Keepmoving-ZXY commented on #5312
Below is my code:
[code]
The function `push_data` will push content received to Python with Python C API, and if I comment the `free(msg)`, the segment fault disappears. Below is backtrace:
[code]

[2020-06-22 11:25] Keepmoving-ZXY commented on #5312
It seems that somewhere in my code destroy internal structure of malloc.

[2020-06-22 11:26] Keepmoving-ZXY commented on #5312
And if I replace `msg = malloc(info_tag.length);` with `msg = malloc(info_tag.length+100);`, segment fault disappear.

[2020-06-22 14:06] evgeny-leksikov opened #5313 "rc_verbs/test_uct_perf.envelope/0 failure under valgrind"
[code]
HOSTNAME=swx-rdmz-ucx-legacy-02
occured in PR https://github.com/openucx/ucx/pull/5236
full log: https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/7129/logs/136

[2020-06-22 15:11] yosefe commented on #5312
@Keepmoving-ZXY maybe the push_data function expects that the pointer it gets as argument (tag_ptr = msg) will not be released?

[2020-06-23 03:06] Keepmoving-ZXY commented on #5312
maybe the Python C API request not to free memory, but I need to write a demo to confirm this.

[2020-06-23 06:26] leibin2014 commented on #5098
@lytofd Can you please provide the way or code to reproduce the issue you reported as this seems it's not a normal case?

[2020-06-23 06:28] lytofd commented on #5098
It does not appears again,may be something is wrong at that time.

[2020-06-23 06:29] leibin2014 commented on #5098
OK.

[2020-06-23 06:31] leibin2014 commented on #5098
@Keepmoving-ZXY Seems the issue you reported is different as @lytofd's.  Is it still reproduced?

[2020-06-23 06:33] Keepmoving-ZXY commented on #5098
@leibin2014  He is my workmate, so we are saying the same problem, thank you for attention.

[2020-06-23 06:37] #5098 closed

[2020-06-23 06:37] leibin2014 commented on #5098
Thanks!

[2020-06-23 15:43] pcapuzzi opened #5318 "ucx_perftest error with RC transport"
### Describe the bug
We want to try UCX in our openmpi4 installation and are finding some errors when testing UCX using ucx_perftest.  In particular, the RC transport is giving errors, excluding RC using for instance UCX_TLS=ud,tcp gives no problem.
The logged error is
[code]
At the same time the kernel logs `ib_mthca 0000:42:00.0: Async event 16 for bogus QP 00350406
`

### Steps to Reproduce
Run

[2020-06-23 15:58] yosefe commented on #5318
@pcapuzzi can you pls try with this patch (just as experiment, it's not a correct fix):
[code]

[2020-06-23 17:24] pcapuzzi commented on #5318
After printing some headers the command is stuck at least some minutes with both CPUs at 100% , after that I interrumpted it with ctrl-c.  I attach logfile obtained by setting UCX_LOG_LEVEL=data . Thank you very much.
[logdata2.log](https://github.com/openucx/ucx/files/4820907/logdata2.log)

[2020-06-23 17:29] yosefe commented on #5318
Does it mean it has passed the point where there was a "local QP operation err" before the patch?

[2020-06-23 17:42] pcapuzzi commented on #5318
Well, what i can tell now is that the message disappeared from the console and there are no messages from kernel. I  don't know if it means it is stuck after or before because I actually don't know the code itself. I'll try to read the code to understand at least some. Thank you.

[2020-06-23 17:59] yosefe commented on #5318
@pcapuzzi actually, i would expect it to stuck, since https://github.com/openucx/ucx/issues/5318#issuecomment-648256596 is not a rela fix, it actually makes flush operation a no-OP. I've just made it to make sure the problem is because of doing RDMA_WRITE with 0-byte length. the real fix would be to use real rkey/vaddr to flush operation on older HCA's.

[2020-06-23 18:21] pcapuzzi commented on #5318
Thank you @yosefe . That means you have a clear idea of what the problem is, right?, Given that these are old HCA's,  do you think the problem will be fixed at some point?.

[2020-06-23 19:59] rzambre opened #5320 "What is UCX's policy of choosing transport?"
### Describe the bug

In the past (with UCX 1.5.0), I used to set `UCX_NET_DEVICES=mlx5_0:1` and `UCX_TLS=rc_mlx5,rc` and hope that `rc_mlx5` would be used during the fast-path operations. If I set `UCX_TLS=rc_mlx5` only, I would get an error during `ucp_init`.

With the latest UCX `master`, I see with `ucx_info -d` that there are `rc_verbs` and `rc_mlx5` transports. But when I set `UCX_TLS=rc_mlx

[2020-06-23 20:55] yosefe commented on #5320
@rzambre pls see https://openucx.readthedocs.io/en/master/faq.html#selecting-networks-and-transports
rc_verbs and rc_mlx5 should not be used directly, but rather the ones listed in https://openucx.readthedocs.io/en/master/faq.html#list-of-main-transports-and-aliases

[2020-06-23 21:13] rzambre commented on #5320
Thanks! Wasn't aware of the new documentation. That is helpful.

[2020-06-23 21:13] #5320 closed

[2020-06-23 23:50] Keepmoving-ZXY commented on #5312
Unfortunately， I found that crc32 value of msg tag match recv in recv side is different with that of msg tag match send in send side

[2020-06-24 08:03] Keepmoving-ZXY commented on #5312
@yosefe  My code has upload to [here](https://github.com/Keepmoving-ZXY/TagMatchDemo), and these day can reproduce the crc32 value mismatch between send and recv msg, could help me find out what cause the problem?

[2020-06-24 14:06] yosefe commented on #5318
duplicate of https://github.com/openucx/ucx/issues/2951#issuecomment-432644664

[2020-06-24 18:43] quasiben opened #5322 "Shared Memory Performance - missing wakeup support"
I am interested in adding memory support to UCX-Py/Dask (currently we don't add `sm` to the `UCX_TLS` list) and in testing what kind of performance I should expect with core ucx, I am not seeing any benefit with smaller message ~1MB.  Below I've benchmarked 1 and 10MB transfers with `ucx_perftest` and tuned things to typical UCX-Py settings.  I am using the tip of 1.8.x to perform these benchmarks

[2020-06-24 18:48] yosefe commented on #5322
@pentschev can you pls check the main CPU consuming functions in each case by "perf top" tool?

[2020-06-24 20:15] pentschev commented on #5322
It seems that the primary issue in the results of the description was that both `ucx_perftest` processes were being pinned to the same CPU. Pinning them to different CPUs shows much better performance:

On a DGX-1:

- Unpinned 1MB UCX_TLS=sm,sockcm -> 3.3GB/s
- Unpinned 1MB UCX_TLS=tcp,sockcm -> 2.7GB/s
- Unpinned 1MB UCX_TLS=sm,tcp,sockcm -> 2.7GB/s
- Pinned 1MB UCX_TLS=sm,sockcm -> 8.3GB/s
- Pin

[2020-06-24 20:21] quasiben commented on #5322
Thank you for updating @pentschev .  @yosefe are these results expected ?  My hope was that adding `sm` would be significantly faster than `tcp`.  That is, `sm,tcp,sockcm` should have a much higher bandwidth than `tcp,sockcm` on both commodity hardware like an Intel NUC and something specialized like a DGX1.

[2020-06-25 07:34] yosefe commented on #5322
on different NUMA nodes, sm is capped by ~3 GB/s due to single core memory BW.
1. @pentschev can you pls post full command lines for the "pinned" version?
1. what wash ucx `./configure` command?

[2020-06-25 07:59] yosefe commented on #5318
Given that this is ~15yo HCA, it's unlikely to be fixed soon.. :(

[2020-06-25 10:02] Keepmoving-ZXY commented on #5312
What  I can eusure so far is that everything is normal when the send size of first send is 1024, and segment fault and crc32 mismatch when the first send size  is 102400. In my code, the same msg will be sent two times, I call the first time send to first send.

[2020-06-25 10:04] Keepmoving-ZXY commented on #5312
And if the first send performs normal,  it seems that the second send will be normal no matter the size of send msg.

[2020-06-25 10:28] pentschev commented on #5322
The command was:

[code]

Only `-c` was changed for pinned/unpinned tests above.

Configure flags:

[code]

[2020-06-25 13:04] pcapuzzi commented on #5318
I understand. Thank you for your work!.

[2020-06-25 14:43] yosefe commented on #5322
@pentschev
1. probably better to compile UCX in release mode (./contrib/configure-release)
2. what is "perf top" for "Pinned 1MB UCX_TLS=sm,tcp,sockcm" and "Pinned 1MB UCX_TLS=tcp,sockcm"?

[2020-06-25 18:05] quasiben commented on #5322
@yosefe this are experiments on an Intel Nuc with `./contrib/configure-release` and numa libraries on the system.  The Server is pinned on CPU 0 and the Client on CPU 1

## tcp,sm,sockcm

### ucx_perftest
[code]

<details>
<summary>perf top</summary>

[code]

</details>

## tcp,sockcm

[code]

<details>
<summary>perf top</summary>

[code]

</details>

[2020-06-25 21:16] pentschev commented on #5322
And from a DGX-1, release build:

## tcp,sm,sockcm

<details><summary>ucx_perftest</summary>

[code]

</details>

<details><summary>perf top</summary>

[code]

</details>

## sm,sockcm

<details><summary>ucx_perftest</summary>

[code]

</details>

<details><summary>perf top</summary>

[code]

</details>

It indeed looks now much better in both cases, at around 10.9GB/s.

[2020-06-26 10:06] yosefe commented on #5322
@pentschev this is as expected. In both cases shared memory is being used, by single-copy mechanism (copy_user_enhanced_fast_string is used mostly). For completeness, we can also measure `UCX_TLS=tcp,sockcm` to measure TCP-only bandwidth (which we expect to be lower)

[2020-06-26 10:54] pentschev commented on #5322
Thanks @yosefe , that's right, tcp only is slower, at around 5.3GB/s, results below:

## tcp,sockcm

<details><summary>ucx_perftest</summary>

[code]

</details>

<details><summary>perf top</summary>

[code]

</details>

Still perf top shows `copy_user_enhanced_fast_string` with tcp only, is that expected? There's of course `tcp_sendmsg_locked` indicating tcp is really in use, but consuming much l

[2020-06-26 10:58] yosefe commented on #5322
@pentschev probably TCP eventually uses same memory copy function in the kernel. it takes 40% of the time vs. ~34% with shared memory, which can indicate in case of TCP the copy is done on both sides (since actual BW for TCP is ~2x lower)

[2020-06-26 11:10] pentschev commented on #5322
That makes sense, thanks for the comment.

To me the performance we obtained here of around 11GB/s with SM vs 5.3GB/s with TCP seems reasonable. @quasiben do we have any other questions or issues?

[2020-06-26 15:48] quasiben commented on #5322
No I think we can close.  Thank you @pentschev and @yosefe

[2020-06-28 11:22] leibin2014 commented on #5312
@Keepmoving-ZXY I failed running your app, seems something is different between my testbed and yours.
For example the file /sys/class/net/bonding_masters/device/vendor doesn't exist in my testbed.
$./app
[1593339057.758313][device.h:103][tid 140611470288704] E open /sys/class/net/bonding_masters/device/vendor failed.
[1593339057.758339][device.h:103][tid 140611470288704] E open /sys/class/net/bond

[2020-06-28 11:27] Keepmoving-ZXY commented on #5312
@leibin2014  I am sorry for that, I have delete nic check in my code, see this commit:https://github.com/Keepmoving-ZXY/TagMatchDemo/commit/1029d77372b3161dce3c599bbe928d65b62b5346

[2020-06-28 12:04] leibin2014 commented on #5312
Can you pls give the command lines to reproduce the problem? I didn't reproduce it with below commands:
[code]
[code]

[2020-06-28 12:16] Keepmoving-ZXY commented on #5312
@leibin2014 Can you show me the output in the terminal that run `app`？

[2020-06-28 13:47] leibin2014 commented on #5312
@Keepmoving-ZXY
[code]

[2020-06-28 13:48] leibin2014 commented on #5312
@Keepmoving-ZXY BTW, UCX_SOCKADDR_CM_ENABLE is better to be set as y if you are using RDMA.

[2020-06-28 13:55] Keepmoving-ZXY commented on #5312
@leibin2014  I am so amazed that the checksum of msg can match between send side and recv side, in my environment the checksum is not the same.

[2020-06-28 13:58] Keepmoving-ZXY commented on #5312
ok, I will have a try.

[2020-06-29 03:50] leibin2014 commented on #5312
@Keepmoving-ZXY crc error is not reproduced with TAG_MATCH_SEND_LEN=1024000, but reproduced with TAG_MATCH_SEND_LEN=10240000.

[2020-06-29 03:54] Keepmoving-ZXY commented on #5312
@leibin2014 according my experience, this error may be related to endpoint creation.

[2020-06-29 03:58] Keepmoving-ZXY commented on #5312
@leibin2014 today, I replace the demo's ep create code with the ep create code in ucp_hello_world.c, this problem seem disappear, so I suspect that this problem maybe related to error in ep creation.

[2020-06-29 04:10] leibin2014 commented on #5312
@Keepmoving-ZXY Seems good news. I can also have a test if you can update the code.

[2020-06-29 04:17] abellina opened #5335 "1.8.1-rc1 artifacts are for ucx 1.9"
The bits in the tagged v1.8.1-rc1 are incorrect (they point to this tag: https://github.com/openucx/ucx/releases/tag/v4.2.0)

Seems like what is producing these could have a hard coded sha of `afbb24a`

[code]

And after installing:

[code]

[2020-06-29 04:18] abellina commented on #5335
@shamisp FYI, noticed this while trying to test 1.8.1-rc1.

[2020-06-29 04:28] Keepmoving-ZXY commented on #5312
@leibin2014 ok, I will update my code later.

[2020-06-29 07:50] leibin2014 commented on #5312
@Keepmoving-ZXY
Seems the difference is on the tag data. 105 bytes tag data are all 0 when send 10240000 bytes.
```[1593416395.739726][tag_match.c:425][tid 140701600597760] D [RECEIVER]tag 0x1337a880, crc32 value 0x6a44b09a, length value 10240105```

[2020-06-29 08:11] leibin2014 commented on #5312
Sorry, all rev data are 0 when send 10240000 bytes.

[2020-06-29 08:15] Keepmoving-ZXY commented on #5312
Maybe we should write send msg and recv msg to different file, then use binary file compare tools (such as HexCmp in win 10) to see the difference, this is what I use from yesterday to now.

[2020-06-29 08:19] Keepmoving-ZXY commented on #5312
And I have upload my newest code to github, see this repo:https://github.com/Keepmoving-ZXY/TagMatchExample/tree/more_complex, please notice the branch. Could you run my newest code to see whether the checksum of send and recv msg exist or not? In my workstation,  the problem of checksum disappear.

[2020-06-29 10:08] leibin2014 commented on #5312
@Keepmoving-ZXY Failed on compile the new branch.
[code]

[2020-06-29 11:48] leibin2014 commented on #5312
@Keepmoving-ZXY There is just python2.7 on my machine. And it's inconvenient to install python3 since this is a public machine shared by team. Can you pls just add this change on previous code. Maybe it's better to do less changes on the code to narrow down the problem.

[2020-06-29 11:52] Keepmoving-ZXY commented on #5312
@leibin2014  ok, please wait for a moment.

[2020-06-29 12:20] Keepmoving-ZXY commented on #5312
@leibin2014  Please pull the newest code, I comment some code about running python callback.

[2020-06-29 12:31] leibin2014 commented on #5312
@Keepmoving-ZXY I saw the comments `/* ucp_tag_msg_recv_nb() cannot return NULL */`. Where do you get the information? As I remember if the return value is NULL, then means the data are already received to the buffer. If the return value is not NULL, shound wait the callback function is called then the data are received in the buffer. You use the data in the received buffer imediately after the re

[2020-06-29 12:34] Keepmoving-ZXY commented on #5312
@leibin2014 `/* ucp_tag_msg_recv_nb() cannot return NULL */ ` is copy from `ucp_hello_world.c`, so it is my fault that I don't delete in time. And could you explain me that why can't I immedicately use received buffer after recv function returned?

[2020-06-29 12:38] leibin2014 commented on #5312
@Keepmoving-ZXY Since the ffunction ucp_tag_msg_recv_nb is non block function, if the return value is NULL then means receive finished and you can use the data in recv buffer, if the return value is not NULL then means the receive is not finished, it will be finished after the callback function is called and you should use the data in the recv buffer after the callback function is called.

[2020-06-29 12:45] leibin2014 commented on #5312
@Keepmoving-ZXY Seems above can explain all the problems you mentioned? More data can be failed more easier since it takes more time to receive.

[2020-06-29 12:49] Keepmoving-ZXY commented on #5312
@leibin2014 my code seems obey what you said,  code about tag match recv is copy from `ucp_hello_world.c`. If the `ucp_tag_msg_recv_nb` return `NULL`, I calculate the checksum of recv content immedicately which is not a problem. and if the  `ucp_tag_msg_recv_nb`  return non-NULL, the function `wait` will wait until the recv callback run, please have a detailed look at the function `recv_handler` a

[2020-06-29 13:11] leibin2014 commented on #5312
@Keepmoving-ZXY OK, I missed that wait function.
The new code doesn't have the CRC error. Got some other error on the server side:
[code]

[2020-06-29 13:36] leibin2014 commented on #5312
@Keepmoving-ZXY Looks like tag_match_create_ep is not the only change. I change tag_match_create_ep in TagMatchDemo according to TagMatchExample, the CRC error problem is still there.

[2020-06-29 13:39] alinask opened #5337 "failure on test_ucp_sockaddr_destroy_ep_on_err.onesided tests"
First occurence taken from https://github.com/openucx/ucx/issues/5192#issuecomment-633529325 :

Can be related (http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/5059/nodes/121/steps/1266/log/?start=0)
[code]

Second one from https://github.com/openucx/ucx/pull/5327#issuecomment-649714574 :

[code]

https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=720

[2020-06-29 13:40] alinask commented on #5337
Could be related to the lack of 'ep_timeout' mechanism on the client after the server closed its ep with the FORCE mode.

[2020-06-29 13:44] Keepmoving-ZXY commented on #5312
@leibin2014 please ignore socket read error, this is due to the wrong code logical. And I am looking for the difference between code in two repo.

[2020-06-29 14:04] shamisp commented on #5335
@abellina thanks ! @yosefe - seem like current AZP scripts are broken, unless those have been uploaded manually.

[2020-06-29 15:42] pentschev commented on #5322
We've been trying to run UCX-Py also with shared memory, we have a simple [benchmark that spawns two processes](https://github.com/rapidsai/ucx-py/blob/branch-0.15/benchmarks/local-send-recv.py) that I patched to make sure CPU is pinned.

<details><summary>local-send-recv-py CPU pinning patch</summary>

[code]

</details>

It can be reproduced as follows:

[code]

By enabling UCX-Py's debug inform

[2020-06-29 19:32] yosefe commented on #5322
@pentschev can you pls refer to UCX-py code which is user to create context, worker, and endpoint?

[2020-06-29 19:55] pentschev commented on #5322
Context:

https://github.com/rapidsai/ucx-py/blob/43c32e6223c42449fc0d89b52773016c82380073/ucp/_libs/ucx_api.pyx#L197-L214

Worker:

https://github.com/rapidsai/ucx-py/blob/43c32e6223c42449fc0d89b52773016c82380073/ucp/_libs/ucx_api.pyx#L283-L287

Endpoints:

https://github.com/rapidsai/ucx-py/blob/43c32e6223c42449fc0d89b52773016c82380073/ucp/_libs/ucx_api.pyx#L349-L384

Endpoint parameters:

https

[2020-06-29 19:55] pentschev commented on #5322
Are there any special flags we should be including for shared memory? I've been looking at that, it seems like we may be missing something.

[2020-06-29 20:54] bureddy commented on #5322
seems WAKEUP feature request disabled sm (https://github.com/rapidsai/ucx-py/blob/43c32e6223c42449fc0d89b52773016c82380073/ucp/_libs/ucx_api.pyx#L204) because of missing UCT_IFACE_FLAG_EVENT_RECV capability

[2020-06-29 21:27] pentschev commented on #5322
Thanks @bureddy , removing the `UCP_FEATURE_WAKEUP` _and_ using UCX in blocking mode (see https://github.com/rapidsai/ucx-py/blob/43c32e6223c42449fc0d89b52773016c82380073/ucp/_libs/ucx_api.pyx#L297-L319 ) indeed seems to resolve that. Does that mean that we _must_ use UCX in blocking if we want to enable `sm`?

[2020-06-29 21:32] pentschev commented on #5322
Sorry, I meant to say using _non-blocking_ mode. I disabled blocking mode, the blocking mode is set by the code from my previous comment.

[2020-06-29 22:17] yosefe commented on #5322
This is indeed the case. We can say it's a missing feature: wakeup support for shared memory transports.

[2020-06-29 22:27] pentschev commented on #5322
Thanks both @yosefe and @bureddy for the comments, that has been very helpful to find source of the issue. I will do some testing in non-blocking mode without the wakeup feature to see how UCX-Py behaves and report back once I have some results.

[2020-06-29 23:00] abellina commented on #5335
Thanks @shamisp, @yosefe. I see this is merged now: https://github.com/openucx/ucx/pull/5331, will the `1.8.1-rc1` tag be overwritten? or is that rc2?

[2020-06-30 06:33] Keepmoving-ZXY commented on #5312
@leibin2014  It is hard to find the reason of CRC32 of send msg and recv msg, the code of TagMatchExample repo is from ucp_hello_world.c and add some change.

[2020-06-30 07:18] Keepmoving-ZXY commented on #5312
@leibin2014  In this commit https://github.com/Keepmoving-ZXY/TagMatchDemo/commit/fb12862ca444189cbc1b1d530de775fdbb276293, all send bytes will be writen to a file named `eggroll_send.bin` and all recv bytes will be writen to a file named `eggroll_recv.bin`, and by comparing content of the two file I find that ucx only transport 0x2025 bytes to peer in reality.

[2020-06-30 07:21] leibin2014 commented on #5312
@Keepmoving-ZXY I think I found the root cause for the problem in TagMatchDemo.  In the function request_init() should be assgined as 0, not 1.
[code]

[2020-06-30 07:26] Keepmoving-ZXY commented on #5312
@leibin2014 oh, thank you very much, this is my fault. Everything is normal:
[code]

[code]

[2020-06-30 07:26] leibin2014 commented on #5312
Cool! Then let's close this issue. Thanks!

[2020-06-30 07:27] Keepmoving-ZXY commented on #5312
ok, you can close this issue.

[2020-06-30 07:30] leibin2014 commented on #5312
@Keepmoving-ZXY I think just the author can close issue.

[2020-06-30 07:34] Keepmoving-ZXY commented on #5312
ok

[2020-06-30 07:34] #5312 closed

[2020-06-30 07:52] amaslenn commented on #5335
There is an issue with Azure pipeline configuration: it didn't remove files from the previous build, so it took the wrong `.deb`. I will update release pipeline to address this issue. Once this fix merged to v1.8.x I'll re-trigger build for rc1.

cc @yshestakov

[2020-06-30 10:56] amaslenn commented on #5335
I've made a fix (not PR'ed yet) and created two test releases:
1. [v42](https://github.com/openucx/ucx/releases/tag/v42) for `master` branch
2. [v43](https://github.com/openucx/ucx/releases/tag/v43) for `v1.8.x` branch. @abellina you can use this to check `v1.8.1-rc1` I've just added my fix for Azure pipeline on top of the `v1.8.1-rc1` tag.

From v43 release:
[code]

From v42 release:
[code]

[2020-06-30 13:17] abellina commented on #5335
Thanks @amaslenn. I was able to get the 1.8 version with tag 43 (as suggested):
[code]

I noticed that the `v1.8.1-rc1` tag was updated, but the binaries are still the same, just FYI.

[2020-06-30 13:49] amaslenn commented on #5335
Yep, I was wrong thinking I can fix it through pipeline re-run, it can be done only manually (will do that later).

[2020-06-30 16:24] #5335 closed

[2020-07-01 07:22] yosefe commented on #4523
Also in http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/5756/nodes/128/steps/1874/log/?start=0:
(with valgrind)
[code]

[2020-07-02 07:37] amaslenn commented on #5335
@abellina @shamisp I've updated v1.8.1-rc1 .deb artifacts.

[2020-07-02 10:22] avildema opened #5351 "[MTT] UCX error: mlx5dv_devx_obj_create(...) failed, syndrome 0: Cannot allocate memory"
Configuration
[code]

MTT test: ucx-hwtm-rc

Cmd:
`/hpc/local/benchmarks/daily/next/2020-07-02/hpcx-gcc-redhat7.6/ompi/bin/mpirun -np 256 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV,SIGBUS,SIGFPE,SIGABRT -x UCX_HANDLE_ERRORS=bt -x UCX_IB_PCI_RELAXED_ORDERING=off --bind-to core -x UCX_NET_DEVICES=mlx5_2:1 -mca osc u

[2020-07-02 10:29] brminich commented on #5351
do you have dmesg output for relevant nodes?

[2020-07-02 10:32] avildema commented on #5351
Unfortunately no, we do not collect them

[2020-07-02 14:13] shamisp opened #5354 "1.8.1-RC2 release management"
- [x] Update NEWS file.
- [x] Update version in configure.ac
- [x] Update changelog entry in ucx.spec.in
- [x] Change release from draft to release. After making release tag, AZP converts it to draft due to new tarball upload. Release manager has to check tarballs and re-release the same tag.

[2020-07-03 09:11] Keepmoving-ZXY opened #5358 "too many transfer time of tag match when send a small bytes after send a large bytes."
### Describe the bug
Today I hava a performance test of ucx tag match performance, and find an bug. In my case, I send two messages,  size of first messages is  1048576151 bytes (more than 1 gb), sizeof of second messages is  105 bytes, and I encounter the time of tag match transfer them: tag match transfer 1048576151  bytes use 0.49s, then transfer  105 bytes use nearly 4s which is unacceptable.

[2020-07-03 11:13] brminich commented on #5358
@Keepmoving-ZXY, failed to run your example with the following err
[code]
Can you please collect UCX debug output with setting `UCX_LOG_LEVEL=data` env var and attach it here?
Note UCX should be build in debug mode for that

[2020-07-03 11:47] Keepmoving-ZXY commented on #5358
@brminich can you try to pull code in https://github.com/Keepmoving-ZXY/TagMatchDemo/tree/send_too_time and re-run?

[2020-07-03 12:41] brminich commented on #5358
@Keepmoving-ZXY  the code is different there.
The problem is in the application, this part is taking time, not UCX: https://github.com/Keepmoving-ZXY/TagMatchDemo/blob/send_too_time/tag_match.c#L456

If you add some trace at https://github.com/Keepmoving-ZXY/TagMatchDemo/blob/send_too_time/tag_match.c#L475, you will see that receive happens immediately, like below:
[code]

[2020-07-03 12:50] Keepmoving-ZXY commented on #5358
@brminich  I don't think so, and I delete the checksum of file, the problem is still exist, see below log:
server log:
[code]

client log:
[code]

from output, we can get that:
1. the 105 bytes messages send at `1593780536.606763` and recv at `1593780540.858758`, tag send spend nearly 4s.

[2020-07-03 12:58] Keepmoving-ZXY commented on #5358
This is the output of client when define `UCX_LOG_LEVEL=DATA`:
[code]

[2020-07-03 13:05] brminich commented on #5358
Can you post the logs from the server (which received messages)?
If I disable checksum calculation, data is received very quickly, like below:
[code]

[2020-07-03 13:06] Keepmoving-ZXY commented on #5358
The log of server:
[code]

[2020-07-03 13:12] Keepmoving-ZXY commented on #5358
@brminich  it seems that you are right, checksum of 1GB data spend too time, I will do more test to ensure, thank you.

[2020-07-04 06:20] planetA commented on #4794
Hi. I would like to ask kindly, if there is any progress with this feature?

[2020-07-06 07:45] madsbk commented on #3192
@bureddy @Akshay-Venkatesh, would it make any difference if we use [`uct_mem_alloc()`](http://openucx.github.io/ucx/api/latest/html/group___u_c_t___m_d.html#gaf88fdff8cf404732c30487a2fa9c9b8b) for all CUDA allocations?

[2020-07-06 17:17] brminich commented on #5358
@Keepmoving-ZXY, can we close the issue?

[2020-07-07 00:12] #5358 closed

[2020-07-07 14:55] Akshay-Venkatesh commented on #3192
@madsbk
1. We can't use uct_mem_alloc for cuda allocations. Essentially there's way to request memory type for uct_mem_alloc today. Work to add that support started here https://github.com/openucx/ucx/pull/5204
2. uct_mem_alloc allocates potentially registered memory. This wouldn't solve the root problem of user handing buffers to UCX for which memory handles have been previously opened. The best

[2020-07-07 17:21] madsbk commented on #3192
@Akshay-Venkatesh, thanks for the clarification. I am working on a workaround we can use for now: https://github.com/rapidsai/ucx-py/pull/556

[2020-07-07 19:53] #5354 closed

[2020-07-08 11:01] dmitrygx opened #5373 "ud_mlx5/test_uct_peer_failure.purge_failed_peer/0 failed"
[code]
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/7568/logs/165

[2020-07-08 11:57] lytofd opened #5374 "what does UCX_TCP_MAX_BCOPY means?"
l have founded that this env affects  tranfer rate while specifing UCX_TLS=tcp , what does it means, how can l assign  appropriate value?
thks.

[2020-07-08 12:20] yosefe commented on #5374
adding @dmitrygx
UCX_TCP_MAX_BCOPY controls the buffer size of TCP transfers
@lytofd can you pls share what settings for UCX_TCP_MAX_BCOPY gave best performance?

[2020-07-08 13:20] shamisp commented on #5374
BCOPY - Buffered copy.

[2020-07-08 13:47] tonycurtis opened #5376 "OFED5 no longer gives "free" passive progress (OpenSHMEM)"
### Describe the bug

We have a couple of ARM (Thunder) nodes to play with before we get our A64fx cluster.  The nodes have OFED5 on them and mlx5 devices.  I get free passive progress from OFED4 + mlx5, by which I mean a rank/PE doing no OpenSHMEM calls is still servicing remote AMOs and puts/gets.

With OFED5 I now have to create my own progress threads.

While this is happening right now on ARM

[2020-07-08 14:16] yosefe commented on #5376
@tonycurtis perhaps DevX is not supported/enabled so DC transport is not available
Can you pls do
[code]

[2020-07-08 14:20] tonycurtis commented on #5376
[code]

[2020-07-08 14:21] yosefe commented on #5376
@tonycurtis how about `mlxconfig -d /dev/mst/mt4119_pciconf0 q | grep UCTX`?
if still does not help, can you pls upgrade FW to the one which comes with MLNX_OFED 5.0?

[2020-07-08 14:24] tonycurtis commented on #5376
There was no output from the mlxconfig command.  Well, actually it generated an error hidden by the pipe:

[code]

[2020-07-08 14:26] tonycurtis commented on #5376
Here's the output from a single device

[code]

[2020-07-08 14:27] yosefe commented on #5376
Yes

[2020-07-08 14:28] tonycurtis commented on #5376
OK.  Will have to ask the sys admins to do that.  I just have courtesy access for yum while setting up.

[2020-07-08 15:10] shamisp commented on #5376
Why async progress dependent on devx ?
BTW, firmware is not going to solve this problem.

[2020-07-08 15:21] yosefe commented on #5376
Atomic mode cannot be detected correctly so UCX falls back to SW atomics

[2020-07-08 22:17] tonycurtis commented on #5376
The configure output (git HEAD, but same issue with 1.8.0)
[koinu-ucx-build.txt](https://github.com/openucx/ucx/files/4893527/koinu-ucx-build.txt)

[2020-07-09 20:58] tonycurtis commented on #5376
Any consensus on a solution?

[2020-07-10 11:54] avildema opened #5382 "[mtt] arbiter.c:236 Assertion `(group)->arbiter == (arbiter)' failed"
Configuration
[code]
 
MTT log:
 
http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20200709_181522_30359_34300_jazz03.swx.labs.mlnx/html/test_stdout_JM3gZv.txt
 
Cmd:
`/hpc/local/benchmarks/daily/next/2020-07-09/hpcx-gcc-redhat7.6/ompi/bin/mpirun -np 32 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV,

[2020-07-10 15:16] jli111 opened #5386 "Question: rma support for GPU memory"
I am running a one-sided communication code with Open MPI 5.0.0, which is built with an external UCX 1.9.0 and CUDA 10.2, on a GPU cluster with 8 NVIDIA Tesla V100 GPUs. The interconnection between GPUs is NVLinks.

The external UCX is compiled with the same CUDA module, as well as GDRCOPY support.

Here is more information from ucx_info:
[code]
I distribute my program with command:
[code]
The one

[2020-07-10 16:18] bureddy commented on #5386
rma with CUDA buffers is not supported yet. it may work for specific use cases( large messages, GPUDirectRDMA available)

for example, osu_put with cuda buffer:

[code]

[2020-07-10 17:09] jli111 commented on #5386
Thanks a lot for the quick reply!

I don't really know too much about ucx, may I ask why does it work with large messages but small messages? Actually the message size in my program scales from 1 MB per rank, which could be considered as large messages already, but still didn't work out.
As for GPUDirectRDMA, is there any flag/env settings that I should specify while running my program in order to

[2020-07-10 17:31] bureddy commented on #5386
do you have Infiniband HCAs on the servers?
Check if GPUDIrectRDMA plugin is loaded:` lsmod|grep nv_peer_mem`
if not can you install plugin: https://www.mellanox.com/products/GPUDirect-RDMA

Also,   you need to run with `-x UCX_TLS=ib,cuda`

[2020-07-12 10:14] yosefe commented on #5376
@tonycurtis have you had a chance to try with latest FW?

[2020-07-12 12:50] tonycurtis commented on #5376
No.  This is what they said:

[2020-07-12 13:21] yosefe commented on #5376
Would need a FW version from 16.27.XXXX series

[2020-07-12 14:31] tonycurtis commented on #5376
Thanks.  Have forwarded info.  If they balk at changing things, is there any workaround?

[2020-07-12 14:46] yosefe commented on #5376
AFAIK not without changing the code
@Artemy-Mellanox WDYT? It's missing 32-bit HW atomics if DevX is not supported

[2020-07-13 09:33] #5374 closed

[2020-07-13 09:42] Keepmoving-ZXY opened #5396 "Confused transfer_speed of ucp_put_bw and ucp_get with tls=tcp"
Today I run ucx_pertest with tls=tcp, I find that the gap of transfer speed between ucp_get and ucp_put_bw is so large, see below for detail:

ucp_put_bw result:
[code]

ucp_get result:
[code]

I think that the ucp_get and ucp_put use tcp to communicate, so the speed of ucp_put_lat and ucp_get should be the same approximately， but result is opposite, how to explain this?

[2020-07-13 10:12] #5373 closed

[2020-07-13 14:20] tonycurtis commented on #5376
So the FW update actually enables the 32b AMOs and not just advertises them?

[2020-07-13 14:35] yosefe commented on #5376
in current FW, they are not advertised. SB - only 64bit:
[code]

[2020-07-13 16:04] tonycurtis commented on #5376
Ah, got it.  Thanks.  Waiting to hear back.

[2020-07-13 21:06] jli111 commented on #5386
Thanks for the reply!

I've tried your suggestion on a machine with GPUDirectRDMA support, with pre-installed UCX 1.7.0 and OpenMPI 4.0.4 and CUDA 10.2.

I run my osc code like below, let's mark it as case 1:
[code]

I've also tried other options, let's below marked as case 2:
[code]
and case 3:
[code]

In case 1, the execution is not stable, sometimes it works, sometimes it crashes:
[code]
while

[2020-07-13 21:09] vchuravy opened #5404 "`ucp_init` should not be defined in the header"
Header functions like are unfriendly to users who dynamically load `libucp.so`. The usual reason for a header function is speed and I don't think that applies for a function that is infrequently called like `ucp_init`.

https://github.com/openucx/ucx/blob/0e37370648f857e23d5775a0c5b3aa609044e43c/src/ucp/api/ucp.h#L1446-L1452

[2020-07-13 21:19] Keno commented on #5404
This kind of definition is a common trick to hardcode the API version into the calling binary to maintain ABI compatibility. I think if your client is not written in C, it's best to just call ucp_init_version with a hardcoded version directly.

[2020-07-13 21:43] bureddy commented on #5386
case1/2: sometimes it works, sometimes it crashes. it looks like it is falling when the message threshold fall beyond the rndv threshold. do you know what is the message range your test is using?  can you run with -x  UCX_RNDV_THRSHOLD=64

[2020-07-13 21:59] bureddy commented on #5386
is your application statically links to cuda runtime?  if you compile with nvcc, it will be statically linked.  if so, please add -x UCX_MEMTYPE_CACHE=n
if possible, please try with ucx-1.8.1. many cuda fixes went in after 1.7 release

[2020-07-14 19:05] avildema opened #5410 "[mtt] Error in all2all.shmem test"
Configuration
[code]
 
MTT log:
`http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/shmem/20200712_063854_9545_34455_hpc-polar-01-vm001/html/test_stdout_wVkYep.txt`
 
Cmd:
`/hpc/local/benchmarks/daily/next/2020-07-12/hpcx-gcc-redhat7.6/ompi/bin/oshrun -np 24 --display-map --bind-to core -mca oshmem_proc_group_cache_size 10000 -mca sshmem ucx -mca atomic ucx -x UCX_IB_ADDR_TYPE=ib_global -x

[2020-07-15 11:14] avildema opened #5412 "[mtt] Hang mpi-small-tests/misc/comms test"
Configuration
[code]
 
MTT log:
`http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20200712_221140_187617_34590_jazz03.swx.labs.mlnx/html/test_stdout_bI3DZe.txt`
 
Cmd:
`/hpc/local/benchmarks/daily/next/2020-07-12/hpcx-gcc-redhat7.6/ompi/bin/mpirun -np 84 -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV,SIGBUS,SIGFPE

[2020-07-15 15:18] yosefe commented on #5412
smaller repro on 3 nodes:
[code]

[2020-07-15 20:29] yosefe commented on #5412
rdma-core is calling rand() during ibv_create_ah() and creating inconsistent rand state
https://github.com/linux-rdma/rdma-core/blob/master/providers/mlx5/verbs.c#L2885

[2020-07-16 06:33] brminich commented on #5241
similar error in https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/7702/logs/124
[code]

[2020-07-16 09:47] hoopoepg commented on #5410
out of memory killer works!!!

[2020-07-16 09:47] #5410 closed

[2020-07-16 09:51] yosefe commented on #5410
@avildema seems like there is an issue with SHMEM_SYMMETRIC_HEAP_SIZE calculation? it should not be more than 70% of memory on the machine

[2020-07-16 11:38] hiroyuki-sato opened #5423 "[Q] How to change HOST_NAME_MAX parameter?"
Hello, developers.

I'm trying to port OpenUCX to the macOS platform.

The following files use `HOST_NAME_MAX`
However, macOS doesn't define it. So I need to fix it.
I would like to ask which method is better.

[code]

1. Replace `HOST_NAME_MAX` to `MAXHOSTNAMELEN` or `_POSIX_HOST_NAME_MAX`
2. Define `HOST_NAME_MAX` on macOS.

Best regards.

| param                | Linux(CentOS7) | macOS(10.15) |

[2020-07-16 14:31] shamisp commented on #5423
https://pubs.opengroup.org/onlinepubs/009695399/basedefs/limits.h.html
references `_POSIX_HOST_NAME_MAX` and `HOST_NAME_MAX`. No reference to `MAXHOSTNAMELEN`.

Here is interesting thread on this https://lists.gnu.org/archive/html/bug-gnulib/2009-08/msg00108.html
[code]
Since `_POSIX_HOST_NAME_MAX` is "Minimum Acceptable Value" I don't think it is safe to use.
Is really odd that on linux HOST_NAME

[2020-07-16 18:37] #5382 closed

[2020-07-16 19:40] jli111 commented on #5386
Yeah, I found that when the message size is less than a certain number per process, the program crashed.

With pre-installed ompi4.0.4 + ucx1.7.0, and suggested flags from your previous answer, I received segfaultation error when given number of elements is less than 2048:
[code]
[code]
Changing the value of RNDV threshold doesn't to a smaller one doesn't help too much.
I also tested ompi4.0.x+ucx

[2020-07-16 19:48] jli111 commented on #5386
Oops, just realized I forgot to upload the file.
Here it is!
[simple_test.c.zip](https://github.com/openucx/ucx/files/4933878/simple_test.c.zip)

[2020-07-16 20:21] dmitrygx commented on #5396
looks like the problem is in UCX perftest, UD has the same issue (but it is not reproduced with RC as an example)
UD and TCP has SW-based implementation for PUT/GET operations
[code]

[2020-07-16 20:21] dmitrygx commented on #5396
looks like the problem is in UCX perftest, UD has the same issue (but it is not reproduced with RC as an example)
UD and TCP has SW-based implementation for PUT/GET operations
investigating it...

[2020-07-17 00:14] hiroyuki-sato commented on #5423
Hello, @shamisp. Thank you for your reply.

I updated the table. Please see the above. (Added `_SC_HOST_NAME_MAX`).
What do you think to add the following macro for macOS? (It's plan2)

[code]

[2020-07-17 01:57] bureddy commented on #5386
add  `UCX_ZCOPY_THRESH=1`

[code]

[2020-07-17 08:12] jli111 commented on #5386
It works! Thanks so much!!
[code]

[2020-07-17 08:12] #5386 closed

[2020-07-17 18:33] shamisp commented on #5423
I think, if we change static allocation to dynamic one using `sysconf(_SC_HOST_NAME_MAX)`, we will "most" compliant.  Nevertheless, it can be painful change. @yosefe what do you think. Other option is to go with _POSIX_HOST_NAME_MAX since it is posix.

[2020-07-20 05:57] dmitrygx opened #5438 "tcp/test_ucp_peer_failure.basic/1 failure"
[code]
http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/6137/nodes/128/steps/1031/log/?start=0

[2020-07-20 06:01] dmitrygx opened #5439 "corruption in tcp/test_uct_pending.send_ooo_with_pending_another_ep/0"
[code]
http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/6132/pipeline

[2020-07-20 10:31] hiroyuki-sato commented on #5423
Hello, @shamisp Thank you for your reply.

I implement plan2. I'll wait for @yosefe comments.

[code]

[2020-07-20 10:37] yosefe commented on #5423
seems MAXHOSTNAMELEN would work on both platforms? if yes IMO this is simplest solution (no need autoconf change)

[2020-07-20 11:06] hiroyuki-sato commented on #5423
@yosefe Thank you for your reply.
Yes MAXHOSTNAMELEN defined on macOS

sys/param.h

[code]

[2020-07-20 11:37] Keepmoving-ZXY opened #5441 "does ucx support wait for a request finish in a block way ?"
In the `ucp_hello_world.c`, I notices that there is a loop waiting for a request to finish, such as:
[code]
The function `wait` is a loop that check whether the request is finish or not in a unblock way, but in the case that cpu resource is not enough,  the loop maybe cause other thread has few opportunity to run, so is there any way to achieve wait the request to finish in a block way?

[2020-07-20 11:48] yosefe commented on #5441
@Keepmoving-ZXY Yes, it's possible, pls see https://github.com/openucx/ucx/blob/master/src/ucp/api/ucp.h#L1854

[2020-07-20 11:52] Keepmoving-ZXY commented on #5441
@yosefe  in the `ucp_hello_world.c`, the `ucp_worker_arm` is used at receive side, but you means that `ucp_worker_arm` can be used at send side, does this okay?

[2020-07-20 11:54] yosefe commented on #5441
yes, it can be used on both sides

[2020-07-20 12:07] Keepmoving-ZXY commented on #5441
ok, thank you,  I will have a try.

[2020-07-20 13:29] #5438 closed

[2020-07-20 13:56] amckinstry opened #5443 "SIBABRT with ucx 1.8.1 openmpi 4.0.4 and multiple clients"
I'm the Debian maintainer of OpenMPI / UCX, with UCX being new to Debian/Ubuntu.

On our first builds we're seeing failures:
[code]

This is from a DOFLIN using OpenMPI (See https://bugs.debian.org/965352 )

How should I proceed to debug?

[2020-07-20 15:18] yosefe commented on #5443
@amckinstry did it start to happen with a particular UCX version?
how can this issue be reproduced?

[2020-07-20 19:25] shamisp commented on #5423
@yosefe MAXHOSTNAMELEN is apparently some "old" convention and not a standard. I advised for posix because it is a standard, even so it seems that Linux does not follow it closely since `HOST_NAME_MAX < _POSIX_HOST_NAME_MAX`

From freebsd man:
[code]

[2020-07-20 20:00] shamisp opened #5451 "Optimise d/i-cache invalidate"
No need to flush the I-cache if u-arch implements i-cache coherency. @l31g

[2020-07-21 07:36] yosefe commented on #5240
fixed by #5437 and #5442

[2020-07-21 07:36] #5240 closed

[2020-07-21 17:11] tonycurtis opened #5453 "DOC/UCP: ucp_{pu,ge}t_nbx reference non-existent callback"
### Describe the bug

The documentation for ucp_{pu,ge}t_nbx describes a callback parameter, but the routines don't have one.

### Steps to Reproduce

- UCX version used (from github branch XX or release YY) + UCX configure flags (can be checked by `ucx_info -v`)

https://github.com/openucx/ucx/blob/master/src/ucp/api/ucp.h

[2020-07-22 06:10] Keepmoving-ZXY commented on #5441
@yosefe  if compile ucx with cuda support, can ucx's tag match API achieve GPUDirectRDMA if I load nv_peer_memory module to kernel?

[2020-07-22 07:48] yosefe commented on #5441
yes

[2020-07-22 10:03] Keepmoving-ZXY commented on #5441
ok, thank you.

[2020-07-22 19:07] avildema opened #5459 "[mtt] Hercules. Cannot allocate memory"
Configuration
[code]
 
MTT log:
`http://e2e-gw.mellanox.com:4080/hpc/scrap/users/mtt/scratch/ucx_ompi/20200718_062326_5391_621929_clx-hercules-002/html/test_stdout_bsbSXC.txt`
 
Cmd:
`/hpc/local/benchmarks/daily/next/2020-07-18/hpcx-gcc-redhat7.6/ompi/bin/mpirun -np 256 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV,S

[2020-07-23 00:04] #5441 closed

[2020-07-23 06:14] brminich opened #5461 "hang in shm_ib/test_ucp_tag_fallback.fallback/0 on hpc-test-node-upstream-01"
### Describe the bug
[code]

happened in http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/6210/nodes/131/steps/1977/log/?start=0

[2020-07-23 06:44] maolouzhedehaozi opened #5462 "RDMA tag match performance issue on GPU-based memory"
We tested the performance of tag-match interface in the 100Gbit/s environment. We used the tools ucx_perftest and executed the cmd as follows:

ucx_perftest -m cuda -t tag_bw -s ${size} -n 1000 -w 10 10.0.26.2
ucx_perftest -m cuda -t tag_lat -s ${size} -n 1000 -w 10 10.0.26.2

The test results:
![image](https://user-images.githubusercontent.com/9210900/88258003-ab384e00-ccf1-11ea-9520-327c7e7cd7c6

[2020-07-23 07:24] yosefe commented on #5461
this is xpmem/THP issue
the symptom is that even "ps -ef" on the machine fails
for now i've disabled THP on the test nodes

[2020-07-23 07:26] yosefe commented on #5462
Adding @bureddy
Can you pls try with following flags (on both sides):
1. Test1: `export UCX_RNDV_SCHEME=get_zcopy`
2. Test2: `export UCX_IB_GPU_DIRECT_RDMA=n`

[2020-07-23 07:55] maolouzhedehaozi commented on #5462
TYVM, here are the tests results, seems that there are no significant changes.  Our compilation options:

UCT version=1.8.0 revision c30b7da
configured with: --disable-logging --disable-debug --disable-assertions --disable-params-check --with-cuda=/usr/local/cuda --prefix=/home/zxy/.local/ --without-java

[UCX_IB_GPU_DIRECT_RDMA=n.txt](https://github.com/openucx/ucx/files/4964504/UCX_IB_GPU_DIRECT

[2020-07-23 08:04] yosefe commented on #5462
@maolouzhedehaozi is it possible the env var was not set correctly?
just setting `UCX_IB_GPU_DIRECT_RDMA=n` in a script would not affect the next process. need to use `export UCX_IB_GPU_DIRECT_RDMA=n`

[2020-07-23 08:29] maolouzhedehaozi commented on #5462
Thank your for your reminder. Update the results with the two options.
[code]

[code]

[2020-07-23 08:37] amckinstry commented on #5443
This is the first version of ucx to be included in Debian, and its breaking multiple MPI codes.

If you look here: https://tracker.debian.org/pkg/openmpi
you can see multiple regressions where openmpi 4.0.4 with UCX added fails tests on these codes.

[2020-07-23 08:52] RizzerOnGitHub commented on #5443
These build-test errors are happening with UCX 1.8.1 via OpenMPI 4.0.4.

scalapack also has a problem

    87/96 Test #82: xdgsep ...........................   Passed  109.38 sec
          Start 95: xshseqr
    88/96 Test #83: xcgsep ...........................   Passed  101.14 sec
          Start 96: xdhseqr
    89/96 Test #96: xdhseqr ..........................***Failed   49.20 sec

     ScaLAPA

[2020-07-23 08:59] RizzerOnGitHub commented on #5443
If you have access to an installation of debian unstable, the errors can be reproduced with

    apt-get source scalapack
    sudo apt-get build-dep scalapack
    cd scalapack-2.1.0
    dpkg-buildpackage

Likewise

    apt-get source dolfin
    sudo apt-get build-dep dolfin
    cd dolfin-2019.2.0~git20200218.027d9cc
    dpkg-buildpackage

We're also seeing [run-time test errors](https://ci.debian.

[2020-07-23 10:13] maolouzhedehaozi commented on #5462
We find some error logs during the ucx_perftest tag_bw test. I just wonder if it has some relationship with the low bandwidth.
[code]

[2020-07-23 11:00] yosefe commented on #5462
the errors are unrelated
is there a PCIe switch between HCA and GPU?
what is the CPU type?

[2020-07-23 11:08] yosefe commented on #5443
ok, thanks for the report

i see multiple bugs related to openmpi package, which ones are related to UCX? for example some issues are related to old version (1.10)

[2020-07-23 11:13] #5453 closed

[2020-07-23 11:20] yosefe commented on #5462
@maolouzhedehaozi can you also try with "export UCX_RNDV_THRESH=0" to improve small messages?

[2020-07-23 11:31] RizzerOnGitHub commented on #5443
[Bug#965352](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=965352) is the openmpi bug affected by UCX.

UCX is involved in test failures in [dolfin](https://buildd.debian.org/status/fetch.php?pkg=dolfin&arch=amd64&ver=2019.2.0%7Egit20200218.027d9cc-12&stamp=1595236304&raw=0) and [scalapack](https://github.com/openucx/ucx/issues/5443#issuecomment-662892755).

Status of petsc4py is not certain,

[2020-07-23 12:58] maolouzhedehaozi commented on #5462
There is indeed a PCIe switch exists between HCA and GPU. We used mlx5_0 and and GPU0 in the test.

![52361595507370_ pic_hd](https://user-images.githubusercontent.com/9210900/88288406-4d722900-cd26-11ea-9349-9ab345ba4546.jpg)

Using export UCX_RNDV_THRESH=0
[code]

[2020-07-23 13:02] yosefe commented on #5462
adding @bureddy

[2020-07-23 15:57] bureddy commented on #5462
@maolouzhedehaozi  you need gdrcopy module (https://github.com/NVIDIA/gdrcopy) for better GPU small message BW. can you try install gdrcopy on servers and configure UCX with --with-gdrcopy ?

[2020-07-23 16:15] planetA opened #5466 "Cannot pass transport and device through the command line."
### Describe the bug

Cannot pass transport and device through the command line. Although, passing the same variable through the flags works.

### Steps to Reproduce

I set the following variables on the both nodes

[code]

Then I launch ucx_perftest:

Node1

[code]

Node2

[code]

If I remove -x and -d flags, I get the following error message (on the both nodes):

[code]

Version info

[code]

I

[2020-07-23 16:50] yosefe commented on #5466
ucx_perftest uses env vars UCX_TLS/UCX_NET_DEVICES for "UCP" tests and command line args "-x rc  -d rxe0:1" for "UCT" tests
am_bw is a "UCT" test (pls see full list in ucx_perftest -h)

[2020-07-24 07:56] maolouzhedehaozi commented on #5462
We recompile ucx adding --with-gdrcopy. The bandwidth has improved a little bit but it's still low.
[code]

[code]

[2020-07-24 09:46] maolouzhedehaozi commented on #5462
@bureddy what is the root cause of low bandwidth in GPU-based transfer,  compared with CPU-based scenario. Is there any extra processing exists during the GPU memory transfer?

[2020-07-24 10:52] amckinstry commented on #5443
Please see the latest response on petsc4py:

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=965352;msg=33
[code]

[2020-07-24 13:51] tonycurtis opened #5469 "mlx5: Inappropriate ioctl for device"
### Describe the bug

The nodes with mlx5 (MT27600 [Connect-IB]) in our local cluster were rebooted yesterday (power maint).
Since then, I'm getting this error message while using UCX (any version):

[code]

(1 msg per program rank).  I don't think this is a UCX problem per se, given the circumstances, but advice from here would help resolve it.

### Steps to Reproduce
- Command line

anything tha

[2020-07-24 14:26] yosefe commented on #5469
@tonycurtis was UCX recompiled from source with MLNX_OFED_LINUX-4.7-3.2.9.0 ?

[2020-07-24 14:30] tonycurtis commented on #5469
Just using "as was built" before the reboots.  `ofed_info -s` shows the same version on all compute nodes, and the login node where UCX was compiled.  Strangely, I am not getting this error message on that login node, which is also mlx5.

[2020-07-24 14:41] tonycurtis commented on #5469
OK, looks like some kind of weird drift between the mlx5 login node and the mlx5 compute nodes.  I built UCX (gtihub) on a compute node and no more error messages there, *but* doing a bare run on the login node:

[code]

[2020-07-24 15:24] yosefe commented on #5469
UCX has to be run with same MLNX_OFED / libibverbs version it was built with

[2020-07-24 15:35] tonycurtis commented on #5469
The versions are the same, but the installed packages list from `ofed_info` is remarkably different on the login node compared to the compute nodes, e.g.

[code]

Anyway, looks like a local problem to report, so will close here.  Thanks!

[2020-07-24 15:35] #5469 closed

[2020-07-24 16:45] bureddy commented on #5462
@maolouzhedehaozi  can you please try with ucx-1.9.x or master branch.  it is using only one outstanding request in v1.8.x, which can get the BW. I quickly tried on my setup and I can reproduce your number with 1.8.x

with 1.8.x

[code]

with 1.9.x
[code]

Regarding the BW with GPU transfers, it is expected to less compared to CPU for smaller messages because of overhead in accessing the GPU memor