[2022-05-10 15:11] AlexNinaber commented on #8200
@yosefe tried with UCX_RC_RETRY_COUNT, no change. The ports have no mixed port speeds by the way, IB just moves to the lowest common speeds which is FDR in this case.

[2022-05-10 15:16] yosefe commented on #8200
@AlexNinaber thanks for the feedback. The next step would be to take it with NVIDIA networking support since such a large delay is likely coming from the network level. The issue may still be related to HDR/EDR being downgraded to FDR.

[2022-05-10 15:31] AlexNinaber commented on #8200
@yosefe We figured it comes from the network level, however, the (unexpected) weirdness is that with PSM3 we see no such problem. Hence we were wondering if there's anything UCX can be doing weird on an EDR/HDR card if run in FDR mode.

[2022-05-10 21:16] yosefe commented on #8200
@AlexNinaber perhaps PSM3 is using a different transport such as UD. Can you try running UCX with "UCX_TLS=ud,self,sm" ?

[2022-05-12 09:01] angainor opened #8210 "Q: in-node performance of sm vs dc transports"
I am testing HPCX 2.10 (UCX 1.12, OpenMPI 4.1.2rc4) on a 2-socket EPYC 7742 system using `osu_bibw` benchmark. I test the in-node bandwidth: both ranks are started on the same node, each on a different socket. I test the performance of `sm` and `dc` transports in this setup.
[code]
The IB card is connected to socket 0.

In short, for large messages (128k+) it is much faster to use the DC transport

[2022-05-12 21:53] tonycurtis opened #8216 "AMD x86 cluster: git HEAD hanging now but 1.12.1 working"
### Describe the bug

Was using 1.12.1 on an AMD x86 cluster, then switched to github head, programs working with IB transports (rc, dc) now hang.  Single node runs with e.g. xpmem still work.

### Steps to Reproduce
- UCX version used (from github branch XX or release YY) + UCX configure flags (can be checked by `ucx_info -v`)

[code]

- **Any UCX environment variables used**

### Setup and versi

[2022-05-13 14:15] yosefe commented on #8216
@tonycurtis can you pls prove more details on the hang including command line output and backtrace?

[2022-05-13 20:34] maxim-banaev opened #8220 "SortIncludes key is duplicated"
https://github.com/openucx/ucx/blob/ac479601fba6b5d696d95acca204c048b23673af/.clang-format#L121

[2022-05-13 20:34] maxim-banaev commented on #8220
The same key is used on 69 line.

[2022-05-14 01:24] Yiltan-AMD commented on #7882
@edgargabriel I'm running into the same issue, was it ever resolved?

[2022-05-14 09:20] chenyidu opened #8221 "Q: Why is the IBV_SEND_FENCE set only for RDMA Read & Atomic operations ?"
https://github.com/openucx/ucx/blob/6cd9dd58e9d8b5556584442a9375971bc2e21af1/src/uct/ib/rc/verbs/rc_verbs_ep.c#L47-L49

According to the implementation of UCT (e.g. `uct_rc_ep_fm()` and `uct_rc_ep_fence()`) and some documents  about IBV_SEND_FENCE, If I understand correctly, the fence should be set in the WR submitted after `uct_ep_fence()` or `uct_iface_fence()` to ensure that all previous WRs ar

[2022-05-15 04:02] yfguo opened #8223 "Segment fault in ucx_info and MPI"
### Describe the bug
I built UCX with CUDA and gdrcopy on Summit@OLCF. The library run info segment fault when used with MPICH. After some digging, I found the issue is in UCX and can be easily reproduced with `ucx_info`

### Steps to Reproduce
- Command line `UCX_NET_DEVICES=mlx5_0:1 ./ucx_info -n 2 -e -u t` (The envvar is needed on Summit)
- UCX 1.12.1 configured with
[code]
The following is the

[2022-05-15 07:52] yosefe commented on #8223
It seems UCX was built with MLNX_OFED 4.x, which is no longer supported (only 5.x and above)

[2022-05-15 07:53] #8100 closed

[2022-05-15 07:53] yosefe commented on #8223
seems duplicate of https://github.com/openucx/ucx/issues/8100

[2022-05-16 16:19] wence- opened #8227 "shared memory transport performance (vs tcp) for large buffers"
### Describe the bug

For large buffers, it looks like (via `ucx_perftest`) the `sm` transport produces noticeably worse throughput (in bandwidth) than `tcp`. Is there some buffer size that I'd need to tweak to get performance on par, or is this expected?

### Steps to Reproduce

<details>
<summary>
<code>ucx_info -v</code>
</summary>

[code]
</details>

Small buffers, `sm` transport has better th

[2022-05-16 16:27] yosefe commented on #8227
@wence- can you pls check if the overall CPU utilization with TCP is higher than with sm, potentially because TCP is utilizing more cores for the transfet?

[2022-05-16 16:35] wence- commented on #8227
In both cases (`tcp` and `tcp,sm`) the two pinned CPUs are at 100% utilisation. So it doesn't look like there's a difference.

[2022-05-16 16:43] wence- commented on #8227
Ah, sorry. As far as I can tell (by filtering in htop and looking at the thread tree view), it doesn't appear like there are more threads in the TCP case, but perhaps I am looking wrong:

`tcp,sm`:

[code]

`tcp`

[code]

[2022-05-16 17:03] pentschev commented on #8227
Is there a minimum version of MLNX_OFED required for `xpmem`? We built and are running with:

[code]

[2022-05-16 17:05] yosefe commented on #8227
it should be included, buit it could be disabled during installation.
can you check "rpm -qa|grep xpmem", "lsmod|grep xpmem", and "ls -l dev/xpmem"?

[2022-05-16 18:01] pentschev commented on #8227
Yeah, unfortunately this is not installed. We will have to try installing and testing again.

[2022-05-16 18:10] pentschev commented on #8227
`xpmem` is now installed:

[code]

But performance still looks the same:

<details><summary>Small buffers (10MB)</summary>

[code]

</details>

<details><summary>Large buffers (100MB)</summary>

[code]

</details>

[2022-05-16 22:50] thomasgillis opened #8229 "ibv_create_cq(cqe=4096) failed: Cannot allocate memory"
### Describe the bug
I have issues starting a simple mpi-job. The job doesn't even start and fails directly wit the error

[code]

When trying to get more info with `ucx_info`, the error is the same:
[code]

- versions: ompi 4.1.3, ucx 1.12.1
- libraries: `rdma-core-55mlnx37-1.55103.x86_64`, `libibverbs-55mlnx37-1.55103.x86_64`
- hardware:
[code]

How can I move forward with this issue?

[2022-05-17 07:24] yosefe commented on #8227
need to make sure xpmem is part of "ucx_info -d". it probably isn't because need to set 0777 permissions on /dev/xpmem

[2022-05-17 07:26] yosefe commented on #8229
can you pls check if max locked memory (limit -l) is set to unlimited?
new ucx versions (v1.14 / master branch) would now warn about this.

[2022-05-17 07:58] pentschev commented on #8227
Do we need to build using any special flags? We now have the right permissions but still nothing shows in `ucx_info -d`:

[code]

[2022-05-17 08:19] pentschev commented on #8227
@wence- pointed my mistake out, I didn't properly install `xpmem` to my environment, after doing that `ucx_info -d` finds xpmem:

[code]

However, that only improves performance marginally (20%-30%):

<details><summary>Small buffers (10MB)</summary>

[code]

</details>

<details><summary>Large buffers (100MB)</summary>

[code]

</details>

[2022-05-17 09:29] wence- commented on #8227
I can replicate these numbers from @pentschev once xpmem is installed. To summarise:

10MB buffers:

|      | noxpmem | xpmem |
|----|----------|---------|
| `UCX_TLS=tcp`  | 5,900MB/s | 5,900MB/s |
| `UCX_TLS=tcp,sm` | 9,500MB/s | 13,000MB/s |

100MB buffers:

| | noxpmem | xpmem |
|-|-|-|
| `UCX_TLS=tcp` | 4,300MB/s | 4,300MB/s |
| `UCX_TLS=tcp,sm` | 3,300MB/s | 4,300MB/s |

So we need xpmem to

[2022-05-17 09:40] yosefe commented on #8227
Yes, because CMA/KNEM drivers use less efficient memcpy routine in the kernel

STREAM measures the BW differently:
1. It multiplies the bandwidth by 2x : https://github.com/jeffhammond/STREAM/blob/master/stream.c#L190
2. It shows best and not average BW

[2022-05-17 09:55] wence- commented on #8227
OK, so to conclude: build with xpmem if possible when using shared memory transports, and one should expect for large buffers to basically hit the tcp-only throughput (because in this regime the bottleneck is the same in both cases?).

The former obviously makes a large difference, the latter I would expect not really (for large buffer copies). This was not meant to be a "why is ucx so slow in com

[2022-05-17 12:04] thomasgillis commented on #8229
[code]

I am not admin, let me ask them to bump the locked one.
Thanks for your help!

[2022-05-17 12:51] #8227 closed

[2022-05-17 12:59] yosefe commented on #8227
@wence- can you pls try also setting `export UCX_BUILTIN_MEMCPY_MIN=0` and  `export UCX_BUILTIN_MEMCPY_MAX=8`?
it gave slighlty better results on my system. seems glibc memcpy is faster than "rep movsb" for large sizes on dgx systems.

[2022-05-17 13:23] shamisp commented on #8227
Do you have an idea why ?

[2022-05-17 13:28] wence- commented on #8227
Copy is: `a[i] = b[i]`, so that provokes a read of `b`, and a write of `a`. So the reported bandwidth from stream is the combined load+store bandwidth. That calculation additionally is measuring effective bandwidth (since the default write-allocate policy for `a` when the compile fails to emit non-temporal stores means each iteration of the loop does two loads (one for `b`, one for `a`) and one st

[2022-05-17 13:35] wence- commented on #8227
In the eyeball-norm it might be marginally better [~10MB/s] (for both `tcp` and `tcp,sm`) but I am not a statistical test.

[2022-05-17 14:16] yosefe commented on #8227
the limit with TCP and SM is CPU single core performance. This limitation does not exist for RC.

[2022-05-17 17:21] #8229 closed

[2022-05-17 17:28] yosefe commented on #8229
It's not tagged yet; it's master branch

[2022-05-17 17:35] thomasgillis commented on #8229
Thanks a lot for the precision and the help!

[2022-05-18 01:18] changchengx commented on #8229
@thomasgillis
Is this problem solved by ```can you pls check if max locked memory (limit -l) is set to unlimited?```? If yes, besides ```set max locked memory to be unlimited```, are there some other changes to the resources limitation?

[2022-05-18 03:11] thomasgillis commented on #8229
Yes changing the limit worked for me. Two nodes were not correctly set to `unlimited` and I was on one of them.

[2022-05-18 03:13] changchengx commented on #8229
@thomasgillis Thanks for your confirmation

[2022-05-18 08:18] ironMann opened #8237 "AM: UCP_AM_RECV_ATTR_FLAG_DATA not set for small message sizes"
### Describe the bug
I send AM messages of various sizes (up to 500 kB) using the `UCP_AM_SEND_FLAG_EAGER` flag. On the receiver side, in the `ucp_am_data_cb` I assert the following`(param->recv_attr & UCP_AM_RECV_ATTR_FLAG_DATA)`.

If the message size is small, ~50 Bytes, the `UCP_AM_RECV_ATTR_FLAG_DATA` flag is not set (`param->recv_attr` is `0`).
The data length and the content is still valid.

[2022-05-18 08:35] brminich commented on #8237
This flag is not guaranteed to be set. If it is not set, this means that the data pointer can't be used outside the callback and must be copied by the user if needed. Please check some comments here:
https://github.com/openucx/ucx/blob/master/src/ucp/api/ucp.h#L715
https://github.com/openucx/ucx/blob/master/src/ucp/api/ucp_def.h#L651

If you want this flag to be always set for AM eager messages, p

[2022-05-18 08:46] ironMann commented on #8237
Hi @brminich,
thanks a lot for the quick feedback. I do not need to keep the data outside the callback, so I can just drop the assert of `UCP_AM_RECV_ATTR_FLAG_DATA` flag.
But, I now realize that I probably want to set `UCP_AM_FLAG_WHOLE_MSG`.
Sorry for the noise, I'll close this now.

[2022-05-18 08:46] #8237 closed

[2022-05-18 15:04] yfguo commented on #8223
I see. I will just use older version. Thanks for the clarification.

[2022-05-18 15:04] #8223 closed

[2022-05-19 14:36] alex--m opened #8245 "Build fails over unknown attribute 'optimize' used by UCS_F_NOOPTIMIZE"
Build (with gtest) using GCC v11.2.1 fails with the following error:
[code]

[2022-05-19 14:39] hoopoepg commented on #8245
hi
could you post here config.log file? it is produced by `configure` script

[2022-05-19 14:51] hoopoepg commented on #8245
is it possible that used different pure C and C++ compilers package? like different compilers type (gcc/clang) or version?

[2022-05-21 22:02] tonycurtis commented on #8216
Here's the UCX_LOG_LEVEL=info output:

``
[1653170535.008386] [er02:593424:0]     ucp_context.c:1855 UCX  INFO  Version 1.14.0 (loaded from /home/arcurtis/opt/x86_64/ucx/git/lib/libucp.so.0)
[1653170535.009223] [er04:601925:0]     ucp_context.c:1855 UCX  INFO  Version 1.14.0 (loaded from /home/arcurtis/opt/x86_64/ucx/git/lib/libucp.so.0)
[1653170535.020528] [er01:595504:0]     ucp_context.c:1855 U

[2022-05-21 22:21] tonycurtis commented on #8216
Here's the UCX_LOG_LEVEL=debug output for 2 PEs:

[code]

[2022-05-23 07:01] yosefe commented on #8216
@tonycurtis can you pls post the hanging process backtrace and the reproducer code (a.out source)?

[2022-05-23 17:18] tonycurtis commented on #8216
I'm going to investigate more myself, something weird going on

[2022-05-23 18:00] tonycurtis commented on #8216
Ah, looks like it is actually a PMIx version issue.  Closing.

[2022-06-02 05:26] simonbyrne commented on #5485
Any update on this?

[2022-06-02 16:17] simonbyrne commented on #5485
Thanks, 1.13-rc1 did fix my issue (I'm not sure what ROCm version it is using)

[2022-06-03 13:22] haampie opened #8278 "Build failure"
Using clang 13, ucx 1.13.0-rc1 and CUDA 11.7

[code]

Is there a convenient way to disable `-Werror`?

[2022-06-03 16:51] yosefe commented on #8278
@evgeny-leksikov @Akshay-Venkatesh FYI

[2022-06-04 23:18] shamisp commented on #8245
I'm using `gcc (GCC) 12.1.1 20220507 (Red Hat 12.1.1-1)`  and I don't see this issue.

[2022-06-05 04:21] #8245 closed

[2022-06-13 22:11] ltalirz commented on #7725
For what it's worth, I encountered a very similar error
[code]
while running the Quantum ESPRESSO quantum mechanical simulation engine compiled with openmpi 4.1.0 and ucx version 1.10.0 revision 96422ce .
The error occurs only for a very niche set of inputs (>95% of my calculations run fine), but for the affected inputs it seems the issue occurs somewhat reproducibly.

The backtrace is
[code]

I d

[2022-06-15 22:50] thomasgillis opened #8322 "OpenMPI 4.1.3 + UCX 1.12.1 - Failed to receive UCX worker address"
### Describe the bug

We are experiencing issues difficult to identify at "high" number of ranks (8k, when running with `dc`), while everything works perfectly at lower rank number (4k and bellow, running with `rc`)
The run would fail with a message typically of:

[code]

The following backtrace is then available, which shows an error in the `MPI_Testsome()` function.

[code]

It's not clear to us

[2022-06-18 07:16] chrjxj opened #8324 "failed in build when adding `--with-rdmacm`"
Try to build UCX inside a docker container (`nvcr.io/nvidia/cuda:11.1-cudnn8-devel-ubuntu18.04`)

[code]
at config step, when adding `--with-rdmacm` flag, it reports
[code]

any suggestion to fix this? thanks!

[2022-06-18 11:34] changchengx commented on #8324
What's the reason of using the verfy old version? https://github.com/openucx/ucx/releases/

To simplify, you can follow below link to install ofed which will install rdma-core library automatically.
https://network.nvidia.com/products/infiniband-drivers/linux/mlnx_ofed/
If you confirm that OFED has been installed, you need to check whether rdma-core package is installed in the docker environment.

[2022-06-18 14:07] chrjxj commented on #8324
thank you, Jerry. It works after adding some packages on top of the docker container.

`apt install -y libnuma-dev  libibverbs-dev rdma-core`

[2022-06-18 14:07] #8324 closed

[2022-06-20 12:49] pentschev opened #8328 "`ucx_perftest` in uninterruptible state with 1.12.1/1.13.0-rc1"
### Describe the bug
`ucx_perftest` left in uninterruptible state (`D`) after NVLink benchmarking on a DGX-1 with 1.12.1 and 1.13.0-rc1, requiring a power cycle to make the machine usable again. The results are printed as expected, the issue only occurs when process is terminating. The behavior of requiring a power cycle makes it prohibitive to test many combinations so I could not test more combi

[2022-06-23 05:02] bistack commented on #4325
@yosefe Hi. Is it possible that chid process cleans up env and then re-connects new ucx RDMA connections?

[2022-06-23 09:18] yosefe commented on #4325
it may work, but it's not officially supported/tested at the moment.

[2022-06-23 12:32] bistack commented on #4325
@yosefe Thanks. We had tried once without success. A big problem was that we did not understand the ucx code. Is there some demo code? Maybe we could try second times.

[2022-06-24 06:49] razor1991 opened #8336 "OpenMPI-4.1.2+UCX-1.12.0 Fail to create QP: Cannot allocate memory"
### Describe the bug
#### case1
When I run osu_init in 2 nodes with 256 processes per node, it is reported like:

These Firmware version of CX5 is `Firmware version: 16.31.2006`, `OFED Version: MLNX_OFED_LINUX-5.4-3.0.3.0:`

#### case2
I found other 2 nodes, only the firmware version is different(`Firmware version: 16.27.1016`, OFED version is same).
And the osu_init is OK.

### Steps to Reproduce

[2022-06-24 11:35] yosefe commented on #8336
@razor1991
1. is there any error in dmesg?
2. what is the output of "ulimit -l"?

[2022-06-25 02:25] razor1991 commented on #8336
@yosefe
1.dmesg:

2.ulimit -l output:

[2022-06-25 02:31] razor1991 commented on #8336
@yosefe
I also try to decrease ppn, when I decrease to 250 ppn, osu_init is OK.

Is there anything I forgot to set?

[2022-06-25 09:25] yosefe commented on #8336
@razor1991 can you pls increase PF_LOG_BAR_SIZE, as described in https://github.com/open-mpi/ompi/issues/6854?

[2022-06-25 09:39] razor1991 commented on #8336
@yosefe thanks very much. it solved my problem.

[2022-06-25 09:43] #8336 closed

[2022-06-29 17:16] Madeeks opened #8344 "Make individual transports buildable and loadable as dynamic objects"
Libfabric providers can be configured to be built as dynamically loadable libraries, separate from the main library object, for example

[code]

Such DSO providers can be loaded and used at runtime by a core libfabric library, even if the core library was not originally built with those providers.

Would it be possible to have a similar feature for UCX transports?

My main use case for this would

[2022-07-01 01:11] shamisp commented on #8344
I will close this for now. If you have more questions please feel free to re-open.

[2022-07-01 11:35] marxin opened #8347 "FTBFS with GCC 13"
Fails with:

[code]

due to:
https://gcc.gnu.org/gcc-13/porting_to.html#header-dep-changes

[2022-07-01 17:34] yosefe commented on #8344
Actually, currently UCX does not allow loading "external" transports. most of the infrastructure exists, but the list of dynamic modules to load is defined in configure time, for example:
https://github.com/openucx/ucx/blob/f63dd462322eac2f98a273477e7c0e466951ed48/src/uct/configure.m4#L13
So need to do 2 things:
1. Modify https://github.com/openucx/ucx/blob/3bc9f245baf8a318a07812d7f553e6ec569f4fb4

[2022-07-08 03:15] Akshay-Venkatesh commented on #8328
@pentschev I tried this on DGX1v on Prom  and I don't see the same issue.  Although I don't have `--with-sysroot` and the machine has driver version 460.32 :
[code]

[2022-07-08 10:43] skypexu opened #8365 "How to know I got a uct_ep_put_zcopy request"
I don't know if there is a way to know that peer sent a uct_ep_put_zecopy  request, and the data is in my memory now.
is there  a notification ?

[2022-07-08 10:50] #8365 closed

[2022-07-08 14:31] pentschev commented on #8328
For completeness here, I discussed offline with @yosefe and the processes hang at:

[code]

This seems to be indicative of a bug in MOFED 5.3. The suggestion now is to upgrade to MOFED 5.5, rebuild `nv_peer_mem` and test again. I'll coordinate with our devops team to have the machines upgraded, retest and then report back.

[2022-07-09 12:50] greole opened #8373 "Failing unit tests with ucx 1.14.0 and ROCm 5.1.0"
### Describe the bug
ROCm related unit test failed
see [rocm.log](https://github.com/openucx/ucx/files/9076538/rocm.log)

### Setup and versions
- CentOs stream 8
- rdma-core-55mlnx-37-1.55103.x86_64
[code]
- For GPU related issues:
 see
[rocminfo.log](https://github.com/openucx/ucx/files/9076543/rocminfo.log)

### Additional information (depending on the issue)
- OpenMPI version
[code]
- Configur

[2022-07-09 22:54] tonycurtis opened #8374 "Fedora 36: compile issue"
### Setup and versions
- OS version (e.g Linux distro) + CPU architecture (x86_64/aarch64/ppc64le/...)
   - `cat /etc/issue` or `cat /etc/redhat-release` + `uname -a`

[code]

[code]

[2022-07-10 09:06] changchengx commented on #7215
@bernardshen

Do you have example code based on libverbs to show it really happens?

[2022-07-12 07:16] greole commented on #8373
This https://github.com/openucx/ucx/issues/5485 seems to be related.

[2022-07-12 14:12] edgargabriel commented on #8373
Could you maybe also confirm that the large-bar test detailed [here](https://github.com/openucx/ucx/wiki/Build-and-run-ROCM-UCX-OpenMPI) is working for you? Otherwise this could hint at a permission problem (e.g. that you are not part of the video or render group) which could manifest itself in different ways,

[2022-07-12 22:03] yosefe opened #8381 "Failure in dc_mlx5/test_dc_flow_control.pending_grant_and_resend_hard_req"
Seems caused by recent changes in DC FC resend mechanism

[code]
(without valgrind)

https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/47367/logs/761
https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=47367&view=logs&j=aad8e665-883c-5de5-2c44-9f0efbc0c985&t=92c70050-a5c9-5627-9499-71dc996b98e1&s=ea5ef80c-b63d-5439-aa09-20a1f5179b9e

[2022-07-13 07:33] thangckt commented on #5284
I have the same problem with UCX even last version 1.13.0
build UCX with `--enable-mt` does not solve this problem.

did anyone find some other ways?

[2022-07-13 07:37] yosefe commented on #5284
@thangckt if you are also running in a container, pls check https://openucx.readthedocs.io/en/master/running.html?highlight=container#running-in-docker-containers
if doesn't help can you pls open new issue with full command line and output, with adding "-mca pml_ucx_verbose 100" to mpirun for more debug info?

[2022-07-13 11:08] shimmybalsam opened #8384 "UCC mpitest needs -x UCX_IB_PREFER_NEAREST_DEVICE=n flag to run on helios"
### Describe the bug
UCC mpitest fails to run on helios machine on hpcadvisorycouncil, unless flag is added -x UCX_IB_PREFER_NEAREST_DEVICE=n.
Note that for example on Rome machine on hpcadvisorycouncil, mpitest runs without needing the extra flag.

### Steps to Reproduce
Allocate 1 helios node on hpcadvisorycouncil
clone UCC
source hpcx-gcc-redhat7/hpcx-init.sh
hpcx_load

Note in cmd make LD_LIBR

[2022-07-13 11:46] yosefe commented on #8384
@shimmybalsam can you pls post the full output?

[2022-07-14 08:55] #3593 closed

[2022-07-15 05:48] greole commented on #8373
Thanks for having a look at this.

The large-bar test works:

[code]

I'll do some further tests to see where the problem arises.

[2022-07-17 15:14] #8381 closed

[2022-07-19 02:05] skypexu opened #8390 "Is there a way to close ucp_worker_h's port"
### Describe the bug

It seems each ucp_worker_h has a listen port, I don't need this, can I close it ?

[2022-07-19 07:23] yosefe commented on #8390
Can you try setting UCX_TLS=^tcp ?

[2022-07-19 18:38] #8048 closed

[2022-07-19 19:13] BKitor opened #8391 "Poor performance with large message GPU->GPU put_nbx"
### Describe the bug
I'm trying to build a project that relies on ucp_put_nbx using GPU buffers, but I'm seeing terrible performance with large message sizes.
The system I'm using doesn't support GPU-Direct, so I have to rely on cuda-copy.
With `UCX_PROTO_ENABLE=y` set, UCX is using the put/am/bcopy protocol.
From what I can gather, the protocol is sending a series of am messages to trigger 8kB GE

[2022-07-19 19:30] yosefe commented on #8391
@BKitor currently this is the only protocol that is supported on systems without GPU-direct. While it's possible to create a more optimal protocol with larger fragments, this hasn't been done so far.

[2022-07-19 20:04] BKitor commented on #8391
@yosefe Ok, that makes sense.
If I were to hack my own copy of UCX to have a larger fragment size, where in the code should I be looking? Are there any functions/structures that would be a good jumping-off point?

[2022-07-19 20:20] yosefe commented on #8391
@BKitor Simply increasing segment size could be done by UCX_IB_SEG_SIZE env var. But it would consume more memory and still use sync cuda copy. The optimal way is probably something similar to 3-stage rndv pipeline used for ucp_tag_send*. It is implemented in rndv_ppln.c, rndv_mtype.inl, and rndv_put/get.c. But it's probably not so simple :)

[2022-07-20 19:25] BKitor commented on #8391
Thanks for the advice Yossi, I appreciate the help.

[2022-07-20 19:25] #8391 closed, assigned to nobody

[2022-07-21 21:44] mcuma opened #8397 "UCX does not include InfiniBand when building with NVHPC compilers"
### Describe the bug
We are building OpenMPI with UCX as fabric using Spack package manager on our clusters that have various generations of Mellanox InfiniBand. We specify the verbs and mlx5 providers. When building with GNU or Intel compilers, ucx_info correctly shows these, but with the NVHPC it does not. I have verified in the Spack build logs that the libibverbs and libmlx5 are being found by

[2022-07-22 19:57] rrgargeya opened #8398 "UCP server callback is not invoked upon a client connection"
### Describe the bug
We are trying to use UCP to implement clients and servers.
This is replace our Verbs based implementation where clients and servers are connected via RC QPs.

I have an issue in that the server's callback is not getting called when the client tries to connect.

The error callback on the client is not getting called (properly perhaps as there was no error).

These are IB interf

[2022-07-22 20:51] rrgargeya commented on #8398
$ ucx_info -d
#
# Memory domain: posix
#     Component: posix
#             allocate: <= 97650420K
#           remote key: 24 bytes
#           rkey_ptr is supported
#
#      Transport: posix
#         Device: memory
#           Type: intra-node
#  System device: <unknown>
#
#      capabilities:
#            bandwidth: 0.00/ppn + 12179.00 MB/sec
#              latency: 80 nsec
#             overhe

[2022-07-25 08:54] hoopoepg commented on #8397
hi @mcuma
thank you for bug report

could you provide complete output from configure script, config.h and config.log files from UCX built over NVHPC environment?

is it possible to build debug version of UCX (with enabled logging) over NVHPC environment and provide output from command
`UCX_LOG_LEVEL=debug ucx_info -d`

thank you

[2022-07-25 09:44] evgeny-leksikov commented on #8398
@rrgargeya could you please share config.log which is result of configure command? It seems like rdmacm is disabled in configure/compile time by some reason.

[2022-07-25 10:02] ravil-mobile opened #8399 "Cannot compile ucx@1.13.0 on Red Hat + ppc64le with gcc@11.2.0"
### Describe the bug
I cannot manage to compiler ucx@1.13.0 on Red Hat Enterprise Linux and IBM Power9 with gcc@11.2.0.

I am using: automake@1.16.1 and autoconf@2.69

### Steps to Reproduce
[code]

### Setup and versions
- Red Hat Enterprise Linux + ppc64le
[code]

### Additional information (depending on the issue)
config logs:
[config.log](https://github.com/openucx/ucx/files/9180101/config.log

[2022-07-25 10:35] yosefe commented on #8399
@ravil-mobile can you pls post the build log with `make V=1`?
also, is any of your environment/scripts setting "--compiler-bindir" option? it does not seem to come from UCX

[2022-07-25 11:47] ravil-mobile commented on #8399
Hi @yosefe,

Here is the output. You're right that it is not a UCX problem but rather its configure script. I guess there is a problem with something like `libtool`, `autoconf` or `automake`. I am not so familiar with these them so well (I am only using CMake for my project). I guess I need to edit something in `configure` script, but I don't know what I need to do exactly.

[code]

In general it

[2022-07-25 11:58] ravil-mobile commented on #8399
@yosefe,

You were right. there was an environment variable `CUDA_CFLAGS=--compiler-bindir=/usr/bin` set. Let' me try to run without it.

PS I didn't know about it. I just loaded an env. module

[2022-07-25 12:22] yosefe commented on #8399
@ravil-mobile configure script is generated by autoconf tool in your system. UCX provides only configure.ac which is the template to create the final configure script. So i think the issue is related to system configuration.

[2022-07-25 12:42] ravil-mobile commented on #8399
Hi @yosefe,

yes. You're right. Everything works once I removed `CUDA_CFLAGS=--compiler-bindir=/usr/bin` from my environment (`$ unset  CUDA_CFLAGS`). I managed to compile `ucx`.

Thank you a lot for the hint. The issue can be closed.

Have a nice day!

[2022-07-25 12:42] #8399 closed

[2022-07-25 14:57] rrgargeya commented on #8398
We are gathering the 'config.log' file. In the meantime, here is the information from 'ucx_info' which shows how ucx was configured.

$ ucx_info -v
# UCT version=1.12.1 revision dc92435
# configured with: --disable-logging --disable-debug --disable-assertions --disable-params-check

[2022-07-25 15:20] evgeny-leksikov commented on #8398
Need to understand why rdmacm listerner wasn't even tried to start, I think it was disabled by configure and the reason should be clear from config.log.

[2022-07-25 20:11] omor1 commented on #6264
I am encountering the same issue while running a tile low-rank Cholesky where the tiles are smaller than we've used before, resulting in many more tasks and more communication messages—though, notably, the total volume of communication (in bytes) is not expected to be very different, as the matrix size has not been changed. This is running on top of PaRSEC using Open MPI as the communication backe

[2022-07-25 20:43] rrgargeya commented on #8398
We do have a rdmacm issue that can be seen in the config.log. Please see if any of the other errors need our attention. Is there a minimum OFED version requirement? We have MLNX_OFED_LINUX-4.2-1.2.0.0: on our nodes.

[ucx.1.12.1.config.log](https://github.com/openucx/ucx/files/9184653/ucx.1.12.1.config.log)

[2022-07-26 08:23] yosefe commented on #8398
@rrgargeya UCX currently requires MLNX_OFED 5.0 or later.

[2022-07-26 10:33] evgeny-leksikov commented on #8398
@yosefe maybe we should document it? For example, [here](https://openucx.readthedocs.io/en/master/faq.html#dependencies)

[2022-07-26 13:35] alexeedm opened #8401 "Feature request: make different processes use different nearest NICs (in case when there are multiple nearest ones) when UCX_IB_PREFER_NEAREST_DEVICE is set"
Hey folks, I have a feature request related to UCX_IB_PREFER_NEAREST_DEVICE. Overall, I find this setting very useful and increasing the portability of the MPI code by a large margin. However, there is a particular case when this setting doesn't provide the best binding. Specifically, when 2 NICs have the same distance to the 2 processes on the node, both these processes would be assigned the same

[2022-07-26 15:15] shamisp commented on #8398
@yosefe @evgeny-leksikov Can you catch this through configure check ?

[2022-07-26 15:21] cniethammer opened #8402 "Core dumps from ucx_info -d"
### Describe the bug
Segfaults/core dumps when running `ucx_info -d`

### Steps to Reproduce
- ucx 1.13.0 release installation with `./configure --prefix=$HOME/bin/ucx-1.13.0`
[code]

### Setup and versions
- OS version (e.g Linux distro) + CPU architecture (x86_64/aarch64/ppc64le/...)
   - CentOS Linux release 8.4.2105, Linux XXX 4.18.0-305.25.1.el8_4.x86_64 x86_64 x86_64 x86_64 GNU/Linux
- For R

[2022-07-26 15:24] evgeny-leksikov commented on #8398
it's already there:
[code]

[2022-07-26 16:09] rrgargeya commented on #8398
We are installing a recent OFED and will post here if it resolves this issue.

While you are updating the FAQ section with the latest minimum required OFED version, could you also please update the other hardware and software compatible versions, such as Linux version, (Mellanox) HCA version, and others that may be relevant?

[2022-07-26 16:32] shamisp commented on #8398
@evgeny-leksikov Does it fail or just print warning ?

[2022-07-26 19:04] shamisp commented on #8398
I think if it was explicitly request `--with-rdmacm` the configure should fail.

[2022-07-26 19:08] rrgargeya commented on #8398
We installed OFED version,
MLNX_OFED_LINUX-5.5-1.0.3.2, and
UCX 1.13

Closer, but still no cigar.

As you can see, an rdmacm listener is created and so also a TCP listener. The server callback is still not called.

I tried with this env variable
UCS_SOCKADDR_TLS_PRIORITY=rdmacm

The default values were 'rdmacm,tcp'

What should I be doing? Thanks.

[1658861965.246635] [hostA:53924:1] rdmacm_listen

[2022-07-26 19:15] evgeny-leksikov commented on #8398
@shamisp defenitely if it was requested but it was not:
[code]

[2022-07-26 19:30] evgeny-leksikov commented on #8398
@rrgargeya could you share client side log as well?
do you have IPoIB (or RoCE iterface) configured properly? can simple rdma test operate? For, example,
server:
[code]
client:
[code]

[2022-07-26 20:00] rrgargeya commented on #8398
[Subscriber.v2.docx](https://github.com/openucx/ucx/files/9192955/Subscriber.v2.docx)
[Publisher.v2.docx](https://github.com/openucx/ucx/files/9192956/Publisher.v2.docx)

1) The full log (log level=debug) are above.

2) ib_send_lat output below looks good.

$ ib_send_lat --rdma_cm 172.200.10.72
---------------------------------------------------------------------------------------

[2022-07-26 20:17] tonycurtis commented on #8216
Looks like relaxed-order is disabled on this cluster (admin ran query command as listed here: https://hpcadvisorycouncil.atlassian.net/wiki/spaces/HPCWORKS/pages/1280442391/AMD+2nd+Gen+EPYC+CPU+Tuning+Guide+for+InfiniBand+HPC?preview=/1280442391/1280409615/image-20200206-071308.png#Relaxed-Ordering).  However, UCX sees the AMD processor, and enables relaxed-order.  Override with `UCX_IB_PCI_RELAXE

[2022-07-27 07:51] evgeny-leksikov commented on #8398
@rrgargeya Subscriber log seems weird:
[code]
it seems like UCX completely blocked including its async rdmacm thread and/or event channel
- does the app call `ucp_worker_progress` periodically? it's needed to progress connection establishment protocol and all communications.
- could you please also try this example? https://github.com/openucx/ucx/blob/master/examples/ucp_client_server.c

[2022-07-27 12:52] Artemy-Mellanox commented on #8402
Hi, could you please post `cat /proc/cpuinfo` and `ucx_info -b`
Also could you please set environment variable `UCX_IB_PCI_RELAXED_ORDERING=no` and run `ucx_info -d`, this supposed to be workaround for the issue

[2022-07-27 13:28] cniethammer commented on #8402
Thanks for the response.

First, setting `UCX_IB_PCI_RELAXED_ORDERING=no` helped and prevents the segfault.

And here the requested output:

Output from `ucx_info -b`
[code]

Output from `cat /proc/cpuinfo`:
[code]

[2022-07-27 14:30] tonycurtis commented on #8402
Seems related to #8216  ?

[2022-07-27 16:33] rrgargeya commented on #8398
@evgeny-leksikov  On the ucp server side, I do have a ucp_worker_progress() in a loop that is broken by a flag set in the server callback function. I do not have a ucp_worker_progress().
I take it from your response, ucp_worker_progress() is needed on the client side also to progress the communications. If yes, what do I use to break out of the progress loop? Send a non-blocking test message to th

[2022-07-27 17:25] evgeny-leksikov commented on #8398
`ucp_worker_progress()` is needed on both sides, it depends on application how to break the loop and when call `ucp_worker_progress()`. `ucp_worker_progress()` returns number of handled internal events or `0`.  In general approach comunications can be progressed when nothing to do or in separate thread. Also [UCP_FEATURE_WAKEUP](http://openucx.github.io/ucx/api/latest/html/group___u_c_p___c_o_n_t_

[2022-07-27 19:01] tonycurtis commented on #8397
FWIW I've seen the nvidia/pgi compilers "intrude" on the environment.  When the module was loaded, even `ibv_devinfo` was failing.  It could be `LD_LIBRARY_PATH` or something similar that is causing the problem.  Maybe `ldd`/`lddtree` the executable to see if unexpected libraries are being picked up?  There are also various versions of the nvidia compilers that include/exclude an in-built (Open-)M

[2022-07-27 20:05] rrgargeya commented on #8398
@evgeny-leksikov Server callback gets called now. Thank you.
Also thanks for updating the FAQ pages with the OFED version. Please consider adding any other hardware or software dependencies too.

[2022-07-28 05:59] zzzoom commented on #8278
Seconded, please add an option to disable the currently hardcoded `-Werror` to allow builds with bleeding edge compilers and weird compiler options.

[2022-07-28 07:04] evgeny-leksikov commented on #8398
@rrgargeya so I think the issue can be closed since initial problem is solved?

[2022-07-28 13:08] #8398 closed

[2022-07-28 14:02] xkszltl opened #8412 "Failed on Ubuntu 18.04"
### Describe the bug

Got undefined ref on Ubuntu 18.04 during build.
Same build is fine on Debian 11.

[code]

This part should be related:
[code]

### Steps to Reproduce
- Command line: https://github.com/xkszltl/Roaster/blob/8c8af5f0052d3307bdef38cb4bfbb7e18621dd1a/pkgs/ucx.sh#L38-L56
- UCX version used (from github branch XX or release YY) + UCX configure flags (can be checked by `ucx_info -v`

[2022-07-28 14:52] hoopoepg commented on #8412
hi @xkszltl

thank you for bug report

could you post here `config.log` and `config.h` files?

[2022-07-28 15:04] xkszltl commented on #8412
Anything specific you want? I think github doesn't like those huge files (22k/1k lines)

[2022-07-28 15:07] hoopoepg commented on #8412
output for `grep HAVE_MLX5_DV condif.h config.log`

[2022-07-28 15:09] xkszltl commented on #8412
Added uniq as most of them are just the same line from log:
[code]

[2022-07-28 15:09] xkszltl commented on #8412
[code]

[2022-07-28 15:21] hoopoepg commented on #8412
really strange... according logs file ib_mlx5dv_md.c should be included into build, but it seems it is not compiled...
could you run command
[code]
and post output?

[2022-07-28 15:30] xkszltl commented on #8412
[code]

[2022-07-28 15:33] xkszltl commented on #8412
(BTW this is a recent regression. I built with the same script in May for 1.12.1 without issue)

[2022-07-28 15:53] hoopoepg commented on #8412
ok, could you try this PR: https://github.com/openucx/ucx/pull/8413
it is pushed over last release branch

[2022-07-28 16:00] xkszltl commented on #8412
That works

[2022-07-28 16:24] omor1 opened #8415 "Segfaults in malloc when compiled with LTO"
### Describe the bug
Compiling UCX 1.13.0 with AOCC and using `-flto`, I get segfaults. This occurs both with `ucx_info` (see #8402) and with other consumers e.g. Open MPI. Segfaults occur from inside libc, when allocating memory in  `mlx5_alloc_context` called from `uct_ib_mlx5_devx_open_device`.

### Steps to Reproduce
Compile UCX 1.13.0 with `CFLAGS="-flto" CXXFLAGS="-flto" LDFLAGS="-flto"`

##

[2022-07-28 17:02] omor1 commented on #8415
Specifically, it seems that at `-O2` or `-O3` with `-flto`, the test program (below) does not work.

[code]

[2022-07-28 17:38] yosefe commented on #8415
@omor1 can you pls post the command line and the backtrace of the segfault?

[2022-07-28 18:01] omor1 commented on #8415
[code]

[2022-07-28 18:10] omor1 commented on #8415
I think that the problem is that the malloc hooks aren't being detected as working, so some other method is being used and causing problems. Notably, the `malloc hooks` test when compiled with LTO completely _eliminates_ the call to `malloc`, so that `rc` is always `1`.

Regular build:
[code]

LTO:
[code]

[2022-07-28 21:49] omor1 commented on #8415
I was slightly wrong in my analysis—what's actually happening is that under LTO, both GCC and Clang (and its derivatives) can determine that a) `ptr` is defined in this object and b) `ptr` is never accessed outside this object, so `ptr` can be safely eliminated entirely and, therefore, the call to `malloc` disappears. Attaching `__attribute__((used))` to `ptr` is sufficient to ensure that `ptr` is

[2022-07-29 01:48] omor1 commented on #8415
[code]

This at least lets GCC-compatible compilers using LTO to pass this test and enable malloc hooks; however, something is still very broken, since I still get segfaults inside malloc. Notably, when I've preloaded a different malloc implementation e.g. mimalloc, it runs correctly—so this is specifically some interaction with the system malloc.

[2022-07-29 09:09] skypexu commented on #8390
thanks

[2022-07-29 09:09] #8390 closed

[2022-07-29 15:01] mcuma commented on #8397
Hi @hoopoepg ,

thanks for your reply and the debug suggestion. I am not sure how to well attach files to this ticket so let me put them to a public link, https://home.chpc.utah.edu/~mcuma/debug/ucx/

In particular, the spack_build directory contains the requested files from the Spack build, debug_build contains the configure and ucx_info output from a build with --enable-debug option, and nodebug

[2022-07-29 16:28] hoopoepg commented on #8397
as I can see from logs all builds successfully detected verbs library and enabled basic IB support.

could you run command
`ldd -r <PATH-WHERE-UCX-INSTALLED>/lib/ucx/libuct_ib.so`
on UCX build which can't detect IB devices and check if all dependencies are available?

yes, it could be reason, but as I can see from your bug report (ibv_devinfo) - devices are configured properly.
what is output for

[2022-07-29 16:53] #8412 closed

[2022-07-29 18:54] pentschev commented on #8328
We have upgraded our machines to `MOFED 5.5-1.0.3.2` and everything seems to be working well so far. For any future readers, please note upgrading to `nv_peer_memory 1.2` or higher is needed as well, as currently noted in its [Installation section](https://github.com/Mellanox/nv_peer_memory#installation):

Thanks @Akshay-Venkatesh and @yosefe for the help in tracking this issue.

[2022-07-29 18:54] #8328 closed

[2022-07-30 08:32] mcuma commented on #8397
Hi Sergey,

the ldd seems to get the IB libraries correctly:
$ ldd -r /uufs/chpc.utah.edu/sys/spack/linux-rocky8-nehalem/nvhpc-21.5/ucx-1.11.2-asrhvd26hyucdhokcp6l5ufukmgxync7/lib/ucx/libuct_ib.so
	linux-vdso.so.1 (0x00007ffd3045e000)
	libibverbs.so.1 => /usr/lib/gcc/x86_64-redhat-linux/8/../../../../lib64/libibverbs.so.1 (0x00007f9bef67f000)
	libmlx5.so.1 => /usr/lib/gcc/x86_64-redhat-linux/8/../

[2022-07-30 09:19] yosefe commented on #8415
@omor1 I guess a simpler solution is to print ptr from the autoconf test program.
Nevertheless, it should not segfault...
Can you pls try (ucx_info command) after "export UCX_MEM_EVENTS=no"?

[2022-07-30 20:39] omor1 commented on #8415
Running with `UCX_MEM_EVENTS=no` works correctly. I'm trying to compiler with AddressSanitizer to see if it'll show anything useful, but am running into annoying issues with the system I'm on...

[2022-07-30 20:44] omor1 commented on #8415
Setting `UCX_MEM_MMAP_HOOK_MODE=reloc` (or `none`, for that matter) also bypasses the problem—so the problem is with `bistro`. I guess that's not particularly surprising.

[2022-07-30 22:32] omor1 commented on #8415
I haven't attempted a fix yet to confirm my hypothesis, but I think what happens is thus:
1) Using `bistro` with mem events will install the various UCM `brk`, `sbrk`, `mmap`, etc. handlers
2) `ucm_orig_brk` calls `ucm_brk_syscall`
3) With LTO, this call is inlined entirely
4) `ucm_brk_syscall` with x86_64 uses inline assembly to call the `brk` sys call directly instead of going via the libc `sysc

[2022-07-31 03:20] omor1 commented on #8415
[code]

This fixes the issue—the problem is indeed the missing clobbers for `syscall`.

[2022-07-31 13:36] yosefe commented on #8415
@omor1 why needed to remove "move %1, %%rdi"?
is it ok I submit your fix as a PR?

[2022-08-01 11:14] mcuma commented on #8397
One more tidbit that I found. On our older cluster that still has CentOS 7, UCX builds correctly with NVHPC (= includes the verbs providers), but, OpenMPI still crashes with the "No resources available" error.

I ended up with a workaround to build UCX with the stock OS gcc and then building OpenMPI with this UCX which results in correct OpenMPI behavior.

So, I am good for now but still wondering

[2022-08-01 19:12] omor1 commented on #8415
The Linux x86-64 `syscall` ABI specifies that the syscall number is passed in `rax`, the return value is in `rax`, and the arguments are in `rdi`, `rsi`, `rdx`, `r10`, `r8`, and `r9`.

[2022-08-01 19:19] omor1 commented on #8415
The Linux x86-64 `syscall` ABI specifies that the syscall number is passed in `rax`, the return value is in `rax`, and the arguments are in `rdi`, `rsi`, `rdx`, `r10`, `r8`, and `r9`.

Previously, the `"m"(addr)` constraint specified that `addr` was to be in memory; the assembly would then move it to `rdi` as the first argument to the syscall. This caused inefficient code generation, since `addr`

[2022-08-02 07:17] hoopoepg commented on #8397
hi
glad to see you have workaround for issue.
we will try to reproduce it locally (unfortunately we can't reproduce it for now) and try to identify root cause

thank you for help

[2022-08-02 22:16] yosefe commented on #8415
fixed per https://github.com/openucx/ucx/pull/8417#issuecomment-1201667062

[2022-08-02 22:16] #8415 closed

[2022-08-09 05:30] karanveersingh5623 opened #8440 "UCX ERROR mlx5dv_devx_create_event_channel() failed: Protocol not supported"
### Describe the bug
A clear and concise description of what the bug is.

Trying to run docker container for data preprocessing , its MLPerf Cosmoflow NVIDIA implementation , below is the link
The MPI process , trying to run a shell script inside docker container runs fine for training folder but fails for validation , below is the script details [init_datasets.sh]:
Please let me know if you need

[2022-08-12 01:37] karanveersingh5623 commented on #8440
@Artemy-Mellanox , if you can share the steps how i can fix this issue in docker container , it will be of great help

[2022-08-12 22:12] gsamonds opened #8448 "Jobs using four or more nodes fail on Omni-Path cluster with UCX connection error"
### Describe the bug
When using an Omni-Path equipped cluster partition and running on four or more nodes, jobs fail with, for example:
`[n097:127549] pml_ucx.c:421  Error: ucp_ep_create(proc=108) failed: Destination is unreachable
[n097:127549] pml_ucx.c:472  Error: Failed to resolve UCX endpoint for rank 108
[LOG_CAT_COMMPATTERNS]   isend failed in  comm_allreduce_pml at iterations 3

[LOG_CAT_P

[2022-08-14 12:16] yosefe commented on #8440
@karanveersingh5623 can you pls add the following env vars to init_datasets.sh and post the output:
[code]

[2022-08-14 18:32] alex--m opened #8449 "Build fails on missing mlx5dv functions"
### Describe the bug
UCX master fails to build with the following error:
[code]

Looks like UCX uses a symbol even though it was not detected on the host:
[code]

### Setup and versions
[code]
**Note:** the server where this happens can be accessed remotely (contact me for details).

[2022-08-16 21:04] pentschev opened #8459 "`cuEventQuery` failed: misaligned address"
### Describe the bug
We have a workflow using UCX-Py that we can constantly hit the following error:

[code]

Once this occurs it keeps on printing indefinitely every ~5us. The reproducer consists of a cuDF merge workflow with 8 workers (one per GPU) on a DGX-1. The same isn’t reproducible with just 4 workers in any order I tested (tests were GPUs `0,1,2,3`, `4,5,6,7` and `0,3,4,7`). I’ve also tes

[2022-08-16 21:06] pentschev commented on #8459
@Akshay-Venkatesh @bureddy have any of you seen this issue before or could you take a look? I can provide a full reproducer tomorrow for you to test on a DGX-1 if needed. The runtime is fairly short, the problem normally shows up in less than a minute.

[2022-08-17 00:59] karanveersingh5623 commented on #8440
@yosefe , thanks for coming back , please refer below

[code]

[2022-08-17 07:12] jsofri commented on #7996
@yosefe @dmitrygx happy to update that you are correct, using v1.12.0 solved it
[code]

[2022-08-17 07:12] #7996 closed

[2022-08-17 07:43] yosefe commented on #8440
@karanveersingh5623 does it mean the job managed to run with these parameters?

[2022-08-17 08:11] dmitrygx commented on #7996
@jsofri great, thanks for updating us!

[2022-08-17 10:16] karanveersingh5623 commented on #8440
@yosefe , first job managed to run i.e training dataset , but when it goes to validation dataset , it fails

[code]

[2022-08-17 10:27] yosefe commented on #8440
@karanveersingh5623 Is that other failure related to UCX? Since i don't see any more UCX-related errors in the output

[2022-08-17 13:27] Akshay-Venkatesh commented on #8459
Repro would be great. Don't think I've run into this specific error before. Do you happen to know if this shows up with an older cuda version?

[2022-08-17 13:33] wence- opened #8461 "Segfault in `uct_rc_mlx5_txqp_process_tx_cqe` with UCX v1.13.x"
### Describe the bug

When running on 64 GPUs, I consistently see a segfault due to null pointer dereference in `uct_rc_mlx5_txqp_process_tx_cqe` when running python code using dask and UCX-Py.

Backtrace:
[code]

And:
[code]

Bisection points to c9d7b8ea9368dc7fd6d050adc5005e3f77a71d10 (#7919).

### Steps to Reproduce

Reproduction is a little tricky (since I don't think I can do so purely with u

[2022-08-17 15:22] karanveersingh5623 commented on #8440
Below error is not UCX related ??

[code]

[2022-08-17 15:26] yosefe commented on #8440
Don't see it in https://github.com/openucx/ucx/issues/8440#issuecomment-1217329624,
does it still happen after adding `export UCX_IB_MLX5_DEVX=no` ?

[2022-08-17 15:40] karanveersingh5623 commented on #8440
@yosefe ...oh ok....yea now those are gone but still issue with communications within....dont know what is causing the failed msgs...as a request if you can point me in some direction , it would be helpful

[2022-08-18 12:20] Artemy-Mellanox commented on #8440
@karanveersingh5623 could you please run `ucx_info -v` and post output so we'd know we don't miss something

[2022-08-18 15:17] pentschev commented on #8459
I had to do some adjustments, but I was able to reproduce this on Prom as well. Main differences to the original description are:

- DGX-1 with 8 x NVIDIA V100 (16 GB, not 32 GB as original description)
- `Linux prm-dgx-05 4.15.0-142-generic #146-Ubuntu SMP Tue Apr 13 01:11:19 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`
- MOFED `MLNX_OFED_LINUX-5.3-1.0.0.1:`
- NVIDIA driver `460.32.03`
- CUDA 11.2

T

[2022-08-19 01:34] karanveersingh5623 commented on #8440
@Artemy-Mellanox , below is shell script i ran within docker container

[code]

below is the trace generated , train finishes without issues , validation fails --> just two python cmds running in a shell script and i am using just single host

[code]

[2022-08-19 23:08] Akshay-Venkatesh opened #8469 "openmpi pml ucx cannot be selected when linking to cuda object file"
### Describe the bug
The full error message is:
[code]

Older commit of UCX where minor version was bumped to 1.14 doesn't have this issue.
[code]

UCX_LOG_LEVEL=TRACE shows this:
[code]

### Steps to Reproduce
- Command line
[code]
[code]
- Compilation and run
[code]

### Setup and versions
- DGX-1v with cuda 11.7

### Additional information (depending on the issue)
- OpenMPI version
   4.1.4

[2022-08-21 16:31] alex--m opened #8470 "UCP_OP_ATTR_FLAG_NO_IMM_CMPL breaks ucp_put_nbx()"
Looks like #7317 introduced a problem (in master), when UCP_OP_ATTR_FLAG_NO_IMM_CMPL is passed as the `op_attr_mask`. According to this code, in this case `contig_length` will be zero and no data will be sent...

The relevant code is copied from [rma_send.c](https://github.com/openucx/ucx/blob/master/src/ucp/rma/rma_send.c#L240):
[code]

@gleon99

[2022-08-23 07:48] Artemy-Mellanox commented on #8440
This issue was fixed UCX version 1.12.x so you may either upgrade or use `export UCX_IB_MLX5_DEVX=no` which has same effect.

[2022-08-23 16:52] Akshay-Venkatesh commented on #8469
@yosefe any thoughts on this?

[2022-08-23 16:59] yosefe commented on #8469
@Akshay-Venkatesh can you bisect the commit that caused it?

[2022-08-23 22:05] PeterGottesman opened #8475 "Segfault in thread sanitizer during thread join with UCX_MEM_MMAP_HOOK_MODE=bistro"
### Describe the bug
When running an application compiled using thread sanitizer, a segfault occurs when a thread is joined.

### Steps to Reproduce
Using the conda-forge distributed `ucx` version with no UCX environment variables set:
[code]

Minimal reproducer:
[code]

This segfaults when run, the stacktrace shows that occurs when thread sanitizer intercepts an rwlock acquisition in UCM during t

[2022-08-24 19:33] MattBBaker commented on #8475
Wanted to mention I ran into this too

[2022-08-25 03:24] skypexu opened #8477 "Why ucp_client_server does not use shared memory"
UCX version 1.13.x

UCX log shows the ucp_hello_world examples uses shared memory to communicate on local node,
while ucp_client_server does not use shared memory, why ?

[2022-08-25 06:39] rakhmets commented on #8469
Ok, I will take a look.

[2022-08-25 09:38] evgeny-leksikov commented on #8477
@skypexu need to set UCX_MM_ERROR_HANDLING=y for both client and server:
server:
[code]
client:
[code]

[2022-08-26 01:23] skypexu opened #8479 "Assertion `max_iov > 1"
### Describe the bug

Thread 67 "multi_threaded_" received signal SIGABRT, Aborted.

[Switching to Thread 0x7fff097fa700 (LWP 1186942)]
__GI_raise (sig=sig@entry=6) at ../sysdeps/unix/sysv/linux/raise.c:50
50      ../sysdeps/unix/sysv/linux/raise.c: No such file or directory.
(gdb) bt
#0  __GI_raise (sig=sig@entry=6) at ../sysdeps/unix/sysv/linux/raise.c:50
#1  0x00007ffff71cf537 in __GI_abort ()

[2022-08-26 06:39] skypexu commented on #8477
OK, this works.

[2022-08-26 06:39] #8477 closed

[2022-08-26 08:06] brminich commented on #8479
@skypexu, is it possible to provide a reproducer?

[2022-08-29 08:03] Concluant opened #8481 "Low performance ucx tcp from nvidia hpl benchmark"
Hello!

I have nodes with gpus (2x2680v4/128GB/2x Tesla P100/10G eth)
I use slurm/opempmi/pmix/ucx/enroot/pyxis and container nvidia hpl-benchmark 20.10
version app:
slurm 22.05
openmpi 4.0.5 (host and container)
pmix 3.5.2 (host and container)
ucx 1.10.1 (container - 1.0.9)
pyxis 12.0
enroot 3.4.0

Openmpi config
[code]

ucx_info -v ( i install use rpms)
[code]

I have problem with start perftest

[2022-08-29 14:35] dmitrygx opened #8483 "shm_ib/test_ucp_mmap.rereg/0 failure"
[code]
https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=49624&view=logs&j=04ad28a9-2cd7-507f-a9bd-154e87a70a64&t=a0c86057-4327-50ea-55ea-3b5910ee5132

[2022-08-31 08:08] #8483 closed

[2022-08-31 09:40] wu-hanqing opened #8487 "UCX ERROR req 0x7fc2d40b3c00: error during flush: Endpoint timeout, flush comp 0x7fc2d40b3c90 count reduced to 2"
Hi, We use UCP API to build our application, but we got periodic error messages like this,

[code]

I also see some PRs report this issue #8428, #8387

commit id aff9eec85

[2022-08-31 16:01] #8461 closed

[2022-09-01 07:09] #8479 closed

[2022-09-02 10:57] wence- commented on #8461
Thanks @dmitrygx!

[2022-09-05 02:05] RichardYCJ opened #8497 "Proposal to add external ucx detection for spack"
Hi @hppritcha,

I'm wondering if it is possible to add **spec detection for external ucx** by `spack`.

Since sometimes the library is provided by hardware manufacturer with optimized configuration, say embedded in NVidia OFED/HPCX toolkit. And I'd prefer to reuse it to build my own MPI. But spack requires the detailed variants of ucx packages to build, some may not but whether it is `+thread_mult

[2022-09-06 14:31] hppritcha commented on #8497
yes this would be a good idea to add to ucx package.

[2022-09-06 14:33] hppritcha commented on #8497
i'm assigning to myself but it will be on the lower end of my priority queue, so if someone else wants to take it that would be great.

[2022-09-07 08:18] #8487 closed

[2022-09-07 14:35] ojschumann commented on #5148
Hi @edofrederix,

did you find any solution to your problem. I kind have the same with a HPE Synergy 4820C adapter (With an Marvell QL45604 network prozessor). RC transport ist working, but OpenMPI fails due to UCX needing UD transport. btl openib does not work either.

[2022-09-07 15:16] edofrederix commented on #5148
No. Ended up ditching the QLogics in favor of ConnectX-4s. With those it's working very well.

[2022-09-08 01:19] jamesongithub opened #8511 "mm ep failed to connect to remote FIFO id : shared memory error; open(file_name=/proc/25599/fd/35 flags=0x0) failed: No such file or directory"
### Describe the bug
A clear and concise description of what the bug is.
During an mpirun of [hpl](https://netlib.org/benchmark/hpl) benchmark ucx errors were encounter which caused the job to fail.

The error message looks like the following:
[code]

Looks like a side issue that was reported in https://github.com/openucx/ucx/issues/4224 as well as https://github.com/easybuilders/easybuild/issues/

[2022-09-08 01:48] Qiyu8 opened #8512 "cuda_ipc cannot work: illegal memory access in ARM machine."
### Describe the bug
Hello!
I was trying to running lammps(kokkos mode) in my ARM-based machine, Two A100 NVidia card are installed. However, I couldn't manage to make cuda_ipc transport to work as long as the P2P is enabled. The mpirun command is as follows:
[code]
The failed log is:

[code]

but if I removed cuda_ipc or turn cuda/aware off, The program can run successfully while the performance

[2022-09-08 18:53] Akshay-Venkatesh commented on #8469
@yosefe @rakhmets Based on the offline discussion, I did try and catch potential error returned by the kernel launch by the following changes in multiply.cu:
[code]
But not surprisingly the original error still shows up because it happens in worker_create phase  (which is before the kernel is even launched).

As I mentioned offline, the error goes away when I include `-arch sm_70` to nvcc compiler

[2022-09-09 13:17] yosefe commented on #8469
@Akshay-Venkatesh to summarize our offline discussion let's PR an entry to https://github.com/openucx/ucx/blob/master/docs/source/faq.md#working-with-gpu and/or README.md about this issue, and in same PR, cuda_copy transport should print the PTX error message with log level error, even if hide_errors is set.

[2022-09-10 01:18] #8347 closed

[2022-09-11 09:53] brminich opened #8523 "shm_ib/test_ucp_am_nbx_send_copy_header.all_protos/3 <shm,ib/reply/proto> fails on swx-rdmz-ucx-gpu-01"
### Describe the bug
https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=50521&view=logs&j=f97d6e39-20b4-5224-cb57-ac6707fa3b18&t=65630ad1-e2d8-5140-3757-25a4f549d6a1

[code]

[2022-09-13 14:03] angainor commented on #7861
the issue was caused by a fault Lustre client.

[2022-09-13 14:03] #7861 closed

[2022-09-15 06:21] #8512 closed

[2022-09-18 14:04] Wsky51 commented on #6120
@wulinzi312 Hi, I have the same problem ,

`[root@153 lib]# java -cp jucx-1.12.1.jar org.openucx.jucx.examples.UcxReadBWBenchmarkReceiver
Exception in thread "main" java.lang.UnsatisfiedLinkError: Native code library failed to load: libjucx.so. /tmp/jucx2138670872809875907/libjucx.so: /tmp/jucx2138670872809875907/libjucx.so: undefined symbol: ucs_profile_default_ctx
        at org.openucx.jucx.Nat

[2022-09-19 06:56] Andre235 commented on #4866
Where is this parameter added?

[2022-09-19 07:39] mkre commented on #4866
@Andre235 to the `mpirun` command line.

[2022-09-19 07:58] satishskamath commented on #6264
@yosefe As mentioned above we approached Nvidia with the same problem. the NVIDIA networking support's first reply was:
[code]
Is there a way to increase this? `UCX_IB_RCACHE_MAX_REGIONS=inf` This environment variable is not available in `UCX-1.10.0`.

[2022-09-19 08:17] yosefe commented on #6264
This is a FW configuration that not changed easily.
I'd recommend upgrading UCX version and using UCX_IB_RCACHE_MAX_REGIONS env var.

[2022-09-20 03:09] Andre235 commented on #4866
Hi, I also encountered the same problem in this issue. When I tried to change the order of so files, I found that there is no mca_pml_yalla.so file in lib/ompi directory, only mca_osc_ucx.so file. And other directories also don't have mca_pml_yalla.so file

[2022-09-20 03:12] Andre235 commented on #4866
Hi, I also encountered the same problem in this issue. When I tried to change the order of so files, I found that there is no `mca_pml_yalla.so ` file in `lib/ompi` directory, only `mca_osc_ucx.so` file. And other directories also don't have `mca_pml_yalla.so` file.

[code]

[code]

[2022-09-20 15:54] petro-rudenko commented on #6120
@Wsky51 Seems like you have a different version of libucp.so in your classpath. Can you set classpath first to ucx-1.12.1 library.

[2022-09-20 17:49] gregfi opened #8549 "no matches to transport list in OpenMPI 4.1.4"
### Describe the bug
I can successfully test rc and ud transports on mlx4_0:1 using ucx_perftest. However, OpenMPI reports:
[code]

### Steps to Reproduce
- Command line
`mpirun --mca pml ucx --mca btl ^uct -x UCX_NET_DEVICES=mlx4_0:1 -x UCX_TLS=all --mca pml_base_verbose 100 --mca btl_base_verbose 100 -mca pml_ucx_verbose 100 $CODE_NAME`
- UCX version used
[code]

### Setup and versions
- OS vers

[2022-09-22 16:18] tonycurtis opened #8558 "Programs hang with > 4 nodes since recent hit"
### Describe the bug

OpenSHMEM programs on our a64fx cluster have started hanging/crashing since commit below.  Error messages under details.

Seems to be related to XPMEM because program runs fine if excluded.

### Steps to Reproduce
- Command line
- UCX version used (from github branch XX or release YY) + UCX configure flags (can be checked by `ucx_info -v`)

github master @ 0e7bc7a1c39dc88602a

[2022-09-22 16:25] hoopoepg commented on #8558
hi @tonycurtis
is there any reproducer for issue?

[2022-09-22 16:26] tonycurtis commented on #8558
Can't share the actual code.  Will see if I can find something open.

[2022-09-22 16:31] tonycurtis commented on #8558
Erm, I just rm-rf'ed the UCX repo, completely reinstalled UCX from scratch, and things are working now.

[2022-09-22 16:33] tonycurtis commented on #8558
I just rm -rf'ed the repo, re-cloned and built from scratch, things are working again.  Strange.

[2022-09-22 17:13] tonycurtis commented on #8558
Closing, not sure what happened, but it's all working again.

[2022-09-22 17:13] #8558 closed

[2022-09-26 07:11] brminich opened #8564 "shm_ib/test_ucp_sockaddr.fail_and_force_close_during_rndv/5 fails on swx-rain04"
Happened here:
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/51226/logs/544

### Describe the bug
[code]

[2022-09-26 17:05] hoopoepg commented on #8511
something wrong with proc file system. Are there containers used?
try to add variable
UCX_POSIX_USE_PROC_LINK=n
to command line

[2022-09-26 18:24] tonycurtis opened #8568 "TCP transport issue with git HEAD"
### Describe the bug

Recent commits out of github are hanging with e.g. > 4 nodes, on a specific cluster, and then generating timeout messages (v.i.).

Seems to be TCP-related, because if excluded with e.g. `UCX_TLS=dc,xpmem`, programs run.  Issue not seen with 1.13.1, not on other clusters for some reason.

### Steps to Reproduce

github master @ 42b5a9d0db97e3c09c96a080637e9cfc3f48dbfa

### Set

[2022-09-27 11:44] gregfi commented on #8549
Any thoughts on this?

[2022-09-27 17:28] karasevb commented on #8549
Hi @gregfi
Could you share more details please:
- How many nodes did you use to reproduce?
- Can it be reproduced with `ring_c` from OMPI/examples?
- Can you post the full traces for `-mca pml_ucx_verbose 100`?

[2022-09-27 18:31] gregfi commented on #8549
Certainly:

- I can reproduce this with 2 nodes; each node has 12 "slots". I'm running mpirun with `-np 16`
- Yes, I've attached the output of `ring_c` with `--mca pml_ucx_verbose 100`. The full command is:

`mpirun -np 16 --mca pml ucx --mca btl ^uct -x UCX_NET_DEVICES=mlx4_0:1 -x UCX_TLS=all --mca pml_base_verbose 100 --mca btl_base_verbose 100 -mca pml_ucx_verbose 100 ./ring_c`

[ring_c_openmpi

[2022-09-27 19:28] Akshay-Venkatesh commented on #8469
@yosefe FYI, I created https://github.com/openucx/ucx/pull/8569 to address the issue.

[2022-09-28 06:15] AboorvaDevarajan opened #8572 "performance degradation in mpi launch time is seen when UCX is configured with CUDA"
### Describe the bug
A clear and concise description of what the bug is.

### Steps to Reproduce
- Command line
- UCX version used (from github branch XX or release YY) + UCX configure flags (can be checked by `ucx_info -v`)
[code]

### Setup and versions
- OS version (e.g Linux distro) + CPU architecture (x86_64/aarch64/ppc64le/...)
   - `cat /etc/issue` or `cat /etc/redhat-release` + `uname -a`

[2022-09-28 07:59] yosefe commented on #8572
This is a known behavior since opening the first Cuda device takes some time. @Akshay-Venkatesh any thoughts on this?

[2022-09-28 15:27] jrhemstad commented on #7110
`cudaMallocAsync` supports CUDA IPC, but requires configuring an explicit pool handle.

See the "**Interprocess communication support**" section here: https://developer.nvidia.com/blog/using-cuda-stream-ordered-memory-allocator-part-2/

[2022-10-02 07:52] eric-bigdata opened #8585 "bind(fd=17 addr=0.0.0.0:10001) failed: Address already in use"
### Describe the bug
 bind(fd=17 addr=0.0.0.0:10001) failed: Address already in use happened when I use io_demo program.

### Steps to Reproduce
./io_demo -b 512 -i 10000000 -d 512:524288 -w 256 -o read,write -p 10001
- UCX version used (from github branch master) + UCX configure flags (can be checked by `ucx_info -v`)

# Library version: 1.14.0
# Library path: /opt/TPC/TPC-DS/so/libucs.so.0
# API

[2022-10-02 08:02] yosefe commented on #8585
@eric-bigdata could there be another process in the system listening on TCP port 10001?

[2022-10-03 11:31] karasevb commented on #8549
@gregfi can you update your UCX version, this problem should be gone started from v1.9.0.

[2022-10-04 16:30] shamisp opened #8593 "UCX compilation fails with --with-mpi when shmem.h is not present in the system"
### Describe the bug
When UCX compiled with --with-mpi, it automatically assumes the presence of shmem.h header file.

### Steps to Reproduce
[code]

### Setup and versions
Master

[code]

[2022-10-04 20:20] shamisp opened #8595 "uct_ib_async_event_handler failure prevents from running on AWS machine with TCP transport"
### Describe the bug
uct_tcp_iface_connect_handler fails because the handler was allocated non functional verb device.
The issue was discover on AWS instance with EFA nic. Error:
[code]

### Steps to Reproduce
Master ucx build with configure-release/configure-debug on a machine with EFA driver installed.
Current workaround is to rebuild UCX with `--without-verbs --without-rdmacm` . UCX_TLS=tcp doe

[2022-10-05 18:16] tonycurtis opened #8597 "XPMEM: device no longer detected"
### Describe the bug

Latest git-pull no longer discovers the XPMEM device, `ucx_info -d` output at end

### Steps to Reproduce
- Command line

[code]

- UCX version used (from github branch XX or release YY) + UCX configure flags (can be checked by `ucx_info -v`)

[code]

- **Any UCX environment variables used**

### Setup and versions
- OS version (e.g Linux distro) + CPU architecture (x86_64/aa

[2022-10-05 19:57] gregfi commented on #8549
The OS version of `rdmacm` is too old for modern versions of UCX, and changing the overall system configuration is frowned upon.

I compiled rdma-core as-distributed by NVIDIA in SRPM format (`MLNX_OFED_LINUX-4.9-5.1.0.0-sles12sp3-x86_64/src/MLNX_OFED_SRC-4.9-5.1.0.0/SRPMS/rdma-core-50mlnx1-1.49510.src.rpm`), and compiled UCX 1.13.0 using the newer version of rdma-core installed in my home directo

[2022-10-06 06:53] yosefe commented on #8597
@ofirfarjun7 i think it's related to latest posix fix, can you pls check?

[2022-10-06 06:55] yosefe commented on #8549
@gregfi can you pls run
`UCX_LOG_LEVEL=debug UCX_MODULE_LOG_LEVEL=warn ucx_info -d`
and upload the output?

[2022-10-06 10:45] gregfi commented on #8549
Aha! It looks like it was an `LD_LIBRARY_PATH` issue. I added `rdma-core-50mlnx1/build/lib` to `LD_LIBRARY_PATH`, and now I get:

[code]

Does this look more like what you would expect? I still see some errors/warnings relating to `mlx4_0`.

[2022-10-06 15:02] yosefe commented on #8549
@gregfi which warnings do you still see about mlx4_0 after setting LD_LIBRARY_PATH?

[2022-10-06 18:59] #8597 closed

[2022-10-06 20:16] tonycurtis commented on #8597
Fixed +1

[2022-10-07 00:58] gregfi opened #8604 "UCX ERROR ibv_modify_qp(DCI, RTR) failed : Invalid argument"
### Describe the bug
Running `ring_c` yields output like the following on our "next gen" systems:

[code]

The same installation works fine on `mlx4` hardware. I tried running with `UCX_TLS=sm,self,rc,ud,tcp` (disabling `dc`), but then I get timeout errors.

### Steps to Reproduce
`mpirun -np 128 --mca pml ucx ./ring_c`
- UCX version 1.13.0

### Setup and versions
- OS version (SLES12SP5) + CPU ar

[2022-10-07 01:00] gregfi commented on #8549
Sorry, I only looked briefly this morning. I don't see anything now after a closer look.

After limited testing, MLX4 seems to be working well. I'm having trouble with MLX5 on newer hardware, but I'll open a separate issue for that.

[2022-10-07 01:00] #8549 closed

[2022-10-07 03:44] jamesongithub commented on #8511
@hoopoepg no containers

tried adding `UCX_POSIX_USE_PROC_LINK=n` didn't see a difference

Please see log: https://gist.github.com/jamesongithub/ca1c9618f0dd994f6bf8356147111543

[2022-10-07 07:27] yosefe commented on #8604
@gregfi can you pls build UCX with debug info and run
`UCX_LOG_LEVEL=data ucx_info -d -t dc_mlx5`
and upload the output?

[2022-10-07 10:16] hoopoepg commented on #8511
ok, it seems POSIX shm transport failed to access to shared memory.
could you try to exclude posix from transports? add `UCX_TLS=^posix` variable to your command line

[2022-10-07 14:04] shawnahall71 commented on #6985
Is anyone aware if this issue has been addressed upstream in rdma-core (if it in fact a bug in rdma-core)?

[2022-10-07 14:05] gregfi commented on #8604
[debug.txt](https://github.com/openucx/ucx/files/9734573/debug.txt)

[2022-10-07 14:22] yosefe commented on #8604
@gregfi UCX no longer supports MLNX_OFED 4.9. pls see https://github.com/openucx/ucx#supported-transports
I'd advise to install latest MLNX_OFED 5.7 on the system.

[2022-10-07 15:07] yosefe commented on #8604
it should use the UCX version that comes with MLNX_OFED 4.9 (AFAIR it's 1.8)
for the system with mlx5 it's recommended to use latest MLNX_OFED 5.x

[2022-10-07 16:21] gregfi commented on #8604
when I do that (use UCX 1.8.0 / OpenMPI 4.0.3rc4), I get:

`ib_mlx5_dv.c:223  UCX  ERROR mlx5dv_devx_qp_modify(502) failed, syndrome 0: Invalid argument`

`UCX_LOG_LEVEL=data ucx_info -d` attached.

[ucx_info_1.8.0.txt](https://github.com/openucx/ucx/files/9735556/ucx_info_1.8.0.txt)

[2022-10-07 16:37] yosefe commented on #8604
@gregfi can you pls follow the instructions on https://github.com/openucx/ucx/wiki/How-to-get-FW-syndrome-when-using-DEVX to get the FW syndrome from dmesg?

[2022-10-07 20:13] jamesongithub commented on #8511
/proc errors gone, now are shmat errors:

[code]

[2022-10-09 07:08] hoopoepg commented on #8511
it seems there are some restrictions to operate shared memory on your system - UCX can't use this transport at all.
to disable it add variable `UCX_TLS=^sm` and it will allow to run your application

[2022-10-09 08:57] uran0sH opened #8609 "Segmentation fault when I try to run the 'ucp_client_server' example"
### Describe the bug
I try to modify the `ucp_client_server.c` in examples to make it only run the stream mode. And when I run the client side, it causes the segmentation fault. And I used gdb to debug it, and I found it occurs at `request_wait -> ucp_worker_progress`.

Client output:
[code]
### Steps to Reproduce
- Command line
  - `./ucp_client_server &`
  - `./ucp_client_server 127.0.0.1:13337`

[2022-10-10 17:54] gregfi commented on #8604
Here's the dmesg.log that we captured:
[dmesg.log](https://github.com/openucx/ucx/files/9748008/dmesg.log)

My admins tell me that two ethernet interfaces (`eth4` and `eth6`) are "teamed" together to `team0` to provide (in theory) 200G throughput:

[code]

Does that seem connected to the failure here?

[2022-10-10 17:58] yosefe commented on #8604
@gregfi are you sure `echo 'func mlx5_cmd_check +p' | sudo tee /sys/kernel/debug/dynamic_debug/control ` was done ? was it done before running `ucx_info`?
seems the errors in dmesg are not exactly what i was looking for, but it could be related.

[2022-10-10 18:00] Akshay-Venkatesh commented on #8572
@AboorvaDevarajan sorry for the delayed response. Do you see the same issue with release branches or just main branch? It turns out that recent main loads dso for many components including cuda and this does lead to increased init/finalize time.

[2022-10-10 18:06] gregfi commented on #8604
The dmesg output was produced after re-executing the `ring` test, not `ucx_info`. Let me see if my admin changed it back already...

[2022-10-10 22:08] jamesongithub commented on #8511
with `UCX_TLS=^sm` still having issues.

[slurm-slehpc15-james-hpc-pg0-1:27320] select: init of component openib returned failure
[slurm-slehpc15-james-hpc-pg0-1:27320] mca: base: close: component openib closed
[slurm-slehpc15-james-hpc-pg0-1:27320] mca: base: close: unloading component openib
[slurm-slehpc15-james-hpc-pg0-1:27320] select: initializing btl component usnic
[slurm-slehpc15-james-hpc

[2022-10-10 22:10] jamesongithub commented on #8511
preferably instead of disabling shared memory we can adjust system also since if we disable ucx completely we can get a successfully run

are these reasonable?

[code]

[2022-10-11 06:29] hoopoepg commented on #8511
hi
I don't see any issues in `ipcs -l` output - we are testing UCX on similar configuration and it works fine.
as I can see from logs UCX was able to startup, but some peers selected pml `cm` instead of `ucx`.
can you add `-mca pml ucx` to command line to force using UCX?

thank you

[2022-10-11 06:45] karasevb commented on #8322
[code]

@thomasgillis Could you run with the following export variables to see if it lead to some failures without UCX:
[code]

[2022-10-11 10:04] alex--m opened #8615 "DevX support for ODP"
I encountered this warning:
`mlx5_0: disable ODP because it's not supported for DEVX QP`

Looked at the code, and found this:
[code]

Now, it appears that [ODP under DevX is already supported in the kernel ](https://patchwork.kernel.org/project/linux-rdma/patch/20190113140118.10204-4-leon@kernel.org/)... any volunteers for UCX support? :)

[2022-10-11 10:44] yosefe commented on #8615
ODP is still not supported for WQE on DevX QP, right @jgunthorpe ?

[2022-10-11 11:58] alex--m commented on #8615
By the way, why disable ODP on RoCE (further down the code)? @yosefe

[2022-10-11 13:45] jgunthorpe commented on #8615
There is now a WIP to try to address this, I have no ETA to share.

[2022-10-11 13:56] yosefe commented on #8615
This is mlx5 specific internal behavior

[2022-10-11 17:34] xkszltl opened #8617 "GCC 12 Werror."
### Describe the bug

Failed to build 1.13.1 on Ubuntu 22.04 + GCC 12:

[code]

### Steps to Reproduce
- Command line https://github.com/xkszltl/Roaster/blob/814329898f0ea83021acb2cffea145a7a864fb92/pkgs/ucx.sh#L39-L61
- UCX version used 1.13.1

### Setup and versions
- OS version (e.g Linux distro) + CPU architecture (x86_64/aarch64/ppc64le/...)
   - Ubuntu 22.04, Skylake-X

[2022-10-12 12:22] ioanhadade opened #8620 "Assertions in ud_ep.c fail sporadically"
### Describe the bug
Every now and then, we have an assert fail in ucx which leads to an application abort. These assert failures seem to either be raised when the application is in MPI_Wait call or in an MPI_Recv. Examples of stack traces of both cases presented below:

**Abort in MPI_Recv**
/usr/local/apps/hpcx-openmpi/2.9.0/INTEL/2021.4/sources/ucx-1.11.1/src/uct/ib/ud/base/ud_ep.c: [ uct_ud_ep

[2022-10-12 20:35] jamesongithub commented on #8511
hey with `-mca pml ucx` i was able to get a successfully run. here is some output

[code]

[2022-10-13 15:55] samcmill commented on #1585
Has there been any progress on this issue?  I hit this in a containerized CI job.  The job redirects stderr to /dev/null, but the UCX log output to stdout caused a false positive.

The specific warning was the following, which I was able to disable with `UCX_VFS_ENABLE=n`.
[code]

FWIW, this was with HPC-X 2.12.

[2022-10-13 18:51] g302ge opened #8626 "CAS over network ?"
I found that the ucx has the api `ucp_mem_map` but if there is a possiblity to use atomic CAS over the memory which mmap from remote node to this node ?

[2022-10-13 19:14] yosefe commented on #8626
yes, with https://github.com/openucx/ucx/blob/c5d5b0ca9b77aace33bf90eec42743084e91941b/src/ucp/api/ucp.h#L3775

[2022-10-13 19:46] edgargabriel opened #8627 "Problem with ucx master on large device-to-host transfers"
### Describe the bug

We have been seeing an issue with UCX master recently with a testcase that used to work. This testcase performs a large data transfer from device to host memory (large =  4MB).  Using git bisect I identified this commit here as the starting point when we started to see the issue:

[code]

Note, the output below is with the current HEAD (c5d5b0ca9b)

### Steps to Reproduce
Out

[2022-10-14 09:08] mdorier opened #8628 "UCX 1.13.1 fails to build with verbs with gcc 11.2.0"
### Describe the bug

I'm trying to build UCX using spack on Argonne's Polaris machine, with the `+verbs` variant. I'm using gcc 11.2.0, and compilation fails with the error bellow.

[code]

### Setup and versions

SUSE Linux Enterprise Server 15 SP3  (x86_64)
UCX 1.13.1

[2022-10-14 09:17] hoopoepg commented on #8628
hi @mdorier
thank you for bug report.
can you try to build this PR: https://github.com/openucx/ucx/pull/8629

[2022-10-14 09:33] mdorier commented on #8628
Yes, that fixed the problem. Thanks!

[2022-10-14 18:47] kcgthb commented on #4224
Just wanted to add another use case that produces those errors.

Using OpenMPI+UCX 1.10 in Singularity/Apptainer containers in [non-setuid mode](https://apptainer.org/docs/user/1.1/security.html#setuid-user-namespaces) (the new default) produces the same kind of error:
[code]

Using `UCX_POSIX_USE_PROC_LINK=n` does solve the problem and allow the MPI program to work properly in the container in no

[2022-10-15 10:17] dragon-zhang opened #8633 "Does this lib support RoCE-v2?"
Does this lib support RoCE-v2? Also, I want to ask that does it support soft-RoCE ?

[2022-10-15 14:34] shamisp commented on #8633
ROCE-v2  - yes, it is tested on ROCE.
soft-ROCE - in theory yes but it has not been tested. When I have tried soft-ROCE a  year ago, the kernel module was not stable to pass all the unit tests.

[2022-10-16 03:49] dragon-zhang commented on #8633
Thanks !

[2022-10-16 03:49] #8633 closed

[2022-10-16 11:55] #8628 closed

[2022-10-16 13:06] Artemy-Mellanox commented on #8604
@gregfi could you please add some more dynamic debug
[code]
and re-execute the reproducer

[2022-10-16 16:49] g302ge commented on #8626
well, thx for ur reply

[2022-10-16 16:49] #8626 closed

[2022-10-17 13:22] tonycurtis opened #8637 "ib_md.c:1925 UCX WARN ibv_dealloc_pd() failed: Device or resource busy"
### Describe the bug

Get messages as described at the end.

### Steps to Reproduce
- UCX version used (from github branch XX or release YY) + UCX configure flags (can be checked by `ucx_info -v`)

[code]

- UCX Environment

[code]
(but have tried with both settings)

### Setup and versions
- OS version (e.g Linux distro) + CPU architecture (x86_64/aarch64/ppc64le/...)
   - `cat /etc/issue` or `ca

[2022-10-17 13:44] #8568 closed

[2022-10-17 16:17] dmitrygx commented on #8620
it means that UCX's UD transport received an unexpected control packet - CREP ("Connection reply") instead of expected CREQ ("Connection request").

[2022-10-17 16:18] ioanhadade commented on #8620
ah ok, I guess UD is used for these control packets irrespective if you request rc in UCX_TLS, right?

[2022-10-17 16:46] ioanhadade commented on #8620
Is there a way to disable this auxiliary transport and force UCX to only create RC QPs?

We will try and move to UCX 1.13 and see if the problem goes away.

[2022-10-17 17:00] ioanhadade commented on #8620
thanks for this, we prefer to use rc (rc_x for our adapter) as it is much more performant than dc (dc_x) for our workloads (up to 128 nodes).

[2022-10-17 20:22] pentschev opened #8639 "`UCP_REQUEST_FLAG_RNDV_FRAG` assertion failure with endpoint error handling"
### Describe the bug
An assertion failure occurs when testing for `UCP_REQUEST_FLAG_RNDV_FRAG`, provided that the endpoints have error handling and `cuda_ipc` enabled, but no `cuda_ipc` interconnect exists between the devices. This is problematic on systems like the DGX-1 where a heterogenous topology exists and disabling `cuda_ipc` is not an option due to performance.

<details><summary>Complete

[2022-10-18 08:00] dmitrygx commented on #8637
@tonycurtis can it happen that application which use UCX has some registered memory keys, but UCT memory domain is closed?

[2022-10-18 08:58] jakirkham opened #8642 "Consolidate `configure` scripts"
Currently there is a top-level `configure` script generated by `autoconf`. Typically this is what most builders would use by default, but UCX has a [`configure-release` that is in `contrib`]( https://github.com/openucx/ucx/blob/5e32bd070d25203be4a17860ba473d026334d544/contrib/configure-release# ), which is [recommended by the docs]( https://openucx.readthedocs.io/en/master/running.html#building ).

[2022-10-18 09:01] yosefe commented on #8642
@jakirkham to be clear, are you suggesting that the default ./configure will behave the same as ./contrib/configure-release?

[2022-10-18 09:04] jakirkham commented on #8642
Yeah that's right. Would that be possible? Or are there other things to consider before approaching such a change?

[2022-10-18 12:42] tonycurtis commented on #8637
It's possibe.  The issue only started up yesterday.  Was there a push that tightened up error checking?  I'm only touching UCP, though.

[2022-10-18 13:06] shamisp commented on #8642
@jakirkham It is quite challenging to come up with such config. For example, the most optimal build config enables u-arch optimizations that are not portable across machines. The multi-threaded build enables flows that will not be as optimal for apps that don't care about multithreading, etc. Essentially, the options and configurations that are optimal for one user may not be optimal for another u

[2022-10-18 13:20] yosefe commented on #8642
IMO we can make the default configure closer to configure-release, but it still has to be multi-threaded and without non portable uarch optimizations

[2022-10-18 13:38] tonycurtis commented on #8637
After latest git-pull, message no longer appears on ARM clusters, but does on AMD one.

[2022-10-18 14:58] shamisp commented on #8642
@jakirkham  Maybe you can share some details, why you believe this is an issue today. thanks

[2022-10-18 15:48] yosefe commented on #8627
@shasson5 AFAIR you did some rekey-related changes in the 16 lanes PR?

[2022-10-18 15:57] yosefe commented on #8637
I see this error in CI as well (BlueField ARM):
https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=52701&view=logs&j=de7f2b91-0060-5c03-79ec-8e744740a59d

[2022-10-19 08:25] #8637 closed

[2022-10-19 08:30] #8595 closed

[2022-10-19 14:56] XLzed opened #8647 "What will happen if the sender and receiver post a set of tag_send/recv separately with same tag?"
Assume that receiver post a set of ucp_tag_recv_nb: **r0, r1, r2**. And sender post a set of ucp_tag_send_nb: **s0, s1, s2**.
All fo them use same tag and same size of buffer. My questions:
1.Will the tasks complete in order? eg. r0->r1->r2 and s0->s1->s2
2.Will the data received in order? eg. r0=s0, r1=s1, r2=s2.
I want to implement something like rdma-send/recv which just require size of receive

[2022-10-20 11:48] pentschev opened #8649 "Does `ucp_config_modify` allow setting UCT configurations?"
In the past there were changes that prevented us from validating non-UCP configurations, but as mentioned by @yosefe in https://github.com/openucx/ucx/issues/7519#issuecomment-953704767, we should be allowed to specify UCT configurations as well. However, I'm seeing warnings when trying to set some of those options, for example:

[code]

`ucp.init()` is a function from UCX-Py that will take the op

[2022-10-20 13:55] gleon99 commented on #8470
@alex--m  seems that's wrong, see
https://github.com/openucx/ucx/blob/master/src/ucp/proto/proto_common.inl#L242
and
https://github.com/openucx/ucx/blob/master/src/ucp/dt/datatype_iter.inl#L109
`contig_length` from `ucp_put_nbx` is propagated as `sg_count` and then set to `1`.

[2022-10-20 13:55] #8470 closed

[2022-10-21 03:17] changchengx commented on #8649
@pentschev Please try to use ```RX_SEG_SIZE``` without the leading ```TCP_```

[2022-10-21 09:32] pentschev commented on #8649
Thanks @changchengx , that indeed works. But won't that result in `RX_SEG_SIZE` changing for all transports? And why does the leading `TCP_` not work if that's listed in `ucx_info -f`?

[2022-10-21 09:42] changchengx commented on #8649
@pentschev

Currently, no

It's related with parsing rules. We don't want to complex the code of parsing & applying the rules.

[2022-10-21 10:26] pentschev commented on #8649
Understood, thanks @changchengx for clarifying those questions!

[2022-10-21 10:26] #8649 closed

[2022-10-21 10:31] pentschev commented on #8649
Actually, I forgot one last question, we are allowed to pass UCP and UCT options to `ucp_config_modify`, but not UCM (for example), is that right? For example, it seems we are unable to specify `MEM_LOG_LEVEL`:

[code]

Could you confirm if that's the case @changchengx ? Just want to understand what are the limitations of `ucp_config_modify`.

[2022-10-21 10:37] changchengx commented on #8649
@pentschev should be ucp & uct

[2022-10-21 11:25] pentschev commented on #8649
Thanks @changchengx !

[2022-10-22 14:34] #8593 closed

[2022-10-24 02:52] XLzed commented on #8647
Well，

[2022-10-24 02:53] #8647 closed

[2022-10-24 08:16] yosefe commented on #8604
@gregfi ping

[2022-10-24 15:09] thomasgillis commented on #8322
@karasevb thanks for your answer. I have updated to the most recent release (`v1.13.1`) and the issue looks solved so far.
I will therefore close this issue and reopen it if needed.

Thanks again for your time :-)

[2022-10-24 15:09] #8322 closed

[2022-10-26 19:24] Artemy-Mellanox commented on #8604
@gregfi this debug prints a lot of data on your setup so the dmesg buffer can hold only ~20sec of the history
could you please try to capture the dmesg output immediately after the reproducer so the line
[code]
still will be in the buffer.
something like
[code]

[2022-10-27 20:31] pentschev opened #8669 "Assertion `req->send.ep == ucp_ep' failed when endpoint/process terminates"
### Describe the bug
An assertion failure occurs when an endpoint closes and `tcp` and `cuda_copy` (`UCX_TLS=tcp,cuda_copy`) are active and the remote endpoint terminates, the issue does not occur with `UCX_TLS=rc,cuda_copy`. In the simplest reproducer, a `ucx_perftest` listener is launched and then the client process is launched for 2-3 seconds, after which the user presses `CTRL+C` to terminate

[2022-10-29 00:22] gregfi commented on #8604
[dmesg.4.log](https://github.com/openucx/ucx/files/9892520/dmesg.4.log)

[2022-11-01 03:55] ivankochin commented on #8617
duplicate of #8186. Already fixed in the master branch.

[2022-11-01 08:49] xkszltl commented on #8617
Can we have this released ASAP or backported? Has been half year since that fix and it's still only in master, meaning there's no stable branch for gcc 12 to use.

[2022-11-01 23:34] pentschev commented on #7110
From the discussions I had with @Akshay-Venkatesh , it seems using an explicit pool handle for CUDA IPC may not be possible in UCX at the moment, but that will probably be possible in protov2. Meanwhile, support for `cudaMallocAsync` has been added in https://github.com/openucx/ucx/pull/8623, and given the lack of direct support for CUDA IPC, one intermediate solution is to use staging buffers by

[2022-11-02 10:05] gleon99 commented on #8617
@xkszltl the fix is in v1.14.

[2022-11-03 08:44] yosefe commented on #8604
@gregfi can you try latest UCX master branch with MLNX_OFED 5.x?
perhaps #8677 could fix the issue

[2022-11-03 10:31] AboorvaDevarajan commented on #8572
@Akshay-Venkatesh I tesetd this on a release OMPI branch, I still see the issue but the performance is a little better than the main branch.

|                                                        | OMPI (main) + UCX (v1.14.x) (seconds) |  OMPI (v4.1.4) + UCX (v1.14.x) (seconds) |
|--------------------------------------------------------|-----------------------------------| ---------------------

[2022-11-03 10:38] karanveersingh5623 commented on #8440
@Artemy-Mellanox @yosefe

Below is the issue i am facing , please check the trace
[1667471376.875185] [node002:217310:0]          select.c:513  UCX  ERROR   no active messages transport to <no debug data>: Unsupported operation
[node002:217310] pml_ucx.c:419  Error: ucp_ep_create(proc=0) failed: Destination is unreachable
[node002:217310] pml_ucx.c:472  Error: Failed to resolve UCX endpoint for ra

[2022-11-04 01:45] karanveersingh5623 commented on #8440
@yosefe @Artemy-Mellanox
Below is another trace from just using 1 task-per-node .

srun --export="NCCL_DEBUG=INFO,NCCL_IB_DISABLE=1,PMIX_MCA_gds=hash,UCX_IB_MLX5_DEVX=no,OMPI_MCA_coll=^hcoll" --kill-on-bad-exit=0 --mpi=pmix_v3 -N 2 --gpus-per-task=1 --gpu-bind=none --ntasks-per-node=1 --exclusive --container-image=192.168.61.4:5000#/cosmoflow-nvidia:0.4 --container-name=mlperf-hpc-cosmoflow --cont

[2022-11-04 19:37] gregfi commented on #8604
I compiled the latest master branch. I haven't re-compiled OpenMPI and tried the original reproducer, but `ucx_info -d` still produces:

`[1667590544.077395] [hpap13n1:36263:0]         dc_mlx5.c:509  UCX  ERROR ibv_modify_qp(DCI, RTR) failed : Invalid argument`

[2022-11-06 15:26] gleon99 commented on #8604
@gregfi can you try to run some IB test, e.g `ib_send_lat` with DC? Check whether it works and provide the output.

[2022-11-07 11:33] civodul opened #8684 "Misleading error messages, should be handled by the library user"
### Describe the bug

Upon error, UCX emits messages along the lines of:

[code]

Those messages are misleading in the context of Open MPI: when Open MPI is compiled with support for several drivers [as discussed here](https://hpc.guix.info/blog/2019/12/optimized-and-portable-open-mpi-packaging/), it's entirely possible that UCX will not be able to handle the underlying hardware, and Open MPI know

[2022-11-09 10:34] yosefe commented on #8684
UCX should lower its priority if the machine has unsupported hardware.
Can you please run the MPI test with "-mca pml_ucx_verbose 999" and post the output, to see why it did not happen?
Was OpenMPI compiled with libfabric support?

[2022-11-10 16:17] Artemy-Mellanox commented on #8440
Could you please run `ucx_info -bdvc` and `ofed_info` and attach output here.
Run in container like
[code]

[2022-11-14 10:10] karanveersingh5623 commented on #8440
@Artemy-Mellanox

Please refer below

[code]

[2022-11-14 10:12] karanveersingh5623 commented on #8440
@Artemy-Mellanox

[code]

[2022-11-14 12:47] Artemy-Mellanox commented on #8440
@karanveersingh5623 need a bit more info. could you please run those commands and attach the output
[code]

[2022-11-14 22:22] reid-a opened #8702 "Odd ucx memory allocation failure on some nodes but not others in a cluster"
### Describe the bug
I run a Debian 11 cluster using the stock Debian 11 OpenMPI and UCX, and am seeing some very odd behavior. On some but not all of the nodes, user jobs are reporting an error:
[code]
(This is repeated very rapidly.)

On nodes where this is happening, I also get anomalous output from `ucx_info -d`, it gives seemingly normal output (the same as on the unaffected nodes), but then

[2022-11-15 07:46] gleon99 commented on #8702
Can you please post the output of:
[code]

What is the value of `UCX_IB_RCACHE_MAX_REGIONS`?
Anything suspicious in `dmesg` / syslog?

[2022-11-15 09:34] karanveersingh5623 commented on #8440
@Artemy-Mellanox

[code]

[2022-11-15 09:36] karanveersingh5623 commented on #8440
@Artemy-Mellanox

[code]

[2022-11-15 14:06] reid-a commented on #8702
Thanks for your reply!

The ulimits are the same for users, root, and SLURM-dispatched sessions:
[code]
We did have this issue earlier, but the ucx errors seem to be a separate problem.
[code]
This number is the same on both affected and unaffected nodes, although I can imagine it might be a limit that jobs are crashing into?

I don't seem to have the `UCX_IB_RCACHE_MAX_REGIONS` variable, it's not

[2022-11-15 15:03] Artemy-Mellanox commented on #8440
@karanveersingh5623 setup has strange problems. could you please post the output of the following commands on the host, not docker.
[code]

[2022-11-15 18:06] reid-a commented on #8702
Additional addendum: Trawling through the dmesg, I was reminded that I'd seen some of these associated with a particular application:
[code]
Feels related. (Props to my colleague @tkphd for this find.)

[2022-11-15 22:50] reid-a commented on #8702
More info (apologies for the dribble of info, I am learning things....)

Low-level tests of the IB fabric seem OK -- I can do `ibping` between nodes, including affected nodes, and get good latency numbers. I can also do `export UCX_TLS=sm mpirun -np <n> <test-executable>` locally on an affected node, and it runs to completion without errors. This is a useful workaround for jobs that only need to r

[2022-11-16 06:30] akesandgren opened #8704 "UCX 1.10.1 sometimes fails to find mlx5_core for some MPI tasks on single node runs"
### Describe the bug
Sometimes, not always, when running OpenMPI 4.1.1 with UCX 1.10.1 the pml ucx component fails to find mlx5_core on some of the tasks in a single node run.

### Steps to Reproduce
- srun mpicode
- UCX version used 1.10.1

### Setup and versions
- OS version Rocky Linux release 8.5
- For RDMA/IB/RoCE related issues:
    - Driver version:
        - rdma-core-54mlnx1-1.54340

###

[2022-11-16 08:46] brminich commented on #8704
@akesandgren, can you please attach the mentioned log files?

[2022-11-16 08:58] brminich commented on #8702
Probably the error is caused by many unexpected messages generated by the app, so that UCX has to allocate/register many receive buffers. It is still present with `--mca btl self`, because OMPI uses `pml ucx` by default.
`UCX_IB_RCACHE_MAX_REGIONS` is introduced in UCX v1.11, so you may try to limit amount of registered memory if you upgrade UCX.
As an alternative,  can you please try to increase

[2022-11-16 09:24] akesandgren commented on #8704
Exactly which ones do you mean?

[2022-11-16 09:32] brminich commented on #8704
in the original description you mentioned the following:
[code]
do you have those logs available?

[2022-11-16 15:03] akesandgren commented on #8704
Here's a tar file with a correct and a fail output. Both cases run on the same node.
[UCX-fail.tar.gz](https://github.com/openucx/ucx/files/10022927/UCX-fail.tar.gz)

[2022-11-16 16:12] brminich commented on #8704
thanks for the logs. The issue seems to be similar to #8511. There are the following errors when the job fails:
[code]
You are not using containers, right?
Does setting `UCX_POSIX_USE_PROC_LINK=n` make the problem gone?
what is the output of `ipcs -l` ?

[2022-11-16 18:08] akesandgren commented on #8704
No, not using containers.

From the node I've been running on:
[code]

UCX_POSIX_USE_PROC_LINK=n  does not fix the problem.

UCX 1.11.2 does not seem to have this problem, at least I've been unable to trigger it (still using OpenMPI 4.1.1)

[2022-11-16 19:04] reid-a commented on #8702
Thanks for the suggestion.

On an affected node, doing `sysctl -w vm.max_map_count=262144` did not immediately clear the condition, the `ucx_info -d` diagnostic test still goes into an error loop.

Building a new MPI/UCX stack is do-able, but it might be hard to assess its effectiveness -- we still do not know how the machines are getting into this state. It makes sense that it's an interaction be

[2022-11-17 14:04] gkatev commented on #8684
I'm seeing something similar, with a slightly different error message (let me know if it's unrelated and I should open a new issue instead).

On a node without InfiniBand, with OpenMPI 5.0.0rc8 and UCX 1.13.1, I'm getting:
[code]

And this also happens without UCX selected:
[code]
[code]
Setting UCX_TLS (saw it in another issue) does not help:
[code]

[2022-11-17 19:04] reid-a commented on #8702
Additional news: At least one, and possibly two of the affected machines seem to have cleared this condition on their own, even before they were "drianed" by the queuing system. In the best-observed case, it coincided roughly with a job completing, which reinforces my emerging sense that this is an interaction between cluster jobs and some kind of misconfigured resource limit.

[2022-11-18 01:31] reid-a commented on #8702
Minor addition (again, thanks to those bearing with me thinking out loud on this issue page...), I have seen a node transition in to the problem state after a few jobs were dispatched on to it. There is no corresponding `dmesg` traffic at all, and nothing obvious in the `syslog`, but there are some new constraints. The node is nowhere near out of total application memory (though I understand it ma

[2022-11-20 09:39] yosefe commented on #8702
@reid-a can you please try running ib_write_bw test with 40MB buffer size, and use tasket to set CPU affinity to 0 on both nodes?
something like `taskset -c 0 ib_write_bw -s $((20*1024*1024)) [server-hostname]`
looks like something on the system is limiting memory registration.

[2022-11-20 09:45] yosefe commented on #8684
@ivankochin @gleon99  Maybe revert #8090 and print ucs_diag message when disqualifying RDMA?

[2022-11-20 09:52] yosefe commented on #8704
A similar issue was fixed by https://github.com/open-mpi/ompi/pull/9505 which is part of OpenMPI 4.1.2 and above

[2022-11-20 17:17] shamisp commented on #8684
I think this is useful error message but we can probably provide a programable way to silence it ?

[2022-11-21 00:43] reid-a commented on #8702
Thanks for the suggestion.

Even without the taskset, I am seeing some issues on this test.

Between unaffected nodes (tests where neither node in the test pair gives the memory error on `ucx_info -d`),  the test works at the suggested 20*1024*1024 size.
But on affected nodes (tests where both nodes in the test pair give the memory error on `ucx_info -d`), even for the default message size of 1, I

[2022-11-21 11:19] Artemy-Mellanox commented on #8440
@karanveersingh5623
could you please create a file called `50-mellanox.env` with the following string inside `MELLANOX_VISIBLE_DEVICES=all`
put it in `/etc/enroot/environ.d/` directory on `node002` and every compute node you are using
and rerun
[code]

[2022-11-21 14:30] bfaccini opened #8716 "SEGV in ucs_debug_backtrace_next(), upon previous SEGV handling, due to ENOMEM situation"
### Describe the bug
Application has crashed/SEGV (apparently also due to wrong/no handling of ENOMEM/failed allocation), then UCX signal-handler/stack-unwinder also has crashed/SEGV (again due to wrong/no handling of ENOMEM/failed allocation) with the following stack :

[code]

Looks like the same error handling path than for ucs_debug_backtrace_create() return in ucs_log_print_backtrace() must b

[2022-11-21 14:41] bfaccini commented on #8716
Let me know if you agree with my analysis and if you want me to push a PR (will need some guidance about usual procedure to follow) ?

[2022-11-21 15:24] yosefe commented on #8716
@bfaccini the proposed solution is good enough, though a better way would probably be to use backtrace_fd
Pls see https://github.com/openucx/ucx/wiki/Guidance-for-contributors

[2022-11-21 17:11] ivankochin commented on #8617
@xkszltl was you able to check the fix?

[2022-11-21 17:30] shamisp opened #8717 "AMO test failures in GTEST on Ubuntu 22.04"
### Describe the bug
Gtest unit tests fail

### Steps to Reproduce
`make -C test/gtest test GTEST_FILTER="*shm_ib/test_ucp_atomic32.post/*"`
- UCX version: master

### Setup and versions
- OS version (e.g Linux distro): x86_64, Ubuntu 22.04, ` 5.15.0-53-generic #59-Ubuntu SMP Mon Oct 17 18:53:30 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux`
-  Driver version: ConnectX6 IB, ubuntu inbox driver (NO MOFED

[2022-11-22 01:04] karanveersingh5623 commented on #8440
@Artemy-Mellanox

[code]

[2022-11-22 01:11] Artemy-Mellanox commented on #8440
probably that was the missing part
could you please rerun the original `run_and_time.sh` scenario

[2022-11-22 08:15] karanveersingh5623 commented on #8440
@Artemy-Mellanox
Thanks for it , it worked :)
But its taking a hell lot of time , after 2.5 hrs , its still at epoch 1 . Total epochs are 5 . When I run on single node with multi-GPUs , the same task finishes in 15~20 min .

[code]

[code]

[2022-11-22 10:37] Artemy-Mellanox commented on #8440
@karanveersingh5623  can we narrow down this issue by running some basic rdma performance tests on this setup?

[2022-11-22 15:39] shamisp commented on #8702
you may have have some zombie processes running on impacted nodes and consuming resources.

[2022-11-22 18:35] brminich opened #8719 "shm_ib/test_ucp_wireup_2sided.multi_ep_2sided/1 hangs on swx-rdmz-ucx-althca ucx"
### Describe the bug
according to git bisect the issue is introduced in:
[code]

Starting from this commit the test just hangs as below:
[code]

[2022-11-22 18:35] brminich commented on #8719
@evgeny-leksikov

[2022-11-23 01:22] karanveersingh5623 commented on #8440
@Artemy-Mellanox  , please lets do it

[2022-11-23 06:39] Ved509 opened #8720 "Slurm ucx issue"
[keeling-e16:15369:0:15369] Caught signal 4 (Illegal instruction: illegal operand)
==== backtrace (tid:  15374) ====
 0  /sw/ucx-1.12.0-gnu-9.3.0/lib/libucs.so.0(ucs_handle_error+0x2a4) [0x2b9f7f472c54]
 1  /sw/ucx-1.12.0-gnu-9.3.0/lib/libucs.so.0(+0x2fe4f) [0x2b9f7f472e4f]
 2  /sw/ucx-1.12.0-gnu-9.3.0/lib/libucs.so.0(+0x2feb2) [0x2b9f7f472eb2]
 3  /data/keeling/a/adutta20/R/x86_64-pc-linux-gnu-li

[2022-11-23 08:35] yosefe commented on #8720
The error is reported by UCX but it seems the error actually comes from
[code]

[2022-11-23 14:09] bfaccini commented on #8716
backtrace_fd() ?? you mean backtrace_symbols_fd() ? if yes, I am not sure because the suspected ENOMEM should have occurred in ucs_debug_backtrace_create() I believe.

[2022-11-23 14:30] yosefe commented on #8716
Ok. so the proposed solution seems good to me.

[2022-11-23 15:01] ivankochin commented on #8684
Could you please try to reproduce the problem with the latest master and say does the issue still reproduces there or not?

[2022-11-23 15:37] gkatev commented on #8684
Is this towards my issue, or to the one of the OP? (I've not fully understood if it's the same issue). I tried with the latest master, and the same error message persists. As I'm reading the comments in the attached PR, let me restate that from what I understand the node that this happens on does not have Infiniband:
[code]
I assume that ibv_create_cq is not expected to succeed in such a scenario,

[2022-11-23 16:32] reid-a commented on #8702
@shamisp Zombie processes are definitely possible, but I am not seeing any evidence -- checking `htop` shows no processes in `Z` state, and the process list looks sane. I think it's more likely to be a non-zombie process over-subscribing something?

Subsequent web searches have turned up a few other things, there's [Issue 4365](https://github.com/openucx/ucx/issues/4365) which suggests enabling th

[2022-11-23 16:42] yosefe commented on #8702
@reid-a this shows the root cause is not coming in UCX, but rather a system or driver configuration.
In order to analyze it further, pls submit an issue with NVIDIA networking support.

[2022-11-25 16:54] xkszltl commented on #8617
Our system cannot take non-release commit for stability/security reasons, so never tested before as I'm still waiting for v1.14 or 1.13.2
Just did a manual test and that looks good.

Still, I'm not sure about the release cadence here, but having blocking issue in release branch for this long doesn't sound right.

[2022-11-25 18:44] #8719 closed

[2022-11-27 08:32] yosefe commented on #8617
@xkszltl the latest release branch (v1.14.x) contains the fix, since there is no plan to have a 1.13.2 release at this point.
That being said, anyone is welcome to port fixes to older release branches.

[2022-11-27 16:05] xkszltl commented on #8617
Thanks

For us any formal release tag would work, so doesn't matter it's 1.13.2 or 1.14.0, the missing piece here is a fixed tag rather than the on-going release branch.

[2022-11-27 16:05] #8617 closed

[2022-11-28 08:32] yosefe commented on #8617
@xkszltl got it. we plan to release v1.14.0 during December.

[2022-11-28 21:36] #8627 closed

[2022-11-29 01:58] vitduck opened #8730 "[UCX/1.10.2] Too many ep configuration"
When performing HPL benchmarks with more than 200 GPUs, we encounter the following error:
[code]
The NGC container, provided by NVIDIA, was built with Open MPI and UCX/1.10.2.

Going through the release note, it seems that the limit was raised to 64 since UCX/1.11.0:
[code]
We think that it corresponds to number of GPUs, but it would be  far too restricted for any large-scale run.

So what exactly

[2022-11-29 08:56] yosefe commented on #8730
The number of configurations depends on how many different combinations of remote/local configurations exist on a specific worker. It does not depend on the number of machines in the job (as long as these machines have same configuration).
Anyway, 64 should be more than enough, is it possible to switch to latest UCX version?

[2022-11-29 16:21] shamisp commented on #8717
I did a bit more debug on the issue. One of the unique things about the config is the fact that the IB port is running in SRD mode (due to specific cable config). I switched the port to ROCE / HDR and the error disappears. I'm pretty sure the issue is triggered by SDR port.

[2022-11-29 16:55] yosefe commented on #8717
@shamisp can you pls post "ibv_devinfo -vv" output when the issue happens?

[2022-11-30 01:53] vitduck commented on #8730
Thanks for clarification.

Our situation is somewhat unique where a mixture of V100/A100 nodes with different topologies are used.
Below are the debug message obtained via ```UCX_LOG_LEVEL=info```
- gpu16: 4 V100, i.e 0.25 port per GPU (non-NVLINK)
[code]
- gpu31: 8 A100, i.e 0.5 port per GPU (HGX-1/NVLINK)
[code]
As you said, each end point (ep) corresponds to a UCX protocol combination:
- 0: gdr

[2022-11-30 09:44] yosefe commented on #8730
Yes, this is a correct understanding. Heterogeneous cases have more endpoint "types" because of possible combinations.
The thresholds are auto-calculated, but you could try tuning `UCX_RNDV_THRESH` and `UCX_ZCOPY_THRESH` environment variables to squeeze more performance. For example `export UCX_RNDV_THRESH=1g` or `UCX_RNDV_THRESH=1k`

[2022-11-30 15:06] ivankochin commented on #8684
@gkatev pls try this patch: https://github.com/openucx/ucx/pull/8733

[2022-11-30 15:31] gkatev commented on #8684
This solves my problem, thanks!, and sorry for hijacking this issue with an apparently different problem.

[2022-11-30 22:03] alex--m opened #8735 "ODP cleanup broken?"
I'm getting the following SEGV during cleanup:
[code]

Looks like ODP cleanup is broken... According to GDB, `md->global_odp` is of type `uct_ib_mem_t*` (like `uct_ib_memh_dereg` expects) and not `uct_md_mem_dereg_params_t*` (like `uct_ib_memh_dereg` expects):
[code]
Should it be changed as follows?
[code]