[2020-07-24 17:31] leofang opened #5471 "How to query CUDA support at runtime?"
Hi, we are looking for a runtime way to check whether CUDA awareness is turned on in an MPI application, see [the original discussion](https://bitbucket.org/mpi4py/mpi4py/pull-requests/18) in the mpi4py repo. It turns out that if the MPI is built on top of UCX, neither the MPI library nor the users could know if CUDA support is kicked in or not, and only a hard segfault or other opaque errors woul

[2020-07-24 17:37] yosefe commented on #5471
UCX provides memory type support information through ucp_context_query() and https://github.com/openucx/ucx/blob/master/src/ucp/api/ucp.h#L911

[2020-07-24 17:58] leofang commented on #5471
@yosefe Thanks for your quick reply. Can this query be done at program start time, before `MPI_Init()` is called or any CUDA context is established (via driver or runtime) or any GPU memory is allocated? I'm trying to see the limitations here as I'm not familiar with UCX. Thanks again.

[2020-07-24 18:12] yosefe commented on #5471
This has to be done after MPI_Init()
i'll let @Akshay-Venkatesh and @bureddy comment if Cuda context has to be created

[2020-07-24 18:39] bureddy commented on #5471
not depend on the cuda context.  just has to done after MPI_Init (ucp_init).
for example,  OMPI cuda is initialized only if UCX supports CUDA using this API (https://github.com/open-mpi/ompi/pull/7898)

[2020-07-24 19:03] leofang commented on #5471
Thank you, @yosefe @bureddy!

This is very useful to know. @jakirkham I think this is all you need for ucx-py?

One last question: In UCX, am I understanding it correctly that once CUDA support is built, there's no way to disable it (such as doing `OMPI_MCA_opal_cuda_support=0` or `--mca opal_cuda_support 0` or `--mca btl ^smcuda` in Open MPI) at launch time, right? So calling `ucp_context_query()

[2020-07-24 19:20] kcgthb opened #5472 "ABRT / synd 0x14 with some transports"
Hi!

I'm getting ABRT errors when trying to run simple HPL tests across a couple nodes with UCX 1.8.x (tested 1.8.0 and 1.8.1).

With `UCX_TLS=ud`, everything works well, but using either `UCX_TLS=rc` or `UCX_TLS=dc` (and by extension, `UCX_TLS=all`), I get this for the exact same command:

[code]

I'm not too sure how to diagnose `Remote QP on mlx5_0:1/IB (synd 0x14 vend 0x89 hw_synd 0/0)`, so an

[2020-07-24 19:21] bureddy commented on #5471
you can disable cuda support during runtime explicitly by selecting non-cuda transports with `-x UCX_TLS`
ucp_context_query() covers case as well.

[2020-07-24 19:23] yosefe commented on #5472
Can you try adding UCX_RC_PATH_MTU=1024 ?
Currently, UCX does not support different MTU values.

[2020-07-24 19:50] leofang commented on #5471
Thank you, @bureddy! I think it is clear that the ball is in MPI vendors' court now. I appreciate your quick responses. I will follow up in the Open MPI issue linked above (I'll also open an issue in MPICH).

[2020-07-24 21:29] jsquyres commented on #5471
@leofang You might as well re-open this, because the people you just talked to are the same people (literally 😄) who are responsible for `MPIX_Query_cuda()` in Open MPI).  Meaning: you have the right people -- keep the conversation going and have them improve their `MPIX_Query_cuda()` function.  😎

[2020-07-24 21:30] leofang commented on #5471
Sure thing Jeff!

[2020-07-24 22:15] kcgthb commented on #5472
Hi @yosefe
Thanks a lot for the quick response!

Unfortunately, setting `UCX_RC_PATH_MTU=1024` still fails, albeit with different errors:

* with `UCX_RC_PATH_MTU=1024` and `UCX_TLS=all`:
[code]
  and then the process hangs

* with `UCX_RC_PATH_MTU=1024` and `UCX_TLS=rc`:
[code]

I played with different values of `UCX_RC_PATH_MTU`, but they all produce the same result.

What does " Local protectio

[2020-07-24 22:21] yosefe commented on #5472
@kcgthb it seems there is some sort of data corruption / access to invalid memory address

[2020-07-24 22:35] kcgthb commented on #5472
Right: one of the host logged plenty of those in `dmesg`:
[code]

[2020-07-24 23:15] kcgthb commented on #5472
After a reboot, the `reg umr` error has cleared, but `UCX_TLS=all UCX_RC_PATH_MTU=1024` still produces a `synd 0x14` error:

[code]

`UCX_TLS=rc UCX_RC_PATH_MTU=1024` still crashes with a "Local protection" error, no "reg umr failed" error in `dmesg`:
[code]

Interestingly enough, that issue seems to only arise on HDR HCAs (MT4123, fw 20.27.6008)
If I run the exact same command (with `UCX_TLS=rc`,

[2020-07-25 08:21] planetA commented on #5466
Thank you. That explains the discrepancy. I learned that openmpi actually was capturing the parameters.

[2020-07-25 08:22] #5466 closed

[2020-07-25 09:49] yosefe commented on #5472
@kcgthb can you try with `UCX_TLS=rc_v` ?

[2020-07-25 16:00] maolouzhedehaozi commented on #5462
Thank you for your help. We try the test again with ucx-1.9 and it works.
[code]

[2020-07-25 20:53] bureddy commented on #5471
@leofang can you give little more details on the usage? do you want to query cuda support (`MPIX_Query_cuda()`) before `MPI_Init()`  or after?  I think it's not possible to query runtime support before opening the components, which happens in `MPI_Init() `

[2020-07-26 04:43] leofang commented on #5471
Hi @bureddy During out discussion @dalcinl imagined a new API for querying CUDA support would work like `MPI_Query_thread()`, which cannot be called before `MPI_Init()` either, so I feel applying the same requirement could make your life simpler? By "the same" I mean:
- the API should be thread safe
- the API errors out before `MPI_Init()` is called
- the API is no-throw after `MPI_Init()` is call

[2020-07-27 02:30] #5462 closed

[2020-07-27 06:54] avildema opened #5483 "[mtt] Fail in client server"
Configuration
[code]
 
MTT log:
 
`http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20200726_171758_20282_238_jazz07.swx.labs.mlnx/html/test_stdout_vaTekX.txt`
 
Cmd:
[code]
 
Output:
[code]

[2020-07-27 07:20] alinask commented on #5483
@avildema Could you please add the command line that ran on each side to the output page?

http://hpcweb.lab.mtl.com//hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20200726_171758_20282_238_jazz07.swx.labs.mlnx/html/test_stdout_vaTekX.txt

http://hpcweb.lab.mtl.com//hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20200726_171758_20282_238_jazz07.swx.labs.mlnx/html/test_stdout_ddXmG6.txt

[2020-07-27 10:37] alinask commented on #5483
This failure is caused due to an mtt error - https://github.com/Mellanox/hpc-mtt-conf/issues/465 (internal link)

[2020-07-27 10:37] #5483 closed

[2020-07-27 16:51] #5396 closed

[2020-07-27 18:25] kcgthb commented on #5472
@yosefe unfortunately, different trace with `UCX_TLS=rc_v`, but it still crashes. It gives the following backtrace for each MPI rank:

[code]

[2020-07-27 19:13] kcgthb commented on #5472
I'm starting to see a pattern here, as it looks like the "local protection" errors seem to be node-specific, _ie._ the exact same command with `UCX_TLC=rc` crashes on some node pairs, but works fine on others.

As far as I can tell, the node hardware, firmware and software configurations are all 100% identical: same OS and MLNX OFED version, provisioned the same way on all nodes, same BIOS setting

[2020-07-27 20:25] yosefe commented on #5472
@kcgthb any chance you are using AMD CPU with IOMMU enabled?
can you try to set `iommu=pt` for the kernel boot command?

[2020-07-27 20:58] kcgthb commented on #5472
Those are AMD CPUs indeed (EPYC gen 2) and IOMMU support is enabled in the BIOS.
I'll try to reboot them with `iommu=pt` and will report back.
Thanks!

[2020-07-27 21:47] kcgthb commented on #5472
@yosefe `iommu=pt` seems to have done the trick, indeed!

I can't reproduce the issue on nodes with that kernel option, and it seems to even have improved performance at the same time.

Thank you so much for figuring it out!

[2020-07-27 23:23] jedbrown opened #5485 "rocm_ipc_md.c:69 UCX ERROR Failed to create ipc"
### Describe the bug
I've been following [these instructions](https://github.com/openucx/ucx/wiki/Build-and-run-ROCM-UCX-OpenMPI) for ROCm-aware MPI on a Zen2 server node with a Radeon VII and ROCm-3.5.0. The large bar test passed, and the builds all went smoothly, but the OSU test

[code]
The relevant function is
[code]

### Steps to Reproduce
Install latest versions per https://github.com/openuc

[2020-07-28 06:16] bureddy commented on #5471
@leofang, please see if https://github.com/open-mpi/ompi/pull/7970 is sufficient.

[2020-07-29 11:44] alinask opened #5494 "failures on tcp/test_uct_pending tests"
[code]

https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=8189&view=logs&j=f6a00158-c162-5d05-e321-5b7f75412dc2&t=1b8c0ea8-5fdd-5b35-a853-1eec20ac7859

HOSTNAME=swx-rdmz-ucx-gpu-02

[2020-07-30 01:02] #3066 closed

[2020-07-30 23:43] l31g opened #5500 "ucs_aarch64_dsb(_op) undefined"
### Describe the bug
The macro `ucs_aarch64_dsb(_op)` is not defined on `src/ucs/arch/aarch64/cpu.h`
This causes a compilation error.

### Steps to Reproduce
Un-define `HAVE___CLEAR_CACHE` and `HAVE___AARCH64_SYNC_CACHE_RANGE` from the configuration.
Run `make` and it throws an error.

### Setup and versions
Fedora 30 + Linux 5.4.0
GCC 9.3.1

### Additional information (depending on the issue)
Ple

[2020-07-31 09:35] brminich opened #5502 "Failure in sockaddr/test_uct_cm_sockaddr.cm_open_listen_close/11"
### Describe the bug
Happened in https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/8242/logs/146

[code]

[2020-07-31 13:13] oj-lappi opened #5504 "Transport retry count exceeded on mlx5 IB while calling MPI_Waitall or MPI_Init. Happens intermittently on UCX 1.7.0"
### Describe the bug

Our runs will randomly fail while polling the IB interface with the following message:

This happens either with a call to MPI_Waitall or MPI_Init

Both of the failure modes happen through the same callpath, starting at opal_progress.c:231

The failures seem to happen to pairs of processes, but not necessarily on the same node.
It feels like a hard issue to debug for me, ther

[2020-07-31 14:00] yosefe commented on #5504
1. can you pls adding these to sbatch script to narrow it down:
[code]

2. What is the output of `lscpu` and `dmesg|grep IOMMU`?

[2020-07-31 15:33] l31g opened #5505 "dc_mlx5/uct_p2p_rma_test_inlresp test fails"
### Describe the bug
Gtest fails when running `dc_mlx5/uct_p2p_rma_test_inlresp`.
The error is:
[code]

### Steps to Reproduce
[code]
Master branch at `3189ca9e69785121fde05e705eaa998ae57141ba`
[code]

### Setup and versions
Fedora 30 on aarch64 using Linux 5.4.0
[code]

[code]

[2020-07-31 17:34] yosefe commented on #5505
@l31g can you pls post the full output including the failing test name?

[2020-07-31 17:39] l31g commented on #5505
[code]

[2020-07-31 18:06] #5318 closed

[2020-07-31 19:31] dmitrygx commented on #3897
[code]
http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/6414/nodes/131/steps/1966/log/?start=0

[2020-07-31 19:40] dmitrygx opened #5506 "ud/test_ucp_sockaddr.listen_inaddr_any/2"
[code]
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/8261/logs/186

[2020-07-31 20:22] yosefe commented on #5505
@l31g can you pls try https://github.com/openucx/ucx/pull/5507 as a potential fix?

[2020-07-31 21:10] l31g commented on #5505
Will do

[2020-07-31 21:37] l31g commented on #5505
They pass!

[2020-07-31 22:06] pcapuzzi commented on #5318
Thank you  @yosefe. I can confirm that the transport error dissapeared. Regards!.

[2020-08-01 09:20] yosefe opened #5509 "failure in uct_p2p_rma_test.madvise and cma/test_md.fork on ppc"
http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/6422/nodes/123/steps/1719/log/?start=0
[code]

[2020-08-01 09:26] yosefe opened #5510 "failure in dcx/test_ucp_sockaddr_destroy_ep_on_err.onesided_bidi_sforce"
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/8276/logs/156
[code]

[2020-08-01 14:47] #5500 closed

[2020-08-02 09:42] hiroyuki-sato opened #5514 "RFC: use `PRIu64` instead of `%lld` format."
Hello, developers.

1. What do you think to use `PRIx64` instead of `%llx`? (Use `PRIu64` in decimal) for `uint64_t` datatype?
2. The current code uses `%zu` format string for `uint64_t` datatype. What do you think to change `%lld` instead of `%zu`? As I describe above, It will use `PRIu64`.

If the idea is good, I'll create a PR.

## Use `PRIx64` instead of `%llx`

I'm porting OpenUCX to macOS. A

[2020-08-02 11:08] alinask commented on #5509
reproduced with xpmem as well:

[code]

[2020-08-02 16:57] alinask commented on #5509
with IB:

[code]

[2020-08-02 18:39] tonycurtis opened #5518 "CONFIGURE/SYSDEP.M4: name of NUMA development library package"
### Describe the bug

Setting up a new test environment.

If the NUMA library development package isn't installed, configure produces an error:

[code]

RH/Fedora and derivatives want `numactl-devel`, Debian & derivatives want `libnuma-dev`.  Suggest expanding text slightly to make this distinction.

### Steps to Reproduce
- Command line

invocation of `configure`

- UCX version used (from github

[2020-08-03 07:33] oj-lappi commented on #5504
CPU
---

[code]

dmesg |grep IOMMU
-------------------

[code]

[2020-08-03 07:50] oj-lappi commented on #5504
For clarity, since I haven't said it explicitly: we're trying to run this with GPUDirect RDMA.

[2020-08-03 07:53] yosefe commented on #5504
@oj-lappi can you also try UCX latest master (without special flags)?

[2020-08-03 08:00] oj-lappi commented on #5504
I don't have control over the machines' configuration, but I'll ask the admins if they could update, do you think there's been a commit lately that could have fixed a bug related to this? It's easier to ask them to change versions if there's a clear connection.

[2020-08-03 08:38] yosefe commented on #5504
there have been multiple fixes in mlx5 transports since v1.7.0 . Also, it's possible to compile a local version of UCX and use it with LD_PRELOAD (no need to change machine configuration)
[code]

[2020-08-03 08:40] oj-lappi commented on #5504
Alright, thanks. I'll see if using the latest master version helps.

[2020-08-03 16:59] #5505 closed

[2020-08-03 18:12] shamisp commented on #5514
PRIx64 is C99 standard and this is what we should use.

[2020-08-03 21:17] yosefe commented on #5514
should use PRIu64 (not %lld) for uint64_t

[2020-08-03 22:26] shamisp commented on #5514
Indeed, the same stands for PRIu64.

[2020-08-04 13:35] hiroyuki-sato commented on #5514
Hello, @shamisp and @yosefe. Thank you for your comment. I'll create a PR later.

[2020-08-04 13:35] #5514 closed

[2020-08-04 17:58] brminich commented on #5459
seems like cluster-specific conf issue, some e2e leftover processes were running on certain nodes. Can't reproduce anymore.
Please reopen if notice again

[2020-08-04 17:58] #5459 closed

[2020-08-06 01:12] opoplawski opened #5535 "Segmentation fault in netcdf test with more than 2 mpi processes"
### Describe the bug
Segmentation fault in uct_tcp_ep_handle_put_req with more than 2 mpi processes.

### Steps to Reproduce
- Compile netcdf 4.7.3 and run mpi tests.  nc_test4/tst_parallel3 segfaults when run with more than 2 processes.
- ucx 1.8.1 (Fedora package0

### Setup and versions
- Fedora Rawhide x86_64 4 core VM

### Additional information (depending on the issue)
- OpenMPI version 4.0.

[2020-08-06 01:23] opoplawski commented on #5535
Ah, once I realized that I need to run valgrind on mpiexec and not on my program, perhaps something useful.  I've attached the valgrind output.
[valgrind.log](https://github.com/openucx/ucx/files/5031981/valgrind.log)

[2020-08-06 14:24] dmitrygx commented on #5535
@opoplawski is it possible to try the current UCX master? there were fixes in TCP for PUT operation handling:
https://github.com/openucx/ucx/pull/4318
https://github.com/openucx/ucx/pull/4678

if they are useful, we could map them to v1.7.x.
Also, if the issue still persists when using the master branch, could use `UCX_TCP_PUT_ENABLE` configuration parameter as a workaround while the issue is unde

[2020-08-06 14:36] brminich commented on #5506
also happened on `swx-rdmz-ucx-new-02` here:
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/8437/logs/174

[2020-08-06 14:37] brminich commented on #5506
[code]

[2020-08-06 16:58] RizzerOnGitHub commented on #5443
Alistair built a new debian package for UCX fixing some packaging issues. That has helped the specific UCX problems: dolfin and scalapack are now building fine.  With the broader openmpi problems, petsc4py tests are now passing, but mpi4py is still failing tests.

[2020-08-06 23:51] opoplawski commented on #5535
It still segfaults with the latest UCX master.  Setting UCX_TCP_PUT_ENABLE=n does allow the test to run.

[2020-08-07 06:26] dmitrygx commented on #5535
thank you for the tests

[2020-08-07 08:34] hiroyuki-sato commented on #4595
Created #5538

[2020-08-07 08:34] #4595 closed

[2020-08-07 09:09] hoopoepg opened #5542 "Failed gtest: rc_dc/test_ucp_wireup_unified.select_best_ifaces/0"
### Diagnostic
[2020-08-06T16:46:06.931Z] [----------] 1 test from rc_dc/test_ucp_wireup_unified
[2020-08-06T16:46:06.931Z] [ RUN      ] rc_dc/test_ucp_wireup_unified.select_best_ifaces/0 <rc,dc>
[2020-08-06T16:46:07.490Z] /scrap/jenkins/workspace/ucx-11/contrib/../test/gtest/ucp/test_ucp_wireup.cc:1107: Failure
[2020-08-06T16:46:07.490Z] Value of: worker_has_tls(worker, tl, i)
[2020-08-06T16:46:0

[2020-08-07 09:14] #5542 closed

[2020-08-07 13:11] RizzerOnGitHub commented on #5443
I've raised the mpi4py problem upstream at https://bitbucket.org/mpi4py/mpi4py/issues/171

[2020-08-07 18:01] yosefe opened #5543 "UD timeout in shm_ib/test_ucp_tag_xfer.send_contig_recv_generic_exp"
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/8480/logs/184
[code]

[2020-08-07 20:41] wyphan opened #5545 "Compile: AOCC/clang-10 linker error"
### Describe the bug
Compiling 1.8.1 release version fails on x86_64 using AMD AOCC (based on LLVM)

### Steps to Reproduce
- Command line
[code]
- UCX version used (from github branch XX or release YY) + UCX configure flags (can be checked by `ucx_info -v`)
Release 1.8.1
- **Any UCX environment variables used**
none

### Setup and versions
- OS version (e.g Linux distro) + CPU architecture (x86_6

[2020-08-07 23:49] shamisp commented on #5545
This may help: https://github.com/openucx/ucx/issues/4549

[2020-08-08 18:52] wyphan commented on #5545
@shamisp I can confirm the "fix" proposed by @spikebike in #4549 works. The affected files are:
- `test/gtest/Makefile.in`
- `src/tools/perf/Makefile.in`

[2020-08-09 15:15] shamisp commented on #5545
So, it seems like some versions of clang do not support `-dynamic-list-data` ?

[2020-08-09 15:25] shamisp commented on #5545
The detection of linker is done by libtool.m4 which is part of libtool. I suspect something is off in the build environment since libtool gets confused.

[2020-08-10 10:51] RizzerOnGitHub commented on #5443
Lisandro at [mpi4py upstream](https://bitbucket.org/mpi4py/mpi4py/issues/171) can't say exactly what the problem must be, and suggested to just skip the problematic tests in mpi4py when building with openmpi 4.0.4.  With those tests skipped, the remaining tests pass, so arguably we could this close bug unless deeper inspection is warranted.

Lisandro suggested including mpi4py tests in CI testing

[2020-08-10 16:45] jrood-nrel opened #5555 "Build errors with Clang 10"
### Describe the bug
Seeing these syntax or possibly libc++/libstdc++ errors?
[code]

### Steps to Reproduce
- Building UCX 1.8.1
[code]

### Setup and versions
- CentOS 7

[2020-08-11 01:24] wyphan commented on #5545
I can confirm that with the clang-10 version packaged in AOCC 2.2.0, and I believe @spikebike was using clang-9 from AOCC 2.1.0.

I think the linker here is the LLVM `lld` linker. [Here](https://gist.github.com/wyphan/1c0bc850f8ca16fa817cfb5c1200156c) is the full `config.log` generated by `configure`.
I use [Lmod](https://lmod.readthedocs.io/en/latest/) to manage my environment variables, so I can

[2020-08-11 08:14] hiroyuki-sato opened #5557 "[Q] Fatal: Failed to push event 1022 to miss queue: User-defined limit was reached."
Hello, members.

### Describe the bug

`make -C test/gtest test` reports `Fatal: Failed to push event 1022 to miss queue: User-defined limit was reached`.
It seems that I need to change something value (max file descriptor)
Could you tell me what parameter should I change?

Best regards

### Steps to Reproduce

* OpenUCX: 7863e701c4ef37eea4da29f6a66108a389320b62

[code]

[code]

### Setup and vers

[2020-08-11 08:43] yosefe opened #5558 "failure in test_rcache_pfn.enum_pfn"
http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/6561/nodes/123/steps/1248/log/?start=0
[code]

[2020-08-13 02:55] shamisp opened #5566 "test_async.global_event assert"
### Describe the bug
Gtest hangs
[code]

### Steps to Reproduce
```make -C gtest/test test```
Version: master 36e22b4e346c9b7b120c61f6af5e3add5d830bc3
Interesting enough I cannot reproduce when run with GTEST_FILTER="*test_async.global_event*"

### Setup and versions
- Fedora F32, aarch64, 5.7.14-200.fc32.aarch64
- No rdma

### Additional information (depending on the issue)
[code]

[2020-08-13 04:28] shamisp opened #5567 "v1.9.0 gtest failure"
### Describe the bug
Segfault
[code]

### Steps to Reproduce
1.9.0 head 7b189c9ae4258f524e0ffb4ea2c9d5acd31c2ff3
Consitently fails with:
[code]

The same system configuration as #5566

[2020-08-13 04:31] shamisp commented on #5567
[code]

[2020-08-13 04:33] shamisp commented on #5567
@yosefe FYI

[2020-08-13 06:50] dmitrygx commented on #5566
@shamisp
I guess that issue reproduced when some TCP tests were running before test_async is launched.
Need to try to reproduce this first on my side. Is it possible to reproduce many times this issue on you side?

[2020-08-13 07:27] angainor opened #5568 "Segfault in uct_mm_ep_has_tx_resources"
The code uses UCX from HPCX 2.6.0 (MOFED) directly (i.e., not through MPI). I sometimes hit the following segfault when closing a UCP endpoint:

[code]
I test by running 128 processes on a single compute node. The segfault occurs sometimes, and only when I use the shared memory transport. That is, I don't reproduce it when I set `UCX_TLS=dc,self`, for example. Also, the segfault happens when I  `U

[2020-08-13 09:44] yosefe commented on #5567
@shamisp can you pls provide he output with UCX_LOG_LEVEL=data?

[2020-08-13 09:54] yosefe commented on #5568
@angainor can you pls add the test code and steps to reproduce?

[2020-08-13 10:48] angainor commented on #5568
@yosefe Well, that's complicated. I don't have a simple reproducer, just the application code, and that is far too complex as it is. I wanted to establish if there is a simple answer before looking into it in more detail and trying to write a simple trigger code.

In essence, the code sets up the endpoints between neighbors in a cartesian rank space, each pair of neighbors exchanges a few bytes, a

[2020-08-13 11:04] yosefe commented on #5568
in general the problem can be disconnecting from a remote worker which has already been destroyed

[2020-08-13 11:29] angainor commented on #5568
@yosefe Could be - I commented out `ucp_worker_destroy(m_worker);` and the segfaults seem to be gone. I ran 100 runs without a problem, and usually I get segfault 50% of the time.
Since I only call `ucp_ep_close_nb` and `ucp_worker_destroy` at exit / cleanup, I can live with either not calling `ucp_worker_destroy`, or using `UCP_EP_CLOSE_MODE_FORCE`. Which one would you consider better? Thanks!

[2020-08-13 11:41] yosefe commented on #5568
@angainor i'd recommend to sync all processes during exit, so that all ucp_ep_close_nb(FLUSH) would be done before that barrier, and ucp_worker_destroy would be after it.

[2020-08-13 15:19] shamisp commented on #5567
[data_trace.log](https://github.com/openucx/ucx/files/5069887/data_trace.log)
@yosefe attached

[2020-08-13 17:08] shamisp commented on #5566
@dmitrygx  I was able consistently reproduce this every single gtest CI cycle.
In my build I have only shared memory (cam + sysv/posix and tcp enabled.). Indeed some TCP test are running before as part of gtest.

[2020-08-13 19:28] shamisp commented on #5567
I tried to test 1.8.1 but it does not compile with gcc 10.2

[2020-08-13 20:03] jappa opened #5571 "Libfabric with ucx breaks with user namespaces"
When using libfrabric mlx provider together with ucx 1.8.1 fails with the following error when called with processes from different user namespaces (using Singularity). A similar issue was addressed in #4511 for OpenMPI and I wonder if the libfabric interface is calling a different function that requires the same fix to disable CMA when user namespaces differ.

Setting UCX_POSIX_USE_PROC_LINK=n or

[2020-08-14 09:32] avildema opened #5573 "[mtt] harlem hung"
Configuration
[code]
 
MTT log:
 
http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/shmem/20200813_190931_182086_1675_jazz20.swx.labs.mlnx/html/test_stdout_QU72WJ.txt
 
Cmd:
`hpc/local/benchmarks/daily/next/2020-08-13/hpcx-gcc-redhat7.6/ompi/bin/oshrun -np 56 --bind-to core -mca oshmem_proc_group_cache_size 10000 -mca sshmem ucx -mca atomic ucx -mca coll '^hcoll' -mca coll_hcoll_enable 0 -

[2020-08-14 14:01] avildema opened #5574 "[mtt] IO Demo fail on a big scale"
Configuration
[code]
 
MTT log:
 
http://e2e-gw.mellanox.com:4080/hpc/scrap/users/mtt/scratch/ucx_ompi/20200811_135124_30912_633691_clx-hercules-003/html/test_stdout_CsMQTd.txt
 
Cmd:
[code]
 
Output:
[code]

After it pdsh hung.
Reproduce on more 100 nodes , with 50 nodes works fine

[2020-08-14 19:04] felipeblazing opened #5576 "Question about avoiding race conditions on ucp_tag_probe_nb"
When I look at the example found at http://openucx.github.io/ucx/api/v1.6/html/ucp_hello_world_8c-example.html , I see code that I am struggling a bit to understand.

[code]
Namely what happens if `else if (ucp_worker_progress(ucp_worker)) ` returns 0  and before `status = ucp_worker_wait(ucp_worker);` is called a message comes in so that ucp_worker_progress(ucp_worker) would no longer return 0.

[2020-08-14 19:45] felipeblazing commented on #5576
To give some further context I am hoping to be able to launch polling from different threads with one ucp worker. I am  not initializing one per thread.

[2020-08-14 20:54] shamisp commented on #5576
FYI, the latest version of the code is here
https://github.com/openucx/ucx/blob/master/examples/ucp_hello_world.c

On Fri, Aug 14, 2020 at 2:45 PM felipeblazing <notifications@github.com>
wrote:

[2020-08-15 00:53] shamisp commented on #5555
@jrood-nrel I don't see any file named `sa_util.c` in the repo

[2020-08-15 02:20] shamisp commented on #5566
@dmitrygx I rebuilt it with clang 10 and it fails a bit differently but symptoms are the same... somewhere we leak socket fd.

[code]

[2020-08-15 02:22] shamisp commented on #5566
[code]

more then enough...

[2020-08-15 07:20] dmitrygx commented on #5566
no, it is not enough :)
we are using
[code]

we saw the same issue when we had `1024` on some nodes

[2020-08-15 14:04] shamisp commented on #5566
Can you add getrlimit() to beginning of the test to check system limit and report an error that directs users to bump up the limit - https://stackoverflow.com/questions/4076848/how-to-do-the-equivalent-of-ulimit-n-400-from-within-c

[2020-08-15 22:45] shamisp commented on #5567
The same issue shows up on master

[2020-08-16 20:05] shamisp commented on #5567
taking it back - the issue shows up only in 1.9.x

[2020-08-17 14:35] jrood-nrel commented on #5555
https://github.com/openucx/ucx/blob/d32bcd5c3d17e36a29a4a5b459affeba1c6f884a/test/apps/sockaddr/sa_util.cc#L65

[2020-08-18 02:27] shamisp commented on #5567
After fresh re-build I cannot reproduce it anymore. closing for now.

[2020-08-18 02:27] #5567 closed

[2020-08-18 14:15] shamisp commented on #5555
Sorry, it was typo in my search.
Nevertheless I still cannot reproduce. Please see below.

[code]

[code]

[code]

[2020-08-18 14:15] shamisp commented on #5555
It is on aarch64, but I will be surprised if it makes any difference.

[2020-08-18 14:46] alinask commented on #5574
@avildema the failure in this ticket and the one inside the link are different.
Can you please open a new ticket for the issue in the link?
Thanks!

[2020-08-18 14:49] jrood-nrel commented on #5555
Ok, definitely possible it's my configuration then. Thanks for trying this as well. I will close this and if someone has this same problem in the future they can hopefully find this issue.

[2020-08-18 14:49] #5555 closed

[2020-08-18 16:43] felipeblazing commented on #5576
I updated the comment to reflect the current version and line number.

[2020-08-18 20:25] wyphan commented on #5545
Looks like if I force it to use `lld`, the build fails at linking `ucx_info` because `libtool` didn't generate shared libraries. For now, I added `--with-gnu-ld` to the configure line to force it to use GNU `ld`. Now the build completes, so probably AOCC's `lld` is at fault here.

[2020-08-18 20:45] shamisp commented on #5545
Thanks for an update. I will close this for now but if you have an update feel free to post here.

[2020-08-18 20:45] #5545 closed

[2020-08-18 23:01] trquinn opened #5589 "Build fails with undefined ucp_lane_type_info"
### Describe the bug
UCX fails to compile.  The final errors are:
[code]

### Steps to Reproduce
- ./contrib/configure-release --prefix=$HOME/ucx/build_master
- make -j 16
- UCX version used (from github branch XX or release YY)
[code]

### Setup and versions
- CentOS Linux release 7.8.2003 (Core)
- `Linux login4.frontera.tacc.utexas.edu 3.10.0-1127.13.1.el7.x86_64 #1 SMP Tue Jun 23 15:46:38 UTC 2

[2020-08-18 23:56] trquinn commented on #5589
I found the problem: one needs to run "autogen.sh" before configure.

[2020-08-18 23:56] #5589 closed

[2020-08-19 20:41] abellina opened #5596 "UCX packages don't install in ubuntu 18.04"
[code]
While trying to install the 18.04 deb package we ran into issues where we needed `ibverbs-providers`, `libibverbs1`, `rdmacm1` and `cuda-compat-10-1`. We didn't have IB/RDMA hardware and the machine already had `cuda-10-1` installed. The ibverbs and rdmacm packages that are available for ubuntu 18.04 are too old, so we can't meet this dependency. Do they have to come from the `MLNX_OFED` in

[2020-08-20 04:28] alex--m opened #5598 "Routing issue with RoCE and Socket-Direct"
One of our clusters is using RoCE with socket-direct, so each port presents itself as two network interfaces, and obviously we want each CPU core to use its local PF. Obviously, during an MPI job on multiple such hosts, any of the ranks should be able to reach any other rank.

If we put each network interface in a separate subnet - not every rank can use it's local PF to talk to other subnets.
If

[2020-08-20 08:13] yosefe commented on #5596
currently there are separate packages with rpm but not with deb

[2020-08-20 09:24] oj-lappi commented on #5504
Using a newer version of UCX appears to have solved this issue

[2020-08-20 09:24] #5504 closed

[2020-08-20 13:34] alinask commented on #5574
https://github.com/openucx/ucx/pull/5592 should fix the issue in the link:

[code]

[2020-08-20 14:04] jli111 opened #5601 "Warning about destroying inuse region"
### Describe the bug
I am running a simple test using one-sided communication routines among GPU memories on Summit, with the GPUDirect support. I got weird warning messages, looks like a concern.
There are a bunch of warning messages from each process and each mlx5_x port, I pick and show part of them here:
[code]

### Steps to Reproduce
[code]
Argument 10 indicates how many elements in each send

[2020-08-20 20:13] cparrott73 opened #5602 "UCX 1.8.1 does not compile with NVIDIA HPC SDK 20.7 (successor to PGI compilers)"
### Describe the bug
The NVIDIA HPC SDK is the modern successor to the PGI compiler products.  It includes NVIDIA HPC compilers, which are direct descendants of the PGI compilers: **nvc**, **nvc++**, and **nvfortran**.  The NVIDIA HPC compilers accept most of the old PGI compiler flags, along with enhanced compatibility with flags commonly used with the GCC compilers.

I attempted to compile UCX 1

[2020-08-20 21:09] cparrott73 commented on #5602
Hmmmm, apparently I was testing a development version of 20.7, and the `--diag_suppress` flag didn't make it into the release.  I'm checking with our engineers on this.

[2020-08-21 00:05] cparrott73 commented on #5602
The `--diag_suppress` flag was erroneously omitted for 20.7, but should be restored in the next release.

[2020-08-21 06:45] hoopoepg commented on #5602
Hi @cparrott73
Thank you for but report

We already have ```--diag_suppress 1901``` compilation flag which should suppress warning ```Use of a const variable in a constant expression is nonstandard in C```. Doesn't it work in new compilers anymore?

About ```--diag_suppress 550```: actually this is useful warning & should be fixed in source code. Will look at this.

[2020-08-21 13:57] dkokron opened #5604 "XPMEM support"
I am getting the following warning even though I have built UCX with xpmem support and our nodes have an xpmem kernel module loaded.  The warning is confusing because it says xpmem is not available yet is in the list of available devices.

ucp_context.c:731  UCX  WARN  intra-node device '**xpmem**' is not available, please use one or more of: 'memory'(cma), 'memory'(posix), 'memory'(sysv), 'memory

[2020-08-24 14:11] hoopoepg commented on #5571
hi @jappa
do you use shared IPC namespace with host system?

[2020-08-24 15:12] jli111 commented on #5601
Thanks for the reply.

I've tried to add 'UCX_RNDV_SCHEME=get_zcopy', but the warning is still there.
And I can see the same issue happened with both CPU memories and GPU memories.

[2020-08-24 15:28] brminich commented on #5601
@jli111, the attached test does not call `MPI_Win_free`. Most probably this is the issue

[2020-08-24 15:41] mathomp4 opened #5611 "Help with UCX and Intel/GNU Backtrace"
All,

This is a bit of an open-ended issue as I'm looking for advice. Namely, I have an issue open with Intel (currently internal, though here is the [original Forum Post](https://community.intel.com/t5/Intel-Fortran-Compiler/Change-in-Traceback-Output-in-Recent-Intel-Fortran/td-p/1184875)) where even if you compile a small program with ifort/Intel MPI that has an overflow with just a hint of MPI:

[2020-08-24 15:48] yosefe commented on #5611
@mathomp4 pls try to set env var: `UCX_HANDLE_ERRORS=none`

[2020-08-24 15:58] mathomp4 commented on #5611
@yosefe Would that be a runtime flag? Or configure/build for UCX? It doesn't seem to work at runtime for me. To wit, without `UCX_HANDLE_ERRORS`:

[code]
With `UCX_HANDLE_ERRORS=none`:
[code]

For reference this is the "expected" traceback:
[code]

[2020-08-24 16:04] yosefe commented on #5611
@mathomp4 this seems the correct usage. What is the UCX version (ucx_info -v)?

[2020-08-24 16:07] mathomp4 commented on #5611
@yosefe looks to be 1.6.0.

Note: the tests above you see are on an Omnipath system using Intel MPI and the PSM2 provider.

[2020-08-24 16:09] mathomp4 commented on #5611
@yosefe I've also ask my Harvard colleague to try it out on his Intel Fortran/Open MPI system. It might do something for him!

[2020-08-24 16:30] jli111 commented on #5601
@brminich Thanks for pointing this out.

So I added `MPI_Win_free` at the end of the reproducer, right before `MPI_Finalize()`.
Unfortunately, these warnings still show up on my side :(

[2020-08-24 16:32] mathomp4 commented on #5611
@yosefe I asked my colleague (@sdeastham) to try `UCX_HANDLE_ERRORS=none` on his Intel Fortran/Open MPI system as well, but no help there either sadly.

(Though I went back and determined that I expressly don't build Open MPI with UCX on my Omnipath system because of #750. Which probably tells me I keep my `configure` lines for Open MPI the same for perhaps too long as that was from 2016!)

[2020-08-24 16:34] sdeastham commented on #5611
Hi all - as described by @mathomp4, I'm getting this issue, and unfortunately UCX_HANDLE_ERRORS did not resolve it. Versions: UCT version 1.6.1, Intel fortran/C/C++ 19.0.5.281, and OpenMPI v4.0.2.

[2020-08-24 16:42] yosefe commented on #5611
Is it possible to test a newer version of UCX? There were some related to this flag

[2020-08-24 17:58] mathomp4 commented on #5611
@yosefe More info including...a new oddity. So, I decided, what the heck, I can build UCX and so I do, 1.8.1. And if I load the module which exposes that to my path I get:
[code]
So...two tracebacks for the price of one! Again not ideal, but might point to something. It does perhaps presage hope for @sdeastham, but not a perfect fix for my case.

I'll try and contact our sysadmins and see if we ca

[2020-08-24 18:33] mathomp4 commented on #5611
Did a few more tests. I decided to build and install UCX 1.6.0, 1.6.1, and 1.7.0 along with my 1.8.1.

If I have 1.6.0 or 1.6.1 loaded, I get the GNU traceback only. With 1.7.0 (and 1.8.1), I get the double traceback. So perhaps there was a "fix" or something in 1.7.0 regarding tracebacks?

[2020-08-24 18:52] sdeastham commented on #5611
I can confirm this behavior - excellent news for me! I'm going to try building a larger case and double-check that this means I still get "full" tracebacks.

[2020-08-24 19:41] #5604 closed

[2020-08-24 21:31] yosefe commented on #5611
@mathomp4 can you pls try UCX v1.8.0 along with `UCX_HANDLE_ERRORS=none`?

[2020-08-25 15:32] abellina commented on #5596
As a workaround (in the interim) we discussed trying with force or ignore dependencies, I'll try this out and see if it works. Note this is an issue with _all_ ubuntu versions.

[2020-08-25 15:55] dkokron opened #5615 "Request support of HPE variant of XPMEM"
I'm working on the Pleiades system which is mostly SGI (now HPE) hardware.  This system has a version of XPMEM that appears to be incompatible with UCX (1.9.0).  The UCX configure fails because the HPE version of XPMEM does not expose a symbol called xpmem_init.

configure:29310: checking for xpmem_init in -lxpmem
configure:29335: icc -o conftest   -I/usr/include/sn/include  -L/usr/lib64 -lxpmem c

[2020-08-25 16:15] yosefe commented on #5615
@dkokron thanks for opening an issue! currently the community has no specific plan to support additional variants of xpmem, however if anyone wishes to contribute code to UCX to support HPE xpmem, it would be welcomed :)

[2020-08-25 16:40] dkokron commented on #5615
Which variant of XPMEM is supported by UCX?  Can you point me to the XPMEM code you are using?

[2020-08-25 16:48] dkokron opened #5616 "Slow startup using NAMD UCX"
The NAMD application uses charm++ for process communication.  charm++ has a native UCX implementation that greatly improves runtime scalability of NAMD, however, job startup scales inversely with process count.  I have measured job startup at ~8 minutes when using ~2000 processes (48 nodes).  Are you aware of any way to improve this situation?

Dan

[2020-08-25 16:51] yosefe commented on #5615
https://github.com/hjelmn/xpmem

[2020-08-25 17:55] dkokron commented on #5615
Thanks, that's the one I'm building UCX against.  Doesn't seem to complain
when I run on our system which has a different XPMEM kernel module.
Dan

On Tue, Aug 25, 2020 at 11:52 AM Yossi Itigin <notifications@github.com>
wrote:

[2020-08-25 19:26] brminich commented on #5616
@dkokron, can you please provide more details?
- Are you using latest charm++ and UCX?
- what are the charm++ build parameters? Probably would need to build PMIX based UCX ML in charm
- what are the runtime parameters?

[2020-08-25 19:40] dkokron commented on #5616
The charm++ version is charm-6.10.2
NAMD is GIT master (updated a few weeks ago)

echo $base_charm_opts
-O3 -ip -g -xCORE-AVX512

./build charm++ ucx-linux-x86_64 icc ompipmix --suffix xpmem --with-production $base_charm_opts --basedir=$HPCX_UCX_DIR -j12

ucx_info -v
# UCT version=1.9.0 revision fcd1255
# configured with: CC=icc CXX=icpc --enable-optimizations --disable-logging --disable-debug --d

[2020-08-25 20:30] shamisp commented on #5615
@dkokron part of the problem is that the development team does not have access to proprietary versions of XPMEM, so it is challenging to test and develop without platform access. As @yosefe mentioned, code contributions are more than welcome :-)

[2020-08-26 19:42] dkokron commented on #5615
Pavel,
I have confirmed with HPE that their version of the XPMEM package is
open-source with a GPL/LGPL license.  Would you like a copy?
Dan

On Tue, Aug 25, 2020 at 3:31 PM Pavel Shamis (Pasha) <
notifications@github.com> wrote:

[2020-08-26 22:11] shamisp commented on #5615
If they can publish it on GitHub, it will be helpful. The best thing they can do is to open an PR to https://github.com/hjelmn/xpmem. Once it is in open, we can give it a try.

[2020-08-27 21:55] souravzzz commented on #5485
Hi @jedbrown We fixed several IPC issues in ROCm 3.7 release. Can you give it a try?

[2020-08-27 21:58] souravzzz commented on #4730
This issue has been fixed in the ROCm 3.7 release.

[2020-08-27 21:58] #4730 closed

[2020-08-28 06:07] jedbrown commented on #5485
I've been using ROCM-3.7 successfully for a few days, but unfortunately, this UCX error is still present with fresh rebuilds  of ucx, ompi, and the osu benchmark.
[code]

[2020-08-28 07:37] avildema opened #5626 "[mtt] atest fail"
Configuration
[code]
 
MTT log:
 
http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20200826_213306_53350_2545_jazz01.swx.labs.mlnx/html/test_stdout_eLoEtX.txt
 
Cmd:
[code]
 
Output:
[code]

We see fail on jazz and nemo in ucx-hcoll tests

[2020-08-28 08:24] avildema opened #5627 "[mtt] oshmem_test, job has been aborted."
Configuration
[code]
 
MTT log:
 
http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/shmem/20200825_223822_20624_2481_jazz14.swx.labs.mlnx/html/test_stdout_9IMuHI.txt
 
Cmd:
[code]
 
Output:
[code]

[2020-08-28 08:31] brminich commented on #5627
@avildema, is it 100% reproducible? Also have you tried to reproduce it in non-unified mode?

[2020-08-28 08:50] avildema commented on #5627
yes, on jazz reproduce very well ,
without ` -x UCX_UNIFIED_MODE=y` I see a same behavior

[2020-08-28 11:22] dmitrygx commented on #5506
https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=8912&view=logs&j=e478acae-f7e6-504c-74c3-c7a2ae7ed16d&t=fa79f956-22e9-5f3b-cb59-a6f2b0ec0774
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/8912/logs/186
[code]

[2020-08-28 13:18] mkre opened #5630 "UCX 1.9.0-rc2 cannot be compiled against MOFED 4.0 libs"
### Describe the bug
We want to compile UCX to be used on systems where MOFED 4.x is installed. To that end, we are compiling UCX against the libraries and headers from MOFED 4.0. While evaluating UCX 1.9.0-rc2, we came across the following error at compilation:
<details>
  <summary>Click to expand!</summary>

[code]
</details>

With `--with-mlx5-dv=no`, the error is different:
<details>
  <summar

[2020-08-30 12:06] cponder opened #5634 "RETRY_COUNT not documented"
I've been running a test on 96 nodes with 8 procs per node, and seeing this intermittent error
[code]
It looks like I was able to make it go away using
[code]
I had to figure this out by looking at the source code, the `RETRY_COUNT` setting is not listed from
[code]

[2020-08-30 12:12] cponder commented on #5634
This is from UCX 1.8.1.
I don't know if I should expect this behavior, or if there's a bug in the code that will be fixed later (negating the need to document this), or if I should change other OpenMPI/UCX settings that I'm using.
I tried other settings like these
[code]
to no effect. Also I only picked 1000 because I assumed it would be easier than bumping the number up by small increments to see

[2020-08-30 12:17] yosefe commented on #5634
- RETRY_COUNT is not a valid variable name
- A value of 1000 has no effect, since IB spec allows up to 7 retries (which is already the default)
- The error could indicate a fabric issues (which causes packet drops), some issue with adaptive routing, or severe case of congestion

[2020-08-30 12:24] yosefe commented on #5626
looks like issue in OpenMPI:
 - 8b2bcbc9ca1dbbf373ecf6dd98d6ad086c1b6c09 fails
- 441e88f2b4a63efbda7657e635f14ba6262eeca1 works

[2020-08-30 14:41] shamisp commented on #5634
You can try to run https://linux.die.net/man/1/ibdiagnet to identify your network issues.

[2020-08-30 17:15] cponder commented on #5634
Re-trying, it looks like RETRY_COUNT is still working.
When I tried other settings, like
[code]
I was getting these messages
[code]

[2020-08-30 19:15] Artemy-Mellanox commented on #5630
@mkre may it be that your setup have some leftovers from previous installations?
configure detects symbol MLX5DV_CONTEXT_FLAGS_DEVX under /usr/include or under some xxx_INCLUDE_PATH environment variable
could you plz serach mlx5dv.h files on the setup you running configure

[2020-08-31 16:42] mkre commented on #5630
@Artemy-Mellanox, you are right! There was a stray mlx5dv.h in `/usr/include/infiniband` which prevented correct cross compilation. I have removed the `rdma-core-devel` package from my build machine and it is now working fine. The UCX 1.8->1.9 upgrade coincided with a software update on the build machine (including an update of `rdma-core-devel`), which caused this issue, so I got confused about t

[2020-08-31 16:42] #5630 closed

[2020-09-01 13:45] abellina commented on #5596
With `--force-depends` I was able to install the package. With this we ignore the package defined dependencies so it's just a hack while we get a package that has dependencies with alternates (for the cuda-compat case) and where the IB/RDMA components can be split off and be optional, or part of a different .deb that depends on MOFED.

[2020-09-01 15:17] brminich commented on #5616
@dkokron, was the issue resolved? If yes, can you please provide some details?

[2020-09-01 15:21] dkokron commented on #5616
The issue is not resolved.  I closed the ticket because I have not had any
response in more than a week.
Dan

On Tue, Sep 1, 2020 at 10:17 AM Mikhail Brinskiy <notifications@github.com>
wrote:

[2020-09-01 15:34] brminich commented on #5616
@dkokron, why do you set  `UCX_TLS="rc,xpmem,self"`. Can you please try using `dc` instead (`UCX_TLS="dc,xpmem,self"`)?
@karasevb, do you have any hints for better PMIX scalability?

[2020-09-01 15:40] dkokron commented on #5616
I have tried rc_x and dc.  Neither improved startup time.  dc was a little
slower than rc or rc_x.

On Tue, Sep 1, 2020 at 10:34 AM Mikhail Brinskiy <notifications@github.com>
wrote:

[2020-09-01 15:57] hiroyuki-sato opened #5644 "[Q] MALLOC_HOOKS default mode description"
Hello, Developers.

Could you tell me about the MALLOC_HOOKS description?

The MALLOC_HOOKS description says below.

It seems that this value is `on`(yes) by default. Does this description correct?

[code]

https://github.com/openucx/ucx/blob/9050b1a6d858e4f9f6d2a7740f255ad18685c7a6/src/ucs/config/ucm_opts.c#L57-L62

The default value is zero in this file.

https://github.com/openucx/ucx/blob/9050

[2020-09-01 18:52] Akshay-Venkatesh commented on #3249
@AdamSimpson An equivalent issue does seem to addressed through https://github.com/openucx/ucx/pull/5473 on DGX-1.

[code]
There is one caveat that if you end up using UCX_MAX_RNDV_RAILS=1 which may be necessary for good internode performance, then it's better to use mm instead of sm in UCX_TLS as shown below
[code]

I see that on the platform you're testing, both the NICs are on the same socket,

[2020-09-01 19:03] Akshay-Venkatesh opened #5646 "FLAG_RNDV_FRAG assertion failure with cuda transfers within the node"
### Describe the bug
When `rc` is removed from UCX_TLS to move data between GPUs that are not cuda-ipc accessible, the above assertion issue shows up. This happened when trying to see if https://github.com/openucx/ucx/pull/5473 addresses https://github.com/openucx/ucx/issues/3249

### Steps to Reproduce
- Using master at https://github.com/openucx/ucx/commit/25e3a9074c28d274f4399c3a53a36a5dff52853

[2020-09-02 00:41] hiroyuki-sato commented on #5644
It seems that `on` by default.

Source: 571381c829ed9ad15b5533ec3699b466698b0419

[code]

[code]

[2020-09-02 01:40] bureddy commented on #5646
@Akshay-Venkatesh  will check.  this assertion is not valid because it is using AM BOCPY as there is no host BW lanes(because of 'mm" only host transport) for staging protocols.
BTW, any reason for not using RC, that should fix the inter-socket GPU-GPU performance. and did you try with "shm" instead of "mm"

[2020-09-02 07:03] brminich commented on #5616
@dkokron, looks like https://github.com/UIUC-PPL/charm/pull/2799 is not included into charm-6.10.2. This is most probably the reason of NAMD startup slowness.

[2020-09-02 07:03] karasevb commented on #5616
@dkokron, could you check job startup time with the same cmd, but using `ring_c` program from ompi examples?

[2020-09-02 12:36] gcca opened #5650 "Question about performing ucp_tag_send_nbr from threads"
Based on [https://github.com/openucx/ucx/blob/master/examples/ucp_hello_world.c](ucp_hello_world.c), I wrote a demo using the function _ucp_tag_send_nbr_ instead of _ucp_tag_send_nb_. My sending function looks like

[code]

My demo works using one thread (executing _Sending_ inside the thread). But using more than two threads, the sender process fails getting the following error:

[code]

So, What

[2020-09-02 12:40] brminich commented on #5650
@gcca, have you configured UCX with `--enable-mt`?

[2020-09-02 12:42] yosefe commented on #5650
In addition, need to create ucp_worker_h with passing `UCS_THREAD_MODE_MULTI` to `ucp_worker_create()` at `ucp_worker_attr.thread_mode`

[2020-09-02 13:07] gcca commented on #5650
Thanks @brminich and @yosefe.
Enabling thread support from compilation fixed my demo.

But in the receiver process, some message are empty.

[code]
Maybe the resources are being freed within threads before being read by the receiver?

The receiver is not using threads and it performs _ucp_tag_recv_nbr_ for each tag.

[code]

[2020-09-02 14:17] alinask commented on #5574
This issue happened on the master branch of ucx.
If the reason is a too small backlog for rdmacm, PR https://github.com/openucx/ucx/pull/5623, could fix this issue by increasing the backlog (from 128 to the system's setting) and making it configurable.

[2020-09-02 14:53] dkokron commented on #5616
Boris,

I ran the ring_c executable on 48 nodes with varying numbers of ranks.

set
exe=/nobackupnfs2/dkokron/play/Mellanox/hpcx-v2.7.0-gcc-MLNX_OFED_LINUX-4.7-1.0.0.1-suse12.5-x86_64/sources/openmpi-gitclone/examples/ring_c
foreach n (`seq 20 24`)
@ ncpus = $n * 40 * 2
  time mpiexec -np $ncpus --bind-to core --map-by ppr:20:socket -x
UCX_TLS="rc,xpmem,self" $exe
end

resulted in timings of
37.43

[2020-09-02 15:03] dkokron commented on #5616
Mikhail,
Can you tell if your PR is in charm++/main branch?  If so, I'll give that a
go.
Dan

On Wed, Sep 2, 2020 at 2:03 AM Mikhail Brinskiy <notifications@github.com>
wrote:

[2020-09-02 15:36] brminich commented on #5616
Yes, it is in master

[2020-09-02 19:15] karasevb commented on #5616
@dkokron
I can't figure out this timings results:
[code]
The main point to test was checking if the slow startup spreads to `ring_c`. If `ring_c` also takes ~8 minutes so the problem is not in NAMD or UCX.

[2020-09-02 20:32] dkokron commented on #5616
Mikhail,
NAMD built against charm.git still has slow startup.  Do I need to
configure charm.git with any flags to enable your optimization?

First column is NAMD simulation time.
The second column is total execution time.
going from 800 ranks in steps of 80 up to 1920.

87.956604 191.85
84.092873 200.34
82.653519 219.01
80.890480 235.19
80.685982 259.73
80.161674 289.18
78.884438 323.29
77.737106

[2020-09-02 20:56] dkokron commented on #5616
The ring_c application does not reproduce the slow startup seen with NAMD.

On Wed, Sep 2, 2020 at 2:16 PM Boris Karasev <notifications@github.com>
wrote:

[2020-09-03 07:29] brminich commented on #5616
@dkokron, Can you please try with charm/ucx parameter `+ucx_rndv_thresh=32` ?
Also have you seen the same slowness with MPI machine layer using OMPI?

[2020-09-03 07:40] karasevb commented on #5616
@dkokron
Could you also check the following two cases by adding OMPI params:
- `--mca mpi_add_procs_cutoff 0 --mca pmix_base_async_modex 1 --mca pmix_base_collect_data 0`
- `--mca mpi_add_procs_cutoff 100000 --mca pmix_base_async_modex 0 --mca pmix_base_collect_data 1`
Any influence on the jobstart time?

[2020-09-03 11:50] alinask commented on #5574
@avildema Please reopen if this reproduces.

[2020-09-03 11:50] #5574 closed

[2020-09-03 14:22] dkokron commented on #5616
Will try that setting and report back.
I only see this slow startup using the native UCX implementation in NAMD.
In particular, I do not see slow startup using ucx+smp and mpi.
Dan

On Thu, Sep 3, 2020 at 2:29 AM Mikhail Brinskiy <notifications@github.com>
wrote:

[2020-09-03 15:22] dkokron commented on #5616
79.071152 557.87
88.465530 554.14
79.565041 554.74

On Thu, Sep 3, 2020 at 9:22 AM Dan Kokron <dkokron@gmail.com> wrote:

[2020-09-03 15:23] abellina commented on #5596
@yosefe there is a major problem with `--force-depens`. After doing so, the package database appears to be in a corrupted state, so the user can't install any further packages in their machines:

[code]

So I don't think we want people to try `--force-depends`, it seems we should prioritize this issue as it "installs" but then they need to figure out how to fix the dependencies.

[2020-09-03 15:23] dkokron commented on #5616
79.071152 557.87  +ucx_rndv_thresh=32
88.465530 554.14  Boris1
79.565041 554.74  Boris2

On Thu, Sep 3, 2020 at 10:22 AM Dan Kokron <dkokron@gmail.com> wrote:

[2020-09-03 18:55] mike-dubman commented on #5596
maybe can remove this line: https://github.com/openucx/ucx/blob/master/debian/control.in#L17 meanwhile and regenerate package
since UCX uses dlopen anyway to resolve deps, we may not need explicit deps.

[2020-09-03 19:08] abellina commented on #5596
that would be better for sure in the interim @mike-dubman

[2020-09-03 19:53] abellina opened #5656 "Error when running cuda_copy,sm,tcp in master"
I am running a test and running into the following issue when I started using ucx from master. Not sure if this is know at this stage.

My `UCX_TLS` setting was: `cuda_copy,tcp,sm`. This is running on 4 T4s, same node.

rndv.c:732  Assertion `mem_type_rma_lane != ((ucp_lane_index_t)-1)' failed
==== backtrace (tid:  40615) ====
 0  /usr/lib/libucs.so.0.0.0(ucs_handle_error+0x114) [0x7f80656a99a4]

[2020-09-03 19:54] abellina commented on #5656
@Akshay-Venkatesh filed this as discussed.

[2020-09-04 11:17] alex--m opened #5657 "mlx5dv_devx_obj_modify() error and hang"
Thanks to @MichaelLaufer for bringing this to my attention.

### Describe the bug
Error on MPI_Init() + Hang on MPI_Finalize(), when running a simple MPI app with rc_x/dc_x transports:

[code]
 - **The command-line WORKs if "-x UCX_IB_GID_INDEX=0" is not specified**.
 - The command-line WORKS with rc_v instead of rc_x.
 - The command-line WORKs with older UCX (before devx support...).
 - This happ

[2020-09-04 11:22] alex--m commented on #5657
Q: Alex, why do you need GID_INDEX=0 ?
A: #5598 .

[2020-09-07 07:43] brminich commented on #5650
@gcca, can we close it?

[2020-09-07 07:53] brminich commented on #5616
@dkokron, I'll try to reproduce it with smaller scale in our lab. Do you have timings for pure MPI run?
What is the minimum scale where  the startup time difference between MPI and UCX become significant?

[2020-09-07 14:36] dkokron commented on #5616
Mikhail,
I do have timings for pure MPI using HPCX (2.7.0).  Startup is in the
~10-20 second range.  I'll dig into the reports and get some numbers for
you.
I'll have to get back to you about the scale question.  How many
nodes/cores do you have to work with?
Dan

On Mon, Sep 7, 2020 at 2:54 AM Mikhail Brinskiy <notifications@github.com>
wrote:

[2020-09-07 15:05] brminich commented on #5616
I can try to get up to 32, but the lower is the better

[2020-09-07 17:34] dkokron commented on #5616
Mikhail,
The timings I reported on 2 Sept. indicate the startup time for a 20 node
(800 rank) job is approximately 104 seconds (191.85 - 87.95).  Startup time
increases from that point.  I will run some jobs using fewer ranks.
NAMD simulation time        Total wallclock (time mpiexec .......)
87.956604                          191.85
84.092873                          200.34
82.653519

[2020-09-07 18:59] dkokron commented on #5616
Native UCX (from the same HPCX build as used below)
np  TotalTime  SimTime  Difference
 80 349.96 339.063354 10.8966
160 199.97 193.136566 6.83343
240 161.25 150.749741 10.5003
320 149.01 126.313080 22.6969
400 152.09 119.651138 32.4389
480 153.05 111.454132 41.5959
560 156.77 99.904114 56.8659
640 164.4 95.782341 68.6177
720 174.34 92.496063 81.8439
800 190.47 90.448555 100.021

HPCX (pure MPI)

[2020-09-08 15:30] petro-rudenko commented on #5656
cc @bureddy

[2020-09-08 16:45] bureddy commented on #5656
@petro-rudenko @abellina can you confirm if WAKEUP feature requested in UCP? if yes, this is expected because cuda_copy TL will not be selected, which is needed for staging when using with TCP.
we have a pending PR : #5283  to enable this.

[2020-09-08 16:59] abellina commented on #5656
@bureddy yes this test does use wakeup. I am surprised however, I did not see this with 1.8.1. Did wakeup support change since 1.8.1? Just making sure I understand. Let me know as I can re-run with 1.8.1 for a comparison.

[2020-09-08 21:22] bureddy commented on #5656
the assertion is added in 1.9.x.  in 1.8.1, it would fail in some other place (or) it might fallback to very inefficient fragmentation.

[2020-09-08 22:56] Akshay-Venkatesh commented on #5656
@bureddy I just checked that the above configuration works fine without wakeup on master.

[2020-09-09 16:36] brminich opened #5674 "failure in dcx/test_ucp_tag_match_rndv.bidir_multi_exp_post/1 on r-vmb-ppc-jenkins"
### Describe the bug
Happened here: http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/7031/pipeline/
[code]

[2020-09-10 06:26] evgeny-leksikov opened #5677 "sockaddr/test_uct_cm_sockaddr.err_handle failure"
[code]
full log: https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/9276/logs/149
accured here https://github.com/openucx/ucx/pull/5668
host: `swx-rdmz-ucx-arm-hwi`
built with `../contrib/configure-devel --prefix=/scrap/azure/agent-03/AZP_WORKSPACE/1/s/install CC=armclang CXX=armclang++`
@alinask  FYI

[2020-09-10 12:19] avildema opened #5678 "[mtt] Exited on segfault"
Configuration
[code]

Comment:

Cannot reproduce , But In MTT 2 of 500 tests fail with this errors(by statistic), on differents scales , app

MTT log:
 
http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20200907_072033_40695_3295_jazz01.swx.labs.mlnx/html/test_stdout_OVShNn.txt
http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20200907_072033_40695_3295_jazz01.swx

[2020-09-10 14:42] Akshay-Venkatesh commented on #5646
#5675 does fix the above assertion failure. I've verified with osu microbenchmarks 5.6.3

[2020-09-10 17:48] brminich commented on #5616
Ok, I'll try to repro next week, when our cluster is free

[2020-09-11 13:27] brminich commented on #5627
Some findings:
- Does not reproduced with hpcx/v2.6/mofed5.0/gcc
- Does not reproduced with -mca scoll_mpi_enable 0
- 100% reproducible with
oshrun -np 64 -x UCX_LOG_LEVEL=error  --bind-to core -mca oshmem_proc_group_cache_size 10000 -mca sshmem ucx -mca atomic ucx -mca coll ^hcoll -mca spml ucx -mca pml ucx  -x sUCX_TLS=ud,self -x UCX_NET_DEVICES=mlx5_2:1  --map-by node -x SHMEM_SYMMETRIC_HEAP_SI

[2020-09-12 02:02] #5657 closed

[2020-09-13 13:31] #5646 closed

[2020-09-15 12:24] #3945 closed

[2020-09-15 13:29] tonycurtis opened #5698 "Out of memory issues"
### Describe the bug

Higher core counts on nodes (64 vs 32) are causing "out of memory" error messages.  Program still runs correctly with UCX 1.9.0-rc5 and before.

### Steps to Reproduce
- Command line
[code]

- UCX version used (from github branch XX or release YY) + UCX configure flags (can be checked by `ucx_info -v`)

[code]

- **Any UCX environment variables used**

### Setup and versions

[2020-09-15 15:18] yosefe commented on #5698
1. what is "ulimit -l"?
2. any error in dmesg?

[2020-09-15 15:24] tonycurtis commented on #5698
1. unlimited
2. nothing out of ordinary

[2020-09-15 15:48] yosefe commented on #5698
3. what is "free -m"?

[2020-09-15 15:51] tonycurtis commented on #5698
[code]

[2020-09-15 18:42] dmitrygx opened #5700 "rc_mlx5/uct_p2p_test_event.last_wqe_cb_before_subscribe/0 failed on swx-rdmz-ucx-gpu-01"
[code]
https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=9380&view=logs&j=73bd2a9e-6688-5c22-d122-7b1a0b6cbb81&t=cd3d3953-51ff-5d5c-c5ca-2864f3c1d670
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/9380/logs/187

[2020-09-16 14:26] brminich opened #5704 "failure in tcp/test_ucp_peer_failure.zcopy/1"
### Describe the bug
Happened here: http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/7119/pipeline/

[code]

[2020-09-16 23:55] paboyle opened #5708 "OpenMPI stray message on each packet"
### Describe the bug

Followed instructions on
https://github.com/openucx/ucx/wiki/Build-and-run-ROCM-UCX-OpenMPI

Quad MI-50 and Rome node .

Getting repeat messages like
[code]

With every MPI packet sent from device memory. No such message if from host memory.
Programme runs normally otherwise as far as I can tell.

Advice welcome.

### Steps to Reproduce

Running www.github.com/paboyle/Grid
Tr

[2020-09-17 13:44] tonycurtis commented on #5698
[ucx-error-log.txt](https://github.com/openucx/ucx/files/5239466/ucx-error-log.txt)

[2020-09-17 16:03] yosefe commented on #5698
@tonycurtis can you pls try it with reverting https://github.com/openucx/ucx/pull/5562?

[2020-09-17 16:23] tonycurtis commented on #5698
Yep, everything back to normal, programs with larger core counts running again

[2020-09-17 16:31] yosefe commented on #5698
@Akshay-Venkatesh - can you pls check it? it's the uct mem allocation PR

[2020-09-17 16:47] souravzzz commented on #5708
Hi @paboyle Is this test running on single node or multi node? Can you please provide output for the following two commands?

$ ./ucx_perftest -c 1 & sleep 1 && ./ucx_perftest -c 2 localhost -t tag_bw -m rocm -s 8 -n 1000
$ ./ucx_perftest -c 1 & sleep 1 && ./ucx_perftest -c 2 localhost -t tag_bw -m rocm -s 1048576 -n 1000

[2020-09-17 18:30] paboyle commented on #5708
Hi, thanks !

[code]

and
[code]

Second looks fatal, but really nice backtrace - someone is working hard to have that source code printing flight log.
Never seen anyone do that before.

[2020-09-17 18:33] paboyle commented on #5708
p.s. it's still single node.
Two AMD MI-50 GPU's connected to Rome socket over PCIe Gen4.
We have two nodes and going to multimode is the next step once we get single node happy.

[2020-09-17 18:33] paboyle commented on #5708
multinode

[2020-09-17 18:59] Akshay-Venkatesh commented on #5698
@tonycurtis Can you share the repro test?

[2020-09-17 19:06] souravzzz commented on #5708
@paboyle Thanks for the stacktrace. Which version of ROCm stack are you using ($ apt show rocm-dkms)? This failure looks like something we fixed in ROCm 3.7. Can you please try that if you are on an older version?

However, this looks different from the original issue you posted. Is the application trying to send 10MB+ messages (10616832 bytes)?

[2020-09-17 19:17] paboyle commented on #5708
Hi,

it's on rocm-3.5, but there's no apt as I guess it's redhat
I don't manage the system, so needs to interact with the admins to get this changed.

[code]

[2020-09-17 19:17] paboyle commented on #5708
Hi - yes, at times the packets exceed 10 MB

[2020-09-17 21:43] souravzzz commented on #5708
@paboyle These two issues look relevant, can you take a look?
https://github.com/horovod/horovod/issues/503
https://github.com/horovod/horovod/issues/243#issuecomment-381295853

[2020-09-17 22:32] paboyle commented on #5708
Looks like the same message, but oddly only happens when I use MPI on device memory, but not host memory in my code.
Don't believe we're virtualised or using Docker. It's a regular Linux cluster node with direct login, ssh access.

[2020-09-17 22:42] tonycurtis commented on #5698
Putting together a standalone demonstrator …

[2020-09-17 23:59] Akshay-Venkatesh commented on #5698
I ran all the tests in openshmem examples but didn't run into the issue but the system also has 512 GB of memory. I'll wait for your repro.

[2020-09-18 01:20] tonycurtis commented on #5698
Source
[code]

compiled with Open-MPI 4.0.4 with latest UCX from github.  N.B. UCX 1.8.1 and 1.9.0-rcX work:

$ shmemcc example.c

$ salloc -N 1 --ntasks-per=node=64 shmemrun ./a.out

[ucx-error-log.txt](https://github.com/openucx/ucx/files/5242777/ucx-error-log.txt)

[2020-09-18 14:40] Akshay-Venkatesh commented on #5698
@tonycurtis I tried the example on the same machine without being able to repro the issue. I compared memory usage of master and rc5 as well and they look similar. Can you run with  UCX_LOG_LEVEL=TRACE  UCX_LOG_FILE=shmemex-%h-%p.log and post the logs? Maybe traces in uct_mem.c will be able to point to an issue that I'm missing on my setup.

[2020-09-18 14:53] tonycurtis commented on #5698
BTW the start-up time is rather longer than expected too.

Here’s the screen output and a tar file of the traces at the end.

Thanks
Tony

$ export UCX_LOG_LEVEL=TRACE
$ export UCX_LOG_FILE=shmemex-%h-%p.log
$ salloc -N 1 --ntasks-per-node=64 mpirun ./a.out
salloc: Granted job allocation 1564
[st01:55094:0:55094] Caught signal 11 (Segmentation fault: tkill(2) or tgkill(2) at address 0x16e00000d736

[2020-09-18 15:34] ming17 opened #5716 "Singularity Container Build Error with OpenMPI with CUDA and UCX - libucx_la-cpu.lo invalid"
### Describe the bug
While trying to build a Singularity container with CUDA-enabled OpenMPI and UCX (via Nvidia HPC SDK Container Maker), there was a build error with ucm/rocm and ucs, resulting in a libtool error as follows:

[code]

### Steps to Reproduce
- UCX version 1.8.0
- UCX portion of Singularity definition file:
[code]
### Setup and versions
- OS: Ubuntu 18.04
- MLNX_OFED version 5.0-2.

[2020-09-18 15:39] Akshay-Venkatesh commented on #5698
@tonycurtis I don't see the tar file. Not sure if files attached to email show up on comments.

Also the error logs and backtrace don't make sense. Error log shows an error in PML UCX. I'm not sure why PML component is triggered in this path (possibly just for connection setup). Bactrace indicates OFI is being used and not UCX. Can you please run with the following (or the slurm equivalent) to mak

[2020-09-18 15:52] yosefe commented on #5698
Probably because in your PR, should not have removed the line which re-initializes alloc_length for UCT_ALLOC_METHOD_HEAP

[2020-09-18 17:01] tonycurtis commented on #5698
Looks like attachment went missing.  I’ve stripped OFI out and I see the same issue.

Open-MPI 4.0.4 + UCX 1.8.1 is fine with 64 ranks/PEs

4.0.4 + git HEAD crunches.

Will upload one of the trace files.
Tony

[2020-09-18 17:10] Akshay-Venkatesh commented on #5698
Thanks for identifying the issue @yosefe . I opened https://github.com/openucx/ucx/pull/5717 and this brings bytes allocated to parity with 1.9-rc5.

@tonycurtis Can you give this patch a try?

[2020-09-18 18:33] tonycurtis commented on #5698
It works!

[2020-09-18 19:13] tonycurtis commented on #5698
Bigger/real runs with my s/w are fine too

[2020-09-19 14:55] tonycurtis commented on #5698
Addressed by #5717

[2020-09-19 14:55] #5698 closed

[2020-09-20 14:20] evgeny-leksikov commented on #3679
reproduced again here https://github.com/openucx/ucx/pull/5712
on `swx-rdmz-ucx-arm-hwi` host
configured with `../contrib/configure-devel --prefix=<prefix> CC=armclang CXX=armclang++` command

[2020-09-21 12:53] #5704 closed

[2020-09-22 14:06] gnuoyd opened #5723 "UCX mailing list does not accept subscriptions"
My colleague and I have sent at least a couple of subscription requests at https://elist.ornl.gov/mailman/listinfo/ucx-group . No answer.

[2020-09-22 14:30] shamisp commented on #5723
@gnuoyd I have seen few subscriptions coming through the last night. Can you please send me a note to pasharesearch@arm.com and I will check.

[2020-09-22 22:41] tonycurtis commented on #5376
We now have 16.27.2008 installed.  32- and 64-bit atomics have now appeared for rc_mlx5, but dc_mlx5 says

[code]

MLNX_OFED_LINUX-5.1-0.6.6.0 (OFED-5.1-0.6.6): anyone know how to enable this?

[2020-09-23 10:56] #5627 closed

[2020-09-23 15:28] ca-taylor opened #5731 "UCX 1.9.0: configure script insists on cray-ugni support"
### Describe the bug
configure script insists on cray-ugni support even when --without-ugni is given on the configure command line.

### Steps to Reproduce
- ./configure --without-ugni
- UCX 1.9.0

### Setup and versions
Red Hat Enterprise Linux Server release 7.7 (Maipo)
Linux login4.ufhpc 3.10.0-1062.18.1.el7.x86_64 #1 SMP Wed Feb 12 14:08:31 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

./configure

[2020-09-23 16:24] devreal opened #5732 "Transport retry count exceeded on mlx5_1:1/IB"
### Describe the bug

I am seeing the following intermittent errors on our new HPE Apollo system with Open MPI 4.0.5 and UCX 1.9.0:

[code]

Some runs succeed, some runs fail. It's not always reproducible. I do not see any previous errors in the logs. Any idea what might cause such errors?

### Steps to Reproduce
- UCX version used (from github branch XX or release YY) + UCX configure flags:

[cod

[2020-09-25 11:21] mkre opened #5740 "Performance regression with UCX 1.9.0 and UD"
### Describe the bug
We are seeing performance regressions with UCX 1.9.0 and the UD transport. We are explicitly selecting UD because our testing has shown that it gives the best overall package in terms of performance and memory efficiency. We are not seeing similar regressions for RC and DC.

The following table shows the average elapsed time for some test case run over two nodes (40 cores each

[2020-09-28 11:44] ca-taylor commented on #5731
The patch does not resolve the issue.

commit b8b3caf11c9229f5ece82a8ba384a5f2e859a310
Author: Pavel Shamis (Pasha) <pasharesearch@gmail.com>
Date:   Sun Sep 27 12:16:45 2020 -0500

    Fix for https://github.com/openucx/ucx/issues/5731

-----------------------------------------------------------

+ ./configure --build=x86_64-redhat-linux-gnu --host=x86_64-redhat-linux-gnu --program-prefix= --disa

[2020-09-28 12:21] hiroyuki-sato commented on #5731
Hello, @ca-taylor

I'm not familiar cray-ugni. But

It seems that the latest commit No in [#5745](https://github.com/openucx/ucx/pull/5745) is ebae13e1bff6889818c1e59785ddeee34e84fb75
It's not b8b3caf11c9229f5ece82a8ba384a5f2e859a310 (from your comment)

The following command show c82bdaf3415496c7696c47d2feef953175b5485d in my environment.

[code]

[2020-09-28 19:49] shamisp commented on #5731
@ca-taylor my patch was buggy. Should be fixed now.

[2020-09-29 13:50] shamisp commented on #5723
@gnuoyd I would like to check if the mailing list problem was resolved ?

[2020-09-29 14:03] gnuoyd commented on #5723
On Tue, Sep 29, 2020 at 06:50:20AM -0700, Pavel Shamis (Pasha) wrote:

It was!  Thank you.

Dave

--
David Young
dyoung@pobox.com    Urbana, IL    (217) 721-9981

[2020-09-29 14:23] #5723 closed

[2020-09-29 14:28] ca-taylor commented on #5731
Can you point me to the commit?

[2020-09-29 14:34] shamisp commented on #5731
This is the PR: https://github.com/openucx/ucx/pull/5745
Full patch https://patch-diff.githubusercontent.com/raw/openucx/ucx/pull/5745.patch

[2020-09-29 15:10] ca-taylor commented on #5731
AFAICT, the patch does NOT fix the problem...

+ ./configure --build=x86_64-redhat-linux-gnu --host=x86_64-redhat-linux-gnu --program-prefix= --disable-dependency-tracking --prefix=/usr --exec-prefix=/usr --bindir=/usr/bin --sbindir=/usr/sbin --sysconfdir=/etc --datadir=/usr/share --includedir=/usr/include --libdir=/usr/lib64 --libexecdir=/usr/libexec --localstatedir=/var --sharedstatedir=/var/lib

[2020-09-29 15:19] shamisp commented on #5731
Did you re-run autogen.sh after applying the patch ?

On Tue, Sep 29, 2020 at 10:11 Charles A Taylor <notifications@github.com>
wrote:

[2020-09-29 15:48] hiroyuki-sato commented on #5731
This message doesn't contains the latest commit. The latest commit uses **cannot** instead of **can't**

[code]

Could you try? before the `configure`

[code]

[2020-09-29 17:31] lyu opened #5749 "Error in mlx5dv_create_qp in the DC transport"
### Describe the bug
`ucx_info` and `ucx_perftest` reports `dc_mlx5.c:329  UCX  ERROR mlx5dv_create_qp(mlx5_0:1, DCI): failed: Invalid argument`.

### Steps to Reproduce
UCX version: `UCT version=1.10.0 revision c7add93`
UCX build config: `--prefix=$PREFIX --enable-debug --enable-assertions --enable-params-check --enable-frame-pointer --enable-backtrace-detail`

### Setup and versions
- `lsb_relea

[2020-09-29 17:34] yosefe commented on #5749
@lyu this is MLNX_OFED issue. Can you pls try MLNX_OFED 5.1-2 or higher?

[2020-09-29 17:39] lyu commented on #5749
@yosefe Sorry can't do, I don't have admin access.

[2020-09-29 22:13] mikedoo3 opened #5750 "slow shmem_init"
With Mellanox HPC-X 2.6 we see very slow shmem_init() times.  HPC-X 2.6 uses UCX 1.8.0.  HPC-X 2.4.1 uses UCX 1.6.0 and does not have the issue.

To duplicate it I ran a basic program that just does a shmem_init() on 128 nodes using 40 tasks per node (5120 tasks total)
We are using UCX_TLS=dc_x,mm

I traced through it and I think the problem is as follows:
-All 40 tasks on each node are calling uc

[2020-09-30 13:34] shamisp commented on #5731
Ping @ca-taylor

[2020-09-30 18:22] tonycurtis commented on #5749
Similar issues here with TX2 and MLNX_OFED_LINUX-5.1-0.6.6.0

I just built UCX `--without-dc` for now.

[2020-09-30 21:42] ca-taylor commented on #5731
Running autogen.sh ahead of configure in my spec file seems to have resolved the issue.   My apologies for not doing that from the start.

[2020-09-30 22:05] shamisp commented on #5731
Thanks for checking !

[2020-10-01 08:41] hoopoepg commented on #5750
Hi @mikedoo3

Thank you for bug report.
Do you use any kind of Linux containers, like docker? Or your environment is regular compute node without any level of virtualization?

Thank you

[2020-10-01 14:37] hoopoepg commented on #5750
@mikedoo3
We prepared PR https://github.com/openucx/ucx/pull/5755 where implemented some caching of file system operations.
Could you check if this fix works for you?

thank you

[2020-10-01 16:56] #5750 closed

[2020-10-02 20:52] #5731 closed

[2020-10-03 11:28] brminich opened #5765 "Failure in dcx/test_ucp_sockaddr_destroy_ep_on_err.onesided_s2c_sforce/8"
### Describe the bug
Happened in https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/9802/logs/152
[code]

[2020-10-04 06:41] alinask commented on #5765
according to the printed warning (which will soon be hidden), this seems like https://github.com/openucx/ucx/issues/5510

[2020-10-05 18:47] jli111 opened #5771 "Failed to build the latest version from master branch"
### Describe the bug

I pulled from the master branch and tried to build the latest version on Summit, got errors:
[code]

### Steps to Reproduce
- Command line
[code]
- UCX version used (from github branch XX or release YY) + UCX configure flags (can be checked by `ucx_info -v`)
[code]
Looks like an issue to me, please let me know if more information needed from my side.
Thanks!

[2020-10-05 19:40] hoopoepg commented on #5771
Hi @jli111.
Thank you for bug report.

Could you try to run ```autogen.sh``` from UCX directory prior to configure? It will re-generate makefiles in working tree.

Thank you

[2020-10-05 19:50] jli111 commented on #5771
Fantastic, appreciate your quick reply.
Problem solved!

[2020-10-05 19:50] #5771 closed

[2020-10-06 20:55] artemry-mlnx commented on #5596
Fixed within https://github.com/openucx/ucx/pull/5776
Verified with UCX deb building on a host with MLNX_OFED and installing it (via `apt install -y`) on a host w and w/ MLNX_OFED.

[2020-10-07 17:30] alinask commented on #3897
[code]

https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=9925&view=logs&jobId=f97d6e39-20b4-5224-cb57-ac6707fa3b18&j=f97d6e39-20b4-5224-cb57-ac6707fa3b18&t=9aa0588e-e45f-5107-dd19-ce374bb50cbe

[2020-10-08 08:23] Keepmoving-ZXY opened #5783 "Does ucp's tag match API support register host or cuda memory in advance?"
Hi, I am working on bring RDMA tag match feature to TensorFlow with the help of ucx's tag match API. And now I have finished the code and have a question.  As we all know, the time cost of registering host memory and cuda memory to RDMA NIC is long, so I want to register host or cuda memory when the memory is allocated, and this is available in TensorFlow. In ucx, the `ucp_mem_map` can register me

[2020-10-08 09:01] yosefe commented on #5783
when `ucp_mem_map` is used, it caches the memory handle according the the pointer address. so when tag_send/recv is used later, it can find the pointer in the cache and use it.

[2020-10-08 09:03] Keepmoving-ZXY commented on #5783
ok, I will have a try.

[2020-10-08 16:04] abellina commented on #5656
I've been testing with https://github.com/openucx/ucx/pull/5283, and I don't see the assertion anymore, just fyi.

[2020-10-08 19:23] dkokron commented on #5616
Did you get a chance to try reproducing this on your cluster?

[2020-10-09 05:41] brminich commented on #5616
Not yet, will update here when done

[2020-10-15 12:56] evgeny-leksikov commented on #5337
another failure on PPC http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/7529/nodes/120/steps/910/log/?start=0

[code]
I see there is a difference in output:
[code]
this line presence points that wireup uses CM based mechanism

[2020-10-15 17:10] alex--m opened #5798 "UCP API nitpicking: the values for UCP_PARAM_FIELD_MT_WORKERS_SHARED are ill-defined"
UCP parameters include the following field:
[code]

In OMPI's PML-UCX we simply set `ucp_params.mt_workers_shared  = 0`, but there seems to be a mismatch between the source for this value and the usage of it.

According to the documentation, this is the result of ucp_context_query(), which has:
[code]

However, if I dare pass a non-zero value, it will just take my word for it:
[code]

Note that th

[2020-10-15 18:07] Yiltan opened #5800 "How does UCX choose the correct transport at runtime? [Question]"
I'm currently working with OMPI + UCX and to run my applications I have been using the following command:
[code]

From my understanding the environment variable `UCX_TLS` tells UCX which transports are available for it to use. The code I have read using the tag send/recv API, they have just passed a device or host pointer into the function and it is handled automatically.

**Question:** How does U

[2020-10-15 19:01] tonycurtis opened #5801 "COMPILE:ERROR: cap.access_mem_type did you mean access_mem_types?"
### Describe the bug

Compile error in proto/libucp_la-proto_common.lo

### Steps to Reproduce
- Command line
- UCX version used (from github branch XX or release YY) + UCX configure flags (can be checked by `ucx_info -v`)

866f54ea63b3ce05c879be427c78eb3f3aed5817

- **Any UCX environment variables used**

### Setup and versions
- OS version (e.g Linux distro) + CPU architecture (x86_64/aarch64/pp

[2020-10-16 01:30] #5801 closed

[2020-10-17 18:50] xkszltl opened #5810 "Build error with missing ucs header"
### Describe the bug

`../api/ucg_plan_component.h:15:10: fatal error: ucs/datastruct/list_types.h: No such file or directory`

### Steps to Reproduce

<img width="495" alt="image" src="https://user-images.githubusercontent.com/5203025/96351211-897e1580-10ec-11eb-8e55-ff366fab55f7.png">

- UCX version used (from github branch XX or release YY) + UCX configure flags (can be checked by `ucx_info -v`

[2020-10-17 19:07] xkszltl commented on #5810
Submodule in v1.9.0 should be updated to include this commit:
https://github.com/openucx/xucg/commit/1c9d695d5d095e09fcc117cede590ee385782889

[2020-10-18 01:12] shamisp commented on #5810
@alex--m FYI

[2020-10-18 03:32] xkszltl opened #5811 "package sun.nio.ch does not exist"
### Describe the bug

version: latest release tag (v1.9.0)

https://github.com/openucx/ucx/blob/24889d115aef230203ce750b9ac856a85edaa3fb/bindings/java/src/main/java/org/openucx/jucx/UcxUtils.java#L40
This line does not work on Ubuntu 18.04 (default jdk is openjdk11):
<img width="1099" alt="image" src="https://user-images.githubusercontent.com/5203025/96358047-865b4780-1135-11eb-88a6-db678fbed34f.p

[2020-10-18 05:19] alex--m commented on #5810
I just checked - must be an outdated version of the submodule.
In [xUCG master](https://github.com/openucx/xucg/blob/master/api/ucg_plan_component.h) there's no reference to `list_types.h` (there was, a while back). Currently, autogen only does `git submodule update --init --recursive --remote`, and doesn't update the existing submodule if already present.

@xkszltl - is it possible that this xUCG

[2020-10-18 08:47] xkszltl commented on #5810
It's freshly cloned recursively as part of the build.

Note that submodule is a pointer to a fixed commit, you should update it in git repo if the pointer is outdated.

I also tried to go into submodule and checkout its master. That results in other compile errors.

[2020-10-18 09:23] alex--m commented on #5810
Short answer: this (using master) should have been fixed in #4875, I'll check this ASAP. What I'll probably also do is make some `#ifdef`-s to make xUCG master work with v1.9.0 as well as master, but I'm not sure how easy that will be.

Long answer: Originally, each UCX version would be tied to a matching UCG version, so this kind of problems wouldn't happen. However, when I started doing UCX+xUCG

[2020-10-18 09:32] mike-dubman commented on #5810
@alex--m  you can point module to custom xucg tag and move it in ucg to match ucx/master or ucx branch (xucg tag to match ucx branch/tag)

[2020-10-18 14:41] shamisp commented on #5811
FYI @petro-rudenko

[2020-10-18 17:46] shamisp commented on #5810
Agree with @mike-dubman it make sense to link the release branch with xucg tag (or even xucg release branch which will much UCX release branch)

[2020-10-18 19:37] alex--m commented on #5810
I updated xUCG master - should work now (with any v1.9.*, as well as UCX master). CI is still a work in progress so it'll take me a few days to validate. Since xUCG moved to this "one-branch-fits-all" policy, I've been trying to keep master work with all UCX releases, so using the latest master should have worked.

@xkszltl - Sorry you stumbled upon a broken version. I've been working on a separat

[2020-10-19 02:25] xkszltl commented on #5810
@alex--m

Yes the latest master works with ucx.

To me "master-works-for-all-version" is a very strong commitment. I'm happy to see someone want to make that happen.
However, it's also a bad engineering practice, because it's too hard to happen.
A more realistic one is "same major version doesn't break compatibility", and master-works-for-all is just a special case for that.
I would suggest to hav

[2020-10-19 02:37] xkszltl commented on #5810
Also want to bring up something you may missed:
Sometimes there's legal review/compliance implication when updating submodule during build, as it creates a dirty git repo that doesn't exist anywhere else.

In my case I usually do this manually followed by `git commit`, to make it at least trackable in some degree:
https://github.com/xkszltl/Roaster/blob/da0f38f0a6ae9c425a49d2196ca38c7d52885a47/pkg

[2020-10-20 13:51] mkre commented on #5740
Hi @brminich,

Is there anything I can do to help investigating this issue?

[2020-10-20 16:03] jczhang07 opened #5817 "Error in build: fatal error: shmem.h: No such file or directory"
Under Ubuntu-18.04.5, with gcc-8.3, and the ucx master branch,
[code]

[2020-10-21 17:51] dmitrygx commented on #4794
@planetA unfortunately, there is no progress on this
will update you when we start implementing this

[2020-10-21 18:42] dmitrygx commented on #5535
@opoplawski I cloned https://github.com/Parallel-NetCDF/PnetCDF, configured and build NetCDF and the tests,
and then tried to run `make ptest4` in `test/F90` directory with `UCX_TLS=tcp` environment variable set.
but it passes all tests:
[code]

Am I missing something to successfully reproduce the issue?

[2020-10-22 08:24] #5811 closed

[2020-10-23 01:20] opoplawski commented on #5535
We actually do not build netcdf with pnetcdf.  Also, the particular test suite that is failing is nc_test4/tst_parallel3.  We run the whole suite with "make check", so sure off the top of my head how to run just the nc_test4 suite - but I think tst_* scripts get created there.

https://src.fedoraproject.org/rpms/netcdf/blob/master/f/netcdf.spec and
https://kojipkgs.fedoraproject.org//packages/netc

[2020-10-23 05:18] dmitrygx commented on #5800
UCX has an abstraction for transport called UCT (T stands for transport). During establishing UCP (P stands for protocol, the UCP API is used by OMPI) connection to a peer, UCP queries all available devices and its characteristics from all available UCTs (e.g. CUDA TLs couldn't exist, since UCX was built w/o CUDA support).
After all TL:device pairs are selected, UCP go through all requested featur

[2020-10-23 05:27] dmitrygx commented on #5817
is some SHMEM implementation loaded to your `LD_LIBRARY_PATH`?
also, pls specify `./contrib/configure-release --with-mpi ...`, it tries to select MPI implementation during configuration (e.g. OpenMPI has OpenSHMEM implementation). If it fails to find MPI, it stops configuring and report the error. So, you will have a good instrument to understand whether everything is ok or not.

[2020-10-23 07:55] dmitrygx opened #5828 "udx/test_ucp_tag_match_rndv.bidir_multi_exp_post/1 failure on ppc"
[code]
http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/7638/pipeline/1138

[2020-10-23 13:50] shamisp commented on #5800
@dmitrygx We should actually move this to FAQ on read-the-docs

[2020-10-23 13:59] yosefe commented on #5800
https://openucx.readthedocs.io/en/master/faq.html#selecting-networks-and-transports

[2020-10-23 14:04] #5800 closed

[2020-10-23 14:04] Yiltan commented on #5800
Thank you for the help, this is useful and puts me on the right track

[2020-10-23 14:13] shamisp commented on #5800
@yosefe this answers much more descriptive. I can move it to FAQ.

[2020-10-23 20:40] drmichaelt7777 opened #5832 "OMPI in latest public HPCX 2.7 fails to startup on AMD nodes with IB when "--mpa-by XXX" is used."
### Describe the bug
A clear and concise description of what the bug is.

_OMPI in latest public HPCX 2.7 when "--map by XXX" is used fails to startup on AMD nodes with IB. HPC_X 2.6 OMPI does not fail in this way. It appears to originate in MPIX. Issue occurs regardless if ranks end up on the same node or across nodes._

[code]

- UCX version used (from github branch XX or release YY) + UCX confi

[2020-10-23 23:09] xkszltl opened #5833 "Compile error with ucg master."
### Describe the bug

Version: ucx 1.9.0 + ucg master

[code]

### Setup and versions
- OS version (e.g Linux distro) + CPU architecture (x86_64/aarch64/ppc64le/...)
   - Ubuntu 18.04, x86

[2020-10-23 23:12] xkszltl commented on #5833
@alex--m FYI

[2020-10-23 23:22] xkszltl commented on #5833
The log says `uct_completion_callback_t has no status argument` so there may be mismatch somewhere:
<img width="844" alt="image" src="https://user-images.githubusercontent.com/5203025/97061479-99549880-15c9-11eb-849c-35bd6dcb79a7.png">

[2020-10-24 16:42] alex--m commented on #5833
I'm on it. Some details on the problem: Change-ID 8da6a5be2e hanged UCT's API:
[code]
For this reason, I added a check which means the code now looks like this:
[code]

Looks like the check went wrong - I'm checking as to why this happened, and I'll fix asap.

[2020-10-25 08:11] alex--m commented on #5833
I checked the v1.9.0 tag (cd9efd3d80ec3e5df4eadd005b9cc38f6324919e) and it has the "Before" version, so It get `uct_completion_callback_t has a status argument` and UCG's master build succeeds. The config.log there shows:
[code]

I also tested with UCX master, where there's the "after" version, and the config.log shows:
[code]

@xkszltl - if I understood correctly, you're using the v1.9.0 tag. Cou

[2020-10-26 01:00] xkszltl commented on #5833
<img width="1114" alt="image" src="https://user-images.githubusercontent.com/5203025/97124086-b3c57800-1769-11eb-95b8-ad4501879b11.png">

[2020-10-26 01:19] xkszltl commented on #5833
The error was found in a docker build (so it's clean and reproducible).
Interestingly I didn't hit the issue when I try the script locally on my dev machine:
[code]

In the bad docker build I found:
[code]

I also found a line saying `config.status:1614: creating src/uct/api/version.h` so I guess it's generated.
In local build, because I had ucg installed previously, it probably found it through `

[2020-10-26 01:21] xkszltl commented on #5833
To me this sounds like bad timing due to missing dependency.

[2020-10-26 12:59] brminich opened #5835 "failure in udx/test_ucp_sockaddr_destroy_ep_on_err.onesided_client_sforce/8"
### Describe the bug
Happened in http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/7671/pipeline/
[code]

[2020-10-26 18:14] alinask commented on #5835
seems like the same as https://github.com/openucx/ucx/issues/5337

[2020-10-26 18:25] brminich commented on #5835
@alinask, yes, missed it. Closing this one

[2020-10-26 18:25] #5835 closed

[2020-10-28 06:21] brminich opened #5840 "failure in rcx/test_ucp_mmap.reg_mem_type/0"
### Describe the bug
Happened in https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/10347/logs/131

[code]

[2020-10-28 06:23] brminich commented on #5832
@karasevb, can you please take a look?

[2020-10-28 10:46] fopor opened #5843 "Build error with UCX 1.9.0"
### Describe the bug
Build error when compiling with Spack.

Log:
[code]

### Steps to Reproduce
`spack install ucx@1.9.0 %gcc@8.3.0`

### Setup and versions
- CentOS Linux release 7.8.2003, kernel 3.10.0-1127.10.1.el7.x86_64
    - GCC 8.3.0
    - Driver version:
        - MLNX_OFED_LINUX-5.0-2.1.8.0

[2020-10-28 12:02] brminich opened #5844 "failure in dc_mlx5/test_uct_peer_failure_multiple.test/0"
### Describe the bug
Happened in https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/10365/logs/133
[code]

[2020-10-28 13:00] dmitrygx opened #5846 "tcp/test_uct_tcp.listener_flood_connect_and_send_small/0 failed on hpc-arm-cavium-jenkins"
[code]
http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/7716/nodes/250/steps/258/log/?start=0

[2020-10-29 08:06] #5846 closed

[2020-10-29 14:52] hyviquel commented on #5843
Same problem here! Any solution?

[2020-10-29 15:55] shamisp commented on #5843
@yosefe seems like some RDMACM trouble.

[2020-10-29 16:07] hyviquel commented on #5843
The rdma-core package in Spack seems quite outdated:

- Last release is v32.0: https://github.com/linux-rdma/rdma-core/tags
- Spack uses v20.0: https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/rdma-core/package.py

Do you guys think using an updated version should solve the problem? What is the preferred version for ucx?

[2020-10-29 16:20] yosefe commented on #5843
yes, at least v23, but latest release is preferred in general

[2020-10-29 16:56] hyviquel commented on #5843
Just created a PR on Spack to update it
https://github.com/spack/spack/pull/19604

[2020-10-29 17:42] shamisp commented on #5843
@yosefe maybe it worthwhile to add configure check for presence of `rdma_init_qp_attr()` so it breaks at earlier stages.

[2020-10-29 17:56] yosefe commented on #5843
As @alinask pointed out, we already have this check
https://github.com/openucx/ucx/blob/master/src/uct/ib/rdmacm/configure.m4#L41
Maybe something is wrong with the build system?
I also see it's found:
[code]

[2020-10-29 18:04] shamisp commented on #5843
Seems line the configure command line does not specify RDMACM (or verbs) explicitly:
`'contrib/configure-release' '--prefix=/vol/nvm/spack/opt/spack/linux-centos7-skylake_avx512/gcc-8.3.0/ucx-1.9.0-wnvzt5lof3jdid6xeb2f4jgztwgmziuh' '--disable-mt' '--disable-params-check' '--enable-optimizations' '--disable-assertions' '--disable-logging' '--with-pic' '--without-java' '--without-cuda' '--without-gd

[2020-10-29 18:51] dmitrygx opened #5856 "rc_mlx5/uct_p2p_test_event_log.last_wqe/5 failed on swx-rdmz-ucx-new-01"
[code]
https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=10422&view=logs&j=e478acae-f7e6-504c-74c3-c7a2ae7ed16d&t=fa79f956-22e9-5f3b-cb59-a6f2b0ec0774&l=34044
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/10422/logs/131

[2020-10-31 12:12] xkszltl opened #5858 "javadoc issue on Ubuntu 18.04"
### Describe the bug

This is specific on Ubuntu, where default JDK is 11.
Also tested on CentOS 7 with older JDK and do not hit it.

[code]

<img width="1114" alt="image" src="https://user-images.githubusercontent.com/5203025/97778813-bc2c1180-1bb4-11eb-8a15-87de28865e69.png">

`javadoc` is there, `$JAVA_HOME` is empty (same on the succeeded CentOS 7 build).
[code]

[2020-10-31 17:39] hyviquel opened #5860 "Compatible version of gdrcopy"
I am contributing to the UCX package on Spack by updating the version of gdrcopy: https://github.com/spack/spack/pull/19606 . As you can see in the PR, Spack's developers would like to configure the version of gdrcopy according to the version of UCX. I am asking directly since I haven't found much information about it: only that release note of ucx v1.6.0rc2 has been tested with gdrcopy 1.3.2

[2020-10-31 18:44] shamisp commented on #5860
@bureddy should be able to answer

[2020-10-31 22:08] tonycurtis opened #5862 "ucx_info: should it ignore UCX_LOG_LEVEL settings?"
### Describe the bug

`ucx_info` outputs trace messages when `UCX_LOG_LEVEL` is set (esp. to `debug`).  Feel like that setting should be ignored in this case.

### Steps to Reproduce
- Command line

`$ UCX_LOG_LEVEL=debug ucx_info -d`

- UCX version used (from github branch XX or release YY) + UCX configure flags (can be checked by `ucx_info -v`)
- **Any UCX environment variables used**

github ma

[2020-11-02 14:31] tonycurtis opened #5866 "COMPILE: error: gcc-11 in src/ucs/sys/sock.c with "may be used unitialized""
### Describe the bug

Compile error when using latest GCC
[code]

### Steps to Reproduce
- UCX version used (from github branch XX or release YY) + UCX configure flags (can be checked by `ucx_info -v`)

github master @ 4a3f6c2dde659a14b6f52ddf83eafd739f1a560a

[code]

### Setup and versions
- OS version (e.g Linux distro) + CPU architecture (x86_64/aarch64/ppc64le/...)
   - `cat /etc/issue` or `ca

[2020-11-02 15:06] hoopoepg commented on #5866
something wrong with compiler: is_iov is passed as constant & can't be uninitialized at all

[2020-11-02 16:31] tonycurtis commented on #5866
Ack.  Will compare with gcc 10.

[2020-11-02 17:07] bureddy commented on #5860
@hyviquel UCX supports both gdrcopy 1.3 and 2.0 APIs.  Jenkins is currently testing with 2.0 (https://github.com/openucx/ucx/blob/master/contrib/test_jenkins.sh#L30).  we will update testing to version 2.1 (no API change) for the next release

[2020-11-02 17:22] hyviquel commented on #5860
@bureddy nice but do you know starting from what version of ucx the support of gdrcopy v2.0 has been added?

[2020-11-02 18:35] gnuoyd opened #5868 "ucp_ep_create() cannot validate its ucp_address_t parameter"
### Describe the bug
ucp_ep_create() cannot validate a ucp_address_t parameter because the caller does not supply its length. If the apparent length of the ucp_address_t is longer than the buffer where it is stored, then ucp_ep_create() or one of its callees may treat undefined bytes as address bytes.

### Steps to Reproduce
To simulate a truncated ucp_address_t on a POSIX system, you could copy a

[2020-11-02 18:41] bureddy commented on #5860
@hyviquel  it supported since v1.7.x  (https://github.com/openucx/ucx/blob/v1.7.x/config/m4/gdrcopy.m4#L42)

[2020-11-02 18:46] hyviquel commented on #5860
Thanks @bureddy

[2020-11-02 20:04] #5860 closed

[2020-11-02 20:08] yosefe commented on #5868
@gnuoyd all UCX API functions are not expected to work correctly if one of the buffers is pointing to invalid memory.
internally, ucp_ep_create() knows the length of the address buffer according to its contents (there is a marker for last entry in the address buffer).

[2020-11-02 20:31] hyviquel commented on #5843
@shamisp I don't think this is really a problem because Spack wont let UCX uses a system package (not installed through Spack) except if it has been configured it explicitly. At least it is how I understand Spack is working.

@yosefe Would it be possible to give me the minimal version of rdma-core supported by each version of UCX (or at least some of them) so I could improve the Spack package a li

[2020-11-02 21:02] gnuoyd opened #5870 "ucp_address_unpack uses non-portable pointer manipulation"
### Describe the bug
In UCX 1.9.0, ucp_address_unpack() appears to inadvertently invoke some implementation-defined/undefined behaviors.

This macro is used to step a pointer across a buffer:
[code]

An `intptr_t` produced by casting a `void *` to `intptr_t` can be cast back to `void *`:
[code]

A portable program cannot rely on pointers "forged" by arithmetic on `intptr_t`:

[code]

This macro ex

[2020-11-02 22:03] gnuoyd commented on #5868
On Mon, Nov 02, 2020 at 12:08:57PM -0800, Yossi Itigin wrote:

Let's back up.  I think I confused things by mentioning an inaccessible
page.

The UCX documentation implies that the `ucp_address_t *` points at
an opaque byte string that the local agent can transmit to remote
agents so that they can establish endpoints for the local and send
messages to it.

My program cannot tell the length of the

[2020-11-02 22:20] yosefe commented on #5868
ok, i think i understand the point:
1. pass length as input param for some level of address validation
2. avoid invalid memory access because of corrupted address contents

[2020-11-02 22:59] shamisp commented on #5843
@hyviquel - valid point about rdma-core versions, we will include those in release notes. Nevertheless, there is something odd is going on in this build. Configure script detect the right versions and function but build picks up some old version.

[2020-11-03 00:50] xkszltl commented on #5858
@petro-rudenko @yosefe
The path is incorrect:
<img width="1114" alt="image" src="https://user-images.githubusercontent.com/5203025/97934732-725c4a80-1db1-11eb-9601-c29c7e8aed6c.png">
It's asking for `/usr/lib/jvm/java-11-openjdk-amd64/../bin/javadoc` but javadoc found in `/usr/lib/jvm/java-11-openjdk-amd64/bin/javadoc`.
<img width="808" alt="image" src="https://user-images.githubusercontent.com/52

[2020-11-03 10:52] angainor opened #5871 "Possible memory leak when sending small messages"
I am seeing a memory leak when running the attached simple MPI program on
our EDR system (RH 7.7). I tried with OpenMPI versions starting from 3.1.4
to 4.0.5, and with UCX versions from HPCX 2.6, HPCX 2.7, and the new UCX 1.9.0.
In all cases the program quickly allocates the memory (~1GB every few seconds)
until it fails with a lot of UCX error messages:

[code]

The program is a multi-threaded MP

[2020-11-03 11:12] petro-rudenko commented on #5858
Ok, with `${java.home}/bin/javadoc`  it fail on our CI. Checking

[2020-11-03 16:11] xkszltl commented on #5858
FYI this is CentOS 7 result, in addition to the Ubuntu result above.
<img width="995" alt="image" src="https://user-images.githubusercontent.com/5203025/98010768-108ff500-1e32-11eb-9930-1fd0764824aa.png">

If this is not something fixed, maybe it's should be detected on-the-fly.

[2020-11-03 17:12] xkszltl commented on #5858
This one could be useful:
<img width="994" alt="image" src="https://user-images.githubusercontent.com/5203025/98017626-7aac9800-1e3a-11eb-9648-17a741471abb.png">

On CentOS 7 + OpenJDK 1.8, `javac`/`javadoc` are not in the same place as `java`.
`${java.home}` points to `jre` subdir.

On Ubuntu 18.04 + OpenJDK 11, they are together:
[code]

[2020-11-03 17:32] petro-rudenko commented on #5858
Thanks, can you please check with #5873 patch

[2020-11-03 17:40] yosefe commented on #5871
this test creates an unlimited amount of "unexpected" messages, since the sender can send with any backpressure from the receiver

[2020-11-03 18:00] xkszltl commented on #5858
Verifying...
Ideally this should be covered by CI.

[2020-11-03 18:06] xkszltl commented on #5858
@petro-rudenko It works

[2020-11-03 19:19] dmitrygx opened #5874 "rcx/test_ucp_mmap.alloc/0 failure on swx-rdmz-ucx-new-02"
[code]
https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=10514&view=logs&j=e478acae-f7e6-504c-74c3-c7a2ae7ed16d&t=fa79f956-22e9-5f3b-cb59-a6f2b0ec0774&l=30079
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/10514/logs/127

[2020-11-04 05:32] dmitrygx opened #5875 "all/test_ucp_sockaddr.concurrent_disconnect/6 corruption"
[code]

it is a corruption, since `async` mode is not set to `signal` mode, but dereferencing an `async` object gives `signal`
looks like UCP EP has already been destroyed, when it comes to `ucp_cm_disconnect_cb()`
https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=10520&view=logs&j=73bd2a9e-6688-5c22-d122-7b1a0b6cbb81&t=cd3d3953-51ff-5d5c-c5ca-2864f3c1d670&l=66183
https://dev.azure.com/u

[2020-11-04 05:36] dmitrygx commented on #5875
[code]
http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/7826/pipeline/1038/
http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/7826/nodes/1038/steps/1043/log/?start=0

[2020-11-04 09:25] angainor commented on #5871
Thanks, @yosefe. So you're saying I should limit the sender somehow? Say, I would demand that it keeps up with local recv, e.g.

[code]

[2020-11-04 09:39] yosefe commented on #5871
yes, something like that

[2020-11-04 13:05] angainor commented on #5871
@yosefe Thanks a lot! this solves my issue :)

[2020-11-04 13:05] #5871 closed

[2020-11-04 17:31] shamisp commented on #5866
@tonycurtis even Fedora 33 is still on gcc 10.2.1 :-) . I don't see this issue on Fedora.

[2020-11-04 17:32] tonycurtis commented on #5866
My own build out of github :). Probably something transient.

Tony

[2020-11-04 18:08] drmichaelt7777 commented on #5832
Boris this happens on AMD Zen platforms.

[2020-11-05 10:28] chenyidu opened #5879 "segmentation fault in ucs_ptr_array_set()"
Init phase
[code]
when `element_index` is 0, it will not go to " ptr_array grow" branch.
https://github.com/openucx/ucx/blob/4f03615e8f1627d50310343b47f83f5957e465fc/src/ucs/datastruct/ptr_array.c#L212
It will use `ptr_array->start[0]` which causes a segmentation fault.
https://github.com/openucx/ucx/blob/4f03615e8f1627d50310343b47f83f5957e465fc/src/ucs/datastruct/ptr_array.c#L215

The condition s

[2020-11-05 10:29] yosefe commented on #5879
it should be >=
@alex--m

[2020-11-05 10:53] #5858 closed

[2020-11-05 12:43] dmitrygx commented on #5875
[code]
http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/7858/pipeline/704
http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/7858/nodes/704/steps/709/log/?start=0

[2020-11-05 15:23] alex--m commented on #5879
#5787

[2020-11-05 17:18] drmichaelt7777 commented on #5832
Do U need help or more info to replicate the problem?

[2020-11-09 08:16] #5875 closed

[2020-11-10 12:30] dmitrygx commented on #5337
[code]
on `r-vmb-ppc-jenkins` node (pipeline-jenkins CI)
http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/7924/pipeline/660
http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/7924/nodes/660/steps/668/log/?start=0

[2020-11-10 16:07] Yiltan opened #5893 "Performance issues with internode GPU tag_lat test"
### Describe the bug

I have noticed poor performance with inter-node pt2pt communication using GPU buffers with Open MPI. The issue is still present when doing performance tests with UCX.

With UCX for a 4MB I have a latency of 760us. According to this paper ([Fig 12b](https://www.researchgate.net/publication/337684803_Performance_Evaluation_of_MPI_Libraries_on_GPU-Enabled_OpenPOWER_Architectures

[2020-11-11 03:11] bureddy commented on #5893
@Yiltan can you attach "`nvidia-smi topo -m`" output?

[2020-11-11 14:37] Yiltan commented on #5893
Hi @bureddy, this is the output. Both nodes have the same topology.

[code]

[2020-11-11 20:41] bureddy commented on #5893
Can you try with UCX_NET_DEVICES=mlx5_0:1,mlx5_3:1 ?
this is Socket-Direct configuration. need to pick the correct interfaces to get the peak.
I tried it on Summit and got the expected latency

[code]

[2020-11-12 02:32] Yiltan commented on #5893
I ran it with `UCX_NET_DEVICES=mlx5_0:1,mlx5_3:1` and got the following warning:

[code]

So I used `UCX_NET_DEVICES=mlx5_0:1,mlx5_2:1` as stated by the warning.

[code]

This is fairly similar to my measurement with `UCX_NET_DEVICES=all`

[2020-11-12 02:54] bureddy commented on #5893
250us latency on Summit/Sierra with dual IB cards. It looks like one HCA (2 ports: mlx5_1, mlx5_3)  on your setup is not active/up.
mlx5_0 and mlx5_2 are socket-Direct ports ofsame HCA connected to different NUMA.
can you check UCX_NET_DEVICES=mlx5_0:1 and UCX_NET_DEVICES=mlx5_2:1 indivisually?

[2020-11-12 06:48] brminich opened #5898 "Failure in rc/test_ucp_sockaddr_with_rma_atomic.wireup/0 on r-vmb-ppc-jenkins"
### Describe the bug
Happened here:
http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/7962/nodes/72/steps/419/log/?start=0

[code]

[2020-11-12 16:22] shamisp commented on #5866
I will close this for now.

[2020-11-12 16:22] #5866 closed

[2020-11-16 07:16] avildema opened #5906 "[mtt] IMB-MPI1 Segmentation fault: address not mapped to object at address"
Configuration
[code]
 
MTT log:
 
http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20201115_220850_73472_10376_jazz03.swx.labs.mlnx/html/test_stdout_VvpYnn.txt
 
Cmd:
`/hpc/local/benchmarks/daily/next/2020-11-15/hpcx-gcc-redhat7.6/ompi/bin/mpirun -np 224 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV

[2020-11-16 14:03] Yiltan commented on #5893
After discussing with the sysadmins, this machine only has one of the cards connected. So I suspect that my latency should be around double what you see on Summit/Sierra. With MVAPICH2-GDR I able to get a latency of 480us for the 4MB message which is around double your results. I am only achieving 760us with UCX.

As requested here are the tests that you requested.
Test 1: `UCX_NET_DEVICES=mlx5_0:

[2020-11-16 17:17] bureddy commented on #5893
can you try with "`-x UCX_IB_GPU_DIRECT_RDMA=no`"

[2020-11-16 17:35] Yiltan commented on #5893
Thank you, that worked perfectly. I'm now getting around 460us for the 4MB message.

[2020-11-16 17:35] #5893 closed

[2020-11-16 18:27] bureddy commented on #5893
It looks like this setup is not tuned well for GPUDirectRDMA.  maybe you can check with sysadmins.

[2020-11-16 19:58] dmitrygx commented on #5898
It is old rdmacm and it will be fixed by #5900
@evgeny-leksikov is it correct?

[2020-11-16 20:03] dmitrygx opened #5908 "dcx/test_ucp_sockaddr_destroy_ep_on_err.onesided_c2s_cforce/4 crashed on jazz"
[code]

[2020-11-17 05:57] dmitrygx opened #5911 "shm_ib/test_ucp_wireup_1sided.stress_connect2/2 failed on gpu node"
[code]
failed on swx-rdmz-ucx-gpu-02.rdmz.labs.mlnx
Link to the job: https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=10910&view=logs&j=f97d6e39-20b4-5224-cb57-ac6707fa3b18&t=9aa0588e-e45f-5107-dd19-ce374bb50cbe&l=39476
Link to the job (text): https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/10910/logs/124

[2020-11-17 06:51] evgeny-leksikov commented on #5898
seems right

[2020-11-17 07:17] brminich opened #5913 "failure in shm/test_ucp_wfe.envelope/0 <shm,> on swx-rdmz-ucx-new-02"
### Describe the bug
happened here https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/10884/logs/135
[code]

[2020-11-17 07:17] brminich commented on #5913
@shamisp, can you please take a look?

[2020-11-17 14:58] Yiltan commented on #5893
@bureddy  Do you have any suggestions on what to check on this setup? Talking with the admins they are telling me that they have the packages installed and the kernel modules loaded.

[2020-11-17 16:06] shamisp commented on #5913
@brminich do you know if gtest is running in some cloud environment ? Is the machine oversubscribed ?

[2020-11-17 19:42] bureddy commented on #5893
do they have both `nv_peer_mem` and `nv_rsync_mem` ?
https://www.ibm.com/support/knowledgecenter/SSZTET_10.2/install/smpi01_gpu_install.html

[2020-11-18 07:41] dmitrygx opened #5918 "rc/test_ucp_mmap.reg_mem_type/1 failure on ppc"
[code]
on r-vmb-ppc-jenkins
Job link: http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/8045/pipeline/770
Log link: http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/8045/nodes/73/steps/782/log/?start=0

[2020-11-18 10:15] brminich commented on #5918
seems duplicate of #5840

[2020-11-18 19:48] #5918 closed

[2020-11-19 07:00] zhangwp opened #5927 "Some questions about ucx for a new beginner"
Now，we have a SDS solution. SDS solution have several nodes in cluster, each node run many apps. Apps will communicate with each other intra-node and other nodes' apps inter-node.
We plan to use ucx shared memeory for apps communication in node, and use rdma(rc) for apps communication between nodes.

**So, I has some questions about this design:**
1. This design is suitable or has technical risk?

[2020-11-19 17:30] shamisp commented on #5927
1. In order to discuss technical risks we need to understand the use-case. I don't think the issue has enough background to make the assessment. In terms of OpenUCX code quality - it is production project that is commercialized by vendors.
2. This also answers (6). Our example directory has few easy to basic "hello world" examples, including server/client : https://github.com/openucx/ucx/tree/mast

[2020-11-19 20:34] dmitrygx commented on #5913
[code]
https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=11048&view=logs&j=c02db851-0d7a-5132-2265-ebd0aa7c6d37&t=a86ba9bf-30f1-543e-254c-1e7feba6151c&l=33238
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/11048/logs/124

[2020-11-19 20:35] dmitrygx commented on #5840
[code]
https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=11048&view=logs&j=ed184461-b056-56e5-1bb9-ebb6cdb98231&t=1ea5f585-9512-55e8-ca53-51629b0a85a7&l=50349
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/11048/logs/136

[2020-11-19 20:43] dmitrygx commented on #5913
@shamisp wdyt about running the first test w/o WFE `retry count` times and get the average result for the reference?
so the result will be smoothed and the error highly likely couldn't be seen

[2020-11-19 20:59] shamisp commented on #5913
@dmitrygx this was my second idea :)

[2020-11-21 01:02] drmichaelt7777 commented on #5832
Hello, any progress here?

[2020-11-21 11:29] yosefe commented on #5832
@drmichaelt7777 since the symptoms indicate an issue in openmpi/PMI-x layers, i suggest to open issue on OpenMPI github as well. Also, try to see if using latest OpenMPI version (built from source) fixes the issue.

[2020-11-21 15:36] brminich opened #5937 "rc/test_ucp_sockaddr_with_rma_atomic.wireup/2 <rc_v/stream> failed on r-vmb-ppc-jenkins"
### Describe the bug
Happened here: http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/8110/nodes/74/steps/798/log/?start=0

[code]

[2020-11-21 15:41] brminich commented on #5192
Similar issue:
http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/8113/pipeline/
[code]

[2020-11-22 03:14] zhangwp commented on #5927
--> Reply: These demos appear a peer to peer program model. Server is not central. So every app using ucx must have both client and server side. If we have many apps that commute with each other, that results in sessions between apps will be more complex.
**Is my understanding correct?**

--> Reply: Thanks, this demo is useful for me.

[2020-11-22 03:32] zhangwp commented on #5927
**--> Reply:** These demos show a peer to peer program model, server is not central. That means app using uxc must has client side and server side, for it can not communicate with other apps using ucx. If we have many apps using ucx, sessions between apps will very complex.
**Is my understanding correct?**

**--> Reply:** RDMA uses Put/Get operation，can not use Sends/receive operation. That means

[2020-11-22 11:18] dmitrygx opened #5938 "sockaddr/test_uct_cm_sockaddr_multiple_cms failure on new nodes"
[code]
Test link: https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=11091&view=logs&j=c02db851-0d7a-5132-2265-ebd0aa7c6d37&t=a86ba9bf-30f1-543e-254c-1e7feba6151c
Log link: https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/11091/logs/113

[2020-11-22 12:07] yosefe commented on #5927
io_demo example shows multi-server/multi-client scenario

Put/Get API are not ordered, but Active Messages an Tag API are ordered

Yes, progress is polling.

[2020-11-22 15:56] zhangwp commented on #5927
**Reply:** UCX can used in distributed storage scenario, not only in MPI/HPC scenario. Is it right?

**Reply:** RDMA(RC) and tcp transport level can use am and tag api, right?

Thanks for your reply!

[2020-11-22 16:47] yosefe commented on #5927
Yes, that is right

Yes, every kind of transport can be used with any API

[2020-11-22 17:08] shamisp commented on #5927
@zhangwp You confuse between API semantic and IBTA RDMA RC semantic. These two are not the same. UCX defines own communication semantics (as defined in API description), which is implemented on variety interconnect technologies including IBTA RDMA RC. IBTA RC provides ordering guarantees for RC QP. Nevertheless, UCX implement multiple communication protocols on top of RC (multi-rail, etc) which im

[2020-11-23 01:24] zhangwp commented on #5927
Thanks, i got it a lot from your reply.
I have another question. Shared memeory transport does not have ordering guarantee. Who will(should) guarantee the ording? UCX or my application?

[2020-11-23 15:51] yosefe commented on #5927
Need to use UCP fence and flush APIs to force strict ordering when needed

Thread safe mode guarantees safety with multiple threads, but it is not lock free. In order to get good multi-thread scalability it's recommended to create multiple worker objects. ucx_perftest benchmark demonstrates on option to do this - worker per thread.

[2020-11-23 17:34] shamisp commented on #5927
I will just add that on hardware that grantees ordering (like shared memory on x86) the UCP fence is effectively translated to `no-op` so the overhead of the API call on ordered interconnects is minimal. Flush can provide ordering grantees but it is somewhat overkill since it also enforces completion semantics - a.k.a messages not just ordered but also completed.

[2020-11-24 10:07] hoopoepg opened #5945 "test_ucp_tag_mem_type.xfer_mismatch_length failed on rocm transport"
### Describe the bug
failure of xfer_mismatch_length test on rocm transport

### Steps to Reproduce
command line:
[code]

### Additional information (depending on the issue)
output:
[code]

rocm info:
[code]

[2020-11-24 12:26] #5908 closed

[2020-11-24 22:49] #5840 closed

[2020-11-25 01:27] zhangwp commented on #5927
Thank you very much!!!

[2020-11-25 01:27] #5927 closed

[2020-11-25 02:21] zhangwp opened #5947 "Some questions about multi thread mode in UCX"
UCX supports multi threads or thread safety. How do I understand it?
It means UCX will create multi threads in UCX itself? Or application using ucx creates multi threads?
Who will guarantee the thread safety?

[2020-11-25 11:36] yosefe commented on #5947
UCX does not create multiple threads on its own. It can only guarantee safety if UCX API functions are used from multiple threads (assuming correct thread support flags passed to ucp_init() and ucp_worker_init() )

[2020-11-25 12:04] zhangwp commented on #5947
But, I see that ucs/async/thread.c(ucs_async_thread_start function) will use pthread_create to process async event.

[2020-11-25 16:08] shamisp commented on #5947
@zhangwp UCX has internal threads that are used for asynchronous progress of communication.

[2020-11-25 16:32] yosefe commented on #5947
Actually, it progresses only asynchronous events (such as connect/disconnet/error), the actual communication happens only in the context of ucp_worker_progress(), which must be called explicitly from application thread(s)

[2020-11-25 16:48] shamisp commented on #5947
@yosefe is not UD RNDV also progress asynchronously in the thread ?

[2020-11-25 17:01] yosefe commented on #5947
No, it doesn't

[2020-11-25 17:14] shamisp commented on #5947
So, no asynchronous progress for UD  ?

[2020-11-25 18:24] yosefe commented on #5947
Only for retransmissions but not for actual protocols

[2020-11-26 13:46] dmitrygx commented on #5192
[code]
on ppc
test link: http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/8246/pipeline/569
log link: http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/8246/nodes/569/steps/579/log/?start=0

[2020-11-27 15:58] srikrrish opened #5960 "Problem using GPU direct RDMA-reg."
Hi,

I am having problems using GPU direct RDMA in this simple MPI + CUDA  example and these are the modules I am using

gcc/8.4.0, cuda/11.1.0, openmpi/4.0.5 and boost/1.73.0

[code]
This runs fine in single node but in multi-node case I get the following error
[1606396161.163639] [merlin-g-001:1809 :0]          ib_md.c:325  UCX  ERROR ibv_reg_mr(address=0x2b2d12a00000, length=400, access=0xf)

[2020-11-30 07:19] avildema opened #5970 "[AZP] fail CI if there is an IB port in “Initializing” state"
Configuration
[code]
 
AZP log:

https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/10452/logs/347
 
Output:
[code]

[2020-11-30 09:33] JaeseungYeom opened #5971 "compilation error"
### Describe the bug
Compilation error
src/uct/rocm/gdr/rocm_gdr_ep.c: In function 'uct_rocm_gdr_ep_put_short':
../../../../../src/uct/rocm/gdr/rocm_gdr_ep.c:47:15: error: implicit declaration of function 'gdr_copy_to_bar'; did you mean 'gdr_copy_to_mapping'? [-Werror=implicit-function-declaration]
         ret = gdr_copy_to_bar((void *)remote_addr, buffer, length);
               ^~~~~~~~~~~~~~~

[2020-11-30 10:04] hoopoepg commented on #5971
same as https://github.com/openucx/ucx/issues/4489?

[2020-11-30 10:54] JaeseungYeom commented on #5971
Looks similar. I will close this issue.

[2020-11-30 10:54] #5971 closed

[2020-11-30 13:35] JaeseungYeom commented on #5971
Just one question though. How can I configure with GPU-related features disabled? My platform does not have GPU, but the error is coming from compiling gdr-related code. I will have to check if the driver is present somewhere in the system.

[2020-11-30 13:38] hoopoepg commented on #5971
./configure --without-rocm --without-gdrcopy --without-cuda

[2020-11-30 14:09] JaeseungYeom commented on #5971
Thank you!

[2020-12-01 07:06] brminich commented on #5616
@dkokron, can you please try internal version of charm with UCX master? The branch is:
https://github.com/brminich/charm/tree/topic/ucx_van_using_am

In this branch I updated UCX machine layer to use AM API instead of TAGs to avoid receiver flooding. Plz note that UCX master needs to be used, because UCX1.9 does not have full AM support (will be included to the next release).

[2020-12-01 14:37] dkokron commented on #5616
Mikhail,
I will try your suggestions and report back.  May take a few weeks.
Dan

On Tue, Dec 1, 2020 at 1:07 AM Mikhail Brinskiy <notifications@github.com>
wrote:

[2020-12-01 14:53] brminich commented on #5616
ok, thanks Dan

[2020-12-01 16:28] dmitrygx commented on #5337
[code]
Link to job: https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=11386&view=logs&j=91485d7f-07f8-5dc4-be43-59794e62e572&t=9aca67d2-2f0a-5509-6a19-ed5514a50604
Link to log: https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/11386/logs/155

[2020-12-01 18:07] dmitrygx opened #5977 "tcp/test_ucp_wireup_1sided.send_disconnect_reply2/3 failure"
[code]
Log file: http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/8354/nodes/81/steps/1032/log/?start=0

[2020-12-01 18:51] jvdp1 commented on #4742
FOR INFORMATION:

I tried to run a Co-array Fortran program with Intel oneAPI (2021.1.10.2477) and got an issue that leads me to this issue. Since I found my solution on this page, I though to write this message if it might help other people. Please remove it if inappropriate.

On a Fedora 31 computer, I tried to run a simple distributed Co-array Fortran program on 4 images and got the following e

[2020-12-01 19:52] bureddy commented on #5960
@srikrrish can you confirm if you installed GPUDirectRDMA plugin?
 (https://www.mellanox.com/products/GPUDirect-RDMA)

[2020-12-02 07:15] brminich opened #5978 "malloc_hook_dlopen.rpath_ucm_dlopen hung on hpc-arm-cavium-jenkins"
Happened here:
http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/8362/nodes/381/steps/389/log/?start=0
[code]

[2020-12-02 07:30] mcaubet commented on #5960
Hi @bureddy , this is what is installed in the GPU systems:

[code]

[2020-12-02 08:02] hoopoepg commented on #5978
file system issue

[2020-12-02 08:02] #5978 closed

[2020-12-02 12:19] Knight-Cai opened #5979 "rc_v mode cannot working once the message size bigger than rndv threshold."
Hello,

   I've using two cx-5 nodes to run ucx test case.
With UCX_TLS=rc_x , it works. But with rc_v mode, once the message size bigger than rndv threshold, not matter tag send or stream send, it cannot work either.

Would you please take a look? Thanks in advance.

BR,
Qingsong

hca_id: mlx5_1
        transport:                      InfiniBand (0)
        fw_ver:                         16.26.1

[2020-12-02 12:29] brminich commented on #5979
Hi @Knight-Cai,

What is the test case which fails and what is the output?

[2020-12-02 17:39] bureddy commented on #5960
@srikrrish is it possible to give it a try with ucx-1.9.x?

[2020-12-03 03:26] #5947 closed

[2020-12-03 05:02] Knight-Cai commented on #5979
Hi Mikhail,

Thanks for the quick feedback.

Message size 32K,

Server side,

UCX_LOG_LEVEL=TRACE UCX_TLS=rc_v ucx_perftest -d mlx5_1:1

[1606971010.003047] [Node9:2137820:0]       perftest.c:1529 UCX  WARN  CPU
affinity is not set (bound to 20 cpus). Performance may be impacted.

Waiting for connection...

+------------------------------------------------------------------------------------------

[2020-12-03 11:42] hoopoepg opened #5980 "UCS: ucs_config_parser_set_value on incorrect value leads segmentation fault (double free)"
### Describe the bug
ucs_config_parser_set_value on incorrect value leads segmentation fault (double free)

### Steps to Reproduce
reproducer below

### Additional information (depending on the issue)
reproduced on master

reproducer:
[code]

[2020-12-03 16:22] mcaubet commented on #5960
@srikrrish @bureddy I will try to configure one of such GPUs with UCX-1.9.x. I'll be back to you ASAP.

Cheers,
Marc

[2020-12-03 17:09] srikrrish commented on #5960
@bureddy Thanks a lot for your help @mcaubet is the one who installs and maintains the software stacks in our clusters. That's why I  requested him to directly comment in these threads.

[2020-12-03 20:28] tonycurtis opened #5984 "configure: HW_TIMER for aarch64 has wrong explanatory text in config.h"
### Describe the bug

Typo in configure re. HW_TIMER setting for aarch64

### Steps to Reproduce

github master @ b9ec32456daff060447921daa896bf6b66b9b276

### Setup and versions
N/A probably

### Additional information (depending on the issue)

In `src/ucs/configure.m4`

[code]
last AC_DEFINE should have explanatory text "enabled"?

[2020-12-03 20:36] shamisp commented on #5984
@tonycurtis please open PR.

[2020-12-04 10:41] rakhmets opened #5988 "ud_verbs/uct_p2p_mix_test_alloc_methods.mix1000_multithreaded"
### Describe the bug
Test ud_verbs/uct_p2p_mix_test_alloc_methods.mix1000_multithreaded fails with segfault:
Caught signal 11 (Segmentation fault: address not mapped to object at address (nil))

4  0x00007f323738ff1f in ucs_debug_handle_error_signal (signo=11, cause=0x7f32374554f4 "address not mapped to object", fmt=0x7f323745567d " at address %p") at debug/debug.c:1027
5  0x00007f3237390065 in uc

[2020-12-04 19:33] dkokron commented on #5616
I built UCX master and then HPCX-2.7.0 on top of that.
git clone https://github.com/openucx/ucx.git

git clone https://github.com/brminich/charm.git
Moving to charm, I get an error that prevents me from building the way I
used to build under charm-6.10.2.

./build charm++ ucx-linux-x86_64 icc ompipmix --with-production
$base_charm_opts --basedir=$HPCX_DIR/ucxGIT-icc-xpmem -j12
Error> option: ompip

[2020-12-04 21:52] gnuoyd commented on #5868
On Mon, Nov 02, 2020 at 02:20:42PM -0800, Yossi Itigin wrote:

Right.

A similar consideration applies to ucp_ep_rkey_unpack(ep, rkey_buffer,
rkey_p), btw: `rkey_buffer` should be paired with a buffer length.

The way I think of it is this: if I pass a truncated address, that's on
me, but the library still hasn't any business walking off the end of my
buffer.

Dave

--
David Young
dyoung@pobox.com

[2020-12-07 10:40] angainor opened #5991 "Q: implementation of ucp_request_alloc"
Currently `ucp_request_alloc` is defined to always return `NULL`. I would like to use it to pass my requests to the new `*_nbx` API. What is the preferred way to implement this on the user-side?

[2020-12-07 10:59] angainor commented on #5991
Or in other words, is it possible for me now to use the worker mempool for request management? It would be quite convenient.

[2020-12-07 11:11] yosefe commented on #5991
need to pass your request by `ucp_request_param_t::request` field and set `UCP_OP_ATTR_FIELD_REQUEST` in `ucp_request_param_t::op_attr_mask`

[2020-12-07 11:14] yosefe commented on #5991
in order to use worker mempool, need to leave UCP_OP_ATTR_FIELD_REQUEST unset, then UCP send operation will allocate and return a request if needed. UCP_OP_ATTR_FLAG_NO_IMM_CMPL flag forces to always allocate request, even if completed in-place.

[2020-12-07 12:25] angainor commented on #5991
Thanks! When I pass my own allocated request (`calloc`), is it allowed to `free` it in the recv callback? Currently I get segfaults when I do that. Previously for UCP-allocated requests I called `ucp_request_free` in the callback and that worked fine.

[2020-12-07 13:01] angainor commented on #5991
@yosefe Also, it seems that cancelling of recv requests submitted with `ucp_tag_recv_nbx` doesn't work. I call `ucp_request_cancel`, as I did in the `ucp_tag_recv_nb` case, but the callback is never called, and I get warnings when the program ends:
[code]
Here I submit a request with callback and `user_data`, so that UCP allocates the request itself:
[code]

[2020-12-07 13:09] angainor commented on #5991
@yosefe sorry, disregard my previous post about canceling the request. That was my bug.

[2020-12-07 14:31] shamisp commented on #5984
fixed by #5985

[2020-12-07 14:31] #5984 closed

[2020-12-07 20:40] yosefe commented on #5991
Yes, it should be possible, and if not working it's a bug. Can you pls post backtrace of the segfault?

[2020-12-08 08:33] angainor commented on #5991
@yosefe I cannot be entirely sure this is not somehow my fault, but so far I was unable to find any bug.
[code]
This is the stack from the core dump:
[code]
In the code I allocate a custom request and post an `nbx` recv as follows:
[code]
and this a simplified callback
[code]

[2020-12-08 08:34] angainor commented on #5991
It seems like UCP is trying to put my allocated request into it's pool?

[2020-12-08 09:33] mkre commented on #5740
I just tested with UCX master and the problem still persists. It seems like it has even gotten a bit worse. We won't be able to upgrade to UCX >1.8 while this regression is present, as the UD transport has the best memory efficiency of all and we cannot use RC or DC under all circumstances.

Extending my table from the first comment:

| | `UCX_TLS=ud,self,sm`  | `UCX_TLS=rc,self,sm` | `UCX_TLS=dc,

[2020-12-08 09:58] brminich commented on #5740
@yosefe

[2020-12-08 10:28] hoopoepg commented on #5677
and here: https://github.com/openucx/ucx/pull/5972
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/11544/logs/152

[2020-12-08 11:17] dmitrygx commented on #4616
[code]
Link to the job: http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/8479/pipeline/582/
Link to the log: http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/8479/nodes/582/steps/587/log/?start=0

[2020-12-08 11:47] mcaubet commented on #5960
@bureddy after upgrading 2 GPU systems to UCX1.9 (I also performed an upgrade for OFED from 5.0 to 5.1 which includes UCX1.9), it works. Was weird that with 2 systems with Quadro cards this problem was not seen, while with GTX1080 this problem was showing up even with a simple ucx_perftest (with cuda).

In any case, I will upgrade all nodes with UCX 1.9.

[2020-12-08 17:49] dmitrygx opened #5999 "dc_mlx5/test_uct_peer_failure_multiple.test/0 flush failure on hwi"
[code]
link to the job: https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=11560&view=logs&j=91485d7f-07f8-5dc4-be43-59794e62e572&t=9aca67d2-2f0a-5509-6a19-ed5514a50604
link to the log: https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/11560/logs/138

[2020-12-08 22:14] afernandezody opened #6000 "Error: Transport retry count exceeded on mlx5_0:1/RoCE"
Hello,
The system is using UCX 1.9.0, MOFED (5.1-2.5.8.0-ol8.2-x86_64), OL8.2, and OpenMPI v4.0.5. Some IB info:
[code]
Intra-node jobs run without any issue, but jobs across 2 or more nodes run for maybe 90 seconds or a couple of minutes but the keep crashing with very lengthy error messages:
[code]

Not really sure if it's a bug or if something in my network is causing the issue, so any help wou

[2020-12-08 22:26] yosefe commented on #6000
This error means there are too many packet drops on the network layer,
can you pls try to enable RoCE Lossy configuration, as described in https://community.mellanox.com/s/article/How-to-Enable-Disable-Lossy-RoCE-Accelerations?

[2020-12-09 20:09] dkokron commented on #5616
Mikhail,
Any suggestions for getting the https://github.com/brminich/charm.git
branch to build with UCX?
Dan

On Fri, Dec 4, 2020 at 1:32 PM Dan Kokron <dkokron@gmail.com> wrote:

[2020-12-09 20:15] dkokron commented on #5616
Sorry, just figured out that I need to checkout topic/ucx_van_using_am
Dan

On Wed, Dec 9, 2020 at 2:08 PM Dan Kokron <dkokron@gmail.com> wrote:

[2020-12-09 21:33] #5980 closed

[2020-12-10 13:05] yosefe commented on #5977
need to skip this test on TCP

[2020-12-10 13:07] yosefe commented on #5911
in the test, probe and release

[2020-12-10 13:08] yosefe commented on #5765
@alinask to check if log level was reduced, if yes - close

[2020-12-10 13:12] yosefe opened #6011 "hang in rcx/test_ucp_sockaddr_destroy_ep_on_err.onesided_client_sforce/7"
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/11604/logs/182
[code]

[2020-12-10 13:12] alinask commented on #5765
The log level was reduced - https://github.com/openucx/ucx/blob/master/src/ucp/wireup/wireup_cm.c#L1203
[code]

[2020-12-10 13:12] #5765 closed

[2020-12-10 13:14] alinask commented on #5510
same as https://github.com/openucx/ucx/issues/5765

The log level of the print was reduced - https://github.com/openucx/ucx/blob/master/src/ucp/wireup/wireup_cm.c#L1203

    status = uct_ep_disconnect(uct_cm_ep, 0);
    if (status != UCS_OK) {
        ucs_diag("failed to disconnect CM lane %p of ep %p, %s", ucp_ep,
                 uct_cm_ep, ucs_status_string(status));
    }

[2020-12-10 13:15] #5510 closed

[2020-12-11 13:42] brminich opened #6015 "tcp/test_ucp_sockaddr_destroy_ep_on_err.onesided_client_sforce/5 <tcp/tag,cm,mt> fails on hpc-arm-cavium-jenkins"
### Describe the bug
http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/8544/nodes/64/steps/383/log/?start=0
[code]

[2020-12-11 13:57] dmitrygx commented on #6015
can #6011 and this issue relate to the same issue, but with different side effects?

[2020-12-11 13:58] brminich commented on #6015
it can, but it's hard to say from the output

[2020-12-11 14:01] dmitrygx commented on #6015
ok, will investigate them

[2020-12-14 22:20] #5991 closed

[2020-12-15 03:21] dmitrygx opened #6027 "rc_verbs/uct_flush_test.am_flush_ep_no_comp/0 failed on hwi"
[code]
https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=11913&view=logs&j=91485d7f-07f8-5dc4-be43-59794e62e572&t=9aca67d2-2f0a-5509-6a19-ed5514a50604
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/11913/logs/146

[2020-12-15 12:39] brminich commented on #6011
seems to be same issue http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/8672/nodes/70/steps/811/log/?start=0
[code]

[2020-12-15 12:53] dmitrygx opened #6029 "tcp/test_ucp_wireup_1sided.disconnect_nb_onesided/1 failed on cavium arm"
[code]
Link to the job: http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/8687/pipeline/175

[2020-12-15 12:54] dmitrygx commented on #6029
can be related to #6011

[2020-12-15 14:24] #6029 closed

[2020-12-15 18:02] dmitrygx opened #6030 "tcp/test_ucp_tag_mt.send_recv/0 corruption on hpc-arm-cavium-jenkins"
[code]
http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/8701/pipeline/261

[2020-12-16 08:06] brminich commented on #6011
Similar bug in http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/8700/nodes/69/steps/821/log/?start=0
[code]

[2020-12-16 15:12] brminich commented on #5999
also happened here https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/11834/logs/131

[2020-12-17 03:22] chenyidu commented on #5879
#5787 already merged, close this issue

[2020-12-17 03:22] #5879 closed

[2020-12-17 09:31] chenyidu opened #6040 "Problem treating incoming creq as ack"
# Describe the bug
Assume that there are three processes P1, P2, and P3. Consider the following P1 processing flow:
1. P1 allocates skb(A) to prepare a crep, then send it to P2 using **NON IBV_SEND_INLINE** which means NIC may read the data in skb(A) after `ibv_post_send()` returns.
2. P1 receives a creq from P2, according to the following code, the skb(A) will be released.
https://github.com/open

[2020-12-17 17:36] afernandezody commented on #6000
Hi @**yosefe**,
I apologize for the delay. I tried to understand the link, which led to one thing that led to another and so forth. Firstly, MFT and mst commands don't work on my system probably because it's a virtualized environment (the provider suggested that providing this kind of access to users could lead to undesirable consequences). You comment, however, seems to be on point but the soluti

[2020-12-17 19:13] yosefe commented on #6000
@afernandezody there are basically 2 options to configure RoCE fabric:
1. Lossy mode (probably default in switch and NIC) - Recommended - in this case, the above configuration is required to avoid too many packet drops
2. Lossless mode - so the fabric will not drop packets.
See more details in https://community.mellanox.com/s/article/recommended-network-configuration-examples-for-roce-deployment.

[2020-12-18 13:45] brminich opened #6048 "dc_mlx5/uct_flush_test.put_bcopy_flush_ep_no_comp/0 <dc_mlx5/mlx5_1:1> fails on swx-rdmz-ucx-arm-hwi"
### Describe the bug
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/11933/logs/181
[code]

[2020-12-18 13:46] angainor opened #6049 "[Q]: UCX ERROR ibv_open_device(mlx5_0) failed: Cannot allocate memory"
I'm running with HPCX 2.7 / OpenMPI 4.0.5 on Centos 7.7, two socket AMD system (128 cores / 256 hw threads).
My application triggers the following errors when I run 256 ranks on one compute node:
[code]
`dmesg` shows this
[code]
A simple mpi program doesn't trigger this, so it must be something the app does. Do you know what kind of limit do I trigger, and how I can fix this?

[2020-12-18 14:32] yosefe commented on #6049
@angainor pls see https://github.com/open-mpi/ompi/issues/6854#issuecomment-516341819

[2020-12-18 14:47] dmitrygx commented on #6048
looks similar to #6027

[2020-12-18 16:26] angainor commented on #6049
@yosefe that worked, thanks! Are there any potential side effects / performance implications of this setting?

[2020-12-18 17:28] dmitrygx commented on #6011
[code]
http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/8796/pipeline/658/

[2020-12-19 08:43] hoopoepg commented on #6027
actual for rc_mlx5 too:
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/11955/logs/158

[2020-12-19 16:17] jedbrown commented on #5485
I'm still seeing this issue with ROCm-4.0 and a fresh build of today's ucx (1d22f7486ef4202da30ee811a95ad394b862b9a1) and ompi (8ff2277b7e48b899341f69a9f3f9c9ee7cecf476).
[code]

[2020-12-22 04:40] hibagus opened #6058 "OpenMPI+CUDA returns UCX error: process_vm_readv() returned -1: Bad address"
We are developing a CUDA application that supports multi-GPU and multi-Node through MPI implementation. At some point in the application, each GPU needs to exchange data to the GPUs on the same node or on different nodes. This is done using GPUDirect RDMA. The MPI_send and MPI_recv should be able to exchange the data directly from the GPU memory without the need of copying data to CPU memory.

Our

[2020-12-23 03:06] jedbrown commented on #5485
Same issue is also present with today's MPICH 'main' (dac05cf7f9ec1a59e2d917f3da80fc943f378872)
[code]

[2020-12-24 01:14] bureddy commented on #6058
how did cuda is linked to the application? it static or dynamic linking?
can you try with UCX_MEMTYPE_CACHE=n ?

[2020-12-27 13:43] yosefe commented on #6049
@angainor if the machine is able to boot and recognize the NIC, there should not be side effects.

[2020-12-27 13:59] #5999 closed

[2020-12-27 13:59] #6027 closed

[2020-12-27 13:59] #6048 closed

[2020-12-28 07:10] dmitrygx commented on #5844
fixed by #6055

[2020-12-28 07:10] #5844 closed

[2020-12-28 07:14] dmitrygx commented on #5828
[code]
it seems that this exception leads to the failure in the memory registration and as a result of the assertion
@brminich can we close it?

[2020-12-28 07:15] dmitrygx commented on #5674
similar to #5828

[2020-12-28 07:15] dmitrygx commented on #5828
similar to #5674

[2020-12-28 08:26] dmitrygx commented on #6011
[code]
Link to the job: http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/8687/pipeline/175

[2020-12-30 03:21] hibagus commented on #6058
@bureddy Thank you for your reply.
Doing `export UCX_MEMTYPE_CACHE=n` before mpirun solves the problem.
Would you mind to tell me what does this `UCX_MEMTYPE_CACHE=n` do? Will it make performance differences with `UCX_MEMTYPE_CACHE=y`?

As for the application, we use CUDA Separate Compilation and Linking and Static Linking for CUDA Libraries using CMake.

[2020-12-30 04:50] hibagus commented on #6058
@bureddy
So we upgraded our Cmake to 3.19.2 to be able to set dynamic linking of CUDA libraries.
See [https://cmake.org/cmake/help/latest/variable/CMAKE_CUDA_RUNTIME_LIBRARY.html](url). The option `CMAKE_CUDA_RUNTIME_LIBRARY` is supported since Cmake 3.17 while previously our Cmake version is 3.16.

By adding `set(CMAKE_CUDA_RUNTIME_LIBRARY SHARED)` to the CMake configuration file, we are able to

[2020-12-30 04:50] #6058 closed

[2020-12-30 14:30] petro-rudenko opened #6075 "Segfault in uct_rdmacm_cm_ep_str on rdma_cm_ep created on server with connection handler"
### Describe the bug
Segfault in uct_rdmacm_cm_ep_str on rdma_cm_ep created on server with connection handler (when using log level >= debug).

### Steps to Reproduce
1. `UCX_LOG_LEVEL=debug ./gtest --gtest_filter="*sockaddr*"`
2.
[code]
[It calls](https://github.com/openucx/ucx/blob/master/src/uct/ib/rdmacm/rdmacm_cm_ep.c#L329):
[code]

but `cep->id` is not initialized.

[code]

[2021-01-01 09:58] #6075 closed

[2021-01-04 13:42] alinask opened #6088 "failure on dc_mlx5/test_dc_fc_deadlock.basic/0"
Assertion failure on the  dc_mlx5/test_dc_fc_deadlock.basic/0 gtest.

HOSTNAME=swx-rdmz-ucx-gpu-01

https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=12203&view=logs&j=da813497-1cca-54a8-f0a9-cb3fd519bc00&t=7dd3ffab-efd6-51e7-77f1-40598eb2014b

[code]

[2021-01-04 22:25] #3210 closed

[2021-01-04 22:31] eric-haibin-lin commented on #3386
Any update on this?

[2021-01-06 11:02] SummerRayPeipei opened #6096 "IODEMO: coredump"
### Describe the bug
i cannot change any code, just test the example of iodemo,

### Steps to Reproduce
- server
 ./io_demo -b 512 -i 10000000 -d 512:524288 -w 256 -o read,write -p 10001

- client
./io_demo -p 10001  -b 256 -i 100 -d 512:524288 -w 256 -o read,write <server_addr>

error info:

[UCX] created context 0xb614a0
[UCX] created worker 0x7f7fb9525010
[UCX] started listener 0xbb2440 on 0.0.

[2021-01-06 13:43] alinask commented on #6096
@SummerRayPeipei Since you are using UCX v1.9, can you please set the following environment parameter on both sides?
`UCX_SOCKADDR_CM_ENABLE=y`

[2021-01-06 18:19] #6011 closed

[2021-01-07 05:42] SummerRayPeipei commented on #6096
Is there a function call to do this? I don't know what function to call to do this

[2021-01-07 07:38] alinask commented on #6096
@SummerRayPeipei you can do it like this:

- server

`UCX_SOCKADDR_CM_ENABLE=y ./io_demo -b 512 -i 10000000 -d 512:524288 -w 256 -o read,write -p 10001`

- client

`UCX_SOCKADDR_CM_ENABLE=y ./io_demo -p 10001 -b 256 -i 100 -d 512:524288 -w 256 -o read,write <server_addr>`

[2021-01-07 09:28] SummerRayPeipei commented on #6096
when I run "UCX_SOCKADDR_CM_ENABLE=y ./io_demo -b 512 -i 10000000 -d 512:524288 -w 256 -o read,write -p 10001" cmd, The progress is not running

[2021-01-07 09:34] alinask commented on #6096
can you share the output please from client and server?

[2021-01-07 09:48] SummerRayPeipei commented on #6096
Now the progress is both running, but on the side of client, print the result:
DEMO] random seed: 1610012742
[UCX] created context 0xdbbec0
[UCX] created worker 0x7fa5e22e5010
[UCX-connection #1 0.0.0.0:0] created new connection, total: 1
[UCX-connection #1 9.228.242.23:1337] created endpoint 0x7fa5e0ce9000, exchanging connection id
[UCX-connection #1 9.228.242.23:1337] detected error: Operation r

[2021-01-07 09:58] alinask commented on #6096
can you please share the output of the server side, output of `ifconfig` and output of `ibdev2netdev`?

[2021-01-07 10:11] SummerRayPeipei commented on #6096
ifconfig
bond1: flags=5187<UP,BROADCAST,RUNNING,MASTER,MULTICAST>  mtu 1500
        inet 9.228.242.23  netmask 255.255.255.192  broadcast 9.228.242.63
        inet6 2402:4e00:2200:c604::3  prefixlen 64  scopeid 0x0<global>
        inet6 fe80::e42:a1ff:fe64:28a4  prefixlen 64  scopeid 0x20<link>
        ether 0c:42:a1:64:28:a4  txqueuelen 1000  (Ethernet)
        RX packets 31835087  bytes 24225001

[2021-01-07 10:15] alinask commented on #6096
can you please add the server's output and the <server_addr> you are using in the command line?

[2021-01-07 11:11] SummerRayPeipei commented on #6096
- client
UCX_SOCKADDR_CM_ENABLE=y ./io_demo 9.228.242.23  -b 256 -i 1 -d 512:524288 -w 256 -o read,write
outputs:
[UCX-connection #8 9.228.242.23:1337] detected error: Operation rejected by remote peer
[UCX-connection #8 9.228.242.23:1337] failed to send remote connection id
[UCX-connection #8 9.228.242.23:1337] closing ep 0x7ff8a418b000 mode force
[UCX-connection #8 9.228.242.23:1337] released
[D

[2021-01-07 11:15] SummerRayPeipei commented on #6096
i know the reason of this question,  thank you very much

[2021-01-07 12:12] alinask commented on #6096
@SummerRayPeipei do you still see a problem?
If yes, please share the output,
According to the output above, you are trying to reach bond1 (9.228.242.23) but eth0 is the interface of mlx5_bond_0 port 1.

[2021-01-07 12:54] SummerRayPeipei commented on #6096
these is no problem, thanks @alinask

[2021-01-07 13:02] alinask commented on #6096
great! 👍
i'm closing this ticket then...

[2021-01-07 13:24] #6096 closed

[2021-01-07 16:34] souravzzz commented on #5485
Hi @jedbrown, I believe it's a ROCR issue and not UCX. I would like to send you some test programs to debug it further. Is the email @jedbrown.org good to reach?

[2021-01-07 16:36] jedbrown commented on #5485
Yes, thanks.

[2021-01-08 23:42] eric-haibin-lin commented on #5412
@yosefe thanks for the comment. What does the env var `UCX_IB_NUM_PATHS ` do?

[2021-01-09 10:24] yosefe commented on #5412
This variable forces creating multiple connections between same pair of processes, which creates multiple (2) address handles by ibv_create_ah() , so the libmlx5 driver calls rand() from ibv_create_ah() to generate the value of udp.src_port.

[2021-01-11 04:31] SummerRayPeipei opened #6102 "[IO_DEMO]Why does the process run on 100% CPU"
### Describe the bug
wen I run the process,  it occupies 100% cpu
### Steps to Reproduce
- server
 ./io_demo -p 10001
- ucx_info -v
 # UCT version=1.9.0 revision a306b90
# configured with: --build=x86_64-redhat-linux-gnu --host=x86_64-redhat-linux-gnu --program-prefix= --disable-dependency-tracking --prefix=/usr --exec-prefix=/usr --bindir=/usr/bin --sbindir=/usr/sbin --sysconfdir=/etc --datadir=/

[2021-01-11 06:56] haihai-00 opened #6103 "Several questions about UCX protocol and API"
As a beginner of UCX, I'm confused about the protocol concept in UCX
1. UCX can choose "transport" automatically according to the H/W environment. transport here means transport methods such as shm, reliable connection.... And this operatiron is done by protocol_selection in the code. Am I right?
2. UCX support protocols such as active message, tag match, RMA put/get and AMO. These protocols are s

[2021-01-11 14:51] jamtrott commented on #5284
I'm seeing the same issue with UCX-1.9.0 and OpenMPI 4.0.5. I have so far been unable to figure out why UCX fails to initialise.

Is there anything more we can do to understand what leads to the log message: `select: init returned failure for component ucx`?

As @BookChan notes above, there is an accompanying error message suggesting that some shared libraries are not found or fail to load. Howeve

[2021-01-11 14:53] yosefe commented on #6102
@SummerRayPeipei io_demo process is expected to occupy 100% since it does busy-polling

[2021-01-11 14:59] yosefe commented on #6103
Hi @haihai-00 ,
1. Yes that is right
2. Mostly yes, except some transports may not implement AMO/RMA natively (for example ,TCP), so UCP will emulate it over active messages
3. The API to use is according to the application, so if you could please describe the use case, it would be possible to recommend something specific. That being said, active messages API is the most generic one, so I would re

[2021-01-11 15:09] jamtrott commented on #5284
After setting `OMPI_MCA_pml_ucx_verbose=10`, I found the following message:
```pml_ucx.c:307 UCP worker does not support MPI_THREAD_MULTIPLE. PML UCX could not be selected```

In the end, it looks to be the same issue as https://github.com/open-mpi/ompi/issues/7768. I solved my problem by rebuilding UCX with `--enable-mt`.

[2021-01-12 02:13] SummerRayPeipei commented on #6102
What should I do if I don't want this process to occupy 100% ？Is there an IO multiplexing mode like epoll or a multithreading mode? @yosefe

[2021-01-12 02:13] haihai-00 commented on #6103
Hi, @yosefe
Thank you very much for your quick response!
There's no presentations of 2020 in https://www.openucx.org/presentations/, so will it be updated?

[2021-01-12 11:08] wulinzi312 opened #6120 "error happened when configure --with-java"
### Describe the bug
when configure --with-java, there was an error "Java support was explicitly requested, but java or mvn not in path".
checking for mvn....no
checking for java... yes

What can I do to resolve this problem? I had already set JAVA_HOME and MAVEN_HOME in /etc/profile.

### Steps to Reproduce
- Command line
- UCX version used (UCX v1.6) + UCX configure flags (can be checked by `ucx

[2021-01-12 11:44] petro-rudenko commented on #6120
`mvn` is not in `PATH`. Need to set `PATH=$PATH:$MAVEN_HOME/bin/`, make sure `mvn` command is working

[2021-01-12 11:56] yosefe commented on #6103
hi @haihai-00 ,
yes, we expect 2020 slides will be added as well.
adding @shamisp

[2021-01-12 12:00] yosefe commented on #6102
@SummerRayPeipei currently, UCX API supports IO mux mode, for example https://github.com/openucx/ucx/blob/master/examples/ucp_hello_world.c#L182
However, IO demo example does not make use of this API.

[2021-01-12 12:19] wulinzi312 commented on #6120
yes, when I run mvn,there was some wrong about java.  I had resolved this probleam, thank you.
But there is stall a dependency request, the ucx need libnuma-devel, but  I didn't find it. do you have the whole libs?

[2021-01-12 12:40] petro-rudenko commented on #6120
You can install `libnuma-devel` by typing `yum install  libnuma-devel` on RHEL or `apt install  libnuma-dev` on ubuntu. Or you can configure ucx `--without-numa`, but it can hurt performance. Better to install devel package.

[2021-01-12 16:50] shamisp commented on #6103
I'm working with our web team to get all the content online. We will be sharing the slides and video. I think we will have all materials uploaded by end of the January.

[2021-01-13 01:29] haihai-00 commented on #6103
Thank you very much ^^

[2021-01-13 01:29] #6103 closed

[2021-01-13 01:53] wulinzi312 commented on #6120
hi @petro-rudenko , I met this problem, can you tell me what I can do to resolve it ?

[1610546272.333356] [localhost:44565:0]         select.c:445  UCX  ERROR no remote registered memory access transport to <no debug data>: posix/memory - no peer failure handler, sysv/memory - no peer failure handler, self/memory - no peer failure handler, tcp/ens5f0 - no put short, tcp/eno3 - no put short, sockc

[2021-01-13 03:35] petro-rudenko commented on #6120
This benchmark is using RDMA read operation. Do you have RDMA capable
network interface (infiniband or ROCE)?

ср, 13 січ. 2021, 03:53 користувач wulinzi312 <notifications@github.com>
пише:

[2021-01-13 03:49] wulinzi312 commented on #6120
yes, the server and client node both have RDMA network.

[2021-01-13 03:54] petro-rudenko commented on #6120
Do you start server on RDMA NIC IP address? Can you please send both client
and server commands you running.

ср, 13 січ. 2021, 05:49 користувач wulinzi312 <notifications@github.com>
пише:

[2021-01-13 03:56] wulinzi312 commented on #6120
@petro-rudenko  Are you saying that the RDMA NICs on my two nodes may be faulty? but  I tested ucp_client_server success.

[2021-01-13 03:57] wulinzi312 commented on #6120
yes, I start server on RDMA NIC IP。

server RDMA ip is 192.xxx.xx.77 :
java -cp jucx-1.9.0.jar org.openucx.jucx.examples.UcxReadBWBenchmarkReceiver s=192.xxx.xx.77 p=54321 n=1
client RMDA  ip is 192.xxx.xx.78:
java -cp jucx-1.9.0.jar org.openucx.jucx.examples.UcxReadBWBenchmarkSender s=192.xxx.xx.77 p=54321 t=10240

[2021-01-13 06:41] wulinzi312 commented on #6120
when I test ucp_client_server in one node, it's fine. but when in two nodes, it met error like below:
[1610519910.659166] [localhost:6803 :0]       ib_verbs.h:84   UCX  ERROR ibv_exp_query_device(mlx4_0) returned 38: Success
[1610519910.662043] [localhost:6803 :0]       ib_verbs.h:84   UCX  ERROR ibv_exp_query_device(mlx5_0) returned 38: Invalid argument
[1610519910.665726] [localhost:6803 :0]

[2021-01-13 08:06] mkre commented on #5740
I just checked again with UCX 1.10.0-rc1 and the numbers are the same as with UCX 1.9.0, i.e., the regression with the UD transport still exists.

@rakhmets @yosefe Do you think that there is a chance that this gets addressed at some point, or are you maybe not considering this a bug?

[2021-01-13 09:52] yosefe commented on #5740
@mkre is it possible to use DC transport instead of UD?

[2021-01-13 09:56] mkre commented on #5740
@yosefe, unfortunately, that's not always possible.

1. We are sometimes short of memory, and UD shows the best memory efficiency of all transports.
2. On pre-ConnectX-4 systems, DC will not be available.

[2021-01-13 10:25] gitzhangjingfang opened #6124 "Error when running UcxBenchmark"
### Describe the bug
When I run benchmark, but it not work, I get these errors:

[code]
And

[code]
### Steps to Reproduce
-  root ./autogen.sh
-  root ./contrib/configure-release  --with-java  --disable-numa
-  root make -j8 install
-  Run benchmark receiver and sender.

### Setup and versions
- OS version (e.g Linux distro) + CPU architecture (x86_64/aarch64/ppc64le/...)
   - `cat /etc/issue` or

[2021-01-13 12:09] yosefe commented on #5740
@mkre , i see. there are currently no short-term plans for additional optimizations in UD transport. Is it possible to use 1.8.0 in the meantime?

[2021-01-13 12:45] mkre commented on #5740
Okay, I guess that also means that fixing UD regressions is probably not very high on your priority list. Is this correct? In that case, we will have to think about how to treat high-memory runs on all interconnects and ConnectX-3 in general in the future...

[2021-01-13 14:42] yosefe opened #6126 "Clang-format improvements"

[2021-01-13 14:43] yosefe commented on #6126
https://dev.azure.com/ucfconsort/ucx/_build/results?viewname=details&definitionId=11&_a=summary&j=cc064a77-22b5-56bf-ecc0-70b5fe764261&t=aedfd754-44a6-53e6-6843-8659d800fee2
[code]

[2021-01-13 14:47] yosefe commented on #6126
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/12407/logs/9

[2021-01-13 15:55] gleon99 commented on #6126
Did you mean to mention a specific pipeline run here?
The first link shows a general pipelines list, and the second one is broken.

[2021-01-13 16:14] petro-rudenko commented on #6120
Does it work for you to run: [ib_read_bw](https://community.mellanox.com/s/article/ib-read-bw):
[code]

[2021-01-13 16:41] yosefe commented on #6126
Changed link to the top-level build, seems specific job/stages links are invalidated after re-run

[2021-01-13 19:25] alinask opened #6130 "Failure on rc_verbs/uct_cancel_test.get_bcopy/1 on ppc"
Failure on rc_verbs/uct_cancel_test.get_bcopy/1

[code]

HOSTNAME=r-vmb-ppc-jenkins

http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/9133/pipeline/481

[2021-01-14 01:37] wulinzi312 commented on #6120
run ib_read_bw ,it work fine. like below:
[root@localhost ucx-1.9.0]# ib_read_bw -d mlx5_0

************************************
* Waiting for client to connect... *
************************************
---------------------------------------------------------------------------------------
                    RDMA_Read BW Test
 Dual-port       : OFF		Device         : mlx5_0
 Number of qps   : 1		T

[2021-01-14 01:55] wulinzi312 commented on #6120
I guess there's a problem with the environment，there are two nics mlx5_0(state is UP) and mlx5_1(state is DOWN), but the default is mlx5_1. when I switch the nodes that also contains two nics mlx5_0(state is Down) and mlx5_1(state is UP), run ucp_client_server is fine.
But when running the java benchmark, it met another error like below:
Received connection. Will read 10000 bytes from remote addre

[2021-01-14 06:18] wulinzi312 commented on #6120
I found in one node, I run UcxReadBWBenchmarkReceiver and UcxReadBWBenchmarkSender, it's fine.  Is there any extra configuration required for cross-node deployment?

[2021-01-14 08:08] wulinzi312 opened #6132 "ERROR JUCX: request error: Input/output error , when use UcxReadBWBenchmarkReceiver and sender"
### Describe the bug
I run UcxReadBWBenchmarkReceiver and UcxReadBWBenchmarkSender on two nodes,  I get the error info like below:
[1610610433.685720] [DN-10:623133:0] jucx_common_def.cc:191  UCX  ERROR JUCX: request error: Input/output error
errosMsg: Input/output error
[1610610433.688325] [DN-10:623133:0]    ib_mlx5_log.c:143  UCX  ERROR Remote access on mlx5_1:1/RoCE (synd 0x13 vend 0x88 hw_syn

[2021-01-14 09:43] gleon99 commented on #6126
@yosefe ,
1. (comments issue) - we may (in a future fix) add the functionality of correctly aligning such comments. Meanwhile, I suggest we set `ReflowComments: false` in our config. Then `clang-format` won't modify such comments at all (the tradeoff is that long comments aren't taken care of). What do you think?

[2021-01-14 09:44] yosefe commented on #6126
👍

[2021-01-14 14:21] petro-rudenko commented on #6120
Can you please run [jucx.1.10-rc](https://repo1.maven.org/maven2/org/openucx/jucx/1.10.0-rc1/jucx-1.10.0-rc1.jar). The segfault problem is fixed there. Regarding connectivity - try to run with `UCX_NET_DEVICES=mlx5_0:1` explicitly.

[2021-01-14 14:54] wulinzi312 commented on #6120
Can jucx.1.10-rc  resolve this problem below ?

Received connection. Will read 10000 bytes from remote address 281470480482304
[1610587738.851467] [DN-10:468194:0] jucx_common_def.cc:191 UCX ERROR JUCX: request error: Input/output error
[1610587738.853874] [DN-10:468194:0] ib_mlx5_log.c:143 UCX ERROR Local length on mlx5_1:1/RoCE (synd 0x1 vend 0x8e hw_synd 0/0)
[1610587738.853874] [DN-10:468194:0

[2021-01-14 16:48] petro-rudenko commented on #6120
Can you please run test with `export UCX_NET_DEVICES=mlx5_0:1` - it will remove mlx5_1 from interface selection

[2021-01-15 01:43] wulinzi312 commented on #6120
@petro-rudenko  hi petro, when I run jucx-1.10.0-rc, my platform cann't load it. can you send me the src link of jucx-1.10.0-rc?

Exception in thread "main" java.lang.UnsatisfiedLinkError: Native code library failed to load: libjucx.so. /tmp/jucx8146440166639020429/libjucx.so: /tmp/jucx8146440166639020429/libjucx.so: cannot open shared object file: No such file or directory (Possible cause: can't

[2021-01-15 02:22] wulinzi312 commented on #6120
I build the master, and success now. thank you @petro-rudenko

[2021-01-15 02:37] #6120 closed

[2021-01-15 02:37] wulinzi312 commented on #6132
same as issuse #6120

[2021-01-15 02:37] #6132 closed

[2021-01-15 10:38] angainor commented on #6049
@yosefe thanks for the info!

[2021-01-15 10:38] #6049 closed

[2021-01-15 13:25] Blopeur commented on #6124
It seems that the Java Benchmark doesn't handle TCP based transport.

It requires:  [.requestRmaFeature()](https://github.com/openucx/ucx/blob/c1560bd8488b6caeada4af9a05f3ad4531b916de/bindings/java/src/main/java/org/openucx/jucx/examples/UcxBenchmark.java#L87)

And also .setPeerErrorHandlingMode()

Which are both incompatible with TCP transport.

I have removed these two requirements and the bench

[2021-01-17 12:23] yosefe commented on #5740
@mkre do you have a simple reproducer (test+command line) for the performance issue which can be shared?

[2021-01-18 09:27] mkre commented on #5740
@yosefe I can also see the regression using the Intel MPI Benchmarks (IMB) with Open MPI 4.0.3. For example, using `./IMB-MPI1 -npmin 80 allreduce` (reported is `t_avg[usec]` at `4194304` bytes, so lower is better):

| | `UCX_TLS=ud,self,sm`  | `UCX_TLS=rc,self,sm` | `UCX_TLS=dc,self,sm` |
| ------- | ------------- | ------------- | ------- |
| UCX 1.8.0  | 11595.30 | 11548.84 | 11501.31 |
| UCX 1

[2021-01-18 09:49] wulinzi312 opened #6149 "Failed to do dwqe munmap and Failed to de db munmap."
### Describe the bug
A clear and concise description of what the bug is.

[xshel]l# java -cp jucx-1.11.0.jar org.openucx.jucx.examples.UcxReadBWBenchmarkReceiver s=192.69.76.196 p=12321 n=1
[ROCE] roce_free_context(573): [WARNING]Failed to do dwqe munmap, err(-1)
[ROCE] roce_free_context(580): [WARNING]Failed to do db munmap, err(-1)
[ROCE] roce_free_context(573): [WARNING]Failed to do dwqe munmap

[2021-01-18 16:27] souravzzz commented on #5485
The root cause was confirmed to be with ROCR support for Radeon VII and not UCX. An internal issue has been raised to resolve this.

[2021-01-19 08:32] dmitrygx opened #6152 "rc_verbs/test_uct_ep.disconnect_after_send/0 failed swx-rdmz-ucx-arm-hwi"
[code]
on `swx-rdmz-ucx-arm-hwi` node
Job file: https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=12571&view=logs&j=91485d7f-07f8-5dc4-be43-59794e62e572&t=9aca67d2-2f0a-5509-6a19-ed5514a50604&l=32757
Log file: https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/12571/logs/164

[2021-01-19 15:16] alex--m opened #6156 "Valgrind: UCP accesses to uninitialised value (minor)"
Valgrind output:
[code]

Relevant code (line 1199 is the `ucs_assert` at the end of the loop):
[code]

[2021-01-19 19:42] Artemy-Mellanox commented on #5740
@mkre could you plz rerun STAR-CCM+ test with "-x UCX_UD_TIMER_TICK=100ms" and new ucx

[2021-01-20 08:46] mkre commented on #5740
Bingo @Artemy-Mellanox! This parameter does the trick:

| `UCX_TLS=ud,self,sm` |  | `UCX_UD_TIMER_TICK=100ms` | `200ms` | `500ms` | `1000ms` |
| ------- | ------------- | ------------- | ------- |------- |------- |
| UCX 1.8.0  | 0.71 s | | |
| UCX 1.10.0-rc1 | 2.1 s | 0.83 s | 0.78 s | 0.72 s | 0.72 s |

Many thanks for the suggestion!

Do you plan to address the default behavior in UCX master or

[2021-01-20 15:11] yosefe opened #6161 "TCP assertion failure in cm"
http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/9273/pipeline/232

[code]

[2021-01-20 15:42] evgeny-leksikov commented on #6126
https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=12581&view=logs&j=cc064a77-22b5-56bf-ecc0-70b5fe764261&t=aedfd754-44a6-53e6-6843-8659d800fee2
[code]

[2021-01-20 15:43] brminich commented on #6126
https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=12619&view=logs&jobId=cc064a77-22b5-56bf-ecc0-70b5fe764261&j=cc064a77-22b5-56bf-ecc0-70b5fe764261&t=aedfd754-44a6-53e6-6843-8659d800fee2
[code]

[2021-01-21 14:48] abellina opened #6170 "UCX packages (rpm and deb) should include essential dependencies"
UCX 1.9 packages depended on:
[code]
But we have removed all dependencies in UCX 1.10 as of today. This issue is for us to re-add the essentials. Really libnuma1 in this case, but wondering if we should have libc6 minimum requirement there too. If we must have 2.15+ then it sounds like it should be in the depends line.

[2021-01-21 14:52] abellina opened #6172 "JDK 11 and JDK 8 CI for JUCX"
Since JUCX could be used using a JDK11 or JDK8 JVM, this ticket is to add both CI pipelines. We should run whatever tests executed for JDK8 against JDK11.

On building JUCX, it seems building it with JDK11 but for JDK8 support is the way to go. We probably don't want to have two JARs, one built with JDK11 and one built with JDK8. Having CI test with both JDK versions at runtime should help uncover

[2021-01-21 17:09] sameerz commented on #6172
This is primarily a testing (not building) request.  We want to ensure JUCX is tested and validated with both JDK 8 and JDK 11.

[2021-01-22 02:49] skeelyamd commented on #5485
@jedbrown, ROCr supports IPC on Radeon VII.  The trouble here is it seems you are using the upstream amdgpu driver.  This driver does not support IPC on any device.  For IPC support you will need to install our DKMS amdgpu driver package.  Unfortunately Debian is not a supported OS (Ubuntu is however) so our DKMS package may not install against your kernel.

[2021-01-22 07:09] dmitrygx commented on #6161
equal to #6015

[2021-01-22 08:53] evgeny-leksikov opened #6175 "dc_mlx5/test_rc_srq.reorder_cyclic/0 failure"
[code]
full log https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/12643/logs/180
occurred in https://github.com/openucx/ucx/pull/6154
@Artemy-Mellanox @hoopoepg FYI

[2021-01-22 16:14] souravzzz commented on #6149
@shamisp Not sure if I'm the right person to look into this.

[2021-01-22 16:21] yosefe commented on #6149
@wulinzi312 please provide the details as described in the issue template

[2021-01-22 18:47] #6170 closed

[2021-01-22 19:38] shamisp commented on #6149
@souravzzz I tagged you due to `roce_free_context` reference in the trace but if this is irrelevant we will reassign to somebody else. thanks !

[2021-01-23 06:01] wulinzi312 commented on #6149
when I run it on node with CX5 nic, it's fine. but when I run it on node with 1822 nic, it just like this.

[2021-01-23 22:53] yosefe commented on #6126
[code]

[2021-01-24 21:45] richardnixonshead opened #6186 "Does dc transport support RoCE?"
On a Mellanox page, https://docs.mellanox.com/m/view-rendered-page.action?abstractPageId=12006265, it says

Is this still correct? We run a RoCEv2 cluster with CX-5 cards in lossless configuration. We currently set

UCX_TLS=rc_x,sm

due to the guide saying DC doesn't support RoCEv2. Is this the configuration we should use, or does DC now support RoCEv2?

[2021-01-25 11:54] avildema opened #6188 "[mtt] Failed to resolve UCX endpoint on UCX-CUDA"
Configuration
[code]
 
MTT log:
 
http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20210122_131010_963_23542_vulcan02.swx.labs.mlnx/html/test_stdout_hWnkVw.txt
 
Cmd:
`
/hpc/local/benchmarks/daily/next/2021-01-22/hpcx-gcc-redhat7.6/ompi/bin/mpirun -np 72 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV

[2021-01-26 03:18] haipeng31 opened #6193 "What's the difference between ucp_stream_send_nb and ucp_tag_send_nb?"
ucp_stream_send_nb similar with tcp socket，ucp_tag_send_nb similar with rpc？
What situation should I use ucp_stream_send_nb rather than ucp_tag_send_nb?
How do I figure out which devices I am using, Roce device or Ethernet device? and does ucp_stream_send_nb and ucp_tag_send_nb will use different devices?

[2021-01-26 03:23] haipeng31 commented on #6193
Dose ucp support some api like readv and writev. not found in upc api doc

[2021-01-26 06:57] evgeny-leksikov opened #6194 "dc_mlx5/test_uct_peer_failure_keepalive.killed/0 failure"
[code]
on swx-rdmz-ucx-arm-hwi

[2021-01-26 06:59] evgeny-leksikov commented on #6194
@hoopoepg FYI

[2021-01-26 07:08] alinask opened #6195 "failure on rc/test_ucp_sockaddr_destroy_ep_on_err.onesided_bidi_cforce/2"
[code]

HOSTNAME=r-vmb-ppc-jenkins
http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/9429/nodes/58/steps/696/log/?start=0

[2021-01-26 11:28] evgeny-leksikov commented on #6193
@haipeng31 you are right `ucp_stream_send_nb` similar with tcp socket. this is stream oriented API which allows to send stream of bytes on sender and receive stream of bytes on receiver, this means that point-to-point channel guarantees data ordering. For example number of send operations can be different form receive operations for the same amount of bytes, in other words you can do 1 send of 100

[2021-01-26 12:36] brminich commented on #6126
https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=12874&view=logs&jobId=cc064a77-22b5-56bf-ecc0-70b5fe764261&j=cc064a77-22b5-56bf-ecc0-70b5fe764261&t=aedfd754-44a6-53e6-6843-8659d800fee2
[code]

[2021-01-26 15:51] jedbrown commented on #5485
Thanks, is the support going upstream? For various reasons, I'm not going to switch distributions, but we're currently on Linux 5.10 and follow the usual upgrades.

[2021-01-26 16:36] dmitrygx opened #6203 "dcx/test_ucp_peer_failure.zcopy/3 failed on swx-rdmz-ucx-arm-hwi"
[code]
the issue was reproduced locally on `swx-rdmz-ucx-arm-hwi` and during Azure CI testing

[2021-01-26 17:35] dmitrygx commented on #6203
[code]

[2021-01-26 17:59] Akshay-Venkatesh opened #6206 "Drop in 3-stage pipeline performance when use of GPUDirectRDMA is disabled"
### Describe the bug
- Seeing a big drop in D->H perf when GDR is disabled
- Peak local D->H and H->D cudaMemcpy perf on DGX-A100 is 24 GB/s so it should be possible to have 24 GB/s end-to-end for D->D when GDR is disabled but peak seen is 16.7 GB/s (peak H->H end-to-end bandwidth on the system is 24 GB/s as well)

Edit:
- Also, gdr_copy is not disabled when UCX_IB_GPU_DIRECT_RDMA=n but we would n

[2021-01-26 18:00] Akshay-Venkatesh commented on #6206
cc @yosefe @bureddy @abellina

[2021-01-26 18:51] brminich commented on #4616
also happened here http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/9462/pipeline/
[code]

[2021-01-27 01:14] nhanford opened #6207 "OMB Collectives Fail with UCX+ROCm"
# OpenMPI and UCX Issue for UCX Github

### Describe the bug

When following the UCX+ROCm tutorial [here](https://github.com/openucx/ucx/wiki/Build-and-run-ROCM-UCX-OpenMPI), intra-node collectives, such as `osu_allreduce -d rocm`, fail with the following message:

[code]

and inter-node collectives fail with the following message:

[code]

Interestingly, the OSU pt2pt benchmarks work with the `D

[2021-01-27 01:46] bureddy commented on #6206
@Akshay-Venkatesh  can you try https://github.com/openucx/ucx/pull/6208

[2021-01-27 02:06] bureddy commented on #6206
another WA is `-x UCX_RNDV_PIPELINE_SEND_THRESH=0`

[2021-01-27 07:26] haipeng31 commented on #6193
@evgeny-leksikov many thanks, your reply helps a lot.

[2021-01-27 07:26] #6193 closed

[2021-01-27 08:35] evgeny-leksikov commented on #5192
@brminich @dmitrygx "free not completed EP close request" is https://github.com/openucx/ucx/issues/5337

[2021-01-27 14:23] dmitrygx opened #6214 "tcp/test_ucp_sockaddr_protocols_err.tag_rndv_unexp_put_scheme/4 failed on sputnik4"
[code]
Link to the job: https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=12925&view=logs&j=29aeebdb-3078-5ca1-e7df-02da2ddf99b4&t=ccac58dc-e7b6-5bfe-6f92-cc68fc64c085
Link to the log: https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/12925/logs/184

[2021-01-27 20:44] dmitrygx opened #6220 "dc_mlx5/test_uct_peer_failure_multiple.test/0 failed on swx-rdmz-ucx-arm-hwi"
[code]
link to the job: https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=12957&view=logs&j=fa9b49c1-d497-5b0a-6030-ccf18faa6d8c&t=93e5fb16-3d78-5d11-31b7-7eefd335b140&l=33241
link to the log: https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/12957/logs/134

[2021-01-27 22:58] jlinford opened #6223 "mlx5dv_devx_alloc_uar "Operation not supported" and ucp_ep_create failed "Out of memory""
Hi Folks,

UCX 1.9.0, OpenMPI 4.1.0, MLNX_OFED_LINUX-5.2-1.0.4.0-rhel8.3-aarch64, ThunderX2, CentOS 8.3

This config seems broken by default:

[code]

I eventually arrived at this workaround:

[code]

This might be distantly related to https://github.com/openucx/ucx/issues/5376 or https://github.com/openucx/ucx/issues/3748.

The usual tests like `ib_read_bw` all seem OK.  This is a very much vanil

[2021-01-28 02:32] shamisp commented on #6223
https://docs.mellanox.com/display/HPCXv28/Known%20Issues

Seems line it is makes incorrect detection of write combining on arm. @yosefe ThunderX2 supports WC.

[2021-01-28 06:39] evgeny-leksikov commented on #6126
[code]

[2021-01-28 07:45] brminich opened #6225 "hang in all/test_ucp_sockaddr_destroy_ep_on_err.onesided_client_sforce/1 <all/tag,mt>on r-vmb-ppc-jenkins"
### Describe the bug
[code]

[2021-01-28 08:31] yosefe commented on #6223
This is issue of rdma-core breaking backward compatibility of alloc_uar function.
UCX v1.10.x / master has a workaround for it, via #6082 and #6122

[2021-01-28 15:32] shamisp commented on #6223
@jlinford Based on Yossis' feedback I would advise to manually install 1.10.0 rc1. Otherwise you may see degradation in performance.

[2021-01-29 09:21] rakhmets commented on #5988
the issue is no longer reproducible

[2021-01-29 09:21] #5988 closed

[2021-01-29 14:56] edofrederix commented on #6000
@yosefe, @afernandezody, I'm having exactly the same problem. Any update on this issue? Tried to configure the driver to enable lossy RoCE, but this doesn't seem to help. Two of the three indicated options (roce_tx_window_en and roce_slow_restart_en) are not even supported by my NIC (ConnectX-4). So should I go for lossless mode?

What I also noticed is that performance seems _somewhat_ better whe

[2021-01-29 15:31] yosefe commented on #6000
@edofrederix for ConnectX-4 NICs, the recommended way is to configure the NIC and network Eth switches to Lossless mode, as described in https://community.mellanox.com/s/article/recommended-network-configuration-examples-for-roce-deployment (option 2). Lossy RoCE (option 1) is supported starting with ConnectX-5 and required only NIC configuration, without a need to touch the switches.
Regarding pr

[2021-01-29 17:33] #6015 closed

[2021-01-29 17:33] #6161 closed

[2021-01-29 22:17] dmitrygx commented on #6126
1) Ternary operator alignemnt
[code]
2) Comments and fields alignment in a structure;
Enum values decalration alignment
[code]
[code]
3) Alignment by `=` when there is an assignment with function call;
Alignemnt for `&` operation and its operads when they are not fit 80 symbols per line
[code]

[2021-01-29 23:09] afernandezody commented on #6000
Hi,
The timing of the last 2 comments is pretty good as I had a zoom call with the provider earlier today. It turns out that the RoCE configuration (of my cloud system) needs to be lossless (not lossy). The packets are dropping because of authentication issues between the nodes. He advised me to disable the NetworkManager and I will have to reread the documentation for lossless RoCE. Unless **@edo

[2021-01-30 15:35] edofrederix commented on #6000
@yosefe @afernandezody we will investigate our options regarding lossless fabric and see what's possible. Feel free to close the issue -- it doesn't really seem to be UCX related anyway. Thanks for the feedback.

[2021-01-31 03:57] vchuravy opened #6239 "Architecture specific checks break ability to cross-compile"
https://github.com/openucx/ucx/blob/c6646785806a36a8b1fb65cb900688d251259f85/src/ucs/configure.m4#L211-L228

Similar to https://github.com/FFTW/fftw3/issues/73 and leads to the build failing when cross-compiling.

[code]

[2021-01-31 15:34] shamisp commented on #6239
Is this with Linaro cross compile toolchain ? Can you please post your command line.

[2021-02-01 06:40] evgeny-leksikov commented on #6126
https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=13107&view=logs&j=cc064a77-22b5-56bf-ecc0-70b5fe764261&t=aedfd754-44a6-53e6-6843-8659d800fee2
[code]

[2021-02-01 08:36] haipeng31 opened #6242 "Latency not expected when using ucx？"
I write a test code using ucx which just send req and receive response, and see the latency，In my test machines，The result is about 60us，This is not expected，The test result i use ib_send_lat is less than 10us。

my test code is here: [https://github.com/haipeng31/rdma_test/blob/main/main.cpp](test code)

UCX_NET_DEVICES=mlx5_bond_0:1
UCX_TLS=all

ib_send_lat:
--------------------------------------

[2021-02-01 10:40] yosefe commented on #6242
@haipeng can you try measuring with "ucx_perftest -t tag_lat" ? see more details in https://github.com/openucx/ucx/wiki/Performance-measurement
Or, modify your example code to run multiple iterations? Since it's expected that the first iteration could be somewhat slower due to warmup and lazy initialization

[2021-02-01 11:15] shuki-zanyovka opened #6244 "ucp_client_server doesn't seem to work"
### Describe the bug
I built the ucp_client_server as follows from the latest UCX master, and it seems to crash on my VM,
$ examples/ucp_client_server
[localhost:14891:0:14891] Caught signal 11 (Segmentation fault: address not mapped to object at address (nil))

/home/shukiz/projects/ucx-github/ucx/src/uct/base/uct_cm.c: [ uct_listener_create() ]
      ...
      207

[2021-02-01 13:09] shuki-zanyovka commented on #6244
Here are some more details:
[shukiz@localhost examples]$ gcc ucp_client_server.c -lucp -lucs
[shukiz@localhost examples]$ gdb ./a.out
GNU gdb (GDB) Red Hat Enterprise Linux 7.6.1-119.el7
Copyright (C) 2013 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRAN

[2021-02-01 17:12] #6000 closed

[2021-02-02 03:03] haipeng31 commented on #6242
ucx_perftets -t tag_lat result is about 5us，this latency include send and receive?

[2021-02-02 06:49] brminich commented on #6126
from here https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=13167&view=logs&j=cc064a77-22b5-56bf-ecc0-70b5fe764261&t=aedfd754-44a6-53e6-6843-8659d800fee2&l=18
At first  clang suggested to use one indent as I did. When I applied that diff and pushed again clang suggested 2 indents (

[code]

[2021-02-02 08:21] yosefe commented on #6242
- ucx_perftest tag_lat shows half round trip time
- can check the difference between your code and perftest by `perf top -p <pid>` monitoring command

[2021-02-02 08:26] haipeng31 commented on #6242
@yosefe thanks for you answers, they helps a lot

[2021-02-02 08:26] #6242 closed

[2021-02-02 09:24] hoopoepg commented on #6188
@karasevb could you look at this issue?

[2021-02-02 09:29] karasevb commented on #6188
Should be fixed with https://github.com/open-mpi/ompi/pull/8405

[2021-02-02 11:45] brminich commented on #6214
also happened here https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=13167&view=logs&j=04ad28a9-2cd7-507f-a9bd-154e87a70a64&t=dc967d44-32e0-55ef-938d-5cdb517b54b1
[code]

[2021-02-02 12:55] akjt opened #6253 "UCX time out with Intel MPI"
### Describe the bug

Running my simulation with for several hours before a sudden crash occurs. Initially, we used OpenMPI but at that time we did not use UCX. We already had an Intel MPI on our system that employs the UCX. After consultation and several debugging it turns out the crash occurs deeper inside the UCX library. See complete error message at the bottom of this message.
Is it possible

[2021-02-02 13:27] yosefe commented on #6253
@akjt the UCX version is pretty old: 1.5.2
Can you pls try using UCX v1.10 rc1? https://github.com/openucx/ucx/releases/tag/v1.10.0-rc1
1. There were numerous fixes in UD transport along these version
2. According to ibv_devinfo, the NIC supports DC transport, which is expected to have better performance. Is it possible to avoid setting UCX_TLS configuration (either from application/command line o

[2021-02-02 13:35] akjt commented on #6253
Hi @yosefe Thank you very much for the answer.
Okay we literally just got the ucx 1.11 installed into our HPC. Question is how I get Intel MPI using that.
1. Great!
2. Yes correct I have read this . Problem is that Intel MPI does not work with the default UCX_TLS since we are using an AMD processor; a surprising fact for me but that was what a support engineer from Intel MPI informed me. So we had

[2021-02-02 15:57] abellina opened #6254 "It would be nice to have an API to query expected bandwidth for a peer + memory pair combination"
When UCP endpoints are created, it would be very useful to ask such endpoints what the theoretical bandwidth is to the peer, given a pair of memory types.

For example, if I connect between GPU0 and GPU1 in an NVLinked machine, I'd expect NVLink bandwidth. The API would just echo this back, asserting that the connection between the two could be NVLink (for GPU->GPU memory). If I picked H-D, D-H, o

[2021-02-02 16:14] shamisp commented on #6239
Can you give it a try:
[code]

[2021-02-02 16:30] vchuravy commented on #6239
This is with the Julia cross-compilation toolchain https://github.com/JuliaPackaging/Yggdrasil/blob/master/U/UCX/build_tarballs.jl

I will try out your patch.

[2021-02-02 18:19] shamisp commented on #6239
I will push this to master and will create port for v1.10.0 which will be released very soon.

[2021-02-02 18:33] bureddy commented on #6206
@Akshay-Venkatesh can you try #6208  confirm if this resolves the issue?

[2021-02-02 18:46] dmitrygx opened #6256 "dc_mlx5/test_tag_mp_xrq.zcopy_eager_only/0 failed on swx-rdmz-ucx-arm-hwi"
[code]
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/13175/logs/176

[2021-02-02 18:58] petro-rudenko opened #6257 "Assertion `listener->accept_cb != ((void *)0)' failed"
### Describe the bug
On SparkUCX benchmark (latest ucx master) fails:

[code]

### Steps to Reproduce
It doesn't reproduce with 2 weeks ago build (recent changes). Easily reproducible - I can provide a script.

[code]

[2021-02-02 19:15] Akshay-Venkatesh commented on #6206
@bureddy The message range between 1k and 2MB is much better with #6208 but 4MB (with osu_bw D H) seems to hang (tried with -x 0 -i 1 to run just one iteration where it still hangs).

[2021-02-02 19:47] dmitrygx commented on #6257
This assertion was added as a part of #5900 PR.
I guess, UCP requires either `CONN_CB` or `ACCEPT_CB` is specified by a user with the new CM flow. This is needed to provide a created during connection handling `UCP EP` to a user.
@evgeny-leksikov correct me if I'm wrong

[2021-02-02 19:50] yosefe commented on #6257
if this assertion checks user parameter is incorrect - should be converted to ucs_error("...") and return UCS_ERR_INVALID_PARAM

[2021-02-02 20:39] petro-rudenko commented on #6257
The same if conn_callback is specified. We don't have accept_callback in JUCX yet. Strange how jucx tests are passing then.

[2021-02-02 20:56] evgeny-leksikov commented on #6257
@dmitrygx @yosefe  `ucp_listener_create` does not require it explicitly in the doc, but API and implementation assumes that one of these callbacks is set, otherwise there is no way to get any notification about incoming connections.
@petro-rudenko do you mean if JUCX sets "conn_callback" you see this assertion as well? could you pls check if `UCP_LISTENER_PARAM_FIELD_CONN_HANDLER` is set, the call

[2021-02-02 20:59] yosefe commented on #6257
@evgeny-leksikov so let's document and check it?

[2021-02-03 08:09] evgeny-leksikov commented on #6257
done in #6262

[2021-02-03 08:22] petro-rudenko commented on #6257
My fault, works with connection_handler.

[2021-02-03 08:37] evgeny-leksikov commented on #6257
so, can close the issue?

[2021-02-03 09:31] yosefe commented on #6257
Should be closed by #6262

[2021-02-03 10:13] mkre commented on #5740
Just for the sake of completeness, we are still seeing the same behavior with 1.10.0-rc2 (no idea if you intend to fix this): significant regression with `UCX_TLS=ud,self,sm` which can be alleviated with `UCX_UD_TIMER_TICK=1000ms`.

[2021-02-03 10:17] yosefe commented on #5740
@mkre https://github.com/openucx/ucx/pull/6231 which is part of 1.10-rc2 was supposed to fix mist of the regression.
can you pls double check the version?
also, how does the performance compare to v1.9 ?

[2021-02-03 10:47] abhishekiitkgp9191 opened #6264 "UCX ERROR ibv_reg_mr failed: Cannot allocate memory"
### Describe the bug
I am running Openfoam-v2012 simulation (turbulent channel with particles) on cluster with 128 cores . The simulation works fine till 1 hour and then it shows ucx error. I have attached the log files, case files and the slurm script. I am unable to figure out the issue. Please help!

### Steps to Reproduce
- blockMesh
- decomposePar
- sbatch turbulent_channel_slurm

### Setup a

[2021-02-03 11:20] yosefe commented on #6264
Can you try to increase max VM areas?
for example: `sudo sysctl -w vm.max_map_count=262144`

[2021-02-03 11:35] mkre commented on #5740
Good that you're asking! I made a stupid mistake while downloading/extracting and ended up testing RC1 again. Sorry for the confusion!

I can confirm that the regression has gotten much smaller with RC2 compared to 1.8.0:

|| 1.8.0 || 1.9.0 || 1.10.0-rc2 ||
| 0.77 s || 2.15 s | 0.79 s ||

Thanks for addressing this for 1.10.0.

[2021-02-03 15:08] petro-rudenko commented on #6257
QQ: in `ucp_listener_accept_handler_t` passed endpoint is created with `peer_error_handling_mode` ?

[2021-02-03 15:31] evgeny-leksikov commented on #6257
err handling mode will be the same as client requested, you can set err handler with `ucp_ep_modify` but this API is deprecated , better to use conn handler

[2021-02-03 23:06] dmitrygx commented on #4616
[code]

[2021-02-04 21:29] dmitrygx commented on #6225
[code]
https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=13291&view=logs&j=73bd2a9e-6688-5c22-d122-7b1a0b6cbb81&t=cd3d3953-51ff-5d5c-c5ca-2864f3c1d670
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/13291/logs/216

[2021-02-05 06:42] dmitrygx commented on #6225
[code]
http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/9796/pipeline
http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/9796/nodes/55/steps/538/log/?start=0

[2021-02-07 14:36] #6225 closed

[2021-02-08 08:06] haipeng31 opened #6293 "Differences between short, bcopy, zcopy?"
No concrete descriptions about these three types of memory in documents, can anyone compare them in details, and when using, which one should I use, give some examples?

[2021-02-08 08:30] brminich commented on #6293
@haipeng31, there is some decription in https://github.com/openucx/ucx/blob/master/docs/source/faq.md
[code]

[2021-02-08 08:37] haipeng31 commented on #6293
@brminich already seen these， but still can't understand。bcopy, copy the thing want to send to a buffer, and then send the buffer？zcopy，directly send without copy，short, don't know what does it mean。In my opinion，zcopy is with best performance because it doesn't do copy，then In what situation should I use bcopy rather than zcopy，And what does short really mean, can give some examples?

[2021-02-08 14:06] shamisp commented on #6293
@haipeng31 before you investigate send protocols it is important to understand completion semantic that UCX and many other networking libraries use. Send or put operation is completed when the the source buffer is re-usable. For very small buffers it is efficient to use short send which in the most optimal case will copy the data from the source buffer to the buffer on the NIC. Bcopy will copy to

[2021-02-09 13:42] avildema opened #6301 "[mtt] fail on UCX_CUDA, test large_count"
Configuration
[code]
 
MTT log:
http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20210207_225841_11848_25510_vulcan02.swx.labs.mlnx/html/test_stdout_uG3jIp.txt
 
Cmd:
`/hpc/local/benchmarks/daily/next/2021-02-07/hpcx-gcc-redhat7.6/ompi/bin/mpirun -np 48 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' -x UCX_ERROR_SIGNALS=SIGILL,SIGSEGV,

[2021-02-09 14:47] Artemy-Mellanox commented on #5740
@mkre just to make sure - what is `UCX_UD_TIMER_TICK` setting in latest result?

[2021-02-09 14:50] mkre commented on #5740
I didn't change it, so it is set to the default value.

[2021-02-09 16:58] Akshay-Venkatesh opened #6304 "Hangs in ucx_perftest and wakeup with specific transports"
### Describe the bug
This [PR](https://github.com/openucx/ucx/pull/6224) exposed some potential issues with wakeup support. Adding a placeholder issue to track them.

[2021-02-09 20:05] #6206 closed

[2021-02-10 08:59] Artemy-Mellanox commented on #5740
@mkre Can we close the issue or there is something more to investigate?

[2021-02-10 09:06] mkre commented on #5740
Fine with me to close. Thanks again for addressing this before the final release of 1.10.0!

[2021-02-10 09:06] #5740 closed

[2021-02-10 15:07] #6172 closed

[2021-02-10 19:08] yosefe commented on #5192
Currently, the onesided close_nbx request is not completed because keepalive over wireup_msg is not being sent over wireup_ep->tmp_ep. Keepalive is using ep_check which is not enough for to_iface transport.
@hoopoepg @dmitrygx can you pls take a look?

Reproducer:
[code]

[2021-02-10 19:35] hoopoepg commented on #5192
what is configure options?
failed to reproduce on debug build

[2021-02-10 19:40] yosefe commented on #5192
This is debug build, using configure-devel
it takes several iterations to fail

[2021-02-10 19:44] tonycurtis opened #6311 "Compile: UCT ib_mlx5_dv fails on a particular machine"
### Describe the bug

compile fails with missing macro

### Steps to Reproduce

github master @ 26ddfdd74aa6e3cd26896bf0010267aa97dfd50c

### Setup and versions
- OS version (e.g Linux distro) + CPU architecture (x86_64/aarch64/ppc64le/...)

[code]

- For RDMA/IB/RoCE related issues:
        - or: MLNX_OFED version `ofed_info -s`

[code]

### Additional information (depending on the issue)

`confi

[2021-02-10 19:46] yosefe commented on #6311
probably introduced in #6290

[2021-02-11 02:54] Artemy-Mellanox commented on #6311
@tonycurtis could you plz provide entire config.h and config.log

[2021-02-11 02:59] tonycurtis commented on #6311
[config-h.txt](https://github.com/openucx/ucx/files/5962961/config-h.txt)
[config-log.txt](https://github.com/openucx/ucx/files/5962962/config-log.txt)

[2021-02-11 03:46] Artemy-Mellanox commented on #6311
@tonycurtis could you plz check whether fix https://github.com/openucx/ucx/pull/6314 solves

[2021-02-11 18:07] brminich opened #6320 "ud/test_ucp_sockaddr_protocols_err.tag_zcopy_64k_unexp_sync/3 fails on r-vmb-ppc-jenkins"
### Describe the bug
http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/10001/nodes/52/steps/491/log/?start=0
[code]

[2021-02-11 21:16] dmitrygx commented on #6320
[code]
it happens because we do sending AM KeepAlive for CM EP (e.g. rdmacm/tcp_sockcm)

[2021-02-12 10:22] mkre opened #6327 "Host to device bandwidth issues with osu_bw and CUDA"
### Describe the bug
We are seeing lower than expected bandwidth with HPC-X and CUDA for host-device transfers on a single machine (no InfiniBand involved).

* With default settings, the bandwidth peaks at around 9.5 GB/s for a message size of 262K and declines to 4 GB/s significantly for larger messages:
[code]
* Setting `UCX_RNDV_SCHEME=get_zcopy` helps to sustain the bandwidth for large message

[2021-02-12 12:33] rlgraham32 opened #6328 "Segfault when using AM with alltallv algorithm"
When running the test code enclosed I get the following segfault:

Caught signal 11 (Segmentation fault: address not mapped to object at address 0x14a300000000)
This occurs within the ucx worker progress, and specifically in the AM code path.  I am not able to get traceback, so do not have on to provide.

### Steps to `Reproduce`
Test `code:
[a2av.txt](https://github.com/openucx/ucx/files/5971747/

[2021-02-12 12:36] rlgraham32 commented on #6328
Addubg config lines:

UCX:
 ./configure --prefix=/global/home/users/richardg/projects/palltoallv/ucx --with-knem --without-java --enable-devel-headers --without-cuda --without-gdrcopy --enable-debug

HCOLL:

  $ ./configure --prefix=/global/home/users/richardg/projects/palltoallv/hcoll_rich/hcoll --with-ucx=/global/home/users/richardg/projects/palltoallv/ucx --without-sharp --enable-debug

Open MP

[2021-02-12 17:14] bureddy commented on #6327
is it regression from your previous versions?

UCX_TLS=sm,gdr_copy is not the correct configuration.   cuda_copy TL is mandatory for supporting Cuda. can you try : -x UCX_TLS=UCX_TLS=sm,cuda_copy,gdr_copy.  anyway, gdrcopy will be get used automatically with default UCX_TLS  if you have it in your environment.

in cuda sample HtoD, it a same process trasnferring from host to device with cudamemcpy

[2021-02-12 17:28] mkre commented on #6327
Depends on how you see it. The peak bandwidth is faster with 1.10.0 compared to 1.8.0, but we don't see the drop with 1.8.0. With 1.8.0, the bandwidth is similar, but a little lower, to the `UCX_RNDV_SCHEME=get_zcopy` results posted above (i.e., no drop for the largest message sizes).

Okay, thanks for the clarification. It was just one thing I wanted to try to increase the performance.

Same as w

[2021-02-12 18:11] bureddy commented on #6327
staging can be avoided only with GPUDirectRDMA for which you need IB transporst.  does this server have IB card?

[2021-02-12 19:10] akjt opened #6331 "UCX WARN unexpected tag-receive descriptor"
### Describe the bug
We have faced the following warning for some time now and we wonder what the root of this could be. I have manage to trace down where the warning gets "printed", namely just after we invoke the `MPI_FINALIZE` routine.

[1613156385.504436] [compute-0-13:26615:0]       tag_match.c:61   UCX  WARN  unexpected tag-receive descriptor 0x2b44a6789140 was not matched
[1613156385.504492

[2021-02-12 20:13] yosefe commented on #6331
It means the MPI application did not receive some of the messages that were sent to it, per MPI specification for MPI_Finalize:
https://www.mpi-forum.org/docs/mpi-3.1/mpi31-report.pdf page 357:

[2021-02-13 11:12] #6331 closed

[2021-02-13 11:18] yosefe commented on #5412
fixed in https://github.com/linux-rdma/rdma-core/pull/849

[2021-02-13 11:18] #5412 closed

[2021-02-13 11:18] #6188 closed

[2021-02-13 11:20] yosefe commented on #5351
probably reached QP limit with UCX_RC_MLX5_TM_ENABLE=y  and NUM_PATHS=4
@avildema can you pls configure mtt so it would not run NUM_PATHS=4 along with TM_ENABLE=y

[2021-02-13 18:02] dmitrygx opened #6334 "test_ucp_sockaddr_protocols_err failed to send wireup message"
[code]
Job link: http://hpc-master.lab.mtl.com:8080/blue/organizations/jenkins/ucx/detail/ucx/10063/pipeline
Job log link: http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/10063/nodes/53/steps/367/log/?start=0

[2021-02-13 18:16] dmitrygx commented on #6334
[code]

[2021-02-14 00:45] shamisp commented on #6293
@haipeng31 Can we close this one ? thanks !

[2021-02-14 01:31] haipeng31 commented on #6293
sorry forget about it.

[2021-02-14 01:31] #6293 closed

[2021-02-14 09:40] yosefe opened #6339 "leak in ucp_wireup_msg_send - v1.10"
https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/13642/logs/168
[code]

[2021-02-15 06:12] brminich commented on #6334
duplicate of #6320

[2021-02-15 06:12] #6334 closed

[2021-02-15 07:31] mkre commented on #6327
Yes, we do have an IB card in the server:
[code]

But we don't have MOFED installed. Could this be a reason for non-working GPUDirectRDMA?

So, is it correct that we also need an IB card if we just want to avoid the staging on a _single host_?

[2021-02-15 16:19] dmitrygx opened #6341 "tcp/test_ucp_sockaddr_protocols_err.tag_zcopy_64k_unexp_sync/1 timed out"
[code]
Link to log: https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/13674/logs/267
Link to job: https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=13674&view=logs&j=29aeebdb-3078-5ca1-e7df-02da2ddf99b4&t=ccac58dc-e7b6-5bfe-6f92-cc68fc64c085

[2021-02-16 09:42] #6253 closed

[2021-02-16 16:51] #6214 closed

[2021-02-16 19:15] bureddy commented on #6327
yes, you need to IB and enable GPUDirectRDMA to avoid staging

[2021-02-16 21:17] dmitrygx commented on #5535
@opoplawski is this issue still relevant? did you see this with the current UCX master?

[2021-02-16 21:19] dmitrygx commented on #5126
@aasraoui ping

[2021-02-17 09:41] mkre commented on #6327
@bureddy, how can I check that GPUDirectRDMA is enabled? Note that I do have an InfiniBand card, but I don't have MOFED installed (so, no InfiniBand drivers).

Regardless of the GPUDirectRDMA issue, I'm still wondering about the kind of erratic uni-directional host-to-device bandwidth with default settings vs. `UCX_RNDV_SCHEME=get_zcopy` when using HPC-X 2.8:
![osu_bw-HPCX2.8](https://user-images.

[2021-02-17 10:36] #6339 closed

[2021-02-17 10:36] dmitrygx commented on #6339
fixed by #6349

[2021-02-17 15:59] abellina opened #6355 "Issue with TCP in 1.10 RC3"
I am seeing the following issue when running with UCX 1.10 RC3 with TCP. I see it with CUDA buffers specifically, and not with host buffers.

[code]

I used the following container to reproduce, and have two containers (in different machines):

[code]

[2021-02-17 16:28] Akshay-Venkatesh commented on #6304
cc @abellina

[2021-02-17 16:43] bureddy commented on #6355
It seems the assertion line (`rndv.c:1599 Assertion`) is not matching with the source code ( https://github.com/openucx/ucx/blob/v1.10.0-rc3/src/ucp/rndv/rndv.c#L1573).
is is RC3 ?

[2021-02-17 16:46] dmitrygx commented on #6355
@abellina I've not managed to reproduce this with 1.10-rc3 and master, so could you check the UCX version pls as @bureddy suggested?
if I'm not mistaken, we have seen this issue with some old UCX version and it should be fixed.

[2021-02-17 17:32] dmitrygx opened #6357 "posix/test_uct_event.am_no_fc/0 on swx-rdmz-ucx-gpu-02"
[code]
Link to the job: https://dev.azure.com/ucfconsort/ucx/_build/results?buildId=13741&view=logs&j=f6a00158-c162-5d05-e321-5b7f75412dc2&t=1b8c0ea8-5fdd-5b35-a853-1eec20ac7859
Link to the log: https://dev.azure.com/ucfconsort/0b36e3f0-8ab9-4a48-b68b-4b2350e02c88/_apis/build/builds/13741/logs/227

[2021-02-17 19:37] abellina commented on #6355
Thanks for looking at this @bureddy and @dmitrygx and sorry again. @yosefe fyi.

[2021-02-17 19:44] dmitrygx commented on #6355
@abellina not a problem and thank you for reporting anyway!

[2021-02-18 03:16] opoplawski commented on #5535
I don't seem to be seeing this with UCX 1.9.0.

[2021-02-18 03:16] #5535 closed

[2021-02-18 07:09] avildema opened #6361 "[MTT] Fail on ajna cluster (pml_ucx.c: Failed to resolve UCX endpoint)"
Configuration
[code]
 
MTT log:
http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/hcol/20210215_102426_3817_26239_ajna01.swx.labs.mlnx/html/test_stdout_scxEzB.txt
 
Cmd:
`/hpc/local/benchmarks/daily/next/2021-02-14/hpcx-gcc-redhat7.6/ompi/bin/mpirun -np 96 --display-map --bind-to core --map-by node -mca op '^avx' -mca pml ucx -mca btl self -mca btl_openib_warn_default_gid_prefix 0 -mca btl

[2021-02-18 07:16] #5192 closed

[2021-02-18 07:16] #6320 closed

[2021-02-18 10:00] brminich commented on #6328
There are a couple of errors in AM API usage in hcoll code:
1. There is no need to call `ucp_am_data_release()` inside the AM data callback. The rule is the following:
   - If you do not need to access this data outside the AM data callback, just return UCS_OK, no need to invoke `ucp_am_data_release()`
   - If you want to keep using arrived data outside AM data callback need to return UCS_INPROGRE