[2018-12-22 19:35] yosefe commented on #2963
@jithinjosepkl the accelerated verbs transports (dc_x/rc_x) allocate a "resource domain" context, in addition to the verbs context. The resource domain consumes a single global UAR which is used by all process, and is also accounted into the limit imposed by "max_device_ctx".
Using UCX_TLS=rc selects the "regular" RC transport, not the accelerated one, which does not allocate a resource domain.
So

[2018-12-24 00:58] #3087 closed

[2018-12-29 20:50] yosefe opened #3107 "failure in thread_mutex/test_async.modify_event"
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/8463/label=hpc-test-node,worker=3/consoleFull
[code]

[2019-01-01 18:14] yosefe commented on #3066
currently there is no such way. there are many limitations on number of workers, which depend on how many devices and transports are used per worker, amount of memory in the system, size of buffer pools in the transports, and much more. Usually we aim to support at least one worker per CPU logical core on the currently supported platforms.

[2019-01-01 18:35] yosefe commented on #3094
@sasuke79 i've tried with gcc 7.1.1 and binutils 2.27-28.fc26 (on fedora 26) and got no errors. Did you build  binutils from source? How did you point UCX to /apps/default/include/bfd.h?

[2019-01-01 18:45] yosefe commented on #3063
the hang in https://github.com/openucx/ucx/issues/3063#issuecomment-445710345 is not related to emulation layer, but a bug in shmem_collect introduced by zero-size collectives change in OpenMPI/SHMEM

[2019-01-02 10:13] #3063 closed

[2019-01-02 13:51] yosefe commented on #3042
update: this is more of a hold in client/server connection establishment. we plan to fix it as part of upcoming rework in this area.

[2019-01-03 08:36] yosefe commented on #3038
@bertwesarg when you write "UCX with KNEM", do you mean a specific runtime configuration, of build configuration?

[2019-01-03 08:37] #2994 closed

[2019-01-03 19:30] jiguanglizipao opened #3113 "How to make put_zcopy performance as good as put_bcopy when data size is smaller than 8K"
Hi, I am using ucp level rdma put.
I noticed that ucx use put_bcopy when data is smaller than 8K. I tried and zcopy is really slower than bcopy but bcopy needs a memcpy.
I want to know what is the buffer like in bcopy and how to direct write to that buffer or how to create a buffer. Thank you.

[2019-01-03 22:19] jithinjosepkl commented on #3097
Thanks @yosefe . Unfortunately DCT is not available for us atm.
But I confirm that things are better with 1.5rc, and I am able to run with ud_x.

[2019-01-04 11:56] #2963 closed

[2019-01-04 15:15] shamisp commented on #2963
@yosefe can we document it somewhere on wiki ?

[2019-01-04 17:06] yosefe commented on #3113
@jiguanglizipao UCP prefers bcopy fro smaller messages because zcopy has to wait for ACK before the buffer can be reused. you could use ucp_put_nb() and wait for the request later (or issue several requests in parallel) to get a better message rate/bandwidth with zcopy. With bcopy mode, the buffer is allocated internally in the UCT layer, and released (internally) when the operation completes by A

[2019-01-05 11:30] yosefe commented on #3113
@jiguanglizipao the bcopy buffer is released by uct_worker_progress() called from ucp_worker_progress(). it polls the completion queue and release all buffers completed by HW.
can you pls try `ucp_put_nb()` (without 'i') ? post N put's, then wait for 1 to complete to post the next one, etc (eg always have outstanding N puts)

[2019-01-06 15:08] shamisp commented on #3113
@jiguanglizipao If you want to directly write to the buffer, you can use custom datatype with a pack function that is invoked through callback.

[2019-01-06 15:09] yosefe commented on #3113
@shamisp unfortunately, we don't support custom datatypes for RMA today in UCP API

[2019-01-07 09:51] jiguanglizipao commented on #3113
@yosefe @shamisp Thank you very much. I will try @yosefe 's method latter.

[2019-01-07 12:41] miked-mellanox commented on #3113
@jiguanglizipao - out of curiosity, what`s use-case you are pursuing with UCX?

[2019-01-07 15:31] yosefe commented on #3113
@shamisp I would say it's more of an API issue rather than implementation. We would need to add extra argument, which we wanted to avoid for performance reasons, and rename the functions to maintain backward API compatibility

[2019-01-07 19:05] shamisp commented on #3113
@yosefe can be added as a new API. Main question - do we really need it. Most basic use case is MPI ?

[2019-01-07 19:11] yosefe commented on #3113
MPI-RMA

[2019-01-08 16:36] shamisp commented on #3113
At some point we would have to deal with this.

[2019-01-09 12:18] #3023 closed

[2019-01-09 14:11] marxin opened #3119 "GCC 9: new warnings for -Werror=address-of-packed-member option"
Using current GCC trunk, one can see multiple errors:

[code]

[2019-01-09 16:22] shamisp commented on #3119
Looks like a valid concern. CLANG has similar checks as well.
@yosefe maybe we should keep two versions of  objects - packed and unpacked ?

[2019-01-09 16:23] shamisp commented on #3119
or implement packer and unpacker :-/ for objects that we communicate over network ...

[2019-01-09 16:50] yosefe commented on #3119
unpacker = CPU overhead
I guess the concern here is that compiler does not guarantee the alignment of the pointer? we should probably do some __attribute__(aligned) magic

[2019-01-09 17:09] shamisp commented on #3119
we can keep both copies. I feel like "aligned" contradicts to "packed". I guess we pack it for OOB exchange ?

[2019-01-09 18:20] yosefe commented on #3119
no, skb is used in data path

[2019-01-10 13:09] angainor opened #3123 "Question - using RMA with shared memory transports"
It seems that `ucx_perftest` (UCX 1.4 shipped with HPCX 2.2) cannot do RMA when only shared memory transports are enabled:

[code]
Is that the correct behavior? I need to set `UCX_NET_DEVICES="mlx5_0:1"` for things to work, although I would assume that RMA works within a shared memory node without requiring Infiniband. Also, `ucx_info -d` shows that `knem` and `cma` at least support `put_zcopy`, a

[2019-01-10 13:31] yosefe commented on #3123
@angainor shortly, this issue is fixed with UCX 1.5 release :)
in more detail, not all shared memory mechanisms support direct attach of remote process memory. in UCX v1.4.0, ucp required that all primitives (bcopy+zcopy) would be supported by UCT, and if it was not, you'd get an error like the above.
Starting with v1.5.0, ucp emulates the unsupported primitives, while still using the ones which a

[2019-01-10 13:39] angainor commented on #3123
@yosefe Thanks, I'll try the 1.5 branch.
Another thing I was wondering is support for events with shared memory transports, but in the meantime I've found #901, which is still Open. Does it mean that `ucp_worker_arm / ucp_worker_wait` is planned, but still not implemented for SHM?

[2019-01-10 13:43] yosefe commented on #3123
@angainor currently it's supported, added in #1730

[2019-01-10 13:43] yosefe commented on #901
fixed in #1730

[2019-01-10 13:43] #901 closed

[2019-01-10 14:23] angainor commented on #3123
@yosefe Regarding my second question: when I require wakeup capabilities, I can't create an endpoint without enabling network devices:

[code]

I get the same message when I call `ucp_ep_create` in my code. This is the same in 1.4, and 1.5. Any ideas what am I missing?

[2019-01-10 14:52] yosefe commented on #3123
@angainor currently shared memory transports only provide wakeup with specific active message flag (to avoid unix socket write overhead every time) while UCP requires wakeup without such flag. So wakup on shared memory is currently supported only on UCT level, but not on UCP.

[2019-01-10 15:12] shamisp commented on #3123
Do we plan to expose it on UCP level ?

[2019-01-10 15:19] angainor commented on #3123
@yosefe FYI, with UCX 1.5 branch I can run the `ucp_put_bw` without network devices, but the performance is really low:

[code]
On this system the tag bw is around 12GB/s, so it seems there are some overheads here.

[2019-01-10 15:22] yosefe commented on #3123
@shamisp AFAIR we never added it to plans

[2019-01-10 15:24] shamisp commented on #3123
@yosefe We should discuss this. Seems like for consistency reasons it is nice to have.

[2019-01-10 22:37] yosefe opened #3127 "failure in dc_mlx5/test_uct_event_ib"
[code]

[2019-01-11 09:53] yosefe commented on #3119
Looking at this again, seems like a bug in gcc9 - it complains about an alignment of a *pointer* in packed struct. the alignment of the pointer value should not be related to the alignment of the pointer variable itself. trying to find a workaround...

[2019-01-11 09:56] hoopoepg commented on #3119
is GCC 9 released? may be just wait for release?

[2019-01-11 10:04] marxin commented on #3119
not yet.

I'm going to urge porting_to entry about the new warning. It will explain why is it dangerous.

[2019-01-11 10:40] yosefe commented on #3119
WAed by void-casting to local variable. Anyway, the warnings in UCP/stream and UCT/mm seem justified.

[2019-01-11 15:02] ca-taylor opened #3130 "Send completion error with OpenMPI 3.1.2 UCX PML"
I'm getting the errors below a few minutes into a 3840-task (i.e. rank) OpenMPI run with the following.

export OMPI_MCA_pml="ucx"
export OMPI_MCA_pml_ucx_verbose=100
export OMPI_MCA_btl="^vader,tcp,openib"
export UCX_RC_VERBS_FC_ENABLE=n

Note that I get the error with or without FC enable.  That was just my naive attempt to change something.

I may cross post this to the OpenMPI user list but it

[2019-01-11 15:05] ca-taylor commented on #3130
I should have added...

RHEL 7.5
OpenMPI 3.1.2
ucx 1.2.2 (native RH).
The application is gizmo (Astronomical simulation code).
Mellanox IB fabric with a mix of mlx4 and mlx5 (mostly mlx4)
with native RH IB stack (no MOFED).

[2019-01-11 15:16] brminich commented on #3130
Can you please also post a command line? Do you specify any UCX env vars?

[2019-01-11 15:46] ca-taylor commented on #3130
The app run command looks like this...

export OMPI_MCA_pml="ucx"
export OMPI_MCA_pml_ucx_verbose=100
export OMPI_MCA_btl="^vader,tcp,openib"
export UCX_LOG_LEVEL=DEBUG
export UCX_LOG_FILE=/ufrc/narayanan/desika.narayanan/ucx.log

DATADIR=$SLURM_SUBMIT_DIR
cd $DATADIR/gizmo_simba
srun --mpi=pmix_v2  $DATADIR/gizmo_simba/GIZMO $DATADIR/m50n1024.param   1 > $DATADIR/LOG

[2019-01-11 17:31] yosefe commented on #3130
@ca-taylor this UCX version is pretty old.. any chance you can try out [v1.5.0-rc1](https://github.com/openucx/ucx/releases/tag/v1.5.0-rc1)?

[2019-01-11 18:33] ca-taylor commented on #3130
Agreed.  We are in the process of upgrading to the 1.4.0 build in EPEL.   If that doesn't help I'll build our own 1.5.0-rc1 RPM.

[2019-01-13 16:11] #3119 closed

[2019-01-15 00:14] benmenadue opened #3133 "v1.3.1: MD name must begin with MD component name."
Hi,

One of our users has reported this assertion failure with UCX 1.3.1 and OpenMPI 3.0.3:
[code]
The "`patched`" in the paths is just the fix for #2888, so unrelated to these parts.

The error message at the start suggests that `md_resources[i].md_name` is literally "`%s`", which doesn't make any sense. I had a look through those sections of the code, and I can't work out how this assertion coul

[2019-01-16 07:18] chrissamuel opened #3135 "--with-ugni=no is not honoured if ugni libraries installed"
Hi there,

I am trying to help someone get OMPI and UCX going on some x86-64 Infiniband connected nodes that use an image based on Cray eslogin nodes but with OpenSuSE as the base rather than SLES12.  Consequently there are various Cray libraries installed and it does not appear to be able to disable the use of ugni with them present.

Using the 1.5.0RC1 tarball I've been able to fix this by chang

[2019-01-16 07:45] dmjacobsen commented on #3135
After Chris posted this in our chat, I started looking at the master branch (where config/m4/cray_ugni.m4 has been moved to src/uct/ugni/configure.m4)

In any case I think this patch fixes it:

[code]

The current logic disregards anything the user provides because it sets with_ugni to forced if the user provides any argument.  The supplied patch reverses the logic by explicitly setting a default

[2019-01-16 07:52] miked-mellanox commented on #3135
maybe you need try with ```./configure --without-ugni ...```

[2019-01-16 08:11] dmjacobsen commented on #3135
--without-ugni is non-functional for the same reason as above -- the AC_ARG_WITH _action-if-given_ argument overrides anything the user submits.  Also, we tried it =)

[2019-01-16 14:18] dmjacobsen commented on #3135
PR 3136 addresses this.

[2019-01-17 00:02] Akshay-Venkatesh opened #3139 "Unable to listen with error in rdma_bind_addr for test/examples/ucp_client_server"
Hi,

I'm running on master branch:
[code]
There are two issues I see:
1. On a machine where this test works correctly, I see this in
[code]
This is not expected output, right?

2. On another machine where this example fails, I see the same output from ucx_info as above but I also see this when I try to start the server:

[code]

Any thoughts on why this error occurs? All of udaddy, rdma_server/rdm

[2019-01-17 07:56] evgeny-leksikov commented on #3139
@Akshay-Venkatesh < no supported devices found > is OK for rdmacm memory domain because it's not bound to any device. I agree that message looks confusing and should be fixed to smth else.
Could you check if 6452 port is not used on your second machine? for example, by other instance of test.

[2019-01-17 13:43] ca-taylor commented on #3130
After upgrading to the 1.4.0 build in EPEL, the "local length" errors seem to have gone away.  The application deadlocks at an MPI_barrier() call but there are no complaints from UCX or the OpenMPI ucx PML so that is probably a different issue.

Thanks for the suggestion.

[2019-01-17 13:43] #3130 closed

[2019-01-17 15:46] shamisp opened #3141 "gtest test_time.time_calc fails on Bluefiled smart nic"
[code]

[code]

@yosefe - busted test ?

[2019-01-17 15:48] shamisp commented on #3135
@manjugv @hjelmn can you please take a looks since it is ugni related.

[2019-01-17 16:41] Akshay-Venkatesh commented on #3139
You were right @evgeny-leksikov
Thanks for the help!

[2019-01-17 18:21] Akshay-Venkatesh commented on #3139
@evgeny-leksikov One suggestion is to throw a better error for this case. Would it be possible to detect that port is in use?

[2019-01-17 18:55] MattBBaker opened #3143 "Build system strips LDFLAGS, causing builds to fail."
On systems where you need to set custom LDFLAGS the UCX compile on master will fail. On Cray we need -LDFLAGS='-dynamic' to link dynamic programs when using the cray compiler. However, on master when configured with
```./configure CC="cc" CXX="CC" LDFLAGS="-dynamic"```
Make goes well until linking ucx_info
[code]
Going in and manually adding -dynamic to that line makes the link work. Up until it h

[2019-01-17 21:14] dmjacobsen commented on #3135
Added PR 3144 to address this in 1.5.x

[2019-01-17 22:57] chrissamuel opened #3145 "UCX 1.5RC1 segfaults in MPI_Barrier() in OMPI 4.0.0 unless IB devices are restricted"
Hi there,

I've found that when I build Open-MPI 4.0.0 with the UCX 1.5RC1 tarball I see a segfault when running the OSU MPI benchmarks from inside MPI_Barrier().

[code]

I found that the solution was to restrict the devices to just those intended for MPI with:
`export UCX_NET_DEVICES=mlx5_0:1,mlx5_2:1,mlx5_4:1,mlx5_6:1`

All the best,
Chris

[2019-01-17 23:05] chrissamuel commented on #3145
I've attached the output from one of these nodes for:

ucx_info -d for device info
ucx_info -f for decorated config info

[ucx-info-decorated.txt](https://github.com/openucx/ucx/files/2770919/ucx-info-decorated.txt)
[ucx-info-devices.txt](https://github.com/openucx/ucx/files/2770920/ucx-info-devices.txt)

[2019-01-18 02:15] Akshay-Venkatesh commented on #3139
@evgeny-leksikov Another thing I wanted to check is why ucx doesn't retry another port number to bind to.  Is it the case that `6452` is reserved? I checked `ucp_context.c` to see if there is an environment variable to set this but it doesn't seem to be the case. Lmk if you know more.

[2019-01-18 15:10] shamisp commented on #3135
Fixed in #3136

[2019-01-18 15:10] #3135 closed

[2019-01-18 16:37] chrissamuel commented on #3135
Thank you so much everyone!

[2019-01-18 17:06] yosefe commented on #3145
@cbergstrom thanks for the detailed info! we will check this

[2019-01-18 17:23] Akshay-Venkatesh commented on #3139
Hi, Yossi.

When I wasn't able to run, I wasn't able to run the server at all. I simply compiled `test/examples/ucp_client_server.c` using `gcc ucp_client_server.c -o ucp_client_server -L $PWD/lib -lucm -lucs -lucp -luct ` and ran `./ucp_client_server`. This lead to the error. So by default rdma_bind_addr is attempting to bind at `0.0.0.0:6452`. This seems external to the 13337 port number chosen

[2019-01-18 17:59] yosefe opened #3147 "fix ucx_info help message"
https://bugzilla.redhat.com/show_bug.cgi?id=1667548

[2019-01-18 18:00] shamisp commented on #3147
"access denied" on the link.

[2019-01-18 18:06] yosefe commented on #3147
Do you have RH bugzilla account?

[2019-01-18 18:07] chrissamuel commented on #3145
No worries @yosefe, but I think you got the wrong Chris there! :-)  (waves at @cbergstrom)
Do let me know if there's any more information I can gather for you.

[2019-01-18 18:54] shamisp commented on #3147
[code]

[2019-01-18 18:56] shamisp commented on #3147
I was about to tag 1.5.0 RC2. If you think that turnaround time on this one is short, we can wait.

[2019-01-20 10:19] hoopoepg commented on #3145
@chrissamuel hi
could you try to make bit more investigations?
1. could you add parameters ```-mca btl ^openib``` and run application?
2. is it possible to build debug version of UCX and get crash stack for it?

thank you

[2019-01-21 01:41] chrissamuel commented on #3145
Hi there,

I should have mentioned that the example runs are with:

`export OMPI_MCA_btl=^openib,tcp`

to avoid it using those BTL's and force it to use UCX.  This crash doesn't happen if it's using openib.

I should mention this is the first time I've gotten UCX to work at all, I've always had to disable it in the past when I was in Australia to avoid OpenMPI crashing.  I suspect I was running in

[2019-01-21 01:42] chrissamuel commented on #3145
Forgot to mention I'm going to be tied up this coming week with moving house and full day meetings/conference in work.  I'll do the debug build test as soon as I can after that.

[2019-01-21 08:08] yosefe commented on #3145
i think https://github.com/openucx/ucx/pull/3092 might resolve the issue. @hoopoepg / @chrissamuel can you pls check?

[2019-01-21 10:09] hoopoepg commented on #3145
@chrissamuel I can't reproduce issue on our environment... could you try this fix on your configuration?
thank you

[2019-01-21 14:41] shamisp commented on #3147
Can somebody copy-n-paste the error report since it is not accessible. Otherwise it is not clear what we have to review.

[2019-01-23 10:00] #3147 closed

[2019-01-23 15:49] chrissamuel commented on #3145
Hi @yosefe @hoopoepg,

Will try and do so ASAP, may not be possible until early next week for above reasons.

All the best,
Chris

[2019-01-23 17:39] MattBBaker commented on #3143
Just double checked, this does not affect the 1.5.x branch, only master.

[2019-01-23 18:35] MattBBaker commented on #3143
It looks like #3108 is the change that broke things.

[2019-01-24 03:53] Akshay-Venkatesh opened #3152 "Query Endpoint information/ user data in server accept callback or later"
Hi,

Upon successful accept at listener, today I have an opaque handle for the ep connected to the peer. Is it possible to query information about the newly connected EP? Information such as remote hostname, pid, EP pointer is what I'm looking to extract. I don't know if these are possible today. It would useful to be able to pass user data and user data length to ep_create in server-client connec

[2019-01-24 04:10] jiguanglizipao commented on #3113
I am working on a RDMA State Machine Replication, using ucx to communicate the logs and control messages.

[2019-01-24 07:05] evgeny-leksikov commented on #3152
Do you generate TAG to identify EP on recv side? Why just do not use stream API?`ucp_stream_worker_poll` returns EPs with arrived data, and then do `ucp_stream_recv_nb` on specific EP. If you need something "message oriented" you can put size to header and recv msg by 2 calls in whorse case: `ucp_stream_recv_data_nb` to get header and some portion of data and do `ucp_stream_recv_nb(... , UCP_STREA

[2019-01-24 15:52] #3143 closed

[2019-01-24 17:46] Akshay-Venkatesh commented on #3152
Actually, instead of `stream_recv_nb` can I not just use `tag_recv_nb` after accept? (BTW, this is currently what I'm doing). I use `tag_recv_nb` to receive some external information about the connection. I use that external information as a tag for the rest of transfers on that newly accepted connection. I prefer to avoid this approach because I have to wait for the completion of the `tag_recv_nb

[2019-01-24 18:04] dimaleks opened #3156 "Question: cannot get cuda_ipc to work"
Hello!
I was trying to install the UCX on our new Nvidia DGX machine with 4 V100 GPUs to test the MPI over NVlink.
However, I couldn't manage to make cuda_ipc transport to work. The google tests on this transport are mostly marked as skipped:
[code]

Nvprof inspection of the tests didn't give me any DtoD transfers, only HtoD or DtoH.
Also the perftest  spits out an error if I ask for cuda_ipc:
[co

[2019-01-24 18:09] yosefe commented on #3156
adding @Akshay-Venkatesh

[2019-01-24 18:18] Akshay-Venkatesh commented on #3156
@dimaleks Indeed `put_short` isn't expected to work. `cuda_ipc` transport only supports `put_zcopy` and `get_zcopy` uct operations (refer [here](https://github.com/openucx/ucx/blob/master/src/uct/cuda/cuda_ipc/cuda_ipc_iface.c#L80)). For shorter messages, `ucp` relies on other mechanisms to transfer data between two GPUs.

The test fails here because you restrict the transport and the device that

[2019-01-24 18:32] Akshay-Venkatesh commented on #3156
`-x ucp_put_lat` seems incorrect. `-t ucp_put_lat` is probably what you meant.

[2019-01-24 18:36] dimaleks commented on #3156
Oh, sorry, pasted a wrong output. In fact, I see that `-m cuda` triggers help message in all the cases
[code]
[code]

[2019-01-24 18:54] Akshay-Venkatesh commented on #3156
I just checked and it seems like there's a bug in ucx_perftest.

@yosefe looks like [`cuda_global_init()`](https://github.com/openucx/ucx/blob/master/src/tools/perf/lib/libperf.c#L1619) (where [`ucx_perf_mem_type_allocators[UCT_MD_MEM_TYPE_CUDA]`](https://github.com/openucx/ucx/blob/master/src/tools/perf/cuda/cuda_alloc.c#L84) is initialized) is done after options check [where](https://github.com/

[2019-01-24 19:04] dimaleks commented on #3156
I see! But that doesn't affect the google test suit, or does it?
Because my original goal is making cuda_ipc work, and I tried to do that with OpenMPI atop UCX and with tests as well. Didn't have any luck

[2019-01-24 19:59] Akshay-Venkatesh commented on #3156
@dimaleks Not sure if this affects google test suit.
Did you try using the first section in this [FAQ](https://www.open-mpi.org/faq/?category=buildcuda) to build and run OpenMPI+UCX-CUDA?

[2019-01-24 21:20] dimaleks commented on #3156
I think I resolved my main issue, thank you for help!
I have indeed followed the guide to install everything, but then I ran my own very minimal example.
In order to force the execution on different GPUs I was passing different value for CUDA_VISIBLE_DEVICES to each of the ranks, and this made cuda_ipc not working.

I just have two quick follow-up questions:
1. Is there a specific transport for ca

[2019-01-24 21:43] shamisp commented on #3156
@Akshay-Venkatesh It would be useful to have FAQ entry for GPU users

[2019-01-24 21:56] bureddy commented on #3156
@dimaleks  can you try -x UCX_RNDV_THRESH=2048

[2019-01-24 22:02] dimaleks commented on #3156
Thanks a ton guys, it looks really good now!
[code]

[2019-01-25 06:40] evgeny-leksikov commented on #3152
The difference between `tag` and `stream` recvs is a context object. Tag matching context is a worker, so you will receive messages from all clients here and need to identify the client by TAG and guarantee no collisions generating it on the server or using some hash function and extra user info as an argument. I guess the last thing is what you are trying to do.
Stream recv context is an endpoint

[2019-01-25 12:54] yosefe commented on #3156
@Akshay-Venkatesh thanks for the catch! should be fixed by #3157

[2019-01-25 17:12] shamisp commented on #3156
We really should FAQ all of these at UCX Wiki and cross-reference from OMPI FAQ

[2019-01-25 17:19] Akshay-Venkatesh commented on #3156
@shamisp, I agree with you on documenting this on a wiki page in ucx and cross referencing on ompi. Is there a PR procedure for wiki pages?

[2019-01-25 17:22] shamisp commented on #3156
@Akshay-Venkatesh - Not really. I believe you should have the permission to create one.

[2019-01-25 17:32] Akshay-Venkatesh commented on #3152
@evgeny-leksikov my apologies but you're right and I missed noticing that stream_recv_nb has an EP parameter. Stream API definitely suffices.

However, we plan to send and receive from cuda buffers. Isn't there a performance limitation with stream operations in cuda buffers today?

[2019-01-25 18:55] evgeny-leksikov commented on #3152
Today we have implementation of stream API over UCT AMs, there is no rdnv yet, but cuda memory should be supported for AM bcopy/zcopy at least. @bureddy do you have any perf numbers of stream send/recv vs tag API on cuda memory?

[2019-01-25 19:12] bureddy commented on #3152
the cuda perf is very bad because of AM bcopy/zcopy. And it could not use cuda perf protocols ( GDR, cudaIPC) because of no rndv.

[2019-01-25 19:22] shamisp commented on #3152
Does it mean that it has to bounce GPU->CPU->HCA , instead of GPU->HCA ?

[2019-01-25 23:15] Akshay-Venkatesh commented on #3152
@shamisp I believe yes. As @bureddy mentioned, I see that `ucp_stream_send_am_short` or `ucp_request_send_start` is called from stream send ops which map to UCP_REQUEST_SEND_PROTO_BCOPY_AM or UCP_REQUEST_SEND_PROTO_ZCOPY_AM protocols.

@evgeny-leksikov A few months ago, I ran into the CUDA stream performance limitation when we had started with the use of stream API for ucx python bindings. At the

[2019-01-25 23:16] tonycurtis opened #3158 "ucx_info: unexpected backquote in cuda output"
UCX github master @ 84ab04f950a3efbf138eb9963c32c6a8dd44570c

[code]

Looks like a stray backquote on the "component" line

[2019-01-25 23:42] shamisp commented on #3152
I think on conceptual level it is not trivial to implement z-copy style "stream" semantics. There is no receiver that posts "expected" message.

[2019-01-25 23:43] tonycurtis commented on #3158
Couldn't find what caused it yet...

[2019-01-25 23:55] tonycurtis commented on #3158
Hmm, looks like UCX is just reporting verbatim what the cuda_ipc MD is telling it.  Could well be an issue in CUDA.

Close and ignore.

[2019-01-26 00:00] tonycurtis commented on #3158
Hmm, looks like UCX is just reporting verbatim what the cuda_ipc MD is telling it.  Could well be an issue in CUDA.

Or is it the memcpy() in uct_md_query() and a NUL-termination problem?

[2019-01-26 00:03] Akshay-Venkatesh commented on #3152
Fair point. If that's the case, I think there would be some benefit in allocating and using bounce buffers on the GPU should `stream_recv_nb` occur on CUDA buffer. Bandwidth could be better.

[2019-01-27 11:46] yosefe commented on #3158
it's probably because component name is limited to 8, which is exactly the length of "cuda_ipc", so it does not include the NULL terminator

[2019-01-27 11:47] #3152 closed

[2019-01-27 11:49] #3038 closed

[2019-01-30 19:34] Akshay-Venkatesh opened #3166 "Question on ucp_worker_wait usage in multi-threaded scenario"
Hi,

I have a case where multiple threads call `ucp_worker_wait()`. Is `ucp_worker_wait` thread-safe? If so, will one of the threads unblock when a communication event completes or all? I haven't tested but want to quickly check here before trying. Thanks in advance.

[2019-01-31 12:32] hoopoepg commented on #3145
@chrissamuel any news?

[2019-01-31 18:45] ktpedre commented on #2973
We are seeing a similar error to above frequently, example below.  Was a fix committed to resolve this?  Or is there some other relevant information in the Mellanox internal link  https://redmine.mellanox.com/issues/1534913 ?

[code]

[2019-02-01 22:16] ktpedre commented on #2973
No, nothing obvious in dmesg.  Is there any way to have UCX retry forever, or increase the threshold when UCX gives up on a TX.  We suspect it is the remote node that its trying to send to that is the problem, but so far haven't been able to prove this.  Knowing which node it was trying to send to would help, but it doesn't seem to be in the log messages (like above).

[2019-02-02 14:36] yosefe commented on #2973
@ktpedre i've sent you offline email to follow up on this

[2019-02-04 04:09] benmenadue opened #3174 "UCX PML fails to initialise with GPUs: no copy across memory types"
Hi,

OpenMPI v3.1.3 + UCX 1.3.1 fails on launch on nodes in our cluster that have GPUs:
[code]

I've attached the whole output with `UCX_LOG_LEVEL=data` ([ucx-gpu-trace.txt](https://github.com/openucx/ucx/files/2826482/ucx-gpu-trace.txt)); but the most relevant lines look to be these:
[code]

If I disable the GPU parts by setting `UCX_ACC_DEVICES` to be empty, it runs fine.

Cheers,
Ben

[2019-02-04 15:39] shamisp commented on #3174
Adding @Akshay-Venkatesh and @bureddy

[2019-02-05 05:14] Akshay-Venkatesh commented on #3174
@benmenadue Sorry for the late response.
Did you build UCX with CUDA support like here: https://www.open-mpi.org/faq/?category=buildcuda
I don't use `UCX_ACC_DEVICES` either to run cuda-mpi workloads. I use the commands here: https://www.open-mpi.org/faq/?category=runcuda#run-ompi-cuda-ucx
Can you give these a shot?

[2019-02-06 02:32] Akshay-Venkatesh commented on #3166
@yosefe Can close this issue if you prefer. Lmk

[2019-02-06 02:46] #3166 closed

[2019-02-06 03:01] Akshay-Venkatesh opened #3180 "Segfault with tag send/recv nb on cuda buffers + blocking progress using ucp_worker_wait"
Hi,

I've configured UCP with `UCP_WAKEUP_FEATURE` and I'm passing cuda buffers into tag send/recv calls + using `ucp_worker_wait`. I see the following failure:
[code]
I see that the problem goes away if we use `UCX_TLS=rc,sm,tcp` and not `UCX_TLS=rc,sm,tcp,cuda_copy,gdr_copy,cuda_ipc`. Is this because `cuda_copy, gdr_copy, cuda_ipc` don't have ifaces that have `UCT_IFACE_FLAG_EVENT_SEND_COMP` and

[2019-02-07 22:53] maddyscientist opened #3192 "cuda_ipc fails if send/recv buffers are already registered for CUDA IPC"
Attempting to use CUDA-aware UCX (through OpenMPI) using buffers that have already been been registered for CUDA IPC (e.g., their memory handle has already been opened by the source or destination node) results in an error in UCX since it tries to reopen the handle.

```cuda_ipc_cache.c:154  UCX Fatal: dest:5221: failed to open ipc mem handle. addr:0x7f7647415c00 len:89088 (Element already exists)

[2019-02-07 23:44] bureddy commented on #3180
@Akshay-Venkatesh can you get me the repro? thanks

[2019-02-08 09:48] #3141 closed

[2019-02-08 14:16] xtus opened #3196 "Performance issue with OpenMPI using UCX as mpl on OPA"
Hi,

I built OpenMPI 4.0.0 against UCX master commit b598220
UCX is configured with `contrib/configure-release`

Running a test from the OSU Micro-Benchmarks 5.5, like `osu_get_bw`, I get a sensible difference in the maximum throughput between using `cm` and `ucx` for `pml`

For instance, considering two compute nodes connected by Omni-Path 100Gbps:

[code]

[code]

For what I can see via `strace`

[2019-02-08 17:15] shamisp commented on #3196
Can you please try to run ```ib_write_bw``` benchmark to verify VERBS API performance.
https://manpages.debian.org/stretch/perftest/ib_write_bw.1.en.html

[2019-02-08 17:30] xtus commented on #3196
@shamisp An `ib_write_bw` shows sub-par throughput as well:

[code]

[2019-02-08 17:40] shamisp commented on #3196
UCX OPA support is based on VERBS API (we do the same for all RDMA based interconnects).
First of all, it appears that our results are lower than verbs results which is a bit surprising. @yosefe is there a chance that wrong transport was selected (UD?).Or some tuning is missing ?

Second issue is the fact that VERBS apparently is not as optimized as PSM2 (I guess this is what used by CM pml). FYI

[2019-02-08 18:02] jgunthorpe commented on #3196
My understanding is that PSM2 is highly optimized and provides many capabilities and performance beyond verbs. verbs is not the high performance path for OPA.

[2019-02-08 18:34] shamisp commented on #3196
At least we should aim for matching verbs performance numbers.

[2019-02-08 20:55] chrissamuel commented on #3145
Sorry folks, been a bit busy here, will try next week.

[2019-02-08 22:20] tonycurtis opened #3198 "gdrcopy location and libraries needed by ucx_info"
I was testing UCX git master @ b598220b4b78f26885d816630ae7a3d7abf139d7 on a machine with GPUs and gdrcopy installed.

[code]

The `/opt/gdrcopy` path isn't propagated so `ucx_info` complains

[code]

Is the intention that `LD_LIBRARY_PATH` should provide link info for CUDA and gdrcopy?

[2019-02-08 22:53] tonycurtis commented on #3158
Component name wasn't long enough, fixed

[2019-02-08 22:53] #3158 closed

[2019-02-08 23:19] Akshay-Venkatesh commented on #3192
@shamisp I'm tracking this internally as well. Will discuss with @bureddy and try to come up with a fix.

[2019-02-08 23:24] Akshay-Venkatesh commented on #3180
@bureddy I tried to reproduce with a standalone test. I applied this diff on top of test/examples/ucp_hello_world.c
https://gist.github.com/Akshay-Venkatesh/cfc0d46846fb356ad871acda98a74c0d
I'm unable to reproduce the error with just this but I see an error with ucxpy work. I'll double check to see if there's a mistake at my end and get back.

[2019-02-09 02:08] shamisp commented on #3192
@Akshay-Venkatesh thank you very much for an update.

[2019-02-10 17:13] shamisp commented on #3196
@yosefe since OPA is technically UD like transport on steroids, maybe we should try UD.

[2019-02-11 08:44] #3107 closed

[2019-02-11 16:40] jerwin66 commented on #3196
Please use -R flag (rdma cm) to measure the best verbs perf over OPA (ib_write_bw -R ....). You should measure closer to line rate with that method.

[2019-02-11 17:05] xtus commented on #3196
@jerwin66 Using the `-R` flag for `ib_write_bw` I get an error:
[code]

[2019-02-11 17:27] jerwin66 commented on #3196
Thanks for trying. Are you using -R on both the server and client side? Can I see your exact run commands? Are you specifying the ipofabric/ipoib interface address?

[2019-02-11 17:33] shamisp commented on #3196
Maybe RDMACM module was not loaded ?

[2019-02-11 17:48] AdamSimpson opened #3210 "UCX memory hooks with static linking"
I recently ran into an issue with an application, compiled against OpenMPI with UCX support, that manifested itself as a segfault during GPU aware MPI function calls(`MPI_Isend` in this particular case). The issue was caused by the application statically linking `libcudart`, which caused the UCX `cudaMalloc` memory hook to not be registered correctly, leading UCX to treat the GPU memory as CPU mem

[2019-02-11 17:54] bureddy commented on #3210
@AdamSimpson can you try  "-x UCX_MEMTYPE_CACHE=n"  ?

[2019-02-11 19:07] AdamSimpson commented on #3210
@bureddy, thanks that appears to work as well. For this particular case we're able to force the use of dynamic `libcudart` so it's no longer an issue in that sense.

I mostly wanted to open a bug in an attempt to save others the trouble of trying to track down this issue in the future :)

[2019-02-11 21:39] shamisp commented on #3210
This is something that must be documented in FAQ. Probably we have to have separate warning for staticky linked apps. @yossefe ?

[2019-02-11 22:22] AdamSimpson commented on #3210
I should mention that this app wasn't fully statically linked either, I believe just `libcudart` was static. The application used CMake as the build system which by default seems to prefer using `libcudart_static.a`, if it's available.

[2019-02-12 08:38] #3094 closed

[2019-02-12 09:14] shamisp commented on #3210
Tagging @yosefe

[2019-02-12 10:34] xtus commented on #3196
@jerwin66 Command as following; I tried both Ethernet and IPoFabric address, but no luck. Using the Ethernet address it fails instantly, while using the IPoFabric it takes exactly 20 seconds to fail.

[code]

@shamisp The module seems to be loaded:
[code]

[2019-02-12 13:19] jerwin66 commented on #3196
Please add "-d hfi1_0" flag on both server and client and see if this helps?

[2019-02-12 13:41] jw292 opened #3213 "Segfault with OpenMPI 4.0.0: address not mapped"
I get a segfault running with OpenMPI 4.0.0 on ARM TX2 cluster.

[code]

I see the above segfault with

* HPCX/UCX v1.4.0 + OpenMPI 4.0.0
* OpenUCX v1.6.0 + OpenMPI 4.0.0

However the code works with

* HPCX/UCX v1.4.0 + OpenMPI 3.1.2a
* OpenUCX v1.6.0 + OpenMPI 3.1.3

The code also works also works with OpenMPI 4.0.0 if I use openib instead of UCX e.g.

   mpirun --mca btl_openib_allow_ib 1

[2019-02-12 14:12] xtus commented on #3196
@jerwin66 The `-d hfi1_0` did the trick:

[code]

[2019-02-12 14:29] yosefe commented on #3213
@jw292 is it possible to point to or attach the code/binary of the failing application (eagle_25.yml)?

[2019-02-12 15:26] jw292 commented on #3213
The code is developed by Durham University (and others).   You can download from the group's Gitlab site: https://gitlab.cosma.dur.ac.uk/swift/swiftsim

I built with OpenMPI 4.0.0 (compiled with armclang)

[code]

To run the code I used :

[code]

If instead you run with openib, then the code works

[code]
Or alternatively build with OpenMPI v3 and that works too.  Let me know if you need more inf

[2019-02-12 23:51] tonycurtis opened #3218 "make failed with gtest"
Did a git pull today and tried a `--enable-gtest` on a standalone machine (arm if that's important).  `make gtest` had been running happily thus far.

git master @ 95031af7e4943411b7d23327db0b24bc9c11908c

[code]

[2019-02-13 08:35] yosefe commented on #3218
@tonycurtis can you pls clean work dir and retry?

[2019-02-13 08:51] #3046 closed

[2019-02-13 14:54] tonycurtis commented on #3218
Same,  I'm afraid.  Brand new git-clone.

[code]

[2019-02-13 14:56] yosefe commented on #3210
@bureddy are we testing today in UCM that cuda memory hooks actually work (the same way we test regular malloc hooks)?

[2019-02-13 19:42] bureddy commented on #3192
discussed with @Akshay-Venkatesh and other NVIDIA team, it seems currently there is no CUDA API to get the same handle which application already opened to reuse it by UCX library.  Only solution I can see is that instead of failing fallback to non-optimal AM fragmentation.

Came across same issue with other MPI libraries (http://mailman.cse.ohio-state.edu/pipermail/mvapich-discuss/2019-February/00

[2019-02-13 19:47] bureddy commented on #3174
@benmenadue I think this issue is fixed in latest UCX(1.5.0). is it possible to test it with?
1.3.x was the first cuda supported version, which had many limitations.

[2019-02-13 20:25] bureddy commented on #3210
@yosefe yes, we are testing cuda hooks (https://github.com/openucx/ucx/blob/master/test/gtest/ucm/cuda_hooks.cc)

the cuda symbols should have replaced with ucm hooks even if it is statically linked.  will try a repro.

[2019-02-13 21:04] maddyscientist commented on #3192
Would the following approach not work?
* UCX intercept any calls to `cudaIpcOpenMemHandle` and caches the result
* Any time the same pointers are passed to OpenMPI/UCX for message exchange, the cached memory handles are reused
* If a memory handle is not in the cache, but is found to be open already, only then fallback to the non-optimal approach (e.g., this would happen if the memory handle was o

[2019-02-13 21:26] Akshay-Venkatesh commented on #3192
Seems like a reasonable approach to me. @bureddy we should be able to be intercept *OpenMemHandle right?

[2019-02-13 22:47] bureddy commented on #3192
@maddyscientist  is it always guarantee that ucx calls are after application opens the handles? if not application's open memhandle might fail with same reason.   otherwise, this approach looks reasonable.
Ideally, it make sense to cuda library to handle this scenario by returning same handle and maintain the refcount it.

[2019-02-13 23:06] maddyscientist commented on #3192
Well, if an application does try to open a memory handle after UCX has already opened the memory handle then CUDA will give the appropriate error message.  So the application should catch that error (assuming they check return codes from CUDA API calls).  But I think that possible use case is extremely unlikely from occurring in a real application.

[2019-02-13 23:46] benmenadue commented on #3174
@bureddy @Akshay-Venkatesh This looks to be fixed in 1.4.0, even, at least when combined with OpenMPI 4.0.0 (1.5.0 is still RC, so I haven't made any production builds with it yet).

[2019-02-14 03:27] bureddy commented on #3192
@maddyscientist Thanks. will fix it by intercepting opneMemhandle.

[2019-02-14 03:29] bureddy commented on #3174
@benmenadue Thanks.  is it ok for you use 1.4.0? if yes. will close this issue.

[2019-02-14 09:33] shamisp commented on #3210
@bureddy unless it is inlined or something ...

[2019-02-14 14:39] shamisp commented on #3196
May I ask why would RDMACM (connection manager) will have any sort of impact on underlaying performance ? (just curious)

[2019-02-14 14:52] jerwin66 commented on #3196
My understanding is that it enables 8K MTU for verbs instead of the default of 4K. OPA allows up to 10K MTU at link level.

[2019-02-14 15:24] shamisp commented on #3196
@jerwin66 I guess with 10K you get the full wire BW ?

[2019-02-14 15:27] shamisp commented on #3196
@jgunthorpe is there a way to set 8K or 10K MTU with verbs without "black magic" approach :)

[2019-02-14 15:44] jgunthorpe commented on #3196
No, full performance of OPA requires using the OPA specific interfaces like PSM2.

[2019-02-14 16:05] jerwin66 commented on #3196
You should be able to get near wire rate with verbs on OPA with 8K MTU. What is your host CPU and is turbo mode enabled?

[2019-02-14 16:34] xtus commented on #3196
@jerwin66 The CPU is an Intel Xeon Gold 6148; base frequency of 2.4GHz and 3.7GHz turbo. The last `ib_write_bw` test was with turbo mode off, while all other tests were with turbo on(sorry about the inconsistency, I rebooted the nodes and forgot to re-enable turbo frequency).

The below is a results with turbo on:

[code]

[2019-02-14 16:37] jerwin66 commented on #3196
Looks great, thanks. You can also most likely eliminate the dip at larger message sizes by enabling Accelerated RDMA: cap_mask=0x4c09a01cbba driver parameter.
This is described in Section 6.1 here:
https://www.intel.com/content/dam/support/us/en/documents/network-and-i-o/fabric-products/Intel_OP_Performance_Tuning_UG_H93143_v13_0.pdf

[2019-02-14 16:47] xtus commented on #3196
@jerwin66 The `cap_mask=0x4c09a01cbba` did the trick:

[code]

[2019-02-15 17:17] AdamSimpson commented on #3210
Here is a minimal reproducer:

**gpu_aware.c**
[code]

**compile static**
[code]

**run with failure**
[code]
**compile dynamic**
[code]

**run with success**
[code]

[2019-02-15 23:22] chrissamuel commented on #3145
Hi folks, still swamped but trying to get back to this.  Where can I find the patch to try please?

[2019-02-16 10:23] hoopoepg commented on #3145
could you try released v1.5? this patch should be enrolled there

thank you

[2019-02-17 09:04] #3218 closed

[2019-02-17 15:10] shamisp commented on #3196
@yosefe it seems like for OPA (and probably true for IWARP ?) it is preferable to give RDMACM the control over QP configuration, since apparently it can by-pass some of the verbs configurations, like MTU size.

[2019-02-17 15:18] yosefe commented on #3196
@shamisp sure, for UCX v1.7 we plan to have the flow of establishing connections over rdma_cm for iWarp and OPA

[2019-02-17 15:29] shamisp commented on #3196
I was under impression that with recent RDMACM patches you want to take different path where UCX creates QPs and passes those to RDMACM ? Seems like OPA it is preferable to do it other way around.

Regardless RDMACM, even with verbs 4K MTU sizes UCX still can not match verbs. So, besides MTU, something else is going on.

[2019-02-17 15:29] shamisp commented on #3196
Actually, what is the default MTU we use ?

[2019-02-17 15:30] yosefe commented on #3196
By default we use port MTU. But verbs test is different since it does not touch memory and use only single buffer for send/receive, so it's not a fair comparison.

[2019-02-17 17:25] shamisp commented on #3196
@yosefe , the same true for IB, nevertheless performance is comparable. IMHO something else is going on. Probably some silly tuning of buffer size or something along these lines.

[2019-02-18 11:37] amaslenn opened #3236 "[mtt] timeout exceeded in mpi-small-tests/collmeas"
Configuration:
[code]

Looks similar to #2934, but this is Orion and pure IB, not ROCE.

MTT log: http://e2e-gw.mellanox.com:4080//hpc/scrap/users/mtt/scratch/ucx_ompi/20190217_041235_26611_309511_clx-orion-035/html/test_stdout_ldH_X1.txt

Cmd:
`mpirun -np 224 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=mlx5_4:1 -mca

[2019-02-19 03:08] chrissamuel commented on #3145
Hiya @hoopoepg,

Will do - thanks!

All the best,
Chris

[2019-02-19 13:27] yuq opened #3241 "Question about UCX TL selection with ROCm"
Hi guys,

I'm working on improve ROCm performance in the UCX framework.

Currently we've added rocm_ipc TL which is like the cuda_ipc:
https://github.com/yuq/ucx/tree/yuq-async-no-cpy
https://github.com/yuq/ucx/tree/yuq-async

But there is some problem on TL selection:

1. the GPU device memory is write combine cached, so read is
slow but write is fast. In D2H, we want rocm_ipc be used for smaller

[2019-02-19 15:58] shamisp commented on #3241
Adding @yosefe @bureddy.
There is no dedicated function for H2D or D2H, but potentially you can use the information about memory address range (?) and the information cached on the endpoint to detect the direction of the communication.

[2019-02-19 16:24] yosefe commented on #3241
regarding (2), the idea is to run without explicit UCX_TLS setting both for inter-node and intra-node

[2019-02-19 18:30] dmitrygladkov opened #3243 "make hangs on master due to JUCX tests - handle java signals"
`make && make install` produces the following:

[code]

[2019-02-19 18:30] dmitrygladkov commented on #3243
@petro-rudenko FYI

[2019-02-19 18:38] petro-rudenko commented on #3243
Did you configure `--with-java`? It's false by default:
https://github.com/openucx/ucx/blob/master/configure.ac#L165

[2019-02-19 18:48] dmitrygladkov commented on #3243
I didn't set `--with-java` - looks strange I'm not able to reproduce this anymore :)

[2019-02-20 00:35] bureddy commented on #3198
@tonycurtis can you please check with latest master.  This should have fixed with @yosefe 's recent loadable modules

[2019-02-20 00:48] tonycurtis commented on #3198
I built UCX github@master —with-cuda=/path/etc and there are no errors when running ucx_info.  However, if the CUDA and gdrcopy library paths are subsequently missing from LD_LIBRARY_PATH, those transports don’t get reported by ucx_info -d.

tony

[2019-02-20 01:34] yuq commented on #3241
@shamisp where can I do the detection?

@yosefe I've added a rocm UCM in:
https://github.com/yuq/ucx/tree/yuq-async

It will hook ROCm memory alloc function to record which memory is owned by ROCm, just like CUDA UCM. And I have to add a rocm_copy backend like cuda_copy. This don't need to add UCX_TLS for inter node.

But I found it's slower than the mm in smaller messages, and inter node still no

[2019-02-20 02:02] shamisp commented on #3241
Internally in UCT level ? At least as for now I don't think we have this logic in UCP.

[2019-02-20 04:15] bureddy commented on #3198
@tonycurtis This is expected as cuda/gdrcopy uct libs are not build with "rpath"  to cuda/gdrcopy install libs.
@yosefe  please advise.

[2019-02-20 13:49] yosefe commented on #3198
currently ucx does not add rpath to avoid dependency on a specific filesystem location.
the intention is that LD_LIBRARY_PATH would be used

[2019-02-20 13:52] yuq commented on #3241
@yosefe I can run with
mpirun -x UCX_TLS=rc,sm,rocm_cpy,rocm_ipc
for both inter and intra node now, the intra node will use rocm_ipc, but inter node is very slow, seems not using rc.

And I still can't run without UCX_TLS:
[code]

[2019-02-20 14:18] tonycurtis commented on #3198
OK, I can live with that…
thanks
tony

[2019-02-20 19:28] yosefe commented on #3241
@yuq can you take a look on how gdrcopy works? it implements put_short and get_short, and then UCP uses it for copy of small message

[2019-02-20 19:30] bureddy commented on #3198
@yosefe @tonycurtis  can we close this?

[2019-02-20 19:31] tonycurtis commented on #3198
+1

[2019-02-21 02:30] bartoldeman opened #3245 "dc_mlx5.c:1252 UCX ERROR error modifying DCT to RTR: Invalid argument"
Using all self-compiled UCX 1.5.0rc1, 1.5.0, master using rdma-core 21 and 22, openmpi 3.1.2 using the UCX pml. dc_mlx5 transport is enabled. I am getting this error while trying to run a simple MPI Hello World program (even with `mpiexec -n 1 hello`):
[code]
(so it does run after the error messages) Where would this come from? The same binaries work without error another cluster with an older Cen

[2019-02-21 09:14] #3198 closed

[2019-02-21 14:26] bartoldeman commented on #3245
@Artemy-Mellanox wrote that the kernel used here does not support dc_mlx5 in any case.
I found out that in both situations dc_mlx5 cannot be used, but in the newer CentOS kernel ucx_info misdetects that dc_mlx5 is available and tries to use it:

older
[code]
newer:
[code]
so I can simply list all transports except dc_mlx5 in UCX_TLS (that is `UCX_TLS=self,tcp,rc,rc_mlx5,ud,ud_mlx5,cm,mm,cma`).

So

[2019-02-21 16:42] hppritcha commented on #3084
@shamisp we'd be interested in helping to test any fix there may be for this.  Should #3231 help?

[2019-02-21 16:49] shamisp commented on #3084
@hppritcha it was discussed on the call and the answer is no. UCP or SMSG exchange protocols and data structures have to be updated.

[2019-02-22 03:54] AdamSimpson opened #3249 "very bad intranode GPU to GPU performance across NUMA domains"
I'm seeing very bad intranode GPU to GPU performance for larger message sizes when the GPU's reside in different NUMA domains. This is causing trouble in actual applications but can be reproduced using the OSU MPI benchmarks. These tests were all done using UCX/1.5.0 along with OpenMPI/4.0.0(although I see similar behavior on OpenMPI/3.x). Take the following 8 GPU system as an example where GPUs 0

[2019-02-22 13:55] yuq commented on #3241
@yosefe I've done that, and it seems work well for intra node. But when inter node, it will crash:
[code]

Seems UCP have some problem. Does this crash also happens when CUDA?

[2019-02-22 15:26] bureddy commented on #3249
@AdamSimpson we have known intra-node performance issue if GPUs are not on same NUMA domain.
In this case it is using non-optimal AM fragmentation. The Ideal protocol is to stage with large buffers(like smcuda). we do not have this yet at receiver side.  hopefully we will fix this soon.
The perf is better with gdrcopy is because it is copying small fragments to AM bounce buffer to GPU memory..

ca

[2019-02-22 15:32] bureddy commented on #3241
@yuq  we don't have this crash with CUDA. may I know what what protocol is it trying to use for this message size(32k)? can you get log with -x UCX_LOG_LEVEL=trace?

[2019-02-22 16:46] AdamSimpson commented on #3249
Thanks @bureddy for the explanation. Not much luck playing with `UCX_TLS`, see below. If you have any other workaround ideas until this is fixed i'd be happy to try, as is it unfortunately isn't very usable.

[code]

[2019-02-22 17:18] Akshay-Venkatesh commented on #3249
@AdamSimpson What version of UCX are you running with? UCX 1.5 (https://github.com/openucx/ucx/releases/tag/v1.5.0) has GPU-NIC affinity logic that'll most likely help your case if you're not already using it. Can you give that a try?

[2019-02-22 17:48] AdamSimpson commented on #3249
@Akshay-Venkatesh The tests above were all run on the UCX/1.5.0 release.

[2019-02-22 17:54] Akshay-Venkatesh commented on #3249
My bad! I see that both Mellanox devices are on the same socket. I read that wrong and though there was one NIC on every socket.

My guess is that openib/smcuda probably doesn't go through the NICs at all for this scenario. Likely the case that they go through host-staging and QPI instead. What performance do you get if you disable `rc`? Say just `UCX_TLS=sm,cuda_copy,gdr_copy` ?

[2019-02-22 17:56] Akshay-Venkatesh commented on #3249
To see what openib/smcuda are doing, you could possibly look at nvprof results and see if `cudaMemcpyAsync` is taking up a fair amount of time during the transfers.

[2019-02-22 19:39] Akshay-Venkatesh commented on #3249
@AdamSimpson I was able to try this myself without improvement.

@bureddy I see these results:
[code]
What env parameter should I use to increase the size of the segments transferred between GPU->host and host->GPU ? Is it not AM bcopy protocol that's being used here? Seems like we have a latency doubling effect from 16K onwards and we're far from saturating the bandwidth of either CPU-GPU path or

[2019-02-22 20:36] bureddy commented on #3249
@Akshay-Venkatesh default 8k fragments. can you check with -x UCX_MAX_BCOPY?

[2019-02-23 00:10] yuq commented on #3241
OK, here it is
[out.zip](https://github.com/openucx/ucx/files/2896259/out.zip)

[2019-02-23 02:25] bureddy commented on #3241
@yuq  can you get log with UCX_LOG_LEVEL=req? if possible please run latency benchmark with just single iteration.

 Do you have specific TLS setting here? It looks like it is failing on first rndv message?
can you check if you see different behavior with -x UCX_RNDV_SCHEME=get_zcopy?

[2019-02-23 02:52] yuq commented on #3241
@bureddy is bandwidth test OK? Or have to be latency test?

[2019-02-23 02:58] bureddy commented on #3241
@yuq sure bw test is fine.

[2019-02-23 03:17] yuq commented on #3241
@bureddy here is the UCX_LOG_LEVEL=req log and command I run this test:
[out-req.zip](https://github.com/openucx/ucx/files/2896432/out-req.zip)
[code]

With `-x UCX_RNDV_SCHEME=get_zcopy`, it won't crash.

[2019-02-23 03:36] bureddy commented on #3241
The default for UCX_RNDV_SCHEME is "auto".  in "auto" mode, it always uses "get_zcopy" for host buffers and fallback to put protocol and does a specific CUDA optimal protocol ("pipeline staging at sender + GPU Direct RMDA) to overcome bw limitation on x86 platforms.
I think ROCM need to detect this and use "get_zcopy" protocol if there is no issues.

[2019-02-23 03:45] yuq commented on #3241
So you mean the fallback is CUDA spec? Can you point me where UCX does this?

[2019-02-24 13:58] evgeny-leksikov opened #3254 "autogen.sh warnings from java Makefile.am"
[code]
@petro-rudenko FYI

[2019-02-25 07:09] amaslenn opened #3258 "[mtt] segfault in OSU CUDA tests"
Configuration:
[code]

MTT log: http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20190221_020319_44794_17362_vulcan01/html/test_stdout_0FA7E3.txt

Cmd:
`mpirun -np 2 -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to hwthread -x UCX_NET_DEVICES=mlx5_0:1 -mca osc ucx -x UCX_IB_RE
G_METHODS=rcache,direct -x UCX_TLS=rc -mca pmix_base_async_modex

[2019-02-25 07:48] bureddy commented on #3258
@yosefe we were disabling eager short if the UCX is build with CUDA.  With recent loadable approach,  it seems, with UCX_TLS=rc, it do not load any of the cuda UCT modules and check at https://github.com/openucx/ucx/blob/master/src/ucp/core/ucp_ep.c#L1049 is becoming false and assuming that it do not use CUDA buffers.  I think we have to disable MTT with explicit TLS setting for cuda tests.

[2019-02-25 07:55] amaslenn opened #3259 "[mtt] segfault in many tests with TLS=rc"
Configuration
[code]

MTT log: http://e2e-gw.mellanox.com:4080/hpc/scrap/users/mtt/scratch/ucx_ompi/20190223_204135_11069_314975_clx-hercules-087/html/test_stdout_BVIgpN.txt

Works OK with `rc_x`, `dc/dc_x`, `ud/ud_x`.

Cmd (orig `np` was 256):
`mpirun -np 64 --report-bindings -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=mlx5_2:1 -

[2019-02-25 08:37] amaslenn commented on #3259
Similar trace in `ctxalloc`:
`mpirun -np 256 --report-bindings -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=mlx5_2:1 -mca osc ucx -x UCX_IB_REG_METHODS=rcache,direct -x UCX_TLS=rc,self,sm -x UCX_RC_VERBS_TM_ENABLE=y -mca pmix_base_async_modex 0 -mca mpi_add_procs_cutoff 100000 -mca pmix_base_collect_data 1 --map-by node /hpc/local/

[2019-02-25 08:58] yosefe commented on #3258
@bureddy i guess for cuda tests, we always have to specify CUDA tls, or not specify TLs at all?
if so, how is it related to loadable modules?

[2019-02-25 08:59] yosefe commented on #3259
@brminich seems related to arbiter changes

[2019-02-25 09:04] brminich commented on #3259
yes

[2019-02-25 09:34] yosefe commented on #3259
[code]

[2019-02-26 01:26] bureddy commented on #3241
yes.
@ https://github.com/openucx/ucx/blob/master/src/ucp/tag/rndv.c#L56
In RNDV protocol, sender sends addr=NULL to recv in RTS control message if mem type is not HOST.
This will present get_zcopy protocol at receiver. The receiver sends remote addr and key to sender to do put protocol. In cuda case, it does pipe-lined staging at sender and does put_zcopy on fragments.

[2019-02-26 02:09] bureddy commented on #3258
@yosefe misunderstood. you are right.
@amaslenn we decided to run ucx_cuda mtt with default TLS right?   looks like regression from that.

[2019-02-26 07:06] amaslenn commented on #3258
@bureddy that was another misunderstanding, I will update MTT configuration.

[2019-02-26 07:06] #3258 closed

[2019-02-26 10:31] #3259 closed

[2019-02-26 16:27] dimaleks opened #3268 "Help to debug GPU issue"
Hello!

I have a problem and I'm stuck with it for a few days now.
I'm using master branch UCX 59a6f045ae39 with OMPI 4.0.1 on a machine with 1 socket and 4 V100 GPUs connected by NVlink.
osu_latency benchmark for Device to Device works fine and seems reasonable fast.
My own small simple example runs fine too.

However, when I compile and run my large code, I can't get UCX to work with GPU memory.

[2019-02-26 16:29] yosefe commented on #3268
@dimaleks is it possible that in the code, memory is allocated before the call to MPI_Init()?

[2019-02-26 16:32] dimaleks commented on #3268
I saw that this situation may be problematic in another issue, and made sure MPI_Init() is called first.

[2019-02-26 18:47] bureddy commented on #3268
@dimaleks can you check with -x UCX_MEMTYPE_CACHE=n.
currently we have know issues with  uda mem type cache if
      - cuda allocations are done before MPI_init
      - if application link to libcudart statically.

[2019-02-26 19:08] dimaleks commented on #3268
Hi @bureddy
Thanks very much, looks like the code's working with that variable set!
I'm using CMake, and by default it links cudart_static, I was not aware this is problematic.

Are there any performance or other implications with UCX_MEMTYPE_CACHE=n ?

[2019-02-26 19:22] akesandgren opened #3270 "Getting: UCX Assertion `length >= hdr_len' failed"
We're getting
eager_rcv.c:83   UCX Assertion `length >= hdr_len' failed
from time to time, consistently for a specific test case, and probably at least one more.

Sometime prior to that we also see repeated occurances of
[t-cn0303][[28739,25948],74][btl_tcp.c:559:mca_btl_tcp_recv_blocking] recv(52) failed: Connection reset by peer (104)
from various nodes/tasks.

Job started with srun.
Slurm 18.08

[2019-02-26 19:29] bureddy commented on #3268
This issue is reported just recently : https://github.com/openucx/ucx/issues/3210

UCX_MEMTYPE_CACHE=y is optimization to save the cost of pointer type checking with cudacudaPointerGetAttributes() which could be 0.2 - 0.5us.

[2019-02-27 01:07] Akshay-Venkatesh commented on #3042
@yosefe @evgeny-leksikov We have a customer depending on the availability of this feature. Is there a timeline on when this feature will become available?

[2019-02-27 08:38] yosefe commented on #3042
@Akshay-Venkatesh currently this is planned for v1.7 release (August-Sept timeframe), though it may be available on master branch few months earlier.

[2019-02-27 08:52] yosefe commented on #3270
@akesandgren thanks for the report, it means a sent message is shorter than expected.
1. what fabric type is used?
1. which versions of OFED/MLNX_OFED/verbs are installed?
1. what was the command line to run VASP?
1. How many ranks?
1. How long does it take to fail?
1. can you pls run with UCX_LOG_LEVEL=data and provide the output?

[2019-02-27 09:05] akesandgren commented on #3270
We see the same issue on both our clusters.
1 - One has ConnectX-2 cards (mlx4 driver) and the other has Connect-IB (mlx5 driver)

2 - OFED is currently MOFED 3.3 (and I do know it is old but we're still on Ubuntu 16.04 and haven't bothered upgrading until we move to 18.04)

3 - We do use ( in this case)
srun vasp_std
to start VASP

4 - In the VASP case we used 84 mpi-tasks (sbatch -n 84)
5 - Time

[2019-02-27 11:51] #3254 closed

[2019-02-27 19:31] Akshay-Venkatesh commented on #3042
Thanks for the info.

[2019-02-28 08:35] akesandgren commented on #3270
Running with UCX_LOG_LEVEL=data resulted in a core dump in a different way.
The output with the UCX_LOG data is ~134G
The core dumps say:
[code]

Do you want the UCX_LOG output or parts of it?

[2019-02-28 09:48] yosefe commented on #3270
@akesandgren thanks, the error abouve is a timeout and may happen because of log write slowdown
is there an option to upgrade MLNX_OFED? the latest release is 4.5

[2019-02-28 10:35] akesandgren commented on #3270
As I said above, it will happen when we upgrade to Ubuntu 18.04 sometime before summer.

[2019-02-28 20:54] lyu opened #3285 "ucp_put_nbi blocks for transport type mm (posix, sysv)"
Hello.

It appears that ```ucp_put_nbi``` does not return immediately as described in the API standard, when sending data using any of the mm transports.

On the other hand, if UCX is instructed to use ```cma```/```knem``` using the ```UCX_SHM_DEVICES``` environment variable, the said API does return immediately.

This issue only happens for shared memory transports.

A minimum working example to

[2019-02-28 23:40] tonycurtis commented on #3285
BTW @lyu is @ SBU

[2019-03-03 07:01] amaslenn opened #3289 "UCX failed to built in Fedora 30 (GCC 9.0.1) — v1.5.0"
Fedora 30 logs (failed): https://koji.fedoraproject.org/koji/taskinfo?taskID=33143707
Fedora 31 logs (failed): https://koji.fedoraproject.org/koji/taskinfo?taskID=33143693
Fedora 29 logs (passed, gcc 8.3): https://koji.fedoraproject.org/koji/taskinfo?taskID=33143720

Output ([log](https://kojipkgs.fedoraproject.org//work/tasks/3695/33143695/build.log)):
[code]

[2019-03-03 16:49] dmitrygladkov opened #3293 "make -Bj loops endlessly"

[2019-03-04 12:10] yosefe commented on #3088
@hoopoepg can u pls fix error handling in the test so we get clear error that memory allocation failed?

[2019-03-04 12:59] hoopoepg commented on #3088
@amaslenn what version of OMPI is used?
I don't see any issues on OMPI master, but v4.0 reports incorrect access to custom datatype. it seems there was an issue in OMPI in working with big data

[2019-03-05 03:46] amaslenn commented on #3088
@hoopoepg it is v4.0.x branch (commit `c0ee7add`).

[2019-03-05 05:07] amaslenn commented on #3289
New fails:
[code]

Full log: https://kojipkgs.fedoraproject.org//work/tasks/5414/33175414/build.log

[2019-03-05 05:38] amaslenn opened #3303 "[mtt] segfault in shmem_verifier"
Configuration
[code]

MTT log: http://e2e-gw.mellanox.com:4080/hpc/scrap/users/mtt/scratch/shmem/20190228_011330_21138_317954_clx-orion-021/html/test_stdout_sz_oD0.txt

Cmd (reproduces with np=2):
`oshrun -np 1036 --report-bindings -mca btl self --bind-to core -mca oshmem_proc_group_cache_size 10000 -x UCX_NET_DEVICES=mlx5_0:1 -mca sshmem sysv -mca sshmem_sysv_use_hp 0 -mca coll '^hcoll' -mca coll

[2019-03-05 05:40] amaslenn commented on #3303
UCX emulation job is also affected: http://e2e-gw.mellanox.com:4080/mnt/lustre/users/mtt/scratch/shmem/20190227_232558_23622_317869_clx-orion-017/html/test_stdout_pYm9Eu.txt

[code]

[2019-03-05 08:34] amaslenn opened #3305 "[mtt] Transport retry count exceeded on Hercules"
Configuration
[code]

MTT log: http://e2e-gw.mellanox.com:4080/hpc/scrap/users/mtt/scratch/ucx_ompi/20190228_072622_618_318271_clx-hercules-002/html/test_stdout_oVT7X_.txt

Cmd:
`mpirun -np 3 --report-bindings -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=mlx5_2:1,mlx5_3:1 -mca osc ucx -x UCX_IB_REG_METHODS=rcache,direct -x UCX_TLS=

[2019-03-05 08:36] angainor opened #3306 "Question: UCX on Cray Shasta / Slingshot"
Does anyone know if UCX in its current implementation is going to work on the new Cray architecture? If not, are there plans for such implementation? It might be a naive question, but I can not find any info whether Shasta uses uGNI, and whether UCX is compatible with it.

[2019-03-05 09:30] yosefe commented on #3305
maybe be related to https://redmine.mellanox.com/issues/1684815 (Mellanox internal link)

[2019-03-05 09:32] yosefe commented on #3303
check without `-x UCX_DC_MLX5_TX_POLICY=rand -x UCX_UNIFIED_MODE=y`

[2019-03-05 09:36] amaslenn commented on #3303
Reproduced without `-x UCX_DC_MLX5_TX_POLICY=rand -x UCX_UNIFIED_MODE=y`.

[2019-03-05 11:51] yosefe commented on #3306
UCX supports current Cray arch, namely Gemini and Aries. UCX is intended to continue and support new generations, and it could be tested once they become available.

[2019-03-05 12:34] brminich commented on #3305
looks like a different one. Reproduced on hercules, but ib_send_lat works.
dmesg contains just:
[Tue Mar  5 14:19:54 2019] adapt[13893]: segfault at 20 ip 00007ffff7de6d16 sp 00007fffffffa740 error 4 in ld-2.17.so[7ffff7ddb000+22000]

[2019-03-05 12:37] yosefe commented on #3305
is RoCE lossless?

[2019-03-05 12:51] angainor commented on #3306
@yosefe Great, thanks for the info!

[2019-03-05 13:59] yosefe commented on #3303
Simplere repro:
[code]

[2019-03-05 14:31] tonycurtis opened #3311 "JAVA: compile fails, missing target"
ucx master @ 9afd8c146682e98585d46f200b2f36a3e75dfba9

(happens in out-of-source-tree build)

[code]

[2019-03-05 14:59] tonycurtis commented on #3311
git-pull to master @ cd9ac01317c5eab6466b0844ebb7fbf1a5abb559

[code]

[2019-03-05 15:14] petro-rudenko commented on #3311
Did you clone from scratch?
[code]
Seems like working

[2019-03-05 15:33] tonycurtis commented on #3311
It's an out-of-source-tree build.  build directory always rm -rf'ed before configure/compile, source had a fresh autogen.sh

But I did a clean clone/autogen.sh and ... that's working too now out-of-source-tree.

Something getting cached ?

[2019-03-05 15:41] petro-rudenko commented on #3311
Probably would need to regenerate `Makefile`.

[2019-03-05 15:54] tonycurtis commented on #3311
I think I see what's going on.  The generated headers are written to the source tree, not the build tree.

[2019-03-05 19:11] bartoldeman commented on #3245
@Artemy-Mellanox sent me a patch yesterday and I confirmed that it works by no longer misdetecting dc_mlx5. I guess this issue will be closed automatically once the patch makes it way into git.

[2019-03-06 00:58] #3014 closed

[2019-03-06 01:02] yosefe opened #3318 "datacheck failure in rc/uct_p2p_rma_test_alloc_methods.xfer_reg_odp"
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/9148/label=hpc-test-node2,worker=2/consoleFull
[code]

[2019-03-06 03:14] amaslenn commented on #3305
Seems verification script doesn't exist anymore:
[code]
(the script is a symlink which is broken, I addressed it with devops).

[2019-03-06 03:37] Akshay-Venkatesh opened #3319 "Issues with dynamically loaded uct modules on master"
Hi,

@TomAugspurger and I first noticed the following error on master when we tried to use listen-connect-accept API (which depends on rdmacm uct module for functioning)
[code]
This python program depends on the the ucx-py library with python bindings for UCX: `build/lib.linux-x86_64-3.7/ucp_py/_libs/ucp_py.cpython-37m-x86_64-linux-gnu.so` which has the following dependencies

[code]

When specifi

[2019-03-06 06:32] brminich commented on #2226
@amaslenn, can we close it, since it is not reproduced anymore?

[2019-03-06 06:34] hoopoepg commented on #3145
@chrissamuel any news?

[2019-03-06 09:35] amaslenn commented on #3289
Looks good now: https://koji.fedoraproject.org/koji/taskinfo?taskID=33223406 👍

[2019-03-06 09:35] #3289 closed

[2019-03-06 12:21] hoopoepg commented on #3213
@jw292 what are configuration flags for arm-fftw module?
and what source and version of fftw was used?

[2019-03-06 12:28] yosefe commented on #3319
@Akshay-Venkatesh can you pls run the failing test with LD_DEBUG=all and upload (or send me private email with) the output file?
Also, how could I reproduce the issue? i couldn't find `benchmarks/recv-into-client.py` in the python API PR..

[2019-03-06 12:31] yosefe commented on #500
done

[2019-03-06 12:31] #500 closed

[2019-03-06 12:31] yosefe commented on #346
done

[2019-03-06 12:31] #346 closed

[2019-03-06 12:33] yosefe commented on #988
done

[2019-03-06 12:33] #988 closed

[2019-03-06 12:34] yosefe commented on #864
done

[2019-03-06 12:34] #864 closed

[2019-03-06 12:34] yosefe commented on #750
done

[2019-03-06 12:34] #750 closed

[2019-03-06 12:39] yosefe commented on #1966
fixed readme

[2019-03-06 12:39] yosefe commented on #1656
ucx version in docs is now auto-generated

[2019-03-06 12:39] #1656 closed

[2019-03-06 12:40] yosefe commented on #2592
fixed

[2019-03-06 12:40] #2592 closed

[2019-03-06 12:41] yosefe commented on #2561
emulation layer in UCP done

[2019-03-06 12:41] #2561 closed

[2019-03-06 12:52] dmitrygladkov commented on #3243
@petro-rudenko @yosefe I think we can close it. I haven't seen this anymore.

[2019-03-06 12:56] ChinouneMehdi commented on #1966
Have you fixed INSTALL file which still contains incorrect information?!

[2019-03-06 14:01] TomAugspurger commented on #3319
Thanks @yosefe. https://gist.github.com/TomAugspurger/92e79454076926b48c63b62bae2bf02b has 3 fails from `LD_DEBUG=all`.

That PR is a bit behind where we're at right now. We'll push an update soon (though if it helps with debugging this, we can certainly prioritize that).

[2019-03-06 14:02] TomAugspurger commented on #3319
Trying to extract relevant bits, but I've never used LD_DEBUG before.

[code]

In my case the ucx libraries are at `/home/nfs/an.taugspurger/ucx-dev-env/ucx/install/lib`

[code]

[2019-03-06 14:18] akesandgren opened #3324 "Avoid searching for XPMEM in various dirs"
Hi!

I couldn't find an existing issue or PR for this.

configure has a problem with XPMEM detection:
[code]
Not the "dirname: missing operand"

[2019-03-06 14:43] yosefe commented on #3324
thanks for the report, can you pls post config.log? i saw a similar issue with xpmem and want to see if it's the same one

[2019-03-06 14:57] akesandgren commented on #3324
[config.log](https://github.com/openucx/ucx/files/2936788/config.log)

[2019-03-06 15:44] #3303 closed

[2019-03-06 16:03] yosefe commented on #3319
@TomAugspurger @Akshay-Venkatesh can you pls check if adding this patch fixes the issue:
https://github.com/yosefe/ucx/commit/795372476c803eabc9522ff1d7500441b97e0852
(need to re-run automake; make clean; make)

[2019-03-06 16:05] yosefe commented on #3324
@akesandgren where is xpmem installed on the machine? does it include a pkg-config file?
[code]

[2019-03-06 16:15] TomAugspurger commented on #3319
Similar issues persist with
https://github.com/yosefe/ucx/commit/795372476c803eabc9522ff1d7500441b97e0852,

[code]

and eventually

[code]

Let me check with @Akshay-Venkatesh about updating the PR.

[2019-03-06 16:17] akesandgren commented on #3324
There is no xpmem, that's why it gets confused and hits that incorrect dirname problem.

[2019-03-06 17:00] #3268 closed

[2019-03-06 17:01] yosefe commented on #3324
so the issue is that the search process checks in non-existing directories, even though it would not find xpmem anyway?

[2019-03-06 17:18] akesandgren commented on #3324
Well, the problem is that the argument it gives to dirname is empty, i.e. "". It should detect that it didn't find anything and give up instead of trying to find the installdir of an empty result.

I haven't (yet) bothered to look at those configure lines, It should be rather obvious what it is doing wrong.

[2019-03-06 18:22] Akshay-Venkatesh commented on #3319
@yosefe I've added a branch which includes the current version of ucx-py here
https://github.com/Akshay-Venkatesh/ucx/tree/topic/py-bind
You can take a look at https://github.com/Akshay-Venkatesh/ucx/blob/topic/py-bind/bindings/ucx-py/benchmarks/recv-into-client.py
Lmk if you have questions.

[2019-03-06 18:57] Akshay-Venkatesh opened #3328 "cuda buffers + get_zcopy + UCP_FEATURE_WAKEUP fails at rkey_destroy"
The error is reproducible on master with ucx_perftest + this patch (https://gist.github.com/Akshay-Venkatesh/f7ba35d13410da60f5e131afa0a738eb)
[code]

[2019-03-06 18:59] Akshay-Venkatesh opened #3329 "What is the expected performance difference in blocking and polling progress?"
I modified ucx_perftest to check the performance of blocking progress using https://gist.github.com/Akshay-Venkatesh/f7ba35d13410da60f5e131afa0a738eb

I wanted to compare this with polling progress on a two dgx1 systems connected by ConnectX-4 adapaters.

I see this as the polling performance with one rail. I'm using `put_zcopy` because `get_zcopy` fails with cuda + blocking progress (https://gith

[2019-03-06 19:03] bureddy commented on #3319
@Akshay-Venkatesh @yosefe  looks liek problem is the way python loads the libraires (https://stackoverflow.com/questions/51544050/loading-c-library-in-python-that-dlopens-another-c-library-unresolved-shared-s). @Akshay-Venkatesh can you strace and see if dlopen on ucx libs (ucp.so, ucs.so, uct.so) have RTLD_GLOBAL flag

[2019-03-06 19:37] Akshay-Venkatesh commented on #3319
@bureddy
1. strace with ucx-1.5 (where things work because no dynamic module loading)
https://gist.github.com/Akshay-Venkatesh/abbbf13873641fa92bcfbe58a4f8a900

2. strace with master
https://gist.github.com/Akshay-Venkatesh/09ca2108397cab75117231b02e071898

I don't see dlopen (read somewhere that it's not a system call but part of C library). LMK your thoughts

[2019-03-06 19:45] yosefe commented on #3328
does it happen without the attached patch?

[2019-03-06 19:46] Akshay-Venkatesh commented on #3328
Without the attached patch, we don't check cuda functionality with UCP_FEATURE_WAKEUP requested, so the error wouldn't occur.

[2019-03-06 19:49] TomAugspurger commented on #3319
This may be a red-herring, but I notice that the issue is only for `libuct_*` files

Going through the LD_DEBUG output, we find `void_class` for libucs.so.0

[code]

but this fails

[code]

libucs isn't "searched" in the second case.

[2019-03-06 20:05] Akshay-Venkatesh commented on #3319
@yosefe You can build ucx_py library using make -j install in root dir (https://github.com/Akshay-Venkatesh/ucx/blob/topic/py-bind/bindings/ucx-py/). This makes your python installation use the newly installed ucp_py package. You can then reproduce the issue by running:
`python3 benchmarks/recv-into-client.py -o numpy`

I'll try to come with a simpler standalone C reproducer as well which uses -fP

[2019-03-06 20:09] Akshay-Venkatesh commented on #3329
results from tag_lat + polling/default progress:

[code]

[2019-03-06 21:24] shamisp commented on #3324
This is the script that fails:
[code]

I guess $xpmem_header='' and test actually passing the check ?

[2019-03-06 21:29] yosefe commented on #3329
@Akshay-Venkatesh as discussed, can you pls provide tag_lat with blocking progress, and with ucp_worker_wait()?

[2019-03-06 21:48] yosefe commented on #3319
@Akshay-Venkatesh i don't see any makefile in https://github.com/Akshay-Venkatesh/ucx/tree/topic/py-bind/bindings/ucx-py..
[code]

[2019-03-06 22:09] yosefe commented on #3324
@akesandgren this issue should be fixed with latest master
i've also added  #3330 to remove to bogus "XPMEM was disabled" message

[2019-03-06 22:12] Akshay-Venkatesh commented on #3329
@yosefe performance doesn't change much with `ucp_worker_wait` replacing `test_poll_wait`

[code]

[2019-03-06 22:43] Akshay-Venkatesh commented on #3319
Sorry! Didn't see that .gitignore has Makefile. Pushing that now.

[2019-03-07 01:03] tonycurtis opened #3333 "DOC/LaTeX: runaway argument in verbatim in DoxyEnumFields"
While testing #3331, compared behavior with Fedora 29

[code]

Source causing this appears to be `doc/doxygen-doc/latex/group___u_c_t___r_e_s_o_u_r_c_e.tex`

[code]

[2019-03-07 03:48] shamisp commented on #3333
@tonycurtis you would have to adjust the ascii "art" in the header file, unless there is some other reasonable solution.

[2019-03-07 06:33] akesandgren commented on #3324
@shamisp No that's the new code, What fails is the code in ucx up to 1.5.0 in ucx-1.5.0/config/m4/xpmem.m4:
[code]
As @yosefe says, the code in master is fixed and at least doesn't trip on dirname.

Though using find to search for a header is wrong in so many ways.

[2019-03-07 08:22] yosefe commented on #3324
agree, @shamisp what is the reason you added this? i think we should search only in standard paths and `$with_arg`

[2019-03-07 08:42] spikebike opened #3336 "1.5.0 UCX assertation failure"
I have a pair of Ubuntu 18.04 systems that I compiled the UCX-1.5.0 release on.

To configure I just ran:
```$ ./configure --prefix=/share/apps/ucx-1.5.0```

These systems have openmpi-3.1.1 installed, and slurm+openmpi is working fine using the ib_qib kernel module.  When I try to run the recommend test:

[code]

[2019-03-07 08:46] hoopoepg commented on #3336
@spikebike hi
could you try UCX master branch?

[2019-03-07 08:48] spikebike commented on #3336
Just tried the 1.4.0 as well. Same result.  Get the same error on client and server.  Trying the UCX master now.

[2019-03-07 08:48] brminich commented on #3336
@spikebike, you are running with OPA cards, right?

[2019-03-07 08:55] spikebike commented on #3336
Works:
[code]

I guess close this ticket, unless there's some worth in fixing the old versions.

[2019-03-07 08:56] Artemy-Mellanox opened #3337 "Java regression failure - need to disable sigsegv handling in UCX/Java"
[code]

http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/9182/label=vulcan-jenkins,worker=0/console
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/9182/label=hpc-test-node3,worker=0/console

[2019-03-07 08:57] spikebike commented on #3336
@brminich Not exactly sure on the naming.  It's the old qlogic cards, qdr:

[code]

[2019-03-07 08:58] hoopoepg commented on #3336
UCX version 1.5 and older have limitation on some IB devices. Currently releasing UCX (1.6) will handle such limitation and process it properly

[2019-03-07 09:51] petro-rudenko commented on #3337
https://github.com/facebook/rocksdb/wiki/JNI-Debugging
[code]
So first will try to disable signal handling on ucx: `ERROR_SIGNALS=no`

[2019-03-07 09:55] yosefe commented on #3337
@petro-rudenko is this expected JVM will generate such signals internally?
if yes - need to disable UCX signal handling from Java wrapper code

[2019-03-07 09:58] brminich commented on #3305
This is from hercules nodes:
[code]

[2019-03-07 10:01] petro-rudenko commented on #3337
Sure: JVM will handle by itself: https://stackoverflow.com/questions/43345363/can-a-sigsegv-in-java-not-crash-the-jvm
[code]

[2019-03-07 10:02] petro-rudenko commented on #3337
Errors happened after the tests finished (contexts cleanup called). But seems ucx still handle signals.

[2019-03-07 10:24] yosefe commented on #3319
@Akshay-Venkatesh now it fails on python syntax error:
[code]

[2019-03-07 10:27] #3336 closed

[2019-03-07 10:28] #3306 closed

[2019-03-07 10:51] #3236 closed

[2019-03-07 10:51] yosefe commented on #3328
seems like because of WAKEUP we need to fallback to active messages, but rdnv pipelined protocol is used instead

[2019-03-07 12:54] TomAugspurger commented on #3319
Sorry, @yosefe it may require python 3.7 right now. If you want a user-land install of python3, https://docs.conda.io/en/latest/miniconda.html may be easiest. https://conda.io/projects/conda/en/latest/user-guide/install/index.html has install instructions for conda.

https://github.com/TomAugspurger/ucx/tree/topic/py-bind is the most up to date right now (some build changes ahead of Akshay's branc

[2019-03-07 15:37] shamisp commented on #3324
I think it was copied from knem at some point with the goal of been "friendly" in finding install location. I don't have setup to test this at the moment.

[2019-03-07 15:52] yosefe commented on #3319
thanks, i am able to reproduce it now.

[2019-03-08 08:29] yuq opened #3343 "Regression when start running OSU - segfault in ibv_open_device"
Before OSU start running, I get this crash error:
[code]

Bisect to be the regression of
5e6c73eafb1e6559eba2a32
UCS/UCM: Avoid linking UCM loadable modules with "nodelete" flag

[2019-03-08 08:34] yuq commented on #3343
UCX configured without-rocm.

OSU command:
[code]
Device:
[code]

[2019-03-08 13:26] yuq commented on #3343
More finding:
1. I can run inter node OSU with non-root user before:
f39e649284996db07
UCP/RNDV: set 2 RNDV lanes by default

2. but later commits can't run with non-root user
[code]

3. this crash regression happens when non-root user

[2019-03-08 13:34] #3333 closed

[2019-03-08 13:54] yosefe commented on #3343
@yuq i know what the issue is.. will fix it soon

[2019-03-08 17:50] yosefe opened #3347 "JUCX: Maven failed to install during jenkins test"
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/9205/label=hpc-test-node3,worker=0/console
Looks like maven is using a shared folder (/labhome/swx-jenkins/.m2/repository) for jucx, which causes issues when multiple executors are running in parallel?
[code]

[2019-03-08 19:05] bureddy commented on #3241
@yuq  Can you try following patch to enable get_zcopy for ROCM by default.

[code]

[2019-03-09 02:09] yuq commented on #3241
@bureddy thanks, this patch works, but need a little change:
[code]

Do you want me to submit it for you?

[2019-03-09 03:15] bureddy commented on #3241
sure, submit a PR.

[2019-03-09 07:01] petro-rudenko commented on #3347
So there are 2 options where we could point maven repository:

1. To some local disk per node. In this case, maven would cache dependencies between builds, thus build would be faster.
2. To some `.deps` folder inside ucx build root. In this case we could run multiple build on 1 machine simultaneously, but it'll download dependencies every time.

[2019-03-09 21:55] tonycurtis opened #3351 "DOC/ucp: asking for clarification of backward compat comments"
In `src/ucp/api/ucp.h` we have multiple instances of things like

[code]

I would change "for the enablement of" to just "to enable" but it's never been clear to me what compatibility support this is meant to mean.

[2019-03-10 02:51] artpol84 opened #3353 "Problems building recent master/v1.5.x on Linux Mint 19"
@yosefe

I think that the following commit broke the building process on some Ubuntu-based systems (at least on my laptop's Linux Mint 19).
I know that UCX CI has Ubuntu systems, so it sounds very strange to me that the issue with the commit from Dec wasn't discovered previously. So it might be something specific to my system. However the way I was able to solve it doesn't confirm that IMO.

The e

[2019-03-10 09:01] yosefe commented on #3353
Thanks for the report @artpol84,
 "I think that the following commit broke the building process on some Ubuntu-based systems "
which commit?

[2019-03-10 12:27] yosefe commented on #3353
@artpol84 looks like on all our test systemms, libtool adds libucs (and libuct) to dependency_libs section in libucp.la. Can you please post this file? I want to see how to reproduce this failure in regression.
In any case, added #3354

[2019-03-10 13:44] yosefe opened #3355 "make distcheck fails with java"
[code]

[code]

[2019-03-10 14:15] tonycurtis commented on #3353
FWIW same issue on an Ubuntu 18.10 system

[2019-03-10 17:21] artpol84 commented on #3353
which commit?

Sorry, this one1f22de27004

[2019-03-10 17:29] artpol84 commented on #3353
Here is [libucp.la](https://github.com/openucx/ucx/files/2949805/libucp.la.txt).
dependency_libs looks correct:
[code]

[2019-03-10 17:31] yosefe commented on #3353
`<ucx-broken>` is a good path, right?

[2019-03-10 17:31] artpol84 commented on #3353
yes, anonymized

[2019-03-10 18:35] yosefe commented on #3081
happens again:
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/9222/label=hpc-test-node3,worker=0/consoleFull
[code]

[2019-03-10 21:30] asylvest opened #3359 "Help with GPU / OpenMPI interaction"
This issue looks related to #3268 and #3210; however, the suggestions in those issues don't seem to resolve the crash I'm getting.

I'm using OpenMPI 4.0.0 with UCX 1.4, built from source, on RHEL 7 using CUDA 10.  Here is a simple program that illustrates the problem I'm having: https://gist.github.com/asylvest/7c9d5c15a3a044a0a2338cf9c828d2c3.

Compiling with
[code]

Running with a size of 200 i

[2019-03-10 21:45] yosefe commented on #3359
@asylvest can you pls try using ucx latest master (instead of v1.4)? (still with dynamic link of cudart)

[2019-03-10 22:45] tonycurtis commented on #3353
[code]

[2019-03-10 22:53] yosefe commented on #3353
@tonycurtis can you pls run with V=1? Makefile.am adds `-lm`..

[2019-03-10 23:00] tonycurtis commented on #3353
[code]

[2019-03-11 00:51] yosefe commented on #3353
@tonycurtis #3361 should fix it

[2019-03-11 01:41] yuq commented on #3241
@bureddy thanks for solving this.

[2019-03-11 01:41] #3241 closed

[2019-03-11 06:48] hoopoepg commented on #3088
@amaslenn can we close this issue?

[2019-03-11 07:16] amaslenn commented on #3088
Still see the issue with HPCX build from Mar, 06 ([here](http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20190306_214952_42333_18210_vulcan01)).
@hoopoepg when was the fix merged?

[2019-03-11 07:25] hoopoepg commented on #3088
https://github.com/open-mpi/ompi/pull/6466
was merged on march 6th

[2019-03-11 07:31] hoopoepg commented on #3145
@chrissamuel ping-ping :)

[2019-03-11 07:33] amaslenn commented on #3088
Will reopen if face it again.

[2019-03-11 07:33] #3088 closed

[2019-03-11 07:52] yuq opened #3362 "Is it safe to share single ucs_mpool_t across multi iface"
Hi, I find in cuda TLs that there's one ucs_mpool_t for each iface, so guess if could use one ucs_mpool_t for all cuda iface. I can't see there's mutex lock when get/put from/to this pool, so it's not thread safe. So seem it depends on the answer of the following question:
1. will multi iface be in multi threads?
2. does one iface only resides in signle thread?

[2019-03-11 08:17] brminich commented on #3362
multi-threading is implemented on UCP level. Either separate worker/s is used for each thread (which means separate iface) or single worker is shared by several threads (and in this case every UCP API call, including progress, is guarded by worker lock).
So, in general it is not safe to use the same mpool for all ifaces.

[2019-03-11 08:44] yuq commented on #3362
OK, thanks for the answer.

[2019-03-11 08:44] #3362 closed

[2019-03-11 08:57] yosefe commented on #3362
it's possible to share mpool on different iface instances if they are on the same UCT worker. In this case, UCP thread safety model will cover this. Currently there is infrastructure for sharing iface resources on a worker: uct_worker_tl_data_get/uct_worker_tl_data_put

[2019-03-11 09:32] yosefe commented on #3245
Fixed in master

[2019-03-11 09:32] #3245 closed

[2019-03-11 13:12] dmitrygladkov opened #3364 "test_ucp_peer_failure hangs"
[code]
This tests hangs on `hpc-test-node-upstream` during CI testing:
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/9244/label=hpc-test-node-upstream,worker=3/console

[2019-03-11 13:19] tonycurtis commented on #3353
+1

[2019-03-11 13:19] #3353 closed

[2019-03-11 15:52] artpol84 commented on #3353
Fixed for me as well.

[2019-03-11 20:19] bureddy commented on #3359
@asylvest can you try with ucx master (or) v1.5.  Looks like test is using Managed memory. we added this support in v1.5

[2019-03-11 22:14] #3081 closed

[2019-03-11 22:44] yosefe commented on #3355
works now, thanks @petro-rudenko !

[2019-03-11 22:45] #3355 closed

[2019-03-12 01:16] asylvest commented on #3359
Thanks @yosefe and @bureddy - I am having better luck with v1.5.

If I link cudart statically:
[code]

I still get the same error:
[code]

However, by linking cudart dynamically (which I now realize I can do in one shot with `nvcc` rather than splitting the file apart like I did yesterday):
[code]

Things now run successfully, though I am getting some UCX errors and warnings I want to ask about in

[2019-03-12 03:08] bureddy commented on #3359
@asylvest  we still have known issue with static cudart linking.  workaround "-x UCX_MEMTYPE_CACHE=n" should work in this case.  we will fix this soon

The mem_type cache WARNINGs are coming from MPI_FInalize while cleaning the cache.  These warnings indicate that some cuda memory is allocated after MPI_Init() but not freed before MPI_Finalize. In your test, the constructor are after MPI_init() bu

[2019-03-12 03:42] chrissamuel commented on #3145
Oh I'm so sorry, I'm still flat out!  I've been on call this week and Wednesday is our maintenance on Cori so I'm hoping that things will be quieter after that. (crosses fingers)

[2019-03-12 08:06] yosefe commented on #3359
@asylvest thanks for the update. The shared memory errors should be solved with master branch.

[2019-03-12 11:10] #3343 closed

[2019-03-13 07:48] yuq opened #3370 "Regression can't run inter node OSU with non-root user"
Hi, I mentioned this in https://github.com/openucx/ucx/issues/3343, but seems the fix to it does not solve this problem, so I open a new issue for it:
1. I can run inter node OSU with non-root user before:
f39e649284996db07
UCP/RNDV: set 2 RNDV lanes by default

2. but later commits can't run with non-root user
[code]

3. run with `-x UCX_MAX_RNDV_RAILS=1` is OK again

[2019-03-13 08:33] hoopoepg commented on #3213
@jw292 hi
we tried to reproduce crash but without success. but I found some strange in your command line: when you run OMPI over openib you set command line ```--mca btl ^ucx``` which is incorrect, you should set ```--mca pml ^ucx``` instead. could you try to run your experiment using pml ucx and add switches ```--mca opal_common_ucx_opal_mem_hooks 1 -x UCX_MEM_MMAP_HOOK_MODE=none``` ?

thank you

[2019-03-13 10:24] yosefe commented on #3370
@yuq pls add UCX_IB_ADDR_TYPE=ib_global, since you are running on GID-based multihost setup
@amaslenn pls make sure we have it in HPC-X user manual

[2019-03-13 10:33] fantastic2085 opened #3372 "What is the relationship between UCS and DPDK？"

[2019-03-13 11:22] yosefe commented on #3372
@fantastic2085 they are 2 distinct projects

[2019-03-13 13:44] yuq commented on #3370
@yosefe thanks, add UCX_IB_ADDR_TYPE=ib_global works for me.

[2019-03-13 13:44] #3370 closed

[2019-03-13 13:50] shamisp commented on #3372
UCX does not target the same interconnect hardware and communication semantics.

[2019-03-13 14:24] shamisp commented on #3370
@yosefe - shell we document this somewhere ?

[2019-03-13 21:39] #3347 closed

[2019-03-14 07:21] dmitrygladkov commented on #3318
Looks like the same issue (but different symptoms) was reproduced during [CI testing](http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/9309/label=vulcan-jenkins,worker=1/console) #3190:
[code]

[2019-03-14 08:17] #3372 closed

[2019-03-14 17:35] Akshay-Venkatesh opened #3382 "assertion failure when Increasing seg_size and max_bcopy env params"
Hi,

This error shows up with `UCX_TLS=tcp,sm` and not `UCX_TLS=rc`. Is there some other param required to safely increase `MAX_BCOPY/SEG_SIZE` to a larger value (`<=32768` works)?

[code]

[2019-03-14 23:39] asylvest commented on #3359
Thanks for the responses.  Doing a fresh rebuild of everything using UCX master...
- @yosefe The shared memory errors no longer occur
- Ahh, thanks for explaining the mem_type cache warnings.  When I destroy the memory before MPI_Finalize(), the warnings do indeed go away.
- Dynamically linking with cudart works fine.  It doesn't really matter to me if I link it statically or dynamically, so I'm a

[2019-03-14 23:48] asylvest commented on #3359
Oh also, when are the `cudaDeviceSynchronize()` calls required when using managed memory and MPI calls?

[code]

In my test program I'm synchronizing at 2 and 8... I'm wondering if less (or more) are required?  In particular I'm guessing 8 is not required.

[2019-03-15 01:49] bureddy commented on #3359
@asylvest.  I couldn't repro your behavior with static build. I tried with master. can you get "nvidia-smi topo -m" output?
[code]

[2019-03-15 01:58] bureddy commented on #3359
@regarding cudaDeviceSynchronize(),  currently it disables RDMA on managed memory,  so you don't need explicit device synchronization after MPI call.  It should be fine w/o sync at 4 , 6  and 8

[2019-03-15 02:02] asylvest commented on #3359
Thanks for trying to reproduce @bureddy.  I'm going to be tied up for a few days but will run that topo command as well as try running with the exact MPI command you have above when I get a chance.

[2019-03-15 10:40] asylvest commented on #3359
@bureddy

[code]

(This is a single GPU p2.xlarge instance on AWS that I'm using for this testing as it's cheap - for my real application I'll be running on larger instances that actually have multiple GPUs on them)

I tried running with the exact flags you did (using a binary with a static cudart link)
[code]

and still got the process_vm_readv() errors

[2019-03-15 18:33] bureddy commented on #3359
@asylvest  seems there is genuine issue with host CMA TL on this AWS instance.  I don't think there is knem module available on AWS.   can you try  with  ` -x UCX_TLS=mm,rc_x,cuda_copy,gdr_copy,cuda_ipc` ?

[2019-03-16 15:32] yosefe commented on #3337
@petro-rudenko can we close this?

[2019-03-16 15:33] yosefe commented on #3243
related to #3337

[2019-03-16 15:33] #3243 closed

[2019-03-16 19:51] robertsawko opened #3386 "cuda-aware example fails"
Hi,

I am testing NVIDIA cuda-aware Jacobi from [here](https://github.com/NVIDIA-developer-blog/code-samples/tree/master/posts/cuda-aware-mpi-example) on a P8+4xP100 cluster.

I have compiled my own ucx version 1.5.0:
[code]

I followed this up with openmpi 3.1.2 specifying `--with-ucx` and `--with-cuda`.

Then I modify NVIDIA example to account for local rank environmental variable and run both t

[2019-03-17 08:01] brminich commented on #3305
https://redmine.mellanox.com/issues/1706553
(MLNX internal link)

[2019-03-17 09:59] amaslenn commented on #3305
Found in shmem tests:

Configuration
[code]

Cmd:
`oshrun -np 224 --report-bindings -mca btl self --bind-to core -mca oshmem_proc_group_cache_size 10000 -x UCX_NET_DEVICES=mlx5_0:1 -mca sshmem mmap -mca spml_ucx_heap_reg_nb 0 -mca coll '^hcoll' -mca coll_hcoll_enable 0 -mca spml ucx -mca pml ucx -x UCX_TLS=ud_x --map-by node -x SHMEM_SYMMETRIC_HEAP_SIZE=2797M /hpc/mtr_scrap/users/mtt/scratch/shmem

[2019-03-18 02:25] bureddy commented on #3386
@robertsawko  I could not repro it on my setup p9 + 4xV100
[code]

[code]

From your  backtrace,  ooks like some basic MPI startup issue during MPI_Init.  Did you run any sanity tests with your MPI build?

[2019-03-18 04:57] amaslenn commented on #3305
Reproduced on Jazz RoCE:

Configuration
[code]

MTT log: http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20190316_002332_167047_18715_jazz03/html/test_stdout_6QeZYU.txt

Cmd:
`$ mpirun -np 9 -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=mlx5_3:1 -mca osc ucx -x UCX_IB_REG_ME
THODS=rcache,direct -x UCX_TLS=dc_x,sel

[2019-03-18 07:35] brminich commented on #2934
https://redmine.mellanox.com/issues/1550134
(Mellanox internal link)

[2019-03-18 09:11] amaslenn opened #3390 "[mtt] Transport retry count exceeded RoCE"
Configuration
[code]

MTT log: http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20190316_002332_167047_18715_jazz03/html/test_stdout_6QeZYU.txt

Cmd:
`$ mpirun -np 9 -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=mlx5_3:1 -mca osc ucx -x UCX_IB_REG_ME
THODS=rcache,direct -x UCX_TLS=dc_x,self,sm -x UCX_DC_MLX5_TX_POL

[2019-03-18 10:17] asylvest commented on #3359
OK, linking `cudart` statically and then running:
[code]

I get these warnings:
[code]

but the process does run successfully.  So, that's positive.  Can you explain more about what CMA TL is and what this not working indicates?

I'm not not sure what `rc_x` is and if I should be concerned about that transport not being present.  I'm definitely confused about `gdr_copy`...  I built `gdrcopy` 1.3 f

[2019-03-18 10:20] yosefe commented on #3359
@asylvest you can see all UCX transports by `ucx_info -d`. Can you pls attach the output of this command on your system?
OMPI does not need to know about gdrcopy, but only about UCX.

[2019-03-18 14:22] bureddy commented on #3359
@asylvest
"gdr_copy" required a kernel module (gdrdrv.ko) to work. see  https://github.com/NVIDIA/gdrcopy ( ./insmod.sh  build  step).  I'm not sure, you have permissions to setup on AWS instance.

"rc/rc_x/dc/dc_x" are UCX infiniband transports. based on your "nvidia-smi" output, it seems p2.xlarge AWS instance do not have any IB devices.

[2019-03-18 15:19] bureddy opened #3391 "CUDA/ROCM Managed memory behavior with and w/o memtype cache"
we have a change in behavior for MANAGED memory with and w/o MEM_TYPE Cache.  When mem type cache is enabled, we are detecting MANAGED and non-MANAGED correctly .  But with cache off,  CUDA/ROCM  MDs mem_type_owned() returns true if memory is CUDA/ROCM.  In case of managed memory it returns FALSE and memory is treated as HOST.

We need to discuss on how to handle this? one way is to change UCT API

[2019-03-18 17:34] Akshay-Venkatesh commented on #3391
Ideally, what mem_type_owned() returns shouldn't depends on whether mem_type cache is turned on/off. Should we be discussing how to decouple that?

[2019-03-18 18:04] bureddy commented on #3391
@Akshay-Venkatesh mem_type_owned() return value is not depending on mem_type cache is on/off.
Problem is MANAGED memory is treated as
      - MANAGED  memory with mem_type cache is ON.
      - HOST memory with mem_type cache is OFF

[2019-03-18 22:50] robertsawko commented on #3386
Yes, I think you must be right even the IMB doesn't run on this. Checking my compilation now...

Part of the reason why I am doing this is to learn how this is supposed to work. Do I need `gdrcopy` in UCX to make it faster?

[2019-03-18 23:10] robertsawko commented on #3386
Hmm, I cannot see what I have done wrong. I went back and rebuilt with 3.1.3:

[code]
and I cannot see any error appearing in the compilation.

[2019-03-18 23:15] robertsawko commented on #3386
No, I am sorry. I seem to be confused. My test script was wrong. I have now retrated all changes and confirm that Intel Memory Benchmark works ok, so sanity check is passed. Sorry for  the confusion.

[2019-03-18 23:30] robertsawko commented on #3386
So after testing a little bit more it seems to be me that my affinity setting is the culprit. After removing all `map-by` all examples seem to work. I still get the UCX warning about memory at the end and the results are poor in the sense that cuda-aware Jacobi is slower. I also randomly got that error for normal-mpi  and rank 8

[code]

[2019-03-18 23:44] bureddy commented on #3386
@robertsawko gdrcopy improves the  latency of the small messages.
Can you get UCX warning coming at the end? This might be related to testcase if memory is not free before MPI_Finalize. You can ignore them or silence with UCX_LOG_LEVEL=error.

is  normal-mpi  means without UCX?

[2019-03-19 02:10] lyu opened #3395 "Segfault in UCT/IB/UD when UCX is built with clang and -march=native"
CPU: `Xeon E5-2690 v3 (Haswell)`
LLVM/Clang: `6.0.0/7.0.0/7.0.1` All causes the segfault
UCX version: master HEAD
Minimal UCX configuration to reproduce the problem:
`./configure --prefix=$PWD/inst --enable-gtest CC=clang CXX=clang++ CFLAGS="-march=native" CXXFLAGS="-march=native"`

To see the segfault, run `./gtest --gtest_filter="*ud/uct_amo_add_xor_test*"`

[code]

Run `ucx_info -d` can also ca

[2019-03-19 05:22] amaslenn commented on #3390
Reproduced in `kmi_hash` test.

Configuration
[code]

MTT log: http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20190318_115606_75105_18857_jazz02/html/test_stdout_T3rksC.txt

Cmd (min np to reproduce is 8):
`mpirun -np 112 --report-bindings -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=mlx5_3:1 -mca osc ucx -x UCX

[2019-03-19 06:45] robertsawko commented on #3386
Thanks, I am going to inspect the code from NVIDIA a bit closer today and try to find this memory that is not being freed. I cannot find any other warning other than the one I sent above about being unable to create "shared memory byte transfer layer"? This happens only on "normal-mpi" when I've got more than one socket/numa.

By the way this code is I believe what driven [this post](https://devbl

[2019-03-19 06:55] robertsawko commented on #3386
The exact wording of the warning I get is this:
[code]

[2019-03-19 09:34] #3382 closed

[2019-03-19 11:59] hoopoepg commented on #3395
hmmm, it uses vmovaps VEX.256 encoded instruction in memset call in line https://github.com/openucx/ucx/blob/cc080a54b8c799c0696a4191c12184f861146513/src/uct/ib/ud/verbs/ud_verbs.c#L599
but ```&self->tx.wr_inl``` is aligned on 16 bytes (not 32). it seems this is some misalignment between compiler expectations and libc malloc

[2019-03-19 12:04] yosefe commented on #3395
nice catch! maybe it's related to using ucs_unaligned_ptr?

[2019-03-19 12:06] hoopoepg commented on #3395
clang expects allocated buffer on 32 bytes, but malloc aligns it by 16 bytes

[2019-03-19 14:29] hoopoepg commented on #3395
workaround is there: https://github.com/openucx/ucx/pull/3398
@lyu could you check if it works for you?

thank you

[2019-03-19 14:54] lyu commented on #3395
@hoopoepg Yes, the problem also disappears for clang 7.0.1. Thank you!

[2019-03-19 15:02] #3395 closed

[2019-03-20 00:35] asylvest commented on #3359
@yosefe
[code]

Sure enough, I don't see `gdr_copy` in there.  However, @bureddy I did run the `./insmod.sh` step after compiling `gdrcopy` and passed the `--with-gdrcopy=` at UCX configure time.  But... I don't see `/dev/gdrdrv`.  I just tried launching a fresh instance, rebuilding GDR (and running `insmod.sh` and UCX from source, and confirmed after doing this that `ucx_info -d` included `gdr_co

[2019-03-20 02:37] bureddy commented on #3386
@robertsawko Yes, this warning is because of cuda memory allocated is not freed before MPI_Finalize. this is harmless you can ignore if you want.

Regarding,  "shared memory byte transfer layer" error,  Looks like it openmpi sm BTL smcuda component init issue because of tmp space on your system.  don't need to initialize BTLs component when using UCX.  can you try ` "-mca pml ucx -mca btl ^smcuda,

[2019-03-20 11:12] brminich opened #3400 "sockaddr/test_uct_sockaddr.conn_to_non_exist_server/11 failed on hpc-test-node"
[code]

http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/9415/label=hpc-test-node,worker=0/consoleFull#64730585444550c5d-247a-4f9d-bad5-5b93d2b6e2ac

[2019-03-20 17:18] robertsawko commented on #3386
Sorry, I am too slow for this...

I have tried by fixing btl and it works although it's slower than the normal-mpi version. So I assume it's the classic power issue that you need to fix the binding. I add `-map-by` and it segfaults.

Also, I am realising now that I must have messed something with the configuration after all but I am not sure what it is.

When I do `ucx_info -b` I see
[code]
But wh

[2019-03-20 17:30] robertsawko commented on #3386
I clearly am doing something wrong so I would appreciate a second pair of eyes looking over it. Here's my compilation script that I submit as a batch job.

[code]
And associated log
[build-ucx-1.5.0.txt](https://github.com/openucx/ucx/files/2989396/build-ucx-1.5.0.txt). Sorry to dump it on you like this.

[2019-03-20 18:59] bureddy commented on #3359
you can build rpm packages (./build_packages.sh) and install  gdrcopy/gdrcopygdrcopy-kmod. this should setup the system server (/etc/init.d/gdrcopy )

[2019-03-21 02:21] asylvest commented on #3359
Ahh perfect - `build_packages.sh` worked fine.  One note in case this helps someone else... I did need to install both `gdrcopy-1.3-2.x86_64.rpm` and `gdrcopy-kmod-1.3-2.x86_64.rpm`.  Installing both of those, upon a reboot `ucx_info -d` still knows about gdr_copy and the `mpirun` command above no longer warns about not knowing about gdr_copy.

After all this, and reading a bit on gdrcopy's wiki,

[2019-03-21 09:15] yosefe opened #3404 "failure in test_watchdog.watchdog_timeout"
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/9432/label=r-vmb-ppc-jenkins,worker=0/console
[code]

[2019-03-21 09:19] dmitrygladkov commented on #3404
@yosefe Should we increase timeout?
currently, this test compares `run_time` and `expected_time * 2`, where `expected_time` is 5

[2019-03-21 09:21] yosefe commented on #3404
how much time the test would run, if the watchdog didn't kill it?

[2019-03-21 09:35] yosefe commented on #3404
change the sleep to 5 min. and expect test time to be < 60 sec
this should give enough safety margin for both success and failure

[2019-03-21 09:39] dmitrygladkov commented on #3404
Thanks! will do

[2019-03-21 22:52] bureddy commented on #3359
Managed memory is treated as host memory and GDRCOPY copy is not needed for performance.
But, there are in general performance limitations with Managed memory.  The runtime can't use  RDMA and CUDA-IPC protocols for Managed memory.
  is there any specific reason you choose Managed memory instead of cudaMalloc()?

[2019-03-21 23:21] #3404 closed

[2019-03-21 23:27] bureddy commented on #3386
Build looks fine.   can you get "ucx_info -d" output?

Regarding the performance,  what is your topology (nvidia-smi topo -m) ? how many nodes, cores you are running?

[2019-03-22 06:52] robertsawko commented on #3386
Can I ask why do you say this? Is `ucx_info -b` not a diagnostic here?

[code]
Is that readable? The formatting is slightly broken when I copy this over.

I run 2, 4, 8 rank tests. We have run tests on MareNostrum P9 and PizDaint (different topologies, I know), and cuda-aware was consistently better. Sometimes by very little.

I forgot about this quirk of this cluster: the double infiniband fabric

[2019-03-22 21:41] bureddy commented on #3386
I checked ucx 1-.5.0 and it dont seen any discrepancy with ucx_info -b.  is there any chance ucx_info is from system default ucx_info instead of your build one?

[code]
You have  poor performing links in the topology,
          1.  intra-node two GPUs communicating to other two over QPI.  UCX currently does fragmented cudacpy which is not good.
          2. Yes both NICs are on same scoket.  GPUDi

[2019-03-23 10:16] yosefe opened #3409 "dc_x / ODP tests can take ~20m to complete (instead of few seconds)"
when fixed, neet to revert https://github.com/openucx/ucx/pull/3406

[2019-03-23 11:30] asylvest commented on #3359
The application I'm writing will be using a mix of CPUs and GPUs to operate on the memory; I was trying to avoid the complexity of transferring the memory around myself by using managed memory.  This is helpful though - I'll get things working with managed memory and then do some benchmarking by isolating a few spots that involve transfers and using cudaMalloc() there to see if there's any appreci

[2019-03-24 15:39] #3328 closed

[2019-03-24 16:09] robertsawko commented on #3386
Thanks, I think we're onto something here, but this looks quite confusing to me. I am splitting into sections, sorry.

### UCX version

I don't think so. System ucx does this:
[code]
This UCX is very old and I had issues with it. You helped me with it in the past actually by advising to upgrade, which I did. The sysadmins haven't updated system one so I keep my own in Lmod hierarchy. I've got seve

[2019-03-24 22:10] robertsawko commented on #3386
This is what I submitted for CUDA-aware:

[code]

Normal MPI

[code]

The 4 and 8 still haven't gone through, but this is already symptomaic of my problem. It's 2x slower!

[2019-03-25 20:04] bureddy commented on #3386
Is  both cases (Normal and CUDA aware) are running with same bindings ( CUDA_VISIBLE_DEVICES=2,3  and -rf rankfile.2)? if not, can you try it.
BTW, is there any possibility get access to the setup?

[2019-03-26 07:23] hoopoepg commented on #3395
@lyu we enrolled bit different fix into UCX master. Could you check if it still works for you?

thank you

[2019-03-26 13:18] lyu commented on #3395
@hoopoepg I compiled the latest master with LLVM 8.0.0 + -march=native and all the unit tests pass!

[2019-03-27 07:47] robertsawko commented on #3386
### Tests

Yes, everything is run with pre-generated rankfile and `CUDA_VISIBLE_DEVICES=2,3`. Here's the output in tabular form for communication time:

|ranks|hosts|cuda-aware|normal|
|-------|--------|----------------|---------|
|2|1|0.1197|0.0470|
|4|2|0.2302|0.0830|
|8|4|-|0.1095|0.1095|

On other clusters we tried (with different MPIs) the same test is consistently better for `cuda-aware`. He

[2019-03-29 07:03] yuq opened #3429 "Regression in v1.6.x and master branch"
When test OSU with latest v1.6.x and master branch, it crashes when start:
[code]

The regression point is commit:
[code]

When OK commit, I can see some warning:
[code]

[2019-03-31 13:38] robertsawko commented on #3386
@bureddy , let me know how you want to proceed. I have sent you a Linkedin message as I couldn't locate your work email on the Internet (probably a good thing). For now I can only offer a webex session sometime in the week, but we could try to get you a debug account too, but apparently it's a but I was told webex with shared screen is the preference. I have reasonably free week ahead so could be

[2019-03-31 19:46] yosefe commented on #3429
@yuq can you pls provide all details needed to reproduce this issue?

[2019-03-31 19:49] yosefe commented on #3319
reopening per https://github.com/openucx/ucx/pull/3360#issuecomment-477740991

[2019-04-01 02:33] yuq commented on #3429
@yosefe OK, if you have no idea with the error message I'll try to collect the information to reproduce it. In fact this only happens in one test machine of us, I can't reproduce it on my personal test machine.

[2019-04-01 08:00] yosefe commented on #3429
@yuq i don't see any obvious way it could happen, so need some info on what is special in the way the test was running on your machine..

[2019-04-02 05:33] evgeny-leksikov commented on #1699
@brminich I guess this can be closed?

[2019-04-02 05:53] brminich commented on #1699
fixed by #1712

[2019-04-02 05:53] #1699 closed

[2019-04-02 07:18] yuq commented on #3429
@yosefe  Here is information I've collected:

OS:
1. Ubuntu 16.04/18.04
2. CentOS 7.4

UCX:
1. v1.6.x branch

OMPI
1. v4.0.x branch can reproduce
2. v3.1.3 branch can't reproduce

I can reproduce with or without ROCM build of UCX
1. ROCM build process can be found here: https://github.com/openucx/ucx/wiki/Build-and-run-ROCM-UCX-OpenMPI
2. no ROCM build
[code]

[2019-04-02 10:59] yosefe commented on #3429
@yuq i can see a segfault, but in a different place. can you pls check if adding '-mca btl self' works around the issue?

[2019-04-02 12:37] yuq commented on #3429
@yosefe yeah, '-mca btl self' works for me.

[2019-04-02 12:52] yosefe commented on #3429
@yuq which MLNX_OFED version is installed? or is it inbox drivers?
Are there any IB devices on the machine?

[2019-04-02 12:55] yuq commented on #3429
Ubuntu 16.04 has MLNX_OFED_LINUX-4.5-1.0.1.0-ubuntu16.04-x86_64.tgz
Ubuntu 18.04 has no MLNX_OFED
CentOS 7.4 MLNX_OFED_LINUX-4.4

All has no IB devices.

[2019-04-02 20:24] hppritcha commented on #3084
@snyjm-18 and I discussed this some and since

- fixing this will probably involve a substantial redesign of the GNI datagram based wire-up
- its not clear how important it is to fix this

we decided to not pursue a solution on the Cray systems at this time.

[2019-04-02 20:47] shamisp commented on #3084
@hppritcha - can you please provide more information ?
Since homogenous wire up was introduced in UCX we can easily drop most of the info from the packet header without any re-design. Probably between 50-100 COL ?

[2019-04-03 11:27] yosefe commented on #3213
@jw292 ping

[2019-04-03 11:28] yosefe commented on #3145
@chrissamuel ping

[2019-04-03 11:31] yosefe commented on #3337
Fixed in #3392

[2019-04-03 11:31] #3337 closed

[2019-04-03 13:07] yosefe commented on #3319
@Akshay-Venkatesh i've tested ucx-py again (rebased on UCX master) and all seems to work:
[code]

[2019-04-03 22:13] Akshay-Venkatesh commented on #3319
@yosefe Thanks for checking this. I tried this with the current master and things are indeed working between nodes. Probably safe to close this bug for now but will follow up if we run into issues.

cc @TomAugspurger @shamisp

[code]

[2019-04-04 07:44] #3319 closed

[2019-04-04 07:45] #3429 closed

[2019-04-04 13:16] yosefe commented on #3318
not reproduced anymore after FW upgrade

[2019-04-04 13:16] #3318 closed

[2019-04-07 06:09] alinask opened #3453 "failure on dc_mlx5/uct_p2p_mix_test_alloc_methods.mix1000_odp/0"
[code]

http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/9699/label=hpc-test-node3,worker=1/console

fw_ver:                         16.24.1003
MLNX_OFED_LINUX-4.5-1.0.1.0

[2019-04-07 08:45] yosefe commented on #3409
https://redmine.mellanox.com/issues/1723591 (Mellanox internal link)

[2019-04-07 11:59] yosefe commented on #3145
closing due to inactivity, @chrissamuel feel free to reopen if you have more information

[2019-04-07 11:59] #3145 closed

[2019-04-07 16:56] chrissamuel commented on #3145
Sorry, these updates have been going to my personal email so I completely missed them.
Understand closing it because of that, I'll try and test later this week and reopen if it's still broken.

[2019-04-09 17:57] Akshay-Venkatesh opened #3463 "ucp_client_server didn't honor UCX_NET_DEVICES"
Hi,

We have a machine which has several mlx5 devices. One of which (`mlx5_4`) is in `PORT_DOWN` state. I'm trying to run `ucp_client_server` from `test/examples` but I see the following error even when I try to restrict the devices being used to just `mlx5_0:1`:

[code]
Is there another env parameter for `sockaddr` TLs so that I can ignore `mlx5_4:1`?

[2019-04-09 19:01] evgeny-leksikov commented on #3463
Hi @Akshay-Venkatesh
Which device is configured with IP address 172.22.1.27? Is this mlx5?
You can match network interface with device by sys path like this: /sys/class/infiniband/mlx5_0/device/net/ib0/
Where mlx5_0 is device name and ib0 is network interface, then run
$ ip address
To match interface to IP address

[2019-04-09 19:28] Akshay-Venkatesh commented on #3463
Hi @evgeny-leksikov

This machine has a bonded device named `bond0` which has the IP 172.22.1.27. I don't know the full details of this device on this particular machine.

There are other instances of a similar machine where there is a similar bonded device whose IP corresponds to IP assigned to an `mlx5` device. I assumed that there's a similar bonding on the machine I'm currently working on (whe

[2019-04-09 19:48] evgeny-leksikov commented on #3463
My guessing is you pass IP address of device with down port. From example above 172.22.1.27 was bound to mlx5_4:1

[2019-04-09 19:52] evgeny-leksikov commented on #3463
But on the other hand, rdmacm returns that device name and it looks strange :) pls send details about your configuration

[2019-04-09 20:03] evgeny-leksikov commented on #3463
Probably, that's iwarp device, ucx doesn't support it yet

[2019-04-09 20:23] Akshay-Venkatesh commented on #3463
Agreed. This would explain the situation we're seeing where we're trying to force just mlx5_0:1 to be used but the IP provided is may be mlx5_4:1's.

I'm checking internally for the details. Will update here when I get that.

[2019-04-10 07:19] dmitrygladkov commented on #3453
This test hangs with RC_MLX5

[code]

[2019-04-10 11:32] #1966 closed

[2019-04-10 19:57] lyu opened #3471 "ucx_perftest -t ucp_add hangs"
Starting from 5f2eabc, the `ucp_add` test of `ucx_perftest` hangs on our ConnectX-5 cluster. The put and get tests work fine, and I haven't tried other atomic ops.

Stack trace shows that it is stuck in the `ucp_worker_flush` at the end of the test.

[2019-04-11 06:55] zhum commented on #1375
Hello! Is there any workaround for this problem?

[2019-04-11 08:38] yosefe commented on #1375
@zhum how about @shamisp 's suggestion? can you use a release tarball ?

[2019-04-11 09:32] dmitrygladkov opened #3472 "sporadic failure of sockaddr/test_uct_sockaddr.many_conns_on_client/1 on vulcan"
[code]

http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/9788/label=vulcan-jenkins,worker=3/console

This is reproduced during gtest with valgrind testing

[2019-04-11 20:01] hppritcha commented on #3084
@shamisp when was this added?  Do we need to do anything special to enable homogenous wire-up?

[2019-04-11 21:26] shamisp commented on #3084
It was added while ago to UCP. It reduces UCP header but it is not enough. I think we can pick this up at ugni UCT and strip off all the unnecessary info. With UGNI we know it is single transport, the same BW latency everywhere, etc.

[2019-04-12 12:44] dmitrygladkov commented on #3453
[code]

[2019-04-12 16:37] snyjm-18 commented on #3084
@hjelmn Can you send me your configure line for ompi?

[2019-04-12 23:13] Akshay-Venkatesh opened #3480 "CUDA/UCM: couldn't find original cudaMalloc() address error"
Hi,

I'm running into this issue with UCX-py. I'm not able to repro the issue with just ucx_perftest. It may be similar to issues that we had seen in https://github.com/openucx/ucx/issues/3319
- The repo is here: https://github.com/Akshay-Venkatesh/ucx-py
- Installation procedure is the same as what was captured here : https://github.com/openucx/ucx/issues/3319#issuecomment-470256054 and https://g

[2019-04-12 23:14] snyjm-18 commented on #3084
I have been looking into this. What is unified mode? It looks like it can allow for a smaller wireup message size on homogenous systems, which would save us 45+ bytes. I assume a cray would qualify as a homogenous system. I couldn't find where this is set though. @yosefe @shamisp

[2019-04-12 23:26] snyjm-18 commented on #3084
Used the environment variable to set unified mode, but now it just hangs.

[2019-04-13 10:56] pentschev commented on #3480
@Akshay-Venkatesh specifically about the cudaMalloc() error, I managed to resolve that by using UCX v1.5.1 instead of the master branch. We can install @quasiben pre-built package for that as well `conda install ucx-gpu -c quasiben` instead of compiling from source.

[2019-04-13 10:57] pentschev commented on #3480
Just to clarify, I mean to say that probably this is a bug that was introduced after v1.5.1, probably something that needs to be fixed.

[2019-04-14 09:18] yosefe commented on #3311
@tonycurtis we fixed the issue in UCX master

[2019-04-14 13:03] yosefe commented on #3471
@lyu #3457 should fix the issue should for rc/dc transport

[2019-04-14 17:12] lyu commented on #3471
@yosefe The problem is gone. Thank you!
Closing.

[2019-04-14 17:12] #3471 closed

[2019-04-15 07:52] amaslenn opened #3485 "[mtt] timeout exceeded in MPI_Alltoallv_f"
Configuration
[code]

MTT log: http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20190410_183023_60980_19987_jazz17/html/test_stdout_Xnir8E.txt

The issue looks unstable, able to reproduce only in a loop (~10 iterations).

Cmd:
`mpirun -np 56 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=mlx5_3:1 -mca

[2019-04-15 14:42] dmitrygx opened #3487 "failure with udx/test_ucp_tag_xfer.send_contig_recv_contig_unexp_sync_rndv_truncated/0"
[code]

http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-arm-hwi-jenkins,worker=1/9861/console

[2019-04-15 18:28] Akshay-Venkatesh commented on #3480
@yosefe Not sure if this helps narrow down the cause of the issue but if I statically load `ucm/cuda` module, the problem goes away. The diff is here https://gist.github.com/Akshay-Venkatesh/368bcfdcf1da00d3b50270f39c2daf12/revisions#diff-5168841cb205c14083a767799de20241

Maybe this is expected though.

[2019-04-15 18:45] yosefe commented on #3480
@Akshay-Venkatesh i've tried to reproduce the issue, but it always works for me: seems cudaMalloc hook is never actually called because the plt hook for dlopen() in python3.7 binary does not work. checking it..

[2019-04-15 19:28] Akshay-Venkatesh commented on #3463
@evgeny-leksikov You were right. This issue went away on the machine we were testing when IPs were correctly assigned to the IB devices.

@yosefe I'm fine closing this issue since we're not blocked after the re-assignment.
General question - should UCX be throwing a warning when I start up the server and try to get it tries to listen on an IP that cannot do so?

[2019-04-15 20:30] yosefe commented on #3463
the problem is the we can listen on the device (because it supports rdma_cm), but later on - cannot create data transport on it.
this may also happen if we're listening to 0.0.0.0, and getting connection request on an "unsupported" device.
the plan is to add support to iWarp device as well, so basically every device which supports rdma_cm will work.

[2019-04-15 20:47] yosefe commented on #3480
so after fixing dlopen() issue, it works for me. @Akshay-Venkatesh how did you ./configure UCX?
[code]

[code]

[2019-04-15 20:50] yosefe commented on #3480
@Akshay-Venkatesh can you pls run the server with LD_DEBUG=all and attach the log?

[2019-04-15 21:42] Akshay-Venkatesh commented on #3480
@yosefe This is the configure command I was using:

[code]

Results with LD_DEBUG=all are here:

server
https://gist.github.com/Akshay-Venkatesh/368bcfdcf1da00d3b50270f39c2daf12/revisions#diff-dd22682fe5c2e8d9239cbcced8737b90

client
https://gist.github.com/Akshay-Venkatesh/368bcfdcf1da00d3b50270f39c2daf12/revisions#diff-0babf790e7725d48cfc5d9ae405bae9e

[2019-04-15 21:51] Akshay-Venkatesh commented on #3480
@bureddy also reported that he wasn't able to repro. We're using this driver version if that's of help:

[code]

[2019-04-15 21:56] yosefe commented on #3480
@Akshay-Venkatesh seems somethings is wrong, i can only see the client log..

[2019-04-15 22:16] Akshay-Venkatesh commented on #3480
Sorry @yosefe Not sure why the wrong content was uploaded. Can you try again?

https://gist.githubusercontent.com/Akshay-Venkatesh/368bcfdcf1da00d3b50270f39c2daf12/raw/2b0e473d85c51dd5b4a96c2559673fc3cec6fd14/cli-ld-dbg-all.log

https://gist.githubusercontent.com/Akshay-Venkatesh/368bcfdcf1da00d3b50270f39c2daf12/raw/2b0e473d85c51dd5b4a96c2559673fc3cec6fd14/serv-ld-dbg-all.log

[2019-04-15 22:26] yosefe commented on #3480
@Akshay-Venkatesh looks like dl does not search in libcudart.so
can you pls provide the outputs of:
1. `$ grep CUDA_LDFLAGS <ucx-build-dir>/config.status `
2. `ldd /home/akvenkatesh/ucx-github/build/lib/ucx/libucm_cuda.so.0`

[2019-04-15 22:32] Akshay-Venkatesh commented on #3480
[code]

[2019-04-15 22:39] yosefe commented on #3480
i think it's because libucm_cuda.so.0 is not linked with libcudart (only with libcuda). it should be linked with both.
can you pls check build log why this may happen, despite CUDA_LDFLAGS has "-lcudart"?
maybe rebuild ucx and upload its build log?

[2019-04-15 22:48] Akshay-Venkatesh commented on #3480
Yossi, I'm not sure why `ucm_cuda` isn't linking to `libcudart`.

I updated the latest master now, did an `autogen.sh`, `configure`, `make clean` and `make -j install`. I still see the issue. I have the logs here:

https://gist.githubusercontent.com/Akshay-Venkatesh/368bcfdcf1da00d3b50270f39c2daf12/raw/4ef4b4457e1933cf4a4188eed0c6af2c41b59ee8/build.log
https://gist.githubusercontent.com/Akshay-Ven

[2019-04-15 22:52] yosefe commented on #3480
@Akshay-Venkatesh sorry, but can you pls upload build log with "make V=1" to show the full gcc/ld commands?

[2019-04-15 22:54] bureddy commented on #3480
@yosefe I also noticed that dlopen hook was not installed for "cupy" libs. what was the cause? and fix?  It seems Akshay setup do not have dlopen issue.

[2019-04-15 22:56] yosefe commented on #3480
@bureddy it's because for some reason python exe has dlopen() in .got and not .got.plt, so we don't install the hook for dlopen(). the fix is search for symbol in DT_RELA as well as DT_JMPREL (will upload the fix tomorrow)

[2019-04-15 22:59] Akshay-Venkatesh commented on #3480
@yosefe I've uploaded the verbose logs:

https://gist.githubusercontent.com/Akshay-Venkatesh/368bcfdcf1da00d3b50270f39c2daf12/raw/414008a643019583c9afe3b58f472da5301d4d27/make.log

https://gist.githubusercontent.com/Akshay-Venkatesh/368bcfdcf1da00d3b50270f39c2daf12/raw/414008a643019583c9afe3b58f472da5301d4d27/make-install.log

[2019-04-15 23:23] yosefe commented on #3480
@Akshay-Venkatesh can you pls try the following workaround to force symbol reference from libucm_cuda.so to libcudart.so:
[code]

[2019-04-15 23:31] Akshay-Venkatesh commented on #3480
This works, @yosefe !

[code]

[2019-04-15 23:32] Akshay-Venkatesh commented on #3480
Seems like an external library (cupy) reference to cudart symbols isn't sufficient.

[2019-04-16 13:22] moravveji opened #3494 "Building UCX with CUDA and NumaCtl"
Dear developers,

I am hoping to build UCX with CUDA/10.1 and NumaCtl on a CentOS 7.5 compute nodes of our cluster. Our nodes have 4xP100 Nvidia GPUs, and are connected via the InfiniBand fabric. My intention is very close to the post #3386.

I get an error with the "configure-release" step as the following:
[code]

Here is the relevant part of my compile script:
[code]

Do you have any idea if I

[2019-04-16 13:42] yosefe commented on #3494
@moravveji  looks like the --with arguments are passed to gcc for some reason..
can you pls post the first few lines of config.log? it should show the expanded ./configure command

[2019-04-17 07:58] moravveji commented on #3494
Alright. Here it goes ...
`  $ /easybuild/work/UCX/from-source/ucx/contrib/../configure --enable-optimizations --disable-logging --disable-debug --disable-assertions --disable-params-check --prefix=/UCX-1.4-GCC-6.4.0-2.28   --enable-optimizations --disable-debug --disable-params-check  --enable-mt `

Clearly, three of the cmd-args are passed twice, whereas few others have not even been parsed to t

[2019-04-17 08:47] yosefe commented on #3494
@moravveji can you try using ./configure instead of ./contrib/configure-release?

[2019-04-17 09:25] moravveji commented on #3494
Sure.
`
  CC       libucm_cuda_la-cudamem.lo
  CCLD     libucm_cuda.la
make[3]: Leaving directory `/easybuild/work/UCX/from-source/ucx/src/ucm/cuda'
Making all in rocm
make[3]: Entering directory `/easybuild/work/UCX/from-source/ucx/src/ucm/rocm'
make[3]: Nothing to be done for `all'.
make[3]: Leaving directory `/easybuild/work/UCX/from-source/ucx/src/ucm/rocm'
make[2]: Leaving directory `/easybui

[2019-04-17 17:24] yosefe commented on #3480
@Akshay-Venkatesh does #3491 fix the issue on your setup?

[2019-04-17 17:47] Akshay-Venkatesh commented on #3480
@yosefe Unfortunately no. I just tried on the latest master:
[code]
[code]

Using your earlier [patch](https://github.com/openucx/ucx/issues/3480#issuecomment-483454374) on top of master fixes the issue still though.
[code]

[2019-04-17 17:56] yosefe commented on #3480
@Akshay-Venkatesh i assume you re-ran ./autogen.sh?

[2019-04-17 21:27] bureddy commented on #3480
[code]

Looks like linker passed "--no-as-needed" after -llib arguments make it useless.   seems bug in libtool
http://lists.gnu.org/archive/html/bug-libtool/2009-12/msg00038.html
https://sigquit.wordpress.com/2011/02/16/why-asneeded-doesnt-work-as-expected-for-your-libraries-on-your-autotools-project/

[2019-04-17 21:30] Akshay-Venkatesh commented on #3480
Also, @bureddy Is this the information you're looking for?
[code]

[2019-04-18 15:29] evgeny-leksikov commented on #3472
fixed in #3477

[2019-04-18 15:29] #3472 closed

[2019-04-18 15:29] evgeny-leksikov commented on #3400
fixed in #3477

[2019-04-18 15:29] #3400 closed

[2019-04-18 15:33] evgeny-leksikov commented on #3463
@yosefe can we close this?

[2019-04-18 17:28] #3463 closed

[2019-04-18 18:10] brminich commented on #3485
Reproduced, duplicate of #2934

[code]

[2019-04-18 18:10] #3485 closed

[2019-04-18 22:26] Akshay-Venkatesh opened #3507 "Assertion `length >= min_zcopy' error with ompi+ucx+cuda; RNDV_THRESH=1; RNDV_SCHEME=get_zcopy"
Hi,

Is this above setting not expected to work? I see that the error doesn't occur with host buffers but does with cuda buffers. Is there a restriction that min_zcopy length for cuda buffer be greater than 1 and not for host buffers? I'm running an internode osu_bw experiment on Summit.

Apologies if I've already reported this but I couldn't find it in the issues list. I'm using ompi and ucx mast

[2019-04-19 00:31] Akshay-Venkatesh commented on #3507
Forgot to cc @bureddy @yosefe

[2019-04-19 00:41] bureddy commented on #3507
It looks like IB tl  get.min_zcopy is tied with  INLINE size (https://github.com/openucx/ucx/blob/master/src/uct/ib/rc/base/rc_iface.c#L190).

In HOST buffer case it always going over inline even though rndv threshold  set 1. Where as with CUDA case,  inline is disabled it is going over rndv protocol.

BTW, any reason for choosing such a small rndv threshold?

[2019-04-19 00:58] Akshay-Venkatesh commented on #3507
Why is there inlining in the case of a get operation? I maybe missing something here.

Just experimenting on Summit. I noticed the spectrum MPI maybe doing something similar.

[2019-04-19 09:22] #3480 closed

[2019-04-21 12:11] amaslenn opened #3513 "[mtt] destination is unreachable with UCX_TLS=tcp"
Configuration
[code]

MTT log: http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/shmem/20190420_022022_131250_20464_jazz04/html/test_stdout_lXPlxR.txt

Test works fine with `NP <= 160`. It also works with `NP == 224` without TCP enabled (device `mlx5_3:1`).

Cmd:
`oshrun -np 224 --display-map -mca btl self --bind-to core -mca oshmem_proc_group_cache_size 10000 -mca sshmem mmap -mca spml_uc

[2019-04-21 12:26] amaslenn commented on #3513
Also in MPI tests. Cmd:
`mpirun -np 560 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICES=ens1f0 -mca osc ucx -x UCX_IB_REG_METHODS=rcache,direct -x UCX_TLS=tcp -mca pmix_base_async_modex 1 -mca mpi_add_procs_cutoff 0 -mca pmix_base_collect_data 0 --map-by node /hpc/local/benchmarks/hpcx_install_2019-04-20/mtt-tests-gcc/in

[2019-04-22 05:37] brminich commented on #3513
@dmitrygladkov, can you please take a look?

[2019-04-22 06:28] alinask commented on #3513
@amaslenn please add the output of ibdev2netdev on the used hosts when reporting tcp issues. thanks!

[2019-04-22 08:49] dmitrygladkov commented on #3513
I could not reproduce this issue on jazz nodes

[2019-04-22 11:20] dmitrygladkov opened #3514 "sockaddr/test_uct_sockaddr.many_conns_on_client/1"
[code]
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/9957/label=hpc-test-node2,worker=3/consoleFull

@evgeny-leksikov

[2019-04-22 17:11] bureddy opened #3517 "Deadlock in ucm_dlopen"
[code]

[2019-04-22 17:41] #3514 closed

[2019-04-22 17:50] yosefe opened #3518 "gtest skip message should RUNING_ON_VALGRIND"
The below should print `[     SKIP ] (RUNNING_ON_VALGRIND)` and not the expanded string below
[code]

[2019-04-22 18:11] bureddy commented on #3507
@yosefe what should be the behavior here?
In case of HOST buffers,  short messages never go over RNDV even with UCX_RNDV_THRESH=1 because of fast path inlining.
should we not all rndv threshold setting less than inlilne size?
What is the reason for IB  "get.min_zcopy"  set to "max_inl_resp + 1" ?  https://github.com/openucx/ucx/blob/master/src/uct/ib/rc/base/rc_iface.c#L190

[2019-04-23 10:22] moravveji commented on #3494
Any updates on my issues above?

[2019-04-23 10:55] yosefe commented on #3494
@moravveji sorry for late response, unfortunately config.log is not enough to identify the problem. can you pls upload also:
1. config.status
1. the output of `make V=1`
1. The full build script (maybe it's setting any environment variables such as CFLAGS?)

Regarding "how to link against libpthread.so" - seems like there is some issue with `--enable-mt`, hopefully the log files should give hint w

[2019-04-23 11:50] amaslenn commented on #3494
@moravveji and if you are using easybuild, could you please share which UCX config you use (looks like this one: https://github.com/easybuilders/easybuild-easyconfigs/blob/master/easybuild/easyconfigs/u/UCX/UCX-1.3.1-GCCcore-6.4.0.eb) and what modifications you make to it (since it doesn't contain any CUDA specific options by default)?

[2019-04-23 14:00] amaslenn commented on #3513
Sometimes errors look like this:
[code]
(the error is repeated multiple times and resulted with >8G log file)

Cmd:
`oshrun -np 168 --display-map -mca btl self --bind-to core -mca oshmem_proc_group_cache_size 10000 -mca sshmem sysv -mca sshmem_sysv_use_hp 2 -mca coll '^hcoll' -mca coll_hcoll_enable 0 -mca spml ucx -mca pml ucx -x UCX_TLS=tcp -x UCX_NET_DEVICES=p2p2 --map-by node -x SHMEM_SYMMETRIC

[2019-04-23 15:30] dmitrygladkov commented on #3513
@amaslenn thanks for the additional information!

I was able to reproduce the issue with UCX 1.6 - investigating why this fails. And I can confirm that this works with the UCX master

[2019-04-23 16:40] dmitrygladkov opened #3522 "sporadic failure on thread_spinlock/test_async.event_unset_from_handler/0"
[code]

http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/9987/label=hpc-test-node-upstream,worker=3/consoleFull

[2019-04-23 18:34] #3518 closed

[2019-04-24 08:52] dmitrygladkov commented on #3409
ok to close?

[2019-04-24 10:26] moravveji commented on #3494
Thanks gusy for your helps. I managed to fix my build for v.1.4, and I'm now gonna try the latest one 1.5.1 and see whether the same script works or not.
Closing this ticket.

[2019-04-24 10:26] #3494 closed

[2019-04-24 10:30] moravveji opened #3527 "Verifying whether UCX is linked against CUDA"
Hey guys,
I would like to verify if the UCX/v.1.4 that I just compiled is correctly linked against CUDA, because for a MPI-aware CUDA, UCX has to be build apparently against CUDA: [HERE](https://www.open-mpi.org/faq/?category=buildcuda)
However, when I look inside the libraries that are linked to e.g. ucx_perftest, I hardly find any trace of CUDA stuff:
[code]
Am I missing something here?

Thanks

[2019-04-24 12:25] bureddy commented on #3527
can you check "ldd lib/libuct.so" also?
Look like it failed to pickup cuda config. can you upload config.log?

[2019-04-24 14:30] yosefe commented on #3507
need to fallback to get_bcopy for small messages

[2019-04-24 16:16] bureddy commented on #2755
@Akshay-Venkatesh would like to close this as this is(cuda initialization before MPI_Init) not supported use case.

[2019-04-24 16:23] bureddy commented on #3030
@Kur0x @Akshay-Venkatesh  is this still an issue?

[2019-04-24 16:26] bureddy commented on #3174
@benmenadue  1.4. is fine. If possible would suggest to use latest 1.5.x

[2019-04-24 16:27] bureddy commented on #3180
@Akshay-Venkatesh  can this be closed?

[2019-04-24 16:31] bureddy commented on #3386
@robertsawko based on our offline discussion, were you able to check performance with GPUDirectRDMA module?
Do you still have any issues? if not can we close this?

[2019-04-24 16:33] bureddy commented on #3359
@asylvest if you do not have any other issues, can we close this?

[2019-04-24 16:41] asylvest commented on #3359
Yes I'm all set - thanks for all the help @bureddy and @yosefe .

[2019-04-24 17:00] Akshay-Venkatesh commented on #3180
Closing now.

[2019-04-24 17:00] #3180 closed

[2019-04-24 18:01] Akshay-Venkatesh commented on #2755
@bureddy Can disable ptr cache by default and enable only if we can intercept cuda initialization or device setting? That would probably lead to not detecting cu pointers as host pointers, right? Or am I missing something?

[2019-04-24 18:30] bureddy commented on #2755
I think cuda initialization can be done through runtime API or driver API.  we already have issues with intercepting driver API.  I think it will make things more uncertain with dynamic behavior.

[2019-04-24 20:50] Akshay-Venkatesh opened #3534 "UCP: How to query ucp_listener port number if sockaddr sin_port is set to 0 to use random port"
Hi,

At the moment, I'm extracting the port number using this diff:
[code]
Is it possible to query the listener handle and get back the port number where it's listening? Seems like it may be useful to get other information (like socket fd, etc) from listener handle as well.

This is how the test looks at the moment:
[code]

For context, this request from this issue: https://github.com/Akshay-Venka

[2019-04-25 09:21] moravveji commented on #3527
[code]
The build script and the config.log are attached.
[ucx.zip](https://github.com/openucx/ucx/files/3116157/ucx.zip)

[2019-04-26 16:04] alex--m opened #3540 "autogen fails on (early?) AS_IF"
Running "autogen.sh" fails with the following error:
[code]

"git blame" shows this for the relevant lines (around configure.ac:33), so I'm tagging @yosefe and @amaslenn :
[code]

[2019-04-26 16:11] alex--m commented on #3540
my bad - misconfiguration of "pkg-config" package... sorry :)

[2019-04-26 16:11] #3540 closed

[2019-04-28 22:04] robertsawko commented on #3386
Do you mind waiting a little with this? I am still asking for the kernel modules to be installed... it's not a cluster we manage so things take time. I think they are reviewing wether the whole OFED stack needs updating. Thanks.

[2019-04-29 04:03] Akshay-Venkatesh opened #3542 "Number of wakeup notifications using rndv is ~5 but ~2 for eager"
Hi,

We're trying to reduce progress overhead using ucxpy. As we use wakeup mechanism to check for request completion we want to cut down the number of times we wake up per request if possible. We notice that when the request concerns eager messages the number of times wakeup notifications is observed is upper bounded by 2. When the request concerns rendezvous messages, the number of wakeup notifi

[2019-04-29 14:54] shamisp commented on #3542
I'm surprised that with eager we get two.
Is this something that you get directly from file descriptor ?

[2019-04-29 16:48] bureddy commented on #3386
@robertsawko Sure.

[2019-04-29 17:52] Akshay-Venkatesh commented on #3542
@shamisp I think I'm wrong about the eager number. I modified src/tools/perf/lib/ucp_tests.cc to count number of wakeup instances. I think by running tag_lat, I'm wrongly counting the wakeup instances of both the sender and receiver. That would best explain why eager count is 2 (one at send and one at receiver), and rndv-get count is 5 (2 at sender and 3 at receiver). My question still stands if i

[2019-04-29 18:04] yosefe commented on #3542
@Akshay-Venkatesh maybe in theory it can be possible to reduce it to 1 on sender (RNDV_ACK) and 2 on the receiver (RNDV_RTS and RDMA_READ send completion).

[2019-04-29 19:38] Akshay-Venkatesh commented on #3542
This would still be very useful for our case and wherever wakeup mode used.

[2019-04-29 20:30] Akshay-Venkatesh commented on #3542
Another thought - Does hardware tag matching help in this regard?

[2019-04-30 17:07] yosefe commented on #3542
HW TM would not help that, since still need 2 events on RX side: notify when tag is matched to remove it from SW list, and also when data has arrived.

[2019-04-30 17:26] Akshay-Venkatesh commented on #3542
Makes sense. Seems like 1 wakeup notification per request wouldn't be possible. If yes, I'll close this issue for now.

[2019-05-01 05:09] spikebike commented on #3046
This just bit me with a openmpi-4.0.1 + UCX-1.5.1 build.  For anyone reading this, the immediate fix is:
```sudo sysctl -w kernel.yama.ptrace_scope=0```

The permanent fix, at least for Ubuntu 18.04, is to change /etc/sysctl.d/10-ptrace.conf to:
```kernel.yama.ptrace_scope = 0```

The file change will take effect after the next boot.

[2019-05-01 05:14] spikebike opened #3545 "UCX_1.5.1 and process_vm_readv delivered 0 instead of ...."
On an ubuntu-18.04 system I built openmpi-4.0.1 with UCX-1.5.1.  Many codes on a single node or multiple node runs "just worked".  However some codes like LAMMPs or ESKM would report errors like:
[code]

The immediate fix is:
```sysctl -w kernel.yama.ptrace_scope=0```

The permanent fix is to make the same change in /etc/sysctl.d/10-ptrace.conf, which will fix things after the next boot.

I didn't

[2019-05-01 06:44] yosefe commented on #3542
i don't see how 1 wakeup for sender side rndv could be possible, but we still can keep this open with the goal to make sure the rndv wakeup count is minimal

[2019-05-01 06:48] yosefe commented on #3545
@spikebike the issue is fixed in #3205 which will be part of ucx v1.6 release

[2019-05-01 17:53] shamisp commented on #3542
I was wondering if there is a way to filter this through WID field, and just mask some of the completions  from exposure.

[2019-05-01 17:56] yosefe commented on #3542
WID is SW-level concept.. and AFAIK there is no way to filter RX completions

[2019-05-01 19:03] yosefe commented on #3542
Will check if solicited events with HWTM can reduce RX wakeup count

[2019-05-01 21:53] nmhamster opened #3550 "UCX 1.5.1 Crashes when using CUDA 10.1 and OpenMPI 4.0.1 on POWER8/Pascal P100 Platform"
Hi UCX Developers,

We are running tests of our Trilinos math library on a POWER8/P100 platform with CUDA 10.1 enabled and OpenMPI 4.0.1. UCX is compiled to work with the CUDA installation.

When running, we get the following error (see below) on 3 out of around 200 tests which utlize MPI routines. The code appears to not correctly free memory.

Not sure how to go about debugging this any further

[2019-05-01 22:03] shamisp commented on #3550
Seems like memory hooks again...
Adding @Akshay-Venkatesh @bureddy.

[2019-05-01 22:38] Akshay-Venkatesh commented on #3550
@nmhamster May be worth trying to run with `UCX_MEMTYPE_CACHE=n` env variable exported (as a workaround for now).

[2019-05-01 22:49] nmhamster commented on #3550
@Akshay-Venkatesh - that allows the test to pass. Does it affect performance?

[2019-05-01 22:49] nmhamster commented on #3550
(btw - thank you!)

[2019-05-01 22:59] bureddy commented on #3550
@nmhamster It seems cudaMalloc() for corresponding cudaFree() is done before MPI_init(). is this the case?

[2019-05-01 23:11] nmhamster commented on #3550
Yes it could be, that's a use case we need to cover.

[2019-05-01 23:25] bureddy commented on #3550
@nmhamster Ok.  currently memtype cache tracks the allocation/deallocations only between MPI_Init() and MPI_Finalize.

[2019-05-01 23:26] bureddy commented on #3550
duplicate https://github.com/openucx/ucx/issues/2755

[2019-05-01 23:26] nmhamster commented on #3550
@bureddy - is this easy to fix for our use cases?

[2019-05-01 23:39] bureddy commented on #3550
@nmhamster unfortunately it is a bit complicated to handle this case.   UCX_MEMTYPE_CACHE=n should be workaround for this now.

[2019-05-01 23:40] nmhamster commented on #3550
@bureddy - what are the performance implications of this for production runs?

[2019-05-01 23:46] bureddy commented on #3550
this might add 0.1-0.2us latency overhead.

[2019-05-02 07:08] moravveji commented on #3527
May I kindly attract your attention to this issue?

[2019-05-02 15:33] bureddy commented on #3527
@moravveji  I tried same flags and could not reproduce.  can you please upload output of "make V=1" as well.

[2019-05-02 17:36] bureddy commented on #3527
config.log
[code]
@moravveji It looks like you are building ucx-master not v1.4 as you initially stated.  From UCX-1.6.x onwards,  CUDA dependencies( libcuda*.so) are directly linked anymore. It will dynamically load them at runtime.  You can check if your build got cuda modules build them in  `<prefix>/lib/ucx` directory.

[code]

Can you also check
[code]

[2019-05-02 18:34] bureddy commented on #3359
@yosefe @shamisp please close this

[2019-05-02 19:06] #3359 closed

[2019-05-02 19:09] dmitrygladkov opened #3555 "shm_ib/test_ucp_wireup_1sided.multi_ep_1sided/3 failure on boo31"
[code]
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=boo31,worker=2/10105/console

[2019-05-03 09:20] moravveji commented on #3527
@bureddy : Thanks for the tips. I cleaned up, and started over with the latest stable release which I could download (i.e. v. 1.5.1), and could successfully built it together with CUDA. I also verified that by executing the `ucx_perftest` as you mentioned.
I am closing this ticket now.

[2019-05-03 09:20] #3527 closed

[2019-05-06 03:54] opoplawski opened #3557 "master build failure on Fedora rawhide"
[code]

[2019-05-06 03:58] opoplawski opened #3558 "Segmentation faults on Fedora Rawhide with ucx 1.5.1 and openmpi 4.0.1"
Since updating to openmpi 4.0.1 we're seeing a number of mpi tests segfault.  One example from scalasca:
[code]

[2019-05-06 07:38] alinask commented on #3007
Failure on the same test, on a different transport:

[code]

http://bgate.mellanox.com/jenkins/job/gh-ucx-pr/7247/label=ARM_test_node,worker=3/console

on ARM_test_node

[2019-05-06 11:20] #3534 closed

[2019-05-07 14:26] spickartz opened #3564 "CUDA/IB local protection error on inter-socket access"
I am trying to run the `osu_bw` Benchmark on CUDA device memory between two multi-GPU multi-HCA NUMA nodes.

If I set the environment variables

- `CUDA_VISIBLE_DEVICES`
- `CUDA_DEVICE_ORDER`
- `UCX_NET_DEVICES`

such that a combination of an HCA and a GPU on two different sockets is used, I get the following error from the verbs layer:

[code]

If II call (please note: `UCX_NET_DEVICES=mlx5_1:1`)

[2019-05-07 16:49] junghans commented on #3558
Same when running the VOTCA pipeline: https://gitlab.com/votca/votca/-/jobs/208439789
[code]
The same test works on a variety of other platforms.

[2019-05-07 17:30] bureddy commented on #3564
@spickartz  can you get output of `nvidia-smi topo -m` ?

[2019-05-07 18:12] spickartz commented on #3564
Sure, I get:
[code]

[2019-05-07 23:47] bureddy commented on #3564
@spickartz  I do not have exact same setup. I tried and i couldn't see same behavior on some other multi-GPU multi-HCA NUMA setup.

Can you check few more things?
1.  is nv_peer_mem module loaded?` /etc/init.d/nv_peer_mem status `
2.  what is the version of nv_peer_mem?  `cat /sys/kernel/mm/memory_peers/nv_mem/version`
3. MOFED version?  `ofed_info -s`
4. can you build UCX debug version and upload

[2019-05-08 06:00] spickartz commented on #3564
@bureddy here is what I found out:

This script is not installed on our systems but `lsmod` shows that it is loaded:
[code]

[code]

[code]

I will provide this in the following comment as this gets quite long.

[2019-05-08 06:11] spickartz commented on #3564
If I understand the CUDA GPUDirect documentation correctly ([https://docs.nvidia.com/cuda/gpudirect-rdma/index.html](https://docs.nvidia.com/cuda/gpudirect-rdma/index.html)):

then I assume this communication path is not necessarily supported. Or am I misunderstanding the documentation at this point?

[2019-05-08 18:15] lyu opened #3569 "Multi-threaded ucp_put_lat is very slow on AArch64"
GCC: 9.0.1 Fedora

UCX: master HEAD

UCX config:

```--enable-optimizations --disable-logging --disable-debug --disable-assertions --disable-params-check --enable-cma --enable-mt --with-knem=/opt/knem --with-xpmem=/opt/xpmem```

lscpu output:

[code]

Shared memory, single-threaded:

[code]

Shared memory, two threads:

[code]

Most of the other tests from `ucx_perftest` do not experience this kin

[2019-05-09 01:14] lyu opened #3574 "Inaccurate UCX_NUM_EPS causes hangs in multi-worker setups"
UCX: master HEAD

Test program: [ucx_num_eps_stuck.cpp](https://gist.github.com/lyu/9a1eaed1afb0390961fc9a41dd49f350)

In short, this program creates several threads, then each thread creates several workers and finally it connect some of the workers by creating endpoints. This problem was discovered when we were experimenting with some communication pipelining code.

To reproduce: compile the pro

[2019-05-09 11:31] spickartz commented on #3564
The root-cause of this issue has been found on our system. The problem was enabled ACS (Access Control Services) for PCIe devices within the BIOS (see also [https://ftpw.supermicro.com.tw/support/faqs/faq.cfm?faq=20732](https://ftpw.supermicro.com.tw/support/faqs/faq.cfm?faq=20732)).

If ACS is disabled, the protection error does not occur anymore. Does the UCX library provide any error handling t

[2019-05-09 16:59] bureddy commented on #3564
@spickartz Good to know that issue got resolved.  My earlier experience is that ACS should get you poor performance but not the protection error.   In general ACS should have enabled in all GPU environments as this also affects GPU-GPU P2P performance.  Any sanity tests like (ibperf or cuda utilities) should have exposed this.

I would consider this as no issue in UCX for now.

[2019-05-09 20:35] yosefe opened #3577 "shm_ib/test_ucp_peer_failure.zcopy fails on boo31"
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/10164/label=boo31,worker=0/console
[code]

[2019-05-12 03:12] nmhamster opened #3580 "Odd Crashes in UCX on POWER8 Systems with CUDA 10.1 Enabled (OpenMPI 4.0.1)"
Hi UCX Developers,

We are building our Trilinos tests against UCX 1.5.1 with OpenMPI 4.0.1, also configured for CUDA10.1 on our POWER8 test systems. We have a new bug in one our tests that looks like it is UCX related. The code in this sequence, opens a file, reads small chunks of it in, broadcasts it to all MPI ranks who then process it locally to develop local partitions of a global (parallel)

[2019-05-12 03:13] nmhamster commented on #3580
I should have added that all the communications here are on-node and host-only, this specific code is not using CUDA or any kernel/code offloads.

[2019-05-12 10:58] yosefe opened #3581 "Seeing message failures in OpenMPI 4.0.1 on UCX [from ompi-devel]"
(per https://www.mail-archive.com/devel@lists.open-mpi.org/msg20895.html)

- CentOS 7 on Intel processors, QDR IB and 40 GbE tests

- UCX 1.5.0 installed from the tarball according to the docs on the webpage

- OpenMPI-4.0.1 configured for verbs with:

`./configure F77=ifort FC=ifort --prefix=/homes/daveturner/libs/openmpi-4.0.1-verbs --enable-mpirun-prefix-by-default --enable-mpi-fortran=all --en

[2019-05-12 14:01] yosefe commented on #3580
@nmhamster the segfault is originating from MueLu_Maxwell3D.exe (frame 6) calling 'atoi', probably a corrupted string pointer (maybe as a result of using UCX). Is it possible to track in the application why the pointer is corrupted?

[code]

[2019-05-12 14:24] yosefe commented on #3574
Reproduced also with the SW versions above, on MLNX_OFED 4.5, with the command:
[code]

[2019-05-12 14:26] yosefe commented on #3581
Reproduced also with the SW versions above, on MLNX_OFED 4.5, with the command:
[code]

[2019-05-12 15:26] yosefe commented on #3581
btl/uct calls `ucm_set_external_event()` without checking `opal_mem_hooks_support_level()`. Need to disable btl/uct in compile-time or runtime.

[2019-05-13 14:00] #3517 closed

[2019-05-14 13:08] tonycurtis opened #3590 "GTEST/ucs/test_event_set.cc compile error: ignoring return value"
Ubuntu 19.04, GCC 8.3.0

git master @ e634b23a67ecc29b368b223ef6c434532c45f532

[code]

[2019-05-14 16:46] tonycurtis commented on #3590
PR #3592

[2019-05-15 06:11] spickartz commented on #3564
@bureddy Thanks for the feedback. I would close the issue then. However, is anything planed that would enable an error handling by upper layers?

[2019-05-15 09:37] 3null opened #3593 "Will UCX support kernel mode?"
Like [accelio ](https://github.com/accelio/accelio), thanks~

[2019-05-15 10:50] yosefe commented on #3593
@3null this is an interesting suggestion, currently UCX supports only userspace. What is the use case to support kernel mode as well?

[2019-05-16 12:36] shamisp commented on #3590
fixed in #3582

[2019-05-16 12:36] #3590 closed

[2019-05-16 19:59] bureddy commented on #3564
@spickartz not in plan for now.

[2019-05-16 20:05] shamisp commented on #3564
@bureddy - can we identify this misconfiguration from user space by reading some proc ? If it is exposed to user space we can add some check during initialization and report warning to user about system misconfiguration.

[2019-05-16 22:03] bureddy commented on #3564
@shamisp I don't see any proc entry for this to read in userspace.  AFAIK only way is to parse "lspci -vvv" output. but, this requires root permissions.  It seems NVIDIA also do not have any kind of handling for this in their tools.

[2019-05-17 04:58] miked-mellanox commented on #3564
maybe we should have FAQ entry on this or in README

[2019-05-17 13:40] shamisp commented on #3564
@spickartz if it is not programmatically exposed to user space, there is not much we can do about detecting this. We can document the symptoms and workaround on Wiki as @miked-mellanox suggested.

[2019-05-17 13:42] spickartz commented on #3564
@shamisp Sounds reasonable to me. In that case, I guess the issue can be closed. Or do you want to leave it open until an appropriate hint is given in the documentation?

Thanks a lot for your support!

[2019-05-17 19:33] bureddy commented on #3564
Added FAQ entry here : https://github.com/openucx/ucx/wiki/NVIDIA-GPU-Support

[2019-05-17 20:02] shamisp commented on #3564
Can you please add reference to the main page
https://github.com/openucx/ucx/wiki
otherwise it is hard to find IMHO.

On Fri, May 17, 2019 at 2:33 PM Devendar Bureddy <notifications@github.com>
wrote:

[2019-05-17 20:03] #3564 closed

[2019-05-18 21:27] tonycurtis opened #3604 "java/ucp: compilation missing org_ucx_jucx_ucp_UcpEndpoint.h header in out-of-source-tree build"
github master @ a937ca9a4608e30c57ba7f4ac6975502e5c8255e

[code]

[2019-05-19 07:48] petro-rudenko commented on #3604
How did you run `./configure`? Trying to reproduce:
[code]
this works.

[2019-05-19 12:46] tonycurtis commented on #3604
I tried again in a fresh clone, and it compiled ok.

Both repos at the same commit.  Something getting cached in source tree?

[2019-05-19 12:59] petro-rudenko commented on #3604
`pom.xml` is now generate at configuration step:
https://github.com/openucx/ucx/blob/master/bindings/java/pom.xml.in

[2019-05-19 12:59] petro-rudenko commented on #3604
Maybe you had old one. try to do `make distclean` and rerun configure.

[2019-05-19 13:20] tonycurtis commented on #3604
I deleted all the untracked files, and now the old repository compiles again.

[2019-05-19 13:20] #3604 closed

[2019-05-20 14:56] dmitrygx opened #3607 "cm/test_uct_pending.pending_ucs_ok_dc_arbiter_bug/0 failure"
[code]

http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/10294/label=r-vmb-ppc-jenkins,worker=1/consoleFull

[2019-05-21 15:17] tonycurtis opened #3611 "UCX: standalone machine issue, can't find device"
On a standalone (+ tcp, knem, xpmem) Fedora 30 x86_64 machine, the following program works with UCX 1.5.1 but fails with github master, which has ucp_init() returning "No such device"

master @ d4cc8b1fc6ccb220d806b3e888141ea8adb92f30

[code]

[code]

[2019-05-21 15:45] yosefe commented on #3611
@tonycurtis what is the output of `ucx_info -d` on that machine?

[2019-05-21 15:45] yosefe commented on #3611
marking as a bug because at least 'self' has to be operational

[2019-05-21 15:46] tonycurtis commented on #3611
[code]

[2019-05-21 15:48] yosefe commented on #3611
seems related to recent sockcm trasport
adding @Akshay-Venkatesh

[2019-05-21 15:51] yosefe commented on #3611
or to using new UCT component API

[2019-05-21 20:37] tonycurtis commented on #3611
Explicitly calling `configure` using `--without-verbs --with-rdmacm` makes things work again.

[2019-05-22 06:39] brminich commented on #3522
Also happened here:
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/10318/label=hpc-test-node,worker=1/consoleFull#-853622487b816df86-9afc-46eb-984f-1a9a125d73bb
[code]

[2019-05-22 14:02] tonycurtis commented on #3611
Tested #3614 as patch, works +1

[2019-05-22 16:42] Akshay-Venkatesh commented on #3611
@yosefe Should I be changing the behavior that `sockm` has in master or does #3614 suffice for now?

[2019-05-23 07:19] dmitrygladkov opened #3618 "Local QP operation failure in udx/test_ucp_wireup_2sided.connect_disconnect/0"
[code]

http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-arm-hwi-jenkins,worker=0/10341/console

[2019-05-23 07:48] yosefe commented on #3611
@Akshay-Venkatesh all is good with sockcm@master.

[2019-05-24 11:25] dmitrygladkov opened #3627 "shm_ib/test_ucp_peer_failure.force_close/2 fails from time to time on boo31"
[code]

http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/10368/label=boo31,worker=3/consoleFull

[2019-05-24 21:34] hzhou commented on #3540
I also hit this error today and scratched my head in frustration for half a day. The error message is rather misleading, so I'll add some notes here to help future encounters.

* `configure.ac:34:` is totally bogus. What happens is `autoconf` find in the output, `configure`, contains unexpanded macro, `AS_IF`. That only means this macro is over-quoted in the source, ie `configure.ac`. In the spiri

[2019-05-25 16:56] #3611 closed

[2019-05-26 07:36] yosefe opened #3630 "rc/test_uct_peer_failure_multiple.test timeout on boo31"
happens when 2 workers run it in parallel:
[code]

[code]

[2019-05-26 08:49] dmitrygladkov commented on #3630
the same test failed for UD transport:
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/10388/label=boo31,worker=2/console

[2019-05-26 15:21] yosefe opened #3634 "ud_mlx5/test_uct_peer_failure_multiple.test/0 does not set TX_QUEUE_LEN for ud"
Note this message: `[     INFO ] TX_QUEUE_LEN setting not found, taken test default value: 256`
Seems related to recent changes in this test by @dmitrygladkov

[code]

[2019-05-26 19:19] dmitrygladkov commented on #3634
yes, it is unrelated to #3475. It was broken, because `ud_mlx5` TL name wasn't handled.

[2019-05-26 19:25] dmitrygladkov commented on #3627
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/10398/label=boo31,worker=3/console

[2019-05-27 03:57] dmitrygladkov commented on #3555
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/10400/label=boo31,worker=3/console

[2019-05-27 07:44] #3634 closed

[2019-05-27 18:16] dmitrygladkov commented on #3627
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/10415/label=boo31,worker=1/console

[2019-05-27 18:18] dmitrygladkov commented on #3555
[code]
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/10415/label=boo31,worker=1/console

[2019-05-27 19:16] dmitrygladkov commented on #3607
[code]
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/10416/label=r-vmb-ppc-jenkins,worker=3/consoleFull

[2019-05-28 13:20] dmitrygladkov opened #3642 "shm_ib/test_ucp_tag_mt.send_recv/1 fails on boo31"
[code]

http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=boo31,worker=1/10429/console

[2019-05-29 22:45] tonycurtis opened #3651 "1.6.0-rc1/java compile error"
make failure on standalone machine with java enabled, out-of-tree-build:

[code]

[2019-05-30 08:05] petro-rudenko commented on #3651
Can you please provide steps how did you run configure?

[2019-05-30 11:17] hiroyuki-sato opened #3652 "[Q] How to hide epoll functions which is used in uct/tcp/tcp_ep.c?"
## Goal

Now I'm porting OpenUCX to macOS platform.

I would like to use `kqueue` instead of `epoll` on macOS platform.
because it doesn't support that OS.

`epoll` use in `uct/tcp/tcp_ep.c` and `uct/tcp/tcp_iface.c`
This is the issue for discussing maintainer how to hide it

## Background

I introduced new API [`event_set`](https://github.com/openucx/ucx/blob/master/src/ucs/sys/event_set.h) for h

[2019-05-30 12:03] tonycurtis commented on #3651
Out of tree build, simplest configure that causes problems is:

[code]

[2019-05-30 12:14] petro-rudenko commented on #3651
[code]
works for me.

Does it generate `pom.xml` in bindings/java ?

[2019-05-30 12:59] tonycurtis commented on #3651
Same problem in a fresh build.

But this is the 1.6.0 rc1 release (not cloned), so there's no autogen.

[2019-05-30 13:26] petro-rudenko commented on #3651
Ok so release tarball doesn't contains java sources.

[2019-05-30 14:17] yosefe commented on #3651
@petro-rudenko which stage should generate the missing java sources?

[2019-05-30 14:44] dmitrygladkov commented on #3642
[code]

[2019-05-31 19:35] dmitrygladkov commented on #3652
@hiroyuki-sato Thanks for the information provided in the details!

I think this is good to have something like `epoll_event.data.ptr` for UCS event set, because it may be useful for multiple cases (not only for TCP).
So, if we have this in UCS event set API - UCS event set could be used by TCP instead of epoll.

Are you going to implement UCS event set over poll/kqueue for macOS platform? If yes,

[2019-06-02 14:23] hiroyuki-sato commented on #3652
Hello, @dmitrygladkov

Thank you for the comment.

I modified event_set implementation to allow user data variables.
`epoll_event.data` is **union** and It doesn't allow set file descriptor and user data at once.
So, I created new data type `ucs_sys_event_set_epoll_data_t` to store it.

https://github.com/hiroyuki-sato/ucx/commit/6a6799ca6873eda220d2c97119404b09aedacc5d

I'll try to replace src/uc

[2019-06-03 12:30] hiroyuki-sato commented on #3652
Hello, @dmitrygladkov

Just sharing information. Maybe you know, UCT require `uct_iface_event_fd_get` implementation and TCP [implementation](https://github.com/openucx/ucx/blob/master/src/uct/tcp/tcp_iface.c#L130-L136) returns fd of epoll.

[code]

I have no idea what descriptor should return in event_set yet.

[2019-06-03 12:51] dmitrygladkov commented on #3652
@hiroyuki-sato  Hello!

This fd is returned to the user that is used to wait for events using select/poll/epoll/...
So, we need to think about how we should behave in case of we don't have epoll

[2019-06-03 13:14] hiroyuki-sato commented on #3652
@dmitrygladkov Thank you for the comment!

event_set just wrapping API of kqueue/epoll. It is easy to return file descriptor of epoll/kqueue.
https://github.com/openucx/ucx/blob/master/src/ucs/sys/event_set.c#L67
But I'm not sure whether it works properly or not **yet**.
What do you think this(just return epoll's file descriptor) implementation is the best way? (At least about epoll)
Should we use

[2019-06-03 18:44] shamisp commented on #3651
This issue was reported on v1.6.x branch and the patch was merged into the master. Re-opening the ticket. @petro-rudenko do we have PR for v1.6.0 ?

[2019-06-03 18:49] shamisp commented on #3652
I would return the FD to user as it is. User is responsible to handle this appropriately, based on the underlaying OS. The ```_create``` wrapper looks reasonable.

[2019-06-04 00:49] mrocklin opened #3663 "Bringing UCX down to commodity hardware"
I've recently been using UCX along with [Dask](https://dask.org), a Python library for parallel computing, to speed up communications on workstations with many GPUs with NVLink.  UCX has been great.  Thank you all for such a useful library.

I would now like to explore using UCX on a personal laptop without GPUs for TCP and shared memory communication.  I'm curious about issues that might arise wh

[2019-06-04 04:36] fantastic2085 opened #3664 "How does openucx fuse with the sheepdog?"

[2019-06-04 07:03] dmitrygladkov commented on #3453
[code]
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-test-node3,worker=0/10498/console

[2019-06-04 07:43] miked-mellanox commented on #3663
* UCX does not require rdma stack and will work on laptop with tcp and shared memory.  (you can use it in with win10 WSL as well)
* the OSX support is ongoing with big help of  @hiroyuki-sato, you are welcome to contribute as well.
@yosefe

[2019-06-04 07:55] hiroyuki-sato commented on #3663
Hello, @mrocklin

I and @keisukefukuda working OpenUCX porting to macOS.
It is still in progress. It still exists many steps yet.
I'm using this branch for changing for macOS.
https://github.com/hiroyuki-sato/ucx/tree/osx_fixes

All of the issues in this URL is macOS specific.
https://github.com/hiroyuki-sato/ucx/issues

This is the summary page.
https://github.com/hiroyuki-sato/ucx/issues/1

Than

[2019-06-04 07:59] hiroyuki-sato commented on #3652
Hello, @shamisp

Thank you for your advice. I'll implement `_create` wrapper.

[2019-06-04 08:07] fantastic2085 opened #3665 "If UCX is based on Linux kernel TCP/IP for sending and receiving data, how does it provide accelerated performance?"

[2019-06-04 10:50] hiroyuki-sato commented on #3652
Hello, @dmitrygladkov

Could you tell me the following questions?
I sometimes confuse the usage of malloc.

Maybe you know, `epoll_ctl` can't use `epoll_event.data.fd` and `epoll_event.data.ptr` at time same time. The reason is that `epoll_event.data` is **union**.

If I understand correctly, It requires to store both(file descriptor and user data) variables into `epoll_event.data.ptr` using a str

[2019-06-04 11:48] jaysullivan opened #3668 "UCV ERROR Failed to allocate memory pool"
Hi,

I'm in the process of rebuilding some codes for execution on RHEL7.6:

# ucx_info -v
# UCT version=1.5.0 revision 02078b9
# configured with: --build=x86_64-redhat-linux-gnu --host=x86_64-redhat-linux-gnu --program-prefix= --disable-dependency-tracking --prefix=/usr --exec-prefix=/usr --bindir=/usr/bin --sbindir=/usr/sbin --sysconfdir=/etc --datadir=/usr/share --includedir=/usr/include --libdi

[2019-06-04 13:22] #3642 closed

[2019-06-04 13:38] dmitrygladkov commented on #3555
@yosefe This can be closed as a duplicate for #3642 issue
checked with #3654 fix and can't reproduce

[2019-06-04 13:50] Akshay-Venkatesh commented on #3663
@miked-mellanox Isn't rdmacm required for client server connection establishment in UCX?

[2019-06-04 14:03] yosefe commented on #3555
duplicate of #3642

[2019-06-04 14:03] #3555 closed

[2019-06-04 14:16] yosefe commented on #3665
@fantastic2085 UCX also supports high-speed RDMA networks (such as Infiniband and RoCE) in addition to TCP/IP.

[2019-06-04 14:36] petro-rudenko commented on #3664
Sheepdog is a distributed file system, that seems to use accelio library:
https://github.com/sheepdog/sheepdog/blob/6b3aa035564fcc9271f00698f0acf756b92bcd98/sheep/request.c#L1111

Accelio is not actively maintained anymore. If you're a sheepdog developer and want to use openucx  - would be glad to help.

[2019-06-05 07:20] dmitrygladkov commented on #3652
Hello @hiroyuki-sato
Thanks for investigating this!

Yes, you're right, it requires `malloc()`'ed data and `free` this memory when we read event from the particular fd (`ucs_event_set_wait` - this is the critical path) or in `ucs_event_set_cleanup` if no data were read.

But do you think that we need to store `fd` to the epoll data? Can we avoid it?

I suggest changing `ucs_event_set_handler_t` to

[2019-06-05 07:58] dmitrygladkov commented on #3007
[code]
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-test-node3,worker=0/10498/console

[2019-06-05 10:44] hiroyuki-sato commented on #3652
Hello, @dmitrygladkov

Thank you for your advice. I'll try to implement it.

Does this mean the following? Is this correct?
Maybe, I can imagine it. I'll try it.

Proposal change.

[code]

Usage

[code]

[2019-06-05 11:41] dmitrygladkov commented on #3652
Hello @hiroyuki-sato

Yes, that's what I meant
Thank you!

[2019-06-05 12:15] hiroyuki-sato commented on #3652
Hello, @dmitrygladkov
Thank you for your help! I'll try it.
Please wait for update.

[2019-06-05 12:16] yosefe commented on #3668
@jaysullivan can you pls try to increase # of segments limit on the machine by `echo 40960|sudo tee /proc/sys/kernel/shmmni`?

[2019-06-05 16:16] jaysullivan commented on #3668
Hi,

That seemed to fix the issue. In RHEL6 I didn't have this problem, I had the default setting of 4096. If you don't mind, can you explain a bit more what's going on?

Thanks,
-Jay

[2019-06-05 16:22] dmitrygladkov commented on #3652
@hiroyuki-sato Thank you for great efforts!

[2019-06-06 01:45] tonycurtis opened #3676 "UCX programs hang when compiled with -fsanitize=address"
git master @ 462e0240e544678a9d28bf48a59230a513767da4

When compiled with `-fsanitize=address`, programs linked with UCX hang on start, even a vanilla `main() { return 0; }` that doesn't even call UCX

Works with 1.x releases

[2019-06-06 02:46] shamisp commented on #3676
@tonycurtis what about 1.6.0-rc1 ?

[2019-06-06 02:50] tonycurtis commented on #3676
1.6.0-rc1 works too

[2019-06-06 02:51] shamisp commented on #3665
It also leverages shared memory communication (sysv, knem, cma, xpmem) whenever possible. The library autodetects available transports and uses most optimal channel/s (potentially more than one) for communication. As @yosefe we also support ROCE over ethernet which is supported by variety ethernet adapters.

[2019-06-06 10:58] hiroyuki-sato commented on #3652
Hello, @dmitrygladkov

I modified event_set API for using callback data.
https://github.com/hiroyuki-sato/ucx/commit/6ab14f091e250a30cec436657d86ef8b53d58bfe

Next, I'll modify ucs/async/thread.c and uct/tcp using this API.
Modification ucs/async/thread.c will based on [this change](https://github.com/openucx/ucx/pull/3610/files).
I'm thinking about how to free malloc'ed memory.

Stay tuned for an

[2019-06-06 11:20] dmitrygladkov commented on #3652
Hello @hiroyuki-sato

I went through your changes, they LGTM.

Where free `malloc()'ed memory is required?

[2019-06-06 11:58] hiroyuki-sato commented on #3652
Hello, @dmitrygladkov

Thank you for the comment.

I don't completely understand ucs/async/thread.c yet.
Maybe the answer is simple.

The following codes copied from this PR.
https://github.com/openucx/ucx/pull/3610/files

This callback function changed `int fd` to `void *callback_data`.
So We need to get `fd` using an alternative way.

https://github.com/openucx/ucx/blob/8fcadeda04fb5e70f481e4885

[2019-06-06 13:31] dmitrygladkov commented on #3652
Hello @hiroyuki-sato

I've got the issue nwo

as `callback_data` is 8-byte storage, we can set `fd` w/o allocating additional memory - just pack the `fd` in the following way:
[code]
and the unpack it:
[code]

Hope it should solve the issue.

[2019-06-06 14:07] dmitrygladkov opened #3678 "sporadic failure rcx/test_ucp_tag_xfer.test_xfer_len_offset/0 on hpc-arm-hwi-jenkins"
[code]
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-arm-hwi-jenkins,worker=0/10553/console

[2019-06-06 14:57] dmitrygladkov commented on #3627
When it fails we can see the following traces:
[code]

[2019-06-06 15:00] dmitrygladkov commented on #3627
# how to reproduce:

run
`test/gtest/gtest --gtest_filter="rc/test_ucp_peer_failure.basic/0" --gtest_repeat=-1 --gtest_break_on_failure=1`
and
`test/gtest/gtest --gtest_filter="shm_ib/test_ucp_peer_failure.*/3" --gtest_repeat=-1 --gtest_break_on_failure=1`
simultaneously on the same node

then you will see:
[code]

[2019-06-06 15:16] dmitrygx opened #3679 "dc_mlx5/test_uct_peer_failure_multiple.test/0 failure on vulcan-jenkins - v1.6"
[code]

http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/10554/label=vulcan-jenkins,worker=1/consoleFull

[2019-06-06 16:39] dmitrygladkov commented on #3627
also the following can be catched:
[code]

[2019-06-07 00:51] hiroyuki-sato commented on #3652
Hello, @dmitrygladkov

Thank you for your great advice!.

I modified `ucs/async/thread.c` using your proposal.
https://github.com/hiroyuki-sato/ucx/commit/bbfa9bc091d48f4cede671d8d8cf5f297a92d363

I needed `(void *)(uintptr_t)fd` syntax for avoiding compiler error.

Next, I'll change `uct/tcp`.

[2019-06-07 06:30] dmitrygladkov commented on #3652
Hello @hiroyuki-sato

Yes, right, this is needed

Are you going to create a separate PR with the `uct/tcp` changes or combine it with the `ucs/async` changes?

[2019-06-07 06:37] hiroyuki-sato commented on #3652
Hello, @dmitrygladkov

Thank you for helping me every time!

Yes. I'll try to change uct/tcp on another branch. If that works well, I'll create three PRs.

* extend event_set
* use event_set in `ucs/async/thread.c` (Force push #3610)
* use event_set in `uct/tcp`

Best regards.

[2019-06-07 06:51] dmitrygladkov commented on #3652
Hello @hiroyuki-sato

Thank you! This sounds like a great plan to me

[2019-06-07 11:18] hiroyuki-sato commented on #3652
Hello, @dmitrygladkov

I modified uct/tcp for using event_set API.
https://github.com/hiroyuki-sato/ucx/commit/2b3975af9c6769e501438b3138d6134ef5fc160e

But It's still buggy.

I'm getting the following error.

[code]

Anyway, I'm thinking about the following. Could you tell me your thought?
`uct_tcp_iface_progress` function is a difficult part using event_set API.

Best regards.

## Issues

* How

[2019-06-08 09:08] hiroyuki-sato commented on #3652
Hello, @dmitrygladkov

I updated codes for fixing errors.
Current implementation passed tests.
(It may need to improve `uct_tcp_iface_progress` function)
https://github.com/hiroyuki-sato/ucx/commit/ef945bc1f54d86bf2363f6aa7b94b7390ac65dd0

If uct/tcp require custom epoll_wait size(`iface->config.max_poll`),
What do you think extend event_set API like `ucs_event_set_create(.., max_poll_size)`?

Bes

[2019-06-08 09:26] dmitrygladkov commented on #3652
Hello @hiroyuki-sato

Gave comments on the code that should fix the bug

Yes, this is a good way to do this

we should continue sleeping(waiting) for events in epoll w/o involving UCS event_set API user into this process.
[code]

it is used to declare an array of events on the stack, not it's not important
I think the more important to keep current TCP progress engine as is, i.e. handling not more

[2019-06-08 09:28] dmitrygladkov commented on #3652
I think we can go with the idea that I recommend you in the comment above - it looks more flexible, because a user may decide to pass a different number of polled events depending on different situations

[2019-06-08 19:46] yosefe commented on #3557
fixed in #3548

[2019-06-08 19:49] #3545 closed

[2019-06-08 19:50] yosefe commented on #3558
Fixed in v1.5.x (#3656), v1.6.x (#3671) and master (#3658)

[2019-06-08 19:51] #3558 closed

[2019-06-08 19:51] yosefe commented on #3651
Fixed for v1.6.x in #3667

[2019-06-08 19:51] #3651 closed

[2019-06-08 19:59] yosefe commented on #3139
default port selection in client/server example fixed in #3533
error handling of busy port fixed in #3477

[2019-06-08 19:59] #3139 closed

[2019-06-08 20:00] yosefe commented on #3409
fixed passing min_rnr_timer in modify_dct

[2019-06-08 20:00] #3409 closed

[2019-06-09 06:13] hiroyuki-sato opened #3682 "The status of event_set API (Use it in uct and ucs/async/thread)"
I'm creating a new `event_set` API for waiting event.
This is an umbrella API for `epoll` and `kqueue`.
It uses for porting OpenUCX to macOS (and another xBSD system like FreeBSD)
I'm modifying that `uct/tcp` and `ucs/async/thread.c` use event_set API.

This issue summaries that status.

- [x] extend event_set API for using in UCT layer. (#3683: merged) (Refactor #3746)
- [x] ucs/async/tread.c use

[2019-06-09 06:14] hiroyuki-sato commented on #3652
Hello, @dmitrygladkov

Thank you for your great help!
I almost modified codes.
I think It's time to create new PR. Let's discuss in a new PR.
I created #3682 for summaries those works.

[2019-06-09 06:14] #3652 closed

[2019-06-09 11:19] yosefe commented on #3574
@lyu sorry for late response, the issue is that the target worker is flushed while there is no progress on the sender workers. as a result the wireup process cannot complete so the flush does not complete.
it does not happen with large `UCX_NUM_EPS`, because it forces usage of dc transport which does not require wireup process.

The test should be fixed like this:
[code]

[2019-06-09 11:23] #3557 closed

[2019-06-09 14:36] dmitrygladkov commented on #3652
Hello @hiroyuki-sato

Thank you for working on this!!!

[2019-06-09 19:52] lyu commented on #3574
@yosefe Thank you for the explanation!

I am still relatively new to this and I don't know anything about the wireup process (couldn't find anything in the UCX specs), so please bear with me if I do some thing that makes no sense.

Let's call the worker I created before entering the parallel region the "default worker".

I want to solve this wireup issue as I create the new thread-local workers (a

[2019-06-10 07:41] yosefe commented on #3574
@lyu option2 doesn't work because you are progressing only one of the non-default workers (wks[i[) while flushing the default worker. possibly one of the other threads is not currently progressing its non-default worker.
option1 is ok because wks[i] is connecting only to the default worker so it's ok to progress only both of them while flushing it.
as general rule, need to flush all workers in the

[2019-06-10 17:31] lyu commented on #3574
@yosefe Thanks! Closing.

[2019-06-10 17:31] #3574 closed

[2019-06-10 19:52] dmitrygladkov commented on #3627
The easiest way to reproduce this problem is to attach `gdb` to the `shm_ib/test_ucp_peer_failure.force_close/2` and set `test_ucp_peer_failure.cc:274` breakpoint
It fails immediately with the same symptoms as a `wireup` procedure can't be done

[2019-06-11 09:22] zerothi opened #3686 "(title changed) OpenMPI bogus warnings "UCX is unable to handle VM_UNMAP""
I am running:

[code]
and OpenMPI 4.0.1 and GCC 9.1.0.

I am running on a local machine, which of course does not make sense with all the options, but configure just disables the extended features.

However, when running the simplest MPI program (only `MPI_init` and `MPI_finalize`) I get the following error:

[code]

[code]

It seems unrelated to #3023 and #3668 since this is a local machine.

[2019-06-11 09:24] yosefe commented on #3686
actually, it seems like #3023.
what is the output of `capsh --print|grep ipc`?
can you pls check if UCX master branch works?

[2019-06-11 09:32] zerothi commented on #3686
[code]

I'll check with master

[2019-06-11 09:33] zerothi commented on #3686
@yosefe but #3023 was fixed before 1.5.1 was released? Ok, i'll try master ;)

[2019-06-11 09:36] yosefe commented on #3686
@zerothi v1.5.x was branched before the fix (on Nov'18, fix was in Jan'18)

[2019-06-11 09:38] zerothi commented on #3686
ah, ok. :)

[2019-06-11 14:15] tonycurtis commented on #3676
#3681 works for me

[2019-06-11 14:15] #3676 closed

[2019-06-12 22:20] tonycurtis opened #3694 "1.5.2-rc3: configure with CUDA option but CUDA not in environment message"
This is just linguistic, not a s/w issue.

[code]

"CUDA packages cannot be found"

[2019-06-12 23:06] yosefe commented on #3694
fixed in master : https://github.com/openucx/ucx/blob/master/config/m4/cuda.m4#L57

[2019-06-13 04:01] eduamf opened #3695 "autoreconf not found"
After

`./autogen.sh
`

error

` 5: ./autogen.sh: autoreconf: not found`

[2019-06-13 05:57] miked-mellanox commented on #3695
autoreconf utility comes from distro "autoreconf" package which should be installed on your machine.

[2019-06-13 14:10] shamisp commented on #3695
GNU Autotools: autoconf, automake, and libtools have to be installed in the system if you build directly from GitHub.

[2019-06-13 17:59] #3694 closed

[2019-06-13 18:01] tonycurtis opened #3701 "1.6.0-rc2: compile error --with-java"
Out of tree build.  Compiles OK if download the raw source asset and autogen.sh it.

[code]

[2019-06-14 18:13] shamisp opened #3704 "dcx/test_ucp_rma_mt.put_get timeout on ThunderX2"
``` make -C test/gtest/ test -j 32 GTEST_FILTER=*dcx/test_ucp_rma_mt.put_get*```
[code]

The test hangs for a while and then aborts. Tested with master.

[2019-06-14 18:53] shamisp commented on #3704
@yosefe I sent you trace in email.

[2019-06-14 19:12] shamisp commented on #3704
@yosefe It seems like it has something to do with multi-rail. I have one ROCE and one IB NIC one the node. When I explicitly set UCX_NET_DEVICES to one of the devices, it passes the test. I don't think it has anything to do with Arm specifically.

[2019-06-14 19:28] shamisp commented on #3704
[code]

[2019-06-14 19:37] shamisp commented on #3704
backtrace:
[code]

[2019-06-16 11:34] alinask opened #3705 "failure on log_test_print.print_on"
[code]

http://bgate.mellanox.com/jenkins/job/hpc-ucx-pr__published_from_mellanox_lab/10653/label=hpc-test-node2,worker=1/consoleFull

[2019-06-17 07:22] dmitrygladkov commented on #3364
it can be related to #3627, #3630, #3577 that fails from time to time on boo31 under high load

[2019-06-17 07:34] yosefe commented on #3686
@shamisp as we discussed on the dev call, we would not port it to v1.5.2

@zerothi, did v1.6.x/master solve the problem?

[2019-06-17 07:34] #3695 closed

[2019-06-17 07:56] yosefe commented on #3668
@jaysullivan it's possible that something is different in test's communication pattern which requires more memory because of more unexpected messages. Is it possible to share the test code so we can try to reproduce the issue?

[2019-06-17 08:23] zerothi commented on #3686
@yosefe thanks for following up!

I just tried with 1.6.0-rc2. It seems to be resolved. However, now I get:
[code]
which could be OMPI, but it seems related to UCX?

[2019-06-17 10:57] yosefe commented on #3686
@zerothi it's probably a real issue, which UCX detects as of v1.6.x.
Can you try running with "-mca btl ^uct"?
see also https://github.com/openucx/ucx/issues/3581

[2019-06-17 11:26] zerothi commented on #3686
I did this:
[code]
and got the same:
[code]

[2019-06-17 11:28] zerothi commented on #3686
@yosefe should I move this to the mentioned ticket?

[2019-06-17 11:46] yosefe commented on #3686
@zerothi can you try just this:
`mpirun --mca opal_common_ucx_opal_mem_hooks 1 --mca btl ^uct -np 2 ./test` ?

(There is also other issue (fixed in UCX master, @hoopoepg port it to v1.6.x as well) that when you would pass '--mca opal_common_ucx_opal_mem_hooks 1' as recommended by the warning message, the warning still shows)

[2019-06-17 11:54] zerothi commented on #3686
I get the same output:
[code]

[2019-06-17 11:56] zerothi commented on #3686
You can see my `config.log` here:
https://gist.github.com/zerothi/a2a7822417e5c312787d8a9f0012a8dd

if it helps?

[2019-06-17 11:57] yosefe commented on #3686
probably some other OpenMPI component is initializing memory patcher framework, which overrides UCX hooks.. can yous pls try:
`$ mpirun --mca btl self -np 2 ./test   `?

Also, is it possible to provide config.log for OpenMPI?

[2019-06-17 12:04] zerothi commented on #3686
@yosefe same thing :(

[code]

I have amended the gist with ompi-config.log as well.

[2019-06-17 12:14] amaslenn opened #3708 "[mtt] hang in several tests on jazz (roce)"
Configuration
[code]

MTT log: http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/ucx_ompi/20190615_192018_4712_23348_jazz05/html/test_stdout_oOv85e.txt

Doesn't always reproduce, need to run it in a loop. Couldn't reproduce with debug env module.

Cmd:
`mpirun -np 60 --display-map -mca btl self --tag-output --timestamp-output -mca pml ucx -mca coll '^hcoll' --bind-to core -x UCX_NET_DEVICE

[2019-06-17 14:25] yosefe commented on #3686
@zerothi unfortunately, i've tried to reproduce the issue with same versions and configuration on my system, and no luck..
can you pls rebuild UCX with debug like this (--disable-logging replaced by --enable-logging)?
`../configure --enable-optimizations --enable-logging --disable-debug --disable-assertions --disable-params-check --with-rc --with-ud --with-dc --with-dm --with-mcpu --with-march ...

[2019-06-17 14:40] jaysullivan commented on #3668
Unfortunately no. It's restricted code.

Jay

On Mon, Jun 17, 2019, 3:57 AM Yossi Itigin <notifications@github.com> wrote:

[2019-06-17 19:50] zerothi commented on #3686
I got this:
[code]

[2019-06-17 19:51] zerothi commented on #3686
Woops, you had way more stuff than I had! ;) Wait a minute!

[2019-06-18 08:37] zerothi commented on #3686
@yosefe If you need anything more, please do not hesitate to contact me :)

[2019-06-18 08:39] yosefe commented on #3686
@zerothi i guess you don't have any IB/RDMA device, or knem driver, right?
seems the issue is bogus warning when memhooks are not installed because rcache was not created. i'm preparing a fix for it and will update when have a PR

[2019-06-18 08:58] yosefe commented on #3581
closing since the issue is btl_uct usage, and UCX added checks that malloc hooks are working to warn before a data corruption happens

[2019-06-18 08:58] #3581 closed

[2019-06-18 08:58] zerothi commented on #3686
Correct, I don't have *anything* on my machine. :)
It is because I am doing a "software stack" that I sort of check on my own laptop/stationary, and thus I don't have exactly the same setup with advanced devices. :)

[2019-06-18 08:59] zerothi commented on #3686
My guess is that you could actually run CI tests on travis/azure/... for such a non-use case?

[2019-06-18 09:42] yosefe commented on #3686
@zerothi the warnings should be fixed by #3716

[2019-06-18 13:40] dmitrygladkov commented on #3679
related to #3627, #3630, #3577, #3364
will be fixed by #3712

[2019-06-18 17:11] #3627 closed

[2019-06-18 23:26] stanleytsang-amd opened #3722 "ROCm unit tests not working"
It appears as though since commit 6bd16ca I am unable to run the rocm-specific unit tests.  Calling the gtest executable with --gtest_filter="*rocm*" produces zero cases run.  In earlier commits the filter works.

I think the merge in 6bd16ca accidentally removed the test case instantiation for rocm in test/gtest/uct/test_md.cc - it is a merge for PR #3348, and you can see in PR 3348 the entry for

[2019-06-19 08:54] yosefe commented on #3133
Fixed by UCT component API (master branch), which no longer requires prefixing md name with md component name

[2019-06-19 08:54] #3133 closed

[2019-06-19 12:40] amaslenn opened #3730 "[mtt] Assertion `ucp_ep_config(ep)->key.am_lane != ((ucp_lane_index_t)-1)' failed"
Configuration
[code]

MTT log: http://hpcweb.lab.mtl.com/hpc/mtr_scrap/users/mtt/scratch/shmem/20190619_113619_165131_23509_jazz09/html/test_stdout_lefQL_.txt

Reproduces without HCOLL (`-mca coll_hcoll_enable 0 -mca coll ^hcoll`).
Min np to reproduce is 2.

Cmd:
`oshrun -np 308 --display-map --bind-to core -mca oshmem_proc_group_cache_size 10000 -mca sshmem ucx -mca atomic ucx -mca coll_hcoll_ena

[2019-06-19 13:13] tonycurtis opened #3731 "UCT: rkey unpack issue"
Seen since b144885e9c59b26e382f7f8e7c766aea1b885ef3

(Note: I'm not using UCT directly, rather UCP.  UCT is what is throwing up the error.)

[code]

[2019-06-19 17:46] dmitrygladkov commented on #3679
#3712 fixes the issue
The root cause: UCT/IB/UD EP timeout (3 seconds - set for UCP peer failure test cases) is too small to establsih a connection (wireup) and for data transfer when don't expect errors for IB/UD transport.
Solution: sets UCT/IB/UD EP timeout to 3 seconds after initialization and preparations this timeout is reset to the default value (5 minutes) after peer failure tested.

[2019-06-19 17:46] dmitrygladkov commented on #3630
#3712 fixes the issue
The root cause: UCT/IB/UD EP timeout (3 seconds - set for UCP peer failure test cases) is too small to establsih a connection (wireup) and for data transfer when don't expect errors for IB/UD transport.
Solution: sets UCT/IB/UD EP timeout to 3 seconds after initialization and preparations this timeout is reset to the default value (5 minutes) after peer failure tested.

[2019-06-19 17:46] #3630 closed

[2019-06-19 17:46] dmitrygladkov commented on #3577
#3712 fixes the issue
The root cause: UCT/IB/UD EP timeout (3 seconds - set for UCP peer failure test cases) is too small to establsih a connection (wireup) and for data transfer when don't expect errors for IB/UD transport.
Solution: sets UCT/IB/UD EP timeout to 3 seconds after initialization and preparations this timeout is reset to the default value (5 minutes) after peer failure tested.

[2019-06-19 17:46] #3577 closed

[2019-06-19 17:47] dmitrygladkov commented on #3364
#3712 fixes the issue
The root cause: UCT/IB/UD EP timeout (3 seconds - set for UCP peer failure test cases) is too small to establsih a connection (wireup) and for data transfer when don't expect errors for IB/UD transport.
Solution: sets UCT/IB/UD EP timeout to 3 seconds after initialization and preparations this timeout is reset to the default value (5 minutes) after peer failure tested.

[2019-06-19 17:47] #3364 closed

[2019-06-19 17:50] shamisp commented on #3704
The test is passing with MOFED ```MLNX_OFED_LINUX-4.6-1.0.1.1```

[2019-06-19 17:50] shamisp commented on #3704
@yosefe probably we should make it as a requirement somewhere

[2019-06-19 17:50] #3704 closed

[2019-06-20 01:05] yuq commented on #3722
It's expected, because we haven't implemented ROCM memory alloc in the test yet. In order to run rocm tests, we need to implement it first.

[2019-06-20 07:17] #3701 closed

[2019-06-20 07:18] yosefe commented on #3686
@zerothi FYI, ucx [v1.6.0-rc3](https://github.com/openucx/ucx/releases/tag/v1.6.0-rc3) contains a fix for this issue. any chance you can give it a try?

[2019-06-20 07:20] zerothi commented on #3686
I am running installation! Will return! ;) Thanks

[2019-06-20 07:47] zerothi commented on #3686
Now I get:
[code]

I guess this means it can be closed!

[2019-06-20 08:03] #3686 closed

[2019-06-20 08:06] yosefe commented on #3704
it already is
https://github.com/openucx/ucx/blob/master/NEWS#L33

[2019-06-20 12:46] dmitrygladkov opened #3734 "failure in malloc_hook_cplusplus.new_delete under valgrind on hpc-test-node-upstream"
[code]
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/10722/label=hpc-test-node-upstream,worker=0/console

[2019-06-20 13:55] yosefe commented on #3730
happens because the cluster is not really "unified"; it has different PCIe atomics setting
added #3736

[2019-06-20 15:19] yosefe opened #3737 "segfault in java benchmark"
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/label=hpc-test-node3,worker=0/10729/console
[code]

[2019-06-20 17:29] Akshay-Venkatesh opened #3739 "Perftest b/w 2 cuda devices (intra-node) fails: Invalid component for rkey unpack"
Want to report an issue that looks very similar to what @tonycurtis reported in #3731 but for cuda memory. This is on commit 6f576a0.
[code]

[2019-06-20 18:52] Akshay-Venkatesh opened #3740 "Low cuda_ipc UCT performance when number of iterations is small but warmup is high"
Raising this issue because we see that basic cuda-ipc mechanism reaches near peak b/w with a single iteration (`-n 1`) when size of transfer is close to 1MB as it would with 1000 iterations (`-n 1000`):
[code]

When the number of iterations is high with `ucx_perftest`, reasonably high b/w (~20GB/s) is reached without warmup.

`-n 1000 -w 0`
[code]

This is not the case when the number of iteration

[2019-06-20 21:00] Akshay-Venkatesh commented on #3740
This change resolves the issue in perftest at least:
[code]

[code]

[2019-06-20 21:11] bureddy commented on #3740
@Akshay-Venkatesh good catch.

[2019-06-21 06:46] dmitrygladkov commented on #3734
[code]
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/10735/label=hpc-test-node-upstream,worker=0/console

[2019-06-21 12:18] tonycurtis opened #3743 "1.5.x: ucx_info -b, ENABLE_MT mismatch"
Seen with 1.5.1 and 1.5.2.  Git version works.

[code]

Install, then

[code]

FWIW `ENABLE_PARAMS_CHECK` is also mismatched.

[2019-06-21 13:01] shamisp commented on #3743
Config logic has been busted for a while now. I think #3715 fixes this. It might be too late for 1.5.x :-/

[2019-06-21 13:04] tonycurtis commented on #3743
Obviously didn't find the right search string to see #3715.

Sort-of-related: anyone interested in a ucx_info man page?

[2019-06-21 13:07] shamisp commented on #3743
@tonycurtis yes - we need man pages for EVERYTHING

[2019-06-21 14:14] tonycurtis commented on #3743
I have almost-ready templates for ucx_{info,perftest,read_profile}.1

[2019-06-21 14:18] shamisp commented on #3743
@tonycurtis - got for it.

Besides this, it would be useful to find a way to generate man pages for UCP.H. Doxygen can do it, but whatever it generates is not very pretty. Not sure what is the best way to resolve this.

[2019-06-21 15:33] tonycurtis commented on #3743
Would it be OK to do a PR to get the files in there, and then fix up the text later?  Someone else closer to the code might make a better description.

[2019-06-21 15:40] tonycurtis commented on #3743
Let's give it a go anyway, PR incoming...

[2019-06-21 15:41] shamisp commented on #3743
Yes, go for it.

[2019-06-21 15:44] shamisp opened #3745 "test_uct_ib.non_default_gid_idx failure on ThunderX2"
It fails in the same way with rc_mlx5, rc, ud, ud_mlx5:

[code]

[2019-06-21 15:58] dmitrygladkov commented on #2765
[code]
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/10746/label=hpc-test-node,worker=1/consoleFull

@yosefe should we reopen this isssue?

[2019-06-21 16:31] jakirkham opened #3747 "Drop outdated line referencing NCCL"
When talking with @Akshay-Venkatesh offline, we determined [this line referencing NCCL]( https://github.com/openucx/ucx/blob/35ca8df88d7335bcc899fa40ea094b6ecfc2a23a/config/m4/gdrcopy.m4#L31 ) is leftover. If that's true, it would be good to drop it.

[2019-06-21 16:34] shamisp opened #3748 "ThunderX2 performance with *_mlx5 transports is not right"
[code]

[2019-06-21 16:45] bureddy commented on #3747
it's my bad.
PR: https://github.com/openucx/ucx/pull/3749

[2019-06-21 16:58] jakirkham commented on #3747
Ah that makes more sense. Thanks @bureddy! 😄

[2019-06-21 17:23] shamisp commented on #3748
@yosefe pre-fetching your follow up question. I did try to revert recent barrier code and it does not change anything. There is something else is going on.

[2019-06-21 17:35] shamisp commented on #3748
@yosefe running with ``` UCX_RC_MLX5_MMIO_MODE=bf_post``` does not change anything

[2019-06-21 17:38] shamisp commented on #3748
and running with ```UCX_RC_MLX5_MMIO_MODE=db ``` returns the same result as ```bf_post```

[2019-06-21 18:08] shamisp commented on #3748
[code]

This is cache-line copy to BF. I'm concerned about CMP between first and second store

[2019-06-21 20:09] shamisp commented on #3748
@yosefe I changed the asm to:
[code]
Which does not have any gaps. it didn't help.
I suspect it has to do something with qp initialization.

[2019-06-21 21:05] dmitrygladkov opened #3751 "failure rdmacm/test_md.sockaddr_accessibility/0 on hpc-test-node4"
[code]
http://hpc-master.lab.mtl.com:8080/blue/rest/organizations/jenkins/pipelines/ucx/runs/396/nodes/104/steps/564/log/?start=0

[2019-06-22 10:18] yosefe commented on #3743
i think it's too late for v1.5, but we can still fix for v1.6.x (if relevant)

[2019-06-22 10:35] yosefe commented on #3745
@shamisp @dmitrygladkov is it fixed by #3717?

[2019-06-22 11:10] dmitrygladkov commented on #3745
@yosefe yes, this will be fixed by #3717. I saw the same syndromes w/o the fix on boo31 node

[2019-06-22 11:42] yosefe opened #3752 "timeout in sockaddr/test_uct_sockaddr.many_clients_to_one_server/1 with valgrind"
looks similar to #2780
on vulcan-jenkins
[code]

[2019-06-22 16:37] yosefe opened #3756 "malloc_hook_cplusplus.remap_override_multi_thread fails on arm"
may be related to recent changes in testing for mmap event support by @yosefe and @hoopoepg
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/10760/label=hpc-arm-cavium-jenkins,worker=2/consoleFull
[code]

[2019-06-22 19:12] dmitrygx opened #3758 "mpi_test_suite -t get_fence -d MPI_TYPE_MIX,MPI_TYPE_MIX_ARRAY with tcp on nodes=16,ppn=28"
[code]

hangs on 16 nodes with ppn=28 on master and 1.6.x (other wasn't checked)

1.6.x reports:
[code]

Separately those tests work fine

[2019-06-23 07:19] #3734 closed

[2019-06-23 07:52] yosefe commented on #3522
Fixed by #3754

[2019-06-23 07:52] #3522 closed

[2019-06-23 07:53] yosefe commented on #2765
Fixed by #3754

[2019-06-23 07:53] #2765 closed

[2019-06-23 09:15] hoopoepg commented on #3756
test sets event handler in multithread mode which may cause data corruprion

[2019-06-23 09:31] yosefe commented on #3751
test passes after fixing fabric issues on the test node
[code]

[2019-06-23 09:31] #3751 closed

[2019-06-23 10:39] amaslenn opened #3759 "[build] failed to build on ppc"
Reproduced on ppc (`r-vmb-ppc-jenkins`), x86 is OK.

Cmd:
`./autogen.sh && ./contrib/configure-prof --prefix=$PWD/__install --without-java --with-knem --without-xpmem --without-java --enable-devel-headers --with-cuda=/hpc/local/oss/cuda10.1 --with-gdrcopy && make -j9`

[code]

[2019-06-23 10:46] yosefe commented on #3759
@dmitrygladkov , is it fixed by #3753?

[2019-06-23 12:47] dmitrygladkov commented on #3759
@yosefe yes, #3753 fixes the issue
@amaslenn we added regression for this in #3753 PR, it passed. So, we can close this issue

[2019-06-23 12:47] #3759 closed

[2019-06-23 13:16] yosefe commented on #3758
@dmitrygladkov does it fail only with TCP or also with IB?

[2019-06-23 14:12] dmitrygladkov commented on #3758
It works fine with IB transports
Only UCX_TLS=tcp fails

[2019-06-23 14:39] tonycurtis commented on #3731
Working again for me.  thnx.

[2019-06-24 07:33] yosefe opened #3765 "failure in test_event_set.ucs_event_set_read_thread"
(without valgrind)
http://hpc-master.lab.mtl.com:8080/job/hpc-ucx-pr/10774/label=vulcan-jenkins,worker=1/consoleFull
[code]

[2019-06-24 07:33] yosefe commented on #3765
@hiroyuki-sato

[2019-06-24 07:55] yosefe commented on #3748
@shamisp according to the numbers, seems like BlueFlame is not kicking in. Potentially it may be related to how we do the BF copy in UCX
I could not reproduce it on my ThunderX2 system (which may be different than yours), i actually get better results with rc_mlx5 (which are slightly better than what you've reported above)
let's chat about this offline